<template>
  <ui-demo title="Google Maps" :snippets="snippets"></ui-demo>
</template>

<script>
import UiDemo from '@/components/demo/UIDemo'

import Visited from '!!raw-loader!./_examples/google-maps/simple/visited.vue'

export default {
  components: {
    UiDemo
  },
  data: () => ({
    snippets: [
     
      {
        title: 'Visited',
        snippet: Visited
      },
    
    ]
  })
}
</script>
