<template>
  <div class="my-2">
    <div>
      <v-card>
        <v-card-title>Basic Information</v-card-title>
        <v-card-text>
          <div class="d-flex flex-column flex-sm-row">
            <div>
              <v-img
                :src="user.avatar"
                aspect-ratio="1"
                class="blue-grey lighten-4 rounded elevation-3"
                max-width="90"
                max-height="300"
              ></v-img>
              <v-btn class="mt-1" style="width: 102px;">Edit Avatar</v-btn>
            </div>
            <div class="flex-grow-1 pt-2 pa-sm-2">
              <v-text-field v-model="user.name" label="Customer Name" placeholder="Customer Name"></v-text-field>
              <v-text-field v-model="user.email" label="Email" hide-details></v-text-field>
            </div>
          </div>
          <v-row>
            <v-col cols="12" md="6">
              <v-text-field value="" label="Phone Number"></v-text-field>
              <v-text-field value="" label="Current Balance"></v-text-field>
              <v-text-field value="" label="Address"></v-text-field>
              <v-text-field value="" :label="$t(`menu.Remarks`)"></v-text-field>
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field value="" label="Mobile Number"></v-text-field>
              <v-text-field value="" label="Contact Person"></v-text-field>
              <v-text-field value="" label="Code/Alias"></v-text-field>
              <div class="input-group ">
  <v-text-field
            value="Geo Location"
            label="Solo"
            solo
            readonly
          ></v-text-field>
    <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          v-bind="attrs"
          v-on="on"
          style="min-height: 48px;"
        >
           <v-icon style="font-size: 40px;color:green">mdi-plus</v-icon>
        </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline" style=" color:rgb(0, 53, 94),border:solid Red">Set Your Location
        <v-spacer></v-spacer>
         <v-btn 
            color="#000" 
           
            fab 
            small 
            dark
            @click="dialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn> 
        </v-card-title>
        <v-card-text>
          <div>
    <gmap-map :center="center" :zoom="7" style="width: 100%; height: 400px">
      <gmap-marker
        v-for="(m, index) in markers"
        :key="index"
        :position="m.position"
        :clickable="true"
        :draggable="true"
        @click="center=m.position"
      ></gmap-marker>
    </gmap-map>
  </div>
  <div>
   <v-form>
           <v-row >
         <v-col cols="5" sm="5" md="5">
             <v-text-field
            v-model="Longitude"
            label="Longitude"
            style="padding-bottom:1px"
          ></v-text-field>
          </v-col>
          <v-col cols="5"   sm="5" md="5">
            <v-text-field
            v-model="Longitude"
            label="Longitude"
            style="padding-bottom:1px"
          ></v-text-field>
          </v-col>
         <v-col cols="2" sm="2" md="2" style=" padding-left: 0px;padding-top: 45px; padding-bottom:1px">
           
          <!-- <div  color="primary" dark class="btn" >Save</div> -->
          <span style="background:#009900; color:#fff;   padding: 10px;">Save</span>
         
          </v-col>
          </v-row>  
          <v-row >
         <v-col cols="5" sm="5"  style="padding-top:1px">
            <v-btn depressed  color="#BF360C" style="color:#fff;">Cancel</v-btn>
          </v-col>
          <v-col cols="5"   sm="5" style="padding-top:1px">
            <v-btn depressed color="#263238" style="color:#fff;">Locate Me</v-btn>
          </v-col>
         <v-col cols="2"    sm="2" style="padding-left: 0px;padding-top: 5px; padding-bottom:1px">
           
          <!-- <div  color="primary" dark class="btn" >Save</div> -->
          <span style="background:#009900; color:#fff;   padding: 10px;">save</span>
         
          </v-col>
          </v-row>
        
          </v-form>
  </div>
        </v-card-text>
        <v-card-actions>
          <!-- <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
          <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn> -->
         
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>

            </v-col>
        
          </v-row>
          <div class="d-flex">
         
            <!-- <v-spacer></v-spacer> -->
            <v-btn color="primary">Save</v-btn>
          </div>
        </v-card-text>
      </v-card>
        <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @ClearOrder="ClearOrder"
   @SaveOrder="SaveOrder"
   @DeleteOrder="DeleteOrder"
   @PrintOrder="PrintOrder"
></fab>
    </div>
  </div>
</template>

<script>
import fab from 'vue-fab'
export default {
  components: {
    fab
  },
  props: {
    user: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      fab:{
           
        tooltip:true,
        bgColor: 'rgb(238, 68, 170)',
        position: 'bottom-right',
        mainicon: 'list',
        iconsize: 'small',
        zindex: '100',
        fabActions: [
          {
            name: 'ClearOrder',
            icon: 'whatsapp',
            tooltip:this.$t(`common.Clear`)
          },
          {
            name: 'SaveOrder',
            icon: 'save',
           tooltip:this.$t(`common.save`)
          },
          {
            name: 'DeleteOrder',
            icon: 'delete',
             tooltip:this.$t(`common.delete`)
          },
          {
            name: 'PrintOrder',
            icon: 'print',
           tooltip:this.$t(`menu.Print`)
          }
        ]
      },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
      center: {
        lat: 41.14961,
        lng: -8.61099
      },
      markers: [{
        position: {
          lat: 41.14961,
          lng: -8.61099
        }
      }, {
        position: {
          lat: 41.14961,
          lng: -7.31099
        }
      }]
    }
  }
}
</script>
