<template>
  <v-card class="my-2">
    <v-card-title>Detail Information</v-card-title>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field value="" label="Fax"></v-text-field>
            <v-text-field value="" label="PinCode"></v-text-field>
            <v-text-field value="" label="Location"></v-text-field>
            <v-combobox
              v-model="select"
              :items="items"
              label="State"
              dense
            ></v-combobox>
            <div class="input-group ">
              <v-text-field value="" label="Opening Balance As on 2016-12-31"></v-text-field>
              <v-btn rounded color="primary" dark style="height: 36px;margin-top: 10px;">
              Bill Wise
              </v-btn>
            </div>
            <v-combobox
              v-model="select"
              :items="items"
              label="Customer Group"
              dense
              clearable
            ></v-combobox>
          </v-col>

          <v-col cols="12" md="6">
           <v-row>
            <div class="input-group ">
              <label>Credit Limit</label>
              <v-text-field value="" label="Days"></v-text-field>
              <v-text-field value="" label="Credit Amount"></v-text-field>
            </div>
            </v-row>
            <v-text-field value="" label="Add Sale Rate%"></v-text-field>
            <v-combobox
              v-model="select"
              :items="items"
              :label="$t(`menu.SalesPerson`)"
              dense
              clearable
            ></v-combobox>
            <v-text-field value="" :label="$t(`menu.Remarks`)"></v-text-field>
            <v-text-field value="" label="GSTIN"></v-text-field>
            <v-combobox
              v-model="select"
              :items="items"
               :label="$t(`menu.BranchCode`)"
              dense
              clearable
            ></v-combobox>
          </v-col>
        </v-row>

        <div class="d-flex">
          <v-btn>Reset</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary">Save</v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat']
  }),
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  methods: {
    save (date) {
      this.$refs.menu.save(date)
    }
  }
}
</script>
