  <template>
    <div class="d-flex  flex-column">
    <v-dialog


  content-class="innerExPan"
        v-model="Loaderdialog"


      >
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
              <img
                src="/images/dash/loading.svg"

              />


        </v-col>

      </v-row>

      </v-dialog>
       <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  >
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px !important;
    padding-bottom: 8px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ;font-size:20px" > Dining Table </h4>
            </v-col>
          </v-row>
      </div>

        <v-card class="my-2">
          <v-card-text style="padding-left:2px;padding-right:2px;padding-bottom: 2px;">
 <v-tabs v-model="tab2" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
        prev-icon="mdi-arrow-left-bold-box-outline"
        show-arrows  style="flex-grow: 0 !important;" class="arrows">
        <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
        <v-tab to="#tabs-DiningTable" id="innerExPannew" style="padding-right:22px;padding-left:22px">Dining Table</v-tab>
        <v-tab to="#TableList" id="innerExPannew" style="padding-right:22px;padding-left:22px">Table List</v-tab>
      </v-tabs>


       <v-tabs-items v-model="tab2" touchless>
         <v-row>
        <v-col cols="12" style="padding-top:14px;padding-bottom:0px;margin-bottom:-16px !important">
      <v-divider></v-divider>
        </v-col>
      </v-row>
         <!-- tabs DiningArea start -->
         <v-tab-item value="tabs-DiningTable">
            <v-row>
                    <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 25px !important;padding-right:22px;padding-left:22px;    margin-bottom: -10px;">
          <v-text-field
         label="Area Name"
          v-model="ProjectName"
          ></v-text-field>
                    </v-col>
                    </v-row>
                       <v-row>
                    <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 25px !important;padding-right:22px;padding-left:22px;    margin-bottom: -10px;">
           <v-text-field
         label="Table No"
          v-model="ProjectName"
          ></v-text-field>
                    </v-col>
                    </v-row>
                     <v-row>
                    <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 25px !important;padding-right:22px;padding-left:22px;    margin-bottom: -10px;">
          <v-text-field
         label="No of Seates"
          v-model="ProjectName"
          ></v-text-field>
                    </v-col>
                    </v-row>
                  
         </v-tab-item>
          <!-- tabs DiningArea ends -->

          <!-- tabs Arealist start -->
          <v-tab-item value="TableList" class="newpanal">
             <v-row>
        <v-col cols="12" style="padding-top:14px;padding-bottom:10px;">
      <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:7px; padding-bottom: 0px;
    margin-bottom: -20px;
    margin-top: -11px;padding-right:20px; padding-left: 20px; " >
        <v-autocomplete
            dense
             :label="$t('dashboard.Searchhere')"
      
              solo
              rounded
              append-icon="mdi-magnify"
          ></v-autocomplete>

          </v-col>
            </v-row>
            <v-divider></v-divider>
      
     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="7" sm="7"  class="slno">
       Area Name
      </v-col>
          <v-col cols="2" sm="2" class="slno">
        Table No
      </v-col>
       <v-col cols="3" sm="3" class="slno">
       NoOfSeats
      </v-col>

    </v-row>
    <v-row no-gutters style="padding: 0px; max-height:325px; overflow:scroll;overflow-x: hidden;"  >
    <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in 5"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon=""  style="max-height:18px !important;font-size:13px!important">

       <v-row>
       <v-col cols="7" sm="7"  class="slnop" style=" " >

   <b >Delivery</b>
      </v-col>
       <v-col cols="3" sm="3"  class="slnop" style=" " >

   <b >D1</b>
      </v-col>
       <v-col cols="1" sm="1"  class="slnop" style=" " >

   <b >5</b>
      </v-col>

       <v-col cols="1" sm="1" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="updateb"
    
        color="#2E7D32"

      >
        mdi-pencil
      </v-icon>
   
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>

      </v-row>
          </v-tab-item>
          <!-- tabs Arealist ends -->

       </v-tabs-items>

          </v-card-text>
        </v-card>

      <fab
    :fixed-tooltip="fab.tooltip"
    :position="fab.position"
    :bg-color="fab.bgColor"
    :padding="fab.padding"
    :z-index="fab.zindex"
    :actions="fab.fabActions"
    :main-icon="fab.mainicon"
    :icon-size="fab.iconsize"
    @CallUser ="CallUser"
    @ClearProject="ClearProject"
    @SaveProject="SaveProject"
    @DeleteProject="DeleteProject"

  ></fab>




        <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        absolute
        rounded="pill"
        color="rgb(0, 53, 94)"
        font-size="20px"
        style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>




          <v-dialog v-model="DeleteConfirmation_Project" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Project = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteProject">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_Material" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Material = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteMaterial">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="MaterialAddModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">ItemDetails</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">Use Of Material</h5>
    <v-card-text >
       <v-form >
          <div style="max-height:70vh;overflow-x: hidden;;width:100% ">
                 <v-row>
 <v-col cols="12" sm="12" md="12"  style="padding-top:10px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
    <v-combobox
            v-model="ItemName"
            :items="ItemsOptions"

            label="Material Name"
            ref = "ItemCode"
             :type="ItemCodeinputType"
             @change="LoadUnits($event,true)"
          ></v-combobox>
  </v-col>

            </v-row>
                       <v-row>

  <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
         <v-text-field label="Quantity" v-model="Quantity" @change="SetAmount"></v-text-field>
   </v-col>
    <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
    <v-combobox
            v-model="Unit"
            :items="ItemUnitsOptions"

            label="Unit"
            ref = "Unit"
             :type="ItemCodeinputType"
             @change="SetPricebyUnit($event)"
          ></v-combobox>
  </v-col>
            </v-row>
                     <v-row>
                       <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
    <v-combobox
            v-model="Godown"
            :items="GodownsOptions"

            label="Godown"
            ref = "ItemCode"
             :type="ItemCodeinputType"
          ></v-combobox>
  </v-col>

  <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
         <v-text-field label="Unit Cost" v-model="UnitCost" @change="SetAmount"></v-text-field>
   </v-col>

            </v-row>
                 <v-row>
                       <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
  <v-text-field label="Amount" v-model="Amount" @change="SetRateByAmount"></v-text-field>
  </v-col>

  <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
         <v-text-field label="Bill No" v-model="BillNo"></v-text-field>
   </v-col>

            </v-row>
             <v-row>
                       <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right:14px;padding-left:14px">
  <v-menu
              ref="menu2"
              v-model="menu2"
              :close-on-content-click="false"
              transition="scale-transition"
              :return-value.sync="BillDate"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="BillDate"
                 label="Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker  v-model="BillDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu2 = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="SetBillDate(BillDate)">{{$t(`dashboard.ok`)}}</v-btn>


        </v-date-picker>

            </v-menu>
  </v-col>



            </v-row>
 </div >
        <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="MaterialAddModal = false">
            <v-icon center style="font-size: 21px;padding-bottom: 5px;">mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
   " v-if="!IsMaterialUpdate" @click="AddMaterial"><v-icon center style=" Font-size:25px !important;" > mdi-plus</v-icon></v-btn>
           <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" v-if="IsMaterialUpdate" @click="UpdateMaterial"><v-icon center style="Font-size:24px !important;" >mdi-update</v-icon></v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>

     <v-dialog v-model="DeleteConfirmation_MaterialIssue" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete?</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top: 20px;padding-bottom: 20px;">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_MaterialIssue = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top: 20px;padding-bottom: 20px;">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteMaterialIssue">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


    </div>
  </template>

  <script>

  import Vue from 'vue'
  import 'vue-select/dist/vue-select.css';
  import fab from 'vue-fab'
  import axios from 'axios';
  import de from '../../../translations/de';
  import vueSignature from "vue-signature"
  import TrendPercentVue from '../../../components/common/TrendPercent.vue';
  //import Assets from '../../Vouchers/Assets.vue'
  import draggable from 'vuedraggable'
  export default {
    components: {
      draggable,fab,vueSignature//,Assets
    },
    data() {
      return {
      
         dragging: false,
        enabled: true,
        show: false,
showb:false,
showy:false,
showr:false,
dragging: false,
       singleSelect: false,
        selected: [],
        headers: [
          {
             singleSelect: false,
            text: 'Menu Items',
            align: 'last',
            sortable: false,
            value: 'name',
          },
          { text: 'Create/Insert', value: 'calories' },
          { text: 'View', value: 'fat' },
          { text: 'Update', value: 'carbs' },
          { text: 'Delete', value: 'protein' },

        ],
        desserts: [
          {
            name: 'Frozen Yogurt',
         selected: [],
         selected: [],
         selected: [],
        selected: [],

          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3
          },

        ],
        fruits: [
        'Apples',
        'Apricots',
        'Avocado',
        'Bananas',
        'Blueberries',

      ],
      selectedFruits: [],
      fruits1: [
        'Apples',
        'Apricots',
        'Avocado',
        'Bananas',
        'Blueberries',

      ],
      selectedFruits1: [],
          item:
              {
                  p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                  barcode:''

              },
        barcodescannarmodal :false,
        ScheduleModal:false,
        Changeweeknumbermodal:false,
        editschedulemodal:false,
          signature1 : false,
          BarcodeModal:false,
        ex4: [ 'primary'],
        bURL:'',
        bURLPrint:'',
        dialog: false,
        modal:false,
        MaterialAddModal:false,
          AssetModal: false,
          VerifyModal: false,
        RouteDeleteModal:false,
          singleSelect: false,
          StartDate :new Date().toISOString().substr(0, 10),
          CompletionDate :new Date().toISOString().substr(0, 10),
          BillDate:new Date().toISOString().substr(0, 10),
          selected: [],
        sheet: false,
        ProjectProject: {
        },
        tab: null,
        tab1:null,
        tab2:null,
        breadcrumbs: [
          {
            text: 'vms',
            to: '/vms/list',
            exact: true
          },
          {
            text: 'Edit vm'
          },
        ],
          fab:{

        tooltip:true,
        bgColor: 'rgb(0 53 94)',
        position: 'bottom-right',
        mainicon: 'list',
        zindex: '100',
        iconsize: 'small',
        fabActions: [


        {
          name: 'ClearProject',
          icon: 'cached',
          tooltip:this.$t(`common.Clear`)
        },

        {
          name: 'DeleteProject',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
            {
            name: 'SaveProject',
            icon: 'save',
          tooltip:this.$t(`common.save`)
          },

        ]
      },
        panel: [1],
        deleteDialog: false,
        disableDialog: false,
        dialog: false,
        infoWindowPos: null,
        infoWinOpen: false,
        currentMidx: null,

        infoOptions: {
            content: '',
            zoom:25,
          //optional: offset infowindow so it visually sits nicely on top of our marker
          pixelOffset: {
            width: 0,
            height: 15
          }
        },
        center: {
          lat: 0,
          lng: 0
        },
        markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: '<strong>Marker 1</strong>'
        }
        ],
        date: '1990-10-09',
      menu: false,
      menu1: false,
      gender: 'male',
      imageSrc: '/images/avatars/avatar1.svg',
      ImageModal : false,
      MappingModal:false,
      Username : window.localStorage.getItem('UserName'),
      DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
      userType :  window.localStorage.getItem('UserType'),
      Token : window.localStorage.getItem('Token'),
      SnackbarMessege : '',
      snackbar : false,
      timeout : 2000,
      showPassword: false,
      isCreatePermission : false,
      isReadPermission : false,
      isDeletePermission : false,
      isUpdatePermission :false,
      BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
      IsDisableBranch:false,
      UserTypeOptions : [],
      IsMultiBarnch : false,
      ItemObject : JSON.parse( localStorage.getItem('Items') ),
      GodownsOptions : JSON.parse( localStorage.getItem('LinkedGodowns') ),

      Settings : JSON.parse( localStorage.getItem('Settings') ),
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
      DeleteConfirmation_Project : false,
       DeleteConfirmation_Material : false,
      DeleteRouteLinkId:false,
      IsCustomerWiseDeleteion: false,
      BillwiseDeleteId : -1,
      selectedCustomer:[],
      Loaderdialog:false,
      Photo:"",
      ProjectId : localStorage.getItem('ProjectId'),
      IsActive :true,
      BarcodeOptions : [],
      ItemsOptions : [],
      ItemCodeOptions : [],
      ItemUnitsOptions :[],
      ProjectStatus : '',
      PaymentsByProject:[],
      ReceiptsByProject:[],
      JournalsByProject:[],
      PurchasesByProject:[],
      MaterialsByProject:[],
      TotalPayment:0,
      TotalReceipt:0,
      TotalExpense:0,
      TotalPurchase:0,
      TotalMaterial:0,
      ItemName : '',
      Quantity : '',
      Unit : '',
      Godown: '',
      UnitCost : '',
      Amount : '',
      BillNo : '',
      IsMaterialUpdate:false,
      EditId:-1,
      DeleteId:-1,
      IssueNoToDelete:-1,
      DeleteConfirmation_MaterialIssue:false,
      ProjectDuration:''
          }
    },
    computed: {


    },
    mounted()
    {
      this.PreviousPage = localStorage.getItem('PreviousRoute')
      if(this.PreviousPage !== 'UserProfile' && this.PreviousPage !== 'UserRegister')
      {
            history.pushState(null, null, location.href);
  window.onpopstate = function () {
      history.go(1);
  };
      }
      else
      {
        history.pushState(null, null, location.href);
  window.onpopstate = function () {
      location.href = location.origin + '/dashboard/registers/UserRegister'
  };
      }
      if(this.Token === "" || this.Token === null || this.Token === undefined)
      {
        localStorage.setItem('IsReload',true)
        this.$router.push('/auth/signin')
      }
      localStorage.setItem('ActivePage','project')
    localStorage.removeItem('VoucherUpdated')
      this.BasicSettings()
      this.SetPermission()
      this.checkUrl();
      this.SearchDropdowsBinding()


    },
    methods:
    {
MaterialAddModalnew(){
  if(this.ProjectName !== "" && this.ProjectName !== null && this.ProjectName !=undefined)
  {
    localStorage.setItem('ProjectName',this.ProjectName)
  }
      this.PreviousRoute = localStorage.getItem('PreviousRoute')
      localStorage.setItem('ActiveRoute',this.PreviousRoute)
      localStorage.setItem('PreviousRoute','/dashboard/Vouchers/ProjectMaterial')
        localStorage.removeItem('MaterialId')
        localStorage.removeItem('IsHoldingMaterialIssue')
        localStorage.removeItem('MaterialIssueObject')
        localStorage.removeItem('MaterialIssueDetails')
      this.$router.push('/dashboard/Vouchers/ProjectMaterial')
},
     OpenCustomertoRouteSector(){
this.$router.push('/dashboard/masters/CustomerRouteSector')
    },
      toggleCustomer () {
        this.$nextTick(() => {
          if (this.likesAllCustomer) {
            this.selectedCustomer = []
          } else {
            this.selectedCustomer = this.CustomerOptions.slice()
          }
        })
      },

          saveDigital(){

        var _this = this;

        var svg = _this.$refs.signature.save('image/svg+xml');

        // console.log(svg)
        //  localStorage.setItem('salessign',svg)
        if(this.signtype == 1)
        {
          this.salessign = svg
          /* localStorage.setItem('salessign',svg)
          localStorage.setItem('salename',this.nameval)
          this.salename = this.nameval */

        }

        this.signature1=false;

      },
      clearDigital(){
        var _this = this;
        this.salessign = ""
        _this.$refs.signature.clear();
      },
      open(a) {
        if(a==1){
        this.Title = 'Signature'
        }

        this.signtype = a
      this.signature1=true;
      },
      close() {
      this.signature1=false;
      },
      openBarcode()
        {

          this.BarcodeModal = true
          this.barcodescannarmodal = true
        },
        onDecode (result) {
      console.log(result)
      this.item.barcode = result
      this.BarcodeModal = false
          this.barcodescannarmodal = false
    },
      goToAssets(){
    this.$router.push('/dashboard/assets');
        },
      checkUrl()
      {
        if(localStorage.getItem("CompanyURL")!== null)
      {

            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            this.bURLPrint = localStorage.getItem("CompanyURL");
            //  this.logo = localStorage.getItem("Companylogo");

      }else
      {
        // this.openSettings()
      }
      },
      someAction (e) {
    e.stopPropagation()
    console.log('in some action')
  },

      SetCompletionDate (date1) {
        this.$refs.menu1.save(date1)
        this.SetProjectDuration()
      },
      SetStartDate(date) {
        this.$refs.menu.save(date)
        this.SetProjectDuration()
      },
      SetBillDate(date)
      {
        this.$refs.menu2.save(date)
      },
      uploadImage: function() {
        this.ImageModal=false
        var file = document
          .querySelector('input[type=file]')
          .files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          this.ImageModal = false
          this.UserImage1 = e.target.result;
          this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
          this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
          this.Photo = this.UserImage1
          localStorage.setItem('TempImage',this.Photo);
          this.ImageModal = false
          document.getElementById("UserImage1").src = e.target.result;

        };
        reader.onerror = function(error) {
          alert(error);
        };
        reader.readAsDataURL(file);

      },
      toggleInfoWindow: function(marker, idx) {
        this.infoWindowPos = marker.position
        this.infoOptions.content = marker.infoText
  console.log(marker.position.lat+" "+marker.position.lng)
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx === idx) {
          this.infoWinOpen = !this.infoWinOpen

        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true
          this.currentMidx = idx

        }
      },

      BasicSettings()
      {

        this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }

        this.BarnchLength = this.BranchCodeOptions.length
        if (this.BarnchLength > 1)
          this.IsMultiBarnch = TrendPercentVue
        if(this.AppName === "EAI")
          {
          this.IsEAIApp = true
          }
        else if(this.AppName === "EAG")
        {
          this.IsEAGApp = true
        }

      },
      SetPermission()
      {
        this.userType = window.localStorage.getItem('UserType');
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmProject')
          .then((response)  =>  {
            this.isCreatePermission = response.data[0]
            this.isReadPermission = response.data[1]
            this.isUpdatePermission = response.data[2]
            this.isDeletePermission = response.data[3]
            if(this.ProjectId !== null)
            {
              this.GetProject();
            }


          }, (error)  =>  {
            console.log(error)
          })
      },
      GetProject()
      {
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'Project/GetProjects?ProjectID=' + this.ProjectId)
          .then((response)  =>  {
            this.AssignObject(response.data)
          }, (error)  =>  {
            console.log(error)
          })
      },
      AssignObject(obj)
      {
        this.IsActive = 'test'
        this.ProjectStatus = obj.ProjectStatus
        this.ProjectName = obj.ProjectName
        this.OwnerName = obj.OwnerName
        this.Address = obj.Address
        this.ContactNo = obj.ContactNo
        this.ProjectAmount = obj.ProjectAmount
        this.OpenReceipts = obj.OpenReceipts
        this.OpenExpenses = obj.OpenExpenses
        this.StartDate = this.FormatDate(obj.StartDate)
        this.CompletionDate = this.FormatDate(obj.CompletionDate)
        this.SetProjectDuration()
        this.ProjectHead = obj.ProjectHead
        this.ProjectDescription = obj.ProjectDescription
        this.MaterialsByProject = obj.ProjectMaterials
        this.FindMaterialTotal()
        this.LoadPaymentsByProject(obj.ProjectName)
        this.LoadReceiptsByProject(obj.ProjectName)
        this.LoadJournalsByProject(obj.ProjectName)
        this.LoadPurchasesByProject(obj.ProjectName)
       
            

        
      },
    SetProjectDuration()
    {
       var dateFirst = new Date(this.StartDate);
         var dateSecond = new Date(this.CompletionDate);

         // time difference
         var timeDiff = Math.abs(dateSecond.getTime() - dateFirst.getTime());

         // days difference
         var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

        // Month difference
         var MonthDiff = diffDays/30
         // difference
         console.log(MonthDiff)
        
          if(MonthDiff > 1)
          {
             if(dateSecond < dateFirst )
             {
               MonthDiff = -1 * MonthDiff
             }
             this.ProjectDuration = parseInt(MonthDiff)  + "   Month"
          }
          else {
             if(dateSecond < dateFirst )
             {
               MonthDiff = -1 * MonthDiff
             }
            this.ProjectDuration = parseInt(diffDays)  + "   Days"
          }
    },
    FindMaterialTotal()
    {
      this.TotalMaterial = 0
      for (this.i = 0; this.i < this.MaterialsByProject.length; this.i ++)
      {
        this.TotalMaterial += this.MaterialsByProject[this.i].Amount
      }
      this.TotalMaterial = this.TotalMaterial.toFixed(this.DecimalPlaces)
      this.TotalItems = this.MaterialsByProject.length
    },
      FormatewithDecimalPlaces(value)
      {
        return parseFloat(value).toFixed(this.DecimalPlaces)
      },

      CreateObject()
      {
        this.ProjectProject.ProjectId = this.ProjectId?parseFloat(this.ProjectId):-1
        this.ProjectProject.ProjectName = this.ProjectName
        this.ProjectProject.OwnerName = this.OwnerName?this.OwnerName:''
        this.ProjectProject.Address = this.Address?this.Address:''
        this.ProjectProject.ContactNo = this.ContactNo?this.ContactNo:''
        this.ProjectProject.ProjectAmount = this.ProjectAmount?parseFloat(this.ProjectAmount):''
        this.ProjectProject.OpenReceipts =  this.OpenReceipts? parseFloat(this.OpenReceipts) :''
        this.ProjectProject.OpenExpenses = this.OpenExpenses?parseFloat(this.OpenExpenses):''
        this.ProjectProject.StartDate = this.StartDate?this.StartDate:''
        this.ProjectProject.CompletionDate = this.CompletionDate?this.CompletionDate:''
        this.ProjectProject.ProjectDuration = this.ProjectDuration?this.ProjectDuration:''
        this.ProjectProject.ProjectHead = this.ProjectHead?this.ProjectHead:''
        this.ProjectProject.ProjectStatus = this.ProjectStatus?this.ProjectStatus:''
        this.ProjectProject.ProjectDescription = this.ProjectDescription?this.ProjectDescription:''
      },
      SaveProject()
      {
        this.CreateObject()
        if(this.ProjectProject.ProjectName === "" )
        {
          this.SnackbarMessege = "Please enter Project name"
          this.snackbar = true
          return
        }
        if(this.ProjectProject.ProjectAmount === "" )
        {
          this.SnackbarMessege = "Please enter Project amount"
          this.snackbar = true
          return
        }
        if(this.ProjectProject.OpenReceipts === "" )
        {
          this.SnackbarMessege = "Please enter Project Opening receipt"
          this.snackbar = true
          return
        }
        if(this.ProjectProject.OpenExpenses === "")
        {
          this.SnackbarMessege = "Please enter Opening expenses "
          this.snackbar = true
          return
        }
         if(this.ProjectProject.ProjectStatus === "")
        {
          this.SnackbarMessege = "Please select Project status "
          this.snackbar = true
          return
        }
        else if(this.ProjectId === null)
        {
          if(this.isCreatePermission === true)
          {
            this.Loaderdialog = true
            localStorage.setItem('UserPut',JSON.stringify(this.ProjectProject))
            axios.post ( this.bURL + 'Project/InsertProjects',this.ProjectProject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true

                this.Loaderdialog = false
                this.ClearProject()
              }, (error)  =>  {
                console.log(error)
            })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
        else{
          if (this.isUpdatePermission === true)
          {
            localStorage.setItem('UserPut',JSON.stringify(this.ProjectProject))
              axios.put ( this.bURL + 'Project/UpdateProjects',this.ProjectProject)
                .then((response)  =>  {
                  this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                  this.snackbar = true
                   this.ClearProject()
                }, (error)  =>  {
                  console.log(error)
              })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
      },
      DeleteProject()
      {
        if (this.ProjectId !== null)
        {
          if (this.isDeletePermission === true)
          {
            this.DeleteConfirmation_Project = true

          }
          else
          {
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

        }
        else
        {
          this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
          this.snackbar = true

        }

      },
      ExecuteDeleteProject()
      {
        axios.delete( this.bURL + 'Project/DeleteProjects?ProjectID=' + this.ProjectId)
          .then((response)  =>  {
            this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
            this.snackbar = true
            this.DeleteConfirmation_Project = false
            this.ClearProject()
          },(error)  =>  {
            this.Loaderdialog = false
            if(error.response === undefined)
            {
              this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
            }
            else if(error.response.data !=="")
            {
              this.SnackbarMessege = error.response.data
            }
            else{
              this.SnackbarMessege =this.$t(`menu.failed`)
            }
            this.snackbar = true
          })
      },
      ClearProject()
      {
        this.IsActive = false
        this.ProjectId = null
        this.ProjectStatus = ""
        this.ProjectName = ""
        this.OwnerName = ""
        this.Address = ""
        this.ContactNo = ""
        this.ProjectAmount = 0
        this.OpenReceipts = 0
        this.OpenExpenses = 0
        this.StartDate = ""
        this.CompletionDate = ""
        this.ProjectDuration = ""
        this.ProjectHead = ""
        this.ProjectDescription = ""
        this.TotalPayment = 0
        this.TotalReceipt = 0
        this.TotalExpense = 0
        this.TotalPurchase = 0
        this.TotalMaterial = 0
        this.PaymentsByProject =  []
        this.ReceiptsByProject =  []
        this.JournalsByProject =  []
        this.PurchasesByProject = []
        this.MaterialsByProject = []
        localStorage.removeItem('ProjectId')
      },

      FormatDate(Value)
      {
        if(Value !== undefined)
        {
            Value =  Value.split('T')[0]
        }
        else{
          Value = ""
        }


        return Value

      },


      LoadPaymentsByProject(projectName)
      {
         axios.get ( this.bURL + 'Project/LoadPaymentsByProject?ProjectName='+projectName)
                .then((response)  =>  {
                  this.PaymentsByProject = response.data
                  this.TotalPayment = 0
                  for(this.i = 0;this.i<this.PaymentsByProject.length;this.i++)
                  {
                    this.TotalPayment += this.PaymentsByProject[this.i].TotalAmount
                  }
                }, (error)  =>  {
                  console.log(error)
              })
      },
       LoadReceiptsByProject(projectName)
      {
         axios.get ( this.bURL + 'Project/LoadReceiptsByProject?ProjectName='+projectName)
                .then((response)  =>  {
                  this.ReceiptsByProject = response.data
                  this.TotalReceipt = 0
                  for(this.i = 0;this.i<this.ReceiptsByProject.length;this.i++)
                  {
                    this.TotalReceipt += this.ReceiptsByProject[this.i].TotalAmount
                  }
                }, (error)  =>  {
                  console.log(error)
              })
      },

      LoadJournalsByProject(projectName)
      {
         axios.get ( this.bURL + 'Project/LoadJournalsByProject?ProjectName='+projectName)
                .then((response)  =>  {
                  this.JournalsByProject = response.data
                  this.TotalExpense = 0
                  for(this.i = 0;this.i<this.JournalsByProject.length;this.i++)
                  {
                    this.TotalExpense += this.JournalsByProject[this.i].TotalAmount
                  }
                }, (error)  =>  {
                  console.log(error)
              })
      },

       LoadPurchasesByProject(projectName)
      {
         axios.get ( this.bURL + 'Project/LoadPurchasesByProject?ProjectName='+projectName)
                .then((response)  =>  {
                  this.PurchasesByProject = response.data
                  this.TotalPurchase = 0
                  for(this.i = 0;this.i<this.PurchasesByProject.length;this.i++)
                  {
                    this.TotalPurchase += this.PurchasesByProject[this.i].Amount
                  }
                }, (error)  =>  {
                  console.log(error)
              })
      },

       LoadPurchasesByProject(projectName)
      {
         axios.get ( this.bURL + 'Project/GetProjectMaterialIssueSummary?ProjectName='+projectName)
                .then((response)  =>  {
                  this.PurchasesByProject = response.data
                  this.TotalPurchase = 0
                  for(this.i = 0;this.i<this.PurchasesByProject.length;this.i++)
                  {
                    this.TotalPurchase += this.PurchasesByProject[this.i].Amount
                  }
                }, (error)  =>  {
                  console.log(error)
              })
      },
      OpenReceipt(item)
      {
          localStorage.setItem('ReceiptNo',item.ReceiptNo)
          this.$router.push('/dashboard/Vouchers/reciept')
      },
       OpenPayment(item)
      {
          localStorage.setItem('PaymentNo',item.PaymentNo)
          this.$router.push('/dashboard/Vouchers/payment')
      },
      OpenPurchase()
      {
        localStorage.setItem('PurchaseNo',item.PurchaseNo)
          this.$router.push('/dashboard/Vouchers/purchase')
      },
      OpenMaterialIssue(item)
      {
        localStorage.setItem('MaterialId',item.ID)
          this.$router.push('/dashboard/Vouchers/ProjectMaterial')
      },
    DeleteMaterialIssue(item)
    {
            if (this.isUpdatePermission === true)
             {
               this.IssueNoToDelete = item.ID
              this.DeleteConfirmation_MaterialIssue = true
            }
            else
            {
               this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }

    },
    ExecuteDeleteMaterialIssue()
    {
      axios.delete( this.bURL + 'Project/DeleteProjectMaterialIssue?IssueNo=' + this.IssueNoToDelete)
        .then((response)  =>  {
          this.DeleteConfirmation_MaterialIssue = false
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.GetProject()
        }, (error)  =>  {
          console.log(error)
        })
    },


    }
  }
  </script>
  <style lang="scss" scoped>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #dddddd;
  }
  .col-6{
    padding:0px ;
  }
  .col-md-6{
    padding:0px ;
  }
  .theme--light.v-input {
      padding-top:0px;
  }
  </style>
  <style>
  .fab-main {
      margin-bottom: 50px  !important;
      padding: 21px  !important;
  }
  .theme--light.v-input {

      padding-top: 0px;
  }
  #innerExPan > .v-dialog > .v-card > .v-card__text {
      padding: 0 0px 0px;
  }
  #innerExPan >  .v-card  {
      padding: 0 0px 0px;
  }
  #innerExPan > .v-card__text  {
      padding: 0 0px 0px;
  }

  input[type=date].form-control{
    padding: 0 0px 0px;
    /* padding-left: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px; */

  }
  /* .v-expansion-panel-header{
    background-color:#FFF;
    color: #000 !important;

  } */
  @media only screen and (max-device-width: 380px) {

  .v-tab{
    min-width: 85px;
      max-width: 360px;
      outline: none;
      padding: 0 0px;
  }
  }
  @media only screen and (max-device-width: 320px) {

  .v-tab{
    min-width: 75px;
      max-width: 360px;
      outline: none;
      padding: 0 0px;
  }
  }

  </style>
  <style>
    .newpanal .v-expansion-panel-content__wrap{
      padding-right: 4px !important;
      padding-left:4px !important;

    }
    .arrows .v-slide-group.v-item-group > .v-slide-group__next{
      margin-right: -13px !important;
margin-left: -11px !important;
    }
    .arrows .v-slide-group.v-item-group > .v-slide-group__prev{
margin-left: -13px !important;
margin-right: -11px !important;
    }
    .checkt .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#00ACC1

}
.checkf .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#AD1457

}
.checks .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#546E7A

}

  element.style {
      max-height: 304px;
      min-width: 274px;
      top: 313px;
      left: 43px;
      /* transform-origin: left top; */
      z-index: 8;
  }
  .godowna.v-menu__content.theme--light.menuable__content__active.v-autocomplete__content {
    top: 313px !important;
  }
  .usersa.v-menu__content.theme--light.menuable__content__active.v-autocomplete__content {
    top: 369px !important;
  }
  .check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
      align-items: center;
      display: inline-flex;
      flex: 1 1 auto;
      height: auto;
      font-size: 15px;
      padding-top: 8px;
  }

  .v-application--is-ltr .Customers {
  text-align: left !important;
  padding-left:8px !important;
  }
  .v-application--is-rtl .Customers {
      direction: rtl;
  text-align: right !important;
  padding-right:8px !important;
  }

  .v-application--is-ltr .action {
  text-align: right !important;
  padding-right:8px !important;
  }
  .v-application--is-rtl .action {
      direction: rtl;
  text-align:left !important;
  padding-left:8px !important;
  }

  </style>
