<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center">
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
          <h4
            style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "
          >
            Kitchens
          </h4>
        </v-col>
      </v-row>
    </div>
    <v-card class="my-2">
      <v-row>
        <v-col
          cols="12"
          md="12"
          xl="12"
          style="padding-top:20px;padding-bottom:0px;margin-bottom: -7px;padding-right:0px;padding-right:22px;padding-left:22px "
        >
          <v-autocomplete
            :items="kitchenOptions"
            v-model="kitchenSearch"
            solo
            rounded
            dense
            placeholder="Search By Kitchen Number"
            @change="Getkitchen($event)"
          >
            <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
          </v-autocomplete>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x"
          >
            <v-autocomplete
              dense
              v-model="kitchenObject.BranchCode"
              :items="BranchCodeOptions"
              :label="$t(`menu.BranchCode`)"
              v-if="IsMultiBarnch"
              :disabled="IsDisableBranch"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x"
          >
            <v-text-field
              v-model="KitchenNo"
              type="number"
              label="Kitchen Number"
              placeholder=""
              style="padding-bottom:0px"
              min="0"
              oninput="validity.valid||(value='');"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px; "
          >
            <v-text-field
              value=""
              label="Kitchen Name"
              v-model="KitchenName"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
          >
            <v-autocomplete
              dense
              v-model="KOTprinter"
              :items="PrinterOptions"
              label="KOT Printer"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <fab
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @CallUser="CallUser"
      @Clearkitchens="Clearkitchens"
      @Savekitchen="Savekitchen"
      @Deletekitchen="Deletekitchen"
    ></fab>

    <v-dialog v-model="DeleteConfirmation_User" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_User = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteKitchen"
              >{{ $t(`dashboard.ok`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
    <v-snackbar
      v-model="snackbarwarning"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="#E53935"
      font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="#E53935"
          text
          v-bind="attrs"
          @click="snackbarwarning = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../../translations/de";
import vueSignature from "vue-signature";
import TrendPercentVue from "../../../components/common/TrendPercent.vue";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab,
    vueSignature //,Assets
  },
  data() {
    return {
      IsActive: true,
      item: {
        p_img:
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU",
        barcode: ""
      },
      barcodescannarmodal: false,

      signature1: false,
      BarcodeModal: false,
      ex4: ["primary"],
      bURL: "",
      bURLPrint: "",

      dialog: false,
      AssetModal: false,
      VerifyModal: false,
      RouteDeleteModal: false,
      sheet: false,
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      kitchenObject: {},
      tab: null,
      tab1: null,
      breadcrumbs: [
        {
          text: "vms",
          to: "/vms/list",
          exact: true
        },
        {
          text: "Edit vm"
        }
      ],
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "Deletekitchen",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },
          {
            name: "Clearkitchens",
            icon: "clear",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "Savekitchen",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
      markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: "<strong>Marker 1</strong>"
        }
      ],
      date: "1990-10-09",
      menu: false,
      gender: "male",
      items: ["Kerala", "Assam", "Odisha", "Gujarat"],
      imageSrc: "/images/avatars/avatar1.svg",
      ImageModal: false,
      MappingModal: false,
      Username: window.localStorage.getItem("UserName"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      snackbarwarning: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
       BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
       IsDisableBranch:false,
      
      // BranchCodeOptions:[],
      PrinterOptions: [],
      KOTprinter: "",
      kitchenOptions: [],
      UserTypeOptions: [],
      IsMultiBarnch: false,

      Settings: JSON.parse(localStorage.getItem("Settings")),
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmation_User: false,
      menu: false,

      IsNew: true,
      IsUpdate: false
    };
  },
  computed: {},
  mounted() {
    this.Getprinterlist();
    this.Getkitchens();
    this.PreviousPage = localStorage.getItem("ActivePage");
    this.BackToPage = localStorage.getItem("BackToPage");

    if (this.BackToPage !== null) {
      this.PageUrl = "/dashboard/masters/" + this.BackToPage;
      // alert(this.PageUrl)
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        location.href = bURL + this.PageUrl;
      };
    } else if (this.PreviousPage !== "userManagement") {
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    }

    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    localStorage.setItem("ActivePage", "kitchens");
    localStorage.removeItem("VoucherUpdated");
    this.Getkitchens();
    this.BasicSettings();
    this.SetPermission();
    this.checkUrl();
  },
  methods: {
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },

    BasicSettings() {
      // this.IsSalesPerson = localStorage.getItem('salePerson')
      // if (this.IsSalesPerson !== '')
      //   this.kitchenObject.Salesman = this.IsSalesPerson
        this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.kitchenObject.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.kitchenObject.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.kitchenObject.BranchCode = ''
        }

      // this.SalespersonLength = this.kitchenOptions.length
      // if (this.SalespersonLength > 1)
      // {
      //   this.IsSalesPersonShow = true
      // }

      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;
      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }
    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmSalesperson"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];
          },
          error => {
            console.log(error);
          }
        );
    },
    Getkitchen(user) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "Kitchen/" + user).then(
        response => {
          this.AssignObject(response.data);
        },
        error => {
          console.log(error);
        }
      );
    },
    AssignObject(obj) {
      this.KOTprinter = obj.KOTprinter;
      this.KitchenNo = obj.KitchenNo;
      this.KitchenName = obj.KitchenName;
    },

    CreateObject() {
      this.kitchenObject.KitchenNo = this.KitchenNo ? this.KitchenNo : 0;
      this.kitchenObject.KitchenName = this.KitchenName ? this.KitchenName : "";
      this.kitchenObject.KOTprinter = this.KOTprinter ? this.KOTprinter : "";
    },
    Savekitchen() {
      this.CreateObject();
      if (
        this.kitchenObject.KitchenNo === ""
      ) {
        this.SnackbarMessege =
          "If you dont enter kitchen number,it will be generated automatically";
        this.snackbar = true;
      }
      if (
        this.kitchenObject.KitchenNo === "0"
      ) {
        this.SnackbarMessege =
          "If you  enter kitchen number is zero,it will be generated automatically";
        this.snackbar = true;
      }
      if (

        this.kitchenObject.KitchenName === "" ||
        this.kitchenObject.KOTprinter === ""
      ) {
        this.SnackbarMessege = this.$t(`menu.Pleasefillsufficientdetails`);
        this.snackbar = true;
        return;
      } else if (
        this.kitchenSearch === undefined ||
        this.kitchenSearch === ""
      ) {
        if (this.isCreatePermission === true) {
          this.Loaderdialog = true;
          axios.post(this.bURL + "Kitchen", this.kitchenObject).then(
            response => {
              this.Loaderdialog = false;
              (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                (this.snackbar = true);
              this.Clearkitchens();
              this.Getkitchens();
            },
            error => {
              if (error.response.data === "Already exists") {
                this.SnackbarMessege = "Already have the same kitchen";
                this.snackbarwarning = true;
                this.Loaderdialog = false;
              } else {
                this.SnackbarMessege = "Failed";
                this.snackbarwarning = true;
                this.Loaderdialog = false;
              }
            }
          );
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      } else {
        if (this.isUpdatePermission === true) {
          axios
            .put(
              this.bURL + "Kitchen/" + this.kitchenSearch,
              this.kitchenObject
            )
            .then(
              response => {
                (this.SnackbarMessege = "Update Successfully"),
                  (this.snackbar = true);
                this.Clearkitchens();
                this.Getkitchens();
              },
              error => {
                this.SnackbarMessege = "Already have the same kitchen";
                this.snackbar = true;
              }
            );
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      }
    },
    Deletekitchen() {
      if (
        this.kitchenSearch !== null &&
        this.kitchenSearch !== undefined &&
        this.kitchenSearch !== ""
      ) {
        if (this.isDeletePermission === true) {
          this.DeleteConfirmation_User = true;
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      } else {
        this.SnackbarMessege = "No salesperson to delete";
        this.snackbar = true;
      }
    },
    ExecuteDeleteKitchen() {
      this.Loaderdialog = true;
      axios.delete(this.bURL + "Kitchen/" + this.kitchenSearch).then(
        response => {
          this.Loaderdialog = false;
          (this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`)),
            (this.snackbar = true);

          this.DeleteConfirmation_User = false;
          this.Clearkitchens();
          this.Getkitchens();
        },
        error => {
          this.Loaderdialog = false;
          if (error.response === undefined) {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`);
          } else if (error.response.data !== "") {
            this.SnackbarMessege = error.response.data;
          } else {
            this.SnackbarMessege = this.$t(`menu.failed`);
          }
          this.snackbar = true;
        }
      );
    },
    Clearkitchens() {
      this.kitchenSearch = "";
      this.KitchenNo = "";
      this.KitchenName = "";
      this.KOTprinter = "";
      this.IsNew = true;
      this.IsUpdate = false;
      return;
    },
    Getkitchens() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "/Kitchen/GetKitchenNos").then(
        response => {
          this.kitchenOptions = response.data;
          // for(this.i=0;this.i<this.kitchenOptions.length;this.i++)
          //       {
          //         this.kitchenOptions[this.i] === this.SalespersonName
          //         this.kitchenOptions.splice(this.i,1)
          //          this.kitchenOptions.push(this.kitchenObject.Name)
          //          this.ClearSalesperson()

          //       }

          //  localStorage.setItem('LinkedSalesPersnons',JSON.stringify(this.kitchenOptions))
        },
        error => {
          console.log(error);
        }
      );
    },
    Getprinterlist() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "/common/getprinterlist").then(
        response => {
          this.PrinterOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    FormatDate(Value) {
      if (Value !== undefined) {
        Value = Value.split("T")[0];
      } else {
        Value = "";
      }

      return Value;
    }
  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
  text-align: left !important;
  padding-left: 8px !important;
}
.v-application--is-rtl .salesPersons {
  direction: rtl;
  text-align: right !important;
  padding-right: 8px !important;
}

.v-application--is-ltr .action {
  text-align: right !important;
  padding-right: 8px !important;
}
.v-application--is-rtl .action {
  direction: rtl;
  text-align: left !important;
  padding-left: 8px !important;
}
</style>
