<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >Kitchen Message</h4>
            </v-col>
          </v-row>
      </div>
      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -14px;
    margin-top: -4px; " >

          <v-text-field
          solo
        rounded
        ref="FocusField"

        v-model="kitchenmessagesearch" label="Add Kitchen Message"  style="padding-bottom:0px">
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  v-if="IsNew" @click="SaveKitchenmessage()" >mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)" @click="Update()" v-if="IsUpdate">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding: 3px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header    style="text=align:center !important;min-height: 24px !important;padding-top: 6px;
    padding-bottom: 6px;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;font-size:12px">Kitchen Message</b>
      </v-col>
        </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
     Message Text
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>

       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in resultQuery"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slnop" style=" " >

   <b >{{item.Text}}</b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="updateb"

        color="#2E7D32"
          @click="EditKitchenMessage(item.Id, item.Text)"

      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        color="#E53935"
@click="DeleteKitchenMessage(item.Id)"
      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>


        </v-card-text>
      </v-card>

 <!-- -------------------------------UpdateConfirmationmodal start here --------------->
  <v-dialog v-model="UpdateConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttoupdate`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="UpdateKitchenMessage">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
 <!-- -------------------------------UpdateConfirmationmodal Ends here --------------->
  <!-- -------------------------------CreateWarningModal Start here --------------->
     <v-dialog v-model="CreateWarningModal" persistent max-width="600">

      <v-card>
        <!-- <v-card-title style="font-size: 13px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t('menu.Doyouwanttocreatenewsalesman')}}</v-card-title> -->
              <div class="d-flex align-center">

        <div  style="font-size: 15px;color:rgb(0 99 145);padding-left:18px !important;padding-top:12px"><b>Do you want to create new Kitchen Message</b></div>
        <v-spacer></v-spacer>
        <v-btn icon @click="CreateWarningModal = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
        <!-- <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateKitchenMessage()" >  {{$t('dashboard.Update')}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveKitchenmessage">{{$t(`menu.Create`)}}</v-btn>
        </v-col>
        </v-row> -->
           <v-row no-gutters>
               <v-col cols="12" sm="12" style="padding-top: 12px;
    padding-bottom: 7px;">
                 <v-divider></v-divider>
               </v-col>
           </v-row>
         <v-row no-gutters>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:left;padding-left:18px !important"
               >
                <v-btn
              small

              style="background-color:#0091EA;color:#FFF"
           @click="UpdateKitchenMessage()"
            >
           {{$t('dashboard.Update')}}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:right;padding-right:18px !important"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
             @click="SaveKitchenmessage"
            >
            {{$t(`menu.Create`)}}
            </v-btn>
               </v-col>
               </v-row>
      </v-card>
    </v-dialog>
<!-- -------------------------------CreateWarningModal Ends here --------------->
  <!-- -------------------------------DeleteConfirmationModal Start here --------------->
       <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteKitchenMessage">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  <!-- -------------------------------DeleteConfirmationModal Ends here --------------->

      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios';
import de from '../../../translations/de';
export default {
  components: {
  },
  data() {
    return {

       bURL:'',
       bURLPrint:'',
       dialog: false,
      UserObject: {
      },
    Username : window.localStorage.getItem('UserName'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    UserTypeOptions : [],
    IsMultiBarnch : false,
    KitchenMessagesOptions : [],
    KitchenTextOptions:[],
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmationModal : false,
    MessageId:'',
    kitchenmessagesearch:'',
    OldName:'',
    IsNew : true,
    UpdateConfirmationModal:false,
    IsUpdate : false,
    IsShowCreateWarningModal:false,
    CreateWarningModal:false
    }
  },
  computed: {
     resultQuery() {
      this.KitchenMessageNew = []
    if(this.kitchenmessagesearch !== '')
    {

       this.KitchenMessageNew = this.KitchenMessagesOptions.filter(post => {

        return post.Text.toString().toLowerCase().includes(this.kitchenmessagesearch.toLowerCase());
      })
      if(this.KitchenMessageNew.length > 100)
      {
         this.KitchenMessageNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.KitchenMessageNewReturn.push(this.KitchenMessageNew[this.i])

        }
        return this.KitchenMessageNewReturn
      }
      else{
         return this.KitchenMessageNew
      }
    }
    else{
      if(this.IsUpdate === true)
      {
        this.IsShowCreateWarningModal = true
      }

      if(this.KitchenMessagesOptions.length > 100)
      {

         this.KitchenMessageNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.KitchenMessageNewReturn.push(this.Customers[this.i])


        }
        return this.KitchenMessageNewReturn
      }
      else{

         return this.KitchenMessagesOptions
      }
    }

    },

  },
  mounted()
  {
      this.GetText()
      this.Getkitchenmessages()
     this.PreviousPage = localStorage.getItem('PreviousRoute')
     this.BackToPage = localStorage.getItem('BackToPage')

     if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = bURL + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'userManagement')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','KitchenMessage')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
  },
  methods:
  {
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
    BasicSettings()
    {
      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson !== '')
        this.UserObject.Salesman = this.IsSalesPerson
        
       this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }

      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

      this.UserObject.IsActive = false


      this.KitchenMessagesOptions = this.KitchenMessagesOptions

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      // axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmPurchaseperson')
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmKitchenMessage')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })
    },
    SaveKitchenmessage()
    {

      if(this.kitchenmessagesearch === "" || this.kitchenmessagesearch.indexOf(' ') >= 0  || this.kitchenmessagesearch === undefined )
      {
        this.SnackbarMessege = "Please enter Kitchen Message"
        this.snackbar = true
        return
      }
      if(this.KitchenTextOptions.indexOf(this.kitchenmessagesearch) != -1)
      {
        this.SnackbarMessege = "Kitchen Message already exist"
        this.snackbar = true
        return
      }

        if(this.isCreatePermission === true)
        {
          //alert("permission")
          this.Obj = {"Text" :this.kitchenmessagesearch}
          this.Loaderdialog = true

          axios.post ( this.bURL + 'KitchenMessage',this.Obj)
            .then((response)  =>  {
              this.CreateWarningModal = false
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
              this.snackbar = true
              this.Loaderdialog = false
              this.Clearkitchenmessage()
              this.Getkitchenmessages()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditKitchenMessage(id, name)
    {
        this.kitchenmessagesearch = name
        this.id=id
        this.OldName = name
        this.IsUpdate = true
        this.IsNew = false
         setTimeout(() => {
    this.$refs.FocusField.focus()
  }, 200)
      ;

    },
     Update()
    {
      if(this.IsShowCreateWarningModal === true)
      {
        this.CreateWarningModal = true
      }
      else
      {
        this.UpdateConfirmationModal = true
      }
    },
    UpdateKitchenMessage()
    {
      if(this.kitchenmessagesearch === "" )
      {
        this.SnackbarMessege = "Please Select Kitchen Message"
        this.snackbar = true
        return
      }
        if (this.isUpdatePermission === true)
        {

 this.Obj = {
            "Id" : this.id,
            "Text" : this.kitchenmessagesearch
          }

            axios.put ( this.bURL + 'KitchenMessage', this.Obj)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.Clearkitchenmessage()
                  this.Getkitchenmessages()
                  this.UpdateConfirmationModal = false
                  this.CreateWarningModal = false
              }, (error)  =>  {
                console.log(error)
            })

        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteKitchenMessage(id)
    {

      if (this.kitchenmessagesearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.MessageId = id
          this.DeleteConfirmationModal = true


        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteKitchenMessage()
    {

      axios.delete( this.bURL + 'KitchenMessage/' + this.MessageId)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModal = false
          this.Clearkitchenmessage()
          this.Getkitchenmessages()
        },(error)  =>  {
          this.DeleteConfirmationModal = false
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if( error.response.data === "Failed to delete. Error code:-3")
          {
            this.SnackbarMessege = "Messege in use"
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    Clearkitchenmessage()
    {
      this.kitchenmessagesearch = ""
       this.IsNew = true
       this.IsUpdate = false
       this.OldName = ""
       this.OldKitchenMessage=""
    },
    Getkitchenmessages()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'KitchenMessage')
        .then((response)  =>  {

          this.KitchenMessagesOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
 GetText()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + '/KitchenMessage/GetKitchenMessages')
        .then((response)  =>  {

          this.KitchenTextOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },

  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .salesPersons {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}
.v-application--is-rtl .slnop {
    direction: rtl;
    text-align: right;
    padding-left: 0px !important;
    padding-right: 18px !important;
    padding-bottom: 4px !important;
    padding-top: 5px !important;
}
.v-application--is-ltr .slnop {
    direction: ltr;
    text-align: left;
    padding-left: 1px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.v-application--is-rtl .updateb{
padding-left: 16px !important;
}
.v-application--is-ltr .updateb{
padding-right: 16px !important;
}
</style>
