<template>
    <div>

 <!-- <PermissionSettings/> -->
    </div>
</template>

<script>
//import PermissionSettings from'./PermissionSettings'
export default {
  //components : {PermissionSettings},
  data() {
    return {
    }
  },
  mounted() {
     var client = new ClientJS(); // Create A New Client Object
    
      var fingerprint = client.getFingerprint(); // Calculate Device/Browser Fingerprint
      sessionStorage.setItem('Uid',fingerprint);
      localStorage.setItem('Uid',fingerprint);
      
    this.Token = localStorage.getItem('Token')
    this.Username = localStorage.getItem('user')
    this.IsDeviceRegisterd = localStorage.getItem('IsDeviceRegisterd')
    if (this.Token === "" || this.Token === null || this.Token === undefined || this.Username === null) 
    {
      localStorage.clear()
      localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    if(this.IsDeviceRegisterd === 'false')
    {
      this.$router.push("/dashboard/deviceRegister");
    }
    else{
        this.$router.push('/dashboard/analytics')

    }
  }
}
</script>