<template>
  <div style="height:50vh;    background: #fff;padding:15px;">
    
    <v-row>
      <v-col cols="12" xl="6" style="padding-left:10px;padding-right:10px;    padding-top: 0px;">
           <label class="text-success"><b>Choose Company</b></label>
           <ul style=" list-style:none;padding-left:5px;" v-on:change="seturl()">
      <li v-for="com in data" :key="com.id">

            <input type="radio" v-model="company" name="company" :value="com">
            <img :src="com.logo" class="img-thumbnail" style="    width: 40px;" :alt="com.name">
            {{com.name}}


       </li>
    </ul>
      </v-col>
    </v-row>
     <v-row>
      <v-col class="text-center " cols="12" xl="12" v-show="company">
        <v-btn class="btn btn-success btn-xs" color="primary" @click="save()"> Save</v-btn>
      </v-col>
    </v-row>
  </div>
</template>
<script>

import Vue from 'vue'
import axios from 'axios'
// import companyData from ' @/JSON/Company.json'
export default {
    components: { },
  data() {

    return {
       data:'',
       items:[],
       company:''

    }
  },
  mounted(){
 this.fetchData();
  },

  methods: {
    fetchData(){
     axios.get('/config/Company.json').then(response => {
        console.log(response.data.name);
        this.data = response.data


     })
  },
  seturl()
  {
    this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
    if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
    {
      localStorage.setItem('IsSalesOffLine','false')
    }
    // console.log(this.company.name+" "+this.company.url)
    localStorage.setItem("Companyname",this.company.name);
    localStorage.setItem("CompanyURL",this.company.url);
    localStorage.setItem("Companylogo",this.company.logo);
  },
  save()
  {

           window.location.reload();
  }

  }
}
</script>

<style scoped>
.headttl{
    font-size: 20px;
    font-weight: bold;
}
</style>
