<template>

  <div>
    <div style="text-align:right;font-size:25px;color:#9d76ec">
      <font-awesome-icon :icon="['fas','user-cog']" @click="openSettings()"/>
    </div>
    <v-card class="text-center pa-1">

      <v-img

        :src="logo"
      ></v-img>

      <!-- sign in form -->
      <v-card-text>

        <v-form ref="form" v-model="isFormValid" lazy-validation>
          <div v-show="message">
            <v-select
              :items="items"
              label="Solo field"
              solo
            ></v-select>
          </div>
          <v-text-field
            v-model="email"
            :rules="[rules.required]"
            :validate-on-blur="false"
            :error="error"
            :label="$t('login.Username')"
            name="Username"
            outlined
            @keyup.enter="submit"
            @change="resetErrors"
          ></v-text-field>

          <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="showPassword ? 'text' : 'password'"
            :error="error"
            :error-messages="errorMessages"
            :label="$t('login.password')"
            name="Password"
            outlined
            @change="resetErrors"
            @keyup.enter="submit"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
          <div class="my-1 d-flex justify-content-between align-items-center">

            <a href="#" class="auth-link text-info">{{ $t(`login.forgot`) }}  </a>
          </div>
          <v-btn
            :loading="isLoading"
            :disabled="isSignInDisabled"
            block
            x-large
            color="primary"
            @click="submit"
          >{{ $t('login.button') }}</v-btn>
          <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
          <!-- external providers list -->
          <div v-if="errorProvider" class="error--text">{{ errorProviderMessages }}</div>

          <!-- <div class="mt-5">
            <router-link to="/auth/forgot-password">
              {{ $t('login.forgot') }}
            </router-link>
          </div> -->
          <label class=" label text-center " style="color: #a67f7f;">{{ $t(`dashboard.From`) }} <br><a href="https://linkwaysoftwares.com/" target="_blank">{{ $t(`dashboard.LinkwaySoftwareSolutions`) }}</a></label>
        </v-form>
      </v-card-text>
    </v-card>

    <div class="text-center mt-6" hidden>
      {{ $t('login.noaccount') }}
      <router-link to="/auth/signup" class="font-weight-bold">
        {{ $t('login.create') }}
      </router-link>
    </div>





  <v-dialog v-model="settingsModal"   hide-overlay transition="dialog-bottom-transition" style="    background: blue;max-height: 50% !important;">
      <v-toolbar  color="">
         <v-toolbar-title>Settings</v-toolbar-title>
         <v-spacer></v-spacer>
          <v-btn icon  @click="settingsModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>
     <settings/>
     <!--  <v-row>
      <v-col class="text-center " cols="12" xl="12" >
        <v-btn class="btn btn-success btn-xs" color="primary" @click="save()"> Save</v-btn>
      </v-col>
    </v-row> -->

  </v-dialog>



  </div>
</template>
<script>

import Vue from 'vue'
import axios from 'axios'
import settings from '../auth/Settings'
import Cryptojs from 'vue-cryptojs' 
import de from '../../translations/de'
export default {
    components: { settings},
  data() {

    return {

      snackbar: false,
      SnackbarMessege: '',
      timeout: 2000,
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      message: false,
      // sign in buttons
      isLoading: false,
      isSignInDisabled: false,

      // form
      isFormValid: true,
      email: '',
      password: '',
      logo:'',
      settingsModal:false,

      // form error
      error: false,
      errorMessages: '',

      errorProvider: false,
      errorProviderMessages: '',

      // show password field
      showPassword: false,
      Company: false,

      providers: [{
        id: 'google',
        label: 'Google',
        isLoading: false
      }, {
        id: 'facebook',
        label: 'Facebook',
        isLoading: false
      }],
      form: {
        Username: '',
        Password: '',
        VersionCode: 2,
        LoginDeviceId:sessionStorage.getItem('Uid'),
      },
      bURL:'',
      bURLPrint:'',

      // input rules
      rules: {
        required: (value) => (value && Boolean(value)) || 'Required'
      },
      IsRouteMandatory:'True'


    }
  },
  mounted(){
    this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
    if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
    {
      localStorage.setItem('IsSalesOffLine','false')
    }
    this.IsReload = localStorage.getItem('IsReload')
    if(this.IsReload === 'true')
    {
      localStorage.setItem('IsReload',false)
      location.reload()
    }
    this.LoginDeviceId = localStorage.getItem('Uid');
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.fetchData();
    // this.checkUrl();
  },
  methods: {
    fetchData(){
     axios.get('/config/Company.json').then(response => {
        console.log(response.data.length);
        this.data = response.data
        if(response.data.length == 1){
          // console.log("aaa"+response.data[0].name)
          localStorage.setItem("Companyname",response.data[0].name);
          localStorage.setItem("CompanyURL",response.data[0].url);
          localStorage.setItem("Companylogo",response.data[0].logo);
          localStorage.setItem("ReportURL",response.data[0].reportURL)
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");
    // this.checkUrl();


        }else
        {
          //  console.log("bbb"+response.data.length)
           if(localStorage.getItem("CompanyURL")!== null)
     {
           this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");


     }else{
 this.openSettings();
     }

        }


     })
    },

    checkUrl()
    {
        if(localStorage.getItem("CompanyURL")!== null)
     {

           this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }else
     {
       this.openSettings()
     }
    },
    submit() {
      if (this.$refs.form.validate()) {
        this.isLoading = true
        this.isSignInDisabled = true
        this.GetSettingsValue();
        //this.signIn(this.email, this.password)
      }
    },
    GetSettingsValue()
    {
      
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      axios.get(this.bURL + 'common/GetSettingsValue?SettingsName=BlockSalesPersonMultiLogin&BranchCode=MB')
        .then((response)  =>  {
          this.signIn(response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    signIn(IsBlockMultipleLogin) {
      if(IsBlockMultipleLogin === "True" || IsBlockMultipleLogin === true || IsBlockMultipleLogin === "true")
      {
        IsBlockMultipleLogin = true
      }
      else{
        IsBlockMultipleLogin = false
      }
      this.form.Username = this.email
      this.form.Password = this.password
     // this.$router.push('/')
      axios.post(this.bURL + 'user/authenticate?IsBlockMultipleLogin='+IsBlockMultipleLogin+'&IsCreateToken=true',this.form)
        .then((response)  =>  {
          if (response.status === 200)
          {
            localStorage.setItem('UserObject',JSON.stringify( response.data))
            localStorage.setItem('user',this.form.Username)
            localStorage.setItem('Token',response.data.token)
            //this.GetEncryptedPassword(this.form.Password)
            this.GetCompanyId()
            localStorage.setItem('IsLoadBasicFunctions',"True")
           
            this.GetSalesPersons(this.form.Username)
            //this.GetUser()
            
           

          }

        }, 
        (error)  =>  {
          console.log(error)
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        }) 
      
    },
    GetAvilableForms()
    {
      this.userrole = localStorage.getItem('UserType');
       axios.post(this.bURL + "common/GetAvailableForms/" + this.userrole)
        .then((response)  =>  {
         localStorage.setItem('AvailableForms',response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetUser()
    {
      axios.post(this.bURL + 'user/getuser/' + this.form.Username)
        .then((response)  =>  {
          if(response.status === 200)
          {
            localStorage.setItem('Password',response.data.password)
            localStorage.setItem('UserImage',response.data.photo)
            localStorage.setItem('BranchCode',response.data.branchCode)
            localStorage.setItem('UserType',response.data.userType)
            localStorage.setItem('salePerson',response.data.salePerson) 
            localStorage.setItem('CashLedger',response.data.cashLedger)
            localStorage.setItem('IsRegisterDevice',response.data.isRegisterDevice)
            localStorage.setItem('DeviceIds',JSON.stringify( response.data.deviceIds))
            localStorage.setItem('Signature',response.data.signature)
            this.GetAvilableForms()
            this.GetPrimaryCurrency()
            this.UpdateLastLogginTime()
          }

        }, (error)  =>  {
          console.log(error)
        })
    },
    GetPrimaryCurrency()
    {
      axios.post(this.bURL + 'Currency/getprimarycurrency')
        .then((response)  =>  {
          if (response.status === 200)
          {
            localStorage.setItem('DecimalPlaces', response.data.DecimalPlaces)
            localStorage.setItem('PrimaryCurrency', response.data.CurrencySymbol)
            //this.GetAppName()
          }

        }, (error)  =>  {
          console.log(error)
        })
    },
    GetAppName()
    {
      axios.post(this.bURL + 'common/GetAppName')
        .then((response)  =>  {
          if (response.status === 200)
          {
            localStorage.setItem('GetAppName', response.data)
            localStorage.setItem('Reload',"True")
            this.GetRoleSettings()
            this.GetSettings()
          }

        }, (error)  =>  {
          console.log(error)
        })
    },
    signInProvider(provider) {},
    resetErrors() {
      this.error = false
      this.errorMessages = ''

      this.errorProvider = false
      this.errorProviderMessages = ''
    },
    openSettings()
    {
      // console.log('Settingspage')
      this.settingsModal = true
    },
    GetSalesPersons(UserName)
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'user/GetLinkedSalesPersonsIncludingSelf/' + UserName)
        .then((response)  =>  {
          localStorage.setItem('LinkedSalesPersnons', JSON.stringify(response.data))
        }, (error)  =>  {
          console.log(error)
        })
    },
   GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
       this.BranchCode = this.BranchCode?this.BranchCode:''
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
           this.BranchCode = ''
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))
          //this.GetCompany()
     
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
   
    GetRoutes()
    {
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
      if(this.Settings.IsRouteMandatory === 'True')
      {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.Username = localStorage.getItem('user')
       axios.get(this.bURL + 'Route/LoadLinkedRoutes?Username='+this.Username)
              .then((response)  =>  {
                this.RouteObject = response.data
                 localStorage.setItem('LinkedRoutes',JSON.stringify(this.RouteObject))
                 if(this.RouteObject.length === 1)
                 {
                   localStorage.setItem('ActiveRouteId',JSON.stringify(this.RouteObject[0].RouteID))
                 }
                 this.GetLinkedGodowns()
                
              }, (error)  =>  {

              })
      }
      else{
        this.RouteObject = []
        localStorage.setItem('LinkedRoutes',JSON.stringify(this.RouteObject))
        this.GetLinkedGodowns()
      }
    },
     GetSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      this.Branchcode = window.localStorage.getItem("Branchcode")
      this.Branchcode = this.Branchcode?this.Branchcode:"MB"
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.Branchcode)
        .then((response)  =>  {
          localStorage.setItem('Settings', JSON.stringify(response.data))
          this.IsRouteMandatory =  response.data.IsRouteMandatory
           this.IsSalesperson = localStorage.getItem('salePerson')
            this.GetRoutes();
             
            this.AvailableForms = localStorage.getItem('AvailableForms')
            this.IsDayStartPermission = false
            if(this.AvailableForms.includes('frmRouteDayStart'))
            {
              this.IsDayStartPermission = true
            }
            localStorage.setItem('IsDayStartPermission',this.IsDayStartPermission)
            if(localStorage.getItem('IsRegisterDevice') === 'true')
            {
                    this.DeviceIds =localStorage.getItem('DeviceIds')
                    if(this.DeviceIds != null)
                    {
                        this.DeviceIds = JSON.parse(localStorage.getItem('DeviceIds'))
                    }
                    this.DeviceId = localStorage.getItem('Uid');
                    if(this.DeviceIds.includes(this.DeviceId) && this.Saleperson != "" && this.IsRouteMandatory === 'True')
                    {
                      localStorage.setItem('IsDeviceRegisterd',true)
                      this.$router.push("/dashboard/enroll");
                      
                    }
                    else{
                      localStorage.setItem('IsDeviceRegisterd',false)
                      this.$router.push("/dashboard/deviceRegister");
                    }
                    
              }
            else if(this.IsDayStartPermission === false)
            {
                  localStorage.setItem('IsDeviceRegisterd',true)
                  localStorage.setItem('Reload',"True")
                  localStorage.setItem('DayStatus',"Started")
                  this.$router.push('/dashboard/dashboard')

            }
            else{
            this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time
            this.Saleperson = localStorage.getItem('salePerson')
            if(this.Saleperson != ""  && this.IsRouteMandatory === 'True')
            {
               axios.get(this.bURL+'user/GetActiveRouteID?SalePerson='+this.Saleperson)
              .then((response)  =>  {
                 if(parseFloat(response.data) > 0)
                 {
                     localStorage.setItem('IsDeviceRegisterd',true)
                     localStorage.setItem('Reload',"True")
                     localStorage.setItem('DayStatus',"Started")
                     localStorage.setItem('ActiveRouteId',response.data)
                     this.$router.push('/dashboard/dashboard')

                 }
                 else{
                   localStorage.setItem('IsDeviceRegisterd',true)
                   this.$router.push("/dashboard/enroll");
                 }

              }, (error)  =>  {
                  console.log(error)
              })
            }
            else
            {
                     localStorage.setItem('IsDeviceRegisterd',true)
                     localStorage.setItem('Reload',"True")
                     localStorage.setItem('DayStatus',"Started")
                     //localStorage.setItem('ActiveRouteId',-1)
                     this.$router.push('/dashboard/dashboard')
            }

            }
                      
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetRoleSettings()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      axios.get(this.bURL + 'common/GetRoleSettingsDictionary?RoleName='+ this.UserRoll)
        .then((response)  =>  {
          this.IsReferesh = false
          localStorage.setItem('RoleSettings', JSON.stringify(response.data))
        }, (error)  =>  {
          console.log(error)
        })
    },
   /*   GetEncryptedPassword(password)
    {
      this.List = []
      this.List[0] = window.localStorage.getItem("user")
      this.List[1] = "1234567890"
      this.List[2] = "true"
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post(this.bURL + 'common/GetUserPassword', this.List)
        .then((response)  =>  {
           localStorage.setItem('Password',response.data)
           this.GetCompanyId()
        }, (error)  =>  {
           console.log(error)
        })
    }, */
     GetCompanyId()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'common/GetCompanyId')
        .then((response)  =>  {
           localStorage.setItem('CompanyId',response.data)
            this.GetUser()
        }, (error)  =>  {
           console.log(error)
        })
    },
    UpdateLastLogginTime()
    {
      /* fetch('https://api.ipify.org?format=json')
.then(x => x.json())
.then(({ ip }) => {
    this.term = ip;
     axios.get(this.bURL + 'user/UpdateLoginTime/'+ localStorage.getItem('user') + ','+ip)
        .then((response)  =>  {
          this.GetAppName()
        }, (error)  =>  {
          console.log(error)
        })
}); */
this.ip = "123qwe"

 axios.get(this.bURL + 'user/UpdateLoginTime/'+ localStorage.getItem('user') + ','+this.ip)
        .then((response)  =>  {
          this.GetAppName()
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>
