<template>
<div class=" flex-column flex-grow-1 align-center ">

      <v-expansion-panel-header
      hide-actions
       v-for="(item,i) in 5"
      :key="i"
      :class="{'blue-grey darken-2 ': i % 2 === 0}"
      >
        <div v-on:click="$event.stopPropagation()">
      <v-row no-gutters>
      <v-col
        cols="4"
        sm="4"
    color="#FFF"
      >
<label style="color:#FFF">Invoice</label>
<br>
<label style="color:#FFF">AHP/962/2011</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Invoice"
            readonly
            color="#FFF"
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="4"
        sm="4"
         style="text-align:right"
      >
      <label style="color:#FFF">Balance</label>
<br>
<label style="color:#FFF">45140001.00</label>
         <!-- <v-text-field
            value="45140001.00"
            label="Balance"
            readonly
          ></v-text-field> -->
      </v-col>
         <v-col
        cols="4"
        sm="4"
        style="text-align:right"
      >
        <!-- <v-text-field
            value="451400.000"
            label="Current Receipt"
          ></v-text-field> -->
          <label style="color:#FFF">Balance <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike"></label>
          <br>
           <!-- <v-text-field
          ></v-text-field> -->
        <label style="color:#FFF">45140001.00</label>
      </v-col>
    </v-row>
    </div>
      </v-expansion-panel-header>
  <div class="fixed-bottom flex-column flex-grow-1 align-center">
       <v-row no-gutters>
      <v-col
        cols="3"
        sm="3"
        class=" justify-center align-center"
        style="padding-left:17px;"
      >
 <label style="color:#FFF;margin-bottom: .0rem" class="read">Payable Amt</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">5400.00</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Amount to Pay"
            readonly
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Balance to Adjust"
            readonly
          ></v-text-field> -->
           <label style="color:#FFF;margin-bottom: .0rem" class="read">Balance</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">45140.00</label>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Total Receipt"
            readonly
          ></v-text-field> -->
  <v-btn small color="primary" style="font-size:10px" >Cancel</v-btn>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Advance on A/c"
            readonly
          ></v-text-field> -->
      <v-btn small color="primary" style="font-size:10px" >Ok</v-btn>
         <!-- <v-col
        cols="3"
        sm="3"
        style="padding-left:33px;padding-top: 5px;"
      >
        <v-btn small color="primary" style="margin-bottom:5px">Auto Adjust</v-btn>
        <v-spacer></v-spacer>
         <v-btn small color="primary" style="width:87px">Clear All</v-btn>
      </v-col> -->
      </v-col>
    </v-row>

</div>
 </div>
</template>
<script>
export default {
  data: () => ({
    sheet: false
  }),
  methods: {
 someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
}
}
</script>
<style lang="scss" scoped>

.footer {
   position: fixed;
   z-index:1;
   width: 100%;
   height:100px;
   background-color: red;
   color: white;
   text-align: center;
   padding-right:50px;
   margin-right:50px;
}
.v-input__slot {
  border-color: #00000061;
}
.v-expansion-panel-header{
   background-color:#90A4AE;
  color: #FFF;
  height: 67px;

}
.v-expansion-panel-content{
   /* padding: 0 24px 2px; */
  background-color:rgb(0 53 94);
  color: #FFF;
  height: 67px;
  padding-top:10px
}
.theme--light.v-label {
    color: #FFF
}
.theme--light.v-label:hover {
    color: #FFF
}
.v-input input {
    color: #FFF
}
.theme--light.v-input input, .theme--light.v-input textarea {

    color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
    border-color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:after {
    border-color: #FFF;
}
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
}
.theme--light.v-input {
    color: rgb(0 0 0 / 87%);
    height: 42px;
}
.mdi-chevron-down::before {
    display: none;
}
@media only screen and (max-device-width: 480px) {

.read{
  font-size: 12px;
  margin-bottom: 0px;
}

    }
</style>
