<template>
<v-card class="d-flex flex-grow-1 read" >
  <v-row>

<v-col class="text-center">
  <h4 class="text-center">Collection Against Sales</h4>
  <!-- <span style="width:100%;font-weight:bold;" class="text-center">Collection Against Sales</span> <br> -->
  <span style="width:100%;" class="text-center">{{FromDate}} - {{ToDate}}</span>
  <e-charts
    ref="pie"
    style="width: 100%;height:462px"
    autoresize
    :options="pie"
    auto-resize
  />

<v-row style="padding:22px; color:#000;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;">
    Total Collection
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;">
    {{AgainstTotalCollection}}
  </v-col>
  <div style="width:100%; background:rgb(35, 100, 170); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Cash
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{AgainstCashCollection}}
  </v-col>
  <div style="width:100%; background:rgb(115, 191, 184); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Cheque
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{AgainstChequeCollection}}
  </v-col>
  <div style="width:100%; background:rgb(115, 191, 184); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Pending
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{AgainstPendingCollection}}
  </v-col>
  <div style="width:100%; background:rgb(254, 198, 1); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    SalesAmount
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{SalesAmount}}
  </v-col>
  <div style="width:100%; background:rgb(156 39 176); height:4px;"></div>

</v-row>
</v-col>
  </v-row>
</v-card>
</template>

<script>

import axios from 'axios';
export default {
  data() {
    return {
      pie:{
        tooltip: {
          trigger: 'item',
          formatter: '{a} <br/>{b} : {c} ({d}%)'
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: ['Cash', 'Cheque', 'Pending']
        },
        series: [
          {
             name: 'Collection Against Sales',
            type: 'pie',
            radius: '55%',
            center: ['50%', '60%'],
            color: ['rgb(35, 100, 170)','rgb(115, 191, 184)','rgb(254, 198, 1)'],
            data: [
              { value: 335, name: 'Cash' },
              { value: 310, name: 'Cheque' },
              { value: 234, name: 'Pending' },
            ],

            itemStyle: {
              emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      },

       userType:'',
       LinkedSalespersons :JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
       FromDate :'',
       ToDate : '',
       Today : '',
       UserName : localStorage.getItem('user'),

      SalesAmount:0,
      AgainstCashCollection : 0,
      AgainstChequeCollection : 0,
      AgainstTotalCollection : 0,
      AgainstPendingCollection : 0,
      CurrentCollectionSecionPerc : 0,
    }
  },
  mounted () {
    let dataIndex = -1
    const { pie } = this.$refs
    const dataLen = pie.options.series[0].data.length
     this.date = new Date();
    this.getonload(this.date )
    this.GetDashBoardData()

    // setInterval(() => {
    //   pie.dispatchAction({
    //     type: 'downplay',
    //     seriesIndex: 0,
    //     dataIndex
    //   })
    //   dataIndex = (dataIndex + 1) % dataLen
    //   pie.dispatchAction({
    //     type: 'highlight',
    //     seriesIndex: 0,
    //     dataIndex
    //   })
    //   pie.dispatchAction({
    //     type: 'showTip',
    //     seriesIndex: 0,
    //     dataIndex
    //   })
    // }, 0)
  },
   methods:{
     getonload(dt){

        this.date = new Date(dt);
        this.firstDay = new Date(this.date.getFullYear(), this.date.getMonth(), 1);
        this.lastDay = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 0);
        this.convert(this.firstDay);
        this.convert1(this.lastDay);
    },
    convert(str) {
        this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.frst = [this.date.getFullYear(),this. mnth, this.day].join("-").replace(/-/g, ".");
  this.Today_ = [this.date.getFullYear(), this.mnth, this.day].join("-");
  this.FromDate = this.frst;
  this.Today = this.Today_ ;

},
convert1(str) {
  this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.lst =  [this.date.getFullYear(), this.mnth, this.day].join("-").replace(/-/g, ".");
  this.ToDate = this.lst;
  },
    getavailableForms()
    {
      axios.get ( this.bURL + 'Common/GetAvailableForms/' + this.userType )
        .then((response)  =>  {
          console.log(response)
       console.log('availableForms4check '+response.data);
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetDashBoardData()
    {
      this.Salespersons =  this.GetsWithComma(this.LinkedSalespersons)
        axios.get ( this.$bURL + "common/getdashboard?SalesPersons="+this.Salespersons+"&DateFrom="+this.FromDate+"&DateTo="+this.ToDate+"&Username="+this.UserName )
        .then((response)  =>  {
          this.PercentageCalculation(response.data)
        }, (error)  =>  {
          console.log(error)
        })

    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
     PercentageCalculation(data)
    {
      /* ******************Collection Section *******************************************/
      
      this.SalesAmount = parseFloat(data.SalesAmount)
      this.AgainstCashCollection = parseFloat(data.AgainstCashCollection)
      this.AgainstChequeCollection = parseFloat(data.AgainstChequeCollection)
      this.AgainstTotalCollection = parseFloat(data.AgainstTotalCollection)
      this.AgainstPendingCollection = this.AgainstTotalCollection - (this.AgainstCashCollection + this.AgainstChequeCollection)
      this.AgainstCashCollectionPerc = (this.AgainstCashCollection / this.AgainstTotalCollection) * 360
       this.flag = isNaN(this.AgainstCashCollectionPerc)
      if(this.flag)
      {
        this.AgainstCashCollectionPerc = 0
      }
      if(this.AgainstCashCollectionPerc > 360)
      {
        this.AgainstCashCollectionPerc = 360
      }
      else if(this.AgainstCashCollectionPerc <0)
      {
        this.AgainstCashCollectionPerc = 0
      }

      this.AgainstChequeCollectionPerc = (this.AgainstChequeCollection / this.AgainstTotalCollection) *360
       this.flag = isNaN(this.AgainstChequeCollectionPerc)
      if(this.flag)
      {
        this.AgainstChequeCollectionPerc = 0
      }
      if(this.AgainstChequeCollectionPerc > 360)
      {
        this.AgainstChequeCollectionPerc = 360
      }
      else if(this.AgainstChequeCollectionPerc <0)
      {
        this.AgainstChequeCollectionPerc = 0
      }
       this.AgainstPendingCollectionPerc = (this.AgainstPendingCollection / this.AgainstTotalCollection) *360
        this.flag = isNaN(this.AgainstPendingCollectionPerc)
      if(this.flag)
      {
        this.AgainstPendingCollectionPerc = 0
      }
      if(this.AgainstPendingCollectionPerc > 360)
      {
        this.AgainstPendingCollectionPerc = 360
      }
      else if(this.AgainstPendingCollectionPerc <0)
      {
        this.AgainstPendingCollectionPerc = 0
      }
      this.pie.series[0].data[0].value = this.AgainstCashCollectionPerc
      this.pie.series[0].data[1].value = this.AgainstChequeCollectionPerc
      this.pie.series[0].data[2].value = this.AgainstPendingCollectionPerc
     /*  this.CollectionSection[0].value = this.AgainstCashCollectionPerc
      this.CollectionSection[1].value = this.AgainstChequeCollectionPerc
      this.CollectionSection[2].value = this.AgainstPendingCollectionPerc
      this.CurrentCollectionSecionPerc = parseFloat(this.AgainstCashCollectionPerc).toFixed(1) */

      /* ******************Collection Section *******************************************/


    },
  }
  
}
</script>

