<template>
  <div>
    <!-- <SalesPersons />
    <PendingDeliveryCustomers />
    <Currency />
    <Branch />
    <Customers />
    <Items />
    <Settings />
    <CashBankLedgerNames />
    <RoleSettings/> -->
    <Godown />
    
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
/* import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'
import SalesPersons from "../../pages/ApiServices/SalesPersons";
import PendingDeliveryCustomers from "../../pages/ApiServices/PendingDeliveryCustomers";
import Currency from "../../pages/ApiServices/Currency";
import Branch from "../../pages/ApiServices/Branch";
import Customers from "../../pages/ApiServices/Customers";
import Items from "../../pages/ApiServices/Items";
import Settings from "../../pages/ApiServices/Settings";
import CashBankLedgerNames from "../../pages/ApiServices/CashBankLedgerName";
import RoleSettings from "../../pages/ApiServices/RoleSettings"; */
import Godown from "../../pages/ApiServices/Godown";

export default {
  components: {
    /*  SalesPersons,
    PendingDeliveryCustomers,
    Currency,
    Branch,
    Customers,
    Items,
    Settings,
    CashBankLedgerNames,
    RoleSettings*/
    Godown
  }, 
  data() {
    return {
     
    }
  },
  mounted() {
    this.Reload = localStorage.getItem('Reload')
    if(this.Reload === 'True')
    {
      localStorage.setItem('Reload',"False")
      location.reload();
    }
    else{
      localStorage.setItem('Reload',"True")
      this.$router.push('/dashboard/analytics')
    }
  },
  methods: {
   
    
  }
}
</script>