  <template >
<div class="d-flex flex-column flex-grow-1">
    <div class="d-flex align-center py-3 ">

   {{ $CryptoJS.AES.encrypt("Hi There!", "Secret Passphrase").toString() }}

   {{ $CryptoJS.AES.decrypt("U2FsdGVkX1+k4rib07QH4ri2TIGuaESxwiR7sB1x8cQ", "Secret Passphrase").toString(this.CryptoJS.enc.Utf8) }}


</div>
</div>
  </template>

  <script>

  import Vue from 'vue'
  import 'vue-select/dist/vue-select.css';
  import fab from 'vue-fab'
  import axios from 'axios';
  import de from '../../translations/de';
  import vueSignature from "vue-signature"
  import TrendPercentVue from '../../components/common/TrendPercent.vue';
  //import Assets from '../Vouchers/Assets.vue'
  import draggable from 'vuedraggable'
  import VueCryptojs from 'vue-cryptojs'
Vue.use(VueCryptojs)
  export default {
    components: {
      draggable,fab,vueSignature//,Assets
    },
    data() {
      return {

 pvtData: "",
    secret: "123#$%",
    encData: "",

        barcodescannarmodal :false,
        ScheduleModal:false,
        ReportAppLink :"https://testproject.linkwayapps.com?companyid=demo&username="+localStorage.getItem('user')+"&password="+localStorage.getItem('Password')

          }
    },
    computed: {


    },
    mounted()
    {
      const encryptedText = this.$CryptoJS.AES.encrypt("Hi There!", "Secret Passphrase").toString();
      this.decryptedText = this.$CryptoJS.AES.decrypt(this.encryptedText, "Secret Passphrase").toString(this.CryptoJS.enc.Utf8)
      alert(encryptedText)
      document.getElementById("txtCompany").value = "demo";
      this.PreviousPage = localStorage.getItem('PreviousRoute')
      if(this.PreviousPage !== 'UserProfile' && this.PreviousPage !== 'UserRegister')
      {
            history.pushState(null, null, location.href);
  window.onpopstate = function () {
      history.go(1);
  };
      }
      else
      {
        history.pushState(null, null, location.href);
  window.onpopstate = function () {
      location.href = location.origin + '/dashboard/registers/UserRegister'
  };
      }
      if(this.Token === "" || this.Token === null || this.Token === undefined)
      {
        localStorage.setItem('IsReload',true)
        this.$router.push('/auth/signin')
      }
      localStorage.setItem('ActivePage','UserProfile')
    localStorage.removeItem('VoucherUpdated')
      this.BasicSettings()
      this.SetPermission()
      this.checkUrl();
      this.BindRouteOptions()
      this.GetSchedule()


    },
    methods:
    {
      encryptData() {
  if (this.pvtData.length) {
    // hash the name with any algorithm
    const data = CryptoJS.AES.encrypt(this.pvtData, this.secret).toString();

    // store into localStorage
    localStorage.setItem("secretData", data);

    // display the encrypted data
    this.getEncryptedData();
  }
},
getEncryptedData() {
  // get the data from localStorage or send placeholder text
  this.encData = localStorage.getItem("secretData") || "No value present";
},
decryptData() {
  // get data from localStorage
  const secretData = localStorage.getItem("secretData");

  // decrypt the data and convert to string
  const decryptData = CryptoJS.AES.decrypt(
    secretData,
    this.secret
  ).toString(CryptoJS.enc.Utf8);

  alert("Decrypted private data: " + decryptData);
},
deleteData() {
  // remove data from localStorage
  localStorage.removeItem("secretData");

  // update text
  this.getEncryptedData();
},


     OpenCustomertoRouteSector(){
this.$router.push('/dashboard/masters/CustomerRouteSector')
    },
      toggleCustomer () {
        this.$nextTick(() => {
          if (this.likesAllCustomer) {
            this.selectedCustomer = []
          } else {
            this.selectedCustomer = this.CustomerOptions.slice()
          }
        })
      },

          saveDigital(){

        var _this = this;

        var svg = _this.$refs.signature.save('image/svg+xml');

        // console.log(svg)
        //  localStorage.setItem('salessign',svg)
        if(this.signtype == 1)
        {
          this.salessign = svg
          /* localStorage.setItem('salessign',svg)
          localStorage.setItem('salename',this.nameval)
          this.salename = this.nameval */

        }

        this.signature1=false;

      },
      clearDigital(){
        var _this = this;
        this.salessign = ""
        _this.$refs.signature.clear();
      },
      open(a) {
        if(a==1){
        this.Title = 'Signature'
        }

        this.signtype = a
      this.signature1=true;
      },
      close() {
      this.signature1=false;
      },
      openBarcode()
        {

          this.BarcodeModal = true
          this.barcodescannarmodal = true
        },
        onDecode (result) {
      console.log(result)
      this.item.barcode = result
      this.BarcodeModal = false
          this.barcodescannarmodal = false
    },
      goToAssets(){
    this.$router.push('/dashboard/assets');
        },
      checkUrl()
      {
        if(localStorage.getItem("CompanyURL")!== null)
      {

            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            this.bURLPrint = localStorage.getItem("CompanyURL");
            //  this.logo = localStorage.getItem("Companylogo");

      }else
      {
        // this.openSettings()
      }
      },
      someAction (e) {
    e.stopPropagation()
    console.log('in some action')
  },
      save (date) {
        this.$refs.menu.save(date)
      },
      save1 (date1) {
        this.$refs.menu1.save(date1)
      },
      uploadImage: function() {
        this.ImageModal=false
        var file = document
          .querySelector('input[type=file]')
          .files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          this.ImageModal = false
          this.UserImage1 = e.target.result;
          this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
          this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
          this.Photo = this.UserImage1
          localStorage.setItem('TempImage',this.Photo);
          this.ImageModal = false
          document.getElementById("UserImage1").src = e.target.result;

        };
        reader.onerror = function(error) {
          alert(error);
        };
        reader.readAsDataURL(file);

      },
      toggleInfoWindow: function(marker, idx) {
        this.infoWindowPos = marker.position
        this.infoOptions.content = marker.infoText
  console.log(marker.position.lat+" "+marker.position.lng)
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx === idx) {
          this.infoWinOpen = !this.infoWinOpen

        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true
          this.currentMidx = idx

        }
      },

      BasicSettings()
      {
        this.IsCustomer = localStorage.getItem('salePerson')
        if (this.IsCustomer !== '')
          this.UserObject.Salesman = this.IsCustomer
        this.BranchCode = localStorage.getItem('BranchCode')
        if (this.BranchCode !== '#' || this.BranchCode !== '')
          this.UserObject.BranchCode = this.BranchCode

        this.CustomerLength = this.CustomerOptions.length
        if (this.CustomerLength > 1)
        {
          this.IsCustomerShow = true
        }

        this.BarnchLength = this.BranchCodeOptions.length
        if (this.BarnchLength > 1)
          this.IsMultiBarnch = TrendPercentVue
        if(this.AppName === "EAI")
          {
          this.IsEAIApp = true
          }
        else if(this.AppName === "EAG")
        {
          this.IsEAGApp = true
        }

        this.UserObject.IsActive = false

      },
      SetPermission()
      {
        this.userType = window.localStorage.getItem('UserType');
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmRoute')
          .then((response)  =>  {
            this.isCreatePermission = response.data[0]
            this.isReadPermission = response.data[1]
            this.isUpdatePermission = response.data[2]
            this.isDeletePermission = response.data[3]



          }, (error)  =>  {
            console.log(error)
          })
      },
      GetUser(user)
      {
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'User/' + user)
          .then((response)  =>  {
            this.AssignObject(response.data)
          }, (error)  =>  {
            console.log(error)
          })
      },
      AssignObject(obj)
      {
        this.Username = obj.Username
        this.Username = obj.username
        document.getElementById("UserImage1").src = 'data:image/jpeg;base64,' + obj.photo
        this.UserObject.FullName = obj.fullName
        this.UserObject.Password = obj.password
        this.UserObject.UserType = obj.userType
        this.UserObject.IsActive = obj.isActive
        this.UserObject.Mobile = obj.mobile
        this.UserObject.Email = obj.Email
        this.UserObject.Address = obj.address
        this.UserObject.Notes = obj.notes
        this.UserObject.Manager = obj.Manager
        this.UserObject.DeviceIds = this.GetsWithComma(obj.deviceIds)
        this.UserObject.BranchCode = obj.branchCode
        this.UserObject.SalePerson = obj.salePerson
        this.UserObject.PurchasePerson = obj.purchasePerson
        this.UserObject.CashLedger = obj.cashLedger
        this.UserObject.VehicleNo = obj.vehicleNo
        this.Photo = obj.photo
        localStorage.setItem('TempImage',this.Photo);

      },
      FormatewithDecimalPlaces(value)
      {
        return parseFloat(value).toFixed(this.DecimalPlaces)
      },

      CreateObject()
      {
        this.UserObject.Username = this.Username
        this.UserObject.Photo = localStorage.getItem('TempImage')?localStorage.getItem('TempImage'):null
        this.UserObject.FullName = this.UserObject.FullName?this.UserObject.FullName:''
        this.UserObject.Password = this.UserObject.Password?this.UserObject.Password:''
        this.UserObject.UserType = this.UserObject.UserType?this.UserObject.UserType:''
        this.UserObject.Manager = this.UserObject.Manager?this.UserObject.Manager:''
        this.UserObject.IsActive =  this.UserObject.IsActive? this.UserObject.IsActive:false
        this.UserObject.Mobile = this.UserObject.Mobile?this.UserObject.Mobile:''
        this.UserObject.Email = this.UserObject.Email?this.UserObject.Email:''
        this.UserObject.Address = this.UserObject.Address?this.UserObject.Address:''
        this.UserObject.Notes = this.UserObject.Notes?this.UserObject.Notes:''
        this.UserObject.DeviceIds = this.UserObject.DeviceIds?this.UserObject.DeviceIds:''
        this.UserObject.BranchCode = this.UserObject.BranchCode?this.UserObject.BranchCode:''
        this.UserObject.SalePerson = this.UserObject.SalePerson?this.UserObject.SalePerson:''
        this.UserObject.PurchasePerson = this.UserObject.PurchasePerson?this.UserObject.PurchasePerson:''
        this.UserObject.CashLedger = this.UserObject.CashLedger?this.UserObject.CashLedger:''
        this.UserObject.VehicleNo = this.UserObject.VehicleNo?this.UserObject.VehicleNo:''
        if(this.UserObject.DeviceIds !== "" && this.UserObject.DeviceIds !== null)
        {
          this.UserObject.DeviceIds = this.UserObject.DeviceIds.split(',');
        }
        else{
          this.UserObject.DeviceIds = []
        }
        if(this.UserObject.Photo === "")
        {
          this.UserObject.Photo = null
        }
      },
      SaveUser()
      {
        this.CreateObject()
        if(this.UserObject.UserName === "" || this.UserObject.FullName === "" || this.UserObject.UserType === "" || this.UserObject.Password === "")
        {
          this.SnackbarMessege = this.$t(`menu.Pleasefillsufficientdetails`)
          this.snackbar = true
          return
        }
        else if(this.UsernameSearch === undefined || this.UsernameSearch === '')
        {
          if(this.isCreatePermission === true)
          {
            this.Loaderdialog = true
            axios.post ( this.bURL + 'User',this.UserObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                localStorage.setItem('UsernameForRoute',this.Username)
                this.UsernameOptions.push(this.UserObject.Username)
                localStorage.setItem('ReceivedBy',JSON.stringify(this.UsernameOptions))
                this.Loaderdialog = false
                this.ClearUser()
                /* localStorage.removeItem('Username')

                setTimeout( location.reload() , 2000) */
              }, (error)  =>  {
                console.log(error)
            })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
        else{
          if (this.isUpdatePermission === true)
          {
            localStorage.setItem('UserPut',JSON.stringify(this.UserObject))
              axios.put ( this.bURL + 'User/UpdateUser?OldUsername='+this.Username ,this.UserObject)
                .then((response)  =>  {
                  this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                  this.snackbar = true

                }, (error)  =>  {
                  console.log(error)
              })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
      },
      DeleteUser()
      {
        if (this.Username !== null)
        {
          if (this.isDeletePermission === true)
          {
            this.DeleteConfirmation_User = true

          }
          else
          {
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

        }
        else
        {
          this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
          this.snackbar = true

        }

      },
      ExecuteDeleteCstomer()
      {
        this.encodeUsername = encodeURIComponent(this.Username)
        axios.delete( this.bURL + 'User/' + this.encodeUsername)
          .then((response)  =>  {
            this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
            this.snackbar = true
            for(this.i = 0;this.i<this.UsernameOptions.length;this.i++)
            {
              if(this,UsernameOptions[this.i] === this.Username)
              {
                this.UsernameOptions.splice(this.i,1);
                break
              }
            }
            this.ClearUser()
          },(error)  =>  {
            this.Loaderdialog = false
            if(error.response === undefined)
            {
              this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
            }
            else if(error.response.data !=="")
            {
              this.SnackbarMessege = error.response.data
            }
            else{
              this.SnackbarMessege =this.$t(`menu.failed`)
            }
            this.snackbar = true
          })
      },
      ClearUser()
      {
        this.UsernameSearch = ""
        this.Username = ""
        this.UserObject.Username = ""
        this.Photo =""
        this.UserObject.FullName = ""
        this.UserObject.Password = ""
        this.UserObject.UserType = ""
        this.UserObject.Mobile = ""
        this.UserObject.Email = ""
        this.UserObject.Address = ""
        this.UserObject.Notes = ""
        this.UserObject.DeviceIds = ""
        this.UserObject.BranchCode = ""
        this.UserObject.SalePerson = ""
        this.UserObject.PurchasePerson = ""
        this.UserObject.CashLedger = ""
        this.UserObject.VehicleNo = ""
        this.UserImage1 = ""
        document.getElementById("UserImage1").src = "/images/avatars/avatar1.svg"
        this.imageSrc = '/images/avatars/avatar1.svg'
        this.UserObject.IsActive = false
      },

      FormatDate(Value)
      {
        if(Value !== undefined)
        {
            Value =  Value.split('T')[0]
        }
        else{
          Value = ""
        }


        return Value

      },
      BindRouteOptions()
      {
        for(this.i=0;this.i<this.RouteObject.length;this.i++)
        {
          this.RouteOptions.push(this.RouteObject[this.i].RouteName)
          this.RouteSearchOptions.push(this.RouteObject[this.i].RouteName)
        }
      },
      GetSchedule()
      {
        this.ScheduleOptions = []
        this.ScheduleSearchOptions = []
      axios.get( this.bURL + 'Schedule/LoadSchedules?ActiveStatus=Active')
        .then((response)  =>  {
          this.ScheduleObject = response.data
        for(this.j = 0;this.j<response.data.length;this.j++)
        {
          this.ScheduleOptions.push(response.data[this.j].ScheduleName)
           this.ScheduleSearchOptions.push(response.data[this.j].ScheduleName)
        }
        this.ScheduleName = this.ScheduleOptions[0]
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedRoutes()
    {
       axios.get( this.bURL + 'Route/LoadRoutesByCustomer?CustomerName='+this.CustomerSearch)
        .then((response)  =>  {
            this.LinkedRoutes = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    InsertRouteLink()
    {
      if(this.Route === undefined || this.Route === "" || this.Schedule === undefined || this.Schedule === "")
      {
        this.SnackbarMessege = "Please select Route and Schedule"
        this.snackbar = true
        return
      }
       this.LinkedRoutesNew = this.LinkedRoutes.filter(post => {
        return post.RouteName.toString().toLowerCase().includes(this.Route.toLowerCase()) &&
        post.ScheduleName.toString().toLowerCase().includes(this.Schedule.toLowerCase());
         })
      if(this.LinkedRoutesNew.length > 0)
      {
        this.SnackbarMessege = "Already added"
        this.snackbar = true
        return
      }
      this.RouteID  = -1
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.Route === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          break
        }
      }
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.Schedule === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
      axios.get( this.bURL + 'Route/InsertRouteLink?CustomerName='+this.CustomerSearch + "&RouteID=" + this.RouteID + "&ScheduleID=" + this.ScheduleID)
        .then((response)  =>  {
           this.GetLinkedRoutes()
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedCustomers()
    {
      this.RouteID  = -1
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.RouteSearch === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          break
        }
      }
       axios.get( this.bURL + 'Route/LoadCustomersByRoute?RouteID='+this.RouteID)
        .then((response)  =>  {
            this.LinkedCustomers = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
     InsertCustomerLink()
    {
      if(this.RouteSearch === undefined || this.RouteSearch === "" )
      {
        this.SnackbarMessege = "Please select Route"
        this.snackbar = true
        return
      }
      if(this.ScheduleSearch === undefined || this.ScheduleSearch === "")
      {
        this.SnackbarMessege = "Please select Schedule"
        this.snackbar = true
        return
      }

      if(this.selectedCustomer.length === 0)
      {
         this.SnackbarMessege = "Please select Customer"
        this.snackbar = true
        return
      }
      else{
            this.RoutesByCustomer = []
             this.RouteID  = -1
             this.RouteName  = ""
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.RouteSearch === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          this.RouteName = this.RouteObject[this.i].RouteName
          break
        }
      }
      this.ScheduleID  = -1
      this.ScheduleName = ""
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearch === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          this.ScheduleName = this.ScheduleObject[this.i].ScheduleName
          break
        }
      }
          for(this.i = 0;this.i<this.selectedCustomer.length;this.i++)
          {
              this.LinkedRoutesNew = this.LinkedCustomers.filter(post => {
                 return post.CustomerName.toString().toLowerCase().includes(this.selectedCustomer[this.i].toLowerCase()) &&
                 post.ScheduleName.toString().toLowerCase().includes(this.ScheduleSearch.toLowerCase());
              })
              if(this.LinkedRoutesNew > 0)
              {
                 this.SnackbarMessege = "Already added"
                 this.snackbar = true
                  return
              }
              else
              {
                this.RouteObj = {
              "LinkID" : -1,
              "CustomerName" : this.selectedCustomer[this.i],
              "RouteID" : this.RouteID,
              "RouteName" : this.RouteName,
              "ScheduleID" : this.ScheduleID,
              "ScheduleName" : this.ScheduleName,
             }
              this.LinkedCustomers.push(this.RouteObj)
              }
          }



      }

      axios.post( this.bURL + 'Route/InsertRouteLinksByRoute?RouteID='+this.RouteID, this.LinkedCustomers)
        .then((response)  =>  {
           this.GetLinkedCustomers()
        }, (error)  =>  {
          console.log(error)
        })
    },
    DeleteRouteLink(linkid ,isCustomerWise)
    {
      if(this.isDeletePermission === true)
      {
          this.DeleteRouteLinkId = linkid
          this.DeleteConfirmationRouteLink = true
          this.IsCustomerWiseDeleteion = isCustomerWise

      }
      else{
        this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
      }

    },
    ExecuteDeleteRouteLink()
    {
      axios.get( this.bURL + 'Route/DeleteRouteLink?LinkID=' + this.DeleteRouteLinkId)
        .then((response)  =>  {
           this.DeleteConfirmationRouteLink = false
           if(this.IsCustomerWiseDeleteion === true)
               this.GetLinkedRoutes()
           else
               this.GetLinkedCustomers()
        }, (error)  =>  {
          console.log(error)
        })
    },

/*********************************** Schedule Master Start here ******************************************* */

  GetScheduleObject()
  {
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
       axios.delete( this.bURL + 'Schedule/GetSchedule?ScheduleID=' + this.ScheduleID)
                .then((response)  =>  {
                  this.ScheduleIsActive = "test"
                  this.ScheduleIsActive = response.data.IsActive
                  this.ScheduleNameNew = response.data.ScheduleName
                  this.Remarks = response.data.Remarks
                  this.NewList =  response.data.ScheduleDays
                   this.ScheduleDays = [
                      false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false
                  ]
                  for(this.i = 0;this.i<this.NewList.length;this.i++)
                  {
                    this.ScheduleDays[this.NewList[this.i].DayNo - 1] = true
                  }
                }, (error)  =>  {

              })
  },
  SaveSchedule()
  {
      if(this.ScheduleNameNew === "" ||  this.ScheduleNameNew === undefined)
      {
        this.SnackbarMessege = "Please enter schedule name"
        this.snackbar = true
        return
      }
      this.NewList = []
      for(this.i = 0;this.i<28;this.i++)
      {
        if(this.ScheduleDays[this.i] === true)
        {
          this.obj = {
            "DayNo" : this.i+1,
            "ScheduleID" :-1,
            "ScheduleDayId" : -1
          }
          this.NewList.push(this.obj)
        }
      }
      if(this.NewList.length === 0)
      {
         this.SnackbarMessege = "Select atleast one day for the schedule"
        this.snackbar = true
        return
      }
      this.ScheduleID  = -1
      this.ScheduleName = ""
      if(this.ScheduleSearchMaster !== "" && this.ScheduleSearchMaster !== undefined)
      {
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          this.ScheduleName = this.ScheduleObject[this.i].ScheduleName
          break
        }
      }
      }
      this.ScheduleObj = {
        "ScheduleID" : this.ScheduleID,
        "ScheduleName" : this.ScheduleNameNew,
        "IsActive" : this.ScheduleIsActive,
        "Remarks" : this.Remarks?this.Remarks:"",
        "ScheduleDays" : this.NewList
      }

      if(this.ScheduleSearchMaster === "" || this.ScheduleSearchMaster === undefined)
      {
          if(this.isCreatePermission === true)
          {
             this.Loaderdialog = true
              axios.post( this.bURL + 'Schedule/InsertSchedule', this.ScheduleObj)
                .then((response)  =>  {
                  this.Loaderdialog = false
                   this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                   this.snackbar = true
                   this.ClearSchedule()
                   this.GetSchedule()
                }, (error)  =>  {
                   this.SnackbarMessege = "Failed"
                   this.snackbar = true
                   this.Loaderdialog = false
                    console.log(error)
              })
          }
          else{
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
            return
          }
      }
      else{
        if(this.isUpdatePermission === true)
        {
            this.Loaderdialog = true
              axios.put( this.bURL + 'Schedule/UpdateSchedule', this.ScheduleObj)
                .then((response)  =>  {
                  this.Loaderdialog = false
                   this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                   this.snackbar = true
                   this.GetSchedule()
                }, (error)  =>  {
                   this.SnackbarMessege = "Failed"
                   this.snackbar = true
                   this.Loaderdialog = false
                    console.log(error)
              })
        }
        else{
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
            return
        }

      }

  },
  ClearSchedule()
  {
    this.ScheduleSearchMaster = ""
    this.ScheduleNameNew = ""
    this.Remarks = ""
     this.ScheduleDays = [
                      false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false
                  ]

  },
   DeleteSchedule()
    {
      if(this.isDeletePermission === true)
      {
          this.DeleteConfirmationSchedule = true

      }
      else{
        this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
      }

    },
    ExecuteDeleteSchedule()
    {
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
      axios.delete( this.bURL + 'Schedule/DeleteSchedule?ScheduleID=' + this.ScheduleID)
        .then((response)  =>  {
           this.DeleteConfirmationSchedule = false
           this.SnackbarMessege = "success"
           this.snackbar = true
           this.ClearSchedule()
           this.GetSchedule()
        }, (error)  =>  {
          console.log(error)
        })
    },



/*********************************** Schedule Master Ends here ******************************************* */

    }
  }
  </script>
  <style lang="scss" scoped>

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

 div::-webkit-scrollbar {
width: 2px;
}


  </style>
<style>

.container .newc, .container-fluid .newc, .container-lg .newc, .container-md .newc, .container-sm .newc, .container-xl .newc {
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;

}
</style>
