<template>
	<div id="app">
		<vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'400px'" :disabled="disabled" :defaultUrl="dataUrl"></vueSignature> 
		<vueSignature ref="signature1" :sigOption="option"></vueSignature> 
		<button @click="save" class="btn btn-success">Save</button>
		<button @click="clear" class="btn btn-danger">Clear</button>
		
	</div>
</template>

<script>
import vueSignature from "vue-signature"
export default {
	name: "app",
	components:{
		vueSignature
	},
	data() {
		return {
			option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
			disabled:false,
			dataUrl:""
		};
	},
	methods:{
		save(){
			var _this = this;
			
			var svg = _this.$refs.signature.save('image/svg+xml');
			
			// console.log(svg)
            localStorage.setItem('salessign',svg)
            
		},
		clear(){
			var _this = this;
			_this.$refs.signature.clear();
		},
		undo(){
			var _this = this;
			_this.$refs.signature.undo();
		},
		
	}
};
</script>