<template>
    <div>
        <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>
        <v-hover >
    <v-card
      class="mx-auto"
      color="grey lighten-4"
     style="max-width:100;"
    >
      <v-img
        :aspect-ratio="16/9"
        src="  https://i.pinimg.com/originals/c9/92/57/c9925785c987f340423a07ed12e2527c.gif"
      >
      <!-- https://venngage-wordpress.s3.amazonaws.com/uploads/2018/01/GIF-Social-Media-Graphic-Design-Example2.gif -->
        <!-- https://i.pinimg.com/originals/c9/92/57/c9925785c987f340423a07ed12e2527c.gif -->
      </v-img>
      <v-card-text
        style="position: relative"
      >
<v-row no-gutters>
          <v-col cols="12" md="12" xl="12" sm="12" >
        <div class="font-weight-bold black--text title mb-2 text-center">
         “It's a new day, fresh start, new opportunities. Drive safely”
        </div>
          </v-col>
</v-row>
<v-row no-gutters>
          <v-col cols="12" md="12" xl="12" sm="12" >
         <h6 class=" font-weight-bold blue--text mb-2 text-center">
          Welcome  {{user}}
        </h6>
          </v-col>
</v-row>
<v-row no-gutters>
          <v-col cols="12" md="12" xl="12" sm="12" >
        <div  style = "text-align:center;">
         <h5 style="color: red;">{{ timestamp }}</h5>
          <h5 style="color: red;"><b style="color:#000;"> Have a nice </b> {{ day }}</h5>
      </div>
          </v-col>
</v-row>
       <v-row no-gutters>
          <v-col cols="12" md="12" xl="12" sm="12" style="padding-top:5px !important;paddding-bottom:0px !important" >
            <v-autocomplete
            v-model="RouteName"
            :items="RouteOptions"

            dense
             :label="$t(`menu.SelectRoute`)"
            v-if="IsShowRoute"
            @change="SetActiveRoute($event)"
          ></v-autocomplete>

          </v-col>

        </v-row>
         <v-row no-gutters v-if="HideOdoKM === false">

           <v-col cols="12" md="12" xl="12" sm="12" style="padding-bottom:0px !important;" >
          <v-text-field type="number" label="Odo Kilometre" v-model="StartKM"></v-text-field>

          </v-col>

        </v-row>

        <v-row no-gutters>

           <v-col cols="12" md="12" xl="12" sm="12" style="padding-bottom:15px !important;padding-top:0px !important" >
          <v-textarea
          v-model="Remarks"
          :label="$t(`menu.RemarksOptional`)"
          auto-grow
          outlined
          rows="1"
          row-height="10"
        ></v-textarea>

          </v-col>

        </v-row>
         <v-row no-gutters>
          <v-col cols="12" md="12" xl="12" sm="12" style="padding-top:10px !important" >
        <v-btn
          absolute
          color="red"
          class="black--text"
          fab
          large
          left
          bottom
          @click="Skip()"

        ><span>Skip</span>
          <v-icon>mdi-skip-next-circle</v-icon>
        </v-btn>
          <v-btn
          absolute
          color="green"
          class="black--text"
          fab
          large
          right
          bottom
          @click="StartDay()"

        ><span>Start</span>
          <v-icon>mdi-timer</v-icon>
        </v-btn>
          </v-col>
        </v-row>
      <!-- <v-autocomplete
            v-model="RouteName"
            :items="RouteOptions"
            dense
             :label="$t(`menu.SelectRoute`)"
            v-if="IsShowRoute"
          ></v-autocomplete> -->

      </v-card-text>
    </v-card>
  </v-hover>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:120px;text-align:center;z-index: 100000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

    <!-- ------------------------------------------------- PasswordModal Starts Here------------------------------------------------------- -->
    <v-dialog
      v-model="PasswordModal"
      persistent
      max-width="290"
      style="z-index:100500"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145)"> </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="rules"
                :type="showPassword ? 'text' : 'password'"
                :error="errorPassword"
                :error-messages="errorPasswordMessage"
                :label="$t('register.password')"
                name="password"
                outlined
                ref="password"
                @click:append="showPassword = !showPassword"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="buttonc"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                text
                @click="PasswordModal = false"
                style="background-color:#FB8C00;color:#FFF"
                small
              >
                {{ $t(`dashboard.Cancel`) }}
              </v-btn>
            </v-col>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="buttono"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                :loading="isLoadingPasswod"
                small
                @click="CheckPassword()"
                style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
              >
                {{ $t(`dashboard.ok`) }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- ------------------------------------------------- PasswordModal Starts Here------------------------------------------------------- -->


<!-- ------------------------------------------------- CustomerLocationModal Start Here------------------------------------------------------- -->
   <v-dialog v-model="StartKMErrorModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">You Entered invalid kilometre</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="StartKMErrorModal=false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteStartDay()">OK</v-btn>
        </v-col>)
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- CustomerLocationModal Ends Here------------------------------------------------------- -->

    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'



  export default {
  components: {

  },
  data() {

    return {
     user : localStorage.getItem("user"),
     timestamp: '',
     day:'',
     RouteName:'',
     RouteObject:[],
     RouteOptions:[],
     IsShowRoute : false,
     SnackbarMessege : '',
     snackbar : '',
     timeout : 2000,
     StartKMErrorModal:false,
     RoleSettings : localStorage.getItem('RoleSettings'),
     HideOdoKM : false,
     ActiveRouteID:-1,
     Loaderdialog : false,
     PasswordModal:false,
     password:'',
    showPassword: false,
     // form error
      error: false,
      errorMessages: '',

      errorProvider: false,
      errorProviderMessages: '',
    // input rules
    rules: {
        required: (value) => (value && Boolean(value)) || 'Required'
      },
      errorPassword:'',
      errorPasswordMessage:"",
     IsVerifyDayStart : false
    }
  },
  created() {
                setInterval(this.getNow, 1000);
            },

  mounted(){
    this.$root.$children[0].scroll=false;
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
      var weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
   const today = new Date();
    this.day = weekday[today.getDay()];
    this.dayStatus = ""
    localStorage.setItem('DayStatus',this.dayStatus)
    this.Reload = localStorage.getItem('Reload')

    this.IsVerifyDayStart = localStorage.getItem('IsVerifyDayStart')
    if(this.IsVerifyDayStart === null)
    {
      this.IsVerifyDayStart = true
    }
    else{
      this.IsVerifyDayStart  = false
    }
    if(this.Reload === 'True')
    {
      localStorage.setItem('Reload',"False")
      location.reload();
    }
    this.GetRoutes()
    if(this.RoleSettings !== null)
    {
      this.RoleSettings = JSON.parse(this.RoleSettings)
    }
    this.HideOdoKM = this.RoleSettings.HideOdoKM
    if(this.HideOdoKM === 'True')
      this.HideOdoKM = true
    else
      this.HideOdoKM = false
    

  },
  methods: {
   getNow: function() {
                    const today = new Date();
                    const date = today.getDate()+'-'+(today.getMonth()+1)+'-'+today.getFullYear();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date +' '+ time;
                    this.timestamp = dateTime;
                },
    CheckIsAlradyStartDay()
    {
           /*  this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time */
            this.Saleperson = localStorage.getItem('salePerson')
            this.Loaderdialog = true
            axios.get(this.bURL + 'user/CheckIsAlradyStartDay?Saleperson='+this.Saleperson )
              .then((response)  =>  {
                this.Loaderdialog = false
                if(response.data === 1)
                {
                   this.PasswordModal = true
                }
                else{
                  this.IsVerifyDayStart = false
                  this.ExecuteStartDay()
                  
                }

              }, (error)  =>  {

              })
    },
    CheckPassword() {
      this.PasswordData = {
        Username: localStorage.getItem("user"),
        Password: this.password,
        VersionCode: 2
      };
      this.isLoadingPasswod = true;
      axios
        .post(this.bURL + "user/AuthenticateDayStartUser", this.PasswordData)
        .then(
          response => {
            if (response.status === 200) {
              localStorage.setItem('IsVerifyDayStart',this.IsVerifyDayStart)
              this.IsVerifyDayStart = false
              this.PasswordModal = false
              this.ExecuteStartDay()
            }
          },
          error => {
            this.isLoadingPasswod = false;
            this.snackbar = true;
            this.SnackbarMessege = this.$t(`menu.Invalidusernameorpassword`);
          }
        );
    },
    StartDay()
    {
     
         this.IsStart = true
          if((this.RouteName === undefined || this.RouteName === '') && this.IsShowRoute === true)
          {
             this.IsStart = false
           this.SnackbarMessege = this.$t(`menu.Pleaseselectroute`)
            this.snackbar = true
            return
          }
         
          if(this.StartKM === undefined && this.HideOdoKM === false)
          {
             this.IsStart = false
            this.SnackbarMessege = 'Please Enter Odo Kilometre'
            this.snackbar = true
            return
          }
          if(this.StartKM !== undefined  && this.HideOdoKM === false)
          {

            this.Username = localStorage.getItem('user')
            this.LastOdoKM = 0;
            axios.get(this.bURL + 'user/GetVehicleLastOdoKMB?Username='+this.Username)
              .then((response)  =>  {
                    this.LastOdoKM = response.data
                    if( parseFloat(this.LastOdoKM) >  parseFloat(this.StartKM))
                    {
                      this.StartKMErrorModal = true
                    }
                    else{
                      this.ExecuteStartDay()
                    }
              }, (error)  =>  {

              })

          }
          else{
              this.ExecuteStartDay()
          }

    },
    ExecuteStartDay()
    {
    if(this.IsVerifyDayStart === true)
    {
            this.CheckIsAlradyStartDay()
            return
    }
      if(this.StartKM === undefined)
      {
        this.StartKM = 0
      }
          /* this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time
            localStorage.setItem('StartTime', this.date +" "+ this.today.getHours() + ":" + this.today.getMinutes())
             */
            localStorage.setItem('StartKM', this.StartKM )
            this.Saleperson = localStorage.getItem('salePerson')
            this.Remarks = this.Remarks? this.Remarks:""
            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            this.Loaderdialog = true

            axios.get(this.bURL + 'user/SetDayStart?Saleperson='+this.Saleperson+'&StartKM='+ this.StartKM +'&ActiveRouteID=' +this.ActiveRouteID + '&StartRemarks=' + this.Remarks)
              .then((response)  =>  {
                  this.GetLinkedGodowns()

              }, (error)  =>  {

              })
    },
    Skip()
    {
       this.dayStatus = ''
       localStorage.setItem('DayStatus',this.dayStatus)
       this.$router.push('/dashboard/dashboard')
        localStorage.setItem('Reload',"True")
    },
    GetRoutes()
    {
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
      if(this.Settings.IsRouteMandatory === 'True')
      {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.Username = localStorage.getItem('user')
       axios.get(this.bURL + 'Route/LoadLinkedRoutes?Username='+this.Username)
              .then((response)  =>  {
                this.RouteObject = response.data
                 localStorage.setItem('LinkedRoutes',JSON.stringify(this.RouteObject))
                 if(this.RouteObject.length === 1)
                 {
                   this.IsShowRoute = false
                   this.ActiveRouteID = this.RouteObject[0].RouteID
                   this.RouteName = this.RouteObject[0].RouteName
                 }
                 else{
                   this.IsShowRoute = true;
                    for(this.i=0;this.i<this.RouteObject.length;this.i++)
                    {
                      this.RouteOptions.push(this.RouteObject[this.i].RouteName)
                    }
                 }
              }, (error)  =>  {

              })
      }
      else{
        this.RouteObject = []
        localStorage.setItem('LinkedRoutes',JSON.stringify(this.RouteObject))
      }
    },
    SetActiveRoute(RouteName)
    {
        for(this.i=0;this.i<this.RouteObject.length;this.i++)
        {
          if(this.RouteObject[this.i].RouteName === RouteName)
          {
            //localStorage.setItem('ActiveRouteId',this.RouteObject[this.i].RouteID)
            this.ActiveRouteID = this.RouteObject[this.i].RouteID
            break

          }

        }
    },
     GetCustomers()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       //this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      axios.get(this.bURL + 'Customer/LoadLinkedCustomers?RouteId='+this.RouteID)
        .then((response)  =>  {
          localStorage.setItem('Customers', JSON.stringify(response.data))
           this.GetCustomersDetailed();
          
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetCustomersDetailed()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       //this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
       this.DateFrom =  '1899-01-01T00:00:00'
      this.DateTo = new Date().toISOString().substr(0, 10)
      axios.get(this.bURL + 'Customer/LoadLinkedCustomersDetailed?RouteID='+this.RouteID +"&DateFrom=" + this.DateFrom + "&DateTo=" +this.DateTo)
        .then((response)  =>  {
          this.Loaderdialog = false
          localStorage.setItem('ActiveRouteId',this.ActiveRouteID)
          localStorage.setItem('CustomerObject', JSON.stringify(response.data))
          this.dayStatus = 'Started'
          localStorage.setItem('DayStatus',this.dayStatus)
          localStorage.removeItem('IsVerifyDayStart')
          this.$router.push('/dashboard/dashboard')
          localStorage.setItem('Reload',"True")
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
       this.BranchCode = this.BranchCode?this.BranchCode:''
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       //this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
           this.BranchCode = ''
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))
          this.GetCustomers();
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
   
  }
}
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>
<style scoped>
 ::v-deep .v-snack__wrapper {
        min-width: 0px;
    }
</style>
