<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Open Dialog
        </v-btn>
      </template>
      <v-card  style="padding-top:50px">
        <v-card-text><v-expansion-panels >
    <v-expansion-panel
      v-for="(item,i) in 5"
      :key="i"
    >
      <v-expansion-panel-header>
      <v-row no-gutters>

      <v-col
        cols="6"
        sm="6"
      >
     <label>No:39</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >20-12-2020 </label>&nbsp;&nbsp;&nbsp;<input id="checkid"  type="checkbox" value="test" />
      </v-col>
         <v-col
        cols="8"
        sm="8"
      >

      <label>A1 Washingpowder 25kg </label>
      </v-col>
      <v-col
        cols="4"
        sm="4"
        style="text-align: right;"
      >
         <label >10</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
      >
      <label>Unit </label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-top: 4px;"
      >
         <label >Bag</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
      <label >Bill Quantity</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >10</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >Amount</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >5000.00</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >Rate</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >500.00</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >Amount</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >5000.00</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >Delivery Date</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >2021-05-15</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >LPO_NO</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >AK Chanakyas</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
     <label >Item Description</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >VXC</label>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  <div style="padding-top:25px">
   <v-select
          :items="items"
          label="Godown"
          dense
        ></v-select>
        </div>
  </v-card-text>

        <v-card-actions>
         <v-btn small style=" background-color: rgb(255 23 68);color: rgb(255 255 255);" >Cancel</v-btn>
          <v-spacer></v-spacer>
         <v-btn small style=" background-color: #2E7D32;color: rgb(255 255 255);">Select All</v-btn>
          <v-spacer></v-spacer>
         <v-btn small style=" background-color: #FFB300;color: rgb(255 255 255);">Deselect All</v-btn>
          <v-spacer></v-spacer>
         <v-btn small color="primary">Ok</v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import fab from 'vue-fab'
export default {
   components: {fab},
  data () {
    return {
      dialog: false,
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearOrder',
          icon: 'cached',
          tooltip:'Clear'
        },

        {
          name: 'DeleteOrder',
          icon: 'delete',
          tooltip:'Delete'
        },
        {
          name: 'PrintOrder',
          icon: 'print',
          tooltip:'Print'
        },
          {
          name: 'SaveOrder',
          icon: 'save',
          tooltip:'Save'
        },
        {
          name: 'AddItem',
          icon: 'note_add',
          tooltip:'Add item'
        },
      ]
    },
    }
  }
}
</script>
<style  scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.v-expansion-panel-content{
   /* padding: 0 24px 2px; */
  background-color:rgb(0 53 94);
  color: #FFF;
}

</style>
