<template>
 <v-card class="d-flex flex-grow-1 "   >
  <v-row>

<v-col class="text-center">
  <div style="padding-bottom:20px">
  <h4 class="text-center">Order</h4>
  <!-- <span style="width:100%;font-weight:bold;" class="text-center">Collection Against Sales</span> <br> -->
  <!-- <span style="width:100%;color:#FFF" class="text-center">{{FromDate}} - {{ToDate}}</span> -->
  <span style="width:100%;" class="text-center">10-12-2020 - 28-04-2021</span>
  </div>
      <apexchart
      type="donut"
      width="480"
      fontcolor="#FFF"
      :options="chartOptions"
      :series="OrderSeries"
    ></apexchart>
    <v-row style="padding:22px; color:#000;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;">
    Pending Orders
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;">
    {{PendingOrders}}
  </v-col>
  <div style="width:100%; background:#7367F0; height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Delivered Orders
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{DeliveredOrders}}
  </v-col>
  <div style="width:100%; background:#87ceeb; height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
   All Orders
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{AllOrders}}
  </v-col>
  <div style="width:100%; background:#225566; height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Pending Order Amount
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{PendingOrderAmount}}
  </v-col>
  <div style="width:100%; background:#EA5455; height:4px;"></div>

</v-row>

<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Delivered Order Amount
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{DeliveredOrderAmount}}
  </v-col>
  <div style="width:100%; background:#28C76F; height:4px;"></div>

</v-row>

<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    All Pending Order
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{AllPendingOrders}}
  </v-col>
  <div style="width:100%; background:#FF9F43; height:4px;"></div>

</v-row>

</v-col>
    </v-row>
 </v-card>
</template>

<script>

import axios from 'axios';
export default {
  data() {
    return {
      showChart: false,
      series: [44, 55,],
      OrderSeries : [],
      chartOptions: {

          colors: ['#7367F0', '#87ceeb'],
color:'#FFF',
        labels: ['Pending Order', 'Delivered Order'],
        legend: {
               position: 'bottom',
      offsetx: 0,


            },
        chart: {

          type: 'donut'
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 350
            },
            legend: {
              position: 'bottom',
               offsetY: 0,
            }
          }
        }],
            plotOptions: {
            pie: {
              color:'#FFF',
                expandOnClick: false,
                donut: {

                    labels: {
                        show: true,
                        name: {
                            show: true,
                            fontSize: '25px',
                            offsetY: -5
                        },
                        value: {
                            show: true,
                            fontSize: '22px',
                            color:' #263238',
                            offsetY: +5,
                            formatter: function (val) {
                                return val
                            }
                        },
                        total: {
                            show: true,
                            label: 'Total',
                            color: '#004D40',
                            formatter: function (w) {
                                return w.globals.seriesTotals.reduce((a, b) => {
                                    return a + b
                                }, 0)
                            }
                        }
                    }
                }
            }
        }
      },

      userType:'',
       LinkedSalespersons :JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
       FromDate :'',
       ToDate : '',
       Today : '',
       UserName : localStorage.getItem('user'),
       
       PendingOrders : 0,
      DeliveredOrders : 0,
      AllOrders : 0,
      AllPendingOrders : 0,
      PendingOrderAmount : 0,
      DeliveredOrderAmount : 0,
      CurrentOrderSecionPerc : 0,
    }
  },
  mounted() {
    this.showChart = true

    this.date = new Date();
    this.getonload(this.date )
    this.GetDashBoardData()
  },
  methods:{
     getonload(dt){

        this.date = new Date(dt);
        this.firstDay = new Date(this.date.getFullYear(), this.date.getMonth(), 1);
        this.lastDay = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 0);
        this.convert(this.firstDay);
        this.convert1(this.lastDay);
    },
    convert(str) {
        this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.frst = [this.date.getFullYear(),this. mnth, this.day].join("-").replace(/-/g, ".");
  this.Today_ = [this.date.getFullYear(), this.mnth, this.day].join("-");
  this.FromDate = this.frst;
  this.Today = this.Today_ ;

},
convert1(str) {
  this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.lst =  [this.date.getFullYear(), this.mnth, this.day].join("-").replace(/-/g, ".");
  this.ToDate = this.lst;
  },
    getavailableForms()
    {
      axios.get ( this.bURL + 'Common/GetAvailableForms/' + this.userType )
        .then((response)  =>  {
          console.log(response)
       console.log('availableForms4check '+response.data);
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetDashBoardData()
    {
      this.Salespersons =  this.GetsWithComma(this.LinkedSalespersons)
        axios.get ( this.$bURL + "common/getdashboard?SalesPersons="+this.Salespersons+"&DateFrom="+this.FromDate+"&DateTo="+this.ToDate+"&Username="+this.UserName )
        .then((response)  =>  {
          this.PercentageCalculation(response.data)
        }, (error)  =>  {
          console.log(error)
        })

    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
     PercentageCalculation(data)
    {
      
      /* ******************Order Section *******************************************/
      this.PendingOrderAmount = parseFloat(data.PendingOrderAmount)
      this.AllPendingOrderAmount = parseFloat(data.AllPendingOrderAmount)
      this.DeliveredOrderAmount = this.AllPendingOrderAmount - this.PendingOrderAmount
      this.PendingOrderAmountPerc = (this.PendingOrderAmount / this.AllPendingOrderAmount) * 100
       this.flag = isNaN(this.PendingOrderAmountPerc)
      if(this.flag)
      {
        this.PendingOrderAmountPerc = 0
      }
      if(this.PendingOrderAmountPerc > 100)
      {
        this.PendingOrderAmountPerc = 100
      }
      else if(this.PendingOrderAmountPerc <0)
      {
        this.PendingOrderAmountPerc = 0
      }

      this.DeliveredOrderAmountPerc = (this.DeliveredOrderAmount / this.AllPendingOrderAmount) *100
       this.flag = isNaN(this.DeliveredOrderAmountPerc)
      if(this.flag)
      {
        this.DeliveredOrderAmountPerc = 0
      }
      if(this.DeliveredOrderAmountPerc > 100)
      {
        this.DeliveredOrderAmountPerc = 100
      }
      else if(this.DeliveredOrderAmountPerc <0)
      {
        this.DeliveredOrderAmountPerc = 0
      }


      this.PendingOrders = parseFloat(data.PendingOrders)
      this.AllOrders = parseFloat(data.TotalOrders)
      this.DeliveredOrders = this.AllOrders - this.PendingOrders
      this.AllPendingOrders = parseFloat(data.AllPendingOrders)

      this.OrderSeries[0] = this.PendingOrderAmountPerc
      this.OrderSeries[1] = this.DeliveredOrderAmountPerc
      this.CurrentOrderSecionPerc = parseFloat(this.PendingOrderAmountPerc).toFixed(1)

      /* ******************Order Section *******************************************/




    },
  }
}
</script>
