<template>
 <v-card class="d-flex flex-grow-1  read"   >
  <v-row>

<v-col class="text-center">
  <div style="padding-bottom:20px">
  <h4 class="text-center">Receipt</h4>
  <!-- <span style="width:100%;font-weight:bold;" class="text-center">Collection Against Sales</span> <br> -->
  <!-- <span style="width:100%;color:#FFF" class="text-center">{{FromDate}} - {{ToDate}}</span> -->
  <span style="width:100%;" class="text-center">10-12-2020 - 28-04-2021</span>
  </div>
      <apexchart
      type="donut"
      width="480"
      fontcolor="#FFF"
      :options="chartOptions"
      :series="ReceiptSeries"
    ></apexchart>
   <v-row style="padding:22px; color:#000;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;">
    Cash
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;">
    {{ReceiptCash}}
  </v-col>
  <div style="width:100%; background:rgb(0 227 150); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Cheque
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{ReceiptCheque}}
  </v-col>
  <div style="width:100%; background:rgb(0 143 251); height:4px;"></div>

</v-row>
<v-row style="padding:22px; color:#000;padding-top:0px;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
   TotalReceipt
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{ReceiptTotal}}
  </v-col>
  <div style="width:100%; background:#225566; height:4px;"></div>

</v-row>

</v-col>
    </v-row>
 </v-card>
</template>

<script>

import axios from 'axios';
export default {
  data() {
    return {
      showChart: false,
      series: [44, 55,],
      ReceiptSeries:[],
      chartOptions: {

          colors: ['#00E396', '#008FFB'],
        labels: ['Cash', 'Cheque'],
        legend: {
               position: 'bottom',
      offsetx: 0,


            },
        chart: {

          type: 'donut'
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 350
            },
            legend: {
              position: 'bottom',
               offsetY: 0,
            }
          }
        }],
            plotOptions: {
            pie: {
              color:'#FFF',
                expandOnClick: false,
                donut: {

                    labels: {
                        show: true,
                        name: {
                            show: true,
                            fontSize: '25px',
                            offsetY: -5
                        },
                        value: {
                            show: true,
                            fontSize: '22px',
                            color:' #263238',
                            offsetY: +5,
                            formatter: function (val) {
                                return val
                            }
                        },
                        total: {
                            show: true,
                            label: 'Total',
                            color: '#004D40',
                            formatter: function (w) {
                                return w.globals.seriesTotals.reduce((a, b) => {
                                    return a + b
                                }, 0)
                            }
                        }
                    }
                }
            }
        }
      },
       userType:'',
       LinkedSalespersons :JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
       FromDate :'',
       ToDate : '',
       Today : '',
       UserName : localStorage.getItem('user'),

      ReceiptCash : 0,
      ReceiptCheque : 0,
      ReceiptTotal : 0,
    }
  },
 mounted() {
    this.showChart = true

    this.date = new Date();
    this.getonload(this.date )
    this.GetDashBoardData()
  },
  methods:{
     getonload(dt){

        this.date = new Date(dt);
        this.firstDay = new Date(this.date.getFullYear(), this.date.getMonth(), 1);
        this.lastDay = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 0);
        this.convert(this.firstDay);
        this.convert1(this.lastDay);
    },
    convert(str) {
        this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.frst = [this.date.getFullYear(),this. mnth, this.day].join("-").replace(/-/g, ".");
  this.Today_ = [this.date.getFullYear(), this.mnth, this.day].join("-");
  this.FromDate = this.frst;
  this.Today = this.Today_ ;

},
convert1(str) {
  this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.lst =  [this.date.getFullYear(), this.mnth, this.day].join("-").replace(/-/g, ".");
  this.ToDate = this.lst;
  },
    getavailableForms()
    {
      axios.get ( this.bURL + 'Common/GetAvailableForms/' + this.userType )
        .then((response)  =>  {
       console.log('availableForms4check '+response.data);
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetDashBoardData()
    {
      this.Salespersons =  this.GetsWithComma(this.LinkedSalespersons)
        axios.get ( this.$bURL + "common/getdashboard?SalesPersons="+this.Salespersons+"&DateFrom="+this.FromDate+"&DateTo="+this.ToDate+"&Username="+this.UserName )
        .then((response)  =>  {
          this.PercentageCalculation(response.data)
        }, (error)  =>  {
          console.log(error)
        })

    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
     PercentageCalculation(data)
    {
      /* ******************Receipt Section *******************************************/
      this.ReceiptCash = parseFloat(data.ReceiptCash)
      this.ReceiptCheque = parseFloat(data.ReceiptCheque)
      this.ReceiptTotal =  parseFloat(data.ReceiptTotal)
      this.ReceiptCashPerc = (this.ReceiptCash / this.ReceiptTotal) * 100
       this.flag = isNaN(this.ReceiptCashPerc)
      if(this.flag)
      {
        this.ReceiptCashPerc = 0
      }
      if(this.ReceiptCashPerc > 100)
      {
        this.ReceiptCashPerc = 100
      }
      else if(this.ReceiptCashPerc <0)
      {
        this.ReceiptCashPerc = 0
      }

      this.ReceiptChequePerc = (this.ReceiptCheque / this.ReceiptTotal) *100
      this.flag = isNaN(this.ReceiptChequePerc)
      if(this.flag)
      {
        this.ReceiptChequePerc = 0
      }
      if(this.ReceiptChequePerc > 100)
      {
        this.ReceiptChequePerc = 100
      }
      else if(this.ReceiptChequePerc <0)
      {
        this.ReceiptChequePerc = 0
      }


      this.ReceiptSeries[0] = this.ReceiptCashPerc
      this.ReceiptSeries[1] = this.ReceiptChequePerc
      this.CurrentReceiptSecionPerc =parseFloat(this.ReceiptCashPerc).toFixed(1)

       this.CashInHand = data.CashInHand
        this.CashInAllHand = data.SalesPersonCash
      /* ******************Receipt Section *******************************************/


    },
  }
}
</script>
<style scoped>
@media only screen and (min-width: 1025px) {
        .read {
            height: 85px;
        }
    }
</style>
