<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
       <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >
   <v-expansion-panels>
    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header v-show="copm" class="headernew"   style="text=align:center !important;min-height: 20px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">Order Form</b>
      </v-col>
        </v-expansion-panel-header>
      <v-expansion-panel-content style=" padding: 0px !important;">
         <v-list-item three-line  style=" padding: 0px !important;">
      <v-list-item-content style=" padding: 0px !important;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
         <b> Linkway Software solutions</b><br>
         <b style="font-size: 10px !important;">
           Thrissur - Kunnamkulam Rd,<br>
           Changaramkulam, Kerala<br>
           679575, India
         </b>

        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
        tile
        size="80"
        color="grey"
      >
      <img  alt="Avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW13l5WaCdaAI4weqYimUJyc01QAwJihWyXg&usqp=CAU" >
      </v-list-item-avatar>
    </v-list-item>
         </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
     <v-list-item three-line>
      <v-list-item-content>

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
         <b>Bill To</b><br>
         <b style="font-size: 10px !important;">
           Ashik Sam A,<br>
           Palakkad, Kerala<br>
           678001, India
         </b>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>
      <v-list-item-content>


      </v-list-item-content>

      <v-list-item-content class="text-right" style="float:right;">

        <v-list-item-title class="headline mb-1 comp1 text-left" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
         <b style="font-size: 12px !important;">Order# INV0072</b><br>
         <b style="font-size: 10px !important;">
           Date : 26/03/2021<br>
           Due : 12/03/2021

         </b>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>


    </v-list-item>
     <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 5px; background: #343a402e;">
      <v-col cols="1" sm="1">
      No
      </v-col>
      <v-col cols="4" sm="4" >
       Particulars
      </v-col>
      <v-col cols="3" sm="3">
       Quantity
      </v-col>
      <v-col cols="2" sm="2" class="text-right">
       Rate
      </v-col>
      <v-col cols="2" sm="2" class="text-right">
       Amount
      </v-col>
    </v-row>

    <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 5px; max-height:250px; overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
    <v-expansion-panel v-for="(item,i) in items"  :key="i" class="ma-0" v-touch:tap="touchHandler">
       <!-- ----- -->
      <v-expansion-panel-header expand-icon="" style="min-height: 35px !important;">
         <v-col cols="1" sm="1" style="padding: 0px !important; text-align: center !important;">
      {{item.no}}
      </v-col>
      <v-col cols="4" sm="4" class="text-left"  style="padding: 0px !important; text-align: center !important;">
       {{item.Particulars}}
      </v-col>
      <v-col cols="3" sm="3" style="padding: 0px !important; text-align: center !important;">
       {{item.Quantity}}
      </v-col>
      <v-col cols="2" sm="2" style="padding: 0px !important;padding-right: 2px !important; text-align: right !important;">
       {{item.Rate}}
      </v-col>
      <v-col cols="2" sm="2" style="padding: 0px !important; text-align: right !important;">
      {{item.Amount}}
      <!-- @click="open_order" -->
      </v-col>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">
       مقبلاتمقبلات مقبلات</b>
      </v-col>
       <hr style="margin-top: 0rem; margin-bottom: 5px;">
       <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 0px;">
      <v-col cols="4" sm="3">
      Barcode<br>
      11223356897
      </v-col>
      <v-col cols="4" sm="2" >
       Item Code<br>
       124586
      </v-col>
       <v-col cols="2" sm="2" class="text-right">
       Discount<br>
       3 %
      </v-col>
      <v-col cols="2" sm="2" class="text-right">
       Tax<br>
       15%
      </v-col>
       </v-row>

       <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 0px;">
      <v-col cols="4" sm="3">
      Tax Amount<br>
      97
      </v-col>
      <v-col cols="4" sm="2" >
       Discount Amount<br>
       12
      </v-col>

      <v-col cols="2" sm="2" class="text-right">
        <v-icon style="color:#009900;padding:5px;" @click="open_order_pos(i)"> mdi-pencil</v-icon>
      </v-col>
      <v-col cols="2" sm="2" class="text-right">
       <v-icon style="color:red;padding:5px;"> mdi-delete</v-icon>
      </v-col>
       </v-row>

       <!-- // -->
       </v-expansion-panel-content>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>

  </v-card>
    <v-list-item three-line style="padding-right: 5px;">
      <v-list-item-content style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 15px !important;padding-left:0px;padding-right:0px;">
         <b>
             <span  @click="open_order" style="padding: 5px; color: #009900;"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    </b><br>
         <b style="font-size: 10px !important;">

         </b>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-content class="text-right" style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
      <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
     SubTotal :
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
      <b style="color:#000; ">  {{sumOfTransactions}}</b>
      </v-col>

           </v-row>
        <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
      Tax (5%) :
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
      <b style="color:#000; ">  {{Tax}} </b>
      </v-col>
       </v-row>
       <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
      Net Total
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
     <b style="color:#000; ">   {{NetTtl}} </b>
      </v-col>
       </v-row>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>


    </v-list-item>
     <v-list-item three-line style="padding-top:0px;" hidden>
      <v-list-item-content style="padding-top:0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 10px !important;padding-left:0px;padding-right:0px;">
         <b>Payment Instructions.</b><br>
         <b style="font-size: 10px !important;">
          By Check
         </b>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-content class="text-right">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
         <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
      <b>Total :</b>
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
       {{sumOfTransactions}}
      </v-col>

           </v-row>
        <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
      <b>Paid (27/03/2021):</b>
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
       12
      </v-col>
       </v-row>
       <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
      <b>Balance :</b>
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
       {{Tax}}
      </v-col>
       </v-row>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>


    </v-list-item>
    <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 5px; ">
      <v-col cols="4" sm="4" @click="open(1)">
      Sales Person<br>

        <img :src="salessign"  class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
        <label>{{salename}}</label>
      </v-col>
      <v-col cols="4" sm="4" @click="open(2)">
       verified by <br>

         <img :src="verisign" class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
          <label >{{veriname}}</label>
      </v-col>
      <v-col cols="4" sm="4" @click="open(3)">
       Customer<br>

         <img :src="customsign" class="mx-auto d-block" style="width:50%; border: 0px solid #dee2e6;">
          <label>{{custname}}</label>
      </v-col>
 </v-row>
  </v-container>

  <vue-bottom-sheet ref="myBottomSheet">
    <div style="padding:10px; border:1px solid #000;">
<!-- //here one -->
<label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
	  <vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'300px'" :disabled="disabled" ></vueSignature>
		<vueSignature ref="signature1" :sigOption="option"></vueSignature><br>
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>
		<button @click="clear" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="save" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    </div>
  </vue-bottom-sheet>

  <fab

   :position="position"
   :bg-color="bgColor"
   :actions="fabActions"
   @item="item"
   @cache="cache"
   v-show="fabsh"
   :main-icon="mainicon"
   :icon-size="iconsize"
>

</fab>

   <v-dialog v-model="orderModal" fullscreen hide-overlay transition="dialog-center-transition">
      <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>
     <orderform/>
  </v-dialog>


  <!-- //-------------------- -->

   <v-dialog v-model="editModal"  hide-overlay transition="dialog-bottom-transition" style="height:450px;">

     <v-card>
        <v-card-title class="headline">{{ $t(`menu.ChangepositionofItem`) }}</v-card-title>
        <v-card-text>

             <v-row>
              <v-col cols="12" sm="12">
                 <!-- v-show="posindex !=0 " -->
                 <v-radio-group v-model="posside" row @change="calc">
                  <v-radio label="up" value="0" ></v-radio>
                  <v-radio label="down" value="1"></v-radio>
         </v-radio-group>
              </v-col>
             </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="editModal = false">Cancel</v-btn>
          <v-btn color="green darken-1" text @click="move(posindex, new_index)">Ok</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import Sign from './digitalSign.vue'
import orderform from '../Vouchers/OrderFormOld'
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
import VueHtmlToPaper from 'vue-html-to-paper';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import fab from 'vue-fab'
import vueSignature from "vue-signature"
import Vue2TouchEvents from 'vue2-touch-events'

Vue.use(Vue2TouchEvents)
// or using the defaults with no stylesheet
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css'
  ]
}

Vue.use(VueHtmlToPaper,options);

export default {
     components: { vSelect ,VueBottomSheet,Sign,fab,vueSignature,orderform},
  data() {
    return {
      Title:'',
      copm:true,
      signtype:'',
       mainicon: 'menu',
         bgColor: '#778899',
         position: 'bottom-right',
          iconsize: 'small',
         fabActions: [
             {
                  name: 'cache',
                  icon: 'print',
              },
               {
                  name: 'item',
                  icon: 'note_add'
              },


          ],
         img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6qoa2_qO-46WAuod6MA2kYphFQkc1aLvGA&usqp=CAU',
         total:'412.00',
         NetTtl:'145825.00',
         Tax:'12.00',

         items: [
        {
         no: '1',
         Particulars:'sunlight',
         Quantity :'10 pcs',
         Rate :'10.000',
         Amount :'12.023',
        },
        {
         no: '2',
         Particulars:'sunlight Soap Bar',
         Quantity :'2 pcs',
         Rate :'10.330',
         Amount :'20.066',
        },
         {
         no: '3',
         Particulars:'Soap',
         Quantity :'3 pcs',
         Rate :'100000.330',
         Amount :'12000000.661',
        },

         ],
         ttl:[],
         output: null,
         salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      orderModal:false,
      editModal:false,
      fabsh:true,
      posindex:'',
      new_index:0
    }
  },
  mounted(){
    // this.print()
     if(localStorage.getItem("salessign")!== null)
     {
          this.salessign = localStorage.getItem("salessign")
          this.salename = localStorage.getItem("salename")

     }
      if(localStorage.getItem("verisign")!== null)
     {
          this.verisign = localStorage.getItem("verisign")
            this.veriname = localStorage.getItem("veriname")

     }
      if(localStorage.getItem("customsign")!== null)
     {
          this.customsign = localStorage.getItem("customsign")
            this.custname = localStorage.getItem("custname")

     }

   },
  computed: {
    sumOfTransactions() {

     this.a = JSON.stringify(this.items)
     let total1 = [];
     Object.entries(JSON.parse(this.a)).forEach(([key, val]) => {
      total1.push(val.Amount) // the value of the current key.
     });
    return total1.reduce((a, b) => parseFloat(a)+parseFloat(b) , 0)

    }
   },
  methods: {
    calc(){
      if(this.posside == 0)
      {
        this.new_index = this.posindex++;

      }else{
        this.new_index = this.posindex--;
      }

    },
    touchHandler (direction) {
            console.log(direction)  // May be left / right / top / bottom

    },
    open_order(){
       this.orderModal =true
       this.fabsh = false

    },
     print () {
      // Pass the element id here
      // this.$htmlToPaper('printMe');
     var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
    },
    open(a) {
      if(a==1){
    this.Title =this.$t(`menu.SalesManSignature`)
      }
      if(a==2){
     this.Title =this.$t(`menu.VerifySignature`)
      }
      if(a==3){
     this.Title =this.$t(`menu.CustomerSignature`)
      }

      this.signtype = a
      this.$refs.myBottomSheet.open();
    },
    close() {
      this.$refs.myBottomSheet.close();
    },
    item(){
     this.open_order()
    },
     cache(){
       this.copm =false
          var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
      },
      open_order_pos(index){

            this.posindex = index
            this.editModal =true
      },
  ///Move
  move( old_index, new_index) {
    console.log("a"+old_index+" b"+new_index)
    while (old_index < 0) {
        old_index += this.items.length;
    }
    while (new_index < 0) {
        new_index += this.items.length;
    }
    if (new_index >= this.items.length) {
        var k = new_index - this.items.length;
        while ((k--) + 1) {
            arr.push(undefined);
        }
    }
     this.items.splice(new_index, 0, this.items.splice(old_index, 1)[0]);
    this.editModal = false
   return this.items;
},
//Move ends


      save(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval

      }
       if(this.signtype == 2)
      {
        this.verisign = svg
        localStorage.setItem('verisign',svg)
         localStorage.setItem('veriname',this.nameval)
         this.veriname  = this.nameval

      }
       if(this.signtype == 3)
      {

        this.customsign = svg
         localStorage.setItem('customsign',svg)
          localStorage.setItem('custname',this.nameval)
          this.custname  = this.nameval

      }

       this.$refs.myBottomSheet.close();

		},
		clear(){
			var _this = this;
			_this.$refs.signature.clear();
		},
  }
}
</script>
<style lang="css" scoped>
.v-expansion-panel-content__wrap {
    padding: 0px !important;
    flex: 1 1 auto;
    max-width: 100%;
}
</style>
<style scoped>
.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

.v-application--is-ltr .v-expansion-panel-header {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}
.v-icon {

    font-size: 14px !important;
}

</style>
