<template>
 <v-card class="d-flex flex-grow-1 primary darken-4" dark  >
  <v-row>

<v-col class="text-center">
  <div style="padding-bottom:20px">
  <h4 class="text-center"> Sales</h4>
  <!-- <span style="width:100%;font-weight:bold;" class="text-center">Collection Against Sales</span> <br> -->
  <!-- <span style="width:100%;color:#FFF" class="text-center">{{FromDate}} - {{ToDate}}</span> -->
  <span style="width:100%;" class="text-center">10-12-2020 - 28-04-2021</span>
  </div>
      <apexchart
      type="donut"
      width="480"
      fontcolor="#FFF"
      :options="chartOptions"
      :series="SalesSeries"
    ></apexchart>
    <v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;">
    Monthly Target
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;">
    {{MonthlyTarget}}
  </v-col>
  <div style="width:100%;background:#80DEEA;height: 4px;"></div>

</v-row>
<v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Pending Target
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{PendingSalesAmount}}
  </v-col>
  <div style="width:100%;background: rgb(0 150 199) ;height: 4px;"></div>

</v-row>
<v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Sales Amount
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{SalesAmount}}
  </v-col>
  <div style="width:100%;background: #06D2A0;height: 4px;"></div>

</v-row>
<v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    No of Sales
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{NoOfSale}}
  </v-col>
  <div style="width:100%;background:#8D6E63;height: 4px;"></div>

</v-row>

<v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Sales Return
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{SalesReturn}}
  </v-col>
  <div style="width:100%;background: #CDDC39;height: 4px;"></div>

</v-row>

<v-row style=" padding-top:22px;padding-right:30px;padding-left:22px;padding-bottom:22px color:#FFF;">
  <v-col cols="8" class="text-left" style="padding-bottom:0px;padding-left:0px;padding-top:0px;">
    Sales + Pending Order
  </v-col>
  <v-col cols="4"  class="text-right" style="padding-bottom:0px;padding-right:0px;padding-top:0px;">
    {{SalesWithPendingOrder}}
  </v-col>
  <div style="width:100%;background: #FFE0B2;height: 4px;"></div>

</v-row>

</v-col>
    </v-row>
 </v-card>
</template>

<script>

import axios from 'axios';
export default {
  data() {
    return {
      showChart: false,
      series: [44, 55,],
      SalesSeries : [],
      chartOptions: {
        colors: ['#0096C7', '#06D2A0'],
        color:'#FFF',
        labels: ['PendingTarget', 'SalesAmount'],
        legend: {
               position: 'bottom',
               offsetx: 0,},
        chart: {
          foreColor: '#FFF',
          type: 'donut'
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 350
            },
            legend: {
              position: 'bottom',
               offsetY: 0,
            }
          }
        }],
        plotOptions: {
          pie: {
            color:'#FFF',
            expandOnClick: false,
            donut: {

              labels: {
              show: true,
              name: {
              show: true,
              fontSize: '25px',
              offsetY: -5
              },
              value: {
              show: true,
              fontSize: '22px',
              color:' #FFF',
              offsetY: +5,
              formatter: function (val) {
              return val
              }
              },
              total: {
                show: true,
                label: 'Total',
                color: '#FFF',
                formatter: function (w) {
                  return w.globals.seriesTotals.reduce((a, b) => {
                  return a + b
                  }, 0)
                }
            }
          }
          }
          }
        }
      },

      userType:'',
       LinkedSalespersons :JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
       FromDate :'',
       ToDate : '',
       Today : '',
       UserName : localStorage.getItem('user'),

      SalesAmount : 0,
      MonthlyTarget : 0,
      PendingSalesAmount : 0,
      SalesAmountPerc : 0,
      NoOfSale : 0,
      SalesReturn : 0,
      SalesWithPendingOrder  : 0,
      CurrentSaleSecionPerc : 0,
    }
  },
  mounted() {
    this.showChart = true
    
    this.date = new Date();
    this.getonload(this.date )
    this.GetDashBoardData()
  },
  methods:{
     getonload(dt){

        this.date = new Date(dt);
        this.firstDay = new Date(this.date.getFullYear(), this.date.getMonth(), 1);
        this.lastDay = new Date(this.date.getFullYear(), this.date.getMonth() + 1, 0);
        this.convert(this.firstDay);
        this.convert1(this.lastDay);
    },
    convert(str) {
        this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.frst = [this.date.getFullYear(),this. mnth, this.day].join("-").replace(/-/g, ".");
  this.Today_ = [this.date.getFullYear(), this.mnth, this.day].join("-");
  this.FromDate = this.frst;
  this.Today = this.Today_ ;

},
convert1(str) {
  this.date = new Date(str),
    this.mnth = ("0" + (this.date.getMonth() + 1)).slice(-2),
    this.day = ("0" + this.date.getDate()).slice(-2);
  this.lst =  [this.date.getFullYear(), this.mnth, this.day].join("-").replace(/-/g, ".");
  this.ToDate = this.lst;
  },
    getavailableForms()
    {
      axios.get ( this.bURL + 'Common/GetAvailableForms/' + this.userType )
        .then((response)  =>  {
          console.log(response)
       console.log('availableForms4check '+response.data);
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetDashBoardData()
    {
      this.Salespersons =  this.GetsWithComma(this.LinkedSalespersons)
        axios.get ( this.$bURL + "common/getdashboard?SalesPersons="+this.Salespersons+"&DateFrom="+this.FromDate+"&DateTo="+this.ToDate+"&Username="+this.UserName )
        .then((response)  =>  {
          this.PercentageCalculation(response.data)
        }, (error)  =>  {
          console.log(error)
        })

    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
     PercentageCalculation(data)
    {
      /* ******************Sales Section *******************************************/
      this.SalesAmount = parseFloat(data.SalesAmount)
      this.MonthlyTarget = parseFloat(data.MonthlyTarget)
      this.PendingSalesAmount = this.MonthlyTarget - this.SalesAmount
      this.SalesAmountPerc = (this.SalesAmount / this.MonthlyTarget) * 100
      this.flag = isNaN(this.SalesAmountPerc)
      if(this.flag)
      {
        this.SalesAmountPerc = 0
      }
      if(this.SalesAmountPerc > 100)
      {
        this.SalesAmountPerc = 100
      }
      else if(this.SalesAmountPerc <0)
      {
        this.SalesAmountPerc = 0
      }
      this.PendingSalesAmountPerc = (this.PendingSalesAmount / this.MonthlyTarget) *100
      this.flag = isNaN(this.PendingSalesAmountPerc)
      if(this.flag)
      {
        this.PendingSalesAmountPerc = 0
      }

      if(this.PendingSalesAmountPerc > 100)
      {
        this.PendingSalesAmountPerc = 100
      }
      else if(this.PendingSalesAmountPerc <0)
      {
        this.PendingSalesAmountPerc = 0
      }
      this.NoOfSale = parseFloat(data.SalesCount),
      this.SalesReturn  = parseFloat(data.SalesReturnAmount),
      this.SalesWithPendingOrder  = parseFloat(data.SalesAmount) + parseFloat(data.PendingOrderAmount)

      this.SalesSeries[0] = this.PendingSalesAmountPerc
      this.SalesSeries[1] = this.SalesAmountPerc
      this.CurrentSaleSecionPerc = parseFloat(this.SalesAmountPerc).toFixed(1)

      /* ******************Sales Section *******************************************/


    },
  }
  
}
</script>
