<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />


        </v-col>

      </v-row>

    </v-dialog>

    <v-card >
      <!-- <v-row>
        <v-col cols="12" md="12" xl="12"
          style="padding-top:20px;padding-bottom:0px;margin-bottom: -18px;padding-right:0px;padding-right:22px;padding-left:22px ">
          <v-autocomplete :items="GodownOptions" v-model="GodownSearch" solo rounded dense
            placeholder="Service Task Search" @change="GetGodown($event)">
             <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearServiceTask">mdi-plus-circle</v-icon>
  </template>

          </v-autocomplete>
        </v-col>

      </v-row>
      <v-divider></v-divider> -->
            <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:left;padding-left: 0px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"
                          @click="GoBackPrevious()"
   
                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >SERVICE TASK </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#546E7A;padding: 1px;">
                </v-card-actions>
      <v-card-text>
         <v-row>
            <v-col cols="12" md="12" v-if="ServiceBookingId===-1" style="margin-bottom: -8px;
    margin-top: -7px;padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align: center;">
             <label style="font-size: 14px;font-weight: 600" @click="ServiceBookingSearchModal=true">Select Contact Name - Booking No</label>
             
            </v-col>
            <v-col cols="12" md="12" v-if="ServiceBookingId > 0" style="margin-bottom: -8px;
    margin-top: -7px;padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align: center;">
             <label style="font-size: 14px;font-weight: 600" @click="ServiceBookingSearchModal=true">{{ContactName}}- {{BookingNo}}</label>
             
            </v-col>
          </v-row>
          
          <!-- <v-row>
            <v-col cols="12" md="12" v-if="ServiceBookingId===-1" style="margin-bottom: -8px;
    margin-top: -7px;padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align: center;" @click="TaskModal= true">
                Add Task
            </v-col>
          </v-row> -->
            <v-row>
            <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">{{BookingBranchCode}}</span>
            </v-col>
            <v-col cols="6" md="6" style="text-align:right;padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
          <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">{{ServiceTaskStatus}}</span>
            </v-col>
              <v-col cols="12" md="12" style="padding-top: 10px;
    padding-bottom: 22px;
;padding-right: 0px; padding-left: 0px;">
                 <v-divider></v-divider>
              </v-col>
          </v-row>
         

        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field v-model="TaskName" label="Task Name" style="padding-bottom:0px"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6" xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-autocomplete 
            
            label="Issue Type"
            :items="IssueTypeOptions"
            v-model="IssueType">
            <template v-slot:append-outer>
    <v-icon color="green" style="padding-top: 5px;" @click="OpenIssueTypeModal">mdi-plus-circle</v-icon>
  </template>

            </v-autocomplete>
          </v-col>
          <v-col cols="12" md="6"  xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-autocomplete 
            label="Priority"
            :items="PriorityOptions"
            v-model="Priority">
              <template v-slot:append-outer>
    <v-icon color="green" style="padding-top: 5px;"  @click="OpenPriorityModal">mdi-plus-circle</v-icon>
  </template>
            </v-autocomplete>
          </v-col>
          <v-col cols="12" md="6"  xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="TaskEndDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="TaskEndDate"
                  label="Task End Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  :disabled="IsDisableDate"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="TaskEndDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="SetVoucherDate(TaskEndDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
          
            </v-menu>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-textarea v-model="Notes" label="Description" auto-grow outlined rows="1" id="Remark" ref="Remark"></v-textarea>
          </v-col>
        </v-row>
       
        <div class="row-fluid" style="    margin-top: -10px;">
          <div class="col-lg-12 col-md-12 " style="padding:0px !important;    margin-top: -3px;
    margin-bottom: -19px;">
            <div class="cover-container" style="margin-top:0px; margin-bottom: 1px;margin-left: -17px;margin-right: -17px;">
              <!-- START PANEL -->

              <div class="cover-item" v-for="(item, i) in Attachments" :key="i" style="text-align:center;box-shadow:none;">
                <div v-if="item.FileExtension === '.jpeg' || item.FileExtension === '.png'" class="cover-item "
                  @click="EditAttachement(item, i)"
                  style="box-shadow: darkgray;padding-top: 16px !important; padding-bottom: 2px;border-radius: 5px;">

                  <img :src="item.ImageSrc" alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive>
                  <br>
                  <span class="cs" style="padding-top: 2px;">{{ item.Caption }}</span>
                </div>
                <div class="cover-item" @click="EditAttachement(item, i)"
                  style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF;"> Pdf</span>
                </div>

                <div v-if="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"
                  @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.docx'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.txt'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp4'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.opus'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp3'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 40px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
              </div>

            </div>
          </div>
          <v-row no-gutters>
            <v-col cols="12">
              <v-btn block color="#546E7A" dark @click="AttachmentModal = true">New Attachment <v-spacer></v-spacer>
                <v-icon style="font-size: 20px!important;">mdi-attachment</v-icon>
              </v-btn>

            </v-col>


          </v-row>
        </div>
        <v-row>
          <v-col cols="12" style="padding-top: 2px;">
            <!-- <div class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;padding-right: 8px;
    padding-left: 8px;">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
      Total Order: <b>2</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
   <v-icon style="color:#FFF;font-size: 25px;text-align:right;">mdi-plus</v-icon>


        </v-col>
      </v-row>
      </div> -->
      <v-btn block color="rgb(0 150 199)" dark>Total Order : 2<v-spacer></v-spacer>
                <v-icon style="font-size: 20px!important;" @click="materialrequestmodal=true">mdi-plus</v-icon>
              </v-btn>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
            
        <v-expansion-panels focusable  style="border-radius:0px !important">
    <v-expansion-panel
      v-for="(item,i) in 2" :key="i"
       style="  margin-bottom:3px !important;border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >

       <label>ItemName</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >

      <label style="font-weight: 500 !important;">16 Pcs</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
     class="locationnew"
      >
        <label style="font-weight: 550;">pending</label>
        </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
     
       <v-col
        cols="12"
        sm="12"
        style="padding-top: 15px !important;"
       class="locationnew"
      >
     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" ><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>

    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
</v-col>
        </v-row>
          

       

      </v-card-text>
    </v-card>

    <fab :fixed-tooltip="fab.tooltip" :position="fab.position" :bg-color="fab.bgColor" :padding="fab.padding"
      :z-index="fab.zindex" :actions="fab.fabActions" :main-icon="fab.mainicon" :icon-size="fab.iconsize"
      @CallUser="CallUser" @ClearServiceTask="ClearServiceTask" @SaveServiceTask="SaveServiceTask" @DeleteServiceTask="DeleteServiceTask"></fab>


    


    <v-snackbar v-model="snackbar" :timeout="timeout" absolute rounded="pill" color="rgb(0, 53, 94)" font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;">
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
    <!-- ------------------------------------------------- Attachement Start Here------------------------------------------------------- -->
    <v-dialog v-model="AttachmentModal" fullscreen hide-overlay transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 2000000;">
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="AttachmentModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Attachment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId < 0"
              @click="AddAttachment()">mdi-content-save</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1 && AttachmentId > 0"
              @click="DownloadFile()">mdi-download</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" @click="ClearAttachment()">mdi-eraser</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1"
              @click="DeleteAttachment()">mdi-delete</v-icon>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:22px !important">
              <div style="text-align:center" class=" lighten-4 rounded elevation-3">
                <v-img :src="imageURL" @click="choosefilen" contain style="height:400px;width:100%;text-align:center;">
                </v-img>
                <input type="file" id="my_filen" style="display: none;padding-top:5px" @change="convert"
                  accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/gif, image/jpeg,video/mp4,video/x-m4v,video/*,.mp3, .wav,.mov,.docx,"
                  name="filename" />
                <!-- </v-avatar> -->

              </div>
            </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;padding-top:13px">
              <v-text-field label="Caption"> </v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;">
              <v-text-field type="text" label="Remarks"></v-text-field>

            </v-col>
          </v-row> -->
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-----------------Attachement Ends------------------------>
     <!-- ------------------------------------------------- ServiceBookingModal Satrts Here------------------------------------------------------- -->

    <v-dialog
      v-model="ServiceBookingSearchModal"
      persistent
      max-width="600"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-text style="    padding-right: 5px;
    padding-left: 5px;padding-bottom: 0px;
">

              <v-row>
                <v-col cols="12" sm="12" md="12" style="    padding-top: 24px;
    padding-bottom: 10px;    padding-right: 24px;
    padding-left: 24px;
">
                  <v-text-field
                    type="text"
                label="Search here"
                v-model="ServiceBookingSearch"
                  >
                    <template v-slot:append-outer>
                      <v-icon
                        color="teal"
                        style="font-size: 28px !important;
    padding-top: 7px !important;"
    @click="LoadServiceBooking"

                        >mdi-refresh</v-icon
                      >
                    </template>
                  </v-text-field>
                </v-col>
                <v-divider></v-divider>

              </v-row>


        <v-row
                no-gutters
                style="    font-size: 10px;text-align: left;padding: 5px; max-height:350px; overflow:scroll;overflow-x: hidden;"
              >
            <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in resultQueryServiceBooking"  :key="i" class="ma-0" v-touch:tap="touchHandler" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;" >
       <!-- ----- -->
     <!-- <v-expansion-panel-header expand-icon="" style="max-height: 120px; !important;font-size:12px!important;padding-bottom: 8px;"> -->
  <v-expansion-panel-header expand-icon="" style="padding-right:22px !important;padding-left:22px !important;    padding-top: 10px;
    padding-bottom: 10px;" >
       <v-row>
        <v-col cols="12" sm="12"   style="text-align:center;padding-top: 0px;
    padding-bottom: 13px; " >

   <b >{{ item.ContactName }}</b>
      </v-col>
      
      <v-col cols="9" sm="9"  class="slnop" style=" " >
 <v-icon color="gray" style="font-size:12px">mdi-format-list-numbered</v-icon><label style="
    color: gray;font-size: 12px;padding-left:2px;font-weight: 600;">{{item.ReferNo}}</label>

        </v-col>

         <v-col cols="3" sm="3" style="padding: 0px !important; text-align:right;font-size:18px">

        <v-icon
          small

          color="green"
          style="font-size:19px !important"
          @click="SetServiceBooking(item)"
     

        >
          mdi-check-circle-outline
        </v-icon>

        </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</v-row>
          <v-row>
            <v-col cols="12" style="    padding-top: 0px;
    padding-bottom: 0px;">
              <v-divider></v-divider>
            </v-col>
          </v-row>
          <v-row>
             <v-col
              cols="6"
              style="text-align:left;padding-top:31px !important;padding-left:24px"
            >
              <v-btn
                depressed
                small
                style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
                @click="ServiceBookingSearchModal = false"
              >
                {{ $t(`common.cancel`) }}</v-btn
              >
            </v-col>
            <v-col
              cols="6"
              style="text-align:right;padding-top:31px !important;padding-right:24px"
            >
              <v-btn
                depressed
                small
                style=" background-color:#1E88E5;color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
 

              >
                New</v-btn
              >
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- ------------------------------------------------- ServiceBookingSearchModal Ends Here------------------------------------------------------- -->


    

 <!-- -------------------------------IssueTypeModal starts here --------------->
      <v-dialog v-model="IssueTypeModal" persistent max-width="400" style="z-index: index 100000px;">

      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -11px; " >

          <v-text-field
          solo
        rounded
        v-model="IssueTypeSearch"
        ref="FocusFieldIssueType"
     label="Add IssueType Name"  style="padding-bottom:0px">
          <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"    style="font-size:25px !important" @click="SaveIssueType" v-if="IsNewIssueType">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)"  style="font-size:25px !important" @click="UpdateIssueType" v-if="IsUpdateIssueType">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding-right: 0px;
    padding-left: 0px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >

    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
    IssueType Name
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
       <v-expansion-panels  >

    <v-expansion-panel v-for="(item,i) in resultQueryIssueType"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
       <!-- ----- -->
      <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slno1" style="padding-left:18px !important;padding-right:18px !important; " >

   <b >{{item.IssueType}}</b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="mr-2"

        color="#2E7D32"
        @click="EditIssueType(item.IssueTypeId,item.IssueType)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small

        color="#E53935"
        @click="DeleteIssueType(item.IssueTypeId)"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

     <v-row no-gutters   >
      <v-col cols="12" sm="12" >
<v-divider></v-divider>
      </v-col>
     </v-row>
 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px;text-align:right"
               >
                <v-btn
              small
             @click="IssueTypeModal=false"
              style="background-color:#2E7D32;color:#FFF"

            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>
        </v-card-text>
      </v-card>

    </v-dialog>


  <v-dialog v-model="UpdateConfirmationModalIssueType" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to update</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModalIssueType = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteUpdateIssueType()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  <v-dialog v-model="CreateWarningModalIssueType" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new IssueType?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="ExecuteUpdateIssueType()" >Update</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveIssueType">Create</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
       <v-dialog v-model="DeleteConfirmationModalIssueType" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModalIssueType = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteIssueType">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <!-- -------------------------------IssueTypeModal ends here --------------->



    
 <!-- -------------------------------PriorityModal starts here --------------->
 <v-dialog v-model="PriorityModal" persistent max-width="400" style="z-index: index 100000px;">

<v-card class="my-2">
  <v-row>
            <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -11px; " >

    <v-text-field
    solo
  rounded
  v-model="PrioritySearch"
  ref="FocusFieldPriority"
label="Add Priority Name"  style="padding-bottom:0px">
    <template v-slot:append-outer>
<v-icon color="rgb(40 167 69)"    style="font-size:25px !important" @click="SavePriority" v-if="IsNewPriority">mdi-plus-circle</v-icon>
<v-icon color="rgb(40 167 69)"  style="font-size:25px !important" @click="UpdatePriority" v-if="IsUpdatePriority">mdi-update</v-icon>
</template>
  </v-text-field>
    </v-col>
      </v-row>
      <v-divider></v-divider>
  <v-card-text style="padding-right: 0px;
padding-left: 0px;">


<v-expansion-panels>

<v-expansion-panel
v-for="(item,i) in 1"
:key="i"
style="padding-left: 10px;"
>

</v-expansion-panel>
</v-expansion-panels >

<v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


<v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
<v-col cols="9" sm="9"  class="slno">
Priority Name
</v-col>
    <v-col cols="3" sm="3" class="text-center">

</v-col>

</v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
 <v-expansion-panels  >

<v-expansion-panel v-for="(item,i) in resultQueryPriority"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
 <!-- ----- -->
<v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

 <v-row>
 <v-col cols="9" sm="9"  class="slno1" style="padding-left:18px !important;padding-right:18px !important; " >

<b >{{item.PriorityName}}</b>
</v-col>

 <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
<v-icon
  small
  class="mr-2"

  color="#2E7D32"
  @click="EditPriority(item.PriorityId,item.PriorityName)"
>
  mdi-pencil
</v-icon>
<v-icon
  small

  color="#E53935"
  @click="DeletePriority(item.PriorityId)"

>
  mdi-delete
</v-icon>
</v-col>
</v-row>


</v-expansion-panel-header>
</v-expansion-panel>
</v-expansion-panels>
</div>

<v-row no-gutters   >
<v-col cols="12" sm="12" >
<v-divider></v-divider>
</v-col>
</v-row>
<v-row>

         <v-col cols="12" sm="12" md="12"
         style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px;text-align:right"
         >
          <v-btn
        small
       @click="PriorityModal=false"
        style="background-color:#2E7D32;color:#FFF"

      >
        {{$t(`dashboard.ok`)}}
      </v-btn>
         </v-col>
         </v-row>
  </v-card-text>
</v-card>

</v-dialog>


<v-dialog v-model="UpdateConfirmationModalPriority" persistent max-width="300">

<v-card>
  <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to update</v-card-title>
  <v-row style="margin:0px">
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModalPriority = false" >Cancel</v-btn>
  </v-col>
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteUpdatePriority()">OK</v-btn>
  </v-col>
  </v-row>
</v-card>
</v-dialog>
<v-dialog v-model="CreateWarningModalPriority" persistent max-width="300">

<v-card>
  <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new Priority?</v-card-title>
  <v-row style="margin:0px">
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(220 53 69);" @click="ExecuteUpdatePriority()" >Update</v-btn>
  </v-col>
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(40 167 69)" @click="SavePriority">Create</v-btn>
  </v-col>
  </v-row>
</v-card>
</v-dialog>
 <v-dialog v-model="DeleteConfirmationModalPriority" persistent max-width="300">

<v-card>
  <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
  <v-row style="margin:0px">
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModalPriority = false" >Cancel</v-btn>
  </v-col>
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeletePriority">OK</v-btn>
  </v-col>
  </v-row>
</v-card>
</v-dialog>

<!-- -------------------------------PriorityModal ends here --------------->




<v-dialog v-model="TaskModalnew" persistent max-width="300">

<v-card>
  <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;align:center">Task</v-card-title>
  <v-card-text>

    <v-row>
            <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">{{BookingBranchCode}}</span>
            </v-col>
            <v-col cols="6" md="6" style="text-align:right;padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
          <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">{{ServiceTaskStatus}}</span>
            </v-col>
              <v-col cols="12" md="12" style="padding-top: 10px;
    padding-bottom: 22px;
;padding-right: 0px; padding-left: 0px;">
                 <v-divider></v-divider>
              </v-col>
          </v-row>
         

        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field v-model="GodownName" label="Task Name" style="padding-bottom:0px"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6" xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-autocomplete 
            
            label="Issue Type"
            :items="IssueTypeOptions"
            v-model="IssueType">
            <template v-slot:append-outer>
    <v-icon color="green" style="padding-top: 5px;" @click="OpenIssueTypeModal">mdi-plus-circle</v-icon>
  </template>

            </v-autocomplete>
          </v-col>
          <v-col cols="12" md="6"  xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-autocomplete 
            label="Priority"
            :items="PriorityOptions"
            v-model="Priority">
              <template v-slot:append-outer>
    <v-icon color="green" style="padding-top: 5px;"  @click="OpenPriorityModal">mdi-plus-circle</v-icon>
  </template>

            </v-autocomplete>
          </v-col>

          <v-col cols="12" md="6"  xl="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="TaskEndDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="TaskEndDate"
                  label="Task End Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  :disabled="IsDisableDate"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="TaskEndDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="SetVoucherDate(TaskEndDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
          
            </v-menu>
          </v-col>


        </v-row>

        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-textarea label="Description" auto-grow outlined rows="1" id="Remark" ref="Remark"></v-textarea>
          </v-col>
        </v-row>
        <div class="row-fluid" style="    margin-top: -10px;">
          <div class="col-lg-12 col-md-12 " style="padding:0px !important;    margin-top: -3px;
    margin-bottom: -19px;">
            <div class="cover-container" style="margin-top:0px; margin-bottom: 1px;margin-left: -17px;margin-right: -17px;">
              <!-- START PANEL -->

              <div class="cover-item" v-for="(item, i) in 1" :key="i" style="text-align:center;box-shadow:none;">
                <div v-if="item.FileExtension === '.jpeg' || item.FileExtension === '.png'" class="cover-item "
                  @click="EditAttachement(item, i)"
                  style="box-shadow: darkgray;padding-top: 16px !important; padding-bottom: 2px;border-radius: 5px;">

                  <img :src="item.ImageSrc" alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive>
                  <br>
                  <span class="cs" style="padding-top: 2px;">{{ item.Caption }}</span>
                </div>
                <div class="cover-item" @click="EditAttachement(item, i)"
                  style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF;"> Pdf</span>
                </div>

                <div v-if="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"
                  @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.docx'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.txt'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp4'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.opus'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp3'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 40px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
              </div>

            </div>
          </div>
          <v-row no-gutters>
            <v-col cols="12">
              <v-btn block color="#546E7A" dark @click="AttachmentModal = true">New Attachment <v-spacer></v-spacer>
                <v-icon style="font-size: 20px!important;">mdi-attachment</v-icon>
              </v-btn>

            </v-col>


          </v-row>
        </div>

  </v-card-text>
  <v-row style="margin:0px">
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(220 53 69);" @click="TaskModal = false" >Cancel</v-btn>
  </v-col>
  <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
  <v-btn  outlined color="rgb(40 167 69)" @click="SaveIssueType">Add</v-btn>
  </v-col>
  </v-row>
</v-card>
</v-dialog>
<v-dialog v-model="materialrequestmodal" persistent max-width="600" style="z-index: 100000!important;">

<v-card>
  <v-card-text style="padding:0px">
    <v-row> 
      <v-col cols="12" style="text-align: center;font-size: 15px;padding-top: 7px;padding-bottom: 0px;color: #000;
    font-weight: 600;">
        <span>Material Request</span>
      </v-col>
    </v-row>
    <v-row> 
      <v-col cols="6" style="text-align: left;padding-top: 0px;padding-bottom: 2px;padding-left: 19px;font-weight: 600;">
        <span>Task 1</span>
      </v-col>
      <v-col cols="6" style="text-align: right;padding-top: 0px;padding-bottom: 2px;padding-right: 19px;font-weight: 600;">
        <span>Munner</span>
      </v-col>
    </v-row>
    <v-row
            no-gutters
            style="    font-size: 10px;padding: 0px;padding-right: 4px;padding-left: 4px; background: #343a402e;border-top: solid 1px rgb(255 69 0)"
        
          >
            <v-col cols="1" sm="1" class="slno">
              {{ $t(`menu.No`) }}
            </v-col>
            <v-col cols="6" sm="6" class="slno">
              {{ $t(`menu.ItemName`) }}
            </v-col>
            <v-col cols="2" sm="2" class="itemquantity">
              {{ $t(`ecommerce.quantity`) }}
            </v-col>
            <v-col cols="3" sm="3" class="itemquantity">
             Status
            </v-col>
          </v-row>
          <v-row
  
            class="setmaxrow"
            no-gutters
            style="font-size: 10px !important;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"
          >
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 2"
                :key="i"
                class="ma-0"
                v-touch:tap="touchHandler"
                :id="'color' + i"
              >
                <!-- ----- -->
                <v-expansion-panel-header
                  expand-icon=""
                  class="itemheader"
                  style="min-height: 35px !important;font-size:10px!important;padding:0px !important"
                >
                  <v-col cols="1" sm="1" class="slno1" style="">
                    <b> {{ i + 1 }}</b>
                  </v-col>
                  <v-col
                    cols="6"
                    sm="6"
                    class="slno"
                    style="padding: 0px !important;"
                  >
                    <b>ItemName </b>
                  </v-col>
                  <v-col
                    cols="2"
                    sm="2"
                    class="itemquantity1"
                    style="padding: 0px !important; "
                  >
                    <b>20 Pcs</b>
                  </v-col>
                  <v-col
                    cols="3"
                    sm="3"
                    class="itemquantity1"
                    style="padding: 0px !important;padding-right:2px !important;"
                  >
                    <b>Pending</b>
                  </v-col>
                
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;"
                  >
                    <b
                      style="text=align:center !important; text-transform:uppercase;"
                    >
                      {{ item.ItemNameArabic }}</b
                    >
                  </v-col>
                  <hr style="margin-top: 0rem; margin-bottom: 5px;" />
                  <v-row
                    no-gutters
                    style="    font-size: 10px;text-align: left;padding: 0px;padding-top:5px !important"
                  >
  
              <v-col cols="8" sm="8"  style=" font-size: 10px;text-align: left;padding: 0px;padding-top:3px !important">
                Remark <br />
                      <b>New Item</b>
              </v-col>
                    <v-col cols="2" sm="2" class="text-right">
                      <!-- <v-icon style="color:#009900;padding:5px;" @click="EditItem(i)"> mdi-pencil</v-icon> -->
                      <v-btn
                        outlined
                        x-small
                        fab
                        style="color:#009900;height:20px !important;width:20px !important"
                        @click="EditItem(i)"
                      >
                        <v-icon style="font-size: 14px !important;"
                          >mdi-pencil</v-icon
                        >
                      </v-btn>
                    </v-col>
                    <v-col cols="2" sm="2" class="text-right">
                      <v-btn
                        outlined
                        x-small
                        fab
                        style="color:red;height:20px !important;width:20px !important"
                        @click="DeleteItem(i)"
                      >
                        <v-icon style="font-size: 14px !important;"
                          >mdi-delete</v-icon
                        >
                      </v-btn>
                    </v-col>
                  </v-row>
  
                  <!-- // -->
                </v-expansion-panel-content>
                <!-- ----- -->
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
  
          <v-list-item three-line style="padding-right: 5px;min-height: 40px;">
            <v-list-item-content style="padding-top: 0px;min-height: 40px !important;">
              <v-list-item-title
                class="headline mb-1 comp1"
                style="font-size: 15px !important;padding-left:0px;padding-right:0px;text-align:right"
              >
                <div>
                  <v-row no-gutters style="    font-size: 10px;padding: 0px; ">
                    <v-col cols="12" sm="12" xl="12" class="plusbutton123" style="text-align: center;">
                      <span @click="orderItemModal=true" style="" class="plusbutton"
                        ><i class="fa fa-plus-square" aria-hidden="true"></i
                      ></span>
                    </v-col>
                  </v-row>
                </div>
         
              </v-list-item-title>
              <v-list-item-subtitle> </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <v-row>
            <v-col cols="6" style="text-align: left;  padding-left: 22px; padding-top: 0px;
    padding-bottom: 10px">
              <v-btn
                  depressed
                  small
                  style="background-color: #FFB300;border-color: #FFB300;color: #FFF;"
                  @click="materialrequestmodal=false"
                >
                 Cancel</v-btn
                >

            </v-col>
            <v-col cols="6" style="text-align: right;    padding-right: 22px;
    padding-top: 0px;
    padding-bottom: 10px">
              <v-btn
                  depressed
                  small
                  style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
     "
  
                  >OK</v-btn
                >

</v-col>
          </v-row>  
  </v-card-text>
</v-card>
</v-dialog>
<v-dialog
        v-model="orderItemModal"
        persistent
        max-width="400px"
        style="z-index: 200000!important;"
      >
        <v-card>
          <v-card-title style="text-align:center;display:none "
            >ItemDetails</v-card-title
          >
          <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">
            {{ $t(`menu.ItemDetails`) }}
          </h5>
          <v-card-text>
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                    style="padding-top:24px;padding-bottom:0px;margin-bottom:0px;"
                  >
                    <v-autocomplete
                    :items="PriorityOptions"
                   v-model="Priority"
                      :label="$t(`menu.Items`)"
                    >
                    </v-autocomplete>
                  </v-col>
                </v-row>
                <!-- <v-row v-if="IsShowUnitDropdown">
                  <v-col
                    cols="12"
                    sm="12"
                    md="12"
                    style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                  >
                    <v-autocomplete
                      v-model="Unit"
                      :items="ItemUnitsOptions"
                      :label="$t(`menu.Unit`)"
                      @change="SetPricebyUnit($event)"
                    ></v-autocomplete>
                  </v-col>
                </v-row> -->
           
  
                  <v-row v-for="(item, i) in 2" :key="i">
                    <v-col
                      cols="3"
                      md="3"
                      sm="3"
                      style="text-align:left;padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                    >
                      <label
                        ><b>PCS</b></label
                      >
                    </v-col>
                    <v-col
                      cols="9"
                      md="9"
                      sm="9"
                      style="margin-bottom:0px;padding-top:0px;padding-bottom:13px;"
                    >
                      <input
                        class="form-control"
                        type="number"
                        :ref="'Quantity' + i"
                        :id="'Quantity' + i"
                        placeholder="Quantity"
                        style="height: calc(1.2em + .7rem + 1px) !important;width: 97% !important;font-size: 14px;"
                      />
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" style="padding-bottom: 0px;padding-top: 4px;">
                      <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="date"
        persistent
        width="290px"
        style="z-index: 20000000;"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Delivery Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
        </v-date-picker>
      </v-dialog>
                    </v-col>
                   
                        <v-col
                    cols="12"
                    sm="12"
                    md="12"
                    style="padding-top:3px;padding-bottom:0px !important;margin-bottom:0px;padding-left: 15px;padding-right: 15px;"
                  >
                    <v-autocomplete
                  
                      label="Status"
                    >
                    </v-autocomplete>
                  </v-col>
                    
                  </v-row>
              <div
                class="d-flex"
                style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
              >
                <v-btn
                  depressed
                  small
                  style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"
                  @click="orderItemModalclose"
                >
                  <v-icon center style="font-size: 21px;padding-bottom: 5px;"
                    >mdi-arrow-left</v-icon
                  ></v-btn
                >
                <v-spacer></v-spacer>
                <v-btn
                  depressed
                  small
                  style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
     "
  
                  ><v-icon center style=" Font-size:25px !important;">
                    mdi-plus</v-icon
                  ></v-btn
                >
                <!-- <v-btn
                  depressed
                  small
                  style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"
                  v-if="IsItemUpdate"
                  @click="UpdateItem"
                  ><v-icon center style="Font-size:24px !important;"
                    >mdi-update</v-icon
                  ></v-btn
                > -->
              </div>
          </v-card-text>
        </v-card>
      </v-dialog>


  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
import Attachments from "../../mixins/Attachments";
import datePicker from 'vue-bootstrap-datetimepicker';
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab, vueSignature,datePicker//,Assets
  },
  data() {
    return {
     
      
      imageURL: 'https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=',
      modal: false,
      AttachmentModal: false,
      orderItemModal:false,
      materialrequestmodal:false,
      bURL: '',
      bURLPrint: '',
      tab: null,
      tab1: null,
      fab: {

        tooltip: true,
        bgColor: 'rgb(0 53 94)',
        position: 'bottom-right',
        mainicon: 'list',
        zindex: '100',
        iconsize: 'small',
        fabActions: [

          {
            name: 'DeleteServiceTask',
            icon: 'delete',
            tooltip: this.$t(`common.delete`)
          },
          {
            name: 'ClearServiceTask',
            icon: 'clear',
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: 'SaveServiceTask',
            icon: 'save',
            tooltip: this.$t(`common.save`)
          },

        ]
      },
      deleteDialog: false,
      Username: window.localStorage.getItem('UserName'),
      DecimalPlaces: window.localStorage.getItem('DecimalPlaces'),
      userType: window.localStorage.getItem('UserType'),
      Token: window.localStorage.getItem('Token'),
      SnackbarMessege: '',
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch: false,
      IsMultiBarnch: false,
      Settings: JSON.parse(localStorage.getItem('Settings')),
      AppName: localStorage.getItem('GetAppName'),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmation: false,
      BranchCode: '',
      IsNew: true,
      IsUpdate: false,
      DeleteName: false,
      UpdateConfirmationModal_Type: false,
      CreateWarningModalType: false,
      IsShowCreateWarningModalType: false,
      UpdateConfirmationModal_Group: false,
      CreateWarningModalGroup: false,
      IsShowCreateWarningModalGroup: false,
      GodownsFullObject: [],
      Loaderdialog: false,



    IssueTypeOptions : [],
    IssueTypeObject:[],
    IssueTypeModal : false,
    IssueTypeSearch:'',
    EditIdIssueType :"",
    IsUpdateIssueType : false,
    IsNewIssueType : true,
    UpdateConfirmationModalIssueType:false,
    CreateWarningModalIssueType:false,
    IsShowCreateWarningModalIssueType:false,
    DeleteConfirmationModalIssueType:false,
    DeleteIdIssueType:'',


    PriorityOptions : [],
    PriorityObject:[],
    PriorityModal : false,
    PrioritySearch:'',
    EditIdPriority :"",
    IsUpdatePriority : false,
    IsNewPriority : true,
    UpdateConfirmationModalPriority:false,
    CreateWarningModalPriority:false,
    IsShowCreateWarningModalPriority:false,
    DeleteConfirmationModalPriority:false,
    DeleteIdPriority:'',
    ServiceBookingSearchModal:false,
    ServiceBookingObject:[],
    ServiceBookingSearch:"",
    ContactName:'',
    BookingNo : '',
    BookingBranchCode : '',


    time: null,
    ServiceBookingId:-1,
    ServiceTaskStatus : "",
    PriorityName:"", 
    IssueType:"",
    TaskEndDate : new Date().toISOString().substr(0, 10),
    date: new Date().toISOString().substr(0, 10),
    menu: false,


    imageURL: 'https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=',
    AttachmentModal:false,
    Attachments : [],
     AttachmentEditId:-1,
    AttachmentId : -1,
    DeleteConfirmation_Attachment:false,
    TaskModal:true,

    ServiceTaskId: null,
    }
  },
  mixins: [Attachments],
  computed: {

    resultQueryIssueType() {
      this.IssueTypeNew = []
    if(this.IssueTypeSearch !== '')
    {
       this.IssueTypeNew = this.IssueTypeObject.filter(post => {
        return post.IssueType.toString().toLowerCase().includes(this.IssueTypeSearch.toString().toLowerCase());
      })
      if(this.IssueTypeNew.length > 100)
      {
         this.IssueTypeNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.IssueTypeNewReturn.push(this.IssueTypeNew[this.i])

        }
        return this.IssueTypeNewReturn
      }
      else{
         return this.IssueTypeNew
      }
    }
    else{
      if(this.IsUpdateIssueType === true)
      {
        this.IsShowCreateWarningModalIssueType = true
      }
      if(this.IssueTypeObject.length > 100)
      {
         this.IssueTypeNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.IssueTypeNewReturn.push(this.IssueTypeObject[this.i])

        }
        return this.IssueTypeNewReturn
      }
      else{
         return this.IssueTypeObject
      }
    }

    },

    resultQueryPriority() {
      this.PriorityNew = []
    if(this.PrioritySearch !== '')
    {
       this.PriorityNew = this.PriorityObject.filter(post => {
        return post.PriorityName.toString().toLowerCase().includes(this.PrioritySearch.toString().toLowerCase());
      })
      if(this.PriorityNew.length > 100)
      {
         this.PriorityNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.PriorityNewReturn.push(this.PriorityNew[this.i])

        }
        return this.PriorityNewReturn
      }
      else{
         return this.PriorityNew
      }
    }
    else{
      if(this.IsUpdatePriority === true)
      {
        this.IsShowCreateWarningModalPriority = true
      }
      if(this.PriorityObject.length > 100)
      {
         this.PriorityNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.PriorityNewReturn.push(this.PriorityObject[this.i])

        }
        return this.PriorityNewReturn
      }
      else{
         return this.PriorityObject
      }
    }

    },

      resultQueryServiceBooking() {
      this.ServiceBookingNew = []
    if(this.ServiceBookingSearch !== '')
    {
       this.ServiceBookingNew = this.ServiceBookingObject.filter(post => {
        return post.CustName.toString().toLowerCase().includes(this.ServiceBookingSearch.toString().toLowerCase()) ||
        post.ReferNo.toString().toLowerCase().includes(this.ServiceBookingSearch.toString().toLowerCase()) ||
        post.ContactName.toString().toLowerCase().includes(this.ServiceBookingSearch.toString().toLowerCase());
      })
      if(this.ServiceBookingNew.length > 100)
      {
         this.ServiceBookingNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ServiceBookingNewReturn.push(this.ServiceBookingNew[this.i])

        }
        return this.ServiceBookingNewReturn
      }
      else{
         return this.ServiceBookingNew
      }
    }
    else{
      if(this.IsUpdateServiceBooking === true)
      {
        this.IsShowCreateWarningModalServiceBooking = true
      }
      if(this.ServiceBookingObject.length > 100)
      {
         this.ServiceBookingNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ServiceBookingNewReturn.push(this.ServiceBookingObject[this.i])

        }
        return this.ServiceBookingNewReturn
      }
      else{
         return this.ServiceBookingObject
      }
    }

    },
  },
  mounted() {
    this.PreviousPage = localStorage.getItem('PreviousRoute')
    this.BackToPage = localStorage.getItem('BackToPage')
    if (this.BackToPage !== null) {
      this.PageUrl = "/dashboard/masters/" + this.BackToPage
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        location.href = bURL + this.PageUrl
      };
    }
    else if (this.PreviousPage !== 'userManagement') {
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
        history.go(1);
      };
    }

    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem('IsReload', true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage', 'ServiceTast')
    localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
    localStorage.removeItem('VoucherUpdated')

    const today = new Date();

    let tomorrow = new Date();
    tomorrow.setDate(today.getDate() + 1);
    this.TaskEndDate = this.FormatDate(new Date(tomorrow).toISOString());

    this.SetPermission()
    this.BasicSettings()
    this.checkUrl();
    this.LoadPriority()
    this.LoadIssueType()
    this.LoadServiceBooking()
   
  },
  methods:
  {
    touchHandler(direction) {
        console.log(direction); // May be left / right / top / bottom
      },
    orderItemModalclose()
    {
      this.orderItemModal=false
    
    },
    choosefilen() {
      document.getElementById("my_filen").click();
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {

        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");

      } else {
        // this.openSettings()
      }
    },



    BasicSettings() {
      this.IsSalesperson = localStorage.getItem('salePerson')
      this.BranchCode = localStorage.getItem('BranchCode')
      this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
      if (this.BranchCode !== '#' && this.BranchCode !== '') {
        this.BranchCode = this.BranchCode
        this.userType = window.localStorage.getItem('UserType');
        if (this.userType !== 'Administrator') {
          this.IsDisableBranch = true
        }
      }
      else if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== '') {
        this.BranchCode = this.DeviceDefaultBCode
      }
      else {
        this.BranchCode = ''
      }


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      if (this.AppName === "EAI") {
        this.IsEAIApp = true
      }
      else if (this.AppName === "EAG") {
        this.IsEAGApp = true
      }

    },
    SetPermission() {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + 'common/GetFormPermission/' + this.userType + ',frmServiceBooking')
        .then((response) => {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

          this.userType = window.localStorage.getItem('UserType');
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmPriority')
        .then((response)  =>  {
          this.isCreatePermissionPriority = response.data[0]
          this.isReadPermissionPriority = response.data[1]
          this.isUpdatePermissionPriority = response.data[2]
          this.isDeletePermissionPriority = response.data[3]
          }, (error)  =>  {
          console.log(error)
        })
        

        }, (error) => {
          console.log(error)
        })
    },


    LoadServiceBooking()
    {
      this.Loaderdialog = true
      this.IssueTypeOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "ServiceBooking/LoadServiceBooking")
        .then((response)  =>  {
          this.Loaderdialog = false
          this.ServiceBookingObject = response.data
          this.ServiceBookingId = -1
          this.ServiceTaskId = localStorage.getItem('ServiceTaskId')
        if(this.ServiceTaskId !==null)
        {
          this.GetServiceTask(this.ServiceTaskId)
        }
        else{
          this.ServiceBookingId = localStorage.getItem('BookingId')
        if(this.ServiceBookingId !==null)
        {
          for(this.i=0;this.i<this.ServiceBookingObject.length;this.i++)
          {
            this.ServiceBookingId = parseInt(this.ServiceBookingId)
              if(this.ServiceBookingObject[this.i].ServiceBookingId === this.ServiceBookingId)
              {
                this.SetServiceBooking(this.ServiceBookingObject[this.i])
                break
              }
          }
        }
        else{
          this.ServiceBookingId = -1
        }
        }
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },

    SetVoucherDate(date)
    {
      this.$refs.menu.save(date)
    },

    SetServiceBooking(item)
    {
       this.ServiceBookingId = item.ServiceBookingId
       this.ContactName = item.ContactName
       this.BookingNo = item.ReferNo
       this.BookingBranchCode = item.BranchCode
       this.ServiceBookingSearchModal = false
    },
    GetServiceTask(taskId)
    {
      this.Loaderdialog = true
      axios.get ( this.bURL + "ServiceTask/"+taskId)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.AssignObject(response.data)
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },
    AssignObject(data)
    {
        this.PriorityId = data.PriorityId
        for(this.i=0;this.i<this.PriorityObject.length;this.i++)
          {
              if(this.PriorityObject[this.i].PriorityId === this.PriorityId)
              {
                this.Priority =this.PriorityObject[this.i].PriorityName 
                break
              }
          }
        this.IssueTypeId = data.IssueTypeId
        for(this.i=0;this.i<this.IssueTypeObject.length;this.i++)
          {
              if(this.IssueTypeObject[this.i].IssueTypeId === this.IssueTypeId)
              {
                this.IssueType =this.IssueTypeObject[this.i].IssueType
                break
              }
          }
        this.ServiceBookingId = data.BookingId
        for(this.i=0;this.i<this.ServiceBookingObject.length;this.i++)
          {
              if(this.ServiceBookingObject[this.i].ServiceBookingId === this.ServiceBookingId)
              {
                this.SetServiceBooking(this.ServiceBookingObject[this.i])
                break
              }
          }
        this.TaskName = data.TaskName
        this.TaskEndDate =  this.FormatDate(data.EndDate)
        this.Notes = data.Notes
        this.Attachments = data.Attachments
        this.SetAttachementImage()
        
    },
    CreateObject()
    {
          this.ServiceTaskObject = {}
          this.ServiceTaskObject.TaskId = this.ServiceTaskId?this.ServiceTaskId:-1
          this.ServiceTaskObject.BookingId = this.ServiceBookingId
          this.ServiceTaskObject.TaskName = this.TaskName?this.TaskName:""
          this.IssueTypeId = -1
          for(this.i=0;this.i<this.IssueTypeObject.length;this.i++)
          {
              if(this.IssueTypeObject[this.i].IssueType === this.IssueType)
              {
                this.IssueTypeId =this.IssueTypeObject[this.i].IssueTypeId 
                break
              }
          }
          this.ServiceTaskObject.IssueTypeId = this.IssueTypeId

          this.PriorityId = -1
          for(this.i=0;this.i<this.PriorityObject.length;this.i++)
          {
              if(this.PriorityObject[this.i].PriorityName === this.Priority)
              {
                this.PriorityId =this.PriorityObject[this.i].PriorityId 
                break
              }
          }
          this.ServiceTaskObject.PriorityId = this.PriorityId

          this.ServiceTaskObject.EndDate = this.TaskEndDate
          this.ServiceTaskObject.Notes = this.Notes?this.Notes:""
          this.ServiceTaskObject.Attachments = this.Attachments

    },
    SaveServiceTask()
    {
         this.CreateObject()
         
         if(this.ServiceTaskObject.BookingId === -1)
         {
           this.SnackbarMessege = "Please select Service"
           this.snackbar = true
           return
         }

         if(this.ServiceTaskObject.TaskName === "")
         {
           this.SnackbarMessege = "Please enter task name"
           this.snackbar = true
           return
         }

         if(this.ServiceTaskObject.IssueTypeId === -1)
         {
           this.SnackbarMessege = "Please select Issue Type"
           this.snackbar = true
           return
         }
          debugger
        if( this.ServiceTaskId === null)
        {
          if(this.isCreatePermission === true)
          {
            axios
              .post(
                  this.bURL +"ServiceTask/InsertServiceTask" ,this.ServiceTaskObject
                  )
              .then(
                  response => {
                    this.Loaderdialog = false;
                    (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                    (this.snackbar = true);
                    this.ClearServiceTask()
                  },
                  (error)  =>  {

                    if(error.response === undefined)
                    {
                        this.SnackbarMessege = "Check your internet connection,then try again!"
                    }
                    else if(error.response.data !=="")
                    {
                        this.SnackbarMessege = error.response.data
                    }
                    else if(error.response.status === 401)
                    {
                        this.GlobalPasswordModal = true
                    }
                    else{
                        this.SnackbarMessege = "Check your internet connection,then try again!"
                    }
                    this.snackbar = true
                  })
          }
          else{
              this.SnackbarMessege = "You have no permission"
              this.snackbar = true

          }
        }
        else{
          if(this.isUpdatePermission === true)
          {
            axios
              .put(
                  this.bURL +"ServiceTask/UpdateServiceTask" ,this.ServiceTaskObject
                  )
              .then(
                  response => {
                    debugger
                    this.Loaderdialog = false;
                    (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                    (this.snackbar = true);
                    this.ClearServiceTask()
                  },
                  (error)  =>  {

                    if(error.response === undefined)
                    {
                        this.SnackbarMessege = "Check your internet connection,then try again!"
                    }
                    else if(error.response.data !=="")
                    {
                        this.SnackbarMessege = error.response.data
                    }
                    else if(error.response.status === 401)
                    {
                        this.GlobalPasswordModal = true
                    }
                    else{
                        this.SnackbarMessege = "Check your internet connection,then try again!"
                    }
                    this.snackbar = true
                  })
          }
          else{
              this.SnackbarMessege = "You have no permission"
              this.snackbar = true

          }
        }

    },
    
    DeleteServiceTask()
    {
        return
    },
    ClearServiceTask()
    {
        this.TaskName = ""
        this.IssueType = ""
        this.IssueTypeId = -1
        this.Priority = false
        this.PriorityId = -1

        const today = new Date();
        
        let tomorrow = new Date();
        tomorrow.setDate(today.getDate() + 1);
        this.TaskEndDate = this.FormatDate(new Date(tomorrow).toISOString());
        this.Notes = ""
        this.Attachments = []
    },
    SetAttachementImage()
    {
      for(this.i=0;this.i<this.Attachments.length;this.i++)
      {
        if(( this.Attachments[this.i].FileExtension === ".jpeg" || this.Attachments[this.i].FileExtension === ".png" ) &&  this.Attachments[this.i].AttachmentId < 0)
        {
          this.Attachments[this.i].IsImage = true
        }
        else if((this.Attachments[this.i].FileURL.includes(".png")))
        {
          this.Attachments[this.i].IsImage = true

        }
        else
        {
          this.Attachments[this.i].IsImage = false
        }

       if(this.Attachments[this.i].AttachmentId > 0)
       {
         this.Attachments[this.i].ImageSrc =   this.Attachments[this.i].FileURL
       }
      }
    },


    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },
    FormatDate(Value) {
      return Value.split("T")[0];
    },



    




/********************************************** IssueType Master start here *************************************8 */

LoadIssueType()
    {
      this.IssueTypeOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "ServiceIssueType/GetServiceIssueTypeDetails")
        .then((response)  =>  {
          this.IssueTypeObject = response.data
           for (this.i = 0; this.i < this.IssueTypeObject.length; this.i++) {
           this.IssueTypeOptions.push(this.IssueTypeObject[this.i].IssueType)

           }

        if(this.IssueTypeOptions.length === 1)
            this.IssueType = this.IssueTypeOptions[0]
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },

  OpenIssueTypeModal()
  {
      this.IssueTypeModal=true
  },


     SaveIssueType()
    {

       if(this.IssueTypeSearch === "" )
      {
        this.SnackbarMessege = "Please enter IssueType name"
        this.snackbar = true
        return
      }

       this.flag = false
      for(this.i=0;this.i<this.IssueTypeOptions.length;this.i++)
      {
        if(this.IssueTypeOptions[this.i].toString().toLowerCase() === this.IssueTypeSearch.toString().toLowerCase())
        {
          this.flag = true
          break
        }
      }
      if(this.flag === true)
      {
        this.SnackbarMessege = "Already added this IssueType"
        this.snackbar = true
        return
      }
      else{
         this.ExecuteSaveIssueType()
      }
    },

    ExecuteSaveIssueType()
    {

        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          this.Obj = {
            "IssueTypeId" : -1,
            "IssueType" : this.IssueTypeSearch
          }

          axios.post ( this.bURL + 'ServiceIssueType/InsertServiceIssueType',this.Obj)
            .then((response)  =>  {

              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalIssueType = false
              this.ClearIssueType()
              this.LoadIssueType()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditIssueType(id,name)
    {
        this.IssueTypeSearch = name
        this.EditIdIssueType = id
        this.IsUpdateIssueType = true
        this.IsNewIssueType = false

        setTimeout(() => {
    this.$refs.FocusFieldIssueType.focus()
  }, 200)
      ;

    },
    UpdateIssueType()
    {

      if(this.IsShowCreateWarningModalIssueType === true)
      {
        this.CreateWarningModalIssueType = true
      }
      else
      {
        this.UpdateConfirmationModalIssueType = true
      }
    },
    ExecuteUpdateIssueType()
    {

      if(this.IssueTypeSearch === "" )
      {
        this.SnackbarMessege = "Please Select IssueType name"
        this.snackbar = true
        return
      }
        if (this.isUpdatePermission === true)
        {

          this.Obj = {
            "IssueTypeId" : this.EditIdIssueType,
            "IssueType" : this.IssueTypeSearch
          }
            axios.put ( this.bURL + 'ServiceIssueType/UpdateServiceIssueType',this.Obj)
              .then((response)  =>  {

                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearIssueType()
                  this.LoadIssueType()
                  this.UpdateConfirmationModalIssueType = false
                  this.CreateWarningModalIssueType = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteIssueType(id)
    {
      if (this.IssueTypeSearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteIdIssueType = id
          this.DeleteConfirmationModalIssueType = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteIssueType()
    {
      axios.delete( this.bURL + 'ServiceIssueType/DeleteServiceIssueType?IssueTypeId=' + this.DeleteIdIssueType)
        .then((response)  =>  {

          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModalIssueType = false
          this.ClearIssueType()
          this.LoadIssueType()
        },(error)  =>  {
          this.DeleteConfirmationModalIssueType = false
          this.Loaderdialog = false
           this.SnackbarMessege =" IssueType in use"
            this.snackbar = true
        })
    },
    ClearIssueType()
    {
      this.IssueTypeSearch = ""
       this.IsNewIssueType = true
       this.IsUpdateIssueType = false
       this.EditIdIssueType = ""
       this.AutoInsertSubIssueType = false
       this.IsShowCreateWarningModalIssueType = false
    },
    /********************************************** IssueType Master ends here *************************************8 */




    


/********************************************** Priority Master start here *************************************8 */


LoadPriority()
    {
      this.PriorityOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "Priority/GetPriorityDetails")
        .then((response)  =>  {
          this.PriorityObject = response.data
           for (this.i = 0; this.i < this.PriorityObject.length; this.i++) {
           this.PriorityOptions.push(this.PriorityObject[this.i].PriorityName)

           }

        if(this.PriorityOptions.length === 1)
            this.PriorityName = this.PriorityOptions[0]
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },

  OpenPriorityModal()
  {
      this.PriorityModal=true
  },


     SavePriority()
    {

       if(this.PrioritySearch === "" )
      {
        this.SnackbarMessege = "Please enter Priority name"
        this.snackbar = true
        return
      }

       this.flag = false
      for(this.i=0;this.i<this.PriorityOptions.length;this.i++)
      {
        if(this.PriorityOptions[this.i].toString().toLowerCase() === this.PrioritySearch.toString().toLowerCase())
        {
          this.flag = true
          break
        }
      }
      if(this.flag === true)
      {
        this.SnackbarMessege = "Already added this Priority"
        this.snackbar = true
        return
      }
      else{
         this.ExecuteSavePriority()
      }
    },

    ExecuteSavePriority()
    {

        if(this.isCreatePermissionPriority === true)
        {
          this.Loaderdialog = true
          this.Obj = {
            "PriorityId" : -1,
            "PriorityName" : this.PrioritySearch
          }

          axios.post ( this.bURL + 'Priority/InsertPriority',this.Obj)
            .then((response)  =>  {

              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalPriority = false
              this.ClearPriority()
              this.LoadPriority()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditPriority(id,name)
    {
        this.PrioritySearch = name
        this.EditIdPriority = id
        this.IsUpdatePriority = true
        this.IsNewPriority = false

        setTimeout(() => {
    this.$refs.FocusFieldPriority.focus()
  }, 200)
      ;

    },
    UpdatePriority()
    {

      if(this.IsShowCreateWarningModalPriority === true)
      {
        this.CreateWarningModalPriority = true
      }
      else
      {
        this.UpdateConfirmationModalPriority = true
      }
    },
    ExecuteUpdatePriority()
    {

      if(this.PrioritySearch === "" )
      {
        this.SnackbarMessege = "Please Select Priority name"
        this.snackbar = true
        return
      }
        if (this.isUpdatePermissionPriority === true)
        {

          this.Obj = {
            "PriorityId" : this.EditIdPriority,
            "Priorityname" : this.PrioritySearch
          }
            axios.put ( this.bURL + 'Priority/UpdatePriority',this.Obj)
              .then((response)  =>  {

                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearPriority()
                  this.LoadPriority()
                  this.UpdateConfirmationModalPriority = false
                  this.CreateWarningModalPriority = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeletePriority(id)
    {
      if (this.PrioritySearch !== null)
      {
        if (this.isDeletePermissionPriority === true)
        {
          this.DeleteIdPriority = id
          this.DeleteConfirmationModalPriority = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeletePriority()
    {
      axios.delete( this.bURL + 'Priority/DeletePriority?PriorityId=' + this.DeleteIdPriority)
        .then((response)  =>  {

          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModalPriority = false
          this.ClearPriority()
          this.LoadPriority()
        },(error)  =>  {
          this.DeleteConfirmationModalPriority = false
          this.Loaderdialog = false
           this.SnackbarMessege =" Priority in use"
            this.snackbar = true
        })
    },
    ClearPriority()
    {
      this.PrioritySearch = ""
       this.IsNewPriority = true
       this.IsUpdatePriority = false
       this.EditIdPriority = ""
       this.AutoInsertSubPriority = false
       this.IsShowCreateWarningModalPriority = false
    },
    /********************************************** Priority Master ends here *************************************8 */

  }
}
</script>


<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}

.theme--light.v-input {

  padding-top: 0px;
}

#innerExPan>.v-dialog>.v-card>.v-card__text {
  padding: 0 0px 0px;
}

#innerExPan>.v-card {
  padding: 0 0px 0px;
}

#innerExPan>.v-card__text {
  padding: 0 0px 0px;
}

input[type=date].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}

/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}

@media only screen and (max-device-width: 320px) {

  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}</style>

