<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />


        </v-col>

      </v-row>

    </v-dialog>

    <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center">
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
          <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ">SERVICE ASSIGNMENT</h4>
        </v-col>
      </v-row>
    </div> -->
    <v-card >
          <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >SERVICE ASSIGNMENT</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
                 <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>
      <v-row>
        <v-col cols="12" md="12" xl="12"
          style="padding-top:8px;padding-bottom:0px;margin-bottom: -17px;padding-right:0px;padding-right:22px;padding-left:22px ">
          <v-autocomplete   solo rounded dense
            placeholder="Service Task Search" 
            v-mode="ServiceTaskSearch"
            :items="ServiceTaskOptions"
            @change="SelectServiceTask($event)">
            <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearTaskAssignment">mdi-plus-circle</v-icon>
  </template> -->

          </v-autocomplete>
        </v-col>

      </v-row>
      <v-divider></v-divider>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field v-model="ServiceTaskName" label="Task Names" style="padding-bottom:0px"></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
             <v-autocomplete
          v-model="selectedAssignedTos"
          :items="AssignedTosOptions"
          label="Assigned To"
          multiple
          outlined
          dense
          clearable 
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedAssignedTos.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAssignedTos">
            <v-list-item-title>Selected all Customer </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedAssignedTos.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAssignedTos">
            <v-list-item-title>Customer Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAssignedTos.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
          </v-col>


        </v-row>
        <!-- <v-row>
          <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-autocomplete :items="BranchCodeOptions" v-model="BranchCode" label="Branch Code" placeholder="Branch Code">

            </v-autocomplete>
          </v-col>
          <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">

            <v-autocomplete label="Status">

            </v-autocomplete>
          </v-col>


        </v-row> -->
        <v-row>
          <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-textarea label="Notes" v-model="Notes" auto-grow outlined rows="1" id="Remark" ref="Remark"></v-textarea>
          </v-col>
        </v-row>
        <div class="row-fluid" style="    margin-top: -10px;">
          <div class="col-lg-12 col-md-12 " style="padding:0px !important;    margin-top: -3px;
    margin-bottom: -19px;">
            <div class="cover-container" style="margin-top:0px; margin-bottom: 1px;margin-left: -17px;margin-right: -17px;">
              <!-- START PANEL -->

              <div class="cover-item" v-for="(item, i) in Attachments" :key="i" style="text-align:center;box-shadow:none;">
                <div v-if="item.FileExtension === '.jpeg' || item.FileExtension === '.png'" class="cover-item "
                  @click="EditAttachement(item, i)"
                  style="box-shadow: darkgray;padding-top: 16px !important; padding-bottom: 2px;border-radius: 5px;">

                  <img :src="item.ImageSrc" alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive>
                  <br>
                  <span class="cs" style="padding-top: 2px;">{{ item.Caption }}</span>
                </div>
                <div class="cover-item" @click="EditAttachement(item, i)"
                  style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF;"> Pdf</span>
                </div>

                <div v-if="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"
                  @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.docx'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.txt'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp4'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.opus'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
                <div v-if="item.FileExtension === '.mp3'" @click="EditAttachement(item, i)" class="cover-item"
                  style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                  <v-icon style="color:#FFF;font-size: 40px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                    fa-file-audio</v-icon><br>
                  <br>
                  <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                </div>
              </div>

            </div>
          </div>
          <v-row no-gutters>
            <v-col cols="12">
              <v-btn block color="#546E7A" dark @click="AttachmentModal = true">New Attachment <v-spacer></v-spacer>
                <v-icon style="font-size: 20px!important;">mdi-attachment</v-icon>
              </v-btn>

            </v-col>


          </v-row>
        </div>

      </v-card-text>
    </v-card>

    <fab :fixed-tooltip="fab.tooltip" :position="fab.position" :bg-color="fab.bgColor" :padding="fab.padding"
      :z-index="fab.zindex" :actions="fab.fabActions" :main-icon="fab.mainicon" :icon-size="fab.iconsize"
      @CallUser="CallUser" @ClearTaskAssignment="ClearTaskAssignment" @SaveTaskAssignment="SaveTaskAssignment" ></fab>


    <v-dialog v-model="DeleteConfirmation" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{
          $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
          <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
            <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmation = false">{{ $t(`common.cancel`)
            }}</v-btn>
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
            <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteAssignment">{{ $t(`dashboard.ok`) }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>


    <v-snackbar v-model="snackbar" :timeout="timeout" absolute rounded="pill" color="rgb(0, 53, 94)" font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;">
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
    <!-- ------------------------------------------------- Attachement Start Here------------------------------------------------------- -->
    <v-dialog v-model="AttachmentModal" fullscreen hide-overlay transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 2000000;">
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="AttachmentModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Attachment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId < 0"
              @click="AddAttachment()">mdi-content-save</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1 && AttachmentId > 0"
              @click="DownloadFile()">mdi-download</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" @click="ClearAttachment()">mdi-eraser</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1"
              @click="DeleteAttachment()">mdi-delete</v-icon>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:22px !important">
              <div style="text-align:center" class=" lighten-4 rounded elevation-3">
                <v-img :src="imageURL" @click="choosefilen" contain style="height:400px;width:100%;text-align:center;">
                </v-img>
                <input type="file" id="my_filen" style="display: none;padding-top:5px" @change="convert"
                  accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/gif, image/jpeg,video/mp4,video/x-m4v,video/*,.mp3, .wav,.mov,.docx,"
                  name="filename" />
                <!-- </v-avatar> -->

              </div>
            </v-col>
          </v-row>
          <!-- <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;padding-top:13px">
              <v-text-field label="Caption"> </v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;">
              <v-text-field type="text" label="Remarks"></v-text-field>

            </v-col>
          </v-row> -->
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-----------------Attachement Ends------------------------>

  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
import Attachments from "../../mixins/Attachments";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab, vueSignature//,Assets
  },
  data() {
    return {
      
    AssignedTosOptions: JSON.parse(localStorage.getItem("LinkedSalesPersnons")),
    selectedAssignedTos: [],

      bURL: '',
      bURLPrint: '',
      tab: null,
      tab1: null,
      fab: {

        tooltip: true,
        bgColor: 'rgb(0 53 94)',
        position: 'bottom-right',
        mainicon: 'list',
        zindex: '100',
        iconsize: 'small',
        fabActions: [
        
          {
            name: 'ClearTaskAssignment',
            icon: 'clear',
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: 'SaveTaskAssignment',
            icon: 'save',
            tooltip: this.$t(`common.save`)
          },

        ]
      },
      deleteDialog: false,
      Username: window.localStorage.getItem('UserName'),
      DecimalPlaces: window.localStorage.getItem('DecimalPlaces'),
      userType: window.localStorage.getItem('UserType'),
      Token: window.localStorage.getItem('Token'),
      SnackbarMessege: '',
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch: false,
      IsMultiBarnch: false,
      Settings: JSON.parse(localStorage.getItem('Settings')),
      AppName: localStorage.getItem('GetAppName'),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmation: false,
      BranchCode: '',
      IsNew: true,
      IsUpdate: false,
      DeleteName: false,
      UpdateConfirmationModal_Type: false,
      CreateWarningModalType: false,
      IsShowCreateWarningModalType: false,
      UpdateConfirmationModal_Group: false,
      CreateWarningModalGroup: false,
      IsShowCreateWarningModalGroup: false,
      TaskFullObject: [],
      Loaderdialog: false,
      ServiceTaskObjects : [],
      ServiceTaskOptions :[],
      ServiceTaskSearch:'',
      TaskId : -1,
      AssignmentId:-1,

    imageURL: 'https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=',
    AttachmentModal:false,
    Attachments : [],
     AttachmentEditId:-1,
    AttachmentId : -1,
    DeleteConfirmation_Attachment:false,


    }
  },
  mixins: [Attachments],
  computed: {
    likesAllAssignedTos () {
      return this.selectedAssignedTos.length === this.AssignedTosOptions.length
    },
    likesSomeAssignedTos () {
      return this.selectedAssignedTos.length > 0 && !this.likesAllAssignedTos
    },
    icon () {
      if (this.likesAllAssignedTos) return 'mdi-close-box'
      if (this.likesSomeAssignedTos) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }
  },
  mounted() {
    this.PreviousPage = localStorage.getItem('ActivePage')
    this.BackToPage = localStorage.getItem('BackToPage')
    localStorage.setItem('ActiveRoute','/dashboard/services/ServiceAssignment')
    

    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem('IsReload', true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage', 'ServiceAssignment')
    localStorage.removeItem('VoucherUpdated')
    
    this.GetSalesPersons()
    this.SetPermission()
    this.GetServiceTasks()
    this.checkUrl();
  },
  methods:
  {
     toggle () {
      this.$nextTick(() => {
        if (this.likesAllAssignedTos) {
          this.selectedAssignedTos = []
        } else {
          this.selectedAssignedTos = this.AssignedTosOptions.slice()
        }
      })
    },
    choosefilen() {
      document.getElementById("my_filen").click();
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {

        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");

      } else {
        // this.openSettings()
      }
    },


    GetSalesPersons()
    {
      
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        this.Username = localStorage.getItem('user')
      axios.get(this.bURL + 'user/GetLinkedSalesPersonsIncludingSelf/admin')
        .then((response)  =>  {
          this.AssignedTosOptions = response.data
          this.BasicSettings()
        }, (error)  =>  {
          console.log(error)
        })
    },
    BasicSettings() {
      this.IsSalesperson = localStorage.getItem('salePerson')
      this.BranchCode = localStorage.getItem('BranchCode')
      this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
      if (this.BranchCode !== '#' && this.BranchCode !== '') {
        this.BranchCode = this.BranchCode
        this.userType = window.localStorage.getItem('UserType');
        if (this.userType !== 'Administrator') {
          this.IsDisableBranch = true
        }
      }
      else if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== '') {
        this.BranchCode = this.DeviceDefaultBCode
      }
      else {
        this.BranchCode = ''
      }


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      if (this.AppName === "EAI") {
        this.IsEAIApp = true
      }
      else if (this.AppName === "EAG") {
        this.IsEAGApp = true
      }

    },
    SetPermission() {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + 'common/GetFormPermission/' + this.userType + ',frmServiceBooking')
        .then((response) => {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error) => {
          console.log(error)
        })
    },
    GetServiceTasks()
    {
      this.ServiceTaskObjects = []
      this.ServiceTaskOptions = []
      debugger
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + 'ServiceTask/GetServiceTasks' )
        .then((response) => {
          debugger
          this.ServiceTaskObjects = response.data
          for(this.i=0;this.i<this.ServiceTaskObjects.length;this.i++)
          {
            this.ServiceTaskOptions.push(this.ServiceTaskObjects[this.i].Name)
          }

          this.ServiceTaskId  = localStorage.getItem('ServiceTaskId')

          if(this.ServiceTaskId !=null)
          {
            for(this.i=0;this.i<this.ServiceTaskObjects.length;this.i++)
            {
              if(this.ServiceTaskObjects[this.i].TaskId === parseInt(this.ServiceTaskId) )
              {
                this.ServiceTaskSearch = this.ServiceTaskObjects[this.i].Name
                this.selectedAssignedTos = []
                this.ServiceTaskName = this.ServiceTaskObjects[this.i].Name
                this.TaskId = this.ServiceTaskObjects[this.i].TaskId
                this.Attachments = []
              }
            }
          }




        }, (error) => {
          console.log(error)
        })
    },
    SelectServiceTask(TaskName)
    {
      for(this.i=0;this.i<this.ServiceTaskObjects.length;this.i++)
      {
          if(this.ServiceTaskObjects[this.i].Name == TaskName)
          {
            this.selectedAssignedTos = []
              this.ServiceTaskName = this.ServiceTaskObjects[this.i].Name
              this.TaskId = this.ServiceTaskObjects[this.i].TaskId
            
              this.bURL = localStorage.getItem("CompanyURL") + "/api/";
              axios.get(this.bURL + 'ServiceAssignment/GetServiceAssignments?ServiceTaskId=' + this.ServiceTaskObjects[this.i].TaskId)
              .then((response) => {
                  this.AssignmentId = response.data.AssignmentId
                  this.Notes = response.data.Notes
                  this.selectedAssignedTos  = response.data.AssignedTos
                  this.Attachments = response.data.Attachments
                    
              }, (error) => {
                  this.selectedAssignedTos = []
                  this.AssignmentId = -1
                  this.Notes = ""
                  this.Attachments = []
              })
           
          }
      }
    },
    SetAssignedTos(data)
    {
      this.selectedAssignedTos = []
        this.Notes = data[0].Notes
        for(this.i=0;this.i<data.length;this.i++)
        {
          this.selectedAssignedTos.push(data[this.i].AssignedTos)
        }
    },
    SaveTaskAssignment()
    {

      if(this.TaskId === -1)
      {
        this.SnackbarMessege = "Please select service sask"
        this.snackbar = true
        return
      }
      if(this.selectedAssignedTos.length === 0)
      {
        this.SnackbarMessege = "Please select assigned to"
        this.snackbar = true
        return
      }
      this.today = new Date();

        this.hours = this.today.getHours().toString();
        if (this.hours.length === 1) {
          this.hours = "0" + this.today.getHours();
        } else {
          this.hours = this.today.getHours();
        }

        this.Minutes = this.today.getMinutes().toString();
        if (this.Minutes.length === 1) {
          this.Minutes = "0" + this.today.getMinutes();
        } else {
          this.Minutes = this.today.getMinutes();
        }

        this.Seconds = this.today.getSeconds().toString();
        if (this.Seconds.length === 1) {
          this.Seconds = "0" + this.today.getSeconds();
        } else {
          this.Seconds = this.today.getSeconds();
        }
        this.time = this.hours + ":" + this.Minutes + ":" + this.Seconds;

        this.d1 = new Date().toISOString().substr(0, 10) + "T" + this.time;
          this.TaskAssObj = {}
          this.TaskAssObj.AssignmentId = this.AssignmentId ? this.AssignmentId :-1
          this.TaskAssObj.TaskId = this.TaskId
          this.TaskAssObj.AssignedDate = this.d1
          this.TaskAssObj.Assignedfrom = localStorage.getItem('user')
          this.TaskAssObj.AcceptDate = "1899-01-01"
          this.TaskAssObj.StatusId = 0 
          this.TaskAssObj.Notes = this.Notes
          this.TaskAssObj.AssignedTos = this.selectedAssignedTos
          this.TaskAssObj.Attachments = this.Attachments
        if(this.TaskAssObj.AssignmentId  < 0)
        {
          localStorage.setItem('TaskAssObj',JSON.stringify(this.TaskAssObj))
          debugger
          if(this.isUpdatePermission === true)
              {
          this.bURL = localStorage.getItem("CompanyURL") + "/api/";
              axios.post(this.bURL + 'ServiceAssignment/InsertServiceAssignment' , this.TaskAssObj)
              .then((response) => {
                debugger
                this.SnackbarMessege = "Assigned successfully"
                this.snackbar = true
                this.ClearTaskAssignment()
                    
              }, (error) => {
                  this.selectedAssignedTos = []
              })
            }
            else{
                this.SnackbarMessege = "You have no permission"
                this.snackbar = true
              }
            }
            else{
              if(this.isUpdatePermission === true)
              {
                localStorage.setItem('TaskAssObj',JSON.stringify(this.TaskAssObj))
                debugger
                this.bURL = localStorage.getItem("CompanyURL") + "/api/";
                  axios.put(this.bURL + 'ServiceAssignment/UpdateServiceAssignment' , this.TaskAssObj)
                  .then((response) => {
                      debugger
                      this.SnackbarMessege = "Assigned successfully"
                      this.snackbar = true
                      this.ClearTaskAssignment()
                  }, (error) => {
                      this.selectedAssignedTos = []
                  })
              }
              else{
                this.SnackbarMessege = "You have no permission"
                this.snackbar = true
              }
            }



    },
    ClearTaskAssignment()
    {
      this.ServiceTaskName = ""
      this.ServiceTaskSearch = ""
      this.AssignmentId = -1
      this.TaskId = -1
      this.Notes = ""
      this.selectedAssignedTos = []
      this.Attachments = []
    },
    
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },
    SetAttachementImage()
    {
      for(this.i=0;this.i<this.Attachments.length;this.i++)
      {
        if(( this.Attachments[this.i].FileExtension === ".jpeg" || this.Attachments[this.i].FileExtension === ".png" ) &&  this.Attachments[this.i].AttachmentId < 0)
        {
          this.Attachments[this.i].IsImage = true
        }
        else if((this.Attachments[this.i].FileURL.includes(".png")))
        {
          this.Attachments[this.i].IsImage = true

        }
        else
        {
          this.Attachments[this.i].IsImage = false
        }

       if(this.Attachments[this.i].AttachmentId > 0)
       {
         this.Attachments[this.i].ImageSrc =   this.Attachments[this.i].FileURL
       }
      }
    },
  }
}
</script>


<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}

.theme--light.v-input {

  padding-top: 0px;
}

#innerExPan>.v-dialog>.v-card>.v-card__text {
  padding: 0 0px 0px;
}

#innerExPan>.v-card {
  padding: 0 0px 0px;
}

#innerExPan>.v-card__text {
  padding: 0 0px 0px;
}

input[type=date].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}

/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}

@media only screen and (max-device-width: 320px) {

  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}</style>

