<template>
  <div>
     <v-dialog persistent content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
      <div   class=" .col-12 col-sm-12 cardhead " style="padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
                 <v-row  >

                <v-col cols="11" style="padding-left:12px !important;padding-right:0px;
    padding-top: 0px !important;padding-bottom: 0px;color:#FFF !important">
              <span style="color:#FFF !important,font-size: 0.975rem;
    font-weight: 600;">{{HistoryMain.TaskName }} ?</span>
            </v-col>
               <v-col cols="1" style="padding-left:0px !important;padding-right:5px;
    padding-top: 0px !important;padding-bottom: 0px;color:#FFF !important;margin-top: -5px;">
     <v-menu offset-y left transition="slide-y-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on" style="padding-right:6px">
                        <v-icon small style="color:#FFF">mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>
                    <v-list dense nav>
                      <v-list-item link>
                        <v-list-item-title @click="NewTask()">New Task</v-list-item-title>
                      </v-list-item>
                    </v-list>
                      <v-list dense nav style="padding-top: 0px;
    text-align: center;">
                      <v-list-item link>
                        <v-list-item-title @click="taskattachementviewmodal=true"><v-icon>mdi-attachment</v-icon></v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
               </v-col>
            <v-col cols="12" style="padding-left:12px !important;padding-right:12px;
    padding-top: 0px !important;padding-bottom: 0px;margin-top: -5px;">
              <span style=" font-size: 13px !important;
    font-weight: 400;color:#FFF;">{{ HistoryMain.TaskNotes }}</span>
            </v-col>
            
            <v-col cols="7" style="padding-left: 12px;
    padding-top: 2px;padding-left:12px !important;padding-bottom: 0px;">
              <span style=" font-size: 13px !important;
    font-weight: 400;color:#FFF;font-family: Times New Roman, Times, serif !important;">{{ HistoryMain.CustName}}</span>
            </v-col>
            <v-col cols="5" style="padding-right: 12px;
      padding-top: 2px;padding-right:12px !important;text-align: right;padding-bottom: 0px;">
              <span style="color: #FFF;font-size: 0.75rem;">{{SetDayStartTime(HistoryMain.TaskEndDate)}}</span>
            </v-col>
            <v-col cols="6" style="padding-left: 16px;
    padding-top: 0px;padding-left:12px !important;    margin-top: -7px;padding-bottom: 5px;">
              <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color:#FFF">{{ HistoryMain.ServiceRequest }}</span>
            </v-col>
            <v-col cols="6" style="margin-top: -7px;padding-right: 16px;
      padding-top: 0px;padding-right:12px !important;padding-bottom: 5px;text-align: right">
              <span style=" font-size: 12px !important;
    font-weight: 400;color: #FFF;font-family: Times New Roman, Times, serif !important;">{{ HistoryMain.IssueType }}</span>
            </v-col>
            </v-row>
            </div>
    <v-card >
        <v-row >
<v-col cols="6" style="margin-top: 4px;padding-right: 16px;
      padding-top: 0px;padding-left:24px !important;text-align: left;padding-bottom: 11px;">
          <!-- <v-chip
                      color="green"
                      class="font-weight-bold mt-1 mr-1"
                      outlined
                      small

                    >
                   Accept
                    </v-chip> -->
          <v-chip color="green" class="font-weight-bold mt-1 mr-1" outlined small @click="OpenCommentModal">
            Comment
          </v-chip>
        </v-col>
        <v-col cols="6" style="margin-top: 4px;padding-right: 16px;
      padding-top: 0px;padding-left:24px !important;text-align: right;padding-bottom: 11px;" @click="ForwardTask()">
          <v-chip  color="red" class="font-weight-bold mt-1 mr-1" outlined small>
            Forward
          </v-chip>
        </v-col>
      </v-row>
      <v-divider style="padding-bottom: 0px;
    margin-bottom: 0px;"></v-divider>
      <v-expansion-panels v-model="ServiceHistoriesExpanded" multiple>
        <v-expansion-panel v-for="(ByCat, i) in HistoriesByCatDisplay" :key="i">
          <v-expansion-panel-header expand-icon="" style="    padding-right: 0px;
    padding-left: 0px;    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;">
      <v-row >
        <!-- <v-col cols="12" style="padding-left:24px !important;padding-right:24px;
    padding-top: 12px !important;padding-bottom: 0px;">
          <span style="    font-size: 0.975rem;
    font-weight: 600;">Easy Accounts Installation ?</span>
        </v-col>
        <v-col cols="12" style="padding-left:24px !important;padding-right:24px;
    padding-top: 0px !important;padding-bottom: 0px;margin-top: -5px;">
          <span style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">Easy Accounts Description</span>
        </v-col>
        <v-col cols="7" style="padding-left: 16px;
    padding-top: 2px;padding-left:24px !important;padding-bottom: 0px;">
          <span style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">ABC
            BAQULA</span>
        </v-col>
        <v-col cols="5" style="padding-right: 16px;
      padding-top: 2px;padding-right:24px !important;text-align: right;padding-bottom: 0px;">
          <span style="color: rgba(0, 0, 0, 0.6);font-size: 0.75rem;">20-07-2023 10.20 A.M</span>
        </v-col>
        <v-col cols="6" style="padding-left: 16px;
    padding-top: 0px;padding-left:24px !important;    margin-top: -7px;padding-bottom: 5px;">
          <span class="customername" style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);">Oman</span>
        </v-col>
        <v-col cols="6" style="margin-top: -7px;padding-right: 16px;
      padding-top: 0px;padding-right:24px !important;padding-bottom: 5px;text-align: right">
          <span style=" font-size: 12px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">Easy
            Accounts</span>
        </v-col> -->
        
             <v-col cols="6" style="padding-left: 16px;
    padding-top: 0px;padding-left:24px !important;    margin-top: 5px;padding-bottom: 5px;">
            <span style="font-size: 0.975rem;
    font-weight: 600;font-family: Times New Roman, Times, serif !important;">{{ ByCat.HistoryDetails[0].ServicePerson }} Assigned to {{ ByCat.HistoryDetails[0].ServicePerson }}</span>
          </v-col>
          <v-col cols="6" style="margin-top: 5px;padding-right: 16px;
      padding-top: 0px;padding-right:24px !important;padding-bottom: 5px;text-align: right">
          <span style="color: rgba(0, 0, 0, 0.6);font-size: 0.75rem;">3 hrs 20 mins</span>
          </v-col>
            <v-col cols="12" style="padding-left: 16px;
    padding-top: 0px;padding-left:24px !important;    margin-top: 0px;padding-bottom: 5px;margin-top: -5px;">
              <span style=" font-size: 13px !important;
         
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">{{ByCat.HistoryDetails[0].AssNotes}}</span>
   </v-col>
            
     <v-col cols="12" style="padding-left: 16px;
    padding-top: 0px;padding-left:15px !important;    padding-bottom: 0px;
    margin-bottom: -10px;
    margin-top: -10px;
">

        <div class="cover-container"  style="margin-left:-13px !important;text-align: left;
    margin-top: 0px;" >
            <!-- START PANEL -->
            <!-- <div class="cover-item" v-for="(item,i) in 5" :key="i" style="text-align:center;"> -->

             <div class="cover-item" v-for="(item,i) in 1" :key="i" style="text-align:center;box-shadow:none;padding-top:0px;margin-right:14px">
                <div  v-if ="item.FileExtension === '.jpeg' || item.FileExtension === '.png'"  class="cover-item " @click="EditAttachement(item,i)" style="box-shadow: darkgray;padding-top: 0px !important; padding-bottom: 2px;border-radius: 5px;margin-right:16px;    width: 50px;
    height: 50px;">

              <!-- <img :src="item.ImageSrc"
              alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive> -->
    <img :src="item.ImageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1"  style="width:50px; height:50px;   border: 1px solid #0003;padding-left:1px " >

            </div>
             <div   class="cover-item" @click="EditAttachement(item,i)" style="background-color:#B71C1C;padding-top: 0px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;
">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>

            </div>

             <div v-if ="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"  @click="EditAttachement(item,i)" class="cover-item" style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.docx'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.txt'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>

            </div>
              <div v-if ="item.FileExtension === '.mp4'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.opus'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.mp3'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             </div>

               <!-- END PANEL -->

    </div>
    </v-col>
     
      </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content style="padding-right:0px !imprtant;padding-left:0px !important" id="newcontent">
              <v-divider style="padding-bottom: 0px;
    margin-bottom: 0px;"></v-divider>
             <v-row v-for="(item,i) in 1" :key="i">
              <v-col cols="12" style="padding-top:5px">
                <v-avatar size="36px">
                  <img src="/images/avatars/avatar1.svg" alt="">
                </v-avatar>
                <span style="font-size:15px;font-weight:600;padding-top:2px"> {{ ByCat.HistoryDetails[0].ServicePerson }}</span>
              </v-col>
              <!-- <v-col cols="7" style="    padding-left: 29px;
    padding-top: 14px">
                <div class="font-weight-bold mb-1">Munner</div>
              </v-col> -->
                <!-- <v-col cols="4" style="text-align:right;
    padding-top: 14px">
                  <span style="color: rgba(0, 0, 0, 0.6);font-size: 0.75rem;">2 hrs 20 mins</span>
                </v-col> -->
            </v-row>

      <v-expansion-panels  style="margin-top:-16px">
        <v-expansion-panel v-for="(HistoryDetails, index) in ByCat.HistoryDetails" :key="index">
          <v-expansion-panel-header expand-icon="" style="    padding-right: 5px;
    padding-left: 5px;    padding-top: 0px;
    margin-top: -17px;
    margin-bottom: 0px;
    padding-bottom: 7px;">
            <v-row>
              <v-col cols="10" style="    padding-left: 22px;
    padding-top: 35px;text-align:left">
                <div class="font-weight-bold mb-1">{{HistoryDetails.Status}}</div>
              </v-col>
              <v-col cols="2" style="text-align:right">
                <v-menu offset-y left transition="slide-y-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" style="padding-right:6px">
                      <v-icon small>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list dense nav>
                    <v-list-item link>
                      <v-list-item-title @click="EditHistory(HistoryDetails)">View</v-list-item-title>
                    </v-list-item>
                    <v-list-item link>
                      <v-list-item-title>Delete</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>

              </v-col>
              <v-col cols="6" style="text-align:left;    padding-top: 0px;
    margin-top: -16px;    padding-bottom: 0px;padding-left:22px">
                <span style=" font-size: 16px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">Going</span>
              </v-col>
              <v-col cols="6" style="text-align:right;    padding-top: 0px;
    margin-top: -16px;    padding-bottom: 0px;">
                <span style="color: rgba(0, 0, 0, 0.6);font-size: 0.75rem;">2 hrs 20 mins</span>
              </v-col>
                <v-col cols="12" style="
   
    padding-bottom: 0px;
    padding-top: 12px;
    margin-bottom: -10px;">
                <div v-html="HistoryDetails.Notes" ></div>
                <!-- <span>{{ item.Notes }}</span> -->
              </v-col>

            </v-row>
            <!-- <template >

                <div class="d-flex">
                  <v-avatar size="36px">
                    <img :src="item.avatar" alt="">
                  </v-avatar>

                  <div class="mx-3 min-w-0" style="margin-right: 0px !important;
    margin-left: 10px !important;">
                    <div class="font-weight-bold mb-1">{{ item.name }}</div>



                  </div>

              <v-spacer></v-spacer>

                  <v-menu offset-y left transition="slide-y-transition">
                    <template v-slot:activator="{ on }">
                      <v-btn icon v-on="on">
                        <v-icon small>mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>
                    <v-list dense nav>
                      <v-list-item link>
                        <v-list-item-title>View</v-list-item-title>
                      </v-list-item>
                      <v-list-item link>
                        <v-list-item-title>Delete</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>

                </div>
              </template>
 -->


          </v-expansion-panel-header>
          <v-expansion-panel-content id="innerExPanservice">
              <v-row no-gutters>
                <v-col cols="12" style="padding-bottom:5px">
                  <v-divider ></v-divider>
                </v-col>
             <v-col cols="12" style="
    padding-top: 0px;padding-left:0px !important;    padding-bottom: 0px;
    margin-bottom: -10px;
    margin-top: -10px;
">

        <div class="cover-container"  style="margin-left:-13px !important;text-align: left;
    margin-top: 0px;" >
            <!-- START PANEL -->
            <!-- <div class="cover-item" v-for="(item,i) in 5" :key="i" style="text-align:center;"> -->

             <div class="cover-item" v-for="(item,i) in 1" :key="i" style="text-align:center;box-shadow:none;padding-top:0px;margin-right:14px">
                <div  v-if ="item.FileExtension === '.jpeg' || item.FileExtension === '.png'"  class="cover-item " @click="EditAttachement(item,i)" style="box-shadow: darkgray;padding-top: 0px !important; padding-bottom: 2px;border-radius: 5px;margin-right:16px;    width: 50px;
    height: 50px;">

              <!-- <img :src="item.ImageSrc"
              alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive> -->
    <img :src="item.ImageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1"  style="width:50px; height:50px;   border: 1px solid #0003;padding-left:1px " >

            </div>
             <div   class="cover-item" @click="EditAttachement(item,i)" style="background-color:#B71C1C;padding-top: 0px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;
">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>

            </div>

             <div v-if ="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"  @click="EditAttachement(item,i)" class="cover-item" style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.docx'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.txt'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>

            </div>
              <div v-if ="item.FileExtension === '.mp4'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.opus'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.mp3'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 50px;
    width: 50px;">
               <v-icon style="color:#FFF;font-size: 35px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             </div>

               <!-- END PANEL -->

    </div>
    </v-col>
              </v-row>

          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
   

    </v-card>
     <!-- ------------------------------------------------- CommentModal Start Here------------------------------------------------------- -->
    <v-dialog v-model="CommentModal" fullscreen hide-overlay transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 1000000;">
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="CommentModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Your Comment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-icon style="padding-right:10px;font-size:20px !important" 
              @click="SaveServicehistory()">mdi-content-save</v-icon>
            
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text style="padding:0px">
          <v-row>
            <v-col cols="12" md="12" sm="12" style="    padding-top: 24px !important;
    padding-bottom: 0px !important;
    padding-right: 24px;
    padding-left: 24px;">
              <v-autocomplete label="Status"
              v-model="Status"
              :items="StatusOptions">
              </v-autocomplete>
            </v-col>

          </v-row>
          <v-divider></v-divider>

          <!-- <div class="email-editor">
            <editor-menu-bar v-slot="{ commands, isActive }" :editor="editor">
              <div class="pa-1">
                <v-btn icon tile :class="{ 'is-active': isActive.bold() }" @click="commands.bold">
                  <v-icon>mdi-format-bold</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.italic() }" @click="commands.italic">
                  <v-icon>mdi-format-italic</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.strike() }" @click="commands.strike">
                  <v-icon>mdi-format-strikethrough</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.underline() }" @click="commands.underline">
                  <v-icon>mdi-format-underline</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.paragraph() }" @click="commands.paragraph">
                  <v-icon>mdi-format-paragraph</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.heading({ level: 1 }) }"
                  @click="commands.heading({ level: 1 })">
                  H1
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.heading({ level: 2 }) }"
                  @click="commands.heading({ level: 2 })">
                  H2
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.heading({ level: 3 }) }"
                  @click="commands.heading({ level: 3 })">
                  H3
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.bullet_list() }" @click="commands.bullet_list">
                  <v-icon>mdi-format-list-bulleted</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.ordered_list() }" @click="commands.ordered_list">
                  <v-icon>mdi-format-list-numbered</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.blockquote() }" @click="commands.blockquote">
                  <v-icon>mdi-format-quote-close</v-icon>
                </v-btn>

                <v-btn icon tile :class="{ 'is-active': isActive.code_block() }" @click="commands.code_block">
                  <v-icon>mdi-code-tags</v-icon>
                </v-btn>

                <v-btn icon tile @click="commands.horizontal_rule">
                  <v-icon>mdi-minus</v-icon>
                </v-btn>

                <v-btn icon tile @click="commands.undo">
                  <v-icon>mdi-undo</v-icon>
                </v-btn>

                <v-btn icon tile @click="commands.redo">
                  <v-icon>mdi-redo</v-icon>
                </v-btn>
                <v-btn icon tile @click='AttachmentModal = true'>
                  <v-icon>mdi-attachment</v-icon>

                </v-btn>
              </div>
            </editor-menu-bar>

            <v-divider style="padding-top: 0px;
    margin-top: 0px;"></v-divider>

            <editor-content style="    padding-top: 2px !important;
    padding-bottom: 32px !important;" class="editor__content pa-3 py-4" :editor="editor" />

            <v-divider></v-divider>
          </div> -->
             <div class="pull-right" style="padding:0px;padding-top:10px;margin-right: 21px;
    margin-left: -27px;">
           
            <!-- <v-btn  color="#9155fd" class="mx-2" fab x-small outlined>
              <i class="fa fa-paperclip" aria-hidden="true"></i>
            </v-btn> -->
           
                  <v-icon  color="primary" @click='AttachmentModal = true'>mdi-attachment</v-icon>

                
          </div>
           <vue-editor v-model="content" :editorToolbar="customToolbar"><v-icon>mdi-attachment</v-icon></vue-editor>
         
          <div class="row-fluid" style="    margin-top: 0px;">
            <v-row no-gutters>
              <v-col cols="12" style="margin-bottom:-2px">
                <div class="row-fluid" style="    margin-top: -10px;">
                  <div class="col-lg-12 col-md-12 " style="padding:0px !important;    margin-top: 0px;
    margin-bottom: -19px;">
                    <div class="cover-container" style="margin-top:0px; margin-bottom: 5px;">
                      <!-- START PANEL -->

                      <div class="cover-item" v-for="(item, i) in Attachments" :key="i" style="text-align:center;box-shadow:none;">
                        <div v-if="item.FileExtension === '.jpeg' || item.FileExtension === '.png'" class="cover-item "
                          @click="EditAttachement(item, i)"
                          style="box-shadow: darkgray;padding-top: 16px !important; padding-bottom: 2px;border-radius: 5px;">

                          <img :src="item.ImageSrc" alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive>
                          <br>
                          <span class="cs" style="padding-top: 2px;">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.pdf'" class="cover-item" @click="EditAttachement(item, i)"
                          style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF;">{{item.Caption}}</span>
                        </div>

                        <div v-if="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"
                          @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.docx'" @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.txt'" @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.mp4'" @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.opus'" @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 47px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                            fa-file-audio</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                        <div v-if="item.FileExtension === '.mp3'" @click="EditAttachement(item, i)" class="cover-item"
                          style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
                          <v-icon style="color:#FFF;font-size: 40px !important;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas
                            fa-file-audio</v-icon><br>
                          <br>
                          <span class="cs" style="color:#FFF">{{ item.Caption }}</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </v-col>
            </v-row>





          </div>


        </v-card-text>
      </v-card>
    </v-dialog>
    <!-----------------taskattachementview Ends------------------------>
   
    <!-- ------------------------------------------------- Attachement Start Here------------------------------------------------------- -->
    <v-dialog v-model="AttachmentModal" fullscreen hide-overlay transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 2000000;">
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="AttachmentModal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Attachment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId < 0"
              @click="AddAttachment()">mdi-content-save</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1 && AttachmentId > 0"
              @click="DownloadFile()">mdi-download</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" @click="ClearAttachment()">mdi-eraser</v-icon>
            <v-icon style="padding-right:10px;font-size:20px !important" v-if="AttachmentEditId > -1"
              @click="DeleteAttachment()">mdi-delete</v-icon>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:22px !important">
              <div style="text-align:center" class=" lighten-4 rounded elevation-3">
                <v-img :src="imageURL" @click="choosefilen" contain style="height:400px;width:100%;text-align:center;">
                </v-img>
                <input type="file" id="my_filen" style="display: none;padding-top:5px"
                  accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/gif, image/jpeg,video/mp4,video/x-m4v,video/*,.mp3, .wav,.mov,.docx,"
                  name="filename" 
                  @change="convert"/>
                <!-- </v-avatar> -->

              </div>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;padding-top:13px">
              <v-text-field label="Caption"> </v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;">
              <v-text-field type="text" label="Remarks"></v-text-field>

            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-----------------Attachement Ends------------------------>

      <v-dialog v-model="taskattachementviewmodal" fullscreen hide-overlay transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 1000000;">
     <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="taskattachementviewmodal = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Attachment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-icon style="padding-right:10px;font-size:20px !important" >mdi-download</v-icon>
            
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:22px !important">
              <div style="text-align:center" class=" lighten-4 rounded elevation-3">
                <v-img :src="imageURL" @click="choosefilen" contain style="height:400px;width:100%;text-align:center;">
                </v-img>
                <input type="file" id="my_filen" style="display: none;padding-top:5px"
                  accept="image/*,application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel,image/gif, image/jpeg,video/mp4,video/x-m4v,video/*,.mp3, .wav,.mov,.docx,"
                  name="filename" 
                  @change="convert"/>
                <!-- </v-avatar> -->

              </div>
            </v-col>
          </v-row>
                    <div class="row-fluid" style="    margin-top: -10px;">
         <v-row no-gutters>
    <v-col cols="12" style="margin-bottom:-2px">

        <div class="cover-container"  style="margin-left:-13px !important;text-align: center;
    margin-top: 20px;" >
            <!-- START PANEL -->
            <!-- <div class="cover-item" v-for="(item,i) in 5" :key="i" style="text-align:center;"> -->

             <div class="cover-item" v-for="(item,i) in 1" :key="i" style="text-align:center;box-shadow:none;padding-top:0px;margin-right:14px">
                <div  v-if ="item.FileExtension === '.jpeg' || item.FileExtension === '.png'"  class="cover-item " @click="EditAttachement(item,i)" style="box-shadow: darkgray;padding-top: 0px !important; padding-bottom: 2px;border-radius: 5px;margin-right:16px;    width: 100px;
    height: 100px;">

              <!-- <img :src="item.ImageSrc"
              alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive> -->
    <img :src="item.ImageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1"  style="width:100px; height:100px;   border: 1px solid #0003;padding-left:1px " >

            </div>
             <div   class="cover-item" @click="EditAttachement(item,i)" style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;
">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>

            </div>

             <div v-if ="item.FileExtension === '.xlsx' || item.FileExtension === '.xlsb'"  @click="EditAttachement(item,i)" class="cover-item" style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.docx'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>

            </div>
            <div v-if ="item.FileExtension === '.txt'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>

            </div>
              <div v-if ="item.FileExtension === '.mp4'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;padding-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.opus'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             <div v-if ="item.FileExtension === '.mp3'"   @click="EditAttachement(item,i)" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;height: 100px;
    width: 100px;">
               <v-icon style="color:#FFF;font-size: 70px !important;
    margin-bottom: -13px;margin-top:7px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>

            </div>
             </div>

               <!-- END PANEL -->

    </div>
    </v-col>
    </v-row>



</div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-----------------Commentmodal Ends------------------------>
      <!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 2000000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
    <!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->

  </div>
</template>

<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import axios from 'axios'

import { VueEditor } from "vue2-editor";
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import Attachments from "../../mixins/Attachments";
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History
} from 'tiptap-extensions'

/*
|---------------------------------------------------------------------
| Email Editor Component
|---------------------------------------------------------------------
|
| Form to send and edit email content built on top of tip tap plugin
|
*/
export default {
  components: {
    EditorContent,
    EditorMenuBar,
    VueEditor

  },
  data() {
    return {
      toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help fullscreen ',
      
          customToolbar : [
[{ 'font': [] }],
[{ 'size': ['small', false, 'large', 'huge'] }],
['bold', 'italic', 'underline', 'strike'],
[{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
[{ 'header': 1 }, { 'header': 2 }],
['blockquote', 'code-block'],
[{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
// [{ 'script': 'sub'}, { 'script': 'super' }],
[{ 'indent': '-1'}, { 'indent': '+1' }],
[{ 'color': [] }, { 'background': [] }],
['link'],
// ['link', 'image', 'video','formula'],
[{ 'direction': 'rtl' }],
['clean'],
[ 'mdi-domain'],

],
      ServiceHistoriesExpanded: [0],
      ServiceHistories: [/* {
        name: 'ABDUL MAJID FOOD STUFF',
        avatar: '/images/avatars/avatar1.svg'
      }, {
        name: 'ABC BAQALA',
        avatar: '/images/avatars/avatar1.svg'
      }, {
        name: 'ABDUL KHADAR',
        avatar: '/images/avatars/avatar1.svg'
      }, {
        name: 'ABDUL AZIZ BAQALA',
        avatar: '/images/avatars/avatar1.svg'
      } */],
       snackbar: false,
      SnackbarMessege: "",
      timeout: 2000,
     Loaderdialog: false,
      CommentModal: false,
      taskattachementviewmodal:false,
      toAddresses: [{
        text: 'Ruben Breitenberg',
        email: 'ruben@notarealemailaddress.com',
        avatar: '/images/avatars/avatar2.svg'
      }, {
        text: 'Blaze Carter',
        email: 'blaze@notarealemailaddress.com',
        avatar: '/images/avatars/avatar3.svg'
      }],
      showCC: false,
      showBCC: false,
      toggleFormat: [],
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History()
        ],
        // content: `
        //   <h3>
        //     Hi there,
        //   </h3>
        //   <p>
        //     <br />
        //     I'll take my boat.
        //   </p>
        //   <blockquote>
        //     Best regards 👏
        //     <br />
        //     – Tom Cruise
        //   </blockquote>
        // `
        content: `
          Please type your comment
        `
      }),
      Username: window.localStorage.getItem('UserName'),
      DecimalPlaces: window.localStorage.getItem('DecimalPlaces'),
      userType: window.localStorage.getItem('UserType'),
      Token: window.localStorage.getItem('Token'),
      SnackbarMessege: '',
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch: false,
      IsMultiBarnch: false,
      Settings: JSON.parse(localStorage.getItem('Settings')),
      AppName: localStorage.getItem('GetAppName'),
      IsEAGApp: false,
      IsEAIApp: false,
      StatusOptions :[],
      Status : "",
      content : '',
      ServiceHistories : [],
      HistoriesByCat : [],
      HistoriesByCatDisplay : [],
      HistoryMain:{},
      DisplayDate:'',
      DisplayTime:'',

    imageURL: 'https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=',
    AttachmentModal:false,
    Attachments : [],
     AttachmentEditId:-1,
    AttachmentId : -1,
    DeleteConfirmation_Attachment:false,
    TaskModal:true,
    HistoryId : -1,
    ServicePerson :'',
    AssAttachments :[],
    }
  },
  beforeDestroy() {
    this.editor.destroy()
  },
  mixins: [Attachments],
  mounted()
  {
    localStorage.setItem('ActiveRoute','/dashboard/services/ServiceHistory')
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem('IsReload', true)
      this.$router.push('/auth/signin')
    }

    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
    this.LoadServiceStatus()
    this.GetServiceHistory()
  },
  methods: {
    choosefilen() {
      document.getElementById("my_filen").click();
    },
    OpenAttachmentModal() {
      this.AttachmentModal = true
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {

        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");

      } else {
        // this.openSettings()
      }
    },
    BasicSettings() {
      this.IsSalesperson = localStorage.getItem('salePerson')
      this.BranchCode = localStorage.getItem('BranchCode')
      this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
      if (this.BranchCode !== '#' && this.BranchCode !== '') {
        this.BranchCode = this.BranchCode
        this.userType = window.localStorage.getItem('UserType');
        if (this.userType !== 'Administrator') {
          this.IsDisableBranch = true
        }
      }
      else if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== '') {
        this.BranchCode = this.DeviceDefaultBCode
      }
      else {
        this.BranchCode = ''
      }


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      if (this.AppName === "EAI") {
        this.IsEAIApp = true
      }
      else if (this.AppName === "EAG") {
        this.IsEAGApp = true
      }

    },
    SetPermission() {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + 'common/GetFormPermission/' + this.userType + ',frmServiceBooking')
        .then((response) => {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error) => {
          console.log(error)
        })
    },
    
   LoadServiceStatus()
   {
     this.StatusOptions = []
     this.brcode = window.localStorage.getItem("BranchCode");
     this.role = window.localStorage.getItem("UserType");
     this.brcode=this.brcode?this.brcode:"All";
     axios.get ( this.bURL + "ServiceStatus/GetServiceStatuses")
       .then((response)  =>  {
         this.StatusObject = response.data
      for (this.i = 0; this.i < this.StatusObject.length; this.i++) {
          this.StatusOptions.push(this.StatusObject[this.i].StatusName)

          }

          if(this.StatusOptions.length === 1)
           this.vm.Status = this.StatusOptions[0]

       }, (error)  =>  {
         console.log(error)
       })
   },
   GetServiceHistory()
   {
    this.ServiceHistories = []
    this.AssAttachments = []
       this.TaskId = localStorage.getItem('ServiceTaskId')
       axios.get ( this.bURL + "ServiceHistory/GetServiceHistory?TaskId="+this.TaskId)
       .then((response)  =>  {
        this.ServiceHistories = response.data.ServiceHistories
        this.AssAttachments = response.data.AssAttachments
        /* for(this.i=0;this.i<response.data.ServiceHistories.length;this.i++)
        {
          if(response.data.ServiceHistories[this.i].StatusId > 0)
          {
            this.ServiceHistories.push(response.data.ServiceHistories[this.i])
          }
        } */
        this.HistoryMain = response.data.ServiceHistories[0]

        this.SetDetailsByCategory()
        

         }, (error)  =>  {
           
        })
   },

   SetDetailsByCategory()
    {
      this.HistoriesByCat = []
      if(this.ServiceHistories.length>0)
      {

          this.Obj = {
            "AssignmentId" : this.ServiceHistories[0].AssignmentId,
            "HistoryDetails" : []
          }
         this.Obj.HistoryDetails.push(this.ServiceHistories[0])
         this.HistoriesByCat.push(this.Obj)
      }
      for(this.i = 1;this.i<this.ServiceHistories.length;this.i++)
      {

        this.IsAdded = false
        for(this.j=0;this.j<this.HistoriesByCat.length;this.j++)
        {
            if(this.HistoriesByCat[this.j].AssignmentId === this.ServiceHistories[this.i].AssignmentId) 
            {
              this.HistoriesByCat[this.j].HistoryDetails.push(this.ServiceHistories[this.i])
              this.IsAdded = true
              break
            }

        }
        if(this.IsAdded === false)
        {
              this.Obj = {
                "AssignmentId" : this.ServiceHistories[this.i].AssignmentId,
                "HistoryDetails" : []
              }
              this.Obj.HistoryDetails.push(this.ServiceHistories[this.i])
              this.HistoriesByCat.push(this.Obj)
        }

      }
      for(this.i=this.HistoriesByCat.length-1;this.i>-1;this.i--)
      {
        this.HistoriesByCatDisplay.push(this.HistoriesByCat[this.i])
      }
      //debugger

    },
   
   OpenCommentModal()
   {
    this.TempSalesperson = ''
    if(this.ServiceHistories.length === 0)
      {
          this.HistoryId  = this.HistoryMain.HistoryId
          this.EditItem =  this.HistoryMain
          this.TempSalesperson = this.HistoryMain.ServicePerson
      }
      else
      {
        this.EditItem =  this.HistoriesOriginal[this.HistoriesOriginal.length-1]
        this.TempSalesperson =  this.HistoriesOriginal[this.HistoriesOriginal.length-1].ServicePerson
        this.HistoryId = -1
      }
      this.content = ""
      this.Status = ""
      
      if(this.IsSalesperson === this.TempSalesperson)
      {
        this.CommentModal = true
      }
      else{
        this.SnackbarMessege = true
        this.snackbar
      }
      
   },
   EditHistory(item)
   {
      this.HistoryId  = item.HistoryId
      this.content = item.Notes
      this.Status = item.Status
      this.ServicePerson = item.ServicePerson

      this.EditItem =  item
      if(this.IsSalesperson === this.ServiceHistories[this.ServiceHistories.length-1].ServicePerson)
      {
        this.CommentModal = true
      }
      else{
        this.SnackbarMessege = "You have no permission"
        this.snackbar = true
      }
   },
   SaveServicehistory()
   {
        //console.log(this.content)

        this.today = new Date();

        this.hours = this.today.getHours().toString();
        if (this.hours.length === 1) {
          this.hours = "0" + this.today.getHours();
        } else {
          this.hours = this.today.getHours();
        }

        this.Minutes = this.today.getMinutes().toString();
        if (this.Minutes.length === 1) {
          this.Minutes = "0" + this.today.getMinutes();
        } else {
          this.Minutes = this.today.getMinutes();
        }

        this.Seconds = this.today.getSeconds().toString();
        if (this.Seconds.length === 1) {
          this.Seconds = "0" + this.today.getSeconds();
        } else {
          this.Seconds = this.today.getSeconds();
        }
        this.time = this.hours + ":" + this.Minutes + ":" + this.Seconds;

        this.d1 = new Date().toISOString().substr(0, 10) + "T" + this.time;



      this.StatusId = -1
      this.IsEndTask = false;
      for(this.i=0;this.i<this.StatusObject.length;this.i++)
      {
        if(this.StatusObject[this.i].StatusName === this.Status) 
        {
          this.StatusId = this.StatusObject[this.i].StatusId
          if(this.StatusObject[this.i].Category === 3) 
          {
              this.IsEndTask = true;
          }
          break
        }
        
      }
      this.ServiceAssObj = {}
      this.ServiceAssObj.HistoryId = this.HistoryId?this.HistoryId:-1
      this.ServiceAssObj.TaskId = parseInt(this.EditItem.TaskId) 
      if(this.ServiceHistories.length > 0)
      {
        this.ServiceAssObj.StartDate = this.EditItem.StartDate?this.EditItem.StartDate:this.d1
      }
      else{
        this.ServiceAssObj.StartDate = this.d1
      }
      
      this.ServiceAssObj.ServicePerson = this.EditItem.ServicePerson
      if( this.IsEndTask === true )
      {
        this.ServiceAssObj.EndDate = this.d1
      }
      else{
        this.ServiceAssObj.EndDate = '1899-01-01'
      }
      
      this.ServiceAssObj.StatusId = this.StatusId
      this.ServiceAssObj.AssignedFrom = this.EditItem.AssignedFrom
      this.ServiceAssObj.AssignmentId = this.EditItem.AssignmentId
      this.ServiceAssObj.Notes = this.content
      this.Loaderdialog = true
localStorage.setItem('ServiceAssObj',JSON.stringify(this.ServiceAssObj))
   if(this.HistoryId < 0)
   {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
              axios.post(this.bURL + 'ServiceHistory/InsertServiceHistory' , this.ServiceAssObj)
              .then((response) => {
                this.SnackbarMessege = "Assigned successfully"
                this.snackbar = true
                this.Loaderdialog = false
                this.content = ''
                this.Status = ''
                this.CommentModal = false
                this.GetServiceHistory()
                    
              }, (error) => {
                this.SnackbarMessege = "Failed"
                this.snackbar = true
                this.Loaderdialog = false
              })
   }
   else{
    this.bURL = localStorage.getItem("CompanyURL") + "/api/";
              axios.put(this.bURL + 'ServiceHistory/UpdateServiceHistory' , this.ServiceAssObj)
              .then((response) => {
                this.SnackbarMessege = "Assigned successfully"
                this.snackbar = true
                this.Loaderdialog = false
                this.content = ''
                this.Status = ''
                this.CommentModal = false
                this.GetServiceHistory()
                    
              }, (error) => {
                this.SnackbarMessege = "Failed"
                this.snackbar = true
                this.Loaderdialog = false
              })
   }
   },
   NewTask()
   {
    if(this.IsSalesperson === this.ServiceHistories[this.ServiceHistories.length-1].ServicePerson)
      {
      localStorage.removeItem('ServiceBookingId')
      localStorage.removeItem('BookingId')
      localStorage.setItem('BookingId',this.HistoryMain.ServiceBookingId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
      localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
      this.$router.push('/dashboard/services/ServiceTask')
      }
      else{
         this.SnackbarMessege = "You have no permission"
           this.snackbar = true
      }
         
   },
   SetAttachementImage()
    {
      for(this.i=0;this.i<this.Attachments.length;this.i++)
      {
        if(( this.Attachments[this.i].FileExtension === ".jpeg" || this.Attachments[this.i].FileExtension === ".png" ) &&  this.Attachments[this.i].AttachmentId < 0)
        {
          this.Attachments[this.i].IsImage = true
        }
        else if((this.Attachments[this.i].FileURL.includes(".png")))
        {
          this.Attachments[this.i].IsImage = true

        }
        else
        {
          this.Attachments[this.i].IsImage = false
        }
       if(this.Attachments[this.i].AttachmentId > 0)
       {
         this.Attachments[this.i].ImageSrc =   this.Attachments[this.i].FileURL
       }
      }
    },
    SetAssAttachementImage()
    {
      for(this.i=0;this.i<this.AssAttachments.length;this.i++)
      {
        if(( this.AssAttachments[this.i].FileExtension === ".jpeg" || this.AssAttachments[this.i].FileExtension === ".png" ) &&  this.Attachments[this.i].AttachmentId < 0)
        {
          this.AssAttachments[this.i].IsImage = true
        }
        else if((this.AssAttachments[this.i].FileURL.includes(".png")))
        {
          this.AssAttachments[this.i].IsImage = true

        }
        else
        {
          this.AssAttachments[this.i].IsImage = false
        }
       if(this.AssAttachments[this.i].AttachmentId > 0)
       {
         this.AssAttachments[this.i].ImageSrc =   this.AssAttachments[this.i].FileURL
       }
      }
    },
    FormatDate(Value) {
      if(Value !== null && Value !== undefined)
      {
        return Value.split("T")[0];
      }
      else{
        return "";
      }
      
    },
    SetDayStartTime(time)
    {
      this.Date =  new Date(time)
      this.Hr =  this.Date.getHours()
      this.Min =  this.Date.getMinutes();
      this.ampm =  this.Hr >= 12 ? 'PM' : 'AM';
      this.Hr = this.Hr % 12;
      this.Hr = this.Hr ? this.Hr : 12; // the hour '0' should be '12'
      this.Min = this.Min < 10 ? '0'+this.Min : this.Min;
      this.VoucherTime  = this.Hr +  ":"  + this.Min + "   " + this.ampm

      this.DisplayDate = this.FormatDate(time)

      this.DisplayTime = this.VoucherTime
      return  this.DisplayDate //+ '  ' + this.DisplayTime
    },
    ForwardTask()
    {
      if(this.IsSalesperson === this.ServiceHistories[this.ServiceHistories.length-1].ServicePerson)
      {
         if(this.isUpdatePermission  === true)
         {
           localStorage.setItem('ServiceTaskId',this.HistoryMain.TaskId)
           this.ActiveRoute = localStorage.getItem('ActiveRoute')
           localStorage.setItem('PreviousRoute',this.ActiveRoute)
           localStorage.setItem('ActiveRoute','/dashboard/services/ServiceAssignment')
           this.$router.push('/dashboard/services/ServiceAssignment')

         }
         else{
          this.SnackbarMessege = "You have no permission"
           this.snackbar = true
           
         }
    }
    else
    {
           this.SnackbarMessege = "You have no permission"
           this.snackbar = true
    }
   }


  }
}
</script>
<style>
#innerExPanservice>.v-expansion-panel-content__wrap {
  padding-top: 0px !important;
  padding-right: 10px !important;
  padding-bottom: 7px !important;
  padding-left: 10px !important;
}
#newcontent>.v-expansion-panel-content__wrap{
  padding-right:5px !important;
  padding-left: 5px !important;
}
</style>

<style lang="scss">
.email-editor {
  position: relative;

  .v-btn {
    &.is-active {
      background-color: #f1f1f1;
    }
  }

  .editor__content {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    * {
      caret-color: currentColor;
    }

    .ProseMirror {
      &:focus {
        outline: none;
      }
    }

    ul,
    ol {
      padding-left: 1rem;
    }

    li>p,
    li>ol,
    li>ul {
      margin: 0;
    }

    a {
      color: inherit;
    }

    blockquote {
      border-left: 3px solid rgba(0, 0, 0, 0.1);
      color: rgba(0, 0, 0, 0.8);
      padding-left: 0.8rem;
      font-style: italic;

      p {
        margin: 0;
      }
    }

    img {
      max-width: 100%;
      border-radius: 3px;
    }

    table {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
      margin: 0;
      overflow: hidden;

      td,
      th {
        min-width: 1em;
        border: 2px solid #fafafa;
        padding: 3px 5px;
        vertical-align: top;
        box-sizing: border-box;
        position: relative;

        >* {
          margin-bottom: 0;
        }
      }

      th {
        font-weight: bold;
        text-align: left;
      }

      .selectedCell:after {
        z-index: 2;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(200, 200, 255, 0.4);
        pointer-events: none;
      }

      .column-resize-handle {
        position: absolute;
        right: -2px;
        top: 0;
        bottom: 0;
        width: 4px;
        z-index: 20;
        background-color: #adf;
        pointer-events: none;
      }
    }

    .tableWrapper {
      margin: 1em 0;
      overflow-x: auto;
    }

    .resize-cursor {
      cursor: ew-resize;
      cursor: col-resize;
    }
  }
}</style>
