<template>
    <div style="padding-bottom: 3rem!important;">
  <div class="top-products-area clearfix py-3" style="padding-bottom: 3rem!important;">
    <div v-for="(item,i) in cart" :key="i" >
    

      <div class="container"  style="padding:0px;">
         <div class="row">
              <div class="col-2" style="padding:0px;padding-left: 5px;">
                  <img class=" " :src="Burl+imgurl+item.Item.ItemId+'/1.png'"  @error="$event.target.src='https://bitsofco.de/content/images/2018/12/broken-1.png'" alt="" style="width:40px;border:1px solid #000;">
              </div>
               <div class="col-8 text-left" style="text-align: left;padding:0px;">
                   <strong style="font-size:12px;">{{ item.Item.ItemName }}</strong><br>
                    <button class="btnn" @click="addminus(item.Item)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                    <input type="number" id="fname" name="fname" style="    width: 22px;text-align:center;" v-model=" item.quantity">
                    <button class="btnn" @click="addqty(item.Item)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button> 
                   <b class="pull-right">
                     &nbsp;&nbsp;  {{ formatPrice(item.Item.RetailRate) }}&nbsp;<sub style="color:red;top: -1px;">{{PrimaryCurrency}}</sub></b>
              </div>
              <div class="col-2" style="padding:0px;">
                 <button style="color:#dc3545;"  class=""  @click.prevent="removeCart(item.Item)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
              </div>
          </div>
          <div class="row">
            <div class="col-12" style="padding: 0px 10px 0px 10px; ">
            <input type="text"  style="width: 100%;   text-align:left;" v-model=" item.msg_">
            </div>
          </div>
           <hr style="margin: 5px 0;" />
      </div>
    </div>
     </div>

     <div class="container" v-if="cartlength > 0">
             <div class="row">
               <div class="col-2">
                <strong style="color:#000;">Total: </strong><br>
                
              </div>
              <div class="col-8" style="text-align:right;">
                <strong><b style="color:#009900;">{{ formatPrice(totalAmount) }} <sub style="color:red;">{{PrimaryCurrency}}</sub></b></strong>
              </div>
              <div class="col-2">
                 <a href="#" @click.prevent="clearCartItems()">
                   <button  class="badge bg-info" style="background-color: #dc3545 !important;"><i class="fa fa-ban " style="color:#000;" aria-hidden="true"></i></button>
                 </a>
              </div>
              </div>
              

            <div class="row">
               <div class="col-12" style="padding-top:2em;" @click="cust_Modal">
                <button  class="btn btn-sm bg-success" @click="cust_Modal = true">Send Order </button>
               </div> 
               
            </div>



     </div>

     <div class="container" v-else>
           <div class="row">
               <div class="col-12">
               <label style="padding:10px;"> Your Cart is Empty</label> <br>
                   <button @click="shopping()"  class="badge bg-info" style="background-color: #dc3545 !important;">
                     Continue Shopping {{ $route.params.name }}
                   </button>
               
               </div>
           </div>
       </div>

       <v-dialog
      v-model="cust_Modal"
      max-width="450px"
      style="z-index: 100000 !important; width: 100%;"
    >
        <v-card style="padding: 10px;">
          <h6 style="text-align: center;">Customer Details</h6>
          <v-row>
        <v-col
          cols="12"
          sm="6"
          md="12"
          style="    padding-bottom: 0px;"
        >
        <!-- @click:append-outer="addnew"
          append-outer-icon="mdi-plus" -->
        <v-combobox
         
          v-model="cust.CustomerName"
          :items="customer_"
          label="Select Customer"
          outlined
          dense
          @input="get_customer_by_name"
        ></v-combobox>
        </v-col>
        <v-expansion-panels
      v-model="panel"
    >
      <v-expansion-panel
      >
        <v-expansion-panel-header>New Customer
          <template v-slot:actions>
            <v-icon color="error">
              mdi-account-plus
            </v-icon>
          </template>
         </v-expansion-panel-header>
        <v-expansion-panel-content>
        <v-row>
        <v-col
          cols="6"
          md="6"
          style="padding:3px;"
        >
          <v-text-field
            v-model="cust.CustomerName"
            label="Customer name"
            outlined
            dense
          ></v-text-field>
        </v-col>
        <v-col
          cols="6"
          md="6"
          style="padding:3px;"
        >
          <v-text-field
            v-model="cust.Address"
            label="Address"
            outlined
            dense
          ></v-text-field>
        </v-col>
        </v-row>

        <v-row>
        <v-col
          cols="6"
          md="6"
          style="padding:3px;"
        >
          <v-text-field
            v-model="cust.PhoneNo"
            label="Phone No"
            outlined
            type="number"
            dense
          ></v-text-field>
        </v-col>
        <v-col
          cols="6"
          md="6"
          style="padding:3px;"
        >
          <v-text-field
            v-model="cust.TableId"
            label="Address"
            outlined
            dense
            readonly
          ></v-text-field>
        </v-col>
        </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
      </v-row>
        </v-card>
     </v-dialog>
    </div>
</template>
<script>
  
import axios from "axios";
export default {
    data()
    {
        return{
            Burl:localStorage.getItem("CompanyURL") + "/",
            imgurl:'StaticFiles/Attachments/Master/Item/',
            PrimaryCurrency:localStorage.getItem("PrimaryCurrency"),
            DecimalPlaces:localStorage.getItem("DecimalPlaces"),
            
            cust_Modal:false,
            customer_:[],
            cust:{
              CustomerName:'',
              Address:'',
              PhoneNo:'',
              TableId:113,
            },
            
        }
    },
    computed: {
    cart()
    {
       return this.$store.state.cart;
    },
    cartlength()
    {
       return this.$store.state.cart.length;
    },
    totalAmount()
    {
        return this.$store.getters.totalprice;
    }

    },
    mounted()
    {
this.get_customer();
    },
    methods: {
     get_customer_by_name()
     {
      
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "customer/GetCustomerByName?CustName="+this.cust.CustomerName).then(
        (response) => {
          if (response.status === 200) {
              this.CustomerName = response.data.custName;
              this.Address= response.data.address;
              this.PhoneNo = response.data.mobile;

                    
          }
        },
        (error) => {
          console.log(error);
        }
      );
     } ,
addnew()
{
  this.panel = true
},
      get_customer()
    {
      
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "customer").then(
        (response) => {
          if (response.status === 200) {
            this.customer_ = response.data;
            // for(this.i = 0;this.i <response.data.length;this.i++)
            // {
            //      this.k_msg.push(response.data[this.i].MessageText)
            // }
            
                 

                    
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
      cust_Modal()
      {
        alert("aaaa")
         this.cust_Modal = true;
      },
      cls_cust_Modal()
      {
         this.cust_Modal = false;
      },
    formatPrice(value) {
        let val = (value/1).toFixed(this.DecimalPlaces).replace('.', ',')
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".")
    },
    shopping()
    {
          this.$router.push('/')
    },
    removeCart(item)
    {

        // console.log(item.prdct_id)
        this.$store.dispatch("removeCart",{Item: item,pid:item.ItemId})
    },
    clearCartItems()
    {
      if(confirm("Are you sure want to clear cart"))
      {
           this.$store.dispatch("clearCartItems");
      }
        
    },
     
    addqty(item)
    {
        //  console.log(item)
      this.$store.dispatch('addqty',{
        Item: item,
    //    console.log(item)
      });
    },
    addminus(item){
        this.$store.dispatch('minusqty',{
          Item: item,
    //    console.log(item)
      });
    }
  
}
}
</script>
<style scoped>
.btnn{
width: 25px;
height: 25px !important;
    border-radius: 50%;
    border: 0px !important;
 background: #fff0;
}
</style>