<template>
  <div>
    <v-snackbar
      v-model="snackbar"
    >
      {{ error_text }}

     
    </v-snackbar>

    <v-fab-transition v-if="tab == 'tab-2'">
      <v-btn
        @click="filtermodal_()"
        color="pink"
        fab
        dark
        small
        fixed
        bottom
        right
        style="bottom: 75px !important"
      >
        <v-icon>mdi-filter</v-icon>
      </v-btn>
    </v-fab-transition>
    
    <v-tabs fixed-tabs v-model="tab" background-color="primary" centered dark>
      <v-tabs-slider></v-tabs-slider>

      <v-tab href="#tab-1" style="text-decoration: none">
        Add Dining Area
      </v-tab>

      <v-tab href="#tab-2" style="text-decoration: none"
        >Dining Area List
         
        
      </v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item :value="'tab-1'">
        <v-form ref="form_1">
          <v-col
            cols="12"
            md="12"
            sm="12"
            style="padding-top: 10px !important;padding-bottom: 0px !important;text-align: center;">

            <div class="image-upload">
                <label for="file-input">
                  <v-img
                  style="
                width: 100%;
                height: 35vh;"
                    id="UserImage1"
                    :src="d_Area_object.LayoutImage"
                  ></v-img>
                </label>

                <input
                  id="file-input"
                  ref="doc"
                  type="file"
                  @change="onSelectLayout($event)"
                  accept="image/png"
                />
              </div>


           
          </v-col>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-text-field
                type="text"
                
                v-model="d_Area_object.AreaName"
                label="Name"
              ></v-text-field>
            </v-col>

            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <!-- <label style="padding-top: 12px;"><input type="checkbox"  v-model="d_Area_object.IsActive" >Active</label> -->
              <v-switch
                v-model="d_Area_object.IsActive"
                label="Active"
              ></v-switch>
            </v-col>
          </div>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-select
                :items="pricelevel"
                v-model="pricelevel_"
                label="Price Level"
              ></v-select>
            </v-col>
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-text-field
                type="text"
                v-model="d_Area_object.Prefix"
                label="Prefix"
              ></v-text-field>
            </v-col>
          </div>

          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="4"
              md="4"
              sm="4"
              style="
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <div >
                
                  <v-img
                    max-height="100"
                    max-width="100"
                    id="areaIcon__"
                    :src="d_Area_object.AreaIcon"
                  ></v-img>
               

                <input
                  style="width:96px;"
                  id="file-input"
                  type="file"
                  @change="onSelectFileicon($event)"
                  accept="image/png"
                />
              </div>
            </v-col>
            <v-col
              cols="8"
              md="8"
              sm="8"
              style="
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-textarea
                label="Remarks"
                rows="3"
                row-height="25"
                v-model="d_Area_object.Remarks"
              ></v-textarea>
            </v-col>
          </div>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: right;
              "
            >
              <v-btn color="error" @click="clear_form_1()"> Clear </v-btn>
            </v-col>
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: left;
              "
            >
              <v-btn color="success" @click="Savelayout"> Save </v-btn>
            </v-col>
          </div>
        </v-form>

       
     
      </v-tab-item>
      <v-tab-item :value="'tab-2'">
        <v-row justify="center" style="max-height: 70vh; overflow: scroll">
        <v-expansion-panels accordion style="width: 100% !important;">
    <draggable  :disabled="!enabled" 
                           v-model="arealist" ghost-class="ghost" @end="onEnd" style="width: 100% !important;">
      <transition-group type="transition" name="flip-list" style="width: 100% !important;">
            <v-expansion-panel  class="sortable"  style="padding:0px !important;" :id="item.Id" v-for="(item, i) in arealist" :key="i">
              <v-expansion-panel-header
                style="font-weight: bold;font-variant-caps: all-petite-caps;font-size: 18px;">{{ i+1  }} {{ item.AreaName }}<span style="text-align: right;"> &nbsp;&nbsp;&nbsp;<v-icon style="padding-right: 16px;" @click="dragenable">mdi-drag-vertical</v-icon></span></v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-card class="mx-auto" max-width="374">
                  <v-img
                    :src="'data:image/png;base64,' + item.LayoutImage"
                  ></v-img>
                  <v-card-title style="padding-bottom: 0px">
                    <div class="row" style="padding: 0px; padding-bottom: 10px">
                      <div
                        class="col-6"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        {{ item.AreaName }}
                      </div>
                      <div
                        class="col-6"
                        style="
                          padding-top: 0px;
                          padding-bottom: 0px;
                          text-align: right;
                        "
                      >
                        <span style="margin-right: 20px">
                          <v-icon
                            style="color: brown"
                            @click="OpenDiningTable(item)"
                            >mdi-plus-circle</v-icon
                          >
                        </span>
                        <span>
                          <v-icon color="warning" @click="makeaction(item)"
                            >mdi-pencil-circle</v-icon
                          >
                        </span>
                        <span style="margin-left: 20px">
                          <v-icon color="danger" @click="opendltmodal(item.Id)"
                            >mdi-delete-circle</v-icon
                          >
                        </span>
                      </div>
                    </div>
                  </v-card-title>
                  <div
                    class="container"
                    style="padding-top: 0px; padding-bottom: 0px"
                  >
                    <div class="row">
                      <div
                        class="col-4"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        {{ item.BranchCode }}
                      </div>
                      <div
                        class="col-4"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        {{ item.Prefix }}
                      </div>
                      <div
                        class="col-4"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        <v-img
                          :src="'data:image/png;base64,' + item.AreaIcon"
                        ></v-img>
                      </div>
                    </div>

                    <div class="row">
                      <div
                        class="col-6"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        {{
                          item.PriceLevel == 0
                            ? "Normal Price"
                            : "Special Price"
                        }}
                      </div>
                      <div
                        class="col-6"
                        style="padding-top: 0px; padding-bottom: 0px"
                      >
                        {{ item.Remarks }}
                      </div>
                    </div>
                  </div>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
      </transition-group>
    </draggable>
  </v-expansion-panels>
</v-row>
        <!-- <v-row justify="center" style="max-height: 70vh; overflow: scroll" hidden>
        
        </v-row> -->
      </v-tab-item>
    </v-tabs-items>
    <v-dialog
      v-model="filtermodal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <v-card-title class="text-center">Filter Area</v-card-title>
       
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
            <v-select
                :items="branches"
                v-model="branch_"
                label="Select Branch"
              ></v-select>
            </v-col>

            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <!-- <label style="padding-top: 12px;"><input type="checkbox"  v-model="d_Area_object.IsActive" >Active</label> -->
              <v-select
                :items="status"
                v-model="status_"
                label="Select Type"
              ></v-select>
            </v-col>
            
           
          </div>
          <div class="row" style="text-align: center">
          
          <div class="col">
            <button class="btn btn-success btn-md" @click="filterArea">
              ok
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>

    <!-- ///////////edit_Modal/////////// -->
    <v-dialog
      v-model="edit_modal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <v-card-title>Edit Area !</v-card-title>
        <v-form ref="form_2">
          <v-col
            cols="12"
            md="12"
            sm="12"
            style="
              padding-top: 10px !important;
              padding-bottom: 0px !important;
              text-align: center;
            "
          >
            <!-- :src="'data:image/png;base64,' + d_Area_object1.LayoutImage" -->
            <div >
                  <v-img
                  style="
                width: 100%;
                height: 35vh;"
                    id="UserImage2"
                    :src="d_Area_object1.LayoutImage"
                  ></v-img>
              

                <input
                  id="file-input"
                  type="file"
                  style="width:96px;"
                  @change="onSelectLayout_1($event)"
                  accept="image/png"
                />
              </div>

             


           
          </v-col>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
            <!-- v-on:keypress="isLetter($event)" -->
              <v-text-field
                type="text"
                
                v-model="d_Area_object1.AreaName"
                label="Name"
              ></v-text-field>
            </v-col>

            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <!-- <label style="padding-top: 12px;"><input type="checkbox"  v-model="d_Area_object.IsActive" >Active</label> -->
              <v-switch
                v-model="d_Area_object1.IsActive"
                label="Active"
              ></v-switch>
            </v-col>
          </div>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-select
                :items="pricelevel"
                v-model="pricelevel_e"
                label="Price Level"
              ></v-select>
            </v-col>
            <v-col
              cols="6"
              md="6"
              sm="6"
              style="
                padding-top: 10px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-text-field
                type="text"
                v-model="d_Area_object1.Prefix"
                label="Prefix"
              ></v-text-field>
            </v-col>
          </div>
          <div
            class="row"
            style="padding: 15px; padding-top: 0px; padding-bottom: 0px"
          >
            <v-col
              cols="4"
              md="4"
              sm="4"
              style="
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <div>
                  <v-img
                    max-height="100"
                    max-width="100"
                    id="areaIcon__1"
                    :src="'data:image/png;base64,' + d_Area_object1.AreaIcon"
                  ></v-img>
                
                <input
                style="width: 96px !important;"
                  class="file-input"
                  type="file"
                  @change="onSelectFileicon1($event)"
                  accept="image/png"
                />
              </div>
            </v-col>
            <v-col
              cols="8"
              md="8"
              sm="8"
              style="
                padding-top: 0px !important;
                padding-bottom: 0px !important;
                text-align: center;
              "
            >
              <v-textarea
                label="Remarks"
                rows="3"
                row-height="25"
                v-model="d_Area_object1.Remarks"
              ></v-textarea>
            </v-col>
          </div>
        </v-form>

        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-danger btn-sm" @click="clear_form_2()">
              Back
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success btn-sm" @click="updatelayout()">
              Update
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>
    <!-- ///////////delete_Modal/////////// -->
    <v-dialog
      v-model="delete_Modal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <v-card-title>Are you sure you want to Delete?</v-card-title>
        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-danger btn-sm" @click="clsdltmodal()">
              No
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success btn-sm" @click="dlt_area()">
              Yes
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import draggable from "vuedraggable";
import axios from "axios";
export default {
  components: {
    draggable
  },
  data() {
    return {
      snackbar: false,
      error_text: '',
      oldIndex: "",
      newIndex: "",
      enabled: false,

      dragging: false,

      delete_Modal: false,
      edit_modal: false,
      ImageModal: false,
      d_Area_object: {
        IsActive: true,
        AreaName: "",
        Prefix: "",
        Remarks: "",
        OrdinalNo: 0,
        PriceLevel: '',
        BranchCode: localStorage.getItem("BranchCode"),
        LayoutImage: "https://bitsofco.de/content/images/2018/12/broken-1.png",
        AreaIcon:
          "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=",
      },
      d_Area_object1: {
        IsActive: true,
        AreaName: "",
        Prefix: "Y",
        Remarks: "",
        OrdinalNo: 0,
        PriceLevel: 0,
        BranchCode: localStorage.getItem("BranchCode"),
        LayoutImage: "https://fisnikde.com/wp-content/uploads/2019/01/broken-image.png",
        AreaIcon:
          "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=",
      },
      BranchCode: localStorage.getItem("BranchCode"),
      imagebase64: "",
      ImageModal1: false,
      bURL: "",
      tab: null,
      arealist: [],
      t_id_: 0,
      pricelevel: ["Normal Price", "Special Price"],
      pricelevel_: "",
      pricelevel_e: "",
      IsActive_api: "All",
      filtermodal: false,
      branches:[],
      status:["All", "Active","Inactive"],
      branch_:'',
      status_:'',
      clicked_id:'',
      file:'',
      setValue:''
      
    };
  },
  watch: {
    pricelevel_: {
      handler: function (val, oldVal) {
        this.setPrice(val, 0); // call it in the context of your component object
      },
    },
    pricelevel_e: {
      handler: function (val, oldVal) {
        this.setPrice(val, 1); // call it in the context of your component object
      },
    },
    
  },
  mounted() {
    this.branch_ = localStorage.getItem("BranchCode");
    this.status_ = 'All';
    this.bURL = localStorage.getItem("CompanyURL") + "/api/";
    this.getarea_list();
    this.getbranch();
    this.t_id_ = 0;
   

   
  },
  methods: {
    dragenable()
    {
    this.enabled = true
          

    },
   
    onEnd(e) {
      this.oldIndex = e.oldIndex;
      this.newIndex = e.newIndex;
      this.clicked_id = JSON.stringify(this.arealist[this.newIndex].Id);
      this.update_sort_list();
      this.enabled = false
    },
    update_sort_list(){
     this.new_i = this.newIndex + 1
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      console.log("alert"+this.bURL)
      axios.put(this.bURL + "DiningArea/"+this.clicked_id+","+this.new_i).then(
        (response) => {
          if (response.status === 200) {
            console.log("res "+response);
           
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    addSkill() {
      console.log("addSkill()...");
    },
    filtermodal_() {
      this.filtermodal = true;
    },
    getbranch()
    {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL +"Branch").then(
          (response) => {
            if (response.status === 200) {
              this.branches = response.data;
            }
          },
          (error) => {
            console.log(error);
          }
        );
    },
    setPrice(val, ind) {
      if (ind == 0) {
        if (val == "Normal Price") {
          this.d_Area_object.PriceLevel = 0;
        } else {
          this.d_Area_object.PriceLevel = 1;
        }
      } else {
        if (val == "Normal Price") {
          this.d_Area_object1.PriceLevel = 0;
        } else {
          this.d_Area_object1.PriceLevel = 1;
        }
      }
    },
    OpenDiningTable(item) {
      localStorage.setItem("ItemTable__", JSON.stringify(item));
      this.$router.push("/e_recipe_compo");
    },
    OpenImageModal() {
      this.ImageModal = true;
    },
    cancelModal() {
      this.ImageModal = false;
    },
    OpenImageModal1() {
      this.ImageModal1 = true;
    },
    cancelModal1() {
      this.ImageModal1 = false;
    },
    addtable() {},
    Savelayout() {

      if(!this.d_Area_object.LayoutImage || !this.d_Area_object.Prefix || !this.d_Area_object.AreaName )
      {
        this.snackbar = true;
        this.error_text = "Enter All Details"
      }
      else{
      console.log("save " + this.d_Area_object);
      this.d_Area_object.LayoutImage = localStorage
        .getItem("LayoutImage")
        .replace("data:image/png;base64,", "");
      this.d_Area_object.AreaIcon = localStorage
        .getItem("IconArea")
        .replace("data:image/png;base64,", "");
      // localStorage.setItem("aaaa", JSON.stringify(this.d_Area_object));
      axios.post(this.bURL + "DiningArea", this.d_Area_object).then(
        (response) => {
          if (response.status === 200) {
            console.log(this.d_Area_object);
            localStorage.removeItem("IconArea");
            localStorage.removeItem("LayoutImage");
            location.reload();
            this.getarea_list();
          }
        },
        (error) => {
          console.log(error);
        }
      );
      }
    },
    updatelayout() {


      if(!this.d_Area_object1.LayoutImage || !this.d_Area_object1.Prefix || !this.d_Area_object1.AreaName )
      {
        this.snackbar = true;
        this.error_text = "Enter All Details"
      }else{
      this.d_Area_object1.LayoutImage = localStorage
        .getItem("LayoutImage12")
        .replace("data:image/png;base64,", "");
      this.d_Area_object1.AreaIcon = localStorage
        .getItem("IconArea1")
        .replace("data:image/png;base64,", "");
      // console.log("update");
      // this.d_Area_object1.LayoutImage.replace("data:image/png;base64,", "");
      // console.log('aaa'+this.d_Area_object1.LayoutImage)
      // this.
      // localStorage.setItem("bbbb", JSON.stringify(this.d_Area_object));
      axios.put(this.bURL + "DiningArea", this.d_Area_object1).then(
        (response) => {
          if (response.status === 200) {
            console.log(response);
            this.edit_modal = false;
            //  this.t_id_ = 0;
            //  location.reload();

            this.getarea_list();
            this.d_Area_object1.PriceLevel = "";
            // localStorage.setItem("ulayout", '');
          }
        },
        (error) => {
          console.log(error);
        }
      );
      }
    },
    clear_form_1() {
      // this.$refs.form_1.reset();
        this.d_Area_object.AreaName = "",
        this.d_Area_object.Prefix = "",
        this.d_Area_object.Remarks = "",
        this.d_Area_object.PriceLevel = "",
        this.d_Area_object.LayoutImage = "https://bitsofco.de/content/images/2018/12/broken-1.png",
        this.d_Area_object.AreaIcon =
          "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=",
     
        this.d_Area_object.IsActive = true;
    },
    clear_form_2() {
        this.d_Area_object1.AreaName = "",
        this.d_Area_object1.Prefix = "",
        this.d_Area_object1.Remarks = "",
        this.d_Area_object1.PriceLevel = "",

        this.d_Area_object1.IsActive = true;
       
        this.edit_modal = false;
    },
    onSelectFile(event) {
      let reader = new FileReader();
      reader.onload = function () {
        document.getElementById("UserImage1").src = reader.result;

        localStorage.setItem("LayoutImage1", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      this.d_Area_object.LayoutImage = localStorage.getItem("LayoutImage1");
      this.cancelModal();
    },
    //-----------------------Layout ---------------------
    setValue_(){
     this.setValue = 1
    },
    onSelectLayout(event)
    {

      localStorage.removeItem("LayoutImage");
      let reader = new FileReader();
      reader.onload = function () {
        localStorage.setItem("LayoutImage", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      const cc = this;
      setTimeout(function(){
     
      cc.d_Area_object.LayoutImage = localStorage.getItem("LayoutImage");
      
     }, 1000);
      
    
      

    },
    onSelectLayout_1(event)
    {
       
      // alert("aaaa")
      if(localStorage.getItem("LayoutImage12") !== null) {
        localStorage.removeItem("LayoutImage12");
        }
      
      let reader = new FileReader();
      reader.onload = function () {
        localStorage.setItem("LayoutImage12", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      const cc = this;
      setTimeout(function(){
     
      cc.d_Area_object1.LayoutImage = localStorage.getItem("LayoutImage12");
      
     }, 1000);
      
    
      

    },

    onSelectFileicon(event) {
  
      localStorage.removeItem("IconArea");
      let reader = new FileReader();
      reader.onload = function () {
        //  document.getElementById("UserImage1").src = reader.result;

        localStorage.setItem("IconArea", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      const cc = this;
      setTimeout(function(){
     
      cc.d_Area_object.AreaIcon = localStorage.getItem("IconArea");
      
     }, 1000);
      // this.d_Area_object.AreaIcon = localStorage.getItem("IconArea");
    },
    onSelectFileicon1(event) {
      localStorage.removeItem("IconArea1");
      let reader = new FileReader();
      var it = this;
      reader.onload = function () {
        //  document.getElementById("UserImage1").src = reader.result;
        console.log("ss" + reader.result);
        it.d_Area_object1.AreaIcon = reader.result.replace(
          "data:image/png;base64,",
          ""
        );
        localStorage.setItem("IconArea1", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      //  this.d_Area_object1.AreaIcon = localStorage.getItem('IconArea1');
      console.log("ss" + this.d_Area_object1.AreaIcon);
      //  this.cancelModal();
    },

    uploadIcon() {
      // alert("Aaa")
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        localStorage.setItem("AreaIcon", e.target.result);
      };
      this.d_Area_object.AreaIcon = localStorage.getItem("AreaIcon");
      reader.onerror = function (error) {
        alert(error);
      };
      reader.readAsDataURL(file);
    },

    //  uploadImage1() {
    //   var file = document.querySelector("input[type=file]").files[0];
    //   var reader = new FileReader();
    //   reader.onload = function (e) {
    //     document.getElementById("UserImage2").src = e.target.result;
    //     localStorage.setItem('LayoutImage2',e.target.result);

    //   };
    //   reader.onerror = function (error) {
    //     alert(error);
    //   };
    //   reader.readAsDataURL(file);
    //   this.cancelModal1();
    // },

    onSelectFile_e(event) {
      let reader = new FileReader();
      reader.onload = function () {
        document.getElementById("UserImage2").src = reader.result;

        localStorage.setItem("LayoutImage2", reader.result);
      };
      if (event.target.files[0]) {
        reader.readAsDataURL(event.target.files[0]);
      }
      this.d_Area_object1.LayoutImage = localStorage.getItem("LayoutImage2");
      this.cancelModal1();
    },

    getarea_list() {
      // this.arealist
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "DiningArea/GetDiningAreas?BranchCode=" +
            this.branch_ +
            "&IsActive=" +
            this.status_
        )
        .then(
          (response) => {
            if (response.status === 200) {
              // console.log(response);
              this.arealist = response.data;
              localStorage.setItem("arealist", response.data);
              // .style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            }
          },
          (error) => {
            console.log(error);
          }
        );
    },
    filterArea()
    {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "DiningArea/GetDiningAreas?BranchCode=" +
            this.branch_ +
            "&IsActive=" +
            this.status_
        )
        .then(
          (response) => {
            if (response.status === 200) {
              // console.log(response);
              this.arealist = response.data;
              this.filtermodal = false;
              localStorage.setItem("arealist", response.data);
              // .style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            }
          },
          (error) => {
            console.log(error);
          }
        );
    },
    isLetter(e) {
      let char = String.fromCharCode(e.keyCode); // Get the character
      if (/^[A-Za-z]+$/.test(char)) return true;
      // Match with regex
      else e.preventDefault(); // If not match, don't add to input text
    },
    opendltmodal(id) {
      this.t_id_ = id;
      this.delete_Modal = true;
    },
    clsdltmodal() {
      this.delete_Modal = false;
    },
    dlt_area() {
      axios.delete(this.bURL + "DiningArea/" + this.t_id_).then(
        (response) => {
          if (response.status === 200) {
            this.clsdltmodal();
            this.getarea_list();
          } else {
            console.log(response);
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    makeaction(item) {
      this.t_id_ = item.Id;
      if (item.AreaIcon != null) {
        this.d_Area_object1.AreaIcon = item.AreaIcon;
      } else {
        this.d_Area_object1.AreaIcon =
          "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=";
      }

      if (item.PriceLevel == 0) {
        this.pricelevel_e = "Normal Price";
        this.d_Area_object1.PriceLevel = 0;
      } else {
        this.pricelevel_e = "Special Price";
        this.d_Area_object1.PriceLevel = 1;
      }

      (this.d_Area_object1.Id = item.Id),
        (this.d_Area_object1.AreaName = item.AreaName),
        (this.d_Area_object1.Prefix = item.Prefix),
        (this.d_Area_object1.Remarks = item.Remarks);
      (this.d_Area_object1.OrdinalNo = 1),
      
      (this.d_Area_object1.BranchCode = localStorage.getItem("BranchCode")),
        (this.d_Area_object1.LayoutImage =   "data:image/png;base64,"+item.LayoutImage),
        (this.edit_modal = true);

      //   this.edit_Modal = true
    },
  },
};
</script>
<style scoped>
.image-upload > input {
  display: none;
}
.v-btn--fab.v-size--small.v-btn--absolute.v-btn--bottom {
  bottom: 9px !important;
}
.flip-list-move {
  transition: transform 0.5s;
}

  strong {
    display: inline-block;
  }
  .sortable {
    width: 100%;
    background: white;
    padding: 1em;
    cursor: move;
    margin-bottom: 2px;
  }
  .sortable span {
    float: right;
  }
  .ghost {
    border-left: 5px solid rgb(134, 206, 156);
    box-shadow: 10px 10px 5px -1px rgba(0, 0, 0, 0.14);
    opacity: 0.7;
  }
  </style>
  