<template>
  <div>
    <div>
 
    
   
       <label
        @click="open_modal"
        class="btn btn-info btn-sm"
        style="margin-right: 5px"
        >+ Layout</label
      >

       <label
        @click="tableModal = true"
        class="btn btn-info btn-sm"
        style="margin-right: 5px"
        >+ Table</label
      >
      <label class="btn btn-info btn-sm"><input type="checkbox"  v-model="enable_drag" value="">Enable Drag</label>
      
    </div>
   
    <div id="outerContainer" v-if="showcont">
      <div id="container" >
        <!-- <div class="item"  id="t1" ref="t1"  contenteditable="true" @click="get('t1')" :style="{ backgroundImage: `url(${require('@/assets/images/' + backgroundImage)})` }">

            </div> -->

        <div v-for="(item, index) in table_api" :key="item.id">
          <div
            class="item"
            :id="item.Id"
            :title="index"
            contenteditable="true"
            @click="get(item.Id, index)"
           
            :style="{ background: 'url(' + table_img + ')',transform: 'translate3d('+item.AxisX+'vw,' + item.AxisY+'vh,0px)'}"
          ></div>
        </div>
      </div>
    </div>
 <!-- :style="{ background: 'url(' + table_img + ')', transform: 'translate3d('+item.AxisX+'%,' + item.AxisY+'%,0px)'}"   left: item.AxisY+'%',top :item.AxisX+'%'-->
    <v-dialog
      v-model="ImageModal"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Choose Layout</v-card-title
        >
       
         <v-row style="margin: 0px; padding: 10px">
        <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Choose Layout :</label>
   
          <v-select
              :items="area"
              label="Choose Layout"
              solo
              v-model="areaid"
              v-on:change ="setimage()"

              dense
            ></v-select>
  </div>
  <div v-if="this.err" style="color:red;">{{this.err}}</div>
  </div>
       </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="tableModal"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Add Table</v-card-title
        >
        <v-row
          style="
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
          "
        >
          <v-text-field
            label="Table Name"
            hide-details="auto"
            v-model="table_savedata.name"
            v-if="isEditable"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            autofocus
            label="Number of chairs"
            hide-details="auto"
            v-model="table_savedata.NoOfSeats"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Remarks"
            hide-details="auto"
            v-model="table_savedata.Remarks"
          ></v-text-field>
        </v-row>

        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px"
        >
          <button class="btn btn-warning btn-sm" style="margin-right: 10px">
            clear</button
          ><button class="btn btn-success btn-sm" @click="Post_table" >
            Save
          </button>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="tableModaledit"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Edit Table</v-card-title
        >
        <v-row
          style="
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
          "
        >
          <v-text-field
            label="Table Name"
            hide-details="auto"
            readonly
            v-model="edit_table_savedata.TableName"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Number of chairs"
            hide-details="auto"
            v-model="edit_table_savedata.NoOfSeats"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Remarks"
            hide-details="auto"
            v-model="edit_table_savedata.Remarks"
          ></v-text-field>
        </v-row>

        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
          <button class="btn btn-warning btn-sm" style="margin-right: 10px">
            clear</button
          ><button class="btn btn-success btn-sm" @click="up_tbl">Update</button>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="table_Modal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-success btn-sm" @click="edit_table()">
              Edit
            </button>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm" @click="dlt_table()">
              Delete
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      enable_drag:false,
      showcont:true,
      activeItem: null,
      active: false,
      tableModal: false,
      item_table: [],
      get_table: [],
      existingItem: "",
      t_id_edit: "",
      err:'',
      table_api: [
        //  {
        //   id:'t2',
        //   TableName: "T15",
        //   AreaId: 39,
        //   NoOfSeats: 6,
        //   SplitCount: 1,
        //   Remarks: "Free"
        //  },
      ],

      bacground_url: "",
      ImageModal: false,
      table_Modal: false,
      table_img: "",
      isEditable: false,
      table_savedata: {
        name: "",
        NoOfSeats: "",
        Remarks: "",
      },
      edit_table_savedata: {
            AreaId : '',
            AxisX  :'',
            AxisY  :'',
            Id  :'',
            NoOfSeats  :'',
            Remarks  :'',
            SplitCount  :'',
            TableName  :''
      },
      bURL: "",
      table_index: "",
      tableModaledit: false,
      checkbox:false,
      ii:0,
      area:[],
      areaid:'',
      layout_:[]

    };
  },
  mounted() {
     this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
    if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
    {
      localStorage.setItem('IsSalesOffLine','false')
    }
    if(localStorage.getItem('ItemTable__') !== null)
    {
      this.table_api = localStorage.getItem('ItemTable__')
    }
    // document.addEventListener("dblclick", myFunction);
//   if(this.table_Modal == false)
//   {

// document.addEventListener("click", this.printMousePos);
//   }
    this.getarea_list();
    this.Load();
    this.fetch_company();
    this.fetchData();
    
    
    // this.fetch_tablefrom_db();
  },
  methods: {
   
    up_tbl()
    {
     
      axios
        .put(this.bURL + "DiningTable/UpdateDiningTable", this.edit_table_savedata)
        .then(
          (response) => {
            if (response.status === 200) {
              // console.log(response.data.Id);
              this.table_api.push(response.data);
            }
          },
          (error) => {
            console.log(error);
          }
        );

    },
    getarea_list() {
      // this.arealist
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "DiningArea/GetDiningAreas").then(
        (response) => {
          if (response.status === 200) {
            // console.log(response.data.length);
            
          for(this.i=0;this.i<response.data.length;this.i++)
          {
              // console.log(response.data[this.i].Id);
              this.area.push(response.data[this.i].Id);
              this.layout_ = response.data;
          }
            // this.area = response.data;
            
            // .style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    edit_table() {
      this.tableModaledit = true;
      console.log(this.table_api[this.table_index]);
      
        

        this.edit_table_savedata.AreaId = this.table_api[this.table_index].AreaId,
        this.edit_table_savedata.AxisX = this.table_api[this.table_index].AxisX,
        this.edit_table_savedata.AxisY= this.table_api[this.table_index].AxisY,
        this.edit_table_savedata.Id= this.table_api[this.table_index].Id,
        this.edit_table_savedata.NoOfSeats= this.table_api[this.table_index].NoOfSeats,
        this.edit_table_savedata.Remarks= this.table_api[this.table_index].Remarks,
        this.edit_table_savedata.SplitCount= this.table_api[this.table_index].SplitCount,
        this.edit_table_savedata.TableName = this.table_api[this.table_index].TableName
      

      // this.t_id_edit;
      // this.table_index = index;
    },
    fetch_tablefrom_db() {
      this.DId = this.areaid;
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(this.bURL + "DiningTable/GetDiningTables?AreaId=" + this.DId)
        .then(
          (response) => {
            if (response.status === 200) {
              // console.log(response);
              this.table_api = response.data;
          // .style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            }
          },
          (error) => {
            console.log(error);
          }
         
        );
    },
    fetchData() {
      axios.get("/rcp/table.json").then((response) => {
        this.table_img = response.data[0].tableimg;
      });
    },
    fetch_company() {
      axios.get("/config/Company.json").then((response) => {
        if (response.data.length == 1) {
          // console.log("aaa"+response.data[0].name)
          localStorage.setItem("Companyname", response.data[0].name);
          localStorage.setItem("CompanyURL", response.data[0].url);
          localStorage.setItem("Companylogo", response.data[0].logo);
          this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        } else {
          //  console.log("bbb"+response.data.length)
          if (localStorage.getItem("CompanyURL") !== null) {
            this.bURL = localStorage.getItem("CompanyURL") + "/api/";
          }
        }
      });
    },

    Load() {
      if (
        localStorage.getItem("layout_url") !== "undefined" &&
        localStorage.getItem("layout_url") !== null
      ) {
        // this.img_url = localStorage.getItem("layout_url");

        // document.getElementById('container').setAttribute("style", "background-image: url(" +this.img_url+ ");");
      }
     
      (this.container = this.$el.querySelector("#container")),
        this.container.addEventListener("touchstart", this.dragStart, false);
      this.container.addEventListener("touchend", this.dragEnd, false);
      this.container.addEventListener("touchmove", this.drag, false);

      this.container.addEventListener("mousedown", this.dragStart, false);
      this.container.addEventListener("mouseup", this.dragEnd, false);
      this.container.addEventListener("mousemove", this.drag, false);
    },
   
    printMousePos(event) {
      
     if (event.detail === 1 ) {
      
      if(this.ii == 0)
      {
         this.ii++;
        
     localStorage.setItem("_Left",(event.clientX / window.innerWidth) * 100)
     localStorage.setItem("_top",(event.clientY / window.innerHeight) * 100)
     this.tableModal = true;
  console.log("tblobj_0",this.table_savedata.Remarks)
 
   
      
  //  localStorage.setItem("Post_data",JSON.stringify( this.tbl_object__ ))
      // axios
      //   .post(this.bURL + "DiningTable/InsertDiningTable", this.tbl_object__)
      //   .then(
      //     (response) => {
      //       if (response.status === 200) {
      //         console.log(response);
      //         // this.table_api.push(response.data);
             
      //         this.tableModal = false;
      //         localStorage.removeItem("_Left"),
      //         localStorage.removeItem("_top"),
         

      //           this.fetch_tablefrom_db()
      //       }
      //     },
      //     (error) => {
      //       console.log(error);
      //     }
      //   );
    
  }

      }
      
       
     
      // 
},

    dragStart(e) {

      if (e.target !== e.currentTarget) {
        this.active = true;

        // this is the item we are interacting with
        this.activeItem = e.target;
        // console.log(JSON.parse(e))

        if (this.activeItem !== null) {
          if (!this.activeItem.xOffset) {
            this.activeItem.xOffset = 0;
          }

          if (!this.activeItem.yOffset) {
            this.activeItem.yOffset = 0;
          }

          if (e.type === "touchstart") {
            this.activeItem.initialX =
              e.touches[0].clientX - this.activeItem.xOffset;
            this.activeItem.initialY =
              e.touches[0].clientY - this.activeItem.yOffset;
          } else {
            console.log("doing something!");
            this.activeItem.initialX = e.clientX - this.activeItem.xOffset;
            this.activeItem.initialY = e.clientY - this.activeItem.yOffset;
          }
        }
      }
    },
    //******post table******/
    Post_table() {

       this.tbl_object__ = {
        TableName: "",
        AreaId: 39,
        NoOfSeats: this.table_savedata.NoOfSeats,
        Remarks: this.table_savedata.Remarks,
        AxisX:  0,
        AxisY:  0,
      };
      // console.log("vmkv "+JSON.stringify(this.tbl_object__));
      axios
        .post(this.bURL + "DiningTable/InsertDiningTable", this.tbl_object__)
        .then(
          (response) => {
            if (response.status === 200) {
             
              this.tableModal = false;
               // this.tableModal = true;
              this.fetch_tablefrom_db()
    
            }
          },
          (error) => {
            console.log(error);
          }
        );
    },

    dragEnd(e) {
      if (this.activeItem !== null && this.enable_drag == true) {
        this.activeItem.initialX = this.activeItem.currentX;
        this.activeItem.initialY = this.activeItem.currentY;
        // this.xPos = (this.activeItem.initialX / window.innerWidth) * 100;
        // this.yPos = (this.activeItem.initialY / window.innerHeight) * 100;

         this.xPos = this.activeItem.initialX * (100 / document.documentElement.clientWidth) ;
         this.yPos = this.activeItem.initialY * (100 / document.documentElement.clientHeight);
        //  localStorage.setItem("_Left",(this.activeItem.initialX / window.innerWidth) * 100)
        //  localStorage.setItem("_top",(this.activeItem.initialY / window.innerHeight) * 100)
       
        if(this.xPos > 0)
        {
        this.table_api[this.activeItem.title] = {
          Id: this.activeItem.id,
          TableName: this.activeItem.id,
          SplitCount: 1,
          AreaId: this.table_api[this.activeItem.title].AreaId,
          NoOfSeats: this.table_api[this.activeItem.title].NoOfSeats,
          Remarks: this.table_api[this.activeItem.title].Remarks,
          AxisX: this.xPos,
          AxisY: this.yPos,

          // AxisX: localStorage.getItem("_Left"),
          // AxisY: localStorage.getItem("_top"),
        };
        }
        console.log(
          "aa" + JSON.stringify(this.table_api[this.activeItem.title])
        );
        this.update_table(this.table_api[this.activeItem.title]);
        //  this.upsert(this.item_table, this.Obj_);
      }

      this.active = false;
      this.activeItem = null;
    },
    setimage()
    {
       
      //  console.log(this.layout_[this.areaid])
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        // alert(this.bURL)
        axios.get(this.bURL + "DiningArea/"+this.areaid).then(
        (response) => {
          if (response.status === 200) {
            if(response.data.LayoutImage){
               this.LayoutImage__ = "data:image/gif;base64,"+response.data.LayoutImage;
             document
        .getElementById("container")
        .setAttribute(
          "style",
          "background-image: url("+this.LayoutImage__ +
            ");background-repeat: no-repeat;background-size: cover;"
        );
        this.fetch_tablefrom_db()
        this.ImageModal = false;
            }else{
              // console.log("Image not found")
              this.err = "layout not found !";
            }
            
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    update_table(data) {
   

      axios.put(this.bURL + "DiningTable/UpdateDiningTable", data).then(
        (response) => {
          if (response.status === 200) {
            // console.log(response);
            this.fetch_tablefrom_db()
            // this.table_api.push(response.data);
          // localStorage.removeItem("_Left");
          // localStorage.removeItem("_top");

          }
        },
        (error) => {
          console.log(error);
        }
      );
    },

   

    drag(e) {
      if (this.active && this.enable_drag == true) {
        if (e.type === "touchmove") {
          e.preventDefault();

          this.activeItem.currentX =
            e.touches[0].clientX - this.activeItem.initialX;
          this.activeItem.currentY =
            e.touches[0].clientY - this.activeItem.initialY;
        } else {
          this.activeItem.currentX = e.clientX - this.activeItem.initialX;
          this.activeItem.currentY = e.clientY - this.activeItem.initialY;
        }

        this.activeItem.xOffset = this.activeItem.currentX;
        this.activeItem.yOffset = this.activeItem.currentY;

        this.setTranslate(
          this.activeItem.currentX,
          this.activeItem.currentY,
          this.activeItem
        );
      }
    },

    setTranslate(xPos, yPos, el) {
      // console.log("xPos " + xPos + " yPos " + yPos + " Element " + this.activeItem.id)
      el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
      console.log(el.id);
      this.obj_tbl = {
        tid: el.id,
        style: el.style.transform,
      };
      // this.item_table.push(this.obj_tbl)
    },
    upload_layout() {
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        this.ImageModal = false;
        this.CustomerImage = e.target.result;
        // this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");
        // this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");

        localStorage.setItem("CustomerImage", this.CustomerImage);
        // document.getElementById('banner').setAttribute("style", "background-image: url(" + dir + images[randomCount] + ");background-repeat: no-repeat;background-size: 388px 388px");
        document.getElementById("container").style.backgroundImage =
          e.target.result;
      };
      reader.onerror = function (error) {
      
      };
      reader.readAsDataURL(file);
    },
    open_modal() {
      this.ImageModal = true;
    },
    handleFilesUpload(e) {
      this.files = this.$refs.files.files;
      const file = e.target.files[0];
      this.layouturl = URL.createObjectURL(file);
      document
        .getElementById("container")
        .setAttribute(
          "style",
          "background-image: url(" +
            this.layouturl +
            ");background-repeat: no-repeat;background-size: cover;"
        );
      this.ImageModal = false;
      localStorage.setItem("layout_url", this.layouturl);
    },
    get(t_id, index) {
      
      this.table_Modal = true;
      this.t_id_edit = t_id;
      this.table_index = index;
    },
    dlt_table() {
     
      axios.delete(this.bURL + "DiningTable/" + this.t_id_edit).then(
        (response) => {
         
          if (response.status === 200) {
            // console.log(response.data);
            this.fetch_tablefrom_db()
            // this.table_api.push(response.data);
          } else {
            // console.log(response);
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
<style scoped>
#container {
  overflow: auto;
  width: 100%;
  height: 70vh;
  background-color: #dae9bc;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  /* background: url(mountain.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover; */

  background-image: url("https://wcs.smartdraw.com/restaurant-floor-plan/examples/restaurant-layout.png?bn=15100111840");
  background-size: 100% 100%;
}

.item {
  border-style: none;
  border-width: 1px 1px 1px 1px;
  touch-action: none;
  user-select: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f3f8ea;
  border-color: #00640000;

  background-repeat: repeat !important;
  background-size: contain !important;
}

.resize {
  /* background-color: coral; */
  /* text-align: center; */
}

.item:active {
  opacity: 0.75;
}

.item:hover {
  cursor: pointer;
}
</style>