<template>
  <div>
    <div class="container-fluid">
 
    <div class="row">
    <div class="col-6" style="padding:0px;top: -16px;">
       <v-checkbox
      v-model="checkbox"
      label="Enable Table"
    ></v-checkbox>
    </div>
    <div class="col-6" style="padding:0px;">
       <label
        @click="open_modal"
        class="btn btn-info btn-sm"
        style="margin-right: 5px"
        >+ Layout</label
      >
    </div>
  </div>
    </div>
   
    <div id="outerContainer">
      <div id="container" >
        <!-- <div class="item"  id="t1" ref="t1"  contenteditable="true" @click="get('t1')" :style="{ backgroundImage: `url(${require('@/assets/images/' + backgroundImage)})` }">

            </div> -->

        <div v-for="(item, index) in table_api" :key="item.id">
          <div
            class="item"
            :id="item.Id"
            :title="index"
            contenteditable="true"
            @click="get(item.Id, index)"
           
            :style="{ background: 'url(' + table_img + ')', transform: 'translate3d('+item.AxisX+'px,' + item.AxisY+'px,0px)'}"
          ></div>
        </div>
      </div>
    </div>
 <!-- :style="{ background: 'url(' + table_img + ')', transform: 'translate3d('+item.AxisX+'%,' + item.AxisY+'%,0px)'}" -->
    <v-dialog
      v-model="ImageModal"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Choose Layout</v-card-title
        >
        <v-row style="margin: 0px; padding: 10px">
          <!-- <input accept="image/*" type='file' id="imgInp" @change="upload_layout"/> -->

          <input
            type="file"
            id="files"
            ref="files"
            v-on:change="handleFilesUpload($event)"
            class="form-control"
            accept="image/*"
          />
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="tableModal"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Add Table</v-card-title
        >
        <v-row
          style="
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
          "
        >
          <v-text-field
            label="Table Name"
            hide-details="auto"
            v-model="table_savedata.name"
            v-if="isEditable"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            autofocus
            label="Number of chairs"
            hide-details="auto"
            v-model="table_savedata.NoOfSeats"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Remarks"
            hide-details="auto"
            v-model="table_savedata.Remarks"
          ></v-text-field>
        </v-row>

        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px"
        >
          <button class="btn btn-warning btn-sm" style="margin-right: 10px">
            clear</button
          ><button class="btn btn-success btn-sm" @click="Post_table" >
            Save
          </button>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="tableModaledit"
      max-width="300"
      style="z-index: 100000 !important"
    >
      <v-card>
        <v-card-title
          style="
            font-size: 15px;
            border-bottom: solid 1px rgb(255 69 0);
            padding-left: 12px;
          "
          >Edit Table</v-card-title
        >
        <v-row
          style="
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
          "
        >
          <v-text-field
            label="Table Name"
            hide-details="auto"
            readonly
            v-model="edit_table_savedata.TableName"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Number of chairs"
            hide-details="auto"
            v-model="edit_table_savedata.NoOfSeats"
          ></v-text-field>
        </v-row>
        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 30px"
        >
          <v-text-field
            label="Remarks"
            hide-details="auto"
            v-model="edit_table_savedata.Remarks"
          ></v-text-field>
        </v-row>

        <v-row
          style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
          <button class="btn btn-warning btn-sm" style="margin-right: 10px">
            clear</button
          ><button class="btn btn-success btn-sm" @click="up_tbl">Update</button>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="table_Modal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-success btn-sm" @click="edit_table()">
              Edit
            </button>
          </div>
          <div class="col">
            <button class="btn btn-danger btn-sm" @click="dlt_table()">
              Delete
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      activeItem: null,
      active: false,
      tableModal: false,
      item_table: [],
      get_table: [],
      existingItem: "",
      t_id_edit: "",
      table_api: [
        //  {
        //   id:'t2',
        //   TableName: "T15",
        //   AreaId: 39,
        //   NoOfSeats: 6,
        //   SplitCount: 1,
        //   Remarks: "Free"
        //  },
      ],

      bacground_url: "",
      ImageModal: false,
      table_Modal: false,
      table_img: "",
      isEditable: false,
      table_savedata: {
        name: "",
        NoOfSeats: "",
        Remarks: "",
      },
      edit_table_savedata: {
            AreaId : '',
            AxisX  :'',
            AxisY  :'',
            Id  :'',
            NoOfSeats  :'',
            Remarks  :'',
            SplitCount  :'',
            TableName  :''
      },
      bURL: "",
      table_index: "",
      tableModaledit: false,
      checkbox:false,
    };
  },
  mounted() {
    // document.addEventListener("dblclick", myFunction);
     this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
    if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
    {
      localStorage.setItem('IsSalesOffLine','false')
    }
  if(this.table_Modal == false)
  {

document.addEventListener("click", this.printMousePos);
  }
    this.Load();
    this.fetch_company();
    this.fetchData();
    this.fetch_tablefrom_db();
  },
  methods: {
   
    up_tbl()
    {
     
      axios
        .put(this.bURL + "DiningTable/UpdateDiningTable", this.edit_table_savedata)
        .then(
          (response) => {
            if (response.status === 200) {
              console.log(response);
              this.table_api.push(response.data);
            }
          },
          (error) => {
            console.log(error);
          }
        );

    },
    edit_table() {
      this.tableModaledit = true;
      console.log(this.table_api[this.table_index]);
      
        

        this.edit_table_savedata.AreaId = this.table_api[this.table_index].AreaId,
        this.edit_table_savedata.AxisX = this.table_api[this.table_index].AxisX,
        this.edit_table_savedata.AxisY= this.table_api[this.table_index].AxisY,
        this.edit_table_savedata.Id= this.table_api[this.table_index].Id,
        this.edit_table_savedata.NoOfSeats= this.table_api[this.table_index].NoOfSeats,
        this.edit_table_savedata.Remarks= this.table_api[this.table_index].Remarks,
        this.edit_table_savedata.SplitCount= this.table_api[this.table_index].SplitCount,
        this.edit_table_savedata.TableName = this.table_api[this.table_index].TableName
      

      // this.t_id_edit;
      // this.table_index = index;
    },
    fetch_tablefrom_db() {
      this.DId = 39;
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(this.bURL + "DiningTable/GetDiningTables?AreaId=" + this.DId)
        .then(
          (response) => {
            if (response.status === 200) {
              // console.log(response);
              this.table_api = response.data;
          // .style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
            }
          },
          (error) => {
            console.log(error);
          }
         
        );
    },
    fetchData() {
      axios.get("/rcp/table.json").then((response) => {
        this.table_img = response.data[0].tableimg;
      });
    },
    fetch_company() {
      axios.get("/config/Company.json").then((response) => {
        if (response.data.length == 1) {
          // console.log("aaa"+response.data[0].name)
          localStorage.setItem("Companyname", response.data[0].name);
          localStorage.setItem("CompanyURL", response.data[0].url);
          localStorage.setItem("Companylogo", response.data[0].logo);
          this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        } else {
          //  console.log("bbb"+response.data.length)
          if (localStorage.getItem("CompanyURL") !== null) {
            this.bURL = localStorage.getItem("CompanyURL") + "/api/";
          }
        }
      });
    },

    Load() {
      if (
        localStorage.getItem("layout_url") !== "undefined" &&
        localStorage.getItem("layout_url") !== null
      ) {
        this.img_url = localStorage.getItem("layout_url");

        // document.getElementById('container').setAttribute("style", "background-image: url(" +this.img_url+ ");");
      }
     
      (this.container = this.$el.querySelector("#container")),
        this.container.addEventListener("touchstart", this.dragStart, false);
      this.container.addEventListener("touchend", this.dragEnd, false);
      this.container.addEventListener("touchmove", this.drag, false);

      this.container.addEventListener("mousedown", this.dragStart, false);
      this.container.addEventListener("mouseup", this.dragEnd, false);
      this.container.addEventListener("mousemove", this.drag, false);
    },
   
    printMousePos(event) {
      
     if (event.detail === 1) {
   
     this.tableModal = true;
      this.xPos_ = (event.clientX / window.innerWidth) * 100;
      this.yPos_ = (event.clientY / window.innerHeight) * 100;
// console.log("aa"+this.table_savedata.Remarks+" "+this.table_savedata.NoOfSeats)
 
    this.tbl_object = {
        TableName: "",
        AreaId: 39,
        NoOfSeats: this.table_savedata.NoOfSeats,
        Remarks: this.table_savedata.Remarks,
        AxisX: this.xPos_ ,
        AxisY: this.yPos_,
      };
      axios
        .post(this.bURL + "DiningTable/InsertDiningTable", this.tbl_object)
        .then(
          (response) => {
            if (response.status === 200) {
              // alert(response);
              // this.table_api.push(response.data);
              this.tbl_object = ''
              this.tableModal = false;
               // this.tableModal = true;
       this.table_savedata.name = "";
       this.table_savedata.NoOfSeats = "";
       this.table_savedata.Remarks = "";

       this.tbl_object = {
        TableName: "",
        AreaId: '',
        NoOfSeats: '',
        Remarks: '',
        AxisX: '',
        AxisY: '',
      };

       this.fetch_tablefrom_db()
            }
          },
          (error) => {
            console.log(error);
          }
        );
    //   // console.log("sss"+JSON.stringify(this.tbl_object ))
    // this.Post_table( this.tbl_object)
  }
       
     
      // 
},

    dragStart(e) {

      if (e.target !== e.currentTarget) {
        this.active = true;

        // this is the item we are interacting with
        this.activeItem = e.target;
        // console.log(JSON.parse(e))

        if (this.activeItem !== null) {
          if (!this.activeItem.xOffset) {
            this.activeItem.xOffset = 0;
          }

          if (!this.activeItem.yOffset) {
            this.activeItem.yOffset = 0;
          }

          if (e.type === "touchstart") {
            this.activeItem.initialX =
              e.touches[0].clientX - this.activeItem.xOffset;
            this.activeItem.initialY =
              e.touches[0].clientY - this.activeItem.yOffset;
          } else {
            console.log("doing something!");
            this.activeItem.initialX = e.clientX - this.activeItem.xOffset;
            this.activeItem.initialY = e.clientY - this.activeItem.yOffset;
          }
        }
      }
    },
    //******post table******/
    Post_table(data) {
      console.log("vmkv "+JSON.stringify(data));
      axios
        .post(this.bURL + "DiningTable/InsertDiningTable", data)
        .then(
          (response) => {
            if (response.status === 200) {
              // alert(response);
              // this.table_api.push(response.data);
              this.tbl_object = ''
              this.tableModal = false;
               // this.tableModal = true;
      this.table_savedata.name = "";
      this.table_savedata.NoOfSeats = "";
       this.table_savedata.Remarks = "";
       this.fetch_tablefrom_db()
            }
          },
          (error) => {
            console.log(error);
          }
        );
    },

    dragEnd(e) {
      if (this.activeItem !== null) {
        this.activeItem.initialX = this.activeItem.currentX;
        this.activeItem.initialY = this.activeItem.currentY;
        this.xPos = (this.activeItem.initialX / window.innerWidth) * 100;
        this.yPos = (this.activeItem.initialY / window.innerHeight) * 100;
       
        if(this.xPos > 0)
        {
        this.table_api[this.activeItem.title] = {
          Id: this.activeItem.id,
          TableName: this.activeItem.id,
          SplitCount: 1,
          AreaId: this.table_api[this.activeItem.title].AreaId,
          NoOfSeats: this.table_api[this.activeItem.title].NoOfSeats,
          Remarks: this.table_api[this.activeItem.title].Remarks,
          // AxisX: Math.round(this.xPos * 100) / 100,
          // AxisY: Math.round(this.yPos * 100) / 100,

          AxisX: this.xPos,
          AxisY: this.yPos,
        };
        }
        // console.log(
        //   "aa" + JSON.stringify(this.table_api[this.activeItem.title])
        // );
        this.update_table(this.table_api[this.activeItem.title]);
        //  this.upsert(this.item_table, this.Obj_);
      }

      this.active = false;
      this.activeItem = null;
    },
    update_table(data) {
   

      axios.put(this.bURL + "DiningTable/UpdateDiningTable", data).then(
        (response) => {
          if (response.status === 200) {
            console.log(response);
            // this.fetch_tablefrom_db()
            // this.table_api.push(response.data);
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },

   

    drag(e) {
      if (this.active) {
        if (e.type === "touchmove") {
          e.preventDefault();

          this.activeItem.currentX =
            e.touches[0].clientX - this.activeItem.initialX;
          this.activeItem.currentY =
            e.touches[0].clientY - this.activeItem.initialY;
        } else {
          this.activeItem.currentX = e.clientX - this.activeItem.initialX;
          this.activeItem.currentY = e.clientY - this.activeItem.initialY;
        }

        this.activeItem.xOffset = this.activeItem.currentX;
        this.activeItem.yOffset = this.activeItem.currentY;

        this.setTranslate(
          this.activeItem.currentX,
          this.activeItem.currentY,
          this.activeItem
        );
      }
    },

    setTranslate(xPos, yPos, el) {
      // console.log("xPos " + xPos + " yPos " + yPos + " Element " + this.activeItem.id)
      el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
      console.log(el.id);
      this.obj_tbl = {
        tid: el.id,
        style: el.style.transform,
      };
      // this.item_table.push(this.obj_tbl)
    },
    upload_layout() {
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onload = function (e) {
        this.ImageModal = false;
        this.CustomerImage = e.target.result;
        // this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");
        // this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");

        localStorage.setItem("CustomerImage", this.CustomerImage);
        // document.getElementById('banner').setAttribute("style", "background-image: url(" + dir + images[randomCount] + ");background-repeat: no-repeat;background-size: 388px 388px");
        document.getElementById("container").style.backgroundImage =
          e.target.result;
      };
      reader.onerror = function (error) {
      
      };
      reader.readAsDataURL(file);
    },
    open_modal() {
      this.ImageModal = true;
    },
    handleFilesUpload(e) {
      this.files = this.$refs.files.files;
      const file = e.target.files[0];
      this.layouturl = URL.createObjectURL(file);
      document
        .getElementById("container")
        .setAttribute(
          "style",
          "background-image: url(" +
            this.layouturl +
            ");background-repeat: no-repeat;background-size: cover;"
        );
      this.ImageModal = false;
      localStorage.setItem("layout_url", this.layouturl);
    },
    get(t_id, index) {
      
      this.table_Modal = true;
      this.t_id_edit = t_id;
      this.table_index = index;
    },
    dlt_table() {
     
      axios.delete(this.bURL + "DiningTable/" + this.t_id_edit).then(
        (response) => {
         
          if (response.status === 200) {
            // console.log(response.data);
            this.fetch_tablefrom_db()
            // this.table_api.push(response.data);
          } else {
            // console.log(response);
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
  },
};
</script>
<style scoped>
#container {
  overflow: auto;
  width: 100%;
  height: 70vh;
  background-color: #dae9bc;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  /* background: url(mountain.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover; */

  background-image: url("https://wcs.smartdraw.com/restaurant-floor-plan/examples/restaurant-layout.png?bn=15100111840");
  background-size: 100% 100%;
}

.item {
  border-style: none;
  border-width: 1px 1px 1px 1px;
  touch-action: none;
  user-select: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f3f8ea;
  border-color: #00640000;

  background-repeat: repeat !important;
  background-size: contain !important;
}

.resize {
  /* background-color: coral; */
  /* text-align: center; */
}

.item:active {
  opacity: 0.75;
}

.item:hover {
  cursor: pointer;
}
</style>