<template>
  <div class="position-relative" style="padding:0px;">
     
      <v-btn v-if="!showCodeEditor" text @click="showCodeEditor = true">
        <v-icon left>mdi-code-tags</v-icon>Show Code
      </v-btn>
    

    <vue-live-demo :code="code"  :components="{ ColorPaletteDemo, ...VuetifyAll, ...components }" />
   
  </div>
</template>

<script>
import Vue from 'vue'
import * as VuetifyAll from 'vuetify/lib'
import VueLiveDemo from '@indielayer/vue-live-demo'
import ColorPaletteDemo from './ColorPaletteDemo'

export default {
  components: {
    VueLiveDemo
  },
  props: {
    showCode: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: ''
    },
    code: {
      type: String,
      default: ''
    },
    components: {
      type: Object,
      default: () => ({})
    }
  },
  data() {
    return {
      VuetifyAll,
      ColorPaletteDemo,
      showCodeEditor: false
    }
  },
  mounted() {
    this.showCodeEditor = this.showCode
  }
}
</script>
