<template>
  <div>
    <v-btn
      ref="button"
      class="drawer-button"
      color="#ee44aa"
      dark
      @click="right = true"
    >
      <v-icon >mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
        <div class="title">Filter</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <!-- <v-container>
        <v-row>
          <v-col cols="12" style=" padding: 10px;">
          <div class="form-check-inline">
      <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio2">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Option 2
      </label>

    </div>
          </v-col>
        </v-row>
      </v-container> -->
      <div class="container-fluid">
        <div class="row">
          <div class=" col-sm-12" style="text-align:center;padding-bottom:6px;padding-top: 6px; !importent">
            <div class="custom-control custom-radio custom-control-inline" @click="ShowPending">
              <input id="customRadioInline1" type="radio" name="customRadioInline1" class="custom-control-input" >
              <label class="custom-control-label" for="customRadioInline1">Pending Orders Onily</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline" @click="ShowAll">
              <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
              <label class="custom-control-label" for="customRadioInline2">All Orders</label>
            </div>
          </div>
          <div class=" .col-12 col-sm-12" style=" text-align:center;padding-top:5px">
            <!-- <div class="btn-group">
  <button type="button" class="btn btn-primary" href="#datefilter" v-on:click="seen">Date</button>
  <button type="button" class="btn btn-primary" href="#customerfilter">Customer</button>
  <button type="button" class="btn btn-primary" href="#salespersonfilter">SalesPerson</button>
</div> -->
            <ul class="nav nav-tabs" style="padding-left: 19px;">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#datefilter" >Date</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#customerfilter">Customer</a>
              </li>
              <li id="salesmanTab" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#salespersonfilter">SalesPerson</a>
              </li>
            </ul>
          </div>

          <!-- <div class=".col-4 col-sm-6">.col-sm-3</div> -->
        </div>
        <!-- Tab panes start -->
        <div class="tab-content clearfix">
          <div id="datefilter" class="tab-pane active">
            <div v-if="AllDateTab" id="allorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                  <div class="form-group">
                    <label for="selectdatatype">Select DataType:</label>
                    <select id="gender2" class="custom-select">
                      <option value="1">OrderDate</option>
                      <option value="2">DeliveryDate</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="frmdate">From :</label>
                    <input id="frmdateAll" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="todate">To :</label>
                    <input id="todateAll" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right" >
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;" >View</button>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingDateTab" id="pedingorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <label for="selectdatatype">Select DataType:</label>
                    <select id="gender2" class="custom-select">
                      <option value="1">OrderDate</option>
                      <option value="2">DeliveryDate</option>
                    </select>
                  </div>
                  <label for="ignore">
                    <input id="ignore" type="checkbox" name="ignore" value="ignore">
                    Ignore From Date
                  </label>
                  <div class="form-group">
                    <label for="frmdate">From :</label>
                    <input id="frmdateAll" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="todate">To :</label>
                    <input id="todateAll" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right">
                    <button type="button" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;" @click="SearchAllByDate">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="customerfilter" class="tab-pane ">
            <div v-if="AllCustomerTab" id="customerallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="selectcustomer">Customer</label>
                      <select id="customer" class="custom-select">
                        <option value="1">OrderDate</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="frmdate">From :</label>
                    <input id="frmdate_customer" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="todate">To :</label>
                    <input id="todate_customer" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllcustomer" style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;" >View</button>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingCustomerTab" id="pedingorder_customer">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="selectcustomer">Customer</label>
                      <select id="customer1" class="custom-select">
                        <option value="1">OrderDate</option>
                      </select>
                    </div>
                  </div>
                  <div style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:70px;" >View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="salespersonfilter" class="tab-pane ">
            <div v-if="AllSalespersonTab" id="salespersonallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="selectsalesperson">SalesPerson</label>
                      <select id="gender2" class="custom-select">
                        <option value="1">SalesPerson1</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="frmdate">From :</label>
                    <input id="frmdate_customer" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="todate">To :</label>
                    <input id="todate_customer" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllcustomer" style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;" >View</button>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingSalespersonTab" id="pedingorder_salesperson">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="selectsalesperson">SalesPerson</label>
                      <select id="salesperson" class="custom-select">
                        <option value="1">SalesPerson1</option>
                      </select>
                    </div>
                  </div>
                  <div style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:70px;" >View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
      PendingDateTab:false,
      PendingCustomerTab:false,
      PendingSalespersonTab:false,
      AllDateTab:false,
      AllCustomerTab:false,
      AllSalespersonTab:false,
      right: false
    }
  },
  mounted() {
    this.animate()
    this.ShowPending()
  },
  methods: {
    ShowPending()
    {
      this.PendingDateTab = true
      this.PendingSalespersonTab = true
      this.PendingCustomerTab = true

      this.AllDateTab = false
      this.AllCustomerTab = false
      this.AllSalespersonTab = false
    },
    ShowAll()
    {
      this.AllDateTab = true
      this.AllCustomerTab = true
      this.AllSalespersonTab = true

      this.PendingDateTab = false
      this.PendingSalespersonTab = false
      this.PendingCustomerTab = false
    },
    SearchAllByDate()
    {
      return
    }
  }
}
</script>

<style lang="scss" scoped>
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}
</style>
