<template>
<div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"

    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />

      </v-col>

    </v-row>

    </v-dialog>

  <v-card


    tile
      style="margin-bottom:100px !important"
  >
    <v-list flat style="padding: 1px 0 !important" >
      <!-- <v-subheader>ReceiptBillwaseAdjustment</v-subheader> -->
      <v-list-item-group v-model="item" color="primary">
        <div >
         <v-row>
    <v-col cols="12" style="text-align:center;padding-right:22px !important;padding-left:22px;padding-top:5px !important;padding-bottom:0px !important">
      <label style="color:rgb(0, 99, 145)"><b>{{FirstCustomer}}</b></label>
    </v-col>
  </v-row>
   <v-row v-if="Receipt_data.length > 0">
    <v-col cols="6" class="location" style="padding-right:22px !important;padding-left:22px;padding-top:0px !important;padding-bottom:0px !important">
      <label style="font-size: 11px;color:#000">{{$t(`menu.TotalCurrentBalance`)}} :<br><b>{{FormatewithDecimalPlaces(BalanceShow)}}</b></label>
    </v-col>
    <!-- <v-col cols="2" style="text-align:center;padding-right:0px !important;padding-left:0px;padding-top:0px !important;padding-bottom:0px !important">
      <label style="font-size: 11px;color:#000">{{$t(`menu.Currency`)}} :<br><b>{{VoucherObject.Currency}}</b></label>
    </v-col> -->
    <v-col cols="6" class="locationnew" style="padding-right:22px !important;padding-left:22px;padding-top:0px !important;padding-bottom:0px !important;">
      <label style=" font-size: 11px;color:#000;padding-right:10px !important">{{$t(`menu.TotalBalanceAfter`)}} :<br> <b>{{FormatewithDecimalPlaces(BalanceAfterShow)}}</b></label>
    </v-col>
  </v-row>
  </div>
  <v-divider class="test" v-if="BalanceAfterShow"></v-divider>
  <template  v-for="(item,i) in Receipt_data" >
        <v-list-item
          :key="i"

        >
         <v-row  >
      <v-col
        cols="5"
        sm="5"
      style="padding-right:5px !important;padding-left:5px !important;padding-top:0px !important;padding-bottom:0px !important;"
       @click="OpenCurrentReceiptModal(i)"
       class="location"
      >
      <label style="font-size: 12px;margin-bottom:1px !important">#<span><b>{{item.ReferNo}}</b></span></label>
      </v-col>

       <v-col
        cols="2"
        sm="2"
    style="padding: 0px !important;text-align:center"
      >
     <v-icon style="font-size:15px;color:rgb(0 99 145);" @click="AdjustByCopy(i)">fas fa-copy</v-icon>
      </v-col>
        <v-col
        cols="5"
        sm="5"
        class="locationnew"
    style="padding-right:5px !important ;padding-top:0px !important;padding-bottom:0px !important;padding-left:5px !important;"
     @click="OpenCurrentReceiptModal(i)"
      >
      <label style="font-size: 12px;margin-bottom:1px !important"><b>{{FormatDate(item.SaleDate?item.SaleDate:item.PurchDate)}}</b></label>
      </v-col>
       <v-col
        cols="4"
        sm="4"
      style="padding-right:5px !important;padding-left:5px !important ;padding-top:0px !important;padding-bottom:0px !important;"
       @click="OpenCurrentReceiptModal(i)"
       class="location"
      >
<label style="font-size: 12px;margin-bottom:1px !important">{{$t(`menu.Balance`)}}</label>
<br>
<label style="font-size: 12px;" ><b>{{FormatewithDecimalPlaces(item.Balance)}}</b></label>

      </v-col>
       <v-col
        cols="4"
        sm="4"
        style="text-align:center;padding-right:5px !important;padding-left:5px !important;padding-top:0px !important;padding-bottom:0px !important;"
        @click="OpenCurrentReceiptModal(i)"

      >


           <label style="font-size: 12px;margin-bottom:1px !important" >{{$t(`menu.CurrentReceipt`)}}  </label>
          <br>

             <label style="font-size: 12px;"><b>{{FormatewithDecimalPlaces(item.AdjustedAmount)}}</b></label>
      </v-col>
      <v-col
        cols="4"
        sm="4"
        style="padding-right:5px !important;padding-left:5px !important;padding-top:0px !important;padding-bottom:0px !important;"
         @click="OpenCurrentReceiptModal(i)"
         class="locationnew"
      >
      <label style="font-size: 12px;margin-bottom:1px !important" >{{$t(`menu.BalanceAfter`)}}</label>
<br>
<label style="font-size: 12px;" ><b>{{FormatewithDecimalPlaces(item.BalanceAfter)}}</b></label>

      </v-col>
         </v-row>


        </v-list-item>
                   <v-divider
            v-if="i < Receipt_data.length - 1"
            :key="i"

          ></v-divider>
  </template>
      </v-list-item-group>

    </v-list>
  </v-card>

  <v-dialog
        v-model="CurrentReceiptModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(0 99 145);font-size:17px !important;">
             {{$t(`menu.AdjustBill`)}}
             <v-spacer></v-spacer>
 <v-icon style="font-size:17px;color:rgb(0 99 145);" @click="AdjustByCopy(CurrentReciptId)">fas fa-copy</v-icon>
          </v-card-title>
          <v-card-text>
                 <v-row >
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:3px;"
               >
            <v-text-field
            v-model="ModalCurrentReceipt"
            type="number"
            :label="$t('menu.CurrentReceipt')"
            outlined
            dense
          class="text-green"
          ref="ModalCurrentReceipt"
          ></v-text-field>
           </v-col>



                </v-row>
                 <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;padding-right: 0px;"
               class="locationbill"
                 >
           <label style="font-size: 12px;"><b>{{$t(`menu.InvoiceNo`)}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
               class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{ModalReferNo}}</b></label>
           </v-col>

                </v-row>
                 <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;padding-right: 0px;"
               class="locationbill"
               >
           <label style="font-size: 12px;"><b>{{$t('menu.BillDate')}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{FormatDate(ModalBillDate)}}</b></label>
           </v-col>

                </v-row>
                 <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                class="locationbill"
               >
           <label style="font-size: 12px;"><b>{{$t(`menu.BillTotal`)}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{FormatewithDecimalPlaces(ModalBillTotal)}}</b></label>
           </v-col>

                </v-row>
                <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
               class="locationbill"
               >
           <label style="font-size: 12px;"><b>{{$t('menu.Balance')}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
               class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{FormatewithDecimalPlaces(ModalBalance)}}</b></label>
           </v-col>

                </v-row>
                   <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
              class="locationbill"
               >
           <label style="font-size: 12px;"><b>{{$t('menu.CurrentReceipt')}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{FormatewithDecimalPlaces(ModalCurrentReceipt)}}</b></label>
           </v-col>

                </v-row>
                  <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                 class="locationbill"
               >
           <label style="font-size: 12px;"><b>{{$t('menu.BalanceAfter')}}</b></label>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:0px;padding-bottom:0px;"
                class="locationbillnew"
               >
          <label style="font-size: 12px;"><b>{{FormatewithDecimalPlaces(parseFloat(ModalBalance) - parseFloat (ModalCurrentReceipt?ModalCurrentReceipt:0))}}</b></label>
           </v-col>

                </v-row>
                  <v-row >
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:0px;"
               >
           <label style="font-size: 12px;"><b>{{ModalDescripton}}</b></label>
           </v-col>
                  </v-row>
                <v-divider></v-divider>
                 <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:0px;"
                class="locationbill"
               >
             <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
              @click="CurrentReceiptModal = false"
            >
              {{$t('menu.Back')}}
            </v-btn>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:0px;"
                 class="locationbillnew"
               >
       <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="SetNetAmountbyCurrentReceipt(CurrentReciptId,ModalCurrentReceipt)"
            >
             {{$t(`dashboard.ok`)}}
            </v-btn>
           </v-col>

                </v-row>



          </v-card-text>

        </v-card>
      </v-dialog>


    <div class="fixed-bottom flex-column flex-grow-1 align-center">
     <table style="width:100%">
       <tr style="width:100%;">
         <table style="width:100%">
           <tr>
             <td style="width:35%;padding-left:4px !important">
                <label style="font-size:12px;color:#FFA726;">{{$t('menu.Amounttopay')}}<br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(AmountToPay)}}</b></span></label>
             <td  style="width:25%" class="receiptbillnew">
           <v-btn small color="primary"  style="font-size:11px;color:#FFF; margin-bottom: 5px;"  @click="AutoAdjust">{{$t(`menu.AutoAdjust`)}}</v-btn>
             </td>
             <td  style="width:35%" >
               <label style="font-size:12px;color:#FFA726;">{{$t('dashboard.TotalReceipt')}}<br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(TotalReceipt)}}</b></span></label>

             </td>
              <td  style="width:5%;padding-top:5px">

             </td>
           </tr>
           <tr>
             <td  style="width:35%;padding-left:4px !important">

                    <label style="font-size:12px;color:#FFA726;">{{$t('menu.BalancetoAdjust')}}<br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(BalanceToAdjust)}}</b></span></label>
             </td>
             <td  style="width:25%;text-align:center" class="receiptbillnew">
                   <v-btn small color="primary" class="receiptbill" style=" font-size:11px;color:#FFF;margin-bottom: 5px;"  @click="ClearAll">{{$t(`common.Clear`)}} </v-btn>
             </td>
              <td  style="width:35%"  @click="OpenAdvanceModal">
                <label style="font-size:12px;color:#FFA726;">{{$t('menu.AdvanceOnAc')}} <br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(AdvanceAmount)}}</b></span></label>
             </td>
              <td  style="width:5%;padding-top:10px">

             </td>
           </tr>
           <tr>
             <td  style="width:35%;padding-left:4px !important">
  <v-btn small color="#FB8C00" style="font-size:11px;color:#FFF;min-width:60px" @click="BackToVoucher()">{{$t('menu.Back')}}</v-btn>
             </td>
             <td  style="width:25%">

             </td>
              <td  style="width:35%">
                <label style="font-size:12px;color:#FFA726;">{{$t(`menu.NetReceipt`)}} <br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(NetAmount)}}</b></span></label>
             </td>
              <td class="oknew" style="width:5%;">
<v-btn small color="#43A047" style="font-size:11px;color:#FFF;min-width:60px"
 :loading="isLoading"
 :disabled="isSignInDisabled"
@click="Save">{{$t(`dashboard.ok`)}}</v-btn>
             </td>
           </tr>
         </table>

       </tr>

     </table>
</div>


<v-dialog
        v-model="AdvanceModal"
        max-width="400px"
        style="z-index: 10000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(0 99 145);font-size:13px !important;">
             {{$t(`menu.AdvanceOnAccount`)}}
             <v-spacer></v-spacer>

          </v-card-title>
          <v-card-text>
                 <v-row >
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:3px;"
               >
            <v-text-field
            v-model="ModalAdvanceAmount"
            :label="$t(`menu.AdvanceOnAccount`)"
            outlined
            dense
            type="number"
          class="text-green"
          ref="ModalAdvanceAmount"
          ></v-text-field>
           </v-col>



                </v-row>


                <v-divider></v-divider>
                 <v-row >
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:0px;"
                class="locationbill"
               >
             <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
              @click="AdvanceModal = false"
            >
            {{$t(`menu.Back`)}}
            </v-btn>
           </v-col>

  <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:0px;"
              class="locationbillnew"
               >
       <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="SetNetAmount(ModalAdvanceAmount)"
               :loading="isLoading"
            >
             {{$t(`dashboard.ok`)}}
            </v-btn>
           </v-col>

                </v-row>



          </v-card-text>

        </v-card>
      </v-dialog>



<!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>




<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

  <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <!-- <v-card-title style="color:rgb(238,68,170)">

          </v-card-title> -->
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
               <!-- <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:center">
     <label style="color: rgb(120, 144, 156);font-size:14px"><b>{{ $t(`email.invoice`) }} # :</b> </label>
     <label style="color:rgb(238, 68, 170);font-size:14px;padding-left:2px !important"><b>{{ReferNo}}</b></label>

     </v-col>
     </v-row>
     <v-divider></v-divider> -->
     
                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintCancel">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>
               <!--   <v-col cols="4" sm="4" md="4" style="padding-top:10px;padding-bottom:0px;text-align:center" >
               <span >
            <v-btn color="#42A5F5" fab small dark   @click="ShareSale()">
            <v-icon>share</v-icon>
            </v-btn>
  </span>

               </v-col> -->
                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintSale()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
          <!-- <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="ShareSale()"
            >
              Share
            </v-btn>
             <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintSale()"
            >
              Print
            </v-btn>
          </v-card-actions> -->
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->




<!-- ------------------------------------------------- Snackbaer Starts Here------------------------------------------------------- -->




   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
          absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>

<!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->


</div>
</template>

<script>
import axios from 'axios'
import de from '../../translations/de'
import fab from 'vue-fab'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
     fab,
     globalpassword
  },
  data: () => ({
     GlobalPasswordModal:false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
     isLoading : false,
    isSignInDisabled: false,
    Loaderdialog: true,
      sheet: false,
      DecimalPlaces : window.localStorage.getItem('BillwaseDecimalPlaces'),
      DetailsEditId : -1,
      FirstCustomer : '',
      Receipt_data : [],
      VoucherNo : localStorage.getItem('VoucherNo')?localStorage.getItem('VoucherNo'): null,
      vm : {},
      excess_amt :false,
      snackbar: false,
      SnackbarMessege: '',
      timeout: 2000,
      IsSave : true,
      PrintModal : false,
      PrinterError : false,
      Papersize : localStorage.getItem('Papersize'),
      PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
      AmountToPay : localStorage.getItem('AmountToPay'),
      BalanceToAdjust : 0,
      TotalReceipt : 0,
      AdvanceAmount : 0,
      OldAdnvc : 0,
      NetAmount : 0,
      amt : 0,
      bURL  : localStorage.getItem("CompanyURL")+"/api/",
      bURLPrint : localStorage.getItem("CompanyURL"),
       CurrentReceiptModal : false,
       AdvanceModal :false,
       ModalDescripton : '',
       ModalBalanceAfter: 0,
       ModalCurrentReceipt:'',
       ModalBalance:0,
       ModalBillTotal:0,
       ModalBillDate:'',
       ModalReferNo:'',
       CurrentReciptId:-1,
       VoucherObject:{},
       VoucherDetails:[],
       BalanceShow:0,
       BalanceAfterShow:0,
         fab:{

      tooltip:true,
      bgColor: '#8E24AA',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100000',
      iconsize: 'small',
      right: '10vw',
      bottom: '-8vh',
      UrlToLoad1 : "",
      UrlToLoad2 : "",
      VoucherFrom:localStorage.getItem('VoucherFrom'),
      fabActions: [
        {
          name: 'ClearReceipt',
          icon: 'cached',
          //tooltip:this.$t(`common.Clear`)
           tooltip:'Clear'
        },

        {
          name: 'DeleteReceipt',
          icon: 'delete',
           //tooltip:this.$t(`common.delete`)
            tooltip:'Delete'
        },
        {
          name: 'PrintReceipt',
          icon: 'print',
         //tooltip:this.$t(`menu.Print`)
         tooltip:'Delete'
        },
          {
          name: 'SaveReceipt',
          icon: 'save',
         //tooltip:this.$t(`common.save`)
         tooltip:'Delete'
        },
      ],
       Settings : JSON.parse(localStorage.getItem('Settings')),
    },
  }),
  mounted()
  {
    if(this.VoucherNo === "null")
          this.VoucherNo = null

     this.$root.$children[0].scroll=false;
      this.IsBillWase = localStorage.getItem('IsBillWase')
      this.VoucherFrom = localStorage.getItem('VoucherFrom')
      
      if(this.IsBillWase === null)
      {
        if(this.VoucherNo === null )
        {
          localStorage.removeItem('VoucherNo')
          
          
           localStorage.removeItem('IsHoldingReceipt')
           localStorage.removeItem('VoucherObject')
           localStorage.removeItem('VoucherDetails')
           
           
            if(this.VoucherFrom === "DebitNote")
            {
              localStorage.removeItem('DebitNoteObject')
              localStorage.removeItem('DebitNoteDetails')
              localStorage.removeItem('DebitNoteNo')
              this.$router.push('/dashboard/Vouchers/DebitNote')
            }
                
            if(this.VoucherFrom === "CreditNote")
            {
              localStorage.removeItem('CreditNoteObject')
              localStorage.removeItem('CreditNoteNo')
              localStorage.removeItem('CreditNoteNoDetails')
              this.$router.push('/dashboard/Vouchers/CreditNote')
            }
              

        }
        else{
             if(this.VoucherFrom === "DebitNote")
                 this.$router.push('/dashboard/registers/debitNote_reg')
              if(this.VoucherFrom === "CreditNote")
                 this.$router.push('/dashboard/registers/CreditNote_reg')
        }
      }
      this.AmountToPay = localStorage.getItem('AmountToPay')
      this.BalanceToAdjust = this.AmountToPay
      this.TotalReceipt = 0
      this.AdvanceAmount = 0
      this.NetAmount = 0
      this.amt = 0
      this.OldAdnvc = 0
     this.bill = localStorage.getItem('VoucherObject');
      if (this.bill !== null) {
         this.bill = JSON.parse(this.bill);
      }
      
      if(this.VoucherFrom === "DebitNote")
        this.VoucherDetails =  this.bill.DebitNoteDetails
      else
        this.VoucherDetails =  this.bill.CreditNoteDetails 
      this.CheckBilling()
      this.Papersize = 'A4'

       this.Settings =  JSON.parse(localStorage.getItem('Settings'))
       if(this.Settings.ShowHeaderMobilePrint === "True")
       {
          this.IsShowHeaderLogo = 1
       }else
       {
          this.IsShowHeaderLogo = 0
       }
        if(this.Settings.ShowFooterMobilePrint === "True")
       {
          this.IsShowFooterLogo = 1
       }else
       {
          this.IsShowFooterLogo = 0
       }

  },
  computed:{
  },
  methods: {
   someAction (e) {
        e.stopPropagation()
        console.log('in some action')
    },
     BalanceResultQuery()
    {
      this.BalanceShow = 0
      for(this.i = 0;this.i<this.Receipt_data.length;this.i++)
      {
        this.BalanceShow += this.Receipt_data[this.i].Balance
      }
    },
    BalanceaftrResultQuery()
    {
      this.BalanceAfterShow = 0
      for(this.i = 0;this.i<this.Receipt_data.length;this.i++)
      {
        this.BalanceAfterShow += this.Receipt_data[this.i].BalanceAfter
      }
    },
     DiscountResultQuery()
    {
      this.DiscountShow = 0
      for(this.i = 0;this.i<this.Receipt_data.length;this.i++)
      {
        this.Receipt_data[this.i].Discount = parseFloat(this.Receipt_data[this.i].Discount)
        this.flag = isNaN(this.Receipt_data[this.i].Discount)
        if(this.flag)
        {
          this.Receipt_data[this.i].Discount = 0
        }
        this.DiscountShow +=  this.Receipt_data[this.i].Discount
      }
    },
    OpenCurrentReceiptModal(id)
    {
      
      this.CurrentReceiptModal = true
       id=parseFloat(id)
       this.CurrentReciptId = id
       this.ModalDescripton = this.Receipt_data[id].Description,
       this.ModalBalanceAfter= this.Receipt_data[id].BalanceAfter,
       this.ModalCurrentReceipt=this.Receipt_data[id].AdjustedAmount,
       this.ModalBalance=this.Receipt_data[id].Balance,
       this.ModalBillTotal=this.Receipt_data[id].Amount,
       this.ModalBillDate=this.Receipt_data[id].SaleDate?this.Receipt_data[id].SaleDate:this.Receipt_data[id].PurchDate,
       this.ModalReferNo=this.Receipt_data[id].ReferNo,
       this.ModalCurrentReceipt = parseFloat(this.Receipt_data[id].AdjustedAmount)
       this.flag = isNaN(this.ModalCurrentReceipt)
       if(this.flag)
       {
         this.ModalCurrentReceipt = ''
       }
       else if(this.ModalCurrentReceipt === 0)
       {
         this.ModalCurrentReceipt = ''
       }
      setTimeout(() => {
    this.$refs.ModalCurrentReceipt.focus()
  }, 200)
      ;

    },
   CheckBilling()
   {
       for(this.i=0;this.i<this.VoucherDetails.length;this.i++)
       {
          if(this.i!==this.VoucherDetails.length)
          {
            if(this.VoucherFrom === "CreditNote" && this.VoucherDetails[this.i].IsBilled!== true)
            {
                this.UrlToLoad1= "Receipt/GetBillsReceivable?Customer=";
                 this.UrlToLoad2="Receipt/GetBillsReceivableByVoucherNo?VoucherType=Credit Note&VoucherNo=";
                 this.DetailsEditId=this.i;
                 this.FirstCustomer =   this.VoucherDetails[this.i].CrLedger
                 this.LedgerType = '&' + "Customer" + '='
                 this.AmountToPay =  parseFloat(this.VoucherDetails[this.i].Amount) + parseFloat(this.VoucherDetails[this.i].Tax)
                 localStorage.setItem('AmountToPay',this.AmountToPay)
                 this.BalanceToAdjust = this.AmountToPay
                 break;
            }
            else if(this.VoucherFrom === "DebitNote"  && this.VoucherDetails[this.i].IsBilled!== true)
            {
              this.UrlToLoad1= "Payment/GetBillsPayable?Supplier=";
                 this.UrlToLoad2="Payment/GetBillsPayableByVoucherNo?VoucherType=Debit Note&VoucherNo=";
                 this.DetailsEditId=this.i;
                 this.FirstCustomer =   this.VoucherDetails[this.i].DrLedger
                 this.LedgerType = '&' + "Supplier" + '='
                 this.AmountToPay =  parseFloat(this.VoucherDetails[this.i].Amount) +  parseFloat(this.VoucherDetails[this.i].Tax)
                 localStorage.setItem('AmountToPay',this.AmountToPay)
                 this.BalanceToAdjust = this.AmountToPay
                 break;
            }
          }
       }
        if(this.i===this.VoucherDetails.length)
           {
            this.ExecuteSave()
           }
    
        this.encodeCustName = encodeURIComponent(this.FirstCustomer)
    if(this.VoucherNo === null)
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
         axios.get ( this.bURL + this.UrlToLoad1 + this.encodeCustName + '&Currency=' + this.bill.Currency)
        .then((response)  =>  {
          this.Receipt_data = []
          for(this.i = 0;this.i<response.data.length;this.i++)
              {
                  if(response.data[this.i].Balance > 0)
                  {
                      this.Receipt_data.push(response.data[this.i])
                  }
              }
           if(this.Receipt_data.length === 0)
            {
              this.AdvanceAmount = this.BalanceToAdjust
              this.OldAdnvc = this.AdvanceAmount
              this.BalanceToAdjust -= this.BalanceToAdjust
              this.NetAmount = this.AdvanceAmount
              this.BalanceToAdjust -= this.BalanceToAdjust
            }
            else{
              for(this.i = 0; this.i<this.Receipt_data.length;this.i ++)
              {
                this.Receipt_data[this.i].ReceiptAmount = 0
                this.Receipt_data[this.i].AdjustedAmount = 0
                this.Receipt_data[this.i].OriginalReceipt = 0
                this.Receipt_data[this.i].BalanceAfter = this.Receipt_data[this.i].Balance
              }

            }



            this.FormatAmount()
            this.BalanceResultQuery()
            this.BalanceaftrResultQuery()
            this.DiscountResultQuery()
            this.Loaderdialog = false
        }, (error)  =>  {
          console.log(error)
        })

    }
    else{
        this.bURL = localStorage.getItem("CompanyURL")+"/api/"
        
         axios.get ( this.bURL + this.UrlToLoad2 +this.VoucherNo+this.LedgerType+this.encodeCustName + '&Currency=' + this.bill.Currency)
        .then((response)  =>  {
          this.AdvanceAmount = 0
          this.Receipt_data = []
          for(this.i = 0;this.i<response.data.length;this.i++)
              {
                  if(response.data[this.i].Balance > 0 || response.data[this.i].AdjustedAmount > 0)
                  {
                    this.Receipt_data.push(response.data[this.i])
                  }
              }
           if(this.Receipt_data.length === 0)
            {
              this.AdvanceAmount = this.BalanceToAdjust
              this.OldAdnvc = this.AdvanceAmount
              this.BalanceToAdjust -= this.BalanceToAdjust
              this.NetAmount = this.AdvanceAmount + this.TotalReceipt
              this.BalanceToAdjust -= this.BalanceToAdjust

            }
            else{
              this.AdjustedAmountTotal = 0
              for(this.i = 0; this.i<this.Receipt_data.length;this.i ++)
              {
                 this.AdjustedAmountTotal+= this.Receipt_data[this.i].AdjustedAmount
                  this.Receipt_data[this.i].ReceiptAmount = this.Receipt_data[this.i].AdjustedAmount
                  this.Receipt_data[this.i].OriginalReceipt = this.Receipt_data[this.i].AdjustedAmount
                  this.Receipt_data[this.i].BalanceAfter = this.Receipt_data[this.i].Balance
                  this.Receipt_data[this.i].Balance +=  this.Receipt_data[this.i].AdjustedAmount

              }
              this.TotalReceipt = this.AdjustedAmountTotal
              this.BalanceToAdjust = parseFloat(this.AmountToPay)  - parseFloat(this.TotalReceipt)
              if(this.BalanceToAdjust > 0)
              {
                this.AdvanceAmount =  this.BalanceToAdjust
                this.OldAdnvc = this.AdvanceAmount
                this.BalanceToAdjust -= this.BalanceToAdjust
              }
              this.NetAmount =this.TotalReceipt + this.AdvanceAmount


            }


            this.FormatAmount()
            this.BalanceResultQuery()
            this.BalanceaftrResultQuery()
            this.DiscountResultQuery()
            this.Loaderdialog = false
        }, (error)  =>  {
          console.log(error)
        })



    }

   },
   FormatAmount()
   {
        for(this.i = 0; this.i<this.Receipt_data.length; this.i++)
        {
            this.Receipt_data[this.i].AdjustedAmount = parseFloat(this.Receipt_data[this.i].AdjustedAmount).toFixed(this.DecimalPlaces)
            //this.Receipt_data[this.i].ReceiptAmount = parseFloat(this.Receipt_data[this.i].ReceiptAmount).toFixed(this.DecimalPlaces)
            //this.Receipt_data[this.i].Balance = parseFloat(this.Receipt_data[this.i].Balance).toFixed(this.DecimalPlaces)
            //this.Receipt_data[this.i].BalanceAfter = parseFloat(this.Receipt_data[this.i].BalanceAfter).toFixed(this.DecimalPlaces)
            //this.Receipt_data[this.i].Amount = parseFloat(this.Receipt_data[this.i].Amount).toFixed(this.DecimalPlaces)
        }
        //this.AmountToPay = parseFloat(this.AmountToPay).toFixed(this.DecimalPlaces)
        //this.BalanceToAdjust = parseFloat(this.BalanceToAdjust).toFixed(this.DecimalPlaces)
        //this.TotalReceipt = parseFloat(this.TotalReceipt).toFixed(this.DecimalPlaces)
        this.AdvanceAmount = parseFloat(this.AdvanceAmount).toFixed(this.DecimalPlaces)
        //this.NetAmount = parseFloat(this.NetAmount).toFixed(this.DecimalPlaces)
        this.amt = parseFloat(this.amt).toFixed(this.DecimalPlaces)
        this.OldAdnvc = parseFloat(this.OldAdnvc).toFixed(this.DecimalPlaces)

   },
   DeFormatAmount()
   {
        for(this.i = 0; this.i<this.Receipt_data.length; this.i++)
        {
            this.Receipt_data[this.i].AdjustedAmount = parseFloat(this.Receipt_data[this.i].AdjustedAmount)
            //this.Receipt_data[this.i].ReceiptAmount = parseFloat(this.Receipt_data[this.i].ReceiptAmount)
            //this.Receipt_data[this.i].Balance = parseFloat(this.Receipt_data[this.i].Balance)
            //this.Receipt_data[this.i].BalanceAfter = parseFloat(this.Receipt_data[this.i].BalanceAfter)
            //this.Receipt_data[this.i].Amount = parseFloat(this.Receipt_data[this.i].Amount)
        }
        this.AmountToPay = parseFloat(this.AmountToPay)
        this.BalanceToAdjust = parseFloat(this.BalanceToAdjust)
        this.TotalReceipt = parseFloat(this.TotalReceipt)
        this.AdvanceAmount = parseFloat(this.AdvanceAmount)
        this.NetAmount = parseFloat(this.NetAmount)
        this.amt = parseFloat(this.amt)
        this.OldAdnvc = parseFloat(this.OldAdnvc)

   },
    AutoAdjust()
    {
        this.DeFormatAmount()
        this.DeFormatAmount()
        if(this.BalanceToAdjust === 0)
        {
          return
        }
        this.TotalReceipt = 0
        this.NetAmount = 0
        this.excess_amt= false
        this.AdvanceAmount = 0
        this.AmountToPay = parseFloat(localStorage.getItem('AmountToPay'));
        this.BalanceToAdjust = this.AmountToPay
        if(this.Receipt_data.length !== 0)
        {
        for(this.i=0; this.i<this.Receipt_data.length; this.i++)
        {
            this.amount = parseFloat(this.Receipt_data[this.i].Balance);
            //var id='received'+i;
            if(this.amount < 0)
            {
                this.amount = 0
                this.Receipt_data[this.i].AdjustedAmount = this.amount
            }
            else if(this.BalanceToAdjust > this.amount && this.BalanceToAdjust>0 )
            {
                this.Receipt_data[this.i].AdjustedAmount = this.amount
                this.Receipt_data[this.i].ReceiptAmount = this.amount
                this.Receipt_data[this.i].BalanceAfter = this.amt
                this.TotalReceipt = this.TotalReceipt + this.amount
                this.BalanceToAdjust = this.BalanceToAdjust - this.amount
            }
            else{
                this.Receipt_data[this.i].AdjustedAmount = parseFloat(this.BalanceToAdjust)
                this.Receipt_data[this.i].ReceiptAmount =  parseFloat(this.BalanceToAdjust)
                this.Receipt_data[this.i].BalanceAfter  = this.amount - this.BalanceToAdjust
                this.TotalReceipt = this.TotalReceipt + this.BalanceToAdjust;
                this.BalanceToAdjust -= this.BalanceToAdjust;

            }

        }
        }
        else{
          this.return = 0
        }

        this.AdvanceAmount = this.BalanceToAdjust
        this.OldAdnvc = this.BalanceToAdjust
        this.BalanceToAdjust -= this.AdvanceAmount
        this.NetAmount = this.TotalReceipt + this.AdvanceAmount
        this.FormatAmount()
        this.BalanceResultQuery()
        this.BalanceaftrResultQuery()
        this.DiscountResultQuery()
    },
    SetNetAmount(AdvAmount)
    {
        this.DeFormatAmount()
         AdvAmount = parseFloat(AdvAmount)
         this.flag = isNaN(AdvAmount)
         if(this.flag)
         {
           AdvAmount = 0
         }
        this.BalanceToAdjust += parseFloat(this.OldAdnvc)
        if(this.BalanceToAdjust == 0)
        {
            //this.BalanceToAdjust = this.amt
            //this.AdvanceAmount = this.amt
            this.BalanceToAdjust -= parseFloat(this.OldAdnvc)
            this.excess_amt = true
            this.SnackbarMessege = this.$t(`menu.ExcessAmount`)
            this.snackbar = true

        }
        else
        {
            this.flag_AdvanceAmount = isNaN(parseFloat(AdvAmount))
            if(this.flag_AdvanceAmount)
            {
                //this.AdvanceAmount = this.OldAdnvc;
                //this.FormatAmount()
                this.BalanceToAdjust -= parseFloat(this.OldAdnvc)
                this.excess_amt = true
                this.SnackbarMessege = this.$t(`menu.ExcessAmount`)
                this.snackbar = true

                return
            }
            else if(this.BalanceToAdjust > 0 && this.BalanceToAdjust < AdvAmount)
            {
                 //this.AdvanceAmount = this.OldAdnvc;
                // this.FormatAmount()
                this.BalanceToAdjust -= parseFloat(this.OldAdnvc)
                this.excess_amt = true
                 this.SnackbarMessege = this.$t(`menu.ExcessAmount`)
                 this.snackbar = true
                 return

            }
            else{
                this.AdvanceAmount = parseFloat(AdvAmount)
                this.NetAmount -= parseFloat(this.OldAdnvc);
                this.NetAmount += parseFloat(this.AdvanceAmount);
                this.BalanceToAdjust  -= parseFloat(this.AdvanceAmount);

                this.OldAdnvc = this.AdvanceAmount
                this.AdvanceModal = false
                this.FormatAmount()
            }

      }
      this.FormatAmount()
      this.BalanceResultQuery()
        this.BalanceaftrResultQuery()
        this.DiscountResultQuery()

    },
    SetNetAmountbyCurrentReceipt(id,current_rcpt)
    {
        this.DeFormatAmount()
        if(this.VoucherNo === null)
        {
            current_rcpt = parseFloat(current_rcpt)
            this.flag_current_rcpte = isNaN(current_rcpt);
            if(this.flag_current_rcpte)
            {
                current_rcpt=0;
            }


            this.oldRcpt = this.Receipt_data[id].ReceiptAmount
            this.currenr_bal = this.Receipt_data[id].Balance
            this.TotalReceipt -= parseFloat(this.oldRcpt)
            this.BalanceToAdjust += parseFloat(this.oldRcpt)

            if (current_rcpt > this.BalanceToAdjust || current_rcpt > this.currenr_bal )
            {
                this.BalanceToAdjust -= this.oldRcpt
                this.excess_amt=true;
                this.TotalReceipt += this.oldRcpt
                this.Receipt_data[id].AdjustedAmount = 0
                this.SnackbarMessege = this.$t(`menu.ExcessAmount`)
                this.snackbar = true

            }
            else
            {
                this.BalanceToAdjust -= current_rcpt


                this.TotalReceipt += parseFloat(current_rcpt)

                this.NetAmount -= parseFloat(this.oldRcpt)
                this.NetAmount += parseFloat(current_rcpt)

                //this.NetAmount += this.AdvanceAmount
                this.Receipt_data[id].AdjustedAmount  = current_rcpt

                this.Receipt_data[id].BalanceAfter = this.Receipt_data[id].Balance - current_rcpt
                this.Receipt_data[id].ReceiptAmount = current_rcpt
                this.Receipt_data[id].AdjustedAmount = current_rcpt
                this.CurrentReceiptModal = false


            }

       }
       else{
            this.currenr_bal = 0
            this.AdjustedAmt =0
            this.currenr_bal = this.Receipt_data[id].Balance
            this.AdjustedAmt = this.Receipt_data[id].ReceiptAmount;

            this.flag_current_rcpte = isNaN(parseFloat(current_rcpt));
            if(this.flag_current_rcpte)
            {
                current_rcpt=0
            }


            this.oldRcpt = this.Receipt_data[id].ReceiptAmount;
            this.BalanceToAdjust += this.oldRcpt
            this.TotalReceipt -= parseFloat(this.oldRcpt)
            if (current_rcpt > this.BalanceToAdjust || current_rcpt > this.currenr_bal )
            {
                this.BalanceToAdjust -= this.oldRcpt
                this.excess_amt=true
                this.TotalReceipt += parseFloat(this.oldRcpt);
                this.Receipt_data[id].AdjustedAmount = this.AdjustedAmt.toFixed(this.DecimalPlaces)

                this.SnackbarMessege = this.$t(`menu.ExcessAmount`)
                this.snackbar = true

            }
            else
            {
                this.oldRcpt = this.Receipt_data[id].ReceiptAmount;
                this.BalanceToAdjust -= current_rcpt;
                this.TotalReceipt += parseFloat(current_rcpt);

                this.NetAmount -= parseFloat(this.oldRcpt)
                this.NetAmount += parseFloat(current_rcpt)

                //this.NetAmount += this.AdvanceAmount

                this.Receipt_data[id].AdjustedAmount = parseFloat(current_rcpt)


                 this.Receipt_data[id].BalanceAfter = this.Receipt_data[id].Balance - current_rcpt
                this.Receipt_data[id].ReceiptAmount = current_rcpt
                this.Receipt_data[id].AdjustedAmount = current_rcpt

                this.CurrentReceiptModal = false
            }

       }
       this.FormatAmount()
       this.BalanceResultQuery()
        this.BalanceaftrResultQuery()
        this.DiscountResultQuery()
    },
    AdjustByCopy(id)
    {
        this.DeFormatAmount()

            this.Receipt_data[id].BalanceAfter += this.Receipt_data[id].AdjustedAmount
            this.BalanceToAdjust += this.Receipt_data[id].AdjustedAmount
            this.TotalReceipt -= this.Receipt_data[id].AdjustedAmount
            this.NetAmount -= this.Receipt_data[id].AdjustedAmount
        if(this.Receipt_data[id].BalanceAfter >= this.BalanceToAdjust)
        {

            this.Receipt_data[id].AdjustedAmount = this.BalanceToAdjust
            this.TotalReceipt += this.BalanceToAdjust
            this.NetAmount += this.BalanceToAdjust
            this.Receipt_data[id].ReceiptAmount = this.BalanceToAdjust
            this.Receipt_data[id].BalanceAfter -= this.BalanceToAdjust
            this.BalanceToAdjust -= this.BalanceToAdjust

        }
        else{
            this.Receipt_data[id].AdjustedAmount = this.Receipt_data[id].BalanceAfter
            this.TotalReceipt += this.Receipt_data[id].BalanceAfter
            this.NetAmount += this.Receipt_data[id].BalanceAfter
            this.Receipt_data[id].ReceiptAmount = this.Receipt_data[id].BalanceAfter
            this.BalanceToAdjust -= this.Receipt_data[id].BalanceAfter
            this.Receipt_data[id].BalanceAfter = 0

        }
        this.ModalCurrentReceipt = this.Receipt_data[id].AdjustedAmount
        //this.NetAmount  += this.AdvanceAmount
        this.FormatAmount()
        this.BalanceResultQuery()
        this.BalanceaftrResultQuery()
        this.DiscountResultQuery()
    },
    PrintReceipt()
    {
      if (this.VoucherNo !== null)
      {
     if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }
     this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
         if(this.Printer === 'Bluetooth')
        {
          this.Loaderdialog = true
           this.url = this.bURL + 'Print/ReceiptNativeFormate?VoucherNo=' + this.VoucherNo + '&Papersize=' +this.PapersizeNo

           this.ReceiptModal = false
            axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,1,1,80,"0","null",this.VoucherFrom,"null")
              },
              error => {
                console.log(error);
              }
             );

        }
        else
        {
        axios.get(this.bURL + 'print/Receipt?VoucherNo=' + this.VoucherNo + '&Papersize=' + this.PapersizeNo)
          .then((response)  =>  {
             this.url = this.bURLPrint + response.data
            //window.open(this.url, '_blank')
            //window.location.href = this.url
            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })
        }


      }
      else
      {
        this.SnackbarMessege = this.$t(`menu.NoReceipttoPrint`)
        this.snackbar = true
      }

    },
    PrintCancel()
    {
        if(this.VoucherNo === null)
        {
            this.PrintModal = false
            localStorage.removeItem("IsBillWase");
            localStorage.removeItem('VoucherNo')
           localStorage.removeItem('IsHoldingReceipt')
           localStorage.removeItem('VoucherObject')
           localStorage.removeItem('IsUpdateCustomerVisit')
           localStorage.removeItem('VoucherDetails')
            if(this.VoucherFrom === "DebitNote")
            {
              localStorage.removeItem('DebitNoteDetails')
              localStorage.removeItem('DebitNoteObject')
              localStorage.removeItem('DebitNoteNo')
              this.$router.push('/dashboard/Vouchers/DebitNote')
            }
                
            if(this.VoucherFrom === "CreditNote")
            {
              localStorage.removeItem('CreditNoteDetails')
              localStorage.removeItem('CreditNoteObject')
              localStorage.removeItem('CreditNoteNo')
              this.$router.push('/dashboard/Vouchers/CreditNote')
            }
           
        }
        else{
            this.PrintModal = false
            localStorage.removeItem("IsBillWase");
             if(this.VoucherFrom === "DebitNote")
                 this.$router.push('/dashboard/registers/debitNote_reg')
              if(this.VoucherFrom === "CreditNote")
                 this.$router.push('/dashboard/registers/CreditNote_reg')
        }

    },
    Save()
    {
        this.DeFormatAmount()
        if(this.IsSave === false)
        {
            if(this.VoucherNo === null)
            {
              localStorage.removeItem('VoucherNo')
           localStorage.removeItem('IsHoldingReceipt')
           localStorage.removeItem('VoucherObject')
           localStorage.removeItem('IsUpdateCustomerVisit')
           localStorage.removeItem('VoucherDetails')

           if(this.VoucherFrom === "DebitNote")
            {
              localStorage.removeItem('DebitNoteObject')
              localStorage.removeItem('DebitNoteDetails')
              localStorage.removeItem('DebitNoteNo')
              this.$router.push('/dashboard/Vouchers/DebitNote')
            }
                
            if(this.VoucherFrom === "CreditNote")
            {
              localStorage.removeItem('CreditNoteObject')
              localStorage.removeItem('CreditNoteNo')
              localStorage.removeItem('CreditNoteNoDetails')
              this.$router.push('/dashboard/Vouchers/CreditNote')
            }
            }
            else
            {
              if(this.VoucherFrom === "DebitNote")
                 this.$router.push('/dashboard/registers/debitNote_reg')
              if(this.VoucherFrom === "CreditNote")
                 this.$router.push('/dashboard/registers/CreditNote_reg')
            }
        }
        else
        {
            this.BalanceToAdjust.toFixed(this.DecimalPlaces)
            this.BalanceToAdjust = parseFloat(this.BalanceToAdjust)
            this.tempTotal = 0
            if(this.BalanceToAdjust !== 0)
            {
                this.SnackbarMessege = this.$t(`menu.AdjusttheAmount`)
                this.snackbar = true
                this.FormatAmount()
                return;
            }
            else
            {
                this.bill = localStorage.getItem('VoucherObject');
                if (this.bill !== null) {
                    this.bill = JSON.parse(this.bill);
                }
                this.VoucherDetails[this.DetailsEditId].Collections = []
                this.VoucherDetails[this.DetailsEditId].SupplierPayments = []
                for(this.i=0; this.i<this.Receipt_data.length; this.i++)
                {
                  
                  if(this.VoucherFrom === "CreditNote" && this.Receipt_data[this.i].AdjustedAmount > 0)
                  {
                    this.obj={
                        "BillNo":this.Receipt_data[this.i].SaleNo,
                        "Amount":this.Receipt_data[this.i].AdjustedAmount,
                        "BillType":this.Receipt_data[this.i].BillType
                    }
            this.tempTotal = this.tempTotal + this.Receipt_data[this.i].AdjustedAmount
             this.VoucherDetails[this.DetailsEditId].Collections.push(this.obj);
             this.VoucherDetails[this.DetailsEditId].IsBilled = true
                }
                 if(this.VoucherFrom === "DebitNote" && this.Receipt_data[this.i].AdjustedAmount > 0)
                  {
                    this.obj={
                        "BillNo":this.Receipt_data[this.i].PurchaseNo,
                        "Amount":this.Receipt_data[this.i].AdjustedAmount,
                        "BillType":this.Receipt_data[this.i].BillType
                    }
            this.tempTotal = this.tempTotal + this.Receipt_data[this.i].AdjustedAmount
             this.VoucherDetails[this.DetailsEditId].SupplierPayments.push(this.obj);
             this.VoucherDetails[this.DetailsEditId].IsBilled = true
                }
        }
        if(this.AmountToPay <= (this.tempTotal + this.AdvanceAmount))
        {
           this.VoucherDetails[this.DetailsEditId].IsBilled = true
           if(this.DetailsEditId!==this.VoucherDetails.length-1)
           {
             this.CheckBilling()
           }
           else{
             this.ExecuteSave()
           }

        }
        else
        {
            //alert('Adjust the Amount');
            this.SnackbarMessege = this.$t(`menu.AdjusttheAmount`)
            this.snackbar = true
             this.FormatAmount()
            return;
        }

    }

        }

    },

    ExecuteSave()
    {
      if(this.VoucherFrom === "DebitNote")
          this.bill.DebitNoteDetails =  this.VoucherDetails
      else
         this.bill.CreditNoteDetails =  this.VoucherDetails
       if( this.VoucherNo === null)
            {
               this.isLoading = true
               this.isSignInDisabled = true
                //this.bill.ReceivedBy= window.localStorage.getItem('user');
                localStorage.setItem('teet', JSON.stringify(this.bill));
                this.bURL = localStorage.getItem("CompanyURL")+"/api/"
                
                 axios.post(this.bURL + this.VoucherFrom,this.bill,
                  {
                      headers: this.headers
                  })
                    .then((response)  =>  {
                      
                       this.isLoading = false,
                       this.isSignInDisabled = false
                        localStorage.setItem('VoucherNoForPrint',response.data)
                        this.IsSave = false
                        localStorage.removeItem('IsBillWase')
                        localStorage.removeItem('AmountToPay')
                        localStorage.removeItem('IsHoldingReceipt')
                        localStorage.removeItem('VoucherObject')
                        this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                        this.snackbar = true
                        this.PrintCancel()
                        //this.PrintModal = true
                    },
                     (error)  =>  {
          this.isLoading = false,
          this.isSignInDisabled = false
          this.IsSave = true
          this.FormatAmount()
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
            }
        else
        {
          this.isLoading = true
          this.isSignInDisabled = true
            this.bill.VoucherNo = parseInt(this.VoucherNo);
            localStorage.setItem('teet', JSON.stringify(this.bill));
            
            axios.put(this.bURL +this.VoucherFrom,this.bill,
             {
                      headers: this.headers
              })
                .then((response)  =>  {
                  
                  this.isLoading = false
                    localStorage.removeItem('VoucherNo')
                    localStorage.setItem('VoucherNoForPrint',this.VoucherNo)
                    localStorage.removeItem('IsBillWase')
                    localStorage.removeItem('IsHoldingReceipt')
                    localStorage.removeItem('VoucherObject')
                    localStorage.removeItem('AmountToPay')
                    this.isSignInDisabled = false
                    this.IsSave = false
                    this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                    this.snackbar = true
                    this.PrintCancel()
                    //this.PrintModal = true
               },
               (error)  =>  {
          this.isLoading = false,
          this.isSignInDisabled = false
          this.IsSave = true
          this.FormatAmount()
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })

        }

    },
    BackToVoucher()
    {
         if(this.VoucherFrom === "DebitNote")
                this.$router.push('/dashboard/Vouchers/DebitNote')
            if(this.VoucherFrom === "CreditNote")
                this.$router.push('/dashboard/Vouchers/CreditNote')
    },
    ClearAll()
    {
      location.reload()
    },
    FormatewithDecimalPlaces(value)
    {
        value = parseFloat(value)
         if(isNaN(value))
        {
          return 0
        }
        else{
          value = value.toFixed(this.DecimalPlaces)
          return value
        }
    },
     FormatDate(Value)
    {
        return  Value.split('T')[0]
    },
    OpenAdvanceModal()
    {
      this.AdvanceModal = true
      this.AdvanceAmount = parseFloat(this.AdvanceAmount)
      this.flag = isNaN(this.AdvanceAmount)
      if(this.flag)
      {
        this.ModalAdvanceAmount = ''
      }
      else if(this.AdvanceAmount === 0)
      {
        this.ModalAdvanceAmount = ''
      }
      else
      {
        this.ModalAdvanceAmount = this.AdvanceAmount
      }

  setTimeout(() => {
    this.$refs.ModalAdvanceAmount.focus()
  }, 200)
      ;
    }

  }
}
</script>

<style lang="scss" scoped>

.footer {
   position: fixed;
   z-index:1;
   width: 100%;
   height:100px;
   background-color: red;
   color: white;
   text-align: center;
   padding-right:50px;
   margin-right:50px;
}
.v-input__slot {
  border-color: #00000061;
}
// .v-expansion-panel-header{
//    background-color:#90A4AE;
//   color: #FFF;
//   height: 67px;

// }
// .v-expansion-panel-content{
//    /* padding: 0 24px 2px; */
//   background-color:rgb(0 53 94);
//   color: #FFF;
//   height: 67px;
//   padding-top:10px
// }
// .theme--light.v-label {
//     color: #FFF
// }
// .theme--light.v-label:hover {
//     color: #FFF
// }
// .v-input input {
//     color: #FFF
// }
// .theme--light.v-input input, .theme--light.v-input textarea {

//     color: #FFF;
// }
// .theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
//     border-color: #FFF;
// }
// .theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:after {
//     border-color: #FFF;
// }
// .v-text-field > .v-input__control > .v-input__slot:before {
//     border-style: none;

// }
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
 z-index: 100000!important;
}
.theme--light.v-input {
    color: rgb(0 0 0 / 87%);
    height: 42px;
}
.mdi-chevron-down::before {
    display: none;
}
@media only screen and (max-device-width: 480px) {

.read{
  font-size: 12px;
  margin-bottom: 0px;
}
.read1{
  font-size: 9x;
  padding-right: 7.44444px;
  padding-left: 7.44444px;
}
    }
</style>

<style>
#new >.fab-wrapper {

          right: 10vw;
    bottom: -8vh;
}
.test {

       border-color: #546E7A !important;
       height: 100%;
}
.innerExPan  {
   border-radius: 6px;
    margin: 24px;
    overflow-y: auto;
    pointer-events: auto;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    box-shadow: none;
}
  .v-application--is-rtl .receiptbill {
    direction: rtl;

margin-right:21px !important;
min-width: 68px !important;



}
.v-application--is-ltr .receiptbill {
margin-right:21px !important;
min-width: 84px !important;
}


  .v-application--is-rtl .oknew {
    direction: rtl;
padding-right:14px !important;
padding-left:14px !important;


}
.v-application--is-ltr .oknew {
padding-right:4px !important
}

  .v-application--is-rtl .receiptbillnew {
    direction: rtl;

padding-left:21px !important;




}
/* .v-application--is-ltr .receiptbill {
margin-right:21px !important;
min-width: 84px !important;
} */
</style>
