<template>
<div class=" flex-column flex-grow-1 align-center ">

      <v-expansion-panel-header
      hide-actions
       v-for="(item,i) in CustomerReceiptAdvances"
      :key="i"
  style=";border-bottom: 1px grey  solid"
      >
        <div v-on:click="$event.stopPropagation()">
      <v-row no-gutters>
      <v-col
        cols="4"
        sm="4"

      >
<label >Invoice</label>
<br>
<label >{{item.ReferNo}}</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Invoice"
            readonly
            color="#FFF"
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="4"
        sm="4"
         style="text-align:right"
      >
      <label >Date</label>
<br>
<label >{{FormatDate(item.VoucherDate)}}</label>
         <!-- <v-text-field
            value="45140001.00"
            label="Balance"
            readonly
          ></v-text-field> -->
      </v-col>
         <v-col
        cols="4"
        sm="4"
        style="text-align:right"
      >
        <!-- <v-text-field
            value="451400.000"
            label="Current Receipt"
          ></v-text-field> -->
          <label >Balance <input type="checkbox" @click="TakeReceipt(i)" :id="'ReceiptSelection' +i" name="vehicle1" value="Bike"></label>
          <br>
           <!-- <v-text-field
          ></v-text-field> -->
        <label >{{FormatewithDecimalPlaces(item.OnAccount)}}</label>
      </v-col>
    </v-row>
    </div>
      </v-expansion-panel-header>
  <div class="fixed-bottom flex-column flex-grow-1 align-center">
       <v-row no-gutters>
      <v-col
        cols="3"
        sm="3"
        class=" justify-center align-center"
        style="padding-left:17px;"
      >
 <label style="color:#FFF;margin-bottom: .0rem" class="read">Payable Amt</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">{{FormatewithDecimalPlaces(AmountToPay)}}</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Amount to Pay"
            readonly
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Balance to Adjust"
            readonly
          ></v-text-field> -->
           <label style="color:#FFF;margin-bottom: .0rem" class="read">Balance</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">{{FormatewithDecimalPlaces(BalanceToPay)}}</label>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Total Receipt"
            readonly
          ></v-text-field> -->
  <v-btn small color="primary" style="font-size:10px" >Cancel</v-btn>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Advance on A/c"
            readonly
          ></v-text-field> -->
      <v-btn small color="primary" style="font-size:10px" @click="Save" >Ok</v-btn>
         <!-- <v-col
        cols="3"
        sm="3"
        style="padding-left:33px;padding-top: 5px;"
      >
        <v-btn small color="primary" style="margin-bottom:5px">Auto Adjust</v-btn>
        <v-spacer></v-spacer>
         <v-btn small color="primary" style="width:87px">Clear All</v-btn>
      </v-col> -->
      </v-col>
    </v-row>

</div>
<v-dialog v-model="PrintModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
           <p>Do you want to print</p>

          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="Print()"
            >
              Print
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>

    
<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->



   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
          absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
 </div>
</template>
<script>

import axios from 'axios';
import Vue from 'vue'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
   components: {
     globalpassword
  },
  data: () => ({
     GlobalPasswordModal:false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
    sheet: false,
     scroll:false,
    Nettottal :0,
    excess_amt:false,
    DecimalPlaces : localStorage.getItem('DecimalPlaces'),
    CustomerReceiptAdvances:{},
    AmountToPay : localStorage.getItem('AmountToPay'),
    BalanceToPay : localStorage.getItem('AmountToPay'),
    SnackbarMessege : '',
    snackbar:false,
    timeout: 2000,
    PrintModal : false,
    IsSave : true,
    bURL  : localStorage.getItem("CompanyURL")+"/api/",
    bURLPrint : localStorage.getItem("CompanyURL"),
    IsUpdateCustomerVisit : false,
     Settings : JSON.parse(localStorage.getItem('Settings')),
  }),
  mounted()
  {
    this.$root.$children[0].scroll=false;
      this.IsBillWase = localStorage.getItem('IsBillWase')
      if(this.IsBillWase === null)
      {
        if(this.SaleNo === null)
        {
           localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingPurchase')
        localStorage.removeItem('PurchaseObject')
        localStorage.removeItem('PurchaseSupplierName') 
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
            this.$router.push('/dashboard/Vouchers/purchase')

        }
        else{
            this.$router.push('/dashboard/receipt_reg')
        }
      }
      this.AmountToPay = localStorage.getItem('AmountToPay')
      this.BalanceToAdjust = this.AmountToPay
      this.TotalReceipt = 0
      this.AdvanceAmount = 0
      this.NetAmount = 0
      this.amt = 0
      this.OldAdnvc = 0
      this.ShowBills()
      this.Papersize = 'A4'

       this.Settings =  JSON.parse(localStorage.getItem('Settings'))
       if(this.Settings.ShowHeaderMobilePrint === "True")
       {
          this.IsShowHeaderLogo = 1
       }else
       {
          this.IsShowHeaderLogo = 0
       }
        if(this.Settings.ShowFooterMobilePrint === "True")
       {
          this.IsShowFooterLogo = 1
       }else
       {
          this.IsShowFooterLogo = 0
       }

  },
  methods: {
 someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
  ShowBills()
   {

    this.SaleNo = localStorage.getItem('SaleNo');
    this.IsUpdateCustomerVisit = localStorage.getItem('IsUpdateCustomerVisit')

    this.CustomerReceiptAdvances= JSON.parse(localStorage.getItem('CustomerReceiptAdvances'));
    for(this.i=0;this.i<this.CustomerReceiptAdvances.length;this.i++)
    {
        if(this.CustomerReceiptAdvances[this.i].VoucherType!=="Receipt")
        {
            this.CustomerReceiptAdvances.splice(this.i, 1);
        }
    }



   },

 TakeReceipt(id)
 {
     this.id=parseInt(id);
    this.CheckBoxId='ReceiptSelection'+ this.id
    this.isSelectReceipt = document.getElementById(this.CheckBoxId).checked;
    this.BalanceToPay=parseFloat(this.BalanceToPay);
    this.AmountToPay=parseFloat(this.AmountToPay);
    if(this.BalanceToPay >0 || this.isSelectReceipt===false)
    {
        this.OnAccoun = Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
    if(this.AmountToPay<=this.OnAccoun)
    {
        if(this.isSelectReceipt===true)
        {
        this.BalanceToPay=0;
        this.CustomerReceiptAdvances[this.id].ReceiptAdded=true;
        this.CustomerReceiptAdvances[this.id].ReceiptAmount=this.AmountToPay;

        }
        else{
            this.BalanceToPay=this.BalanceToPay+this.CustomerReceiptAdvances[this.id].ReceiptAmount;
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=false;
        }

    }
    else{
        if(this.isSelectReceipt===true)
        {
            this.BalanceToPay=this.BalanceToPay- Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=true;
            this.CustomerReceiptAdvances[this.id].ReceiptAmount=this.OnAccoun;
        }
        else{
            this.BalanceToPay=this.BalanceToPay+ Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=false;
        }

    }

    }
    else{
        this.CheckBoxId='ReceiptSelection'+this.id
        document.getElementById(CheckBoxId).checked=false
        this.SnackbarMessege = "No more amount to adjust"
        this.snackbar = true
    }

},
Save()
{

     this.obj_for_Purchase=JSON.parse(localStorage.getItem('PurchaseObject')) ;
     this.obj_for_Purchase.Collections = [];
    if(this.AmountToPay != this.BalanceToPay)
    {
        for(this.i=0;this.i<this.CustomerReceiptAdvances.length;this.i++)
        {
            if(this.CustomerReceiptAdvances[this.i].ReceiptAdded===true)
            {
                this.obj={};
                this.obj.BillNo=this.CustomerReceiptAdvances[this.i].PurchaseNo
                this.obj.AdjustedAmount=this.CustomerReceiptAdvances[this.i].AdjustedAmount
                 this.obj.BillType=this.CustomerReceiptAdvances[this.i].BillType

                this.obj_for_Purchase.Collections.push(this.obj);
            }

        }

    }
    if(this.IsSave === true)
    {
        axios.post(this.bURL + 'Purchase/PurchasePost?IsUpdateCustomerVisit='+ this.IsUpdateCustomerVisit,this.obj_for_Purchase,
         {
                      headers: this.headers
         })
        .then((response)  =>  {
            localStorage.setItem('SaleNoForPrint',response.data)
            this.IsSave = false
            localStorage.removeItem('IsBillWase')
            localStorage.removeItem('AmountToPay')
            this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
            this.snackbar = true
            this.PrintModal = true
        },
         (error)  =>  {
          this.isLoading = false,
          this.isSignInDisabled = false
          this.IsFirstSave = true
          this.FormatAmount()
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    }


},
Print()
{
    this.SaleNo = localStorage.getItem('SaleNoForPrint')
      if (this.SaleNo !== null)
      {
        axios.get(this.bURL + 'print/Purchase?SaleNo=' + this.SaleNo)
          .then((response)  =>  {
            //this.apiurl = 'https://testeaapi.linkwayapps.com'
            this.url = this.bURLPrint + response.data
            //window.open(this.url, '_blank')
            //window.location.href = this.url
            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })

      }
      else
      {
        this.SnackbarMessege = 'No Sale to Print'
        this.snackbar = true
      }

},
PrintCancel()
{
    this.SaleNo = localStorage.getItem('SaleNo');
        if(this.SaleNo === null)
        {
            this.PrintModal = false
            localStorage.removeItem("IsBillWase");
             localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingPurchase')
        localStorage.removeItem('PurchaseObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
            this.$router.push('/dashboard/Vouchers/purchase')

        }
        else{
            this.PrintModal = false
            localStorage.removeItem("IsBillWase");
            this.$router.push('/dashboard/purchase_reg')
        }

},
   FormatewithDecimalPlaces(value)
    {
        value = parseFloat(value)
      return value.toFixed(this.DecimalPlaces)
    },
     FormatDate(Value)
    {
        return  Value.split('T')[0]
    }
}
}
</script>
<style lang="scss" scoped>

.footer {
   position: fixed;
   z-index:1;
   width: 100%;
   height:100px;
   background-color: red;
   color: white;
   text-align: center;
   padding-right:50px;
   margin-right:50px;
}
.v-input__slot {
  border-color: #00000061;
}
// .v-expansion-panel-header{
//    background-color:#90A4AE;
//   color: #FFF;
//   height: 67px;

// }
// .v-expansion-panel-content{
//    /* padding: 0 24px 2px; */
//   background-color:rgb(0 53 94);
//   color: #FFF;
//   height: 67px;
//   padding-top:10px
// }
.theme--light.v-label {
    color: #FFF
}
.theme--light.v-label:hover {
    color: #FFF
}
.v-input input {
    color: #FFF
}
.theme--light.v-input input, .theme--light.v-input textarea {

    color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
    border-color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:after {
    border-color: #FFF;
}
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
}
.theme--light.v-input {
    color: rgb(0 0 0 / 87%);
    height: 42px;
}
.mdi-chevron-down::before {
    display: none;
}
@media only screen and (max-device-width: 480px) {

.read{
  font-size: 12px;
  margin-bottom: 0px;
}

    }
</style>
