<template>
<div class=" flex-column flex-grow-1 align-center ">
 <v-card


    tile
      style="margin-bottom:100px !important"
  >
      <v-expansion-panel-header
      hide-actions
       v-for="(item,i) in CustomerReceiptAdvances"
      :key="i"
  style=";border-bottom: 1px grey  solid"
      >
        <div v-on:click="$event.stopPropagation()">
      <v-row no-gutters>
      <v-col
        cols="4"
        sm="4"
     class="location"
      >
<label >{{$t(`email.invoice`)}}</label>
<br>
<label >{{item.ReferNo}}</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Invoice"
            readonly
            color="#FFF"
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="4"
        sm="4"
         style="text-align:center"
      >
      <label >{{$t(`dashboard.Date`)}}</label>
<br>
<label >{{FormatDate(item.VoucherDate)}}</label>
         <!-- <v-text-field
            value="45140001.00"
            label="Balance"
            readonly
          ></v-text-field> -->
      </v-col>
         <v-col
        cols="4"
        sm="4"
        class="locationnew"
      >
        <!-- <v-text-field
            value="451400.000"
            label="Current Receipt"
          ></v-text-field> -->
          <label >{{$t('menu.Balance')}} <input type="checkbox" @click="TakeReceipt(i)" :id="'ReceiptSelection' +i" name="vehicle1" value="Bike"></label>
          <br>
           <!-- <v-text-field
          ></v-text-field> -->
        <label >{{FormatewithDecimalPlaces(item.OnAccount)}}</label>
      </v-col>
    </v-row>
    </div>
      </v-expansion-panel-header>
 </v-card>
  <div class="fixed-bottom flex-column flex-grow-1 align-center">
       <v-row no-gutters>
      <v-col
        cols="3"
        sm="3"
        class=" justify-center align-center"
        style="padding-left:17px;"
      >
 <label style="color:#FFF;margin-bottom: .0rem" class="read">{{$t('menu.PayableAmt')}}</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">{{FormatewithDecimalPlaces(AmountToPay)}}</label>
      <!-- <v-text-field
            value="AHP/962/2011"
            label="Amount to Pay"
            readonly
          ></v-text-field> -->
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Balance to Adjust"
            readonly
          ></v-text-field> -->
           <label style="color:#FFF;margin-bottom: .0rem" class="read">{{$t(`menu.Balance`)}}</label>
<br>
<label style="color:#FFF;margin-bottom: .0rem" class="read">{{FormatewithDecimalPlaces(BalanceToPay)}}</label>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Total Receipt"
            readonly
          ></v-text-field> -->
  <v-btn small color="primary" style="font-size:10px" @click="BackToSales">{{$t(`common.cancel`)}}</v-btn>
      </v-col>
      <v-col
        cols="3"
        sm="3"
        style="padding-left:17px;padding-top: 10px;"
      >
         <!-- <v-text-field
            value="45140001.00"
            label="Advance on A/c"
            readonly
          ></v-text-field> -->
      <v-btn small color="primary" v-if ="IsShowSave" style="font-size:10px" @click="CheckCreditLimit" >{{$t(`dashboard.ok`)}}</v-btn>
         <!-- <v-col
        cols="3"
        sm="3"
        style="padding-left:33px;padding-top: 5px;"
      >
        <v-btn small color="primary" style="margin-bottom:5px">Auto Adjust</v-btn>
        <v-spacer></v-spacer>
         <v-btn small color="primary" style="width:87px">Clear All</v-btn>
      </v-col> -->
      </v-col>
    </v-row>

</div>


<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

   <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <!-- <v-card-title style="color:rgb(238,68,170)">

          </v-card-title> -->
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
               <v-row>
   
   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:center">
     <label style="color: rgb(120, 144, 156);font-size:14px"><b>{{ $t(`email.invoice`) }} # :</b> </label>
     <label style="color:rgb(238, 68, 170);font-size:14px;padding-left:2px !important"><b>{{ReferNo}}</b></label>
    
     </v-col>
     </v-row>
     <v-divider></v-divider>
     
                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintCancel">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>
               <!--   <v-col cols="4" sm="4" md="4" style="padding-top:10px;padding-bottom:0px;text-align:center" >
               <span >
            <v-btn color="#42A5F5" fab small dark   @click="ShareSale()">
            <v-icon>share</v-icon>
            </v-btn>
  </span>

               </v-col> -->
                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintSale()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
          <!-- <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="ShareSale()"
            >
              Share
            </v-btn>
             <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintSale()"
            >
              Print
            </v-btn>
          </v-card-actions> -->
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->



   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
          absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
 </div>
</template>
<script>

import axios from 'axios';
import Vue from 'vue'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
   components: {
     globalpassword
  },
  data: () => ({
     GlobalPasswordModal:false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
    sheet: false,
     scroll:false,
    Nettottal :0,
    excess_amt:false,
    DecimalPlaces : localStorage.getItem('DecimalPlaces'),
    CustomerReceiptAdvances:{},
    AmountToPay : localStorage.getItem('AmountToPay'),
    BalanceToPay : localStorage.getItem('AmountToPay'),
    SnackbarMessege : '',
    snackbar:false,
    timeout: 2000,
    PrintModal : false,
     PapersizeError : false,
    PrinterError : false,
     Papersize : localStorage.getItem('Papersize'),
    PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
    IsSave : true,
    bURL  : localStorage.getItem("CompanyURL")+"/api/",
    bURLPrint : localStorage.getItem("CompanyURL"),
    IsUpdateCustomerVisit : false,
    ReferNo:"",
    IsShowSave:true,
    SalesSaveCount : 0,
    Settings : JSON.parse(localStorage.getItem('Settings')),
    obj_for_sales:{},
  }),
  mounted()
  {
    this.SalesSaveCount = 0;
    this.$root.$children[0].scroll=false;
      this.IsBillWase = localStorage.getItem('IsBillWase')
      if(this.IsBillWase === null)
      {
        if(this.SaleNo === null)
        {
           localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        localStorage.removeItem('SalesObject')
        localStorage.removeItem('SalesCustomerName')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
            this.$router.push('/dashboard/Vouchers/sales')

        }
        else{
            this.$router.push('/dashboard/receipt_reg')
        }
      }
      this.AmountToPay = localStorage.getItem('AmountToPay')
      this.BalanceToAdjust = this.AmountToPay
      this.TotalReceipt = 0
      this.AdvanceAmount = 0
      this.NetAmount = 0
      this.amt = 0
      this.OldAdnvc = 0
      this.ShowBills()
      this.Papersize = localStorage.getItem("Papersize");
      this.Papersize = this.Papersize ? this.Papersize : "";

       this.Settings =  JSON.parse(localStorage.getItem('Settings'))
       if(this.Settings.ShowHeaderMobilePrint === "True")
       {
          this.IsShowHeaderLogo = 1
       }else
       {
          this.IsShowHeaderLogo = 0
       }
        if(this.Settings.ShowFooterMobilePrint === "True")
       {
          this.IsShowFooterLogo = 1
       }else
       {
          this.IsShowFooterLogo = 0
       }

  },
  methods: {
 someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
  ShowBills()
   {

    this.SaleNo = localStorage.getItem('SaleNo');
    this.IsUpdateCustomerVisit = localStorage.getItem('IsUpdateCustomerVisit')
    this.CustomerReceiptAdvances = []
    this.List = JSON.parse(localStorage.getItem('CustomerReceiptAdvances'));
    for(this.i=0;this.i<this.List.length;this.i++)
    {
        if(this.List[this.i].VoucherType ==="Receipt" && this.List[this.i].OnAccount > 0)
        {
            this.CustomerReceiptAdvances.push(this.List[this.i]);
        }
    }
   },

 TakeReceipt(id)
 {
     this.id=parseInt(id);
    this.CheckBoxId='ReceiptSelection'+ this.id
    this.isSelectReceipt = document.getElementById(this.CheckBoxId).checked;
    this.BalanceToPay=parseFloat(this.BalanceToPay);
    this.AmountToPay=parseFloat(this.AmountToPay);
    if(this.BalanceToPay >0 || this.isSelectReceipt===false)
    {
        this.OnAccoun = Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
    if(this.AmountToPay<=this.OnAccoun)
    {
        if(this.isSelectReceipt===true)
        {
        this.BalanceToPay=0;
        this.CustomerReceiptAdvances[this.id].ReceiptAdded=true;
        this.CustomerReceiptAdvances[this.id].ReceiptAmount=this.AmountToPay;

        }
        else{
            this.BalanceToPay=this.BalanceToPay+this.CustomerReceiptAdvances[this.id].ReceiptAmount;
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=false;
        }

    }
    else{
        if(this.isSelectReceipt===true)
        {
            this.BalanceToPay=this.BalanceToPay- Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=true;
            this.CustomerReceiptAdvances[this.id].ReceiptAmount=this.OnAccoun;
        }
        else{
            this.BalanceToPay=this.BalanceToPay+ Math.abs(this.CustomerReceiptAdvances[this.id].OnAccount);
            this.CustomerReceiptAdvances[this.id].ReceiptAdded=false;
        }

    }

    }
    else{
        this.CheckBoxId='ReceiptSelection'+this.id
        document.getElementById(this.CheckBoxId).checked=false
        this.SnackbarMessege = "No more amount to adjust"
        this.snackbar = true
    }

},
BackToSales()
{
   localStorage.setItem('IsHoldingSale','true')

    this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
              localStorage.setItem('IsSalesOffLine','false')
              this.$router.push('/dashboard/vouchers/sales')
        }
        else{
          if( this.IsSalesOffLine === 'true')
          {
              this.$router.push('/dashboard/vouchers/salesOffline')
          }
          else
          {
            this.$router.push('/dashboard/vouchers/sales')
          }
        }
},
CheckCreditLimit()
{
    this.IsSave = true
    this.IsShowSave = false
    this.CurrentReceipt=0;
    this.MaximumCreditAmount=0;
    this.CrAmount=parseFloat(localStorage.getItem('SalesCrAmount'));
    this.IsCreditLimitExceeded=localStorage.getItem('SalesIsCreditLimitExceeded');
    this.CustomerBalance= parseFloat(localStorage.getItem('SalesCustomerBalance'));
    for(this.i=0;this.i<this.CustomerReceiptAdvances.length;this.i++)
        {
            if(this.CustomerReceiptAdvances[this.i].ReceiptAdded===true)
            {

                this.CurrentReceipt+=this.CustomerReceiptAdvances[this.i].ReceiptAmount;
            }

        }
           this.flag = isNaN(this.CurrentReceipt);
              if(this.flag)
              {
                this.CurrentReceipt=0;
              }
        if(this.CrAmount!==-1 && this.CrAmount>0)
        {
            if(this.CustomerBalance<0)
            this.MaximumCreditAmount = this.CrAmount  + this.CurrentReceipt;
            this.SaleNo=localStorage.getItem('SaleNo')
            this.Settings =JSON.parse(localStorage.getItem('Settings'));
            this.IsBlockCreditLimitExceeders=this.Settings.SalesBlockCreditLimitExceeders;
    if(this.IsBlockCreditLimitExceeders ==="True")
    {
      if(this.BalanceToPay >0)
      {
        if(this.IsCreditLimitExceeded==="true")
        {

            this.SnackbarMessege = this.$t(`menu.CreditLimitExceededforthisCustomer`)
            this.snackbar = true
             this.IsShowSave = true
            return;
        }
        if(this.MaximumCreditAmount<0)
        {
            this.SnackbarMessege = "Credit Amount Exceeded for this Customer"
            this.snackbar = true
             this.IsShowSave = true
            return;
        }
        else
        {
                this.NetAmount =parseFloat(localStorage.getItem('AmountToPay'));
                if(this.MaximumCreditAmount <this.BalanceToPay)
                {
                    this.SnackbarMessege = this.$t(`menu.CreditLimitExceededforthisCustomer`)
                    this.snackbar = true
                     this.IsShowSave = true
                     
                    return;
                }
                else
                {
                    this.Save();
                }
        }
      }
      else{
        this.Save();
      }
    }
    else{
        this.Save();
    }

        }
        else{
            this.Save();
        }

},
Save()
{
     this.obj_for_sales=JSON.parse(localStorage.getItem('SalesObject')) ;
     this.obj_for_sales.AdjustedReceipts = this.obj_for_sales.AdjustedReceipts?this.obj_for_sales.AdjustedReceipts:[];
    if(this.AmountToPay != this.BalanceToPay)
    {
        for(this.i=0;this.i<this.CustomerReceiptAdvances.length;this.i++)
        {
            if(this.CustomerReceiptAdvances[this.i].ReceiptAdded===true)
            {
                this.obj={};
                this.obj.VoucherNo=this.CustomerReceiptAdvances[this.i].VoucherNo
                this.obj.NetTotal=this.CustomerReceiptAdvances[this.i].ReceiptAmount

                this.obj_for_sales.AdjustedReceipts.push(this.obj);
            }

        }

    }
    if(this.IsSave === true)
    {
      this.IsSave = false
      localStorage.setItem('SeleObj',JSON.stringify(this.obj_for_sales))
      this.IsUpdateCustomerVisit = true
      this.SalesSaveCount = this.SalesSaveCount + 1
        if(this.SalesSaveCount !== 1)
        {
            return;
        }
        else
        {
           this.SalesSaveCount = this.SalesSaveCount + 1
        axios.post(this.bURL + 'Sales/SalesPost?IsUpdateCustomerVisit='+ this.IsUpdateCustomerVisit,this.obj_for_sales,
         {
                      headers: this.headers
        })
        .then((response)  =>  {
          localStorage.setItem('SaleNoForPrint',response.data[0])
           this.ReferNo = response.data[1]
            this.IsSave = false
            localStorage.removeItem('IsBillWase')
            localStorage.removeItem('AmountToPay')
            this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
            this.snackbar = true
            this.PrintModal = true
        }, (error)  =>  {
          this.SalesSaveCount = 0
           this.IsShowSave = true
           this.IsSave = true
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
        }
        
    }
    else
    {
      this.IsShowSave = true
      this.SnackbarMessege = "Failed",
      this.snackbar = true
    }


},
PrintSale()
    {

    this.SaleNo = localStorage.getItem('SaleNoForPrint')
    this.UserDamageStore = localStorage.getItem('UserDamageStore')
    this.UserDamageStore = this.UserDamageStore?this.UserDamageStore:"Default"
    this.UserName = localStorage.getItem('user')
    if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }
    else{
       this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
       this.PapperSizeForPrint = 0;
          if (this.PapersizeNo === "110MM") {
            this.PapperSizeForPrint = 110;
          } else {
            this.PapperSizeForPrint = 80;
          }
   /*  if(this.Printer === "" || this.Printer === null)
    {
      this.PrinterError = true
      return
    }
    else
    { */
      if (this.SaleNo !== null)
      {
    //this.Printer = localStorage.getItem('Printer')
       if(this.Printer === 'Bluetooth')
        {
         this.Loaderdialog = true
          this.UserDamageStore = localStorage.getItem('UserDamageStore')
          this.UserDamageStore = this.UserDamageStore?this.UserDamageStore:"Default"
          this.UserName = localStorage.getItem('user')
            this.AdvanceAmount = parseFloat(localStorage.getItem('SalesAdvanceAmount'))
            
          this.AdvanceAmount = parseFloat(this.AdvanceAmount)
                     this.flag = isNaN(this.AdvanceAmount)
                     if(this.flag)
                     {
                        this.AdvanceAmount = 0
                     }
           this.TenderingCash  = 0
           this.url = this.bURL + 'Print/SalesNativeFormate?SalesNo=' + this.SaleNo + '&UserName=' + this.UserName +'&Papersize=' +this.PapersizeNo+'&DefaultDamageStore=' + this.UserDamageStore + '&TenderingCash=' + this.TenderingCash+ '&AdvanceAmount=' + this.AdvanceAmount
      
             this.ShowSignatureMobilePrint = this.Settings.ShowSignatureMobilePrint
             
              axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                this.BarcodeContent = 1000000000000 + this.SaleNo;
                  if(this.ShowSignatureMobilePrint === "True")
                  {
                    this.ImageAPIURL = this.bURL + "sales/GetSaleCustomerSignature?SaleNo="+this.SaleNo+"&Salesperson="+this.obj_for_sales.SoldBy+"&Type=url"
                     this.bURL = localStorage.getItem("CompanyURL")+"/api/";
                      axios.get (this.ImageAPIURL)
                        .then((response)  =>  {
                          
                            window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.PapperSizeForPrint,this.BarcodeContent,"null","Sales", JSON.stringify(response.data))
                          
                      },
                      error => {
                        console.log(error);
                      }
                    ); 
                  }
                  else
                  {
                    /*  console.log(this.PrintData)
                          console.log(this.IsShowHeaderLogo)
                          console.log(this.IsShowFooterLogo)
                          console.log(this.PapperSizeForPrint)
                          console.log(this.BarcodeContent)
                          debugger */
                      window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.PapperSizeForPrint,this.BarcodeContent,"null","Sales","null")
                  }
              },
              error => {
                console.log(error);
              }
             ); 

        }
        else
        {
          this.Loaderdialog = true
           this.AdvanceAmount = parseFloat(localStorage.getItem('SalesAdvanceAmount'))
          this.AdvanceAmount = parseFloat(this.AdvanceAmount)
                     this.flag = isNaN(this.AdvanceAmount)
                     if(this.flag)
                     {
                        this.AdvanceAmount = 0
                     }
           this.TenderingCash  = 0
        axios.get(this.bURL + 'print/Sales?SaleNo=' + this.SaleNo + '&Username='+this.UserName+ '&PapperSize=' + this.PapersizeNo +'&DefaultDamageStore='+ this.UserDamageStore + '&TenderingCash=' + this.TenderingCash+ '&AdvanceAmount=' + this.AdvanceAmount)
          .then((response)  =>  {
            this.Loaderdialog = false
            this.IsPrintedSale = true
            this.url = this.bURLPrint + response.data
            /*  window.open(this.url, '_blank') */
                        /*  this.IFrameUrl = 'https://docs.google.com/viewer?url='+this.url+' &embedded=true'
                localStorage.setItem('IFramePrintUrl',this.IFrameUrl)
                localStorage.setItem('IframeLoader','true')
                this.$router.push('/dashboard/masters/iframepdf') */
                this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }

          }, (error)  =>  {
            console.log(error)
          })
        }
      }
      else
      {
         this.SnackbarMessege = this.$t(`menu.NoSalestoPrint`)
        this.snackbar = true
      }
    //}
    }
    },
PrintCancel()
{
    this.SaleNo = localStorage.getItem('SaleNo');
        if(this.SaleNo === null)
        {
            this.PrintModal = false
            localStorage.removeItem("SalesCustomerName");
            localStorage.removeItem("IsBillWase");
             localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        localStorage.removeItem('SalesObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
        localStorage.removeItem('IsHoldingSale')
        
            this.$router.push('/dashboard/Vouchers/sales')

        }
        else{
            this.PrintModal = false
            localStorage.removeItem("IsBillWase");
            localStorage.removeItem("SaleNo");
            this.$router.push('/dashboard/sales_reg')
        }

},
 SetDefaultPapersize(Papersize)
  {
        localStorage.setItem('Papersize',Papersize)
        this.PapersizeError = false
  },
 SetDefaultPrinter()
  {
        localStorage.setItem('Printer',this.Printer)
        this.PapersizeError = false
  },
   FormatewithDecimalPlaces(value)
    {
        value = parseFloat(value)
      return value.toFixed(this.DecimalPlaces)
    },
     FormatDate(Value)
    {
        return  Value.split('T')[0]
    }
}
}
</script>
<style lang="scss" scoped>

.footer {
   position: fixed;
   z-index:1;
   width: 100%;
   height:100px;
   background-color: red;
   color: white;
   text-align: center;
   padding-right:50px;
   margin-right:50px;
}
.v-input__slot {
  border-color: #00000061;
}
// .v-expansion-panel-header{
//    background-color:#90A4AE;
//   color: #FFF;
//   height: 67px;

// }
// .v-expansion-panel-content{
//    /* padding: 0 24px 2px; */
//   background-color:rgb(0 53 94);
//   color: #FFF;
//   height: 67px;
//   padding-top:10px
// }
.theme--light.v-label {
    color: #FFF
}
.theme--light.v-label:hover {
    color: #FFF
}
.v-input input {
    color: #FFF
}
.theme--light.v-input input, .theme--light.v-input textarea {

    color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
    border-color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:after {
    border-color: #FFF;
}
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
}
.theme--light.v-input {
    color: rgb(0 0 0 / 87%);
    height: 42px;
}
.mdi-chevron-down::before {
    display: none;
}
@media only screen and (max-device-width: 480px) {

.read{
  font-size: 12px;
  margin-bottom: 0px;
}

    }
</style>
