<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="rgb(0, 53, 94)">
    <!-- <link rel="manifest" href="/manifest.json" /> -->

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Easy Accounts</title>

    <!-- Quicksand Font -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onLoad="isnative()">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>
    <!-- built files will be auto injected -->

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsPFFFpaGSyFYNES0H0TI_svnEqclbczc&callback=myMap"></script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsPFFFpaGSyFYNES0H0TI_svnEqclbczc&callback=initMap">
    </script>
    <!-- <script src="images/pwa.js"></script> -->
    <script src="vue-clipboard.min.js"></script>
    <script src="client.min.js"></script>
    <script type="text/javascript">
        function isnative() {
            var IsNativeApp = interface.getisNative();
            if (IsNativeApp == "NativeApp") {
                //  alert("True");
                localStorage.setItem("IsNativeApp", true);
            } else {
                // alert("False");
                localStorage.setItem("IsNativeApp", false);
            }

        }

        function showVersion() {
            var myVar = interface.getAndroidVersion();
            /*  if(myVar != '' || myVar != '')
             {

               localStorage.setItem('Token',myVar)
             } */

            //xalert(myVar)
            // document.getElementById("version").innerHTML = " You are running API Version " + myVar;
        }
    </script>
    <script>
        var client = new ClientJS(); // Create A New Client Object

        var fingerprint = client.getFingerprint(); // Calculate Device/Browser Fingerprint
        sessionStorage.setItem('Uid', fingerprint);
        localStorage.setItem('Uid', fingerprint);
    </script>


</body>

</html>