<template>
<div>
  <v-menu offset-y left transition="slide-y-transition" style="z-index:100000">
    <template v-slot:activator="{ on }">
      <v-btn icon class="elevation-2" v-on="on">
        <v-badge
          color="success"
          dot
          bordered
          offset-x="10"
          offset-y="10"
        >
          <v-avatar size="40" >
            <img  @error="$event.target.src='/images/avatars/avatar1.svg'" id="UserImage">
          </v-avatar>
        </v-badge>
      </v-btn>
    </template>

    <!-- user menu list -->
    <v-list dense nav  v-on="on">
      <v-list-item
        v-for="(item, index) in menu"
        :key="index"
        :to="item.link"
        :exact="item.exact"
        :disabled="item.disabled"
        link
      >
        <v-list-item-icon>
          <v-icon small :class="{ 'grey--text': item.disabled }">{{ item.icon }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ item.key ? $t(item.key) : item.text }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-row no-gutters style="margin-bottom: -7px !important;" @click="OpenUserProfile">
        <v-col cols="12" md="12" xl="12" style="padding-top:0px !important;padding-bottom:0px !important">
          <label style="font-size:14px !important;color:rgb(0, 99, 145)"><b>{{UserName}}</b></label>
        </v-col>
      </v-row>

      <v-divider class="my-1"></v-divider>

    <!--  <v-list-item >

        <v-list-item-icon>
          <v-icon small>mdi-cog</v-icon>
        </v-list-item-icon>
        <v-list-item-content >
                   <v-list-item-title @click="Preference()">{{ $t('menu.Preferences') }}</v-list-item-title>
        </v-list-item-content>

      </v-list-item> -->
       <!-- <v-list-item >
        <v-list-item-icon>
          <v-icon small>mdi-tools</v-icon>
        </v-list-item-icon>
        <v-list-item-content >
                   <v-list-item-title @click="Tools()">Tools</v-list-item-title>
        </v-list-item-content>
      </v-list-item> -->
       <v-list-item @click="LogoutModal = true">

        <v-list-item-icon>
          <v-icon small v-bind="attrs"
          v-on="on" >mdi-logout-variant</v-icon>
        </v-list-item-icon>
        <v-list-item-content v-bind="attrs"
          v-on="on" >
          <v-list-item-title  >{{ $t('menu.logout') }}</v-list-item-title>
        </v-list-item-content>


      </v-list-item>

       <v-list-item v-if="IsDayStartPermission && !day" >

        <v-list-item-icon>
          <v-icon small v-bind="attrs"
          v-on="on" >mdi-clock</v-icon>
        </v-list-item-icon>
        <v-list-item-content v-bind="attrs"
          v-on="on" >
          <v-list-item-title @click="SetStartTime()" >{{ $t('menu.StartDay') }}</v-list-item-title>
        </v-list-item-content>

      </v-list-item>

      <!-- <v-list-item  >

<v-list-item-icon>
  <v-icon small v-bind="attrs"
  v-on="on" >mdi-food</v-icon>
</v-list-item-icon>
<v-list-item-content v-bind="attrs"
  v-on="on" >
  <v-list-item-title @click="go_rcp()" >E Receipe</v-list-item-title>
</v-list-item-content>

</v-list-item> -->

  <v-list-item  v-if="IsDayEndPermission && day" @click="OpenDayEndPage">
        <v-list-item-icon>
          <v-icon small v-bind="attrs"
          v-on="on" >mdi-clock</v-icon>
        </v-list-item-icon>
        <v-list-item-content v-bind="attrs"
          v-on="on" >
          <v-list-item-title  >{{ $t('menu.EndDay') }}</v-list-item-title>
        </v-list-item-content>
  </v-list-item>

      <v-list-item v-if="IsSalesperson && day && IsShowRoute && IsDayStartPermission">
           <v-dialog v-model="dialog" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }">
        <v-list-item-icon>
          <v-icon small v-bind="attrs"
          v-on="on" >fa-street-view</v-icon>
        </v-list-item-icon>
        <v-list-item-content v-bind="attrs"
          v-on="on" >
<v-list-item-title>{{ $t('menu.ChangeRoute') }}</v-list-item-title>
        </v-list-item-content>
      </template>
       <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
            {{ $t('menu.ChangeRoute') }}
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">


                 <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;"
               >
            <v-autocomplete
            v-model="RouteName"
            :items="RouteOptions"
            outlined
            dense
             :label="$t(`menu.SelectRoute`)"
            @change="SetActiveRoute($event)"
          ></v-autocomplete>
           </v-col>

                </v-row>


             </div>

          </v-card-text>
          <v-card-actions>
            <!--  <v-btn
              small
              @click="dialog = false"
              style="background-color:#FB8C00;color:#FFF"
            >
              Cancel
            </v-btn> -->
<v-spacer></v-spacer>
            <v-btn
              small
              @click="dialog = false"
              style="background-color:#2E7D32;color:#FFF"
            >
            {{ $t(`dashboard.ok`) }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      </v-list-item>





    </v-list>

<v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
    style="padding-bottom:150px;text-align:left;z-index: 200000!important;"

    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  </v-menu>


<!-- ------------------------------------------------- LogoutModal Starts Here------------------------------------------------------- -->
    <v-dialog v-model="LogoutModal" persistent max-width="290">
       <v-card >
          <v-card-title style="color:rgb(0 99 145);;">

          </v-card-title>
           <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">


                 <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;"
               >
         <label style="color:rgb(0 99 145);font-size:17px;text-align:center"><b>{{ $t(`dashboard.Areyousuretologout`) }}</b></label>
           </v-col>

                </v-row>

             </div>

          </v-card-text>
          <v-card-actions>
             <v-btn
              small
              @click="LogoutModal = false"
              style="background-color:#FB8C00;color:#FFF"
            >
             {{ $t(`dashboard.Cancel`) }}
            </v-btn>
<v-spacer></v-spacer>
            <v-btn
              small
              @click="logout()"
              style="background-color:#2E7D32;color:#FFF"
            >

              {{ $t(`menu.Yes`) }}

            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- LogoutModal Ends Here------------------------------------------------------- -->




<!-- ------------------------------------------------- PasswordModal Starts Here------------------------------------------------------- -->
     <v-dialog v-model="PasswordModal" persistent max-width="290">

       <v-card>
          <v-card-title style="color:rgb(0 99 145)">

          </v-card-title>
          <v-card-text>

                 <v-row>
               <v-col cols="12" sm="12" md="12" style="padding-top:10px;padding-bottom:0px;" >
                <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="rules"
            :type="showPassword ? 'text' : 'password'"
            :error="errorPassword"
            :error-messages="errorPasswordMessage"
            :label="$t('register.password')"
            name="password"
            outlined
            ref="password"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
   </v-col>
                </v-row>

                 <v-row>
               <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                 <v-btn
              text
              @click="PasswordModal=false"
               style="background-color:#FB8C00;color:#FFF"
               small
            >
            {{ $t(`dashboard.Cancel`) }}
            </v-btn>
                 </v-col>
                     <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right" >
                           <v-btn
             :loading="isLoadingPasswod"
              small
              @click="CheckPassword()"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
            >
            {{ $t(`dashboard.ok`) }}
            </v-btn>
                 </v-col>
                 </v-row>

          </v-card-text>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- PasswordModal Starts Here------------------------------------------------------- -->


<!-- ------------------------------------------------- StockTransferModal Starts Here------------------------------------------------------- -->

     <v-dialog v-model="StockTransferModal" persistent max-width="400">


  <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >



           <v-col cols="12" sm="12" style=" text-align: center !important;padding-bottom:6px;padding-top:5px">
       <b style="text-align:center !important; ">  {{ $t(`menu.PendingStockTransfer`) }}</b>
      </v-col>


     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="6" sm="6" class="text-left" style="padding-left:3px !important ;font-size:12px">
     {{ $t(`menu.VoucherNo`) }}
      </v-col>
      <v-col cols="6" sm="6" class="text-right" style="padding-right:3px !important;font-size:12px ">

      {{ $t(`menu.ToGodown`) }}
      </v-col>

    </v-row>
     <v-row no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in PendingTransfers"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:8px !important;">

       <v-row>
         <v-col cols="6" sm="6" class="text-left" style=" padding-left:3px !important ;padding-right:0px !important;padding-bottom:0px !important;padding-top:0px !important">
     <b>{{item.ReferNo}}</b>
      </v-col>
       <v-col cols="6" sm="6" class="text-right" style="padding: 0px !important; ">

      <b>{{item.ToGodown}}</b>
      </v-col>

      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
    <v-divider></v-divider>
     <v-row style="margin:0px">
   <v-col cols="12" sm="12" style=" text-align:left !important;padding-bottom:6px;padding-top:5px">
       <b style="text-align:left !important;color:#43A047 ">Do you want to continue</b>
      </v-col>
     </v-row>
      <v-divider></v-divider>
    <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:left">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
             @click="StockTransferModal = false"

            >

              {{ $t(`menu.Back`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:right">
      <v-btn
              small
              @click="CheckDayEnd()"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"

            >
          {{ $t(`dashboard.ok`) }}
            </v-btn>
        </v-col>
        </v-row>



  </v-card>




  </v-container>

    </v-dialog>
<!-- ------------------------------------------------- StockTransferModal Ends Here------------------------------------------------------- -->


<!-- ------------------------------------------------- PhysicalStockModal Starts Here------------------------------------------------------- -->

      <v-dialog v-model="PhysicalStockModal" persistent max-width="290">
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ModalContent}}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="ClosePhysicalModal()" >{{ $t(`menu.No`) }}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="OpenVoucher()">{{ $t(`menu.Yes`) }}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PhysicalStockModal Ends Here------------------------------------------------------- -->


<!-- ------------------------------------------------- EndDayModal Starts Here------------------------------------------------------- -->
    <v-dialog v-model="EndDayModal" persistent max-width="290">
      <v-card >

          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">


                 <v-row no-gutters>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;"
               >
         <label style="color:rgb(0 99 145);font-size:13px;text-align:center"><b>{{ $t(`menu.Doyouwanttoendyourday`) }}</b></label>
           </v-col>

                </v-row>
                  <v-row no-gutters>
                 <v-col cols="12" md="12" xl="12" sm="12" style="padding-bottom:0px !important;padding-top:5px !important" >
          <v-text-field
             :label="$t(`menu.OdoKilometre`)"
           type="number" outlined dense v-model="EndKM"></v-text-field>

          </v-col>
                  </v-row>
                   <v-row no-gutters v-if="IsshowEndKMError">
                 <v-col cols="12" md="12" xl="12" sm="12" style="padding-bottom:0px !important;padding-top:2px !important" >
              <label style="color:red">{{ $t(`menu.pleaseenterEndKilometre`) }}</label>

          </v-col>
                  </v-row>
                  <v-row no-gutters>
                 <v-col cols="6" md="6" xl="6" sm="6" style="padding-bottom:0px !important;padding-top:0px !important;text-align:left !important" >
           <v-btn
              small
              style="background-color:#FB8C00;color:#FFF"
               @click="EndDayModal = false"

            >
          {{ $t(`dashboard.Cancel`) }}
            </v-btn>

          </v-col>
           <v-col cols="6" md="6" xl="6" sm="6" style="padding-bottom:0px !important;padding-top:0px !important;text-align:right !important" >

             <v-btn
              small
              :loading="isLoading"
              :disabled="isSignInDisabled"
              style="background-color:#2E7D32;color:#FFF"
                @click="EndDay()"

            >
           {{ $t(`menu.Yes`) }}
            </v-btn>

          </v-col>
                  </v-row>


             </div>

          </v-card-text>

        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- EndDayModal Ends Here------------------------------------------------------- -->



<!-- ------------------------------------------------- dayend1 Starts Here------------------------------------------------------- -->
    <v-dialog
        v-model="dayend1"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <!--  <v-card-title style="color:rgb(0 99 145);font-size:17px !important">
              {{ $t(`menu.VoucherDetails`) }}
                          <v-spacer></v-spacer>

                    <v-btn small  depressed color="#FFF" style="color:rgb(0 99 145); box-shadow: 1px 1px 18px rgb(0 99 145);" @click="LockModal = true" v-if="!IsLocked"><v-icon style="font-size:13px !important;color:rgb(0 99 145)">fas fa-unlock</v-icon></v-btn>
                    <v-btn small color="#FFF" style="color:#E53935E; box-shadow: 1px 1px 18px #E53935;" v-if="IsLocked" @click="CallUnlockModal"><v-icon style="font-size:13px !important;color:#E53935">fas fa-lock</v-icon></v-btn>
          </v-card-title> -->
          <v-card-text>
             <v-row style="padding-top:5px !important">
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:0px;"
               >
            <label></label>
               </v-col>
             </v-row>
              <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:0px;text-align:left"
               >
               <label style="color:red" v-if="IsShowKMError"><b> {{ $t(`menu.EnteredinvalidKilometre`) }}</b></label>
               <label style="color:red" v-if="IsShowHourError"><b> {{ $t(`menu.Notyetworkminumumworkinghours`) }}</b></label>
               </v-col>
              </v-row>
<v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-top:0px;padding-bottom:0px;text-align:left"
               >
           <v-combobox
             v-model="Reason"
               :label="$t(`menu.Reason`)"
              dense
               :items="ReasonOptions"

            ></v-combobox>
        <label style="color:red" v-if="ResonError"><b>{{ $t(`menu.pleseenterthereasonforend`) }}</b></label>
               </v-col>
              </v-row>

 <v-row>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:left"
               >
                <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
              @click="dayend1=false"
            >
         {{ $t(`dashboard.Cancel`) }}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:right"
               >
                <v-btn
              small
               :loading="isLoading"
              :disabled="isSignInDisabled"
              style="background-color:#2E7D32;color:#FFF"
              @click="CheckDamageStockTransfer()"
            >
            {{ $t(`dashboard.ok`) }}
            </v-btn>
               </v-col>
               </v-row>

          </v-card-text>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- dayend1 Ends Here------------------------------------------------------- -->
  </div>



</template>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous"></script>
<script>
import config from '../../configs'
/*
|---------------------------------------------------------------------
| Toolbar User Component
|---------------------------------------------------------------------
|
| Quickmenu for user menu shortcuts on the toolbar
|
*/

import axios from 'axios';
export default {
  data() {
    return {
      StockTransferModal:false,
      dayend1:false,
      menu: config.toolbar.user,
      day:true,
      DayStatus : localStorage.getItem('DayStatus'),
      IsDayStartPermission : true,
      IsDayEndPermission : true,
      StartDayModal :false,
      EndDayModal :false,
      LogoutModal : false,
      dialog : false,
       IsShowRoute : false,
      RouteOptions:[],
      ChangeRouteModal : false,
      RouteName : '',
      LinkedRoutes:{},
      IsshowEndKMError: false,
      UserName : window.localStorage.getItem('user'),
      Photo : window.localStorage.getItem('UserImage'),
      ResonError:false,
      EndKM:'',
      IsSalesperson : false,
      IsShowKMError : false,
      IsAdmin : false,
      Reason : '',
      ReasonOptions:[],
       snackbar: false,
       attrs:false,
       on : false,
    SnackbarMessege: 'Saved',
    timeout: 2000,
    IsShowHourError:false,
    PhysicalStockModal : false,
    IsRouteMandatory : true,
    Settings : JSON.parse(localStorage.getItem('Settings')),
    TimeEnd:'',
    ModalContent:'',


     DamageGodownOptions: JSON.parse( localStorage.getItem('DamageGodowns') ),
     selectedDamageGodown:[],
     DamageTransferDate : new Date().toISOString().substr(0, 10),
     DamageGodownsForTransfer:JSON.parse(localStorage.getItem('LinkedDamageGodowns')),
     isLoading : false,
     isSignInDisabled:false,
     password:'',
     PasswordModal:false,
    errorPassword: false,
    errorPasswordMessage: '',
    showPassword: false,
     rules: [
      value => !!value || 'Required.'

    ],
    isLoadingPasswod:false,
    PendingTransfers:[]

    }
  },
  computed:{
     likesAllDamageGodown () {
      return this.selectedDamageGodown.length === this.DamageGodownOptions.length
    },
    likesSomeDamageGodown () {
      return this.selectedDamageGodown.length > 0 && !this.likesAllDamageGodown
    },
     iconDamageGodown () {
      if (this.likesAllDamageGodown) return 'mdi-close-box'
      if (this.likesSomeDamageGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },
  mounted() {
     document.getElementById("UserImage").src = 'data:image/jpeg;base64,'+this.Photo
    if(this.DayStatus === "Started")
    {
      this.day = true
    }
    else{
      this.day = false
    }
    this.UserType = localStorage.getItem('UserType')

    this.IsSalesperson = localStorage.getItem('salePerson')
      if( this.IsSalesperson === '')
      {
        this.IsSalesperson = false
      }
      else{
        this.IsSalesperson = true
      }

       this.AvailableForms = localStorage.getItem('AvailableForms')
            this.IsDayStartPermission = false
            if(this.AvailableForms.includes('frmRouteDayStart'))
            {
              this.IsDayStartPermission = true
            }


       this.AvailableForms = localStorage.getItem('AvailableForms')
       this.IsRouteMandatory = this.Settings.IsRouteMandatory
            this.IsDayEndPermission = false
            if(this.AvailableForms.includes('frmRouteDayStart') && this.IsRouteMandatory === 'True')
            {
              this.IsDayEndPermission = true
            }

       this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
      if(this.LinkedRoutes !==null)
      {
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
      }
      if(this.LinkedRoutes.length > 1)
      {
         this.IsShowRoute = true
          for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
          {
            this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
          }
          if(this.day === true)
          {
              this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
              for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
              {
                if(this.LinkedRoutes[this.i].RouteID === parseFloat(this.ActiveRouteID) )
                {
                  this.RouteName = this.LinkedRoutes[this.i].RouteName
                }

        }

          }
          else{
            this.RouteName = this.RouteOptions[0]
          }
      }
      else{
         if(this.LinkedRoutes.length === 1)
         {
            localStorage.setItem('ActiveRouteId',this.LinkedRoutes[0].RouteID)
         this.IsShowRoute = false
         }

      }
      this.GetEndDayResons()

  },
  methods:{
     toggleDamageGodown () {
      this.$nextTick(() => {
        if (this.likesAllDamageGodown) {
          this.selectedDamageGodown = []
        } else {
          this.selectedDamageGodown = this.DamageGodownOptions.slice()
        }
      })
    },
    SetStartTime()
    {

      this.$router.push("/dashboard/enroll");

    },
    go_rcp()
    {
      this.$router.push("/e_recipe_order_area");
    },

  /*   Preference()
    {
      this.$router.push('/dashboard/preference')
      //this.StockTransferModal=true
    }, */
    Tools()
    {
      this.$router.push('/ui/maps/Realtime')
    },
    logout(IFrameUrl)
    {
      localStorage.removeItem("Count");
      this.bURL =  localStorage.getItem("CompanyURL")+"/api/";
       axios.get(this.bURL + 'user/UpdateLogOutTime?Username='+ localStorage.getItem('user') )
        .then((response)  =>  {
          this.CompanyURL = localStorage.getItem('CompanyURL')
        this.CompanyName = localStorage.getItem('Companyname')
        this.CompanyLogo = localStorage.getItem('Companylogo')
        this.GlobalTheme = localStorage.getItem('GlobalTheme')
        this.CurrentVersion = localStorage.getItem('CurrentVersion')
        this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        this.SalesReferNoContent = localStorage.getItem('SalesReferNoContent')
        if(this.SalesReferNoContent !== null)
        {
            this.SalesReferNoContent = JSON.parse(this.SalesReferNoContent)
        }
        else{
          this.SalesReferNoContent = {}
        }
         this.SalesOffLineList = localStorage.getItem('SalesOffLineList')
        if(this.SalesOffLineList !== null)
        {
            this.SalesOffLineList = JSON.parse(this.SalesOffLineList)
        }
        else{
          this.SalesOffLineList = []
        }
         this.GodownStockList = localStorage.getItem('GodownStockList')
        if(this.GodownStockList !== null)
        {
            this.GodownStockList = JSON.parse(this.GodownStockList)
        }
        else{
          this.GodownStockList = []
        }

        this.Printer = localStorage.getItem('Printer')
        this.Printer =this.Printer?this.Printer:""
        this.Papersize = localStorage.getItem('Papersize')
        this.Papersize = this.Papersize?this.Papersize:""

        this.DeviceDefaultBCode  =localStorage.getItem('DeviceDefaultBCode')
        localStorage.clear()

        localStorage.setItem('CompanyURL',this.CompanyURL)
        localStorage.setItem('Companyname',this.CompanyName)
        localStorage.setItem('Companylogo',this.CompanyLogo)
        localStorage.setItem('Printer',this.Printer)
        localStorage.setItem('Papersize',this.Papersize)
        localStorage.setItem('GlobalTheme',this.GlobalTheme)
        localStorage.setItem('CurrentVersion',this.CurrentVersion)
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
          localStorage.setItem('IsSalesOffLine','false')
        }
        else{
          localStorage.setItem('IsSalesOffLine',this.IsSalesOffLine)
        }
        localStorage.setItem('SalesReferNoContent',JSON.stringify(this.SalesReferNoContent))
        localStorage.setItem('SalesOffLineList',JSON.stringify(this.SalesOffLineList))
        localStorage.setItem('GodownStockList',JSON.stringify(this.GodownStockList))
        

        
           //this.IFrameUrl = 'https://docs.google.com/viewer?url='+this.url+' &embedded=true'
           if(IFrameUrl !== undefined )
           {
              localStorage.setItem('IFramePrintUrl',IFrameUrl)
              localStorage.setItem('IframeLoader','true')
              this.$router.push('/dashboard/masters/iframepdf')
           }
           else{
              localStorage.setItem('IsReload',true)
             this.$router.push('/auth/signin')
           }


        }, (error)  =>  {
          console.log(error)
        })

    },
    OpenDayEndPage()
    {
      this.$router.push('/dashboard/masters/dayend')
    },

    CheckSstockTransfer()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.BranchCode = localStorage.getItem('BranchCode')
       this.BranchCode =  this.BranchCode ? this.BranchCode: "All"
      this.FromGodown = JSON.parse(localStorage.getItem('LinkedGodowns'))
      this.FromGodown = this.GetsWithComma1(this.FromGodown)
      this.VoucherDate = new Date().toISOString().substr(0, 10)
       axios.get(this.bURL + 'StockTransfer/GetStockTransferSummary?BranchCode='+ this.BranchCode +'&FromGodown='+this.FromGodown +'&ToGodown=All&FromDate='+this.VoucherDate +'&ToDate='+this.VoucherDate+'&IsVerified=P')
        .then((response)  =>  {

          if(response.data.length === 0)
          {
            this.CheckDayEnd();
          }
          else{
            this.PendingTransfers = response.data
            this.StockTransferModal = true
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetsWithComma1(values) {
      values = values.join("~");

      return values;
    },
    CheckDayEnd()
    {
       this.StockTransferModal = false
       this.IsSavePhysicalStock = localStorage.getItem('IsSavePhysicalStock');
       this.IsSaveOrder = localStorage.getItem('IsSaveOrder');
       this.DayEndAskPhysicalStock = this.Settings.DayEndAskPhysicalStock
       this.RouteDayEndAuthenticator = this.Settings.RouteDayEndAuthenticator
          if(this.RouteDayEndAuthenticator !== 'Nothing')
          {
            this.PasswordModal = true
          }
          else if(this.IsSaveOrder === "false" || this.IsSaveOrder === null)
          {
              this.ModalContent = "Do you want to take order?"
              this.PhysicalStockModal = true
          }
          else if(this.IsSavePhysicalStock === 'true' && this.DayEndAskPhysicalStock === "True")
          {
            this.EndDayModal =  true
          }
          else{
            this.ModalContent = "Add physical stock?"
           this.PhysicalStockModal = true
          }
    },
    StartDay()
    {
            this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time
            localStorage.getItem('setItem',this.date +" "+this.today.getHours() + ":" + this.today.getMinutes() )
            this.Saleperson = localStorage.getItem('salePerson')


            for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
            {
              if(this.LinkedRoutes[this.i].RouteName === this.RouteName)
              {
                localStorage.setItem('ActiveRouteId',this.LinkedRoutes[this.i].RouteID)
              }

            }
            this.ActiveRouteID = localStorage.getItem('ActiveRouteId')

             this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Route/GetRouteLocation?AsOnDate='+this.date+'&ActiveRouteID=' +this.ActiveRouteID)
              .then((response)  =>  {
                 if(response.data === "NO Location" || response.data.StartLatitude === 0 && response.data.StartLongitude)
                 {
                    this.ExcecuteStartDay(this.Saleperson,this.DateAndTime,this.ActiveRouteID)

                 }
                 else
                 {
                   this.CurrentLatitude = 0
                   this.CurrentLongitude = 0
      navigator.geolocation.getCurrentPosition(
                      position => {
                        this.CurrentLatitude = position.coords.latitude
                        this.CurrentLongitude = position.coords.longitude

                         this.Distance = this.haversine_distance(response.data.StartLatitude,response.data.StartLongitude,this.CurrentLatitude, this.CurrentLongitude)
                        this.MinimumDistanceToMarkVisited = this.Settings.MinimumDistanceToMarkVisited
                        this.MinimumDistanceToMarkVisited= parseFloat(this.MinimumDistanceToMarkVisited) /1000
                       if(this.Distance <= this.MinimumDistanceToMarkVisited)
                        {
                           this.ExcecuteStartDay(this.Saleperson,this.DateAndTime,this.ActiveRouteID)
                        }
                        else{
                          this.SnackbarMessege = "You are not at proper location"
                          this.snackbar = true
                        }

                    },
                    error => {
                      console.log(error.message);
                   },
                  )
                 }

              }, (error)  =>  {
                localStorage.setItem('DayStatus' , '')
                  this.day = false
              })

    },
    ExcecuteStartDay(Saleperson,DateAndTime,ActiveRouteID)
    {

            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'user/SetDayStart?Saleperson='+Saleperson+'&TimeStart='+DateAndTime+'&ActiveRouteID=' +ActiveRouteID)
              .then((response)  =>  {
                  this.day = true
                  localStorage.setItem('DayStatus' , 'Started')
                  location.reload()

              }, (error)  =>  {
                localStorage.setItem('DayStatus' , '')
                  this.day = false
              })
    },

             haversine_distance(lat1, lon1, lat2, lon2) {

      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = lat1 * (Math.PI/180); // Convert degrees to radians
      var rlat2 = lat2 * (Math.PI/180); // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (lon1-lon2) * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));

      return d;
},

   /*  CheckPhysicalStock()
    {
       this.IsSavePhysicalStock = localStorage.getItem('IsSavePhysicalStock');
          if(this.IsSavePhysicalStock === 'true')
          {
            this.EndDayModal =  true
          }
          else{
           this.PhysicalStockModal = true
          }
    }, */
    OpenVoucher()
    {
      if(this.ModalContent === "Add physical stock?")
      {
            this.PhysicalStockModal = false
            this.EndDayModal = false
            this.dayend1 = false
             this.isLoadingPasswod = false
            this.$router.push('/dashboard/vouchers/physicalstock')
      }
      else{
            this.isLoadingPasswod = false
            this.PhysicalStockModal = false
            this.EndDayModal = false
            this.dayend1 = false
            localStorage.removeItem('OrderNo')
            this.$router.push('/dashboard/order_form')
      }
    },
    ClosePhysicalModal()
    {
       this.isLoadingPasswod = false
      if(this.ModalContent === "Add physical stock?")
      {
      this.PhysicalStockModal = false
      this.EndDayModal = true
      }
      else{
         this.PhysicalStockModal = true
         this.ModalContent = "Add physical stock?"
      }
    },
    CloseDayEndModal()
    {
       this.isLoadingPasswod = false
       this.EndDayModal = false
    },
     EndDay()
    {
      this.IsEnd = true

      if(this.EndKM === undefined)
      {
        this.IsshowEndKMError = true
        this.IsEnd = false
        return
      }
       this.Saleperson = localStorage.getItem('salePerson')
       this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
       axios.get(this.bURL + 'user/SelectRouteAttendance?Salesperson='+this.Saleperson)
              .then((response)  =>  {

      this.str = response.data.TimeStart
      this.TimeEnd = response.data.TimeStart

      this.strNew = this.str.split('T');
      this.StartKM = response.data.StartKM

      this.StartTime  = this.strNew[0] +" "+ this.strNew[1]



      this.StartTime= new Date(this.StartTime).getTime()
      this.Settings = JSON.parse(localStorage.getItem('Settings'))

      this.today = new Date();
      this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
      this.time = this.today.getHours() + ":" + this.today.getMinutes()
      this.DateAndTime = new Date(this.date +" "+this.time).getTime()
      this.msec =  this.DateAndTime - this.StartTime
      this.mins = Math.floor(this.msec / 60000);
      this.hrs = Math.floor(this.mins / 60);
      if(parseFloat(this.hrs) < parseFloat(this.Settings.SalesPersonMinWorkingHours))
      {
         this.IsEnd = false
         this.IsShowHourError = true
      }
      else{
         this.IsShowHourError = false
      }
     if(parseFloat(this.StartKM) > parseFloat(this.EndKM))
      {
         this.IsEnd = false
         this.IsShowKMError = true
      }
      else{
         this.IsShowKMError = false
      }
      if(this.IsEnd === true)
      {
        this.ExceuteEndDay()
      }
      else if(this.IsShowHourError === true || this.IsShowKMError === true)
      {
          this.dayend1 = true
      }
            }, (error)  =>  {
              console.log(error)
           })
    },
    ExceuteEndDay()
    {
      if(this.IsShowHourError === true && (this.Reason === undefined || this.Reason === ''))
      {
          this.ResonError = true
          return
      }
      else{
       this.CheckDamageStockTransfer()
      }
    },
    ExceuteEndDayAfterVerification()
    {

        this.ActiveRouteID = localStorage.getItem('ActiveRouteId')

             this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Route/GetRouteLocation?AsOnDate='+this.date+'&ActiveRouteID=' +this.ActiveRouteID)
              .then((response)  =>  {
                 if(response.data === "NO Location" || response.data.EndLatitude === 0 && response.data.EndLongitude)
                 {
                    this.SetDayEnd()

                 }
                 else
                 {
                   this.CurrentLatitude = 0
                   this.CurrentLongitude = 0
      navigator.geolocation.getCurrentPosition(
                      position => {
                        this.CurrentLatitude = position.coords.latitude
                        this.CurrentLongitude = position.coords.longitude

                         this.Distance = this.haversine_distance(response.data.EndLatitude,response.data.EndLongitude,this.CurrentLatitude, this.CurrentLongitude)
                        this.MinimumDistanceToMarkVisited = this.Settings.MinimumDistanceToMarkVisited
                        this.MinimumDistanceToMarkVisited= parseFloat(this.MinimumDistanceToMarkVisited) /1000
                       if(this.Distance <= this.MinimumDistanceToMarkVisited)
                        {
                           this.SetDayEnd()
                        }
                        else{
                          this.SnackbarMessege = "You are not at proper location"
                          this.snackbar = true
                        }

                    },
                    error => {
                      console.log(error.message);
                   },
                  )
                 }

              }, (error)  =>  {
                localStorage.setItem('DayStatus' , '')
                  this.day = false
              })
    },


  SetDayEnd()
  {


            this.IsshowEndKMError = false
            this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time
            this.Saleperson = localStorage.getItem('salePerson')
            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
             axios.get(this.bURL + 'user/SetDayEndTime?SalePerson='+this.Saleperson+'&EndKM='+ this.EndKM /* + '&TimeEnd=' +this.DateAndTime */)
              .then((response)  =>  {
                  this.day = true
                  this.user = localStorage.getItem('user')
                  this.BranchCode = localStorage.getItem('BranchCode')
                  this.BranchCode = this.BranchCode?this.BranchCode:"All"
                  this.LinkedGodown = JSON.parse(localStorage.getItem('LinkedGodowns'))
                  this.Godown =  this.LinkedGodown[0]

                  this.Papersize = localStorage.getItem('Papersize')
                  this.PrinterString = this.Papersize.split(' ')
                  this.Printer =  this.PrinterString[0]
                  this.PapersizeNo = this.PrinterString[1]
                  this.Papersize = ""
                  if(this.Printer === 'Bluetooth')
                     this.Papersize = "80MM"
                  else
                     this.Papersize = "A4"
                  axios.get(this.bURL + 'Print/DayEndReport?AsOnDate='+this.TimeEnd+'&Username='+ this.user + '&Papersize=' + this.Papersize)
                 .then((response)  =>  {
                  this.day = true
                  this.bURLPrint = localStorage.getItem("CompanyURL");
                   this.url = this.bURLPrint + response.data
                this.Papersize =  localStorage.getItem('Printer')
                this.PrinterString = this.Papersize.split(' ')
                this.Printer =  this.PrinterString[0]
                this.PapersizeNo = this.PrinterString[1]
            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                  window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
              this.logout()



              }, (error)  =>  {
                 this.day = true
                  /* this.bURLPrint = localStorage.getItem("CompanyURL");
                   this.url = this.bURLPrint + response.data
                   window.open(this.url, '_blank') */
                  this.logout()
                  console.log(error)
              })


              }, (error)  =>  {
                  console.log(error)
              })

  },
CheckPassword()
{
  this.PasswordData = {
    "Username" : localStorage.getItem('user'),
    "Password" : this.password,
    "VersionCode" : 2
  }
   this.isLoadingPasswod = true
   axios.post(this.bURL + 'user/AuthenticateDayEndUser',this.PasswordData)
        .then((response)  =>  {
          if (response.status === 200)
          {
            this.password = ""
            this.PasswordModal = false
            this.DayEndAskPhysicalStock = this.Settings.DayEndAskPhysicalStock
              if(this.IsSaveOrder === "false" || this.IsSaveOrder === null)
              {
                this.ModalContent = "Do you want to take order?"
                 this.PhysicalStockModal = true
              }
              else if(this.IsSavePhysicalStock === 'true' && this.DayEndAskPhysicalStock === "True")
              {
                this.EndDayModal =  true
              }
              else{
                this.ModalContent = "Add physical stock?"
                this.PhysicalStockModal = true
              }
          }
        }, (error)  =>  {
          this.isLoadingPasswod = false
          this.snackbar = true
          this.SnackbarMessege=this.$t(`menu.Invalidusernameorpassword`)
        })
},
     SetActiveRoute(RouteName)
    {
        for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
        {

          if(this.LinkedRoutes[this.i].RouteName === RouteName)
          {
            this.Salesperson = localStorage.getItem("salePerson");
            this.RouteId = this.LinkedRoutes[this.i].RouteID;
             this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'user/SetActiveRoute?SalePerson='+this.Salesperson+'&ActiveRouteID='+this.RouteId)
              .then((response)  =>  {
                 localStorage.setItem('ActiveRouteId',this.RouteId)
                 this.GetCustomers()
            }, (error)  =>  {
              console.log(error)
           })


          }

        }
    },
     GetCustomers()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      axios.get(this.bURL + 'Customer/LoadLinkedCustomers?RouteId='+this.RouteID)
        .then((response)  =>  {
          localStorage.setItem('Customers', JSON.stringify(response.data))
          this.GetLinkedGodowns()
          
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
       this.BranchCode = this.BranchCode?this.BranchCode:''
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
           this.BranchCode = ''
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))
          this.GetCustomersDetailed()

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    GetCustomersDetailed()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      this.DateFrom =  '1899-01-01T00:00:00'
      this.DateTo = new Date().toISOString().substr(0, 10)
      axios.get(this.bURL + 'Customer/LoadLinkedCustomersDetailed?RouteID='+this.RouteID  +"&DateFrom=" + this.DateFrom + "&DateTo=" +this.DateTo)
        .then((response)  =>  {
          localStorage.setItem('CustomerObject', JSON.stringify(response.data))
           window.location.reload();
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetEndDayResons()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get(this.bURL + 'Common/GetDayEndReasons')
        .then((response)  =>  {
          this.ReasonOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    OpenUserProfile()
    {
      this.$router.push('/dashboard/masters/userProfile')
    },
CheckDamageStockTransfer()
{
   this.isLoading = true
  this.isSignInDisabled = true
  //this.DamageGodown = JSON.parse(localStorage.getItem('LinkedDamageGodowns'))
   this.DamageGodown =  this.DamageGodownsForTransfer[0]
   this.AsOnDate = new Date().toISOString().substr(0, 10)
   this.Settings = JSON.parse(localStorage.getItem('Settings'));
   this.SelectGodownStockItemwiseList(this.DamageGodown,this.AsOnDate)
},
SelectGodownStockItemwiseList(Godown,AsOnDate)
{
  if(Godown !== this.Settings.SalesDefaultDamageStore)
  {
  this.StockTransferDetails = []
     axios.get(this.bURL + 'Godown/SelectGodownStockItemwiseList?Godowns=' + Godown + '&AsOnDate=' + AsOnDate + '&ZeroStock=false' )
              .then((response)  =>  {
                for(this.i = 0;this.i<response.data.length;this.i++)
                {
                  if(response.data[this.i].CurrentStock != 0)
                  {
                    this.Obj = {
                      "ItemId": response.data[this.i].ItemId,
                      "ItemName": response.data[this.i].ItemName,
                      "ItemCode": response.data[this.i].ItemCode,
                      "Barcode": response.data[this.i].Barcode,
                      "ItemNameArabic": response.data[this.i].ItemNameArabic,
                      "Unit": response.data[this.i].Unit,
                      "AltUnitId": response.data[this.i].AltUnitId,
                      "Qty" : response.data[this.i].CurrentStock,
                      "Rate":response.data[this.i].Cost,
                      "Amount" : response.data[this.i].CurrentStock * response.data[this.i].Cost,
                      "ItemDescription" : " ",
                     "FromGodown": Godown,
                     "ToGodown": this.Settings.SalesDefaultDamageStore,
                      "STRD_ID": -1
                    }


                  }
                  this.StockTransferDetails.push(this.Obj)
                }
               this.ExportToStockTransfer()

              }, (error)  =>  {
                  console.log(error)
              })
        }
        else{
         this.DamageGodownsForTransfer.splice(0,1)
         this.CheckDamageStockTransfer()
        }
},
ExportToStockTransfer()
{
   this.isLoading = true
   this.isSignInDisabled = true
  if(this.StockTransferDetails.length>0)
  {

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.DayEndDamageStockTransfer = this.Settings.DayEndDamageStockTransfer
    if(this.DayEndDamageStockTransfer === 'Hide')
    {
      this.CreateStockTransfer()
    }
    else
    {
      this.ExceuteEndDayAfterVerification()
    }

  }
  else
  {
    this.ExceuteEndDayAfterVerification()
  }
},
 CreateStockTransfer()
  {
      this.d1 = "1899-01-01"
      this.TransferObject =   {
	      'VoucherNo': -1,
        'ReferNo': '',
	      'VoucherDate': this.d1,
	      'BranchCode': this.BranchCode?this.BranchCode:'MB',
        'Description': '',
        'StockTransferDetails' :[],
        'Locked':'Y',
        'IsVerified':'C',
        'Username': localStorage.getItem('user')
      }
      this.TransferObject.StockTransferDetails = this.StockTransferDetails
      this.TransferObject.VoucherNo =  -1
       localStorage.setItem('TransferObject',JSON.stringify(this.TransferObject))
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.isLoading = true
       this.isSignInDisabled = true
       axios.post ( this.bURL + 'StockTransfer',this.TransferObject)
              .then((response)  =>  {
               this.ExceuteEndDayAfterVerification()
              }, (error)  =>  {
                 this.isLoading = false
                 this.isSignInDisabled = false
                console.log(error)
              })


    },
  }
}
</script>
