<template>
  <v-menu offset-y left transition="slide-y-transition">

    <template v-slot:activator="{ on }"  >
      <div v-if="IsShowNotCount">
      <v-badge
        bordered
        :content="NotCount"
        offset-x="22"
        offset-y="22"
        
      >
        <v-btn icon v-on="on" @click="ViewNotifications()">
          <v-icon >mdi-bell-outline</v-icon>
        </v-btn>
      </v-badge>
      </div>
      <div v-if="!IsShowNotCount">
      <v-btn icon v-on="on" @click="ViewNotifications()">
          <v-icon >mdi-bell-outline</v-icon>
        </v-btn>
      </div>
     
    </template>


   <!--  <template v-slot:activator="{ on }">
      <v-badge
        bordered
        :content="NotCount"
        offset-x="22"
        offset-y="22"
      >
        <v-btn icon v-on="on" >
          <v-icon>mdi-bell-outline</v-icon>
        </v-btn>
      </v-badge>
    </template> -->

    <!-- dropdown card -->
   <!--  <v-card>
      <v-list three-line dense max-width="400">
        <v-subheader class="pa-2 font-weight-bold">Notifications</v-subheader>
        <div v-for="(item, index) in items" :key="index">
          <v-divider v-if="index > 0 && index < items.length" inset></v-divider>

          <v-list-item >
            <v-list-item-avatar size="32" :color="item.color">
              <v-icon dark small>{{ item.icon }}</v-icon>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title v-text="item.title"></v-list-item-title>
              <v-list-item-subtitle class="caption" v-text="item.subtitle"></v-list-item-subtitle>
            </v-list-item-content>
            <v-list-item-action class="align-self-center">
              <v-list-item-action-text v-text="item.time"></v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
        </div>
      </v-list>

      <div class="text-center py-2">
        <v-btn small>See all</v-btn>
      </div>
    </v-card> -->
  </v-menu>
</template>

<script>
/*
|---------------------------------------------------------------------
| Toolbar Notifications Component
|---------------------------------------------------------------------
|
| Quickmenu to check out notifications
|
*/

import axios from 'axios';
export default {
  data() {
    return {
      NotCount:0,
      items: [

      ],
      userType :  window.localStorage.getItem('UserType'),
      Token : window.localStorage.getItem('Token'),
      bURL : localStorage.getItem("CompanyURL")+"/api/",
      Username : localStorage.getItem('user'),
      Notifications:[],
      IsShowNotCount:false
    }
  },
  created()
  {
     setInterval(function () {
		    this.GetUserNotification()
		 }.bind(this), 30000);
  },
  mounted()
  {
    this.GetUserNotification()
  },
  methods: {
    GetUserNotification()
    {
      axios.get ( this.bURL + 'Notification/GetUserNotifications?Username=' + this.Username)
        .then((response)  =>  {
          this.Notifications = response.data
          for(this.i = 0;this.i<this.Notifications.length;this.i++)
          {
            if(this.Notifications[this.i].ReadStatus === false)
            {
              this.NotCount += 1
            }
          }
          if(this.NotCount > 0)
          {
            this.IsShowNotCount = true
          }
        }, (error)  =>  {
          return
        })
    },
    ViewNotifications()
  {
    this.$router.push('/dashboard/Notifications')
  }
  },
  
}
</script>
