<template>
  <div>
      <Laning_/>
  </div>
</template>
<script>
import Laning_ from '@/components/e_recipe_compo/landing_e_recipe.vue'


export default {
  components: {
    Laning_,
  }
}
</script>