<template>
    <div>
       
        <div id="outerContainer" >
      <div id="container" >
       

        <div v-for="(item, index) in table_api" :key="item.id">
          <div
            class="item"
            :id="item.Id"
            :title="index"
            contenteditable="false"
            @click="get(item.Id, index)"
           
            :style="{ background: 'url(' + table_img + ')',transform: 'translate3d('+item.AxisX+'vw,' + item.AxisY+'vh,0px)'}"
          ></div>
        </div>
      </div>
    </div>
        <!-- v-navigation-drawer -->
        <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
       style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-food</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
       </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">Dining Area</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

  <!-- avatar starts here -->

  <v-row
              class="spacer"
              no-gutters
              style="    max-height: 80vh; overflow: scroll;overflow-x: hidden;"
            >
              <v-col
                cols="4"
                sm="2"
                md="1"
                style="padding:10px; text-align: center;"
                v-for="(item, i) in areas_" :key="i"
              >
                <v-avatar
                  @click="select_area(item.Id,item),setimage(item.Id)"
                  size="36px"
                  style="border: 1px solid #000;padding:5px;"
                >
                  <img
                    :alt="item.AreaName"
                    :src="'data:image/png;base64,' + item.AreaIcon"
                  >
                 
                </v-avatar>
                <br>
                <span style="font-size: 13px;">{{item.AreaName}}</span>
              </v-col>
              </v-row>

  <!-- //// -->
 </div>
    </v-navigation-drawer>
       <!-- v-navigation-drawer -->
       <v-dialog
      v-model="table_Modal"
      max-width=""
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-success btn-sm" @click="order_table()">
              Order Food
            </button>
          </div>
         
        </div>
      </v-card>
    </v-dialog>
    </div>
</template>
<script>
import axios from "axios";
export default {
    data()
    {
        return{
            right: true,
            bURL : localStorage.getItem("CompanyURL") + "/api/",
            status_:'Active',
            branch_:localStorage.getItem("BranchCode"),
            areas_:[],
            enable_drag:false,
            showcont:true,
            table_img: "",
            table_api: [],
            table_Modal:false,
            table_index:'',
            t_id_edit:''
            

        }
    },
    mounted()
    {
      this.fetchData();
      this.Get_active_diningarea();

      this.test_api();
    
    },
    methods:{
      test_api()
      {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL +"Item/GetItemSummary?category=all&subcategory=all").then(
          (response) => {
            if (response.status === 200) {
              console.log("ssa+"+response.data)
              // this.areas_ = response.data;
            }
          },
          (error) => {
            console.log(error);
          }
        );
      },

      //------------------
      fetchData() {
      axios.get("/rcp/table.json").then((response) => {
        this.table_img = response.data[0].tableimg;
      });
     },

      Get_active_diningarea()
      {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL +"DiningArea/GetDiningAreas?BranchCode=" +this.branch_ +"&IsActive=" + this.status_).then(
          (response) => {
            if (response.status === 200) {
              this.areas_ = response.data;
            }
          },
          (error) => {
            console.log(error);
          }
        );
      },
      select_area(id,area)
      {
        
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(this.bURL + "DiningTable/GetDiningTables?AreaId=" + id)
        .then(
          (response) => {
            if (response.status === 200) {
              this.table_api = response.data;
              this.right = false;
            }
          },
          (error) => {
            console.log(error);
          }
         
        );
      },
      setimage(id)
    {
       
      //  console.log(this.layout_[this.areaid])
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        // alert(this.bURL)
        axios.get(this.bURL + "DiningArea/"+id).then(
        (response) => {
          if (response.status === 200) {
            if(response.data.LayoutImage){
               this.LayoutImage__ = "data:image/gif;base64,"+response.data.LayoutImage;
             document
        .getElementById("container")
        .setAttribute(
          "style",
          "background-image: url("+this.LayoutImage__ +
            ");background-repeat: no-repeat;background-size: cover;"
        );
        this.fetch_tablefrom_db()
        this.ImageModal = false;
            }else{
              // console.log("Image not found")
              this.err = "layout not found !";
            }
            
          }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    get(t_id, index) {
      
      this.table_Modal = true;
      this.t_id_edit = t_id;
      this.table_index = index;
    },

    }
}
</script>
<style lang="scss" scoped>
    .container.fill-height {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 7px;
    }
    // .v-expansion-panel-content{
    //   background-color:rgb(0 53 94);
    //   color: #FFF;
    // }
    
    .container.fill-height {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding: 7px i !important;
    }
    .drawer-button {
      position: fixed;
      top: 175px;
      right: -20px;
      z-index: 6;
      box-shadow: 1px 1px 18px #ee44aa;
    }
    .drawer-button1 {
      /* position: bottom;
      top: 690px;
      right: 30px;
      z-index: 6;
      box-shadow: 1px 1px 18px #ee44aa;
      margin-left: 300px; */
      position: fixed;
      top: 690px;
      right: 30px;
      z-index: 6;
      box-shadow: 1px 1px 18px rgb(0 53 94);
      margin-left: 300px;
      }
       @media (max-width: 480px) {
                   .drawer-button1 {
    display: none;
    }
            }
    @media (min-width: 481px) and (max-width: 767px) {
                             .drawer-button1 {
    display: none;
    }
    .total{
      display: none;
    }
            }
    @media (min-width: 768px) and (max-width: 1024px){
                                    .drawer-button1 {
    display: none;
    }
    .total{
      display: none;
    }
            }
       @media (min-width: 1025px) and (max-width: 1280px) {
    
    .footer{
      display: none;
    }
    .total{
      display: none;
    }
    
    }
     @media (min-width: 1281px) {
              .footer{
      display: none;
    }
    .total{
      display: none;
    }
            }
            .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       z-index: 100;
     box-shadow: 1px 1px 18px rgb(0 53 94);
    
    }
    // .drawer-button2 {
    //   position: fixed;
    //   top: 115px;
    //   right: -20px;
    //   z-index: 6;
    //   box-shadow: 1px 1px 18px #00355E;
    //   margin-left: 300px;
    //   }
    //   .drawer-button1 {
    //   position: fixed;
    //   top: 115px;
    //   right: -20px;
    //   z-index: 6;
    //   box-shadow: 1px 1px 18px #00355E;
    //   margin-right: 100px;
    //   }
    //   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    // .drawer-button2 {
    //   position: fixed;
    //   top: 125px;
    //   right: -20px;
    //   z-index: 6;
    //   box-shadow: 1px 1px 18px #00355E;
    //   margin-left: 196px;
    //   }
    //   .drawer-button1 {
    //   position: fixed;
    //   top: 125px;
    //   right: -20px;
    //   z-index: 6;
    //   box-shadow: 1px 1px 18px #00355E;
    //   margin-right: 249px;
    //   }
    //   }
      // .v-icon {
      //   margin-left: -18px;
      //   font-size: 1.3rem;
      // }
       .nav-tabs .nav-link.active {
       color:rgb(0 150 199);
    }
     .nav-tabs .nav-link {
       color:#FFFFFF;
    }
    .container fill-height container--fluid{
          padding-top: 1px;
    }
    .errMsg{
        color: red;
        font-weight: 500;
    }
    </style>
    <style >
.drawer-button {
    position: fixed;
    top: 175px;
    right: -20px;
    z-index: 6;
   
}
        @media screen and (max-height: 700px) {
        
        
        .setmaxrownew1{
            max-height:380px;
        }
        }
          @media (min-height: 701px) and (max-height: 750px) {
        
        .setmaxrownew1{
            max-height:440px;
        }
                }
                  @media (min-height: 751px) and (max-height: 900px) {
        
        .setmaxrownew1{
            max-height:480px;
        }
                }
                  @media (min-height: 901px) and (max-height: 1050px) {
        
        .setmaxrownew1{
            max-height:690px;
        }
                }
                   @media (min-height:1051px) and (max-height: 1500px) {
              .setmaxrow
        {
          max-height:980px;
        }
        .setmaxrownew1{
            max-height:1020px;
        }
                }
        
        </style>
        <style scoped>

#container {
  overflow: auto;
  width: 100%;
  height: 70vh;
  background-color: #dae9bc;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  touch-action: none;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  /* background: url(mountain.jpg); */
  /* background-repeat: no-repeat;
  background-size: cover; */

  background-image: url("https://wcs.smartdraw.com/restaurant-floor-plan/examples/restaurant-layout.png?bn=15100111840");
  background-size: 100% 100%;
}

.item {
  border-style: none;
  border-width: 1px 1px 1px 1px;
  touch-action: none;
  user-select: none;
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #f3f8ea;
  border-color: #00640000;

  background-repeat: repeat !important;
  background-size: contain !important;
}

.resize {
  /* background-color: coral; */
  /* text-align: center; */
}

.item:active {
  opacity: 0.75;
}

.item:hover {
  cursor: pointer;
}
        </style>