<template>
  <div>
    <v-snackbar v-model="snackbar" absolute rounded="pill" top
      >{{ msg_text }}
    </v-snackbar>
    <div class="search-wrapper" style="padding-bottom: 10px">
      <input
        type="text"
        class="form-control"
        v-model="search"
        placeholder="Search Items"
        id="myInput"
        @keyup="filter"
      />
    </div>
    <div
      class="container-fluid"
      style="max-height: 70vh; overflow: auto"
      id="myDIV"
    >
      <!-- Control the column width, and how they should appear on different devices -->
      <div class="row" align-v="stretch">
        <div
          class="col_ col-6 col-sm-6 col-md-4 col-lg-3"
          v-show="filteredList.length > 0"
          style="padding: 0px"
          v-for="(item, i) in filteredList"
          :key="i"
          :Product="product"
        >
          <v-card
            class="sdw"
            style="border-bottom: 8px solid rgb(0 0 0 / 23%); top: 10px"
          >
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title class="headline">
                  <h6
                    class="card-title cs"
                    style="font-size: 13px; font-weight: bold"
                  >
                    {{ item.ItemName }}
                  </h6>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <img
              class="card-img-top"
              :src="Burl + imgurl + item.ItemId + '/1.png'"
              @error="
                $event.target.src =
                  'https://bitsofco.de/content/images/2018/12/broken-1.png'
              "
              :alt="item.ItemId"
              style="width: 100%; height: 200px"
            />
            <!-- <v-img :src="Burl+imgurl+item.ItemId+'/1.png'" @error="$event.target.src='https://bitsofco.de/content/images/2018/12/broken-1.png'"  :alt="item.ItemId" style="width:100%" class="white--text align-end" height="200px"></v-img> -->
            <v-card-actions>
              <v-chip class="mr-2" color="red lighten-1" dark>
                <span left small style="font-size: 10px; color: #000"
                  ><b>{{ PrimaryCurrency }}</b></span
                >
                <span
                  style="font-size: 13px; color: #fff; padding-left: 10px"
                  >{{ formatPrice(item.RetailRate) }}</span
                >
              </v-chip>
              <v-spacer></v-spacer>
              <v-btn icon @click="addTocart(item)">
                <v-icon>add_shopping_cart</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </div>
        <div v-show="filteredList.length == 0">
          <img
            src="https://cdn.dribbble.com/users/3008811/screenshots/7090670/media/5a61f4778d6a527572a773c1f69001b8.gif"
            style="width: 100%"
          />
          <div class="text-center" style="color: red; font-size: 20px">
            Item Not found !
          </div>
        </div>
      </div>
    </div>

    <!-- v-navigation-drawer -->
    <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
      style="box-shadow: 1px 1px 18px rgb(0 99 145) !important"
    >
      <v-icon
        style="
          margin-left: -18px !important;
          font-size: 1.3rem !important;
          color: #fff;
        "
        >mdi-cart-plus</v-icon
      >
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
      style="z-index: 100000 !important"
    >
      <div class="d-flex align-center pa-2">
        <div class="title" style="color: rgb(0 99 145)">Cart Item</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div class="container-fluid">
        <cart />
      </div>
    </v-navigation-drawer>
    <!-- ///////////cart_Modal/////////// -->
    <v-dialog
      v-model="cart_Modal"
      max-width="450px"
      style="z-index: 100000 !important; width: 100%"
    >
      <v-card>
        <v-card-title>Enter Order Details</v-card-title>
        <div class="row card" style="text-align: center; padding: 20px">
          <v-row>
            <v-col cols="12" sm="6" md="12" style="padding-bottom: 0px">
              <v-text-field
              ref="qty"
                label="Quantity"
                type="number"
                v-model="form.qty"
                autofocus
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              md="12"
              style="padding-top: 2px; padding-bottom: 0px"
            >
              <!-- <v-combobox
                v-model="k_msg_val"
                :items="k_msg"
                label="choose Message"
                multiple
                outlined
                dense
                @input="setmessage"
              ></v-combobox> -->

              <!-- new area -->
              <v-combobox
                v-model="model"
                :filter="filter"
                :hide-no-data="!search"
                :items="items_"
                label="Search for an Kitchen msg"
                multiple
                outlined
                hide-selected
                small-chips
                solo
                dense
                style="min-height: 55px !important;"
              >
                <template v-slot:no-data>
                  <v-list-item>
                    <span class="subheading">Create</span>
                    
                      {{ search }}
                    
                  </v-list-item>
                </template>
                <template v-slot:selection="{ attrs, item, parent, selected }">
                  <v-chip
                    v-if="item === Object(item)"
                    v-bind="attrs"
                    :input-value="selected"
                    label
                    small
                  >
                    <span class="pr-2">
                      {{ item.text }}
                    </span>
                    <v-icon small @click="parent.selectItem(item)">
                      $delete
                    </v-icon>
                  </v-chip>
                </template>
                <template v-slot:item="{ index, item }">
                  <v-text-field
                    v-if="editing === item"
                    v-model="editing.text"
                    autofocus
                    flat
                    background-color="transparent"
                    hide-details
                    solo
                    @keyup.enter="edit(index, item)"
                  ></v-text-field>
                  <span v-else dark label small>
                    {{ item.text }}
                  </span>
                  <v-spacer></v-spacer>
                  <v-list-item-action @click.stop>
                    <v-btn icon @click.stop.prevent="edit(index, item)">
                      <v-icon>{{
                        editing !== item ? "mdi-pencil" : "mdi-check"
                      }}</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </template>
              </v-combobox>
              <!-- new area  ends-->
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              md="12"
              style="padding-top: 2px; padding-bottom: 0px"
            >
              <!-- <v-select :options="k_msg"  v-model="k_msg_val" multiple taggable  label="choose Message"> </v-select> -->

             
            </v-col>
          </v-row>
        </div>
        <div class="row" style="text-align: center">
          <div class="col">
            <button class="btn btn-danger" @click="clscartmodal()">
              cancel
            </button>
          </div>
          <div class="col">
            <button class="btn btn-success -sm" @click="order_cart()">
              Take Order
            </button>
          </div>
        </div>
      </v-card>
    </v-dialog>
    <!-- ///////////Customer/////////// -->
  </div>
</template>
<script>
import axios from "axios";
import cart from "@/components/e_recipe_compo/cart.vue";

export default {
  components: {
    cart,
  },
  data() {
    return {
      right: false,
      showcont: true,
      Items: [],
      Burl: localStorage.getItem("CompanyURL") + "/",
      imgurl: "StaticFiles/Attachments/Master/Item/",
      PrimaryCurrency: localStorage.getItem("PrimaryCurrency"),
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      snackbar: false,
      msg_text: "",
      search: "",
      cart_Modal: false,
      form: {
        item: "",
        qty: "",
        kitchen_msg: "",
      },
      k_msg: [],
      k_msg_val: null,
      activator: null,
      attach: null,
      editing: null,
      editingIndex: -1,
      items_: [],
      nonce: 1,
      menu: false,
      model: [],
      x: 0,
      y: 0,
    };
  },
  computed: {
    products() {
      return this.$store.state.Items;
    },
    filteredList() {
      return this.products[0].filter((product) => {
        return (
          product.ItemName.toLowerCase().includes(this.search.toLowerCase()) ||
          product.ItemCode.toLowerCase().includes(this.search.toLowerCase()) ||
          product.Barcode.toLowerCase().includes(this.search.toLowerCase()) ||
          product.ItemNameArabic.toLowerCase().includes(
            this.search.toLowerCase()
          )
        );
      });
    },
  },
  mounted() {
    this.$store.dispatch("getItems");
    this.get_kmsg();
  },

  methods: {
    get_kmsg() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "KitchenMessage").then(
        (response) => {
          // if (response.status === 200) {
           
          for (this.i = 0; this.i < response.data.length; this.i++) {
            this.obj_ = {
             id:'',
             text:''
            }
            this.k_msg.push(response.data[this.i]);
            this.obj_.id = response.data[this.i].Id
            this.obj_.text = response.data[this.i].Text
            this.items_.push(this.obj_);
          }

          // }
        },
        (error) => {
          console.log(error);
        }
      );
    },
    addTocart(item) {
      // this.snackbar = true;
      this.cart_Modal = true;
      this.form.item = item;

      // console.log("Item "+JSON.stringify(item)
      // this.$store.dispatch('addTocart',{
      //   Item: item,
      //   quantity : 1
      // });
      // this.right = true;

      // this.snackbar = true;
      // this.msg_text = item.ItemName + " Added to the cart"
    },
    order_cart() {
      if(this.form.qty)
      {
      this.str = "";
      for (this.i = 0; this.i < this.model.length; this.i++) {
        this.str += this.model[this.i].text + "\t";
        // console.log(this.k_msg_val[this.i])
      }
      this.form.kitchen_msg = this.str;
      this.$store.dispatch("addTocart", {
        Item: this.form.item,
        quantity: this.form.qty,
        msg_: this.str,
      });

      this.model = []

      this.form.item = "",
      this.form.qty = "",
      this.form.kitchen_msg = "",
      this.cart_Modal = false;
      this.snackbar = true;
      this.msg_text = " item Added to the cart";
    }else
    {
      this.$refs.qty.focus();
      this.snackbar = true;
      this.msg_text = " Enter Quantity.";
    }
    },
    clscartmodal() {
      this.cart_Modal = false;
    },
    formatPrice(value) {
      let val = (value / 1).toFixed(this.DecimalPlaces).replace(".", ",");
      return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
    },
    edit(index, item) {
      if (!this.editing) {
        this.editing = item;
        this.editingIndex = index;
      } else {
        this.editing = null;
        this.editingIndex = -1;
      }
    },
    filter(item, queryText, itemText) {
      const hasValue = (val) => (val != null ? val : "");

      const text = hasValue(itemText);
      const query = hasValue(queryText);

      return (
        text.toString().toLowerCase().indexOf(query.toString().toLowerCase()) >
        -1
      );
    },
    setmessage() {
      this.str = "";
      for (this.i = 0; this.i < this.k_msg_val.length; this.i++) {
        this.str += this.k_msg_val[this.i] + "\t";
        // console.log(this.k_msg_val[this.i])
      }
      this.form.kitchen_msg = this.str;
    },
  },
  watch: {
    model(val, prev) {
      if (val.length === prev.length) return;

      this.model = val.map((v) => {
        if (typeof v === "string") {
          v = {
            text: v,
          };

          this.items_.push(v);
        
          this.nonce++;
        }

        return v;
      });
    },
  },
};
</script>
<style>
.cs {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.val {
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.col-container_ {
  display: table;
  width: 100%;
}
.col_ {
  display: table-cell;
  padding: 16px;
}
.footer_ {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
.sdw {
  box-shadow: 0px 16px 5px 0px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 16px 5px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 16px 5px 0px rgba(0, 0, 0, 0.44);
}
</style>
<style scoped>
.v-list-item__action {
  display: none !important ;
}
</style>