<template>
  <div class="d-flex  flex-column">
    <v-dialog


content-class="innerExPannew"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg"

            />

      </v-col>

    </v-row>

    </v-dialog>

        <v-row  >
             <v-col cols="12" md="12" xl="12" style="padding-top:0px !important;padding-bottom:0px !important" >
        <v-autocomplete
            dense
            label="Default Branch Code of this Device"
            append-outer-icon=""
            v-model="DefaultBranch"
            :items="BranchCodeOptions"
            @change="GetBranch($event)"
          >
<template v-slot:append-outer>
      <v-btn depressed small style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);;
    margin-top: -5px;"
    @click="SetDefaultBranch"
             > Set
            </v-btn>
  </template>
          </v-autocomplete>
          </v-col>
           </v-row>
<v-row>
  <v-col cols="12" style="padding-top:0px;padding-bottom:16px">
    <v-divider></v-divider>
  </v-col>
</v-row>
    <v-tabs
      v-model="tab"
      background-color="transparent"
      next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows
      style="flex-grow: 0 !important;margin-top: -20px;"
    >
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew">{{
        $t(`menu.Basic`)
      }}</v-tab>
      <v-tab to="#tabs-information" id="innerExPannew">{{
        $t(`menu.Detail`)
      }}</v-tab>
      <v-tab to="#tabs-others" id="innerExPan">Others</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" touchless>
      <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">
        <div>
          <v-card class="my-2">
            <v-card-title>{{ $t(`menu.BasicInformation`) }}</v-card-title>
            <v-card-text>
              <div class="d-flex flex-column flex-sm-row">
                <div style="text-align:center">
                  <img
                    :src="imageSrc"
                    class="blue-grey lighten-4 rounded elevation-3"
                    aspect-ratio="1"
                    @click="ImageModal = true"
                    style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px "
                    id="logo"
                  />
                  <br />
                  <label>Branch Logo</label>
                </div>
                <div class="flex-grow-1 pt-2 pa-sm-2">
                  <v-row>
                    <v-col
                      cols="8"
                      md="8"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchName"
                        label="Branch Name"
                        placeholder="Branch Name"
                        style="padding-bottom:0px"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="4"
                      md="4"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchObject.BranchCode"
                        label="Branch Code"
                        placeholder="Branch Code"
                        style="padding-bottom:0px"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchObject.BranchNameArabic"
                        label="Name Arabic"
                        placeholder="Name Arabic"
                        style="padding-bottom:0px"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;  margin-top: -6px"
                    >
                      <v-textarea
                        label="Address"
                        rows="1.5"
                        v-model="BranchObject.Address"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchObject.Location"
                        label="Location"
                        hide-details
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Pin Code"
                        v-model="BranchObject.PINcode"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchObject.Phone"
                        label="Phone"
                        hide-details
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Fax"
                        v-model="BranchObject.Fax"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Mobile No"
                        v-model="BranchObject.Mobile"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-autocomplete
                        label="Country"
                         v-model="BranchObject.Country"
                        :items="Countries"

                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                   <v-row >
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
              <v-autocomplete label="State"
              :items="StateOptions"
             v-model="BranchObject.StateName"
             @change="SetStateCode()">
              <template v-slot:append-outer>
                  <!-- <v-icon style="font-size:18px !important">AED</v-icon> -->
                  <label style="font-size:18px !important;padding-top: 10px;color: rgb(0 128 0);"
                    >{{BranchObject.StateCode}}</label
                  >
                </template></v-autocomplete>
              </v-col>
              </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="BranchObject.Email"
                        :label="$t(`forgot.Email`)"
                        hide-details
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:15px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
                    >
                      <v-text-field
                        value=""
                        label="Email Password"
                        v-model="BranchObject.EmailPassword"
                         :type="show1 ? 'text' : 'Password'"
                         :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="show1 = !show1"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:15px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
                    >
                      <v-text-field
                        v-model="BranchObject.EmailHost"
                        label="Email Host"
                        hide-details
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Website"
                        v-model="BranchObject.Website"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </v-card-text>
          </v-card>
        </div>
      </v-tab-item>

      <!-- BasicTab Ensd heare -->

      <!-- Detail start heare -->

      <v-tab-item value="tabs-information">
        <v-card class="my-2">
          <v-card-title>{{ $t(`menu.DetailInformation`) }}</v-card-title>
          <v-card-text>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Register No"
                  v-model="BranchObject.RegisterNo"
                ></v-text-field>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="CRexpiryDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  style="z-index: 100000;"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="CRexpiryDate"
                      label="Expired on"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="CRexpiryDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"
                      >Cancel</v-btn
                    >
                    <v-btn text color="primary" @click="saveCRexpiryDate(CRexpiryDate)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Income TaxNo."
                  v-model="BranchObject.IncomeTaxNo"
                ></v-text-field>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="VAT RegNo.(TRN)"
                  v-model="BranchObject.TaxRegNo"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Barcode Heading"
                  v-model="BranchObject.BarcodeHeading"
                  auto-grow
                  rows="1"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Description"
                  auto-grow
                  rows="1"
                  v-model="BranchObject.Description"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Invoice Footer"
                  auto-grow
                  rows="1"
                  v-model="BranchObject.InvoiceFooter"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Bank Account Details"
                  auto-grow
                   rows="1"
                  v-model="BranchObject.BankAccDetails"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <!-- Detail ends heare -->

      <!-- otherstab start here -->
      <v-tab-item value="tabs-others">
        <v-card class="my-2">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                style="text-align:center;padding-top:0px;margin-top:-2px"
              >
                <label style="font-size:15px !important"><b>Currency</b></label>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -10px"
              >
                <v-combobox label="Primary" :items="CurrencyOptions"
               v-model="BranchObject.PrimaryCurrency"
               :disabled="isSignInDisabled"></v-combobox>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -10px"
              >
                <v-combobox label="Secondary" :items="CurrencyOptions"
               v-model="BranchObject.SecondCurrency"
               :disabled="isSignInDisabled"></v-combobox>
              </v-col>
            </v-row>
            <v-row no-getter>
              <v-col cols="12" style="padding-top:0px;margin-bottom:-10px">
                <v-divider></v-divider>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:5px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
              >
                <v-btn
                small
                :disabled="isSignInDisabled"
                text
                @click="goToCurrency"
                style="background-color:#2E7D32;color:#FFF"
              >
               New Currency</v-btn
                >
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="text-align:right;padding-top:5px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
              >
                 <v-btn
                small
                :disabled="isSignInDisabled"
                text
                @click="ExchangeRateModal = true"
                style="background-color:#FFC107;color:#FFF"
              >Exchange Rate</v-btn
                >
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="my-2">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Tax Portal API Username"
                  v-model="TaxAPItoken"
                   @change="UpdateSettingsValue('TaxAPItoken',$event)"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Portal Password"
                  v-model="BranchObject.taxPortalPass"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="my-2">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 0px;padding-bottom: 0px;text-align:left"
              >
                <v-switch
                   v-model="IsAccountsOnly"
                  flat
                  color="#64DD17"
                  label="Accounts Only (No Stock)"
                    @change="UpdateSettingsValue('IsAccountsOnly',$event)"
                >
                </v-switch>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 0px;padding-bottom: 0px;text-align:left"
              >
                <v-dialog
                  ref="menu1"
                  v-model="menu1"
                  :return-value.sync="BookBeginningDate"
                  persistent
                  width="290px"
                  style="z-index: 1000000;"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="BookBeginningDate"
                      label="Account books beginning from"
                      prepend-icon="event"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="BookBeginningDate" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu1 = false"
                      >Cancel</v-btn
                    >
                    <v-btn text color="primary" @click="saveBookBeginningDate(BookBeginningDate)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-dialog>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <!-- otherstab ensd heare -->
    </v-tabs-items>
    <fab
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @CallBranch="CallBranch"
      @ClearBranch="ClearBranch"
      @SaveBranch="SaveBranch"
      @DeleteBranch="DeleteBranch"
    ></fab>
    <v-dialog
      v-model="ImageModal"
      persistent
      max-width="300"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.ChooseBranchPhoto`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="12" md="12" lg="12" style="text-align:center">
            <input @change="uploadImage" type="file" name="photo" />
          </v-col>
        </v-row>
        <v-row style="padding-bottom:15px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="green">{{ $t(`common.save`) }}</v-btn>
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="#FFA726" @click="ImageModal = false">
              {{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>


    <v-dialog v-model="DeleteConfirmation_Branch" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_Branch = false"
            >
              {{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteBranch"
              >{{ $t(`dashboard.ok`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="DeleteConfirmation_Billwise" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_Billwise = false"
            >
              {{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="ExecuteDeleteBill">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="ExchangeRateModal"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="z-index: 100000!important;border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn
            style=" height: 30px;width: 30px"
            icon
            dark
            @click="ExchangeRateModal = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Exchange Rate</v-toolbar-title>
          <v-spacer></v-spacer>
          <!-- <v-toolbar-items>
            <v-btn dark text @click="dialog = false">Save</v-btn>
          </v-toolbar-items> -->
        </v-toolbar>
        <v-card-text style="padding-left:10px;padding-right:10px;">
          <v-row>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;"
            >
              <v-combobox
                type="text"
                label="Currency"
                dense
                prepend-icon="mdi-numeric-1-box"
               :items="CurrencyOptions"
               v-model="CurrencySymbol"
               @change="GetCurrency($event)"

              >
                <template v-slot:append-outer>
                  <v-icon style="font-size:18px !important">mdi-equal</v-icon>
                </template>
              </v-combobox>
            </v-col>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="margin-left:-7px !important;padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:1px; margin-bottom: -10px;"
            >
              <v-text-field solo dense v-model="ConversionRate">

                <template v-slot:append-outer>
                  <!-- <v-icon style="font-size:18px !important">AED</v-icon> -->
                  <label style="font-size:18px !important;padding-top:2px"
                    >{{BranchObject.PrimaryCurrency}}</label
                  >
                </template>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              col="12"
              md="12"
              sm="12 "
              style="padding-bottom:0px !important;padding-top: 5px !important;padding-right:15px;padding-left:15px; margin-bottom: -3px;"
            >
              <v-dialog
                ref="dialog"
                v-model="ExchangeDatemodal"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="FromDate"
                    label="From Date "
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  >
                    <template v-slot:append-outer>
                      <v-icon color="#33691E" style="font-size:37px" @click="SaveExchangeRate()"
                        >mdi-plus-box</v-icon
                      >
                    </template>
                  </v-text-field>
                </template>
                <v-date-picker v-model="FromDate" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal = false"
                    >Cancel</v-btn
                  >
                  <v-btn text color="primary" @click="$refs.dialog.save(FromDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              col="12"
              md="12"
              sm="12 "
              style="padding-bottom:10px !important;padding-top: 0px !important;"
            >
              <v-divider></v-divider>
            </v-col>
          </v-row>

          <div style=" max-height:380px; overflow:scroll;overflow-x: hidden;">
            <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>
            <v-row
              no-gutters
              style="    font-size: 10px;padding: 0px; background: #343a402e;"
            >
              <v-col cols="3" sm="3" class="slno1">
                Currency
              </v-col>
              <v-col cols="3" sm="3" class="slno">
                From Date
              </v-col>
              <v-col cols="4" sm="4" class="text-center">
                Exchange Rate
              </v-col>
              <v-col cols="2" sm="2" class="text-center"> </v-col>
            </v-row>
            <v-row
              no-gutters
              style="    font-size: 10px;text-align: left;padding: 2px;"
            >
              <v-expansion-panels>
                <v-expansion-panel class="ma-0" v-touch:tap="touchHandler">
                  <v-expansion-panel-header
                    expand-icon=""
                    v-for="(item, i) in loadexchangeRates"
                    :key="i"
                    style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;"
                  >
                    <v-row>
                      <v-col
                        cols="3"
                        sm="3"
                        class="slno1"
                        style="padding: 0px !important;"
                      >
                        <b>OMR</b>
                      </v-col>
                      <v-col
                        cols="3"
                        sm="3"
                        class="slno"
                        style="padding: 0px !important;"
                      >
                        <b>29-Jul-2022</b>
                      </v-col>

                      <v-col
                        cols="4"
                        sm="4"
                        style="padding: 0px !important;text-align:center"
                      >
                        <b>9.499999999525</b>
                      </v-col>

                      <v-col
                        cols="2"
                        sm="2"
                        style="padding: 0px !important; text-align:center"
                      >
                        <v-icon small color="#E53935">
                          mdi-delete
                        </v-icon>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-header>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-row>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>

        <v-dialog v-model="DeleteConfirmation_Branch" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Branch = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteBranch">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../translations/de";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab //,Assets
  },
  data() {
    return {
       show1: false,
      FromDate: new Date().toISOString().substr(0, 10),
      CRexpiryDate:new Date().toISOString().substr(0, 10),
      BookBeginningDate:new Date().toISOString().substr(0, 10),
      menu: false,
      menu1:false,
      switch1: true,
      modal: false,
      ExchangeDatemodal: false,
      ExchangeRateModal: false,
      ConversionRate:'',
      BranchName:'',
      CurrencyOptions: JSON.parse(localStorage.getItem("Currency")),
      ExchangeRateOptions: [],
      bURL: "",
      bURLPrint: "",
      RouteDeleteModal: false,
      sheet: false,
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      BranchObject: {},
      BranchObject: {},
      ExchangeRateObject:{},
      tab: null,
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "CallBranch",
            icon: "call",
            tooltip: this.$t(`menu.Call`)
          },

          {
            name: "DeleteBranch",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },
          {
            name: "ClearBranch",
            icon: "clear",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "SaveBranch",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      deleteDialog: false,
      disableDialog: false,
      // FromDate: "1990-10-09",
      menu: false,
      imageSrc:
        "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=",
      ImageModal: false,
      PrimaryCurrency:localStorage.getItem("PrimaryCurrency"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      timeout: 2000,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsMultiBarnch: false,
      Settings: JSON.parse(localStorage.getItem("Settings")),
      StateOptions: JSON.parse(localStorage.getItem("States")),
      StateObject: [],
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      Loaderdialog:false,
      DefaultBranch:"",
      Countries:[],
      CountryObject:[],
      DeleteConfirmation_Branch :false,
      isSignInDisabled :true,
      IsAccountsOnly:false
    };
  },
   computed: {


  },
  mounted() {
   // this.GetBranch();
     this.GetExchangeRates();
    // this.PreviousPage = localStorage.getItem("ActivePage");
    // this.BackToPage = localStorage.getItem("BackToPage");
    // if (this.BackToPage !== null) {
    //   this.PageUrl = "/dashboard/vouchers/" + this.BackToPage;
    //   history.pushState(null, null, Location.href);
    //   window.onpopstate = function() {
    //     Location.href = Location.origin + this.PageUrl;
    //   };
    // } else if (
    //   this.PreviousPage !== "BranchProfile" &&
    //   this.PreviousPage !== "BranchRegister"
    // ) {
    //   history.pushState(null, null, Location.href);
    //   window.onpopstate = function() {
    //     history.go(1);
    //   };
    // } else {
    //   history.pushState(null, null, Location.href);
    //   window.onpopstate = function() {
    //     Location.href =
    //       Location.origin + "/dashboard/registers/BranchRegister";
    //   };
    // }
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    // localStorage.setItem("ActivePage", "BranchProfile");
    localStorage.setItem('ActiveRoute','/dashboard/Settings/Branch')
    // localStorage.removeItem("VoucherUpdated");
    this.GetBranchCodes()
    this.GetStates()
    this.LoadAllCountries()

    this.DefaultBranch = localStorage.getItem("DeviceDefaultBCode");
    if(this.DefaultBranch!== null && this.DefaultBranch !== undefined && this.DefaultBranch !== "")
    {
      this.GetBranch(this.DefaultBranch)
    }
    this.SetPermission();
    this.BasicSettings();
    this.LoadAllCurrencies();


    this.AppName = localStorage.getItem("GetAppName");
    if (this.AppName === "EAI") this.GetStates();
    this.checkUrl();
  },
  methods: {

      GetCurrency(user) {
       this.EURL =  "https://api.exchangerate.host/convert?from="+user+"&to="+this.PrimaryCurrency;
      axios.get(this.EURL).then(
        response => {
          this.ConversionRate = response.data.result
        },
        error => {
          console.log(error);
        }
      );
    },
    LoadAllCountries() {
      this.Countries = []
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "country"
        )
        .then(
          response => {
            this.CountryObject = response.data
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.Countries.push(response.data[this.i].CountryName)

            }
             this.SetCountry()

          },
          error => {
            console.log(error);
          }
        );
    },
    GetStates()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + 'common/GetIndianStatesWithCode?IsStateCodeAsKey=false')
        .then((response)  =>  {
          this.StateOptions =[]
          this.StateObject = []
           for(var index in response.data) {
              this.StateOptions.push(index)
              this.obj = {
                "State" : index,
                 "Code" : response.data[index]
              }
              this.StateObject.push(this.obj)

          }
         localStorage.setItem('States',JSON.stringify(this.StateOptions))
       /*   if(this.AppName === "EAI")
        { */
         this.HomeStateCode = this.Settings.HomeStateCode
         var HomeStateName = Object.keys(response.data).find(key => response.data[key] === this.HomeStateCode);
         this.BranchObject.StateName = HomeStateName
          this.BranchObject.StateCode = this.Settings.HomeStateCode
         this.IsEAIApp = true

       /*  }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      } */
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(obj) {
      this.result = obj.result;
    },
     LoadAllCurrencies() {
      axios.get(this.bURL + "Currency/LoadAllCurrencies").then(
        response => {
          this.Currencylist = response.data;
        },
        error => {
          return;
        }
      );
    },
    goToCurrency() {
      this.$router.push("/dashboard/masters/Currency");
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
         this.logo = localStorage.getItem("Branchlogo");
      } else {
        // this.openSettings()
      }
    },
    // save(date) {
    //   this.$refs.menu.save(date);
    // },
    // save1(date1) {
    //   this.$refs.menu1.save(date1);
    // },
    saveCRexpiryDate(CRexpiryDate) {
      this.$refs.menu.save(CRexpiryDate);
    },
     saveBookBeginningDate(BookBeginningDate) {
      this.$refs.menu1.save(BookBeginningDate);
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.logo = e.target.result;
        this.logo = this.logo.replace("data:image/jpeg;base64,", "");
        this.logo = this.logo.replace("data:image/png;base64,", "");
        this.Photo = this.logo
        localStorage.setItem('Templogo',this.Photo);
        this.ImageModal = false
        document.getElementById("logo").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
    BasicSettings() {

      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;

      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }

      this.BranchObject.PrimaryCurrency = this.PrimaryCurrency


    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmBranch"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];

          },
          error => {
            console.log(error);
          }
        );
    },
    GetBranch(branchCode) {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.Loaderdialog = true
         axios.get (this.bURL + "Branch/GetBranchByBranchCode?BranchCode=" + branchCode)
        .then((response)  =>  {
            this.AssignObject(response.data);

            this.Loaderdialog = false
          },
          error => {
            console.log(error);
          }
        );
    },
    AssignObject(obj) {
      this.BranchName = obj.BranchName;
       this.BranchObject.BranchCode = obj.BranchCode;
      this.BranchObject.Address = obj.Address;
      this.BranchObject.Location = obj.Location;
      this.BranchObject.PINcode = obj.PINcode;
      this.BranchObject.StateCode = obj.StateCode;
      this.BranchObject.Phone = obj.Phone;
      this.BranchObject.Mobile = obj.Mobile;
      this.BranchObject.Fax = obj.Fax;
      this.BranchObject.Email = obj.Email;
      this.BranchObject.EmailPassword = obj.EmailPassword;
      this.BranchObject.EmailHost = obj.EmailHost;
      this.BranchObject.Website = obj.Website;
      this.BranchObject.RegisterNo = obj.RegisterNo;
      this.BranchObject.BarcodeHeading = obj.BarcodeHeading;
      this.BranchObject.IncomeTaxNo = obj.IncomeTaxNo;
       this.BranchObject.Description = obj.Description;
      document.getElementById("logo").src = 'data:image/jpeg;base64,' + obj.Logo;
      localStorage.setItem('Templogo',obj.Logo)
      this.BookBeginningDate = this.FormatDate(obj.BookBeginningDate);
      this.CRexpiryDate = this.FormatDate(obj.CRexpiryDate);
      this.BranchObject.BranchNameArabic = obj.BranchNameArabic;
      this.BranchObject.TaxRegNo = obj.TaxRegNo;
      this.BranchObject.InvoiceFooter = obj.InvoiceFooter;
      this.BranchObject.PrimaryCurrency = obj.PrimaryCurrency;
      this.BranchObject.SecondCurrency = obj.SecondCurrency;
      this.BranchObject.BankAccDetails = obj.BankAccDetails;
      this.BranchObject.TaxPortalUser = obj.TaxPortalUser;
      this.BranchObject.TaxPortalPass = obj.TaxPortalPass;
       for(this.i=0;this.i<this.CountryObject.length;this.i++)
            {
              if(obj.Country.toLowerCase() === this.CountryObject[this.i].Alpha2.toLowerCase())
              {
                 this.BranchObject.Country = this.CountryObject[this.i].CountryName;
                 break
              }
            }
              for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(obj.StateCode === this.StateObject[this.i].Code)
              {
                 this.BranchObject.StateName = this.StateObject[this.i].State;
                 break
              }
            }
            this.GetSettings()
      this.GetEncryptedswordPas()

    },
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces);
    },
    SaveExchangeRate() {
      this.ExchangeRateObject.CurrencySymbol = this.CurrencySymbol;
      this.ExchangeRateObject.FromDate = this.FromDate;
      this.ExchangeRateObject.ConversionRate = this.ConversionRate;
      if (
        this.CurrencySymbol === "" ||
        this.CurrencySymbol === undefined ||
        this.CurrencySymbol === null
      ) {
        this.SnackbarMessege = "Please Select Currency",
        this.snackbar = true;
        return;
      }
          axios
            .post(this.bURL + "/Currency/InsertExchangeRate?CurrencySymbol="+this.ExchangeRateObject.CurrencySymbol+"&FromDate="+this.ExchangeRateObject.FromDate+"&ConversionRate="+this.ExchangeRateObject.ConversionRate)
            .then(
              response => {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`);
                this.snackbar = true;
                // this.ClearBranch();
                this.GetExchangeRates()
                this.ClearExchangerate();
              },
              error => {
                console.log(error);
                this.isLoading = false;
                if (error.response === undefined) {
                  this.SnackbarMessege = this.$t(
                    `menu.CheckyourInternetConnection`
                  );
                } else if (error.response.data !== "") {
                  this.SnackbarMessege = error.response.data;
                } else {
                  this.SnackbarMessege = this.$t(
                    `menu.CheckyourInternetConnection`
                  );
                }
                this.snackbar = true;
              }
            );




    },

    CreateObject() {
      this.BranchObject.Logo = localStorage.getItem('Templogo')?localStorage.getItem('Templogo'):null
      this.BranchObject.BranchName = this.BranchName;
      this.BranchObject.Address = this.BranchObject.Address
        ? this.BranchObject.Address
        : "";
        this.BranchObject.BranchCode = this.BranchObject.BranchCode
        ? this.BranchObject.BranchCode
        : "";
      this.BranchObject.Location = this.BranchObject.Location
        ? this.BranchObject.Location
        : "";
      this.BranchObject.PINcode = this.BranchObject.PINcode
        ? this.BranchObject.PINcode
        : "";
      this.BranchObject.StateCode = this.BranchObject.StateCode
        ? this.BranchObject.StateCode
        : "";
      this.BranchObject.Phone = this.BranchObject.Phone
        ? this.BranchObject.Phone
        : "";
      this.BranchObject.Fax = this.BranchObject.Fax
        ? this.BranchObject.Fax
        : "";
      this.BranchObject.Mobile = this.BranchObject.Mobile
        ? this.BranchObject.Mobile
        : "";
      this.BranchObject.Email = this.BranchObject.Email
        ? this.BranchObject.Email
        : "";
      this.BranchObject.EmailPassword = this.BranchObject.EmailPassword
        ? this.BranchObject.EmailPassword
        : "";
      this.BranchObject.EmailHost= this.BranchObject.EmailHost
        ? this.BranchObject.EmailHost
        : "";
      this.BranchObject.Website = this.BranchObject.Website
        ? this.BranchObject.Website
        : "";
      this.BranchObject.RegisterNo = this.BranchObject.RegisterNo
        ? this.BranchObject.RegisterNo
        : "";
      this.BranchObject.BarcodeHeading = this.BranchObject.BarcodeHeading
        ? this.BranchObject.BarcodeHeading
        : "";
      this.BranchObject.IncomeTaxNo = this.BranchObject.IncomeTaxNo
        ? this.BranchObject.IncomeTaxNo
        : "";
      this.BranchObject.Description = this.BranchObject.Description
        ? this.BranchObject.Description
        : "";
        //  this.BranchObject.logo = this.BranchObject.logo  ? this.BranchObject.logo
        // : "";
          if(this.BranchObject.logo === "")
      {
        this.BranchObject.logo = null
      }
      this.BranchObject.BookBeginningDate = this.BookBeginningDate;
        this.BranchObject.CRexpiryDate = this.CRexpiryDate;
      this.BranchObject.BranchNameArabic = this.BranchObject.BranchNameArabic
        ? this.BranchObject.BranchNameArabic
        : "";
      this.BranchObject.TaxRegNo = this.BranchObject.TaxRegNo
        ? this.BranchObject.TaxRegNo
        : "";
         this.BranchObject.InvoiceFooter = this.BranchObject.InvoiceFooter
        ? this.BranchObject.InvoiceFooter
        : "";
      this.BranchObject.PrimaryCurrency = this.BranchObject.PrimaryCurrency
        ? this.BranchObject.PrimaryCurrency
        : "";
         this.BranchObject.SecondCurrency = this.BranchObject.SecondCurrency
        ? this.BranchObject.SecondCurrency
        : "";
      this.BranchObject.BankAccDetails = this.BranchObject.BankAccDetails
        ? this.BranchObject.BankAccDetails
        : "";
          this.BranchObject.TaxPortalUser = this.BranchObject.TaxPortalUser
        ? this.BranchObject.TaxPortalUser
        : "";

         for(this.i=0;this.i<this.CountryObject.length;this.i++)
            {
              if(this.BranchObject.Country === this.CountryObject[this.i].CountryName)
              {
                 this.BranchObject.Country = this.CountryObject[this.i].Alpha2;
                 break
              }
            }
            for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(this.BranchObject.StateName === this.StateObject[this.i].State)
              {
                 this.BranchObject.StateCode = this.StateObject[this.i].Code;
                 break
              }
            }

    },
    SaveBranch() {
      this.CreateObject();


      if (this.BranchName === "" ||
        this.BranchName === undefined ||
        this.BranchName === null)
        {
        this.SnackbarMessege = "Please Enter BranchName";
        this.snackbar = true;
        return;
        }
        if( this.BranchObject.BranchCode === ""||
        this.BranchObject.BranchCode === undefined ||
        this.BranchObject.BranchCode  === null)
        {
           this.SnackbarMessege = "Please Enter Branch code";
            this.snackbar = true;
            return;
        }
        if(this.DefaultBranch !== "" && this.DefaultBranch !== undefined && this.DefaultBranch !== null)
        {
           this.BranchPut()
        }
        else{
          this.BranchPost()
        }
    },
    BranchPost()
    {
        if (this.isCreatePermission === true) {
          axios
            .post(
              this.bURL +
                'Branch',this.BranchObject
            )
            .then(
              response => {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
                  this.snackbar = true
                  this.ClearBranch()
                  this.GetBranchCodes()
              },
              error => {
                console.log(error);
              }
            );
        }
        else{
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }

    },
    BranchPut()
    {
        if (this.isUpdatePermission === true) {
          axios
            .put(
              this.bURL +
                'Branch/' + this.DefaultBranch,this.BranchObject
            )
            .then(
              response => {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
                  this.snackbar = true
                  this.ClearBranch()
                  this.GetBranchCodes()
              },
              error => {
                console.log(error);
              }
            );
        }
        else{
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }

    },
    ClearBranch()
    {
      this.CRexpiryDate = new Date().toISOString().substr(0, 10),
      this.BookBeginningDate =  new Date().toISOString().substr(0, 10),
      this.DefaultBranch =  ""
       this.BranchObject.Logo = ""
       document.getElementById("logo").src= "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw="
       localStorage.removeItem('Templogo')
      this.BranchName = ""
      this.BranchObject.BranchCode = ""
      this.BranchObject.Address = ""
      this.BranchObject.Location = ""
      this.BranchObject.PINcode = ""
      this.BranchObject.StateCode = ""
      this.BranchObject.Phone = ""
      this.BranchObject.Fax = ""
      this.BranchObject.Mobile =""
      this.BranchObject.Email = ""
      this.BranchObject.EmailPassword = ""
      this.BranchObject.EmailHost= ""
      this.BranchObject.Website = ""
      this.BranchObject.RegisterNo = ""
      this.BranchObject.BarcodeHeading = ""
      this.BranchObject.IncomeTaxNo = ""
      this.BranchObject.Description = ""

      this.BranchObject.BookBeginningDate = this.BookBeginningDate;
        this.BranchObject.CRexpiryDate = this.CRexpiryDate;
      this.BranchObject.BranchNameArabic = ""

      this.BranchObject.TaxRegNo = ""
         this.BranchObject.InvoiceFooter = ""
      this.BranchObject.PrimaryCurrency = ""
         this.BranchObject.SecondCurrency = ""
      this.BranchObject.BankAccDetails = ""
          this.BranchObject.TaxPortalUser = ""
          this.BranchObject.Country = ""
          this.BranchObject.StateCode = ""
    },
     GetExchangeRates()
    {

       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + '/Currency/LoadExchangeRates')
        .then((response)  =>  {
          this.loadexchangeRates = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    ClearExchangerate()
    {
     this.CurrencySymbol = "";
     this.FromDate = new Date().toISOString().substr(0, 10);
     this.ConversionRate = "";
    },
     GetEncryptedswordPas()
     {
      this.UserData = ["1234567890"]
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post(this.bURL + 'Branch/GetBranchEmailPassword', this.UserData)
        .then((response)  =>  {
           this.BranchObject.EmailPassword = response.data
        }, (error)  =>  {
           console.log(error)
        })
    },
    SetDefaultBranch()
    {
      if(this.DefaultBranch === "" || this.DefaultBranch === undefined || this.DefaultBranch === null)
      {
          this.SnackbarMessege = "Select branch"
          this.snackbar = true
          return
      }
      localStorage.setItem("DeviceDefaultBCode",this.DefaultBranch)
      this.SnackbarMessege = "Success"
      this.snackbar = true
    },
     SetStateCode()
    {
       for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(this.BranchObject.StateName === this.StateObject[this.i].State)
              {
                 this.BranchObject.StateCode = this.StateObject[this.i].Code;
                 break
              }
            }
    },
    SetCountry()
    {
      this.CountryCode = localStorage.getItem('Country')
         for(this.i=0;this.i<this.CountryObject.length;this.i++)
            {
              if(this.CountryCode.toLowerCase() === this.CountryObject[this.i].Alpha2.toLowerCase())
              {
                 this.BranchObject.Country = this.CountryObject[this.i].CountryName;
                 break
              }
            }
    },
     GetBranchCodes()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'Branch')
        .then((response)  =>  {
          this.BranchCodeOptions = response.data
          localStorage.setItem('Branches', JSON.stringify(response.data))

        }, (error)  =>  {
          console.log(error)
        })
    },
 DeleteBranch()
    {
      if (this.DefaultBranch !== null  && this.DefaultBranch !== undefined  && this.DefaultBranch !== "")
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_Branch = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = this.$t(`menu.NoBranchtodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteBranch()
    {
      axios.delete( this.bURL + 'Branch/' + this.DefaultBranch)
        .then((response)  =>  {
          this.DeleteConfirmation_Branch = false
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.ClearBranch()
          this.GetBranchCodes()
        }, (error)  =>  {
          console.log(error)
        })
    },
       GetSettings()
    {

      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.Settings = response.data
            this.IsAccountsOnly = this.Settings.IsAccountsOnly
            if(this.IsAccountsOnly === "True")
              this.IsAccountsOnly = true
            else
              this.IsAccountsOnly = false

          this.TaxAPItoken = this.Settings.TaxAPItoken



        }, (error)  =>  {
          console.log(error)
        })
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        /* if (this.isUpdatePermission === true)
        { */
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
       /*  }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        } */
      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        this.Loaderdialog = true;
      if(this.BranchObject.BranchCode === "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchObject.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {

              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },
    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },


  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}
.v-application--is-rtl .Locationsnew1 {
  direction: rtl;

  text-align: left;

  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 12px !important;
}
.v-application--is-ltr .Locationsnew1 {
  text-align: right;

  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 12px !important;
}

.v-application--is-rtl .Locations1 {
  direction: rtl;

  text-align: right;
  padding-bottom: 0px;
  font-size: 12px !important;
}
.v-application--is-ltr .Locations1 {
  padding-bottom: 0px;
  text-align: left;
  font-size: 12px !important;
}
.v-application--is-rtl .setnew {
  direction: rtl;

  padding-right: 0px !important;
  padding-left: 12px;
}
.v-application--is-ltr .setnew {
  padding-right: 12px !important;
  padding-left: 0px;
}
.v-application--is-rtl .locate {
  direction: rtl;
  text-align: left;
}

.v-application--is-ltr .editn {
  text-align: left;
  padding-top: 10px !important;
  padding-right: 22px !important;
}
.v-application--is-rtl .editn {
  direction: rtl;
  text-align: left;
  padding-top: 10px !important;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetsnew {
  margin-left: -8px;
  text-align: left !important;
}
.v-application--is-rtl .assetsnew {
  direction: rtl;
  margin-right: -8px;
  text-align: right !important;
}

.v-application--is-ltr .assetcode {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.v-application--is-rtl .assetcode {
  direction: rtl;
  padding-right: 22px !important;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetcodenew {
  padding-right: 22px !important;
}
.v-application--is-rtl .assetcodenew {
  direction: rtl;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetc {
  padding-right: 5px !important;
  padding-left: 22px !important;
  text-align: left;
}
.v-application--is-rtl .assetc {
  direction: rtl;
  padding-left: 5px !important;
  padding-right: 22px !important;
  text-align: right;
}
.v-application--is-ltr .asseta {
  padding-right: 5px !important;
  padding-left: 22px !important;
  text-align: right !important;
}
.v-application--is-rtl .asseta {
  direction: rtl;
  padding-left: 22px !important;

  text-align: left !important;
}

.v-application--is-ltr .routef {
  padding-left: 18px !important;
  text-align: right !important;
}
.v-application--is-rtl .routef {
  direction: rtl;
  padding-right: 18px !important;
  text-align: left !important;
}
.v-application--is-ltr .scheduleName {
  padding-right: 18px !important;
  padding-left: 5px !important;
  text-align: right !important;
}
.v-application--is-rtl .scheduleName {
  direction: rtl;
  padding-left: 18px !important;
  padding-right: 5px !important;
  text-align: left !important;
}
.v-application--is-ltr .removeroute {
  padding-left: 10px !important;
}
.v-application--is-rtl .removeroute {
  direction: rtl;
  padding-right: 10px !important;
}

.v-application--is-ltr .newc {
  text-align: left;
  padding-left: 22px !important;
}
.v-application--is-rtl .newc {
  direction: rtl;
  text-align: right;
  padding-right: 22px !important;
}

.v-application--is-ltr .news {
  text-align: right;
  padding-right: 30px !important;
}
.v-application--is-rtl .news {
  direction: rtl;
  text-align: left;
  padding-left: 30px !important;
}
</style>
