<template>
  <div class="d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Category FOC</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
        <!--     <v-icon  color="primary" dark text style="padding-left: 30px;">mdi-content-save-all</v-icon>
            <v-icon color="primary" dark text  style="padding-left: 30px;">mdi-delete</v-icon>
            <v-icon color="primary" dark text style="padding-left: 30px;">mdi-plus-circle</v-icon> -->
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text style="padding-top:4px !important">
   <v-tabs v-model="tab"  background-color="cyan" dark next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows style="font-size:12px">
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew" style="padding-right:10px; font-size: 11px;padding-left: 4px;" @click="IsShowFabIcon = true">Promotions</v-tab>
      <v-tab to="#tabs-informationnew" id="innerExPannew2" style="font-size: 11px;" @click="IsShowFabIcon = false">Customer Under Promotions</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" touchless>

        <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:20px;    padding-bottom: 0px;
    margin-bottom: -12px;
    margin-top: -5px;padding-right: 18px; padding-left: 18px; " >
        <v-autocomplete
            :items="PromotionNameOptions"
            v-model="SearchPromotionName"
            dense
             label="Search Promotion Name"
              solo
              rounded
              append-icon="mdi-magnify"
              @change="GetCustomerCategoryFOC($event)"
          ></v-autocomplete>

          </v-col>
            </v-row>
            <v-divider></v-divider>
          <v-row>
              <v-col cols="12" style="padding-top: 17px;padding-bottom:0px">
                <v-text-field dense label="Promotion Name"   v-model="PromotionName" ></v-text-field>

              </v-col>

            </v-row>
            <v-row >
              <v-col cols="6" style="margin-top: -20px;">
                 <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="StartDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="StartDate"
            label="Start Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="StartDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetStartDate(StartDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>
               <v-col cols="6" style="margin-top: -20px;">
                 <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :return-value.sync="EndDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="EndDate"
            label="End Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="EndDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetEndDate(EndDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>

            </v-row>
              <v-row >
              <v-col cols="6" style="margin-top: -44px;   margin-bottom: 0px;">
      <v-autocomplete dense label="FOC Type"
      :items="FOCTypeOptions"
      v-model="FOCType">

      </v-autocomplete>
              </v-col>
              <v-col cols="6" style="margin-top: -44px;;text-align:right;margin-bottom: 0px;">
<v-switch label="Active Live" v-model="IsActive" ></v-switch>
              </v-col>
            </v-row>
                      <v-row >
              <v-col cols="12" style="margin-top: -51px;;   margin-bottom: 0px;">
      <v-autocomplete dense label="Branch Code"
      :items="BranchCodeOptions"
      v-model="FOCBranchCode"
       v-if="IsMultiBarnch"
       :disabled="IsDisableBranch"
       >

      </v-autocomplete>
              </v-col>

            </v-row>

              <v-expansion-panels
            style="padding-bottom:10px !important;padding-top:0px !important;margin-top: -27px;
    margin-bottom: 0px;"
          >
            <v-expansion-panel>
              <v-expansion-panel-header
                expand-icon=""

                style="max-height: 20px !important;min-height:20px"
              >
                <v-col
                  cols="12"
                  sm="12"
                  style="text-align: Center;font-size:12px;"
                >
                  <h6 style="font-size:12px;text-align:center;padding-top:7px;margin-left: -24px;">
                 Promotion Categories and FOC Details ({{CategoryFOCDetails.length}})
                  </h6>
                </v-col>
                <span
                  @click="FOCDetailsModal=true"
                  style="padding-left:12px;padding-right:0px"
                  class="plusbutton"
                  ><i class="fa fa-plus-square" aria-hidden="true"></i
                ></span>
              </v-expansion-panel-header>
              <v-expansion-panel-content id="innerExPan">
                <v-row
                  no-gutters
                  style="    font-size: 10px;padding: 2px; background: #343a402e;"
                >

                  <v-col cols="3" sm="3" class="slno">
                   FOC Category
                  </v-col>
                  <v-col cols="2" sm="2" class="text-center">
                Min Qty
                  </v-col>
                  <v-col cols="5" sm="5" class="slno">
                    {{ $t(`menu.ItemName`) }}
                  </v-col>

                     <v-col cols="2" sm="2" class="text-center">
                    FOC Qty
                  </v-col>
                </v-row>

                <v-row
                  no-gutters
                  style="font-size: 10px;text-align: left;padding: 2px; max-height:300px; overflow:scroll;overflow-x: hidden;"
                >
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item, i) in CategoryFOCDetails"
                      :key="i"
                      class="ma-0"
                      v-touch:tap="touchHandler"
                    >

                      <v-expansion-panel-header
                        expand-icon=""
                        class="itemheader"
                        style="min-height: 35px !important;font-size:10px!important;padding-left: 1px;
    padding-right: 1px;
    max-height: 35px;"
                      >
                        <v-col
                          cols="3"
                          sm="3"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.PromotionCategory}}</b>
                        </v-col>
                        <v-col
                          cols="2"
                          sm="2"
                          class="text-center"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.Quantity}}</b>
                        </v-col>
                        <v-col
                          cols="5"
                          sm="5"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.ItemName}}</b>
                        </v-col>

                          <v-col
                          cols="2"
                          sm="2"
                          class="text-center"

                        >

                        <b>{{item.FOC}}</b>
                        </v-col>

                      </v-expansion-panel-header>
                        <v-expansion-panel-content>
                    <v-col
                      cols="12"
                      sm="12"
                      style="padding: 0px !important; text-align: center !important;"
                    >
                      <b
                        style="text=align:center !important; text-transform:uppercase;"
                      >
                        {{item.ItemNameArabic}}</b
                      >
                    </v-col>
                    <hr style="margin-top: 0rem; margin-bottom: 5px;padding-right:0px" />
                    <v-row no-gutters style="    font-size: 10px;">
                      <v-col cols="3" sm="3">
                        {{ $t(`menu.Barcode`) }}<br />
                        <b>{{item.Barcode}}</b>
                      </v-col>
                      <v-col cols="3" sm="3" class="foc">
                        Item Code<br />
                        <b> {{item.ItemCode}}</b>
                      </v-col>
                       <v-col cols="2" sm="2" class="foc">
                        Unit<br />
                        <b>{{item.Unit}}</b>
                      </v-col>
                      <v-col cols="2" sm="2" class="foc">
                         <v-icon style="font-size: 14px !important;color:#009900;"
                            @click="EditItem(i)">mdi-pencil</v-icon>
                      </v-col>
                      <v-col cols="2" sm="2" class="foc">
                        <v-icon style="font-size: 14px !important;color:red;"
                            @click="DeleteItem(i)" >mdi-delete</v-icon
                          >
                      </v-col>
                    </v-row>
                  </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>

      </v-tab-item>

    <!-- BasicTab Ensd heare -->



        <!-- Detail start heare -->

      <v-tab-item value="tabs-informationnew">
         <v-card >
    <!-- <v-card-title>{{ $t(`menu.DetailInformation`) }}</v-card-title> -->
    <v-card-text style="    padding-right: 0px;
    padding-left: 0px;">
 <v-row>
      <v-col cols="12" style="padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: -24px;">
        <v-autocomplete
          v-model="selectedCustomer"
          :items="CustomerOptions"
          label="Customer"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedCustomer.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCustomer">
            <v-list-item-title>Selected all Customer </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCustomer">
            <v-list-item-title>Customer Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
      </v-col>
    </v-row>
     <v-row>
      <v-col cols="12" style="padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: -16px;">
        <v-autocomplete label="Category FOC Promotion name"  
        :items="PromotionNameOptions"
            v-model="SearchPromotionNameLink"
            @change="LoadCategoryFOCCustomerLinks($event)"
             outlined dense>  <template v-slot:append-outer>
        <v-btn
        @click="InsertCategoryFOCCustomerLinks()"  
                small

                style="background-color:rgb(40 167 69;color:#FFF"
              >
              Link
              </v-btn>

  </template></v-autocomplete>

      </v-col>
    </v-row>
     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
      <v-row no-gutters style="    font-size: 10px;padding: 0px; background: #343a402e;"  >
          <v-col cols="1" sm="1"  class="slno1">
      {{ $t(`menu.No`) }}
        </v-col>
        <v-col cols="3" sm="3"  class="slno">
      Code
        </v-col>
            <v-col cols="6" sm="6" class="slno">
          Customer Name
        </v-col>
          <v-col cols="2" sm="2" class="text-center">
        </v-col>
      </v-row>
  <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px;"  >
        <v-expansion-panels >
      <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >
       <!--  <v-row no-gutters>
          <v-col cols="12" style="text-align:left;margin-bottom: -6px;">
            <label>Promotion Name : <b>{{SearchPromotionNameLink}}</b> </label>
          </v-col>
        </v-row> -->
        <div style=" max-height:380px; overflow:scroll;overflow-x: hidden;">
      <v-expansion-panel-header expand-icon="" v-for="(item,i) in FOCCustomerLinks"  :key="i"  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;">
        <v-row>
            <v-col cols="1" sm="1" class="slno1"  style="padding: 0px !important;" >

    <b >{{i+1}}</b>
        </v-col>
        <v-col cols="3" sm="3"  class="slno" style="padding: 0px !important;" >

    <b >{{item.CustCode}}</b>
        </v-col>

        <v-col cols="6" sm="6" class="slno" style="padding: 0px !important;">

  <b >{{item.CustomerName}}</b>
        </v-col>

        <v-col cols="2" sm="2"  style="padding: 0px !important; text-align:center">

        <v-icon
        @click="DeleteFOCCustomerLinks(i)"
          small

          color="#E53935"

        >
          mdi-delete
        </v-icon>

        </v-col>

        </v-row>
 </v-expansion-panel-header>
 </div>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>
    </v-card-text>
  </v-card>
      </v-tab-item>

       <!-- Detail ends heare -->


    </v-tabs-items>


        </v-card-text>
      </v-card>



      <v-dialog
      v-model="FOCDetailsModal"
      persistent
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card >

        <h4
          style="text-align:center; padding-top:15px;color:rgb(0 99 145);"

        >
        FOC Details
        </h4>

        <v-card-text style="padding-right: 8px;
    padding-left: 8px;">
            <div style="max-height:50vh;overflow-x: hidden;width:100% ">
              <v-row>
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:10px;padding-bottom:0px;margin-bottom:0px;padding-right: 22px;"
                >
                  <v-autocomplete
                  :items="PromotionCategoryOptions"
                  v-model="PromotionCategory"
                    dense
                    label="FOC Category"
                  ></v-autocomplete>
                </v-col>
                   <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:10px;padding-bottom:0px;margin-bottom:0px;padding-right: 22px;"
                >
                  <v-text-field
                    dense
                    type="number"
                    label="Min Qty"
                    v-model="Quantity"


                  ></v-text-field>
                </v-col>
              </v-row>
                    <v-row>
                      <v-col
                        cols="5"
                        sm="5"
                        md="5"
                        style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                      >
                        <v-combobox
                          v-model="ItemCode"
                          :items="ItemCodeOptions"
                          :label="$t(`menu.ItemCode`)"
                          @change="GetItemByItemCode($event, true)"
                          ref="ItemCode"
                          :type="ItemCodeinputType"
                        ></v-combobox>
                      </v-col>
                      <v-col
                        cols="7"
                        sm="7"
                        md="7"
                        style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                      >
                        <v-combobox
                          v-model="this.Barcode"
                          :items="BarcodeOptions"
                          :label="$t(`menu.Barcode`)"
                          ref="Barcode"
                          @change="GetItemByBarcode($event, true)"
                        >
                          <template v-slot:append-outer>
                            <v-icon
                              style="padding-left: 12px;
    font-size: 25px;padding-top:5px"
                              @click="BarcodeModal = true"
                              >mdi-barcode</v-icon
                            >
                          </template>
                        </v-combobox>
                      </v-col>
                    </v-row>
                <v-row>
                  <v-col cols="12" sm="12" md="12" class="no-p" v-if="IsShowItemCodeError">
                    <label style="color:red" v-if="IsShowItemCodeError">
                      {{ $t(`menu.Itemcodedoesnotexist`) }}</label
                    >
                  </v-col>
                  <v-col cols="12" sm="12" md="12" class="no-p" v-if="IsShowBarcodeError">
                    <label style="color:red" v-if="IsShowBarcodeError">
                      {{ $t(`menu.Barcodedoesnotexist`) }}</label
                    >
                  </v-col>
                </v-row>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="12"
                        md="12"
                        style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;"
                      >
                        <v-autocomplete
                          v-model="ItemName"
                          :items="ItemsOptions"
                          :label="$t(`menu.Items`)"
                          @change="LoadUnits($event, true)"
                          ref="ItemName"
                        >
                          <template v-slot:append-outer>
                            <v-icon
                              color="teal"
                              style="font-size: 28px !important;
    padding-top: 7px !important;padding-left:10px"
                              @click="OpenItemSearchModal"
                              >mdi-magnify</v-icon
                            >
                          </template>
                        </v-autocomplete>
                      </v-col>

                    </v-row>
              <v-row >
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;;"
                >
                  <v-autocomplete
                    dense
                    v-model="Unit"
                    :items="ItemUnitsOptions"
                    :label="$t(`menu.Unit`)"
                    @change="SetPricebyUnit($event)"
                  ></v-autocomplete>
                </v-col>
                 <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;;padding-right: 22px"
                >
                 <v-text-field
                    dense
                    type="number"
                    label="FOC Qty"
                    v-model="FOC"
                    ref="FOC"
                  ></v-text-field>
                </v-col>
              </v-row>
                 <v-row no-gutters>
      <v-col cols="12" style="margin-top: -13px !important;">
        <v-switch label="Clear FOC details on save" v-model="IsClearFOCOnSave"></v-switch>
      </v-col>
    </v-row>
            </div>
            <div
              class="d-flex"
              style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
            >
              <v-btn
                depressed
                small
                style="    background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);"
                @click="FOCDetailsModal=false"
              >
                <v-icon center style="font-size: 25px; padding-left: 14px;"
                  >mdi-arrow-left</v-icon
                ></v-btn
              >
              <v-spacer></v-spacer>
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"
                v-if="!IsItemUpdate "
                @click="AddItem"
                ><v-icon left style="Font-size:25px !important;" class="mdiplus"
                  >mdi-plus</v-icon
                ></v-btn
              >
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"
                v-if="IsItemUpdate "
                @click="UpdateItem"
                ><v-icon
                  center
                  style="font-size:25px;
  "
                  >mdi-update</v-icon
                ></v-btn
              >
            </div>
        </v-card-text>
      </v-card>

              <v-dialog v-model="ItemSearchModal" persistent max-width="400">
                <v-card>
                  <v-card-title style="color:rgb(238,68,170)"> </v-card-title>
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="12" md="12" class="no-p">
                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                              type="text"
                              :label="$t('dashboard.Searchhere')"
                              v-model="Itemsearch"
                            >
                              <template v-slot:append-outer>
                                <v-icon
                                  color="teal"
                                  style="font-size: 28px !important;
    padding-top: 7px !important;"
                                  @click="RefreshItemObject"
                                  >mdi-refresh</v-icon
                                >
                              </template>
                            </v-text-field>
                          </v-col>

                        </v-row>
                      </v-col>
                    </v-row>

                    <div style="max-height:50vh;overflow-x: hidden; ">
                      <v-expansion-panels focusable style="padding-right: 7px;">
                        <v-expansion-panel
                          v-for="(item, i) in ItemResultQuery"
                          :key="i"
                        >
                          <v-expansion-panel-header>
                            <v-row no-gutters>
                              <v-col cols="6" sm="6" class="location">
                                <label
                                  style="padding-left:7px;font-size: 12px;"
                                  >{{ item.itemName }}</label
                                >
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label style="font-size: 12px;">{{
                                  item.itemCode
                                }}</label>
                              </v-col>
                            </v-row>
                          </v-expansion-panel-header>
                          <v-expansion-panel-content>
                            <v-row>
                              <v-col cols="6" sm="6" class="location">
                                <label>{{ $t(`menu.Barcode`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.barcode }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="location">
                                <label>{{ $t(`menu.ItemNameArabic`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.itemNameArabic }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="location">
                                <label> {{ $t(`menu.Address`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.Address }}</label>
                              </v-col>

                              <v-col
                                cols="12"
                                sm="12"
                                style="text-align: right; padding-right:5px"
                                @click="
                                  SetSearchResultToItem(
                                    item.itemName,
                                    item.itemId
                                  )
                                "
                              >
                                <v-btn
                                  small
                                  color="rgb(0 150 199)"
                                  style="color:#FFF"
                                  >{{ $t(`dashboard.ok`) }}</v-btn
                                >
                              </v-col>
                            </v-row>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </div>
                    <v-row>
                      <v-col cols="12">
                        <v-divider></v-divider>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col
                        cols="12"
                        style="padding-top:15px !important;text-align:right"
                      >
                        <v-btn
                          depressed
                          small
                          style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
                          @click="ItemSearchModal = false"
                        >
                          {{ $t(`common.cancel`) }}
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-dialog>

    </v-dialog>
        <!-- Barcodemodal start -->
    <v-dialog v-model="BarcodeModal" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{
          $t(`dashboard.Scanbarcode`)
        }}</v-card-title>
        <v-card-text>
          <StreamBarcodeReader
            @decode="onDecode"
            @loaded="onLoaded"
          ></StreamBarcodeReader>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="BarcodeModal = false">{{
            $t(`$vuetify.close`)
          }}</v-btn>
          <v-btn color="green darken-1" text @click="BarcodeModal = false">{{
            $t(`$vuetify.Agree`)
          }}</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

 <!-- barcode modal ends here -->
  <v-dialog v-model="ItemSearchModal" persistent max-width="400">
                <v-card>
                  <v-card-title style="color:rgb(238,68,170)"> </v-card-title>
                  <v-card-text>
                    <v-row>
                      <v-col cols="12" sm="12" md="12" class="no-p">
                        <v-row>
                          <v-col cols="12" sm="12" md="12">
                            <v-text-field
                              type="text"
                              :label="$t('dashboard.Searchhere')"
                              v-model="Itemsearch"
                            >
                              <template v-slot:append-outer>
                                <v-icon
                                  color="teal"
                                  style="font-size: 28px !important;
    padding-top: 7px !important;"
                                  @click="RefreshItemObject"
                                  >mdi-refresh</v-icon
                                >
                              </template>
                            </v-text-field>
                          </v-col>

                        </v-row>
                      </v-col>
                    </v-row>

                    <div style="max-height:50vh;overflow-x: hidden; ">
                      <v-expansion-panels focusable style="padding-right: 7px;">
                        <v-expansion-panel
                          v-for="(item, i) in ItemResultQuery"
                          :key="i"
                        >
                          <v-expansion-panel-header>
                            <v-row no-gutters>
                              <v-col cols="6" sm="6" class="location">
                                <label
                                  style="padding-left:7px;font-size: 12px;"
                                  >{{ item.itemName }}</label
                                >
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label style="font-size: 12px;">{{
                                  item.itemCode
                                }}</label>
                              </v-col>
                            </v-row>
                          </v-expansion-panel-header>
                          <v-expansion-panel-content>
                            <v-row>
                              <v-col cols="6" sm="6" class="location">
                                <label>{{ $t(`menu.Barcode`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.barcode }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="location">
                                <label>{{ $t(`menu.ItemNameArabic`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.itemNameArabic }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="location">
                                <label> {{ $t(`menu.Address`) }}</label>
                              </v-col>
                              <v-col cols="6" sm="6" class="locationnew">
                                <label>{{ item.Address }}</label>
                              </v-col>

                              <v-col
                                cols="12"
                                sm="12"
                                style="text-align: right; padding-right:5px"
                                @click="
                                  SetSearchResultToItem(
                                    item.itemName,
                                    item.itemId
                                  )
                                "
                              >
                                <v-btn
                                  small
                                  color="rgb(0 150 199)"
                                  style="color:#FFF"
                                  >{{ $t(`dashboard.ok`) }}</v-btn
                                >
                              </v-col>
                            </v-row>
                          </v-expansion-panel-content>
                        </v-expansion-panel>
                      </v-expansion-panels>
                    </div>
                    <v-row>
                      <v-col cols="12">
                        <v-divider></v-divider>
                      </v-col>
                    </v-row>
                    <v-row>
                      <v-col
                        cols="12"
                        style="padding-top:15px !important;text-align:right"
                      >
                        <v-btn
                          depressed
                          small
                          style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
                          @click="ItemSearchModal = false"
                        >
                          {{ $t(`common.cancel`) }}
                        </v-btn>
                      </v-col>
                    </v-row>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-dialog v-model="DeleteConfirmation_FOCDetails" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_FOCDetails = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteItem">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_CustomerCategoryFOC" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_CustomerCategoryFOC = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCustomerCategoryFOC()">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_FOCCustomerLinks" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_FOCCustomerLinks = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteFOCCustomerLinks()">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
                <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        absolute
        rounded="pill"
        color="rgb(0, 53, 94)"
        font-size="20px"
        style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>


      <div >
      <fab
        v-if="IsShowFabIcon"
        :fixed-tooltip="fab.tooltip"
        :position="fab.position"
        :bg-color="fab.bgColor"
        :padding="fab.padding"
        :margin-bottom="fab.marginbottom"
        :actions="fab.fabActions"
        :main-icon="fab.mainicon"
        :icon-size="fab.iconsize"
        :z-index="fab.zindex"
        @SaveFOC="SaveCustomerFOCDetails"
        @ClearFOC="ClearCustomerFOCDetails"
        @DeleteFOC="DeleteCustomerCategoryFOC"
      ></fab>
    </div>
  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import fab from "vue-fab";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { StreamBarcodeReader } from "vue-barcode-reader";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect,StreamBarcodeReader, fab, },
  data() {
    return {
      SnackbarMessege : '',
      snackbar : false,
      timeout : 2000,
      FOCDetailsModal:false,
      ItemSearchModal: false,
       BarcodeModal: false,
       tab: null,
      CategoriesNotmodal:false,
      Categoriesundermodal:false,
       
     fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        marginbottom: "50px",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "ClearFOC",
            icon: "cached",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "DeleteFOC",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },
          {
            name: "SaveFOC",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
    VoucherValidity: new Date().toISOString().substr(0, 10),
    StartDate: new Date().toISOString().substr(0, 10),
    EndDate:new Date().toISOString().substr(0, 10),
    IsActivePromotion : false,
    menu: false,
    menu1: false,
    menu2: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      ItemObject: JSON.parse(localStorage.getItem("Items")),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
      right: false,
      switch1: true,
      SearchPromotionName:"",
      SearchPromotionNameLink:"",
      PromotionNameObject:[],
      PromotionNameOptions:[],
      FOCType:"",
      FOCTypeOptions : ["Category","Fixed"],
      CustomerCategoryFOC:{},
      CategoryFOCDetails:[],
      PromotionName: "",
      PromotionId:-1,
      FOCBranchCode : "",
      IsActive : true,
      PromotionCategory:"",
      PromotionCategoryOptions:[],
      ItemCode:"",
      ItemCodeOptions:[],
      ItemName:"",
      ItemNameOptions:[],
      AltUnitId:-1,
      Unit:"",
      ItemUnitsOptions:[],
      IsClearFOCOnSave : true,
      IsDescendingConversion:false,
      IsItemUpdate:false,
      EditId:-1,
      DeleteId:-1,
      DeleteConfirmation_FOCDetails:false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      IsShowFabIcon:true,
      FOCCustomerLinks: [],
      DeleteConfirmation_CustomerCategoryFOC:false,
      CategoryFOCDeleteId:-1,
      CustomerOptions:JSON.parse(localStorage.getItem('Customers')),
      selectedCustomer:[],
      FOCCustomerLinksDeleteId :-1,
      DeleteConfirmation_FOCCustomerLinks : false

    };
  },
  computed: {
     likesAllCustomer () {
      return this.selectedCustomer.length === this.CustomerOptions.length
    },
    likesSomeCustomer () {
      return this.selectedCustomer.length > 0 && !this.likesAllCustomer
    },
    icon () {
      if (this.likesAllCustomer) return 'mdi-close-box'
      if (this.likesSomeCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.$router.push('/dashboard/settings/CategoryFOC#tabs-account')
    //this.TestApiCall()
     localStorage.setItem('ActiveRoute','/dashboard/settings/CategoryFOC')
    
    this.BasicSettings()
    this.SearchDropdowsBinding()
    this.GetSettings()
    this.LoadPromotions()
    this.LoadPromotionCategories()
    this.SetPermission()
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
     OpenItemSearchModal() {
      this.ItemSearchModal = true;
      //this.RefreshItemObject()
    },
     toggle () {
      this.$nextTick(() => {
        if (this.likesAllCustomer) {
          this.selectedCustomer = []
        } else {
          this.selectedCustomer = this.CustomerOptions.slice()
        }
      })
    },
    voucherssettings()
    {
this.$router.push('/dashboard/settings/SalesPromotion')
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
     BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";

        this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },
     SetPermission()
    {
      this.userType = localStorage.getItem("UserType");
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmSalesPromotion')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })
    },

     SearchDropdowsBinding(object) {
      this.BarcodeOptions = [];
      this.ItemsOptions = [];
      this.ItemCodeOptions = [];
      this.IsItemCodeString = false;
      for (this.i = 0; this.i < this.ItemObject.length; this.i++) {
        this.BarcodeOptions.push(this.ItemObject[this.i].barcode);
        this.ItemsOptions.push(this.ItemObject[this.i].itemName);

        if (this.IsItemCodeString === false) {
          if (!/[^a-zA-Z]/.test(this.ItemObject[this.i].itemCode))
            this.IsItemCodeString = true;
        }
        this.ItemCodeOptions.push(this.ItemObject[this.i].itemCode);
      }

      if (this.IsItemCodeString === true) this.ItemCodeinputType = "text";
      else this.ItemCodeinputType = "number";
    },
     GetItemByItemCode(ItemCode) {
      this.SearchObject = this.ItemObject;
      this.IsExist = false;
      this.SerchItemId = -1;
      for (this.i = 0; this.i < this.SearchObject.length; this.i++) {
        if (this.SearchObject[this.i].itemCode === ItemCode) {
          this.IsExist = true;
          this.SerchItemId = this.SearchObject[this.i].itemId;
          break;
        }
      }
      if (this.IsExist === true) {
        this.IsShowBarcodeError = false;
        this.IsShowItemCodeError = false;
        this.GetUnits(this.SerchItemId, true, false);
      } else {
        this.IsShowBarcodeError = false;
        this.IsShowItemCodeError = true;
        this.ItemName = "";
        this.Unit = "";
      }
    },
      GetItemByBarcode(barcode) {
      this.SearchObject = this.ItemObject;
      this.IsExist = false;
      this.SerchItemId = -1;
      for (this.i = 0; this.i < this.SearchObject.length; this.i++) {
        if (this.SearchObject[this.i].barcode === barcode) {
          this.IsExist = true;
          this.SerchItemId = this.SearchObject[this.i].itemId;
          break;
        }
      }
      if (this.IsExist === true) {
        this.IsShowBarcodeError = false;
        this.IsShowItemCodeError = false;
        this.GetUnits(this.SerchItemId, true, false);
      } else {
        this.IsShowBarcodeError = false;
        this.IsShowItemCodeError = true;
        this.ItemName = "";
        this.Unit = "";
      }
    },
     LoadUnits(event,IsFirst)
    {
      this.ItemId = -1
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].itemName === event)
        {
          this.ItemId = this.ItemObject[this.i].itemId
          this.GetUnits(this.ItemId , IsFirst)
        }
      }
    },
    GetUnits(ItemId,IsFirst)
    {
      this.Loaderdialog = true
      this.ItemUnitsOptions = []
      axios.get ( this.bURL + 'Item/GetAlternateUnitDetails?ItemId=' + ItemId + '&IsDescendingConversion=' + this.IsDescendingConversion)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.ItemUnitsObject = response.data
            this.pos = 0
          for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
          {
            this.ItemUnitsOptions.push(this.ItemUnitsObject[this.i].Unit)
          }
          this.ItemName = this.ItemUnitsObject[this.pos].ItemName
          if (IsFirst === true)
          {
            this.Unit = this.ItemUnitsOptions[this.pos]
          }
          this.error = true
          this.Barcode = this.ItemUnitsObject[this.pos].Barcode
          this.ItemCode = this.ItemUnitsObject[this.pos].ItemCode
           setTimeout(() => {
     this.$refs.FOC.focus();
  }, 200)
      ;
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Settings = response.data
           this.IsDescendingConversion = this.Settings.IsUnitDescendingConversion;
            if (this.IsDescendingConversion === "True") {
              this.IsDescendingConversion = true;
            } else {
              this.IsDescendingConversion = false;
            }
          this.Loaderdialog = false
           
        }, (error)  =>  {
          console.log(error)
        })
    },
     SetStartDate(StartDate)
    {
        this.$refs.menu.save(StartDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
     SetEndDate(EndDate)
    {
        this.$refs.menu1.save(EndDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        if (this.isUpdatePermission === true)
        {
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
        }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        }
      },
      UpdateSettingsValueDiscountVoucherOffer(SettingName)
      {
          this.SettingValue = ""
          if(this.IsActivePromotion === true)
            this.SettingValue += "1"
          else
            this.SettingValue += "0"

            const date = this.StartDate
            const  [year, month, day]= date.split('-');
            this.StartDate1 =[day, month, year] .join('/');
            this.StartDate1 += " " + "12:01:00 AM"
            this.SettingValue += "#" + this.StartDate1

             const date1 = this.EndDate
            const  [year1, month1, day1]= date.split('-');
            this.EndDate1 = [day1, month1, year1] .join('/');
            this.EndDate1 += " " + "11:59:00 PM"
            this.SettingValue += "#" + this.EndDate1


              this.TargetAmount = parseFloat(this.TargetAmount);
              this.flag = isNaN(this.TargetAmount);
              if (this.flag) {
                  this.TargetAmount = 0;
              }
              this.SettingValue += "#" + this.TargetAmount


              this.VoucherAmount = parseFloat(this.VoucherAmount);
              this.flag = isNaN(this.VoucherAmount);
              if (this.flag) {
                  this.VoucherAmount = 0;
              }
              this.SettingValue += "#" + this.VoucherAmount

            const date2 = this.VoucherValidity
            const  [year2, month2, day2]= date.split('-');
            this.VoucherValidity1 = [day2, month2, year2] .join('/');
            this.VoucherValidity1 += " " + "12:00:00 AM"
            this.SettingValue += "#" + this.VoucherValidity1

             this.SettingValue += "#" + this.Description

              this.SettingValue =  encodeURIComponent(this.SettingValue)

           this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)

      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        this.Loaderdialog = true;
      if(this.BranchCode == "All" || this.BranchCode == "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {

              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },
   LoadPromotions()
   {
    this.PromotionNameOptions = []
    this.AsOnDate = new Date().toISOString().substr(0, 10)
     axios
          .get(this.bURL + "CustomerFOC/LoadCategoryFOCPromotions")
          .then(
            response => {

              this.PromotionNameObject = response.data;
              this.PromotionNameOptions = []
              for(this.i=0;this.i<this.PromotionNameObject.length;this.i++)
              {
                  this.PromotionNameOptions.push(this.PromotionNameObject[this.i].PromotionName)
              }
            },
            error => {
              console.log(error);
            }
          );
   },
   LoadPromotionCategories()
   {
    this.AsOnDate = new Date().toISOString().substr(0, 10)
     axios
          .get(this.bURL + "CustomerFOC/LoadPromotionCategoryList")
          .then(
            response => {

             this.PromotionCategoryOptions = response.data
            },
            error => {
              console.log(error);
            }
          );
   },
    GetCustomerCategoryFOC(PromotionName)
   {
    this.PromotionId = -1
     for(this.i=0;this.i<this.PromotionNameObject.length;this.i++)
     {
        if(PromotionName === this.PromotionNameObject[this.i].PromotionName) 
        {
            this.PromotionId = this.PromotionNameObject[this.i].PromotionId
            break
        }         
     }
     this.Loaderdialog = true
     axios
          .get(this.bURL + "CustomerFOC/GetCustomerCategoryFOC?PromotionId=" + this.PromotionId)
          .then(
            response => {
              this.Loaderdialog = false
             this.CustomerCategoryFOC = response.data
             this.FOCBranchCode = this.CustomerCategoryFOC.BranchCode
             this.CategoryFOCDetails = this.CustomerCategoryFOC.CategoryFOCDetails
             this.IsActive = this.CustomerCategoryFOC.IsActive
             this.PromotionName = this.CustomerCategoryFOC.PromotionName
             this.PromotionId = this.CustomerCategoryFOC.PromotionId
             this.FOCItemSelection = this.CustomerCategoryFOC.FOCItemSelection
             this.StartDate = this.FormatDate(this.CustomerCategoryFOC.StartDate)
             this.EndDate = this.FormatDate(this.CustomerCategoryFOC.EndDate)
             if( this.FOCItemSelection === "C")
             {
                 this.FOCType = "Category"
             }
             else{
              this.FOCType = "All"
             }

            },
            error => {
              console.log(error);
            }
          );
   },

   // ************************************** Category FOC Details Functions ************************************ //
      AddItem()
    {
      this.CategoryFOCDetail = {}
      if (this.PromotionCategory === "" ||this.ItemName === undefined || this.Unit === undefined  || this.Quantity === 0 || this.FOC === 0 )
      {

        this.SnackbarMessege = this.$t(`menu.Pleaseentersufficientdetails`)
        this.snackbar = true
        return
      }
      else
      {
         this.ExecuteAddItem()
      }

    },
    ExecuteAddItem()
    {

        this.CategoryFOCDetail = {}

        this.CategoryFOCDetail.Quantity =this.Quantity 
        this.CategoryFOCDetail.FOC = this.FOC
        this.CategoryFOCDetail.PromotionCategory =  this.PromotionCategory
        for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
        {
          if (this.ItemUnitsObject[this.i].Unit === this.Unit)
          {
             this.CategoryFOCDetail.AltUnitId = this.ItemUnitsObject[this.i].AltUnitId
            this.CategoryFOCDetail.Unit = this.ItemUnitsObject[this.i].Unit
            this.CategoryFOCDetail.ItemName = this.ItemUnitsObject[this.i].ItemName
            this.CategoryFOCDetail.ItemId = this.ItemUnitsObject[this.i].ItemId
            this.CategoryFOCDetail.Barcode = this.ItemUnitsObject[this.i].Barcode
            this.CategoryFOCDetail.ItemNameArabic = this.ItemUnitsObject[this.i].ItemNameArabic
            this.CategoryFOCDetail.ItemCode = this.ItemUnitsObject[this.i].ItemCode
          }
        }
      this.CategoryFOCDetails.push(this.CategoryFOCDetail)
      localStorage.setItem('CategoryFOCDetails',JSON.stringify(this.CategoryFOCDetails))
      this.ClearItemModal()
      this.SalesItemInitialFocusControl = this.Settings.SalesItemInitialFocusControl
      if(this.SalesItemInitialFocusControl  === "ItemCode")
          this.$refs.ItemCode.focus();
      else if(this.SalesItemInitialFocusControl  === "ItemName")
          this.$refs.ItemName.focus();
      else if(this.SalesItemInitialFocusControl  === "Barcode")
          this.$refs.Barcode.focus();
         localStorage.setItem('VoucherUpdated','True')
    },

    EditItem(pos)
    {
      this.IsItemUpdate = true
      this.EditId = pos
      this.FOCDetailsModal = true
      this.Barcode = this.CategoryFOCDetails[pos].Barcode
     this.ItemName = this.CategoryFOCDetails[pos].ItemName
     this.Unit = this.CategoryFOCDetails[pos].Unit
     this.PromotionCategory = this.CategoryFOCDetails[pos].PromotionCategory

     this.Quantity = this.CategoryFOCDetails[pos].Quantity
     this.FOC = this.CategoryFOCDetails[pos].FOC
    this.GetUnits(this.CategoryFOCDetails[pos].ItemId ,false)
    },
   
    UpdateItem()
    {
      if (this.ItemName === undefined || this.Unit === undefined  || this.Quantity === 0 || this.FOC === 0 )
      {

        this.SnackbarMessege = this.$t(`menu.Pleaseentersufficientdetails`)
        this.snackbar = true
        return
      }
      else
      {
      this.CategoryFOCDetails[this.EditId].Unit = this.Unit
      this.CategoryFOCDetails[this.EditId].Quantity = parseFloat( this.Quantity )
      this.CategoryFOCDetails[this.EditId].FOC = parseFloat( this.FOC )
      this.CategoryFOCDetails[this.EditId].PromotionCategory = this.PromotionCategory

      for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
      {
        if (this.ItemUnitsObject[this.i].Unit === this.Unit)
        {
          this.CategoryFOCDetails[this.EditId].AltUnitId = this.ItemUnitsObject[this.i].AltUnitId
          this.CategoryFOCDetails[this.EditId].ItemName = this.ItemUnitsObject[this.i].ItemName
          this.CategoryFOCDetails[this.EditId].Barcode = this.ItemUnitsObject[this.i].Barcode
          this.CategoryFOCDetails[this.EditId].ItemNameArabic = this.ItemUnitsObject[this.i].ItemNameArabic
          this.CategoryFOCDetails[this.EditId].ItemCode = this.ItemUnitsObject[this.i].ItemCode
          this.CategoryFOCDetails[this.EditId].PromotionCategory = this.ItemUnitsObject[this.i].PromotionCategory

        }
      }
      localStorage.setItem('CategoryFOCDetails',JSON.stringify(this.CategoryFOCDetails))
      this.ClearItemModal()
     this.IsItemUpdate = false
       this.ClearItemModal()
         this.SalesItemInitialFocusControl = this.Settings.SalesItemInitialFocusControl
      if(this.SalesItemInitialFocusControl  === "ItemCode")
          this.$refs.ItemCode.focus();
      else if(this.SalesItemInitialFocusControl  === "ItemName")
          this.$refs.ItemName.focus();
      else if(this.SalesItemInitialFocusControl  === "Barcode")
          this.$refs.Barcode.focus();
      }
    },

    ClearItemModal()
    {
      this. EditId=-1,
       this.ItemCode = ''
      this.Barcode = ''
     this.ItemName = ''
     this.Unit = ''
     this.Quantity = ''
     this.FOC = 0
     this.PromotionCategory =""
     this.IsShowBarcodeError = false
    this.IsShowItemCodeError = false
     setTimeout(() => {
     if(this.SalesItemInitialFocusControl  === "ItemCode")
          this.$refs.ItemCode.focus();
      else if(this.SalesItemInitialFocusControl  === "ItemName")
          this.$refs.ItemName.focus();
      else if(this.SalesItemInitialFocusControl  === "Barcode")
          this.$refs.Barcode.focus();
  }, 200)
      ;
    },

     DeleteItem(pos)
    {
      this.DeleteId = pos
      this.DeleteConfirmation_FOCDetails = true
    },
    ExecuteDeleteItem()
    {
      this.CategoryFOCDetails.splice(this.DeleteId,1)
      this.FindPhysicalStockTotal()
      this.DeleteConfirmation_FOCDetails = false
    },
     // ************************************** Category FOC Details Functions ************************************ //
    CreateObject()
    {
         this.CustomerCategoryFOC = {
        "BranchCode" : this.FOCBranchCode?this.FOCBranchCode:"",
        "IsActive"   : this.IsActive?this.IsActive:false,
        "PromotionName" : this.PromotionName?this.PromotionName:"",
        "PromotionId" : this.PromotionId?this.PromotionId:"",
        "StartDate" : this.StartDate?this.StartDate:"",
        "EndDate" : this.EndDate?this.EndDate:"",
        "CategoryFOCDetails":[],
      }
      this.FOCItemSelection = ""
        if( this.FOCType === "Category")
        {
          this.FOCItemSelection = "C"
        }
        else{
          this.FOCTFOCItemSelectionype = "A"
        }
        this.CustomerCategoryFOC.FOCItemSelection = this.FOCItemSelection
      for(this.i=0;this.i<this.CategoryFOCDetails.length;this.i++)
      {
        this.CategoryFOCDetails[this.i].FOC = parseFloat( this.CategoryFOCDetails[this.i].FOC)
        this.CategoryFOCDetails[this.i].Amount = parseFloat( this.CategoryFOCDetails[this.i].Amount)
      }
      this.CustomerCategoryFOC.CategoryFOCDetails = this.CategoryFOCDetails
    },
    SaveCustomerFOCDetails()
    {
     this.CreateObject()
     if(this.CustomerCategoryFOC.BranchCode === "")
     {
        this.SnackbarMessege = "please select branch"
        this.snackbar = true
        return
     }
    if(this.CustomerCategoryFOC.FOCItemSelection === "")
     {
        this.SnackbarMessege = "please select FOC Type"
        this.snackbar = true
        return
     }
     if(this.CustomerCategoryFOC.StartDate === "")
     {
        this.SnackbarMessege = "please select Start date"
        this.snackbar = true
        return
     }
     if(this.CustomerCategoryFOC.EndDate === "")
     {
        this.SnackbarMessege = "please select End date"
        this.snackbar = true
        return
     }
      if(this.CustomerCategoryFOC.CategoryFOCDetails.length === 0)
     {
        this.SnackbarMessege = "please add FOC details"
        this.snackbar = true
        return
     }
     if(this.isUpdatePermission === true)
    {
     if(this.SearchPromotionName === "" && this.PromotionId === -1)
     {
        axios
        .post(this.bURL + "CustomerFOC/InsertCustomerCategoryFOC" , this.CustomerCategoryFOC)
        .then(
          response => 
          {
             this.SnackbarMessege = "Success"
             this.snackbar = true
             if(this.IsClearFOCOnSave === true)
             {
              this.ClearCustomerFOCDetails()
             }
              this.LoadPromotions()
          },
          error => {
              console.log(error);
          }
          );
      }
     else
     {
       
        axios
        .put(this.bURL + "CustomerFOC/UpdateCustomerCategoryFOC" , this.CustomerCategoryFOC)
        .then(
          response => 
          {
             this.SnackbarMessege = "Success"
             this.snackbar = true
             if(this.IsClearFOCOnSave === true)
             {
              this.ClearCustomerFOCDetails()
             }
             this.LoadPromotions()
          },
          error => {
              console.log(error);
          }
          );
     
     }
    }
    else
    {
            this.SnackbarMessege = "You have no permission"
            this.snackbar = true
            return
    }
    },
    DeleteCustomerCategoryFOC(PromotionName)
    {
       if(this.isUpdatePermission === true)
      {
        this.CategoryFOCDeleteId = -1
        for(this.i=0;this.i<this.PromotionNameObject.length;this.i++)
        {
          if(PromotionName === this.PromotionNameObject[this.i].PromotionName) 
          {
            this.CategoryFOCDeleteId = this.PromotionNameObject[this.i].PromotionId
            break
          }         
        }
     
          this.DeleteConfirmation_CustomerCategoryFOC = true
      }
      else{
          this.SnackbarMessege = "You have no permission"
          this.snackbar = true
      }
      
    },
    ExecuteDeleteCustomerCategoryFOC()
    {
        axios.get(this.bURL + 'CustomerFOC/DeleteCustomerCategoryFOC?PromotionId=' + this.CategoryFOCDeleteId)
        .then((response)  =>  {
          this.DeleteConfirmation_CustomerCategoryFOC = false
           this.SnackbarMessege = "Success"
          this.snackbar = true
          this.Loaderdialog = false
           
        }, (error)  =>  {
           this.SnackbarMessege = "Promotion in use"
          this.snackbar = true
        })
    },
    ClearCustomerFOCDetails()
    {
        this.CustomerCategoryFOC = {}
             this.FOCBranchCode = ""
             this.CategoryFOCDetails = []
             this.IsActive = true
             this.SearchPromotionName = ""
             this.PromotionName = ""
             this.PromotionId = -1
             this.FOCItemSelection = ""
             this.StartDate = new Date().toISOString().substr(0, 10)
             this.EndDate = new Date().toISOString().substr(0, 10)
             this.FOCType = ""
             this.CategoryFOCDeleteId = -1
             this.EditId = -1
    },

    // ************************************** Category FOC Customer Link Functions ************************************ //

    LoadCategoryFOCCustomerLinks(PromotionName)
    {
      this.FOCCustomerLinks = []
      this.LinkPromotionId = -1
      for(this.i=0;this.i<this.PromotionNameObject.length;this.i++)
      {
        if(PromotionName === this.PromotionNameObject[this.i].PromotionName) 
        {
            this.LinkPromotionId = this.PromotionNameObject[this.i].PromotionId
            break
        }         
      }
      this.Loaderdialog = true
       axios.get(this.bURL + 'CustomerFOC/LoadCategoryFOCCustomerLinks?PromotionId=' + this.LinkPromotionId)
        .then((response)  =>  {
          this.FOCCustomerLinks = response.data
          this.Loaderdialog = false
           
        }, (error)  =>  {
          console.log(error)
        })
    },

    InsertCategoryFOCCustomerLinks()
    {
      this.CustomerLinks = []
        if(this.selectedCustomer.length === 0)
        {
          this.SnackbarMessege = "Select Customer"
          this.snackbar = true
          return
        }
        if(this.SearchPromotionNameLink === 0)
        {
          this.SnackbarMessege = "Select Promotion"
          this.snackbar = true
          return
        }
      this.LinkPromotionId = -1
      for(this.i=0;this.i<this.PromotionNameObject.length;this.i++)
      {
        if(this.SearchPromotionNameLink === this.PromotionNameObject[this.i].PromotionName) 
        {
            this.LinkPromotionId = this.PromotionNameObject[this.i].PromotionId
            break
        }         
      }
        for(this.i=0;this.i<this.selectedCustomer.length;this.i++)
        {
           this.TempList = this.FOCCustomerLinks.filter(post => {
          return (
            post.CustomerName.toLowerCase().includes(this.selectedCustomer[this.i].toLowerCase())
          );
        }); 
          if(this.TempList.length === 0)
          {
            this.obj={
            "LinkId" : -1,
            "PromotionId" : this.LinkPromotionId,
            "CustomerName":this.selectedCustomer[this.i]
            }
            this.CustomerLinks.push(this.obj)
          }
          
        }
        if(this.CustomerLinks.length === 0)
        {
          this.SnackbarMessege = "Already added"
          this.snackbar = true
            return
        }
      for(this.i=0;this.i<this.CustomerLinks.length;this.i++)
      {
          this.FOCCustomerLinks.push(this.CustomerLinks[this.i])
      }
        this.ExecuteInsertion()
        
    },
    ExecuteInsertion()
    {
       this.Loaderdialog = true
       axios.post(this.bURL + 'CustomerFOC/InsertCategoryFOCCustomerLinks?PromotionId=' + this.LinkPromotionId,this.FOCCustomerLinks)
        .then((response)  =>  {
          this.LoadCategoryFOCCustomerLinks(this.SearchPromotionNameLink)
          this.SnackbarMessege = "Success"
          this.snackbar = true
          this.DeleteConfirmation_FOCCustomerLinks = false
        }, (error)  =>  {
            this.LoadCategoryFOCCustomerLinks(this.SearchPromotionNameLink)
            this.SnackbarMessege = "Failed"
            this.snackbar = true
        })
    },
    DeleteFOCCustomerLinks(id)
    {
      if(this.isUpdatePermission === true)
      {
          this.FOCCustomerLinksDeleteId = id
          this.DeleteConfirmation_FOCCustomerLinks = true
      }
      else
      {
         this.SnackbarMessege = "You have no permission"
          this.snackbar = true
      }
      
    },
    ExecuteDeleteFOCCustomerLinks()
    {
        this.FOCCustomerLinks.splice(this.FOCCustomerLinksDeleteId,1)
        this.ExecuteInsertion()
    },


    // ************************************** Category FOC Customer Link Functions ************************************ //

/* TestApiCall()
{
    const headers = {
      'Content-Type': 'application/json',
      'Authorization': 'Bearer ' + localStorage.getItem('Token')
}
       axios.get(this.bURL + 'Test/GetCurrencyDetails?Currency=omr',{
    headers: headers
  })
        .then((response)  =>  {
        }, (error)  =>  {
        })
}, */
    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },
     FormatDate(Value) {
      return Value.split("T")[0];
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },

  }
};
</script>
<style>
a:hover {

text-decoration-line: none;
}
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.innerExPan {
  border-radius: 6px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: inherit;
  box-shadow: none;
}
.v-expansion-panel-content__wrap {
  padding: 0px !important;
  flex: 1 1 auto;
  max-width: 100%;
}
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
