<template>
  <div class="d-flex  flex-column">
    <v-dialog
content-class="innerExPannew"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg"

            />

      </v-col>

    </v-row>

    </v-dialog>
        <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteExchangerate">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-tabs
      v-model="tab"
      background-color="transparent"
      next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows
      style="flex-grow: 0 !important;margin-top: -20px;"
    >
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew">{{
        $t(`menu.Basic`)
      }}</v-tab>
      <v-tab to="#tabs-information" id="innerExPannew">{{
        $t(`menu.Detail`)
      }}</v-tab>
      <v-tab to="#tabs-others" id="innerExPan">Others</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" touchless>
      <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">
        <div>
          <v-card class="my-2">
            <v-card-title>{{ $t(`menu.BasicInformation`) }}</v-card-title>
            <v-card-text>
              <div class="d-flex flex-column flex-sm-row">
                <div style="text-align:center">
                  <img
                    :src="imageSrc"
                    class="blue-grey lighten-4 rounded elevation-3"
                    aspect-ratio="1"
                    @click="ImageModal = true"
                    style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px "
                    id="logo"
                  />
                  <br />
                  <label>Company Logo</label>
                </div>
                <div class="flex-grow-1 pt-2 pa-sm-2">
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="companyName"
                        label="Company Name"
                        placeholder="Company Name"
                        style="padding-bottom:0px"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="CompanyObject.companyNameArabic"
                        label="Name Arabic"
                        placeholder="Name Arabic"
                        style="padding-bottom:0px"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;  margin-top: -6px"
                    >
                      <v-textarea
                        label="Company Address"
                        rows="1.5"
                        v-model="CompanyObject.address"
                      ></v-textarea>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="CompanyObject.location"
                        label="Location"
                        hide-details
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Pin Code"
                        v-model="CompanyObject.piNcode"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="CompanyObject.phone"
                        label="Phone"
                        hide-details
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Fax"
                        v-model="CompanyObject.fax"
                      ></v-text-field>
                    </v-col>
                  </v-row>

                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Mobile No"
                        v-model="CompanyObject.mobile"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-autocomplete
                        label="Country"
                        v-model="CompanyObject.countryName"
                        :items="Countries"

                      ></v-autocomplete>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        v-model="CompanyObject.email"
                        :label="$t(`forgot.email`)"
                        hide-details
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:15px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
                    >
                      <v-text-field
                        value=""
                        label="Email Password"
                        v-model="CompanyObject.emailPassword"
                         :type="show1 ? 'text' : 'Password'"
                         :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                          @click:append="show1 = !show1"
                      ></v-text-field>
                    </v-col>
                    <v-col
                      cols="6"
                      md="6"
                      style="padding-top:15px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
                    >
                      <v-text-field
                        v-model="CompanyObject.emailHost"
                        label="Email Host"
                        hide-details
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col
                      cols="12"
                      md="12"
                      style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
                    >
                      <v-text-field
                        value=""
                        label="Website"
                        v-model="CompanyObject.website"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </div>
              </div>
            </v-card-text>
          </v-card>
        </div>
      </v-tab-item>

      <!-- BasicTab Ensd heare -->

      <!-- Detail start heare -->

      <v-tab-item value="tabs-information">
        <v-card class="my-2">
          <v-card-title>{{ $t(`menu.DetailInformation`) }}</v-card-title>
          <v-card-text>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Register No"
                  v-model="CompanyObject.registerNo"
                ></v-text-field>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="cRexpiryDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px"
                  style="z-index: 100000;"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="cRexpiryDate"
                      label="Expired on"
                      readonly
                      v-bind="attrs"
                      v-on="on"

                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="cRexpiryDate" no-title scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu = false"
                      >Cancel</v-btn
                    >
                    <v-btn text color="primary" @click="savecRexpiryDate(cRexpiryDate)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-menu>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Income TaxNo."
                  v-model="CompanyObject.incomeTaxNo"
                ></v-text-field>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="VAT RegNo.(TRN)"
                  v-model="CompanyObject.taxRegNo"
                ></v-text-field>
              </v-col>
            </v-row>
              <v-row v-if="IsEAIApp">
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
              <v-autocomplete label="State"
              :items="StateOptions"
             v-model="CompanyObject.stateName"
             @change="SetStateCode()">
              <template v-slot:append-outer>
                  <!-- <v-icon style="font-size:18px !important">AED</v-icon> -->
                  <label style="font-size:18px !important;padding-top: 10px;color: rgb(0 128 0);"
                    >{{CompanyObject.stateCode}}</label
                  >
                </template></v-autocomplete>
              </v-col>
              </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Barcode Heading"
                  v-model="CompanyObject.barcodeHeading"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Description"
                  auto-grow
                  rows="1"
                  v-model="CompanyObject.description"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Invoice Footer"
                   auto-grow
                  rows="1"
                  v-model="CompanyObject.invoiceFooter"
                ></v-textarea>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-textarea
                  value=""
                  label="Bank Account Details"
                  auto-grow
                  rows="1"
                  v-model="CompanyObject.bankAccDetails"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <!-- Detail ends heare -->

      <!-- otherstab start here -->
      <v-tab-item value="tabs-others">
        <v-card class="my-2">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                style="text-align:center;padding-top:0px;margin-top:-2px"
              >
                <label style="font-size:15px !important"><b>Currency</b></label>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -10px"
              >
                <v-combobox label="Primary"
                :items="CurrencyOptions"
               v-model="CompanyObject.primaryCurrency"
               :disabled="isSignInDisabled"></v-combobox>
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -10px"
              >
                <v-combobox label="Secondary" :items="CurrencyOptions"
               v-model="CompanyObject.secondaryCurrency"
               :disabled="isSignInDisabled"></v-combobox>
              </v-col>
            </v-row>
            <v-row no-getter>
              <v-col cols="12" style="padding-top:0px;margin-bottom:-10px">
                <v-divider></v-divider>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                md="6"
                style="padding-top:5px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
              >
               <v-btn
                small
                :disabled="isSignInDisabled"
                text
                @click="goToCurrency"
                style="background-color:#2E7D32;color:#FFF"
              >
               New Currency</v-btn
                >
              </v-col>
              <v-col
                cols="6"
                md="6"
                style="text-align:right;padding-top:5px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px"
              >
                <v-btn
                small
                :disabled="isSignInDisabled"
                text
                @click="ExchangeRateModal = true"
                style="background-color:#FFC107;color:#FFF"
              >Exchange Rate</v-btn
                >
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="my-2">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Tax Portal API Username"
                  v-model="CompanyObject.taxPortalUser"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="12"
                style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;"
              >
                <v-text-field
                  value=""
                  label="Portal Password"
                  v-model="CompanyObject.taxPortalPass"
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="my-2">
          <v-card-text>
            <!-- <v-row>
              <v-col
                cols="12"
                style="padding-top: 0px;padding-bottom: 0px;text-align:left"
              >
                <v-switch
                  v-model="IsAccountsOnly"
                  flat
                  color="#64DD17"
                  label="Accounts Only (No Stock)"
                    @change="UpdateSettingsValue('IsAccountsOnly',$event)"
                >
                </v-switch>
              </v-col>
            </v-row> -->
            <v-row>
              <v-col
                cols="12"
                style="padding-top: 15px;padding-bottom: 0px;text-align:left"
              >
                <v-dialog
                  ref="menu1"
                  v-model="menu1"
                  :return-value.sync="bookBeginningDate"
                  persistent
                  width="290px"
                  style="z-index: 100000;"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="bookBeginningDate"
                      label="Account books beginning from"
                      prepend-icon="event"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="bookBeginningDate" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn text color="primary" @click="menu1 = false"
                      >Cancel</v-btn
                    >
                    <v-btn text color="primary" @click="savebookBeginningDate(bookBeginningDate)"
                      >OK</v-btn
                    >
                  </v-date-picker>
                </v-dialog>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>

      <!-- otherstab ensd heare -->
    </v-tabs-items>
    <fab
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @CallCustomer="CallCustomer"
      @ClearCustomer="ClearCustomer"
      @SaveCompany="SaveCompany"
      @DeleteCustomer="DeleteCustomer"
    ></fab>
    <v-dialog
      v-model="ImageModal"
      persistent
      max-width="300"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.ChooseCustomerPhoto`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="12" md="12" lg="12" style="text-align:center">
            <input @change="uploadImage" type="file" name="photo" />
          </v-col>
        </v-row>
        <v-row style="padding-bottom:15px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="green">{{ $t(`common.save`) }}</v-btn>
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="#FFA726" @click="ClearImage()">
              {{ $t(`common.clear`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>


    <v-dialog v-model="DeleteConfirmation_Customer" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_Customer = false"
            >
              {{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteCstomer"
              >{{ $t(`dashboard.ok`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="DeleteConfirmation_Billwise" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_Billwise = false"
            >
              {{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="ExecuteDeleteBill">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="ExchangeRateModal"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="z-index: 100000!important;border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar dark color="primary">
          <v-btn
            style=" height: 30px;width: 30px"
            icon
            dark
            @click="ExchangeRateModal = false"
          >
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Exchange Rate</v-toolbar-title>
          <v-spacer></v-spacer>
          <!-- <v-toolbar-items>
            <v-btn dark text @click="dialog = false">Save</v-btn>
          </v-toolbar-items> -->
        </v-toolbar>
        <v-card-text style="padding-left:10px;padding-right:10px;">
          <v-row>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;"
            >
              <v-combobox
                type="text"
                label="Currency"
                dense
                prepend-icon="mdi-numeric-1-box"
               :items="CurrencyOptions"
               v-model="CurrencySymbol"
               @change="GetCurrency($event)"

              >
                <template v-slot:append-outer>
                  <v-icon style="font-size:18px !important">mdi-equal</v-icon>
                </template>
              </v-combobox>
            </v-col>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="margin-left:-7px !important;padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:1px; margin-bottom: -10px;"
            >
              <v-text-field solo dense v-model="ConversionRate">

                <template v-slot:append-outer>
                  <!-- <v-icon style="font-size:18px !important">AED</v-icon> -->
                  <label style="font-size:18px !important;padding-top:2px"
                    >{{PrimaryCurrency}}</label
                  >
                </template>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              col="12"
              md="12"
              sm="12 "
              style="padding-bottom:0px !important;padding-top: 5px !important;padding-right:15px;padding-left:15px; margin-bottom: -3px;"
            >
              <v-dialog
                ref="dialog"
                v-model="ExchangeDatemodal"
                :return-value.sync="date"
                persistent
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="FromDate"
                    label="From Date "
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  >
                    <template v-slot:append-outer>
                      <v-icon color="#33691E" style="font-size:37px" @click="SaveExchangeRate()"
                        >mdi-plus-box</v-icon
                      >
                    </template>
                  </v-text-field>
                </template>
                <v-date-picker v-model="FromDate" scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="modal = false"
                    >Cancel</v-btn
                  >
                  <v-btn text color="primary" @click="$refs.dialog.save(FromDate)"
                    >OK</v-btn
                  >
                </v-date-picker>
              </v-dialog>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              col="12"
              md="12"
              sm="12 "
              style="padding-bottom:10px !important;padding-top: 0px !important;"
            >
              <v-divider></v-divider>
            </v-col>
          </v-row>
           <v-row no-gutters>
            <v-col cols="12" style="margin-bottom: -18px !important;">
               <v-text-field
            type="text"
          placeholder="Search Currency"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           ></v-text-field>
            </v-col>
          </v-row>
          <div style=" max-height:380px; overflow:scroll;overflow-x: hidden;">
            <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>

            <v-row
              no-gutters
              style="    font-size: 10px;padding: 0px; background: #343a402e;"
            >
              <v-col cols="3" sm="3" class="slno1">
                Currency
              </v-col>
              <v-col cols="3" sm="3" class="slno">
                From Date
              </v-col>
              <v-col cols="4" sm="4" class="text-center">
                Exchange Rate
              </v-col>
              <v-col cols="2" sm="2" class="text-center"> </v-col>
            </v-row>
            <v-row
              no-gutters
              style="    font-size: 10px;text-align: left;padding: 2px;"
            >
              <v-expansion-panels>
                <v-expansion-panel class="ma-0" v-touch:tap="touchHandler">
                  <v-expansion-panel-header
                    expand-icon=""
                    v-for="(item, i) in resultQuery"
                    :key="i"
                    style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;"
                  >
                    <v-row>
                      <v-col
                        cols="3"
                        sm="3"
                        class="slno1"
                        style="padding: 0px !important;padding-left:2px"
                      >
                        <b>{{item.CurrencySymbol}}</b>
                      </v-col>
                      <v-col
                        cols="3"
                        sm="3"
                        class="slno"
                        style="padding: 0px !important;"
                      >
                        <b>{{FormatDate(item.FromDate)}}</b>
                      </v-col>

                      <v-col
                        cols="4"
                        sm="4"
                        style="padding: 0px !important;text-align:center"
                      >
                        <b>{{item.ConversionRate}}</b>
                      </v-col>

                      <v-col
                        cols="2"
                        sm="2"
                        style="padding: 0px !important; text-align:center"
                      >
                        <v-icon small color="#E53935" @click="DeleteExchangeRate(item.ExchangeRateId)">
                          mdi-delete


                        </v-icon>
                      </v-col>
                    </v-row>
                  </v-expansion-panel-header>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-row>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../translations/de";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab //,Assets
  },
  data() {
    return {
      Deleteid:"",
      DeleteConfirmationModal:false,
       show1: false,
      FromDate: new Date().toISOString().substr(0, 10),
      cRexpiryDate:new Date().toISOString().substr(0, 10),
      bookBeginningDate:new Date().toISOString().substr(0, 10),
      menu: false,
      menu1:false,
      switch1: true,
      modal: false,
      ExchangeDatemodal: false,
      ExchangeRateModal: false,
      ConversionRate:'',
      companyName:'',
      CurrencyOptions: JSON.parse(localStorage.getItem("Currency")),
      ExchangeRateOptions: [],
      bURL: "",
      bURLPrint: "",
      RouteDeleteModal: false,
      sheet: false,
      items: ["Foo", "Bar", "Fizz", "Buzz"],
      CompanyObject: {},
      CompanyObject: {},
      ExchangeRateObject:{},
      tab: null,
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "CallCustomer",
            icon: "call",
            tooltip: this.$t(`menu.Call`)
          },

          {
            name: "DeleteCustomer",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },
          {
            name: "ClearCustomer",
            icon: "clear",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "SaveCompany",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      deleteDialog: false,
      disableDialog: false,
      // FromDate: "1990-10-09",
      menu: false,
      imageSrc:
        "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=",
      ImageModal: false,
      PrimaryCurrency:localStorage.getItem("PrimaryCurrency"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      timeout: 2000,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsMultiBarnch: false,
      Settings: JSON.parse(localStorage.getItem("Settings")),
      StateOptions: JSON.parse(localStorage.getItem("States")),
      StateObject: [],
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      loadexchangeRates:[],
      Loaderdialog:false,
      CountryObject:[],
      Countries:[],
      isSignInDisabled :true,
      IsAccountsOnly:false
    };
  },
   computed: {
     resultQuery() {
      this.loadexchangeRatesNew = []
      if(this.loadexchangeRates.length > 100)
      {
         this.loadexchangeRatesNew = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.loadexchangeRatesNew.push(this.loadexchangeRates[this.i])

        }
        return this.loadexchangeRatesNew
      }
      else{
         return this.loadexchangeRates

      }

    // else{
    //   if(this.IsUpdate === true)
    //   {
    //     this.IsShowCreateWarningModal = true
    //   }

    //   if(this.loadexchangeRates.length > 100)
    //   {
    //      this.loadexchangeRatesNewReturn = []
    //     for(this.i = 0; this.i < 100 ; this.i++ )
    //     {
    //        this.loadexchangeRatesNewReturn.push(this.Customers[this.i])

    //     }
    //     return this.loadexchangeRatesNewReturn
    //   }
    //   else{
    //      return this.loadexchangeRates
    //   }
    // }

    },

  },
  mounted() {
    this.LoadAllCountries()
     this.GetExchangeRates();
    // this.PreviousPage = localStorage.getItem("ActivePage");
    // this.BackToPage = localStorage.getItem("BackToPage");
    // if (this.BackToPage !== null) {
    //   this.PageUrl = "/dashboard/vouchers/" + this.BackToPage;
    //   history.pushState(null, null, location.href);
    //   window.onpopstate = function() {
    //     location.href = location.origin + this.PageUrl;
    //   };
    // } else if (
    //   this.PreviousPage !== "CustomerProfile" &&
    //   this.PreviousPage !== "CustomerRegister"
    // ) {
    //   history.pushState(null, null, location.href);
    //   window.onpopstate = function() {
    //     history.go(1);
    //   };
    // } else {
    //   history.pushState(null, null, location.href);
    //   window.onpopstate = function() {
    //     location.href =
    //       location.origin + "/dashboard/registers/customerRegister";
    //   };
    // }
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    // localStorage.setItem("ActivePage", "Company");
     localStorage.setItem('ActiveRoute','/dashboard/settings/Company')
    // localStorage.removeItem("VoucherUpdated");
    this.BranchCode = localStorage.getItem("BranchCode");
    this.GetSettings()
     this.GetStates()
    this.BasicSettings();
    this.LoadAllCurrencies();
    this.SetPermission();
    this.Loaderdialog = true
     setTimeout(() => {
        this.GetCompany();
      }, 2000);




    this.AppName = localStorage.getItem("GetAppName");
    if (this.AppName === "EAI") this.GetStates();
    this.checkUrl();
  },
  methods: {
       DeleteExchangeRate(ExchangeRateId)
    {

        if (this.isDeletePermission === true)
        {
          this.Deleteid = ExchangeRateId
          this.DeleteConfirmationModal = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      },
    ExecuteDeleteExchangerate()
    {
      axios.delete( this.bURL + '/Currency/DeleteExchangeRate?ExchangeRateId=' + this.Deleteid)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModal = false
          this.GetExchangeRates()
        },(error)  =>  {
          this.DeleteConfirmationModal = false
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },
     GetExchangeRates()
    {

       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + '/Currency/LoadExchangeRates')
        .then((response)  =>  {
          this.loadexchangeRates = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
      GetCurrency(user) {
       this.EURL =  "https://api.exchangerate.host/convert?from="+user+"&to="+this.PrimaryCurrency;
      axios.get(this.EURL).then(
        response => {
          this.ConversionRate = response.data.result
        },
        error => {
          console.log(error);
        }
      );
    },
    AssignObject(obj) {
      this.result = obj.result;
    },
     LoadAllCurrencies() {
      axios.get(this.bURL + "Currency/LoadAllCurrencies").then(
        response => {
          this.Currencylist = response.data;
        },
        error => {
          return;
        }
      );
    },
    goToCurrency() {
      this.$router.push("/dashboard/masters/Currency");
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
         this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },
    savecRexpiryDate(cRexpiryDate) {
      this.$refs.menu.save(cRexpiryDate);
    },
     savebookBeginningDate(bookBeginningDate) {
      this.$refs.menu1.save(bookBeginningDate);
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.logo = e.target.result;
        this.logo = this.logo.replace("data:image/jpeg;base64,", "");
        this.logo = this.logo.replace("data:image/png;base64,", "");
        this.Photo = this.logo
        localStorage.setItem('Templogo',this.Photo);
        this.ImageModal = false
        document.getElementById("logo").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
    ClearImage()
    {
        if(this.CompanyObject.OriginalLogo === "" || this.CompanyObject.OriginalLogo === undefined || this.CompanyObject.OriginalLogo === null)
        {
          this.imageSrc = "https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw="
        }
        else
        {
         this.imageSrc =  'data:image/jpeg;base64,' + this.CompanyObject.OriginalLogo
         document.getElementById("logo").src = this.imageSrc
        }
        this.ImageModal = false
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.CompanyObject.BranchCode = this.BranchCode;


      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;

      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }

      this.CompanyObject.primaryCurrency = this.PrimaryCurrency


    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmCompany"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];

          },
          error => {
            console.log(error);
          }
        );
    },
     LoadAllCountries() {
      this.Countries = []
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "country"
        )
        .then(
          response => {
            this.CountryObject = response.data
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.Countries.push(response.data[this.i].CountryName)

            }

          },
          error => {
            console.log(error);
          }
        );
    },
     GetStates()
    {
      this.StateObject = []
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + 'common/GetIndianStatesWithCode?IsStateCodeAsKey=false')
        .then((response)  =>  {
          this.StateOptions =[]
           for(var index in response.data) {
              this.StateOptions.push(index)
              this.obj = {
                "State" : index,
                 "Code" : response.data[index]
              }
              this.StateObject.push(this.obj)

          }

        }, (error)  =>  {
          console.log(error)
        })
    },
    GetCompany() {
       this.bURL = localStorage.getItem("CompanyURL")
       this.Loaderdialog = true
         axios.get (this.bURL + "/api/Company")
        .then((response)  =>  {
            this.AssignObject(response.data);
            this.Loaderdialog = false
          },
          error => {
            console.log(error);
          }
        );
    },
    AssignObject(obj) {
      this.companyName = obj.companyName;
      this.CompanyObject.address = obj.address;
      this.CompanyObject.location = obj.location;
      this.CompanyObject.piNcode = obj.piNcode;
      //this.CompanyObject.stateCode = obj.stateCode;
      this.CompanyObject.phone = obj.phone;
      this.CompanyObject.mobile = obj.mobile;
      this.CompanyObject.fax = obj.fax;
      this.CompanyObject.email = obj.email;
      this.CompanyObject.emailPassword = obj.emailPassword;
      this.CompanyObject.emailHost = obj.emailHost;
      this.CompanyObject.website = obj.website;
      this.CompanyObject.registerNo = obj.registerNo;
      this.CompanyObject.barcodeHeading = obj.barcodeHeading;
      this.CompanyObject.incomeTaxNo = obj.incomeTaxNo;
       this.CompanyObject.description = obj.description;
       this.CompanyObject.OriginalLogo = obj.logo;
      document.getElementById("logo").src = 'data:image/jpeg;base64,' + obj.logo;
      this.bookBeginningDate = this.FormatDate(obj.bookBeginningDate);
      this.cRexpiryDate = this.FormatDate(obj.cRexpiryDate);
      this.CompanyObject.companyNameArabic = obj.companyNameArabic;
      this.CompanyObject.taxRegNo = obj.taxRegNo;
      this.CompanyObject.invoiceFooter = obj.invoiceFooter;
      this.CompanyObject.primaryCurrency = obj.primaryCurrency;
      this.CompanyObject.secondaryCurrency = obj.secondaryCurrency;
      this.CompanyObject.bankAccDetails = obj.bankAccDetails;
      this.CompanyObject.taxPortalUser = obj.taxPortalUser;
      this.CompanyObject.taxPortalPass = obj.taxPortalPass;
            for(this.i=0;this.i<this.CountryObject.length;this.i++)
            {
              if(obj.country.toLowerCase() === this.CountryObject[this.i].Alpha2.toLowerCase())
              {
                 this.CompanyObject.country = obj.country;
                 this.CompanyObject.countryName = this.CountryObject[this.i].CountryName;
                 break
              }
            }
             for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(obj.stateCode === this.StateObject[this.i].Code)
              {
                 this.CompanyObject.stateName = this.StateObject[this.i].State;
                 break
              }
            }

      this.CompanyObject.stateCode =  obj.stateCode
      this.GetEncryptedswordPas()

    },
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces);
    },
    CreateObjectExchangeRate() {
      this.ExchangeRateObject.CurrencySymbol = this.CurrencySymbol;
      this.ExchangeRateObject.FromDate = this.FromDate;
      this.ExchangeRateObject.ExchangeRate = this.ConversionRate;
    },
    SaveExchangeRate() {
      // this.CreateObjectExchangeRate();
      // this.objnew =[
      // this.ExchangeRateObject.CurrencySymbol = this.CurrencySymbol,
      // this.ExchangeRateObject.FromDate = this.FromDate,
      // this.ExchangeRateObject.ConversionRate = this.ConversionRate]
      this.CreateObjectExchangeRate()
      if (
        this.CurrencySymbol === "" ||
        this.CurrencySymbol === undefined ||
        this.CurrencySymbol === null
      ) {
        this.SnackbarMessege = "Please enter all details",
        this.snackbar = true;
        return;
      }
          axios
            .post(this.bURL + "/Currency/InsertExchangeRate",this.ExchangeRateObject)
            .then(
              response => {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`);
                this.snackbar = true;
                // this.ClearCustomer();
                this.GetExchangeRates();
                this.ClearExchangerate();
              },
              error => {
                console.log(error);
                this.isLoading = false;
                if (error.response === undefined) {
                  this.SnackbarMessege = this.$t(
                    `menu.CheckyourInternetConnection`
                  );
                } else if (error.response.data !== "") {
                  this.SnackbarMessege = error.response.data;
                } else {
                  this.SnackbarMessege = this.$t(
                    `menu.CheckyourInternetConnection`
                  );
                }
                this.snackbar = true;
              }
            );




    },

    CreateObject() {
      this.CompanyObject.logo = localStorage.getItem('Templogo')?localStorage.getItem('Templogo'):null
      this.CompanyObject.companyName = this.companyName;
      this.CompanyObject.address = this.CompanyObject.address
        ? this.CompanyObject.address
        : "";
      this.CompanyObject.location = this.CompanyObject.location
        ? this.CompanyObject.location
        : "";
      this.CompanyObject.piNcode = this.CompanyObject.piNcode
        ? this.CompanyObject.piNcode
        : "";
      this.CompanyObject.phone = this.CompanyObject.phone
        ? this.CompanyObject.phone
        : "";
      this.CompanyObject.fax = this.CompanyObject.fax
            ? this.CompanyObject.fax
        : "";
      this.CompanyObject.mobile = this.CompanyObject.mobile
        ? this.CompanyObject.mobile
        : "";
      this.CompanyObject.email = this.CompanyObject.email
        ? this.CompanyObject.email
        : "";
      this.CompanyObject.emailPassword = this.CompanyObject.emailPassword
        ? this.CompanyObject.emailPassword
        : "";
      this.CompanyObject.emailHost= this.CompanyObject.emailHost
        ? this.CompanyObject.emailHost
        : "";
      this.CompanyObject.website = this.CompanyObject.website
        ? this.CompanyObject.website
        : "";
      this.CompanyObject.registerNo = this.CompanyObject.registerNo
        ? this.CompanyObject.registerNo
        : "";
      this.CompanyObject.barcodeHeading = this.CompanyObject.barcodeHeading
        ? this.CompanyObject.barcodeHeading
        : "";
      this.CompanyObject.incomeTaxNo = this.CompanyObject.incomeTaxNo
        ? this.CompanyObject.incomeTaxNo
        : "";
      this.CompanyObject.description = this.CompanyObject.description
        ? this.CompanyObject.description
        : "";
        //  this.CompanyObject.logo = this.CompanyObject.logo  ? this.CompanyObject.logo
        // : "";
      if(this.CompanyObject.logo === "")
      {
        this.CompanyObject.logo = null
      }
      this.CompanyObject.bookBeginningDate = this.bookBeginningDate;
        this.CompanyObject.cRexpiryDate = this.cRexpiryDate;
      this.CompanyObject.companyNameArabic = this.CompanyObject.companyNameArabic
        ? this.CompanyObject.companyNameArabic
        : "";
      this.CompanyObject.taxRegNo = this.CompanyObject.taxRegNo
        ? this.CompanyObject.taxRegNo
        : "";
         this.CompanyObject.invoiceFooter = this.CompanyObject.invoiceFooter
        ? this.CompanyObject.invoiceFooter
        : "";
      this.CompanyObject.primaryCurrency = this.CompanyObject.primaryCurrency
        ? this.CompanyObject.primaryCurrency
        : "";
         this.CompanyObject.secondaryCurrency = this.CompanyObject.secondaryCurrency
        ? this.CompanyObject.secondaryCurrency
        : "";
      this.CompanyObject.bankAccDetails = this.CompanyObject.bankAccDetails
        ? this.CompanyObject.bankAccDetails
        : "";
          this.CompanyObject.taxPortalUser = this.CompanyObject.taxPortalUser
        ? this.CompanyObject.taxPortalUser
        : "";
      this.CompanyObject.bankAccDetails = this.CompanyObject.bankAccDetails
        ? this.CompanyObject.bankAccDetails
        : "";
         for(this.i=0;this.i<this.CountryObject.length;this.i++)
            {
              if(this.CompanyObject.countryName === this.CountryObject[this.i].CountryName)
              {
                 this.CompanyObject.country = this.CountryObject[this.i].Alpha2;
                 break
              }
            }
            for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(this.CompanyObject.stateName === this.StateObject[this.i].State)
              {
                 this.CompanyObject.stateCode = this.StateObject[this.i].Code;
                 break
              }
            }

    },
    SaveCompany() {
         this.CreateObject()
      if (

        this.companyName === "" ||
        this.companyName === undefined ||
        this.companyName === null

      ) {
        this.SnackbarMessege = "Please Enter CompanyName";
        this.snackbar = true;
        return;
      }
      localStorage.setItem('CompanyObjevt', JSON.stringify(this.CompanyObject))
        if (this.isUpdatePermission === true) {
          axios
            .put(
              this.bURL +
                'Company',this.CompanyObject
            )
            .then(
              response => {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
                  this.snackbar = true

              },
              error => {
                console.log(error);
              }
            );
        }
        else{
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }

    },

    ClearExchangerate()
    {
     this.CurrencySymbol="";
     this.FromDate="";
     this.ConversionRate="";
    },
     GetEncryptedswordPas()
     {
      this.UserData = ["1234567890"]
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post(this.bURL + 'Company/GetEmailPassword', this.UserData)
        .then((response)  =>  {
           this.CompanyObject.emailPassword = response.data
        }, (error)  =>  {
           console.log(error)
        })
    },
    SetStateCode()
    {
       for(this.i=0;this.i<this.StateObject.length;this.i++)
            {
              if(this.CompanyObject.stateName === this.StateObject[this.i].State)
              {
                 this.CompanyObject.stateCode = this.StateObject[this.i].Code;
                 break
              }
            }
    },
      GetSettings()
    {

      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.Settings = response.data
            this.IsAccountsOnly = this.Settings.IsAccountsOnly
            if(this.IsAccountsOnly === "True")
              this.IsAccountsOnly = true
            else
              this.IsAccountsOnly = false



        }, (error)  =>  {
          console.log(error)
        })
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        /* if (this.isUpdatePermission === true)
        { */
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
       /*  }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        } */
      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        this.Loaderdialog = true;
      if(this.BranchCode == "All" || this.BranchCode == "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {

              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },


  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}
.v-application--is-rtl .locationsnew1 {
  direction: rtl;

  text-align: left;

  padding-left: 0px;
  padding-bottom: 0px;
  font-size: 12px !important;
}
.v-application--is-ltr .locationsnew1 {
  text-align: right;

  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 12px !important;
}

.v-application--is-rtl .locations1 {
  direction: rtl;

  text-align: right;
  padding-bottom: 0px;
  font-size: 12px !important;
}
.v-application--is-ltr .locations1 {
  padding-bottom: 0px;
  text-align: left;
  font-size: 12px !important;
}
.v-application--is-rtl .setnew {
  direction: rtl;

  padding-right: 0px !important;
  padding-left: 12px;
}
.v-application--is-ltr .setnew {
  padding-right: 12px !important;
  padding-left: 0px;
}
.v-application--is-rtl .locate {
  direction: rtl;
  text-align: left;
}

.v-application--is-ltr .editn {
  text-align: left;
  padding-top: 10px !important;
  padding-right: 22px !important;
}
.v-application--is-rtl .editn {
  direction: rtl;
  text-align: left;
  padding-top: 10px !important;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetsnew {
  margin-left: -8px;
  text-align: left !important;
}
.v-application--is-rtl .assetsnew {
  direction: rtl;
  margin-right: -8px;
  text-align: right !important;
}

.v-application--is-ltr .assetcode {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.v-application--is-rtl .assetcode {
  direction: rtl;
  padding-right: 22px !important;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetcodenew {
  padding-right: 22px !important;
}
.v-application--is-rtl .assetcodenew {
  direction: rtl;
  padding-left: 22px !important;
}

.v-application--is-ltr .assetc {
  padding-right: 5px !important;
  padding-left: 22px !important;
  text-align: left;
}
.v-application--is-rtl .assetc {
  direction: rtl;
  padding-left: 5px !important;
  padding-right: 22px !important;
  text-align: right;
}
.v-application--is-ltr .asseta {
  padding-right: 5px !important;
  padding-left: 22px !important;
  text-align: right !important;
}
.v-application--is-rtl .asseta {
  direction: rtl;
  padding-left: 22px !important;

  text-align: left !important;
}

.v-application--is-ltr .routef {
  padding-left: 18px !important;
  text-align: right !important;
}
.v-application--is-rtl .routef {
  direction: rtl;
  padding-right: 18px !important;
  text-align: left !important;
}
.v-application--is-ltr .scheduleName {
  padding-right: 18px !important;
  padding-left: 5px !important;
  text-align: right !important;
}
.v-application--is-rtl .scheduleName {
  direction: rtl;
  padding-left: 18px !important;
  padding-right: 5px !important;
  text-align: left !important;
}
.v-application--is-ltr .removeroute {
  padding-left: 10px !important;
}
.v-application--is-rtl .removeroute {
  direction: rtl;
  padding-right: 10px !important;
}

.v-application--is-ltr .newc {
  text-align: left;
  padding-left: 22px !important;
}
.v-application--is-rtl .newc {
  direction: rtl;
  text-align: right;
  padding-right: 22px !important;
}

.v-application--is-ltr .news {
  text-align: right;
  padding-right: 30px !important;
}
.v-application--is-rtl .news {
  direction: rtl;
  text-align: left;
  padding-left: 30px !important;
}
</style>
