<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->

    <!--  <div  v-if="NoContent" style="padding-bottom:10px !important">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div> -->
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>

    <v-btn ref="button" class="drawer-button" color="rgb(0 99 145)" dark @click="right = true"
      style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;">
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
    <v-navigation-drawer v-model="right" fixed right hide-overlay temporary width="350">
      <div class="d-flex align-center pa-2">
        <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider style="padding-top: 0px;padding-bottom: 0px;    margin-top: 0px;
    margin-bottom: 4px;"></v-divider>
      <div class="container-fluid">
        <div class="row">
          <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
            <v-switch v-model="IsLocked" style="float:left;margin-top: 15px;" inset label="Customer Signed"></v-switch>
          </div>
            <div class="col-12" style="padding-bottom:6px;padding-top: 0px; !importent">
                    <v-autocomplete
                         outlined
                          dense
                          :label="$t(`menu.BranchCode`)"
                              style="margin-bottom: -12px !important"

                        ></v-autocomplete>
                        </div>

          <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

            <div class="form-group" style="margin-top: -17px;">
              <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
              <input v-model="vm.FromDate" type="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="todate">{{ $t(`dashboard.To`) }} :</label>
              <input v-model="vm.ToDate" type="date" class="form-control">
            </div>

            <div style="text-align:right">
              <v-btn class="btn btn-primary btn-sm pull-right" :loading="isLoading" text @click="SearchVoucher"
                style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF">
                {{ $t(`menu.View`) }}
              </v-btn>
            </div>
          </div>
        </div>
      </div>

    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
      <div style="margin-bottom: -23px;margin-top: -23px;text-align:center" v-show="showhide">
        <v-row style="padding-top:0px">
          <v-col cols="12" style="padding-top: 0px;">
            <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ">Customer Signed Sales</h4>
          </v-col>
        </v-row>
      </div>

      <div class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 0px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
        <v-row no-gutters>
          <v-col cols="7" style="text-align:left;
    ">
            <span style="color:#FFF;font-size: 15px;text-align:right;">
              Total Vouchers: <b>{{ TotalDeliveryNotes }}</b></span>

          </v-col>
          <v-col cols="5" style="text-align:left;">
            <v-btn small depressed color="#FFF" style="color:rgb(0 99 145); box-shadow: 1px 1px 18px rgb(0 99 145);height: 24px;
    min-width: 120px;" >
    <span style="    margin-left: -13px;">
    Set Signed</span>
        <v-icon style="font-size:13px !important;color:rgb(0 99 145);padding-left: 23px;" right dark>mdi-check-decagram</v-icon>
                </v-btn>

          </v-col>


        </v-row>
        <v-row no-gutters>

          <v-col class="switchnew" cols="7" @click="SelectAllVoucher()" style="text-align:left;    margin-bottom: -13px;
    ">

            <v-switch label="select All" v-model="SelectAll" inset color="#FFF"></v-switch>
          </v-col>


  <v-col cols="5" style="text-align:left;padding-top: 12px;
    ">

            <v-btn small color="#FFF" style="color:#E53935; box-shadow: 1px 1px 18px #E53935;height: 24px;
    min-width: 38px;">
        Set Unsigned
    <v-icon style="font-size:13px !important;color:#E53935" right dark>mdi-close-circle</v-icon></v-btn>

          </v-col>


        </v-row>
      </div>
      <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
          <v-expansion-panel v-for="(item, i) in Vouchers" :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;">
            <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
              <v-row no-gutters>
                <v-col cols="1" sm="1" style="text-align:left;" >
                  <v-icon style="font-size:15px !important;">mdi-check-decagram</v-icon>
                </v-col>

                <v-col cols="10" sm="10" style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;">
                  <label>{{ item.LedgerName }}</label>
                </v-col>
                <v-col cols="1" sm="1" style="text-align:right">
                  <input v-model="item.IsSelected" :id="'IsSelected' + i" type="checkbox" />
                </v-col>

                <v-col cols="6" sm="6" class="location">

                  <label style="font-weight:100"># </label><label
                    style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
                </v-col>
                <v-col cols="6" sm="6" class="locationnew">
                  <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
                  <label style="font-weight:200">{{ FormatDate(item.EntryDate) }}</label>
                </v-col>

                <v-col cols="6" sm="6" class="location">

                <v-icon style="font-size: 20px;
    padding-bottom: 3px;padding-right:4px">mdi-credit-card-settings-outline </v-icon>
               <label style="font-weight:200">Cash</label>
                </v-col>
                <v-col cols="6" sm="6" class="locationnew">
                  <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
          <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.Amount) }}</label>
        </v-col>

              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content id="innerExPansales">
              <v-row no-gutters>
                <v-col cols="7" sm="7" style="padding-top: 4px;" class="location">
             <label style="font-weight: 200">Sales Person</label>
                      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">Muneer</label>

                </v-col>
                   <v-col cols="5" sm="5" style="padding-top: 4px;" class="locationnew">
                      <label style="font-weight: 200">{{ $t(`menu.BranchCode`) }}</label>
                    <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{
                      item.BranchCode }}</label>
                  </v-col>

                <v-col cols="10" sm="10" style="padding-top: 4px;" class="location">
                  <label style="font-weight: 200">Description</label>
                    <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{
                      item.Description }}</label>
                </v-col>
                <v-col cols="2" sm="2" style="padding-top: 4px;" class="locationnew">
                  <v-btn small color="#FFF"
                    style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;"
                    @click="EditVoucher(i)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
                </v-col>

              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
    <v-snackbar v-model="snackbar" :timeout="timeout" absolute rounded="pill" color="rgb(0, 53, 94)" font-size="20px"
      style="padding-bottom:100px;text-align:center">
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import PendingDeliveryCustomers from '../../pages/ApiServices/PendingDeliveryCustomers'
import de from '../../translations/de'
export default {
  components: {
    PendingDeliveryCustomers
  },
  data() {
    return {
      snackbar: false,
      SnackbarMessege: '',
      timeout: 2000,
      Loaderdialog: false,
      IsLocked: false,
      SelectAll: false,
      switch: true,
      VoucherTypeOptions: ["Purchase (C)", "Purchase (D)", "Purchase (B)", "Purchase Return", "Sales (C)", "Sales (D)", "Sales (B)", "Sales Return", "Order", "Payment", "Receipt", "Contra", "Delivery Note", "Debit Note", "Credit Note", "Stock Transfer", "Goods Receipt", "Purchase Order", "Quotation", "Journal", "Production", "Physical Stock", "Stock Tranfer", "Consignment Note", "Consignment Manifest", "Stock Transfer In", "Stock Tranfer Out"],

      selectedVoucherType: [],
      row: 'radio-1',
      scroll: null,
      PendingDateTab: false,
      PendingCustomerTab: false,
      PendingSalespersonTab: false,
      AllDateTab: false,
      AllCustomerTab: false,
      AllSalespersonTab: false,
      AllCustomerOptions: JSON.parse(localStorage.getItem('Customers')),
      PendingCustomerOptions: localStorage.getItem('DeliveryPendingCustomers') ? JSON.parse(localStorage.getItem('DeliveryPendingCustomers')) : [],
      AllSalespersonOptions: JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      PendingSalespersonOptions: JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      right: true,
      DeliveryNotes: [],
      IsFromDateAll: true,
      Branch: '',
      LinkedSalesMan: '',
      vm: {},
      TotalDeliveryNotes: 0,
      TotalAmount: 0,
      DecimalPlaces: localStorage.getItem('DecimalPlaces'),
      selectedAllCustomer: [],
      selectedPendingCustomer: [],
      selectedAllSalesperson: [],
      selectedPendingSalesperson: [],
      NoContent: true,
      IsSalesmanShow: false,
      Token: window.localStorage.getItem('Token'),
      bURL: "",
      isLoading: false,
      showhide: true,
    }
  },
  computed: {
    likesAllVoucherType() {
      return this.selectedVoucherType.length === this.VoucherTypeOptions.length
    },
    likesSomeVoucherType() {
      return this.selectedVoucherType.length > 0 && !this.likesAllVoucherType
    },


    iconAllVoucherType() {
      if (this.likesAllVoucherType) return 'mdi-close-box'
      if (this.likesSomeVoucherType) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    likesAllAllCustomer() {
      return this.selectedAllCustomer.length === this.AllCustomerOptions.length
    },
    likesSomeAllCustomer() {
      return this.selectedAllCustomer.length > 0 && !this.likesAllAllCustomer
    },

    likesAllPendingCustomer() {
      return this.selectedPendingCustomer.length === this.PendingCustomerOptions.length
    },
    likesSomePendingCustomer() {
      return this.selectedPendingCustomer.length > 0 && !this.likesAllPendingCustomer
    },

    likesAllAllSalesperson() {
      return this.selectedAllSalesperson.length === this.AllSalespersonOptions.length
    },
    likesSomeAllSalesperson() {
      return this.selectedAllSalesperson.length > 0 && !this.likesAllAllSalesperson
    },

    likesAllPendingSalesperson() {
      return this.selectedPendingSalesperson.length === this.PendingSalespersonOptions.length
    },
    likesSomePendingSalesperson() {
      return this.selectedPendingSalesperson.length > 0 && !this.likesAllPendingSalesperson
    },

    iconAllCustomer() {
      if (this.likesAllAllCustomer) return 'mdi-close-box'
      if (this.likesSomeAllCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingCustomer() {
      if (this.likesAllPendingCustomer) return 'mdi-close-box'
      if (this.likesSomePendingCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconAllSalesperson() {
      if (this.likesAllAllSalesperson) return 'mdi-close-box'
      if (this.likesSomeAllSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingSalesperson() {
      if (this.likesAllPendingSalesperson) return 'mdi-close-box'
      if (this.likesSomePendingSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }
  },
  mounted() {

    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem('IsReload', true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    localStorage.setItem('PreviousPage', 'DeliveryRegister')
    localStorage.setItem('ActivePage', 'DeliveryRegister')
    localStorage.removeItem('VoucherUpdated')
    this.BranchCode = localStorage.getItem('BranchCode')
    this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
    if (this.BranchCode !== '#' && this.BranchCode !== '') {
      this.BranchCode = this.BranchCode
      this.userType = window.localStorage.getItem('UserType');
      if (this.userType !== 'Administrator') {
        this.IsDisableBranch = true
      }
    }
    else if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== '') {
      this.BranchCode = this.DeviceDefaultBCode
    }
    else {
      this.BranchCode = 'All'
    }
    this.value = new Date()
    this.vm.FromDate = this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)

    this.SearchVoucher()
    window.onscroll = function () {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {

      }
    }
  },
  created() {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed() {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    toggleAllVoucherType() {
      this.$nextTick(() => {
        if (this.likesAllVoucherType) {
          this.selectedVoucherType = []
        } else {
          this.selectedVoucherType = this.VoucherTypeOptions.slice()
        }
      })
    },
    scrollFunction() {
      let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if (top > 10) {
        this.showhide = false

      }
      else {
        this.showhide = true


      }

    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");

      }
    },

    BasicSettings() {
      this.SalespersonLength = this.AllSalespersonOptions.length
      if (this.SalespersonLength > 1)
        this.IsSalesmanShow = true

    },
    toggleAllCustomer() {
      this.$nextTick(() => {
        if (this.likesAllAllCustomer) {
          this.selectedAllCustomer = []
        } else {
          this.selectedAllCustomer = this.AllCustomerOptions.slice()
        }
      })
    },

    togglePendingCustomer() {
      this.$nextTick(() => {
        if (this.likesAllPendingCustomer) {
          this.selectedPendingCustomer = []
        } else {
          this.selectedPendingCustomer = this.PendingCustomerOptions.slice()
        }
      })
    },

    toggleAllSalesperson() {
      this.$nextTick(() => {
        if (this.likesAllAllSalesperson) {
          this.selectedAllSalesperson = []
        } else {
          this.selectedAllSalesperson = this.AllSalespersonOptions.slice()
        }
      })
    },

    togglePendingSalesperson() {
      this.$nextTick(() => {
        if (this.likesAllPendingSalesperson) {
          this.selectedPendingSalesperson = []
        } else {
          this.selectedPendingSalesperson = this.PendingSalespersonOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value) {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    SearchVoucher() {
      this.VoucherType = this.selectedVoucherType
      if (this.selectedVoucherType.length === this.VoucherTypeOptions.length) {
        this.VoucherType = 'All'
      }
      else {
        if (this.selectedVoucherType.length === 0) {
          this.VoucherType = 'All'
        }
        else {
          this.VoucherType = this.GetsWithComma(this.VoucherType)
        }
      }
      this.Branch = this.vm.BranchCode
      if (this.Branch === undefined || this.Branch === '') {
        this.Branch = 'All'
      }
      this.LockStatus = 'Y'
      if (this.IsLocked === false)
        this.LockStatus = 'N'
      this.isLoading = true,
        axios.get(this.bURL + 'DayBook/SelectVouchersByLockStatus?LockStatus=' + this.LockStatus + '&DateFrom=' + this.vm.FromDate + '&DateTo=' + this.vm.ToDate + '&VocherType=' + this.VoucherType)
          .then((response) => {
            this.isLoading = false,
              this.Vouchers = response.data
            if (this.Vouchers.length === 0) {
              this.NoContent = false
            }
            else {
              this.NoContent = false
            }
            this.GetTotalVouchers(this.Vouchers)
            this.right = false
          }, (error) => {
            console.log(error)
          })
    },
    GetTotalVouchers(Vouchers) {
      this.TotalDeliveryNotes = this.Vouchers.length

      for (this.i = 0; this.i < this.Vouchers.length; this.i++) {
        this.Vouchers[this.i].IsSelected = false
      }
    },
    FormatDate(Value) {
      return Value.split('T')[0]
    },
    SelectAllVoucher() {
      /* this.temp = this.Vouchers
      this.Vouchers = [] */
      if (this.SelectAll === true) {

        for (this.i = 0; this.i < this.Vouchers.length; this.i++) {
          this.Vouchers[this.i].IsSelected = true
          this.id = "IsSelected" + this.i;
          document.getElementById(this.id).checked = true;
        }
      }
      else {
        for (this.i = 0; this.i < this.Vouchers.length; this.i++) {
          this.Vouchers[this.i].IsSelected = false
          this.id = "IsSelected" + this.i;
          document.getElementById(this.id).checked = false;
        }
      }
      /*  this.Vouchers = this.temp */
    },
    EditVoucher(Editid) {
      this.SwitchToLocation(this.Vouchers[Editid].VoucherType, this.Vouchers[Editid].VoucherNo)
    },
    SwitchToLocation(VoucherType, VoucherNo) {
      this.TempType = VoucherType.split(" (")

      if (this.TempType[0] === "Purchase") {
        VoucherType = "Purchase";
      }
      if (this.TempType[0] === "Sales") {
        VoucherType = "Sales";
      }
      switch (VoucherType) {

        case "Order":
          localStorage.removeItem('IsHoldingOrder')
          localStorage.removeItem('OrderObject')
          localStorage.setItem('OrderId', VoucherNo);
          this.$router.push('/dashboard/order_form')
          break;
        case "Order Form":
          localStorage.removeItem('IsHoldingOrder')
          localStorage.removeItem('OrderObject')
          localStorage.setItem('OrderId', VoucherNo);
          this.$router.push('/dashboard/order_form')
          break;
        case "Receipt":
          localStorage.removeItem('IsHoldingReceipt')
          localStorage.removeItem('ReceiptObject')
          localStorage.setItem('ReceiptNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/reciept')
          break;
        case "Payment":
          localStorage.removeItem('IsHoldingPayment')
          localStorage.removeItem('PaymentObject')
          localStorage.setItem('PaymentNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/payment')
          break;
        case "Quotation":
          localStorage.removeItem('IsHoldingQuotation')
          localStorage.removeItem('QuotationObject')
          localStorage.setItem('QuotationNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/quotation')
          break;
        case "Delivery Note":
          localStorage.removeItem('IsHoldingQuotation')
          localStorage.removeItem('QuotationObject')
          localStorage.setItem('DeliveryNoteNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/deliveryNote')
          break;
        case "Purchase":
          localStorage.removeItem('IsHoldingPurchase')
          localStorage.removeItem('PurchaseObject')
          localStorage.setItem('PurchaseNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/purchase')
          break;
        case "Goods Receipt":
          localStorage.removeItem('IsHoldingGoodsReceipt')
          localStorage.removeItem('GoodsReceiptObject')
          localStorage.setItem('GoodsReceiptNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/goodsReceipt')
          break;
        case "Contra":
          localStorage.removeItem('IsHoldingContra')
          localStorage.removeItem('ContraObject')
          localStorage.setItem('ContraNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/contra')
          break;
        case "Sales":
          localStorage.removeItem('SaleNo')
          localStorage.removeItem('QuotationNo')
          localStorage.removeItem('IsHoldingSale')
          localStorage.removeItem('SalesObject')
          localStorage.removeItem('SalesCustomerName')
          localStorage.removeItem('IsUpdateCustomerVisit')
          localStorage.removeItem('SalesDetailsFromPhysicalStock')
          localStorage.removeItem('SoldItems')
          localStorage.removeItem('OrderDeliveryQuantities')
          localStorage.removeItem('OldOrderDeliveryQuantities')
          localStorage.removeItem('DeliveredItems')
          localStorage.removeItem('ReturnItems')
          localStorage.removeItem('DamagedItems')
          localStorage.removeItem('SoldLedgers')
          localStorage.setItem('SaleNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/sales')
          break;
        case "Journal":
          localStorage.removeItem('IsHoldingSale')
          localStorage.removeItem('SaleObject')
          localStorage.setItem('JournalNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/journal')
          break;
        case "Sales Return":
          localStorage.removeItem('IsHoldingSalesReturn')
          localStorage.removeItem('SalesReturnObject')
          localStorage.setItem('SalesReturnNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/salesReturn')
          break;
        case "Debit Note":
          localStorage.removeItem('IsHoldingDebitNoteReturn')
          localStorage.removeItem('DebitNoteObject')
          localStorage.setItem('DebitNoteNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/DebitNote')
          break;
        case "Credit Note":
          localStorage.removeItem('IsHoldingCreditNoteReturn')
          localStorage.removeItem('CreditNoteObject')
          localStorage.setItem('CreditNoteNo', VoucherNo);
          this.$router.push('/dashboard/Vouchers/CreditNote')
          break;
        case "Stock Transfer":
          localStorage.removeItem('IsHoldingStockTransfer')
          localStorage.removeItem('StockTransferObject')
          localStorage.removeItem('StockTransferDetails')
          localStorage.setItem('StockTransferNo', VoucherNo);
          this.$router.push('/dashboard/vouchers/stockTransfer')
          break;

      }

    },
    LockUnLockVouchers(Status) {
      this.Result = []
      this.obj = {}
      for (this.i = 0; this.i < this.Vouchers.length; this.i++) {
        this.Type = ""
        if (this.Vouchers[this.i].IsSelected === true) {
          this.Type = this.Vouchers[this.i].VoucherType
          this.TempType = this.Vouchers[this.i].VoucherType.split(" (")

          if (this.TempType[0] === "Purchase") {
            this.Type = 2;
          }
          if (this.TempType[0] === "Sales") {
            this.Type = 0;
          }

          if (this.Vouchers[this.i].VoucherType === "Sales Return") {
            this.Type = 1;
          }

          if (this.Vouchers[this.i].VoucherType === "Purchase Return") {
            this.Type = 3;
          }
          if (this.Vouchers[this.i].VoucherType === "Payment") {
            this.Type = 4;
          }
          if (this.Vouchers[this.i].VoucherType === "Receipt") {
            this.Type = 5;
          }
          if (this.Vouchers[this.i].VoucherType === "Journal") {
            this.Type = 6;
          }
          if (this.Vouchers[this.i].VoucherType === "Contra") {
            this.Type = 7;
          }
          if (this.Vouchers[this.i].VoucherType === "Consignment Note") {
            this.Type = 8;
          }
          if (this.Vouchers[this.i].VoucherType === "Service") {
            this.Type = 9;
          }
          if (this.Vouchers[this.i].VoucherType === "Credit Note") {
            this.Type = 10;
          }
          if (this.Vouchers[this.i].VoucherType === "Debit Note") {
            this.Type = 11;
          }
          if (this.Vouchers[this.i].VoucherType === "Delivery Note") {
            this.Type = 12;
          }
          if (this.Vouchers[this.i].VoucherType === "Goods Receipt") {
            this.Type = 13;
          }
          if (this.Vouchers[this.i].VoucherType === "Stock Transfer") {
            this.Type = 14;
          }
          if (this.Vouchers[this.i].VoucherType === "Physical Stock") {
            this.Type = 15;
          }
          if (this.Vouchers[this.i].VoucherType === "Productiom") {
            this.Type = 16;
          }
          if (this.Vouchers[this.i].VoucherType === "Quotation") {
            this.Type = 17;
          }
          if (this.Vouchers[this.i].VoucherType === "Order Form") {
            this.Type = 18;
          }

          if (this.Vouchers[this.i].VoucherType === "LPO") {
            this.Type = 19;
          }
          if (this.Vouchers[this.i].VoucherType === "Service Order") {
            this.Type = 20;
          }
          if (this.Vouchers[this.i].VoucherType === "Production Order") {
            this.Type = 21;
          }
          if (this.Vouchers[this.i].VoucherType === "Stock Transfer Request") {
            this.Type = 22;
          }
          if (this.Vouchers[this.i].VoucherType === "Stock Transfer Out") {
            this.Type = 23;
          }
          if (this.Vouchers[this.i].VoucherType === "Stock Transfer In") {
            this.Type = 24;
          }
          if (this.Vouchers[this.i].VoucherType === "Lead") {
            this.Type = 25;
          }


          this.obj.No = this.Vouchers[this.i].VoucherNo
          this.obj.Type = this.Type
          this.obj.Status = Status
          this.obj.i = this.i

          this.Result.push(this.obj)
          this.obj = {}
        }

      }

      if (this.Result.length > 0) {
        this.Loaderdialog = true
        axios.post(this.bURL + 'DayBook/LockVouchers', this.Result)
          .then((response) => {
            this.Loaderdialog = false
            this.SnackbarMessege = "Success"
            this.snackbar = true
            /*  if(Status === 'Y')
             {
                 for(this.i=0;this.i<this.Result.length;this.i++)
                 {
                  this.Vouchers[this.Result[this.i].i].Locked = true
                   this.id = "IsSelected" + this.Result[this.i].i;
                   document.getElementById(this.id).checked = true;
                 }
             }
             else
             {
                 for(this.i=0;this.i<this.Result.length;this.i++)
                 {

                  this.Vouchers[this.Result[this.i].i].Locked = false
                   this.id = "IsSelected" + this.Result[this.i].i;
                   document.getElementById(this.id).checked = false;
                 }
             } */

          }, (error) => {
            this.Loaderdialog = false
            this.SnackbarMessege = "Failed"
            this.snackbar = true
          })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}

.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}

.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
}

@media (max-width: 480px) {
  .drawer-button1 {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .drawer-button1 {
    display: none;
  }

  .total {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .drawer-button1 {
    display: none;
  }

  .total {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {

  .footer {
    display: none;
  }

  .total {
    display: none;
  }

}

@media (min-width: 1281px) {
  .footer {
    display: none;
  }

  .total {
    display: none;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 1px 18px rgb(0 53 94);

}

// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
// .v-icon {
//   margin-left: -18px;
//   font-size: 1.3rem;
// }
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}

.nav-tabs .nav-link {
  color: #FFFFFF;
}

.container fill-height container--fluid {
  padding-top: 1px;
}

.errMsg {
  color: red;
  font-weight: 500;
}
</style>
<style>
element.style {
  left: 0px;
  right: auto;
  position: relative;
}

.switchnew .v-input--selection-controls .v-input__slot>.v-label {
  color: #FFF !important
}
</style>

