<template>
  <div class=" d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Discount Card </v-toolbar-title
          >
         <v-spacer></v-spacer>

    <!-- <v-toolbar-items>
            <v-btn dark text  color="primary" @click="Save()"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items> -->

        </v-toolbar>
        <v-card-text>

              <v-row>
                <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;" >
                 <v-text-field
        label="Card No"
        ></v-text-field>
            </v-col>
            <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;text-align:right" >
               <v-switch label="Card is Active"></v-switch>
            </v-col>
              </v-row>
               <!-- <v-row>
                <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;" >
               <label style="color:green">Net Sales Under this card = 0.00</label>
            </v-col>
              </v-row> -->
              <v-row>
                <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;" >
                  <v-autocomplete
            dense
             label="Customer Name"

          ></v-autocomplete>
            </v-col>
              </v-row>
                 <v-row  >

               <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 15px;padding-right: 15px;" >
                 <v-text-field

        label="Phone No" dense
      ></v-text-field>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 15px;" >
                  <v-autocomplete

            dense
            label="Customer ID Type"

          ></v-autocomplete>
                 </v-col>
        </v-row>
            <v-row  >

               <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 15px;padding-right: 15px;" >
                 <v-text-field

        label="Customer ID No" dense
      ></v-text-field>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 15px;" >
                  <v-text-field

            dense
            label="Designation"

          ></v-text-field>
                 </v-col>
        </v-row>
         <v-row  >

               <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 15px;padding-right: 15px;" >
                 <v-text-field

        label="Company Name" dense
      ></v-text-field>
            </v-col>
         </v-row>
         <v-row>
             <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 15px;" >
                  <v-text-field

            dense
            label="Address"

          ></v-text-field>
                 </v-col>
        </v-row>
         <v-row>
             <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 15px;" >
                  <v-autocomplete

            dense
            label="Card Type"

          >
           <template v-slot:append-outer style=" margin-top: 4px!important; ">
    <v-icon color="rgb(40 167 69)" style="font-size:25px !important;padding-left: 13px !important;
    margin-top: 0px;"  @click="CardTypeModalnew()" >mdi-plus-circle</v-icon>
  </template>
          </v-autocomplete>
                 </v-col>
        </v-row>
         <v-row  >

               <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 15px;padding-right: 15px;" >
                  <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
        style="z-index:100000 !important;"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Issued Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 15px;" >
                 <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
        style="z-index:100000 !important;"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Date of Expire"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu1.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
                 </v-col>
        </v-row>

        </v-card-text>
      </v-card>
         <v-dialog v-model="CardTypeModal" persistent max-width="400" style="z-index: index 100000px;">

      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -11px; " >

          <v-text-field
          solo
        rounded

       label="Card Type"  style="padding-bottom:0px">
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  style=" margin-top: -6px;"  >mdi-plus-circle</v-icon>
    <!-- <v-icon color="rgb(40 167 69)"  >mdi-update</v-icon> -->
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding-right: 0px;
    padding-left: 0px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >

    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
     Card Type
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
       <v-expansion-panels  >

    <v-expansion-panel v-for="(item,i) in 3"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
      <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slno1" style=" " >

   <b >Gold </b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="mr-2"

        color="#2E7D32"

      >
        mdi-pencil
      </v-icon>
      <v-icon
        small

        color="#E53935"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

     <v-row no-gutters   >
      <v-col cols="12" sm="12" >
<v-divider></v-divider>
      </v-col>
     </v-row>
 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px;text-align:right"
               >
                <v-btn
              small
             @click="CardTypeModal=false"
              style="background-color:#2E7D32;color:#FFF"

            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
 <fab
        :fixed-tooltip="fab.tooltip"
        :position="fab.position"
        :bg-color="fab.bgColor"
        :padding="fab.padding"
        :margin-bottom="fab.marginbottom"
        :actions="fab.fabActions"
        :main-icon="fab.mainicon"
        :icon-size="fab.iconsize"
        :z-index="fab.zindex"
        @SaveSale="SaveSale"
        @ClearSale="ClearSale"
        @DeleteSale="DeleteSale"
        @PrintSale="OpenPrintModal"
        @UnLock="CallUnlockModal"
        @Lock="CallLockModal"
        @Lastbill="ViewLastbill"
      ></fab>

  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
Vue.component("vu-select", vSelect);
export default {
  components: {  fab,vSelect },
  data() {
    return {
      CardTypeModal:false,
      switch2: true,
      DateFrom: new Date().toISOString().substr(0, 10),
    DateTo: new Date().toISOString().substr(0, 10),
    menu: false,
    date: new Date().toISOString().substr(0, 10),
    menu1: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      BranchCode: localStorage.getItem("BranchCode"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true,
        Itemsearch : "",
        AllUnits:[],
        IsWithTax:false,
        IsSelectAll : false,
        CategoryOptions:[],
        Category:"",
        SubCategoryOptions:[],
        SubCategory:"",
          fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        marginbottom: "50px",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "Lastbill",
            icon: "shopping_basket",
            tooltip: 'Shopping Status'
          },
           {
            name: "PrintSale",
            icon: "print",
            tooltip:"Print Card"
          },
          {
            name: "ClearSale",
            icon: "cached",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "DeleteSale",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },

          {
            name: "SaveSale",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
    };
  },
  computed: {
 resultQuery() {
      this.ItemsNew = []
    if(this.Itemsearch !== undefined && this.Itemsearch !== "")
    {
       this.ItemsNew = this.AllUnits.filter(post => {
        return post.ItemName.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.ItemCode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.ItemNameArabic.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Barcode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Cost.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Unit.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.RetailRate.toString().toLowerCase().includes(this.Itemsearch.toString().toLowerCase())
      })
      if(this.ItemsNew.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.ItemsNew[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.ItemsNew
      }
    }
    else{
      if(this.AllUnits.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.AllUnits[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.AllUnits
      }
    }
    },

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.GetCategory()
    this.BasicSettings()
    this.LoadAllitems()

  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {

CardTypeModalnew()
{
  this.CardTypeModal=true
},
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },
     LoadAllitems(isLoading) {
      this.AllUnits = []
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
       this.Category1 =  this.Category? this.Category:"all"
       if(isLoading)
        this.isLoading = true
      axios
        .get(
          this.bURL +
            "item/GetItemsWithAllUnits?Category=" + this.Category1
        )
        .then(
          response => {
            this.isLoading = false
            this.right = false
              this.TempAllUnits = response.data
              for(this.i=0;this.i<this.TempAllUnits.length;this.i++)
              {
                 if(this.SubCategory === "" || this.SubCategory === this.TempAllUnits[this.i].SubCategory)
                {
                  this.TaxPerc = this.TempAllUnits[this.i].TaxPerc
                  this.DiscountPerc = this.TempAllUnits[this.i].DiscountPerc

                  this.Tax = (this.TempAllUnits[this.i].RetailRate * this.TaxPerc)/100
                  this.Discount = (this.TempAllUnits[this.i].RetailRate * this.DiscountPerc)/100
                  this.RateWithTax = this.TempAllUnits[this.i].RetailRate + this.Tax

                  this.TaxWithDiscount = ((this.TempAllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                  this.RateWithTaxWithDiscount = this.TempAllUnits[this.i].RetailRate + this.TaxWithDiscount

                  this.TempAllUnits[this.i].Tax = this.Tax
                  this.TempAllUnits[this.i].Discount = this.Discount
                  this.TempAllUnits[this.i].RateWithTax = this.RateWithTax
                  this.TempAllUnits[this.i].DiscountedRate = this.TempAllUnits[this.i].RetailRate - this.Discount
                  this.TempAllUnits[this.i].DiscountedRate = this.TempAllUnits[this.i].DiscountedRate.toFixed(this.DecimalPlaces)
                  this.TempAllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
                  this.TempAllUnits[this.i].DiscountedRateWithTax = this.TempAllUnits[this.i].DiscountedRateWithTax.toFixed(this.DecimalPlaces)
                  this.TempAllUnits[this.i].IsSelect = false

                  this.AllUnits.push(this.TempAllUnits[this.i])

                }
              }
              //this.AllUnits = this.TempAllUnits
          },
          error => {
            console.log(error);
          }
        );
    },
    GetDiscountPercByDiscountedRate(i,item,event)
    {
         this.DiscountedRateWithTax = parseFloat(item.DiscountedRateWithTax);
         this.flag = isNaN(this.DiscountedRateWithTax);
      if (this.flag) {
        this.DiscountedRateWithTax = 0;
      }
        this.DiscountedRate = parseFloat(item.DiscountedRate);
      this.flag = isNaN(this.DiscountedRate);
      if (this.flag) {
        this.DiscountedRate = 0;
      }
       if(this.IsWithTax === false)
       {
         this.Discount = item.RetailRate - this.DiscountedRate
         this.DiscountPerc = (this.Discount / item.RetailRate) * 100
         this.DiscountPerc = this.DiscountPerc.toFixed(2)
         this.DiscountPerc = parseFloat(this.DiscountPerc)
         item.DiscountPerc = this.DiscountPerc


          this.TaxWithDiscount = ((item.RetailRate - this.Discount) * item.TaxPerc )/100
          this.DiscountedRateWithTax = item.RetailRate + this.TaxWithDiscount

          item.Discount = this.Discount
          item.DiscountedRateWithTax = this.DiscountedRateWithTax - this.Discount
          item.IsSelect = true
       }
       else{
                 this.DiscountedRate = this.DiscountedRateWithTax/(1+(item.TaxPerc/100))

                 this.Discount = item.RetailRate - this.DiscountedRate

                 this.DiscountPerc = (this.Discount / item.RetailRate) * 100
                 this.DiscountPerc = this.DiscountPerc.toFixed(2)
                 this.DiscountPerc = parseFloat(this.DiscountPerc)
                 item.DiscountPerc = this.DiscountPerc
                 this.DiscountedRate = this.DiscountedRate.toFixed(this.DecimalPlaces)
                 item.DiscountedRate = parseFloat(this.DiscountedRate)
                 item.IsSelect = true
       }
    },
    SelectItem(i,item)
    {
      if(item.IsSelect === false)
      {
                this.TaxPerc = item.TaxPerc
                this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
                this.flag = isNaN(this.AllDiscountPerc)
                if(this.flag)
                {
                  this.AllDiscountPerc = 0
                }
                  this.DiscountPerc = this.AllDiscountPerc

                  this.Tax = (item.RetailRate * this.TaxPerc)/100
                  this.Discount = (item.RetailRate * this.DiscountPerc)/100
                  this.RateWithTax = item.RetailRate + this.Tax

                  this.TaxWithDiscount = ((item.RetailRate - this.Discount) * this.TaxPerc )/100
                  this.RateWithTaxWithDiscount = item.RetailRate + this.TaxWithDiscount

                  item.Tax = this.Tax
                  item.DiscountPerc = this.DiscountPerc
                  item.Tax = this.Tax
                  item.RateWithTax = this.RateWithTax
                  item.DiscountedRate = item.RetailRate - this.Discount
                  item.DiscountedRate = item.DiscountedRate.toFixed(this.DecimalPlaces)
                  item.DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
                  item.DiscountedRateWithTax = item.DiscountedRateWithTax.toFixed(this.DecimalPlaces)
    }

    },
    SelectAll(selectAll)
    {
      this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
      this.flag = isNaN(this.AllDiscountPerc)
      if(this.flag)
      {
        this.AllDiscountPerc = 0
      }
      for(this.i=0;this.i<this.AllUnits.length;this.i++)
      {
          this.AllUnits[this.i].IsSelect = selectAll
          this.AllUnits[this.i].DiscountPerc = this.AllDiscountPerc

      }
       this.SetRate()
    },
    SetDiscount()
    {
      this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
      this.flag = isNaN(this.AllDiscountPerc)
      if(this.flag)
      {
        this.AllDiscountPerc = 0
      }
      for(this.i=0;this.AllUnits.length;this.i++)
      {
        if( this.AllUnits[this.i].IsSelect === true)
        {
            this.AllUnits[this.i].DiscountPerc = this.AllDiscountPerc



                this.TaxPerc = this.AllUnits[this.i].TaxPerc
                this.DiscountPerc = this.AllUnits[this.i].DiscountPerc

                this.Tax = (this.AllUnits[this.i].RetailRate * this.TaxPerc)/100
                this.Discount = (this.AllUnits[this.i].RetailRate * this.DiscountPerc)/100
                this.RateWithTax = this.AllUnits[this.i].RetailRate + this.Tax

                this.TaxWithDiscount = ((this.AllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                this.RateWithTaxWithDiscount = this.AllUnits[this.i].RetailRate + this.TaxWithDiscount

                this.AllUnits[this.i].Tax = this.Tax
                this.AllUnits[this.i].Discount = this.Discount
                this.AllUnits[this.i].RateWithTax = this.RateWithTax
                this.AllUnits[this.i].DiscountedRate = this.AllUnits[this.i].RetailRate - this.Discount
                this.AllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
        }

      }
    },
    SetRate()
    {
       for(this.i=0;this.i<this.AllUnits.length;this.i++)
              {
                this.TaxPerc = this.AllUnits[this.i].TaxPerc
                this.DiscountPerc = this.AllUnits[this.i].DiscountPerc

                this.Tax = (this.AllUnits[this.i].RetailRate * this.TaxPerc)/100
                this.Discount = (this.AllUnits[this.i].RetailRate * this.DiscountPerc)/100
                this.RateWithTax = this.AllUnits[this.i].RetailRate + this.Tax

                this.TaxWithDiscount = ((this.AllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                this.RateWithTaxWithDiscount = this.AllUnits[this.i].RetailRate + this.TaxWithDiscount

                this.AllUnits[this.i].Tax = this.Tax
                this.AllUnits[this.i].Discount = this.Discount
                this.AllUnits[this.i].RateWithTax = this.RateWithTax
                this.AllUnits[this.i].DiscountedRate = this.AllUnits[this.i].RetailRate - this.Discount
                this.AllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
              }
    },
    Save()
    {
      this.result = []
       for(this.i=0;this.i<this.AllUnits.length;this.i++)
       {
          if(this.AllUnits[this.i].IsSelect === true)
          {
            this.obj =
            {
                "AltUnitId" : this.AllUnits[this.i].AltUnitId,
                "DiscountPerc" : this.AllUnits[this.i].DiscountPerc,
            }
            this.result.push(this.obj)
         }
       }
       this.ValidDate = this.DateFrom + " " + "12:01 AM" + "#" +this.DateTo + " " + "11:59 AMM"
       this.ValidDate = encodeURIComponent(this.ValidDate)
       if(this.result.length > 0)
       {
            this.Loaderdialog = true
            axios.put(this.bURL + 'item/UpdateAltUnitDiscPerc?ValidDate=' + this.ValidDate ,this.result)
            .then((response)  =>  {
                this.Loaderdialog = false
                this.SnackbarMessege = "Success"
                this.snackbar = true
            }, (error)  =>  {
                console.log(error)
            })
       }
       else{
                this.SnackbarMessege = "Enter Discount"
                this.snackbar = true
           }
    },
     GetCategory()
    {
       axios.get(this.bURL + 'item/GetItemCategoriesSubCategories')
          .then((response)  =>  {
            this.CategoryOptions.push('All')
           for(this.i = 0;this.i<response.data.length;this.i++)
           {
             this.CategoryOptions.push(response.data[this.i].Category)
           }

          }, (error)  =>  {
            console.log(error)
          })
    },
      GetSubCategory(category)
    {
        axios.get(this.bURL + "item/GetItemSubCategories?Category="+category)
          .then((response)  =>  {
            this.SubCategoryObject = response.data
            this.SubCategoryOptions= []
             this.SubCategoryOptions.push('All')
           for(this.i = 0;this.i<this.SubCategoryObject.length;this.i++)
           {
             this.SubCategoryOptions.push(this.SubCategoryObject[this.i].SubCategory)
           }

          }, (error)  =>  {
            console.log(error)
          })
    },
        voucherssettings()
    {
      this.$router.push('/dashboard/settings/SalesPromotion')
    },




  }
};
</script>
<style>
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
// .v-icon {
//   margin-left: -18px;
//   font-size: 1.3rem;
// }
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
