<template>
  <div class="d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Discount Voucher</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary" @click="Save()"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
            <v-row>
              <v-col cols="6" style="margin-top: -22px;">
                 <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="StartDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="StartDate"
            label="Start Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="StartDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetStartDate(StartDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>
               <v-col cols="6" style="margin-top: -22px;">
                 <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :return-value.sync="EndDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="EndDate"
            label="End Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="EndDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetEndDate(EndDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>

            </v-row>
            <v-row>
              <v-col cols="6" style="margin-top: -57px;">
                <v-text-field dense label="Target Amount" type="number" v-model="TargetAmount"  @change="UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')"></v-text-field>

              </v-col>
              <v-col cols="6" style="margin-top: -57px;text-align:right">
<v-text-field dense label="Voucher Amount" type="number" v-model="VoucherAmount" @change="UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')"></v-text-field>
              </v-col>
            </v-row>
              <v-row>
              <v-col cols="6" style="margin-top: -52px;    margin-bottom: -24px;">
                  <v-menu
        ref="menu2"
        v-model="menu2"
        :close-on-content-click="false"
        :return-value.sync="VoucherValidity"
        transition="scale-transition"
        offset-y
        min-width="290px"
        style="z-index:100000 !important"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="VoucherValidity"
            label="Voucher Validity"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="VoucherValidity" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu1 = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetVoucherValidity(VoucherValidity)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>
              <v-col cols="6" style="margin-top: -57px;text-align:right;margin-bottom: -24px;">
<v-switch label="Activate Promotion" v-model="IsActivePromotion" @change="UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')"></v-switch>
              </v-col>
            </v-row>

              <v-expansion-panels
            style="padding-bottom:10px !important;padding-top:0px !important"
          >
            <v-expansion-panel>
              <v-expansion-panel-header
                expand-icon=""

                style="max-height: 20px !important;min-height:20px"
              >
                <v-col
                  cols="12"
                  sm="12"
                  style="text-align: Center;font-size:13px;"
                >
                  <h6 style="font-size:13px;text-align:center;padding-top:5px">
                 Categorys Under Promotion ({{CategoriesUnderPromotion.length}})
                  </h6>
                </v-col>
                <span
                  @click="Categoriesundermodal=true"
                  style="padding-left:12px;padding-right:0px"
                  class="plusbutton"
                  ><i class="fa fa-plus-square" aria-hidden="true"></i
                ></span>
              </v-expansion-panel-header>
              <v-expansion-panel-content id="innerExPan">
                <v-row
                  no-gutters
                  style="    font-size: 10px;padding: 2px; background: #343a402e;"
                >

                  <v-col cols="4" sm="4" class="slno">
                   Category
                  </v-col>
                  <v-col cols="7" sm="7" class="slno">
                    {{ $t(`menu.ItemName`) }}
                  </v-col>
                  <v-col cols="1" sm="1" class="text-center">
                  </v-col>
                </v-row>

                <v-row
                  no-gutters
                  style="font-size: 10px;text-align: left;padding: 2px; max-height:300px; overflow:scroll;overflow-x: hidden;"
                >
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item, i) in CategoriesUnderPromotion"
                      :key="i"
                      class="ma-0"
                      v-touch:tap="touchHandler"
                    >
                      <!-- ----- -->
                      <v-expansion-panel-header
                        expand-icon=""
                        class="itemheader"
                        style="min-height: 35px !important;font-size:10px!important;padding-left: 1px;
    padding-right: 1px;
    max-height: 35px;"
                      >
                        <v-col
                          cols="4"
                          sm="4"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.Category}}</b>
                        </v-col>
                        <v-col
                          cols="7"
                          sm="7"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.SubCategory}}</b>
                        </v-col>
                        <v-col
                          cols="1"
                          sm="1"
                          class="text-center"

                        >

                              <v-icon style="font-size: 14px !important;color:red;"
                              @click="DeleteCategoryUnderPromotion(i)"
                                >mdi-delete</v-icon
                              >

                        </v-col>

                      </v-expansion-panel-header>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
              <v-expansion-panels
            style="padding-bottom:10px !important;padding-top:0px !important"
          >
            <v-expansion-panel>
              <v-expansion-panel-header
                expand-icon=""

                style="max-height: 20px !important;min-height:20px"
              >
                <v-col
                  cols="12"
                  sm="12"
                  style="text-align: Center;font-size:13px;padding-left:0px;padding-right:0px"
                >
                  <h6 style="font-size:13px;text-align:center;padding-top:5px">
                 Categorys Not in Voucher Discount ({{CategoriesNotInVoucherDiscount.length}})
                  </h6>
                </v-col>
                <span
                  @click="CategoriesNotmodal=true"
                  style="padding-left:12px;padding-right:0px"
                  class="plusbutton"
                  ><i class="fa fa-plus-square" aria-hidden="true"></i
                ></span>
              </v-expansion-panel-header>
              <v-expansion-panel-content id="innerExPan">
                <v-row
                  no-gutters
                  style="    font-size: 10px;padding: 2px; background: #343a402e;"
                >

                  <v-col cols="4" sm="4" class="slno">
                   Category
                  </v-col>
                  <v-col cols="7" sm="7" class="slno">
                    {{ $t(`menu.ItemName`) }}
                  </v-col>
                  <v-col cols="1" sm="1" class="text-center">
                  </v-col>
                </v-row>

                <v-row
                  no-gutters
                  style="font-size: 10px;text-align: left;padding: 2px; max-height:300px; overflow:scroll;overflow-x: hidden;"
                >
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item, i) in CategoriesNotInVoucherDiscount"
                      :key="i"
                      class="ma-0"
                      v-touch:tap="touchHandler"
                    >
                      <!-- ----- -->
                      <v-expansion-panel-header
                        expand-icon=""
                        class="itemheader"
                        style="min-height: 35px !important;font-size:10px!important;padding-left: 1px;
    padding-right: 1px;
    max-height: 35px;"
                      >
                        <v-col
                          cols="4"
                          sm="4"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.Category}}</b>
                        </v-col>
                        <v-col
                          cols="7"
                          sm="7"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>{{item.SubCategory}}</b>
                        </v-col>
                        <v-col
                          cols="1"
                          sm="1"
                          class="text-center"

                        >

                              <v-icon style="font-size: 14px !important;color:red;"
                              @click="DeleteCategoryNoteInVoucher(i)"
                                >mdi-delete</v-icon
                              >

                        </v-col>

                      </v-expansion-panel-header>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
            <v-row no-gutters>
              <v-col cols="12" style="margin-top:10px;">
                <v-textarea dense label="Voucher Note" row-height="1.5" v-model="Description" @change="UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')" ></v-textarea>

              </v-col>
            </v-row>
        </v-card-text>
      </v-card>


    <v-dialog
      v-model="Categoriesundermodal"
      persistent
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <h4
          style="text-align:center; padding-top:15px;color:rgb(0 99 145);"

        >
        Add Category
        </h4>

        <v-card-text>
         <v-row no-gutters>
      <v-col cols="12">
        <v-autocomplete
             :items="CategoryOptionsUnderPromotion"
             v-model="CategoryUnderPromotion"
                 solo
        rounded
        dense
       :placeholder="$t('menu.SearchByCategory')"
            @change="GetSubCategories($event,true)"
          >

          </v-autocomplete>
      </v-col>
    </v-row>
        <v-row no-gutters>
      <v-col cols="12">
        <v-autocomplete
          v-model="selectedSubCategoryUnderPromotion"
          :items="SubCategoryUnderPromotion"
          label="Sub Category"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedSubCategoryUnderPromotion.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSubCategoryUnderPromotion">
            <v-list-item-title>Selected all Sub Category </v-list-item-title>
            <v-list-item-subtitle>Sub Category Count :{{ selectedSubCategoryUnderPromotion.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSubCategoryUnderPromotion">
            <v-list-item-title>Sub Category Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSubCategoryUnderPromotion.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
      </v-col>
    </v-row>
   <div
              class="d-flex"
              style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
            >
              <v-btn
                depressed
                small
                style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);"
                @click="Categoriesundermodal=false"
              >
                <v-icon center style="font-size: 25px;margin-left:0px !important"
                  >mdi-arrow-left</v-icon
                ></v-btn
              >
              <v-spacer></v-spacer>
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"

                @click="AddCategoryUnderPromotion()"

                ><v-icon left style="Font-size:25px !important;" class="mdiplus"
                  >mdi-plus</v-icon
                ></v-btn
              >

            </div>
        </v-card-text>
      </v-card>
    </v-dialog>
     <v-dialog
      v-model="CategoriesNotmodal"
      persistent
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <h4
          style="text-align:center; padding-top:15px;color:rgb(0 99 145);"

        >
        Add Category
        </h4>

        <v-card-text>
         <v-row no-gutters>
      <v-col cols="12">
      <v-autocomplete
             :items="CategoryOptions"
             v-model="CategoryNotInVoucherDic"
                 solo
        rounded
        dense
       :placeholder="$t('menu.Category')"
            @change="GetSubCategories($event,false)"
          >

          </v-autocomplete>
      </v-col>
    </v-row>
        <v-row no-gutters>
      <v-col cols="12">
        <v-autocomplete
          v-model="selectedSubCategory"
          :items="SubCategory"
          label="Sub Category"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedSubCategory.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSubCategory">
            <v-list-item-title>Selected all Sub Category </v-list-item-title>
            <v-list-item-subtitle>Sub Category Count :{{ selectedSubCategory.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSubCategory">
            <v-list-item-title>Sub Category Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSubCategory.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
      </v-col>
    </v-row>
   <div
              class="d-flex"
              style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
            >
              <v-btn
                depressed
                small
                style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);"
                @click="CategoriesNotmodal=false"
              >
                <v-icon center style="font-size: 25px;margin-left:0px !important"
                  >mdi-arrow-left</v-icon
                ></v-btn
              >
              <v-spacer></v-spacer>
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"
                @click="AddCategoryNotInVoucher()"

                ><v-icon left style="Font-size:25px !important;" class="mdiplus"
                  >mdi-plus</v-icon
                ></v-btn
              >

            </div>
        </v-card-text>
      </v-card>
    </v-dialog>
      <v-dialog v-model="DeleteConfirmation_UnderPromotion" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_UnderPromotion = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCategoryUnderPromotion()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_NotInVoucher" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_NotInVoucher = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCategoryNoteInVoucher()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        absolute
        rounded="pill"
        color="rgb(0, 53, 94)"
        font-size="20px"
        style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>
  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect },
  data() {
    return {
      SnackbarMessege : '',
      snackbar : false,
      timeout : 2000,
      CategoriesNotmodal:false,
      Categoriesundermodal:false,
      CategoryOptionsUnderPromotion : [],
      CategoryOptions : [],
       SubCategoryUnderPromotion: [],
    selectedSubCategoryUnderPromotion: [],
       SubCategory: [],
    selectedSubCategory: [],
    SubCategories:[],
      switch2: true,
    VoucherValidity: new Date().toISOString().substr(0, 10),
    StartDate: new Date().toISOString().substr(0, 10),
    EndDate:new Date().toISOString().substr(0, 10),
    IsActivePromotion : false,
    menu: false,
    menu1: false,
    menu2: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true,
        CategoryOptions:[],
        CategoriesUnderPromotion:[],
        CategoriesNotInVoucherDiscount:[],
        DeleteIdUnderPromotion:-1,
        DeleteConfirmation_UnderPromotion:false,
        DeleteIdNotInVoucher:-1,
        DeleteConfirmation_NotInVoucher:false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,

    };
  },
  computed: {
      likesAllSubCategoryUnderPromotion () {
      return this.selectedSubCategoryUnderPromotion.length === this.SubCategoryUnderPromotion.length
    },
    likesSomeSubCategoryUnderPromotion () {
      return this.selectedSubCategoryUnderPromotion.length > 0 && !this.likesAllSubCategoryUnderPromotion
    },
      likesAllSubCategory () {
      return this.selectedSubCategory.length === this.SubCategory.length
    },
    likesSomeSubCategory () {
      return this.selectedSubCategory.length > 0 && !this.likesAllSubCategory
    },
    icon () {
      if (this.likesAllSubCategoryUnderPromotion) return 'mdi-close-box'
      if (this.likesSomeSubCategoryUnderPromotion) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     icon () {
      if (this.likesAllSubCategory) return 'mdi-close-box'
      if (this.likesSomeSubCategory) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.BasicSettings()
    this.GetSettings()
    this.GetCategory()
    this.GetCategoriesUnderPromotion()
    this.GetCategoriesNotInVoucherDiscount()
    this.SetPermission()
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
     toggle () {
      this.$nextTick(() => {
        if (this.likesAllSubCategoryUnderPromotion) {
          this.selectedSubCategoryUnderPromotion = []
        } else {
          this.selectedSubCategoryUnderPromotion = this.SubCategoryUnderPromotion.slice()
        }
      })
    },
    toggle () {
      this.$nextTick(() => {
        if (this.likesAllSubCategory) {
          this.selectedSubCategory = []
        } else {
          this.selectedSubCategory = this.SubCategory.slice()
        }
      })
    },
    voucherssettings()
    {
this.$router.push('/dashboard/settings/SalesPromotion')
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
     SetPermission()
    {
      this.userType = localStorage.getItem("UserType");
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmSalesPromotion')
        .then((response)  =>  {
          this.DayEndConfirmationModal = false
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.Settings = response.data
            this.str = this.Settings.DiscountVoucherOffer
            this.DiscountVoucherOffer = this.str.split("#");
            this.IsActivePromotion = this.DiscountVoucherOffer[0]
            if(this.IsActivePromotion === "1")
              this.IsActivePromotion = true
            else
              this.IsActivePromotion = false
              

            this.StartDate = this.DiscountVoucherOffer[1]
            this.StartDate =  this.StartDate.split(" ")
            this.StartDate =  this.StartDate[0]
            const date = this.StartDate
            const [day, month, year] = date.split('-');
            this.StartDate = [year, month, day].join('-');
            
            this.EndDate = this.DiscountVoucherOffer[2]
            this.EndDate =  this.EndDate.split(" ")
            this.EndDate =  this.EndDate[0]
            const date1 = this.EndDate
            const [day1, month1, year1] = date1.split('-');
            this.EndDate = [year1, month1, day1].join('-');

            this.TargetAmount = this.DiscountVoucherOffer[3]
            this.TargetAmount = parseFloat(this.TargetAmount) 
            this.TargetAmount = this.TargetAmount.toFixed(this.DecimalPlaces)

            this.VoucherAmount = this.DiscountVoucherOffer[4]
            this.VoucherAmount = parseFloat(this.VoucherAmount) 
            this.VoucherAmount = this.VoucherAmount.toFixed(this.DecimalPlaces)

            this.VoucherValidity = this.DiscountVoucherOffer[5]
             this.VoucherValidity =  this.VoucherValidity.split(" ")
            this.VoucherValidity =  this.VoucherValidity[0]
            const date2 = this.VoucherValidity
            const [day2, month2, year2] = date2.split('-');
            this.VoucherValidity = [year2, month2, day2].join('-');

            this.Description = this.DiscountVoucherOffer[6]

        }, (error)  =>  {
          console.log(error)
        })
    },
     SetStartDate(StartDate)
    {
        this.$refs.menu.save(StartDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
     SetEndDate(EndDate)
    {
        this.$refs.menu1.save(EndDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
    SetVoucherValidity(VoucherValidity)
    {
        this.$refs.menu2.save(VoucherValidity)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        if (this.isUpdatePermission === true)
        {
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
        }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        }
      },
      UpdateSettingsValueDiscountVoucherOffer(SettingName)
      {
        
          this.SettingValue = ""
          if(this.IsActivePromotion === true)
            this.SettingValue += "1" 
          else
            this.SettingValue += "0"  
            
            const date = this.StartDate
            const  [year, month, day]= date.split('-');
            this.StartDate1 =[day, month, year] .join('-');
            this.StartDate1 += " " + "12:01:00 AM"
            this.SettingValue += "#" + this.StartDate1

             const date1 = this.EndDate
            const  [year1, month1, day1]= date1.split('-');
            this.EndDate1 = [day1, month1, year1] .join('-');
            this.EndDate1 += " " + "11:59:00 PM"
            this.SettingValue += "#" + this.EndDate1


              this.TargetAmount = parseFloat(this.TargetAmount);
              this.flag = isNaN(this.TargetAmount);
              if (this.flag) {
                  this.TargetAmount = 0;
              }
              this.SettingValue += "#" + this.TargetAmount


              this.VoucherAmount = parseFloat(this.VoucherAmount);
              this.flag = isNaN(this.VoucherAmount);
              if (this.flag) {
                  this.VoucherAmount = 0;
              }
              this.SettingValue += "#" + this.VoucherAmount
           
            const date2 = this.VoucherValidity
            const  [year2, month2, day2]= date2.split('-');
            this.VoucherValidity1 = [day2, month2, year2] .join('-');
            this.VoucherValidity1 += " " + "12:00:00 AM"
            this.SettingValue += "#" + this.VoucherValidity1

             this.SettingValue += "#" + this.Description

              this.SettingValue =  encodeURIComponent(this.SettingValue)

           this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)

      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        
        this.Loaderdialog = true;
      if(this.BranchCode == "All" || this.BranchCode == "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {
             
              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },
      GetCategory() {
        
      this.CategoryOptions = []
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get( this.bURL + 'item/GetItemCategories' )
        .then((response)  =>  {
          
          this.CategoryOptionsUnderPromotion = response.data
          this.CategoryOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetSubCategories(val,IsCategoryUnderPromotion) {
      
      this.SubCategoryUnderPromotion = []
      this.SubCategory = []
      axios.get(this.bURL + 'item/getitemsubcategories?Category=' + val)
        .then((response)  =>  {
          
          this.SubCategories = response.data
          for (this.i = 0;this.i < response.data.length; this.i++)
          {
            if(IsCategoryUnderPromotion === true)
            {
                this.SubCategoryUnderPromotion.push(response.data[this.i].SubCategory)
            }
            else{
               this.SubCategory.push(response.data[this.i].SubCategory)
            }
           
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetCategoriesUnderPromotion() {
      
      this.CategoriesUnderPromotion = []
      axios
        .get(
          this.bURL +
            "VoucherDiscountCategory/GetVoucherDiscountCategory?Type=I" 
        )
        .then(
          response => {
            
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.obj = {
                "Category":response.data[this.i].Category,
                "SubCategory" : response.data[this.i].SubCategory,
                "SubCategoryID" : response.data[this.i].SubCategoryID
              }
              this.CategoriesUnderPromotion.push(this.obj)
            }
          },
          error => {
            console.log(error);
          }
        );
    },
     GetCategoriesNotInVoucherDiscount() {
      
      this.CategoriesNotInVoucherDiscount = []
      axios
        .get(
          this.bURL +
            "VoucherDiscountCategory/GetVoucherDiscountCategory?Type=E" 
        )
        .then(
          response => {
            
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.obj = {
                "Category":response.data[this.i].Category,
                "SubCategory" : response.data[this.i].SubCategory,
                "SubCategoryID" : response.data[this.i].SubCategoryID
              }
              this.CategoriesNotInVoucherDiscount.push(this.obj)
            }
          },
          error => {
            console.log(error);
          }
        );
    },
    AddCategoryUnderPromotion()
    {
      
      if(this.CategoryUnderPromotion === "" || this.CategoryUnderPromotion === undefined || this.CategoryUnderPromotion === null)
      {
        this.SnackbarMessege = "Select Category"
        this.snackbar = true
        return
      }
      for(this.i=0;this.i<this.selectedSubCategoryUnderPromotion.length;this.i++)
      {
         this.flag = false
          for(this.j=0;this.j<this.CategoriesUnderPromotion.length;this.j++)
          {
              if(this.CategoriesUnderPromotion[this.j].SubCategory === this.selectedSubCategoryUnderPromotion[this.i])
              {
                this.flag = true
              }
          }
          if(this.flag === false)
          {
            this.SubCategoryID = -1
            for(this.m=0;this.m<this.SubCategories.length;this.m++)
            {
                if(this.SubCategories[this.m].SubCategory === this.selectedSubCategoryUnderPromotion[this.i])
                {
                  this.SubCategoryID = this.SubCategories[this.m].SubCategoryId
                  break
                }
            }
            this.obj ={
              "Category" : this.CategoryUnderPromotion,
              "SubCategory" : this.selectedSubCategoryUnderPromotion[this.i],
              "SubCategoryID" : this.SubCategoryID
            }
            this.CategoriesUnderPromotion.push(this.obj)
            this.SnackbarMessege = "Added"
            this.snackbar = true
          }
      }
        
    },
    AddCategoryNotInVoucher()
    {
      if(this.CategoryNotInVoucherDic === "" || this.CategoryNotInVoucherDic === undefined || this.CategoryNotInVoucherDic === null)
      {
        this.SnackbarMessege = "Select Category"
        this.snackbar = true
        return
      }
      for(this.i=0;this.i<this.selectedSubCategory.length;this.i++)
      {
         this.flag = false
          for(this.j=0;this.j<this.CategoriesNotInVoucherDiscount.length;this.j++)
          {
              if(this.CategoriesNotInVoucherDiscount[this.j].SubCategory === this.selectedSubCategory[this.i])
              {
                this.flag = true
              }
          }
          if(this.flag === false)
          {
            this.SubCategoryID = -1
            for(this.m=0;this.m<this.SubCategories.length;this.m++)
            {
                if(this.SubCategories[this.m].SubCategory === this.selectedSubCategoryUnderPromotion[this.i])
                {
                  this.SubCategoryID = this.SubCategories[this.m].SubCategoryId
                  break
                }
            }
            this.obj ={
              "Category" : this.CategoryNotInVoucherDic,
              "SubCategory" : this.selectedSubCategory[this.i],
              "SubCategoryID" : this.SubCategoryID
            }
            this.CategoriesNotInVoucherDiscount.push(this.obj)
            this.SnackbarMessege = "Added"
            this.snackbar = true
          }
      }
    },
    Save()
    {
      
      this.TargetAmount = parseFloat(this.TargetAmount)
      this.flag = isNaN(this.TargetAmount)
      if(this.flag)
      {
        this.TargetAmount = 0
      }
       this.VoucherAmount = parseFloat(this.VoucherAmount)
      this.flag = isNaN(this.VoucherAmount)
      if(this.flag)
      {
        this.VoucherAmount = 0
      }
      
        if (new Date(this.StartDate)  > new Date(this.EndDate))
        {
          this.SnackbarMessege = "Please select a valid end date!"
          this.snackbar = true
          return
        }
    else if (new Date(this.StartDate) < new Date())
    {
       this.SnackbarMessege = "Please select a valid start date!"
       this.snackbar = true
       return
    }
    else if (this.TargetAmount <= 0)
    {
      this.SnackbarMessege = "Target amount should be greater than zero!"
       this.snackbar = true
       return
    }
    //else if (Convert.ToDecimal(txtVoucherAmt.Text) <= 0)
    //{
    //    MessageBox.Show("Voucher amount should be greater than zero!");
    //}
    else if (new Date(this.VoucherValidity) <= new Date(this.EndDate))
    {
      this.SnackbarMessege = "Voucher validity date should be greater than offer end date!"
       this.snackbar = true
       return
    }
    else if (this.CategoriesUnderPromotion.length == 0 && CategoriesNotInVoucherDiscount.length === 0)
    {
      this.SnackbarMessege = "Select at least one category under offer!"
       this.snackbar = true
       return
    }
    this.result  = []
          for(this.j=0;this.j<this.CategoriesUnderPromotion.length;this.j++)
          {
            this.obj = {
              "ID" : 0,
              "DVOId" : 1,
              "SubCategoryID" : this.CategoriesUnderPromotion[this.j].SubCategoryID,
              "Type" : "I",
              "Remarks":""
            }
            this.result.push(this.obj)
          }
          for(this.j=0;this.j<this.CategoriesNotInVoucherDiscount.length;this.j++)
          {
            this.obj = {
              "ID" : 0,
              "DVOId" : 1,
              "SubCategoryID" : this.CategoriesNotInVoucherDiscount[this.j].SubCategoryID,
              "Type" : "E",
              "Remarks":""
            }
            this.result.push(this.obj)
          }
          
           axios
        .post(
          this.bURL +
            "VoucherDiscountCategory/InsertVoucherDiscountCategory?VDOfferId=1" ,this.result
        )
        .then(
          response => {
            
           this.SnackbarMessege = "Success"
           this.snackbar = true
          },
          error => {
            
             this.SnackbarMessege = "Failed"
           this.snackbar = true
          }
        );
    },
    DeleteCategoryUnderPromotion(i)
    {
      
        this.DeleteIdUnderPromotion = i
        this.DeleteConfirmation_UnderPromotion = true
    },
    ExecuteDeleteCategoryUnderPromotion()
    {
        this.CategoriesUnderPromotion.splice(this.DeleteIdUnderPromotion,1)
         this.DeleteConfirmation_UnderPromotion = false
    },
     DeleteCategoryNoteInVoucher(i)
    {
      
        this.DeleteIdNotInVoucher = i
        this.DeleteConfirmation_NotInVoucher = true
    },
    ExecuteDeleteCategoryNoteInVoucher()
    {
        this.CategoriesNotInVoucherDiscount.splice(this.DeleteIdNotInVoucher,1)
        this.DeleteConfirmation_NotInVoucher = false
    },
    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },

  }
};
</script>
<style>
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.innerExPan {
  border-radius: 6px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: inherit;
  box-shadow: none;
}
.v-expansion-panel-content__wrap {
  padding: 0px !important;
  flex: 1 1 auto;
  max-width: 100%;
}
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
