<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <v-card class="text-center ">
      <!-- sign in form -->
      <v-card-text style="padding-top:0px">
        <div style="text-align:center" v-if="IsGeneratedOTP === true">
                <img src="/images/dash/password.png"  style="width:220px; height:220px; " >
              </div>
              <div style="text-align:center" v-if="IsGeneratedOTP === false">
                <img src="/images/dash/password.png"  style="width:280px; height:280px; " >
              </div>
        <v-form ref="form" v-model="isFormValid" lazy-validation>
         <v-row>

                <!-- <v-col cols="12" style="margin-top: -17px;text-align:left;padding-top:0px">
                  <label style="margin-bottom:0px">Date and Time</label>
                  <date-picker name="date" v-model="ExpiryDate" :config="optionsFrom"  style="font-size: 12px;height: 40px;"></date-picker>
                </v-col> -->
                <v-col cols="12" style="margin-top: -17px;text-align:left;padding-top:0px">
                    <v-datetime-picker
                       v-model="ExpiryDate"
                      :text-field-props="textFieldProps"
                      :date-picker-props="dateProps"
                      :time-picker-props="timeProps"
                      label="Expire Date and Time"
                      :min="currentDatetime"
                    ></v-datetime-picker>
                  </v-col>
                <v-col cols="12" style="margin-top: -17px;text-align:left;padding-top:5px">
                  <!-- <label style="margin-bottom:0px">Purpose</label> -->

                   <v-combobox
          v-model="Purpose"
          :items="PurposeOptions"
            label="Purpose"
            dense
            @change="GetGeneratedOTP($event)"
          ></v-combobox>
              </v-col>
                 <v-row v-if="IsGeneratedOTP === true">
                 <v-col cols="12" sm="12" style="text-align:center;padding-top:0px;margin-top: -32px;">
               <span style=" color: rgba(0, 0, 0, 0.6);font-size:16px;font-family: Times New Roman, Times, serif !important;">Generated password</span>
              </v-col>
              <v-col cols="12" sm="12" style="text-align:center;    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -19px;"
    >
                 <span style=" font-size: 20px !important;
    font-weight: 600;font-family: Times New Roman, Times, serif !important;">{{Password}}</span>
                </v-col>
                <v-col cols="12" sm="12" style="text-align:center;padding-top:8px">
             <v-icon
                  small

                  color="#1E88E5"
                  style="font-size:22px !important"
                   class="updateb"

                   @click="CopyToClipboard()"
                >
                  mdi-content-copy
                </v-icon>
              <v-icon
                small

                color="green"
                style="font-size:19px !important"
                @click="Sharemodal=true"
              >
                mdi-share-variant
              </v-icon>

              </v-col>
          </v-row>

                 <!-- <v-col cols="12" sm="12" class=" checkblue" style="padding-top: 0px !important;    margin-bottom: -23px;
    margin-top: -20px; text-align:left">
              <v-checkbox
              class="pa-0 ma-0 checknew "
                            label="One Time"
              :ripple="false"

               color="rgb(0, 99, 145)"
              style=" margin-bottom: 11px;"
              ></v-checkbox>

            <v-switch
            class="location"
        style="margin-top: -1px;"
        v-model="IsOnline"
        inset
  label="One Time"
      ></v-switch>

        </v-col> -->
           <v-col cols="12" sm="12" class=" checkblue" style="padding-top: 0px !important;    margin-bottom: -10px;
    margin-top: -10px; text-align:left">


              <v-switch
              class="location"
          style="margin-top: -1px;"
          v-model="IsOneTime"
          inset
    label="One Time"
        ></v-switch>

          </v-col>
                <v-col v-if="IsGeneratedOTP===false" cols="12" style="margin-top: -17px;text-align:left;padding-top:0px;padding-bottom:10px">
                     <v-btn
              :loading="isLoading"
              :disabled="isSignInDisabled"
              block
              x-large
              color="primary"
              style="max-height: 35px;
    font-size: 12px;"
              @click="GeneratePassword()"
            >Generate Password</v-btn>
                </v-col>

                 <v-col  v-if="IsGeneratedOTP===true"  cols="12" style="margin-top: -17px;text-align:left;padding-top:0px;padding-bottom:10px">
                     <v-btn
              :loading="isLoading"
              :disabled="isSignInDisabled"
              block
              x-large
              color="primary"
              style="max-height: 35px;
    font-size: 12px;"
              @click="GeneratePassword()"
            >Re-Generate Password</v-btn>
                </v-col>
                </v-row>


  </v-form>
      </v-card-text>
    </v-card>
   <v-dialog

        v-model="OTPGenerationModal"

    persistent
    width="400px"
      >
      <v-card>
        <v-card-text>
      <v-row no-gutters v-if="IsFailedGeneration === false">
        <v-col cols="12" sm="12" style="text-align:center;padding-top:24px">

                 <span style=" font-size:16px; !important;
    font-weight: 600;font-family: Times New Roman, Times, serif !important;">You are successfully generated password</span>
        </v-col>
   <v-col cols="12" sm="12" style="text-align:center">
    <v-icon style="font-size:100px;color:green">mdi-check-decagram</v-icon>
  </v-col>
   <v-col cols="12" sm="12" style="text-align:center;padding-top:0px">
           <span style=" color: rgba(0, 0, 0, 0.6);font-size:16px;font-family: Times New Roman, Times, serif !important;">Your password is</span>
          </v-col>
          <v-col cols="12" sm="12" style="text-align:center;padding-top:4px">
             <span style=" font-size: 24px !important;
    font-weight: 600;font-family: Times New Roman, Times, serif !important;">{{Password}}</span>
            </v-col>
            <v-col cols="12" sm="12" style="text-align:center;padding-top:8px">
             <v-icon
            small

            color="#EF5350"
            style="font-size:22px !important"

            @click="OTPGenerationModal=false"
             class="updateb"
          >
             mdi-close-circle-outline
          </v-icon>
         <v-icon
              small

              color="#1E88E5"
              style="font-size:22px !important"

              @click="CopyToClipboard()"
               class="updateb"
            >
              mdi-content-copy
            </v-icon>
          <v-icon
            small

            color="green"
            style="font-size:19px !important"

            @click="Sharemodal=true"

          >
            mdi-share-variant
          </v-icon>

          </v-col>
      </v-row>
      <v-row no-gutters v-if="IsFailedGeneration === true">
          <v-col cols="12" sm="12" style="text-align:center;padding-top:24px">

                   <span style=" font-size:16px; !important;
    font-weight: 600;font-family: Times New Roman, Times, serif !important;">Unable to generate password</span>
          </v-col>
     <v-col cols="12" sm="12" style="text-align:center">
      <v-icon style="font-size:100px;color:#FF5252">mdi-close-octagon</v-icon>
    </v-col>
     <v-col cols="12" sm="12" style="text-align:center;padding-top:0px">
             <span style=" color: rgba(0, 0, 0, 0.6);font-size:16px;font-family: Times New Roman, Times, serif !important;">Please try again</span>
            </v-col>

              <v-col cols="12" sm="12" style="text-align:center;padding-top:8px">
               <v-icon
              small

              color="#EF5350"
              style="font-size:22px !important"

              @click="OTPGenerationModal = false"
            >
               mdi-close-circle-outline
            </v-icon>
            </v-col>
        </v-row>
      </v-card-text>
      </v-card>

      </v-dialog>

  <v-dialog

          v-model="Sharemodal"
persistent
width="400px"
        >
        <v-card>
          <v-card-text>
        <v-row no-gutters>
          <v-col cols="12" sm="12" style="padding-top:30px">
          
            <v-combobox
          v-model="Username"
          :items="UserOptions"
            label="User"
            dense
            @change="GetUser($event)"
          ></v-combobox>

          </v-col>
     <v-col cols="12" sm="12" style="text-align:center">
      <v-text-field  label="Mobile No"
                outlined
                v-model="UserMobileNo"
                dense></v-text-field>

    </v-col>

              <v-col cols="12" sm="12" style="text-align:center;padding-top:8px">
               <v-icon
              small

              color="#EF5350"
              style="font-size:32px !important"
               class="updateb"
               @click="Sharemodal=false"
            >
               mdi-close-circle-outline
            </v-icon>

            <v-icon
              small

              color="green"
              style="font-size:30px !important"
              @click="Whatsapp()"
            >
              mdi-whatsapp
            </v-icon>

            </v-col>
        </v-row>

        </v-card-text>
        </v-card>

        </v-dialog>

  <v-snackbar
    :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 20000000 !important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>

  </div>
</template>
<script>

import Vue from 'vue'
import axios from 'axios'
import settings from '../auth/Settings'
import Cryptojs from 'vue-cryptojs'
import de from '../../translations/de'
import 'bootstrap/dist/css/bootstrap.css';
import datePicker from 'vue-bootstrap-datetimepicker';
import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
import DatetimePicker from 'vuetify-datetime-picker'
Vue.use(DatetimePicker)
export default {
  components: { settings , datePicker },
  data() {

    return {
      Loaderdialog: false,
      snackbar: false,
        SnackbarMessege: '',
        timeout: 2000,
    nullDatetime: null,
      datetime: new Date(),
      datetimeString: '2019-01-01 12:00',
      formattedDatetime: '09/01/2019 12:00',
      textFieldProps: {
        appendIcon: 'event'
      },

      timeProps: {
        useSeconds: true,
        ampmInTitle: true
      },
      fruits: [
        'Apples',
        'Apricots',
        'Avocado',
        'Bananas',
        'Blueberries',
        'Blackberries',
        'Boysenberries',
        'Bread fruit',
        'Cantaloupes (cantalope)',
        'Cherries',
        'Cranberries'
      ],
      selectedFruits: [],
      Sharemodal:false,
      OTPGenerationModal:false,
        ExpiryDate: "",
      optionsFrom: {
        format: 'YYYY-MM-DD hh:mm A',
        useCurrent: false,
        showClear: true,
        showClose: true,

      },
      currentDatetime: new Date().toISOString().substr(0, 19),
      Password : "",
      Purpose:"",
      PurposeOptions:["Day End","Day Start"],
      IsGeneratedOTP : false,
      IsFailedGeneration : false,
      IsOneTime:false,
      OTPId:-1,
      snackbar: false,
      SnackbarMessege: '',
      timeout: 2000,
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      message: false,
      // sign in buttons
      isLoading: false,
      isSignInDisabled: false,

      // form
      isFormValid: true,
      email: '',
      password: '',
      logo: '',
      settingsModal: false,

      // form error
      error: false,
      errorMessages: '',

      errorProvider: false,
      errorProviderMessages: '',

      // show password field
      showPassword: false,
      Company: false,

      providers: [{
        id: 'google',
        label: 'Google',
        isLoading: false
      }, {
        id: 'facebook',
        label: 'Facebook',
        isLoading: false
      }],
      form: {
        Username: '',
        Password: '',
        VersionCode: 2,
        LoginDeviceId: sessionStorage.getItem('Uid'),
      },
      bURL: '',
      bURLPrint: '',

      // input rules
      rules: {
        required: (value) => (value && Boolean(value)) || 'Required'
      },
      IsRouteMandatory: 'True',
      Username:"",
      UserOptions: JSON.parse(localStorage.getItem('ReceivedBy')),
      UserMobileNo:""


    }
  },
  mounted() {
    this.IsReload = localStorage.getItem('IsReload')
    if (this.IsReload === 'true') {
      localStorage.setItem('IsReload', false)
      location.reload()
    }
    this.LoginDeviceId = localStorage.getItem('Uid');
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
      history.go(1);
    };
    this.checkUrl()
    this.Date = new Date()
    this.Date.setHours(23);      // Set the hours to 10
    this.Date.setMinutes(59);    // Set the minutes to 30
    this.Date.setSeconds(0);
    this.ExpiryDate = this.Date
  },
  computed: {
    likesAllFruit() {
      return this.selectedFruits.length === this.fruits.length
    },
    likesSomeFruit() {
      return this.selectedFruits.length > 0 && !this.likesAllFruit
    },
    icon() {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }
  },
  methods: {
    toggle() {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFruits = []
        } else {
          this.selectedFruits = this.fruits.slice()
        }
      })
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {

        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");

      }
    },
    GeneratePassword()
    {
          this.PasswordObj = {}

          if(this.Purpose === "")
          {
            this.SnackbarMessege = "Select purpose"
            this.snackbar = true
            return
          }

          this.PasswordObj.Purpose = this.Purpose


         // Create a new Date object
        var currentDate = new Date(this.ExpiryDate);
        // Get the individual date components
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1; // Note: month is zero-based
        if(month.toString().length === 1)
          month = "0" + month
        var day = currentDate.getDate();
         if(day.toString().length === 1)
          day = "0" + day

        // Output the date without time
        this.Date = year + '-' + month + '-' + day



        // Get the individual time components
        var hours = currentDate.getHours();
          if(hours.toString().length === 1)
          hours = "0" + hours
        var minutes = currentDate.getMinutes();
          if(minutes.toString().length === 1)
          minutes = "0" + minutes
        var seconds = currentDate.getSeconds();
          if(seconds.toString().length === 1)
          seconds = "0" + seconds

        // Output the time without date

        this.Time = hours + ':' + minutes + ':' + seconds

        this.PasswordObj.ExpiryDate = this.Date +'T' +this.Time

        this.PasswordObj.IsOneTime = this.IsOneTime
        this.PasswordObj.Password = this.GenerateOTP()
        this.PasswordObj.Password = parseInt(this.PasswordObj.Password)
        this.PasswordObj.Remarks = ""
        this.PasswordObj.OTPId = this.OTPId
         this.Loaderdialog = true
         if(this.IsGeneratedOTP === false)
         {
      axios.post ( this.bURL + "OTP" ,this.PasswordObj)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.Password =  this.PasswordObj.Password
          this.OTPId = response.data
          this.IsGeneratedOTP = true
          this.IsFailedGeneration = false
          this.OTPGenerationModal = true
        }, (error)  =>  {
          this.Loaderdialog = false
          this.IsGeneratedOTP = false
          this.IsFailedGeneration = true
          this.OTPGenerationModal = true
          console.log(error)
        })
      }
      else{
        axios.put ( this.bURL + "OTP" ,this.PasswordObj)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.Password =  this.PasswordObj.Password
          this.IsGeneratedOTP = true
          this.IsFailedGeneration = false
          this.OTPGenerationModal = true
        }, (error)  =>  {
          this.Loaderdialog = false
          this.IsFailedGeneration = true
          this.OTPGenerationModal = true
        })
      }

    },
    GenerateOTP() {
        var otp = "";
        for (var i = 0; i < 6; i++) {
            otp += Math.floor(Math.random() * 10);
        }
        return otp;
    },
    GetGeneratedOTP(purpose)
    {
      this.Loaderdialog = true
      axios.post ( this.bURL + "OTP/GetOTP?Purpose=" + purpose,this.PasswordObj)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.Password =  response.data.Password
          this.IsOneTime =  response.data.IsOneTime
          this.ExpiryDate =  new Date(response.data.ExpiryDate)
          this.OTPId =  response.data.OTPId
          this.IsGeneratedOTP = true
        }, (error)  =>  {
          this.Loaderdialog = false
          this.IsGeneratedOTP = false
          if(this.Purpose == "Day Start")
          {
            this.IsOneTime = true
          }
          else{
            this.IsOneTime = false
          }
          
        })
    },
    GetUser(username)
    {
      this.Loaderdialog = true
      axios.post(this.bURL + 'user/getuser/' + username)
        .then((response)  =>  {
          this.Loaderdialog = false
          if(response.status === 200)
          {
            if(response.data.mobile === "")
            {
              this.SnackbarMessege = "Selected user have no mobile number,please type below if yo know"
              this.snackbar = true
              return
            }
            else
            {
              this.UserMobileNo = response.data.mobile
            }
              
          }

        }, (error)  =>  {
          this.Loaderdialog = false
          this.SnackbarMessege = "failed to get user"
              this.snackbar = true
              return
        })
    },

    Whatsapp() {
     
        if(this.UserMobileNo === "")
        {
            this.SnackbarMessege = "please enter number"
            this.snackbar = true
            return
        }
        else{
          window.open("https://api.whatsapp.com/send?phone=" + this.UserMobileNo + "&text= "+this.Password +"  is the password for " +this.Purpose, "_blank");
        }
    },
    CopyToClipboard() {
      navigator.clipboard.writeText(this.Password)
        .then(() => {
          //console.log("Copied ", this.textToCopy);
          this.SnackbarMessege = "Copied"
          this.snackbar = true
        })
        .catch((error) => {
          //console.error("Error copying password", error);
          this.SnackbarMessege = "Error copying password"
          this.snackbar = true
        });
    },
  }
}
</script>
<style>
.checknew.v-input--selection-controls .v-input__slot > .v-label{
  font-size: 12px;
  padding-top: 6px;
  padding-left: -1px;
  margin-left: -10px;
}
</style>

