<template>
  <div class=" d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Item Discount</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary" @click="Save()"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
          <div class="itemwidth" style="height: 100%;max-height:550px;overflow:scroll;    margin-top: -19px;">
           <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"

  style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon >mdi-filter</v-icon>
    </v-btn>
<v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="310"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center filter" >
        <div class="title filter " style="color:rgb(0 99 145);    padding-right: 10px;
    padding-left: 10px;">{{$t(`dashboard.filter`)}}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
          <v-divider ></v-divider>

           <v-card >

           <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;  margin-bottom: -15px;">
                     <v-autocomplete
            outlined
            dense
            label="Category"
            :items="CategoryOptions"
            v-model="Category"
            @change="GetSubCategory($event)"
          ></v-autocomplete>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top:3px!important;    margin-bottom: -5px;">

                     <v-autocomplete
        label="Sub Category"
        :items="SubCategoryOptions"
        v-model="SubCategory"

            outlined
             dense

          ></v-autocomplete>
                   </v-col>
                  </v-row>
          <v-row >
           <v-col class="slno" cols="12" md="12" style="    margin-top: -24px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: -15px;">
               <!-- <input type="checkbox"  style="padding-left:20px"> With Tax -->
               <v-switch
      v-model="IsWithTax"
      label="With Tax"
    ></v-switch>
             </v-col>
          </v-row>
          <v-row no-gutters>
<v-col cols="12" style="padding-bottom:13px !important">
<v-divider></v-divider>
</v-col>
          </v-row>

                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="text-align:right;padding-bottom:0px !important;padding-top:0px!important;">
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"
              text
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
              @click="LoadAllitems(true)"
            >
          View All
            </v-btn>

                   </v-col>
                   </v-row>


             </div>

          </v-card-text>

        </v-card>


    </v-navigation-drawer>
    <!-- <v-row no-gutters>
  <v-col cols="12" style="margin-bottom: -29px !important;padding-top:22px">
    <v-autocomplete label="Search By" dense outlined></v-autocomplete>
  </v-col>
</v-row>
<v-row no-gutters>
  <v-col cols="12" style="margin-bottom: -11px !important;">
    <v-switch v-model="switch2" label="Match beginning charactes only"></v-switch>
  </v-col>
</v-row> -->

            <v-row >
              <v-col cols="6" style="margin-top: -17px;padding-right:0px;text-align:left">
                <label style="margin-bottom:0px">Valid From</label>
                <date-picker name="date" v-model="DateFrom" :config="optionsFrom"  style="font-size: 12px;"></date-picker>

                 <!-- <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="DateFrom"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="DateFrom"
            label="Valid From"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker
         v-model="DateFrom"
         :min="new Date().toISOString().substr(0, 10)"
          no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu.save(DateFrom)">OK</v-btn>
        </v-date-picker>
      </v-menu> -->
              </v-col>

              <v-col cols="6" style="margin-top: -17px;text-align:left">
                 <label style="margin-bottom:0px">Valid To</label>
                 <date-picker name="date" v-model="DateTo" :config="optionsTo"   style="font-size: 11px;"></date-picker>
                 <!-- <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="DateTo"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="DateTo"
            label="Valid To"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="DateTo" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(DateTo)">OK</v-btn>
        </v-date-picker>
      </v-dialog> -->
              </v-col>

            </v-row>
            <v-row>
              <v-col cols="6" style="margin-top: -33px;">
                <v-text-field dense label="Discount%" v-model="AllDiscountPerc" @change="SetDiscount()"></v-text-field>

              </v-col>
              <v-col cols="6" style="margin-top: -33px;text-align:right">
<v-switch label="select All" v-model="IsSelectAll" @change="SelectAll($event)"></v-switch>
              </v-col>
            </v-row>
             <v-row no-gutters >
                <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px !important;margin-top: -38px;
    margin-bottom: 27px;" >
      <v-text-field
      v-model="Itemsearch"
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           >

           </v-text-field>


                </v-col>

            </v-row>
<div class="itemwidth" style="height: 100%;max-height:350px;overflow:scroll;margin-top: -45px; padding-bottom:22px ">
        <v-expansion-panels focusable style="margin-top:0px;">
    <v-expansion-panel
      v-for="(item,i) in resultQuery"
      :key="i"
    >
      <v-expansion-panel-header style="margin-bottom: -16px !important;">

        <v-row no-gutters>

           <v-col
        cols="10"
        sm="10"
      style="text-align:left"
      >
        <label style="font-size: 12px;">{{item.ItemName}} </label>

      </v-col>
       <v-col
        cols="2"
        sm="2"
        style="text-align:right"
      >
   <input
    type="checkbox"
    v-model="item.IsSelect"
    @click="SelectItem(i,item,$event)"
    />
    </v-col>


      <v-col
        cols="6"
        sm="6"
        class="loction"
        style="padding-right:22px;padding-top:14px"
      >
        <label style="font-size: 12px;">{{item.DiscountPerc}} (%)</label>
        <!-- <v-text-field dense label="Discount %" v-model="item.DiscountPerc" disabled></v-text-field> -->

      </v-col>
      <v-col
        cols="6"
        sm="6"
      style="padding-top:0px"
      v-if="!IsWithTax"
      >
       <!-- <label style="font-size: 12px;">124567</label> -->
       <v-text-field dense  v-model="item.DiscountedRate" @change="GetDiscountPercByDiscountedRate(i,item)"></v-text-field>
        </v-col>
         <v-col
        cols="6"
        sm="6"
      style="padding-top:5px"
      v-if="IsWithTax"
      >
       <!-- <label style="font-size: 12px;">124567</label> -->
       <v-text-field dense  v-model="item.DiscountedRateWithTax"  @change="GetDiscountPercByDiscountedRate(i,item)"></v-text-field>
        </v-col>



    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content style="padding-top: 18px;"

      >
      <v-row no-gutters>
             <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="location"
      >
      <label >Item Code</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
       style="padding-top: 0px;"
      >
        <label>{{item.ItemCode}}</label>
      </v-col>
           <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="location"
      >
      <label >Barcode</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
       style="padding-top: 0px;"
      >
        <label>{{item.Barcode}}</label>
      </v-col>
         <v-col
        cols="6"
        sm="6"
        style="padding-top: 0px"

        class="location"
      >
      <label >{{$t(`menu.Cost`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
       style="padding-top: 0px;"

      >
        <label>{{item.Cost}}</label>
      </v-col>
      <v-col
      v-if="!IsWithTax"
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
    <label>Selling Rate</label>
      </v-col>
      <v-col
      v-if="!IsWithTax"
        cols="6"
        sm="6"
        class="locationnew"
        style="padding-top: 4px;"
      >
           <label>{{item.RetailRate}}</label>
      </v-col>

       <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
        v-if="IsWithTax"
      >
    <label>Selling Rate</label>
      </v-col>
      <v-col
      v-if="IsWithTax"
        cols="6"
        sm="6"
        class="locationnew"
        style="padding-top: 4px;"
      >
           <label>{{item.RateWithTax}}</label>
      </v-col>





    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</div>
          </div>
        </v-card-text>
      </v-card>


  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import 'bootstrap/dist/css/bootstrap.css';
import datePicker from 'vue-bootstrap-datetimepicker';
 import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect, datePicker },
  data() {
    return {
       DateFrom: new Date(),
         optionsFrom: {
          format: 'YYYY-MM-DD hh:mm A',
          useCurrent: false,
           showClear: true,
      showClose: true,

        } ,
       DateTo: new Date(),
        optionsTo: {
          format: 'YYYY-MM-DD hh:mm A',
          useCurrent: false,
           showClear: true,
      showClose: true,

        } ,
     time: null,
        menu2: false,
        modal2: false,
      switch2: true,
    /*   DateFrom: new Date().toISOString().substr(0, 10),
    DateTo: new Date().toISOString().substr(0, 10), */
    menu: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      BranchCode: localStorage.getItem("BranchCode"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true,
        Itemsearch : "",
        AllUnits:[],
        IsWithTax:false,
        IsSelectAll : false,
        CategoryOptions:[],
        Category:"",
        SubCategoryOptions:[],
        SubCategory:"",
         isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
    };
  },
  computed: {
 resultQuery() {
      this.ItemsNew = []
    if(this.Itemsearch !== undefined && this.Itemsearch !== "")
    {
       this.ItemsNew = this.AllUnits.filter(post => {
        return post.ItemName.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.ItemCode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.ItemNameArabic.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Barcode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Cost.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Unit.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.RetailRate.toString().toLowerCase().includes(this.Itemsearch.toString().toLowerCase())
      })
      if(this.ItemsNew.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.ItemsNew[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.ItemsNew
      }
    }
    else{
      if(this.AllUnits.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.AllUnits[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.AllUnits
      }
    }
    },

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.GetCategory()
    this.BasicSettings()
    this.LoadAllitems()
    this.SetPermission()

  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },
     SetPermission()
    {
      this.userType = localStorage.getItem("UserType");
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmSalesPromotion')
        .then((response)  =>  {
          this.DayEndConfirmationModal = false
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })
    },
     LoadAllitems(isLoading) {
      this.AllUnits = []
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
       this.Category1 =  this.Category? this.Category:"all"
      
       if(isLoading)
        this.isLoading = true
      axios
        .get(
          this.bURL +
            "item/GetItemsWithAllUnits?Category=" + this.Category1
        )
        .then(
          response => {
            this.isLoading = false
            this.right = false
              this.TempAllUnits = response.data
              for(this.i=0;this.i<this.TempAllUnits.length;this.i++)
              {
                 if(this.SubCategory === "" || this.SubCategory === "All"  || this.SubCategory === this.TempAllUnits[this.i].SubCategory)
                {
                  this.TaxPerc = this.TempAllUnits[this.i].TaxPerc
                  this.DiscountPerc = this.TempAllUnits[this.i].DiscountPerc

                  this.Tax = (this.TempAllUnits[this.i].RetailRate * this.TaxPerc)/100
                  this.Discount = (this.TempAllUnits[this.i].RetailRate * this.DiscountPerc)/100
                  this.RateWithTax = this.TempAllUnits[this.i].RetailRate + this.Tax

                  this.TaxWithDiscount = ((this.TempAllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                  this.RateWithTaxWithDiscount = this.TempAllUnits[this.i].RetailRate + this.TaxWithDiscount

                  this.TempAllUnits[this.i].Tax = this.Tax
                  this.TempAllUnits[this.i].Discount = this.Discount
                  this.TempAllUnits[this.i].RateWithTax = this.RateWithTax
                  this.TempAllUnits[this.i].DiscountedRate = this.TempAllUnits[this.i].RetailRate - this.Discount
                  this.TempAllUnits[this.i].DiscountedRate = this.TempAllUnits[this.i].DiscountedRate.toFixed(this.DecimalPlaces)
                  this.TempAllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
                  this.TempAllUnits[this.i].DiscountedRateWithTax = this.TempAllUnits[this.i].DiscountedRateWithTax.toFixed(this.DecimalPlaces)
                  this.TempAllUnits[this.i].IsSelect = false

                  this.AllUnits.push(this.TempAllUnits[this.i])

                }
              }
              //this.AllUnits = this.TempAllUnits
          },
          error => {
            console.log(error);
          }
        );
    },
    GetDiscountPercByDiscountedRate(i,item,event)
    {
         this.DiscountedRateWithTax = parseFloat(item.DiscountedRateWithTax);
         this.flag = isNaN(this.DiscountedRateWithTax);
      if (this.flag) {
        this.DiscountedRateWithTax = 0;
      }
        this.DiscountedRate = parseFloat(item.DiscountedRate);
      this.flag = isNaN(this.DiscountedRate);
      if (this.flag) {
        this.DiscountedRate = 0;
      }
       if(this.IsWithTax === false)
       {
         this.Discount = item.RetailRate - this.DiscountedRate
         this.DiscountPerc = (this.Discount / item.RetailRate) * 100
         this.DiscountPerc = this.DiscountPerc.toFixed(2)
         this.DiscountPerc = parseFloat(this.DiscountPerc)
         item.DiscountPerc = this.DiscountPerc


          this.TaxWithDiscount = ((item.RetailRate - this.Discount) * item.TaxPerc )/100
          this.DiscountedRateWithTax = item.RetailRate + this.TaxWithDiscount

          item.Discount = this.Discount
          item.DiscountedRateWithTax = this.DiscountedRateWithTax - this.Discount
          item.IsSelect = true
       }
       else{
                 this.DiscountedRate = this.DiscountedRateWithTax/(1+(item.TaxPerc/100))

                 this.Discount = item.RetailRate - this.DiscountedRate

                 this.DiscountPerc = (this.Discount / item.RetailRate) * 100
                 this.DiscountPerc = this.DiscountPerc.toFixed(2)
                 this.DiscountPerc = parseFloat(this.DiscountPerc)
                 item.DiscountPerc = this.DiscountPerc
                 this.DiscountedRate = this.DiscountedRate.toFixed(this.DecimalPlaces)
                 item.DiscountedRate = parseFloat(this.DiscountedRate)
                 item.IsSelect = true
       }
    },
    SelectItem(i,item)
    {
      if(item.IsSelect === false)
      {
                this.TaxPerc = item.TaxPerc
                this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
                this.flag = isNaN(this.AllDiscountPerc)
                if(this.flag)
                {
                  this.AllDiscountPerc = 0
                }
                  this.DiscountPerc = this.AllDiscountPerc

                  this.Tax = (item.RetailRate * this.TaxPerc)/100
                  this.Discount = (item.RetailRate * this.DiscountPerc)/100
                  this.RateWithTax = item.RetailRate + this.Tax

                  this.TaxWithDiscount = ((item.RetailRate - this.Discount) * this.TaxPerc )/100
                  this.RateWithTaxWithDiscount = item.RetailRate + this.TaxWithDiscount

                  item.Tax = this.Tax
                  item.DiscountPerc = this.DiscountPerc
                  item.Tax = this.Tax
                  item.RateWithTax = this.RateWithTax
                  item.DiscountedRate = item.RetailRate - this.Discount
                  item.DiscountedRate = item.DiscountedRate.toFixed(this.DecimalPlaces)
                  item.DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
                  item.DiscountedRateWithTax = item.DiscountedRateWithTax.toFixed(this.DecimalPlaces)
    }

    },
    SelectAll(selectAll)
    {
      this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
      this.flag = isNaN(this.AllDiscountPerc)
      if(this.flag)
      {
        this.AllDiscountPerc = 0
      }
      for(this.i=0;this.i<this.AllUnits.length;this.i++)
      {
          this.AllUnits[this.i].IsSelect = selectAll
          this.AllUnits[this.i].DiscountPerc = this.AllDiscountPerc

      }
       this.SetRate()
    },
    SetDiscount()
    {
      this.AllDiscountPerc = parseFloat(this.AllDiscountPerc)
      this.flag = isNaN(this.AllDiscountPerc)
      if(this.flag)
      {
        this.AllDiscountPerc = 0
      }
      for(this.i=0;this.AllUnits.length;this.i++)
      {
        if( this.AllUnits[this.i].IsSelect === true)
        {
            this.AllUnits[this.i].DiscountPerc = this.AllDiscountPerc



                this.TaxPerc = this.AllUnits[this.i].TaxPerc
                this.DiscountPerc = this.AllUnits[this.i].DiscountPerc

                this.Tax = (this.AllUnits[this.i].RetailRate * this.TaxPerc)/100
                this.Discount = (this.AllUnits[this.i].RetailRate * this.DiscountPerc)/100
                this.RateWithTax = this.AllUnits[this.i].RetailRate + this.Tax

                this.TaxWithDiscount = ((this.AllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                this.RateWithTaxWithDiscount = this.AllUnits[this.i].RetailRate + this.TaxWithDiscount

                this.AllUnits[this.i].Tax = this.Tax
                this.AllUnits[this.i].Discount = this.Discount
                this.AllUnits[this.i].RateWithTax = this.RateWithTax
                this.AllUnits[this.i].DiscountedRate = this.AllUnits[this.i].RetailRate - this.Discount
                this.AllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
        }

      }
    },
    SetRate()
    {
       for(this.i=0;this.i<this.AllUnits.length;this.i++)
              {
                this.TaxPerc = this.AllUnits[this.i].TaxPerc
                this.DiscountPerc = this.AllUnits[this.i].DiscountPerc

                this.Tax = (this.AllUnits[this.i].RetailRate * this.TaxPerc)/100
                this.Discount = (this.AllUnits[this.i].RetailRate * this.DiscountPerc)/100
                this.RateWithTax = this.AllUnits[this.i].RetailRate + this.Tax

                this.TaxWithDiscount = ((this.AllUnits[this.i].RetailRate - this.Discount) * this.TaxPerc )/100
                this.RateWithTaxWithDiscount = this.AllUnits[this.i].RetailRate + this.TaxWithDiscount

                this.AllUnits[this.i].Tax = this.Tax
                this.AllUnits[this.i].Discount = this.Discount
                this.AllUnits[this.i].RateWithTax = this.RateWithTax
                this.AllUnits[this.i].DiscountedRate = this.AllUnits[this.i].RetailRate - this.Discount
                this.AllUnits[this.i].DiscountedRateWithTax = this.RateWithTaxWithDiscount - this.Discount
              }
    },
    Save()
    {
      this.result = []
       for(this.i=0;this.i<this.AllUnits.length;this.i++)
       {
          if(this.AllUnits[this.i].IsSelect === true)
          {
            this.obj =
            {
                "AltUnitId" : this.AllUnits[this.i].AltUnitId,
                "DiscountPerc" : this.AllUnits[this.i].DiscountPerc,
            }
            this.result.push(this.obj)
         }
       }
       this.abc = this.date
       this.ValidDate = this.DateFrom + "#" + this.DateTo 
       this.ValidDate = encodeURIComponent(this.ValidDate)
       if(this.result.length > 0)
       {
         if(this.isUpdatePermission === true)
         {
            this.Loaderdialog = true
            axios.put(this.bURL + 'item/UpdateAltUnitDiscPerc?ValidDate=' + this.ValidDate ,this.result)
            .then((response)  =>  {
                this.Loaderdialog = false
                this.SnackbarMessege = "Success"
                this.snackbar = true
            }, (error)  =>  {
                console.log(error)
            })
         }
         else
         {
             this.SnackbarMessege = "You have no permission"
             this.snackbar = true
         }
       }
       else{
                this.SnackbarMessege = "Enter Discount"
                this.snackbar = true
           }
    },
     GetCategory()
    {
       axios.get(this.bURL + 'item/GetItemCategoriesSubCategories')
          .then((response)  =>  {
            this.CategoryOptions.push('All')
           for(this.i = 0;this.i<response.data.length;this.i++)
           {
             this.CategoryOptions.push(response.data[this.i].Category)
           }

          }, (error)  =>  {
            console.log(error)
          })
    },
      GetSubCategory(category)
    {
        axios.get(this.bURL + "item/GetItemSubCategories?Category="+category)
          .then((response)  =>  {
            this.SubCategoryObject = response.data
            this.SubCategoryOptions= []
             this.SubCategoryOptions.push('All')
           for(this.i = 0;this.i<this.SubCategoryObject.length;this.i++)
           {
             this.SubCategoryOptions.push(this.SubCategoryObject[this.i].SubCategory)
           }

          }, (error)  =>  {
            console.log(error)
          })
    },
        voucherssettings()
    {
      this.$router.push('/dashboard/settings/SalesPromotion')
    },




  }
};
</script>
<style>
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
