<template>
  <div class=" d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Points & Rewards</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary"> <v-icon style="padding-left: 23px;" @click="PointsandRewards()">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
           <v-row >
           <v-col class="slno" cols="12" md="12" style="    margin-top: -24px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: -15px;">
               <!-- <input type="checkbox"  style="padding-left:20px"> With Tax -->
               <v-switch
      v-model="SalesIsActivePoints"
      @change="UpdateSettingsValue('SalesIsActivePoints',$event)"
      label="Active points programme promotion"
    ></v-switch>
             </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size:14px;text-align:center;margin-bottom: -12px;">
              <label><b>Points Earning</b></label>
            </v-col>
          </v-row>
            <v-row>
            <v-col
              col="12"
              md="12"
              sm="12 "
              style="margin-left:-7px !important;padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;"
            >
              <v-text-field dense  label="Get 1 Point for every" 
              type="number"
               v-model="SalesEarningAmount"
                @change="UpdateSettingsValue('SalesEarningAmount',$event)">

                <template v-slot:append-outer>
                  <!-- <v-icon style="font-size:18px !important">AED</v-icon> -->
                  <label style="font-size:18px !important;padding-top:2px"
                    >{{PrimaryCurrency}}</label
                  >
                </template>
              </v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12">
<v-divider></v-divider>
            </v-col>

          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="font-size:14px;text-align:center;margin-bottom: -12px;padding-top:7px">
              <label><b>Points Redemption</b></label>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;"
            >
              <v-text-field
                type="type"
                :label="'Redeem' + '  ' + PrimaryCurrency"
                dense
                v-model="SalesRedeemAmount"
                @change="UpdateSettingsValue('SalesRedeemAmount',$event)"
              >
                <template v-slot:append-outer>
                <label>for</label>
                </template>
              </v-text-field>
            </v-col>
            <v-col
              col="6"
              md="6"
              sm="6 "
              style="margin-left:-7px !important;padding-bottom:0px !important;padding-top: 22px !important;padding-right:15px;padding-left:1px; margin-bottom: -10px;"
            >
              <v-text-field  dense v-model="SalesRedeemPoints" type="number"  @change="UpdateSettingsValue('SalesRedeemPoints',$event)" label="Points">

              </v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>


  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect },
  data() {
    return {
      switch2: true,
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true,
        PrimaryCurrency : localStorage.getItem("PrimaryCurrency"),
        Settings:[],
        SalesIsActivePoints:false,
        SalesRedeemPoints:"",
        SalesRedeemAmount:"",
        SalesEarningAmount:""
        
    };
  },
  computed: {

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.BasicSettings()
    this.GetSettings()
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    voucherssettings()
    {
      this.$router.push('/dashboard/settings/SalesPromotion')
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },
      GetSettings()
    {
      
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.Settings = response.data
            this.SalesIsActivePoints = this.Settings.SalesIsActivePoints
            if(this.SalesIsActivePoints === "True")
              this.SalesIsActivePoints = true
            else
              this.SalesIsActivePoints = false

            this.SalesRedeemPoints = this.Settings.SalesRedeemPoints

            this.SalesRedeemAmount = parseFloat(this.Settings.SalesRedeemAmount)
            this.SalesRedeemAmount = this.SalesRedeemAmount.toFixed(this.DecimalPlaces)

            this.SalesEarningAmount = parseFloat(this.Settings.SalesEarningAmount) 
            this.SalesEarningAmount = this.SalesEarningAmount.toFixed(this.DecimalPlaces)
            

        }, (error)  =>  {
          console.log(error)
        })
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        /* if (this.isUpdatePermission === true)
        { */
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
       /*  }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        } */
      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        this.Loaderdialog = true;
      if(this.BranchCode == "All" || this.BranchCode == "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {
             
              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },
  PointsandRewards()
  {
   return
  },

  }
};
</script>
<style>
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
