<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>

    <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center">
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px;padding-bottom:20px">
          <h4
            style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "
          >
            Role Settings
          </h4>
        </v-col>
      </v-row>
    </div> -->
    <v-card>
          <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"
                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      > Role Settings</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
                 <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>
      <v-row>
            <v-col
              cols="12"
              md="12"
              xl="12"
              style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -9px; "
            >
              <v-autocomplete
                :items="UserRoleOptions"
                v-model="UserRoleSearch"
                solo
                rounded
                dense
                placeholder="Role Name"
                @change="LoadRoleSettings()"
                style="padding-bottom:0px"
              >
                <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="12"
              md="12"
              xl="12"
              style="padding-top:2px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -9px; "
            >
              <v-autocomplete
                :items="UserRoleCategoryOptions"
                v-model="UserRoleCategory"
                solo
                rounded
                dense
                placeholder="Category"
                @change="LoadRoleSettings()"
                style="padding-bottom:0px"
              >
                <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-divider></v-divider>
          <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in 1"
              :key="i"
              style="padding-left: 10px;"
            >
              <v-expansion-panel-header
                style="text=align:center !important;min-height: 24px !important;    margin-bottom: -4px;padding-left: 10px;"
                expand-icon=""
              >
                <v-row>
                  <v-col
                    cols="12"
                    md="12"
                    xl="12"
                    style="padding-top:2px;padding-bottom:0px;padding-right:0px;padding-left:0px; padding-left: 4px;    margin-bottom: -24px; "
                  >
                    <v-text-field
                      solo
                      rounded
                      dense
                      v-model="FormNameSearch"
                      label="Search Settings Name"
                      style="padding-bottom:0px"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-expansion-panel-header>
            </v-expansion-panel>
          </v-expansion-panels>

          <v-card-actions style="background:#007bff;padding: 1px;">
          </v-card-actions>

          <v-row
            no-gutters
            style="    font-size: 10px;padding: 5px; background: #343a402e;"
          >
            <v-col cols="8" sm="8" class="slno">
              Settings Name
            </v-col>
            <v-col cols="4" sm="4" class="text-center">
              <!-- <v-tooltip top color="#388E3C">
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    small
                    color="#388E3C"
                    @click="show = !show"
                    v-bind="attrs"
                    v-on="on"
                  >
                    mdi-plus-circle
                  </v-icon>
                </template>
                <span>Create/Insert</span>
              </v-tooltip> -->
            </v-col>
          </v-row>
          <v-row
            no-gutters
            style="    font-size: 10px;padding: 2px; max-height:300px; overflow:scroll;overflow-x: hidden;"
          >
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in resultQuery"
                :key="i"
                class="ma-0"
                v-touch:tap="touchHandler"
              >
                <v-expansion-panel-header
                  expand-icon=""
                  class="itemheader"
                  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;argin-bottom: -6px;"
                >
                  <v-row v-if="item.Type === 'C'">
                    <v-col
                      cols="10"
                      sm="10"
                      class="slno1"
                      style="margin-top: 10px; "
                    >
                      <b>{{ item.Description }} </b>
                    </v-col>

                    <v-col
                      cols="2"
                      sm="2"
                      class="checkgreen"
                      style="padding: 0px !important;text-align:right !important;"
                    >
                      <v-checkbox
                        class="centered-input pa-0 ma-0"
                        :ripple="false"
                        v-model="item.SettingValue"
                        :value="false"
                        hide-details
                        color="#388E3C"
                        style=" margin-bottom: 11px;text-align:right !important"
                        @change="SetRoleSetttings(item,i)"
                      ></v-checkbox>
                    </v-col>
                  </v-row>
                <div v-if="item.Type === 'L'">
                   <v-row >
                    <v-col
                      cols="12"
                      sm="12"
                      class="slno1"
                      style="margin-top: 10px; "
                    >
                      <b>{{ item.Description }} </b>
                    </v-col>

                    
                  </v-row>
                   <v-row >
                    <v-col
                      cols="12"
                      sm="12"
                      class="slno1"
                      style="margin-top: 1px; padding-bottom:0px"
                    >
                        <!-- <v-autocomplete label="Select settings"
                          :items="item.Choices"
                          v-model="item.SettingValue"
                          @change="SetRoleSetttings(item,i)"
                          
                          >
                            
                       </v-autocomplete> -->
                        <v-select
     :items="item.Choices"
                          v-model="item.SettingValue"
                          @change="SetRoleSetttings(item,i)"
    persistent-hint
    return-object
    single-line
    style="z-index: 100000;"
  ></v-select>
                    </v-col>

                    
                  </v-row>


                    
                  </div>

                  
                </v-expansion-panel-header>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>   
    </v-card>

    <fab v-if="!HideFab"
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @SetRoleSetttings="SetRoleSetttings"
    ></fab>
   
    <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmationModal = false"
              >Cancel</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteUserAccess"
              >OK</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="SubUserAccessModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to Create SubUserAccess with same name</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="SetNoSubUserAccess"
              >No</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(220 53 69);" @click="SetSubUserAccess"
              >Yes</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>

  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../translations/de";
import vueSignature from "vue-signature";
import TrendPercentVue from "../../components/common/TrendPercent.vue";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab,
    vueSignature //,Assets
  },
  data() {
    return {
      HideFab: true,
      show: false,
      showb: false,
      showy: false,
      showr: false,
      singleSelect: false,
      selected: [],
      headers: [
        {
          singleSelect: false,
          text: "Menu Items",
          align: "last",
          sortable: false,
          value: "name"
        },
        { text: "Create/Insert", value: "calories" },
        { text: "View", value: "fat" },
        { text: "Update", value: "carbs" },
        { text: "Delete)", value: "protein" }
      ],
      desserts: [
        {
          name: "Frozen Yogurt",
          selected: [],
          selected: [],
          selected: [],
          selected: []
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3
        }
      ],

      item: {
        p_img:
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU",
        barcode: ""
      },
      barcodescannarmodal: false,

      signature1: false,
      BarcodeModal: false,
      ex4: ["primary"],
      bURL: "",
      bURLPrint: "",
      dialog: false,
      AssetModal: false,
      VerifyModal: false,
      RouteDeleteModal: false,
      sheet: false,
      items: ["Foo", "Bar", "Fizz", "Buzz"],

      tab: null,
      tab1: null,
      breadcrumbs: [
        {
          text: "vms",
          to: "/vms/list",
          exact: true
        },
        {
          text: "Edit vm"
        }
      ],
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "SetRoleSetttings",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
      markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: "<strong>Marker 1</strong>"
        }
      ],
      date: "1990-10-09",
      menu: false,
      gender: "male",
      items: ["Kerala", "Assam", "Odisha", "Gujarat"],
      imageSrc: "/images/avatars/avatar1.svg",
      ImageModal: false,
      MappingModal: false,
      Username: window.localStorage.getItem("UserName"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      IsMultiBarnch: false,
      UserRoleOptions: [],
      UserRoleSearch: "",
      UserRoleCategoryOptions: [],
      UserRoleCategory: "",
      UserAccess: [],
      RoleSettings: [],
      FormNameSearch: "",
      CREATE: false,
      READ: false,
      UPDATE: false,
      DELETE: false,

      Settings: JSON.parse(localStorage.getItem("Settings")),
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmationModal: false,
      DeleteName: "",
      menu: false,
      UserAccesssearch: "",
      OldName: "",
      IsNew: true,
      UpdateConfirmationModal: false,
      IsUpdate: false,
      SubUserAccessModal: false,
      AutoInsertSubUserAccess: false,
      IsShowCreateWarningModal: false,
      CreateWarningModal: false,
      Loaderdialog: false
    };
  },
  computed: {
    resultQuery() {
      if (this.FormNameSearch !== "") {
        this.RoleSettings.filter(post => {
          return post.Description.toString()
            .toLowerCase()
            .includes(this.FormNameSearch.toLowerCase());
        });
      } else {
        return this.RoleSettings;
      }
    }
  },
  mounted() {
    this.PreviousPage = localStorage.getItem("ActivePage");
    this.BackToPage = localStorage.getItem("BackToPage");
    localStorage.setItem('ActiveRoute','/dashboard/settings/RoleSettings')
    
    //      if(this.BackToPage !== null)
    //       {
    //                 this.PageUrl = "/dashboard/masters/" + this.BackToPage
    //                  history.pushState(null, null, location.href);
    //               window.onpopstate = function () {
    //               location.href = location.origin + this.PageUrl
    //               };
    //       }
    //     else if(this.BackToPage !== 'UserProfile')
    //     {
    //           history.pushState(null, null, location.href);
    // window.onpopstate = function () {

    //     history.go(1);
    // };
    //     }
   
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    localStorage.removeItem("VoucherUpdated");
    this.GetUserRoles();
    this.GetUserRoleCategories()
    this.BasicSettings();
    this.SetPermission();
    this.checkUrl();
    //this.LoadRoleSettings();
  },
  methods: {
    saveDigital() {
      var _this = this;

      var svg = _this.$refs.signature.save("image/svg+xml");

      // console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if (this.signtype == 1) {
        this.salessign = svg;
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */
      }

      this.signature1 = false;
    },
    clearDigital() {
      var _this = this;
      this.salessign = "";
      _this.$refs.signature.clear();
    },
    open(a) {
      if (a == 1) {
        this.Title = "Signature";
      }

      this.signtype = a;
      this.signature1 = true;
    },
    close() {
      this.signature1 = false;
    },
    openBarcode() {
      this.BarcodeModal = true;
      this.barcodescannarmodal = true;
    },
    onDecode(result) {
      console.log(result);
      this.item.barcode = result;
      this.BarcodeModal = false;
      this.barcodescannarmodal = false;
    },
    goToAssets() {
      this.$router.push("/dashboard/assets");
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },
    someAction(e) {
      e.stopPropagation();
      console.log("in some action");
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    save1(date1) {
      this.$refs.menu1.save(date1);
    },
    uploadImage: function() {
      this.ImageModal = false;
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false;
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace(
          "data:image/jpeg;base64,",
          ""
        );
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1;
        localStorage.setItem("TempImage", this.Photo);
        this.ImageModal = false;
        document.getElementById("UserImage1").src = e.target.result;
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = marker.infoText;
      console.log(marker.position.lat + " " + marker.position.lng);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },

    BasicSettings() {
      this.IsSalesPerson = localStorage.getItem("salePerson");
      if (this.IsSalesPerson !== "") this.Salesman = this.IsSalesPerson;
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;

      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;
      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }
    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmCreateUser"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];
          },
          error => {
            console.log(error);
          }
        );
    },
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces);
    },
   
    SetRoleSetttings(item,i) {
     
      if (this.isUpdatePermission === true) {
        localStorage.setItem("UserAcessObj", JSON.stringify(this.UserAcessObj));
        this.Loaderdialog = true;
        if(item.SettingValue === true)
            this.SettingValue = "True"
        else if(item.SettingValue === false)
           this.SettingValue = "False"
        else
           this.SettingValue = item.SettingValue  
        axios
          .put(this.bURL + "Common/SetRoleSetttings?RoleName="+this.UserRoleSearch +"&SettingId=" + item.SettingId + "&SettingValue=" + this.SettingValue)
          .then(
            response => {
              this.Loaderdialog = false;
              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
            },
            error => {
              console.log(error);
            }
          );
      } else {
        (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
          (this.snackbar = true);
      }
    },
   
    FormatDate(Value) {UserRoleOptions
      if (Value !== undefined) {
        Value = Value.split("T")[0];
      } else {
        Value = "";
      }

      return Value;
    },
    GetUserRoles() {
      this.UserRoleOptions = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "User/LoadUserRoleNamesList").then(
        response => {
          this.UserRoleOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    },
     GetUserRoleCategories() {
      this.UserRoleCategoryOptions = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "Common/GetRoleSettingsCategories").then(
        response => {
          this.UserRoleCategoryOptions = response.data;
          this.UserRoleCategory = this.UserRoleCategoryOptions[0]
        },
        error => {
          console.log(error);
        }
      );
    },
    LoadRoleSettings(rollname) {
      if(this.UserRoleSearch === "" || this.UserRoleCategory === "")
      {
        return
      }
      this.RoleSettings = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.Loaderdialog = true;
      axios.get(this.bURL + "Common/GetRoleSettings?RoleName=" + this.UserRoleSearch +'&Categories=' + this.UserRoleCategory).then(
        response => {
          for(this.i=0;this.i<response.data.length;this.i++)
          {
            if(response.data[this.i].Value === "True" )
            {
              response.data[this.i].SettingValue = true
            }
            else if(response.data[this.i].Value === "False" ){
              response.data[this.i].SettingValue = false
            }
            else if(response.data[this.i].Type === "L")
            {
              response.data[this.i].Choices = response.data[this.i].Choices.split('~')
              response.data[this.i].SettingValue = response.data[this.i].Value
            }
          }
          this.RoleSettings = response.data;
          this.Loaderdialog = false;
        },
        error => {
          console.log(error);
        }
      );
    },
   
   
  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>

.centered-input .v-input__slot {
  display: initial !important;
}
.checkred .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: #e53935;
}
.checkyellow .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;
  color: #ffa000;
}
.checkblue .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: rgb(0, 99, 145);
}

.checkgreen .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: #388e3c;
}
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: ce;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
  text-align: left !important;
  padding-left: 8px !important;
}
.v-application--is-rtl .salesPersons {
  direction: rtl;
  text-align: right !important;
  padding-right: 8px !important;
}

.v-application--is-ltr .action {
  text-align: right !important;
  padding-right: 8px !important;
}
.v-application--is-rtl .action {
  direction: rtl;
  text-align: left !important;
  padding-left: 8px !important;
}
</style>
