<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <div
      style="margin-bottom: -21px;margin-top: -19px;text-align:center"
      v-show="showhide"
    >
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px; padding-left: 24px;">
          <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ">
            Sales Promotion
          </h4>
        </v-col>
      </v-row>
    </div>
    <!-- <div>
      <v-row no-gutters>
        <v-col
          cols="12"
          sm="12"
          md="12"
          class="no-p"
          style="padding-bottom:0px !important;margin-bottom: -7px;"
        >
          <v-text-field
            type="text"
            :placeholder="$t('dashboard.Searchhere')"
            v-model="Ledgersearch"
            solo
            rounded
            dense
            append-icon="mdi-magnify"
          ></v-text-field>
        </v-col>
      </v-row>
    </div> -->

    <v-list>
      <v-list-item-group v-model="item" color="primary">
        <v-list-item @click="ItemDiscount()">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="green">
              <v-icon color="#FFF" style="padding-left:18px">
               mdi-folder-star-multiple</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Item Discount</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item @click="PointsandRewards()" >
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#1E88E5">
              <v-icon color="#FFF" style="padding-left:18px"
                >mdi-trophy-award</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Points & Rewards </v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item @click="DiscountVoucher()">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#FF9100">
              <v-icon color="#FFF" style="padding-left:18px"
                >mdi-brightness-percent</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Discount Voucher</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item @click="BundleOffer()">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#3949AB">
              <v-icon color="#FFF" style="padding-left:18px"
                >mdi-offer</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Bundle Offer</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>
        <v-list-item @click="DiscountCard()">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#FF1744">
              <v-icon color="#FFF" style="padding-left:18px"
                >mdi-card-account-details</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Discount Card</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item >

        <v-list-item @click="CategoryFOC()">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#FF5722">
              <v-icon color="#FFF" style="padding-left:18px">
                mdi-focus-field</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>Category FOC</v-list-item-title>
          </v-list-item-content>
          <v-list-item-action>
            <v-btn icon>
              <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
            </v-btn>
          </v-list-item-action>
        </v-list-item>

      </v-list-item-group>
    </v-list>

  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect },
  data() {
    return {


      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCode:"",
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      vm: [],
      Branch: "",
      TotalLedger: 0,
      TotalAmount: 0,
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
      IsShowSubgroup: true,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      dialogReceiptBranch:false,

    };
  },
  computed: {


  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;

    localStorage.removeItem("VoucherUpdated");
    this.SetPermission()
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    posvoucherssettings()
    {
      this.$router.push('/dashboard/masters/POSVoucherSettings')
    },
    ItemDiscount()
    {
     this.$router.push('/dashboard/settings/ItemDiscount')
    },
    PointsandRewards()
    {
   this.$router.push('/dashboard/settings/PointsandRewards')
    },
    DiscountVoucher()
    {
     this.$router.push('/dashboard/settings/DiscountVoucher')
    },
    DiscountCard()
    {
     this.$router.push('/dashboard/settings/DiscountCardList')
    },
    BundleOffer(){
   this.$router.push('/dashboard/settings/BundleOffer')
    },
    CategoryFOC(){
     this.$router.push('/dashboard/settings/CategoryFOC')
    },
    GetSalesModal(user) {
      if (user == "Sales") {
        this.dialogsales = true;
      } else {
        return;
      }
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
     toggleUserRole () {
      this.$nextTick(() => {
        if (this.likesAllUserRole) {
          this.selectedUserRole = []
        } else {
          this.selectedUserRole = this.UserRoleOptions.slice()
        }
      })
    },

     SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmSettings"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];
          },
          error => {
            console.log(error);
          }
        );
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },


  }
};
</script>
<style>
.subtitlefont > .v-toolbar__title {

    font-size: 17px !important;
    font-weight: 550 !important;
    padding-left: 10px !important;
    font-family: "Times New Roman", Times, serif !important;
}
.titlefont > .v-list-item .v-list-item__title, .v-list-item .v-list-item__subtitle {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 13px !important;
    font-weight: 400;
}
</style>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 145px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
