<template>
    <div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetBranch()
  },
  methods: {
    GetBranch()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'Branch')
        .then((response)  =>  {
          localStorage.setItem('Branches', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>