<template>
  <div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
      UserName : window.localStorage.getItem('user'),
      bURL : localStorage.getItem("CompanyURL")+"/api/"
    }
  },
  mounted() {
    this.GetCustomers()
    this.GetLinkedCustomerGroups()
    this.GetCustomerLocations()
    this.GetCustomersDetailed()
  },
  methods: {
    GetCustomers()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
      axios.get(this.bURL + 'Customer/LoadLinkedCustomers?RouteId='+this.RouteID)
        .then((response)  =>  {
          localStorage.setItem('Customers', JSON.stringify(response.data))
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedCustomerGroups()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
      axios.get(this.bURL + 'user/GetLinkedCustomerGroups/' + this.UserName)
        .then((response)  =>  {
          localStorage.setItem('CustomerGroups', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetCustomersDetailed()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
       this.DateFrom =  '1899-01-01T00:00:00'
      this.DateTo = new Date().toISOString().substr(0, 10)
      axios.get(this.bURL + 'Customer/LoadLinkedCustomersDetailed?RouteID='+this.RouteID +"&DateFrom=" + this.DateFrom + "&DateTo=" +this.DateTo) 
        .then((response)  =>  {
          localStorage.setItem('CustomerObject', JSON.stringify(response.data))
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetCustomerLocations()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
      axios.get(this.bURL + 'customer/GetCustomerLocations')
        .then((response)  =>  {
          localStorage.setItem('CustomerrLocations', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>