<template>
    <div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
     this.GetDamageGodowns()
    this.GetGodowns()
    this.GetLinkedGodowns()
    
   
  },
  methods: {
   GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = ''
       }
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
           this.BranchCode = ''
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
   owns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'All'
       }
         axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + this.BranchCode + "&ActiveStatus=Active&GodownType=Sales")
        .then((response)  =>  {
          localStorage.setItem('Godowns',JSON.stringify(response.data))

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    GetDamageGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
         this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'All'
       }
         axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + this.BranchCode + "&ActiveStatus=Active&GodownTypes=E")
        .then((response)  =>  {
          localStorage.setItem('DamageGodowns',JSON.stringify(response.data))

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
   
  }
}
</script>
 