<template>
    <div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.SalesFilterItems = this.Settings.SalesFilterItems
    if(this.SalesFilterItems === "True")
       this.SalesFilterItems = 0
    else
       this.SalesFilterItems = 2
    this.GetItems()
    this.GetReturnItems()
  },
  methods: {
    GetItems()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      /* axios.get(this.bURL + 'Item') */
      axios.get(this.bURL + 'Item/GetItemsBy?ItemType=' + this.SalesFilterItems)
      
        .then((response)  =>  {
          localStorage.setItem('Items', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetReturnItems()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      /* axios.get(this.bURL + 'Item') */
      axios.get(this.bURL + 'Item/GetReturnItemsBy')
      
        .then((response)  =>  {
          localStorage.setItem('ReturnsItems', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>