<template>

  <div>

     <div>
       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
      style="  box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
    
      <v-icon >mdi-menu</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="310"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center " style="padding-left:25px">
        <div class="title" style="color:rgb(0 99 145)">Filter</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
       <v-divider></v-divider>

        
         <!-- here -->
<div class="container-fluid">
 
  <div class="row">
    <div class="col" >
     <img :src="require(`@/assets/images/1.png`)" style="width:120px" class="rounded" alt="Cinque Terre">
    </div>
    <div class="col" style="">
      <img :src="require(`@/assets/images/2.png`)" style="width:120px" class="rounded" alt="Cinque Terre">
    </div>
  </div>
   <div class="row">
    <div class="col" >
     <img :src="require(`@/assets/images/3.png`)" style="width:120px" class="rounded" alt="Cinque Terre">
    </div>
    <div class="col" style="">
      <img :src="require(`@/assets/images/4.png`)" style="width:120px" class="rounded" alt="Cinque Terre">
    </div>
  </div>
</div>
        <!-- </v-card> -->


    </v-navigation-drawer>
     </div>
    <v-card class="text-center pa-1">
      <div class="cont">
      <v-img :src="item.p_img" ></v-img>
         <!-- <v-icon >fas fa-edit</v-icon> -->
         <v-file-input
         v-model="image"
         @change="onFileChange"
         class="btn"
  hide-input
  prepend-icon="mdi-camera"
></v-file-input>
      </div>

    </v-card>
<div class="container">
  <div class="row">
  <div class="col" style="    padding: 2px;">
     <div class="form-group"  style="margin-bottom: 0rem !important;">
    <label for="email">Item Code :</label>
    
     <v-text-field solo v-model="name" dense required ></v-text-field>
    
  </div>
  </div>
  <div class="col" style="    padding: 2px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Current Stock :</label>
  <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>
<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Name :</label>
      <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
</div>

<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Name (Arabic) :</label>
     <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
</div>

<!-- <div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Name (Arabic) :</label>
     <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
</div> -->

<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Barcode :</label>
    <v-text-field
            solo
            dense
            v-model="item.barcode"
            
            append-icon="mdi-barcode"
             @click:append="openBarcode"
          ></v-text-field>

         
  </div>
  </div>
</div>




<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Unit :</label>
   
          <v-select
              :items="Unit"
              label="Choose Unit"
              solo
              dense
            ></v-select>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Convertion :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>


<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Cost :</label>
   
       <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Tax % :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>
<div class="row" style="padding-bottom:10px;">
  <label><b>Retail Rate</b></label><br>
  <hr style="border-top: 1px dotted red;padding:5px;width:100%;"> 

</div>
<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Rate (Execluding Tax) :</label>
   
       <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Rate (Including Tax) :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>
<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Profit % :</label>
   
       <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Profit AMount :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>



<!-- //********************************************** */ -->

<div class="row" style="padding-bottom:10px;">
  <label><b>Wholesale Rate</b></label><br>
  <hr style="border-top: 1px dotted red;padding:5px;width:100%;"> 

</div>
<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Rate (Execluding Tax) :</label>
   
       <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Rate (Including Tax) :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>
<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Profit % :</label>
   
       <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Minimum Quantity :</label>
   <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>



</div>


<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Category :</label>
   
          <v-select
              :items="cate"
              
              solo
              dense
            ></v-select>
  </div>
  </div>
  


</div>

<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -15px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Sub Category :</label>
   
          <v-select
              :items="Subcate"
             
              solo
              dense
            ></v-select>
  </div>
  </div>
  


</div>

<div class="row" style="">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
    <v-btn
    
      color="blue-grey"
      class=" white--text"
     
    >
      Add
      <v-icon
        right
        dark
        style="color: #000;"
      >
        mdi-check-circle
      </v-icon>
    </v-btn>

      <v-btn
      style="margin-left:10px;"
      color="blue-grey"
      class=" white--text"
     
    >
      New
      <v-icon
        right
        dark
        style="color: #000;"
      >
        mdi-plus-box
      </v-icon>
    </v-btn>
  </div>
   <div class="col" style="    padding: 2px;margin-top: -13px;">
      <v-switch
      style="float:right;margin-top: -1px;"
      v-model="online"
      inset
      label="Online"
    ></v-switch>
  </div>
</div>





<div class="row" style="padding-top:1em;">
  <div  class="bg-defualt" data-toggle="collapse" data-target="#units" style="padding:10px;width:100%;background:#679bca33;">
      Alternative Units <span style="float:right;">+</span></div>
  <div id="units" class="collapse" style="    width: 100%;">
    <!-- clps stsrts here -->
 <div id="accordion" style="width:100%;">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Title here
      </a>
    </div>
    <div id="collapseOne" class="collapse " data-parent="#accordion">
      <div class="card-body" style="padding: 0px;">
        <ul class="list-group" style="padding:0px;">
  <li class="list-group-item d-flex justify-content-between align-items-center">
   <div class="row">
       <div class="col" style="padding: 0px;">
      Barcode
      <br style="font-weight:bold;"><b>12032564789</b>
       </div>
        <div class="col" style="padding: 0px;">
           Unit
        <br style="font-weight:bold"><b>Box</b>
        </div>
   </div>
  </li>

   <li class="list-group-item d-flex justify-content-between align-items-center">
   <div class="row">
       <div class="col" style="padding: 0px;">
      Convertion
      <br style="font-weight:bold"><b>2</b>
       </div>
        <div class="col" style="padding: 0px;">
           Retail Rate
        <br style="font-weight:bold"><b>14.025</b>
        </div>
   </div>
  </li>


   <li class="list-group-item d-flex justify-content-between align-items-center">
   <div class="row">
      <div class="col" style="padding: 0px;">
           Wholesale Rate
        <br style="font-weight:bold"><b>12.025</b>
        </div>
        <div class="col" style="padding: 0px;">
           Disc %
        <br style="font-weight:bold"><b>0</b>
        </div>
   </div>
  </li>


  
   <li class="list-group-item d-flex justify-content-between align-items-center">
   <div class="row">
      <div class="col" style="padding: 0px;">
           Online
        <br style="font-weight:bold"><b>Yes</b>
        </div>
        <div class="col" style="padding: 0px;">
           <v-icon color="red">mdi-delete</v-icon>
       
        </div>
   </div>
  </li>


</ul>
      </div>
    </div>
  </div>

  

</div>
    <!-- ends here -->
  </div>
</div>

<div class="row" style="padding-top:1em;">
  <div  class="bg-defualt" data-toggle="collapse" data-target="#more" style="padding:10px;width:100%;background:#679bca33;">
      More Options <span style="float:right;">+</span></div>
  <div id="more" class="collapse" style="    width: 100%;">
    <!-- clps stsrts here -->

    <div class="container">
     <div class="row">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group"  style="margin-bottom: 0rem !important;">
    <label for="email">Make / Brand :</label>
    
     <v-select :items="items" solo dense>
  <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template>
</v-select>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Made In :</label>
  
     <v-select :items="items" solo dense>
  <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template>
</v-select>
  </div>
  </div>

     </div>

       <div class="row">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group"  style="margin-bottom: 0rem !important;">
    <label for="email">Packing:</label>
    
     <v-select :items="items" solo dense>
  <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template>
</v-select>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Item Type :</label>
  
     <v-select :items="items" solo dense>
  <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template>
</v-select>
  </div>
  </div>

     </div>

      <div class="row">
          <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Reorder Level :</label>
      <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
   <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Reorder Qty:</label>
      <v-text-field solo v-model="name" dense required ></v-text-field>
  </div>
  </div>
      </div>

      <div class="row">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group"  style="margin-bottom: 0rem !important;">
    <label for="email">Promotion Category:</label>
    
     <v-select :items="items" solo dense>
  <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template>
</v-select>
  </div>
  </div>
  <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Return Policy :</label>
  
     <v-select :items="items" solo dense>
  <!-- <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template> -->
</v-select>
  </div>
  </div>

     </div>

        <div class="row">
  <div class="col" style="    padding: 2px;margin-top: -13px;">
     <div class="form-group"  style="margin-bottom: 0rem !important;">
    <label for="email">Notes:</label>
    <v-textarea
          solo
          name="input-7-4"
          label=""
          rows="2"
          row-height="15"
        ></v-textarea>
    
  </div>
  </div>
  

     </div>
     <div class="row">
       <div class="col" style="    padding: 2px;margin-top: -13px;">
      <div class="form-group" style="margin-bottom: 0rem !important;">
    <label for="email">Return Policy :</label>
  
     <v-select :items="items" solo dense>
  <!-- <template v-slot:prepend>
    <v-icon color="#006391" @click="item">mdi-plus-box</v-icon>
  </template> -->
</v-select>
  </div>
  </div>
     </div>


  </div>
 
    <!-- ends here -->
  </div>
</div>


<div class="row">

   <v-bottom-navigation
    :value="value"
    color="teal"
    grow

    style="margin-top:1em;"
  >
  
    <v-btn>
      <span>Back</span>

      <v-icon>mdi-keyboard-backspace</v-icon>
    </v-btn>

    <v-btn>
      <span>New Item</span>

      <v-icon>mdi-plus</v-icon>
    </v-btn>

    <v-btn>
      <span>Item Card</span>

      <v-icon>mdi-cards</v-icon>
    </v-btn>
   
    <v-btn>
      <span>Print </span>

      <v-icon>mdi-barcode-scan</v-icon>
    </v-btn>
     <v-btn>
      <span>Save</span>

      <v-icon>mdi-content-save</v-icon>
    </v-btn>
  </v-bottom-navigation>
</div>





<!-- 
ends -->
</div>
<v-dialog v-model="BarcodeModal" persistent max-width="290">
     
      <v-card>
        <v-card-title style="color:rgb(0 99 145);font-size:17px;text-align:center" >Scan barcode</v-card-title>
     

        <v-card-text>
          <StreamBarcodeReader
    @decode="onDecode"
    @loaded="onLoaded"
></StreamBarcodeReader>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn
              small
             @click="BarcodeModal=false" style="background-color:#FB8C00;color:#FFF">
              
            
              Cancel
            </v-btn>

            <v-btn
              small
           @click="BarcodeModal=false"  style="background-color:#2E7D32;color:#FFF">
             
              Ok
            </v-btn>
       
        </v-card-actions>
      </v-card>
    </v-dialog>

  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'

import { StreamBarcodeReader } from 'vue-barcode-reader'
export default {
     components: {
    // Suppliers
    StreamBarcodeReader
  },
    data()
    {
        return{
          
           barcodescannarmodal :false,
           BarcodeModal:false,
           right: false,
            image: undefined,
            Unit:['Pcs','Box'],
            item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''
            
            }
           
        }
    },
    methods:{
      openBarcode()
      {
        
        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
      onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
       createImage(file) {
    const reader = new FileReader();

    reader.onload = e => {
      this.item.p_img = e.target.result;
    };
    reader.readAsDataURL(file);
  },
  onFileChange(file) {
    if (!file) {
      return;
    }
    this.createImage(file);
  }
    }
}
</script>
<style>
.new3 {
  
}
.layout > div{
        width: 100% !important;
}
.cont img {
  width: 100%;
  height: auto;
  padding: 0px !important;
}
.cont
{
    padding: 0px !important; 
}

.cont .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #5550;
  color: white !important; 
  font-size: 16px;
 
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.cont .btn:hover {
  color: #fff;
}

</style>
<style lang="scss" scoped>
/* Dotted red border */

.drawer-button {
  position: fixed;
  top: 120px;
  right: -20px;
  z-index: 6;


  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}



</style>
