<template>
  <div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetPendingDeliveryCustomers()
  },
  methods: {
    GetPendingDeliveryCustomers()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.pendingsalesMan = window.localStorage.getItem('LinkedSalesPersnons')
      if (this.pendingsalesMan === null)
      {
        this.pendingsalesMan = window.localStorage.getItem('user')
      }
      else {
        this.pendingsalesMan = JSON.parse(this.pendingsalesMan)
        this.pendingsalesMan = this.pendingsalesMan.join(' , ')
      } 
      axios.get(this.bURL + 'DeliveryNote/GetPendingDeliveryCustomers?SalesPersons=' + this.pendingsalesMan)
        .then((response)  =>  {
          localStorage.setItem('DeliveryPendingCustomers', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>