<template>
  <div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetPendingDeliveryCustomers()
  },
  methods: {
    GetPendingDeliveryCustomers()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.pendingpurchasePerson = window.localStorage.getItem('LinkedPurchasePersons')
      if (this.pendingpurchasePerson === null)
      {
        this.pendingpurchasePerson = window.localStorage.getItem('user')
      }
      else {
        this.pendingpurchasePerson = JSON.parse(this.pendingpurchasePerson)
        this.pendingpurchasePerson = this.pendingpurchasePerson.join(' , ')
      } 
      axios.get(this.bURL + 'GoodsReceipt/GetPendingGoodsReceiptSuppliers?PurchasePersons=' + this.pendingpurchasePerson)
        .then((response)  =>  {
          localStorage.setItem('PendingGDReceiptSuppliers', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>