<template>
  <div>
      
<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->


  </div>

</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
import de from '../../translations/de'

export default {
   components: {
    globalpassword
  },
  data() {
    return {
       GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
      UserName : window.localStorage.getItem('user'),
      userType : window.localStorage.getItem('UserType'),
      salePerson : window.localStorage.getItem('salePerson')
    }
  },
  mounted() {
    this.GetPendingOrderCustomers()
  },
  methods: {
    GetPendingOrderCustomers()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.pendingsalesMan = window.localStorage.getItem('LinkedSalesPersnons')
      if (this.pendingsalesMan === null)
      {
        this.pendingsalesMan = window.localStorage.getItem('user')
      }
      else {
        this.pendingsalesMan = JSON.parse(this.pendingsalesMan)
        this.pendingsalesMan = this.pendingsalesMan.join(' , ')
      }  
      axios.get(this.bURL + 'order/GetPendingOrderCustomers?SalesPersons=' + this.pendingsalesMan
      ,{
        headers: this.headers
       })
        .then((response)  =>  {
          if (response.data === '')
          {
            response.data = []
          }
          localStorage.setItem('OrderPendingCustomers', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>