<template>
  <div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
      UserName : window.localStorage.getItem('user'),
      userType : window.localStorage.getItem('UserType'),
      salePerson : window.localStorage.getItem('salePerson')
    }
  },
  mounted() {
    this.GetSalesPersons()
  },
  methods: {
    GetSalesPersons()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'PurchasePerson')
        .then((response)  =>  {
          localStorage.setItem('LinkedPurchasePersons', JSON.stringify(response.data))
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>