<template>
    <div>
    </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetReceivedBy()
  },
  methods: {
    GetReceivedBy()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.Username = localStorage.getItem('user')     
      axios.get(this.bURL + 'User/GetLinkedUsernames/' + this.Username + ',True,False,True')
        .then((response)  =>  {
          localStorage.setItem('ReceivedBy', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>