<template>
    <div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetRoleSettings()
  },
  methods: {
    GetRoleSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      axios.get(this.bURL + 'common/GetRoleSettingsDictionary?RoleName='+ this.UserRoll)
        .then((response)  =>  {
          localStorage.setItem('RoleSettings', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>