<template>
    <div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
    }
  },
  mounted() {
    this.GetSettings()
  },
  methods: {
    GetSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      this.Branchcode = window.localStorage.getItem("Branchcode")
      this.Branchcode = this.Branchcode?this.Branchcode:"MB"
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.Branchcode)
        .then((response)  =>  {
          localStorage.setItem('Settings', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
  }
}
</script>