<template>
  <div>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Vue from 'vue'
import axios from 'axios'
import de from '../../translations/de'

export default {
  data() {
    return {
      UserName : window.localStorage.getItem('user')
    }
  },
  mounted() {
    this.GetSuppliers()
  },
  methods: {
    GetSuppliers()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'Supplier')
        .then((response)  =>  {
          localStorage.setItem('Suppliers', JSON.stringify(response.data))
                      
        }, (error)  =>  {
          console.log(error)
        })
    }
    
  }
}
</script>