<template>
  <div>
    <!-- <v-list-item
      v-if="!menuItem.items"
      :input-value="menuItem.value"
      :to="menuItem.link"
      :exact="menuItem.exact"
      :disabled="menuItem.disabled"
      active-class="primary--text"
      link
      @click="LoadPages(menuItem)"
    > -->
     <v-list-item
      v-if="!menuItem.items"
      :input-value="menuItem.value"
      :exact="menuItem.exact"
      :disabled="menuItem.disabled"
      active-class="primary--text"
      link
      @click="LoadPages(menuItem)"
    >
      <v-list-item-icon>
        <v-icon :small="small" :class="{ 'grey--text': menuItem.disabled }">
          {{ menuItem.icon || 'mdi-circle-medium' }}
        </v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title>
          {{ menuItem.key ? $t(menuItem.key) : menuItem.text }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-group
      v-else
      :value="menuItem.regex ? menuItem.regex.test($route.path) : false"
      :disabled="menuItem.disabled"
      :sub-group="subgroup"
      :to="menuItem.link"
      link
    >

      <template v-slot:activator>
        <v-list-item-icon v-if="!subgroup">
          <v-icon :small="small">{{ menuItem.icon || 'mdi-circle-medium' }}</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>
            {{ menuItem.key ? $t(menuItem.key) : menuItem.text }}
          </v-list-item-title>
        </v-list-item-content>
      </template>

      <slot></slot>

    </v-list-group>
</div>
</template>

<script>
/*
|---------------------------------------------------------------------
| Navigation Menu Item Component
|---------------------------------------------------------------------
|
| Navigation items for the NavMenu component
|
*/
export default {
  
  props: {
    menuItem: {
      type: Object,
      default: () => {}
    },
    subgroup: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    LoadPages(details)
    {
      switch (details.text)
      {
        
      case 'Dashboard':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/analytics')
        this.$router.push('/dashboard/analytics')
        break  
      case 'OrderRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/order_reg')
        this.$router.push('/dashboard/order_reg')
        break
      case 'PrintReceipt':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/reciept')
       this.$router.push('/dashboard/reciept')
       break
      case 'Receipt':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/reciept')
        localStorage.removeItem('ReceiptNo')
        localStorage.removeItem('IsHoldingReceipt')
        localStorage.removeItem('ReceiptObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('ReceiptDetails')
        localStorage.removeItem('Receipt_data')
       this.$router.push('/dashboard/Vouchers/reciept')
       break
        case 'Payment':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/payment')
        localStorage.removeItem('PaymentNo')
        localStorage.removeItem('IsHoldingPayment')
        localStorage.removeItem('PaymentObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('PaymentDetails')
       this.$router.push('/dashboard/Vouchers/payment')
       break
      case 'Contra':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/contra')
        localStorage.removeItem('ContraNo')
        localStorage.removeItem('IsHoldingContra')
        localStorage.removeItem('ContraObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('ContraDetails')
       this.$router.push('/dashboard/Vouchers/contra')
       break 
      case 'DeliveryNote':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/deliveryNote')
        localStorage.removeItem('DeliveryNoteNo')
        localStorage.removeItem('IsHoldingDeliveryNote')
        localStorage.removeItem('DeliveryNoteObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('DeliveredItems') 
       this.$router.push('/dashboard/Vouchers/deliveryNote')
       break 
      case 'Quotation':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/quotation')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingQuotation')
        localStorage.removeItem('QuotationObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('QuotedItems')
        localStorage.removeItem('QuotedLedgers') 
       this.$router.push('/dashboard/Vouchers/quotation')
       break  
      case 'ReceiptRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/receipt_reg')
        localStorage.removeItem('ReceiptRegHolding')
        localStorage.removeItem('Receiptpaidby')
        localStorage.removeItem('ReceiptbCode')
        localStorage.removeItem('ReceiptfromDate')
        localStorage.removeItem('ReceipttoDate')
        this.$router.push('/dashboard/receipt_reg')
        break
      case 'PaymentRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/payment_reg')
        localStorage.removeItem('PaymentRegHolding')
        localStorage.removeItem('Paymentpaidby')
        localStorage.removeItem('PaymentbCode')
        localStorage.removeItem('PaymentfromDate')
        localStorage.removeItem('PaymenttoDate')
        this.$router.push('/dashboard/payment_reg')
        break
      case 'SalesRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/sales_reg')
        localStorage.removeItem('SaleRegHolding')
        localStorage.removeItem('SaleSalesperson')
        localStorage.removeItem('SaleMode')
        localStorage.removeItem('SaleCustomer')
        localStorage.removeItem('SalebCode')
        localStorage.removeItem('SalefromDate')
        localStorage.removeItem('SaletoDate')
        localStorage.removeItem('SaleCurrency')

         this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
              localStorage.setItem('IsSalesOffLine','false')
              this.$router.push('/dashboard/sales_reg')
        }
        else{
          if( this.IsSalesOffLine === 'true')
          {
            localStorage.setItem('ActiveRoute','/dashboard/sales_regOffline')
              this.$router.push('/dashboard/sales_regOffline')
          }
          else
          {
            this.$router.push('/dashboard/sales_reg')
          }
        }
        break  
      case 'SalesReturnRegister':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/salesReturn_reg')
        localStorage.removeItem('SalesReturnRegHolding')
        localStorage.removeItem('SalesReturnbCode')
        localStorage.removeItem('SalesReturnfromDate')
        localStorage.removeItem('SalesReturntoDate')
        this.$router.push('/dashboard/salesReturn_reg')
        break
       case 'StockTransferRegister':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/stockTransfer_reg')
        localStorage.removeItem('StockTransferRegHolding')
        localStorage.removeItem('StockTransferRegHolding')
        localStorage.removeItem('StockTransferBranchCode');
        localStorage.removeItem('StockTransferFromGodown');
        localStorage.removeItem('StockTransferToGodown');
        localStorage.removeItem('StockTransferfromDate');
        localStorage.removeItem('StockTransfertoDate');
        localStorage.removeItem('StockTransferbStatus');
        this.$router.push('/dashboard/stockTransfer_reg')
        break  
      case 'PurchaseRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/purchase_reg')
        localStorage.removeItem('PurchaseRegHolding')
        localStorage.removeItem('PurchasePurchasePerson')
        localStorage.removeItem('PurchaseMode')
        localStorage.removeItem('PurchaseSupplier')
        localStorage.removeItem('PurchasefromDate')
        localStorage.removeItem('PurchasetoDate')
        localStorage.removeItem('PurchasebCode')
        localStorage.removeItem('PurchaseCurrency')
        this.$router.push('/dashboard/purchase_reg')
        break
      case 'PurchaseReturnRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/purchaseReturn_reg')
        localStorage.removeItem('PurchaseReturnRegHolding')
        localStorage.removeItem('PurchaseReturnbCode')
        localStorage.removeItem('PurchaseReturnfromDate')
        localStorage.removeItem('PurchaseReturnfromDate')
        this.$router.push('/dashboard/purchaseReturn_reg')
        break 
      case 'DeliveryNoteRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/deliveryNote_reg')
        this.$router.push('/dashboard/deliveryNote_reg')
        break
      case 'GoodsReceiptRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/goodsReceipt_reg')
        this.$router.push('/dashboard/goodsReceipt_reg')
        break
      case 'QuotationRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/quotation_reg')
        localStorage.removeItem('QuotationRegHolding')
        localStorage.removeItem('QuotationSalesperson')
        localStorage.removeItem('QuotationStatus')
        localStorage.removeItem('QuotationCustomer')
        localStorage.removeItem('QuotationbCode')
        localStorage.removeItem('QuotationfromDate')
        localStorage.removeItem('QuotationtoDate')
        this.$router.push('/dashboard/quotation_reg')
        break
      case 'JournalRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/journal_reg')
        localStorage.removeItem('JournalRegHolding')
        localStorage.removeItem('Journalpaidby')
        localStorage.removeItem('JournalbCode')
        localStorage.removeItem('JournalfromDate')
        localStorage.removeItem('JournaltoDate')
        this.$router.push('/dashboard/journal_reg')
        break 
      case 'PhysicalStockRegister':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/physicalStock_reg')
        localStorage.removeItem('PhysicalStockRegHolding')
        localStorage.removeItem('PhysicalStockGodown')
        localStorage.removeItem('PhysicalStockbCode')
        localStorage.removeItem('PhysicalStockfromDate')
        localStorage.removeItem('PhysicalStocktoDate')
        this.$router.push('/dashboard/physicalStock_reg')
        break  

        case 'ProjectMaterialIssueRegister':
          this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/MaterialIssueRegister')
        localStorage.removeItem('MaterialRegHolding')
        localStorage.removeItem('MaterialStockGodown')
        localStorage.removeItem('MaterialStockbCode')
        localStorage.removeItem('MaterialStockfromDate')
        localStorage.removeItem('MaterialStocktoDate')
        this.$router.push('/dashboard/registers/MaterialIssueRegister')
        break  
      case 'LeadRegister':
          this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/LeadRegister')
        localStorage.removeItem('LeadRegHolding')
        localStorage.removeItem('LeadCreatedBy')
        localStorage.removeItem('LeadStatusIds')
        localStorage.removeItem('LeadContactIds')
        localStorage.removeItem('LeadFromDate')
        localStorage.removeItem('LeadToDate')
        localStorage.removeItem('LeadBranch')
        localStorage.removeItem('LeadIsByLeadDate')
        this.$router.push('/dashboard/registers/LeadRegister')
        break  
       case 'LPORegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/PurchaseOrder_reg')
        localStorage.removeItem('LPORegHolding')
        localStorage.removeItem('LPOOrderedBy')
        localStorage.removeItem('LPOFromDate')
        localStorage.removeItem('LPOToDate')
        localStorage.removeItem('LPOSupplier')
        localStorage.removeItem('LPOCurrency')
        this.$router.push('/dashboard/registers/PurchaseOrder_reg')
        break 
       case 'DebitNoteRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/DebitNote_reg')
        localStorage.removeItem('DebitNoteRegHolding')
        localStorage.removeItem('DebitNotepaidby')
        localStorage.removeItem('DebitNotebCode')
        localStorage.removeItem('DebitNotefromDate')
        localStorage.removeItem('DebitNotetoDate')
        this.$router.push('/dashboard/registers/debitNote_reg')
        break   
       case 'CreditNoteRegister':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/CreditNote_reg')
        localStorage.removeItem('CreditNoteRegHolding')
        localStorage.removeItem('CreditNotepaidby')
        localStorage.removeItem('CreditNotebCode')
        localStorage.removeItem('CreditNotefromDate')
        localStorage.removeItem('CreditNotetoDate')
        this.$router.push('/dashboard/registers/creditNote_reg')
        break    
      case 'Ledger':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/ledger_reg')
        this.$router.push('/dashboard/registers/ledger_reg')
        break
      case 'DayBook':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/dayBook')
        this.$router.push('/dashboard/dayBook')
        break         
      case 'Order':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/order_form')
        localStorage.removeItem('OrderId')
        localStorage.removeItem('IsHoldingOrder')
        localStorage.removeItem('OrderObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('OrderCustomer')
        localStorage.removeItem('OrderDetails')
        this.$router.push('/dashboard/order_form')
        break 
      case 'Sales':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
        localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        //localStorage.removeItem('SalesObject')
        localStorage.removeItem('SalesCustomerName') 
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
        this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
              localStorage.setItem('IsSalesOffLine','false')
              this.$router.push('/dashboard/vouchers/sales')
        }
        else{
          if( this.IsSalesOffLine === 'true')
          {
            localStorage.setItem('ActiveRoute','/dashboard/vouchers/salesOffline')
              this.$router.push('/dashboard/vouchers/salesOffline')
          }
          else
          {
            this.$router.push('/dashboard/vouchers/sales')
          }
        }
        break  
      case 'SalesReturn':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/salesReturn')
        localStorage.removeItem('SalesReturnNo')
        localStorage.removeItem('IsHoldingSalesReturn')
        localStorage.removeItem('SeturnCustomerName')
        localStorage.removeItem('SReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
        this.$router.push('/dashboard/vouchers/salesReturn')
        break    
      case 'StockTransfer':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/stockTransfer')
        localStorage.removeItem('StockTransferNo')
        localStorage.removeItem('IsHoldingStockTransfer')
        localStorage.removeItem('StockTransferObject')
        localStorage.removeItem('StockTransferDetails')
        localStorage.removeItem('IsFromDayEnd')
        this.$router.push('/dashboard/vouchers/stockTransfer')
        break  
       case 'PhysicalStock':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/physicalstock')
        localStorage.removeItem('PhysicalStockNo')
        localStorage.removeItem('IsHoldingPhysicalStock')
        localStorage.removeItem('PhysicalStockObject')
        localStorage.removeItem('PhysicalStockDetails')
        localStorage.removeItem('IsFromSales')
        localStorage.removeItem('IsFromDayEnd')
        this.$router.push('/dashboard/vouchers/physicalstock')
        break    
      case 'Purchase':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/purchase')
        localStorage.removeItem('PurchaseNo')
        localStorage.removeItem('IsHoldingPurchase')
        localStorage.removeItem('PurchaseObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('PurchasedItems')
        localStorage.removeItem('PurchasedLedgers')
        this.$router.push('/dashboard/vouchers/purchase')
        break 
      case 'PurchaseReturn':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/purchaseReturn')
        localStorage.removeItem('PurchaseReturnNo')
        localStorage.removeItem('IsHoldingPurchaseReturn')
        localStorage.removeItem('PurchaseReturnObject')
        localStorage.removeItem('PReturnItems')
        this.$router.push('/dashboard/vouchers/purchaseReturn')
        break  
      case 'Journal':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/journal')
        localStorage.removeItem('JournalNo')
        localStorage.removeItem('IsHoldingJournal')
        localStorage.removeItem('JournalObject')
        localStorage.removeItem('JournalDetails')
        this.$router.push('/dashboard/vouchers/journal')
        break  
      case 'ProjectMaterialIssue':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ProjectMaterial')
        localStorage.removeItem('ProjectName')
        localStorage.removeItem('MaterialId')
        localStorage.removeItem('IsHoldingMaterialIssue')
        localStorage.removeItem('MaterialIssueObject')
        localStorage.removeItem('MaterialIssueDetails')
        this.$router.push('/dashboard/Vouchers/ProjectMaterial')
        break
      case 'Lead':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/Lead')
         localStorage.removeItem('LeadId')
        localStorage.removeItem('Requirements')
        localStorage.removeItem('LeadObject')
        this.$router.push('/dashboard/Vouchers/Lead')
        break
      case 'PurchaseOrder':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/PurchaseOrder')
         localStorage.removeItem('LPOId')
        localStorage.removeItem('Requirements')
        localStorage.removeItem('LPOObject')
        localStorage.removeItem('LPODetails')
        this.$router.push('/dashboard/Vouchers/PurchaseOrder')
        break
      case 'DebitNote':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/DebitNote')
         localStorage.removeItem('DebitNoteNo')
        localStorage.removeItem('DebitNoteDetails')
         localStorage.removeItem('VoucherNo')
        localStorage.removeItem('DebitNoteObject')
         localStorage.removeItem('VoucherObject')
         localStorage.removeItem('VoucherFrom')
        this.$router.push('/dashboard/Vouchers/DebitNote')
        break
      case 'CreditNote':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/CreditNote')
         localStorage.removeItem('CreditNoteNo')
         localStorage.removeItem('VoucherNo')
        localStorage.removeItem('CreditNoteObject')
        localStorage.removeItem('VoucherObject')
         localStorage.removeItem('VoucherFrom')
        localStorage.removeItem('CreditNoteDetails')
        this.$router.push('/dashboard/Vouchers/CreditNote')
        break    
      case 'ManageAllocation':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ManageAllocation')
        this.$router.push('/dashboard/Vouchers/ManageAllocation')
        break
      case 'ConfirmAllocation':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ConfirmAllocation')
        this.$router.push('/dashboard/Vouchers/ConfirmAllocation')
        break

        
        
      case 'BillReceivable':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/billsRecevable')
        this.$router.push('/dashboard/billsRecevable')
        break 
      case 'Customer':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/customerRegister')
        this.$router.push('/dashboard/registers/customerRegister')
        break  
      case 'Supplier':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/supplierRegister')
        this.$router.push('/dashboard/registers/supplierRegister')
        break   
      case 'StockItems':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/item_reg')
        this.$router.push('/dashboard/item_reg')
        break
      case 'Godown':
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/godown')
        this.$router.push('/dashboard/masters/godown')
        break  
      case 'Ledger':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/ledger_reg')
        this.$router.push('/dashboard/registers/ledger_reg')
        break 
      case 'LedgerStatement':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/LedgerStatement')
         localStorage.removeItem('LedgerRegHolding')
        localStorage.removeItem('LedgerVoucherType');
        localStorage.removeItem('LedgerbCode');
        localStorage.removeItem('LedgerDateFrom');
        localStorage.removeItem('LedgerDateTo');
        this.$router.push('/dashboard/registers/LedgerStatement')
        break  

      case 'LiveLocation':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Realtime')
        this.$router.push('/dashboard/Realtime')
        break 
      case 'CheckUpdates': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/update')
        this.$router.push('/dashboard/masters/update')
        break  
      case 'BulkDamageTransfer': 
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/bulkDamageTransfer')
        this.$router.push('/dashboard/masters/bulkDamageTransfer')
        break  
      case 'BulkStockTransfer': 
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/BulkStockTransfer')
        this.$router.push('/dashboard/masters/BulkStockTransfer')
        break   
         
      case 'UserManagement': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/userManagement')
        this.$router.push('/dashboard/masters/userManagement')
        break 
      case 'Salesperson': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/salesperson')
        this.$router.push('/dashboard/masters/salesperson')
        break
      case 'Purchaseperson': 
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/purchaseperson')
        this.$router.push('/dashboard/masters/purchaseperson')
        break 
      case 'Category': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/category')
        this.$router.push('/dashboard/masters/category')
        break
      case 'Vehicle': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/vehicle')
        this.$router.push('/dashboard/masters/vehicle')
        break 
      case 'Route': 
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/CustomerRouteSector')
        this.$router.push('/dashboard/masters/CustomerRouteSector')
        break
      case 'Project':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/registers/ProjectRegister')
        this.$router.push('/dashboard/registers/ProjectRegister')
        break   
      case 'Bank':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/Masters/Bank')
        this.$router.push('/dashboard/masters/Bank')
        break     
      case 'ExternalReports':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/customerdetails')
        this.$router.push('/dashboard/customerdetails')
        break
      case 'Kitchen':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/Kitchens')
        this.$router.push('/Kitchens')
        break  
      case 'KitchenMessage':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/KitchenMessage')
        this.$router.push('/KitchenMessage')
        break  
      case 'DiningArea':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/e_recipe_dining')
        this.$router.push('/e_recipe_dining')
        break   
      case 'DiningTable':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/e_recipe_compo')
        this.$router.push('/e_recipe_compo')
        break
      case 'RoleSettings':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/RoleSettings')
        this.$router.push('/dashboard/settings/RoleSettings')
        break
      case 'Settings':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/VoucherSettings')
        this.$router.push('/dashboard/settings/VoucherSettings')
        break
      case 'PasswordGeneration':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/GeneratePassword')
        this.$router.push('/dashboard/settings/GeneratePassword')
        break
        
      case 'Company':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/Company')
        this.$router.push('/dashboard/settings/Company')
        break
      case 'Branch':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/Branch')
        this.$router.push('/dashboard/settings/Branch')
        break
      case 'Preferences':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/preference')
        this.$router.push('/dashboard/preference')
        break
      case 'SalesPromotion':
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/settings/SalesPromotion')
        this.$router.push('/dashboard/settings/SalesPromotion')
        break   
      case 'DefragmentDatabase' :      
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/masters/DefragmentDatabase')
        this.$router.push('/dashboard/masters/DefragmentDatabase')
        break 
      case 'voice'  :
         this.$router.push('/dashboard/masters/VoiceTesting')
        break 
      case 'ServiceBooking' :
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/services/ServiceBooking')
         this.$router.push('/dashboard/services/ServiceBooking')
         break
      case 'ServiceBookingRegister' :
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/registers/ServiceBookingRegister')

         localStorage.removeItem('BookingRegHolding')
        localStorage.removeItem('Bookingsalesperson');
        localStorage.removeItem('BookingCustName');
        localStorage.removeItem('BookingContactIds');
        localStorage.removeItem('BookingFromDate');
        localStorage.removeItem('BookingToDate');
        localStorage.removeItem('BookingStatusId');
        localStorage.removeItem('BookingPriorityId');
        localStorage.removeItem('BookingServiceTypeId');
        localStorage.removeItem('BookingServiceRequestId');
        localStorage.removeItem('BookingBranch');
        localStorage.removeItem('BookingIsByPreferredDate');
         this.$router.push('/dashboard/registers/ServiceBookingRegister')
        break 
      case 'Lock/UnlockVoucher' :
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/settings/LockorUnlockVouchers')
         this.$router.push('/dashboard/settings/LockorUnlockVouchers')
        break
      case 'CostCenter' :
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/masters/CostCenters')
         this.$router.push('/dashboard/masters/CostCenters')
        break
      case 'TenderingLedgers' :
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/masters/SetTenderingLedgers')
         this.$router.push('/dashboard/masters/SetTenderingLedgers')
        break    
        case 'ServiceTask' :
        localStorage.removeItem('ServiceTaskId');
        localStorage.removeItem('BookingId');
        localStorage.removeItem('ServiceBookingId');
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
         this.$router.push('/dashboard/services/ServiceTask')
        break
        case 'ServiceTaskRegister' :
        localStorage.removeItem('ServiceTaskId');
        localStorage.removeItem('BookingId');
        localStorage.removeItem('ServiceBookingId');
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/Registers/ServiceTaskRegister')
         this.$router.push('/dashboard/Registers/ServiceTaskRegister')
        break  

        case 'AssignServiceTask' :
        localStorage.removeItem('ServiceTaskId');
        localStorage.removeItem('BookingId');
        localStorage.removeItem('ServiceBookingId');
        localStorage.removeItem('ServiceAssignmentId');
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
         localStorage.setItem('ActiveRoute','/dashboard/services/ServiceAssignment')
         this.$router.push('/dashboard/services/ServiceAssignment')
        break
          
        

        
        
      }


    }
  }
}
</script>
