<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

        <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide" >
           <v-row style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;"  >Bills Receivable</h4>
            </v-col>
          </v-row>
      </div>
       <!-- <div v-show="showhide"  class="total" >
          <v-row>
     <v-col
        cols="6"
        sm="6"
        style="text-align:right;padding-top: 10px;"
      >
       <v-btn v-if="IsPrint">
        <span style="font-size: 15px;color:rgb(0 53 94)"> Balance: {{FormatewithDecimalPlaces(finalBalance) }}</span>


      </v-btn>
     </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="text-align:center;padding-top: 10px;"
      >
      <div>
      <v-btn v-if="IsPrint" @click="PrintModal = true">
        <span style="color:#304FFE;font-size: 20px;padding-left:5px">
        <v-icon>fas fa-print</v-icon>&nbsp;&nbsp;&nbsp;Print</span>
      </v-btn>
      </div>
     </v-col>
    </v-row>
      </div> -->

      <div  v-if="IsPrint" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <!-- <span style="color:#FFF;font-size: 15px;text-align:right;">
        {{ $t(`menu.TotalSales`) }}: <b>{{TotalSales}}</b></span> -->

                  <v-icon style="color:#FFF"  fab @click="PrintModal = true">print</v-icon>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;"> Balance: <b> {{FormatewithDecimalPlaces(finalBalance) }}</b></span>
        </v-col>
      </v-row>
      </div>
       <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
   <v-expansion-panels
     accordion
     focusable
  >
     <v-expansion-panel
        v-for="(item, i) in Bills"
        :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
     >
        <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;"> {{ item.header }}

      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
      >
<v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-account </v-icon>
        <label style="font-weight:550;padding-right:2px">{{item.CustCode}}</label> <label style="font-weight:200">{{item.Customer}} </label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
      >
           <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-map-marker </v-icon>
        <label style="font-weight:200">{{item.Location}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <!-- <label style="padding-right:2px" >Balance :  </label> -->
      <label style="font-weight: 200">Blc</label><lable style="padding-left:2px;padding-right:2px">:</lable>
        <label style="font-weight:600"> {{FormatewithDecimalPlaces(item.CurrentBalance)}}</label>
      </v-col>
    </v-row>
        </v-expansion-panel-header>

        <v-expansion-panel-content class="v-expansion-panel-content">
          <v-row>
            <v-col
        cols="4"
        sm="4"
        style="text-align: center;"
      >

       <v-icon style="color:#00ACC1" @click="call(item)">fas fa-phone-volume</v-icon>
            </v-col>
      <v-col
        cols="4"
        sm="4"
        style="text-align: center;"
      >
       <v-icon style="color:#25D366" @click="Whatsapp(item)">fab fa-whatsapp</v-icon>
         </v-col>
      <v-col
        cols="4"
        sm="4"
        style="text-align: center;"
      >
       <v-icon style="color:#01579B" @click="Messege(item)">fas fa-comment-dots</v-icon>
         </v-col>
          </v-row>

           <v-expansion-panels>
             <v-expansion-panel
                v-for="(innerItem, i) in item.BillsReceivableDetailsList"
                :key="i"
             >

                <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;"> {{ innerItem.header }}      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
      >

        <label style="font-weight: 200">#</label><label style="font-weight: 550"> {{innerItem.InvoiceNo}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
           <label style="font-weight: 200">Balance</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatewithDecimalPlaces(innerItem.Balance)}}</label>
      </v-col>

    </v-row></v-expansion-panel-header>
                <v-expansion-panel-content id="innerExPansales"> {{ innerItem.content }}
                    <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
      >
       <label style="font-weight: 200">Received</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatewithDecimalPlaces(innerItem.Received)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
       <label style="font-weight: 200">Amount</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatewithDecimalPlaces(innerItem.Amount)}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
      <label style="font-weight: 200">{{ $t(`menu.SalesPerson`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{innerItem.SalesPerson}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
       <label style="font-weight: 200">Sale Date</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatDate(innerItem.SaleDate)}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
    <label style="font-weight: 200">Due Date</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatDate(innerItem.DueDate)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
       <label style="font-weight: 200">{{ $t(`menu.Location`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{innerItem.DeliveryLocation}}</label>
      </v-col>
    </v-row>
                </v-expansion-panel-content>
               </v-expansion-panel>
            </v-expansion-panels>
        </v-expansion-panel-content>
     </v-expansion-panel>
  </v-expansion-panels>
       </div>
  <!-- <v-card
class="footer"
  >
    <v-bottom-navigation

    >
    <v-row>
     <v-col
        cols="6"
        sm="6"
        style="text-align:right"
      >
       <v-btn>
        <span style="font-size: 13px;color:rgb(0 53 94)">Total Balance : {{FormatewithDecimalPlaces(finalBalance) }}</span>

      </v-btn>
     </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="text-align:center"
      >
      <div>
      <v-btn v-if="IsPrint" @click="PrintModal = true">
        <span style="color:#304FFE;font-size: 20px;">
        <v-icon>fas fa-print</v-icon>&nbsp;&nbsp;&nbsp;Print</span>
      </v-btn>
      </div>
     </v-col>
    </v-row>
    </v-bottom-navigation>
  </v-card> -->
  <!-- <v-dialog v-model="PrintModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <v-select
             v-model="vm.ReportType"
              :items="ReportTypeOptions"
             :label="$t(`menu.Selectprintformat`)"
              item-value="text"
            ></v-select>
            <input type="checkbox"  v-model="vm.IsNewPage" style="padding-left:20px"> New page for each customer
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintModal = false"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintBills()"
            >
              Print
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog> -->

    <v-dialog
      v-model="PrintModal"
      persistent
      max-width="300"
      style="z-index: 100000!important;"
    >
      <v-card>
        <!-- <v-card-title style="color:rgb(238,68,170)">

          </v-card-title> -->
        <v-card-text style="padding-bottom: 10px;padding-top:10px;">

          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:20px;padding-bottom:0px;"
            >
              <v-autocomplete
                 v-model="vm.ReportType"
              :items="ReportTypeOptions"
             :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              ></v-autocomplete>
                <input type="checkbox"  v-model="vm.IsNewPage" style="padding-left:20px"> New page for each customer
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" style="padding-top: 0px;
    padding-bottom: 0px;">
              <v-divider> </v-divider>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
              sm="6"
              md="6"
              style="padding-top:10px;padding-bottom:0px;text-align:left"
            >
              <span>
                <v-btn color="#EF5350" fab small dark  @click="PrintModal = false">
                  <v-icon>close</v-icon>
                </v-btn>
              </span>
            </v-col>
            <v-col
              cols="6"
              sm="6"
              md="6"
              style="padding-top:10px;padding-bottom:0px;text-align:right"
            >
              <span>
                <v-btn
                  color="rgb(0, 53, 94)"
                  fab
                  small
                  dark
                 @click="PrintBills()"
                >
                  <v-icon>print</v-icon>
                </v-btn>
              </span>
            </v-col>
          </v-row>
        </v-card-text>

      </v-card>
    </v-dialog>
    <!-- ****************************************** Filter Start heare ************************************************ -->


    <v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
      style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style=" margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <!-- <v-container>
        <v-row>
          <v-col cols="12" style=" padding: 10px;">
          <div class="form-check-inline">
      <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Option 1
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label" for="radio2">
        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Option 2
      </label>

    </div>
          </v-col>
        </v-row>
      </v-container> -->
      <div class="container-fluid">
        <div class="row">
           <div class=" .col-12 col-sm-12 " style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#Customer"  >Customer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Group">Group</a>
              </li>
              <li id="salesmanTab" class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Location">Location</a>
              </li>
               <li id="salesmanTab" class="nav-item" v-if="IsShowRoute">
                <a class="nav-link" data-toggle="tab" href="#Route">Route</a>
              </li>
            </ul>
          </div>

          <!-- <div class=".col-4 col-sm-6">.col-sm-3</div> -->
        </div>
        <!-- Tab panes start -->
    <div style="max-height:60vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">
        <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="Customer" class="tab-pane active">
            <div class="row">
                <div class="col-12" style="padding-bottom: 0 !important;padding-top: 0 !important;margin-bottom: -16px;">
                  <div class="form-group" style="margin-bottom: 0 !important">
                       <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>

                       <v-autocomplete
          v-model="selectedSalespersonCustomer"
          :items="SalespersonCustomerOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalespersonCustomer"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalespersonCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconSalespersonCustomer }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:1px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalespersonCustomer">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>SalesPerson Count :{{ selectedSalespersonCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalespersonCustomer">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalespersonCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                </div>
            </div>

             <div class="row">
                <div class="col-12" style="padding-bottom: 0 !important;padding-top: 0 !important;">
                  <div class="form-group" style="margin-bottom: 0 !important">
                       <label for="selectdatatype">{{ $t(`menu.Customer`) }}</label>

                       <v-autocomplete
          v-model="selectedCustomer"
          :items="CustomerOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleCustomer"
        >
          <v-list-item-action>
            <v-icon :color="selectedCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconCustomer }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCustomer">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCustomer">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>


                  </div>
                  <!-- <div style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="GetBillsReceivableByCustomer">View</button>
                  </div> -->
                  <v-row no-gutters>
                    <v-col cols="12" style="text-align:right;padding-bottom: 12px;padding-top: 0px;margin-top: -13px;padding-right: 4px;">
<button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" :loading="isLoading" @click="GetBillsReceivableByCustomer">View</button>
                    </v-col>
                  </v-row>
                </div>
              </div>


          </div>
          <div id="Group" class="tab-pane ">
             <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important">
                  <div class="form-group"   style="margin-bottom: 0 !important">
                      <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>

                       <v-autocomplete
          v-model="selectedSalespersonGroup"
          :items="SalespersonGroupOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalespersonGroup"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalespersonGroup.length > 0 ? 'indigo darken-4' : ''">{{ iconSalespersonGroup }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalespersonGroup">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>SalesPerson Count :{{ selectedSalespersonGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalespersonGroup">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalespersonGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important; ">
                  <div class="form-group"  style="margin-bottom: 0 !important">
                     <label for="selectdatatype">Group</label>

                       <v-autocomplete
          v-model="selectedGroup"
          :items="GroupOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleGroup"
        >
          <v-list-item-action>
            <v-icon :color="selectedGroup.length > 0 ? 'indigo darken-4' : ''">{{ iconGroup }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllGroup">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeGroup">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                   <div style="text-align:right">
                    <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" :loading="isLoading" @click="GetBillsReceivableByGroup">View</button>
                  </div>
                </div>
              </div>
          </div>
          <div id="Location" class="tab-pane " >
             <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important">
                  <div class="form-group"  style="margin-bottom: 0 !important">
                      <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>

                       <v-autocomplete
          v-model="selectedSalespersonLocation"
          :items="SalespersonLocationOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalespersonLocation"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalespersonLocation.length > 0 ? 'indigo darken-4' : ''">{{ iconSalespersonLocation }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalespersonLocation">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>SalesPerson Count :{{ selectedSalespersonLocation.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalespersonLocation">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalespersonLocation.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px  !important">
                  <div class="form-group"  style="margin-bottom: 0 !important">
                     <label for="selectdatatype">Location</label>

                       <v-autocomplete
          v-model="selectedLocation"
          :items="LocationOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleLocation"
        >
          <v-list-item-action>
            <v-icon :color="selectedLocation.length > 0 ? 'indigo darken-4' : ''">{{ iconLocation }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllLocation">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedLocation.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeLocation">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedLocation.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                  <v-row no-gutters >
                    <v-col cols="12" md="12" sm="12" style="padding-top:0px !important;padding-bottom:5px;text-align:right">
                  <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" :loading="isLoading" @click="GetBillsReceivableByLocations">View</button>
                    </v-col>
                  </v-row>
                   <!-- <div style="text-align:right">

                  </div> -->
                </div>
              </div>
          </div>
            <div id="Route" class="tab-pane " >
             <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important">
                  <div class="form-group"  style="margin-bottom: 0 !important">
                      <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>

                       <v-autocomplete
          v-model="selectedSalespersonRoute"
          :items="SalespersonRouteOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalespersonRoute"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalespersonRoute.length > 0 ? 'indigo darken-4' : ''">{{ iconSalespersonRoute }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalespersonRoute">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>SalesPerson Count :{{ selectedSalespersonRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalespersonRoute">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalespersonRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px  !important">
                  <div class="form-group"  style="margin-bottom: 0 !important">
                      <label for="selectdatatype" >{{ $t(`dashboard.route`) }}</label>

                       <v-autocomplete
          v-model="selectedRoute"
          :items="RouteOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleRoute"
        >
          <v-list-item-action>
            <v-icon :color="selectedRoute.length > 0 ? 'indigo darken-4' : ''">{{ iconRoute }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllRoute">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeRoute">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                  <v-row no-gutters >
                    <v-col cols="12" md="12" sm="12" style="padding-top:0px !important;padding-bottom:5px;text-align:right">
                  <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" :loading="isLoading" @click="GetBillsReceivableByRoutes">View</button>
                    </v-col>
                  </v-row>
                   <!-- <div style="text-align:right">

                  </div> -->
                </div>
              </div>
          </div>
        </div>

          <v-expansion-panels focusable>
    <v-expansion-panel
    >
      <v-expansion-panel-header>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>More</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >

       <div class="form-group" >
                    <label for="frmdate">As On</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
       </div>
</v-col>
      </v-row>
       <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >
       <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
      </v-col>
       </v-row>
        <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >
         <v-select
            v-model="vm.Currency"
          :items="CurrencyOptions"
          :label="$t(`menu.Currency`)"
           v-if="IsMultiCurrency"
        ></v-select>
      </v-col>
        </v-row>
         <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >
         <v-select
            v-model="vm.BillType"
          :items="BillTypeOptions"
          label="Bill Type"
        ></v-select>
      </v-col>
         </v-row>
          <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >
         <v-select
            v-model="vm.SortBy"
          :items="SortByOptions"
          label="Sort By"
        ></v-select>
      </v-col>
          </v-row>

      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 0px; padding-bottom:0px"
      >
      <input type="checkbox"  v-model="vm.IsAdvance" style="padding-left:20px"> Show advances as on To Date
      </v-col>
      </v-row>
       <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 5px; padding-bottom:0px"
      >
      <input type="checkbox"  v-model="vm.IsAdjustments" style="padding-left:20px"> Show Receipts as on To Date
      </v-col>
       </v-row>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 5px; padding-bottom:0px"
      >
       <input type="checkbox"  v-model="vm.IsZeroBalance" style="padding-left:20px"> Show Zero Balance Invoices
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
      </div>
      </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">


      <!-- <div v-if="!NoContent">
          <v-row>
            <v-col cols="6" style="text-align:center;padding-top: 0px;padding-bottom: 0px;">
              <span style="tex-align:center;padding-bottom: 9px;font-size: 13px;color: #0096c7;font-weight: bold;">Total Amount: {{ TotalAmount }}</span>
            </v-col>
            <v-col cols="6" style="text-align:center;padding-top: 0px;padding-bottom: 10px;">
              <span style="tex-align:center;padding-bottom: 9px;font-size: 13px;color: #0096c7;font-weight: bold;">Total Order: {{ TotalBills }}</span>
            </v-col>
          </v-row>
      </div>
          <div  v-if="NoContent">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div> -->
      <!-- <div style="max-height:80vh;overflow:scroll"> -->
        <!-- <v-expansion-panels >

          <v-expansion-panel
            v-for="(item,i) in Bills"
            :key="i"
          >
            <v-expansion-panel-header expand-icon="mdi-menu-down">

              <v-container class=" lighten-5" style="padding-right: 7px; padding-left: 7px;">
                <v-row style="padding-bottom:15px">
                  <v-col cols="12" style="padding: 0px 5px 0px 5px;text-align:center">
                    <label>{{ item.CustomerName }}</label>
                  </v-col>
                </v-row>
                <v-row style="padding-bottom:10px">
                  <v-col cols="6" style="padding: 0px 5px 0px 5px;">
                    <label>{{ item.ReferNo }}</label>
                  </v-col>
                  <v-col cols="6" style="padding: 0px 31px 0px 5px;text-align:right">
                    <label>{{ FormatewithDecimalPlaces(item.Amount) }} (Items:{{ item.Items }})</label>
                  </v-col>
                </v-row>
                <v-row style="padding-bottom:1px" >
                  <v-col cols="6" style="padding: 0px 5px 0px 5px;">
                    <label>{{ item.OrderDate }}</label>
                  </v-col>
                  <v-col cols="6" style="padding: 0px 31px 0px 5px;text-align:right">
                    <label>{{ item.OrderDate }}</label>
                  </v-col>
                </v-row>
              </v-container>
            </v-expansion-panel-header>
            <v-expansion-panel-content >
              <v-container class=" lighten-5" style="padding: 10px 5px 2px 5px;">
                <v-row >
                  <v-col cols="6" style="padding: 0px 5px 0px 5px;">
                    <label>Order No</label>
                  </v-col>
                  <v-col cols="6" style="padding: 0px 31px 0px 5px;text-align:right">
                    <label>{{ item.OrderId }}</label>
                  </v-col>
                </v-row>
                <v-row >
                  <v-col cols="6" style="padding: 0px 5px 0px 5px;">
                    <label>Salespersons</label>
                  </v-col>
                  <v-col cols="6" style="padding: 0px 31px 0px 5px;text-align:right">
                    <label>{{ item.SalesMan }}</label>
                  </v-col>
                </v-row>
                <v-row >
                  <v-col cols="6" style="padding: 0px 5px 0px 5px;">
                    <label>Branch Code</label>
                  </v-col>
                  <v-col cols="6" style="padding: 0px 31px 0px 5px;text-align:right">
                    <label>{{ item.BranchCode }}</label>
                  </v-col>
                </v-row>
                <v-row >
                  <v-col cols="12" style="padding: 5px 31px 0px 0px;text-align:right;color:#FFF" @click="EditOrder(item.OrderId)">
                    <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
                    <i class="fas fa-edit"></i>
                  </v-col>
                </v-row>
              </v-container>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels> -->

    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>
    <Customers/>

     <v-dialog content-class="innerExPan" v-model="Loaderdialog" style="z-index:100000">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <!-- <v-progress-circular
      :size="65"
       :width="7"
      color="rgb(0, 99, 145)"
      indeterminate
    >

    </v-progress-circular> -->
          <!-- <v-progress-linear
              color="rgb(0, 99, 145)"
              indeterminate
              rounded
              height="6"
            ></v-progress-linear> -->

          <img src="/images/dash/loading.svg" />

          <!-- <svg width="200" height="200"
  xmlns="http://www.w3.org/2000/svg">
  <image href="/images/dash/loading.svg" height="200" width="200"/>
</svg> -->
        </v-col>
      </v-row>
    </v-dialog>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import Customers from '../../pages/ApiServices/Customers'
import de from '../../translations/de'
export default {
  components: {
    Customers
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      CustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      GroupOptions : localStorage.getItem('CustomerGroups') ? JSON.parse(localStorage.getItem('CustomerGroups')) : [],
      LocationOptions : localStorage.getItem('CustomerrLocations') ? JSON.parse(localStorage.getItem('CustomerrLocations')) : [],
      RouteOptions : [],
      SalespersonCustomerOptions : [],
      SalespersonGroupOptions : [],
      SalespersonLocationOptions : [],
      SalespersonRouteOptions : [],
      BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
      IsDisableBranch:false,
      CurrencyOptions : JSON.parse( localStorage.getItem('Currency') ),
      BillTypeOptions : ['All','Sales','New References','Opening Bills'],
      SortByOptions : ['Sale Date','Sale No','InvoiceNo','Amount','Balance'],
      right: true,
      Bills:[],
      IsFromDateAll:true,
      Branch:'',
      LinkedSalesMan:'',
      vm:{},
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedCustomer:[],
      selectedGroup:[],
      selectedLocation:[],
      selectedRoute:[],
      selectedSalespersonCustomer:[],
      selectedSalespersonGroup: [],
      selectedSalespersonLocation: [],
      selectedSalespersonRoute: [],
      NoContent:true,
      IsSalesmanShow:false,
      IsMultiBarnch:false,
      IsMultiCurrency:false,
      finalBalance :0,
      IsPrint:false,
      urlForPrint : '',
      PrintModal : false,
      ReportTypeOptions : ['Simple', 'Detailed'],
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
      IsShowRoute : false,
      DefaultPrinter:localStorage.getItem('Printer'),
      isLoading :false,
      Loaderdialog:false
    }
  },
  computed: {
    likesAllCustomer () {
      return this.selectedCustomer.length === this.CustomerOptions.length
    },
    likesSomeCustomer () {
      return this.selectedCustomer.length > 0 && !this.likesAllCustomer
    },

    likesAllGroup () {
      return this.selectedGroup.length === this.GroupOptions.length
    },
    likesSomeGroup () {
      return this.selectedGroup.length > 0 && !this.likesAllGroup
    },
    likesAllLocation () {
      return this.selectedLocation.length === this.LocationOptions.length
    },
    likesSomeLocation () {
      return this.selectedLocation.length > 0 && !this.likesAllLocation
    },
     likesAllRoute () {
      return this.selectedRoute.length === this.RouteOptions.length
    },
    likesSomeRoute () {
      return this.selectedRoute.length > 0 && !this.likesAllRoute
    },

    likesAllSalespersonCustomer () {
      return this.selectedSalespersonCustomer.length === this.SalespersonCustomerOptions.length
    },
    likesSomeSalespersonCustomer () {
      return this.selectedSalespersonCustomer.length > 0 && !this.likesAllSalespersonCustomer
    },

    likesAllSalespersonGroup () {
      return this.selectedSalespersonGroup.length === this.SalespersonGroupOptions.length
    },
    likesSomeSalespersonGroup () {
      return this.selectedSalespersonGroup.length > 0 && !this.likesAllSalespersonGroup
    },
     likesAllSalespersonLocation () {
      return this.selectedSalespersonLocation.length === this.SalespersonLocationOptions.length
    },
    likesSomeSalespersonLocation () {
      return this.selectedSalespersonLocation.length > 0 && !this.likesAllSalespersonLocation
    },
     likesAllSalespersonRoute () {
      return this.selectedSalespersonRoute.length === this.SalespersonRouteOptions.length
    },
    likesSomeSalespersonRoute() {
      return this.selectedSalespersonRoute.length > 0 && !this.likesAllSalespersonRoute
    },

    iconCustomer () {
      if (this.likesAllCustomer) return 'mdi-close-box'
      if (this.likesSomeCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconGroup () {
      if (this.likesAllGroup) return 'mdi-close-box'
      if (this.likesSomeGroup) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconLocation () {
      if (this.likesAllLocation) return 'mdi-close-box'
      if (this.likesSomeLocation) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconRoute () {
      if (this.likesAllRoute) return 'mdi-close-box'
      if (this.likesSomeRoute) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconSalespersonCustomer () {
      if (this.likesAllSalespersonCustomer) return 'mdi-close-box'
      if (this.likesSomeSalespersonCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconSalespersonGroup () {
      if (this.likesAllSalespersonGroup) return 'mdi-close-box'
      if (this.likesSomeSalespersonGroup) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    iconSalespersonLocation () {
      if (this.likesAllSalespersonLocation) return 'mdi-close-box'
      if (this.likesSomeSalespersonLocation) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    iconSalespersonRoute () {
      if (this.likesAllSalespersonRoute) return 'mdi-close-box'
      if (this.likesSomeSalespersonRoute) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
     if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     window.addEventListener('scroll', this.scrollFunction);
    this.BasicSettings()
     this.Settings = JSON.parse(localStorage.getItem('Settings'))
     if(this.Settings.IsRouteMandatory === 'True')
     {
       this.GetRouteSalesperson()
     }
     else
     {
       this.GetSalesPersons()
     }


    this.ShowPending()

    this.vm.BillType = 'All'
    this.vm.SortBy = 'Sale Date'
    this.value =new Date()
    this.vm.ToDate = this.GetTodaysDate(this.value)
    this.vm.IsAdvance = false
    this.vm.IsAdjustments = false
    this.vm.IsZeroBalance = false
    this.vm.ReportType = 'Simple'
    this.vm.IsnewPage = false
    if (this.Bills.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
}
  },
   created () {
    // window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    // window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }else
     {
       this.openSettings()
     }
    },
    handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
alert("s");
}
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
      this.SalespersonLength = this.SalespersonCustomerOptions.length
      if (this.SalespersonLength > 1)
        this.IsSalesmanShow = true

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = ''
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      this.BranchCode = this.BranchCode ? this.BranchCode : 'All'

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.vm.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true

      this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
      if(this.LinkedRoutes !==null)
      {
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
      }
      else{
           this.LinkedRoutes = []
           this.IsShowRoute = false
      }
      if(this.LinkedRoutes.length  > 0)
      {
         this.IsShowRoute = true
          for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
          {
            this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
          }
              /* this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
              for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
              {
                if(this.LinkedRoutes[this.i].RouteID === parseFloat(this.ActiveRouteID) )
                {
                  this.OrderObject.RouteName = this.LinkedRoutes[this.i].RouteName
                }
              } */
      }
      else{
           this.IsShowRoute = false
      }
    },
    GetRouteSalesperson()
    {
         this.bURL = localStorage.getItem("CompanyURL")+"/api/";
         this.UserName =  window.localStorage.getItem('user');
      axios.get(this.bURL + 'salesperson/GetRouteSalespersons?Username=' + this.UserName)
        .then((response)  =>  {
         this.SalespersonCustomerOptions = response.data
         this.SalespersonGroupOptions = response.data
         this.SalespersonLocationOptions = response.data
         this.SalespersonRouteOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetSalesPersons()
    {
      this.LinkedSalesPersnons = localStorage.getItem('LinkedSalesPersnons')
      if(this.LinkedSalesPersnons !== null)
      {
        this.LinkedSalesPersnons = JSON.parse(this.LinkedSalesPersnons)

        this.SalespersonCustomerOptions = this.LinkedSalesPersnons
        this.SalespersonGroupOptions = this.LinkedSalesPersnons
        this.SalespersonLocationOptions = this.LinkedSalesPersnons
        this.SalespersonRouteOptions = this.LinkedSalesPersnons
      }
      else{
        this.SalespersonCustomerOptions = []
        this.SalespersonGroupOptions = []
        this.SalespersonLocationOptions = []
        this.SalespersonRouteOptions = []
      }

    },
     GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    toggleCustomer () {
      this.$nextTick(() => {
        if (this.likesAllCustomer) {
          this.selectedCustomer = []
        } else {
          this.selectedCustomer = this.CustomerOptions.slice()
        }
      })
    },

    toggleGroup () {
      this.$nextTick(() => {
        if (this.likesAllGroup) {
          this.selectedGroup = []
        } else {
          this.selectedGroup = this.GroupOptions.slice()
        }
      })
    },
    toggleLocation () {
      this.$nextTick(() => {
        if (this.likesAllLocation) {
          this.selectedLocation = []
        } else {
          this.selectedLocation = this.LocationOptions.slice()
        }
      })
    },

    toggleSalespersonCustomer () {
      this.$nextTick(() => {
        if (this.likesAllSalespersonCustomer) {
          this.selectedSalespersonCustomer = []
        } else {
          this.selectedSalespersonCustomer = this.SalespersonCustomerOptions.slice()
        }
      })
    },

    toggleSalespersonGroup () {
      this.$nextTick(() => {
        if (this.likesAllSalespersonGroup) {
          this.selectedSalespersonGroup = []
        } else {
          this.selectedSalespersonGroup = this.SalespersonGroupOptions.slice()
        }
      })
    },
    toggleSalespersonLocation () {
      this.$nextTick(() => {
        if (this.likesAllSalespersonLocation) {
          this.selectedSalespersonLocation = []
        } else {
          this.selectedSalespersonLocation = this.SalespersonLocationOptions.slice()
        }
      })
    },
    toggleSalespersonRoute () {
      this.$nextTick(() => {
        if (this.likesAllSalespersonRoute) {
          this.selectedSalespersonRoute = []
        } else {
          this.selectedSalespersonRoute = this.SalespersonRouteOptions.slice()
        }
      })
    },
     toggleRoute () {
      this.$nextTick(() => {
        if (this.likesAllRoute) {
          this.selectedRoute = []
        } else {
          this.selectedRoute = this.RouteOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    ShowPending()
    {
      this.PendingDateTab = true
      this.SalespersonGroupTab = true
      this.GroupTab = true

      this.AllDateTab = false
      this.CustomerTab = false
      this.SalespersonCustomerTab = false
    },
    ShowAll()
    {
      this.AllDateTab = true
      this.CustomerTab = true
      this.SalespersonCustomerTab = true

      this.PendingDateTab = false
      this.SalespersonGroupTab = false
      this.GroupTab = false
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    GetTotalBalances()
    {
      this.BillAmount=0;
      this.received=0;
      this.onAccount=0;
      this.balance=0;
      this.finalBalance=0;
      for(this.i=0;this.i<this.Bills.length;this.i++)
      {
          this.BillAmount += this.Bills[this.i].TotalInvoiceAmount;
          this.received  += this.Bills[this.i].TotalReceivedAmount ;
          this.onAccount += this.Bills[this.i].OnAccount;

          this.CurrentBalance += this.Bills[this.i].OnAccount;

      }

        this.balance = this.BillAmount - this.received ;
        this.finalBalance = this.balance + this.onAccount;
    },

    GetBillsReceivableByCustomer()
    {

      this.LinkedSalesMan = this.selectedSalespersonCustomer


        if (this.selectedSalespersonCustomer.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.SalespersonCustomerOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }

      this.Customer = this.selectedCustomer
      if (this.selectedCustomer.length === this.CustomerOptions.length)
      {
        this.Customer = 'All'
      }
      else {
        if (this.selectedCustomer.length === 0)
        {
          this.Customer = 'All'
        }
        else
        {
          this.Customer = this.GetsWithComma(this.Customer)
        }
      }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
        this.Branch ='All'
    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.Routes  = -1
    if(this.Settings.IsRouteMandatory === 'True')
    {

        this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
          if(this.LinkedRoutes !==null)
          {
            this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
          }
          this.RouteIDs = []

              for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
              {

                 this.RouteIDs.push(this.LinkedRoutes[this.j].RouteID)

              }
          this.Routes = this.GetsWithComma(this.RouteIDs)

    }
    else{
      this.Routes = "ALL"
    }

      if(this.vm.SortBy === 'Sale Date')
        this.SortBy = 0
      if(this.vm.SortBy === 'Sale No')
        this.SortBy = 1
      if(this.vm.SortBy === 'InvoiceNo')
        this.SortBy = 2
      if(this.vm.SortBy === 'Amount')
        this.SortBy = 3
      if(this.vm.SortBy === 'Balance')
        this.SortBy = 4

      this.encodeSuppName = encodeURIComponent(this.Customer)
        this.urlForPrint = "SalesPersons="+this.LinkedSalesMan+"&Customers="+this.encodeSuppName+"&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations=All" + "&RouteIDs="+this.Routes+ "&WithCollections=true"
      this.isLoading = true
      this.Loaderdialog = true
      axios.get ( this.bURL + "receipt/GetBillsReceivableBy?SalesPersons="+this.LinkedSalesMan+"&Customers="+this.encodeSuppName+"&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations=All" + "&RouteIDs="+this.Routes+ "&WithCollections=true")
        .then((response)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
          this.Bills = response.data
          this.IsPrint = true
          this.GetTotalBalances()
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetBillsReceivableByGroup()
    {
      this.LinkedSalesMan = this.selectedSalespersonGroup
        if (this.selectedSalespersonGroup.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.SalespersonGroupOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }
      this.Group = this.selectedGroup
      if (this.selectedGroup.length === this.GroupOptions.length)
      {
        this.Group = 'All'
      }
      else {
        if (this.selectedGroup.length === 0)
        {
          this.Group = 'All'
        }
        else
        {
          this.Group = this.GetsWithComma(this.Group)
        }
      }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
        this.Branch ='All'

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.Routes  = -1
    if(this.Settings.IsRouteMandatory === 'True')
    {

        this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
          if(this.LinkedRoutes !==null)
          {
            this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
          }
          this.RouteIDs = []
          for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
              {

                 this.RouteIDs.push(this.LinkedRoutes[this.j].RouteID)

              }
          this.Routes = this.GetsWithComma(this.RouteIDs)
    }
    else{
      this.Routes ="ALL"
    }

      if(this.vm.SortBy === 'Sale Date')
        this.SortBy = 0
      if(this.vm.SortBy === 'Sale No')
        this.SortBy = 1
      if(this.vm.SortBy === 'InvoiceNo')
        this.SortBy = 2
      if(this.vm.SortBy === 'Amount')
        this.SortBy = 3
      if(this.vm.SortBy === 'Balance')
        this.SortBy = 4


        this.isLoading = true
        this.Loaderdialog = true
      this.urlForPrint = "SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup="+this.Group+"&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations=All" + "&RouteIDs="+this.Routes+ "&WithCollections=true"
       axios.get ( this.bURL + "receipt/GetBillsReceivableBy?SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup="+this.Group+"&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations=All" + "&RouteIDs="+this.Routes+ "&WithCollections=true")
        .then((response)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
          this.Bills = response.data
          this.IsPrint = true
          this.GetTotalBalances()
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetBillsReceivableByLocations()
    {
      this.LinkedSalesMan = this.selectedSalespersonLocation


        if (this.selectedSalespersonLocation.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.SalespersonLocationOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }

      this.Locations = this.selectedLocation
      if (this.selectedLocation.length === this.LocationOptions.length)
      {
        this.Locations = 'All'
      }
      else {
        if (this.selectedLocation.length === 0)
        {
          this.Locations = 'All'
        }
        else
        {
          this.Locations = this.GetsWithComma(this.Locations)
        }
      }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
        this.Branch ='All'

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.Routes  = -1
    if(this.Settings.IsRouteMandatory === 'True')
    {
        this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
          if(this.LinkedRoutes !==null)
          {
            this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
          }
          this.RouteIDs = []
           for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
              {
                 this.RouteIDs.push(this.LinkedRoutes[this.j].RouteID)

              }
          this.Routes = this.GetsWithComma(this.RouteIDs)
    }
    else{
      this.Routes = "ALL"
    }

      if(this.vm.SortBy === 'Sale Date')
        this.SortBy = 0
      if(this.vm.SortBy === 'Sale No')
        this.SortBy = 1
      if(this.vm.SortBy === 'InvoiceNo')
        this.SortBy = 2
      if(this.vm.SortBy === 'Amount')
        this.SortBy = 3
      if(this.vm.SortBy === 'Balance')
        this.SortBy = 4


        this.isLoading = true
        this.Loaderdialog = true
       this.urlForPrint = "SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations="+this.Locations + "&RouteIDs="+this.Routes+ "&WithCollections=true"
       axios.get ( this.bURL + "receipt/GetBillsReceivableBy?SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations="+this.Locations + "&RouteIDs="+this.Routes+ "&WithCollections=true" )
        .then((response)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
          this.Bills = response.data
          this.IsPrint = true
          this.GetTotalBalances()
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetBillsReceivableByRoutes()
    {
      this.LinkedSalesMan = this.selectedSalespersonLocation


        if (this.selectedSalespersonLocation.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.SalespersonLocationOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }

      this.Locations = this.selectedLocation
      if (this.selectedLocation.length === this.LocationOptions.length)
      {
        this.Locations = 'All'
      }
      else {
        if (this.selectedLocation.length === 0)
        {
          this.Locations = 'All'
        }
        else
        {
          this.Locations = this.GetsWithComma(this.Locations)
        }
      }

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.Routes  = -1
    if(this.Settings.IsRouteMandatory === 'True')
    {
       this.Routes = this.selectedRoute

        if (this.selectedRoute.length === 0)
        {
          this.Routes = this.RouteOptions
        }
       this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
          if(this.LinkedRoutes !==null)
          {
            this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
          }
          this.RouteIDs = []
          for(this.i = 0;this.i<this.Routes.length;this.i++)
          {
              for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
              {
                  if(this.Routes[this.i] === this.LinkedRoutes[this.j].RouteName )
                  {
                    this.RouteIDs.push(this.LinkedRoutes[this.j].RouteID)
                  }
              }
          }
          this.Routes = this.GetsWithComma(this.RouteIDs)
    }
    else{
        this.Routes = "ALL"
    }


      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
        this.Branch ='All'

      if(this.vm.SortBy === 'Sale Date')
        this.SortBy = 0
      if(this.vm.SortBy === 'Sale No')
        this.SortBy = 1
      if(this.vm.SortBy === 'InvoiceNo')
        this.SortBy = 2
      if(this.vm.SortBy === 'Amount')
        this.SortBy = 3
      if(this.vm.SortBy === 'Balance')
        this.SortBy = 4
       this.urlForPrint = "SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations="+this.Locations + "&RouteIDs="+this.Routes + "&WithCollections=true"

      this.isLoading = true
      this.Loaderdialog = true
      axios.get ( this.bURL + "receipt/GetBillsReceivableBy?SalesPersons="+ this.LinkedSalesMan+"&Customers=All&ToDate="+this.vm.ToDate+"&ZeroBalance="+this.vm.IsZeroBalance+"&Currency="+this.vm.Currency+"&BillType="+this.vm.BillType+"&IsAdvancesToDate="+this.vm.IsAdvance+"&IsAdjustmentsToDate="+this.vm.IsAdjustments+"&CustomerGroup=All&BranchCode="+this.Branch+"&OrderBy="+this.SortBy+"&CustomerLocations="+this.Locations + "&RouteIDs="+this.Routes + "&WithCollections=true")
        .then((response)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
          this.Bills = response.data
          this.IsPrint = true
          this.GetTotalBalances()
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },

    EditOrder(OrderId)
    {
      localStorage.removeItem('IsHoldingOrder')
      localStorage.removeItem('OrderObject')
      localStorage.setItem('OrderId',OrderId)
      this.$router.push('/dashboard/order_form')
    },
    FormatDate(Value)
    {
       return  Value.split('T')[0]
    },
    PrintBills()
    {
      this.Loaderdialog = true
      axios.get ( this.bURL + "print/BillsReceivable?"+this.urlForPrint+"&PrintType="+this.vm.ReportType+"&IsPageSeperation="+this.vm.IsnewPage)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.url = this.bURLPrint + response.data
            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
        }, (error)  =>  {
          console.log(error)
        })

    },
    call(item)
    {
      if(item.Phone==""){
      window.open('tel:'+ item.Mobile);
      }
      else
      {
         window.open('tel:'+ item.Phone);
      }
    },
     Whatsapp(item)
    {
     this.url =  "https://api.whatsapp.com/send?phone="+item.Mobile+"&text=hi"
      window.open(this.url);
    },
    Messege(item)
    {
       this.url =  "https://api.whatsapp.com/send?phone="+item.Mobile+"&text=hi"
       window.open('sms:'+ item.Phone);
    }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
.v-expansion-panel-content{
   /* padding: 0 24px 2px; */
  background-color:white;
  color: rgb(14, 14, 14);
}

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
  .drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

//    .drawer-button1 {
//   position: fixed;
//   top: 590px;
//   right: 30px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px rgb(0 53 94);
//  margin-left: -25px;
// }

//   }
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
@media only screen and (max-device-width: 480px) {
         .print {
padding-left: 65px;
}
    }

  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.md-checkbox {
    display: flex;
  }

element.style {
    margin-bottom: 0px !important;
}

</style>
<style >
hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
}
</style>
