<template>
  <div style="padding:0px;margin-top:-10px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <v-sheet

      class="text-center"
      style="height: 100%;max-height:350px;overflow:scroll;    margin-top: 0em;"
    >
      <!-- <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet"
        >close</v-btn> -->
      <div class="aa" style="height:100%;">
        <v-container
          class="grey lighten-5"
          style="padding-bottom: 0px;padding-top: 0px; padding:0px;"
        >
          <v-row no-gutters>
            <v-col cols="12" style="padding-top: 7px;margin-bottom: -22px;">
              <v-autocomplete
                v-model="RouteName"
                :items="RouteOptions"
                solo
                rounded
                dense
                :placeholder="$t('menu.SelectRoute')"
                v-if="IsRouteShow"
                @change="LoadCustomers($event)"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col v-if="IsRouteShow" cols="12" style="padding-top: 4px;margin-bottom: -22px;">
               <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="AsOnDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="AsOnDate"
            label="Date"
            readonly
            v-bind="attrs"
            v-on="on"
             solo
            rounded
            dense
            append-icon="event"
          ></v-text-field>
        </template>
        <v-date-picker v-model="AsOnDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetAsOnDate(AsOnDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>
            </v-col>
          </v-row>
           <v-row no-gutters>
            <v-col cols="3" sm="3" style="padding-top:5px;" @click="tovisited">
              <v-card class="text-center" outlined tile>
                <v-icon color="primary">mdi-google-maps</v-icon>
                <h6 style="font-size: 11px;color:rgb(0 150 199)">{{ $t(`menu.Unvisited`) }}</h6>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="visited">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-map-marker-check</v-icon>
                <h5 style="font-size: 11px;">{{ $t(`menu.Visited`) }}</h5>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="nearby">
              <v-card class="text-center" outlined tile>
                <!-- <img src="/images/sheet/order.png" class="img-reponsive" style="    width: 80px"> -->
                <v-icon>mdi-map-marker-distance</v-icon>
                <h5 style="font-size: 11px;">{{ $t(`menu.Nearby`) }}</h5>
              </v-card>
            </v-col>

            <v-col cols="2" sm="2" style="padding-top:5px;" @click="skipped">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-map-marker-radius</v-icon>
                <h5 style="font-size: 11px;">
                  {{ $t(`menu.Skipped`) }}
                </h5>
              </v-card>
            </v-col>

            <v-col cols="3" sm="3" style="padding-top:5px;" @click="RouteTimeLine">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-clock</v-icon>
                <h5 style="font-size: 11px;">
                 Timeline
                </h5>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-sheet>
    <div v-if="GeoLOC.length>0">
      <gmap-map :center="center" :zoom="9" style="width: 100%; height: 300px;">
        <gmap-info-window
          :options="infoOptions"
          :position="infoWindowPos"
          @closeclick="infoWinOpen = false"
        >
        </gmap-info-window>

        <gmap-marker
          v-for="(m, i) in GeoLOC"
          :key="i"
          :position="m.GeoLocation"
          :clickable="true"
          @click="toggleInfoWindow(m, i)"
        ></gmap-marker>
      </gmap-map>
      <div
        class="container-fluid"
        style="overflow:scroll;overflow-x: hidden;max-height:350px;    padding-top: 1em;padding-left: 0px;padding-right: 0px;"
      >
        <b-row class="s">
          <b-col
            style="padding-top: 10px; cursor:pointer"
            v-for="(item, i) in GeoLOC"
            :key="i"
          >
            <!-- <b><v-icon>mdi-map</v-icon> &nbsp;{{it   em.customername}}</b>
            <span style="width:100%; text-align:right;"><v-icon style="color:red;">mdi-van-utility</v-icon> </span> -->
            <div style="padding-top:5px;padding-bottom:5px;">
              <v-row no-gutters>
                <v-col
                  cols="1"
                  sm="1"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  <v-icon style="color: #0096c7;">mdi-map</v-icon>
                </v-col>
                <v-col
                  cols="8"
                  sm="8"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  <b>{{ item.CustName }}</b>
                </v-col>

                <v-col cols="3" sm="3" style="text-align: right;">
                  <v-icon
                    @click="call(item.Phone,item.Mobile)"
                    style="color:#007bff;padding-left:10px;padding-right:10px;text-decoration: none !important;"
                    >mdi-phone</v-icon
                  >
                  <v-menu
                    bottom
                    origin="center center"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <i
                        class="fa fa-ellipsis-v"
                        aria-hidden="true"
                        style="padding-left:10px;padding-right:10px;"
                        v-bind="attrs"
                        v-on="on"
                      ></i>
                    </template>

                    <v-list>
                      <v-list-item>
                        <!-- <a :href="'tel:'+item.call"><v-icon style="color:#007bff;padding:5px;" >mdi-phone</v-icon></a> -->
                        <v-list-item-title
                          ><v-icon
                            style="color:#28a745;padding-left:10px;padding-right:10px;"
                            @click="whatsapp(item.Mobile,item.Phone)"
                            >mdi-whatsapp</v-icon
                          ></v-list-item-title
                        >
                        <v-icon
                          style="color:#dc3545;padding-left:10px;padding-right:10px;"
                          @click="EditCustomer(item.CustName)"
                          >mdi-account-circle</v-icon
                        >
                        <!-- <v-icon style="color:#343a40;padding-left:10px;padding-right:10px;"  @click="skip(i)">mdi-chevron-right-circle</v-icon> -->
                        <v-icon
                          style="color:#FF8A80;padding-left:10px;padding-right:10px;"
                          @click="skip(i)"
                          >mdi-map-marker-radius</v-icon
                        >
                        <v-icon
                          style="color: darkgreen;padding-left:10px;padding-right:10px;"
                          @click="
                            MakeVisted(
                              item.GeoLocation,
                              i,
                              item.CustName
                            )
                          "
                          >mdi-map-marker-check</v-icon
                        >
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-col>
              </v-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
    <div v-if="GeoLOC.length===0">
      <v-card style="background:rgb(250 250 250) !important">
        <v-card-text>
          <v-row no-gutters>
            <v-col
              cols="12"
              style="color:rgb(0 99 145);text-align: center !important;font-size:17px;"
            >
              <label><b>No Customers </b></label>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <v-dialog v-model="SkipConfirmationModal" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttoskipthiscustomer`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="SkipConfirmationModal = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="rgb(40 167 69)" @click="ExecuteSkip()">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog v-model="VisitWarningModal" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t("menu.Areyouvisitthiscustomer") }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="VisitWarningModal = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="rgb(40 167 69)" @click="doVisited()">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="VisitStopModal" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t("menu.Pleasegotothecustomerlocation") }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="12" md="12" lg="612" style="text-align:center">
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="VisitStopModal = false"
              >{{ $t(`dashboard.ok`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
// import Vue from "vue";
// import axios from "axios";
import Distancemaps from "./maps.vue";

export default {
  components: {
    Distancemaps
  },
  data() {
    return {
    AsOnDate: new Date().toISOString().substr(0, 10),
    menu: false,
      RouteOptions: [],
      LinkedRoutes :[],
      Loaderdialog: false,
      IsRouteShow: false,
      RouteName: "",
      snackbar: false,
      SnackbarMessege: "",
      timeout: 2000,
      SkipConfirmationModal: false,
      SkipId: -1,
      VisitWarningModal: false,
      CustomerToVisit: "",
      VisitStopModal: false,
      Settings: JSON.parse(localStorage.getItem("Settings")),
      tab: null,
      center: {
        lat: "",
        lng: ""
      },
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      marker: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          }
        }
      ],
      GeoLOC: localStorage.getItem("CustomerUnvisited")
        ? JSON.parse(localStorage.getItem("CustomerUnvisited"))
        : [],
      markers: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          },
          infoText: "<strong>Marker 1</strong>",
          customername: "Linkway",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.8001,
            lng: 76.639099
          },
          infoText: "<strong>Marker 2</strong>",
          customername: "Linkway Oman",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.76445,
            lng: 76.64268
          },
          infoText: "<strong>Marker 3</strong>",
          customername: "Dubai",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.77004,
            lng: 76.632508
          },
          infoText: "<strong >Marker 4</strong>",
          customername: "Bestie",
          call: "+919074071153",
          whatsapp: "+919074071153"
        }
      ],
      userType: "",
      bURLPrint: "",
      bURL: "",
      currentlat: "",
      currentlong: "",
      distance: "",
      Settings : JSON.parse(localStorage.getItem('Settings'))
    };
  },
  mounted() {
     if(this.Settings.IsRouteMandatory === 'True')
    {
     this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
    }
    else{
      this.LinkedRoutes = []
    }
    for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
    {
      this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
    }
    this.RouteLength = this.RouteOptions.length;
    if (this.RouteLength !== 1) {
      this.IsRouteShow = true;
    }
    this.ActiveRouteID = localStorage.getItem("ActiveRouteId");
    if (this.ActiveRouteID !== null) {
      this.IsRouteShow = false
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(parseInt(this.ActiveRouteID) === this.LinkedRoutes[this.i].RouteID)
          {
            this.RouteName = this.LinkedRoutes[this.i].RouteName
          }
      }
       this.DayStartTime = localStorage.getItem("DayStartTime");
       if(this.DayStartTime === null)
       {
           this.SelectRouteAttendance(this.ActiveRouteID);
       }
       else{
          this.getTraveldetails(this.ActiveRouteID);
       }
    } else if (localStorage.getItem("RouteIdRouteMap") !== "" &&localStorage.getItem("RouteIdRouteMap") !== undefined) {
      this.ActiveRouteID = localStorage.getItem("RouteIdRouteMap");
       if (this.ActiveRouteID !== null) {
       for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(parseInt(this.ActiveRouteID) === this.LinkedRoutes[this.i].RouteID)
          {
            this.RouteName = this.LinkedRoutes[this.i].RouteName
          }
      }
      this.getTraveldetails(this.ActiveRouteID);
       }
    }
    // this.getLocation()
    // this.calcdistance(this.center.lat,this.center.lng,10.770040,76.632508,"k")
  },
  created() {
    const success = position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      (this.currentlat = latitude),
        (this.currentlong = longitude),
        (this.center.lat = latitude),
        (this.center.lng = longitude);
      // Do something with the position
      // Do something with the position
    };

    const error = err => {
      console.log(error);
    };

    // This will open permission popup
    navigator.geolocation.getCurrentPosition(success, error);
  },
  computed: {

  },
  methods: {
    toggle() {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFruits = [];
        } else {
          this.selectedFruits = this.fruits.slice();
        }
      });
    },
    SetAsOnDate(date)
    {
      this.$refs.menu.save(date)
      this.LoadCustomers()
    },
    LoadCustomers() {
      if(this.RouteName === null || this.RouteName === undefined || this.RouteName === "")
      {
         return
      }
       for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(this.RouteName === this.LinkedRoutes[this.i].RouteName)
          {
            this.ActiveRouteID = this.LinkedRoutes[this.i].RouteID
          }
      }

        this.getTraveldetails(this.ActiveRouteID);
    },
    getTraveldetails(ActiveRouteID) {

      this.bURL = localStorage.getItem("CompanyURL") + "/api/";

        this.DayStartTime = localStorage.getItem("DayStartTime");
        if (this.DayStartTime !== null)
          this.AsOnDate = this.DayStartTime
      this.Loaderdialog = true
      this.$server
        .get(
          this.bURL +
            "customer/LoadCustomersByVistitStatusByRoute?ActiveRouteID=" +
            ActiveRouteID +
            "&VisitStatus=Unvisited&VisitDate=" +
            this.AsOnDate
        )
        .then(
          response => {
            localStorage.setItem("RouteIdRouteMap", ActiveRouteID);
            this.Unvisited = [];
            if (response.data !== "") {
              this.Unvisited = response.data;
              this.CustomerSkipDetails = localStorage.getItem(
                "CustomerSkipDetails"
              );
              if (this.CustomerSkipDetails !== null) {
                this.CustomerSkipDetails = JSON.parse(this.CustomerSkipDetails);
              } else {
                this.CustomerSkipDetails = [];
              }
              for (this.i = 0; this.i < this.Unvisited.length; this.i++) {
                for (
                  this.j = 0;
                  this.j < this.CustomerSkipDetails.length;
                  this.j++
                ) {
                  if (
                    this.Unvisited[this.i].CustName ===
                    this.CustomerSkipDetails[this.j].CustName
                  ) {
                    this.Unvisited.splice(this.i, 1);
                    this.i = this.i - 1;
                    break;
                  }
                }
              }
              this.Loaderdialog = false;
              localStorage.setItem(
                "CustomerUnvisited",
                JSON.stringify(this.Unvisited)
              );
            }
            // this.locationDetails = response.data
            localStorage.setItem(
              "CustomerUnvisited",
              JSON.stringify(this.Unvisited)
            );

            this.GeoLOC = this.Unvisited;
            //this.CustomersDistanceCalculation();
          },
          error => {
            this.Unvisited = [];
            this.GeoLOC = [];
            localStorage.setItem(
              "CustomerUnvisited",
              JSON.stringify(this.GeoLOC)
            );
            console.log(error);
          }
        );
    },
     SelectRouteAttendance(ActiveRouteID) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.Saleperson = localStorage.getItem("salePerson")
      this.$server.get(this.bURL +"user/SelectRouteAttendance?Salesperson=" +this.Saleperson).then(
          response => {
           localStorage.setItem('DayStartTime',this.FormatDate(response.data.TimeStart))
             this.getTraveldetails(ActiveRouteID)
          },
          error => {
            console.log(error);
          }
        );
    },
     FormatDate(Value)
    {
      return  Value.split('T')[0]
    },
    nearby() {
      this.$router.push("/dashboard/map");
    },
    tovisited() {
      this.$router.push("/ui/maps/google-maps");
    },
    visited() {
      this.$router.push("/ui/maps/google-visited");
    },
    skipped() {
      this.$router.push("/ui/maps/google-skipped");
    },
      RouteTimeLine() {
      this.$router.push("/dashboard/RouteTimeLine");
    },
    MakeVisted(position, pos, name) {
      //  this.calcdistance(this.center.lat,this.center.lng,position,"k")
      // alert(name)
     var fst = 0
     var rest = 0
      if(position !== null)
      {
          fst = position.lat
          rest = position.lng
      }

      this.locPOS1 = parseFloat(fst);
      this.locPOS2 = parseFloat(rest);
      this.calcdistance(
        this.center.lat,
        this.center.lng,
        this.locPOS1,
        this.locPOS2,
        pos,
        name
      );
    },
    calcdistance(lat1, lon1, lat2, lon2, pos, cname) {
      // alert(cname)
      var R = 6371; // km
      var dLat = this.toRad(lat2 - lat1);
      var dLon = this.toRad(lon2 - lon1);
      var lat1 = this.toRad(lat1);
      var lat2 = this.toRad(lat2);

      var a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.sin(dLon / 2) *
          Math.sin(dLon / 2) *
          Math.cos(lat1) *
          Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      var dis = d.toFixed(2);
      console.log(dis);
      dis = parseFloat(dis);
      this.MinimumDistanceToMarkVisited = this.Settings.MinimumDistanceToMarkVisited;
      this.MinimumDistanceToMarkVisited = this.MinimumDistanceToMarkVisited
        ? parseFloat(this.MinimumDistanceToMarkVisited)
        : 0;
        this.userType = localStorage.getItem('UserType')
      if (dis <= this.MinimumDistanceToMarkVisited  || this.userType === "Administrator") {
        this.VisitWarningModal = true;
        this.CustomerToVisit = cname;
      } else {
        this.SnackbarMessege = this.$t(`menu.Sorrypleasegotothatcustomerplace`);
        this.snackbar = true;
      }
      // return d;
    },

    // Converts numeric degrees to radians
    toRad(Value) {
      return (Value * Math.PI) / 180;
    },
    doVisited(cname) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.salePerson = localStorage.getItem("salePerson");
      //this.RouteId = localStorage.getItem("ActiveRouteId");
      this.Visitdate = new Date().toISOString().substr(0, 10),
       this.DayStartTime = localStorage.getItem("DayStartTime");
        if (this.DayStartTime !== null)
          this.Visitdate = this.DayStartTime
      this.$server
        .get(
          this.bURL +
            "Customer/SetCustomerVisit?CustomerName=" +
            this.CustomerToVisit +
            "&RouteId=" +
           this.ActiveRouteID  +
           "&VisitDate=" +  this.Visitdate
        )
        .then(
          response => {
            if (parseFloat(response.data) > 0) {
              for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
                if (this.GeoLOC[this.i].CustName === this.CustomerToVisit) {
                  this.GeoLOC.splice(this.i, 1);
                  break;
                }
              }
              this.SnackbarMessege = "Visited";
              this.snackbar = true;
              this.VisitWarningModal = false;
            } else {

              this.SnackbarMessege = "please start your day on the date " +this.AsOnDate;
              this.snackbar = true;
             
            }
          },
          error => {
             this.SnackbarMessege = "Failed, try again";
              this.snackbar = true;
          }
        );
    },

    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(this.showPosition());
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    },
    showPosition(position) {
      this.currentlat = position.coords.latitude;
      this.currentlong = position.coords.longitude;
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = marker.infoText;
      console.log(marker.position.lat + " " + marker.position.lng);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },

    navigate(latlong) {
      //10.7867,76.6548

      window.open(
        "https://www.google.com/maps/search/" +
          latlong +
          "/@" +
          latlong +
          ",17z",
        "_blank"
      );
    },
    whatsapp(Mobile,Phone) {
      if(Mobile === "")
      {
        if(Phone === "")
        {
            this.SnackbarMessege = "No Contact number"
            this.snackbar = true
            return
        }
        else{
          window.open("https://api.whatsapp.com/send?phone=" + Phone, "_blank");
        }
      }
      else{
      window.open("https://api.whatsapp.com/send?phone=" + Mobile, "_blank");
      }
    },
    call(Phone,Mobile)
    {
      if(Phone === "")
      {
        if(Mobile === "")
        {
          this.SnackbarMessege = "No Contact number"
          this.snackbar = true
          return
        }
        else{
          window.open("tel:" + Mobile);
        }
      }
      else{
        window.open("tel:" + Phone);
      }

    },
    EditCustomer(customer)
    {
        localStorage.removeItem('BackToPage')
        localStorage.setItem('CustomerName',customer);
        this.$router.push('/dashboard/masters/customerProfile')
    },
    skip(pos) {
      this.SkipId = pos;
      this.SkipConfirmationModal = true;
    },
    ExecuteSkip() {
      this.CustomerSkipDetails = localStorage.getItem("CustomerSkipDetails");
      if (this.CustomerSkipDetails !== null) {
        this.CustomerSkipDetails = JSON.parse(this.CustomerSkipDetails);
      } else {
        this.CustomerSkipDetails = [];
      }

      this.CustomerSkipDetails.push(this.GeoLOC[this.SkipId]);

      this.GeoLOC.splice(this.SkipId, 1);
      localStorage.setItem(
        "CustomerSkipDetails",
        JSON.stringify(this.CustomerSkipDetails)
      );
      localStorage.setItem("CustomerUnvisited", JSON.stringify(this.GeoLOC));
      this.SkipConfirmationModal = false;
    },
    /*************************************************** Distance Calculation ****************************************** */
    CustomersDistanceCalculation() {
      navigator.geolocation.getCurrentPosition(
        position => {
          this.CurrentLatitude = position.coords.latitude;
          this.CurrentLongitude = position.coords.longitude;

          this.ExecuteDeistanceCalculation();
        },
        error => {
          console.log(error.message);
        }
      );
    },
    ExecuteDeistanceCalculation() {
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (this.GeoLOC[this.i].GeoLocation !== null) {
          if (this.GeoLOC[this.i].GeoLocation.lat > 0) {
            this.GeoLOC[this.i].Distance = this.haversine_distanceNew(
              this.GeoLOC[this.i].GeoLocation.lat,
              this.GeoLOC[this.i].GeoLocation.lng,
              this.CurrentLatitude,
              this.CurrentLongitude
            );
          }
        } else {
          this.GeoLOC[this.i].Distance = 0;
        }
      }

      this.ListToSort = [];
      this.UnsortedList = [];
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (
          this.GeoLOC[this.i].Distance !== null &&
          this.GeoLOC[this.i].Distance !== undefined &&
          this.GeoLOC[this.i].GeoLocation !== null
        ) {
          if (
            this.GeoLOC[this.i].GeoLocation.lat > 0 &&
            this.GeoLOC[this.i].GeoLocation.lng > 0
          ) {
            this.ListToSort.push(this.GeoLOC[this.i]);
          } else {
            this.UnsortedList.push(this.GeoLOC[this.i]);
          }
        } else {
          this.UnsortedList.push(this.GeoLOC[this.i]);
        }
      }

      this.ListToSort.sort((a, b) => {
        return a.Distance - b.Distance;
      });

      for (this.i = 0; this.i < this.UnsortedList.length; this.i++) {
        this.ListToSort.push(this.UnsortedList[this.i]);
      }

      this.GeoLOC = this.ListToSort;
      //this.showmap(this.GeoLOC[0].GeoLocation.lat+','+this.GeoLOC[0].GeoLocation.lng,this.GeoLOC[0].CustName)
    },
    haversine_distanceNew(lat1, lon1, lat2, lon2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = lat1 * (Math.PI / 180); // Convert degrees to radians
      var rlat2 = lat2 * (Math.PI / 180); // Convert degrees to radians
      var difflat = rlat2 - rlat1; // Radian difference (latitudes)
      var difflon = (lon1 - lon2) * (Math.PI / 180); // Radian difference (longitudes)

      var d =
        2 *
        R *
        Math.asin(
          Math.sqrt(
            Math.sin(difflat / 2) * Math.sin(difflat / 2) +
              Math.cos(rlat1) *
                Math.cos(rlat2) *
                Math.sin(difflon / 2) *
                Math.sin(difflon / 2)
          )
        );

      return d;
    }
    /*************************************************** Distance Calculation ****************************************** */
  }
};
</script>
<style lang="css" scoped>
.v-slide-group {
  display: block !important;
}
.py-3 {
  margin-top: -4em;
}
.gmnoprint,
.gm-control-active gm-fullscreen-control {
  display: none !important;
}
</style>
