<template>
    <div style="width: 100%;">
    <div style="padding:0px; margin-top:-1em;">

      <v-sheet class="text-center" style="height: 100%;max-height:350px;overflow:scroll;    margin-top: 0em;">
        <!-- <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet"
        >close</v-btn> -->
        <div class="aa" style="height:100%;">

          <v-container class="grey lighten-5" style="padding-bottom: 0px;padding-top: 0px;">
    <v-row no-gutters>

      <v-col cols="3"  sm="3"  style="padding-top:5px;" @click="tovisited">
        <v-card class="text-center" outlined tile>
          <v-icon>mdi-google-maps</v-icon>
              <h6 style="font-size: 13px;">{{$t(`menu.Unvisited`)}}</h6>
        </v-card>
      </v-col>
      <v-col cols="3"  sm="3" style="padding-top:5px;" @click="visited">
        <v-card class="text-center" outlined tile>
           <v-icon>mdi-map-marker-check</v-icon>
             <h5 style="font-size: 13px;">{{$t(`menu.Visited`)}}</h5>

        </v-card>
      </v-col>
       <v-col cols="3"  sm="3"  style="padding-top:5px;" @click="nearby">
        <v-card class="text-center" outlined tile>
          <!-- <img src="/images/sheet/order.png" class="img-reponsive" style="    width: 80px"> -->
           <v-icon>mdi-map-marker-distance</v-icon>
             <h5 style="font-size: 13px;">{{$t(`menu.Nearby`)}}</h5>
        </v-card>
      </v-col>
       <v-col cols="3"  sm="3"   style="padding-top:5px;" @click="skipped">
        <v-card class="text-center" outlined tile>
          <v-icon>mdi-map-marker-radius</v-icon>
             <h5 style="font-size: 13px;">{{$t(`menu.Skipped`)}}</h5>
        </v-card>
      </v-col>

    </v-row>
  </v-container>
        </div>
      </v-sheet>

    </div>
       <v-select
   
          :items="users"
          label="Select User"
          dense
          v-model="selecteduser"
        ></v-select>
    <div id="map" style="height: 250px;width:100%;"></div>


    <div id="msg" style="width:100%; text-align:center; color:#000;"></div>



     <div class="container-fluid" hidden
      style="overflow:scroll;overflow-x: hidden;max-height:350px;    padding-top: 1em;padding-left: 0px;padding-right: 0px;">
      <b-row>
    <b-col style="padding-top: 10px; cursor:pointer" v-for="(item,i) in GeoLOC" :key="i">

         <div style="color: #000;padding:5px;" >
            <!-- <b><v-icon>mdi-map</v-icon> &nbsp;{{item.customername}}</b>
            <span style="width:100%; text-align:right;"><v-icon style="color:red;">mdi-van-utility</v-icon> </span> -->
             <v-row no-gutters>
      <v-col cols="1"  sm="1" @click="navigate(item.GeoLocation.lat+','+item.GeoLocation.lng)" >
        <v-icon style="color: #0096c7;">mdi-map</v-icon>
      </v-col>
        <v-col cols="8"  sm="8" @click="showmap(item.GeoLocation.lat+','+item.GeoLocation.lng)">
       <b>{{item.CustName}}</b>
      </v-col>

        <v-col cols="3"  sm="3 "  style="text-align: right;">
          <v-icon @click="call(item.Mobile)" style="color:#007bff;padding-left:10px;padding-right:10px;text-decoration: none !important;">mdi-phone</v-icon>
          <v-menu

      bottom
      origin="center center"
      transition="scale-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <i class="fa fa-ellipsis-v" aria-hidden="true" style="padding-left:10px;padding-right:10px;"  v-bind="attrs"
          v-on="on"></i>


      </template>

      <v-list>
        <v-list-item>
          <!-- <a :href="'tel:'+item.call"><v-icon style="color:#007bff;padding:5px;" >mdi-phone</v-icon></a> -->
          <v-list-item-title><v-icon style="color:#28a745;padding-left:10px;padding-right:10px;" @click="whatsapp(item.Mobile)">mdi-whatsapp</v-icon></v-list-item-title>
        <v-icon style="color:#dc3545;padding-left:10px;padding-right:10px;"  @click="EditCustomer(item.CustName)">mdi-account-circle</v-icon>
       <v-icon style="color:#FF8A80;padding-left:10px;padding-right:10px;"  @click="skip(i)">mdi-map-marker-radius</v-icon>
       <v-icon style="color: darkgreen;padding-left:10px;padding-right:10px;"  @click="MakeVisted(item.GeoLocation.lat+','+item.GeoLocation.lng,i,item.CustName)">mdi-map-marker-check</v-icon>


        </v-list-item>
      </v-list>
    </v-menu>
       </v-col>
    </v-row>
         </div>

    </b-col>
      </b-row>

    </div>
    </div>

</template>
<script>
import Vue from 'vue'
import axios from 'axios'
var map;
export default {

    data() {

        return{
             users:[],
           distance:'',
           selecteduser:'',
          plist:[],
          p2list:[],
           sheet:false,
          items: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' }
    ],
    list : [
  {
      Distance: 52.3
  },
  {
      Distance: 41.0,
  },

  {
      Distance:10.0,
  },
],
        GeoLOC:[],

            center:{
              Lati:10.831439329726912,
              long:76.68330422180638,
              lat:'',
              lng:''
            },
            POS1: {lat:'', lng: ''},
            POS2 : {lat: '', lng:'' },
            locdistance:'',
            timedur:''
        }

    },
    mounted(){
         this.getTraveldetails();
     localStorage.setItem('ActivePage','MAP')
     localStorage.removeItem('VoucherUpdated')
this.GeoLOC = JSON.parse(localStorage.getItem("CustomerMapDetails"))
this.POS2.lat = this.GeoLOC[0].latitude,
this.POS2.lng = this.GeoLOC[0].longitude,

 this.POS2.lat=  10.831439329726912;
this.POS2.lng = 76.68330422180638;
this.initMap();



    },
      created() {

        const success = (position) => {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            this.POS1.lat = latitude,
            this.POS1.lng = longitude,

            this.center.lat = latitude,
            this.center.lng = longitude

            this.disfind(this.center.lat,this.center.lng);

            this.GeoLOC.sort((a, b) => (a.Distance > b.Distance ? 1 : -1));
            // this.list.sort((a, b) => (a.Distance > b.Distance ? 1 : -1));
            // Do something with the position
            // Do something with the position
        };

        const error = (err) => {
            console.log(error)
        };

        // This will open permission popup
        navigator.geolocation.getCurrentPosition(success, error);

    },
    computed: {

  },
    methods:{
        getTraveldetails(){
     
          this.$server.get(this.bURL +"user").then(
        (response) => {
          // console.log("userlist"+response.data.geolocation);
          this.users = response.data
        },
        (error) => {
          console.log(error);
        }
      );
    },
        haversine_distance(mk1, mk2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = mk1.position.lat() * (Math.PI/180); // Convert degrees to radians
      var rlat2 = mk2.position.lat() * (Math.PI/180); // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (mk2.position.lng()-mk1.position.lng()) * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
      return d;
},
disfind(a,b)
{

var i;
 for (i = 0; i < this.GeoLOC.length; i++) {
  this.GeoLOC[i].Distance = this.getDistanceFromLatLonInKm(this.center.lat,this.center.lng,this.GeoLOC[i].GeoLocation.lat,this.GeoLOC[i].GeoLocation.lng);

}



},
MakeVisted(position,pos,name)
{
  //  this.calcdistance(this.center.lat,this.center.lng,position,"k")

   var str = position;
var arr = str.split(",");
var fst = arr.splice(0,1).join("");
var rest = arr.join(",");
var unit = "k"
   this.locPOS1 = parseFloat(fst)
    this.locPOS2 = parseFloat(rest)
   this.calcdistance(this.center.lat,this.center.lng,this.locPOS1,this.locPOS2,pos,name)
},
calcdistance(lat1, lon1, lat2, lon2,pos,cname)
    {
      var R = 6371; // km
      var dLat = this.toRad(lat2-lat1);
      var dLon = this.toRad(lon2-lon1);
      var lat1 = this.toRad(lat1);
      var lat2 = this.toRad(lat2);

      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c;
      var dis = d.toFixed(2);
      console.log(dis)
      if(dis < 0.5){

        if(confirm("Do u want make the customer visit completed ?"))
        {
          // this.skip(pos)
          this.doVisited(cname)
        }
      }else
      {
        this.SnackbarMessege = this.$t(`menu.Sorrypleasegotothatcustomerplace`)
 this.snackbar = true
      }
      // return d;
    },
    geodistance(lat1, lon1, lat2, lon2)
    {
      var R = 6371; // km
      var dLat = this.toRad(lat2-lat1);
      var dLon = this.toRad(lon2-lon1);
      var lat1 = this.toRad(lat1);
      var lat2 = this.toRad(lat2);

      var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
        Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
      var d = R * c;
      var dis = d.toFixed(2);
      console.log(dis)
      // return dis;

      // return d;
    },

    // Converts numeric degrees to radians
    toRad(Value)
    {
        return Value * Math.PI / 180;
    },
    doVisited(cname)
    {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.UserName = localStorage.getItem("user");
      this.RouteId = localStorage.getItem('ActiveRouteId');
          this.$server.get(this.bURL + "Customer/SetCustomerVisit?CustomerName="+cname+",RouteId=3").then(
        (response) => {
          console.log("Result"+response);

        },
        (error) => {
          console.log(error);
        }
      );
    },
initMap() {
  // The map, centered on Central Park
//

// console.log(this.POS2.lat+' '+this.POS2.lng)
  const center = {lat: this.center.lat, lng: this.center.lng};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks

  const dakota = {lat:this.POS1.lat, lng: this.POS1.lng};
  const frick = {lat: this.POS2.lat, lng:this.POS2.lng };
  //10.83299890436992, 76.68077221669957
  // The markers for The Dakota and The Frick Collection
  var mk1 = new google.maps.Marker({position: dakota, map: map});
  var mk2 = new google.maps.Marker({position: frick, map: map});
  // Draw a line showing the straight distance between the markers
  // var line = new google.maps.Polyline({path: [dakota, frick], map: map});

// Calculate and display the distance between markers
  // var distance = this.haversine_distance(mk1, mk2);
  // document.getElementById('msg').innerHTML = "Distance between markers: " + distance.toFixed(2) + " mi.";


  let directionsService = new google.maps.DirectionsService();
  let directionsRenderer = new google.maps.DirectionsRenderer();
  directionsRenderer.setMap(map); // Existing map object displays directions
  // Create route from existing points used for markers
  const route = {
      origin: dakota,
      destination: frick,
      travelMode: 'DRIVING'
  }

  directionsService.route(route,
    function(response, status) { // anonymous function to capture directions
      if (status !== 'OK') {
        window.alert('Directions request failed due to ' + status);
        return;
      } else {
        directionsRenderer.setDirections(response); // Add route to the map
        var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
        if (!directionsData) {
          window.alert('Directions request failed');
          return;
        }
        else {

          document.getElementById('msg').innerHTML = " Driving distance is <b>" + directionsData.distance.text + "</b> (" + directionsData.duration.text + ").";
        }
      }
    });

},

skip(pos){
 this.CustomerSkipDetails = localStorage.getItem('CustomerSkipDetails')
 if(this.CustomerSkipDetails !== null)
 {
   this.CustomerSkipDetails = JSON.parse(this.CustomerSkipDetails)
 }
 else
 {
    this.CustomerSkipDetails = []
 }

 this.CustomerSkipDetails.push(this.GeoLOC[pos]);

  this.GeoLOC.splice(pos,1);
  localStorage.setItem('CustomerSkipDetails',JSON.stringify(this.CustomerSkipDetails));
  localStorage.setItem('CustomerMapDetails',JSON.stringify(this.GeoLOC));
 },
showmap(a){
 console.log("map"+a)

  var str = a;
var arr = str.split(",");
var fst = arr.splice(0,1).join("");
var rest = arr.join(",");


         this.POS2.lat=  parseFloat(fst);
         this.POS2.lng = parseFloat(rest);

  this.initMap()
},

call(no)
{
   window.open('tel:'+no);
},
nearby()
{
this.$router.push('/dashboard/map')
},
tovisited()
{
this.$router.push('/ui/maps/google-maps')
},
visited()
{
this.$router.push('/ui/maps/google-visited')
},
skipped()
{
this.$router.push('/ui/maps/google-skipped')
},

getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = this.deg2rad(lat2-lat1);  // deg2rad below
  var dLon = this.deg2rad(lon2-lon1);
  var a =
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(this.deg2rad(lat1)) * Math.cos(this.deg2rad(lat2)) *
    Math.sin(dLon/2) * Math.sin(dLon/2);
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  var d = R * c; // Distance in km
  return d.toFixed(2);
},

deg2rad(deg) {
  return deg * (Math.PI/180)
},


 EditCustomer(custName)
    {
        localStorage.setItem('CustomerName',custName);
         this.$router.push('/dashboard/masters/customerProfile')
    },
navigate(latlong){
              //10.7867,76.6548


                window.open("https://www.google.com/maps/search/"+latlong+"/@"+latlong+",17z", '_blank')


            },
            whatsapp(number)
            {

              window.open("https://api.whatsapp.com/send?phone="+number, '_blank');

            },
    }
}
</script>
<style lang="css" >
.v-slide-group {
    display: block !important;
}

.gmnoprint,.gm-control-active .gm-fullscreen-control
{
  display:none  !important
}
</style>
