<template>
    <div>
    <div id="map" style="height: 250px;"></div>
    <div id="msg"></div>
    </div>
    
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
var map;
export default {
    
    data() {

        return{
           center:{
            //  lat:'10.831439329726912',
            //  lng:' 76.68330422180638'
             lat:'',
             lng:''
           },
           PT1:{
              lat:'10.844969422939288',
              lng:'76.72600498880333'
           },
           PT2:{
              lat:'11.83299890436992',
              lng:'76.68077221669957 '
           }
        }
        
    },
    mounted(){
this.initMap()
    },
      created() {

        const success = (position) => {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;
            
            
            this.center.lat = latitude,
            this.center.lng = longitude
            // Do something with the position
            // Do something with the position
        };

        const error = (err) => {
            console.log(error)
        };

        // This will open permission popup
        navigator.geolocation.getCurrentPosition(success, error);
         console.log("lat"+latitude+" long"+longitude)
    },
    methods:{
        haversine_distance(mk1, mk2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = mk1.position.lat() * (Math.PI/180); // Convert degrees to radians
      var rlat2 = mk2.position.lat() * (Math.PI/180); // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (mk2.position.lng()-mk1.position.lng()) * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
      return d;
},
initMap() {
  // The map, centered on Central Park
//   
  const center = {lat: this.center.lat, lng:this.center.lng};
  const options = {zoom: 15, scaleControl: true, center: center};
  map = new google.maps.Map(
      document.getElementById('map'), options);
  // Locations of landmarks
   
  const PT1 = {lat:this.PT1.lng, lng: this.PT1.lng};
  const PT2 = {lat: this.PT2.lat, lng:this.PT2.lng };
  //10.83299890436992, 76.68077221669957
  // The markers for The PT1 and The PT2 Collection
  var mk1 = new google.maps.Marker({position: PT1, map: map});
  var mk2 = new google.maps.Marker({position: PT2, map: map});
  // Draw a line showing the straight distance between the markers
  var line = new google.maps.Polyline({path: [PT1, PT2], map: map});

// Calculate and display the distance between markers
  var distance = this.haversine_distance(mk1, mk2);
  document.getElementById('msg').innerHTML = "Distance between markers: " + distance.toFixed(2) + " mi.";


  let directionsService = new google.maps.DirectionsService();
  let directionsRenderer = new google.maps.DirectionsRenderer();
  directionsRenderer.setMap(map); // Existing map object displays directions
  // Create route from existing points used for markers
  const route = {
      origin: PT1,
      destination: PT2,
      travelMode: 'DRIVING'
  }

  directionsService.route(route,
    function(response, status) { // anonymous function to capture directions
      if (status !== 'OK') {
        window.alert('Directions request failed due to ' + status);
        return;
      } else {
        directionsRenderer.setDirections(response); // Add route to the map
        var directionsData = response.routes[0].legs[0]; // Get data about the mapped route
        if (!directionsData) {
          window.alert('Directions request failed');
          return;
        }
        else {
          document.getElementById('msg').innerHTML += " Driving distance is " + directionsData.distance.text + " (" + directionsData.duration.text + ").";
        }
      }
    });

}
    }
}
</script>
