<template>
  <div style="padding:0px;margin-top:-10px;">
 <v-sheet class="text-center" style="height: 100%;max-height:350px;overflow:scroll;    margin-top: 0em;">
       <div style="padding-top:25px">
         
   <v-select
   
          :items="users"
          label="Select User"
          dense
          v-model="selecteduser"
        ></v-select>
         <label :style="color" v-show="time">Updated Time : {{time}}</label>
        </div>
     
          <gmap-map :center="center" :zoom="zoomsettings" style="width: 100%; height: 300px;">
      

      <gmap-marker
        v-for="(m,i) in userinfo"
        :key="i"
        :position="m.geoLocation"
        
        
      ></gmap-marker>
    </gmap-map>
  
   <!--
     :clickable="true" @click="toggleInfoWindow(m,i)" -->
       <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    
  </div>
</template>

<script>

// import Vue from "vue";
// import axios from "axios";
import Distancemaps from './maps.vue'

export default {
  components: {
    Distancemaps
  },
  data() {
    return {
      tab: null,
      selecteduser:'',
      zoomsettings:'',
      time:'',
        snackbar: false,
      SnackbarMessege: '',
      center: {
        lat: '',
        lng: ''
      },
      users:[],
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
        marker: [{
        position: {
          lat: 10.7867,
          lng: 76.6548
        }
      }],
      GeoLOC:[],
      markers: [
      {
        position: {
          lat: 10.7867,
          lng: 76.6548
        },
        infoText: '<strong>Marker 1</strong>',
        customername:'Linkway',
        call:'+919074071153',
        whatsapp:'+919074071153'
      }, {
        position: {
          lat: 10.800100,
          lng: 76.639099
        },
        infoText: '<strong>Marker 2</strong>',
        customername:'Linkway Oman',
        call:'+919074071153',
        whatsapp:'+919074071153'
      }, {
        position: {
          lat: 10.764450,
          lng: 76.642680
        },
        infoText: '<strong>Marker 3</strong>',
        customername:'Dubai',
        call:'+919074071153',
        whatsapp:'+919074071153'
      },
      {
        position: {
          lat: 10.770040,
          lng: 76.632508
        },
        infoText: '<strong >Marker 4</strong>',
        customername:'Bestie',
        call:'+919074071153',
        whatsapp:'+919074071153'
      }
      
      ],
      userType:'',
      bURLPrint:'',
      bURL:'',
      currentlat:'',
      currentlong:'',
      distance:'',
      color:'',
      center:{
        lat:'',
        lng:'',
      },
       bURL: localStorage.getItem("CompanyURL") + "/api/",
       userinfo:[],
       usercheck:''
    }
  },
   mounted(){
     this.GeoLOC = JSON.parse(localStorage.getItem("CustomerSkipDetails"))
       console.log(this.map.zoom);
          this.getTraveldetails();
          this.zoomsettings = 7
         
      
   },
  
   watch:{
      selecteduser(val)
      {
        this.getcurrentlocation(val);
      
      }
   },
   created() {

        const success = (position) => {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;
            this.currentlat = latitude,
            this.currentlong = longitude,
            
            this.center.lat = latitude,
            this.center.lng = longitude
            // Do something with the position
            // Do something with the position
        };

        const error = (err) => {
            console.log(error)
        };

        // This will open permission popup
        navigator.geolocation.getCurrentPosition(success, error);
    },

  methods: {

    getTraveldetails(){
     
          this.$server.get(this.bURL +"user").then(
        (response) => {
          // console.log("userlist"+response.data.geolocation);
          this.users = response.data
        },
        (error) => {
          console.log(error);
        }
      );
    },
    getcurrentlocation(val)
    {

      this.user = val;
     
        this.$server.get(this.bURL +"user/SelectUserGeoLocation/"+val).then(
        (response) => {
          // this.users = response.data
         
          this.userinfo= []
          this.userinfo.push(response.data)

           

          if(response.data.geoLocation.lat == 0)
          {
            
             this.time = "Location not updated yet"
             this.color = 'color:red;'
          }else{
             this.time = response.data.locationUpdateTime.replace('T',' ')
             this.color = 'color:blue'
             this.interval = setInterval(() => 
             this.checkposition(),
              10000);

            
          }

           
          
          
        },
        (error) => {
          console.log(error);
        }
      );

    },

    checkposition()
    {
      // console.log(this.selecteduser)
      // console.log("loc")
        this.$server.get(this.bURL +"user/SelectUserGeoLocation/"+this.selecteduser).then(
        (response) => {
          // this.users = response.data
          // console.log(response.data.geoLocation)
          this.userinfo= []
          this.userinfo.push(response.data)

           

          if(response.data.geoLocation.lat == 0)
          {
            
             this.time = "Location not updated yet"
             this.color = 'color:red;'
          }else{
             this.time = response.data.locationUpdateTime.replace('T',' ')
             this.color = 'color:blue'
            //  this.interval = setInterval(() => this.checkposition(), 1000);

            
          }

           
          
          
        },
        (error) => {
          console.log(error);
        }
      );

    },

    

  



   getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.watchPosition(this.showPosition());
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
},
showPosition(position) {
   this.currentlat=  position.coords.latitude ; 
  this.currentlong = position.coords.longitude;
},
  
    


           

  }
}
</script>
<style lang="css" scoped>
/* .v-slide-group {
    display: block !important;
}
.py-3
{
      margin-top: -4em;
}
.gmnoprint,.gm-control-active gm-fullscreen-control
{
  display:none  !important
} */

</style>