<template>
  <div style="padding:0px;margin-top:-10px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <v-sheet
      class="text-center"
      style="height: 100%;max-height:350px;overflow:scroll;    margin-top: 0em;"
    >
      <!-- <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet"
        >close</v-btn> -->
      <div class="aa" style="height:100%;">
        <v-container
          class="grey lighten-5"
          style="padding-bottom: 0px;padding-top: 0px; padding:0px;"
        >
          <v-row no-gutters>
            <v-col cols="3" sm="3" style="padding-top:5px;" @click="tovisited">
              <v-card class="text-center" outlined tile>
                <v-icon>mdi-google-maps</v-icon>
                <h6 style="font-size: 11px;">{{ $t(`menu.Unvisited`) }}</h6>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="visited">
              <v-card class="text-center" outlined tile>
                <v-icon>mdi-map-marker-check</v-icon>
                <h5 style="font-size: 11px;">{{ $t(`menu.Visited`) }}</h5>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="nearby">
              <v-card class="text-center" outlined tile>
                <!-- <img src="/images/sheet/order.png" class="img-reponsive" style="    width: 80px"> -->
                <v-icon>mdi-map-marker-distance</v-icon>
                <h5 style="font-size: 11px;">{{ $t(`menu.Nearby`) }}</h5>
              </v-card>
            </v-col>

            <v-col cols="2" sm="2" style="padding-top:5px;" @click="skipped">
              <v-card class="text-center" outlined tile>
                <v-icon color="primary">mdi-map-marker-radius</v-icon>
                <h5 style="font-size: 11px;color:rgb(0 150 199)">
                  {{ $t(`menu.Skipped`) }}
                </h5>
              </v-card>
            </v-col>

            <v-col cols="3" sm="3" style="padding-top:5px;" @click="RouteTimeLine">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-clock</v-icon>
                <h5 style="font-size: 11px;">
                 Timeline
                </h5>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-sheet>
    <div v-if="GeoLOC.length>0">
      <gmap-map :center="center" :zoom="9" style="width: 100%; height: 300px;">
        <gmap-info-window
          :options="infoOptions"
          :position="infoWindowPos"
          @closeclick="infoWinOpen = false"
        >
        </gmap-info-window>

        <gmap-marker
          v-for="(m, i) in GeoLOC"
          :key="i"
          :position="m.GeoLocation"
          :clickable="true"
          @click="toggleInfoWindow(m, i)"
        ></gmap-marker>
      </gmap-map>
      <div
        class="container-fluid"
        style="overflow:scroll;overflow-x: hidden;max-height:350px;    padding-top: 1em;padding-left: 0px;padding-right: 0px;"
      >
        <b-row class="s">
          <b-col
            style="padding-top: 10px; cursor:pointer"
            v-for="(item, i) in GeoLOC"
            :key="i"
          >
            <div style="padding:5px;">
              <!-- <b><v-icon>mdi-map</v-icon> &nbsp;{{item.customername}}</b>
            <span style="width:100%; text-align:right;"><v-icon style="color:red;">mdi-van-utility</v-icon> </span> -->
              <v-row no-gutters>
                <v-col
                  cols="1"
                  sm="1"
                  class="location"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  <v-icon>mdi-map</v-icon>
                </v-col>
                <v-col
                  cols="9"
                  sm="9"
                  class="location"
                  style="padding-right:2px !important;padding-left:2px !important"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  {{ item.CustName }}
                </v-col>

                <v-col cols="1" sm="1" class="location">
                  <v-icon
                    @click="call(item.Phone,item.Mobile)"
                    style="color:#007bff;padding-left:0px;padding-righ:0px;text-decoration: none !important;font-size: 22px;"
                    >mdi-phone</v-icon
                  >
                </v-col>
                <v-col cols="1" sm="1" class="locationnew">
                  <v-menu
                    bottom
                    origin="center center"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <i
                        class="fa fa-ellipsis-v"
                        aria-hidden="true"
                        style="padding-left:0px;padding-right:0px;"
                        v-bind="attrs"
                        v-on="on"
                      ></i>
                    </template>

                    <v-list>
                      <v-list-item>
                        <!-- <a :href="'tel:'+item.call"><v-icon style="color:#007bff;padding:5px;" >mdi-phone</v-icon></a> -->
                        <v-list-item-title
                          ><v-icon
                            style="color:#28a745;padding-left:10px;padding-right:10px;"
                            @click="whatsapp(item.Mobile,item.Phone)"
                            >mdi-whatsapp</v-icon
                          ></v-list-item-title
                        >
                        <v-icon
                          style="color:#dc3545;padding-left:10px;padding-right:10px;"
                          @click="EditCustomer(item.CustName)"
                          >mdi-account-circle</v-icon
                        >
                        <!-- <v-icon style="color:#343a40;padding-left:10px;padding-right:10px;"  @click="skip(item)">mdi-chevron-right-circle</v-icon> -->
                        <!-- <v-icon style="color: darkgreen;padding-left:10px;padding-right:10px;"  @click="MakeVisted(item.GeoLocation.lat+','+item.GeoLocation.lng,i,item.CustName)">mdi-map-marker-check</v-icon> -->
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-col>
              </v-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
    <div v-if="GeoLOC.length===0">
      <v-card style="background:rgb(250 250 250) !important">
        <v-card-text>
          <v-row no-gutters>
            <v-col
              cols="12"
              style="color:rgb(0 99 145);text-align: center !important;font-size:17px;"
            >
              <label><b>No Customers Skipped</b></label>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
// import Vue from "vue";
// import axios from "axios";
import Distancemaps from "./maps.vue";

export default {
  components: {
    Distancemaps
  },
  data() {
    return {
      Loaderdialog: false,
      fruits: ["Apples", "Apricots", "Avocado"],
      selectedFruits: [],
      tab: null,
      snackbar: false,
      SnackbarMessege: "",
      timeout: 2000,
      center: {
        lat: "",
        lng: ""
      },
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      marker: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          }
        }
      ],
      GeoLOC: [],
      markers: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          },
          infoText: "<strong>Marker 1</strong>",
          customername: "Linkway",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.8001,
            lng: 76.639099
          },
          infoText: "<strong>Marker 2</strong>",
          customername: "Linkway Oman",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.76445,
            lng: 76.64268
          },
          infoText: "<strong>Marker 3</strong>",
          customername: "Dubai",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.77004,
            lng: 76.632508
          },
          infoText: "<strong >Marker 4</strong>",
          customername: "Bestie",
          call: "+919074071153",
          whatsapp: "+919074071153"
        }
      ],
      userType: "",
      bURLPrint: "",
      bURL: "",
      currentlat: "",
      currentlong: "",
      distance: ""
    };
  },
  mounted() {
    this.GeoLOC = localStorage.getItem("CustomerSkipDetails")
      ? JSON.parse(localStorage.getItem("CustomerSkipDetails"))
      : [];
    //  this.userType = localStorage.getItem("UserType");
    // this.checkUrl();
    //this.getTraveldetails();
    // this.getLocation()
    // this.calcdistance(this.center.lat,this.center.lng,10.770040,76.632508,"k")
  },
  created() {
    const success = position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      (this.currentlat = latitude),
        (this.currentlong = longitude),
        (this.center.lat = latitude),
        (this.center.lng = longitude);
      // Do something with the position
      // Do something with the position
    };

    const error = err => {
      console.log(error);
    };

    // This will open permission popup
    navigator.geolocation.getCurrentPosition(success, error);
  },
  computed: {
    likesAllFruit() {
      return this.selectedFruits.length === this.fruits.length;
    },
    likesSomeFruit() {
      return this.selectedFruits.length > 0 && !this.likesAllFruit;
    },
    icon() {
      if (this.likesAllFruit) return "mdi-close-box";
      if (this.likesSomeFruit) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    }
  },

  methods: {
    toggle() {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFruits = [];
        } else {
          this.selectedFruits = this.fruits.slice();
        }
      });
    },
    getTraveldetails() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.salePerson = localStorage.getItem("salePerson");
      this.AsOnDate = new Date().toISOString().substr(0, 10);
      this.$server
        .get(
          this.bURL +
            "customer/GetCustomersByVisitStatus?SalesPerson=" +
            this.salePerson +
            "&VisitStatus=Unvisited&VisitDate=" +
            this.AsOnDate
        )
        .then(
          response => {
            // console.log("CustomerVisited"+response.data);
            localStorage.setItem(
              "CustomerUnvisited",
              JSON.stringify(response.data)
            );
            // this.locationDetails = response.data
          },
          error => {
            console.log(error);
          }
        );
    },

    MakeVisted(position, pos, name) {
      //  this.calcdistance(this.center.lat,this.center.lng,position,"k")

      var str = position;
      var arr = str.split(",");
      var fst = arr.splice(0, 1).join("");
      var rest = arr.join(",");
      var unit = "k";
      this.locPOS1 = parseFloat(fst);
      this.locPOS2 = parseFloat(rest);
      this.calcdistance(
        this.center.lat,
        this.center.lng,
        this.locPOS1,
        this.locPOS2,
        pos,
        name
      );
    },
    calcdistance(lat1, lon1, lat2, lon2, pos, cname) {
      var R = 6371; // km
      var dLat = this.toRad(lat2 - lat1);
      var dLon = this.toRad(lon2 - lon1);
      var lat1 = this.toRad(lat1);
      var lat2 = this.toRad(lat2);

      var a =
        Math.sin(dLat / 2) * Math.sin(dLat / 2) +
        Math.sin(dLon / 2) *
          Math.sin(dLon / 2) *
          Math.cos(lat1) *
          Math.cos(lat2);
      var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
      var d = R * c;
      var dis = d.toFixed(2);
      console.log(dis);
      if (dis < 0.5) {
        if (confirm("Do u want make the customer visit completed ?")) {
          // this.skip(pos)
          this.doVisited(cname);
        }
      } else {
        this.SnackbarMessege = this.$t(`menu.Sorrypleasegotothatcustomerplace`);
        this.snackbar = true;
      }
      // return d;
    },

    // Converts numeric degrees to radians
    toRad(Value) {
      return (Value * Math.PI) / 180;
    },
    doVisited(cname) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.UserName = localStorage.getItem("user");
      this.RouteId = localStorage.getItem("ActiveRouteId");
      this.$server
        .get(
          this.bURL +
            "Customer/SetCustomerVisit?CustomerName=" +
            cname +
            ",RouteId=" +this.ActiveRouteID
        )
        .then(
          response => {
            console.log("Result" + response);
          },
          error => {
            console.log(error);
          }
        );
    },
    nearby() {
      this.$router.push("/dashboard/map");
    },
    tovisited() {
      this.$router.push("/ui/maps/google-maps");
    },
    visited() {
      this.$router.push("/ui/maps/google-visited");
    },
    skipped() {
      this.$router.push("/ui/maps/google-skipped");
    },
     RouteTimeLine() {
      this.$router.push("/dashboard/RouteTimeLine");
    },

    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(this.showPosition());
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    },
    showPosition(position) {
      this.currentlat = position.coords.latitude;
      this.currentlong = position.coords.longitude;
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = marker.infoText;
      console.log(marker.position.lat + " " + marker.position.lng);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },

    navigate(latlong) {
      //10.7867,76.6548

      window.open(
        "https://www.google.com/maps/search/" +
          latlong +
          "/@" +
          latlong +
          ",17z",
        "_blank"
      );
    },
   whatsapp(Mobile,Phone) {
      if(Mobile === "")
      {
        if(Phone === "")
        {
            this.SnackbarMessege = "No Contact number"
            this.snackbar = true
            return
        }
        else{
          window.open("https://api.whatsapp.com/send?phone=" + Phone, "_blank");
        }
      }
      else{
      window.open("https://api.whatsapp.com/send?phone=" + Mobile, "_blank");
      }
    },
    call(Phone,Mobile)
    {
      if(Phone === "")
      {
        if(Mobile === "")
        {
          this.SnackbarMessege = "No Contact number"
          this.snackbar = true
          return
        }
        else{
          window.open("tel:" + Mobile);
        }
      }
      else{
        window.open("tel:" + Phone);
      }

    },
    EditCustomer(customer)
    {
        localStorage.removeItem('BackToPage')
        localStorage.setItem('CustomerName',customer);
        this.$router.push('/dashboard/masters/customerProfile')
    },
    skip(pos) {
      this.CustomerSkipDetails = localStorage.getItem("CustomerSkipDetails");
      if (this.CustomerSkipDetails !== null) {
        this.CustomerSkipDetails = JSON.parse(this.CustomerSkipDetails);
      } else {
        this.CustomerSkipDetails = [];
      }

      this.CustomerSkipDetails.push(this.GeoLOC[pos]);

      this.GeoLOC.splice(pos, 1);
      localStorage.setItem(
        "CustomerSkipDetails",
        JSON.stringify(this.CustomerSkipDetails)
      );
      localStorage.setItem("CustomerUnvisited", JSON.stringify(this.GeoLOC));
    },

    /*************************************************** Distance Calculation ****************************************** */
    CustomersDistanceCalculation() {
      navigator.geolocation.getCurrentPosition(
        position => {
          this.CurrentLatitude = position.coords.latitude;
          this.CurrentLongitude = position.coords.longitude;

          this.ExecuteDeistanceCalculation();
        },
        error => {
          console.log(error.message);
        }
      );
    },
    ExecuteDeistanceCalculation() {
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (this.GeoLOC[this.i].GeoLocation !== null) {
          if (this.GeoLOC[this.i].GeoLocation.lat > 0) {
            this.GeoLOC[this.i].Distance = this.haversine_distanceNew(
              this.GeoLOC[this.i].GeoLocation.lat,
              this.GeoLOC[this.i].GeoLocation.lng,
              this.CurrentLatitude,
              this.CurrentLongitude
            );
          }
        } else {
          this.GeoLOC[this.i].Distance = 0;
        }
      }

      this.ListToSort = [];
      this.UnsortedList = [];
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (
          this.GeoLOC[this.i].Distance !== null &&
          this.GeoLOC[this.i].Distance !== undefined &&
          this.GeoLOC[this.i].GeoLocation !== null
        ) {
          if (
            this.GeoLOC[this.i].GeoLocation.lat > 0 &&
            this.GeoLOC[this.i].GeoLocation.lng > 0
          ) {
            this.ListToSort.push(this.GeoLOC[this.i]);
          } else {
            this.UnsortedList.push(this.GeoLOC[this.i]);
          }
        } else {
          this.UnsortedList.push(this.GeoLOC[this.i]);
        }
      }

      this.ListToSort.sort((a, b) => {
        return a.Distance - b.Distance;
      });

      for (this.i = 0; this.i < this.UnsortedList.length; this.i++) {
        this.ListToSort.push(this.UnsortedList[this.i]);
      }

      this.GeoLOC = this.ListToSort;
      //this.showmap(this.GeoLOC[0].GeoLocation.lat+','+this.GeoLOC[0].GeoLocation.lng,this.GeoLOC[0].CustName)
    },
    haversine_distanceNew(lat1, lon1, lat2, lon2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = lat1 * (Math.PI / 180); // Convert degrees to radians
      var rlat2 = lat2 * (Math.PI / 180); // Convert degrees to radians
      var difflat = rlat2 - rlat1; // Radian difference (latitudes)
      var difflon = (lon1 - lon2) * (Math.PI / 180); // Radian difference (longitudes)

      var d =
        2 *
        R *
        Math.asin(
          Math.sqrt(
            Math.sin(difflat / 2) * Math.sin(difflat / 2) +
              Math.cos(rlat1) *
                Math.cos(rlat2) *
                Math.sin(difflon / 2) *
                Math.sin(difflon / 2)
          )
        );

      return d;
    }
    /*************************************************** Distance Calculation ****************************************** */
  }
};
</script>
<style lang="css" scoped>
.v-slide-group {
  display: block !important;
}
.py-3 {
  margin-top: -4em;
}
.gmnoprint,
.gm-control-active gm-fullscreen-control {
  display: none !important;
}
</style>
