<template>
  <div style="padding:0px;margin-top:-10px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <v-sheet
      class="text-center"
      style="height: 100%;max-height:350px;overflow:scroll;    margin-top: 0em;"
    >
      <div class="aa" style="height:100%;">
        <v-container
          class="grey lighten-5"
          style="padding-bottom: 0px;padding-top: 0px; padding:0px;"
        >
          <v-row no-gutters>
            <v-col cols="12" style="padding-top: 7px;margin-bottom: -22px;">
              <v-autocomplete
                v-model="RouteName"
                :items="RouteOptions"
                dense
                rounded
                solo
                :label="$t(`menu.SelectRoute`)"
                v-if="IsRouteShow"
                @change="LoadCustomers($event)"
              ></v-autocomplete>
            </v-col>
          </v-row>
           <v-row no-gutters>
            <v-col v-if="IsRouteShow" cols="12" style="padding-top: 4px;margin-bottom: -22px;">
               <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="AsOnDate"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="AsOnDate"
            label="Date"
            readonly
            v-bind="attrs"
            v-on="on"
             solo
            rounded
            dense
            append-icon="event"
          ></v-text-field>
        </template>
        <v-date-picker v-model="AsOnDate" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="SetAsOnDate(AsOnDate)">OK</v-btn>
        </v-date-picker>
      </v-menu>
            </v-col>
          </v-row>
         <v-row no-gutters>
            <v-col cols="3" sm="3" style="padding-top:5px;" @click="tovisited">
              <v-card class="text-center" outlined tile>
                <v-icon>mdi-google-maps</v-icon>
                <h6 style="font-size: 11px;">{{ $t(`menu.Unvisited`) }}</h6>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="visited">
              <v-card class="text-center" outlined tile>
                <v-icon color="primary">mdi-map-marker-check</v-icon>
                <h5 style="font-size: 11px;color:rgb(0 150 199)">{{ $t(`menu.Visited`) }}</h5>
              </v-card>
            </v-col>
            <v-col cols="2" sm="2" style="padding-top:5px;" @click="nearby">
              <v-card class="text-center" outlined tile>
                <!-- <img src="/images/sheet/order.png" class="img-reponsive" style="    width: 80px"> -->
                <v-icon>mdi-map-marker-distance</v-icon>
                <h5 style="font-size: 11px;">{{ $t(`menu.Nearby`) }}</h5>
              </v-card>
            </v-col>

            <v-col cols="2" sm="2" style="padding-top:5px;" @click="skipped">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-map-marker-radius</v-icon>
                <h5 style="font-size: 11px;">
                  {{ $t(`menu.Skipped`) }}
                </h5>
              </v-card>
            </v-col>

            <v-col cols="3" sm="3" style="padding-top:5px;" @click="RouteTimeLine">
              <v-card class="text-center" outlined tile>
                <v-icon >mdi-clock</v-icon>
                <h5 style="font-size: 11px;">
                 Timeline
                </h5>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-sheet>
    <div v-if="GeoLOC.length>0">
      <gmap-map :center="center" :zoom="9" style="width: 100%; height: 300px;">
        <gmap-info-window
          :options="infoOptions"
          :position="infoWindowPos"
          @closeclick="infoWinOpen = false"
        >
        </gmap-info-window>

        <gmap-marker
          v-for="(m, i) in GeoLOC"
          :key="i"
          :position="m.GeoLocation"
          :clickable="true"
          @click="toggleInfoWindow(m, i)"
        ></gmap-marker>
      </gmap-map>
      <div
        class="container-fluid"
        style="overflow:scroll;overflow-x: hidden;max-height:350px;    padding-top: 1em;padding-left: 0px;padding-right: 0px;"
      >
        <b-row class="s">
          <b-col
            style="padding-top: 10px; cursor:pointer"
            v-for="(item, i) in GeoLOC"
            :key="i"
          >
            <div style="color: #000;padding:5px;">
              <!-- <b><v-icon>mdi-map</v-icon> &nbsp;{{item.customername}}</b>
            <span style="width:100%; text-align:right;"><v-icon style="color:red;">mdi-van-utility</v-icon> </span> -->
              <v-row no-gutters>
                <v-col
                  cols="1"
                  sm="1"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  <v-icon>mdi-map</v-icon>
                </v-col>
                <v-col
                  cols="8"
                  sm="8"
                  @click="
                    navigate(item.GeoLocation.lat + ',' + item.GeoLocation.lng)
                  "
                >
                  {{ item.CustName }}
                </v-col>

                <v-col cols="3" sm="3" style="text-align: right;">
                  <v-icon
                    @click="call(item.Phone,item.Mobile)"
                    style="color:#007bff;padding-left:10px;padding-right:10px;text-decoration: none !important;"
                    >mdi-phone</v-icon
                  >
                  <v-menu
                    bottom
                    origin="center center"
                    transition="scale-transition"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <i
                        class="fa fa-ellipsis-v"
                        aria-hidden="true"
                        style="padding-left:10px;padding-right:10px;"
                        v-bind="attrs"
                        v-on="on"
                      ></i>
                    </template>

                    <v-list>
                      <v-list-item>
                        <!-- <a :href="'tel:'+item.call"><v-icon style="color:#007bff;padding:5px;" >mdi-phone</v-icon></a> -->
                        <v-list-item-title
                          ><v-icon
                            style="color:#28a745;padding-left:10px;padding-right:10px;"
                            @click="whatsapp(item.Mobile,item.Phone)"
                            >mdi-whatsapp</v-icon
                          ></v-list-item-title
                        >
                        <v-icon
                          style="color:#dc3545;padding-left:10px;padding-right:10px;"
                          @click="EditCustomer(item.CustName)"
                          >mdi-account-circle</v-icon
                        >
                        <!-- <v-icon style="color:#343a40;padding-left:10px;padding-right:10px;"  @click="skip(item)">mdi-chevron-right-circle</v-icon> -->
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-col>
              </v-row>
            </div>
          </b-col>
        </b-row>
      </div>
    </div>
    <div v-if="GeoLOC.length===0">
      <v-card style="background:rgb(250 250 250) !important">
        <v-card-text>
          <v-row no-gutters>
            <v-col
              cols="12"
              style="color:rgb(0 99 145);text-align: center !important;font-size:17px;"
            >
              <label><b>No Customers </b></label>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:200px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
// import Vue from "vue";
// import axios from "axios";
import Distancemaps from "./maps.vue";

export default {
  components: {
    Distancemaps
  },
  data() {
    return {
       AsOnDate: new Date().toISOString().substr(0, 10),
    menu: false,
       RouteOptions: [],
      LinkedRoutes :[],
      Loaderdialog: false,
      IsRouteShow: false,
      RouteName: "",
      url: this.bURL,
      tab: null,
      center: {
        lat: "",
        lng: ""
      },
      Loaderdialog: false,
      snackbar: false,
      SnackbarMessege: "",
      timeout: 2000,
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,
      GeoLOC: [],
      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      marker: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          }
        }
      ],
      markers: [
        {
          position: {
            lat: 10.7867,
            lng: 76.6548
          },
          infoText: "<strong>Marker 1</strong>",
          customername: "Linkway",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.8001,
            lng: 76.639099
          },
          infoText: "<strong>Marker 2</strong>",
          customername: "Linkway Oman",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.76445,
            lng: 76.64268
          },
          infoText: "<strong>Marker 3</strong>",
          customername: "Dubai",
          call: "+919074071153",
          whatsapp: "+919074071153"
        },
        {
          position: {
            lat: 10.77004,
            lng: 76.632508
          },
          infoText: "<strong >Marker 4</strong>",
          customername: "Bestie",
          call: "+919074071153",
          whatsapp: "+919074071153"
        }
      ],
      userType: "",
      bURLPrint: "",
      bURL: "",
      currentlat: "",
      currentlong: "",
      distance: "",
      Settings : JSON.parse(localStorage.getItem('Settings'))
    };
  },
  mounted() {
    /*  this.GeoLOC = localStorage.getItem("CustomerVisited")
    if(this.GeoLOC !== null)
    {
      if(this.GeoLOC.length !== 0)
      {
        this.GeoLOC = JSON.parse(this.GeoLOC )
      }
    }
     */
    this.GeoLOC = [];
      if(this.Settings.IsRouteMandatory === 'True')
    {
     this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
    }
    else{
      this.LinkedRoutes = []
    }
    for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
    {
      this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
    }
    this.RouteLength = this.RouteOptions.length;
    if (this.RouteLength !== 1) {
      this.IsRouteShow = true;
    }
    this.ActiveRouteID = localStorage.getItem("ActiveRouteId");
    if (this.ActiveRouteID !== null) {
      this.IsRouteShow = false
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(parseInt(this.ActiveRouteID) === this.LinkedRoutes[this.i].RouteID)
          {
            this.RouteName = this.LinkedRoutes[this.i].RouteName
            break
          }
      }
       this.DayStartTime = localStorage.getItem("DayStartTime");
       if(this.DayStartTime === null)
       {
           this.SelectRouteAttendance(this.ActiveRouteID);
       }
       else{
          this.getTraveldetails(this.ActiveRouteID);
       }
    } else if (localStorage.getItem("RouteIdRouteMap") !== "" &&localStorage.getItem("RouteIdRouteMap") !== undefined) {
      this.ActiveRouteID = localStorage.getItem("RouteIdRouteMap");
       if (this.ActiveRouteID !== null) {
       for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(parseInt(this.ActiveRouteID)  === this.LinkedRoutes[this.i].RouteID)
          {
            this.RouteName = this.LinkedRoutes[this.i].RouteName
            break
          }
      }
      this.getTraveldetails(this.ActiveRouteID);
       }
    }

    this.bURL = localStorage.getItem("Burl");
    //  this.userType = localStorage.getItem("UserType");
    // this.checkUrl();
    // this.getTraveldetails();
    // this.getLocation()
    this.calcdistance(
      this.center.lat,
      this.center.lng,
      10.77004,
      76.632508,
      "k"
    );
  },
  created() {
    const success = position => {
      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;
      (this.currentlat = latitude),
        (this.currentlong = longitude),
        (this.center.lat = latitude),
        (this.center.lng = longitude);
      // Do something with the position
      // Do something with the position
    };

    const error = err => {
      console.log(error);
    };

    // This will open permission popup
    navigator.geolocation.getCurrentPosition(success, error);
  },
  computed: {

  },
  methods: {

   SetAsOnDate(date)
    {
      this.$refs.menu.save(date)
      this.LoadCustomers()
    },
    LoadCustomers() {
      if(this.RouteName === null || this.RouteName === undefined || this.RouteName === "")
      {
         return
      }
       for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
          if(this.RouteName === this.LinkedRoutes[this.i].RouteName)
          {
            this.ActiveRouteID = this.LinkedRoutes[this.i].RouteID
            break
          }
      }

        this.getTraveldetails(this.ActiveRouteID, this.AsOnDate);
    },
    getTraveldetails(ActiveRouteID) {
      this.GeoLOC = []
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";

         this.DayStartTime = localStorage.getItem("DayStartTime");
        if (this.DayStartTime !== null)
          this.AsOnDate = this.DayStartTime
      this.Loaderdialog = true;
      this.$server
        .get(
          this.bURL +
            "customer/LoadCustomersByVistitStatusByRoute?ActiveRouteID=" +
            ActiveRouteID +
            "&VisitStatus=Visited&VisitDate=" +
            this.AsOnDate
        )
        .then(
          response => {
            localStorage.setItem("RouteIdRouteMap", ActiveRouteID);
            localStorage.setItem(
              "CustomerVisited",
              JSON.stringify(response.data)
            );
            this.GeoLOC = response.data;
            this.Loaderdialog = false;
            // this.locationDetails = response.data
          },
          error => {
            this.GeoLOC = [];
            localStorage.setItem(
              "CustomerVisited",
              JSON.stringify(this.GeoLOC)
            );
          }
        );
    },
    SelectRouteAttendance(ActiveRouteID) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.Saleperson = localStorage.getItem("salePerson")
      this.$server.get(this.bURL +"user/SelectRouteAttendance?Salesperson=" +this.Saleperson).then(
          response => {
           localStorage.setItem('DayStartTime',this.FormatDate(response.data.TimeStart))
             this.getTraveldetails(ActiveRouteID)
          },
          error => {
            console.log(error);
          }
        );
    },
    nearby() {
      this.$router.push("/dashboard/map");
    },
    tovisited() {
      this.$router.push("/ui/maps/google-maps");
    },
    visited() {
      this.$router.push("/ui/maps/google-visited");
    },
    skipped() {
      this.$router.push("/ui/maps/google-skipped");
    },
   RouteTimeLine() {
      this.$router.push("/dashboard/RouteTimeLine");
    },

    getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(this.showPosition());
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    },
    showPosition(position) {
      this.currentlat = position.coords.latitude;
      this.currentlong = position.coords.longitude;
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = marker.infoText;
      console.log(marker.position.lat + " " + marker.position.lng);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },

    navigate(latlong) {
      //10.7867,76.6548

      // if(confirm("Do you want to naviagte"))
      // {
      window.open(
        "https://www.google.com/maps/search/" +
          latlong +
          "/@" +
          latlong +
          ",17z",
        "_blank"
      );
      // };
    },
     whatsapp(Mobile,Phone) {
      if(Mobile === "")
      {
        if(Phone === "")
        {
            this.SnackbarMessege = "No Contact number"
            this.snackbar = true
            return
        }
        else{
          window.open("https://api.whatsapp.com/send?phone=" + Phone, "_blank");
        }
      }
      else{
      window.open("https://api.whatsapp.com/send?phone=" + Mobile, "_blank");
      }
    },
    call(Phone,Mobile)
    {
      if(Phone === "")
      {
        if(Mobile === "")
        {
          this.SnackbarMessege = "No Contact number"
          this.snackbar = true
          return
        }
        else{
          window.open("tel:" + Mobile);
        }
      }
      else{
        window.open("tel:" + Phone);
      }

    },
    EditCustomer(customer)
    {
        localStorage.removeItem('BackToPage')
        localStorage.setItem('CustomerName',customer);
        this.$router.push('/dashboard/masters/customerProfile')
    },
    skip(item) {
      console.log(item);
    },
    calcdistance(lat1, lon1, lat2, lon2, unit) {
      if (lat1 == lat2 && lon1 == lon2) {
        return 0;
      } else {
        var radlat1 = (Math.PI * lat1) / 180;
        var radlat2 = (Math.PI * lat2) / 180;
        var theta = lon1 - lon2;
        var radtheta = (Math.PI * theta) / 180;
        var dist =
          Math.sin(radlat1) * Math.sin(radlat2) +
          Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
        if (dist > 1) {
          dist = 1;
        }
        dist = Math.acos(dist);
        dist = (dist * 180) / Math.PI;
        dist = dist * 60 * 1.1515;
        // dist = dist.toFixed(2);

        this.distance = dist * 0.001;

        var rounded = Math.round((this.distance + Number.EPSILON) * 100) / 100;
        this.distance = rounded;
      }
    },
    /*************************************************** Distance Calculation ****************************************** */
    CustomersDistanceCalculation() {
      navigator.geolocation.getCurrentPosition(
        position => {
          this.CurrentLatitude = position.coords.latitude;
          this.CurrentLongitude = position.coords.longitude;

          this.ExecuteDeistanceCalculation();
        },
        error => {
          console.log(error.message);
        }
      );
    },
    ExecuteDeistanceCalculation() {
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (this.GeoLOC[this.i].GeoLocation !== null) {
          if (this.GeoLOC[this.i].GeoLocation.lat > 0) {
            this.GeoLOC[this.i].Distance = this.haversine_distanceNew(
              this.GeoLOC[this.i].GeoLocation.lat,
              this.GeoLOC[this.i].GeoLocation.lng,
              this.CurrentLatitude,
              this.CurrentLongitude
            );
          }
        } else {
          this.GeoLOC[this.i].Distance = 0;
        }
      }

      this.ListToSort = [];
      this.UnsortedList = [];
      for (this.i = 0; this.i < this.GeoLOC.length; this.i++) {
        if (
          this.GeoLOC[this.i].Distance !== null &&
          this.GeoLOC[this.i].Distance !== undefined &&
          this.GeoLOC[this.i].GeoLocation !== null
        ) {
          if (
            this.GeoLOC[this.i].GeoLocation.lat > 0 &&
            this.GeoLOC[this.i].GeoLocation.lng > 0
          ) {
            this.ListToSort.push(this.GeoLOC[this.i]);
          } else {
            this.UnsortedList.push(this.GeoLOC[this.i]);
          }
        } else {
          this.UnsortedList.push(this.GeoLOC[this.i]);
        }
      }

      this.ListToSort.sort((a, b) => {
        return a.Distance - b.Distance;
      });

      for (this.i = 0; this.i < this.UnsortedList.length; this.i++) {
        this.ListToSort.push(this.UnsortedList[this.i]);
      }

      this.GeoLOC = this.ListToSort;
      //this.showmap(this.GeoLOC[0].GeoLocation.lat+','+this.GeoLOC[0].GeoLocation.lng,this.GeoLOC[0].CustName)
    },
    haversine_distanceNew(lat1, lon1, lat2, lon2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = lat1 * (Math.PI / 180); // Convert degrees to radians
      var rlat2 = lat2 * (Math.PI / 180); // Convert degrees to radians
      var difflat = rlat2 - rlat1; // Radian difference (latitudes)
      var difflon = (lon1 - lon2) * (Math.PI / 180); // Radian difference (longitudes)

      var d =
        2 *
        R *
        Math.asin(
          Math.sqrt(
            Math.sin(difflat / 2) * Math.sin(difflat / 2) +
              Math.cos(rlat1) *
                Math.cos(rlat2) *
                Math.sin(difflon / 2) *
                Math.sin(difflon / 2)
          )
        );

      return d;
    }
    /*************************************************** Distance Calculation ****************************************** */
  }
};
</script>
<style lang="css" scoped>
.v-slide-group {
  display: block !important;
}
.py-3 {
  margin-top: -4em;
}
.gmnoprint {
  display: none !important;
}
.gm-control-active {
  display: block !important;
}
</style>
