<template>
  <v-card class="d-flex flex-grow-1 primary darken-4" dark>

    <!-- loading spinner -->
    <div v-if="loading" class="d-flex flex-grow-1 align-center justify-center">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </div>
   <div>
      <div id="chart">
        <apexchart type="donut" :options="chartOptions" :series="series"></apexchart>
      </div>
   </div>
    <!-- information -->
    <div  class="d-flex flex-column flex-grow-1">
      <v-card-title>
        <div>{{ $t(label) }}</div>
        <v-spacer></v-spacer>
        <v-btn text color="primary" @click="$emit('action-clicked')">{{ actionLabel }}</v-btn>
         <div class="pa-2">
          <div class="text-h4">
            {{ 26358.49 | formatCurrency }}
          </div>
          <div class="primary--text text--lighten-1 mt-1">
            {{ 7123.21 | formatCurrency }} {{ $t('dashboard.lastweek') }}
          </div>
        </div>
      </v-card-title>




    </div>
  </v-card>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import moment from 'moment'
import VueApexCharts from 'vue-apexcharts'
import TrendPercent from '../common/TrendPercent'

function formatDate(date) {
  return date ? moment(date).format('D MMM') : ''
}

/*
|---------------------------------------------------------------------
| DEMO Dashboard Card Component
|---------------------------------------------------------------------
|
| Demo card component to be used to gather some ideas on how to build
| your own dashboard component
|
*/
export default {
  components: {
    TrendPercent
  },
  data() {
    return {
      userType:'',
       bURL:'',
       bURLPrint:'',
    }
  },
  props: {
    value: {
      type: Number,
      default: 0
    },
    percentage: {
      type: Number,
      default: 0
    },
    percentageLabel: {
      type: String,
      default: 'vs. last week'
    },
    series: {
      type: Array,
      default: () => [{
        name: 'Sales',
        data: [11, 32, 45, 32, 34, 52, 41]
      }]
    },
    xaxis: {
      type: Object,
      default: () => ({
        type: 'datetime',
        categories: [
          '2018-09-19',
          '2018-09-20',
          '2018-09-21',
          '2018-09-22',
          '2018-09-23',
          '2018-09-24',
          '2018-09-25'
        ]
      })
    },
    label: {
      type: String,
      default: 'dashboard.sales'
    },
    actionLabel: {
      type: String,
      default: 'View Report'
    },
    options: {
      type: Object,
      default: () => ({})
    },
    loading: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    chartOptions() {
      const primaryColor = this.$vuetify.theme.isDark
        ? this.$vuetify.theme.themes.dark.primary
        : this.$vuetify.theme.themes.light.primary

      return {
        chart: {
          height: 120,
          type: 'area',
          sparkline: {
            enabled: true
          },
          animations: {
            speed: 400
          }
        },
        colors: [primaryColor],
        fill: {
          type: 'solid',
          colors: [primaryColor],
          opacity: 0.15
        },
        stroke: {
          curve: 'smooth',
          width: 2
        },
        xaxis: this.xaxis,
        tooltip: {
          followCursor: true,
          theme: 'dark',
          custom: function({ ctx, series, seriesIndex, dataPointIndex, w }) {
            const seriesName = w.config.series[seriesIndex].name

            return `<div class="rounded-lg pa-1 caption">
              <div class="font-weight-bold">${formatDate(w.globals.labels[dataPointIndex])}</div>
              <div>${series[seriesIndex][dataPointIndex]} ${seriesName}</div>
            </div>`
          }
        },
        ...this.options
      }
    }
  },
   mounted(){
     this.userType = localStorage.getItem("UserType")
     this.getavailableForms()
     this.checkUrl();
   },
  methods:{
     checkUrl()
    {
        if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
    getavailableForms()
    {
      axios.get ( this.bURL + 'Common/GetAvailableForms/' + this.userType )
        .then((response)  =>  {
          console.log(response)
       console.log('availableForms4check '+response.data);
        }, (error)  =>  {
          console.log(error)
        })
    }

  },
}
</script>
