<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>

    </v-dialog>

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
       <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider style="margin-top:0px;margin-bottom:0px"></v-divider>
     <div class="container-fluid">
        <div class="row">

      <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >

                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.DateFrom" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.DateTo" type="date" class="form-control" >
                  </div>
                   <!--  <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select> -->
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchReceipt">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
 @click="GetCustomers"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
          </div>
      </div>
        </div>

 </div>


    </v-navigation-drawer>

    <v-card >
            <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:right;padding-left: 10px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"


                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >{{$t(`menu.CustomerRegister`)}} </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
                 <v-row no-gutters >
              
                  <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
          <v-text-field
              type="text"
          :placeholder="$t('dashboard.Searchhere')"
           v-model="Customersearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
               >

                <template v-slot:append-outer>

                              <v-icon
                                color="#006400"
                                style="font-size: 35px !important;padding-left:5px !important;    margin-left: -7px;
    padding-right: -4px;
    margin-right: 6px;margin-top:-3px"
                               @click="OpenCustomerProfile"
                                >mdi-plus-circle</v-icon
                              >
                            </template>
              </v-text-field>
               </v-col>

            </v-row>
       <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important; padding-left: 6px;padding-right:6px">
    <v-expansion-panel
          v-for="(item,i) in resultQuery"
      :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;" >
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{item.CustName}} <span v-if="item.Code">-</span> {{ item.Code }}</label>

      </v-col>

      <v-col
        cols="3"
        sm="3"
          class="location"  
      >

      <label style="font-weight:100;padding-left:12px"><v-icon style="font-size: 18px;
    padding-bottom: 3px;">mdi-wallet-outline </v-icon></label><label style="font-weight: 500 !important;">{{item.CurBal}}</label>
      </v-col>
      <v-col
        cols="9"
        sm="9"
       class="locationnew"
      >
       <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px" v-if="item.Location">mdi-map-marker </v-icon>
        <label style="font-weight:200">{{item.Location}}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
          <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{$t('menu.ContactPerson')}}</label>
      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{item.ContactPerson}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
        class="locationnew"
      >
          <label style="font-weight: 200">{{$t(`menu.Address`)}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
          <label style="font-weight: 550">{{item.Address}}</label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
  <label style="font-weight: 200">{{$t(`menu.Mobile`)}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
  <label style="font-weight: 550">{{item.Mobile}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
              <label style="font-weight: 200" v-if="IsEAIApp">{{$t(`menu.GSTIN`)}}</label>
      <label style="font-weight: 200" v-if="IsEAGApp">{{$t(`menu.TRN`)}}</label>
        <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{item.TaxRegNo}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        @click="GetLedgerStmnt(item.CustName)"
        class="location"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;text-align:center !important"><v-icon center style="padding-left: 17px;">fas fa-file-invoice</v-icon></v-btn>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "
        class="locationnew"
        @click="EditCustomer(item.CustName)"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left: 17px;">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>
    </v-card>
    </div>

    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      CustomerObject:localStorage.getItem('CustomerObject')?JSON.parse(localStorage.getItem('CustomerObject')):[],
      Customersearch:'',
      right: false,
      PurchaseReturns:[],
      vm : [],
      Branch:'',
      TotalCustomer:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
     isLoading:false,
    }
  },
  computed: {

     resultQuery() {
      this.CustomersNew = []
    if(this.Customersearch !== undefined)
    {
       this.CustomersNew = this.CustomerObject.filter(post => {
        return post.CustName.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.CustName.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase());
      })
      if(this.CustomersNew.length > 100)
      {
         this.CustomersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CustomersNewReturn.push(this.CustomersNew[this.i])

        }
        return this.CustomersNewReturn
      }
      else{
         return this.CustomersNew
      }
    }
    else{
      if(this.CustomerObject.length > 100)
      {
         this.CustomersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CustomersNewReturn.push(this.Customers[this.i])

        }
        return this.CustomersNewReturn
      }
      else{
         return this.CustomerObject
      }
    }
    },

  },
  mounted() {
    this.vm.DateTo = new Date().toISOString().substr(0, 10)
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','CustomerRegister')
   localStorage.setItem('ActivePage','CustomerRegister')
   localStorage.setItem('ActiveRoute','/dashboard/registers/customerRegister')
   localStorage.removeItem('VoucherUpdated')
   this.GetCustomers()
      this.vm.CustomerStatus ='Active Customers'
      this.vm.Recursive = false
    this.BasicSettings()

    if (this.CustomerObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetCustomers()
    {
        this.CustomerObject = []
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = -1
      this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.ActiveRouteID = -1
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.ActiveRouteID = this.RouteIds.join('~')
         this.ActiveRouteID = this.ActiveRouteID?this.ActiveRouteID:0
        }
      }
      this.DateFrom = this.vm.DateFrom ? this.vm.DateFrom : '1899-01-01T00:00:00'
      this.isLoading = true
      this.DateTo = this.vm.DateTo 
        axios.get(this.bURL + 'Customer/LoadLinkedCustomersDetailed?RouteID='+this.ActiveRouteID +"&DateFrom=" + this.DateFrom + "&DateTo=" +this.DateTo)
          .then((response)  =>  {
            this.right = false
            this.isLoading = false
            this.CustomerObject = response.data
             this.Loaderdialog = false
             localStorage.setItem('CustomerObject', JSON.stringify(response.data))
          }, (error)  =>  {
            console.log(error)
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalCustomer(CustomerObject)
    {
      this.TotalAmount = 0
      this.TotalCustomer = CustomerObject.length
      for (this.i = 0; this.i < CustomerObject.length; this.i++)
      {
        this.TotalAmount += CustomerObject[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },



    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditCustomer(custName)
    {
         localStorage.removeItem('BackToPage')
         localStorage.setItem('CustomerName',custName);
          this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/customerProfile')
         this.$router.push('/dashboard/masters/customerProfile')
    },
    OpenCustomerProfile()
    {
        localStorage.removeItem('BackToPage')
        localStorage.removeItem('CustomerName')
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/customerProfile')
        this.$router.push('/dashboard/masters/customerProfile')

    },
    GetLedgerStmnt(custName)
    {
       localStorage.removeItem('LedgerRegHolding')
        localStorage.removeItem('LedgerVoucherType');
        localStorage.removeItem('LedgerbCode');
        localStorage.removeItem('LedgerDateFrom');
        localStorage.removeItem('LedgerDateTo');
      localStorage.setItem('LedgerStmntName',custName);
         this.$router.push('/dashboard/registers/LedgerStatement')
    }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
