<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

       <!-- <div v-if="!NoContent" >
        <v-card
class="footer"

  >
    <v-bottom-navigation
 height="42"
style="    background-color: rgb(255 255 255)"
    >
    <v-row>
     <v-col
        cols="6"
        sm="6"
        style="text-align:right;padding-top: 10px;"
      >
       <v-btn  style="background-color: rgb(255, 255, 255);">
         <span style="font-size: 15px;color:rgb(0 53 94)">{{ $t(`ecommerce.Amount`) }}:{{ TotalAmount }}</span>

      </v-btn>
     </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="text-align:right;padding-top: 10px;"
      >
      <div>
      <v-btn style="background-color: rgb(255, 255, 255);">
        <span style="color:rgb(0 53 94);font-size: 15px;">
          {{ $t(`menu.Vouchers`) }}: {{ TotalVouchers }}</span>
      </v-btn>
      </div>
     </v-col>
    </v-row>
    </v-bottom-navigation>
  </v-card>
      </div> -->
         <!-- <div v-if="!NoContent">
     <v-btn
      ref="button"
      class="drawer-button1"
      color="rgb(0 53 94);"
      fixed
      left
      hide-overlay
      temporary
      width="310"
      id="d"

    >

    {{ $t(`ecommerce.Amount`) }} : {{TotalAmount }},
    <br>
    <v-spacer></v-spacer>
     {{ $t(`menu.Vouchers`) }} : {{ TotalVouchers }}

    </v-btn>
    </div> -->
    

    <v-btn
      ref="button"
      class="drawer-button"
     color="rgb(0 99 145)"
      dark
      @click="right = true"
      style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`menu.ByDate`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
<div style="max-height:60vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">
             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
                 <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -26px !important;" >
                     <label for="selectdatatype"> {{ $t(`menu.VoucherType`) }}</label>
                            <v-autocomplete
          v-model="selectedVoucherType"
          :items="VoucherTypeOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllVoucherType"
        >
          <v-list-item-action>
            <v-icon :color="selectedVoucherType.length > 0 ? 'indigo darken-4' : ''">{{ iconAllVoucherType }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllVoucherType">
            <v-list-item-title> {{ $t(`menu.SelectedallVoucherType`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.VoucherTypeCount`) }} :{{ selectedVoucherType.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeVoucherType">
            <v-list-item-title>{{ $t(`menu.VoucherTypeCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedVoucherType.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:5px !important;padding-top: 10px !important">
                       <label for="selectdatatype"  >{{ $t(`dashboard.From`) }} :</label>
                       <br>
                   <input v-model="vm.FromDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
                       <label for="selectdatatype"   >{{ $t(`dashboard.To`) }}:</label>
                       <br>
                     <input v-model="vm.ToDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 12px !important">
                       <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                   </v-col>
                  </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;text-align:right">
                        <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
             @click="SearchVoucher"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                   </v-col>
                  </v-row>


          </div>
           <div id="ByVoucherNo" class="tab-pane ">
              <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
               <v-select
            v-model="vm.VoucherType"
          :items="VoucherTypeOptions1"
            :label="$t(`menu.VoucherType`)"
        ></v-select>
          </v-col>
              </v-row>
          <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top:3px !important">
                <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="vm.VoucherNo"></v-text-field>
                   </v-col>
          </v-row>
            <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                        <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
           @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->

     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " >{{ $t(`menu.DayBook`) }} </h4>
            </v-col>
          </v-row>
      </div> -->
        <v-card>
        <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >{{ $t(`menu.DayBook`) }}</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
    
         <div  class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right: 8px;
    padding-left: 8px;">
      <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:rgb(255, 167, 38);font-size: 14px;text-align:right;font-weight: 550">
       {{ vm.FromDate }} To {{ vm.ToDate }}</span>

        </v-col>
        
      </v-row>
    
           <v-row no-gutters v-if="!NoContent" >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
       {{ $t(`menu.Vouchers`) }}: <b>{{ TotalVouchers }}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;">{{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>
      </div>
          <div  v-if="NoContent" style="padding-bottom:10px;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
      <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
      v-for="(item,i) in  Vouchers"
       :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header  style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;" >
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
       style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{ item.Particulars }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
          class="location"
      >

   <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-briefcase </v-icon>
        <label style="font-weight:200">{{ item.VoucherType }}</label>
      </v-col>
      <!-- <v-col
        cols="6"
        sm="6"
          class="location"
      >

      <label>{{ item.Voucher }}</label>
      </v-col> -->
      <v-col
        cols="6"
        sm="6"
       class="location"
      >
        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-source-branch </v-icon>
        <label style="font-weight:200">{{ item.BranchCode }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
          class="locationnew"

      >

        <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
        <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.NetTotal) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>

       <v-col
        cols="10"
        sm="10"
           style="padding-top: 11px !important;"
          class="location"
      >
         <label style="font-weight: 200">{{ $t(`common.description`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 500">{{ item.Description }}</label>
      </v-col>
      <v-col
        cols="2"
        sm="2"
          style="padding-top: 11px !important;"
          class="locationnew"
      >
        <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditVoucher(i)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
      </div>
        </v-card>


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
     globalpassword
  },
  data() {
    return {
       GlobalPasswordModal:false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
      row: 'radio-1',
      scroll: null,
      VoucherTypeOptions :["Purchase (C)","Purchase (D)","Purchase (B)","Purchase Return","Sales (C)","Sales (D)","Sales (B)","Sales Return","Order","Payment","Receipt","Contra","Delivery Note","Debit Note","Credit Note","Stock Transfer","Goods Receipt","Purchase Order","Quotation","Journal","Production","Physical Stock","Stock Tranfer","Consignment Note","Consignment Manifest","Stock Transfer In","Stock Tranfer Out"],
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      VoucherTypeOptions1 :["Purchase ","Purchase Return","Sales","Sales Return","Order","Payment","Receipt","Contra","Delivery Note","Debit Note","Credit Note","Stock Transfer","Goods Receipt","Purchase Order","Quotation","Journal","Production","Physical Stock","Stock Tranfer","Consignment Note","Consignment Manifest","Stock Transfer In","Stock Tranfer Out"],
      right: true,
      Vouchers:[],
      vm : [],
      Branch:'',
      TotalVouchers:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedVoucherType:[],
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',
      Editid : 0,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
      NoContent:true,
      isLoading : false,
    }
  },
  computed: {
    likesAllVoucherType () {
      return this.selectedVoucherType.length === this.VoucherTypeOptions.length
    },
    likesSomeVoucherType () {
      return this.selectedVoucherType.length > 0 && !this.likesAllVoucherType
    },


    iconAllVoucherType () {
      if (this.likesAllVoucherType) return 'mdi-close-box'
      if (this.likesSomeVoucherType) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    localStorage.setItem('PreviousPage','DayBook')
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
    localStorage.setItem('PreviousPage','DayBook')
    localStorage.setItem('ActivePage','DayBook')
    localStorage.setItem('ActiveRoute','/dashboard/dayBook')
   localStorage.removeItem('VoucherUpdated')
    this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Vouchers.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }

    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('DayBookHolding')
    if(this.isHold === 'true')
    {
        this.GetVouchers()
    }
    else{
      this.SearchVoucher()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },
    toggleAllVoucherType () {
      this.$nextTick(() => {
        if (this.likesAllVoucherType) {
          this.selectedVoucherType = []
        } else {
          this.selectedVoucherType = this.VoucherTypeOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalVouchers(Vouchers)
    {
      this.TotalAmount = 0
      this.TotalVouchers = Vouchers.length
      for (this.i = 0; this.i < Vouchers.length; this.i++)
      {
        this.TotalAmount += Vouchers[this.i].NetTotal
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchVoucher()
    {
     this.VoucherType = this.selectedVoucherType
     if (this.selectedVoucherType.length === this.VoucherTypeOptions.length)
      {
        this.VoucherType = 'All'
      }
      else {
        if (this.selectedVoucherType.length === 0)
        {
          this.VoucherType = 'All'
        }
        else
        {
          this.VoucherType = this.GetsWithComma(this.VoucherType)
        }
      }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
      this.isLoading = true,
      axios.get ( this.bURL + 'DayBook/GetDayBook?DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch+'&VocherType='+this.VoucherType)
        .then((response)  =>  {
         this.isLoading = false,
          this.Vouchers = response.data
          if (this.Vouchers.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalVouchers(this.Vouchers)
          this.SetValuesToLS(this.VoucherType,this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditVoucher(Editid)
    {
      this.SwitchToLocation(this.Vouchers[Editid].VoucherType,this.Vouchers[Editid].VoucherNo)
    },
    SetValuesToLS(VoucherType,bCode,fromDate,toDate)
    {
        localStorage.setItem('DayBookHolding',true)
        localStorage.setItem('DayBookvoucherType',VoucherType);
        localStorage.setItem('DayBookbCode',bCode);
        localStorage.setItem('DayBookfromDate',fromDate);
        localStorage.setItem('DayBooktoDate',toDate);
    },
    GetVouchers()
    {
      this.VoucherType = localStorage.getItem('DayBookvoucherType')
      this.vm.FromDate = localStorage.getItem('DayBookbCode')
      this.vm.ToDate = localStorage.getItem('DayBookfromDate')
      this.Branch = localStorage.getItem('DayBooktoDate')
      axios.get ( this.bURL + 'Voucher/GetVouchersummary/'+ this.VoucherType+',' + this.vm.FromDate + ','+this.vm.ToDate + ',All' + ',' + this.Branch)
        .then((response)  =>  {
          this.Vouchers = response.data
          if (this.Vouchers.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalVouchers(this.Vouchers)
          this.SetValuesToLS(this.VoucherType,this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
    this.UrlToLoad = ""
    switch (this.vm.VoucherType) {
                case "Order":
                this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Order&ReferNo="+this.vm.VoucherNo;
                  break;
                case "Receipt":
                this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Receipt&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Payment":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Payment&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Quotation":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Quotation&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Delivery Note":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Delivery Note&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Purchase":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Purchase&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Purchase Return":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Purchase Return&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Goods Receipt":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Goods Receipt&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Contra":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Contra&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Sales":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Sales&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Sales Return":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Sales Return&ReferNo="+this.vm.VoucherNo;
                  break;
                  case "Journal":
                  this.UrlToLoad="common/GetVoucherNoBy?VoucherType=Journal&ReferNo="+this.vm.VoucherNo;
                  break;
    }
    this.isLoading = true,
    axios.get ( this.bURL + this.UrlToLoad,
        {
                      headers: this.headers
        })
        .then((response)  =>  {s
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
            this.isLoading =false
          }
          else {
            this.Error = false
            this.SwitchToLocation(this.vm.VoucherType,response.data)
          }
        },
         (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
          this.isLoading =false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
        this.isLoading =false
  },
  SwitchToLocation(VoucherType,VoucherNo)
  {
    this.TempType = VoucherType.split(" (")

      if(this.TempType[0] === "Purchase")
        {
            VoucherType="Purchase";
        }
        if(this.TempType[0] ==="Sales")
        {
            VoucherType="Sales";
        }
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
    switch (VoucherType) {

                case "Order":
                  localStorage.removeItem('IsHoldingOrder')
                  localStorage.removeItem('OrderObject')
                  localStorage.setItem('OrderId',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/order_form')
                  this.$router.push('/dashboard/order_form')
                  break;
                case "Order Form":
                  localStorage.removeItem('IsHoldingOrder')
                  localStorage.removeItem('OrderObject')
                  localStorage.setItem('OrderId',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/order_form')
                  this.$router.push('/dashboard/order_form')
                  break;
                case "Receipt":
                  localStorage.removeItem('IsHoldingReceipt')
                  localStorage.removeItem('ReceiptObject')
                  localStorage.setItem('ReceiptNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/reciept')
                  this.$router.push('/dashboard/Vouchers/reciept')
                  break;
                case "Payment":
                   localStorage.removeItem('IsHoldingPayment')
                  localStorage.removeItem('PaymentObject')
                  localStorage.setItem('PaymentNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/payment')
                  this.$router.push('/dashboard/Vouchers/payment')
                  break;
                case "Quotation":
                  localStorage.removeItem('IsHoldingQuotation')
                  localStorage.removeItem('QuotationObject')
                  localStorage.setItem('QuotationNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/quotation')
                 this.$router.push('/dashboard/Vouchers/quotation')
                  break;
                case "Delivery Note":
                  localStorage.removeItem('IsHoldingQuotation')
                  localStorage.removeItem('QuotationObject')
                  localStorage.setItem('DeliveryNoteNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/deliveryNote')
                  this.$router.push('/dashboard/Vouchers/deliveryNote')
                  break;
                case "Purchase":
                  localStorage.removeItem('IsHoldingPurchase')
                  localStorage.removeItem('PurchaseObject')
                  localStorage.setItem('PurchaseNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/purchase')
                 this.$router.push('/dashboard/Vouchers/purchase')
                  break;
                case "Goods Receipt":
                   localStorage.removeItem('IsHoldingGoodsReceipt')
                  localStorage.removeItem('GoodsReceiptObject')
                  localStorage.setItem('GoodsReceiptNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/goodsReceipt')
                 this.$router.push('/dashboard/Vouchers/goodsReceipt')
                  break;
                case "Contra":
                    localStorage.removeItem('IsHoldingContra')
                  localStorage.removeItem('ContraObject')
                  localStorage.setItem('ContraNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/contra')
                  this.$router.push('/dashboard/Vouchers/contra')
                  break;
                  case "Sales":
                    localStorage.removeItem('SaleNo')
                    localStorage.removeItem('QuotationNo')
                    localStorage.removeItem('IsHoldingSale')
                    localStorage.removeItem('SalesObject')
                    localStorage.removeItem('SalesCustomerName')
                    localStorage.removeItem('IsUpdateCustomerVisit')
                    localStorage.removeItem('SalesDetailsFromPhysicalStock')
                    localStorage.removeItem('SoldItems')
                    localStorage.removeItem('OrderDeliveryQuantities')
                    localStorage.removeItem('OldOrderDeliveryQuantities')
                    localStorage.removeItem('DeliveredItems')
                    localStorage.removeItem('ReturnItems')
                    localStorage.removeItem('DamagedItems')
                    localStorage.removeItem('SoldLedgers')
                    localStorage.setItem('SaleNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
                    this.$router.push('/dashboard/Vouchers/sales')
                    break;
                  case "Journal":
                    localStorage.removeItem('IsHoldingSale')
                    localStorage.removeItem('SaleObject')
                    localStorage.setItem('JournalNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/journal')
                    this.$router.push('/dashboard/Vouchers/journal')
                  break;
                    case "Sales Return":
                    localStorage.removeItem('IsHoldingSalesReturn')
                    localStorage.removeItem('SalesReturnObject')
                    localStorage.setItem('SalesReturnNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/salesReturn')
                    this.$router.push('/dashboard/Vouchers/salesReturn')
                    break;
                  case "Debit Note":
                    localStorage.removeItem('IsHoldingDebitNoteReturn')
                    localStorage.removeItem('DebitNoteObject')
                    localStorage.setItem('DebitNoteNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/DebitNote')
                    this.$router.push('/dashboard/Vouchers/DebitNote')
                    break;
                  case "Credit Note":
                    localStorage.removeItem('IsHoldingCreditNoteReturn')
                    localStorage.removeItem('CreditNoteObject')
                    localStorage.setItem('CreditNoteNo',VoucherNo);
                     localStorage.setItem('ActiveRoute','/dashboard/Vouchers/CreditNote')
                    this.$router.push('/dashboard/Vouchers/CreditNote')
                    break;
                  case "Stock Transfer":
                      localStorage.removeItem('IsHoldingStockTransfer')
                      localStorage.removeItem('StockTransferObject')
                      localStorage.removeItem('StockTransferDetails')
                       localStorage.setItem('StockTransferNo',VoucherNo);
                       localStorage.setItem('ActiveRoute','/dashboard/vouchers/stockTransfer')
                      this.$router.push('/dashboard/vouchers/stockTransfer')
                    break;

            }

  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }

}
</script>
<style >
#headerheight .v-sheet.v-toolbar:not(.v-sheet--outlined){
      height: 38px !important;

}

</style>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
