<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->

       <!-- <div v-if="!NoContent" >
        <v-card
class="footer"
  >
    <v-bottom-navigation
 height="42"

    >
    <v-row>

     <v-col
        cols="12"
        sm="12"
        class="print"
        style="text-align:center;padding-top: 10px;"
      >
      <div>
      <v-btn >
        <span style="color:rgb(0 53 94);font-size: 15px;">
               {{ $t(`menu.DeliveryNotes`) }}: {{ TotalDeliveryNotes }}</span>
      </v-btn>
      </div>
     </v-col>
    </v-row>
    </v-bottom-navigation>
  </v-card>
      </div> -->
         <!-- <div v-if="!NoContent">
     <v-btn
      ref="button"
      class="drawer-button1"
      color="rgb(0 53 94);"
      fixed
      left
      hide-overlay
      temporary
      width="310"
      id="d"

    >

    <br>
    <v-spacer></v-spacer>
           {{ $t(`menu.DeliveryNotes`) }}: {{ TotalDeliveryNotes }}

    </v-btn>
    </div> -->
     

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div class="container-fluid">
        <div class="row cardhead">
          <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;width:100%;border-radius: 0px;">
            <div class="card-body" style="padding: 1.27rem;">
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent">
                <div class="custom-control custom-radio custom-control-inline" @click="ShowPending">
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked" >
                  <label class="custom-control-label" for="customRadioInline1" > {{ $t(`menu.PendingDeliveries`) }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" @click="ShowAll">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadioInline2">{{ $t(`menu.AllDeliveries`) }}</label>
                </div>
              </div>
            </div>
          </div>

           <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#datefilter"  >{{ $t(`dashboard.Date`) }}</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#customerfilter">{{ $t(`menu.Customer`) }}</a>
              </li>
              <li id="salesmanTab" class="nav-item" v-if="IsSalesmanShow">
                <a class="nav-link" data-toggle="tab" href="#salespersonfilter">{{ $t(`menu.DeliveredBy`) }}</a>
              </li>
            </ul>
          </div>

          <!-- <div class=".col-4 col-sm-6">.col-sm-3</div> -->
        </div>
        <!-- Tab panes start -->
        <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="datefilter" class="tab-pane active">
            <div v-if="AllDateTab" id="allorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >

                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDateAll" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAll" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllByDate">View</button> -->
                         <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchAllByDate"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
         {{ $t(`menu.View`) }}
                         </v-btn>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingDateTab" id="pedingorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                <div @click="HideFromDate">
                    <label for="ignore">
                      <input id="ignore" type="checkbox" name="ignore" value="ignore" >
                      {{ $t(`menu.IgnoreFromDate`) }}
                    </label>
                  </div>
                  <div v-if="IsFromDateAll" class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDatePending" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDatePending" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="button" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingByDate">View</button> -->
                         <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
  @click="SearchPendingByDate"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="customerfilter" class="tab-pane ">
            <div v-if="AllCustomerTab" id="customerallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                       <label for="selectdatatype">{{ $t(`menu.Customer`) }}</label>

                       <v-autocomplete
          v-model="selectedAllCustomer"
          :items="AllCustomerOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllCustomer"
        >
          <v-list-item-action>
            <v-icon :color="selectedAllCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCustomer }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAllCustomer">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.CustomerCount`) }} :{{ selectedAllCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAllCustomer">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAllCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>


                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDateAllCustomer" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAllCustomer" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllcustomer" style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllByCustomer">View</button> -->
                       <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
        @click="SearchAllByCustomer"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingCustomerTab" id="pedingorder_customer">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                        <label for="selectdatatype">{{ $t(`menu.Customer`) }}</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedPendingCustomer"
          :items="PendingCustomerOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom:-26px"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePendingCustomer"
        >
          <v-list-item-action>
            <v-icon :color="selectedPendingCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconPendingCustomer }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPendingCustomer">
             <v-list-item-title>{{ $t(`menu.SelectedallCustomer`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.CustomerCount`) }} :{{ selectedPendingCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePendingCustomer">
          <v-list-item-title>{{ $t(`menu.CustomerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPendingCustomer.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDatePending" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDatePending" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingByCustomer">View</button> -->
                       <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchPendingByCustomer"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="salespersonfilter" class="tab-pane " v-if="IsSalesmanShow">
            <div v-if="AllSalespersonTab" id="salespersonallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                     <label for="selectdatatype">  {{ $t(`menu.DeliveredBy`) }}</label>

                       <v-autocomplete
          v-model="selectedAllSalesperson"
          :items="AllSalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedAllSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconAllSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
         <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedAllSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAllSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAllSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>


                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDateAllSalesperson" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAllSalesperson" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllcustomer" style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllBySalesperson">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchAllBySalesperson"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingSalespersonTab" id="pedingorder_salesperson">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                    <label for="selectdatatype">{{ $t(`menu.DeliveredBy`) }}</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedPendingSalesperson"
          :items="PendingSalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom:-26px"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePendingSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedPendingSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconPendingSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPendingSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
              <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedPendingSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePendingSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPendingSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                    <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDatePending" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDatePending" type="date" class="form-control" >
                  </div>
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingBySalesperson">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchPendingBySalesperson"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </v-navigation-drawer>

     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " >{{ $t(`menu.DeliveryNoteRegister`) }}</h4>
            </v-col>
          </v-row>
      </div> -->
       <v-card>
     
        <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      > {{ $t(`menu.DeliveryNoteRegister`) }}</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
               <div  v-if="NoContent" style="padding-bottom:10px !important;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
      
        <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right:8px;padding-left:8px">
           <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
        {{ $t(`menu.DeliveryNotes`) }}: <b>{{ TotalDeliveryNotes }}</b></span>

        </v-col>
      
      </v-row>
      </div>

        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
       v-for="(item,i) in DeliveryNotes"
       :key="i"
              style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
         style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{ item.CustomerName }}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
         class="location"
      >

      <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
      >
      <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{ FormatDate(item.VoucherDate) }} </label>
      </v-col>

    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
      <label style="font-weight: 200">{{ $t(`menu.DeliveryNoteNo`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.VoucherNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
         class="locationnew"
      >
     
      <label style="font-weight: 200">{{ $t(`menu.BranchCode`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.BranchCode }}</label>
      </v-col>
       <v-col
        cols="10"
        sm="10"
         style="padding-top: 4px;"
         class="location"
      >
   <label style="font-weight: 200">{{ $t(`menu.Salespersons`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.DeliveredBy }}</label>
      </v-col>
      <v-col
        cols="2"
        sm="2"
      style="padding-top: 4px;"
         class="locationnew"
      >
       <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditDeliveryNote(item.VoucherNo)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
   
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
       </v-card>

  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import PendingDeliveryCustomers from '../../pages/ApiServices/PendingDeliveryCustomers'
import de from '../../translations/de'
export default {
  components: {
    PendingDeliveryCustomers
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      PendingDateTab:false,
      PendingCustomerTab:false,
      PendingSalespersonTab:false,
      AllDateTab:false,
      AllCustomerTab:false,
      AllSalespersonTab:false,
      AllCustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      PendingCustomerOptions : localStorage.getItem('DeliveryPendingCustomers') ? JSON.parse(localStorage.getItem('DeliveryPendingCustomers')) : [],
      AllSalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      PendingSalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      right: true,
      DeliveryNotes:[],
      IsFromDateAll:true,
      Branch:'',
      LinkedSalesMan:'',
      vm:{},
      TotalDeliveryNotes:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedAllCustomer:[],
      selectedPendingCustomer:[],
      selectedAllSalesperson:[],
      selectedPendingSalesperson: [],
      NoContent:true,
      IsSalesmanShow:false,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      showhide:true,
    }
  },
  computed: {
    likesAllAllCustomer () {
      return this.selectedAllCustomer.length === this.AllCustomerOptions.length
    },
    likesSomeAllCustomer () {
      return this.selectedAllCustomer.length > 0 && !this.likesAllAllCustomer
    },

    likesAllPendingCustomer () {
      return this.selectedPendingCustomer.length === this.PendingCustomerOptions.length
    },
    likesSomePendingCustomer () {
      return this.selectedPendingCustomer.length > 0 && !this.likesAllPendingCustomer
    },

    likesAllAllSalesperson () {
      return this.selectedAllSalesperson.length === this.AllSalespersonOptions.length
    },
    likesSomeAllSalesperson () {
      return this.selectedAllSalesperson.length > 0 && !this.likesAllAllSalesperson
    },

    likesAllPendingSalesperson () {
      return this.selectedPendingSalesperson.length === this.PendingSalespersonOptions.length
    },
    likesSomePendingSalesperson () {
      return this.selectedPendingSalesperson.length > 0 && !this.likesAllPendingSalesperson
    },

    iconAllCustomer () {
      if (this.likesAllAllCustomer) return 'mdi-close-box'
      if (this.likesSomeAllCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingCustomer () {
      if (this.likesAllPendingCustomer) return 'mdi-close-box'
      if (this.likesSomePendingCustomer) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconAllSalesperson () {
      if (this.likesAllAllSalesperson) return 'mdi-close-box'
      if (this.likesSomeAllSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingSalesperson () {
      if (this.likesAllPendingSalesperson) return 'mdi-close-box'
      if (this.likesSomePendingSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }
  },
  mounted() {

    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    this.ShowPending()
    localStorage.setItem('PreviousPage','DeliveryRegister')
    localStorage.setItem('ActivePage','DeliveryRegister')
   localStorage.removeItem('VoucherUpdated')
 this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
    if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'All'
       }
    this.value = new Date()
    this.vm.FromDateAll = this.GetTodaysDate(this.value)
    this.vm.ToDateAll = this.GetTodaysDate(this.value)
    this.vm.FromDatePending = this.GetTodaysDate(this.value)
    this.vm.ToDatePending = this.GetTodaysDate(this.value)
    this.vm.FromDateAllCustomer = this.GetTodaysDate(this.value)
    this.vm.ToDateAllCustomer = this.GetTodaysDate(this.value)
    this.vm.FromDateAllSalesperson = this.GetTodaysDate(this.value)
    this.vm.ToDateAllSalesperson = this.GetTodaysDate(this.value)
    if (this.DeliveryNotes.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    
}
this.SearchPendingByDate()
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
      this.SalespersonLength = this.AllSalespersonOptions.length
      if (this.SalespersonLength > 1)
        this.IsSalesmanShow = true

    },
    toggleAllCustomer () {
      this.$nextTick(() => {
        if (this.likesAllAllCustomer) {
          this.selectedAllCustomer = []
        } else {
          this.selectedAllCustomer = this.AllCustomerOptions.slice()
        }
      })
    },

    togglePendingCustomer () {
      this.$nextTick(() => {
        if (this.likesAllPendingCustomer) {
          this.selectedPendingCustomer = []
        } else {
          this.selectedPendingCustomer = this.PendingCustomerOptions.slice()
        }
      })
    },

    toggleAllSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllAllSalesperson) {
          this.selectedAllSalesperson = []
        } else {
          this.selectedAllSalesperson = this.AllSalespersonOptions.slice()
        }
      })
    },

    togglePendingSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllPendingSalesperson) {
          this.selectedPendingSalesperson = []
        } else {
          this.selectedPendingSalesperson = this.PendingSalespersonOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    ShowPending()
    {
      this.PendingDateTab = true
      this.PendingSalespersonTab = true
      this.PendingCustomerTab = true

      this.AllDateTab = false
      this.AllCustomerTab = false
      this.AllSalespersonTab = false
    },
    ShowAll()
    {
      this.AllDateTab = true
      this.AllCustomerTab = true
      this.AllSalespersonTab = true

      this.PendingDateTab = false
      this.PendingSalespersonTab = false
      this.PendingCustomerTab = false
    },
    HideFromDate()
    {
      this.isIgnore = document.getElementById('ignore').checked
      if (this.isIgnore === true)
      {
        this.IsFromDateAll = false
      }
      else
      {
        this.IsFromDateAll = true
      }
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalDeliveryNotes(DeliveryNotes)
    {
      this.TotalAmount = 0
      this.TotalDeliveryNotes = DeliveryNotes.length
      for (this.i = 0; this.i < DeliveryNotes.length; this.i++)
      {
        this.TotalAmount += DeliveryNotes[this.i].NetTotal
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchAllByDate()
    {
      this.LinkedSalesMan = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedSalesMan = JSON.parse(this.LinkedSalesMan)
      this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
       this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetAllDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDateAll +'&DateTo='+this.vm.ToDateAll+'&Customers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchAllByCustomer()
    {
      this.LinkedSalesMan = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedSalesMan = JSON.parse(this.LinkedSalesMan)
      this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
      this.Customer = this.selectedAllCustomer
      if (this.selectedAllCustomer.length === this.AllCustomerOptions.length)
      {
        this.Customer = 'All'
      }
      else {
        if (this.selectedAllCustomer.length === 0)
        {
          this.Customer = 'All'
        }
        else
        {
          this.Customer  = this.GetsWithComma(this.Customer)
        }
      }
      this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetAllDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDateAllCustomer +'&DateTo='+this.vm.ToDateAllCustomer+'&Customers='+this.Customer+'&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchAllBySalesperson()
    {
      this.LinkedSalesMan = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedSalesMan = JSON.parse(this.LinkedSalesMan)
      this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)

      this.LinkedSalesMan = this.selectedAllSalesperson
      if (this.selectedAllSalesperson.length === this.AllSalespersonOptions.length)
      {
        this.LinkedSalesMan = this.GetsWithComma(this.AllSalespersonOptions)
      }
      else {
        if (selectedAllSalesperson.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.AllSalespersonOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }
      }
      this.Customer = 'All'
       this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetAllDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDateAllSalesperson +'&DateTo='+this.vm.ToDateAllSalesperson+'&Customers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingByDate()
    {
      this.LinkedSalesMan = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedSalesMan = JSON.parse(this.LinkedSalesMan)
      this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
       if (this.isIgnore === true)
      {
        this.vm.FromDatePending = '1899.1.1'
      }
       this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetPendingDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDatePending+'&DateTo='+this.vm.ToDatePending+'&Customers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingByCustomer()
    {
      this.LinkedSalesMan = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedSalesMan = JSON.parse(this.LinkedSalesMan)
      this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)

      this.Customer = this.selectedPendingCustomer
      if (this.selectedPendingCustomer.length === this.PendingCustomerOptions.length)
      {
        this.Customer = 'All'
      }
      else {
        if (selectedPendingCustomer.length === 0)
        {
          this.Customer = 'All'
        }
        else
        {
          this.Customer = this.GetsWithComma(this.Customer)
        }
      }
       this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetPendingDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDatePending+'&DateTo='+this.vm.ToDatePending+'&Customers='+this.Customer+'&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingBySalesperson()
    {
      this.LinkedSalesMan = this.selectedPendingSalesperson
      if (this.selectedPendingSalesperson.length === this.PendingSalespersonOptions.length)
      {
        this.LinkedSalesMan = 'All'
      }
      else {
        if (this.selectedPendingSalesperson.length === 0)
        {
          this.LinkedSalesMan = this.GetsWithComma(this.PendingSalespersonOptions)
        }
        else
        {
          this.LinkedSalesMan = this.GetsWithComma(this.LinkedSalesMan)
        }
      }
   this.isLoading = true,
      axios.get ( this.bURL + 'DeliveryNote/GetPendingDeliveriesBy?SalesPersons='+this.LinkedSalesMan+'&DateFrom='+this.vm.FromDatePending+'&DateTo='+this.vm.ToDatePending+'&Customers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.DeliveryNotes = response.data
          if (this.DeliveryNotes.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalDeliveryNotes(this.DeliveryNotes)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditDeliveryNote(VoucherNo)
    {
      localStorage.removeItem('IsHoldingDeliveryNote')
      localStorage.removeItem('DeliveryNoteObject')
      localStorage.setItem('DeliveryNoteNo',VoucherNo)
      this.$router.push('/dashboard/Vouchers/deliveryNote')
    },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
