<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->

       <div v-if="!NoContent" >
        <v-card
class="footer"
  >
    <v-bottom-navigation
 height="42"

    >
    <v-row>
     <v-col
        cols="6"
        sm="6"
        style="text-align: left;;padding-top: 10px;"
      >
       <v-btn>
        <span style="font-size: 15px;color:rgb(0 53 94)"> {{ $t(`ecommerce.Amount`) }}: {{TotalAmount }}</span>

      </v-btn>
     </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="text-align:center;padding-top: 10px;"
      >
      <div>
      <v-btn >
        <span style="color:rgb(0 53 94);font-size: 15px;">
              {{ $t(`menu.GoodsReceipts`) }} : {{ TotalGoodsReceipts }}</span>
      </v-btn>
      </div>
     </v-col>
    </v-row>
    </v-bottom-navigation>
  </v-card>
      </div>
         <div v-if="!NoContent">
     <v-btn
      ref="button"
      class="drawer-button1"
      color="rgb(0 53 94);"
      fixed
      left
      hide-overlay
      temporary
      width="310"
      id="d"

    >
       <!-- Amount: {{OrderTotal}} -->

    {{ $t(`ecommerce.Amount`) }}: {{TotalAmount }},
    <br>
    <v-spacer></v-spacer>
      {{ $t(`menu.GoodsReceipts`) }} : {{ TotalGoodsReceipts }}
      <!-- <v-icon >mdi-plus</v-icon>
      Save -->
    </v-btn>
    </div>
        <div  v-if="NoContent">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
    
<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div class="container-fluid">
        <div class="row cardhead">
          <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;width:100%">
            <div class="card-body" style="padding: 1.27rem;padding-right:1.2rem !important;padding-left:1.27rem !important
            ;padding-bottom:1.27rem !important;;padding-top:1.27rem !important;">
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent">
                <div class="custom-control custom-radio custom-control-inline" @click="ShowPending">
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked" >
                  <label class="custom-control-label" for="customRadioInline1" >{{ $t(`menu.PendingReceipt`) }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" @click="ShowAll">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadioInline2">{{ $t(`menu.AllReceipt`) }}</label>
                </div>
              </div>
            </div>
          </div>

           <div class=" .col-12 col-sm-12 " style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#datefilter"  >{{ $t(`dashboard.Date`) }}</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link" data-toggle="tab" href="#Supplierfilter">{{ $t(`menu.Supplier`) }}</a>
              </li>
              <li id="salesmanTab" class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#PurchasePersonsfilter">{{ $t(`menu.ReceivedBy`) }}</a>
              </li>
            </ul>
          </div>

          <!-- <div class=".col-4 col-sm-6">.col-sm-3</div> -->
        </div>
        <!-- Tab panes start -->
        <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="datefilter" class="tab-pane active">
            <div v-if="AllDateTab" id="allorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >

                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDateAll" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAll" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllByDate">View</button> -->
                         <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchAllByDate"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
           {{ $t(`menu.View`) }}
                         </v-btn>
                  </div>
                </div>
              </div>
            </div>
            <div v-if="PendingDateTab" id="pedingorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                <div @click="HideFromDate">
                    <label for="ignore">
                      <input id="ignore" type="checkbox" name="ignore" value="ignore" >
                      {{ $t(`menu.IgnoreFromDate`) }}
                    </label>
                  </div>
                  <div v-if="IsFromDateAll" class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDatePending" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDatePending" type="date" class="form-control" >
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="button" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingByDate">View</button> -->
                         <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
  @click="SearchPendingByDate"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="Supplierfilter" class="tab-pane ">
            <div v-if="AllSupplierTab" id="Supplierallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                    <label for="selectdatatype"> {{ $t(`menu.Supplier`) }}</label>

  <v-autocomplete
          v-model="selectedAllSupplier"
          :items="AllSupplierOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllSupplier"
        >
          <v-list-item-action>
            <v-icon :color="selectedAllSupplier.length > 0 ? 'indigo darken-4' : ''">{{ iconAllSupplier }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAllSupplier">
            <v-list-item-title>{{ $t(`menu.SelectedallSupplier`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.SupplierCount`) }} :{{ selectedAllSupplier.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAllSupplier">
            <v-list-item-title>{{ $t(`menu.SupplierCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAllSupplier.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>


                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                   <input v-model="vm.FromDateAllSupplier" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAllSupplier" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllSupplier" style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllByCustomer">View</button> -->
                       <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchAllBySupplier"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
              <div v-if="PendingSupplierTab" id="pedingorder_Supplier">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                   <label for="selectdatatype"> {{ $t(`menu.Supplier`) }}</label>
                    <div class="form-group">
                     <v-autocomplete
          v-model="selectedPendingSupplier"
          :items="PendingSupplierOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePendingSupplier"
        >
          <v-list-item-action>
            <v-icon :color="selectedPendingSupplier.length > 0 ? 'indigo darken-4' : ''">{{ iconPendingSupplier }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPendingSupplier">
            <v-list-item-title>{{ $t(`menu.SelectedallSupplier`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.SupplierCount`) }} :{{ selectedPendingSupplier.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePendingSupplier">
            <v-list-item-title>{{ $t(`menu.SupplierCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPendingSupplier.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingByCustomer">View</button> -->
                       <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
     @click="SearchPendingBySupplier"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div id="PurchasePersonsfilter" class="tab-pane " v-if="IsPurchasePersonsShow">
            <div v-if="AllPurchasePersonsTab" id="PurchasePersonsallorder">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">

                      <label for="selectdatatype">{{ $t(`menu.ReceivedBy`) }}</label>

                        <v-autocomplete
          v-model="selectedAllPurchasePersons"
          :items="AllPurchasePersonsOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllPurchasePersons"
        >
          <v-list-item-action>
            <v-icon :color="selectedAllPurchasePersons.length > 0 ? 'indigo darken-4' : ''">{{ iconAllPurchasePersons }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAllPurchasePersons">
            <v-list-item-title>  {{ $t(`menu.SelectedallPurchasePersons`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.PurchasePersonsCount`) }} :{{ selectedAllPurchasePersons.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAllPurchasePersons">
            <v-list-item-title>{{ $t(`menu.PurchasePersonsCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAllPurchasePersons.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>


                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDateAllPurchasePersons" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDateAllPurchasePersons" type="date" class="form-control" >
                  </div>
                  <div id="SearchAllcustomer" style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchAllBySalesperson">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
        @click="SearchAllByPurchasePersons"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
           <div v-if="PendingPurchasePersonsTab" id="pedingorder_PurchasePersons">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                  <div class="form-group">
                   <label for="selectdatatype"> {{ $t(`menu.ReceivedBy`) }}</label>
                    <div class="form-group">
                      <v-autocomplete
          v-model="selectedPendingPurchasePersons"
          :items="PendingPurchasePersonsOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePendingPurchasePersons"
        >
          <v-list-item-action>
            <v-icon :color="selectedPendingPurchasePersons.length > 0 ? 'indigo darken-4' : ''">{{ iconPendingPurchasePersons }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPendingPurchasePersons">
            <v-list-item-title> {{ $t(`menu.SelectedallPurchasePersons`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.PurchasePersonsCount`) }}  :{{ selectedPendingPurchasePersons.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePendingPurchasePersons">
            <v-list-item-title>{{ $t(`menu.PurchasePersonsCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPendingPurchasePersons.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                  <div style="text-align:right">
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPendingBySalesperson">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchPendingByPurchasePersons"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
     <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.GoodsReceiptRegister`) }}</h4>
            </v-col>
          </v-row>
      </div>
       <div v-show="showhide" v-if="!NoContent" class="total" >
          <v-row>
     <v-col
        cols="6"
        sm="6"
        style="text-align:left;;padding-top: 10px;"
      >
       <v-btn>
        <span style="font-size: 15px;color:rgb(0 53 94)"> {{ $t(`ecommerce.Amount`) }}: {{TotalAmount }}</span>


      </v-btn>
     </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="text-align:center;padding-top: 10px;"
      >
      <div>
      <v-btn >
        <span style="color:rgb(0 53 94);font-size: 15px;">
        {{ $t(`menu.GoodsReceipts`) }} : {{ TotalGoodsReceipts }}</span>

      </v-btn>
      </div>
     </v-col>
    </v-row>
      </div>
        <v-expansion-panels focusable>
    <v-expansion-panel
       v-for="(item,i) in GoodsReceipts"
       :key="i"
    >
      <v-expansion-panel-header>
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >
 <label>{{ item.SupplierName }}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
         class="location"
      >

      <label>{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
    <label>{{ FormatewithDecimalPlaces(item.NetTotal) }} </label>
      </v-col>
          <v-col
        cols="12"
        sm="12"
 class="locationnew"
      >

     <label>{{ FormatDate(item.VoucherDate) }}</label>
      </v-col>

    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
     <label> {{ $t(`menu.GoodsReceiptNo`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
    style="padding-top: 4px;"
         class="locationnew"
      >
        <label>{{ item.GoodsReceiptId }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
      <label >   {{ $t(`menu.Purchasepersons`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
    style="padding-top: 4px;"
         class="locationnew"
      >
         <label>{{ item.PurchasePersons }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
      <label >{{ $t(`menu.BranchCode`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
         class="locationnew"
      >
         <label>{{ item.BranchCode }}</label>
      </v-col>

      <v-col
        cols="12"
        sm="12"
        style="text-align: right;"

      >
     <!-- <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
      <i class="fas fa-edit"></i>
      </v-col> -->
           <v-btn small color="#FFF" style="color:#00355E; box-shadow: 1px 1px 18px #00355E;"  @click="EditGoodsReceipt(item.GoodsReceiptId)"><v-icon center>fas fa-eye</v-icon></v-btn>
            </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import PendingGdReceiptSuppliers from '../../pages/ApiServices/PendingGdReceiptSuppliers'
import Suppliers from '../../pages/ApiServices/PendingGdReceiptSuppliers'
import de from '../../translations/de'
export default {
  components: {
    PendingGdReceiptSuppliers,Suppliers
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      PendingDateTab:false,
      PendingSupplierTab:false,
      PendingPurchasePersonsTab:false,
      AllDateTab:false,
      AllSupplierTab:false,
      AllPurchasePersonsTab:false,
      AllSupplierOptions : JSON.parse(localStorage.getItem('Suppliers')),
      PendingSupplierOptions : localStorage.getItem('PendingGDReceiptSuppliers') ? JSON.parse(localStorage.getItem('PendingGDReceiptSuppliers')) : [],
      AllPurchasePersonsOptions : JSON.parse(localStorage.getItem('LinkedPurchasePersons')),
      PendingPurchasePersonsOptions : JSON.parse(localStorage.getItem('LinkedPurchasePersons')),
      right: true,
      GoodsReceipts:[],
      IsFromDateAll:true,
      Branch:'',
      LinkedPurchasePersons:'',
      vm:{},
      TotalGoodsReceipts:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedAllSupplier:[],
      selectedPendingSupplier:[],
      selectedAllPurchasePersons:[],
      selectedPendingPurchasePersons: [],
      NoContent:true,
      IsPurchasePersonsShow:false,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
        showhide:true,
       isLoading : false,
    }
  },
  computed: {
    likesAllAllSupplier () {
      return this.selectedAllSupplier.length === this.AllSupplierOptions.length
    },
    likesSomeAllSupplier () {
      return this.selectedAllSupplier.length > 0 && !this.likesAllAllSupplier
    },

    likesAllPendingSupplier () {
      return this.selectedPendingSupplier.length === this.PendingSupplierOptions.length
    },
    likesSomePendingSupplier () {
      return this.selectedPendingSupplier.length > 0 && !this.likesAllPendingSupplier
    },

    likesAllAllPurchasePersons () {
      return this.selectedAllPurchasePersons.length === this.AllPurchasePersonsOptions.length
    },
    likesSomeAllPurchasePersons () {
      return this.selectedAllPurchasePersons.length > 0 && !this.likesAllAllPurchasePersons
    },

    likesAllPendingPurchasePersons () {
      return this.selectedPendingPurchasePersons.length === this.PendingPurchasePersonsOptions.length
    },
    likesSomePendingPurchasePersons () {
      return this.selectedPendingPurchasePersons.length > 0 && !this.likesAllPendingPurchasePersons
    },

    iconAllSupplier () {
      if (this.likesAllAllSupplier) return 'mdi-close-box'
      if (this.likesSomeAllSupplier) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingSupplier () {
      if (this.likesAllPendingSupplier) return 'mdi-close-box'
      if (this.likesSomePendingSupplier) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconAllPurchasePersons () {
      if (this.likesAllAllPurchasePersons) return 'mdi-close-box'
      if (this.likesSomeAllPurchasePersons) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPendingPurchasePersons () {
      if (this.likesAllPendingPurchasePersons) return 'mdi-close-box'
      if (this.likesSomePendingPurchasePersons) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }
  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    this.ShowPending()
    localStorage.setItem('PreviousPage','GoodsRegister')
    localStorage.setItem('ActivePage','GoodsRegister')
    localStorage.setItem('ActiveRoute','/dashboard/goodsReceipt_reg')
   localStorage.removeItem('VoucherUpdated')
     this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
    if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'All'
       }
    this.value = new Date()
    this.vm.FromDateAll = this.GetTodaysDate(this.value)
    this.vm.ToDateAll = this.GetTodaysDate(this.value)
    this.vm.FromDatePending = this.GetTodaysDate(this.value)
    this.vm.ToDatePending = this.GetTodaysDate(this.value)
    this.vm.FromDateAllSupplier = this.GetTodaysDate(this.value)
    this.vm.ToDateAllSupplier = this.GetTodaysDate(this.value)
    this.vm.FromDateAllPurchasePersons = this.GetTodaysDate(this.value)
    this.vm.ToDateAllPurchasePersons = this.GetTodaysDate(this.value)
    if (this.GoodsReceipts.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
}
this.SearchPendingByDate()
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
      this.PurchasePersonsLength = this.AllPurchasePersonsOptions.length
      if (this.PurchasePersonsLength > 1)
        this.IsPurchasePersonsShow = true

    },
    toggleAllSupplier () {
      this.$nextTick(() => {
        if (this.likesAllAllSupplier) {
          this.selectedAllSupplier = []
        } else {
          this.selectedAllSupplier = this.AllSupplierOptions.slice()
        }
      })
    },

    togglePendingSupplier () {
      this.$nextTick(() => {
        if (this.likesAllPendingSupplier) {
          this.selectedPendingSupplier = []
        } else {
          this.selectedPendingSupplier = this.PendingSupplierOptions.slice()
        }
      })
    },

    toggleAllPurchasePersons () {
      this.$nextTick(() => {
        if (this.likesAllAllPurchasePersons) {
          this.selectedAllPurchasePersons = []
        } else {
          this.selectedAllPurchasePersons = this.AllPurchasePersonsOptions.slice()
        }
      })
    },

    togglePendingPurchasePersons () {
      this.$nextTick(() => {
        if (this.likesAllPendingPurchasePersons) {
          this.selectedPendingPurchasePersons = []
        } else {
          this.selectedPendingPurchasePersons = this.PendingPurchasePersonsOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    ShowPending()
    {
      this.PendingDateTab = true
      this.PendingPurchasePersonsTab = true
      this.PendingSupplierTab = true

      this.AllDateTab = false
      this.AllSupplierTab = false
      this.AllPurchasePersonsTab = false
    },
    ShowAll()
    {
      this.AllDateTab = true
      this.AllSupplierTab = true
      this.AllPurchasePersonsTab = true

      this.PendingDateTab = false
      this.PendingPurchasePersonsTab = false
      this.PendingSupplierTab = false
    },
    HideFromDate()
    {
      this.isIgnore = document.getElementById('ignore').checked
      if (this.isIgnore === true)
      {
        this.IsFromDateAll = false
      }
      else
      {
        this.IsFromDateAll = true
      }
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTootalGoodsReceipts(GoodsReceipts)
    {
      this.TotalAmount = 0
      this.TotalGoodsReceipts = GoodsReceipts.length
      for (this.i = 0; this.i < GoodsReceipts.length; this.i++)
      {
        this.TotalAmount += GoodsReceipts[this.i].NetTotal
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchAllByDate()
    {
      this.LinkedPurchasePersons = localStorage.getItem('LinkedPurchasePersons')
      this.LinkedPurchasePersons = JSON.parse(this.LinkedPurchasePersons)
      this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)
      this.isLoading = true,
      axios.get ( this.bURL + "GoodsReceipt/GetAllGoodsReceiptsBy?PurchasePersons="+ this.LinkedPurchasePersons+"&DateFrom="+this.vm.FromDateAll +"&DateTo="+this.vm.ToDateAll+"&Suppliers=All&BranchCode="+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchAllBySupplier()
    {
      this.LinkedPurchasePersons = localStorage.getItem('LinkedPurchasePersons')
      this.LinkedPurchasePersons = JSON.parse(this.LinkedPurchasePersons)
      this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)
      this.Supplier = this.selectedAllSupplier
      if (this.selectedAllSupplier.length === this.AllSupplierOptions.length)
      {
        this.Supplier = 'All'
      }
      else {
        if (selectedAllSupplier.length === 0)
        {
          this.Supplier = 'All'
        }
        else
        {
          this.Supplier = this.GetsWithComma(this.Supplier)
        }
      }
      this.isLoading = true
      axios.get ( this.bURL + 'GoodsReceipt/GetAllGoodsReceiptsBy?PurchasePersons='+ this.LinkedPurchasePersons+'&DateFrom='+this.vm.FromDateAllSupplier +'&DateTo='+this.vm.ToDateAllSupplier+'&Suppliers='+this.Supplier+'&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchAllByPurchasePersons()
    {

      this.LinkedPurchasePersons= this.selectedAllPurchasePersons
      if (this.selectedAllPurchasePersons.length === this.AllPurchasePersonsOptions.length)
      {
        this.LinkedPurchasePersons = 'All'
      }
      else {
        if (selectedAllPurchasePersons.length === 0)
        {
          this.LinkedPurchasePersons = 'All'
        }
        else
        {
          this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)
        }
      }
      this.Supplier = 'All'
       this.isLoading = true,
      axios.get ( this.bURL + 'GoodsReceipt/GetAllGoodsReceiptsBy?PurchasePersons='+LinkedPurchasePersons+'&DateFrom='+this.vam.FromDateAllPurchasePersons +'&DateTo='+this.vm.ToDateAllPurchasePersons+'&Suppliers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingByDate()
    {
      this.LinkedPurchasePersons = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedPurchasePersons = JSON.parse(this.LinkedPurchasePersons)
      this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)
      if (this.isIgnore === true)
      {
        this.vm.FromDatePending = '1899.1.1'
      }
     this.isLoading = true,
      axios.get ( this.bURL + 'GoodsReceipt/GetPendingGoodsReceiptsBy?PurchasePersons='+this.LinkedPurchasePersons+'&DateFrom='+this.vm.FromDatePending+'&DateTo='+this.vm.ToDatePending+'&Suppliers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingBySupplier()
    {
      this.LinkedPurchasePersons = localStorage.getItem('LinkedSalesPersnons')
      this.LinkedPurchasePersons = JSON.parse(this.LinkedPurchasePersons)
      this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)

      this.Supplier = this.selectedPendingSupplier
      if (this.selectedPendingSupplier.length === this.PendingSupplierOptions.length)
      {
        this.Supplier = 'All'
      }
      else {
        if (selectedPendingSupplier.length === 0)
        {
          this.Supplier = 'All'
        }
        else
        {
          this.Supplier = this.GetsWithComma(this.Supplier)
        }
      }
       this.isLoading = true,
      axios.get ( this.bURL + 'GoodsReceipt/GetPendingGoodsReceiptsBy?PurchasePersons='+this.LinkedPurchasePersons+'&DateFrom=1899.1.1&DateTo=1899.1.1&Suppliers='+ this.Supplier+'&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
              this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
            this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchPendingByPurchasePersons()
    {
      this.LinkedPurchasePersons = this.selectedPendingPurchasePersons
      if (this.selectedAPendingPurchasePersons.length === this.PendingPurchasePersonsOptions.length)
      {
        this.LinkedPurchasePersons = 'All'
      }
      else {
        if (selectedPendingPurchasePersons.length === 0)
        {
          this.LinkedPurchasePersons = 'All'
        }
        else
        {
          this.LinkedPurchasePersons = this.GetsWithComma(this.LinkedPurchasePersons)
        }
      }
       this.isLoading = true,
      axios.get ( this.bURL + 'GoodsReceipt/GetPendingGoodsReceiptsBy?PurchasePersons='+this.LinkedPurchasePersons+'&DateFrom=1899.1.1&DateTo=1899.1.1&Suppliers=All&BranchCode='+this.BranchCode)
        .then((response)  =>  {
          this.GoodsReceipts = response.data
          if (this.GoodsReceipts.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTootalGoodsReceipts(this.GoodsReceipts)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditGoodsReceipt(GoodsReceiptId)
    {
      localStorage.removeItem('IsHoldingGoodsReceipt')
      localStorage.removeItem('GoodsReceiptObject')
      localStorage.setItem('GoodsReceiptId',GoodsReceiptId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/GoodsReceipt_form')
      this.$router.push('/dashboard/GoodsReceipt_form')
    },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
