<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;" >

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>
     

    </v-dialog>
     <v-overlay  :value="overlay" @click="overlay = false"  style="z-index: 4;">
         <v-btn
          class="white--text"
          color="#546E7A"
        >

      Link your godown
        </v-btn>
        <br>

      </v-overlay>
     <div>
       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"

  style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon >mdi-filter</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="310"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center filter" >
        <div class="title filter " style="color:rgb(0 99 145);    padding-right: 10px;
    padding-left: 10px;">{{$t(`dashboard.filter`)}}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
          <v-divider ></v-divider>

           <v-card >

           <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

                 <v-row>
                   <v-col class="slno" col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -15px;" >
 <label >{{$t('menu.Status')}} :</label>
                      <br>
                     <v-autocomplete
            v-model="ItemStatus"
            :items="StatusOptions"
            outlined
          dense

            :label="$t(`menu.Active`)"

          ></v-autocomplete>
                   </v-col>

                 </v-row>


                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;  margin-bottom: -15px;">
                      <label for="frmdate">{{$t('menu.Category')}} :</label>
                      <br>

                     <v-autocomplete
            v-model="Category"
            :items="CategoryOptions"
            outlined
            @change="GetSubCategory($event)"
            dense

          ></v-autocomplete>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top:0px!important;    margin-bottom: -5px;">
                      <label for="frmdate">{{$t(`menu.SubCategory`)}} :</label>
                      <br>
                     <v-autocomplete
            v-model="SubCategory"
            :items="SubCategoryOptions"
            outlined
             dense

          ></v-autocomplete>
                   </v-col>
                  </v-row>
          <v-row >
           <v-col class="slno" cols="12" md="12" style="padding-bottom: 2px;padding-top: 0px;">
               <input type="checkbox"  v-model="ZeroStock" style="padding-left:20px"> {{$t('menu.ZeroStock')}}
             </v-col>
          </v-row>

                   <v-row v-if="IsShowGodown">
                   <v-col  class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top:0px!important;    margin-bottom: -5px;">
                      <label for="frmdate">{{$t(`menu.Godown`)}} :</label>
                      <br>
                     <v-autocomplete
          v-model="selectedGodown"
          :items="GodownOptions"
          :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllGodown">
            <v-list-item-title>{{ $t(`dashboard.SelectedallGodown`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.GodownCount`) }} :{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeGodown">
            <v-list-item-title>Godown Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                <!--   <v-row >
           <v-col class="slno" cols="12" md="12" style="padding-bottom: 2px;padding-top: 0px;">
               <input type="checkbox" v-i v-model="IsWithStock" style="padding-left:20px"> {{$t('menu.WithStock')}}
             </v-col>
          </v-row> -->
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="text-align:right;padding-bottom:0px !important;padding-top:0px!important;">
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchItem"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
          {{$t(`dashboard.search`)}}
            </v-btn>

                   </v-col>
                   </v-row>


             </div>

          </v-card-text>

        </v-card>


    </v-navigation-drawer>
     </div>


      <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide" >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.ItemRegister`)}} </h4>
            </v-col>
          </v-row>
      </div> -->
  
    <v-card >
         <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:right;padding-left: 0px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"


                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >{{$t(`menu.ItemRegister`)}} </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
                         <v-row no-gutters >
             <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
      <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
         v-model="Itemsearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           >
           <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="OpenItemMaster" style="padding-right:8px">mdi-plus-circle</v-icon>
               <v-menu
top
      origin="center center"
      transition="scale-transition"

    >
      <template v-slot:activator="{ on, attrs }">
          
               <v-btn style="height:21px !important;width:21px !important;margin-top:1px !important" color="rgb(0, 53, 94)" fab small dark >
               <v-icon     v-bind="attrs"
          v-on="on"  style="font-size:10px !important;padding-top: 0px;">fa fa-ellipsis-v</v-icon>
               </v-btn>


      </template>

      <v-list>
        <v-list-item>
          <!-- <a :href="'tel:'+item.call"><v-icon style="color:#007bff;padding:5px;" >mdi-phone</v-icon></a> -->

            <v-row >
              <v-col cols="6" style="text-align:center;padding:5px !important;padding-top:15px">
                     <v-btn fab small>
            <v-icon style="color:#28a745;"  @click="ExcelModal = true">mdi-file-excel</v-icon></v-btn>
            <label style="font-size:10px">Excel</label>

              </v-col>
                <v-col cols="6" style="text-align:center;padding:5px !important;padding-top:15px">
                     <v-btn fab small>
        <v-icon style="color:rgb(0, 53, 94);"   @click="PrintModal = true">print</v-icon>

            </v-btn>
            <br>
             <label style="font-size:10px">Print</label>

              </v-col>

            </v-row>







        </v-list-item>
      </v-list>
    </v-menu>
  </template>
           </v-text-field>


                </v-col>

            </v-row>
 <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important; padding-left: 6px;padding-right:6px">
    <v-expansion-panel
          v-for="(item,i) in resultQuery"
      :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right: 2px !important;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 5px;" >
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{item.ItemName}} <span v-if="item.ItemCode">-</span> {{ item.ItemCode }}</label>

      </v-col>

      <v-col
        cols="8"
        sm="8"
          class="location"  
      >

      <label style="font-weight:100;padding-left:12px"><v-icon style="font-size: 18px;
    padding-bottom: 3px;">mdi-cart-minus </v-icon></label><label style="font-weight: 500 !important;">{{FormatewithDecimalPlaces(item.RetailRate)}}</label>
      </v-col>
      <v-col
        cols="4"
        sm="4"
       class="locationnew"
      >
       <!-- <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px"  v-if="IsWithStock1">mdi-stocking </v-icon>
        <label style="font-weight:200" v-if="IsWithStock1">{{ item.Quantity }}  {{item.Unit}} </label>
          <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px"  v-if="!IsWithStock1">mdi-stocking </v-icon>
        <label style="font-weight:200" v-if="!IsWithStock1"> </label> -->
        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px"  >mdi-stocking </v-icon>
        <label style="font-weight:200" >{{ item.Quantity }}  {{item.Unit}} </label>
         
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
          <v-col
        cols="12"
        sm="12"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{ $t(`menu.Barcode`) }}</label>
      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{item.Barcode}}</label>
      </v-col>
   
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
  <label style="font-weight: 200">{{$t(`menu.Cost`)}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
  <label style="font-weight: 550" v-if="IsAdmin">{{FormatewithDecimalPlaces(item.Cost)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
            class="locationnew"
 
      >
  <label style="font-weight: 200">{{$t('menu.Category')}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
          <label style="font-weight: 550">{{item.Category}}</label>
       </v-col>
 
       <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
            class="location"
      @click="GetGodownStockList(item.ItemId,item.ItemName,item.ItemCode)"
      >

     <v-btn small color="#FFF" style="color:#00355E; box-shadow: 1px 1px 18px #00355E;font-size: 12px;">

      <v-icon center>inventory</v-icon>
    </v-btn>
       </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "
        class="locationnew"
     @click="EditItem(item.ItemId)"
      >

     <v-btn small color="#FFF" style="color:#00355E; box-shadow: 1px 1px 18px #00355E;"><v-icon center>fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>
    </v-card>



<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <!-- <v-card-title style="color:rgb(238,68,170)">

          </v-card-title> -->
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
               <!-- <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:center">
     <label style="color: rgb(120, 144, 156);font-size:14px"><b>{{ $t(`email.invoice`) }} # :</b> </label>
     <label style="color:rgb(238, 68, 170);font-size:14px;padding-left:2px !important"><b>{{ReferNo}}</b></label>

     </v-col>
     </v-row>
     <v-divider></v-divider> -->

                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>
               <!--   <v-col cols="4" sm="4" md="4" style="padding-top:10px;padding-bottom:0px;text-align:center" >
               <span >
            <v-btn color="#42A5F5" fab small dark   @click="ShareSale()">
            <v-icon>share</v-icon>
            </v-btn>
  </span>

               </v-col> -->
                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintPriceList()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
          <!-- <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="ShareSale()"
            >
              Share
            </v-btn>
             <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintSale()"
            >
              Print
            </v-btn>
          </v-card-actions> -->
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->


 <v-dialog v-model="ExcelModal" persistent max-width="250">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttoexcel`)}}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn small outlined color="rgb(220 53 69);" @click="ExcelModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn small outlined color="rgb(40 167 69)" @click="GetExcel">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

<!-- GodownStockModalstart -->

 <v-dialog v-model="GodownStockModal" persistent max-width="600" class="checkgodown" style="overflow-y: none !important">
         <v-card
    class="mx-auto"

    outlined
  >
<v-row no-gutters style="    font-size: 13px;"  >
      <v-col cols="12" sm="12" class="text-center" style="padding-top: 4px; padding-bottom: 4px;">
   <b style="text-align:center !important; text-transform:uppercase;">Godown Stock</b>
      </v-col>
</v-row>
<v-row no-gutters style="    font-size: 13px;"  >
      <v-col cols="12" sm="12" class="text-center" style="    padding-top: 0px;
    padding-bottom: 4px;
    margin-top: -5px;
    font-size: 12px;">
   <span style="color: rgb(238, 68, 170);"><b>{{ViewItemName}}-{{ViewItemCode}}</b></span>
      </v-col>
</v-row>
     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
<v-row>
  <v-col cols="12" style="    padding-top: 12px;
    padding-bottom: 5px;
    padding-left: 22px;">
 <v-tabs   v-model="tab" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows  style="flex-grow: 0 !important;margin-top: -10px;">
      <v-tabs-slider color="teal lighten-3 new" styel="margin-top: -9px !important;"></v-tabs-slider>
      <v-tab to="#tabs-nonexpiry" id="innerExPannew">Non Expiry</v-tab>
      <v-tab to="#tabs-expiry" id="innerExPannew">Expiry</v-tab>
    </v-tabs>
    </v-col>
    </v-row>

    <v-tabs-items v-model="tab" touchless>

      <v-tab-item value="tabs-nonexpiry">
 <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="6" sm="6" class="text-left">
    Godown
        </v-col>
      <v-col cols="6" sm="6"  class="text-right">
     Stock
      </v-col>



    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in GodownStockList"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" >

       <v-row>
       <v-col cols="6" sm="6" class="text-left" style="padding: 0px !important; ">

      <b>{{item.Godown}}</b>
      </v-col>
       <v-col cols="6" sm="6" class="text-right" style="padding: 0px !important; ">

   <b>{{item.Stock}}</b>
      </v-col>

      </v-row>

      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
    <v-divider></v-divider>
   <v-row style="margin:-10px">
        <v-col cols="6" md="6" lg="6" style="text-align:left;padding-top:8px;padding-bottom:8px">
           <!-- <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="GodownStockModal=false"

            >
              Back
            </v-btn> -->
              <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
             @click="GodownStockModal=false"
            >
              OK
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:right;padding-top:8px;padding-bottom:8px;color:rgb(0 150 199)">

          <span style="color:rgb(0 150 199)">Total Stock : <b>{{TotalStock}}</b></span>

        </v-col>
        </v-row>
      </v-tab-item>
      <v-tab-item value="tabs-expiry">
        <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="6" sm="6" class="text-left">
    Godown
        </v-col>
      <v-col cols="6" sm="6"  class="text-right">
     Stock
      </v-col>



    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in DamageGodownStockList"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" >

       <v-row>
       <v-col cols="6" sm="6" class="text-left" style="padding: 0px !important; ">

      <b>{{item.Godown}}</b>
      </v-col>
       <v-col cols="6" sm="6" class="text-right" style="padding: 0px !important; ">

   <b>{{item.Stock}}</b>
      </v-col>

      </v-row>

      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
    <v-divider></v-divider>
    <v-row style="margin:-10px">
        <v-col cols="6" md="6" lg="6" style="text-align:left;padding-top:8px;padding-bottom:8px">
           <!-- <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="GodownStockModal=false"

            >
              Back
            </v-btn> -->
              <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
             @click="GodownStockModal=false"
            >
              OK
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:right;padding-top:8px;padding-bottom:8px;color:rgb(0 150 199)">

          <span style="color:rgb(0 150 199)">Total Stock : <b>{{TotalDamageStock}}</b></span>

        </v-col>
        </v-row>
      </v-tab-item>
    </v-tabs-items>


  </v-card>

    </v-dialog>

<!-- GodownStockModalends -->

    </div>

    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
      overlay: false,
       tab: null,   
      GodownStockModal:false,
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      ItemObject:[],
      Itemsearch:'',
      right: false,
      StatusOptions:['Active','Inactive','All'],
      CategoryOptions:[],
      SubCategoryOptions : [],
      SubCategoryObject:[],
      vm : [],
      Branch:'',
      TotalItem:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
      right: false,
         isLoading : false,
         UserType:localStorage.getItem('UserType'),
         IsAdmin:false,
         Godown:'',
          GodownOptions:localStorage.getItem('LinkedFullGodowns')?JSON.parse(localStorage.getItem('LinkedFullGodowns')) :[],
          selectedGodown:[],
         IsShowGodown : false,
         ZeroStock:false,
         IsWithStock : true,
         IsWithStock1 : true,
          Papersize : localStorage.getItem('Papersize'),
     PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
      PrintModal : false,
    PapersizeError : false,
    PrinterError : false,

      ExcelModal:false,
      GodownStockList:[],
      DamageGodownStockList:[],
      LinkedDamageGodowns:localStorage.getItem('LinkedDamageGodowns')?JSON.parse(localStorage.getItem('LinkedDamageGodowns')):[],
      TotalStock : 0,
      TotalDamageStock : 0,
      ViewItemName : "",
      ViewItemCode : ""
    }
  },
  computed: {
      likesAllGodown () {
      return this.selectedGodown.length === this.GodownOptions.length
    },
    likesSomeGodown () {
      return this.selectedGodown.length > 0 && !this.likesAllGodown
    },
     iconGodown () {
      if (this.likesAllGodown) return 'mdi-close-box'
      if (this.likesSomeGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     resultQuery() {
      this.ItemsNew = []
    if(this.Itemsearch !== undefined)
    {
       this.ItemsNew = this.ItemObject.filter(post => {
        return post.ItemName.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.ItemCode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Barcode.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Cost.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.Unit.toString().toLowerCase().includes(this.Itemsearch.toLowerCase()) ||
        post.RetailRate.toString().toLowerCase().includes(this.Itemsearch.toString().toLowerCase())
      })
      if(this.ItemsNew.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.ItemsNew[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.ItemsNew
      }
    }
    else{
      if(this.ItemObject.length > 100)
      {
         this.ItemsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ItemsNewReturn.push(this.Items[this.i])

        }
        return this.ItemsNewReturn
      }
      else{
         return this.ItemObject
      }
    }
    },

  },
  mounted() {

      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','ItemRegister')
   localStorage.setItem('ActivePage','ItemRegister')
   localStorage.setItem('ActiveRoute','/dashboard/item_reg')
   localStorage.removeItem('VoucherUpdated')

   
  
   for(this.i = this.GodownOptions.length - 1; this.i > -1; this.i--)
    {
      for(this.j=0;this.j<this.LinkedDamageGodowns.length;this.j++)
      {
          if(this.GodownOptions[this.i] === this.LinkedDamageGodowns[this.j])
          {
            this.GodownOptions.splice(this.i,1)
            break
          }
      }
    }
    

      this.ItemStatus ='Active'
      this.vm.Recursive = false
    this.BasicSettings()
    this.GetCategory()


    if (this.ItemObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     toggleGodown () {
      this.$nextTick(() => {
        if (this.likesAllGodown) {
          this.selectedGodown = []
        } else {
          this.selectedGodown = this.GodownOptions.slice()
        }
      })
    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      if(this.UserType === "Administrator")
         this.IsAdmin =  true
        
      if(this.GodownOptions.length > 1)
      {
        this.IsShowGodown = true
      }
      else{
        this.IsShowGodown = false
        this.selectedGodown = this.GodownOptions
      }

      if(this.GodownOptions.length > 1)
      {
        this.IsWithStock = false
        this.IsWithStock1 = false
      }
         this.GetItems()
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetItems()
    {
        this.ItemObject = []
        this.Username = window.localStorage.getItem('user');
        this.ActiveRouteId = window.localStorage.getItem('ActiveRouteId');
        this.ActiveRouteId = this.ActiveRouteId?this.ActiveRouteId:-1
        this.GodownParam = this.GetsWithComma1(this.selectedGodown)
        this.Loaderdialog = true
        this.GodownParam = this.GodownParam?this.GodownParam:this.GetsWithComma1(this.GodownOptions)
        this.GodownParam = this.GodownParam?this.GodownParam:"All"
        axios.get(this.bURL + 'Item/GetItemSummary?Category=All&SubCategory=All&ItemType=All&IsActive=Active&Godowns='+this.GodownParam + '&IsWithStock=' +this.IsWithStock)
          .then((response)  =>  {
            if(this.ZeroStock === true)
            {
              this.ItemObject = response.data
            }
            else{
              for(this.i=0;this.i<response.data.length;this.i++)
              {
                if(response.data[this.i].Quantity > 0)
                {
                  this.ItemObject.push(response.data[this.i])
                }
              }
            }
            this.Loaderdialog =false
          }, (error)  =>  {
            this.isLoading =false
            this.snackbar = true
            this.SnackbarMessege = "Failed"
          })

    },
    GetCategory()
    {
       axios.get(this.bURL + 'item/GetItemCategoriesSubCategories')
          .then((response)  =>  {
            this.CategoryOptions.push('All')
           for(this.i = 0;this.i<response.data.length;this.i++)
           {
             this.CategoryOptions.push(response.data[this.i].Category)
           }
           this.Category = this.CategoryOptions[0]

          }, (error)  =>  {
            console.log(error)
          })
    },
    GetSubCategory(category)
    {
        axios.get(this.bURL + "item/GetItemSubCategories?Category="+category)
          .then((response)  =>  {
            this.SubCategoryObject = response.data
            this.SubCategoryOptions= []
             this.SubCategoryOptions.push('All')
           for(this.i = 0;this.i<this.SubCategoryObject.length;this.i++)
           {
             this.SubCategoryOptions.push(this.SubCategoryObject[this.i].SubCategory)
           }
           this.SubCategory = this.SubCategoryOptions[0]

          }, (error)  =>  {
            console.log(error)
          })
    },

    SearchItem()
    {
      this.ItemObject = []
      this.SubCategoryId = 'All'
        for(this.i = 0;this.i<this.SubCategoryObject.length;this.i++)
        {
           if(this.SubCategoryObject[this.i].SubCategory === this.SubCategory)
           {
             this.SubCategoryId = this.SubCategoryObject[this.i].SubCategoryId
           }
        }
        if(this.selectedGodown.length >0)
        {
          this.GodownParam = this.GetsWithComma1(this.selectedGodown)
        }
        else{
          this.GodownParam = this.GetsWithComma1(this.GodownOptions)
        }
        
        this.isLoading = true
        this.GodownParam = this.GodownParam?this.GodownParam:"All"
         axios.get(this.bURL + "Item/GetItemSummary?Category="+this.Category+"&SubCategory="+this.SubCategoryId+"&ItemType=All&IsActive="+this.ItemStatus + '&Godowns='+this.GodownParam +  '&IsWithStock=' +this.IsWithStock)
          .then((response)  =>  {
            if(this.ZeroStock === true)
            {
              this.ItemObject = response.data
            }
            else{
              for(this.i=0;this.i<response.data.length;this.i++)
              {
                if(response.data[this.i].Quantity > 0)
                {
                  this.ItemObject.push(response.data[this.i])
                }
              }
            }

             this.isLoading = false
             this.right = false
          }, (error)  =>  {
            this.isLoading =false
            this.snackbar = true
            this.SnackbarMessege = "Failed"
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalItem(ItemObject)
    {
      this.TotalAmount = 0
      this.TotalItem = ItemObject.length
      for (this.i = 0; this.i < ItemObject.length; this.i++)
      {
        this.TotalAmount += ItemObject[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },



    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditItem(ItemId)
    {
        localStorage.setItem('ItemId',ItemId);
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/itemMaster')
         this.$router.push('/dashboard/masters/itemMaster')
    },
    OpenItemMaster()
    {
        localStorage.removeItem('ItemId')
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/itemMaster')
        this.$router.push('/dashboard/masters/itemMaster')

    },
     GetsWithComma1(values) {
      values = values.join("~");

      return values;
    },

    PrintPriceList()
    {
    if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }

   /*  if(this.Printer === "" || this.Printer === null)
    {
      this.PrinterError = true
      return
    } */
    else
    {
      this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
      if (this.ItemObject.length  > 0)
      {
    //this.Printer = localStorage.getItem('Printer')
       if(this.Printer === 'Bluetooth')
        {
          this.Loaderdialog = true
           this.url = this.bURL + 'Print/PriceListNativeFormate?Godowns=' + this.GodownOptions[0]  + '&BranchCode=' + this.BranchCode+ '&PaperSize=' + this.PapersizeNo
           this.PapperSizeForPrint = 0
          if(this.PapersizeNo === "110MM")
          {
            this.PapperSizeForPrint = 110
          }
          else
          {
            this.PapperSizeForPrint = 80
          }
            this.ReceiptModal = false
            this.Loaderdialog = false
             axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,1,1,this.PapperSizeForPrint,"0","null","Item","null")
              },
              error => {
                console.log(error);
              }
             );


        }
        else
        {
          this.Loaderdialog = true
        axios.get(this.bURL + 'Print/ItemPriceList?Godowns=' + this.GodownOptions[0]  + '&BranchCode=' + this.BranchCode)
          .then((response)  =>  {
            this.Loaderdialog = false
            this.IsPrintedSale = true
            this.url = this.bURLPrint + response.data

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }

          }, (error)  =>  {
            console.log(error)
          })
        }
      }
      else
      {
        this.SnackbarMessege = "No Items to Print"
        this.snackbar = true
      }
    }
    },
    GetExcel()
    {
      this.Loaderdialog = true
       axios.get(this.bURL + "Item/GetExcelItems?Godowns="+this.GodownOptions[0])
          .then((response)  =>  {
            this.Loaderdialog = false
               this.url = this.bURLPrint + '/' + response.data
               this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })
    },
      GetGodownStockList(ItemId,itemName,itemCode)
    {
      if(this.GodownOptions.length === 0)
      {
        this.SnackbarMessege = "Link your godown"
        this.snackbar = true
        this.Loaderdialog = false
        return
      }
      this.ViewItemName = itemName
      this.ViewItemCode = itemCode
      this.LinkedDamageGodowns = localStorage.getItem('LinkedDamageGodowns')
      if(this.LinkedDamageGodowns !== null)
      {
        this.LinkedDamageGodowns = JSON.parse(this.LinkedDamageGodowns)
      }
      this.Loaderdialog = true
       axios.get(this.bURL + 'Godown/SelectAllGodownStock?ItemId='+ItemId)
          .then((response)  =>  {
              this.GodownStockList = []
              this.DamageGodownStockList = []
              this.TotalStock = 0
              this.TotalDamageStock = 0
              for(this.i=0;this.i<response.data.length;this.i++)
              {
                if(this.GodownOptions.includes(response.data[this.i].Godown))
                {
                  this.GodownStockList.push(response.data[this.i])
                  this.TotalStock += response.data[this.i].Stock
                }
                if(this.LinkedDamageGodowns.includes(response.data[this.i].Godown))
                {
                  this.DamageGodownStockList.push(response.data[this.i])
                  this.TotalDamageStock += response.data[this.i].Stock
                }
              }
              this.GodownStockModal = true
              this.Loaderdialog = false
          }, (error)  =>  {
            console.log(error)
          })
    },
  }
}
</script>
<style>
.checkgodown.v-dialog {

    overflow-y: none;

}
</style>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
// .drawer-button {
//   position: fixed;
//   top: 175px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #ee44aa;
// }
.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

.drawer-button {
  position: fixed;
  top: 154px;
  right: -20px;
  z-index: 6;
 box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}
.drawer-buttonnew {
  position: fixed;
  top: 200px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}

 .drawer-buttonexcel {
  position: fixed;
  top: 255px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px  rgb(24 128 56);
}


</style>
