<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

       

    <v-btn
      ref="button"
      class="drawer-button"
     color="rgb(0 99 145)"
      dark
      @click="right = true"

  style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
       <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
     <div class="container-fluid">
        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllLeads"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
      <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllLeads" class="tab-pane active">
            <div >
              <div class="row">
                <div class="col-12" style="    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: -10px;" >
                   <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;width:100%;border-radius: 0px;">
            <div class="card-body" style="padding: 1.37rem;">
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent">
                <div class="custom-control custom-radio custom-control-inline" @click="IsByLeadDate=true">
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked" >
                  <label class="custom-control-label" for="customRadioInline1" >{{ $t(`menu.LeadDate`) }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" @click="IsByLeadDate=false">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadioInline2">{{ $t(`menu.DeadLine`) }}</label>
                </div>
              </div>
            </div>
          </div>
                </div>
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                  </div>
                     <div class="form-group" >
                    <label for="selectdatatype">{{ $t(`menu.Contacts`) }}</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedContacts"
          :items="LeadContactOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleContacts"
        >
          <v-list-item-action>
            <v-icon :color="selectedContacts.length > 0 ? 'indigo darken-4' : ''">{{ iconAllContacts }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllContacts">
            <v-list-item-title>{{ $t(`menu.SelectedallContacts`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.ContactsCount`) }} :{{ selectedContacts.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeContacts">
            <v-list-item-title>{{ $t(`menu.ContactsCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedContacts.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                  <div class="form-group" >
                    <label for="selectdatatype">{{ $t(`menu.Status`) }}</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedStatus"
          :items="LeadStatusOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleStatus"
        >
          <v-list-item-action>
            <v-icon :color="selectedStatus.length > 0 ? 'indigo darken-4' : ''">{{ iconAllStatus }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllStatus">
            <v-list-item-title>{{ $t(`menu.SelectedallStatus`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.StatusCount`) }} :{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeStatus">
            <v-list-item-title>{{ $t(`menu.StatusCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                    <div class="form-group" v-if="IsCreatedByShow">
                    <label for="selectdatatype">{{ $t(`menu.CreatedBy`) }}</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedCreatedBy"
          :items="CreatedByOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleCreatedBy"
        >
          <v-list-item-action>
            <v-icon :color="selectedCreatedBy.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCreatedBy }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCreatedBy">
            <v-list-item-title>{{ $t(`menu.SelectedallCreatedBy`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.CreatedByCount`) }} :{{ selectedCreatedBy.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCreatedBy">
            <v-list-item-title>{{ $t(`menu.CreatedByCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCreatedBy.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>

                    <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchLead">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchLead"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
        </div>

 </div>


    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.LeadRegister`) }}</h4>
            </v-col>
          </v-row>
      </div> -->
       <v-card>
     
        <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      > {{ $t(`menu.LeadRegister`) }} </b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
 <div  v-if="NoContent" style="padding-bottom:10px !important;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
     
           <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:center;">
         {{ $t(`menu.TotalLead`) }}: <b>{{ TotalLeads }}</b></span>

        </v-col>

      </v-row>
      </div>
           <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
     v-for="(item,i) in Leads"
       :key="i"
        style="margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header  style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{ item.FullName }}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
         class="location"
      >

      <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{ FormatDate(item.LeadDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
         <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{item.ReferNo }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
        <label style="font-weight: 200">{{ $t(`menu.Status`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.StatusName }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         style="padding-top: 4px;"
         class="locationnew"
      >
           <label style="font-weight: 200">{{ $t(`menu.Industry`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.IndustryType }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
            style="padding-top: 4px;"
         class="location"

      >
        <label style="font-weight: 200">{{ $t(`menu.Source`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.SourceName }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
          style="padding-top: 4px;"
         class="locationnew"
      >
    <label style="font-weight: 200">{{ $t(`menu.CreatedBy`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.CreatedBy }}</label>
      </v-col>
       <v-col
        cols="12"
        sm="12"
           style="padding-top: 4px;"
         class="locationnew"
      >
     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditLead(item.LeadId)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
           </div>
       </v-card>
 

<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">


                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>

                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintLeadSummary()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
        </v-card>
    </v-dialog>
<!--
 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
      <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
     <v-autocomplete
      :items="Printers"
      v-model="Printer"
       @change="SetDefaultPrinter($event)"
      name="category"
      v-validate="'required'"
      item-text="name"
      :label="$t(`dashboard.SelectPrinter`)"
      style="padding-top:.8em;"
      ></v-autocomplete>
 </v-col>

                </v-row>
          <v-row>
                <v-col cols="12" sm="12" md="12" class="no-p" >
                 <label style="color:red" v-if="PrinterError">{{ $t(`menu.SelectPrinter`) }} </label>

               </v-col>
                </v-row>  <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:25px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row>
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row>
                 <v-col cols="12" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon>close</v-icon>
            </v-btn>
  </span>

               </v-col>

                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn color="rgb(0, 53, 94)" fab small dark   @click="PrintLeadSummary()">
            <v-icon>print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
        </v-card>
    </v-dialog> -->
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
export default {
  components: {
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      LeadContactOptions : [],
       LeadStatusOptions : [],
      CreatedByOptions : JSON.parse(localStorage.getItem('ReceivedBy')),
      IsCreatedByShow:false,
       selectedCreatedBy:[],
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      IsByLeadDate : true,
      right: true,
      Leads:[],
      vm : [],
      Branch:'',
      TotalLeads:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedContacts:[],
      selectedStatus:[],
      NoContent:true,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
       isLoading : false,
       PrintURL:"",
       PrintModal:false,
        PrinterError : false,
      Papersize : localStorage.getItem('Papersize'),
    PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
    IsByLeadDate:true
    }
  },
  computed: {
    likesAllContacts () {
      return this.selectedContacts.length === this.LeadContactOptions.length
    },
    likesSomeContacts () {
      return this.selectedContacts.length > 0 && !this.likesAllContacts
    },

    likesAllStatus () {
      return this.selectedStatus.length === this.LeadStatusOptions.length
    },
    likesSomeStatus () {
      return this.selectedStatus.length > 0 && !this.likesAllStatus
    },

     likesAllCreatedBy () {
      return this.selectedCreatedBy.length === this.CreatedByOptions.length
    },
    likesSomeCreatedBy () {
      return this.selectedCreatedBy.length > 0 && !this.likesAllCreatedBy
    },




    iconAllStatus () {
      if (this.likesAllStatus) return 'mdi-close-box'
      if (this.likesSomeStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    iconAllStatus () {
      if (this.likesAllStatus) return 'mdi-close-box'
      if (this.likesSomeStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    iconAllCreatedBy () {
      if (this.likesAllCreatedBy) return 'mdi-close-box'
      if (this.likesSomeCreatedBy) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','LeadRegister')
    localStorage.setItem('ActivePage','LeadRegister')
    localStorage.setItem('ActiveRoute','/dashboard/registers/LeadRegister')
   localStorage.removeItem('VoucherUpdated')
   window.addEventListener('scroll', this.scrollFunction);
    this.BasicSettings()
    this.LoadLeadContact()
    this.LoadLeadStatus()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
     this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Leads.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
     window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

    this.isHold = localStorage.getItem('LeadRegHolding')
    if(this.isHold === 'true')
    {
        this.GetLeads()
    }
    else{
      this.SearchLead()
    }

  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

      scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {

      this.IsCreatedByShow = true
      this.CreatedByLength = this.CreatedByOptions.length
      if (this.CreatedByLength === 1)
      {
        this.selectedCreatedBy = this.CreatedByOptions
        this.IsCreatedByShow = false
      }

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },

    toggleContacts () {
      this.$nextTick(() => {
        if (this.likesAllContacts) {
          this.selectedContacts = []
        } else {
          this.selectedContacts = this.LeadContactOptions.slice()
        }
      })
    },
    toggleStatus () {
      this.$nextTick(() => {
        if (this.likesAllStatus) {
          this.selectedStatus = []
        } else {
          this.selectedStatus = this.LeadStatusOptions.slice()
        }
      })
    },
    toggleCreatedBy () {
      this.$nextTick(() => {
        if (this.likesAllCreatedBy) {
          this.selectedCreatedBy = []
        } else {
          this.selectedCreatedBy = this.CreatedByOptions.slice()
        }
      })
    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(',')

      return values
    },
    GetTotalLeads(Leads)
    {
      this.TotalAmount = 0
      this.TotalLeads = Leads.length
    /*   for (this.i = 0; this.i < Leads.length; this.i++)
      {
        this.TotalAmount += Leads[this.i].ReceivedAmount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount) */
    },
    SearchLead()
    {
      if (this.selectedCreatedBy.length === 0)
        {
          this.CreatedBy = this.GetsWithComma(this.CreatedByOptions)
        }
        else
        {
          this.CreatedBy = this.GetsWithComma(this.selectedCreatedBy)
        }


        if (this.selectedContacts.length === 0)
        {
          this.ContactIds = "all"
        }
        else
        {
        this.ContactIds = []
        for(this.i=0;this.i<this.selectedContacts.length;this.i++)
        {
          for(this.j=0;this.j<this.LeadContactObject.length;this.j++)
          {
            if(this.LeadContactObject[this.j].FullName === this.selectedContacts[this.i])
            {
              this.ContactIds.push(this.LeadContactObject[this.j].ContactId)
              break;
            }
          }
        }
        this.ContactIds = this.GetsWithComma(this.ContactIds)
        }
         if (this.selectedStatus.length === 0)
        {
          this.StatusIds = "all"
        }
        else
        {
          this.Status = this.selectedStatus
        this.StatusIds = []
        for(this.i=0;this.i<this.selectedStatus.length;this.i++)
        {
          for(this.j=0;this.j<this.LeadStatusObject.length;this.j++)
          {
            if(this.LeadStatusObject[this.j].StatusName === this.selectedStatus[this.i])
            {
              this.StatusIds.push(this.LeadStatusObject[this.j].StatusId)
              break;
            }
          }
        }
        this.StatusIds = this.GetsWithComma(this.StatusIds)
        }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
      this.isLoading = true
      axios.get ( this.bURL + 'Lead/GetLeads?CreatedBy='+ this.CreatedBy+ '&StatusIds='+this.StatusIds+ '&ContactIds='+this.ContactIds +'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate  + '&BranchCode=' + this.Branch + '&IsByLeadDate=' + this.IsByLeadDate  )
        .then((response)  =>  {
          this.Leads = response.data
          if (this.Leads.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalLeads(this.Leads)
          this.SetValuesToLS(this.CreatedBy,this.StatusIds,this.ContactIds,this.vm.FromDate,this.vm.ToDate,this.Branch,this.IsByLeadDate)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })
    },
    EditLead(LeadId)
    {
      localStorage.removeItem('IsHoldingLead')
      localStorage.removeItem('LeadObject')
      localStorage.removeItem('Requirements')
      localStorage.setItem('LeadId',LeadId)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/Lead')
      this.$router.push('/dashboard/Vouchers/Lead')
    },
    SetValuesToLS(CreatedBy,StatusIds,ContactIds,FromDate,ToDate,Branch,IsByLeadDate)
    {
        localStorage.setItem('LeadRegHolding',true)
        localStorage.setItem('LeadCreatedBy',CreatedBy);
        localStorage.setItem('LeadStatusIds',StatusIds);
        localStorage.setItem('LeadContactIds',ContactIds);
        localStorage.setItem('LeadFromDate',FromDate);
        localStorage.setItem('LeadToDate',ToDate);
        localStorage.setItem('LeadBranch',Branch);
        localStorage.setItem('LeadIsByLeadDate',IsByLeadDate);
    },
    GetLeads()
    {
      this.CreatedBy = localStorage.getItem('LeadCreatedBy')
      this.vm.FromDate = localStorage.getItem('LeadFromDate')
      this.vm.ToDate = localStorage.getItem('LeadToDate')
      this.Branch = localStorage.getItem('LeadBranch')
      this.StatusIds = localStorage.getItem('LeadStatusIds')
      this.ContactIds = localStorage.getItem('LeadContactIds')
      this.IsByLeadDate = localStorage.getItem('LeadIsByLeadDate')
      axios.get ( this.bURL + 'Lead/GetLeads?CreatedBy='+ this.CreatedBy+ '&StatusIds='+this.StatusIds+ '&ContactIds='+this.ContactIds +'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate  + '&BranchCode=' + this.Branch + '&IsByLeadDate=' + this.IsByLeadDate  )
        .then((response)  =>  {
          this.Leads = response.data
          if (this.Leads.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalLeads(this.Leads)
          this.SetValuesToLS(this.CreatedBy,this.StatusIds,this.ContactIds,this.vm.FromDate,this.vm.ToDate,this.Branch,this.IsByLeadDate)
          this.right = false
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
     this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Lead&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
            this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
             this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('LeadId',response.data)
            this.$router.push('/dashboard/Vouchers/reciept')
             this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
  PrintLeadSummary()
    {
      if (this.VoucherNo !== null)
      {
   if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }
    this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
         if(this.Printer === 'Bluetooth')
        {
          this.Loaderdialog = true
           this.url = this.bURL + 'Print/LeadSummaryNativeFormate?' +this.PrintURL + '&Papersize=' + this.PapersizeNo
           this.LeadModal = false

            this.PapperSizeForPrint = 0
          if(this.PapersizeNo === "110MM")
          {
            this.PapperSizeForPrint = 110
          }
          else
          {
            this.PapperSizeForPrint = 80
          }
            axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,1,this.PapperSizeForPrint,"0","null","LeadSummary","null")
              },
              error => {
                console.log(error);
              }
             );

        }
        else
        {
        axios.get(this.bURL + 'Print/LeadSummary?' +this.PrintURL)
          .then((response)  =>  {
             this.url = this.bURLPrint + response.data
            //window.open(this.url, '_blank')
            //window.location.href = this.url

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })
        }

      }
      else
      {

        this.SnackbarMessege = this.$t(`menu.NoLeadtoPrint`)
        this.snackbar = true
      }

    },
    LoadLeadContact()
    {
      this.LeadContactOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "LeadContact/GetLeadContacts")
        .then((response)  =>  {
           this.LeadContactObject = response.data
           for (this.i = 0; this.i < this.LeadContactObject.length; this.i++) {
           this.LeadContactOptions.push(this.LeadContactObject[this.i].FullName)

           }
        }, (error)  =>  {
          console.log(error)
        })
    },
    LoadLeadStatus()
    {
      this.LeadStatusOptions = []
      this.brcode = window.localStorage.getItem("BranchCode");
      this.role = window.localStorage.getItem("UserType");
      this.brcode=this.brcode?this.brcode:"All";
      axios.get ( this.bURL + "Status/GetStatusDetails?Type=L")
        .then((response)  =>  {
          this.LeadStatusObject = response.data
       for (this.i = 0; this.i < this.LeadStatusObject.length; this.i++) {
           this.LeadStatusOptions.push(this.LeadStatusObject[this.i].StatusName)

           }
        }, (error)  =>  {
          console.log(error)
        })
    },
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 160px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonnew {
  position: fixed;
  top: 69px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
