<template>

  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>



<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>

    <v-btn
      ref="button"
      class="drawer-buttonnew"
      color="rgb(0, 53, 94)"
      dark
      @click="PrintModal = true"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">print</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
       <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider></v-divider>
     <div class="container-fluid">
        <div class="row">

      <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">

            <div >
              <div class="row">
                <div class="col-12 slno" style="padding-bottom:6px;padding-top: 6px; !importent" >

                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="DateFrom" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                    <label for="DateTo">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="DateTo" type="date" class="form-control" >
                  </div>
                    <v-select
            v-model="BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
            <div class="form-group">
                    <label for="selectdatatype"> {{$t('menu.VoucherType')}} :</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="VoucherType"
          :items="VoucherTypeOptions"
           :label="$t(`dashboard.all`)"

          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >

</v-autocomplete>
                    </div>
                  </div>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchLedger">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchLedger"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>


          </div>
      </div>
        </div>

 </div>


    </v-navigation-drawer>
       <!-- <div style="margin-bottom: -23px;

    margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px;margin-bottom:4px" > Ledger Statement</h4>
            </v-col>
          </v-row>
      </div> -->
        <v-card >
            <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:left;padding-left: 0px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"


                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >Ledger Statement </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#546E7A;padding: 1px;">
                </v-card-actions>
        <div  class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 2px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right: 5px;
    padding-left: 5px;">
       <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
         <b>{{LedgerName}}</b></span>

        </v-col>
         <v-col cols="12" style="text-align:center;margin-top:-5px
    ">
    <span style="font-size: 12px;color:#FFF;"> <b>{{DateFrom}} To {{DateTo}}</b></span>


        </v-col>
      </v-row>
      <v-row no-gutters  style="margin-bottom:-6px !important"> 
        <v-col cols="4" style="text-align:left;
    ">
 <label v-if="OpeningBalance > 0" style="font-size:12px;color:rgb(255, 167, 38);">{{$t('ecommerce.OpeningBalance')}}<br><span style="color:#69F0AE"><b>{{FormatewithDecimalPlaces(OpeningBalance)}}</b></span></label>
  <label v-if="OpeningBalance <= 0" style="font-size:12px;color:rgb(255, 167, 38);">{{$t('ecommerce.OpeningBalance')}}<br><span style="color:#F44336"><b>{{FormatewithDecimalPlaces(OpeningBalance)}}</b></span></label>

        </v-col>
        <v-col cols="4" style="text-align:center;
    ">

  <label style="font-size:12px;color:rgb(255, 167, 38);">{{$t(`ecommerce.CurrentTotal`)}}<br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(CurrentTotal)}}</b></span></label>
        </v-col>
         <v-col cols="4" style="text-align:right;
    ">
                <label v-if="ClosingBalance > 0" style="font-size:12px;color:rgb(255, 167, 38);">{{$t('ecommerce.ClosingBalance')}}<br><span style="color:#69F0AE"><b>{{FormatewithDecimalPlaces(ClosingBalance)}}</b></span></label>
                <label v-if="ClosingBalance < 0" style="font-size:12px;color:rgb(255, 167, 38);"> {{$t('ecommerce.ClosingBalance')}}<br><span style="color:#F44336"><b>{{FormatewithDecimalPlaces(ClosingBalance)}}</b></span></label>
        </v-col>
      </v-row>
  
         <!-- <table style="width:100%">
          <tr>
            <td style="width:100%;padding-top:7px;text-align:center" >
               <span style="color:#FFF;font-size: 15px;text-align:right;">
       <b>{{LedgerName}}</b></span>
            </td>
          </tr>
          <tr>
             <td style="width:100%;padding-top:0px;text-align:center" >
               <span style="color:#FFF;font-size: 15px;text-align:right;font-weight:400">
       <b>{{DateFrom}} To {{DateTo}}</b></span>
            </td>
          </tr>
           <tr>
             <td style="width:35%;padding-top:7px;text-align:left" class="opening" v-if="OpeningBalance > 0">
                <label style="font-size:14px;color:#FFA726;">{{$t('ecommerce.OpeningBalance')}}<br><span style="color:green"><b>{{FormatewithDecimalPlaces(OpeningBalance)}}</b></span></label>
             </td>
              <td style="width:35%;padding-top:7px;text-align:left" class="opening" v-if="OpeningBalance <= 0">
                <label style="font-size:14px;color:#FFA726;">{{$t('ecommerce.OpeningBalance')}}<br><span style="color:red"><b>{{FormatewithDecimalPlaces(OpeningBalance)}}</b></span></label>
             </td>
             <td  style="width:30%;text-align:center;padding-top:7px;text-align:center" >
               <label style="font-size:14px;color:#FFA726;">{{$t(`ecommerce.CurrentTotal`)}}<br><span style="color:#FFF"><b>{{FormatewithDecimalPlaces(CurrentTotal)}}</b></span></label>

             </td>
              <td style="width:35%;padding-top:7px;;text-align:right" class="closing" v-if="ClosingBalance > 0">
                <label style="font-size:14px;color:#FFA726;">{{$t('ecommerce.ClosingBalance')}}<br><span style="color:green"><b>{{FormatewithDecimalPlaces(ClosingBalance)}}</b></span></label>
             </td>

              <td style="width:35%;padding-top:7px;text-align:right" class="closing" v-if="ClosingBalance < 0">
                <label style="font-size:14px;color:#FFA726;">{{$t('ecommerce.ClosingBalance')}}<br><span style="color:red"><b>{{FormatewithDecimalPlaces(ClosingBalance)}}</b></span></label>
             </td>
           </tr>
         </table> -->

      

        </div>
        <div  v-if="NoContent">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important; padding-left: 6px;padding-right:6px;padding-top: 4px;">
    <v-expansion-panel
          v-for="(item,i) in Statements"
       :key="i"  style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:0px !important;padding-left:0px !important;    padding-top: 10px;
    padding-bottom: 10px; " >
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{ item.Particulars }}</label>

      </v-col>

      <v-col
        cols="6"
        sm="6"
          class="location"  
      >

      <label style="font-weight:100;padding-left:12px"><v-icon style="font-size: 20px;
    padding-bottom: 3px;">mdi-calendar-range </v-icon></label><label style="font-weight: 500 !important;">{{ FormatDate(item.EntryDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
      >
       <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:2px">mdi-cash </v-icon>
        <label style="font-size:15px;font-weight: 500 !important" :id="'Amount'+i">{{ FormatewithDecimalPlaces(item.DisplayAmount) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
          <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{$t(`menu.VoucherNo`)}}</label>
      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
        class="locationnew"
      >
          <label style="font-weight: 200">{{$t(`menu.VoucherType`)}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
          <label style="font-weight: 550">{{ item.VoucherType }}</label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
  <label style="font-weight: 200">{{$t('menu.Balance')}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
  <label style="font-weight: 550">{{FormatewithDecimalPlaces(item.Balance)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "
        class="locationnew"
        
      >
 <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditVoucher(i)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>

      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>

    <!-- <div class="mobile-view">
     <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px" class="englishde">
            <v-col cols="12" style="padding-top: 0px;">
              <h5 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > <label >{{LedgerName}}</label> </h5>
           {{DateFrom}} To {{DateTo}}
            </v-col>
         </v-row>
           <v-row style="padding-top:0px" class="arabicde">
            <v-col cols="12" style="padding-top: 0px;padding-bottom:0px !important">

              <h5 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " >{{LedgerName}} </h5>
            </v-col>
           </v-row>
           <v-row style="padding-top:0px; padding-right: 34px;" class="arabicde">
            <v-col cols="5" style="padding-top: 0px;text-align:left;padding-left:0px !important">
              {{DateFrom}}
            </v-col>
              <v-col cols="1" style="padding-top: 0px;text-align:center;padding-right: 12px;">
            ل
            </v-col>
              <v-col cols="6" style="padding-top: 0px;text-align:right; padding-right: 0px;">
                {{DateTo}}
            </v-col>
          </v-row>
      </div>
          <div  v-if="NoContent">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>

        <v-expansion-panels focusable>
    <v-expansion-panel
     v-for="(item,i) in Statements"
       :key="i"
    >
      <v-expansion-panel-header>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >
<label>{{ item.Particulars }}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
        class="location"
      >

      <label>{{ FormatDate(item.EntryDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
      <label style="font-size:15px" :id="'Amount'+i"><b>{{ FormatewithDecimalPlaces(item.DisplayAmount) }}</b></label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label>{{$t(`menu.VoucherNo`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
            <label>{{ item.ReferNo }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        class="location"
      >
     <label >{{$t(`menu.VoucherType`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
         <label>{{ item.VoucherType }}</label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        class="location"
      >
     <label >{{$t('menu.Balance')}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
     class="locationnew"
      >
         <label>{{FormatewithDecimalPlaces(item.Balance)}}</label>
      </v-col>
   <v-col
          cols="12"
          sm="12"
       class="locationnew"
        >
     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditVoucher(i)" ><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
    </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
    </div> -->
        </v-card>


<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <!-- <v-card-title style="color:rgb(238,68,170)">

          </v-card-title> -->
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
               <!-- <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:center">
     <label style="color: rgb(120, 144, 156);font-size:14px"><b>{{ $t(`email.invoice`) }} # :</b> </label>
     <label style="color:rgb(238, 68, 170);font-size:14px;padding-left:2px !important"><b>{{ReferNo}}</b></label>

     </v-col>
     </v-row>
     <v-divider></v-divider> -->

                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>
               <!--   <v-col cols="4" sm="4" md="4" style="padding-top:10px;padding-bottom:0px;text-align:center" >
               <span >
            <v-btn color="#42A5F5" fab small dark   @click="ShareSale()">
            <v-icon>share</v-icon>
            </v-btn>
  </span>

               </v-col> -->
                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintStatement()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
          <!-- <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="ShareSale()"
            >
              Share
            </v-btn>
             <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintSale()"
            >
              Print
            </v-btn>
          </v-card-actions> -->
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
export default {
  components: {

  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      VoucherTypeOptions : ['All','Purchase','Purchase Return','Sales','Sales Return','Ledger','Receipt','Payment','Jounal','Contra','Debit Note','Credit Note','Stock Transfer IN','Stock Transfer Out'],
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      right: true,
      Statements:[],
      vm : [],
      Branch:'',
      TotalLedgers:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedVoucherType:[],
      NoContent:true,
      IsVoucherTypeShow:false,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
       isLoading : false,
       LedgerName : localStorage.getItem('LedgerStmntName'),
       OpeningBalance:0,
       CurrentTotal:0,
       ClosingBalance:0,
       DateFrom:new Date().toISOString().substr(0, 10),
       DateTo:new Date().toISOString().substr(0, 10),
       VoucherType:'All',
       BranchCode:localStorage.getItem('BranchCode'),
       selectedVoucherType:[],
       Loaderdialog:false,
       Branch:'',
        Papersize : localStorage.getItem('Papersize'),
     PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
      PrintModal : false,
    PapersizeError : false,
    PrinterError : false,
     IsShowHeaderLogo : 0,
    IsShowFooterLogo:0,
     Settings: JSON.parse(localStorage.getItem("Settings")),
    }
  },
  computed: {
    likesAllVoucherType () {
      return this.selectedVoucherType.length === this.VoucherTypeOptions.length
    },
    likesSomeVoucherType () {
      return this.selectedVoucherType.length > 0 && !this.likesAllVoucherType
    },


    iconAllVoucherType () {
      if (this.likesAllVoucherType) return 'mdi-close-box'
      if (this.likesSomeVoucherType) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    this.$root.$children[0].scroll=false;
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','LedgerStatement')
    localStorage.setItem('ActivePage','LedgerStatement')
    localStorage.setItem('ActiveRoute','/dashboard/registers/LedgerStatement')
   localStorage.removeItem('VoucherUpdated')
   window.addEventListener('scroll', this.scrollFunction);
    this.BasicSettings()
    this.SearchLedger()

    this.value = new Date()
   /*  this.DateFrom= this.GetTodaysDate(this.value)
    this.DateTo = this.GetTodaysDate(this.value) */
    if (this.Statements.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
     window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

    this.isHold = localStorage.getItem('LedgerRegHolding')
    if(this.isHold === 'true')
    {
        this.GetLedgers()
    }

  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

      scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {
      this.VoucherTypeLength = this.VoucherTypeOptions.length
      if (this.VoucherTypeLength > 1)
        this.IsVoucherTypeShow = true

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true



      if (this.Settings.ShowHeaderMobilePrint === "True") {
        this.IsShowHeaderLogo = 1;
      } else {
        this.IsShowHeaderLogo = 0;
      }
      if (this.Settings.ShowFooterMobilePrint === "True") {
        this.IsShowFooterLogo = 1;
      } else {
        this.IsShowFooterLogo = 0;
      }
    },
    toggleAllVoucherType () {
      this.$nextTick(() => {
        if (this.likesAllVoucherType) {
          this.selectedVoucherType = []
        } else {
          this.selectedVoucherType = this.VoucherTypeOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalLedgers(Statements)
    {
      this.CurrentTotal = 0
      this.TotalLedgers = Statements.length
      for (this.i = 0; this.i < Statements.length; this.i++)
      {
        this.CurrentTotal += (Statements[this.i].DisplayAmount)
      }
    },
    GetOpeningBalance()
    {
      axios.get ( this.bURL + "Ledger/GetLedgerOpeningBalanceBy?LedgerName="+this.LedgerName+"&DateTo="+this.DateFrom+"&VoucherType="+this.VoucherType+"&BranchCode="+this.Branch)
        .then((response)  =>  {
         this.OpeningBalance = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
     GetClosingBalance()
    {
       let today = new Date(this.DateTo)
      let Yesterday =  new Date(this.DateTo)
     Yesterday.setDate(today.getDate() + 1);
    this.DateToNew = this.FormatDate(new Date(Yesterday).toISOString());
      axios.get ( this.bURL + "Ledger/GetLedgerOpeningBalanceBy?LedgerName="+this.LedgerName+"&DateTo="+this.DateToNew+"&VoucherType="+this.VoucherType+"&BranchCode="+this.Branch)
        .then((response)  =>  {
         this.ClosingBalance = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    SearchLedger()
    {
      this.Branch = this.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
       this.encodedLedgerNameNew =  encodeURIComponent(this.LedgerName)
      axios.get ( this.bURL +"Ledger/GetLedgerStatementWithBalance?LedgerName="+this.encodedLedgerNameNew+"&DateFrom="+this.DateFrom+"&DateTo="+this.DateTo+"&VoucherType="+this.VoucherType+"&BranchCode="+this.Branch+"&Currency=Primary&ShowVoucherDescription=False&ShowTransactionBalance=True&ReconcileStatus=F")
        .then((response)  =>  {
          this.Statements = response.data
          if (this.Statements.length === 0)
          {
            this.NoContent = true,
            this.isLoading = false
          }
          else {
            this.NoContent = false,
            this.isLoading = false
          }
          this.GetTotalLedgers(this.Statements)

          this.SetValuesToLS(this.VoucherType,this.DateFrom,this.DateTo,this.Branch)
          this.right = false,
          this.isLoading = false
            setTimeout(() => {
     this.SetColor()
  }, 500)
      ;
        }, (error)  =>  {
          console.log(error)
        })
        this.GetOpeningBalance()
        this.GetClosingBalance()
    },
   
    SetValuesToLS(VoucherType,DateFrom,DateTo,bCode)
    {
        localStorage.setItem('LedgerRegHolding',true)
        localStorage.setItem('LedgerVoucherType',VoucherType);
        localStorage.setItem('LedgerbCode',bCode);
        localStorage.setItem('LedgerDateFrom',DateFrom);
        localStorage.setItem('LedgerDateTo',DateTo);
    },
    GetLedgers()
    {
      this.VoucherType = localStorage.getItem('LedgerVoucherType')
      this.Branch = localStorage.getItem('LedgerbCode')
      this.DateFrom = localStorage.getItem('LedgerDateFrom')
      this.DateTo = localStorage.getItem('LedgerDateTo')
      console.log(this.DateFrom)
       console.log(this.DateTo)
       console.log(this.VoucherType)
      axios.get ( this.bURL +"Ledger/GetLedgerStatementWithBalance?LedgerName="+this.LedgerName+"&DateFrom="+this.DateFrom+"&DateTo="+this.DateTo+"&VoucherType="+this.VoucherType+"&BranchCode="+this.Branch+"&Currency=Primary&ShowVoucherDescription=False&ShowTransactionBalance=True&ReconcileStatus=F")
        .then((response)  =>  {
          this.Statements = response.data
          if (this.Statements.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalLedgers(this.Statements)

          this.SetValuesToLS(this.VoucherType,this.DateFrom,this.DateTo,this.Branch)
          this.right = false


           setTimeout(() => {
     this.SetColor()
  }, 500)
      ;
        }, (error)  =>  {
          console.log(error)
        })
         this.GetOpeningBalance()
        this.GetClosingBalance()

  },
  SetColor()
  {
    for(this.i = 0;this.i<this.Statements.length;this.i++)
    {
      this.id='Amount' + this.i
      if(this.Statements[this.i].DisplayAmount > 0)
      {
        document.getElementById(this.id).style.color = "#2E7D32";
      }
      else{
        document.getElementById(this.id).style.color = "#C62828";
      }
    }
  },

      PrintStatement()
    {
    if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }
    else{
       this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
    /* if(this.Printer === "" || this.Printer === null)
    {
      this.PrinterError = true
      return
    }
    else
    { */
      if (this.Statements.length > 0)
      {
    //this.Printer = localStorage.getItem('Printer')
       if(this.Printer === 'Bluetooth')
        {
           if( this.BranchCode === "")
           {
             this.BranchCode = "All"
           }
          this.Loaderdialog = true
           this.url = this.bURL + 'Print/LedgerStatementNativeFormat?LedgerName=' + this.LedgerName + '&VoucherType=' + this.VoucherType +'&DateFrom=' +this.DateFrom+'&DateTo=' + this.DateTo + '&BranchCode=' + this.BranchCode+ '&CurrencySymbol=Primary&PapperSize=' + this.PapersizeNo
           this.PapperSizeForPrint = 0
          if(this.PapersizeNo === "110MM")
          {
            this.PapperSizeForPrint = 110
          }
          else
          {
            this.PapperSizeForPrint = 80
          }
            this.ReceiptModal = false
            this.Loaderdialog = false
            this.BarcodeContent = 1000000000000 + this.SaleNo
             axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.PapperSizeForPrint,"0","null","Ledger","null")
              },
              error => {
                console.log(error);
              }
             );



        }
        else
        {
          this.Loaderdialog = true
        axios.get(this.bURL + 'Print/LedgerStatement?LedgerName=' + this.LedgerName + '&VoucherType='+this.VoucherType+ '&DateFrom=' + this.DateFrom +'&DateTo='+ this.DateTo + '&BranchCode=' + this.BranchCode+ '&CurrencySymbol=Primary'+'&OpenBal=' + this.OpeningBalance +'&CloseBal=' + this.ClosingBalance )
          .then((response)  =>  {
            this.Loaderdialog = false
            this.IsPrintedSale = true
            this.url = this.bURLPrint + response.data

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }

          }, (error)  =>  {
            console.log(error)
          })
        }
      }
      else
      {
         this.SnackbarMessege = "No Ledger to print"
        this.snackbar = true
      }
    }
    //}
    },
      SetDefaultPapersize(Papersize)
      {
        localStorage.setItem('Papersize',Papersize)
        this.PapersizeError = false
      },
      SetDefaultPrinter()
      {
        localStorage.setItem('Printer',this.Printer)
        this.PapersizeError = false
      },

  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
  EditVoucher(Editid)
  {
      this.SwitchToLocation(this.Statements[Editid].VoucherType,this.Statements[Editid].VoucherNo)
  },
   SwitchToLocation(VoucherType,VoucherNo)
  {
    this.TempType = VoucherType.split(" (")

      if(this.TempType[0] === "Purchase")
        {
            VoucherType="Purchase";
        }
        if(this.TempType[0] ==="Sales")
        {
            VoucherType="Sales";
        }
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
         localStorage.setItem('PreviousRoute',this.ActiveRoute)
    switch (VoucherType) {

                case "Order":
                  localStorage.removeItem('IsHoldingOrder')
                  localStorage.removeItem('OrderObject')
                  localStorage.setItem('OrderId',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/order_form')
                  this.$router.push('/dashboard/order_form')
                  break;
                case "Order Form":
                  localStorage.removeItem('IsHoldingOrder')
                  localStorage.removeItem('OrderObject')
                  localStorage.setItem('OrderId',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/order_form')
                  this.$router.push('/dashboard/order_form')
                  break;
                case "Receipt":
                  localStorage.removeItem('IsHoldingReceipt')
                  localStorage.removeItem('ReceiptObject')
                  localStorage.setItem('ReceiptNo',VoucherNo);
                   localStorage.setItem('ActiveRoute','/dashboard/Vouchers/reciept')
                  this.$router.push('/dashboard/Vouchers/reciept')
                  break;
                case "Payment":
                   localStorage.removeItem('IsHoldingPayment')
                  localStorage.removeItem('PaymentObject')
                  localStorage.setItem('PaymentNo',VoucherNo);
                  
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/payment')
                  this.$router.push('/dashboard/Vouchers/payment')
                  break;
                case "Quotation":
                  localStorage.removeItem('IsHoldingQuotation')
                  localStorage.removeItem('QuotationObject')
                  localStorage.setItem('QuotationNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/quotation')
                 this.$router.push('/dashboard/Vouchers/quotation')
                  break;
                case "Delivery Note":
                  localStorage.removeItem('IsHoldingQuotation')
                  localStorage.removeItem('QuotationObject')
                  localStorage.setItem('DeliveryNoteNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/deliveryNote')
                  this.$router.push('/dashboard/Vouchers/deliveryNote')
                  break;
                case "Purchase":
                  localStorage.removeItem('IsHoldingPurchase')
                  localStorage.removeItem('PurchaseObject')
                  localStorage.setItem('PurchaseNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/purchase')
                 this.$router.push('/dashboard/Vouchers/purchase')
                  break;
                case "Goods Receipt":
                   localStorage.removeItem('IsHoldingGoodsReceipt')
                  localStorage.removeItem('GoodsReceiptObject')
                  localStorage.setItem('GoodsReceiptNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/goodsReceipt')
                 this.$router.push('/dashboard/Vouchers/goodsReceipt')
                  break;
                case "Contra":
                    localStorage.removeItem('IsHoldingContra')
                  localStorage.removeItem('ContraObject')
                  localStorage.setItem('ContraNo',VoucherNo);
                  localStorage.setItem('ActiveRoute','/dashboard/Vouchers/contra')
                  this.$router.push('/dashboard/Vouchers/contra')
                  break;
                  case "Sales":
                    localStorage.removeItem('SaleNo')
                    localStorage.removeItem('QuotationNo')
                    localStorage.removeItem('IsHoldingSale')
                    localStorage.removeItem('SalesObject')
                    localStorage.removeItem('SalesCustomerName')
                    localStorage.removeItem('IsUpdateCustomerVisit')
                    localStorage.removeItem('SalesDetailsFromPhysicalStock')
                    localStorage.removeItem('SoldItems')
                    localStorage.removeItem('OrderDeliveryQuantities')
                    localStorage.removeItem('OldOrderDeliveryQuantities')
                    localStorage.removeItem('DeliveredItems')
                    localStorage.removeItem('ReturnItems')
                    localStorage.removeItem('DamagedItems')
                    localStorage.removeItem('SoldLedgers')
                    localStorage.setItem('SaleNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
                    this.$router.push('/dashboard/Vouchers/sales')
                    break;
                  case "Journal":
                    localStorage.removeItem('IsHoldingSale')
                    localStorage.removeItem('SaleObject')
                    localStorage.setItem('JournalNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/journal')
                    this.$router.push('/dashboard/Vouchers/journal')
                  break;
                    case "Sales Return":
                    localStorage.removeItem('IsHoldingSalesReturn')
                    localStorage.removeItem('SalesReturnObject')
                    localStorage.setItem('SalesReturnNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/salesReturn')
                    this.$router.push('/dashboard/Vouchers/salesReturn')
                    break;
                  case "Debit Note":
                    localStorage.removeItem('IsHoldingDebitNoteReturn')
                    localStorage.removeItem('DebitNoteObject')
                    localStorage.setItem('DebitNoteNo',VoucherNo);
                    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/DebitNote')
                    this.$router.push('/dashboard/Vouchers/DebitNote')
                    break;
                  case "Credit Note":
                    localStorage.removeItem('IsHoldingCreditNoteReturn')
                    localStorage.removeItem('CreditNoteObject')
                    localStorage.setItem('CreditNoteNo',VoucherNo);
                     localStorage.setItem('ActiveRoute','/dashboard/Vouchers/CreditNote')
                    this.$router.push('/dashboard/Vouchers/CreditNote')
                    break;
                  case "Stock Transfer":
                      localStorage.removeItem('IsHoldingStockTransfer')
                      localStorage.removeItem('StockTransferObject')
                      localStorage.removeItem('StockTransferDetails')
                       localStorage.setItem('StockTransferNo',VoucherNo);
                       localStorage.setItem('ActiveRoute','/dashboard/vouchers/stockTransfer')
                      this.$router.push('/dashboard/vouchers/stockTransfer')
                    break;

            }

  },
  }
}
</script>
<style lang="scss" scoped>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
 z-index: 100000!important;
}
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 118px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}

.drawer-buttonnew {
  position: fixed;
  top: 65px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
<style>
.v-application--is-ltr .opening {
padding-left:10px !important;
text-align: left !important;
}
.v-application--is-rtl .opening{
    direction: rtl;
padding-right: 10px !important;
text-align: right !important;

}

.v-application--is-ltr .closing {
padding-right:10px !important;
text-align:right !important;
}
.v-application--is-rtl .closing{
    direction: rtl;
padding-left: 10px !important;
text-align: left !important;

}

</style>
