<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>

    </v-dialog>

       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0, 99, 145)"
      dark
      @click="right = true"
      style="  box-shadow: 1px 1px 18px rgb(0, 99, 145) !important;"
    >
      <v-icon >mdi-filter</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="310"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-1 " style="padding-left:25px">
        <div class="title" style="color:rgb(0 99 145)">{{$t(`dashboard.filter`)}}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider ></v-divider>

           <v-card >
           <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

                 <v-row>
                   <v-col class="slno" col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -15px;" >
 <label >{{$t(`menu.LedgerStatus`)}} :</label>
                      <br>
                     <v-autocomplete
            v-model="LedgerStatus"
            :items="StatusOptions"
            outlined
            dense

          ></v-autocomplete>
                   </v-col>

                 </v-row>


                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;  margin-bottom: -15px;">
                      <label for="frmdate">{{$t(`menu.LedgerGroup`)}} :</label>
                      <br>

                     <v-autocomplete
            v-model="GroupName"
            :items="GroupNameOptions"
            outlined
            dense
          ></v-autocomplete>
                   </v-col>
                  </v-row>

          <v-row >
           <v-col class="slno" cols="12" md="12" style="padding-bottom: 2px;padding-top: 1px;">
               <input type="checkbox"  v-model="IsShowSubgroup" style="padding-left:20px"> {{$t(`menu.Showledgerinsubgroupalso`)}}
             </v-col>


          </v-row>
          <v-row >
           <v-col cols="12" md="12"  >
               <v-divider></v-divider>
             </v-col>


          </v-row>

                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="text-align:right;padding-bottom:0px !important;padding-top:0px!important;">
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchLedgers"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
           {{$t(`dashboard.search`)}}
            </v-btn>

                   </v-col>
                   </v-row>


             </div>

          </v-card-text>

        </v-card>


    </v-navigation-drawer>
             <v-card >
            <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:right;padding-left: 10px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"


                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >{{ $t(`menu.LedgerRegister`) }}</b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
                  <v-row no-gutters >
                <!-- <v-col cols="10" sm="11" md="11" class="no-p" style="padding-bottom:0px !important;margin-bottom: -7px;" >
      <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
          v-model="Ledgersearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           ></v-text-field>


                </v-col>
                 <v-col cols="2" sm="1" md="1" class="no-p"  style="text-align:center;padding-top:3px !important;padding-bottom:0px !important;margin-bottom: -7px;">
                    <v-btn style="height:33px !important;width:33px !important" color="#006400" fab small dark    @click="OpenLedgerProfile">
            <v-icon style="margin-left:-1px !important; height: 20px !important;font-size: 20px !important;width: 20px !important;">add</v-icon>
            </v-btn>
                 </v-col> -->
                  <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
          <v-text-field
                type="text"
              :placeholder="$t('dashboard.Searchhere')"
              v-model="Ledgersearch"
               solo
            rounded
            dense
            append-icon="mdi-magnify"
               >

                <template v-slot:append-outer>

                              <v-icon
                                color="#006400"
                                style="font-size: 35px !important;padding-left:5px !important;    margin-left: -7px;
    padding-right: -4px;
    margin-right: 6px;margin-top:-3px"
                                @click="OpenLedgerProfile"
                                >mdi-plus-circle</v-icon
                              >
                            </template>
              </v-text-field>
               </v-col>

            </v-row>
            <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
          <v-expansion-panels focusable style="border-radius:0px !important;padding-left: 8px;
    padding-right: 8px;
">
      <v-expansion-panel
        v-for="(item, i) in resultQuery"
        :key="i"
                style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
      >
        <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
        <v-row no-gutters>

        <v-col
          cols="12"
          sm="12"
           style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;font-size:12px"
        >
  <label>{{ item.LedgerName }} </label>
        </v-col>

        <v-col
          cols="6"
          sm="6"
           class="location"
        >

        <label style="font-weight: 500 !important;font-size:12px">{{ item.Description }}</label>
        </v-col>
        <v-col
          cols="6"
          sm="6"
         class="locationnew"
        >
          <label style="font-weight:500;font-size:12px">{{ item.GroupName }} </label>
        </v-col>

      </v-row>
        </v-expansion-panel-header>
        <v-expansion-panel-content id="innerExPansales">
        <v-row no-gutters>
        <v-col
          cols="6"
          sm="6"
          style="padding-top: 7px;"
           class="location"
        >
        <label style="font-weight: 200">{{ $t(`menu.OpeningBalance`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.OpenBal }}</label>
        </v-col>
        <v-col
          cols="6"
          sm="6"
         style="padding-top: 7px;"
           class="locationnew"
        >

        <label style="font-weight: 200">{{ $t(`menu.CurrentBalance`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.CurBal }}</label>
        </v-col>
       <v-col
          cols="6"
          sm="6"
          style="padding-top: 7px;"
          @click="GetLedgerStmnt(item.LedgerName)"
          class="location"
        >

       <!-- <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left:18px;">fas fa-file-invoice</v-icon></v-btn> -->
                 <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 49px;height: 24px;    min-width: 49px;
    text-align: center;
    padding-left: 29px;" @click="EditLedger(item.LedgerName)"><v-icon center style="font-size:18px !important" >fas fa-file-invoice</v-icon></v-btn>
        </v-col>
        <v-col
          cols="6"
          sm="6"
          style="padding-top: 7px; "

          class="locationnew"
        >

          <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 49px;height: 24px;    min-width: 49px;
    text-align: center;
    padding-left: 29px;" @click="EditLedger(item.LedgerName)"><v-icon center style="font-size:20px !important" >fas fa-eye</v-icon></v-btn>
        </v-col>

      </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
          </div>


        <!-- <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in resultQuery"
      :key="i"
    >
      <v-expansion-panel-header>
        <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 12px;">{{item.LedgerName}}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 12px;">{{ item.Description }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content

      >
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label>{{$t(`menu.Group`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
           <label>{{item.GroupName}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="location"
      >
      <label >{{$t(`menu.OpeningBalance`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="locationnew"
      >
        <label>{{item.OpenBal}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 0px"
        class="location"
      >
      <label >{{$t(`menu.CurrentBalance`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="locationnew"
      >
        <label>{{item.CurBal}}</label>
      </v-col>

 <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        @click="GetLedgerStmnt(item.LedgerName)"
        class="location"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left:18px;">fas fa-file-invoice</v-icon></v-btn>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "

        class="locationnew"
      >

        <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditLedger(item.LedgerName)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>

    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels> -->



  </v-card>
    </div>

    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
      isLoading : false,
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      LedgerObject:localStorage.getItem('LedgerObject')?JSON.parse(localStorage.getItem('LedgerObject')):[],
      Ledgersearch:'',
      right: false,
      GroupNameOptions:[],
      StatusOptions:['Inactive Ledgers','Active Ledgers','All Ledgers'],
      vm : [],
      Branch:'',
      TotalLedger:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
     IsShowSubgroup:true
    }
  },
  computed: {

     resultQuery() {
      this.LedgersNew = []
    if(this.Ledgersearch !== undefined)
    {
       this.LedgersNew = this.LedgerObject.filter(post => {
        return post.LedgerName.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()); /* ||
        post.LedgerName.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase()); */
      })
      if(this.LedgersNew.length > 100)
      {
         this.LedgersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LedgersNewReturn.push(this.LedgersNew[this.i])

        }
        return this.LedgersNewReturn
      }
      else{
         return this.LedgersNew
      }
    }
    else{
      if(this.LedgerObject.length > 100)
      {
         this.LedgersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LedgersNewReturn.push(this.Ledgers[this.i])

        }
        return this.LedgersNewReturn
      }
      else{
         return this.LedgerObject
      }
    }
    },

  },
  mounted() {

      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','LedgerRegister')
   localStorage.setItem('ActivePage','LedgerRegister')
   localStorage.setItem('ActiveRoute','/dashboard/registers/ledger_reg')
   localStorage.removeItem('VoucherUpdated')

   this.GetLedgers()
   this.GetLedgerGroups()
      this.vm.LedgerStatus ='Active Ledgers'
      this.vm.Recursive = false
    this.BasicSettings()

    if (this.LedgerObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
           this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

        this.LedgerStatus = "Active Ledgers"
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetLedgers()
    {
        this.LedgerObject = []
        this.UserType =localStorage.getItem('UserType')
         this.Loaderdialog = true
        axios.get ( this.bURL + "Ledger/GetLedgersBy?GroupName=All&Recursive=true&IsWithGlobal=true&BranchCode=All&UserRole="+this.UserType+"&IsActive=1")
          .then((response)  =>  {
            this.LedgerObject = response.data
             this.Loaderdialog = false
          }, (error)  =>  {
            console.log(error)
          })

    },
     SearchLedgers()
    {
        this.LedgerObject = []
        this.UserType =localStorage.getItem('UserType')
         if(this.LedgerStatus === "Inactive Ledgers")
         {
             this.Status = 0
         }
         else if(this.LedgerStatus === "Active Ledgers")
         {
             this.Status = 1
         }
          else if(this.LedgerStatus === "All Ledgers")
         {
             this.Status = 2
         }
         this.GroupName = this.GroupName?this.GroupName:"All"

         this.Loaderdialog = true
        axios.get ( this.bURL + "Ledger/GetLedgersBy?GroupName="+this.GroupName+"&Recursive=true&IsWithGlobal=true&BranchCode=All&UserRole="+this.UserType+"&IsActive=" + this.Status)
          .then((response)  =>  {
            this.LedgerObject = response.data
             this.Loaderdialog = false
             this.right = false
          }, (error)  =>  {
            console.log(error)
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalLedger(LedgerObject)
    {
      this.TotalAmount = 0
      this.TotalLedger = LedgerObject.length
      for (this.i = 0; this.i < LedgerObject.length; this.i++)
      {
        this.TotalAmount += LedgerObject[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true
            }
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditLedger(LedgerName)
    {
        localStorage.setItem('LedgerName',LedgerName);
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/ledger')
         this.$router.push('/dashboard/masters/ledger')
    },
    OpenLedgerProfile()
    {
        localStorage.removeItem('LedgerName')
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/ledger')
        this.$router.push('/dashboard/masters/ledger')

    },
    GetLedgerStmnt(LedgerName)
    {
       localStorage.removeItem('LedgerRegHolding')
        localStorage.removeItem('LedgerVoucherType');
        localStorage.removeItem('LedgerbCode');
        localStorage.removeItem('LedgerDateFrom');
        localStorage.removeItem('LedgerDateTo');
      localStorage.setItem('LedgerStmntName',LedgerName);
         this.$router.push('/dashboard/registers/LedgerStatement')
    },
     GetLedgerGroups()
    {
       axios.get ( this.bURL + "Ledger/GetLedgerGroupNames")
        .then((response)  =>  {
         this.GroupNameOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
   },
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
 box-shadow: 1px 1px 18px rgb(0, 99, 145);

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
