<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
       
        <div  v-if="NoContent">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
     <div>
       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
  style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon >mdi-filter</v-icon>
    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
<div style="max-height:60vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">
             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
                 <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important" >
                     <label for="selectdatatype"   style="padding-left:10px !important">Project</label>
                     <br>
                                <v-autocomplete
          v-model="selectedProject"
          :items="ProjectOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-left:10px !important;padding-right:10px !important;padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleProject"
        >
          <v-list-item-action>
            <v-icon :color="selectedProject.length > 0 ? 'indigo darken-4' : ''">{{ iconProject }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllProject">
            <v-list-item-title> {{ $t(`menu.SelectedallProject`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.ProjectCount`) }} :{{ selectedProject.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeProject">
            <v-list-item-title>{{ $t(`menu.ProjectCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedProject.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>

                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important" >

                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                     <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="FromDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="FromDate"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                      outlined
          dense
                ></v-text-field>
              </template>
               <v-date-picker  v-model="FromDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="$refs.menu.save(FromDate)"> {{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>

            </v-menu>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              :return-value.sync="ToDate"
              transition="scale-transition"
              offset-y
              min-width="290px"

            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="ToDate"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                      outlined
          dense
                ></v-text-field>
              </template>
               <v-date-picker  v-model="ToDate" scrollable
               >
          <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu1 = false">{{ $t(`common.cancel`) }} </v-btn>
          <v-btn text color="primary"   @click="$refs.menu1.save(ToDate)"> {{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="ToDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>
                   </v-col>
                  </v-row>
                    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 7px !important">
                         <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                   </v-col>
                  </v-row>


                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPhysicalStock">View</button> -->

                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
@click="SearchMeterialIssues"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>

          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
@click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>
     </div>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
     <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " >Material Issue Register </h4>
            </v-col>
          </v-row>
      </div>
       <div v-show="showhide" v-if="!NoContent" class="total" >
          <v-row>
     <!-- <v-col
        cols="6"
        sm="6"
        style="text-align:left;padding-top: 10px;"
      >
       <v-btn style="    background-color: rgb(255 255 255)">
        <span style="font-size: 15px;color:rgb(0 53 94)"> {{ $t(`ecommerce.Amount`) }}: {{TotalAmount }}</span>


      </v-btn>
     </v-col> -->
     <v-col
        cols="12"
        sm="12"
        class="print"
        style="text-align:center;padding-top: 10px;"
      >
      <div>
      <v-btn style="    background-color: rgb(255 255 255)">
        <span style="color:rgb(0 53 94);font-size: 15px;">
       Total Material Issue  : {{MeterialIssues.length}}</span>

      </v-btn>
      </div>
     </v-col>
    </v-row>
      </div>
   <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in MeterialIssues"
      :key="i"
    >
      <v-expansion-panel-header>
        <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 12px;">Refer No</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 12px;"><b>{{item.ReferNo}}</b></label>
      </v-col>
           <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 12px;">Voucher Date</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 12px;"><b>{{FormatDate(item.VoucherDate)}}</b></label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content

      >
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label>Project Name</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
           <label><b>{{item.ProjectName}}</b></label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 0px"
        class="location"
      >
      <label >Remarks</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;"
       class="locationnew"
      >
        <label><b>{{item.Remarks}}</b></label>
      </v-col>

      <v-col
        cols="12"
        sm="12"
        style="padding-top: 4px;text-align:right "
        @click="EditMeterialIssues(item.VoucherID)"

      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left:18px">fas fa-eye</v-icon></v-btn>
      </v-col>

    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
      isLoading : false,
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      MeterialIssues:localStorage.getItem('MeterialIssues')?JSON.parse(localStorage.getItem('MeterialIssues')):[],
      MeterialIssuesearch:'',
      right: false,
      GroupNameOptions:[],
      ProjectOptions:['Inactive MeterialIssues','Active MeterialIssues','All MeterialIssues'],
      vm : [],
      Branch:'',
      TotalMeterialIssues:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
     IsShowSubgroup:true,
     MeterialIssues:[],
     ProjectOptions:[],
     selectedProject:[],
    }
  },
  computed: {

     resultQuery() {
      this.MeterialIssuesNew = []
    if(this.MeterialIssuesearch !== undefined)
    {
       this.MeterialIssuesNew = this.MeterialIssues.filter(post => {
        return post.MeterialIssuesName.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()); /* ||
        post.MeterialIssuesName.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.MeterialIssuesearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.MeterialIssuesearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.MeterialIssuesearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.MeterialIssuesearch.toString().toLowerCase()); */
      })
      if(this.MeterialIssuesNew.length > 100)
      {
         this.MeterialIssuesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.MeterialIssuesNewReturn.push(this.MeterialIssuesNew[this.i])

        }
        return this.MeterialIssuesNewReturn
      }
      else{
         return this.MeterialIssuesNew
      }
    }
    else{
      if(this.MeterialIssues.length > 100)
      {
         this.MeterialIssuesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.MeterialIssuesNewReturn.push(this.MeterialIssues[this.i])

        }
        return this.MeterialIssuesNewReturn
      }
      else{
         return this.MeterialIssues
      }
    }
    },
      likesAllProject () {
      return this.selectedProject.length === this.ProjectOptions.length
    },
    likesSomeProject () {
      return this.selectedProject.length > 0 && !this.likesAllProject
    },

     iconAllProject () {
      if (this.likesAllProject) return 'mdi-close-box'
      if (this.likesSomeProject) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','MeterialIssuesRegister')
   localStorage.setItem('ActivePage','MeterialIssuesRegister')
   localStorage.setItem('ActiveRoute','/dashboard/registers/MaterialIssueRegister')
   localStorage.removeItem('VoucherUpdated')
   this.BasicSettings()
   this.GetProjectNames()
    this.value = new Date()
  this.FromDate= this.GetTodaysDate(this.value)
  this.ToDate= this.GetTodaysDate(this.value)
   this.GetMeterialIssues()


    if (this.MeterialIssues.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
     toggleProject () {
      this.$nextTick(() => {
        if (this.likesAllProject) {
          this.selectedProject = []
        } else {
          this.selectedProject = this.ProjectOptions.slice()
        }
      })
    },
    BasicSettings()
    {
      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

        this.MeterialIssueProject = "Active MeterialIssues"
    },
     GetProjectNames()
  {
    this.ProjectOptions = []
    axios.get(this.bURL + 'Project/get')
          .then((response)  =>  {
            this.ProjectDetailedObject = response.data
            for(this.i=0;this.i<this.ProjectDetailedObject.length;this.i++)
            {
              this.ProjectOptions.push(this.ProjectDetailedObject[this.i].ProjectName)
            }
          }, (error)  =>  {
            console.log(error)
          })
  },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetMeterialIssues()
    {
        this.MeterialIssues = []
        this.BranchCode = this.BranchCode?this.BranchCode:""
         this.Loaderdialog = true
        axios.get ( this.bURL + "Project/GetProjectMaterialIssueSummary?Project=All&DateFrom="+this.FromDate+"&DateTo=" +this.ToDate +'&BranchCode=' +this.BranchCode)
          .then((response)  =>  {
            this.MeterialIssues = response.data
             if (this.MeterialIssues.length === 0)
            {
              this.NoContent = true
            }
            else {
              this.NoContent = false
            }
             this.Loaderdialog = false
          }, (error)  =>  {
            console.log(error)
          })

    },
     SearchMeterialIssues()
    {
        this.MeterialIssues = []

         this.BranchCode = this.BranchCode?this.BranchCode:""

         this.Projects = ''
         if(this.selectedProject.length === 0)
         {
           this.Projects = 'All'      
         }
         else if(this.selectedProject.length === this.ProjectOptions.length)
         {
           this.Projects = 'All'
         }
         else
         {
           this.Projects = this.GetsWithComma(this.selectedProject)
         }
         this.Loaderdialog = true
        axios.get ( this.bURL + "Project/GetProjectMaterialIssueSummary?Project="+this.Projects+"&DateFrom="+this.FromDate+"&DateTo=" +this.ToDate +'&BranchCode=' +this.BranchCode)
          .then((response)  =>  {
            this.MeterialIssues = response.data
             this.Loaderdialog = false
              if (this.MeterialIssues.length === 0)
            {
              this.NoContent = true
            }
            else {
              this.NoContent = false
            }
             this.right = false
          }, (error)  =>  {
            console.log(error)
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalMeterialIssues(MeterialIssues)
    {
      this.TotalAmount = 0
      this.TotalMeterialIssues = MeterialIssues.length
      for (this.i = 0; this.i < MeterialIssues.length; this.i++)
      {
        this.TotalAmount += MeterialIssues[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true
            }
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
     GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    EditMeterialIssues(MaterialId)
    {
        localStorage.setItem('MaterialId',MaterialId);
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ProjectMaterial')
         this.$router.push('/dashboard/Vouchers/ProjectMaterial')
    },
    OpenMeterialIssuesProfile()
    {
        localStorage.removeItem('MeterialIssuesName')
         this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ProjectMaterial')
        this.$router.push('/dashboard/Vouchers/ProjectMaterial')

    },
    GetMeterialIssuestmnt(MeterialIssuesName)
    {
       localStorage.removeItem('MeterialIssuesRegHolding')
        localStorage.removeItem('MeterialIssuesVoucherType');
        localStorage.removeItem('MeterialIssuesbCode');
        localStorage.removeItem('MeterialIssuesDateFrom');
        localStorage.removeItem('MeterialIssuesDateTo');
      localStorage.setItem('MeterialIssuestmntName',MeterialIssuesName);
         this.$router.push('/dashboard/registers/MeterialIssuestatement')
    },
     FormatDate(Value)
  {
   return  Value.split('T')[0]
  }

  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 145px;
  right: -20px;
  z-index: 6;
 box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
