<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

     

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
       <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
     <div class="container-fluid">
        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
      <div class="container-fluid" style="height: 82vh; overflow:scroll;overflow-x: hidden;">
          <div class="tab-content clearfix" style="padding-top:5px;">
          <div id="AllPayments" class="tab-pane active">
            <div >
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                     <div class="form-group" v-if="IsPaidByShow">
                    <label for="selectdatatype"> {{ $t(`menu.PaidBy`) }}</label>
                    <div class="form-group">
                          <v-autocomplete
          v-model="selectedPaidBy"
          :items="PaidByOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -28px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleAllPaidBy"
        >
          <v-list-item-action>
            <v-icon :color="selectedPaidBy.length > 0 ? 'indigo darken-4' : ''">{{ iconAllPaidBy }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPaidBy">
            <v-list-item-title>{{ $t(`menu.SelectedallPaidBy`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.PaidByCount`) }} :{{ selectedPaidBy.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePaidBy">
            <v-list-item-title>{{ $t(`menu.PaidByCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPaidBy.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                  </div>
                    <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchReceipt">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
   @click="SearchPayment"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
        </div>

 </div>


    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.PaymentRegister`) }} </h4>
            </v-col>
          </v-row>
      </div> -->
      <v-card>
  <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >{{ $t(`menu.PaymentRegister`) }} </b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
               <div  v-if="NoContent" style="padding-bottom:10px !important;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
         <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right:8px;padding-left:8px">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
       {{ $t(`menu.Payments`) }}: <b>{{ TotalPayments }}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>
      </div>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
     v-for="(item,i) in Payments"
       :key="i"
         style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
          <v-col
        cols="1"
        sm="1"
        style="text-align: left;"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 2px !important">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
        cols="11"
        sm="11"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
 <label>{{ item.Particulars }}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
      class="location"
      >

        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{ FormatDate(item.PaymentDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
          <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
        <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.PaidAmount) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
          class="location"
        style="padding-top: 4px;"
      >
        <label style="font-weight: 200">{{ $t(`menu.PaymentNo`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.PaymentNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         class="locationnew"
        style="padding-top: 4px;"
      >

                 <label style="font-weight: 200">{{ $t(`menu.PaidBy`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.PaidBy }}</label>
      </v-col>
       <v-col
        cols="10"
        sm="10"
            class="location"
        style="padding-top: 4px;"
      >
          <label style="font-weight: 200">{{ $t(`menu.FromAccount`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.PaidFrom }}</label>
      </v-col>
      <v-col
        cols="2"
        sm="2"
       class="locationnew"
        style="padding-top: 4px;"
      >
     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditPayment(item.PaymentNo)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
      </v-card>
      <ReceivedBy/>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import ReceivedBy from '../../pages/ApiServices/ReceivedBy'
import de from '../../translations/de'
export default {
  components: {
    ReceivedBy
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      PaidByOptions : JSON.parse(localStorage.getItem('ReceivedBy')),
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      right: true,
      Payments:[],
      vm : [],
      Branch:'',
      TotalPayments:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedPaidBy:[],
      NoContent:true,
      IsPaidByShow:false,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
      isLoading : false,
    }
  },
  computed: {
    likesAllPaidBy () {
      return this.selectedPaidBy.length === this.PaidByOptions.length
    },
    likesSomePaidBy () {
      return this.selectedPaidBy.length > 0 && !this.likesAllPaidBy
    },


    iconAllPaidBy () {
      if (this.likesAllPaidBy) return 'mdi-close-box'
      if (this.likesSomePaidBy) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },


  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','PaymentRegister')
    localStorage.setItem('ActivePage','PaymentRegister')
    localStorage.setItem('ActiveRoute','/dashboard/payment_reg')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
    this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Payments.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('PaymentRegHolding')
    if(this.isHold === 'true')
    {
        this.GetPayments()
    }
    else{
      this.SearchPayment()
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
      this.PaidByLength = this.PaidByOptions.length
      if (this.PaidByLength > 1)
      {
        this.selectedPaidBy = this.PaidByOptions
      }
      this.IsPaidByShow = true
      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },
    toggleAllPaidBy () {
      this.$nextTick(() => {
        if (this.likesAllPaidBy) {
          this.selectedPaidBy = []
        } else {
          this.selectedPaidBy = this.PaidByOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
     GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(',')

      return values
    },
    GetTotalPayments(Payments)
    {
      this.TotalAmount = 0
      this.TotalPayments = Payments.length
      for (this.i = 0; this.i < Payments.length; this.i++)
      {
        this.TotalAmount += Payments[this.i].PaidAmount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchPayment()
    {
     if (this.selectedPaidBy.length > 0)
      {
        this.PaidBy = this.GetsWithComma(this.selectedPaidBy)
      }
      else {
          this.PaidBy = this.GetsWithComma(this.PaidByOptions)
      }
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
      this.isLoading = true
      axios.get ( this.bURL + 'Payment/GetPaymentSummary?Payers='+ this.PaidBy+'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate + '&CrLedger=All' + '&BranchCode=' + this.Branch)
        .then((response)  =>  {
          this.Payments = response.data
          if (this.Payments.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.SetValuesToLS(this.PaidBy,this.Branch,this.vm.FromDate,this.vm.ToDate,)
          this.GetTotalPayments(this.Payments)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditPayment(PaymentNo)
    {
      localStorage.removeItem('IsHoldingPayment')
      localStorage.removeItem('PaymentObject')
      localStorage.removeItem('PaymentDetails')
      localStorage.setItem('PaymentNo',PaymentNo)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/payment')
      this.$router.push('/dashboard/Vouchers/payment')
    },
     SetValuesToLS(paidby,bCode,fromDate,toDate)
    {
        localStorage.setItem('PaymentRegHolding',true)
        localStorage.setItem('Paymentpaidby',paidby);
        localStorage.setItem('PaymentbCode',bCode);
        localStorage.setItem('PaymentfromDate',fromDate);
        localStorage.setItem('PaymenttoDate',toDate);
    },
    GetPayments()
    {
      this.PaidBy = localStorage.getItem('Paymentpaidby')
      this.vm.FromDate = localStorage.getItem('PaymentfromDate')
      this.vm.ToDate = localStorage.getItem('PaymenttoDate')
      this.Branch = localStorage.getItem('PaymentbCode')
      axios.get ( this.bURL + 'Payment/GetPaymentSummary?Payers='+ this.PaidBy+'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate + '&CrLedger=All' + '&BranchCode='  + this.Branch)
        .then((response)  =>  {
          this.Payments = response.data
          if (this.Payments.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalPayments(this.Payments)
          this.SetValuesToLS(this.ReceivedBy,this.Branch,this.vm.FromDate,this.vm.ToDate)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
       this.isLoading = true,
      axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Payment&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
            this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('PaymentNo',response.data)
            this.$router.push('/dashboard/payment')
            this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
