<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->


<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
<div style="max-height:75vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">
             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
                 <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important" >
                     <label for="selectdatatype"   style="padding-left:10px !important">{{ $t(`dashboard.Godown`) }}</label>
                     <br>
                                <v-autocomplete
          v-model="selectedGodown"
          :items="GodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-left:10px !important;padding-right:10px !important;padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllGodown">
            <v-list-item-title> {{ $t(`menu.SelectedallGodown`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.GodownCount`) }} :{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeGodown">
            <v-list-item-title>{{ $t(`menu.GodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>

                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important" >

                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                     <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="FromDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="FromDate"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                      outlined
          dense
                ></v-text-field>
              </template>
               <v-date-picker  v-model="FromDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="$refs.menu.save(FromDate)"> {{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>

            </v-menu>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              :return-value.sync="ToDate"
              transition="scale-transition"
              offset-y
              min-width="290px"

            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="ToDate"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                      outlined
          dense
                ></v-text-field>
              </template>
               <v-date-picker  v-model="ToDate" scrollable
               >
          <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu1 = false">{{ $t(`common.cancel`) }} </v-btn>
          <v-btn text color="primary"   @click="$refs.menu1.save(ToDate)"> {{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="ToDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>
                   </v-col>
                  </v-row>
                    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 7px !important">
                         <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                   </v-col>
                  </v-row>


                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchPhysicalStock">View</button> -->

                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
@click="SearchPhysicalStock"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>

          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
@click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->


     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.PhysicalStockRegister`) }} </h4>
            </v-col>
          </v-row>
      </div> -->
           <v-card>
  <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >{{ $t(`menu.PhysicalStockRegister`) }} </b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
      
        <div  v-if="NoContent" style="padding-bottom:10px !important;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>

        <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right:8px;padding-left:8px">
           <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
       {{ $t(`menu.TotalPhysicalStock`) }}: <b>{{TotalPhysicalStock}}</b></span>

        </v-col>

      </v-row>
      </div>
         <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
      v-for="(item,i) in PhysicalStocks"
       :key="i"
           style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>

         <v-col
        cols="1"
        sm="1"
        style="text-align: left;"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 17px !important">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
        cols="11"
        sm="11"
         style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{ item.Godown }}</label>
      </v-col>
      <!-- <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{ item.CustName }}</label>
      </v-col> -->
      <v-col
        cols="6"
        sm="6"
        class="location"
      >


        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{FormatDate( item.PhysicalDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
     class="locationnew"
      >
        <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{item.ReferNo}}</label>
      </v-col>


    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters style="padding-top:16px !important">
      <v-col
        cols="10"
        sm="10"
      style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{ $t(`common.description`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Description}}</label>

      </v-col>
      <v-col
        cols="2"
        sm="2"
       style="padding-top: 4px;"
        class="locationnew"
      >
         <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditPhysicalStock(item.PhysicalStockNo)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
         </div>
           </v-card>


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->

  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
    globalpassword
  },
  data() {
    return {
      menu: false,
    menu1: false,
      row: 'radio-1',
      scroll: null,
      GodownOptions : JSON.parse(localStorage.getItem('LinkedFullGodowns')),
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      CustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      right: true,
      PhysicalStocks:[],
      vm : [],
      Branch:'',
      TotalPhysicalStock:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedMode:[],
      selectedGodown:[],
      NoContent:true,
      IsGodownShow:false,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      showhide:true,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      FromDate : new Date().toISOString().substr(0, 10),
      ToDate : new Date().toISOString().substr(0, 10),
      GlobalPasswordModal:false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              }
    }
  },
  computed: {

    likesAllGodown () {
      return this.selectedGodown.length === this.GodownOptions.length
    },
    likesSomeGodown () {
      return this.selectedGodown.length > 0 && !this.likesAllGodown
    },


    iconAllMode () {
      if (this.likesAllMode) return 'mdi-close-box'
      if (this.likesSomeMode) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconGodown () {
      if (this.likesAllPendingMode) return 'mdi-close-box'
      if (this.likesSomePendingMode) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
  history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','PhysicalStockRegister')
    localStorage.setItem('ActivePage','PhysicalStockRegister')
    localStorage.setItem('ActiveRoute','/dashboard/physicalStock_reg')
   localStorage.removeItem('VoucherUpdated')
     window.addEventListener('scroll', this.scrollFunction);
     this.value = new Date()
   /* this.FromDate= this.GetTodaysDate(this.value)
    this.ToDate = this.GetTodaysDate(this.value) */
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }

    if (this.PhysicalStocks.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('PhysicalStockRegHolding')
    if(this.isHold === 'true')
    {
        this.GetPhysicalStock()
    }
    else{
      this.SearchPhysicalStock()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
      save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true


    },

    toggleGodown () {
      this.$nextTick(() => {
        if (this.likesAllGodown) {
          this.selectedGodown = []
        } else {
          this.selectedGodown = this.GodownOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(',')

      return values
    },
     GetsWithComma1(values)
    {
      values =  values.join('~')

      return values
    },
    GetTotalPhysicalStock(PhysicalStocks)
    {
      this.TotalAmount = 0
      this.TotalPhysicalStock = PhysicalStocks.length
      for (this.i = 0; this.i < PhysicalStocks.length; this.i++)
      {
        this.TotalAmount += PhysicalStocks[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchPhysicalStock()
    {
      this.Godowns = ""
     if (this.selectedGodown.length === 0)
      {
        this.Godowns = this.GetsWithComma1(this.GodownOptions)
      }
      else {

          this.Godowns = this.GetsWithComma1(this.selectedGodown)
      }

      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }

      if(this.Customer === undefined || this.Customer === '')
      {
        this.Customer ='All'
      }
      this.isLoading = true

      axios.get ( this.bURL + 'PhysicalStock/GetPhysicalStockSummary?Godown='+this.Godowns+'&DateFrom='+this.FromDate +'&DateTo='+this.ToDate+'&BranchCode='+this.Branch
      ,{
        headers: this.headers
       })
        .then((response)  =>  {
          this.PhysicalStocks = response.data

          if (this.PhysicalStocks.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalPhysicalStock(this.PhysicalStocks)
          this.SetValuesToLS(this.Godowns,this.FromDate,this.ToDate,this.Branch)
          this.right = false
          this.isLoading = false
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    EditPhysicalStock(PhysicalStockNo)
    {
       localStorage.removeItem('PhysicalStockNo')
        localStorage.removeItem('IsHoldingPhysicalStock')
        localStorage.removeItem('PhysicalStockObject')
        localStorage.removeItem('PhysicalStockDetails')
        localStorage.removeItem('IsFromSales')
        localStorage.removeItem('IsFromDayEnd')
      localStorage.setItem('PhysicalStockNo',PhysicalStockNo)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/physicalStock')
      localStorage.removeItem('IsFromDayEnd')
      this.$router.push('/dashboard/vouchers/physicalStock')
    },
    SetValuesToLS(Godown,fromDate,toDate,bCode)
    {
        localStorage.setItem('PhysicalStockRegHolding',true)
        localStorage.setItem('PhysicalStockGodown',Godown);
        localStorage.setItem('PhysicalStockfromDate',fromDate);
        localStorage.setItem('PhysicalStocktoDate',toDate);
        localStorage.setItem('PhysicalStockbCode',bCode);
    },
    GetPhysicalStock()
    {
      this.Godown = localStorage.getItem('PhysicalStockGodown')
      this.FromDate = localStorage.getItem('PhysicalStockfromDate')
      this.ToDate = localStorage.getItem('PhysicalStocktoDate')
      this.Branch = localStorage.getItem('PhysicalStockbCode')

      axios.get ( this.bURL + 'PhysicalStock/GetPhysicalStockSummary?Godown='+this.Godown+'&DateFrom='+this.FromDate +'&DateTo='+this.ToDate+'&BranchCode='+this.Branch
      ,{
        headers: this.headers
       })
        .then((response)  =>  {
          this.PhysicalStocks = response.data

          if (this.PhysicalStocks.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalPhysicalStock(this.PhysicalStocks)
          this.right = false
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })

  },
  SearchVoucherNo()
  {
     this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=PhysicalStock&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
             this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('PhysicalStockNo',response.data)
            localStorage.removeItem('IsFromDayEnd')
            this.$router.push('/dashboard/PhysicalStock')
             this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }

}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
