<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>

    </v-dialog>
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">
        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>

             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
            <div >
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                  <div class="form-group">
                       <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>
                       <v-autocomplete
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -25px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                     <div class="form-group" >
                    <label for="selectdatatype">{{ $t(`menu.Status`) }}</label>

                       <v-autocomplete
          v-model="selectedStatus"
          :items="StatusOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleStatus"
        >
          <v-list-item-action>
            <v-icon :color="selectedStatus.length > 0 ? 'indigo darken-4' : ''">{{ iconAllStatus }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllStatus">
            <v-list-item-title>{{ $t(`menu.SelectedallStatus`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.StatusCount`) }} :{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeStatus">
            <v-list-item-title>{{ $t(`menu.StatusCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                 <v-autocomplete
            v-model="vm.Customer"
            :items="CustomerOptions"
           :label="$t(`menu.Customer`)"
             style="margin-bottom: -12px !important"
          ></v-autocomplete>
                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                  </div>
                    <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
           style="padding-top:13px !important"
        ></v-select>

                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchQuotation">View</button> -->
                    <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
      @click="SearchQuotation"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
            </div>
          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->


   <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>

             </div>
           </div>
          </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>
 
        <v-card >
      
                   <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:right;padding-left: 10px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"
                       

                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >Project Register </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
                 <v-row no-gutters >
              
                  <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
          <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
          v-model="Projectsearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
               >

                <template v-slot:append-outer>

                              <v-icon
                                color="#006400"
                                style="font-size: 35px !important;padding-left:5px !important;    margin-left: -7px;
    padding-right: -4px;
    margin-right: 6px;margin-top:-3px"
                              @click="OpenProject"
                                >mdi-plus-circle</v-icon
                              >
                            </template>
              </v-text-field>
               </v-col>

            </v-row>
     <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important; padding-left: 6px;padding-right:6px">
    <v-expansion-panel
          v-for="(item,i) in resultQuery"
      :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;" >
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{item.ProjectName}}</label>

      </v-col>

      <v-col
        cols="3"
        sm="3"
          class="location"  
      >

      <label style="font-weight:100;padding-left:12px"><v-icon style="font-size: 18px;
    padding-bottom: 3px;">mdi-account-tie </v-icon></label><label style="font-weight: 500 !important;">{{item.OwnerName}}</label>
      </v-col>
      <v-col
        cols="9"
        sm="9"
       class="locationnew"
      >
       <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px" >mdi-cash</v-icon>
        <label style="font-weight:200">{{FormatewithDecimalPlaces(item.ProjectAmount)}}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
          <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">Start Date</label>
      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{FormatDate(item.StartDate)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
        class="locationnew"
      >
        
          <label style="font-weight: 200">Project Status</label><lable style="padding-left:2px;padding-right:2px">:</lable>
  <label style="font-weight: 550">{{item.ProjectStatus}}</label>
      </v-col>
        <v-col
        cols="8"
        sm="8"
        style="padding-top: 4px;"
        class="location"
      >
    <label style="font-weight: 200">Completion Date</label><lable style="padding-left:2px;padding-right:2px">:</lable>
          <label style="font-weight: 550">{{FormatDate(item.CompletionDate)}}</label>
      </v-col>
      <v-col
        cols="4"
        sm="4"
        style="padding-top: 4px; "
        class="locationnew"
           @click="EditProject(item.ProjectID)"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left: 17px;">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>
</v-card>
    
</div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
      isLoading : false,
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      ProjectObject:localStorage.getItem('ProjectObject')?JSON.parse(localStorage.getItem('ProjectObject')):[],
      Projectsearch:'',
      right: false,
      GroupNameOptions:[],
      StatusOptions:['Inactive Projects','Active Projects','All Projects'],
      vm : [],
      Branch:'',
      TotalProject:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
     IsShowSubgroup:true
    }
  },
  computed: {

     resultQuery() {
      this.ProjectsNew = []
    if(this.Projectsearch !== undefined)
    {
       this.ProjectsNew = this.ProjectObject.filter(post => {
        return post.ProjectName.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()); /* ||
        post.ProjectName.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Projectsearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Projectsearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Projectsearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Projectsearch.toString().toLowerCase()); */
      })
      if(this.ProjectsNew.length > 100)
      {
         this.ProjectsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ProjectsNewReturn.push(this.ProjectsNew[this.i])

        }
        return this.ProjectsNewReturn
      }
      else{
         return this.ProjectsNew
      }
    }
    else{
      if(this.ProjectObject.length > 100)
      {
         this.ProjectsNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.ProjectsNewReturn.push(this.Projects[this.i])

        }
        return this.ProjectsNewReturn
      }
      else{
         return this.ProjectObject
      }
    }
    },

  },
  mounted() {

      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','ProjectRegister')
   localStorage.setItem('ActivePage','ProjectRegister')
   localStorage.setItem('ActiveRoute','/dashboard/registers/ProjectRegister')
   localStorage.removeItem('VoucherUpdated')

   this.GetProjects()
   this.GetProjectGroups()
      this.vm.ProjectStatus ='Active Projects'
      this.vm.Recursive = false
    this.BasicSettings()

    if (this.ProjectObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

        this.ProjectStatus = "Active Projects"
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
     FormatDate(Value)
      {
        if(Value !== undefined)
        {
            Value =  Value.split('T')[0]
        }
        else{
          Value = ""
        }


        return Value

      },
    GetProjects()
    {
        this.ProjectObject = []
        this.UserType =localStorage.getItem('UserType')
         this.Loaderdialog = true
        axios.get ( this.bURL + "Project/GetProjectSummary")
          .then((response)  =>  {
            this.ProjectObject = response.data
             this.Loaderdialog = false
          }, (error)  =>  {
            console.log(error)
          })

    },
    SearchProjects()
    {
        this.ProjectObject = []
        this.UserType =localStorage.getItem('UserType')
         if(this.ProjectStatus === "Inactive Projects")
         {
             this.Status = 0
         }
         else if(this.ProjectStatus === "Active Projects")
         {
             this.Status = 1
         }
          else if(this.ProjectStatus === "All Projects")
         {
             this.Status = 2
         }
         this.GroupName = this.GroupName?this.GroupName:"All"

         this.Loaderdialog = true
        axios.get ( this.bURL + "Project/GetProjectsBy?GroupName="+this.GroupName+"&Recursive=true&IsWithGlobal=true&BranchCode=All&UserRole="+this.UserType+"&IsActive=" + this.Status)
          .then((response)  =>  {
            this.ProjectObject = response.data
             this.Loaderdialog = false
             this.right = false
          }, (error)  =>  {
            console.log(error)
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalProject(ProjectObject)
    {
      this.TotalAmount = 0
      this.TotalProject = ProjectObject.length
      for (this.i = 0; this.i < ProjectObject.length; this.i++)
      {
        this.TotalAmount += ProjectObject[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true
            }
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditProject(ProjectId)
    {
        localStorage.setItem('ProjectId',ProjectId);
        this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/Project')
         this.$router.push('/dashboard/masters/Project')
    },
    OpenProject()
    {
  this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/Project')
        this.$router.push('/dashboard/masters/Project')

    },
    GetProjectStmnt(ProjectName)
    {
       localStorage.removeItem('ProjectRegHolding')
        localStorage.removeItem('ProjectVoucherType');
        localStorage.removeItem('ProjectbCode');
        localStorage.removeItem('ProjectDateFrom');
        localStorage.removeItem('ProjectDateTo');
      localStorage.setItem('ProjectStmntName',ProjectName);
         this.$router.push('/dashboard/registers/ProjectStatement')
    },
     GetProjectGroups()
    {
       axios.get ( this.bURL + "Project/GetProjectGroupNames")
        .then((response)  =>  {
         this.GroupNameOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
   },
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 145px;
  right: -20px;
  z-index: 6;
 box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
