<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <div v-if="!NoContent">
      <v-card class="footer">
        <v-bottom-navigation
          height="42"
          style="    background-color: rgb(255 255 255)"
        >
          <v-row>
            <v-col cols="6" sm="6" style="text-align:left;padding-top: 10px;">
              <v-btn style="    background-color: rgb(255 255 255)">
                <span style="font-size: 15px;color:rgb(0 53 94)">
                  {{ $t(`ecommerce.Amount`) }}:{{ TotalAmount }}</span
                >
              </v-btn>
            </v-col>
            <v-col
              cols="6"
              sm="6"
              class="print"
              style="text-align:right;padding-top: 10px;"
            >
              <div>
                <v-btn style="    background-color: rgb(255 255 255)">
                  <span style="color:rgb(0 53 94);font-size: 15px;">
                    {{ $t(`dashboard.TotalOrder`) }}: {{ TotalOrders }}</span
                  >
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-bottom-navigation>
      </v-card>
    </div>
    <div v-if="!NoContent">
      <v-btn
        ref="button"
        class="drawer-button1"
        color="rgb(0 53 94);"
        fixed
        left
        hide-overlay
        temporary
        width="310"
        id="d"
        style="    background-color: rgb(255 255 255)"
      >
        <!-- Amount: {{OrderTotal}} -->

        {{ $t(`ecommerce.Amount`) }}:{{ TotalAmount }},
        <br />
        <v-spacer></v-spacer>
        {{ $t(`dashboard.TotalOrder`) }}: {{ TotalOrders }}
        <!-- <v-icon >mdi-plus</v-icon>
      Save -->
      </v-btn>
    </div>
    <div v-if="NoContent">
      <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
    </div>
    <!-- <v-btn
      ref="button"
      class="drawer-buttonnew"
      color="rgb(0, 53, 94)"
      dark
      @click="PrintModal = true"
      v-if="!NoContent"
    >
      <v-icon
        style="  margin-left: -18px !important;
    font-size: 1.3rem !important;"
        >print</v-icon
      >
    </v-btn> -->
    <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
      style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon
        style="  margin-left: -18px !important;
    font-size: 1.3rem !important;"
        >mdi-filter</v-icon
      >
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
        <div class="title" style="color:rgb(0 99 145)">
          {{ $t(`dashboard.filter`) }}
        </div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div
            class=" .col-12 col-sm-12 cardhead"
            style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;"
          >
            <ul
              class="nav nav-tabs "
              style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);"
            >
              <li class="nav-item ">
                <a
                  class="nav-link active  "
                  data-toggle="tab"
                  href="#AllPayments"
                  >{{ $t(`dashboard.all`) }}</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{
                  $t(`menu.ByVoucherNo`)
                }}</a>
              </li>
            </ul>
          </div>
          <div class="container-fluid">
            <div class="tab-content clearfix" style="padding-top:10px;">
              <div id="AllPayments" class="tab-pane active">
                <div>
                  <div class="row">
                    <div
                      class="col-12"
                      style="padding-bottom:6px;padding-top: 6px; !importent"
                    >
                      <div class="form-group" v-if="IsOrderedByShow">
                        <label for="selectdatatype">{{
                          $t(`menu.OrderedBy`)
                        }}</label>
                        <div class="form-group">
                          <v-autocomplete
                            v-model="selectedOrderedBy"
                            :items="OrderedByOptions"
                            :label="$t(`dashboard.all`)"
                            multiple
                            outlined
                            dense
                            clearable
                            style="margin-bottom: -26px !important;"
                          >
                            <template v-slot:prepend-item>
                              <v-list-item ripple @click="toggleOrderedBy">
                                <v-list-item-action>
                                  <v-icon
                                    :color="
                                      selectedOrderedBy.length > 0
                                        ? 'indigo darken-4'
                                        : ''
                                    "
                                    >{{ iconAllOrderedBy }}</v-icon
                                  >
                                </v-list-item-action>
                                <v-list-item-content>
                                  <v-list-item-title>{{
                                    $t(`dashboard.SelectAll`)
                                  }}</v-list-item-title>
                                </v-list-item-content>
                              </v-list-item>
                              <v-divider class="mt-2"></v-divider>
                            </template>
                            <template v-slot:append-item>
                              <v-divider class="mb-2"></v-divider>
                              <v-list-item disabled>
                                <v-list-item-avatar color="grey lighten-3">
                                  <v-icon>mdi-account</v-icon>
                                </v-list-item-avatar>

                                <v-list-item-content v-if="likesAllOrderedBy">
                                  <v-list-item-title>{{
                                    $t(`menu.SelectedallOrderedBy`)
                                  }}</v-list-item-title>
                                  <v-list-item-subtitle
                                    >{{ $t(`menu.OrderedByCount`) }} :{{
                                      selectedOrderedBy.length
                                    }}</v-list-item-subtitle
                                  >
                                </v-list-item-content>

                                <v-list-item-content
                                  v-else-if="likesSomeOrderedBy"
                                >
                                  <v-list-item-title>{{
                                    $t(`menu.OrderedByCount`)
                                  }}</v-list-item-title>
                                  <v-list-item-subtitle>{{
                                    selectedOrderedBy.length
                                  }}</v-list-item-subtitle>
                                </v-list-item-content>

                                <v-list-item-content v-else>
                                  <v-list-item-title> </v-list-item-title>
                                  <v-list-item-subtitle>
                                    {{ $t(`dashboard.gohead`) }}
                                  </v-list-item-subtitle>
                                </v-list-item-content>
                              </v-list-item>
                            </template>
                          </v-autocomplete>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="frmdate"
                          >{{ $t(`dashboard.From`) }} :</label
                        >
                        <input
                          v-model="vm.FromDate"
                          type="date"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                        <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                        <input
                          v-model="vm.ToDate"
                          type="date"
                          class="form-control"
                        />
                      </div>
                      <v-select
                        v-model="vm.BranchCode"
                        :items="BranchCodeOptions"
                        :label="$t(`menu.BranchCode`)"
                        v-if="IsMultiBarnch"
                        :disabled="IsDisableBranch"
                      ></v-select>
                      <v-col
                        col="12"
                        md="12"
                        sm="12 "
                        style="padding-bottom:0px !important ;padding-top: 0px !important;padding-left: 0px !important;padding-right: 0px !important;"
                      >
                        <v-select
                          v-model="vm.Supplier"
                          :items="SupplierOptions"
                          :label="$t(`menu.Supplier`)"
                          v-if="IsMultiCurrency"
                        ></v-select>
                      </v-col>
                      <v-col
                        col="12"
                        md="12"
                        sm="12 "
                        style="padding-bottom:0px !important ;padding-top: 0px !important;padding-left: 0px !important;padding-right: 0px !important;"
                      >
                        <v-select
                          v-model="vm.Currency"
                          :items="CurrencyOptions"
                          :label="$t(`menu.Currency`)"
                          v-if="IsMultiCurrency"
                        ></v-select>
                      </v-col>
                      <div style="text-align:right">
                        <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchOrder">View</button> -->
                        <v-btn
                          class="btn btn-primary btn-sm pull-right"
                          :loading="isLoading"
                          text
                          @click="SearchOrder"
                          style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
                        >
                          {{ $t(`menu.View`) }}
                        </v-btn>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="ByVoucherNo" class="tab-pane ">
                <div>
                  <v-text-field
                    value="First and two on el street"
                    :label="$t(`menu.VoucherNo`)"
                    v-model="VoucherNo"
                  ></v-text-field>
                </div>
                <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
                <div style="text-align:right">
                  <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                  <v-btn
                    class="btn btn-primary btn-sm pull-right"
                    :loading="isLoading"
                    text
                    @click="SearchVoucherNo"
                    style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
                  >
                    {{ $t(`menu.View`) }}
                  </v-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
      <div
        style="margin-bottom: -21px;margin-top: -19px;text-align:center"
        v-show="showhide"
      >
        <v-row style="padding-top:0px">
          <v-col cols="12" style="padding-top: 0px;">
            <h4
              style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "
            >
              {{ $t(`menu.PurchaseOrder`) }}
            </h4>
          </v-col>
        </v-row>
      </div>
      <div v-show="showhide" v-if="!NoContent" class="total">
        <v-row>
          <v-col cols="6" sm="6" style="text-align:right;padding-top: 10px;">
            <v-btn style="    background-color: rgb(255 255 255)">
              <span style="font-size: 15px;color:rgb(0 53 94)">
                {{ $t(`ecommerce.Amount`) }}: {{ TotalAmount }}</span
              >
            </v-btn>
          </v-col>
          <v-col
            cols="6"
            sm="6"
            class="print"
            style="text-align:center;padding-top: 10px;"
          >
            <div>
              <v-btn style="    background-color: rgb(255 255 255)">
                <span style="color:rgb(0 53 94);font-size: 15px;">
                  {{ $t(`menu.TotalOrder`) }}: {{ TotalOrders }}</span
                >
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </div>
      <v-expansion-panels focusable>
        <v-expansion-panel v-for="(item, i) in Orders" :key="i">
          <v-expansion-panel-header>
            <v-row no-gutters>
              <v-col
                cols="12"
                sm="12"
                style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
              >
                <label>{{ item.SupplierName }}</label>
              </v-col>

              <v-col cols="6" sm="6" class="location">
                <label>{{ FormatDate(item.LPODate) }}</label>
              </v-col>
              <v-col cols="6" sm="6" class="locationnew">
                <label>{{ FormatewithDecimalPlaces(item.Amount) }}</label>
              </v-col>
            </v-row>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row no-gutters>
              <v-col cols="6" sm="6" style="padding-top: 4px;" class="location">
                <label> {{ $t(`menu.VoucherNo`) }}</label>
              </v-col>
              <v-col
                cols="6"
                sm="6"
                style="padding-top: 4px;"
                class="locationnew"
              >
                <label>{{ item.ReferNo }}</label>
              </v-col>
              <v-col cols="6" sm="6" style="padding-top: 4px;" class="location">
                <label>{{ $t(`menu.OrderedBy`) }}</label>
              </v-col>
              <v-col
                cols="6"
                sm="6"
                style="padding-top: 4px;"
                class="locationnew"
              >
                <label>{{ item.OrderedBy }}</label>
              </v-col>
              <v-col cols="6" sm="6" style="padding-top: 4px;" class="location">
                <label>{{ $t(`menu.Attention`) }}</label>
              </v-col>
              <v-col
                cols="6"
                sm="6"
                style="padding-top: 4px;"
                class="locationnew"
              >
                <label>{{ item.Attention }}</label>
              </v-col>
              <v-col cols="6" sm="6" style="padding-top: 4px;" class="location">
                <label>Terms And Conditions</label>
              </v-col>
              <v-col
                cols="6"
                sm="6"
                style="padding-top: 4px;"
                class="locationnew"
              >
                <label>{{ item.TermsAndConditions }}</label>
              </v-col>

              <v-col cols="12" sm="12" style="text-align: right;">
                <!-- <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
      <i class="fas fa-edit"></i>
      </v-col> -->
                <v-btn
                  small
                  color="#FFF"
                  style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"
                  @click="EditOrder(item.LPOID)"
                  ><v-icon center>fas fa-eye</v-icon></v-btn
                >
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view"></div>

    <!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

    <v-dialog
      v-model="PrintModal"
      persistent
      max-width="300"
      style="z-index: 100000!important;"
    >
      <template> </template>
      <v-card>
        <v-card-text style="padding-bottom: 10px;padding-top:10px;">
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:19px;padding-bottom:0px;"
            >
              <v-autocomplete
                v-model="Papersize"
                :items="PapersizeOptions"
                :label="$t(`menu.Selectprintformat`)"
                item-value="text"
                @change="SetDefaultPapersize($event)"
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row v-if="PapersizeError">
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:0px;padding-bottom:0px;"
            >
              <label style="color:red" v-if="PapersizeError">{{
                $t(`menu.Selectpapersize`)
              }}</label>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:0px;padding-bottom:0px;">
              <v-divider> </v-divider>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="6"
              sm="6"
              md="6"
              style="padding-top:10px;padding-bottom:0px;text-align:left"
            >
              <span>
                <v-btn
                  style="height: 33px !important;width: 33px !important;"
                  color="#EF5350"
                  fab
                  small
                  dark
                  @click="PrintModal = false"
                >
                  <v-icon
                    style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;"
                    >close</v-icon
                  >
                </v-btn>
              </span>
            </v-col>

            <v-col
              cols="6"
              sm="6"
              md="6"
              style="padding-top:10px;padding-bottom:0px;text-align:right"
            >
              <span>
                <v-btn
                  style="height: 33px !important;width: 33px !important;"
                  color="rgb(0, 53, 94)"
                  fab
                  small
                  dark
                  @click="PrintOrderSummary()"
                >
                  <v-icon
                    style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;"
                    >print</v-icon
                  >
                </v-btn>
              </span>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--
 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
      <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
     <v-autocomplete
      :items="Printers"
      v-model="Printer"
       @change="SetDefaultPrinter($event)"
      name="category"
      v-validate="'required'"
      item-text="name"
      :label="$t(`dashboard.SelectPrinter`)"
      style="padding-top:.8em;"
      ></v-autocomplete>
 </v-col>

                </v-row>
          <v-row>
                <v-col cols="12" sm="12" md="12" class="no-p" >
                 <label style="color:red" v-if="PrinterError">{{ $t(`menu.SelectPrinter`) }} </label>

               </v-col>
                </v-row>  <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:25px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row>
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row>
                 <v-col cols="12" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon>close</v-icon>
            </v-btn>
  </span>

               </v-col>

                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn color="rgb(0, 53, 94)" fab small dark   @click="PrintOrderSummary()">
            <v-icon>print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
        </v-card>
    </v-dialog> -->
    <!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->
  </div>
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
export default {
  components: {},
  data() {
    return {
      row: "radio-1",
      scroll: null,
      OrderedByOptions: JSON.parse(
        localStorage.getItem("LinkedPurchasePersons")
      ),
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      right: true,
      Orders: [],
      vm: [],
      Branch: "",
      TotalOrders: 0,
      TotalAmount: 0,
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      selectedOrderedBy: [],
      NoContent: true,
      IsOrderedByShow: false,
      IsMultiBarnch: false,
      VoucherNo: "",
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      showhide: true,
      isLoading: false,
      PrintURL: "",
      PrintModal: false,
      PrinterError: false,
      Papersize: localStorage.getItem("Papersize"),
      PapersizeOptions: [
        "Wifi A4",
        "Bluetooth 80MM",
        "Bluetooth 110MM",
        "Inner Printer"
      ],
      IsMultiCurrency: false,
      SupplierOptions: JSON.parse(localStorage.getItem("Suppliers")),
      CurrencyOptions: JSON.parse(localStorage.getItem("Currency"))
    };
  },
  computed: {
    likesAllOrderedBy() {
      return this.selectedOrderedBy.length === this.OrderedByOptions.length;
    },
    likesSomeOrderedBy() {
      return this.selectedOrderedBy.length > 0 && !this.likesAllOrderedBy;
    },

    iconAllOrderedBy() {
      if (this.likesAllOrderedBy) return "mdi-close-box";
      if (this.likesSomeOrderedBy) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    }
  },
  mounted() {
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    localStorage.setItem("PreviousPage", "OrderRegister");
    localStorage.setItem("ActivePage", "OrderRegister");
    localStorage.setItem('ActiveRoute','/dashboard/registers/PurchaseOrder_reg')
    localStorage.removeItem("VoucherUpdated");
    window.addEventListener("scroll", this.scrollFunction);
    this.BasicSettings();
    
    this.value = new Date();
    this.vm.FromDate = this.GetTodaysDate(this.value);
    this.vm.ToDate = this.GetTodaysDate(this.value);
    if (this.Orders.length === 0) {
      this.NoContent = true;
    } else {
      this.NoContent = false;
    }
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };

    this.isHold = localStorage.getItem("LPORegHolding");
    if (this.isHold === "true") {
      this.GetOrders();
    }
    else{
      this.SearchOrder()
    }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },
    BasicSettings() {
      this.IsOrderedByShow = true;
      this.OrderedByLength = this.OrderedByOptions.length;
      if (this.OrderedByLength === 1) {
        this.selectedOrderedBy = this.OrderedByOptions;
        this.IsOrderedByShow = false;
      }

      this.PrimaryCurrency = localStorage.getItem("PrimaryCurrency");
      if (this.PrimaryCurrency !== "#" || this.PrimaryCurrency !== "")
        this.vm.Currency = this.PrimaryCurrency;
      this.CurrencyLength = this.CurrencyOptions.length;
      if (this.CurrencyLength > 1) this.IsMultiCurrency = true;

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
      if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }

      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;
    },
    toggleOrderedBy() {
      this.$nextTick(() => {
        if (this.likesAllOrderedBy) {
          this.selectedOrderedBy = [];
        } else {
          this.selectedOrderedBy = this.OrderedByOptions.slice();
        }
      });
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },
    GetTodaysDate(value) {
      this.month = "" + (this.value.getMonth() + 1);
      this.day = "" + this.value.getDate();
      this.year = this.value.getFullYear();

      if (this.month.length < 2) this.month = "0" + this.month;
      if (this.day.length < 2) this.day = "0" + this.day;
      this.FormatedDate = [this.year, this.month, this.day].join("-");

      return this.FormatedDate;
    },
    GetsWithComma(values) {
      values = values.join(",");

      return values;
    },
    GetTotalOrders(Orders) {
      this.TotalAmount = 0;
      this.TotalOrders = Orders.length;
      for (this.i = 0; this.i < Orders.length; this.i++) {
        this.TotalAmount += Orders[this.i].Amount;
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount);
    },
    SearchOrder() {
      if (this.selectedOrderedBy.length === 0) {
        this.OrderedBy = "all";
      } else {
        if (this.selectedOrderedBy.length === this.OrderedByOptions.length) {
          this.OrderedBy = "all";
        } else {
          this.OrderedBy = this.GetsWithComma(this.selectedOrderedBy);
        }
      }
      this.Branch = this.vm.BranchCode;
      if (this.Branch === undefined || this.Branch === "") {
        this.Branch = "All";
      }
      this.vm.Supplier = this.vm.Supplier ? this.vm.Supplier : "all";
      this.vm.Currency = this.vm.Currency ? this.vm.Currency : "all";
      this.isLoading = true;
      axios
        .get(
          this.bURL +
            "LPO/GetLPOSummary?OrderedBy=" +
            this.OrderedBy +
            "&DateFrom=" +
            this.vm.FromDate +
            "&DateTo=" +
            this.vm.ToDate +
            "&SupplierName=" +
            this.vm.Supplier +
            "&Currency=" +
            this.vm.Currency
        )
        .then(
          response => {
            this.Orders = response.data;
            if (this.Orders.length === 0) {
              this.NoContent = true;
              this.isLoading = false;
            } else {
              this.NoContent = false;
              this.isLoading = false;
            }
            this.GetTotalOrders(this.Orders);
            this.SetValuesToLS(
              this.OrderedBy,
              this.vm.FromDate,
              this.vm.ToDate,
              this.vm.Supplier,
              this.vm.Currency
            );
            this.right = false;
            this.isLoading = false;
          },
          error => {
            console.log(error);
          }
        );
    },
    EditOrder(LPOID) {
      localStorage.removeItem("IsHoldingOrder");
      localStorage.removeItem("LPOObject");
      localStorage.removeItem("LPODetails");
      localStorage.setItem("LPOId", LPOID);
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/PurchaseOrder')
      this.$router.push("/dashboard/Vouchers/PurchaseOrder");
    },
    SetValuesToLS(OrderedBy, FromDate, ToDate, Supplier, Currency) {
      localStorage.setItem("LPORegHolding", true);
      localStorage.setItem("LPOOrderedBy", OrderedBy);
      localStorage.setItem("LPOFromDate", FromDate);
      localStorage.setItem("LPOToDate", ToDate);
      localStorage.setItem("LPOSupplier", Supplier);
      localStorage.setItem("LPOCurrency", Currency);
    },
    GetOrders() {
      this.OrderedBy = localStorage.getItem("LPOOrderedBy");
      this.vm.FromDate = localStorage.getItem("LPOFromDate");
      this.vm.ToDate = localStorage.getItem("LPOToDate");
      this.vm.Supplier = localStorage.getItem("LPOSupplier");
      this.vm.Currency = localStorage.getItem("LPOCurrency");
      axios
        .get(
          this.bURL +
            "LPO/GetLPOSummary?OrderedBy=" +
            this.OrderedBy +
            "&DateFrom=" +
            this.vm.FromDate +
            "&DateTo=" +
            this.vm.ToDate +
            "&SupplierName=" +
            this.vm.Supplier +
            "&Currency=" +
            this.vm.Currency
        )
        .then(
          response => {
            this.Orders = response.data;
            if (this.Orders.length === 0) {
              this.NoContent = true;
            } else {
              this.NoContent = false;
            }
            this.GetTotalOrders(this.Orders);
            this.SetValuesToLS(
              this.OrderedBy,
              this.vm.FromDate,
              this.vm.ToDate,
              this.Branch
            );
            this.right = false;
          },
          error => {
            console.log(error);
          }
        );
    },
    SearchVoucherNo() {
      (this.isLoading = true),
        axios
          .get(
            this.bURL +
              "common/GetVoucherNoBy?VoucherType=LPO&ReferNo=" +
              this.VoucherNo
          )
          .then(
            response => {
              if (
                response.data === undefined ||
                response.data === "" ||
                response.data === 0
              ) {
                this.Error = true;
                this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`);
                this.isLoading = false;
              } else {
                this.Error = false;
                localStorage.setItem("LPOId", response.data);
                 this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/PurchaseOrder')
                this.$router.push("/dashboard/Vouchers/PurchaseOrder");
                this.isLoading = false;
              }
            },
            error => {
              this.Error = true;
              this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`);
              this.isLoading = false;
            }
          );
    },
    FormatDate(Value) {
      return Value.split("T")[0];
    },
    PrintOrderSummary() {
      if (this.VoucherNo !== null) {
        if (this.Papersize === "" || this.Papersize === null) {
          this.PapersizeError = true;
          return;
        }
        this.PrinterString = this.Papersize.split(" ");
        this.Printer = this.PrinterString[0];
        this.PapersizeNo = this.PrinterString[1];
        if (this.Printer === "Bluetooth") {
          this.Loaderdialog = true;
          this.url =
            this.bURL +
            "Print/OrderSummaryNativeFormate?" +
            this.PrintURL +
            "&Papersize=" +
            this.PapersizeNo;
          this.OrderModal = false;

          this.PapperSizeForPrint = 0;
          if (this.PapersizeNo === "110MM") {
            this.PapperSizeForPrint = 110;
          } else {
            this.PapperSizeForPrint = 80;
          }
         

           axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,0,this.PapperSizeForPrint,"0","null","OrderSummary","null")
              },
              error => {
                console.log(error);
              }
             );
        } else {
          axios.get(this.bURL + "Print/OrderSummary?" + this.PrintURL).then(
            response => {
              this.url = this.bURLPrint + response.data;
              //window.open(this.url, '_blank')
              //window.location.href = this.url

              this.IsNativeApp = localStorage.getItem("IsNativeApp");
              if (this.IsNativeApp === "true" || this.IsNativeApp === true) {
                window.interface.showPDF(this.url, "Wifi");
              } else {
                window.open(this.url, "_blank");
              }
            },
            error => {
              console.log(error);
            }
          );
        }
      } else {
        this.SnackbarMessege = this.$t(`menu.NoOrdertoPrint`);
        this.snackbar = true;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 160px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonnew {
  position: fixed;
  top: 69px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
}
@media (max-width: 480px) {
  .drawer-button1 {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .drawer-button1 {
    display: none;
  }
  .total {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .drawer-button1 {
    display: none;
  }
  .total {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .footer {
    display: none;
  }
  .total {
    display: none;
  }
}
@media (min-width: 1281px) {
  .footer {
    display: none;
  }
  .total {
    display: none;
  }
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 1px 1px 18px rgb(0 53 94);
}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
// .v-icon {
//   margin-left: -18px;
//   font-size: 1.3rem;
// }
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
</style>
