<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->
     

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>

    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
             <div class="container-fluid" style="height: 81vh; overflow:scroll;overflow-x: hidden;">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
                 <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important" >
                     <label for="selectdatatype"   style="padding-left:10px !important"> {{ $t(`menu.PurchasedBy`) }}</label>
                     <br>
                        <v-autocomplete
          v-model="selectedPurchasePerson"
          :items="PurchasePersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-left:10px !important;padding-right:10px !important;padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePurchasePerson"
        >
          <v-list-item-action>
            <v-icon :color="selectedPurchasePerson.length > 0 ? 'indigo darken-4' : ''">{{ iconPurchasePerson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPurchasePerson">
            <v-list-item-title> {{ $t(`menu.SelectedallPurchasePerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.PurchasePersonCount`) }} :{{ selectedPurchasePerson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePurchasePerson">
            <v-list-item-title>{{ $t(`menu.PurchasePersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPurchasePerson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                       <label for="selectdatatype"   style="padding-left:10px !important"> {{ $t(`menu.Mode`) }}</label>
                       <br>
                            <v-autocomplete
          v-model="selectedMode"
          :items="ModeOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-left:10px !important;padding-right:10px !important;padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleMode"
        >
          <v-list-item-action>
            <v-icon :color="selectedMode.length > 0 ? 'indigo darken-4' : ''">{{ iconAllMode }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllMode">
            <v-list-item-title>{{ $t(`menu.SelectedallMode`) }} </v-list-item-title>
           <v-list-item-subtitle>{{ $t(`menu.ModeCount`) }} :{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeMode">
             <v-list-item-title>{{ $t(`menu.ModeCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important" >

                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;">
               <v-autocomplete
            v-model="vm.Supplier"
            :items="SupplierOptions"
             :label="$t(`menu.Supplier`)"

          ></v-autocomplete>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 13px !important">
                         <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px !important">
                      <v-select
            v-model="vm.Currency"
          :items="CurrencyOptions"
          :label="$t(`menu.Currency`)"
           v-if="IsMultiCurrency"
        ></v-select>
                   </v-col>
                  </v-row>

                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchSale" >View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchPurchase"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>

          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
        @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->



     <!-- <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.PurchaseRegister`) }}</h4>
            </v-col>
          </v-row>
      </div> -->
    <v-card>
  <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      > {{ $t(`menu.PurchaseRegister`) }}</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
       <div  v-if="NoContent" style="padding-bottom:10px !important;padding-top:60px">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
          <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:0px;
    margin-bottom: 4px;padding-right:8px;padding-left:8px">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
        {{ $t(`menu.TotalPurchase`) }}:<b> {{ TotalPurchases }}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>
      </div>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
        v-for="(item,i) in Purchases"
       :key="i"
        style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
      <v-col
        cols="1"
        sm="1"
        style="text-align: left;"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 2px !important">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
        cols="11"
        sm="11"
         style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
   <label>{{ item.SuppName }}</label>
      </v-col>

      <v-col
        cols="5"
        sm="5"
        class="location"
      >

      <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="7"
        sm="7"
       class="locationnew"
      >
          <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{FormatDate(item.PurchDate)}}</label>
      </v-col>
      <v-col
        cols="5"
        sm="5"
        class="location"
      >

     <v-icon style="font-size: 20px;
    padding-bottom: 3px;padding-right:4px">mdi-credit-card-settings-outline </v-icon>
      <label style="font-weight:200">{{ item.Mode }}</label>
      </v-col>
      <v-col
        cols="7"
        sm="7"
     class="locationnew"
      >
     <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
        <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.Amount) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{ $t(`menu.PurchasedBy`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.PurchasedBy }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
        class="locationnew"
      >
           <label style="font-weight: 200">{{ $t(`menu.BranchCode`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.BranchCode }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
         style="padding-top: 4px;"
        class="location"
      >
     <label style="font-weight: 200">{{ $t(`menu.Notes`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Description }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
     style="padding-top: 4px;"
        class="locationnew"
      >
        <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditPurchase(item.PurchaseNo)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
    </v-card>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
 
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import Purchasepersons from '../../pages/ApiServices/Purchasepersons'
import Suppliers from '../../pages/ApiServices/Suppliers'
import de from '../../translations/de'
export default {
  components: {
    Purchasepersons,Suppliers
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      ModeOptions : ['Cash','Credit','Bank'],
      PurchasePersonOptions : JSON.parse(localStorage.getItem('LinkedPurchasePersons')),
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      SupplierOptions : JSON.parse(localStorage.getItem('Suppliers')),
      CurrencyOptions : JSON.parse(localStorage.getItem('Currency')),
      right: true,
      Purchases:[],
      vm : [],
      Branch:'',
      TotalPurchases:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedMode:[],
      selectedPurchasePerson:[],
      NoContent:true,
      IsPurchasePersonShow:false,
      IsMultiBarnch : false,
      IsMultiCurrency : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
      isLoading : false,
    }
  },
  computed: {
    likesAllMode () {
      return this.selectedMode.length === this.ModeOptions.length
    },
    likesSomeMode () {
      return this.selectedMode.length > 0 && !this.likesAllMode
    },
    likesAllPurchasePerson () {
      return this.selectedPurchasePerson.length === this.PurchasePersonOptions.length
    },
    likesSomePurchasePerson () {
      return this.selectedPurchasePerson.length > 0 && !this.likesAllPurchasePerson
    },


    iconAllMode () {
      if (this.likesAllMode) return 'mdi-close-box'
      if (this.likesSomeMode) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconPurchasePerson () {
      if (this.likesAllPendingMode) return 'mdi-close-box'
      if (this.likesSomePendingMode) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    localStorage.setItem('PreviousPage','PurchaseRegister')
    localStorage.setItem('ActivePage','PurchaseRegister')
    localStorage.setItem('ActiveRoute','/dashboard/purchase_reg')
   localStorage.removeItem('VoucherUpdated')
    this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Purchases.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('PurchaseRegHolding')
    if(this.isHold === 'true')
    {
        this.GetPurchases()
    }
    else{
      this.SearchPurchase()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
      scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
    handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
alert("s");
}
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.vm.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true
    },
    toggleMode () {
      this.$nextTick(() => {
        if (this.likesAllMode) {
          this.selectedMode = []
        } else {
          this.selectedMode = this.ModeOptions.slice()
        }
      })
    },
    togglePurchasePerson () {
      this.$nextTick(() => {
        if (this.likesAllPurchasePerson) {
          this.selectedPurchasePerson = []
        } else {
          this.selectedPurchasePerson = this.PurchasePersonOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalPurchases(Purchases)
    {
      this.TotalAmount = 0
      this.TotalPurchases = Purchases.length
      for (this.i = 0; this.i < Purchases.length; this.i++)
      {
        this.TotalAmount += Purchases[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchPurchase()
    {
     this.Mode = this.selectedMode
     if (this.selectedMode.length === this.ModeOptions.length)
      {
        this.Mode = 'All'
      }
      else {
        if (this.selectedMode.length === 0)
        {
          this.Mode = 'All'
        }
        else
        {
          this.Mode = this.GetsWithComma(this.Mode)
        }
      }

      this.PurchasePerson = this.selectedPurchasePerson
     if (this.selectedPurchasePerson.length === this.PurchasePersonOptions.length)
      {
        this.PurchasePerson = 'All'
      }
      else {
        if (this.selectedPurchasePerson.length === 0)
        {
          this.PurchasePerson = 'All'
        }
        else
        {
          this.PurchasePerson = this.GetsWithComma(this.PurchasePerson)
        }
      }

      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }

      if(this.Supplier === undefined || this.Supplier === '')
      {
        this.Supplier ='All'
      }
       this.isLoading = true
      axios.get ( this.bURL + 'Purchase/GetPurchaseSummary?PurchasePersons='+this.PurchasePerson+'&Modes='+ this.Mode +'&Supplier='+ this.Supplier +'&DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch+'&Currency='+this.vm.Currency)
        .then((response)  =>  {
          this.Purchases = response.data
          for (this.i= 0; this.i < this.Purchases.length; this.i++) {

            if(this.Purchases[this.i].Mode==="C")
            {
                this.Purchases[this.i].Mode ="Cash";
            }
            else if(this.Purchases[this.i].Mode==="B")
            {
                this.Purchases[this.i].Mode ="Bank"
            }
            else if(this.Purchases[this.i].Mode==="D")
            {
                this.Purchases[this.i].Mode ="Credit"
            }
          }
          if (this.Purchases.length === 0)
          {
            this.NoContent = true
             this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTotalPurchases(this.Purchases)
          this.SetValuesToLS(this.PurchasePerson,this.Mode,this.Supplier,this.vm.FromDate,this.vm.ToDate,this.Branch,this.vm.Currency)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditPurchase(PurchaseNo)
    {
      localStorage.removeItem('IsHoldingPurchase')
      localStorage.removeItem('PurchaseObject')
      localStorage.setItem('PurchaseNo',PurchaseNo)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/purchase')
      this.$router.push('/dashboard/vouchers/purchase')
    },
    SetValuesToLS(PurchasePerson,Mode,Supplier,fromDate,toDate,bCode,Currency)
    {
        localStorage.setItem('PurchaseRegHolding',true)
        localStorage.setItem('PurchasePurchasePerson',PurchasePerson);
        localStorage.setItem('PurchaseMode',Mode);
        localStorage.setItem('PurchaseSupplier',Supplier);
        localStorage.setItem('PurchasefromDate',fromDate);
        localStorage.setItem('PurchasetoDate',toDate);
        localStorage.setItem('PurchasebCode',bCode);
        localStorage.setItem('PurchaseCurrency',Currency);
    },
    GetPurchases()
    {
      this.PurchasePerson = localStorage.getItem('PurchasePurchasePerson')
      this.Mode = localStorage.getItem('PurchaseMode')
       this.Supplier = localStorage.getItem('PurchaseSupplier')
      this.vm.FromDate = localStorage.getItem('PurchasefromDate')
      this.vm.ToDate = localStorage.getItem('PurchasetoDate')
      this.Branch = localStorage.getItem('PurchasebCode')
      this.Currency = localStorage.getItem('PurchaseCurrency')
      axios.get ( this.bURL + 'Purchase/GetPurchaseSummary?PurchasePersons='+this.PurchasePerson+'&Modes='+ this.Mode +'&Supplier='+ this.Supplier +'&DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch+'&Currency='+this.Currency)
        .then((response)  =>  {
          this.Purchases = response.data
           for (this.i= 0; this.i < this.Purchases.length; this.i++) {

            if(this.Purchases[this.i].Mode==="C")
            {
                this.Purchases[this.i].Mode ="Cash";
            }
            else if(this.Purchases[this.i].Mode==="B")
            {
                this.Purchases[this.i].Mode ="Bank"
            }
            else if(this.Purchases[this.i].Mode==="D")
            {
                this.Purchases[this.i].Mode ="Credit"
            }
          }
          if (this.Purchases.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalPurchases(this.Purchases)
          this.SetValuesToLS(this.PurchasePerson,this.Mode,this.Supplier,this.vm.FromDate,this.vm.ToDate,this.Branch,this.vm.Currency)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
    this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Purchase&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
            this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('PurchaseNo',response.data)
            this.$router.push('/dashboard/purchase')
            this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
          this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }

}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
