<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
        <div  v-if="NoContent" style="padding-bottom:10px !important">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>

    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">
        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>

             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
            <div >
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                  <div class="form-group">
                       <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>
                       <v-autocomplete
          v-model="selectedSalesperson"
          :items="SalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -25px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                     <div class="form-group" >
                    <label for="selectdatatype">{{ $t(`menu.Status`) }}</label>

                       <v-autocomplete
          v-model="selectedStatus"
          :items="StatusOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleStatus"
        >
          <v-list-item-action>
            <v-icon :color="selectedStatus.length > 0 ? 'indigo darken-4' : ''">{{ iconAllStatus }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllStatus">
            <v-list-item-title>{{ $t(`menu.SelectedallStatus`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.StatusCount`) }} :{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeStatus">
            <v-list-item-title>{{ $t(`menu.StatusCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedStatus.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div>
                 <v-autocomplete
            v-model="vm.Customer"
            :items="CustomerOptions"
           :label="$t(`menu.Customer`)"
             style="margin-bottom: -12px !important"
          ></v-autocomplete>
                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                  </div>
                    <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
           style="padding-top:13px !important"
        ></v-select>

                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchQuotation">View</button> -->
                    <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
      @click="SearchQuotation"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
            </div>
          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->


   <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>

             </div>
           </div>
          </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
     <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.QuotationRegister`) }} </h4>
            </v-col>
          </v-row>
      </div>
      
       <!-- <v-toolbar  dark color="primary" v-if="!NoContent" style="height:35px !important;border-top-right-radius: 5px;
    border-top-left-radius: 5px;" >
      <v-row no-gutters>
        <v-col cols="6" style="text-align:left;padding-bottom: 20px;
    ">
 <span style="color:#FFF;font-size: 17px;text-align:right;">
        {{ $t(`menu.TotalQuotation`) }}: <b>{{ TotalQuotations }}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;padding-bottom: 20px;
    ">
    <span style="font-size: 17px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>

        </v-toolbar > -->
          <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
       {{ $t(`menu.TotalQuotation`) }}: <b>{{ TotalQuotations }}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>
      </div>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
    v-for="(item,i) in Quotations"
       :key="i"
       style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>

         <v-col
        cols="1"
        sm="1"
        style="text-align: left;"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 17px !important;color:#000">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
        cols="11"
        sm="11"
         style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
 <label>{{ item.CustName }}</label>
      </v-col>
      <!-- <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{ item.CustName }}</label>
      </v-col> -->
      <v-col
        cols="6"
        sm="6"
         class="location"
      >

     <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
     class="locationnew"
      >
            <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{FormatDate(item.QuotationDate)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         class="location"
      >
      
 <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-list-status </v-icon>
        <label style="font-weight:200">{{ item.QuoteStatus }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
      >
      <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
        <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.Amount) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
          <label style="font-weight: 200">{{ $t(`menu.Preparedby`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.PreparedBy }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         style="padding-top: 4px;"
         class="locationnew"
      >
         <label style="font-weight: 200">{{ $t(`menu.BranchCode`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 500">{{ item.BranchCode }}</label>
      </v-col>
       <v-col
        cols="10"
        sm="10"
          style="padding-top: 4px;"
         class="location"
      >
           <label style="font-weight: 200">{{ $t(`menu.Notes`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 500">{{ item.Description }}</label>
      </v-col>
      <v-col
        cols="2"
        sm="2"
     style="padding-top: 4px;"
         class="locationnew"
      >
      <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditQuotation(item.QuotationNo)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
      </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
export default {
  components: {
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      StatusOptions : ['Pending','Confirmed','Sales Invoice Made'],
      SalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      CustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      right: true,
      Quotations:[],
      vm : [],
      Branch:'',
      TotalQuotations:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedStatus:[],
      selectedSalesperson:[],
      NoContent:true,
      IssalespersonShow:false,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      showhide:true,
    }
  },
  computed: {
    likesAllStatus () {
      return this.selectedStatus.length === this.StatusOptions.length
    },
    likesSomeStatus () {
      return this.selectedStatus.length > 0 && !this.likesAllStatus
    },
    likesAllSalesperson () {
      return this.selectedSalesperson.length === this.SalespersonOptions.length
    },
    likesSomeSalesperson () {
      return this.selectedSalesperson.length > 0 && !this.likesAllSalesperson
    },


    iconAllStatus () {
      if (this.likesAllStatus) return 'mdi-close-box'
      if (this.likesSomeStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconSalesperson () {
      if (this.likesAllPendingStatus) return 'mdi-close-box'
      if (this.likesSomePendingStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','QuoteRegister')
    localStorage.setItem('ActivePage','QuoteRegister')
    localStorage.setItem('ActiveRoute','/dashboard/quotation_reg')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
    this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Quotations.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('QuotationRegHolding')
    if(this.isHold === 'true')
    {
        this.GetQuotations()
    }
    else{
      this.SearchQuotation()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
//     handleScroll (e) {
//       if ((e.target.scrollHeight-300) <= 0) {
// alert("s");
// }
//        if(window.scrollY)
//        {
//          this.scroll = false

//        }else{
//           this.scroll = true

//        }

//     },
    BasicSettings()
    {

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true


    },
    toggleStatus () {
      this.$nextTick(() => {
        if (this.likesAllStatus) {
          this.selectedStatus = []
        } else {
          this.selectedStatus = this.StatusOptions.slice()
        }
      })
    },
    toggleSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllSalesperson) {
          this.selectedSalesperson = []
        } else {
          this.selectedSalesperson = this.SalespersonOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalQuotations(Quotations)
    {
      this.TotalAmount = 0
      this.TotalQuotations = Quotations.length
      for (this.i = 0; this.i < Quotations.length; this.i++)
      {
        this.TotalAmount += Quotations[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchQuotation()
    {
     this.Status = this.selectedStatus
     if (this.selectedStatus.length === this.StatusOptions.length)
      {
        this.Status = 'All'
      }
      else {
        if (this.selectedStatus.length === 0)
        {
          this.Status = 'All'
        }
        else
        {
          this.Status = this.GetsWithComma(this.Status)
        }
      }

      this.Salesperson = this.selectedSalesperson
     if (this.selectedSalesperson.length === this.SalespersonOptions.length)
      {
        this.Salesperson = 'All'
      }
      else {
        if (this.selectedSalesperson.length === 0)
        {
          this.Salesperson = 'All'
        }
        else
        {
          this.Salesperson = this.GetsWithComma(this.Salesperson)
        }
      }

      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }

      if(this.Customer === undefined || this.Customer === '')
      {
        this.Customer ='All'
      }
        this.isLoading = true,
      axios.get ( this.bURL + 'quotation/GetQuotationSummary?SalesPersons='+this.Salesperson+'&Customer='+ this.Customer +'&DateFrom='+ this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch +'&QuotStatus='+this.Status)
        .then((response)  =>  {
          this.Quotations = response.data
          for (this.i= 0; this.i < this.Quotations.length; this.i++) {

            if(this.Quotations[this.i].QuoteStatus==="P")
            {
                this.Quotations[this.i].QuoteStatus ="Pending";
            }
            else if(this.Quotations[this.i].QuoteStatus==="C")
            {
                this.Quotations[this.i].QuoteStatus ="Confirmed"
            }
            else if(this.Quotations[this.i].QuoteStatus==="S")
            {
                this.Quotations[this.i].QuoteStatus ="Sales Invoice Made"
            }
          }
          if (this.Quotations.length === 0)
          {
            this.NoContent = true
              this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalQuotations(this.Quotations)
          this.SetValuesToLS(this.Salesperson,this.Status,this.Customer,this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditQuotation(QuotationNo)
    {
      localStorage.removeItem('IsHoldingQuotation')
      localStorage.removeItem('QuotationObject')
      localStorage.setItem('QuotationNo',QuotationNo)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/quotation')
      this.$router.push('/dashboard/vouchers/quotation')
    },
    SetValuesToLS(Salesperson,Status,Customer,fromDate,toDate,bCode)
    {
        localStorage.setItem('QuotationRegHolding',true)
        localStorage.setItem('QuotationSalesperson',Salesperson);
        localStorage.setItem('QuotationStatus',Status);
        localStorage.setItem('QuotationCustomer',Customer);
        localStorage.setItem('QuotationfromDate',fromDate);
        localStorage.setItem('QuotationtoDate',toDate);
        localStorage.setItem('QuotationbCode',bCode);
    },
    GetQuotations()
  {
      this.Salesperson = localStorage.getItem('QuotationSalesperson')
      this.Status = localStorage.getItem('QuotationStatus')
       this.Customer = localStorage.getItem('QuotationCustomer')
      this.vm.FromDate = localStorage.getItem('QuotationfromDate')
      this.vm.ToDate = localStorage.getItem('QuotationtoDate')
      this.Branch = localStorage.getItem('QuotationbCode')
      axios.get ( this.bURL + 'quotation/GetQuotationSummary?SalesPersons='+this.Salesperson+'&Customer='+ this.Customer +'&DateFrom='+ this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch +'&QuotStatus='+this.Status)
        .then((response)  =>  {
          this.Quotations = response.data
            for (this.i= 0; this.i < this.Quotations.length; this.i++) {

            if(this.Quotations[this.i].QuoteStatus==="P")
            {
                this.Quotations[this.i].QuoteStatus ="Pending";
            }
            else if(this.Quotations[this.i].QuoteStatus==="C")
            {
                this.Quotations[this.i].QuoteStatus ="Confirmed"
            }
            else if(this.Quotations[this.i].QuoteStatus==="S")
            {
                this.Quotations[this.i].QuoteStatus ="Sales Invoice Made"
            }
          }
          if (this.Quotations.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalQuotations(this.Quotations)
          this.SetValuesToLS(this.Salesperson,this.Status,this.Customer,this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
     this.isLoading = true,
     axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Quotation&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
             this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('QuotationNo',response.data)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/quotation')
            this.$router.push('/dashboard/vouchers/quotation')
             this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }

}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
