<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <!-- ****************************************** Filter Start heare ************************************************ -->

        <div  v-if="NoContent" style="padding-bottom:10px !important">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>
       <v-btn
      ref="button"
      class="drawer-buttonnew"
      color="rgb(30, 136, 229)"
      dark
      @click="UploadAllSales()"
    v-if="!NoContent"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-upload</v-icon>

    </v-btn>
    <v-btn
    v-if="!IsOffline"
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
       style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
    </v-btn>
     <v-navigation-drawer

      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row ">
      <div class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Itemwise">{{ $t(`menu.ItemWise`) }}</a>
              </li>

            </ul>
          </div>
<div style="max-height:100vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">
             <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllPayments" class="tab-pane active">
             <v-row v-if="IsShowRoute">
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                       <label for="selectdatatype"   style="padding-left:10px !important">{{ $t(`dashboard.route`) }}</label>
                       <br>
                       <v-autocomplete
          v-model="selectedRoute"
          :items="RouteOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleRoute"
        >
          <v-list-item-action>
            <v-icon :color="selectedRoute.length > 0 ? 'indigo darken-4' : ''">{{ iconAllRoute }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllRoute">
            <v-list-item-title>{{ $t(`dashboard.SelectedallRoute`) }} </v-list-item-title>
           <v-list-item-subtitle>{{ $t(`dashboard.RouteCount`) }} :{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeRoute">
             <v-list-item-title>{{ $t(`dashboard.RouteCount`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                 <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important" >
                     <label for="selectdatatype"   style="padding-left:10px !important">{{ $t(`menu.SalesPerson`) }}</label>
                     <br>
                                <v-autocomplete
          v-model="selectedSalesperson"
          :items="SalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-left:10px !important;padding-right:10px !important;padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                       <label for="selectdatatype"   style="padding-left:10px !important"> {{ $t(`menu.Mode`) }}</label>
                       <br>
                       <v-autocomplete
          v-model="selectedMode"
          :items="ModeOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleMode"
        >
          <v-list-item-action>
            <v-icon :color="selectedMode.length > 0 ? 'indigo darken-4' : ''">{{ iconAllMode }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllMode">
            <v-list-item-title>{{ $t(`menu.SelectedallMode`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.ModeCount`) }} :{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeMode">
            <v-list-item-title>{{ $t(`menu.ModeCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important" >
                  <!-- <div class="form-group">
                       <label for="selectdatatype">{{ $t(`dashboard.SalesPerson`) }}</label>

                       <v-autocomplete
          v-model="selectedSalesperson"
          :items="SalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div> -->
                     <!-- <div class="form-group" >
                    <label for="selectdatatype">Mode</label>
                       <v-autocomplete
          v-model="selectedMode"
          :items="ModeOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleMode"
        >
          <v-list-item-action>
            <v-icon :color="selectedMode.length > 0 ? 'indigo darken-4' : ''">{{ iconAllMode }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllMode">
            <v-list-item-title>{{ $t(`menu.SelectedallMode`) }} </v-list-item-title>
           <v-list-item-subtitle>{{ $t(`menu.ModeCount`) }} :{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeMode">
             <v-list-item-title>{{ $t(`menu.ModeCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedMode.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>

                  </div> -->
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;">
                 <v-autocomplete
            v-model="vm.Customer"
            :items="CustomerOptions"
           :label="$t(`menu.Customer`)"

          ></v-autocomplete>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 13px !important">
                         <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px !important">
                      <v-select
            v-model="vm.Currency"
          :items="CurrencyOptions"
          :label="$t(`menu.Currency`)"
           v-if="IsMultiCurrency"
        ></v-select>
                   </v-col>
                  </v-row>

                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchSale" >View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="SearchSale"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>

          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
        @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
            <div id="Itemwise" class="tab-pane ">
           <!--  <div >
                <v-row no-gutters>

             <v-col cols="12" sm="12" md="12" style="padding-bottom:0px !important;padding-top:2px !important">
        <v-text-field
            type="text"
            :label="$t('dashboard.Searchhere')"
           v-model="Itemsearch"
           ></v-text-field>
                   </v-col>
                </v-row>
           <div class="setmaxrownew1" style="text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;">
                 <v-expansion-panel-header expand-icon=""   v-for="(item,i) in ItemObject"
      :key="i"  style="padding-right:0px !important;padding-left:0px !important;padding-top:0px !important;padding-bottom:2px !important">
        <div  v-on:click="$event.stopPropagation()">

      <v-row no-gutters  >

      <v-col
        cols="6"
        sm="6"
        style="padding-left: 2px;
    font-size: 12px;"
      >
     <label>{{item.itemName}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-right: 2px;
    font-size: 12px;"
      >
         <label >{{item.itemCode}}</label>
      </v-col>
         <v-col
        cols="10"
        sm="10"
        style="padding-left: 2px;
    font-size: 12px;"
      >

      <label>{{item.barcode}} </label>
      </v-col>
      <v-col
        cols="2"
        sm="2"
        style="text-align: right;padding-left: 2px;
    font-size: 12px;"
      >
   <input   type="checkbox" value="test"  />
      </v-col>
    </v-row>
     <v-divider></v-divider>
    </div>

      </v-expansion-panel-header >
      </div>


            </div> -->

            <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                    <input v-model="vm.ItemFromDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <input v-model="vm.ItemToDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>

             <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px!important; padding-right: 5px ;padding-left: 5px;">
                       <label for="selectdatatype"   style="padding-left:10px !important">{{ $t(`menu.Item`) }}</label>
                       <br>
                       <v-autocomplete
          v-model="selectedItems"
          :items="ItemsOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleItems"
        >
          <v-list-item-action>
            <v-icon :color="selectedItems.length > 0 ? 'indigo darken-4' : ''">{{ iconAllItems }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllItems">
            <v-list-item-title> {{ $t(`menu.SelectedallItems`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.ItemsCount`) }} :{{ selectedItems.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeItems">
            <v-list-item-title>{{ $t(`menu.ItemsCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedItems.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
            <v-row>
              <v-col cols="12" style="padding:0px !important">
                      <v-divider></v-divider>
              </v-col>


            </v-row>

              <v-row style="margin:0px">

        <v-col cols="12" md="12" lg="12" style="text-align:right;padding-right:2px !important">
              <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
        @click="SearchSaleByItemwise"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
        </v-col>
              </v-row>


           </div>
          </div>
      </div>
      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div >
     <div style="margin-bottom: -23px;
    margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.SalesRegister`) }} <label style="color:rgb(238, 68, 170);font-weight:400">( <v-icon style="color:rgb(238, 68, 170);font-weight:400;font-size: 18px !important"
                    >mdi-signal-off</v-icon
                  > )</label></h4>
            </v-col>
          </v-row>
      </div>

      <!-- <v-toolbar  dark color="primary" v-if="!NoContent" style="height:35px !important;border-top-right-radius: 5px;
    border-top-left-radius: 5px;" >
      <v-row no-gutters>
        <v-col cols="6" style="text-align:left;padding-bottom: 20px;
    ">
 <span style="color:#FFF;font-size: 17px;text-align:right;">
        {{ $t(`menu.TotalSales`) }}: <b>{{TotalSales}}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;padding-bottom: 20px;
    ">
    <span style="font-size: 17px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>

<v-icon center style="color:#FFF;  box-shadow: 1px 1px 18px #FFF;margin-left:8px" @click="UploadAllSales()">mdi-upload</v-icon>
        </v-col>
      </v-row>

        </v-toolbar >
        -->
         <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="6" style="text-align:left;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
        {{ $t(`menu.TotalSales`) }}: <b>{{TotalSales}}</b></span>

        </v-col>
         <v-col cols="6" style="text-align:right;
    ">
    <span style="font-size: 15px;color:#FFF;"> {{ $t(`ecommerce.Amount`) }}: <b>{{TotalAmount }}</b></span>


        </v-col>
      </v-row>
      </div>

        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
      v-for="(item,i) in Sales"
       :key="i"
       style="margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>

         <v-col
        cols="1"
        sm="1"
        style="text-align: left;"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="font-size: 11px !important;padding-left: 2px !important">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
      v-if="item.IsUploaded"
        cols="11"
        sm="11"
        style="text-align: Center;font-weight: 600;color:green"
      >
<label>{{ item.CustomerName }}</label>
      </v-col>
      <v-col
       v-if="!item.IsUploaded"
        cols="11"
        sm="11"
        style="text-align: Center;font-weight: 600;;color:red"
      >
<label>{{ item.CustomerName }}</label>
      </v-col>
      <!-- <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{ item.CustName }}</label>
      </v-col> -->
      <v-col
        cols="5"
        sm="5"
          class="location"
      >

      <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.ReferNo }}</label>
      </v-col>
      <v-col
        cols="7"
        sm="7"
       class="locationnew"
      >
        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{FormatDate(item.VoucherDate)}}</label>
      </v-col>
         <v-col
        cols="5"
        sm="5"
          class="location"
      >
    <v-icon style="font-size: 20px;
    padding-bottom: 3px;padding-right:4px">mdi-credit-card-settings-outline </v-icon>
      <label style="font-weight:200">{{ item.Mode }}</label>
      </v-col>
    <v-col
        cols="7"
        sm="7"
         class="locationnew"
      >
      <v-icon style="font-size: 25px;
    padding-bottom: 3px;padding-right:4px">mdi-cash </v-icon>
        <label style="font-weight: 550;">{{ FormatewithDecimalPlaces(item.Amount + item.Tax + item.Discount + item.Cess) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="4"
        sm="4"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{ $t(`menu.RoundOff`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Discount}}</label>
      </v-col>
      <v-col
        cols="8"
        sm="8"
         style="padding-top: 4px;"
        class="locationnew"
      >
    <label style="font-weight: 200">{{ $t(`menu.SalesPerson`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.SoldBy }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
          style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{ $t(`dashboard.route`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.RouteName }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
          <label style="font-weight: 200">{{ $t(`menu.BranchCode`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.BranchCode }}</label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
          style="padding-top: 4px;"
        class="location"
      >
         <label style="font-weight: 200">{{ $t(`menu.Notes`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Description }}</label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        style="text-align: right;"

      >
     <!-- <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
      <i class="fas fa-edit"></i>
      </v-col> -->
       <!-- <v-btn small color="#FFF" style="color:#E53935;  box-shadow: 1px 1px 18px #E53935;" @click="EditSale(item.VoucherNo)"><v-icon center>mdi-delete</v-icon></v-btn> -->

       <v-btn small color="#FFF" style="color:#00355E; box-shadow: 1px 1px 18px #00355E;"     @click="EditSale(item.ReferNo)"><v-icon center>fas fa-eye</v-icon></v-btn>
        <v-btn small color="#FFF" style="color:#1E88E5;  box-shadow: 1px 1px 18px #1E88E5;margin-left:8px" @click="UploadSale(i)"><v-icon center>mdi-upload</v-icon></v-btn>
           <v-btn v-if="item.Reason != '' && item.IsUploaded === false" small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;margin-left:8px" @click="OpenReason(i)"><v-icon center style ="color:red;font-size: 18px;">fas fa-info</v-icon></v-btn>
            </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->
    <!-- ------------------------------------------------- UploadSaleModal Start Here------------------------------------------------------- -->

    <v-dialog v-model="UploadSaleModal" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to upload sale?</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="UploadSaleModal = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="rgb(40 167 69)" v-if="!isSignInDisabled" @click="ExecuteUploadSale()">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- UploadSaleModal StEndsart Here------------------------------------------------------- -->


    <!-- ------------------------------------------------- UploadSaleModal Start Here------------------------------------------------------- -->

    <v-dialog v-model="UploadAllSaleModal" persistent max-width="300">
      <template> </template>
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to upload all sale?</v-card-title
        >
        <v-row style="margin:0px">
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="UploadAllSaleModal = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col cols="6" md="6" lg="6" style="text-align:center">
            <v-btn outlined color="rgb(40 167 69)" @click="ExecuteUploadAll()">{{
              $t(`dashboard.ok`)
            }}</v-btn>
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- UploadSaleModal StEndsart Here------------------------------------------------------- -->



  <!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
    <v-dialog
      v-model="CommonModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(238,68,170)"> </v-card-title>
        <v-card-text>
          <label>Failed reason :</label>
          <label style="color:red">{{ CommonModalLabel }}</label>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="CommonModal = false"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`dashboard.ok`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- ------------------------------------------------- CommonModal Ends Here------------------------------------------------------- -->



 <!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
    <!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import orderFirstLastVue from '../ui/_examples/grids/advanced/order-first-last.vue'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {
    globalpassword
  },
  data() {
    return {
       GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
      row: 'radio-1',
      scroll: null,
      ModeOptions : ['Non Credit','Credit'],
      ItemsOptions : [],
      RouteOptions : [],
      SalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      CustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      CurrencyOptions : JSON.parse(localStorage.getItem('Currency')),
      ItemObject : JSON.parse(localStorage.getItem('Items')),
      right: false,
      Sales:[],
      vm : [],
      Branch:'',
      TotalSales:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedMode:[],
      selectedItems:[],
       selectedRoute:[],
      selectedSalesperson:[],
      NoContent:true,
      IssalespersonShow:false,
      IsMultiBarnch : false,
      IsMultiCurrency : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      showhide:true,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
     RouteObject: localStorage.getItem('LinkedRoutes') ? JSON.parse(localStorage.getItem('LinkedRoutes')):[],
     IsShowRoute :false,
     snackbar: false,
      SnackbarMessege: "",
      timeout: 2000,
     IsOffline:true,
     UploadId : -1,
     UploadSaleModal : false,
     UploadAllSaleModal : false,
     UploadList:[],
     CommonModal:false,
     CommonModalLabel : ""

    }
  },
   mixins: [DayEndCheck],
  computed: {
    likesAllMode () {
      return this.selectedMode.length === this.ModeOptions.length
    },
    likesSomeMode () {
      return this.selectedMode.length > 0 && !this.likesAllMode
    },
    likesAllSalesperson () {
      return this.selectedSalesperson.length === this.SalespersonOptions.length
    },
    likesSomeSalesperson () {
      return this.selectedSalesperson.length > 0 && !this.likesAllSalesperson
    },

    likesAllRoute () {
      return this.selectedRoute.length === this.RouteOptions.length
    },
    likesSomeRoute () {
      return this.selectedRoute.length > 0 && !this.likesAllRoute
    },

    likesAllItems () {
      return this.selectedItems.length === this.ItemsOptions.length
    },
    likesSomeItems () {
      return this.selectedItems.length > 0 && !this.likesAllItems
    },

    iconAllMode () {
      if (this.likesAllMode) return 'mdi-close-box'
      if (this.likesSomeMode) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconAllRoute () {
      if (this.likesAllRoute) return 'mdi-close-box'
      if (this.likesSomeRoute) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconSalesperson () {
      if (this.likesAllSalesperson) return 'mdi-close-box'
      if (this.likesSomeSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
    iconAllItems () {
      if (this.likesAllItems) return 'mdi-close-box'
      if (this.likesSomeItems) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
  history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BinRouteOptions()
    localStorage.setItem('PreviousPage','SalesRegisterOffline')
    localStorage.setItem('ActivePage','SalesRegisterOffline')
    localStorage.setItem('ActiveRoute','/dashboard/sales_regOffline')
   localStorage.removeItem('VoucherUpdated')
     window.addEventListener('scroll', this.scrollFunction);
     this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
     this.vm.ItemFromDate= this.GetTodaysDate(this.value)
    this.vm.ItemToDate = this.GetTodaysDate(this.value)
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }

    if (this.Sales.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
   this.SearchSale()
    this.ItemsBinding()
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.vm.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
      this.IsRouteMandatory = this.Settings.IsRouteMandatory
      if(this.IsRouteMandatory === 'True')
      {
         this.IsShowRoute = true
      }
      else{
        this.IsShowRoute = false
      }
    },
    toggleMode () {
      this.$nextTick(() => {
        if (this.likesAllMode) {
          this.selectedMode = []
        } else {
          this.selectedMode = this.ModeOptions.slice()
        }
      })
    },
     toggleRoute () {
      this.$nextTick(() => {
        if (this.likesAllRoute) {
          this.selectedRoute = []
        } else {
          this.selectedRoute = this.RouteOptions.slice()
        }
      })
    },
    toggleSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllSalesperson) {
          this.selectedSalesperson = []
        } else {
          this.selectedSalesperson = this.SalespersonOptions.slice()
        }
      })
    },

     toggleItems () {
      this.$nextTick(() => {
        if (this.likesAllItems) {
          this.selectedItems = []
        } else {
          this.selectedItems = this.ItemsOptions.slice()
        }
      })
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(',')

      return values
    },
     GetsWithComma1(values)
    {
      values =  values.join('~')

      return values
    },
    GetTotalSales(Sales)
    {
      this.TotalAmount = 0
      this.TotalSales = Sales.length
      for (this.i = 0; this.i < Sales.length; this.i++)
      {
        this.TotalAmount += Sales[this.i].Amount
          this.Mode = []
        for(this.j=0;this.j< Sales[this.i].SalesDrLedgers.length;this.j++)
        {
            if(Sales[this.i].SalesDrLedgers[this.j].Mode === "C")
            {
              if(this.Mode.includes("Cash") === false)
                this.Mode.push("Cash")
            }
             if(Sales[this.i].SalesDrLedgers[this.j].Mode === "B")
            {
              if(this.Mode.includes("Bank") === false)
                this.Mode.push("Bank")
            }
             if(Sales[this.i].SalesDrLedgers[this.j].Mode === "D")
            {
              if(this.Mode.includes("Credit") === false)
                this.Mode.push("Credit")
            }
            if(Sales[this.i].SalesDrLedgers[this.j].Mode === "o")
            {
              if(this.Mode.includes("Other") === false)
                this.Mode.push("Other")
            }

           
        }
         Sales[this.i].Mode = this.Mode.join(',')
        
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchSale()
    {
     this.Mode = this.selectedMode
     if (this.selectedMode.length === this.ModeOptions.length)
      {
        this.Mode = 'All'
      }
      else {
        if (this.selectedMode.length === 0)
        {
          this.Mode = 'All'
        }
        else
        {
          for(this.i=0;this.i<this.Mode.length;this.i++)
          {
              if(this.Mode[this.i] === "Non Credit")
              {
                this.Mode[this.i] = "Cash,Bank,Other"
              }
          }
          this.Mode = this.GetsWithComma(this.Mode)
        }
      }

      this.Salesperson = this.selectedSalesperson
     if (this.selectedSalesperson.length  === 0)
      {
        this.Salesperson = this.GetsWithComma1(this.SalespersonOptions)
      }
      else {
          this.Salesperson = this.GetsWithComma1(this.selectedSalesperson)
      }

      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }

      if(this.vm.Customer === undefined || this.vm.Customer === '')
      {
        this.Customer ='All'
      }
      else
      {
        this.Customer = this.vm.Customer
      }
      this.isLoading = true
      if(this.IsShowRoute === true)
      {

        if(this.selectedRoute.length === 0)
        {
          this.Username = localStorage.getItem('UserType')
          if(this.Username === "Administrator")
          {
            this.RouteIds = 'All'
          }

          else
          {
             this.RouteIds = [];
       for(this.j=0;this.j<this.RouteOptions.length;this.j++)
       {
          for(this.i=0;this.i<this.RouteObject.length;this.i++)
          {
            if(this.RouteObject[this.i].RouteName === this.RouteOptions[this.j])
            {
              this.RouteIds.push(this.RouteObject[this.i].RouteID)
              break
            }
          }
       }
          this.RouteIds = this.GetsWithComma1(this.RouteIds)
          }
        }
        else
        {
          this.Username = localStorage.getItem('UserType')
          if(this.selectedRoute.length === this.RouteObject.length && this.Username === "Administrator")
          {
                this.RouteIds = 'All'
          }else{
           this.RouteIds = [];
       for(this.j=0;this.j<this.selectedRoute.length;this.j++)
       {
          for(this.i=0;this.i<this.RouteObject.length;this.i++)
          {
            if(this.RouteObject[this.i].RouteName === this.selectedRoute[this.j])
            {
              this.RouteIds.push(this.RouteObject[this.i].RouteID)
              break
            }
          }
       }
          this.RouteIds = this.GetsWithComma1(this.RouteIds)
          }
        }
      }
      else{
        this.RouteIds = 'All'
      }
      axios.get ( this.bURL + 'Sales/GetSalesSummaryWithExpiry?SalesPersons='+this.Salesperson+'&Modes='+ this.Mode +'&Customer='+ this.Customer +'&DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch+'&Currency='+this.vm.Currency +'&RouteIDs=' + this.RouteIds,
      {
        headers: this.headers
       })
        .then((response)  =>  {
          this.Sales = response.data
          for (this.i= 0; this.i < this.Sales.length; this.i++) {

            if(this.Sales[this.i].Mode==="C")
            {
                this.Sales[this.i].Mode ="Cash/Bank";
            }
            else if(this.Sales[this.i].Mode==="B")
            {
                this.Sales[this.i].Mode ="Cash/Bank"
            }
            else if(this.Sales[this.i].Mode==="D")
            {
                this.Sales[this.i].Mode ="Credit"
            }
            else if(this.Sales[this.i].Mode==="O")
            {
                this.Sales[this.i].Mode ="Others"
            }
          }
          if (this.Sales.length === 0)
          {
            this.NoContent = true,
            this.isLoading = false
          }
          else {
            this.NoContent = false,
            this.isLoading = false
          }
          this.GetTotalSales(this.Sales)
          this.SetValuesToLS(this.Salesperson,this.Mode,this.Customer,this.vm.FromDate,this.vm.ToDate,this.Branch,this.vm.Currency,this.RouteIds)
          this.right = false,
          this.isLoading = false
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
     SearchSaleByItemwise()
    {
     this.Mode = this.selectedMode
     if (this.selectedMode.length === this.ModeOptions.length)
      {
        this.Mode = 'All'
      }
      else {
        if (this.selectedMode.length === 0)
        {
          this.Mode = 'All'
        }
        else
        {
          for(this.i=0;this.i<this.Mode.length;i++)
          {
              if(this.Mode[this.i] === "Non Credit")
              {
                this.Mode[this.i] = "Cash,Bank,Other"
              }
          }
          this.Mode = this.GetsWithComma(this.Mode)
        }
      }
      this.Salesperson = this.selectedSalesperson
     if (this.selectedSalesperson.length  === 0)
      {
        this.Salesperson = this.GetsWithComma1(this.SalespersonOptions)
      }
      else {
          this.Salesperson = this.GetsWithComma1(this.selectedSalesperson)
      }

      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }

      if(this.vm.Customer === undefined || this.vm.Customer === '')
      {
        this.Customer ='All'
      }
      else
      {
        this.Customer = this.vm.Customer
      }
      this.isLoading = true



           this.RouteIds = [];
       for(this.j=0;this.j<this.selectedRoute.length;this.j++)
       {
          for(this.i=0;this.i<this.RouteObject.length;this.i++)
          {
            if(this.RouteObject[this.i].RouteName === this.selectedRoute[this.j])
            {
              this.RouteIds.push(this.RouteObject[this.i].RouteID)
              break
            }
          }
       }
          this.RouteIds = this.GetsWithComma(this.RouteIds)



      if (this.selectedItems.length === this.ItemsOptions.length)
      {
        this.ItemCodes = 'All'
      }
      else {
        if (this.selectedItems.length === 0)
        {
          this.ItemCodes = 'All'
        }
        else
        {
           this.ItemCodes = [];
       for(this.j=0;this.j<this.selectedItems.length;this.j++)
       {
          this.Data = this.selectedItems[this.j].split(' - ')
          this.ItemCodes.push(this.Data[1])
       }
          this.ItemCodes = this.GetsWithComma(this.ItemCodes)
        }
      }
      axios.get ( this.bURL + 'Sales/RepSalesSummaryWithExpiryItemwise?SalesPersons='+this.Salesperson+'&Modes='+ this.Mode +'&Customer='+ this.Customer +'&DateFrom='+this.vm.ItemFromDate +'&DateTo='+this.vm.ItemToDate+'&BranchCode='+this.Branch+'&Currency='+this.vm.Currency +'&RouteIDs=' + this.RouteIds + '&ItemCodes=' + this.ItemCodes,
      {
        headers: this.headers
       } )
        .then((response)  =>  {
          this.Sales = response.data
          for (this.i= 0; this.i < this.Sales.length; this.i++) {

            if(this.Sales[this.i].Mode==="C")
            {
                this.Sales[this.i].Mode ="Cash/Bank";
            }
            else if(this.Sales[this.i].Mode==="B")
            {
                this.Sales[this.i].Mode ="Cash/Bank"
            }
            else if(this.Sales[this.i].Mode==="D")
            {
                this.Sales[this.i].Mode ="Credit"
            }
            else if(this.Sales[this.i].Mode==="O")
            {
                this.Sales[this.i].Mode ="Others"
            }
          }
          if (this.Sales.length === 0)
          {
            this.NoContent = true,
            this.isLoading = false
          }
          else {
            this.NoContent = false,
            this.isLoading = false
          }
          this.GetTotalSales(this.Sales)
          this.SetValuesToLS(this.Salesperson,this.Mode,this.Customer,this.vm.ItemFromDate,this.vm.ItemToDate,this.Branch,this.vm.Currency,this.RouteIds)
          this.right = false,
          this.isLoading = false
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    EditSale(SaleNo)
    {
       localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        localStorage.removeItem('SalesObject')
        localStorage.removeItem('SalesCustomerName')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
      localStorage.setItem('SaleNo',SaleNo)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
      this.$router.push('/dashboard/vouchers/sales')
    },
    SetValuesToLS(Salesperson,Mode,Customer,fromDate,toDate,bCode,Currency,RouteIds)
    {
        localStorage.setItem('SaleRegHolding',true)
        localStorage.setItem('SaleSalesperson',Salesperson);
        localStorage.setItem('SaleMode',Mode);
        localStorage.setItem('SaleCustomer',Customer);
        localStorage.setItem('SalefromDate',fromDate);
        localStorage.setItem('SaletoDate',toDate);
        localStorage.setItem('SalebCode',bCode);
        localStorage.setItem('SaleCurrency',Currency);
        localStorage.setItem('RouteIds',RouteIds);
    },
    GetSales()
    {

      this.Result = localStorage.getItem('SalesOffLineList')
      this.Username = localStorage.getItem('user')
      if(this.Result !== null)
      {
        this.Result = JSON.parse(this.Result)
      }
      else{
        this.Result = []
      }
      for(this.i=0;this.i<this.Result.length;this.i++)
      {
        if(this.Username === this.Result[this.i].Username)
        {
          this.Sales.push(this.Result[this.i])
        }
      }
    if (this.Sales.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
      this.GetTotalSales(this.Sales)

      /* this.Salesperson = localStorage.getItem('SaleSalesperson')
      this.Mode = localStorage.getItem('SaleMode')
       this.Customer = localStorage.getItem('SaleCustomer')
      this.vm.FromDate = localStorage.getItem('SalefromDate')
      this.vm.ToDate = localStorage.getItem('SaletoDate')
      this.Branch = localStorage.getItem('SalebCode')
      this.Currency = localStorage.getItem('SaleCurrency')
      this.RouteIds = localStorage.getItem('RouteIds')
      axios.get ( this.bURL + 'Sales/GetSalesSummaryWithExpiry?SalesPersons='+this.Salesperson+'&Modes='+ this.Mode +'&Customer='+ this.Customer +'&DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch+'&Currency='+this.Currency+'&RouteIDs=' + this.RouteIds,
      {
        headers: this.headers
       })
        .then((response)  =>  {
          this.Sales = response.data
           for (this.i= 0; this.i < this.Sales.length; this.i++) {

            if(this.Sales[this.i].Mode==="C")
            {
                this.Sales[this.i].Mode ="Cash/Bank";
            }
            else if(this.Sales[this.i].Mode==="B")
            {
                this.Sales[this.i].Mode ="Cash/Bank"
            }
            else if(this.Sales[this.i].Mode==="D")
            {
                this.Sales[this.i].Mode ="Credit"
            }
            else if(this.Sales[this.i].Mode==="O")
            {
                this.Sales[this.i].Mode ="Others"
            }
          }
          if (this.Sales.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalSales(this.Sales)
          this.right = false
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        }) */

  },
  SearchVoucherNo()
  {
    this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Sales&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
            this.isLoading = false
          }
          else {
            this.Error = orderFirstLastVue
             axios.get ( this.bURL + 'Sales/' + response.data)
        .then((response)  =>  {
          this.voucherSalesman = response.data.SoldBy
         for(this.i = 0;this.i<this.SalespersonOptions.length;this.i++)
            {
              if(this.voucherSalesman === this.SalespersonOptions[this.i])
              {
                 localStorage.setItem('SaleNo',response.data.VoucherNo)
                 this.$router.push('/dashboard/vouchers/sales')
                 break
              }
              else{
                this.Error = true
                this.ErrorMessege = 'You have no permission'
              }
            }
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status  === 401)
          {
            this.right = false
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })


            this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
          this.isLoading = false
        })
  },
   BinRouteOptions()
    {

                   this.IsShowRoute = true;
                    for(this.i=0;this.i<this.RouteObject.length;this.i++)
                    {
                      this.RouteOptions.push(this.RouteObject[this.i].RouteName)
                    }
    },
  FormatDate(Value)
  {
    this.DateWithoutTime =  Value.split('T')[0]
    this.Date =  new Date(Value)
      this.Hr =  this.Date.getHours()
      this.Min =  this.Date.getMinutes();
      this.ampm =  this.Hr >= 12 ? 'PM' : 'AM';
      this.Hr = this.Hr % 12;
      this.Hr = this.Hr ? this.Hr : 12; // the hour '0' should be '12'
      this.Min = this.Min < 10 ? '0'+this.Min : this.Min;
      this.VoucherTime  = this.Hr +  ":"  + this.Min + "   " + this.ampm
      this.Result =  this.DateWithoutTime + " " + this.VoucherTime
    return this.Result
  },
  ItemsBinding()
  {
    this.ItemsOptions = [];
     for(this.i = 0; this.i<this.ItemObject.length;this.i++)
     {
         this.Data = this.ItemObject[this.i].itemName + " - " +  this.ItemObject[this.i].itemCode + " - " +  this.ItemObject[this.i].barcode
         this.ItemsOptions.push(this.Data);
     }
  },
  ViewSale()
  {
    return
  },
  UploadSale(id)
  {
    if( this.Sales[id].IsUploaded === false)
    {
        this.UploadId = id
        this.UploadSaleModal = true;
    }
    else{
      this.SnackbarMessege = "Already uploaded"
      this.snackbar = true
    }

  },
  ExecuteUploadSale()
  {
      this.Loaderdialog = true;
      this.isSignInDisabled = true;
           this.bURL = localStorage.getItem("CompanyURL")+"/api/";
         this.SalesDrLedgers = this.Sales[this.UploadId].SalesDrLedgers
              for (this.i = 0; this.i < this.SalesDrLedgers.length; this.i++) {
          if (this.SalesDrLedgers[this.i].Mode === "Cash") {
            this.SalesDrLedgers[this.i].Mode = "C";
          }
          if (this.SalesDrLedgers[this.i].Mode === "Bank") {
            this.SalesDrLedgers[this.i].Mode = "B";
          }
          if (this.SalesDrLedgers[this.i].Mode === "Other") {
            this.SalesDrLedgers[this.i].Mode = "O";
          }
          if (this.SalesDrLedgers[this.i].Mode === "Credit") {
            this.SalesDrLedgers[this.i].Mode = "D";
          }
          if (this.SalesDrLedgers[this.i].Amount === 0) {
            this.SalesDrLedgers.splice(this.i, 1);
            this.i--;
          }
        }
        this.Sales[this.UploadId].SalesDrLedgers = this.SalesDrLedgers;

        axios
          .post(
            this.bURL +
              "Sales/SalesPost?IsUpdateCustomerVisit=" +
              this.Sales[this.UploadId].IsUpdateCustomerVisit,
            this.Sales[this.UploadId],
            {
              headers: this.headers
            }
          )
          .then(
            response => {
              this.Loaderdialog = false;
              this.isSignInDisabled = false;
              this.SnackbarMessege = "Success"
              this.snackbar = true
              this.UploadSaleModal = false;
              this.Sales[this.UploadId].IsUploaded = true
               localStorage.setItem('SalesOffLineList',JSON.stringify(this.Sales))

              //setTimeout(  location.reload() , 5000)
            },
             (error)  =>  {
              this.Loaderdialog = false;
              this.isSignInDisabled = false;
              if (error.response === undefined) {
                this.SnackbarMessege = "Check your internet connection,then try again!"
              } else if (error.response.data !== "") {
                this.SnackbarMessege = error.response.data;
              }
                else if(error.response.status  === 401)
              {
                this.GlobalPasswordModal = true
              }
              else {
                this.SnackbarMessege = "Check your internet connection,then try again!"
              }
              this.snackbar = true;
          })

  },
  UploadAllSales()
  {
     this.UploadList = []
     for(this.i=0;this.i<this.Sales.length;this.i++)
      {
        if(this.Sales[this.i].IsUploaded === false)
        {
            this.UploadList.push(this.Sales[this.i])
        }
      }
      if(this.UploadList.length > 0)
      {
          this.UploadAllSaleModal = true;
      }
      else{
        this.SnackbarMessege = "all vouchers are uploaded"
        this.snackbar = true
      }

  },
  ExecuteUploadAll()
  {
    this.ExecuteUploadAllSales(this.Sales,true)
  },
 /*  ExecuteUploadAllSales()
  {
      this.Loaderdialog = true;
      this.isSignInDisabled = true;

      this.bURL = localStorage.getItem("CompanyURL")+"/api/";

          this.Loaderdialog = true;
              this.isSignInDisabled = true;
        axios
          .post(
            this.bURL +
              "Sales/SalesPostMukltiple",
            this.UploadList,
            {
              headers: this.headers
            }
          )
          .then(
            response => {
              this.Loaderdialog = false;
              this.isSignInDisabled = false;
              this.UploadAllSaleModal = false

                for(this.i=0;this.i<this.Sales.length;this.i++)
                {
                  for(this.j=0;this.j<response.data.length;this.j++)
                  {
                    if(this.Sales[this.i].IsUploaded === false)
                    {
                        this.Result = response.data[this.j].split('~')
                        if(this.Result[1] === "GUID already exist" || this.Result[1] === "Success")
                        {
                          if(this.Result[0] === this.Sales[this.i].ReferNo)
                          {
                              this.Sales[this.i].IsUploaded = true
                          }
                        }
                        else
                        {
                          if(this.Result[0] === this.Sales[this.i].ReferNo)
                          {
                            this.Sales[this.i].Reason =  this.Result[1]
                          }
                        }
                    }
                  }
                }
               localStorage.setItem('SalesOffLineList',JSON.stringify(this.Sales))


              //setTimeout(  location.reload() , 5000)
            },
             (error)  =>  {
              this.Loaderdialog = false;
              this.isSignInDisabled = false;
              if (error.response === undefined) {
                this.SnackbarMessege = "Check your internet connection,then try again!"
              } else if (error.response.data !== "") {
                this.SnackbarMessege = error.response.data;
              }
                else if(error.response.status  === 401)
              {
                this.GlobalPasswordModal = true
              }
              else {
                this.SnackbarMessege = "Check your internet connection,then try again!"
              }
              this.snackbar = true;
          })

  }, */
  OpenReason(id)
  {
    this.CommonModalLabel = this.Sales[id].Reason
    this.CommonModal = true
  },
  EditSale(ReferNo)
  {
    localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        localStorage.removeItem('SalesObject')
        localStorage.removeItem('SalesCustomerName')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
      localStorage.setItem('SaleNo',ReferNo)
      this.$router.push('/dashboard/vouchers/salesOffline')

  }
  }

}
</script>
<style lang="scss" scoped>
.drawer-buttonnew {
  position: fixed;
  top: 143px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
<style >
@media screen and (max-height: 700px) {


.setmaxrownew1{
    max-height:380px;
}
}
  @media (min-height: 701px) and (max-height: 750px) {

.setmaxrownew1{
    max-height:440px;
}
        }
          @media (min-height: 751px) and (max-height: 900px) {

.setmaxrownew1{
    max-height:480px;
}
        }
          @media (min-height: 901px) and (max-height: 1050px) {

.setmaxrownew1{
    max-height:690px;
}
        }
           @media (min-height:1051px) and (max-height: 1500px) {
      .setmaxrow
{
  max-height:980px;
}
.setmaxrownew1{
    max-height:1020px;
}
        }

</style>
