<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

        <div  v-if="NoContent" style="padding-bottom:10px !important">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>

    <v-btn
      ref="button"
      class="drawer-button"
     color="rgb(0 99 145)"
      dark
      @click="right = true"

  style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
       <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
     <div class="container-fluid">
        <div class="row">
      <div class=" .col-12 col-sm-12 cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllServiceBookings"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">By ReferNo</a>
              </li>

            </ul>
          </div>
      <div class="container-fluid">
          <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="AllServiceBookings" class="tab-pane active">
            <div >
              <div class="row">
                <div class="col-12" style="    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: -10px;" >
                   <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;width:100%;border-radius: 0px;">
            <div class="card-body" style="padding: 1rem;">
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent">
                <div class="custom-control custom-radio custom-control-inline" @click="IsByServiceBookingDate=true">
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked" >
                  <label class="custom-control-label" for="customRadioInline1" >Preferred Date</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" @click="IsByPreferredDate=false">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadioInline2">Booking Date</label>
                </div>
              </div>
            </div>
          </div>
                </div>
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
                  <div class="form-group">
                    <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                  </div>
                  <div class="form-group">
                     <label for="todate">{{ $t(`dashboard.To`) }} :</label>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                  </div>
                    <div class="form-group" >
                    <label for="selectdatatype">Customer</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedCustomers"
          :items="CustomerOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleCustomers"
        >
          <v-list-item-action>
            <v-icon :color="selectedCustomers.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCustomers }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCustomers">
            <v-list-item-title>{{ $t(`menu.SelectedallCustomers`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.CustomersCount`) }} :{{ selectedCustomers.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCustomers">
            <v-list-item-title>{{ $t(`menu.CustomersCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCustomers.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                     <div class="form-group" >
                    <label for="selectdatatype">Contact</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedContacts"
          :items="ServiceContactOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleContacts"
        >
          <v-list-item-action>
            <v-icon :color="selectedContacts.length > 0 ? 'indigo darken-4' : ''">{{ iconAllContacts }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllContacts">
            <v-list-item-title>{{ $t(`menu.SelectedallContacts`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.ContactsCount`) }} :{{ selectedContacts.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeContacts">
            <v-list-item-title>{{ $t(`menu.ContactsCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedContacts.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>

                    <div class="form-group" v-if="IsSalespersonShow">
                    <label for="selectdatatype">Sales Person</label>
                    <div class="form-group">
                       <v-autocomplete
          v-model="selectedSalesperson"
          :items="SalespersonOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconAllSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
            <v-list-item-title>{{ $t(`menu.SelectedallSalesperson`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.SalespersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`menu.SalespersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                    </div>
                  </div>
                        <v-select
            v-model="vm.Priority"
          :items="PriorityOptions"
           label="Priority"
        ></v-select>


                      <v-select
            v-model="vm.Status"
          :items="StatusOptions"
           label="Status"
        ></v-select>
          <v-select
            v-model="vm.ServiceType"
          :items="ServiceTypeOptions"
           label="Service Type"
        ></v-select>
          <v-select
            v-model="vm.ServiceRequest"
          :items="ServiceRequestOptions"
           label="Service Request"
        ></v-select>

                    <v-select
            v-model="vm.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchServiceBooking">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchServiceBooking"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div id="ByVoucherNo" class="tab-pane ">
            <div >
               <v-text-field  value="First and two on el street" label="Refer No" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                     <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
       @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
           </div>
          </div>
      </div>
        </div>

 </div>


    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
     <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px;font-family: Times New Roman, Times, serif !important;" >Service Register</h4>
            </v-col>
          </v-row>
      </div>

           <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:center;font-family: Times New Roman, Times, serif !important;">
         Total Service: <b>{{ TotalServiceBookings }}</b></span>

        </v-col>

      </v-row>
      </div>
           <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
     v-for="(item,i) in ServiceBookings"
       :key="i"
        style="margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header  style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;font-family: Times New Roman, Times, serif !important;"
      >
<label>{{ item.Cust }} - ( {{item.ReferNo}} )</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
         class="location"
      >

      <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{ FormatDate(item.BookingDate) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
         <label style="font-weight:100"><v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon></label><label style="font-weight: 500 !important;">{{FormatDate(item.PreferredDate) }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="7"
        sm="7"
        style="padding-top: 4px;"
         class="location"
      >
       <label style="font-weight: 200;font-family: Times New Roman, Times, serif !important;">Contact</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{item.Contact}}</label>

      </v-col>
      <v-col
        cols="5"
        sm="5"
         style="padding-top: 4px;"
         class="locationnew"
      >
           <label style="font-weight: 200;font-family: Times New Roman, Times, serif !important;">{{ $t(`menu.Status`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Status }}</label>
      </v-col>
       <v-col
        cols="12"
        sm="12"
            style="padding-top: 4px;"
         class="location"

      >
          <label style="font-weight: 200;font-family: Times New Roman, Times, serif !important;">Salesman</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Salesperson }}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
          style="padding-top: 4px;"
         class="location"
      >
      <label style="font-weight: 200;font-family: Times New Roman, Times, serif !important;">Priority</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Priority }}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
           style="padding-top: 4px;"
         class="locationnew"
      >
     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;max-width: 44px;height: 24px;min-width: 36px;" @click="EditServiceBooking(item.ServiceBookingId)"><v-icon center style="font-size:20px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
        <v-col
            cols="12"
            sm="12"
             style="padding-top: 4px;"
             class="location"
          >
           <v-divider></v-divider>
          </v-col>
          </v-row>
          <v-row no-gutters  v-for="(task,j) in item.Tasks"
                            :key="j">
      <v-col
          cols="6"
          sm="6"
           style="padding-top: 4px;"
           class="location"
        >
                 <span style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">{{task.Name}}
              </span>

        </v-col>
         <v-col
          cols="6"
          sm="6"
              style="padding-top: 4px;"
           class="locationnew"
           v-if="task.Status !== ''"

        >
                   <span style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">{{ task.Status }}
                </span>
        </v-col>
        <v-col
          cols="6"
          sm="6"
              style="padding-top: 4px;"
           class="locationnew"
           v-if="task.Status === ''"

        >
                   <span style=" font-size: 13px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">Not yet started
                </span>
        </v-col>
        <v-col
          cols="8"
          sm="8"
            style="padding-top: 8px;"
           class="location"
           v-if="task.Salesperson!==''"
        >
          <span style=" font-size: 15px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">{{ task.Salesperson }}
                  </span>
        </v-col>
        <v-col
          cols="8"
          sm="8"
            style="padding-top: 8px;"
           class="location"
           v-if="task.Salesperson===''"
        >
          <span style=" font-size: 15px !important;
    font-weight: 400;color: rgba(0, 0, 0, 0.6);font-family: Times New Roman, Times, serif !important;">Not assigned
                  </span>
        </v-col>
        <v-col
          cols="4"
          sm="4"
             style="padding-top: 4px;"
           class="locationnew"
        >
       <v-menu offset-y left transition="slide-y-transition">
                  <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on" style="padding-right:6px">
                      <v-icon small>mdi-dots-vertical</v-icon>
                    </v-btn>
                  </template>
                  <v-list dense nav>
                    <v-list-item link >
                      <v-list-item-title @click="EditServiceTask(task)">Edit</v-list-item-title>
                    </v-list-item>
                    <v-list-item link @click="ServiceCommentopen()">
                      <v-list-item-title>View</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
        </v-col>
      </v-row>

      <row>
        <v-col cols="6" sm="6" md="6" style="padding-top:19px;padding-bottom:16px;">
      <v-chip
                        color="blue"
                        class="font-weight-bold mt-1 mr-1"
                        outlined
                        small
                        @click="OpenServiceTask(item.ServiceBookingId)"

                      >
                     NEW TASK
                      </v-chip>

              </v-col>
      </row>
     
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
           </div>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>


<!-- ------------------------------------------------- PrintModal Starts Here------------------------------------------------------- -->

 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">


                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:19px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row v-if="PapersizeError">
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row no-gutters>
                 <v-col cols="12" style="padding-top:0px;padding-bottom:0px;" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn style="height: 33px !important;width: 33px !important;" color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">close</v-icon>
            </v-btn>
  </span>

               </v-col>

                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn  style="height: 33px !important;width: 33px !important;" color="rgb(0, 53, 94)" fab small dark   @click="PrintServiceBookingsummary()">
            <v-icon style="    height: 19px !important;
    font-size: 19px !important;
    width: 19px !important;">print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
        </v-card>
    </v-dialog>
<!--
 <v-dialog v-model="PrintModal" persistent max-width="300" style="z-index: 100000!important;">
      <template>

      </template>
      <v-card>
          <v-card-text style="padding-bottom: 10px;padding-top:10px;">
      <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
     <v-autocomplete
      :items="Printers"
      v-model="Printer"
       @change="SetDefaultPrinter($event)"
      name="category"
      v-validate="'required'"
      item-text="name"
      :label="$t(`dashboard.SelectPrinter`)"
      style="padding-top:.8em;"
      ></v-autocomplete>
 </v-col>

                </v-row>
          <v-row>
                <v-col cols="12" sm="12" md="12" class="no-p" >
                 <label style="color:red" v-if="PrinterError">{{ $t(`menu.SelectPrinter`) }} </label>

               </v-col>
                </v-row>  <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:25px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
              @change="SetDefaultPapersize($event)"
            ></v-autocomplete>
            </v-col>

                </v-row>
                <v-row>
 <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;" >
                 <label style="color:red" v-if="PapersizeError">{{ $t(`menu.Selectpapersize`) }}</label>

               </v-col>
               </v-row>
               <v-row>
                 <v-col cols="12" >
               <v-divider> </v-divider>
               </v-col>
               </v-row>
               <v-row>

                <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:left" >
                  <span >
            <v-btn color="#EF5350" fab small dark   @click="PrintModal = false">
            <v-icon>close</v-icon>
            </v-btn>
  </span>

               </v-col>

                 <v-col cols="6" sm="6" md="6" style="padding-top:10px;padding-bottom:0px;text-align:right">
            <span >
            <v-btn color="rgb(0, 53, 94)" fab small dark   @click="PrintServiceBookingsummary()">
            <v-icon>print</v-icon>
            </v-btn>
  </span>

               </v-col>
               </v-row>
          </v-card-text>
        </v-card>
    </v-dialog> -->
<!-- ------------------------------------------------- PrintModal Ensd Here------------------------------------------------------- -->
   <v-dialog v-model="Warningtaskmodal" persistent max-width="300" style="z-index: 100000!important;">

        <v-card>
            <v-card-text style="padding-bottom: 10px;padding-top:10px;">
                   <v-row>

     <v-col cols="4" sm="4" md="4" style="padding-top:19px;padding-bottom:0px;">
      <v-chip
                        color="green"
                        class="font-weight-bold mt-1 mr-1"
                        outlined
                        small

                      >
                     NEW TASK
                      </v-chip>

              </v-col>
  <v-col cols="4" sm="4" md="4" style="padding-top:19px;padding-bottom:0px;">
    <v-chip
                        color="green"
                        class="font-weight-bold mt-1 mr-1"
                        outlined
                        small

                      >
                     LATER
                      </v-chip>

                </v-col>
                <v-col cols="4" sm="4" md="4" style="padding-top:19px;padding-bottom:0px;">
                  <v-chip
                        color="green"
                        class="font-weight-bold mt-1 mr-1"
                        outlined
                        small

                      >
                     SAME AS SERVICE BOOKING
                      </v-chip>

                </v-col>
                  </v-row>
            </v-card-text>
          </v-card>
      </v-dialog>

  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
export default {
  components: {
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      CustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      ServiceContactOptions : [],

       selectedCustomers:[],
        selectedContacts:[],
      selectedStatus:[],
        StatusOptions : [],
        PriorityOptions : [],
        ServiceTypeOptions : [],
        ServiceRequestOptions : [],
      SalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      IsSalespersonShow:false,
       selectedSalesperson:[],
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      right: true,
      ServiceBookings:[],
      vm : [],
      Branch:'',
      TotalServiceBookings:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),

      NoContent:true,
      IsMultiBarnch : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      showhide:true,
       isLoading : false,
       PrintURL:"",
       PrintModal:false,
        PrinterError : false,
      Papersize : localStorage.getItem('Papersize'),
    PapersizeOptions: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
    IsByPreferredDate:true
    }
  },
  computed: {
    likesAllContacts () {
      return this.selectedContacts.length === this.ServiceContactOptions.length
    },
    likesSomeContacts () {
      return this.selectedContacts.length > 0 && !this.likesAllContacts
    },

    likesAllCustomers () {
      return this.selectedCustomers.length === this.CustomerOptions.length
    },
    likesSomeCustomers () {
      return this.selectedCustomers.length > 0 && !this.likesAllCustomers
    },


     likesAllSalesperson () {
      return this.selectedSalesperson.length === this.SalespersonOptions.length
    },
    likesSomeSalesperson () {
      return this.selectedSalesperson.length > 0 && !this.likesAllSalesperson
    },




    iconAllContacts () {
      if (this.likesAllStatus) return 'mdi-close-box'
      if (this.likesSomeStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconAllCustomers () {
      if (this.likesAllStatus) return 'mdi-close-box'
      if (this.likesSomeStatus) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconAllSalesperson () {
      if (this.likesAllSalesperson) return 'mdi-close-box'
      if (this.likesSomeSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','ServiceBookingRegister')
    localStorage.setItem('ActivePage','ServiceBookingRegister')
    localStorage.setItem('ActiveRoute','/dashboard/registers/ServiceBookingRegister')
   localStorage.removeItem('VoucherUpdated')
   window.addEventListener('scroll', this.scrollFunction);
    this.BasicSettings()
    this.LoadServiceContact()
    
    this.LoadPriority()
    this.LoadServiceType()
    this.LoadServiceRequest()
    this.LoadServiceStatus()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
     this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.ServiceBookings.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
     window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
  created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    ServiceCommentopen()
    {
      this.$router.push('/dashboard/services/ServiceHistory')
    },
    EditServiceTask(task)
    {
      localStorage.removeItem('ServiceBookingId')
      localStorage.removeItem('BookingId')
      localStorage.setItem('ServiceTaskId',task.TaskId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
      localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
      this.$router.push('/dashboard/services/ServiceTask')

    },
    OpenServiceTask(ServiceBookingId)
    {
      localStorage.removeItem('ServiceBookingId')
      localStorage.removeItem('ServiceTaskId')
      localStorage.setItem('BookingId',ServiceBookingId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
      localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
      this.$router.push('/dashboard/services/ServiceTask')
    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

      scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
    BasicSettings()
    {

      this.IsSalespersonShow = true
      this.SalespersonLength = this.SalespersonOptions.length
      if (this.SalespersonLength === 1)
      {
        this.selectedSalesperson = this.SalespersonOptions
        this.IsSalespersonShow = false
      }

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },

    toggleContacts () {
      this.$nextTick(() => {
        if (this.likesAllContacts) {
          this.selectedContacts = []
        } else {
          this.selectedContacts = this.ServiceContactOptions.slice()
        }
      })
    },
    toggleCustomers () {
      this.$nextTick(() => {
        if (this.likesAllCustomers) {
          this.selectedCustomers = []
        } else {
          this.selectedCustomers = this.CustomerOptions.slice()
        }
      })
    },

    toggleSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllSalesperson) {
          this.selectedSalesperson = []
        } else {
          this.selectedSalesperson = this.SalespersonOptions.slice()
        }
      })
    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(',')

      return values
    },
    GetTotalServiceBookings(ServiceBookings)
    {

      this.TotalAmount = 0
      this.TotalServiceBookings = ServiceBookings.length
    /*   for (this.i = 0; this.i < ServiceBookings.length; this.i++)
      {
        this.TotalAmount += ServiceBookings[this.i].ReceivedAmount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount) */
    },
    SearchServiceBooking()
    {
      if (this.selectedSalesperson.length === 0)
        {
          if(this.userType === "Administrator")
          {
            this.Salesperson = "all"
          }
          else{
              this.Salesperson = this.GetsWithComma(this.SalespersonOptions)
          }

        }
        else
        {
          this.Salesperson = this.GetsWithComma(this.selectedSalesperson)
        }

        this.CustName = ""
        if (this.selectedCustomers.length === 0)
        {
          this.CustName = "all"
        }
        else
        {
        for(this.i=0;this.i<this.selectedCustomers.length;this.i++)
        {
          this.CustName = this.GetsWithComma(this.selectedCustomers)
        }

        }


        if (this.selectedContacts.length === 0)
        {
          this.ContactIds = "all"
        }
        else
        {
        this.ContactIds = []
        for(this.i=0;this.i<this.selectedContacts.length;this.i++)
        {
          for(this.j=0;this.j<this.ServiceContact.length;this.j++)
          {
            if(this.ServiceContact[this.j].FullName === this.selectedContacts[this.i])
            {
              this.ContactIds.push(this.ServiceContact[this.j].ContactId)
              break;
            }
          }
        }
        this.ContactIds = this.GetsWithComma(this.ContactIds)
        }
        this.StatusId = -1

          for(this.j=0;this.j<this.StatusObject.length;this.j++)
          {
            if(this.StatusObject[this.j].StatusName === this.vm.Status)
            {
              this.StatusId  = this.StatusObject[this.j].StatusId
              break;
            }
          }


        this.PriorityId = -1

          for(this.j=0;this.j<this.PriorityObject.length;this.j++)
          {
            if(this.PriorityObject[this.j].PriorityName === this.vm.Priority)
            {
              this.PriorityId  = this.PriorityObject[this.j].PriorityId
              break;
            }
          }


         this.ServiceTypeId = -1

          for(this.j=0;this.j<this.ServiceTypeObject.length;this.j++)
          {

            if(this.ServiceTypeObject[this.j].TypeName === this.vm.ServiceType)
            {
              this.ServiceTypeId = this.ServiceTypeObject[this.j].ServiceTypeId
              break;
            }
          }


          this.ServiceRequestId = -1

          for(this.j=0;this.j<this.ServiceRequestObject.length;this.j++)
          {

            if(this.ServiceRequestObject[this.j].RequestName === this.vm.ServiceRequest)
            {
              this.ServiceRequestId = this.ServiceRequestObject[this.j].ServiceRequestId
              break;
            }
          }


      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
      this.isLoading = true
      axios.get ( this.bURL + 'ServiceBooking/GetServiceBookings?Salesperson='+ this.Salesperson+ '&CustName=' + this.CustName +  '&ContactIds='+this.ContactIds +'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate   +   '&StatusId='+this.StatusId+  '&PriorityId='+this.PriorityId+  '&ServiceTypeId='+this.ServiceTypeId+  '&ServiceRequestId='+this.ServiceRequestId+   '&BranchCode=' + this.Branch + '&IsByPreferredDate=' + this.IsByPreferredDate  )
        .then((response)  =>  {
          this.ServiceBookings = response.data
          if (this.ServiceBookings.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalServiceBookings(this.ServiceBookings)
         this.SetValuesToLS(this.Salesperson,this.CustName,this.ContactIds,this.vm.FromDate,this.vm.ToDate,this.StatusId,this.PriorityId,this.ServiceTypeId,this.ServiceRequestId,this.Branch,this.IsByPreferredDate)
          this.right = false
          this.isLoading = false
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })
    },
    EditServiceBooking(ServiceBookingId)
    {
      localStorage.removeItem('IsHoldingServiceBooking')
      localStorage.removeItem('ServiceBookingObject')
      localStorage.removeItem('Requirements')
      localStorage.setItem('ServiceBookingId',ServiceBookingId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceBooking')
      this.$router.push('/dashboard/services/ServiceBooking')
    },
    SetValuesToLS(Salesperson,CustName,ContactIds,FromDate,ToDate,StatusId,PriorityId,ServiceTypeId,ServiceRequestId,Branch,IsByPreferredDate)
    {
        localStorage.setItem('BookingRegHolding',true)
        localStorage.setItem('Bookingsalesperson',Salesperson);
        localStorage.setItem('BookingCustName',CustName);
        localStorage.setItem('BookingContactIds',ContactIds);
        localStorage.setItem('BookingFromDate',FromDate);
        localStorage.setItem('BookingToDate',ToDate);
        localStorage.setItem('BookingStatusId',StatusId);
        localStorage.setItem('BookingPriorityId',PriorityId);
        localStorage.setItem('BookingServiceTypeId',ServiceTypeId);
        localStorage.setItem('BookingServiceRequestId',ServiceRequestId);
        localStorage.setItem('BookingBranch',Branch);
        localStorage.setItem('BookingIsByPreferredDate',IsByPreferredDate);
    },
    GetServiceBookings()
    {
      this.Salesperson = localStorage.getItem('Bookingsalesperson')
      this.vm.FromDate = localStorage.getItem('BookingFromDate')
      this.vm.ToDate = localStorage.getItem('BookingToDate')
      this.Branch = localStorage.getItem('BookingBranch')
      this.CustName = localStorage.getItem('BookingCustName')
      this.ContactIds = localStorage.getItem('BookingContactIds')
      this.StatusId = localStorage.getItem('BookingStatusId')
      this.PriorityId = localStorage.getItem('BookingPriorityId')
      this.ServiceTypeId = localStorage.getItem('BookingServiceTypeId')
      this.ServiceRequestId = localStorage.getItem('BookingServiceRequestId')
      this.IsByPreferredDate = localStorage.getItem('BookingIsByPreferredDate')
      axios.get ( this.bURL + 'ServiceBooking/GetServiceBookings?Salesperson='+ this.Salesperson+ '&CustName=' + this.CustName +  '&ContactIds='+this.ContactIds +'&DateFrom=' + this.vm.FromDate + '&DateTo='+this.vm.ToDate   +   '&StatusId='+this.StatusId+  '&PriorityId='+this.PriorityId+  '&ServiceTypeId='+this.ServiceTypeId+  '&ServiceRequestId='+this.ServiceRequestId+   '&BranchCode=' + this.Branch + '&IsByPreferredDate=' + this.IsByPreferredDate)
        .then((response)  =>  {
          this.ServiceBookings = response.data
          if (this.ServiceBookings.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.GetTotalServiceBookings(this.ServiceBookings)
          this.right = false
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
     this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Service Booking&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
            this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
             this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('ServiceBookingId',response.data)
             this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceBooking')
            this.$router.push('/dashboard/services/ServiceBooking')
             this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
  PrintServiceBookingsummary()
    {
      if (this.VoucherNo !== null)
      {
   if(this.Papersize === "" || this.Papersize === null)
    {
      this.PapersizeError = true
      return
    }
    this.PrinterString = this.Papersize.split(' ')
      this.Printer =  this.PrinterString[0]
      this.PapersizeNo = this.PrinterString[1]
         if(this.Printer === 'Bluetooth')
        {
          this.Loaderdialog = true
           this.url = this.bURL + 'Print/ServiceBookingsummaryNativeFormate?' +this.PrintURL + '&Papersize=' + this.PapersizeNo
           this.ServiceBookingModal = false

            this.PapperSizeForPrint = 0
          if(this.PapersizeNo === "110MM")
          {
            this.PapperSizeForPrint = 110
          }
          else
          {
            this.PapperSizeForPrint = 80
          }
            axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,1,this.PapperSizeForPrint,"0","null","ServiceBookingsummary","null")
              },
              error => {
                console.log(error);
              }
             );

        }
        else
        {
        axios.get(this.bURL + 'Print/ServiceBookingsummary?' +this.PrintURL)
          .then((response)  =>  {
             this.url = this.bURLPrint + response.data
            //window.open(this.url, '_blank')
            //window.location.href = this.url

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })
        }

      }
      else
      {

        this.SnackbarMessege = this.$t(`menu.NoServiceBookingtoPrint`)
        this.snackbar = true
      }

    },
    LoadServiceContact()
    {
      this.ServiceContactOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "ServiceContact/GetServiceContacts")
        .then((response)  =>  {
           this.ServiceContact = response.data
           for (this.i = 0; this.i < this.ServiceContact.length; this.i++) {
           this.ServiceContactOptions.push(this.ServiceContact[this.i].FullName)

           }
        }, (error)  =>  {
          console.log(error)
        })
    },
    LoadServiceStatus()
    {
      this.StatusOptions = []
      this.brcode = window.localStorage.getItem("BranchCode");
      this.role = window.localStorage.getItem("UserType");
      this.brcode=this.brcode?this.brcode:"All";
      axios.get ( this.bURL + "ServiceStatus/GetServiceStatuses")
        .then((response)  =>  {
          this.StatusObject = response.data
       for (this.i = 0; this.i < this.StatusObject.length; this.i++) {
           this.StatusOptions.push(this.StatusObject[this.i].StatusName)

           }

            if(this.PriorityOptions.length === 1)
            this.vm.Priority = this.PriorityOptions[0]

            this.isHold = localStorage.getItem('BookingRegHolding')
            if(this.isHold === 'true')
            {
                this.GetServiceBookings()
            }
            else{
                this.SearchServiceBooking()
            }
        }, (error)  =>  {
          console.log(error)
        })
    },
       LoadPriority()
    {
      this.PriorityOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "Priority/GetPriorityDetails")
        .then((response)  =>  {
          this.PriorityObject = response.data
           for (this.i = 0; this.i < this.PriorityObject.length; this.i++) {
           this.PriorityOptions.push(this.PriorityObject[this.i].PriorityName)

           }
        if(this.PriorityOptions.length === 1)
            this.vm.Priority = this.PriorityOptions[0]
        }, (error)  =>  {
          console.log(error)
        })
    },
     LoadServiceType()
    {
      this.ServiceTypeOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "ServiceType/GetServiceTypeDetails")
        .then((response)  =>  {
          this.ServiceTypeObject = response.data
           for (this.i = 0; this.i < this.ServiceTypeObject.length; this.i++) {
           this.ServiceTypeOptions.push(this.ServiceTypeObject[this.i].TypeName)

           }
        if(this.ServiceTypeOptions.length === 1)
        {
                this.vm.ServiceType = this.ServiceTypeOptions[0]
        }

        }, (error)  =>  {
          console.log(error)
        })
    },
     LoadServiceRequest()
    {
      this.ServiceRequestOptions = []
      this.brcode = window.localStorage.getItem("BranchCode");
      this.role = window.localStorage.getItem("UserType");
      this.brcode=this.brcode?this.brcode:"All";
      axios.get ( this.bURL + "ServiceRequest/GetServiceRequestDetails")
        .then((response)  =>  {

          this.ServiceRequestObject = response.data
       for (this.i = 0; this.i < this.ServiceRequestObject.length; this.i++) {
           this.ServiceRequestOptions.push(this.ServiceRequestObject[this.i].RequestName)

           }
        if(this.ServiceRequestOptions.length === 1)
           this.vm.ServiceRequest = this.ServiceRequestOptions[0]
        }, (error)  =>  {
          console.log(error)
        })
    },
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 160px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonnew {
  position: fixed;
  top: 69px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
