<template>
  <div >
   <v-btn ref="button" class="drawer-buttonservice" color="rgb(0 99 145)" dark @click="right = true"
     style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;">
     <v-icon style="  margin-left: -18px !important;
   font-size: 1.3rem !important;">mdi-filter</v-icon>
     <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
   </v-btn>
   <v-navigation-drawer v-model="right" fixed right hide-overlay temporary width="350">
     <div class="d-flex align-center pa-2">
       <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
       <v-spacer></v-spacer>
       <v-btn icon @click="right = false">
         <v-icon>mdi-close</v-icon>
       </v-btn>
     </div>
     <div class="container-fluid">
       <div class="row">
         <div class=" .col-12 col-sm-12 cardhead"
           style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

           <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
             <li class="nav-item ">
               <a class="nav-link active  " data-toggle="tab" href="#AllServiceTasks">{{ $t(`dashboard.all`) }}</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">Ticket Id</a>
             </li>

           </ul>
         </div>
         <div class="container-fluid">
           <div class="tab-content clearfix" style="padding-top:10px;">
             <div id="AllServiceTasks" class="tab-pane active">
                  <div @click="HideEndDate">
                    <label for="ignore">
                      <input id="ignore" :checked="true" type="checkbox" name="ignore" value="ignore" >
                    Ignore End Date
                    </label>
                  </div>
               <div>
                 <div class="row">

                   <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent">
                     <div class="form-group" v-if="IsShowEndDate">
                   <v-menu
       ref="menu"
       v-model="menu"
       :close-on-content-click="false"
       :return-value.sync="date"
       transition="scale-transition"
       offset-y
       min-width="290px"
     >
       <template v-slot:activator="{ on, attrs }">
         <v-text-field
           v-model="date"
           label="End Date"
           readonly
           v-bind="attrs"
           v-on="on"
         ></v-text-field>
       </template>
       <v-date-picker v-model="date" no-title scrollable>
         <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
         <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
       </v-date-picker>
     </v-menu>
                     </div>
                  
                     <div class="form-group" style="    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -22px;
    margin-bottom: -27px;">
                       <label for="selectdatatype">Customer</label>
                       <div class="form-group">
                          <v-autocomplete
         v-model="selectedCustomer"
         :items="CustomerOptions"
         label="Customer"
         multiple
         outlined
         dense
         clearable 
       >
<template v-slot:prepend-item>
       <v-list-item
         ripple
         @click="toggleCustomer"
       >
         <v-list-item-action>
           <v-icon :color="selectedCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconCustomer }}</v-icon>
         </v-list-item-action>
         <v-list-item-content>
           <v-list-item-title>Select All</v-list-item-title>
         </v-list-item-content>
       </v-list-item>
       <v-divider class="mt-2"></v-divider>
     </template>
     <template v-slot:append-item>
       <v-divider class="mb-2"></v-divider>
       <v-list-item disabled>
         <v-list-item-avatar color="grey lighten-3">
           <v-icon>mdi-account</v-icon>
         </v-list-item-avatar>

         <v-list-item-content v-if="likesAllCustomer">
           <v-list-item-title>Selected all Customer </v-list-item-title>
           <v-list-item-subtitle>Customer Count :{{ selectedCustomer.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else-if="likesSomeCustomer">
           <v-list-item-title>Customer Count</v-list-item-title>
           <v-list-item-subtitle>{{ selectedCustomer.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else>
           <v-list-item-title>
           </v-list-item-title>
           <v-list-item-subtitle>
             Go ahead, make a selection above!
           </v-list-item-subtitle>
         </v-list-item-content>
       </v-list-item>
     </template>
</v-autocomplete>
                       </div>
                     </div>
   <div class="form-group" style="margin-bottom: -13px;">
                       <label for="selectdatatype">Contact</label>
                       <div class="form-group">
                          <v-autocomplete
         v-model="selectedContact"
         :items="ContactOptions"
         label="Contact"
         multiple
         outlined
         dense
         clearable 
       >
<template v-slot:prepend-item>
       <v-list-item
         ripple
         @click="toggleContact"
       >
         <v-list-item-action>
           <v-icon :color="selectedContact.length > 0 ? 'indigo darken-4' : ''">{{ iconContact }}</v-icon>
         </v-list-item-action>
         <v-list-item-content>
           <v-list-item-title>Select All</v-list-item-title>
         </v-list-item-content>
       </v-list-item>
       <v-divider class="mt-2"></v-divider>
     </template>
     <template v-slot:append-item>
       <v-divider class="mb-2"></v-divider>
       <v-list-item disabled>
         <v-list-item-avatar color="grey lighten-3">
           <v-icon>mdi-account</v-icon>
         </v-list-item-avatar>

         <v-list-item-content v-if="likesAllContact">
           <v-list-item-title>Selected all Contact </v-list-item-title>
           <v-list-item-subtitle>Contact Count :{{ selectedContact.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else-if="likesSomeContact">
           <v-list-item-title>Contact Count</v-list-item-title>
           <v-list-item-subtitle>{{ selectedContact.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else>
           <v-list-item-title>
           </v-list-item-title>
           <v-list-item-subtitle>
             Go ahead, make a selection above!
           </v-list-item-subtitle>
         </v-list-item-content>
       </v-list-item>
     </template>
</v-autocomplete>
                       </div>
                     </div>
                     <div class="form-group" style="    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -22px;
    margin-bottom: -27px;">
                       <label for="selectdatatype">Salesperson</label>
                       <div class="form-group">
                          <v-autocomplete
         v-model="selectedSalesperson"
         :items="SalespersonOptions"
         label="Salesperson"
         multiple
         outlined
         dense
         clearable 
       >
<template v-slot:prepend-item>
       <v-list-item
         ripple
         @click="toggleSalesperson"
       >
         <v-list-item-action>
           <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconSalesperson }}</v-icon>
         </v-list-item-action>
         <v-list-item-content>
           <v-list-item-title>Select All</v-list-item-title>
         </v-list-item-content>
       </v-list-item>
       <v-divider class="mt-2"></v-divider>
     </template>
     <template v-slot:append-item>
       <v-divider class="mb-2"></v-divider>
       <v-list-item disabled>
         <v-list-item-avatar color="grey lighten-3">
           <v-icon>mdi-account</v-icon>
         </v-list-item-avatar>

         <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>Selected all Salesperson </v-list-item-title>
           <v-list-item-subtitle>Salesperson Count :{{ selectedSalesperson.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else-if="likesSomeSalesperson">
           <v-list-item-title>Salesperson Count</v-list-item-title>
           <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
         </v-list-item-content>

         <v-list-item-content v-else>
           <v-list-item-title>
           </v-list-item-title>
           <v-list-item-subtitle>
             Go ahead, make a selection above!
           </v-list-item-subtitle>
         </v-list-item-content>
       </v-list-item>
     </template>
</v-autocomplete>
                       </div>
                     </div>
                     <v-select
           v-model="vm.Priority"
         :items="PriorityOptions"
          label="Priority"
       ></v-select>

       <v-select
           v-model="vm.Status"
         :items="StatusOptions"
          label="Status"
       ></v-select>
       <v-select
           v-model="vm.IssueType"
         :items="IssueTypeOptions"
          label="IssueType"
       ></v-select>
                     <v-select
           v-model="vm.BranchCode"
         :items="BranchCodeOptions"
          :label="$t(`menu.BranchCode`)"
          v-if="IsMultiBarnch"
          :disabled="IsDisableBranch"
       ></v-select>
                     <div style="text-align:right" @click="SearchServiceTask">
                       <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchServiceTask">View</button> -->
                       <v-btn class="btn btn-primary btn-sm pull-right" :loading="isLoading" text
                         style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF">
                         {{ $t(`menu.View`) }}
                       </v-btn>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div id="ByVoucherNo" class="tab-pane ">
               <div>
                 <v-text-field value="First and two on el street" label="Refer No" v-model="VoucherNo"></v-text-field>
               </div>
               <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
               <div style="text-align:right">
                 <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                 <v-btn class="btn btn-primary btn-sm pull-right" :loading="isLoading" text @click="SearchVoucherNo"
                   style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF">
                   {{ $t(`menu.View`) }}
                 </v-btn>
               </div>
             </div>
           </div>
         </div>
       </div>

     </div>


   </v-navigation-drawer>

   <div class="mobileview">
   <v-card>
      <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >Support Ticket</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
     <div  class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 0px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius:0px;
   margin-bottom: 4px;">
            <v-row no-gutters >
         
          <v-col cols="12" style="text-align:center;
   ">
     <span style="font-size: 15px;color:#FFF;"> Total Task: <b>{{ TotalServiceTasks }}</b></span>


         </v-col>
       </v-row>

       </div>
         <!-- <div style="height: 81vh; overflow:scroll;overflow-x: hidden;"> -->
           <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
         <v-expansion-panels focusable style="border-radius:0px !important">
     <v-expansion-panel
       v-for="(item, i) in ServiceTasks"
        :key="i" style="  margin-bottom:3px !important;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   border-top-left-radius: 8px;
   border-top-right-radius:8px;"
     >
       <v-expansion-panel-header style="padding-right:0px !important;padding-left:10px !important;    padding-top: 10px;
   padding-bottom: 10px;" >
       <v-row no-gutters>

          <v-col
         cols="1"
         sm="1"
         style="text-align: left;"
       >

         <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 2px !important">fas fa-lock</v-icon></span>
       </v-col>
       <v-col
         cols="11"
         sm="11"
         style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
       >
 <label>{{item.Contact}}</label>

       </v-col>

       <v-col
         cols="5"
         sm="5"
           class="location"
       >

       <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{ item.TaskId }}</label>
       </v-col>
       <v-col
         cols="7"
         sm="7"
        class="locationnew"
       >
        <v-icon style="font-size: 18px;
   padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
         <label style="font-weight:200">{{FormatDate( item.EndDate) }}</label>
       </v-col>
       <v-col
         cols="4"
         sm="4"
           class="location"
       >
     <v-icon style="font-size: 20px;
   padding-bottom: 3px;padding-right:4px">mdi-sync-alert </v-icon>
       <label style="font-weight:200">{{item.IssueType}}</label>
       </v-col>
       <v-col
         cols="8"
         sm="8"
          class="locationnew"
       >
                <span
                       class="font-weight-bold v-chip v-chip--label v-chip--no-color theme--light v-size--small error" style="margin-right:5px"><span
                         class="v-chip__content" >{{item.Priority}}</span></span>
                           <span v-if="item.HistoryId > 0 && item.Status !=''" style="background-color:#FFA000;color:#FFF"
                       class="font-weight-bold v-chip v-chip--label v-chip--no-color theme--light v-size--small "><span
                         class="v-chip__content" style="#FFF">{{ item.Status }}</span></span>
                         <span v-if="item.HistoryId === 0 && item.Status ===''" style="background-color:#FFA000;color:#FFF"
                       class="font-weight-bold v-chip v-chip--label v-chip--no-color theme--light v-size--small "><span
                         class="v-chip__content" style="#FFF">Not yet opened</span></span>
                         <span v-if="item.HistoryId > 0 && item.Status ===''" style="background-color:#FFA000;color:#FFF"
                       class="font-weight-bold v-chip v-chip--label v-chip--no-color theme--light v-size--small "><span
                         class="v-chip__content" style="#FFF">Not yet started</span></span>
       </v-col>
     </v-row>
       </v-expansion-panel-header>
       <v-expansion-panel-content id="innerExPansales" >
       <v-row no-gutters>
           <v-col
         cols="6"
         sm="6"
         style="padding-top: 4px;"
         class="location">
   
           <label style="font-weight:200">{{ item.Salesperson}}</label>
       </v-col>
       <v-col
         cols="6"
         sm="6"
        style="padding-top: 4px;"
         class="locationnew"
       >
   <v-icon style="font-size: 20px;
   padding-bottom: 3px;padding-right:4px">mdi-source-branch </v-icon>
             <label style="font-weight:200">{{item.Branch}}</label>
       </v-col>
         <v-col
         cols="8"
         sm="8"
         style="padding-top: 4px;"
         class="location"
       >
       <label style="font-weight:200">{{item.Notes}}</label>

       </v-col>
       <v-col
         cols="4"
         sm="4"
         style="text-align: right;"

       >

          <button v-if="item.HistoryId === 0" type="button" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--small"><span
                     class="v-btn__content" @click="OpenTicket(item)"> Open Ticket </span></button>
          <button v-if="item.HistoryId > 0" type="button" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--small"><span
                     class="v-btn__content" @click="OpenHistory(item.TaskId)"> Opened</span></button>

             </v-col>
     </v-row>
       </v-expansion-panel-content>
     </v-expansion-panel>
   </v-expansion-panels>
   </div>

   </v-card>
   </div>
   <div class=" desktopview" >
       <v-toolbar dark color="primary">
         <v-toolbar-title style="color:#FFF;font-family: Times New Roman, Times, serif !important;">Support
           Tickets</v-toolbar-title>
         <v-spacer></v-spacer>
         <span style="color:#FFF;
   font-weight: 550;color:#FFF;font-family: Times New Roman, Times, serif !important;">Total Task : 6</span>
       </v-toolbar>
       <v-simple-table>
         <template v-slot:default>
           <thead>
             <tr>
               <th class="text-left" style="color:#000;font-size: .75rem;
   height: 48px;font-weight: 600!important;">TICKET ID</th>
               <th class="text-left">ISSUE TYPE</th>
               <th class="text-left">CUSTOMER</th>
               <th class="text-left">PRIORITY</th>
               <th class="text-left">STATUS</th>
               <th class="text-left">SUMMARY</th>
               <th class="text-left">CREATE DATE</th>
               <th class="text-center"></th>
             </tr>
           </thead>
           <tbody>
             <tr v-for="(item, i) in 6" :key="i">
               <td><label style="color:#000 !important;"># 456</label></td>
               <td>General</td>
               <td>FAIROZ AL MADEENA SUPERMARKET</td>
               <td><span
                   class="font-weight-bold v-chip v-chip--label v-chip--no-color theme--light v-size--small error"><span
                     class="v-chip__content">High</span></span></td>
               <td>
                 <div class="success--text"><i aria-hidden="true"
                     class="v-icon notranslate mdi mdi-circle-medium theme--light success--text"
                     style="font-size: 16px;"></i><span>Open</span></div>
               </td>
               <td>Easy Accounts Installation</td>
               <td>
                 <div>May 9, 2020</div>
               </td>
               <td><button type="button" class="v-btn v-btn--is-elevated v-btn--has-bg theme--light v-size--small"><span
                     class="v-btn__content"> Open Ticket </span></button></td>
             </tr>
             <v-divider></v-divider>
           </tbody>
         </template>
       </v-simple-table>
     </div>
 </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import axios from "axios";
import de from "../../translations/de";
import TrendPercentVue from "../../components/common/TrendPercent.vue";
 import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
//import Assets from '../Vouchers/Assets.vue'
import Attachments from "../../mixins/Attachments";
import transitionVue from '../ui/components/_examples/alerts/simple/transition.vue';
export default {
  components: {
   
  },
 data() {  
   return {
    bURL: "",
      bURLPrint: "",
      CustomerOptions:JSON.parse(localStorage.getItem("Customers")),
      ContactOptions : [],
      SalespersonOptions:JSON.parse(localStorage.getItem("LinkedSalesPersnons")),
   fruits: [
     'Apples',
     'Apricots',
     'Avocado',
     'Bananas',
     'Blueberries',
     'Blackberries',
     'Boysenberries',
     'Bread fruit',
     'Cantaloupes (cantalope)',
     'Cherries',
     'Cranberries'
   ],
   fruits1: [
     'Apples1',
     'Apricots1',
     'Avocado1',
 
   ],
   Token : window.localStorage.getItem('Token'),
   BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
   selectedCustomer: [],
    selectedContact: [],
    selectedSalesperson:[],
     date: new Date().toISOString().substr(0, 10),
   menu: false,
   modal: false,
   menu2: false,
     right: true,
     desserts: [
       {
         name: 'Frozen Yogurt',
         calories: 159,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159

       },
       {
         name: 'Ice cream sandwich',
         calories: 237,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Eclair',
         calories: 262,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Cupcake',
         calories: 305,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Gingerbread',
         calories: 356,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Jelly bean',
         calories: 375,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Lollipop',
         calories: 392,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Honeycomb',
         calories: 408,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'Donut',
         calories: 452,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       },
       {
         name: 'KitKat',
         calories: 518,
         name1: 'Frozen Yogurt',
         calories1: 159,
         name2: 'Frozen Yogurt',
         calories2: 159
       }
     ],
     vm:[],
     ServiceTasks:[],
     StatusOptions : [],
     StatusObject : [],
     PriorityOptions:[],
     PriorityObject:[],
     IssueTypeOptions:[],
     IssueTypeObject:[],
     IsShowEndDate:false,
     isLoading:false,
   }
   
 },
  computed: {
   likesAllCustomer () {
     return this.selectedCustomer.length === this.CustomerOptions.length
   },
   likesSomeCustomer () {
     return this.selectedCustomer.length > 0 && !this.likesAllCustomer
   },
   iconCustomer () {
     if (this.likesAllCustomer) return 'mdi-close-box'
     if (this.likesSomeCustomer) return 'mdi-minus-box'

     return 'mdi-checkbox-blank-outline'
   },
     likesAllContact () {
     return this.selectedContact.length === this.ContactOptions.length
   },
   likesSomeContact () {
     return this.selectedContact.length > 0 && !this.likesAllContact
   },
   iconContact () {
     if (this.likesAllContact) return 'mdi-close-box'
     if (this.likesSomeContact) return 'mdi-minus-box'

     return 'mdi-checkbox-blank-outline'
   },
   likesAllSalesperson () {
     return this.selectedSalesperson.length === this.SalespersonOptions.length
   },
   likesSomeSalesperson () {
     return this.selectedSalesperson.length > 0 && !this.likesAllSalesperson
   },
   iconSalesperson () {
     if (this.likesAllSalesperson) return 'mdi-close-box'
     if (this.likesSomeSalesperson) return 'mdi-minus-box'

     return 'mdi-checkbox-blank-outline'
   },
 },
 mounted() {
   if (this.Token === "" || this.Token === null || this.Token === undefined)
   {
      localStorage.setItem('IsReload',true)
     this.$router.push('/auth/signin')
   }
   localStorage.setItem('ActiveRoute','/dashboard/Registers/ServiceTaskRegister')

   this.Branch = localStorage.getItem('BranchCode')
   if (this.Branch === '')
   {
     this.Branch = 'all'
   }
    this.value = new Date()
   this.vm.EndDate= this.GetTodaysDate(this.value)
   if (this.ServiceTasks.length === 0)
   {
     this.NoContent = true
   }
   else {
     this.NoContent = false
   }
    window.onscroll = function() {
   if (window.innerHeight + window.scrollY > document.body.clientHeight) {

   }
   }
   this.checkUrl()
   this.LoadServiceStatus()
   this.LoadPriority()
   this.LoadIssueType()
   this.LoadServiceContact()

   this.isHold = localStorage.getItem('TaskRegHolding')
            if(this.isHold === 'true')
            {
                this.GetServiceTasks()
            }
            else{
                this.SearchServiceTask()
            }

 },
 methods: {
  checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },
   toggleCustomer () {
     this.$nextTick(() => {
       if (this.likesAllCustomer) {
         this.selectedCustomer = []
       } else {
         this.selectedCustomer = this.CustomerOptions.slice()
       }
     })
   },
     toggleContact () {
     this.$nextTick(() => {
       if (this.likesAllContact) {
         this.selectedContact = []
       } else {
         this.selectedContact = this.Contact.slice()
       }
     })
   },
   toggleSalesperson () {
     this.$nextTick(() => {
       if (this.likesAllSalesperson) {
         this.selectedSalesperson = []
       } else {
         this.selectedSalesperson = this.SalespersonOptions.slice()
       }
     })
   },
   LoadServiceStatus()
   {
     this.StatusOptions = []
     this.brcode = window.localStorage.getItem("BranchCode");
     this.role = window.localStorage.getItem("UserType");
     this.brcode=this.brcode?this.brcode:"All";
     axios.get ( this.bURL + "ServiceStatus/GetServiceStatuses")
       .then((response)  =>  {
         this.StatusObject = response.data
      for (this.i = 0; this.i < this.StatusObject.length; this.i++) {
          this.StatusOptions.push(this.StatusObject[this.i].StatusName)

          }

          if(this.StatusOptions.length === 1)
           this.vm.Status = this.StatusOptions[0]

       }, (error)  =>  {
         console.log(error)
       })
   },
      LoadPriority()
   {
     this.PriorityOptions = []
     this.UserName = window.localStorage.getItem("user");
     axios.get ( this.bURL + "Priority/GetPriorityDetails")
       .then((response)  =>  {
         this.PriorityObject = response.data
          for (this.i = 0; this.i < this.PriorityObject.length; this.i++) {
          this.PriorityOptions.push(this.PriorityObject[this.i].PriorityName)

          }
       if(this.PriorityOptions.length === 1)
           this.vm.Priority = this.PriorityOptions[0]
       }, (error)  =>  {
         console.log(error)
       })
   },
   LoadIssueType()
  {
      this.IssueTypeOptions = []
      this.UserName = window.localStorage.getItem("user");
      axios.get ( this.bURL + "ServiceIssueType/GetServiceIssueTypeDetails")
        .then((response)  =>  {
          this.IssueTypeObject = response.data
           for (this.i = 0; this.i < this.IssueTypeObject.length; this.i++) {
           this.IssueTypeOptions.push(this.IssueTypeObject[this.i].IssueType)

           }

        if(this.IssueTypeOptions.length === 1)
            this.IssueType = this.IssueTypeOptions[0]
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },
    LoadServiceContact()
    {
      this.ContactOptions = []
      this.UserName = window.localStorage.getItem("user");
      this.Loaderdialog = true
      axios.get ( this.bURL + "ServiceContact/GetServiceContacts")
        .then((response)  =>  {
          this.Loaderdialog = false
           this.ServiceContactFullObject = response.data
           for (this.i = 0; this.i < this.ServiceContactFullObject.length; this.i++) {
            if(this.ServiceContactFullObject[this.i].IsActive === true)
            {
                this.ContactOptions.push(this.ServiceContactFullObject[this.i].FullName)
            }
           }

        }, (error)  =>  {
          console.log(error)
        })
    },

    
    GetTotalServiceTasks(ServiceTasks)
    {

      this.TotalAmount = 0
      this.TotalServiceTasks = ServiceTasks.length
    /*   for (this.i = 0; this.i < ServiceTasks.length; this.i++)
      {
        this.TotalAmount += ServiceTasks[this.i].ReceivedAmount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount) */
    },
    SearchServiceTask()
    {
      if(this.IsShowEndDate === false)
      {
        this.EndDate =  '1899-01-01T00:00:00'
      }
      else{
        this.EndDate = this.vm.EndDate
      }
      if (this.selectedSalesperson.length === 0)
        {
          if(this.userType === "Administrator")
          {
            this.Salesperson = "all"
          }
          else{
              this.Salesperson = this.GetsWithComma(this.SalespersonOptions)
          }

        }
        else
        {
          this.Salesperson = this.GetsWithComma(this.selectedSalesperson)
        }

        this.CustName = ""
        if (this.selectedCustomer.length === 0)
        {
          this.CustName = "all"
        }
        else
        {
        for(this.i=0;this.i<this.selectedCustomer.length;this.i++)
        {
          this.CustName = this.GetsWithComma(this.selectedCustomer)
        }

        }


        if (this.selectedContact.length === 0)
        {
          this.ContactIds = "all"
        }
        else
        {
        this.ContactIds = []
        for(this.i=0;this.i<this.selectedContact.length;this.i++)
        {
          for(this.j=0;this.j<this.ServiceContact.length;this.j++)
          {
            if(this.ServiceContact[this.j].FullName === this.selectedContact[this.i])
            {
              this.ContactIds.push(this.ServiceContact[this.j].ContactId)
              break;
            }
          }
        }
        this.ContactIds = this.GetsWithComma(this.ContactIds)
        }
        this.StatusId = -1

          for(this.j=0;this.j<this.StatusObject.length;this.j++)
          {
            if(this.StatusObject[this.j].StatusName === this.vm.Status)
            {
              this.StatusId  = this.StatusObject[this.j].StatusId
              break;
            }
          }


        this.PriorityId = -1

          for(this.j=0;this.j<this.PriorityObject.length;this.j++)
          {
            if(this.PriorityObject[this.j].PriorityName === this.vm.Priority)
            {
              this.PriorityId  = this.PriorityObject[this.j].PriorityId
              break;
            }
          }


         this.IssueTypeId = -1

          for(this.j=0;this.j<this.IssueTypeObject.length;this.j++)
          {

            if(this.IssueTypeObject[this.j].IssueType === this.vm.IssueType)
            {
              this.IssueTypeId = this.IssueTypeObject[this.j].IssueTypeId
              break;
            }
          }




      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='all'
      }
      this.ServiceTasks = []
      this.isLoading = true
      axios.get ( this.bURL + 'ServiceTask/RepServiceTask?Salesperson='+ this.Salesperson+ '&CustName=' + this.CustName +  '&ContactIds='+this.ContactIds +'&EndDate=' + this.EndDate   +   '&StatusId='+this.StatusId+  '&PriorityId='+this.PriorityId+  '&IssueTypeId='+this.IssueTypeId+   '&BranchCode=' + this.Branch  )
        .then((response)  =>  {
          this.TempIds = []
          for(this.i=response.data.length-1;this.i>-1; this.i--)
          {

              if(this.TempIds.includes(response.data[this.i].TaskId) === false && response.data[this.i].Salesperson === localStorage.getItem('salePerson'))
              {
                this.ServiceTasks.push(response.data[this.i])
                this.TempIds.push(response.data[this.i].TaskId)
              }
          }
          //this.ServiceTasks = response.data
          if (this.ServiceTasks.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.right = false
          this.GetTotalServiceTasks(this.ServiceTasks)
         this.SetValuesToLS(this.Salesperson,this.CustName,this.ContactIds,this.EndDate,this.StatusId,this.PriorityId,this.IssueTypeId,this.Branch)
         
          this.isLoading = false
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })
    },
    EditServiceTask(ServiceTaskId)
    {
      localStorage.removeItem('IsHoldingServiceTask')
      localStorage.removeItem('ServiceTaskObject')
      localStorage.removeItem('Requirements')
      localStorage.setItem('ServiceTaskId',ServiceTaskId)
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/services/ServiceTask')
      this.$router.push('/dashboard/services/ServiceTask')
    },
    SetValuesToLS(Salesperson,CustName,ContactIds,EndDate,StatusId,PriorityId,IssueTypeId,Branch)
    {
        localStorage.setItem('TaskRegHolding',true)
        localStorage.setItem('Tasksalesperson',Salesperson);
        localStorage.setItem('TaskCustName',CustName);
        localStorage.setItem('TaskContactIds',ContactIds);
        localStorage.setItem('TaskEndDate',EndDate);
        localStorage.setItem('TaskStatusId',StatusId);
        localStorage.setItem('TaskPriorityId',PriorityId);
        localStorage.setItem('TaskIssueTypeId',IssueTypeId);
        localStorage.setItem('TaskBranch',Branch);
        localStorage.setItem('TaskIsByPreferredDate',IsByPreferredDate);
    },
    GetServiceTasks()
    {
      this.Salesperson = localStorage.getItem('Tasksalesperson')
      this.EndDate = localStorage.getItem('TaskEndDate')
      this.Branch = localStorage.getItem('TaskBranch')
      this.CustName = localStorage.getItem('TaskCustName')
      this.ContactIds = localStorage.getItem('TaskContactIds')
      this.StatusId = localStorage.getItem('TaskStatusId')
      this.PriorityId = localStorage.getItem('TaskPriorityId')
      this.IssueTypeId = localStorage.getItem('TaskIssueTypeId')
      this.IsByPreferredDate = localStorage.getItem('TaskIsByPreferredDate')
      axios.get ( this.bURL + 'ServiceTask/RepServiceTask?Salesperson='+ this.Salesperson+ '&CustName=' + this.CustName +  '&ContactIds='+this.ContactIds +'&EndDate=' + this.EndDate    +   '&StatusId='+this.StatusId+  '&PriorityId='+this.PriorityId+  '&IssueTypeId='+this.IssueTypeId+   '&BranchCode=' + this.Branch )
        .then((response)  =>  {
          debugger
          this.TempIds = []
          for(this.i=response.data.length-1;this.i>-1; this.i--)
          {
              if(this.TempIds.includes(response.data[this.i].TaskId) === false && response.data[this.i].Salesperson === localStorage.getItem('salePerson'))
              {
                this.ServiceTasks.push(response.data[this.i])
                this.TempIds.push(response.data[this.i].TaskId)
              }
          }
         // this.ServiceTasks = response.data
          if (this.ServiceTasks.length === 0)
          {
            this.NoContent = true
            this.isLoading = false
          }
          else {
            this.NoContent = false
            this.isLoading = false
          }
          this.right = false
          this.GetTotalServiceTasks(this.ServiceTasks)
          
        }, (error)  =>  {
           this.isLoading = false
          console.log(error)
        })

  },

  OpenTicket(item)
  {


      this.ServiceAssObj = {}
      this.ServiceAssObj.TaskId = item.TaskId
      this.ServiceAssObj.StartDate = '1899-01-01'
      this.ServiceAssObj.ServicePerson = item.Salesperson
      this.ServiceAssObj.EndDate = '1899-01-01'
      this.ServiceAssObj.StatusId = 0
      this.ServiceAssObj.AssignedFrom = item.AssignedFrom
      this.ServiceAssObj.AssignmentId = item.AssignmentId
      this.ServiceAssObj.Notes = ""
      this.ServiceAssObj.TaskId = item.TaskId
    this.Loaderdialog = true
    debugger
    localStorage.setItem('ServiceAssObj',JSON.stringify(this.ServiceAssObj))
    debugger
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
              axios.post(this.bURL + 'ServiceHistory/InsertServiceHistory' , this.ServiceAssObj)
              .then((response) => {
                this.SnackbarMessege = "Assigned successfully"
                this.snackbar = true
                this.Loaderdialog = false
                
                this.OpenHistory(item.TaskId)
                    
              }, (error) => {
                this.SnackbarMessege = "Failed"
                this.snackbar = true
                this.Loaderdialog = false
              })

  },
  OpenHistory(ServiceTaskId)
  {
    localStorage.setItem('ServiceTaskId',ServiceTaskId)
    this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
      this.$router.push('/dashboard/services/ServiceHistory')
  },
  HideEndDate()
    {
      this.isIgnore = document.getElementById('ignore').checked
      if (this.isIgnore === true)
      {
        this.IsShowEndDate = false
      }
      else
      {
        this.IsShowEndDate = true
      }
    },
   FormatewithDecimalPlaces(value)
   {
     return value.toFixed(this.DecimalPlaces)
   },
   FormatDate(Value) {
      return Value.split("T")[0];
    },
   GetTodaysDate(value)
   {
     this.month = '' + (this.value.getMonth() + 1)
     this.day = '' + this.value.getDate()
     this.year = this.value.getFullYear()

     if (this.month.length < 2)
       this.month = '0' + this.month
     if (this.day.length < 2)
       this.day = '0' + this.day
     this.FormatedDate = [this.year, this.month, this.day].join('-')

     return this.FormatedDate
   },
   GetsWithComma(values)
   {
     values =  values.join(',')

     return values
   },
 }
}
</script>
<style>
@media (min-width: 576px){
.container, .container-sm {
   max-width: 595px !important;
   /* width: 100%; */
}}
@media (min-width: 768px){
.container, .container-sm, .container-md {
   max-width: 888px !important;
 }
}
.drawer-buttonservice {
 position: fixed;
 top: 143px !important;
 right: -20px;
 z-index: 6;
 box-shadow: 1px 1px 18px rgb(0, 53, 94);
}
@media (max-width: 600px) {
 .desktopview {
  display: none;
 }
}

/* Media query for screens wider than 600px (desktop) */
@media (min-width: 601px) {
 .mobileview {
   display: none;
 }
.container, .container-sm, .container-md {
   max-width:1500px !important;

 }
 .container.fill-height {
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   padding-right: 24px !important;
   padding-left: 24px !important;
}
}

.container fill-height container--fluid{
     padding-top: 1px;
     width: 200px;
}

</style>
