<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

        <div  v-if="NoContent" style="padding-bottom:10px !important">
          <h6 style="color:red;text-align:center">{{ $t(`menu.NoContent`) }}</h6>
      </div>

<v-btn
      ref="button"
      class="drawer-button"
       color="rgb(0 99 145)"
      dark
      @click="right = true"
style=" box-shadow: 1px 1px 18px rgb(0 99 145) !important;"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>
      <!-- <span class="iconify" data-icon="mdi-filter" data-inline="false"></span> -->
    </v-btn>
     <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="320"
       style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

 <div class="container-fluid">

        <div class="row">
      <div class=" .col-12 col-sm-12  cardhead" style=" text-align:center;padding-top:5px;background-color:rgb(0 53 94);padding-bottom: 10px;padding-top: 10px;">

            <ul class="nav nav-tabs " style="padding-left: 19px;border-bottom: 0px solid rgb(222 226 230);">
              <li class="nav-item " >
                <a class="nav-link active  " data-toggle="tab" href="#AllPayments"  >{{ $t(`dashboard.all`) }}</a>
              </li>
              <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ByVoucherNo">{{ $t(`menu.ByVoucherNo`) }}</a>
              </li>

            </ul>
          </div>
<div style="max-height:75vh;overflow-x: hidden;width:100% ;padding-bottom:7px !important">

          <div class="tab-content clearfix" >
          <div id="AllPayments" class="tab-pane active">

                <div class="col-12" style="padding-bottom:0px !important;padding-top: 0px !important;padding-left:0px!important" >
                   <!-- <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;" v-if="!IsAdmin"> -->
                      <div class="card  text-white" style="background-color:#757575;font-size: 14.3px;width:320px;border-radius: 0px;" v-if="!IsAdmin">
            <div class="card-body" style="padding: .5rem;" >
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent">
                <div class="custom-control custom-radio custom-control-inline" @click="IsInward=true">
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked" >
                  <label class="custom-control-label" for="customRadioInline1" >{{ $t(`menu.Inward`) }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" @click="IsInward=false">
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" class="custom-control-input" >
                  <label class="custom-control-label" for="customRadioInline2">{{ $t(`menu.Outward`) }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:3px !important;padding-top: 10px !important;">
                 <v-autocomplete
            v-model="vm.Status"
            :items="StatusOptions"
             :label="$t(`menu.Status`)"

          ></v-autocomplete>
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                    <input v-model="vm.FromDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important">
                      <label for="frmdate">{{ $t(`dashboard.To`) }}:</label>
                      <br>
                    <input v-model="vm.ToDate" type="date" class="form-control" >
                   </v-col>
                  </v-row>
                <div v-if="IsInward">
                     <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 3px !important" >
                     <label for="selectdatatype"   >{{ $t(`menu.FromGodown`) }}</label>
                     <br>
                                <v-autocomplete
          v-model="selectedInwardFromGodown"
          :items="InwardFromGodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleInwardFromGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedInwardFromGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconInwardFromGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllInwardFromGodown">
            <v-list-item-title> {{ $t(`menu.SelectedallInwardFromGodown`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.InwardFromGodownCount`) }} :{{ selectedInwardFromGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeInwardFromGodown">
            <v-list-item-title>{{ $t(`menu.InwardFromGodownCount`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ selectedInwardFromGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important">
                       <label for="selectdatatype"   > {{ $t(`menu.ToGodown`) }}</label>
                       <br>
                       <v-autocomplete
          v-model="selectedInwardToGodown"
          :items="InwardToGodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
            style="margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleInwardToGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedInwardToGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconInwardToGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllInwardToGodown">
            <v-list-item-title>  {{ $t(`menu.SelectedallInwardToGodown`) }}</v-list-item-title>
            <v-list-item-subtitle> {{ $t(`menu.InwardToGodownCount`) }}:{{ selectedInwardToGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeInwardToGodown">
            <v-list-item-title>{{ $t(`menu.InwardToGodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedInwardToGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>

                </div>
                <div v-if="!IsInward">
                  <div class="container-fluid">
                     <v-row>
                   <v-col col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 3px !important;padding-right: 0px;
    padding-left: 0px;" >
                     <label for="selectdatatype"   > {{ $t(`menu.FromGodown`) }}</label>
                     <br>
                                <v-autocomplete
          v-model="selectedOutwardFromGodown"
          :items="OutwardFromGodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleOutwardFromGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedOutwardFromGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconOutwardFromGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllOutwardFromGodown">
            <v-list-item-title> {{ $t(`menu.SelectedallOutwardFromGodown`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.OutwardFromGodownCount`) }} :{{ selectedOutwardFromGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeOutwardFromGodown">
            <v-list-item-title>{{ $t(`menu.OutwardFromGodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedOutwardFromGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>

                 </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 3px !important;    padding-right: 0px;
    padding-left: 0px;
">
                       <label for="selectdatatype"   > {{ $t(`menu.ToGodown`) }}</label>
                       <br>
                       <v-autocomplete
          v-model="selectedOutwardToGodown"
          :items="OutwardToGodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
         style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleOutwardToGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedOutwardToGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconOutwardToGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllOutwardToGodown">
            <v-list-item-title> {{ $t(`menu.SelectedallOutwardToGodown`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.OutwardToGodownCount`) }} :{{ selectedOutwardToGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeOutwardToGodown">
            <v-list-item-title>{{ $t(`menu.OutwardToGodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedOutwardToGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                  </div>
                </div>
          </div>


                  <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchStockTransfer">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchStockTransfer"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
                  </div>
                </div>

          </div>
           <div id="ByVoucherNo" class="tab-pane ">
             <div class="container-fluid">
            <div style="padding-top:10px !important">
               <v-text-field  value="First and two on el street" :label="$t(`menu.VoucherNo`)" v-model="VoucherNo"></v-text-field>
            </div>
             <span v-if="!error" class="errMsg">{{ ErrorMessege }}</span>
             <div style="text-align:right" >
                    <!-- <button type="submit" class="btn btn-primary btn-sm pull-right" style=" width:80px; height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF" @click="SearchVoucherNo">View</button> -->
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
         @click="SearchVoucherNo"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`menu.View`) }}
            </v-btn>
             </div>
             </div>
           </div>
          </div>

      </div>
        </div>

 </div>
    </v-navigation-drawer>

    <!-- ****************************************** Filter Ends heare ************************************************ -->

    <!-- mobile view starts here -->
    <!-- <Filtermenu/> -->
    <!-- ****************************************************************************************** -->
    <div class="mobile-view">
     <div style="margin-bottom: -23px;margin-top: -23px;text-align:center"  v-show="showhide">
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px " > {{ $t(`menu.StockTransferRegister`) }} </h4>
            </v-col>
          </v-row>
      </div>
       <!-- <v-toolbar  dark color="primary" v-if="!NoContent" style="height:35px !important;border-top-right-radius: 5px;
    border-top-left-radius: 5px;" >
      <v-row no-gutters>
        <v-col cols="12" style="text-align:center;padding-bottom: 20px;
    ">
 <span style="color:#FFF;font-size: 17px;text-align:right;">
        {{ $t(`menu.TotalStockTransfer`) }}:<b> {{TotalStockTransfer}}</b></span>
        </v-col>

      </v-row>

        </v-toolbar > -->
         <div  v-if="!NoContent" class=" .col-12 col-sm-12 cardhead " style=" text-align:center;padding-top:5px;background-color:rgb(0 150 199);padding-bottom: 7px;padding-top: 7px;border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius:5px;
    margin-bottom: 4px;">
           <v-row no-gutters >
        <v-col cols="12" style="text-align:center;
    ">
 <span style="color:#FFF;font-size: 15px;text-align:right;">
        {{ $t(`menu.TotalStockTransfer`) }}:<b> {{TotalStockTransfer}}</b></span>

        </v-col>

      </v-row>
      </div>
        <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important">
    <v-expansion-panel
      v-for="(item,i) in StockTransfer"
       :key="i"
         style="margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;">
      <v-row no-gutters>
     <!--  <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{ item.ReferNo }}</label>
      </v-col> -->
           <v-col
        cols="12"
        sm="12"
        style="text-align: right;padding-bottom:2px"
      >

        <span style="text-align:left;" v-if="item.Locked === 'Y'"><v-icon style="    font-size: 11px !important;padding-left: 17px !important;color:#000">fas fa-lock</v-icon></span>
      </v-col>
      <v-col
        cols="5"
        sm="5"
         class="location"
      >

      <label style="font-weight:100"># </label><label style="font-weight: 500 !important;">{{item.ReferNo}}</label>
      </v-col>
      <v-col
        cols="7"
        sm="7"
       class="locationnew"
      >
        <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-calendar </v-icon>
        <label style="font-weight:200">{{FormatDate(item.TransferDate)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         class="location"
      >

      <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-source-branch </v-icon>
        <label style="font-weight:200">{{item.BranchCode}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
      >
         <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px">mdi-list-status </v-icon>
        <label style="font-weight:200">{{item.IsVerified }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="location"
      >

      <label style="font-weight: 200">{{ $t(`menu.FromGodown`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.FromGodown}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
         style="padding-top: 4px;"
        class="locationnew"
      >
            <label style="font-weight: 200">{{ $t(`menu.ToGodown`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.ToGodown}}</label>
      </v-col>
        <v-col
        cols="12"
        sm="12"
       style="padding-top: 4px;"
        class="location"
      >
     <label style="font-weight: 200">{{ $t(`menu.StockTransferPerson`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Username }}</label>
      </v-col>
      <v-col
        cols="10"
        sm="10"
         style="padding-top: 4px;"
        class="location"
      >
        <label style="font-weight: 200">{{ $t(`menu.Notes`) }}</label><lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{ item.Description }}</label>
      </v-col>

      <v-col
        cols="2"
        sm="2"
      style="padding-top: 4px;"
        class="locationnew"
      >
  <v-btn small color="#FFF" style="color:#00355E; box-shadow: 1px 1px 18px #00355E;"     @click="EditStockTransfer(item.StockTransferNo)"><v-icon center>fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
        </div>
    </div>
    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->
    <div class="pc=view">
    </div>
  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import LabelPage from '../../apps/todo/pages/LabelPage.vue'
export default {
  components: {
    LabelPage
  },
  data() {
    return {
      row: 'radio-1',
      scroll: null,
      InwardFromGodownOptions: JSON.parse(localStorage.getItem('Godowns')),
      InwardToGodownOptions: JSON.parse(localStorage.getItem('LinkedGodowns')),
      OutwardFromGodownOptions: JSON.parse(localStorage.getItem('LinkedGodowns')),
      OutwardToGodownOptions: JSON.parse(localStorage.getItem('Godowns')),
      DamageGodowns : JSON.parse( localStorage.getItem('DamageGodowns')),
      LinkedDamageGodowns:JSON.parse(localStorage.getItem('LinkedDamageGodowns')),
      Settings : JSON.parse(localStorage.getItem('Settings')),
      selectedInwardToGodown:[],
      selectedInwardFromGodown:[],
      selectedOutwardToGodown:[],
      selectedOutwardFromGodown:[],
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      StatusOptions : ['All','Pending','Accepted','Rejected'],
      right: true,
      StockTransfer:[],
      vm : [],
      Branch:'',
      TotalStockTransfer:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      IsMultiCurrency : false,
      VoucherNo : '',
      error : false,
      ErrorMessege : '',
      showhide:true,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      IsInward:true,
      IsAdmin:false,
      isLoading : false,
    }
  },
  computed: {

  likesAllInwardToGodown () {
      return this.selectedInwardToGodown.length === this.InwardToGodownOptions.length
    },
    likesSomeInwardToGodown () {
      return this.selectedInwardToGodown.length > 0 && !this.likesAllInwardToGodown
    },
    likesAllInwardFromGodown () {
      return this.selectedInwardFromGodown.length === this.InwardFromGodownOptions.length
    },
    likesSomeInwardFromGodown () {
      return this.selectedInwardFromGodown.length > 0 && !this.likesAllInwardFromGodown
    },


    iconInwardFromGodown () {
      if (this.likesAllInwardFromGodown) return 'mdi-close-box'
      if (this.likesSomeInwardFromGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconInwardToGodown () {
      if (this.likesAllInwardToGodown) return 'mdi-close-box'
      if (this.likesSomeInwardToGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },


    likesAllOutwardToGodown () {
      return this.selectedOutwardToGodown.length === this.OutwardToGodownOptions.length
    },
    likesSomeOutwardToGodown () {
      return this.selectedOutwardToGodown.length > 0 && !this.likesAllOutwardToGodown
    },
    likesAllOutwardFromGodown () {
      return this.selectedOutwardFromGodown.length === this.OutwardFromGodownOptions.length
    },
    likesSomeOutwardFromGodown () {
      return this.selectedOutwardFromGodown.length > 0 && !this.likesAllOutwardFromGodown
    },


    iconOutwardFromGodown () {
      if (this.likesAllOutwardFromGodown) return 'mdi-close-box'
      if (this.likesSomeOutwardFromGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

    iconOutwardToGodown () {
      if (this.likesAllOutwardToGodown) return 'mdi-close-box'
      if (this.likesSomeOutwardToGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },
  mounted() {
      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('PreviousPage','StockTransferRegister')
    localStorage.setItem('ActivePage','StockTransferRegister')
     localStorage.setItem('ActiveRoute','/dashboard/stockTransfer_reg')
   localStorage.removeItem('VoucherUpdated')
     window.addEventListener('scroll', this.scrollFunction);
     this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    this.BasicSettings()
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }

    if (this.StockTransfer.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }


     this.StockTransferHideDamageStore = this.Settings.StockTransferHideDamageStore
      if(this.StockTransferHideDamageStore === 'True')
      {
        for(this.i = 0;this.i<this.DamageGodowns.length;this.i++)
        {
          for(this.j = 0;this.j<this.InwardFromGodownOptions.length;this.j++)
          {
            if(this.InwardFromGodownOptions[this.j] === this.DamageGodowns[this.i])
            {
              this.InwardFromGodownOptions.splice(this.j,1)
              break
            }
          }
        }
        this.OutwardToGodownOptions = this.InwardFromGodownOptions
      }
      if(this.StockTransferHideDamageStore === 'False')
      {
          for(this.j = 0;this.j<this.LinkedDamageGodowns.length;this.j++)
          {
            this.InwardToGodownOptions.push(this.LinkedDamageGodowns[this.j])
            this.OutwardFromGodownOptions.push(this.LinkedDamageGodowns[this.j])
          }
      }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('StockTransferRegHolding')
    if(this.isHold === 'true')
    {
        this.GetStockTransfer()
    }
    else{
      this.SearchStockTransfer()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     toggleInwardToGodown () {
      this.$nextTick(() => {
        if (this.likesAllInwardToGodown) {
          this.selectedInwardToGodown = []
        } else {
          this.selectedInwardToGodown = this.InwardToGodownOptions.slice()
        }
      })
    },
    toggleInwardFromGodown () {
      this.$nextTick(() => {
        if (this.likesAllInwardFromGodown) {
          this.selectedInwardFromGodown = []
        } else {
          this.selectedInwardFromGodown = this.InwardFromGodownOptions.slice()
        }
      })
    },

     toggleOutwardToGodown () {
      this.$nextTick(() => {
        if (this.likesAllOutwardToGodown) {
          this.selectedOutwardToGodown = []
        } else {
          this.selectedOutwardToGodown = this.OutwardToGodownOptions.slice()
        }
      })
    },
    toggleOutwardFromGodown () {
      this.$nextTick(() => {
        if (this.likesAllOutwardFromGodown) {
          this.selectedOutwardFromGodown = []
        } else {
          this.selectedOutwardFromGodown = this.OutwardFromGodownOptions.slice()
        }
      })
    },
    BasicSettings()
    {

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

        this.vm.Status = "All"

        this.UserType = localStorage.getItem('UserType')
        if(this.UserType === "Administrator")
        {
          this.IsAdmin = true
          this.IsInward = true
        }

    },


    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    GetTotalStockTransfer(StockTransfer)
    {
      /* this.TotalAmount = 0 */
      this.TotalStockTransfer = StockTransfer.length
      /* for (this.i = 0; this.i < StockTransfer.length; this.i++)
      {
        this.TotalAmount += StockTransfer[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount) */
    },
    SearchStockTransfer()
    {
     this.Status = this.vm.Status
      if(this.Status === "All")
        this.Status = 'A'
      if(this.Status === "Confirmed")
        this.Status = 'C'
      if(this.Status === "Pending")
        this.Status = 'P'
      if(this.Status === "Rejected")
        this.Status = 'R'
      if(this.Status === "Cancelled")
        this.Status = 'CL'


      this.vm.BranchCode  = this.vm.BranchCode ?this.vm.BranchCode :'All'
     /*  this.vm.FromGodown  = this.vm.FromGodown ?this.vm.FromGodown :'All'
      this.vm.ToGodown  = this.vm.ToGodown ?this.vm.ToGodown :'All' */
      if(this.IsInward === true)
      {
          localStorage.setItem('IsInwardTransfer','true')
          if(this.selectedInwardFromGodown.length>0)
             this.vm.FromGodown = this.GetsWithComma(this.selectedInwardFromGodown)
          else
             this.vm.FromGodown = this.GetsWithComma(this.InwardFromGodownOptions)

          if(this.selectedInwardToGodown.length>0)
             this.vm.ToGodown = this.GetsWithComma(this.selectedInwardToGodown)
          else
             this.vm.ToGodown = this.GetsWithComma(this.InwardToGodownOptions)
      }
      else{
          localStorage.setItem('IsInwardTransfer','false')
          if(this.selectedOutwardFromGodown.length>0)
             this.vm.FromGodown = this.GetsWithComma(this.selectedOutwardFromGodown)
          else
             this.vm.FromGodown = this.GetsWithComma(this.OutwardFromGodownOptions)

          if(this.selectedOutwardToGodown.length>0)
             this.vm.ToGodown = this.GetsWithComma(this.selectedOutwardToGodown)
          else
             this.vm.ToGodown = this.GetsWithComma(this.OutwardToGodownOptions)
      }
        this.isLoading = true
      axios.get ( this.bURL + 'StockTransfer/GetStockTransferSummary?BranchCode='+ this.vm.BranchCode +'&FromGodown='+this.vm.FromGodown +'&ToGodown='+this.vm.ToGodown +'&FromDate='+this.vm.FromDate +'&ToDate='+this.vm.ToDate+'&IsVerified='+this.Status)
        .then((response)  =>  {
          this.StockTransfer = response.data
          for (this.i= 0; this.i < this.StockTransfer.length; this.i++) {

            if(this.StockTransfer[this.i].IsVerified==="C")
            {
                this.StockTransfer[this.i].IsVerified ="Confirmed";
            }
            else if(this.StockTransfer[this.i].IsVerified==="R")
            {
                this.StockTransfer[this.i].IsVerified ="Rejected"
            }
            else if(this.StockTransfer[this.i].IsVerified==="P")
            {
                this.StockTransfer[this.i].IsVerified ="Pending"
            }
            else if(this.StockTransfer[this.i].IsVerified==="D")
            {
                this.StockTransfer[this.i].IsVerified ="Cancelled"
            }
          }
          if (this.StockTransfer.length === 0)
          {
            this.NoContent = true,
              this.isLoading = false
          }
          else {
            this.NoContent = false,
            this.isLoading = false
          }
          this.GetTotalStockTransfer(this.StockTransfer)
          this.SetValuesToLS(this.vm.BranchCode,this.vm.FromGodown,this.vm.ToGodown,this.vm.FromDate,this.vm.ToDate,this.Status,this.IsInward)
          this.right = false,
          this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditStockTransfer(StockTransferNo)
    {
      localStorage.setItem('IsInwardTransfer',this.IsInward)
      localStorage.removeItem('IsHoldingStockTransfer')
      localStorage.removeItem('StockTransferObject')
      localStorage.removeItem('StockTransferDetails')
      localStorage.setItem('StockTransferNo',StockTransferNo)
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/stockTransfer')
      localStorage.removeItem('IsFromDayEnd')
      this.$router.push('/dashboard/vouchers/stockTransfer')
    },
    SetValuesToLS(BranchCode,FromGodown,ToGodown,fromDate,toDate,Status,IsInward)
    {
        localStorage.setItem('StockTransferRegHolding',true)
        localStorage.setItem('StockTransferBranchCode',BranchCode);
        localStorage.setItem('StockTransferFromGodown',FromGodown);
        localStorage.setItem('StockTransferToGodown',ToGodown);
        localStorage.setItem('StockTransferfromDate',fromDate);
        localStorage.setItem('StockTransfertoDate',toDate);
        localStorage.setItem('StockTransferStatus',Status);
        localStorage.setItem('StockTransferIsInward',IsInward);
    },
    GetStockTransfer()
    {
       this.vm.BranchCode = localStorage.getItem('StockTransferBranchCode')
      this.vm.FromGodown = localStorage.getItem('StockTransferFromGodown')
      this.vm.ToGodown = localStorage.getItem('StockTransferToGodown')
      this.vm.FromDate = localStorage.getItem('StockTransferfromDate')
      this.vm.ToDate = localStorage.getItem('StockTransfertoDate')
      this.Status = localStorage.getItem('StockTransferStatus')
      this.IsInward = localStorage.getItem('StockTransferIsInward')
      if(this.IsInward === "true")
        this.IsInward = true
      else
        this.IsInward = false
     axios.get ( this.bURL +'StockTransfer/GetStockTransferSummary?BranchCode='+ this.vm.BranchCode +'&FromGodown='+this.vm.FromGodown +'&ToGodown='+this.vm.ToGodown +'&FromDate='+this.vm.FromDate +'&ToDate='+this.vm.ToDate+'&IsVerified='+this.Status)
        .then((response)  =>  {
          this.StockTransfer = response.data
           for (this.i= 0; this.i < this.StockTransfer.length; this.i++) {

           if(this.StockTransfer[this.i].IsVerified==="C")
            {
                this.StockTransfer[this.i].IsVerified ="Confirmed";
            }
            else if(this.StockTransfer[this.i].IsVerified==="R")
            {
                this.StockTransfer[this.i].IsVerified ="Rejected"
            }
            else if(this.StockTransfer[this.i].IsVerified==="P")
            {
                this.StockTransfer[this.i].IsVerified ="pending"
            }
          }
          if (this.StockTransfer.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalStockTransfer(this.StockTransfer)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
    this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=StockTransfer&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
          this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
            this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('StockTransferNo',response.data)
             this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/stockTransfer')
           localStorage.removeItem('IsFromDayEnd')
            this.$router.push('/dashboard/Vouchers/StockTransfer')
            this.isLoading = false
          }
        }, (error)  =>  {
          this.Error = true
        this.ErrorMessege = this.$t(`menu.VoucherNoDoesnotexist`)
          this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
   GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
  }

}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
