<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>

    </v-dialog>
       <v-card >
                   <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:right;padding-left: 10px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"
                       

                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >{{$t(`menu.SupplierRegister`)}} </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
  
                            <v-row no-gutters >
             <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
      <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
         v-model="Suppliersearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           >
           
                <template v-slot:append-outer>

                              <v-icon
                                color="#006400"
                                style="font-size: 35px !important;padding-left:5px !important;    margin-left: -7px;
    padding-right: -4px;
    margin-right: 6px;margin-top:-3px"
                            @click="OpenSupplierProfile"
                                >mdi-plus-circle</v-icon
                              >
                            </template>
           </v-text-field>
        

                </v-col>
             

            </v-row>
  <div style="height: 81vh; overflow:scroll;overflow-x: hidden;">
        <v-expansion-panels focusable style="border-radius:0px !important; padding-left: 6px;padding-right:6px">
    <v-expansion-panel
          v-for="(item,i) in resultQuery"
      :key="i" style="  margin-bottom:3px !important;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius:8px;"
    >
      <v-expansion-panel-header style="padding-right:8px !important;padding-left:10px !important;    padding-top: 10px;
    padding-bottom: 10px;" >
      <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0, 99, 145);font-weight: 600;"
      >
<label>{{item.SupplierName}}<span v-if="item.Description">-</span> {{ item.Description }}</label>

      </v-col>

      <v-col
        cols="6"
        sm="6"
          class="location"  
      >

      <label style="font-weight:100;padding-left:12px"><v-icon style="font-size: 18px;
    padding-bottom: 3px;" v-if="item.ContactPerson">mdi-account-tie </v-icon></label><label style="font-weight: 500 !important;">{{item.ContactPerson}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
      >
       <v-icon style="font-size: 18px;
    padding-bottom: 3px;padding-right:2px"  v-if="item.Location">mdi-map</v-icon>
        <label style="font-weight:200">{{item.Location}}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content id="innerExPansales" >
      <v-row no-gutters>
          <v-col
        cols="12"
        sm="12"
        style="padding-top: 4px;"
        class="location"
      >
      <label style="font-weight: 200">{{$t(`menu.Address`)}}</label>
      <lable style="padding-left:2px;padding-right:2px">:</lable><label style="font-weight: 550">{{item.Address}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 4px;"
       
          class="location"
      >
        
          <label style="font-weight: 200">{{$t(`menu.Mobile`)}}</label><lable style="padding-left:2px;padding-right:2px">:</lable>
  <label style="font-weight: 550">{{item.Mobile}}</label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
        class="locationnew"
      >
    <label style="font-weight: 200" v-if="IsEAIApp">{{$t(`menu.GSTIN`)}}</label>
    <label style="font-weight: 200" v-if="IsEAGApp">{{$t(`menu.GSTIN`)}}</label>
    <lable style="padding-left:2px;padding-right:2px">:</lable>
          <label style="font-weight: 550">{{item.TaxRegNo}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "
        class="location"
      @click="GetLedgerStmnt(item.SupplierName)"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left: 18px !important">fas fa-file-invoice</v-icon></v-btn>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; "
        class="locationnew"
       @click="EditSupplier(item.SupplierName)"
      >

     <v-btn small color="#FFF" style="color:#00355E;box-shadow: 1px 1px 18px #00355E;"><v-icon center style="padding-left:18px !important">fas fa-eye</v-icon></v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  </div>
       </v-card>
    </div>

    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      SupplierObject:localStorage.getItem('SupplierObject')?JSON.parse(localStorage.getItem('SupplierObject')):[],
      Suppliersearch:'',
      right: false,
      PurchaseReturns:[],
      vm : [],
      Branch:'',
      TotalSupplier:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
    }
  },
  computed: {

     resultQuery() {
      this.SuppliersNew = []
    if(this.Suppliersearch !== undefined)
    {
       this.SuppliersNew = this.SupplierObject.filter(post => {
        return post.SupplierName.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
        post.SupplierName.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
        post.Description.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Suppliersearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Suppliersearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Suppliersearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Suppliersearch.toString().toLowerCase());
      })
      if(this.SuppliersNew.length > 100)
      {
         this.SuppliersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.SuppliersNewReturn.push(this.SuppliersNew[this.i])

        }
        return this.SuppliersNewReturn
      }
      else{
         return this.SuppliersNew
      }
    }
    else{
      if(this.SupplierObject.length > 100)
      {
         this.SuppliersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.SuppliersNewReturn.push(this.Suppliers[this.i])

        }
        return this.SuppliersNewReturn
      }
      else{
         return this.SupplierObject
      }
    }
    },

  },
  mounted() {

      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','SupplierRegister')
   localStorage.setItem('ActivePage','SupplierRegister')
   localStorage.setItem('ActiveRoute','/dashboard/registers/supplierRegister')
   localStorage.removeItem('VoucherUpdated')

   this.GetSuppliers()
      this.vm.SupplierStatus ='Active Suppliers'
      this.vm.Recursive = false
    this.BasicSettings()

    if (this.SupplierObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetSuppliers()
    {
        this.SupplierObject = []
        this.UserRole = window.localStorage.getItem('UserType');
        this.BranchCode = window.localStorage.getItem('BranchCode');
        this.BranchCode=this.BranchCode?this.BranchCode:"All";
        axios.get(this.bURL + 'Supplier/GetSuppliersBy?BranchCode=' + this.BranchCode +'&IsWithGlobal=True&UserRole='+this.UserRole +'&IsActive=2')
          .then((response)  =>  {
            this.SupplierObject = response.data
             this.Loaderdialog = false
             localStorage.setItem('SupplierObject', JSON.stringify(response.data))
          }, (error)  =>  {
            console.log(error)
          })

    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTotalSupplier(SupplierObject)
    {
      this.TotalAmount = 0
      this.TotalSupplier = SupplierObject.length
      for (this.i = 0; this.i < SupplierObject.length; this.i++)
      {
        this.TotalAmount += SupplierObject[this.i].Amount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },



    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditSupplier(SupplierName)
    {
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/SupplierProfile')
        localStorage.setItem('SupplierName',SupplierName);
         this.$router.push('/dashboard/masters/SupplierProfile')
    },
    OpenSupplierProfile()
    {
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/masters/SupplierProfile')
        localStorage.removeItem('SupplierName')
        this.$router.push('/dashboard/masters/SupplierProfile')

    },
    GetLedgerStmnt(SupplierName)
    {
       localStorage.removeItem('LedgerRegHolding')
        localStorage.removeItem('LedgerVoucherType');
        localStorage.removeItem('LedgerbCode');
        localStorage.removeItem('LedgerDateFrom');
        localStorage.removeItem('LedgerDateTo');
      localStorage.setItem('LedgerStmntName',SupplierName);
         this.$router.push('/dashboard/registers/LedgerStatement')
    }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
