<template>
<div>

  <!-- here -->
    <div class="row-fluid">
    <div class="col-lg-12 col-md-12 d-block d-lg-none d-xl-none " style="padding:0px !important;">
        <div class="cover-container"  >
            <!-- START PANEL -->
            <!-- <div class="cover-item" v-for="(item,i) in 5" :key="i" style="text-align:center;"> -->
              <div class="cover-item"  v-for="(item,i) in 1" :key="i"  style="text-align:center;box-shadow:none;">
              <div @click="dialogAttachment=true" class="cover-item " style="box-shadow:none;background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">

              <img src="https://www.w3schools.com/images/picture.jpg"
              alt="Cinque Terre" width="46" height="46" style="width: 80px;
    height: 55px;
    margin-top: -9px;" responsive>
                <br>
                <span class="cs" style="color:#FFF;padding-top: 2px;">Wall Color</span>
            </div>
            <div @click="dialogAttachment=true" class="cover-item" style="background-color:#B71C1C;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 47px;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-pdf</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF;">Wall Color</span>
            </div>
          <div @click="dialogAttachment=true" class="cover-item" style="background-color:#2E7D32;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 47px;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-excel</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF">Wall Color</span>
            </div>
             <div @click="dialogAttachment=true" class="cover-item" style="background-color:#1E88E5;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 47px;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-word</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF">Wall Color</span>
            </div>
             <div @click="dialogAttachment=true" class="cover-item" style="background-color:#263238;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 47px;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file-video</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF">Wall Color</span>
            </div>
              <div @click="dialogAttachment=true" class="cover-item" style="background-color:#FF3D00;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 37px;
    margin-bottom: -6px;margin-top:2px" class="rounded" alt="Cinque Terre" width="50" height="50">fas fa-file-audio</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF">Wall Color</span>
            </div>
              <div @click="dialogAttachment=true" class="cover-item" style="background-color:#5E35B1;padding-top: 7px !important; padding-bottom: 2px;border-radius: 5px;">
               <v-icon style="color:#FFF;font-size: 47px;
    margin-bottom: -13px;" class="rounded" alt="Cinque Terre" width="50" height="50">mdi-file</v-icon><br>
                <br>
                <span class="cs" style="color:#FFF">Others File</span>
            </div>

            </div>
               <!-- END PANEL -->
        </div>
    </div>
     <v-row no-gutters style="    margin-top: -10px !important;">
                <v-col cols="12">
                  <v-btn block color="#546E7A" dark @click="dialogAttachment=true">New Attachment <v-spacer></v-spacer>
                  <v-icon>mdi-attachment</v-icon>
</v-btn>

                </v-col>


               </v-row>
                <!-- <v-row no-gutters style=" margin-top: -10px !important;">
                <v-col cols="10">
                  <v-btn block color="#546E7A" dark @click="dialogAttachment=true">New Attachment <v-spacer></v-spacer>
                  <v-icon>mdi-attachment</v-icon>
</v-btn>

                </v-col>
                  <v-col cols="2" style="text-align:right">
                  <v-btn color="#D32F2F" dark @click="DeleteConfirmationModal=true" style="max-width: 44px !important;min-width: 44px;">
                  <v-icon >mdi-delete</v-icon>
</v-btn>
                </v-col>
               </v-row> -->


</div>
  <!-- ends -->
   <v-dialog v-model="dialogAttachment" fullscreen hide-overlay transition="dialog-bottom-transition" style="border-radius: 0px !important;">
      <v-card style="border-radius: 0px !important;">
         <v-toolbar dark color="primary">
          <v-btn style=" height: 30px;width: 30px" icon dark @click="dialogAttachment = false">
            <v-icon >mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Attachment</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
        <v-icon style="padding-right:10px">mdi-content-save</v-icon>
        <v-icon style="padding-right:10px">mdi-download</v-icon>
        <v-icon style="padding-right:10px">mdi-eraser</v-icon>
         <v-icon style="padding-right:10px">mdi-delete</v-icon>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
          <v-row no-gutters>
            <v-col cols="12" style="padding-top:22px">
               <div style="text-align:center">
              <!-- <img :src="imageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1"
               style="width:300px; height:300px;   border: 1px solid #0003;padding-left:1px " id="CustomerImage"> -->
                <v-avatar class="blue-grey lighten-4 rounded elevation-3" style="width:300px; height:300px;" tile>
              <v-img :src="imageURL" @click="choosefile" ></v-img>
              <input
                type="file"
                id="my_file"
                style="display: none;"
                @change="convert"
                accept="image/*,application/pdf, application/vnd.ms-excel,image/gif, image/jpeg"
                name="filename"

              />
            </v-avatar>

            </div>
            </v-col>
          </v-row>
             <v-row no-gutters>
                   <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;padding-top:13px">
                       <v-text-field label="Caption"
                       > </v-text-field>
                     </v-col>
                     </v-row>
             <v-row no-gutters>
                   <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;">
                        <v-text-field
            type="text"
           label="Remarks"
           ></v-text-field>
                     </v-col>
                     </v-row>
        </v-card-text>
      </v-card>
   </v-dialog>
    <v-bottom-sheet v-model="sheet" style="z-index:99999 !important ;">
      <v-sheet class="text-center" height="120px" style="z-index:99999 ;border-top-left-radius: 30px;
    border-top-right-radius: 30px;">
    <v-row no-gutters>
      <v-col cols="12" style="text-align:left;padding:22px;margin-bottom: -21px;">
      <label ><b>Image/File Chooser</b></label>
      </v-col>
    </v-row>
     <v-row no-gutters>
      <v-col cols="6" style="text-align:center">
            <v-btn color="#E91E63" fab dark small shaped>
              <v-icon>mdi-camera</v-icon>

            </v-btn>
               <br>
              <label>Camera</label>
      </v-col>
      <v-col cols="6" style="text-align:center">
            <v-btn color="#1976D2" fab dark small shaped>
              <v-icon>mdi-file</v-icon>
            </v-btn>
               <br>
              <label>Files</label>
      </v-col>
     </v-row>
      </v-sheet>
    </v-bottom-sheet>
     <!-- -------------------------------DeleteConfirmationModal Start here --------------->
       <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want delete all?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteKitchenMessage">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  <!-- -------------------------------DeleteConfirmationModal Ends here --------------->
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios';
    // Import stylesheet

// import 'swiper/swiper.min.css'

// import style (<= Swiper 5.x)
// import 'swiper/css/swiper.css'

export default {
    components: {


  },

    name: 'carrousel',
    data() {
      return {
        DeleteConfirmationModal:false,
         sheet: false,
         imageURL: 'https://media.istockphoto.com/vectors/click-hand-icon-with-editable-stroke-vector-id1285064521?k=20&m=1285064521&s=612x612&w=0&h=3T0cxM3_RKVhpdVRHhxIjRIs691lY5n1eLxLglEqcmw=',
        // imageURL:'/images/dash/pdf-icon.png',
       // imageURL:'/images/dash/Excel-2-icon.png',
      //  imageURL:'/images/dash/word.jpg',
      // imageURL:'/images/dash/video-file-icon.png',
      //imageURL:'/images/dash/audio-file.png',


        dialogAttachment:false,
        categories:[],
        swiperOptions: {
          slidesPerGroup: 6,
          slidesPerView: 4,
           spaceBetween: 30,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false
          },
          loop: true,
          //  initialSlide: 0,
          pagination: {
            el: '.swiper-pagination',
            clickable: true
          },

          // slidesPerGroup: 5,
          // spaceBetween: 30,
          // grabCursor: true,
          // loop: true,
          // initialSlide: 0,
          // autoplay: {
          //   delay: 2500,
          //   disableOnInteraction: false
          // },
          // speed: 800,
          // slidesPerView: 3,
          // pagination: {
          //   el: '.swiper-pagination',
          //   clickable:true
          // },
          // Some Swiper option/callback...
        }
      }
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.$swiper
      }
    },
    created() {
      //  this.getcategories();
      },
    mounted() {

      // this.categories = JSON.parse(localStorage.getItem("cate"));
      // this.Subcategories();
       this.getcategories();

    },
    methods:{
       choosefile() {
      document.getElementById("my_file").click();
    },
     convert() {
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      var vm = this;
      reader.onload = function(e) {
        // alert(e.target.result);
        vm.sendimgurl(e.target.result);
        vm.imageURL = e.target.result;
        this.Cimg = e.target.result.replace("data:image/png;base64,", "");
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);
    },
        getcategories() {

      axios.get(this.$bURL+"item/GetItemCategories")
      .then((response)  =>  {

         this.categories = response.data;


      }, (error)  =>  {
          console.log(error)
      })

     },

      loadsubcategory(cat){
      //  console.log(cat)
      const path = `/catogory?cat=${cat}`
if (this.$route.path !== path) this.$router.push(path)
          // Router.push('/catogory');
          this.$parent.$children[0].$parent.catname = cat
          localStorage.setItem("catName", cat);
     },
     loadpage(cat){
          if (this.$route.path !== cat) this.$router.push(cat)
          // Router.push(cat);

     },



    }
  }
</script>
<style>
.cover-container::-webkit-scrollbar
{
  width: 0px;
}
</style>
<style  scoped>

 [class~=cover-container],
[class~=cover-item] {
	height: 100%;
}

[class~=cover-container] {
	width: 100%;
}

[class~=cs],
[class~=cover-container] {
	white-space: nowrap;
}

[class~=cover-container] {
	overflow-x: scroll;
}

[class~=cover-container] {
	overflow-y: hidden;
}

[class~=cover-item] {
	font-size: 2.5vw;
}

[class~=cover-item] {
	position: relative;
}

[class~=cs],
[class~=cover-item] {
	display: inline-block;
}

[class~=cover-item] {
	margin-left: 6pt;
}

[class~=cover-item] {
	margin-bottom: .083333333in;
}

[class~=cover-item] {
	margin-right: 6pt;
}

[class~=cover-item] {
	margin-top: .083333333in;
}

[class~=cover-item] {
	box-shadow: .020833333in .125pc 3pt #bbb;
}

[class~=cover-item] {
	border-top-right-radius: .25pc;
}

[class~=cover-item] {
	width: 60pt;
}

[class~=cover-item] {
	vertical-align: bottom;
}

[class~=cover-item] {
	background-position: top left;
}

[class~=cover-item] {
	background-repeat: no-repeat;
}

[class~=cover-item] {
	background-size: cover;
}

[class~=cs] {
	width: 100%;
}

[class~=cs] {
	overflow: hidden !important;
}

[class~=cs] {
	text-overflow: ellipsis;
}
 .cs1{
   font-size: 15px;
 }
 </style>
