<template>
  <div class="d-flex  flex-column">
     <v-dialog


  content-class="innerExPan"
        v-model="Loaderdialog"


      >
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
              <img
                src="/images/dash/loading.svg"

              />


        </v-col>

      </v-row>

      </v-dialog>
   <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  >
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px !important;
    padding-bottom: 8px;" >
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ;font-size:20px" @click="ConfirmAllocation()"> Confirm Allocation</h4>
            </v-col>
          </v-row>
      </div>
       <v-card class="my-2">
          <v-card-text style="padding-left:2px;padding-right:2px;padding-bottom: 2px;">
             <v-row>

            <v-col cols="6" md="6" xl="6" style="padding-top:16px;padding-bottom:0px;padding-right: 15px; padding-left: 24px; " >
       <v-combobox
          v-model="FromGodown"
          :items="GodownsOptions"
          label="From Godown"
          dense
          :disabled="IsDisableFromGodown"

        >
         <!-- <template v-slot:append-outer>
           <v-btn
              small
             @click="GetAllocationQuantityWithAvailableStock()"
              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;height: 24px !important;margin-bottom:12px !important"
            >
         OK
            </v-btn>
       </template> -->
        </v-combobox>
          </v-col>
              <v-col cols="6" md="6" xl="6" style="padding-top:10px;padding-bottom:0px;padding-left: 15px; padding-right: 24px; " >
        <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Delivery Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ><template v-slot:append-outer>
           <v-btn
              small
             @click="GetAllocationQuantityWithAvailableStock()"
              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;height: 24px !important;margin-bottom:12px !important"
            >
         OK
            </v-btn>
       </template>
          </v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>
          </v-col>
            </v-row>
            <v-divider></v-divider>
 <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 10px !important;padding-right:22px;padding-left:22px">

             <v-autocomplete
          v-model="selectedAvailableRoutes"
          :items="AvailableRoutes"
          label="Available Routes "
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedAvailableRoutes.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllAvailableRoutes">
            <v-list-item-title>Selected all Customer </v-list-item-title>
            <v-list-item-subtitle>Customer Count :{{ selectedAvailableRoutes.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeAvailableRoutes">
            <v-list-item-title>Customer Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedAvailableRoutes.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <!-- <template v-slot:append-outer>
           <v-btn
              small
             @click="GetAllocationQuantityWithAvailableStock"
              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important"
            >
         Add
            </v-btn>
       </template> -->
</v-autocomplete>
                   </v-col>
                  </v-row>
                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:22px;padding-left:22px;margin-top: -17px;">

          <v-btn block color="#78909C" dark  @click="ConfirmAllocation()">Confirm Allocation</v-btn>
                   </v-col>
                  </v-row>
                   <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
<v-row>
    <!-- <v-col cols="2" sm="2" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
      <v-icon style="font-size: 16px !important;">verified</v-icon>
      </v-col> -->
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">Allocated Routes</b>
      </v-col>
        <!-- <v-col cols="2" sm="2" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
     <v-icon style="    font-size: 13px !important;">fas fa-lock</v-icon>
      </v-col> -->
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="2" sm="2" class="slno">
     {{ $t(`menu.No`) }}
      </v-col>

      <v-col cols="8" sm="8" class="salesPersons" style="font-size:13px;">
 {{ $t(`menu.Routes`) }}
      </v-col>
      <v-col cols="2" sm="2" class="checkred checkalign" style="">
        
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in AllocatedRoutes"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>
           <v-col cols="2" sm="2" class="slno1" style=" ">
     <b> {{i + 1}}</b>
      </v-col>
       <v-col cols="8" sm="8" class="text-left" style="padding: 0px !important; ">
      <b>{{item.RouteName}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteTransfer(item)" >mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
  </v-container>
          </v-card-text>
        </v-card>
         <v-dialog v-model="RestoreAllocationModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">Restore Allocation</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">Restore Allocation </h5>
    <v-card-text style="padding-left: 8px;padding-right: 8px;" >
        <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="1" sm="1" class="slno">
     {{ $t(`menu.No`) }}
      </v-col>

      <v-col cols="9" sm="9" class="salesPersons" style="font-size:13px;">
 {{ $t(`menu.Routes`) }}
      </v-col>
      <v-col cols="2" sm="2" class="checkred text-align:right " style="" >
    <v-checkbox
            v-model="IsDeleteAll"
            :value="IsDeleteAll"
            class="pa-0 ma-0"
            hide-details
             color="#E53935"
              style="border-radius: 0px !important; "
              @click="SelectAll"
            ></v-checkbox>
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in AllocatedRoutes"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>
           <v-col cols="1" sm="1" class="slno1" style=" ">
     <b> {{i + 1}}</b>
      </v-col>
       <v-col cols="9" sm="9" class="text-left" style="padding: 0px !important; ">
      <b>{{item.RouteName}}</b>
      </v-col>
       <v-col cols="2" sm="2"   class="text-right checkred" style="padding: 0px !important; ">

      <v-checkbox
            class="pa-0 ma-0"
            hide-details
             color="#E53935"
              style="border-radius: 0px !important; "
               v-model="item.IsDelete"
            :value="item.IsDelete"
            ></v-checkbox>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
        <div class="d-flex" style="padding-top:10px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small  @click="RestoreAllocationModal= false"   style="background-color:#FB8C00;color:#FFF">
            {{$t(`common.cancel`)}}</v-btn>
          <v-spacer></v-spacer>
          <v-btn depressed small @click="RestoreAllocation()" style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" >
              {{$t(`dashboard.ok`)}}</v-btn>

        </div>
    </v-card-text>
  </v-card>
    </v-dialog>

      <v-dialog v-model="Deleteallallocatedroutes" persistent max-width="400">
      <v-card>
      <v-card-text>
              <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-top:20px;padding-bottom:0px;text-align:left"
               >
               <label style="color:rgb(0, 53, 94);font-size:15px;padding-top: 10px;
    padding-bottom: 10px;" ><b> Do you want to delete all allocated routes?</b></label>

               </v-col>
              </v-row>

 <v-row>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:left"
               >
                <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
            @click="Deleteallallocatedroutes = false"
            >
            {{$t(`common.cancel`)}}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:right"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="SelectAll"
            >
             {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>

          </v-card-text>
           </v-card>
    </v-dialog>

    <v-dialog v-model="Acceptmodal" persistent max-width="350">
      <v-card class="checkboxgreen">
      <v-card-text>
              <v-row class="checkboxgreen">
               <v-col cols="12" sm="12" md="12"
               style="padding-top:20px;padding-bottom:0px;text-align:center"
              class="checkgreen checkboxgreen " id="newradionew"
               >
                 <v-checkbox
                  v-model="IsLocked"
            :value="IsLocked"
            class="pa-0 ma-0"
            hide-details
             color="#388E3C"
              style="border-radius: 0px !important; "
              label="Lock Vouchers"

            ></v-checkbox>

               </v-col>
                <v-col cols="12" sm="12" md="12"
               style="padding-top:11px;padding-bottom: 10px;text-align:center"
               class="checkgreen checkboxgreen "
               id="newradionew"
               >
        <v-checkbox
         v-model="IsVerified"
            :value="IsVerified"
            class="pa-0 ma-0"
            hide-details
           color="#388E3C"
              style="border-radius: 0px !important;padding-top:4px "
              label="Verify $ Accept"
            >Lock Vouchers</v-checkbox>
               </v-col>
              </v-row>

 <v-row>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:left"
               >
                <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
            @click="Acceptmodal = false"
            >
            {{$t(`common.cancel`)}}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:5px;padding-bottom:0px;text-align:right"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="ExecuteConfirmAllocation()"
            >
             {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>

          </v-card-text>
           </v-card>
    </v-dialog>

 <v-dialog v-model="DeleteConfirmation_Transfer" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Transfer = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteTransfer">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


    
<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->



<!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
<!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->



 <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   :z-index="fab.zindex"
   @RestoreAllocation="OpenRestoreAllocationModal"


></fab>


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import PendingDeliveryCustomers from '../../pages/ApiServices/PendingDeliveryCustomers'
import de from '../../translations/de'
import fab from 'vue-fab'
import draggableButton from 'vue-draggable-button'
import DayEndCheck from "../../mixins/DayEndCheck";
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
    PendingDeliveryCustomers,draggableButton,fab,globalpassword
  },
  data() {
    return {
      GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
    menu: false,
       date: new Date().toISOString().substr(0, 10),
        modal: false,
        Acceptmodal:false,
        Deleteallallocatedroutes:false,
        RestoreAllocationModal:false,
        AddRouteModal:false,
        AddItemModal:false,
            fab:{
      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        //  {
        //   name: 'PrintTransfer',
        //   icon: 'check',
        //    tooltip:'Confirm Allocation'
        // },
        {
          name: 'RestoreAllocation',
          icon: 'restore',
          tooltip:'Restore Allocation'
        },

        // {
        //   name: 'DeleteTransfer',
        //   icon: 'lock',
        //    tooltip:'Lock Vouchers'
        // },
        //  {
        //   name: 'DeleteTransfer',
        //   icon: 'lock_open',
        //    tooltip:'Unlock Vouchers'
        // },
        //   {
        //   name: 'SaveTransfer',
        //   icon: 'verified',
        //  tooltip:'Varify & Accept'
        // },
      ]
    },
       select: ['Vuetify'],
         AvailableRoutes: [],
    selectedAvailableRoutes: [],
      items: [
        'Programming',
        'Design',
        'Vue',
        'Vuetify'
      ],
       checkbox1: false,
      row: 'radio-1',
      scroll: null,
       btnIsClick: false,
      tab2:null,
      right: true,
      rightnew:true,
      routewise:true,
      Branch:'',
      LinkedSalesMan:'',
      vm:{},
      TotalDeliveryNotes:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsSalesmanShow:false,
      Loaderdialog:false,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      showhide:true,
      GodownsOptions : JSON.parse( localStorage.getItem('LinkedGodowns') ),
      IsDisableFromGodown:true,
      FromGodown :'Main Store',
      AllocatedRoute:[],
      ListToConfirm :[],
       snackbar: false,
       SnackbarMessege: '',
       timeout: 2000,
       StockTransferDetails : [],
       TempAllocatedRoutes : [],
       AllocatedRoutes : [],
       DeleteConfirmation_Transfer :false,
       IsSuccess : false,
       IsDeleteAll : false,
       IsVerified:true,
       IsLocked:true,
       IsCheckVerify:true

    }
  },
  
  mixins: [DayEndCheck],
  computed: {
      likesAllAvailableRoutes () {
      return this.selectedAvailableRoutes.length === this.AvailableRoutes.length
    },
    likesSomeAvailableRoutes () {
      return this.selectedAvailableRoutes.length > 0 && !this.likesAllAvailableRoutes
    },
    icon () {
      if (this.likesAllAvailableRoutes) return 'mdi-close-box'
      if (this.likesSomeAvailableRoutes) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },
  mounted() {
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.GetRoutes()
    this.BasicSettings()
    
    localStorage.setItem('PreviousPage','ConfirmAllocation')
    localStorage.setItem('ActivePage','ConfirmAllocation')
    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ConfirmAllocation')
   localStorage.removeItem('VoucherUpdated')
    this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = ''
       }
 
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
}
  
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
    toggle () {
      this.$nextTick(() => {
        if (this.likesAllAvailableRoutes) {
          this.selectedAvailableRoutes = []
        } else {
          this.selectedAvailableRoutes = this.AvailableRoutes.slice()
        }
      })
    },

     clickHandler() {
      if (this.btnIsClick) {
        alert("Hi!");
      }
    },
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
      return
    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },

    HideFromDate()
    {
      this.isIgnore = document.getElementById('ignore').checked
      if (this.isIgnore === true)
      {
        this.IsFromDateAll = false
      }
      else
      {
        this.IsFromDateAll = true
      }
    },

  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
  GetAllocationQuantityWithAvailableStock()
    {
      this.Loaderdialog = true
       axios.get(this.bURL + 'StockTransfer/GetAllocationQuantityWithAvailableStock?FromGodown='+this.FromGodown +'&ConsiderHeldAllocation=true&ConsiderLPO=true'+ '&AllocationDate=' + this.date + '&OrderFromDate=' + this.date + '&IsByDeliveryDate=true')
        .then((response)  =>  {
          this.TempOrderAllocations = response.data
          this.OrderAllocations = []

          this.AvailableRoutes = []
          this.Loaderdialog = false
          for (this.i = 0; this.i < this.TempOrderAllocations.length; this.i++)
          {
            if(this.TempOrderAllocations[this.i].Quantity >0)
            {
              this.OrderAllocations.push(this.TempOrderAllocations[this.i])
            }
            if(this.AvailableRoutes.includes(this.TempOrderAllocations[this.i].RouteName))
            {
              this.flag = false
            }
            else
            {
              this.AvailableRoutes.push(this.TempOrderAllocations[this.i].RouteName)
            }
          }
          if(this.AvailableRoutes.length > 0)
          {
            this.GetAllocatedRotes()
          }
          this.SetGodownName()

        })

        this.itemwise = false
    },
    ConfirmAllocation()
    {
      this.ListToConfirm = []
      this.ListToConfirm.push(this.selectedAvailableRoutes[0])
      this.StockTransferDetails = []
      if(this.selectedAvailableRoutes.length > 0)
      {
        if(this.IsCheckVerify === true)
        {
          this.Acceptmodal = true
        }
        else{
          this.ExecuteConfirmAllocation()
        }
          
      }
      else{
        if(this.IsSuccess === true)
        {
          this.SnackbarMessege = "Success"
           this.snackbar= true
           this.Acceptmodal = false
           this.GetAllocationQuantityWithAvailableStock()
           return

        }
        else{
           this.SnackbarMessege = "No available routes"
           this.snackbar= true
           return
        }

      }


    },
    ExecuteConfirmAllocation()
    {
      for (this.i = 0; this.i < this.OrderAllocations.length; this.i++)
      {
          if(this.ListToConfirm.includes(this.OrderAllocations[this.i].RouteName))
          {
                this.obj = {
                      "ItemId": this.OrderAllocations[this.i].ItemId,
                      "ItemName": this.OrderAllocations[this.i].ItemName,
                      "ItemCode": this.OrderAllocations[this.i].ItemCode,
                      "Barcode": this.OrderAllocations[this.i].Barcode,
                      "ItemNameArabic": this.OrderAllocations[this.i].ItemNameArabic,
                      "Unit": this.OrderAllocations[this.i].Unit,
                      "AltUnitId": this.OrderAllocations[this.i].AltUnitId,
                      "Qty" : this.OrderAllocations[this.i].Quantity,
                      "Rate":this.OrderAllocations[this.i].Cost,
                      "Amount" : this.OrderAllocations[this.i].Quantity * this.OrderAllocations[this.i].Cost,
                      "ItemDescription" : " ",
                     "FromGodown": this.FromGodown,
                     "ToGodown": this.OrderAllocations[this.i].ToGodown,
                      "STRD_ID": -1
                }
                 this.StockTransferDetails.push(this.obj)
                 for(this.j=0;this.j<this.selectedAvailableRoutes.length;this.j++)
                 {
                   if(this.selectedAvailableRoutes[this.j] === this.OrderAllocations[this.i].RouteName)
                   {
                      this.selectedAvailableRoutes.splice(this.j,1)
                   }
                 }
          }
      }
      if(this.StockTransferDetails.length > 0)
      {
        this.CreateStockTransfer()
      }
    },
  CreateStockTransfer()
  {
      this.TransferObject =   {
	      'VoucherNo': -1,
        'ReferNo': '',
	      'VoucherDate': this.date,
	      'BranchCode': this.BranchCode?this.BranchCode:'MB',
        'Description': '',
        'StockTransferDetails' :[],
        'Locked':this.IsLocked?'Y':'N',
        'IsVerified':this.IsVerified?'C':'P',
        'Username': localStorage.getItem('user')
      }
      this.TransferObject.StockTransferDetails = this.StockTransferDetails
      this.TransferObject.VoucherNo =  -1
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.isLoading = true
       this.isSignInDisabled = true
       axios.post ( this.bURL + 'StockTransfer',this.TransferObject,
            {
                headers: this.headers
            })
              .then((response)  =>  {
                this.IsSuccess = true
                if(this.OrderAllocations.length === 0)
                {
                    this.SnackbarMessege = "Sucsess"
                    this.snackbar= true
                     this.Acceptmodal = false
                    return
                }
                else{
                    this.IsCheckVerify = false
                    this.ConfirmAllocation()
                }
              }, 
               (error)  =>  {
                 this.isLoading = false
                 this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })


    },
  GetAllocatedRotes()
  {

       this.ToGodown = this.GetsWithComma(this.AvailableRoutes)
       this.TempAllocatedRoutes = []
       axios.get ( this.bURL + 'StockTransfer/GetStockTransferSummary?BranchCode='+ this.BranchCode +'&FromGodown='+this.FromGodown +'&ToGodown='+this.ToGodown +'&FromDate='+this.date +'&ToDate='+this.date+'&IsVerified=C')
        .then((response)  =>  {
             this.TempAllocatedRoutes = response.data
             this.SetRouteName()
             this.Loaderdialog = false
        }, (error)  =>  {
          this.Loaderdialog = false
          console.log(error)
        })
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
   GetRoutes()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get(this.bURL + 'Route/LoadRouteObjects?WithLinkedGodowns=true')
              .then((response)  =>  {
                this.RouteObject = response.data
                this.GetAllocationQuantityWithAvailableStock()
              }, (error)  =>  {

              })
    },
    SetGodownName()
    {
      this.IsBreake  = false
        for(this.i = 0;this.i<this.OrderAllocations.length;this.i++)
        {
          this.IsBreake = false
          for(this.j=0;this.j<this.RouteObject.length;this.j++)
          {
            if(this.OrderAllocations[this.i].RouteID === this.RouteObject[this.j].RouteId)
            {
                 for(this.k=0;this.k<this.RouteObject[this.j].LinkedGodowns.length;this.k++)
                 {
                   if(this.RouteObject[this.j].LinkedGodowns[this.k].IsSales === true)
                   {
                     this.OrderAllocations[this.i].ToGodown = this.RouteObject[this.j].LinkedGodowns[this.k].Godown
                     this.IsBreake = true
                     break
                   }
                 }
                  if(this.IsBreake === true)
                  {
                    break
                  }
            }
            if(this.IsBreake === true)
            {
              break
            }
          }
        }
    },
    SetRouteName()
    {
      for(this.k=0;this.k<this.RouteObject.length;this.k++)
      {
          for(this.j=0;this.j<this.TempAllocatedRoutes.length;this.j++)
          {
               this.TempAllocatedRoutes[this.j].IsDelete = false
               for(this.l=0;this.l<this.RouteObject[this.k].LinkedGodowns.length;this.l++)
               {
                  if(this.RouteObject[this.k].LinkedGodowns[this.l].Godown === this.TempAllocatedRoutes[this.j].ToGodown)
                  {
                     this.TempAllocatedRoutes[this.j].RouteName = this.RouteObject[this.k].RouteName
                     this.IsBreake = true
                     break
                  }
              }

          }
     }

      for(this.i = 0;this.i<this.AvailableRoutes.length;this.i++)
      {
               for(this.j=0;this.j<this.TempAllocatedRoutes.length;this.j++)
               {
                  if(this.AvailableRoutes[this.i] === this.TempAllocatedRoutes[this.j].RouteName)
                 {
                      this.AvailableRoutes.splice(this.i,1)
                      this.i = this.i - 1
                      break
                 }
               }
      }
     /*  this.tempResult = []
      for(this.i = 0;this.i<this.TempAllocatedRoutes.length;this.i++)
      {
        if(this.tempResult.includes(this.TempAllocatedRoutes[this.i].RouteName))
        {
          this.TempAllocatedRoutes.splice(this.i,1)
          this.i = this.i - 1
        }
        else{
          this.tempResult.push(this.TempAllocatedRoutes[this.i].RouteName)
        }
      }
         */
      this.AllocatedRoutes = this.TempAllocatedRoutes
    },
    
    OpenRestoreAllocationModal()
    {
       if(this.AllocatedRoutes.length > 0)
       {
          this.IsDeleteAll =  false
          this.RestoreAllocationModal=true
       }
       else
       {
          this.SnackbarMessege = "No allocated routes for delete"
          this.snackbar = true
          return
       }
        
    },
    DeleteTransfer(item)
    {

      this.DeleteConfirmation_Transfer = true
      this.StockTransferNos = []
      this.StockTransferNos.push(item.StockTransferNo.toString())


    },
    ExecuteDeleteTransfer()
    {
      axios.post( this.bURL + 'StockTransfer/DeleteStockTrasfers' , this.StockTransferNos,
            {
                headers: this.headers
            })
        .then((response)  =>  {
          this.DeleteConfirmation_Transfer = false
          this.RestoreAllocationModal = false
          this.SnackbarMessege = this.$t(`menu.Success`),
          this.snackbar = true
          this.GetAllocationQuantityWithAvailableStock()
        },
        (error)  =>  {
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })

    },
    RestoreAllocation()
    {
        this.StockTransferNos = []
        for(this.i = 0;this.i<this.AllocatedRoutes.length;this.i++)
        {
          if(this.AllocatedRoutes[this.i].IsDelete === true)
          {
            this.StockTransferNos.push(this.AllocatedRoutes[this.i].StockTransferNo.toString())
          }
        }
        if(this.StockTransferNos.length>0)
        {
          this.ExecuteDeleteTransfer()
        }
        else{
        this.SnackbarMessege = "Please Select Route"
        this.snackbar = true
      }

    },
    SelectAll()
    {
      if(this.IsDeleteAll === true)
      {
        for(this.i = 0;this.i<this.AllocatedRoutes.length;this.i++)
        {
          this.AllocatedRoutes[this.i].IsDelete = true
        }
      }
      else{
        for(this.i = 0;this.i<this.AllocatedRoutes.length;this.i++)
        {
          this.AllocatedRoutes[this.i].IsDelete = false
        }
      }
    }
  },


  }

</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonnew {
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonroutewise{
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
<style>
.newc .v-input--selection-controls .v-input__slot > .v-label
{
    padding-top: 5px !important;
    margin-left: -9px !important;
   padding-top: 5px !important;
    margin-right: -19px !important;
}
.feedback {
  background-color : rgb(0, 53, 94) !important;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(0, 53, 94) !important;
}

#mybutton {
    /* position: fixed;
    bottom: 62px;
    right: 17px;
    z-index: 100; */
    bottom: -33px !important;
    right: 50px !important;
    z-index: 100 !important;
}
.checkalign .v-input__slot {
  align-items:right;
  justify-content: right;
  padding-right: 0px !important;
}
.checkboxgreen .v-input__slot {
  align-items:center;
  justify-content: center;
  padding-right: 0px !important;
}
#newradionew >.v-input--selection-controls .v-input__slot > .v-label
{
  padding-top:5px !important;
  font-size:16px !important
}
</style>
