<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
     <!--  <v-btn
        color="error"
        @click="overlay = !overlay"
      >
        Show Overlay
      </v-btn> -->
       <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >

   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
     <v-expansion-panel-header v-show="copm" class="headernew"   style="text=align:center !important;min-height: 20px !important;" expand-icon="" >
                           <span style="text-align:right;padding-left: 0px !important;margin-left: -6px;"><v-icon style="    font-size: 13px !important;" @click="GoBackPrevious">fa-arrow-left</v-icon></span>

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.Contra`) }} </b>
      </v-col>
      <span style="text-align:right;padding-right: 6px !important" v-if="IsLocked"><v-icon style="    font-size: 13px !important;">fas fa-lock</v-icon></span>
        </v-expansion-panel-header>
    <v-expansion-panel-content id="innerExPan">

		<v-row no-gutters >
			<v-col cols="6" sm="7" >
				<v-list-item-title class="mb-1 comp1" style="font-size: 12px !important;padding-left:15px;padding-right:0px;padding-top:10px;line-height: 1.2">
					<b> {{BranchObject.BranchName}}</b><br>
					<b style="font-size: 10px !important;">
					  {{BranchObject.Address}}<br>
					  Mob : {{BranchObject.Mobile}}<br>
					  Phone : {{BranchObject.Phone}} <br>
            Email : {{BranchObject.Email}}
					</b>

				   </v-list-item-title>
</v-col>

<v-col cols="2" sm="2" >
</v-col>
<v-col cols="4" sm="3" style="text-align:right;padding-right:5px" >
	<v-list-item-avatar
	tile
	size="70"
	color="grey"
  >
  <img  alt="Avatar" :src="logo" >
  </v-list-item-avatar>
	</v-col>
	</v-row>
         </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
  <v-row no-gutters >
      <v-col cols="6" sm="7" class="billto">
         <v-list-item-title class=" mb-1 comp1" style="font-size: 12px !important;padding-left:15px;padding-right:0px;padding-top:10px;line-height: 1.2" @click="BillToModal = true">
        <span style="font-size: 10px !important;color:#78909C">    {{ $t(`menu.ToAccount`) }}</span><br>
            <b style="font-size: 10px !important;max-width:100px !important;
    white-space: normal">
           {{ContraObject.DrLedger}}
         </b><br>

        </v-list-item-title>
        </v-col>
        <v-col cols="2" sm="2" >
        </v-col>
        <v-col cols="4" sm="3"  >
           <v-list-item-title class=" mb-1 comp1 text-left" style="font-size: 12px !important;padding-left:0px;padding-right:0px;padding-top:10px;line-height: 1.2" @click="InvoiceDetailsModal = true">
         <div class="d-flex " style="height:0px !important" >
        <span style="font-size: 10px !important;color:#78909C"> {{ $t(`menu.Voucher`) }} #</span> <b style="font-size: 12px !important;">{{ReferNo}}</b></div><br>
        <div class="d-flex " style="height:0px !important" >
        <span style="font-size: 10px !important;color:#78909C">  {{ $t(`dashboard.Date`) }} : </span><b style="font-size: 10px !important;">{{VoucherDate}}</b> </div><br>


        </v-list-item-title>

        </v-col>

      </v-row>

     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;" @click="OpenContraDetails" >
         <v-col cols="1" sm="1" class="slno">
     {{ $t(`menu.No`) }}
      </v-col>
      <v-col cols="4" sm="4" class="slno">
     {{ $t(`menu.FromAccount`) }}
      </v-col>


    <v-col cols="4" sm="4" class="text-center">
       {{ $t(`menu.Remarks`) }}
      </v-col>
       <v-col cols="3" sm="3"  class="itemquantity">
  {{ $t(`ecommerce.Amount`) }}
      </v-col>

    </v-row>

    <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 5px; max-height:300px; overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
          <v-overlay :value="overlay" @click="overlay = false" >
         <v-btn
          class="white--text"
          color="#546E7A"
        >
       {{ $t(`menu.StartyourdaybeforeopenContra`) }}
        </v-btn>
        <br>

      </v-overlay>
    <v-expansion-panel v-for="(item,i) in ContraDetails"  :key="i" class="ma-0" v-touch:tap="touchHandler">
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheadernew" style="min-height: 35px !important;font-size:10px!important">
         <v-col cols="1" sm="1" class="slno1" style="">
     <b>{{i + 1}}</b>
      </v-col>
       <v-col cols="4" sm="4" class="slno" style="padding: 0px !important; ">

   <b>{{item.CrLedger}}</b>
      </v-col>
      <v-col cols="4" sm="4" style="padding: 0px !important; !important; text-align:center !important;">
     <b>{{item.Remarks}}</b>
      </v-col>
      <v-col cols="3" sm="3" class="itemquantity1" style="padding: 0px !important;">
       <b>{{FormatewithDecimalPlaces(item.Amount)}}</b>
      </v-col>



      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">
       </b>
      </v-col>
       <hr style="margin-top: 0rem; margin-bottom: 5px;">
       <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 0px;">
    <!--   <v-col cols="12" sm="12">
      Cheque No<br>
      <b>{{item.ChequeNo}}</b>
      </v-col> -->
        <!-- <v-col cols="3" sm="3"  class="text-center">
     Cheque Date<br>
      <b>{{item.EffectiveDate}}</b>
      </v-col>
      <v-col cols="5" sm="5" class="text-right">
       Bank<br>
      <b>{{item.BankName}}</b>
      </v-col> -->

   <!--     <v-col cols="2" sm="2" class="text-right">
       Discount<br>
       3 %
      </v-co
      <v-col cols="2" sm="2" class="text-right">
       Tax<br>
       15%
      </v-col> -->
       </v-row>

       <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 0px;padding-top:5px !important">
     <!--  <v-col cols="4" sm="3">
      Tax Amount<br>
      97
      </v-col>
      <v-col cols="4" sm="2" >
       Discount Amount<br>
       12
      </v-col> -->

      <v-col cols="2" sm="2" class="text-right">
      <v-btn
      outlined
       x-small
      fab
    style="color:#009900;height:20px !important;width:20px !important"
    @click="EditItem(i)"
    >
      <v-icon style="font-size: 14px !important;">mdi-pencil</v-icon>
    </v-btn>
      </v-col>
      <v-col cols="2" sm="2" class="text-right">
       <v-btn
      outlined
       x-small
      fab
    style="color:red;height:20px !important;width:20px !important"
   @click="DeleteItem(i)"
    >
      <v-icon style="font-size: 14px !important;">mdi-delete</v-icon>
    </v-btn>
      </v-col>
       </v-row>

       <!-- // -->
       </v-expansion-panel-content>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>

  </v-card>
    <v-list-item three-line style="padding-right: 5px;">
      <v-list-item-content style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 15px !important;padding-left:0px;padding-right:0px;text-align:right">
         <!-- <b>
             <span  @click="OpenContraDetails" style="padding: 5px; color: rgb(0, 53, 94);"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    </b><br>
         <b style="font-size: 10px !important;">

         </b> -->
              <div>
       <v-row no-gutters style="    font-size: 10px;padding: 0px; "   >


      <v-col cols="6" sm="6" xl="6" class="plusbutton123">
    <span   @click="OpenContraDetails"  style="" class="plusbutton"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
      </v-col>
       <v-col cols="2" sm="2" xl="2" class="text-left">

      </v-col>
       <v-col cols="1" sm="1" xl="1" class="text-left">

      </v-col>
      <v-col cols="3" sm="3" xl="3" class="" style="font-size:10px">
          <div class="d-flex text-left" style="height:0px !important" >
        <span style="font-size: 10px !important;color:#78909C;padding-right:0px;padding-left: 7px
;">  {{ $t(`ecommerce.total`) }} :</span> <b style="font-size: 12px !important;padding-left:2px ">{{GetContraTotal}}</b>
             </div>
       <b > </b>
      </v-col>


           </v-row>
           </div>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>

      <!-- <v-list-item-content class="text-right" style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">


      <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "   >
      <v-col cols="8" sm="8" class="text-right">
     Total Amount  :
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
      <b style="color:#000; ">  {{GetContraTotal}}</b>
      </v-col>

           </v-row>

        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content> -->


    </v-list-item>

    <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 5px; ">

    <v-col cols="4" sm="4" @click="signature1 = true">
        {{ $t(`menu.Preparedby`) }}<br>

        <img :src="salessign"  class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
        <label>{{salename}}</label>

      </v-col>

     <v-col cols="4" sm="4" @click="signature1 = true">
       {{ $t(`menu.verifiedby`) }}<br>

         <img :src="verisign" class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
          <label >{{veriname}}</label>
      </v-col>
       <v-col cols="4" sm="4" @click="signature1 = true">
      {{ $t(`menu.Approvedby`) }}<br>

         <img :src="customsign" class="mx-auto d-block" style="width:50%; border: 0px solid #dee2e6;">
          <label>{{custname}}</label>
      </v-col>
 </v-row>
  </v-container>

  <vue-bottom-sheet ref="myBottomSheet">
    <div style="padding:10px; border:1px solid #000;">
<!-- //here one -->
<label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
	  <vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'300px'" :disabled="disabled" ></vueSignature>
		<vueSignature ref="signature1" :sigOption="option"></vueSignature><br>
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>
		<button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    </div>
  </vue-bottom-sheet>

 <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   :z-index="fab.zindex"
   @ClearContra="ClearContra"
   @SaveContra="SaveContra"
   @DeleteContra="DeleteContra"
   @PrintContra="PrintContra"
></fab>

  <!--  <v-dialog v-model="ItemModal" fullscreen hide-overlay transition="dialog-center-transition">
      <v-toolbar  color="">
          <v-btn icon  @click="ItemModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>

  </v-dialog> -->

<!-- Signature modal start here -->
<v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}{{ $t(`menu.Signature`) }} </label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option" :w="'400px'" :h="'300px'" :disabled="disabled" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>


<!-- signature modal ends here -->


      <v-dialog v-model="ItemModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">Contra Details</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">  {{ $t(`menu.ContraDetails`) }}</h5>
    <v-card-text >
       <v-form >
          <div style="max-height:50vh;overflow-x: hidden;;width:100% ">


       <v-row>
          <v-col cols="12" sm="12" md="12"  style="padding-top:7px;padding-bottom:0px;margin-bottom:0px" >
               <v-autocomplete
            v-model="CrLedger"
          :items="CrLedgerOptions"
          :label="$t(`menu.FromAccount`)"
          @change="FindLedgerGroupForDetails($event)"

        ></v-autocomplete>
            </v-col>
       </v-row>

          <v-row >
             <v-col cols="12" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
          <v-text-field
          v-model="Amount"
            type="number"
        :label="$t(`ecommerce.Amount`)"
         ></v-text-field>
          </v-col>
         <!--  <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px" >
            <v-text-field
            v-model="ChequeNo"
        type="text"
        :label="$t(`menu.ChequeNo`)"
          ></v-text-field>
          </v-col> -->
             </v-row>
              <v-row>
          <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px" >
              <v-textarea
            v-model="Remarks"
          :label="$t(`menu.Remarks`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>

          </v-col>
          </v-row>


 </div >
        <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="ItemModal = false">
            <v-icon left style="font-size: 21px;padding-bottom: 5px;">mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>
       <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
   " v-if="!IsItemUpdate" @click="AddItem"><v-icon left style=" Font-size:25px !important;" class="mdiplus"> mdi-plus</v-icon></v-btn>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
    " v-if="IsItemUpdate" @click="UpdateItem"><v-icon center style=" font-size: 21px !important;">mdi-update</v-icon></v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>


  <!-- //-------------------- -->

   <v-dialog v-model="editModal"  hide-overlay transition="dialog-bottom-transition" style="height:450px;">

     <v-card>
        <v-card-title class="headline">{{ $t(`menu.ChangepositionofItem`) }}</v-card-title>
        <v-card-text>

             <v-row>
              <v-col cols="12" sm="12">
                 <!-- v-show="posindex !=0 " -->
                 <v-radio-group v-model="posside" row @change="calc">
                  <v-radio label="up" value="0" ></v-radio>
                  <v-radio label="down" value="1"></v-radio>
         </v-radio-group>
              </v-col>
             </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="editModal = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn color="green darken-1" text @click="move(posindex, new_index)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>
   <v-dialog v-model="DeleteConfirmation_ContraDetails" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_ContraDetails = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteItem">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_Contra" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Contra = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteContra">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- Bill to modal starts here -->
    <v-dialog
        v-model="BillToModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(0 99 145)">
                 {{$t(`menu.ToAccount`)}}
          </v-card-title>
          <v-card-text>
                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
              <v-autocomplete
              v-model="ContraObject.DrLedger"
               :items="DrLedgerOptions"
            dense
            :label="$t(`menu.ToAccount`)"
          ></v-autocomplete>
   </v-col>

                </v-row>

          </v-card-text>
          <v-card-actions>

            <!-- <v-btn
              color="primary"
              text
              @click="BillToModal = false"
            >
              Ok
            </v-btn> -->
            <v-spacer></v-spacer>
            <v-btn
              small
              @click="SetBillTo()"
              style="background-color:#2E7D32;color:#FFF"
            >
          {{$t(`dashboard.ok`)}}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- Bill to modal Ends here -->

      <!-- invoice modal start here -->
         <v-dialog
        v-model="InvoiceDetailsModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(0 99 145);padding-bottom:4px !important;display:none">
                Contra Details
          </v-card-title>
           <h4 style="text-align:center; padding-top:13px;color:rgb(0 99 145);padding-bottom:5px">{{ $t(`menu.VoucherDetails`) }}</h4>
          <v-card-text>
                 <v-row>
               <!-- <v-col cols="6" sm="6" md="6"
               style="padding-top:2px;padding-bottom:0px;"
               >
         <v-text-field value="" label="Contra No"></v-text-field>

           </v-col> -->
            <v-col cols="12" sm="12" md="12"
               style="padding-top:3px;padding-bottom:0px;"
               >
               <v-text-field value="" :label="$t(`menu.ReferenceNo`)" v-model="ReferNo" @change="GetContraByReferenceNo($event)"  ></v-text-field>
            </v-col>
           <!--   <v-col cols="6" sm="6" md="6"
               style="padding-top:3px;padding-bottom:0px;"
               >
         <v-text-field value="" label="Contra No" v-model="ReferNo" @change="GetContraByReferenceNo($event)"  ></v-text-field>

           </v-col> -->
           </v-row>

            <v-row>
            <v-col cols="12" sm="12" md="12"
               style="padding-top:3px;padding-bottom:0px;"
               >
                <v-autocomplete
            v-model="ContraObject.Currency"
            :items="CurrencyOptions"
            dense
            :label="$t(`menu.Currency`)"
            v-if="IsCurrencShow && IsMultiCurrency"
            style="padding-top:10px"
          ></v-autocomplete>
            </v-col>

           </v-row>


           <v-row v-if="IsMultiBarnch">
              <v-col cols="6" sm="6" md="6" style="padding-top:0px;padding-bottom:0px;">
                <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="VoucherDate"
              transition="scale-transition"
              offset-y
              min-width="290px"

            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="VoucherDate"
                  :label="$t(`dashboard.Date`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  :disabled="IsDisableDate"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="VoucherDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="$refs.menu.save(VoucherDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="DeliveryDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>
   </v-col>

   <v-col cols="6" sm="6" md="6" style="padding-top:5px;padding-bottom:0px;">
              <v-autocomplete
            dense
             v-model="ContraObject.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
          ></v-autocomplete>
   </v-col>


           </v-row>
           <v-row v-if="!IsMultiBarnch">

   <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
              <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="VoucherDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="VoucherDate"
                  :label="$t(`dashboard.Date`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                 :disabled="IsDisableDate"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="VoucherDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="SetVoucherDate(VoucherDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="DeliveryDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>
   </v-col>
           </v-row>


                   <v-row >

    <v-col cols="12" sm="12" md="12" style="padding-top:3px;padding-bottom:0px;">
    <v-textarea

           v-model="Description"
          :label="$t(`menu.DescriptionOptional`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>
    </v-col>
                </v-row>
                <v-row>
  <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:right">
    <v-btn
              small
              @click="InvoiceDetailsModal=false"
              style="background-color:#2E7D32;color:#FFF"
            >
     {{$t(`dashboard.ok`)}}
            </v-btn>
    </v-col>
    </v-row>
          </v-card-text>
          <!-- <v-card-actions>


            <v-spacer></v-spacer>
            <v-btn
              small
              @click="SetBillTo()"
              style="background-color:#2E7D32;color:#FFF"
            >
              Ok
            </v-btn>
          </v-card-actions> -->
        </v-card>
      </v-dialog>

       <!-- invoice modal Ends here -->





<!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
    <v-dialog
        v-model="DateWarningModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
           <label>
             Selected date and current date are different,
             Do yo want to continue?
           </label>
          </v-card-text>
          <v-card-actions>

             <v-row>
               <v-col cols="6" sm="6" md="6" class="slno" style="padding-top:10px;padding-bottom:0px;" >
                 <v-btn
              text
              @click="DateWarningModal = false"
               style="background-color:#FB8C00;color:#FFF"
               small
            >
           {{$t(`common.cancel`)}}
            </v-btn>
                 </v-col>
                     <v-col cols="6" sm="6" md="6" class="plusbutton123" style="padding-top:10px;padding-bottom:0px;" >
                           <v-btn
              small
              @click="SetVoucherDateByWarning()"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
            >
          {{$t(`dashboard.ok`)}}
            </v-btn>
                 </v-col>
                 </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- CommonModal Ends Here------------------------------------------------------- -->



<!-- ------------------------------------------------- DayEndModal Start Here------------------------------------------------------- -->
     <v-dialog
        v-model="DayEndModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <v-row>
  <v-col cols="12" style="padding-top:0px !importnat;padding-bottom:0px !important">
             <label>Day start date <label style="color:rgb(254, 198, 1)">({{this.DayStartTime}})</label> and current date <label style="color:rgb(254, 198, 1)">({{this.currentdate}}) </label> are different,
             Do yo want to continue?</label>
    </v-col>
    </v-row>
<v-row>
  <v-col cols="12" style="padding-top:0px !importnat;padding-bottom:0px !important; margin-top: -10px;
    margin-bottom: -10px;">
    <v-divider></v-divider>
  </v-col>
</v-row>
             <v-row>
               <v-col cols="6" sm="6" md="6" class="slno" style="padding-top:10px;padding-bottom:0px;" >
                 <v-btn
              text
              @click="SetDayEnd"
               style="background-color:#FB8C00;color:#FFF"
               small
            >
           {{$t(`common.cancel`)}}
            </v-btn>
                 </v-col>
                     <v-col cols="6" sm="6" md="6" class="plusbutton123" style="padding-top:10px;padding-bottom:0px;" >
                           <v-btn
              small
              @click="SetDayEndWarning"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
            >
          {{$t(`menu.Yes`)}}
            </v-btn>
                 </v-col>
                 </v-row>
                       </v-card-text>

        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- DayEndModal Ends Here------------------------------------------------------- -->




<!-- ------------------------------------------------- CustomerSearchModal Satrts Here------------------------------------------------------- -->

<v-dialog v-model="CustomerSearchModal" persistent max-width="400">
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
             <v-row>
               <v-col cols="12" sm="12" md="12" class="no-p" >
            <v-row>
                   <v-col cols="11" sm="11" md="11">
        <v-text-field
            type="text"
            :label="$t('dashboard.Searchhere')"
           v-model="Customersearch"
           ></v-text-field>
                   </v-col>
                   <v-col cols="1" sm="1" md="1">
      <v-btn
                                tile
                                color="teal"
                                icon
                                @click="ItemSearchModal = true"
                                style="padding-left: 0px;"
                              >
                                <v-icon style="font-size: 28px;" @click="RefreshCustomerObject">mdi-refresh</v-icon>
                              </v-btn>
                              </v-col>
                              </v-row>

                              </v-col>
                              </v-row>

<div style="max-height:50vh;overflow-x: hidden; ">
                              <v-expansion-panels
                              focusable
                              style="padding-right: 7px;"
                              >
    <v-expansion-panel
      v-for="(item,i) in resultQuery"
      :key="i"
    >
      <v-expansion-panel-header>
        <v-row no-gutters  style="font-size:10px;">

      <v-col
        cols="6"
        sm="6"
      >
        <label style="padding-left:7px;font-size: 12px;">{{item.CustName}}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
       <label style="font-size: 12px;">{{ item.Code }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content
      >
      <v-row >
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px; padding-left: 0px;padding-bottom:0px"
      >
     {{ $t(`menu.Location`) }}
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
           <label>{{item.Location}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        style="padding-left: 0px;padding-bottom:0px;padding-top:0px"
      >
      <label >Contact Person</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-right: 0px;padding-bottom:0px;padding-top:0px"
      >
        <label>{{item.ContactPerson}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-left: 0px;padding-bottom:0px;padding-top:0px"
      >
       <label > {{$t(`menu.Address`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-right: 0px;padding-bottom:0px;padding-top:0px"
      >
        <label>{{item.Address}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-left: 0px;padding-bottom:0px;padding-top:0px"
      >
       <label > {{$t(`menu.Mobile`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-right: 0px;padding-bottom:0px;padding-top:0px"
      >
        <label>{{item.Mobile}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        style="padding-left: 0px;padding-bottom:0px;padding-top:0px"
      >
      <label v-if="IsEAIApp">{{$t(`menu.GSTIN`)}}</label>
      <label v-if="IsEAGApp">{{$t(`menu.VATIN`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-right: 0px;padding-bottom:0px;padding-top:0px"
      >
        <label>{{item.TaxRegNo}}</label>
      </v-col>

      <v-col
        cols="12"
        sm="12"
        style="text-align: right; padding-right:5px"
        @click="SetSearchResultToCustomer(item.CustName)"
      >

     <v-btn small color="rgb(0 150 199)" style="color:#FFF">{{$t(`dashboard.ok`)}}</v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

          </v-card-text>
          <v-card-actions style="padding-top: 0px;">
          <!--   <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn> -->

            <v-spacer></v-spacer>
            <!-- <v-btn
              color="primary"
              text
              @click="CustomerSearchModal = false"
            >
              Cancel
            </v-btn> -->
                <v-btn depressed small style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
         @click="CustomerSearchModal = false">
          <i class="fas fa-times-circle" style="font-size:20px"></i></v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- CustomerSearchModal Ends Here------------------------------------------------------- -->






<!-- ------------------------------------------------- CustSelectionReminderModal Start Here------------------------------------------------------- -->
    <v-dialog
        v-model="CustSelectionReminderModal"
        max-width="300px"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <label style="color:rgb(0, 53, 94);text-align:center;font-size:17px"><b>{{ $t(`menu.PleaseselectAccountfirst`) }}</b></label>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              text
              depressed
              small
              @click="CloseCustSelectionReminderModal()"
              style="background-color:#2E7D32;color:#FFF"
            >
           {{$t(`dashboard.ok`)}}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- CustSelectionReminderModal Ends Here------------------------------------------------------- -->

<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->



   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
        absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
       style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import { StreamBarcodeReader } from 'vue-barcode-reader'
//import Sign from 'pages/dashboard/digitalSign';
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
import VueHtmlToPaper from 'vue-html-to-paper';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import fab from 'vue-fab'
import vueSignature from "vue-signature"
import Vue2TouchEvents from 'vue2-touch-events'
import DayEndCheck from "../../mixins/DayEndCheck";
import globalpassword from '@/pages/Masters/GlobalPassword.vue'

Vue.use(Vue2TouchEvents)
// or using the defaults with no stylesheet
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css'
  ]
}

Vue.use(VueHtmlToPaper,options);

export default {
     components: { vSelect ,VueBottomSheet,fab,vueSignature,StreamBarcodeReader,globalpassword},
  data() {
    return {
     currentdate:new Date().toISOString().substr(0, 10),
      GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
      overlay: false,
      Title:'',
      copm:true,
      signtype:'',
       mainicon: 'menu',
         bgColor: '#778899',
         position: 'bottom-right',
          iconsize: 'small',
            signature1 : false,
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearContra',
          icon: 'cached',
          tooltip:this.$t(`common.Clear`)
        },

        {
          name: 'DeleteContra',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },

          {
          name: 'SaveContra',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },
      ]
    },
         img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6qoa2_qO-46WAuod6MA2kYphFQkc1aLvGA&usqp=CAU',
         total:'412.00',
         NetTtl:'145825.00',
         Tax:'12.00',

        /*  items: [
        {
         no: '1',
         Particulars:'sunlight',
         Quantity :'10 pcs',
         Rate :'10.000',
         Amount :'12.023',
        },
        {
         no: '2',
         Particulars:'sunlight Soap Bar',
         Quantity :'2 pcs',
         Rate :'10.330',
         Amount :'20.066',
        },
         {
         no: '3',
         Particulars:'Soap',
         Quantity :'3 pcs',
         Rate :'100000.330',
         Amount :'12000000.661',
        },

         ], */
         ttl:[],
         output: null,
         salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      ItemModal:false,
      editModal:false,
      fabsh:true,
      posindex:'',
      new_index:0,
      Priority: 'false',
      right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
    ContraObject : [],
    BranchObject:[],
    dialog: false,
    BarcodeModal: false,
    ItemSearchModal: false,
    DeleteConfirmation_ContraDetails: false,
    DeleteConfirmation_Contra: false,
    menu: false,
    menu1: false,
    apiurl : '',
    Editid : 0,
    IsUpdate : false,
    itemUnits : [],
    Contra_for_Edit : {},
    obj_for_item : {},
    executed : false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    isPrint : false,
    IsSave : true,
    isItemUpadate : false,
    IsContraSaved : false,
    IsLastCustomerRate : false,
    VoucherNo : window.localStorage.getItem('ContraNo'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    VoucherDate : new Date().toISOString().substr(0, 10),
     EffectiveDate : new Date().toISOString().substr(0, 10),
    VoucherDate : new Date().toISOString().substr(0, 10),
    SalesPersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    CurrencyOptions : JSON.parse( localStorage.getItem('Currency') ),
    ReceivedByOptions : JSON.parse( localStorage.getItem('ReceivedBy') ),
     ProjectOptions : [],
    DrLedgerOptions : JSON.parse( localStorage.getItem('CashBankLedgerNames')),
    CrLedgerOptions : JSON.parse( localStorage.getItem('CashBankLedgerNames')),
    CustomerOptions : JSON.parse( localStorage.getItem('Customers') ),
    CustomerObject : [],
    Customersearch : '',
    CustomerSearchModal : false,

    Contradetail : {},
    ContraDetails :localStorage.getItem('ContraDetails')? JSON.parse( localStorage.getItem('ContraDetails') ): [],
    Executed  : false,
    ContraNo: '',
    IsContraNOShow : false,
    EditId : -1,
    DeleteId : -1,
    IsItemUpdate :false,
    ItemRateLabel : '',
    ItemDescriptionOptions : [],
    ContraTotal : 0,
    TotalItems : 0,
    IsMultiBarnch : false,
    IsMultiCurrency:false,
    IsReceivedByShow:false,
    BillToModal : false,
    InvoiceDetailsModal : false,
    PrintModal : false,
    IsStopStock : false,
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    CustSelectionReminderModal:false,
    IsBankLedger:false,
    IsBillWase : false,

    bURL : "",
    bURLPrint : "",
    logo : "",
    Settings : JSON.parse(localStorage.getItem('Settings')),
    IsShowRoute:false,
    IsDisabledRoute : false,
    RouteOptions:[],
    IsLocked:false,
    DayEndModal : false,
    DateWarningModal: false,
    TempVoucherDate :'',
    IsDisableDate:false,
    ContraIsActive : false,
    CrLedger : '',
    Amount:'',
    Remarks:'',


    }
  },
  mounted(){

    // this.print()
    history.pushState(null, null, location.href);


    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     localStorage.setItem('ActivePage','Contra')
      localStorage.setItem('ActiveRoute','/dashboard/Vouchers/contra')
     localStorage.removeItem('VoucherUpdated')
    this.DayStatus  = localStorage.getItem('DayStatus')
     if(this.DayStatus !== 'Started')
     {
       this.overlay = true
     }
     if(localStorage.getItem("salessign")!== null)
     {
          this.salessign = localStorage.getItem("salessign")
          this.salename = localStorage.getItem("salename")

     }
      if(localStorage.getItem("verisign")!== null)
     {
          this.verisign = localStorage.getItem("verisign")
            this.veriname = localStorage.getItem("veriname")

     }
      if(localStorage.getItem("customsign")!== null)
     {
          this.customsign = localStorage.getItem("customsign")
            this.custname = localStorage.getItem("custname")

     }


    this.Executed = false
    this.BasicSettings()
    this.SetPermission()
    this.RefreshCustomerObject()
    /*  while ( this.Executed === false)
    {
      console.log('excecuting')
    } */
    document.addEventListener("backbutton", this.yourCallBackFunction, false);
   },

  mixins: [DayEndCheck],
  computed: {
    resultQuery() {
      this.CustomersNew = []
    if(this.Customersearch !== undefined)
    {
       this.CustomersNew = this.CustomerObject.filter(post => {
        return post.CustName.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.CustName.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Customersearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Customersearch.toString().toLowerCase());
      })
      if(this.CustomersNew.length > 100)
      {
         this.CustomersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CustomersNewReturn.push(this.CustomersNew[this.i])

        }
        return this.CustomersNewReturn
      }
      else{
         return this.CustomersNew
      }
    }
    else{
      if(this.CustomerObject.length > 100)
      {
         this.CustomersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CustomersNewReturn.push(this.Customers[this.i])

        }
        return this.CustomersNewReturn
      }
      else{
         return this.CustomerObject
      }
    }
    },
   GetContraTotal()
   {
     this.Total = 0;
     for(this.i=0;this.i<this.ContraDetails.length;this.i++)
     {
       this.Total += this.ContraDetails[this.i].Amount
     }
     this.Total = this.Total.toFixed(this.DecimalPlaces)
     return this.Total
   }

   },
  methods: {
    yourCallBackFunction () {
     history.pushState(null, null, location.href);
       window.onpopstate = function () {
        history.go(1);
    };

    },

     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
    calc(){
      if(this.posside == 0)
      {
        this.new_index = this.posindex++;

      }else{
        this.new_index = this.posindex--;
      }

    },
    touchHandler (direction) {
            console.log(direction)  // May be left / right / top / bottom

    },
    open_order(){
       this.ItemModal =true
       this.fabsh = false

    },
     print () {
      // Pass the element id here
      // this.$htmlToPaper('printMe');
     var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
    },
    open(a) {
      if(a==1){
    this.Title =this.$t(`menu.SalesManSignature`)
      }
      if(a==2){
     this.Title =this.$t(`menu.VerifySignature`)
      }
      if(a==3){
     this.Title =this.$t(`menu.CustomerSignature`)
      }

      this.signtype = a
      this.$refs.myBottomSheet.open();
    },
    close() {
      this.$refs.myBottomSheet.close();
    },
    item(){
     this.open_order()
    },
     cache(){
       this.copm =false
          var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
      },
      open_order_pos(index){

            this.posindex = index
            this.editModal =true
      },
  ///Move
  move( old_index, new_index) {
    console.log("a"+old_index+" b"+new_index)
    while (old_index < 0) {
        old_index += this.ContraDetails.length;
    }
    while (new_index < 0) {
        new_index += this.ContraDetails.length;
    }
    if (new_index >= this.ContraDetails.length) {
        var k = new_index - this.ContraDetails.length;
        while ((k--) + 1) {
            arr.push(undefined);
        }
    }
     this.ContraDetails.splice(new_index, 0, this.ContraDetails.splice(old_index, 1)[0]);
    this.editModal = false
   return this.ContraDetails;
},
//Move ends

      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval

      }
       if(this.signtype == 2)
      {
        this.verisign = svg
        localStorage.setItem('verisign',svg)
         localStorage.setItem('veriname',this.nameval)
         this.veriname  = this.nameval

      }
       if(this.signtype == 3)
      {

        this.customsign = svg
         localStorage.setItem('customsign',svg)
          localStorage.setItem('custname',this.nameval)
          this.custname  = this.nameval

      }

       this.$refs.myBottomSheet.close();

		},
		clearDigital(){
			var _this = this;
			_this.$refs.signature.clear();
		},

    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
     SetVoucherDate(VoucherDate)
    {
      this.IsSalesman = localStorage.getItem('salePerson')
      if(this.IsSalesman != "" || this.VoucherNo !== null)
      {
        if(VoucherDate !== new Date().toISOString().substr(0, 10))
        {
            this.DateWarningModal = true
            this.TempVoucherDate = VoucherDate
        }
        else
        {
          this.$refs.menu.save(VoucherDate)
        }
      }
      else{
          this.$refs.menu.save(VoucherDate)
      }


    },
    SetVoucherDateByWarning()
    {
      this.$refs.menu.save(this.TempVoucherDate)
      this.DateWarningModal = false
    },
    onDecode (result)
    {
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].barcode === result)
        {
          this.GetUnits(this.ItemObject[this.i].itemId , true)
        }
      }
      /*  this.altitems.Barcode = result
      this.$root.$emit('bv::hide::modal', 'modal-2', '#btnShow') */
    },
    onLoaded (result) {
      return
    },
    BasicSettings()
    {
      this.Papersize = 'A4'

       this.IsReceivedBy = localStorage.getItem('user')
      /*  if (this.IsReceivedBy !== '')
        this.ContraObject.ReceivedBy = this.IsReceivedBy */
      if( this.ReceivedByOptions.length > 1)
      {
        this.IsReceivedByShow = true
        if(this.VoucherNo === null)
          this.ContraObject.ReceivedBy = this.IsReceivedBy
      }
      else{
        this.IsReceivedByShow = false
      }
       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
           this.ContraObject.BranchCode = this.BranchCode
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.ContraObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.ContraObject.BranchCode = ''
       }
        this.GetBranchDetails(this.ContraObject.BranchCode?this.ContraObject.BranchCode:"MB")
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      this.BranchCode = this.BranchCode ? this.BranchCode : 'All'

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.ContraObject.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true



       this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
      if(this.LinkedRoutes !==null)
      {
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
      }
      else{
           this.IsShowRoute = false
      }
      if(this.LinkedRoutes.length  > 0)
      {
         this.IsShowRoute = true
          for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
          {
            this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
          }
              this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
               if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined && this.ActiveRouteID !== -1)
              {
                this.IsDisabledRoute = true
              for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
              {
                if(this.LinkedRoutes[this.i].RouteID === parseFloat(this.ActiveRouteID) )
                {
                  this.ContraObject.RouteName = this.LinkedRoutes[this.i].RouteName
                }
              }
              }
      }
       if(this.LinkedRoutes.length === 1)
      {
        this.SaleObject.RouteName = this.LinkedRoutes[0].RouteName
        this.IsShowRoute = false
      }


        this.DayStartTime = localStorage.getItem('DayStartTime')
        this.ActiveRouteId = localStorage.getItem('ActiveRouteId')
         this.IsSalesPerson = localStorage.getItem("salePerson");
        if(this.DayStartTime !== null && this.ActiveRouteId !== null )
        {
          this.VoucherDayEndWarning = localStorage.getItem('VoucherDayEndWarning')
          if(this.VoucherDate !== this.DayStartTime && this.VoucherDayEndWarning ===  null)
          {
            this.DayEndModal = true
          }
          this.VoucherDate = this.DayStartTime
          this.IsDisableDate = true
        }
        else if (this.IsSalesPerson !== '' || this.VoucherNo !== null)
        {
           this.IsDisableDate = true
        }

    },
     SetPermission()
    {
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmContra')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

          if (this.VoucherNo === null )
          {
            this.IsHoldingContra = localStorage.getItem('IsHoldingContra')
            this.HoldingContraObject = localStorage.getItem('ContraObject')
            if (this.IsHoldingContra !== null)
            {
              this.ContraObject =  JSON.parse(this.ContraObject)
            }
            if (this.IsHoldingContra === 'true')
            {
              AssignObject(this.ContraObject)
            }
            this.isPrint = false

          }
          else
          {
            localStorage.setItem('ContraNoForPrint',this.VoucherNo)
            if (this.isReadPermission === false)
            {
              /* this.$router.push('/dashboard/dayBook') */
            }
            else if (this.isUpdatePermission === false)
            {
              this.isCreatePermission = false
            }
            this.isPrint = true
            //this.IsReceivedByShow = false
            this.GetContra()
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetContra()
    {
      axios.get ( this.bURL + 'Contra/' + this.VoucherNo,{
        headers: this.headers
       })
        .then((response)  =>  {
          this.AssignObject(response.data)
        },
        (error)  =>  {
          this.Loaderdialog = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    AssignObject(obj)
    {
      this.ContraNo = obj.VoucherNo
      this.ReferNo = obj.ReferNo
      this.ContraObject.BranchCode = obj.BranchCode
      this.VoucherDate = this.FormatDate(obj.VoucherDate)
      this.ContraObject.DrLedger = obj.DrLedger
      this.Description = obj.Description
      this.ContraObject.Currency = obj.Currency
      this.ContraObject.ProjectName = obj.ProjectName
      this.ContraObject.ReceivedBy = obj.ReceivedBy
      this.ContraDetails = obj.ContraDetails
      localStorage.setItem('ContraDetails',JSON.stringify(this.ContraDetails))

      this.CustomerCount = 0
      this.firstCus = ''
      for (this.i = 0;this.i < this.ContraDetails.length;this.i ++ )
      {
        if (this.ContraDetails[this.i].IsCustomer === true)
        {
          this.firstCus = this.ContraDetails[this.i].CrLedger
          break
        }
      }
      for (this.i = 0;this.i < this.ContraDetails.length;this.i ++ )
      {
        if (this.ContraDetails[this.i].IsCustomer === true)
        {
          if (this.ContraDetails[this.i].CrLedger !== this.firstCus)
          {
            this.CustomerCount += 1
          }

        }
      }
      if (this.CustomerCount > 1)
      {
        this.isUpdatePermission = false
      }
      else {
        this.isUpdatePermission = true
      }
      this.FindLedgerGroupForDetails(this.ContraDetails[0].CrLedger)
      this.CrLedger = this.ContraDetails[0].CrLedger
      this.FindContraTotal()
    },
    OpenContraDetails()
    {
      this.IsItemUpdate = false
      this.ClearItemModal()
      this.ItemModal = true
      this.Amount = ''
      this.CrLedger = ''
      this.Remarks = ""
    },
    ClearItemModal()
    {
      this.ContraIsActive = "test"
      this.ContraIsActive = true
       this.Amount = ''
      this.CrLedger = ''
      this.Remarks = ""
    },

    AddItem()
    {
      if (this.CrLedger === undefined || this.Amount === undefined || this.CrLedger === '' || this.Amount === '' )
      {
        this.snackbar = true
        this.SnackbarMessege = this.$t(`menu.Pleaseselectsufficientdetails`)
      }
      else
      {
        this.Contradetail= {}
        this.Contradetail.Amount = parseFloat(this.Amount)
        this.Contradetail.Remarks = this.Remarks ? this.Remarks : ''
        this.Contradetail.CrLedger =this.CrLedger

        this.ContraDetails.push(this.Contradetail)
        localStorage.setItem('ContraDetails',JSON.stringify(this.ContraDetails))
         this.Contradetail= {}
          this.ClearItemModal()
          this.ItemModal = false
          this.FindContraTotal()
      }

    },
    EditItem(pos)
    {
      this.IsItemUpdate = true
      this.EditId = pos
      this.ItemModal = true
      this.CrLedger = this.ContraDetails[pos].CrLedger
      this.Amount = this.ContraDetails[pos].Amount
      this.Remarks = this.ContraDetails[pos].Remarks

    },
    UpdateItem()
    {
       if (this.CrLedger === undefined || this.Amount === undefined )
      {
        this.snackbar = true
        this.SnackbarMessege = this.$t(`menu.Pleaseselectsufficientdetails`)
      }
      else
      {
        this.UpdateExicution()
      }

    },
    UpdateExicution()
    {
      this.ContraDetails[this.EditId].CrLedger = this.CrLedger
      this.ContraDetails[this.EditId].Amount = parseFloat( this.Amount )
      this.ContraDetails[this.EditId].Remarks = this.Remarks ? this.Remarks : ''
      localStorage.setItem('ContraDetails',JSON.stringify(this.ContraDetails))

      this.ClearItemModal()
      this.ItemModal = false
      this.FindContraTotal()
    },
    CreateObject(IsHold)
    {
       this.IsSalesPerson = localStorage.getItem("salePerson");
       if (this.IsSalesPerson === '' || this.VoucherNo !== null)
      {
          
      this.today = new Date();

        this.hours = this.today.getHours().toString()
        if(this.hours.length === 1)
        {
          this.hours = '0'+this.today.getHours()
        }
        else
        {
          this.hours = this.today.getHours()
        }

        this.Minutes = this.today.getMinutes().toString()
        if(this.Minutes.length === 1)
        {
          this.Minutes = '0'+this.today.getMinutes()
        }
        else
        {
          this.Minutes = this.today.getMinutes()
        }

         this.Seconds = this.today.getSeconds().toString()
        if(this.Seconds.length === 1)
        {
          this.Seconds = '0'+this.today.getSeconds()
        }
        else
        {
          this.Seconds = this.today.getSeconds()
        }
       this.time =this.hours + ":" + this.Minutes +":"+ this.Seconds

       this.d1 = this.VoucherDate + 'T' + this.time
       }
      else{
        this.DayStartTime = localStorage.getItem('DayStartTime')
        this.ActiveRouteId = localStorage.getItem('ActiveRouteId')
        if(this.DayStartTime !== null && this.ActiveRouteId !== null)
        {
          this.d1 = this.DayStartTime + 'T' + "00:00:00"
        }
        else
        {
          this.d1 = '1899-01-01'
        }
      }
      this.obj_for_item =   {
	      'VoucherNo': this.VoucherNo?parseInt(this.VoucherNo):-1,
        'ReferNo': this.ReferNo?this.ReferNo:'',
	      'DrLedger': this.ContraObject.DrLedger?this.ContraObject.DrLedger:'',
	      'VoucherDate': this.VoucherDate?this.d1:'',
	      'BranchCode': this.ContraObject.BranchCode?this.ContraObject.BranchCode:'',
	      'Description': this.Description ? this.Description : ' ' ,
        'Locked':  'N' ,
        'ContraDetails' :this.ContraDetails,
        'Username' : localStorage.getItem('user'),
        'Currency' : this.ContraObject.Currency
      }
      if (IsHold === true )
      {
        localStorage.setItem('IsHoldingContra', true)
        localStorage.setItem('ContraObject',this.obj_for_item)

        return null
      }
      else{
        return this.obj_for_item
      }
    },
    Save()
    {
       if (this.VoucherNo === null)
       {
          if (this.isCreatePermission === false)
          {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
          else
          {
             this.SaveContra()
          }
       }
       if (this.VoucherNo !== null)
       {
          if (this.isUpdatePermission === false)
          {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
          else
          {
             this.SaveContra()
          }
       }
    },
    SaveContra()
    {

      this.obj_for_item = this.CreateObject(false)
      if (this.obj_for_item.DrLedger === '' || this.obj_for_item.VoucherDate === '' || this.obj_for_item.BranchCode === '' )
      {
        this.SnackbarMessege = this.$t(`menu.PleaseEnteralldetails`)
        this.snackbar = true

      }
      else if (this.ContraDetails.length === 0  )
      {

        this.SnackbarMessege = this.$t(`menu.PleaseEnterContraDetails`)
        this.snackbar = true
      }
      else {
            localStorage.setItem('ContraObject',JSON.stringify(this.obj_for_item))
           if (this.VoucherNo === null )
           {
              axios.post(this.bURL + 'Contra',this.obj_for_item            ,{
                headers: this.headers
            })
                .then((response)  =>  {
                    localStorage.setItem('ContraNoForPrint',response.data)
                    this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                    this.snackbar = true
                    this.ClearContra()
               },
                 (error)  =>  {
          this.Loaderdialog = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
           }
           else
           {
              axios.put(this.bURL + 'Contra/'+this.VoucherNo,this.obj_for_item,
            {
                headers: this.headers
            })
                .then((response)  =>  {
                    localStorage.removeItem('ContraNo')
                    this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                    this.snackbar = true
                    this.ClearContra()
               },
                 (error)  =>  {
          this.Loaderdialog = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
           }
      }

    },
    DeleteItem(pos)
    {
      this.DeleteId = pos
      this.DeleteConfirmation_ContraDetails = true
    },
    ExecuteDeleteItem()
    {
      this.ContraDetails.splice(this.DeleteId,1)
      localStorage.setItem('ContraDetails',JSON.stringify(this.ContraDetails))
      this.FindContraTotal()
      this.DeleteConfirmation_ContraDetails = false
    },
    DeleteContra()
    {
      if (this.VoucherNo !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_Contra = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = this.$t(`menu.NoContratodelete`)

        this.snackbar = true

      }

    },
    ExecuteDeleteContra()
    {
      axios.delete( this.bURL + 'Contra/' + this.VoucherNo,
            {
                headers: this.headers
            })
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          localStorage.removeItem('ContraNo')
          this.DeleteConfirmation_Contra = false
          this.ClearContra()
        },
          (error)  =>  {
          this.Loaderdialog = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    GetContraByReferenceNo(event)
    {
      axios.get(this.bURL + '/Contra/GetContraByReferenceNo?ReferenceNo=' + event,
            {
                headers: this.headers
            })
        .then((response)  =>  {
          if (response.data === '')
          {
            this.error = false
          }
          else {
            this.error = true
            this.ErrorMessege = this.$t(`menu.ReferenceNoalreadyexist`)
          }

        },
          (error)  =>  {
          this.Loaderdialog = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    FindContraTotal()
    {
      this.Total = 0
      for (this.i = 0; this.i < this.ContraDetails.length; this.i ++)
      {
        this.Total += this.ContraDetails[this.i].Amount

      }
      this.ContraTotal = this.Total.toFixed(this.DecimalPlaces)
      this.TotalItems = this.ContraDetails.length
    },
    ClearContra()
    {
      localStorage.removeItem('ContraNo');
      localStorage.removeItem('IsHoldingContra')
      localStorage.removeItem('ContraObject')
      localStorage.removeItem('ContraDetails')
      this.ReferNo = ''
       this.ContraObject.DrLedger = ''
       this.Description = ''
       this.ContraDetails = []
    },

    findLedgerGroup(ledger)
    {
      axios.get(this.bURL + 'Ledger/GetSystemLedgerGroup?LedgerName=' + ledger)
        .then((response)  =>  {
          if (response.data === 'Cash-in-hand')
          {
            this.IsBankLedger = false
          }
          else {
            this.IsBankLedger = true
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },



    SetBillTo()
    {
      localStorage.setItem('VoucherUpdated','True')
      this.BillToModal = false
    },
    SetIvoiceDetails()
    {
      localStorage.setItem('VoucherUpdated','True')
      this.InvoiceDetailsModal = false
    },
    GetBranchDetails(Branch)
    {
        this.brachCode = ""
         if (Branch == "All")
                this.brachCode = "MB";
            else
               this. brachCode = Branch;
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Branch/GetBranchByBranchCode?BranchCode=' +this.brachCode)
              .then((response)  =>  {
                  this.BranchObject = response.data

              }, (error)  =>  {
                  console.log(error)
              })

      },

    FormatewithDecimalPlaces(value)
    {
      value = parseFloat(value)
      return value.toFixed(this.DecimalPlaces)
    },
      FormatDate(Value)
    {
      return  Value.split('T')[0]
    },

   SetDayEnd()
   {
     this.$router.push('/dashboard/masters/dayend')
   },
   SetDayEndWarning()
   {
      localStorage.setItem('VoucherDayEndWarning','false')
      this.DayEndModal = false
   }



  }
}
</script>

<style scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

.v-application--is-ltr .v-expansion-panel-header {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}
.v-icon {

    font-size: 14px !important;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.v-expansion-panel-content__wrap {
    padding: 0px !important;
    flex: 1 1 auto;
    max-width: 100%;
}
.mdi-barcode::before {
        content: "\F0071";
    font-size: 27px;
    padding-right: 0px;
    padding-bottom: 16px;
}
.mdi-magnify::before {
    content: "\F0349";
    font-size: 30px;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 2px;
}

/* .mdi-plus::before {
    font-size: 25px;
    content: "\F0415";
    padding-top: 5px;
    padding-left: 9px;
} */
.mdi-refresh::before {
    content: "\F0450";
    padding-top: 27px;
    font-size: 22px;
    padding-right: 37px;
    padding-left: 0px;
}
.mdi-arrow-left::before {
    content: "\F004D";
    font-size: 24px;
    padding-left: 9px;
}
.col-11 {
    flex: 0 0 86%;
    max-width: 86%;
    padding-top:0px;
    padding-bottom:0px;
}
.col-12{
   padding-top:0px;
    padding-bottom:0px;
}
.col-sm-12{
  padding-bottom:0px;
}
.col-1{
  padding-top:0px;
    padding-bottom:0px;
}
.v-text-field {
    padding-top: 2px;
    margin-top: 2;
}
 ::v-deep .v-snack__wrapper {
        min-width: 0px;
    }
</style>
<style>
#innerExPan > .v-expansion-panel-content__wrap {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
}
</style>
