<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
     <!--  <v-btn
        color="error"
        @click="overlay = !overlay"
      >
        Show Overlay
      </v-btn> -->
       <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >

   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header v-show="copm" class="headernew"   style="text=align:center !important;min-height: 20px !important;" expand-icon="" >
             <span style="text-align:right;padding-left: 0px !important;margin-left: -6px;"><v-icon style="    font-size: 13px !important;" @click="GoBackPrevious">fa-arrow-left</v-icon></span>
           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{$t(`menu.Journal`)}} </b>
      </v-col>
      <span style="text-align:right;padding-right: 6px !important" v-if="IsLocked"><v-icon style="    font-size: 13px !important;">fas fa-lock</v-icon></span>
        </v-expansion-panel-header>
    <v-expansion-panel-content id="innerExPan">

		<v-row no-gutters >
			<v-col cols="6" sm="7" >
				<v-list-item-title class="mb-1 comp1" style="font-size: 12px !important;padding-left:15px;padding-right:0px;padding-top:10px;line-height: 1.2">
					<b> {{BranchObject.BranchName}}</b><br>
					<b style="font-size: 10px !important;">
					  {{BranchObject.Address}}<br>
					  Mob : {{BranchObject.Mobile}}<br>
					  Phone : {{BranchObject.Phone}} <br>
            Email : {{BranchObject.Email}}
					</b>

				   </v-list-item-title>
</v-col>

<v-col cols="2" sm="2" >
</v-col>
<v-col cols="4" sm="3" style="text-align:right;padding-right:5px" >
	<v-list-item-avatar
	tile
	size="70"
	color="grey"
  >
  <img  alt="Avatar" :src="logo" >
  </v-list-item-avatar>
	</v-col>
	</v-row>
         </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
  <v-row no-gutters >
      <v-col cols="6" sm="7" >
         <v-list-item-title class=" mb-1 comp1" style="font-size: 12px !important;padding-left:15px;padding-right:0px;padding-top:10px;line-height: 1.2" >
        <!-- <span style="font-size: 10px !important;color:#78909C"> Received  To</span><br>
            <b style="font-size: 10px !important;max-width:100px !important;
    white-space: normal">
           {{JournalObject.DrLedger}}
         </b><br> -->

        </v-list-item-title>
        </v-col>
        <v-col cols="2" sm="2" >
        </v-col>
        <v-col cols="4" sm="3"  >
           <v-list-item-title class=" mb-1 comp1 text-left" style="font-size: 12px !important;padding-left:0px;padding-right:0px;padding-top:10px;line-height: 1.2" @click="InvoiceDetailsModal = true">
     <div class="d-flex text-left" style="height:0px !important" >
        <span style="font-size: 10px !important;color:#78909C"> {{$t(`menu.Voucher`)}} #</span> <b style="font-size: 12px !important;">{{ReferNo}}</b></div><br>
 <div class="d-flex " style="height:0px !important" >
        <span style="font-size: 10px !important;color:#78909C"> {{ $t(`dashboard.Date`) }} : </span><b style="font-size: 10px !important;">{{JournalDate}}</b></div><br>


        </v-list-item-title>

        </v-col>

      </v-row>

     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;" @click="OpenJournalDetails" >
         <!-- <v-col cols="1" sm="1" class="slno">
     {{ $t(`menu.No`) }}
      </v-col> -->
      <v-col cols="2" sm="2" class="slno">
     {{$t(`menu.DrCr`)}}
      </v-col>


      <v-col cols="6" sm="6" class="slno">
      {{$t(`menu.Particulars`)}}
      </v-col>
        <v-col cols="2" sm="2"  class="itemquantity">
    {{$t(`menu.Debit`)}}
      </v-col>
        <v-col cols="2" sm="2"  class="itemquantity">
    {{$t(`menu.Credit`)}}
      </v-col>

    </v-row>

    <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 5px; max-height:300px; overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
          <v-overlay :value="overlay" @click="overlay = false" >
         <v-btn
          class="white--text"
          color="#546E7A"
        >
         {{$t(`menu.StartyourdaybeforeopenJournal`)}}
        </v-btn>
        <br>

      </v-overlay>
    <v-expansion-panel v-for="(item,i) in JournalDetails"  :key="i" class="ma-0" v-touch:tap="touchHandler">
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheadernew"  style="min-height: 35px !important;font-size:10px!important">
         <!-- <v-col cols="1" sm="1" class="slno1" style="padding: 0px !important;">
     <b>{{i + 1}}</b>
      </v-col> -->
       <v-col cols="2" sm="2" class="slno1" style="padding: 0px !important; " >

   <b>{{item.DrCr === "D"?"By":"To"}}</b>
      </v-col>
      <v-col cols="6" sm="6" class="slno" style="padding: 0px !important; ">
         <div class="d-flex " style="height:0px !important" >
     <b>{{item.LedgerName}}</b>
         </div>
      </v-col>
      <v-col cols="2" sm="2" class="itemquantity1"  style="padding: 0px !important;">
       <b>{{item.DrCr === "D"? FormatewithDecimalPlaces(item.Amount) : ""}}</b>
      </v-col>
       <v-col cols="2" sm="2"  class="itemquantity1" style="padding: 0px !important;">
       <b>{{item.DrCr === "C"? FormatewithDecimalPlaces(item.Amount) : ""}}</b>
      </v-col>



      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">
       </b>
      </v-col>
       <hr style="margin-top: 0rem; margin-bottom: 5px;">
       <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 0px;">
      <v-col cols="12" sm="12">
      {{ $t(`menu.Remarks`) }}<br>
      <b>{{item.Remarks}}</b>
      </v-col>


   <!--     <v-col cols="2" sm="2" class="text-right">
       Discount<br>
       3 %
      </v-co
      <v-col cols="2" sm="2" class="text-right">
       Tax<br>
       15%
      </v-col> -->
       </v-row>

       <v-row no-gutters style=" font-size: 10px;text-align: left;padding: 0px;padding-top:5px !important">
     <!--  <v-col cols="4" sm="3">
      Tax Amount<br>
      97
      </v-col>
      <v-col cols="4" sm="2" >
       Discount Amount<br>
       12
      </v-col> -->

      <v-col cols="2" sm="2" class="slno">
             <v-btn
      outlined
       x-small
      fab
    style="color:#009900;height:20px !important;width:20px !important"
 @click="EditItem(i)"
    >
      <v-icon style="font-size: 14px !important;">mdi-pencil</v-icon>
    </v-btn>
      </v-col>
      <v-col cols="2" sm="2" class="slno">
      <v-btn
      outlined
       x-small
      fab
    style="color:red;height:20px !important;width:20px !important"
   @click="DeleteItem(i)"
    >
      <v-icon style="font-size: 14px !important;">mdi-delete</v-icon>
    </v-btn>
      </v-col>
       </v-row>

       <!-- // -->
       </v-expansion-panel-content>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>

  </v-card>
    <v-list-item three-line style="padding-right: 5px;">
      <v-list-item-content style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 15px !important;padding-left:0px;padding-right:0px;text-align:right">
         <b>
             <span  @click="OpenJournalDetails" style="padding: 5px; color: rgb(0, 53, 94);"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
    </b><br>
         <b style="font-size: 10px !important;">

         </b>
        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-content class="text-right" style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 12px !important;padding-left:0px;padding-right:0px;">
      <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "  class="englishde" >
      <v-col cols="4" sm="4" class="text-right">
     Total  :
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
      <b style="color:#000; ">  {{FormatewithDecimalPlaces(DebitTotal)}}</b>
      </v-col>
      <v-col cols="4" sm="4" class="text-right text-red">
      <b style="color:#000; ">  {{FormatewithDecimalPlaces(CreditTotal)}}</b>
      </v-col>

           </v-row>
           <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 0px; "  class="arabicde" >
      <v-col cols="4" sm="4" class="text-left">
     مجموع :
      </v-col>
      <v-col cols="4" sm="4" class="text-left text-red">
      <b style="color:#000; ">  {{FormatewithDecimalPlaces(DebitTotal)}}</b>
      </v-col>
      <v-col cols="4" sm="4" class="text-left text-red">
      <b style="color:#000; ">  {{FormatewithDecimalPlaces(CreditTotal)}}</b>
      </v-col>

           </v-row>

        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>


    </v-list-item>

    <!-- <v-row no-gutters style="    font-size: 10px;text-align: center;padding: 5px; ">

    <v-col cols="4" sm="4" @click="signature1 = true">
        {{ $t(`menu.Preparedby`) }}<br>

        <img :src="salessign"  class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
        <label>{{salename}}</label>

      </v-col>

     <v-col cols="4" sm="4" @click="signature1 = true">
       {{ $t(`menu.verifiedby`) }}<br>

         <img :src="verisign" class="mx-auto d-block" style="width:50%;border: 0px solid #dee2e6;">
          <label >{{veriname}}</label>
      </v-col>
       <v-col cols="4" sm="4" @click="signature1 = true">
      {{ $t(`menu.Approvedby`) }}<br>

         <img :src="customsign" class="mx-auto d-block" style="width:50%; border: 0px solid #dee2e6;">
          <label>{{custname}}</label>
      </v-col>
 </v-row> -->
  </v-container>

  <vue-bottom-sheet ref="myBottomSheet">
    <div style="padding:10px; border:1px solid #000;">
<!-- //here one -->
<label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
	  <vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'300px'" :disabled="disabled" ></vueSignature>
		<vueSignature ref="signature1" :sigOption="option"></vueSignature><br>
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>
		<button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    </div>
  </vue-bottom-sheet>

 <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   :z-index="fab.zindex"
   @ClearJournal="ClearJournal"
   @SaveJournal="SaveJournal"
   @DeleteJournal="DeleteJournal"
   @PrintJournal="PrintJournal"
></fab>

  <!--  <v-dialog v-model="ItemModal" fullscreen hide-overlay transition="dialog-center-transition">
      <v-toolbar  color="">
          <v-btn icon  @click="ItemModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar>

  </v-dialog> -->

<!-- Signature modal start here -->
<v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}} Signature</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option" :w="'400px'" :h="'300px'" :disabled="disabled" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>


<!-- signature modal ends here -->


      <v-dialog v-model="ItemModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">Journal Details</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">{{$t(`menu.JournalDetails`)}}</h5>
    <v-card-text >
       <v-form >
          <div style="max-height:50vh;overflow-x: hidden;;width:100% ">


       <v-row>
          <v-col cols="12" sm="12" md="12"  style="padding-top:7px;padding-bottom:0px;margin-bottom:0px" >
               <v-autocomplete
            v-model="DrCr"
          :items="DrCrOptions"
          :label="$t(`menu.DrCr`)"
          @change="SetReferencesByDrCr()"

        ></v-autocomplete>
            </v-col>
       </v-row>
        <!--  <v-row v-if="!ShowNewReferencesIcon">
          <v-col cols="12" sm="12" md="12"  style="padding-top:5px;padding-bottom:0px;margin-bottom:0px" >
               <v-autocomplete
            v-model="LedgerName"
          :items="LedgerNameOptions"
          label="Ledger Name "
          @change="FindLedgerGroupForDetails($event)"

        >

        </v-autocomplete>
            </v-col>
       </v-row> -->
        <v-row>
          <v-col cols="12" sm="12" md="12"  style="padding-top:5px;padding-bottom:0px;margin-bottom:0px" >
               <v-autocomplete
            v-model="LedgerName"
          :items="LedgerNameOptions"
          :label="$t(`menu.LedgerName`)"
          @change="FindLedgerGroupForDetails($event)"

        >
         <template v-slot:append-outer v-if="ShowNewReferencesIcon">
    <v-icon color="#006391" style="font-size: 24px !important;
    padding-top: 7px !important;" @click="NewReferenceModal=true" >mdi-format-align-justify</v-icon>
  </template>
        </v-autocomplete>
            </v-col>
       </v-row>
        <v-row v-if="LedgerBalance!==  ''">
               <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
           <label  style="color:green">{{$t(`menu.Blnc`)}} : {{FormatewithDecimalPlaces(LedgerBalance)}}</label>

          </v-col>
          </v-row>
       <v-row >
               <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
          <v-text-field
          v-model="Amount"
            type="number"
        :label="$t(`ecommerce.Amount`)"
         ></v-text-field>
          </v-col>
          </v-row>
              <v-row>
          <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px" >
              <v-textarea
            v-model="Remarks"
          :label="$t(`menu.Remarks`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>

          </v-col>
          </v-row>


 </div >
        <!-- <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="ItemModal = false">
            <v-icon center style="font-size: 21px;padding-bottom: 5px;">mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>
       <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
   " v-if="!IsItemUpdate" @click="AddItem"><v-icon center style=" Font-size:25px !important;" class="mdiplus"> mdi-plus</v-icon></v-btn>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
    " v-if="IsItemUpdate" @click="UpdateItem"><v-icon center style=" font-size: 21px !important;">mdi-update</v-icon></v-btn>
        </div> -->

         <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="ItemModal = false">
            <v-icon center style="font-size: 21px;padding-bottom: 5px;">mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);
   " v-if="!IsItemUpdate" @click="AddItem"><v-icon center style=" Font-size:25px !important;" > mdi-plus</v-icon></v-btn>
           <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" v-if="IsItemUpdate" @click="UpdateItem"><v-icon center style="Font-size:24px !important;" >mdi-update</v-icon></v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>


  <!-- //-------------------- -->

   <v-dialog v-model="editModal"  hide-overlay transition="dialog-bottom-transition" style="height:450px;">

     <v-card>
        <v-card-title class="headline">{{ $t(`menu.ChangepositionofItem`) }}</v-card-title>
        <v-card-text>

             <v-row>
              <v-col cols="12" sm="12">
                 <!-- v-show="posindex !=0 " -->
                 <v-radio-group v-model="posside" row @change="calc">
                  <v-radio label="up" value="0" ></v-radio>
                  <v-radio label="down" value="1"></v-radio>
         </v-radio-group>
              </v-col>
             </v-row>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="editModal = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn color="green darken-1" text @click="move(posindex, new_index)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-card-actions>
      </v-card>
  </v-dialog>
   <v-dialog v-model="DeleteConfirmation_JournalDetails" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_JournalDetails = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteItem">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_Journal" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Journal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteJournal">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
        <v-dialog v-model="DeleteConfirmation_JournalWithReceipt" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">This is a discount journal with  <br> Receipt, are you sure want to <br> delete?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_JournalWithReceipt = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteJournal">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


      <!-- invoice modal start here -->
         <v-dialog
        v-model="InvoiceDetailsModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(0 99 145);padding-bottom:4px !important;display:none">
                Journal Details
          </v-card-title>
           <h4 style="text-align:center; padding-top:13px;color:rgb(0 99 145);padding-bottom:5px">{{$t(`menu.VoucherDetails`)}}</h4>
          <v-card-text>
                 <v-row>
               <!-- <v-col cols="6" sm="6" md="6"
               style="padding-top:2px;padding-bottom:0px;"
               >
         <v-text-field value="" label="Journal No"></v-text-field>

           </v-col> -->
            <v-col cols="6" sm="6" md="6"
               style="padding-top:3px;padding-bottom:0px;"
               >
               <v-text-field value="" :label="$t(`menu.ReferenceNo`)" v-model="ReferNo" @change="GetJournalByReferenceNo($event)"  ></v-text-field>
            </v-col>
             <v-col cols="6" sm="6" md="6"
               style="padding-top:3px;padding-bottom:0px;"
               >
          <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="JournalDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="JournalDate"
                  :label="$t(`dashboard.Date`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  :disabled="IsDisableDate"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="JournalDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">{{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="SetVoucherDate(JournalDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="DeliveryDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>

           </v-col>
           </v-row>
           <v-row  v-if="IsMultiBarnch && IsMultiCurrency">
    <v-col cols="6" sm="6" md="6" style="padding-top:0px;padding-bottom:0px;">
            <v-autocomplete
            dense
             v-model="JournalObject.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
           @change="Call_ledger($event)"
          ></v-autocomplete>
   </v-col>
    <v-col cols="6" sm="6" md="6" style="padding-top:0px;padding-bottom:0px;">
              <v-autocomplete

            dense
             v-model="JournalObject.Currency"
          :items="CurrencyOptions"
          :label="$t(`menu.Currency`)"
          @change="SetCurrency($event)"
           v-if="IsMultiCurrency"
          ></v-autocomplete>
   </v-col>
           </v-row>
            <v-row>
              <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
                 <v-autocomplete

            dense
             v-model="JournalObject.ProjectName"
          :items="ProjectOptions"
          :label="$t(`menu.Project`)"
          ></v-autocomplete>
   </v-col>
           </v-row>
           <v-row  v-if="!IsMultiBarnch && IsMultiCurrency">

    <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
              <v-autocomplete

            dense
             v-model="JournalObject.Currency"
          :items="CurrencyOptions"
          :label="$t(`menu.Currency`)"
          @change="SetCurrency($event)"
           v-if="IsMultiCurrency"
          ></v-autocomplete>
   </v-col>
           </v-row>
           <v-row  v-if="IsMultiBarnch && !IsMultiCurrency">
    <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
              <v-autocomplete
            dense
             v-model="JournalObject.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
          ></v-autocomplete>
   </v-col>

           </v-row>
                   <v-row >

    <v-col cols="12" sm="12" md="12" style="padding-top:3px;padding-bottom:0px;">
    <v-textarea

           v-model="Description"
          :label="$t(`menu.DescriptionOptional`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>
    </v-col>
                </v-row>
                <v-row>
  <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;text-align:right">
    <v-btn
              small
              @click="InvoiceDetailsModal=false"
              style="background-color:#2E7D32;color:#FFF"
            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
    </v-col>
    </v-row>
          </v-card-text>
          <!-- <v-card-actions>


            <v-spacer></v-spacer>
            <v-btn
              small
              @click="SetBillTo()"
              style="background-color:#2E7D32;color:#FFF"
            >
              Ok
            </v-btn>
          </v-card-actions> -->
        </v-card>
      </v-dialog>

       <!-- invoice modal Ends here -->



<!-- ------------------------------------------------- CustSelectionReminderModal Start Here------------------------------------------------------- -->
    <v-dialog
        v-model="CustSelectionReminderModal"
        max-width="300px"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <label style="color:rgb(0, 53, 94);text-align:center;font-size:17px"><b>{{ $t(`menu.PleaseselectAccountfirst`) }}</b></label>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              text
              depressed
              small
              @click="CloseCustSelectionReminderModal()"
              style="background-color:#2E7D32;color:#FFF"
            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- CustSelectionReminderModal Ends Here------------------------------------------------------- -->



<!-- ------------------------------------------------- PrintModal Satrts Here------------------------------------------------------- -->

<v-dialog v-model="PrintModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
           <p>Do you want to print</p>

          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintJournal()"
            >
              Print
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModa Ends Here------------------------------------------------------- -->




<!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
    <v-dialog
        v-model="DateWarningModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
           <label> Selected date and current date are different,
             Do yo want to continue?</label>
          </v-card-text>
          <v-card-actions>

             <v-row>
               <v-col cols="6" sm="6" md="6" class="slno" style="padding-top:10px;padding-bottom:0px;" >
                 <v-btn
              text
              @click="DateWarningModal = false"
               style="background-color:#FB8C00;color:#FFF"
               small
            >
           {{$t(`common.cancel`)}}
            </v-btn>
                 </v-col>
                     <v-col cols="6" sm="6" md="6" class="plusbutton123" style="padding-top:10px;padding-bottom:0px;" >
                           <v-btn
              small
              @click="SetVoucherDateByWarning()"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
            >
          {{$t(`dashboard.ok`)}}
            </v-btn>
                 </v-col>
                 </v-row>
          </v-card-actions>
        </v-card>
      </v-dialog>
<!-- ------------------------------------------------- CommonModal Ends Here------------------------------------------------------- -->


<!-- ------------------------------------------------- DayEndModal Start Here------------------------------------------------------- -->
     <v-dialog
        v-model="DayEndModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <v-row>
  <v-col cols="12" style="padding-top:0px !importnat;padding-bottom:0px !important">
             <label>Day start date <label style="color:rgb(254, 198, 1)">({{this.DayStartTime}})</label> and current date <label style="color:rgb(254, 198, 1)">({{this.currentdate}}) </label> are different,
             Do yo want to continue?</label>
    </v-col>
    </v-row>
<v-row>
  <v-col cols="12" style="padding-top:0px !importnat;padding-bottom:0px !important; margin-top: -10px;
    margin-bottom: -10px;">
    <v-divider></v-divider>
  </v-col>
</v-row>
             <v-row>
               <v-col cols="6" sm="6" md="6" class="slno" style="padding-top:10px;padding-bottom:0px;" >
                 <v-btn
              text
              @click="SetDayEnd"
               style="background-color:#FB8C00;color:#FFF"
               small
            >
           {{$t(`common.cancel`)}}
            </v-btn>
                 </v-col>
                     <v-col cols="6" sm="6" md="6" class="plusbutton123" style="padding-top:10px;padding-bottom:0px;" >
                           <v-btn
              small
              @click="SetDayEndWarning"
              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
            >
          {{$t(`menu.Yes`)}}
            </v-btn>
                 </v-col>
                 </v-row>
                       </v-card-text>

        </v-card>
      </v-dialog>


<!-- ------------------------------------------------- DayEndModal Ends Here------------------------------------------------------- -->





    <v-dialog v-model="DeleteConfirmation_NewReference" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_NewReference = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteBill">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

   <v-dialog
        v-model="NewReferenceModal"
        max-width="500px"
        style="    padding: 0 4px 4px !important;z-index: 100000!important;"
        id="innerExPan"

      >
        <v-card  id="innerExPan">
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text  id="innerExPan">
  <v-list-item class="mx-auto" v-for="(item,i) in NewReferences" :key="i" >
    <v-row no-gutters style="padding-top:6px;font-size: 13px;">

      <v-col cols="5" class="text-center"   style="border: thin solid rgba(0,0,0,.12);color:#263238;padding-right: 1px;
    padding-left: 4px;">
        <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`dashboard.Date`) }}</span> <br>
            <span>
              <input type="date" class="form-control read1" style="font-size:11px;height: 30px;font-weight: bold;" v-model="item.InvoiceDate" >


            </span>

      </v-col>
         <v-col class="text-center"  cols="3" style="border: thin solid rgba(0,0,0,.12);padding-right: 1px;
    padding-left: 4px;">
    <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`menu.InvoiceNo`) }}</span> <br>


       <input type="text" class="form-control " style="font-size:11px;height: 30px;padding:4px;font-weight: bold;" v-model="item.InvoiceNo" >

      </v-col>
      <v-col cols="3" class="text-center"   style="border: thin solid rgba(0,0,0,.12);padding-right: 1px;
    padding-left: 4px;">
    <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`ecommerce.Amount`) }}</span>
          <br>

     <input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" v-model="item.Amount" @change="AddRow(i)">



      </v-col>
      <v-col cols="1"   class="text-center" style="border: thin solid rgba(0,0,0,.12);">
          <br>

         <!-- {{formatPrice(item.count * item.RetailRateFinal)}} -->
         <!-- <button @click="del(i)"><v-icon>mdi-delete</v-icon></button> -->
         <v-icon size="15" style="background: #fff; color:#EF5350" id="del" @click="DeleteBill(i)" >mdi-delete</v-icon>



      </v-col>

    </v-row>
   </v-list-item>
    <v-list-item class="mx-auto" >
   <v-row no-gutters style="padding-top:6px;font-size: 13px;">

     <v-col cols="8" style="text-align:right">
       <label>Total Amount :</label>

     </v-col>
     <v-col cols="3" style="text-align:center">
       <label><b>{{ReferenceTotal}}</b></label>

     </v-col>
     <v-col cols="1" >


     </v-col>

   </v-row>
    </v-list-item>

          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
           <v-btn
              text
              depressed
              small
               @click="NewReferenceModal = false"
             style="background-color:#FFA726;color:#FFF;"
            >
          {{ $t(`$vuetify.close`) }}
            </v-btn>

            <v-spacer></v-spacer>
            <!-- <v-btn
              color="primary"
              text
              @click="NewReferenceModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn> -->
             <v-btn
              text
              depressed
              small
               @click="SetLedgerAmount()"
              style="background-color:#2E7D32;color:#FFF"
            >
          {{ $t(`menu.Set`) }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

 <!-- <v-dialog v-model="GlobalPasswordModal" fullscreen hide-overlay transition="dialog-center-transition" style="z-index:100000000 !important ;"> -->
     <!--  <v-toolbar  color="">
          <v-btn icon  @click="orderModal = false,fabsh = true">
            <v-icon>mdi-close</v-icon>
          </v-btn>
      </v-toolbar> -->
        <v-menu
        v-model="GlobalPasswordModal"

      >
     <globalpassword/>
        </v-menu>
  <!-- </v-dialog> -->


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->


   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
        absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
       style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import { StreamBarcodeReader } from 'vue-barcode-reader'
//import Sign from 'pages/dashboard/digitalSign';
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
import VueHtmlToPaper from 'vue-html-to-paper';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import fab from 'vue-fab'
import vueSignature from "vue-signature"
import Vue2TouchEvents from 'vue2-touch-events'
import DayEndCheck from "../../mixins/DayEndCheck";
import globalpassword from '@/pages/Masters/GlobalPassword.vue'

Vue.use(Vue2TouchEvents)
// or using the defaults with no stylesheet
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css'
  ]
}

Vue.use(VueHtmlToPaper,options);

export default {
     components: { vSelect ,VueBottomSheet,fab,vueSignature,StreamBarcodeReader,globalpassword},
  data() {
    return {
    currentdate:new Date().toISOString().substr(0, 10),
    GlobalPasswordModal:false,
    headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
      overlay: false,
      Title:'',
      copm:true,
      signtype:'',
       mainicon: 'menu',
         bgColor: '#778899',
         position: 'bottom-right',
          iconsize: 'small',
            signature1 : false,
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearJournal',
          icon: 'cached',
          tooltip:this.$t(`common.Clear`)
        },

        {
          name: 'DeleteJournal',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
        {
          name: 'PrintJournal',
          icon: 'print',
         tooltip:this.$t(`menu.Print`)
        },
          {
          name: 'SaveJournal',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },
      ]
    },
         img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6qoa2_qO-46WAuod6MA2kYphFQkc1aLvGA&usqp=CAU',
         total:'412.00',
         NetTtl:'145825.00',
         Tax:'12.00',

        /*  items: [
        {
         no: '1',
         Particulars:'sunlight',
         Quantity :'10 pcs',
         Rate :'10.000',
         Amount :'12.023',
        },
        {
         no: '2',
         Particulars:'sunlight Soap Bar',
         Quantity :'2 pcs',
         Rate :'10.330',
         Amount :'20.066',
        },
         {
         no: '3',
         Particulars:'Soap',
         Quantity :'3 pcs',
         Rate :'100000.330',
         Amount :'12000000.661',
        },

         ], */
         ttl:[],
         output: null,
         salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      ItemModal:false,
      editModal:false,
      fabsh:true,
      posindex:'',
      new_index:0,
      Priority: 'false',
      right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
    JournalObject : [],
    BranchObject:[],
    dialog: false,
    BarcodeModal: false,
    ItemSearchModal: false,
    NewReferenceModal:false,
    NewReference :{},
    DeleteConfirmation_JournalDetails: false,
    DeleteConfirmation_Journal: false,
    DeleteConfirmation_JournalWithReceipt:false,
    DeleteConfirmation_NewReference :false,
    menu: false,
    menu1: false,
    apiurl : '',
    EditId : 0,
    IsUpdate : false,
    itemUnits : [],
    Journal_for_Edit : {},
    JournalObject : {},
    executed : false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    isPrint : false,
    IsSave : true,
    isItemUpadate : false,
    IsJournalSaved : false,
    VoucherNo : window.localStorage.getItem('JournalNo'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    JournalDate : new Date().toISOString().substr(0, 10),
     EffectiveDate : new Date().toISOString().substr(0, 10),
    JournalDate : new Date().toISOString().substr(0, 10),
    SalesPersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    CurrencyOptions : JSON.parse( localStorage.getItem('Currency') ),
    ReceivedByOptions : JSON.parse( localStorage.getItem('ReceivedBy') ),
    DrCrOptions : ['By','To'],
    LedgerNameOptions : [],
    NewReferences : [],
    ShowNewReferencesIcon:false,
    Journaldetail : {},
    LedgerName:"",
    DrCr:"",
    JournalDetails : localStorage.getItem('JournalDetails')? JSON.parse( localStorage.getItem('JournalDetails') ):[],
    Executed  : false,
    JournalNo: '',
    IsJournalNOShow : false,
    DeleteId : -1,
    IsItemUpdate :false,
    ItemRateLabel : '',
    ItemDescriptionOptions : [],
    DebitTotal : 0,
    CreditTotal : 0,
    TotalItems : 0,
    IsMultiBarnch : false,
    IsMultiCurrency:false,
    IsReceivedByShow:false,
    BillToModal : false,
    InvoiceDetailsModal : false,
    PrintModal : false,
    IsStopStock : false,
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    CustSelectionReminderModal:false,
    IsBankLedger:false,
    IsNewReference : false,

    bURL : "",
    bURLPrint : "",
    logo : "",
    Settings : JSON.parse(localStorage.getItem('Settings')),
    IsLocked:false,
    ReferenceTotal:0,
    Amount : "",
    Remarks : "",
    LedgerBalance:'',
    DayEndModal : false,
    DateWarningModal: false,
    TempVoucherDate :'',
    IsDisableDate:false,
    ProjectOptions : [],

    }
  },
  mounted(){

    // this.print()
    this.PreviousPage = localStorage.getItem('PreviousRoute')
    if(this.PreviousPage !== 'Journal' && this.PreviousPage !== 'JournalRegister' && this.PreviousPage !== 'PhysicalStock')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }
    else
    {
      history.pushState(null, null, location.href);
    if(this.PreviousPage === 'Journal' && this.PreviousPage === 'JournalRegister' )
    {
      window.onpopstate = function () {
        location.href = location.origin + '/dashboard/Journal_reg'
      };
    }
    else if(this.PreviousPage === 'PhysicalStock')
    {
      window.onpopstate = function () {
        location.href = location.origin + '/dashboard/vouchers/physicalstock'
      };
    }

    }


    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     localStorage.setItem('ActivePage','Journal')
     localStorage.setItem('ActiveRoute','/dashboard/vouchers/journal')
     localStorage.removeItem('VoucherUpdated')
    this.DayStatus  = localStorage.getItem('DayStatus')
     if(this.DayStatus !== 'Started')
     {
       this.overlay = true
     }
     if(localStorage.getItem("salessign")!== null)
     {
          this.salessign = localStorage.getItem("salessign")
          this.salename = localStorage.getItem("salename")

     }
      if(localStorage.getItem("verisign")!== null)
     {
          this.verisign = localStorage.getItem("verisign")
            this.veriname = localStorage.getItem("veriname")

     }
      if(localStorage.getItem("customsign")!== null)
     {
          this.customsign = localStorage.getItem("customsign")
            this.custname = localStorage.getItem("custname")

     }


    this.Executed = false
    this.BasicSettings()
    this.SetPermission()
    this.GetProjectNames()
    this.FindJournalTotal()
    /*  while ( this.Executed === false)
    {
      console.log('excecuting')
    } */
    document.addEventListener("backbutton", this.yourCallBackFunction, false);
   },
 
  mixins: [DayEndCheck],
  computed: {


   },
  methods: {
    yourCallBackFunction () {
     history.pushState(null, null, location.href);
       window.onpopstate = function () {
        history.go(1);
    };

    },

     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
    calc(){
      if(this.posside == 0)
      {
        this.new_index = this.posindex++;

      }else{
        this.new_index = this.posindex--;
      }

    },
    touchHandler (direction) {
            console.log(direction)  // May be left / right / top / bottom

    },
    open_order(){
       this.ItemModal =true
       this.fabsh = false

    },
     print () {
      // Pass the element id here
      // this.$htmlToPaper('printMe');
     var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
    },
    open(a) {
      if(a==1){
    this.Title =this.$t(`menu.SalesManSignature`)
      }
      if(a==2){
     this.Title =this.$t(`menu.VerifySignature`)
      }
      if(a==3){
     this.Title =this.$t(`menu.CustomerSignature`)
      }

      this.signtype = a
      this.$refs.myBottomSheet.open();
    },
    close() {
      this.$refs.myBottomSheet.close();
    },
    item(){
     this.open_order()
    },
     cache(){
       this.copm =false
          var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
      },
      open_order_pos(index){

            this.posindex = index
            this.editModal =true
      },
  ///Move
  move( old_index, new_index) {
    console.log("a"+old_index+" b"+new_index)
    while (old_index < 0) {
        old_index += this.JournalDetails.length;
    }
    while (new_index < 0) {
        new_index += this.JournalDetails.length;
    }
    if (new_index >= this.JournalDetails.length) {
        var k = new_index - this.JournalDetails.length;
        while ((k--) + 1) {
            arr.push(undefined);
        }
    }
     this.JournalDetails.splice(new_index, 0, this.JournalDetails.splice(old_index, 1)[0]);
    this.editModal = false
   return this.JournalDetails;
},
//Move ends

      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval

      }
       if(this.signtype == 2)
      {
        this.verisign = svg
        localStorage.setItem('verisign',svg)
         localStorage.setItem('veriname',this.nameval)
         this.veriname  = this.nameval

      }
       if(this.signtype == 3)
      {

        this.customsign = svg
         localStorage.setItem('customsign',svg)
          localStorage.setItem('custname',this.nameval)
          this.custname  = this.nameval

      }

       this.$refs.myBottomSheet.close();

		},
		clearDigital(){
			var _this = this;
			_this.$refs.signature.clear();
		},

    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
     SetVoucherDate(VoucherDate)
    {
      this.IsSalesman = localStorage.getItem('salePerson')
      if(this.IsSalesman != "" || this.VoucherNo !== null)
      {
        if(VoucherDate !== new Date().toISOString().substr(0, 10))
        {
            this.DateWarningModal = true
            this.TempVoucherDate = VoucherDate
        }
        else
        {
          this.$refs.menu.save(VoucherDate)
        }
      }
      else{
          this.$refs.menu.save(VoucherDate)
      }


    },
    SetVoucherDateByWarning()
    {
      this.$refs.menu.save(this.TempVoucherDate)
      this.DateWarningModal = false
    },
    onDecode (result)
    {
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].barcode === result)
        {
          this.GetUnits(this.ItemObject[this.i].itemId , true)
        }
      }
      /*  this.altitems.Barcode = result
      this.$root.$emit('bv::hide::modal', 'modal-2', '#btnShow') */
    },
    onLoaded (result) {
      return
    },
    BasicSettings()
    {
      this.Papersize = 'A4'

       this.IsReceivedBy = localStorage.getItem('user')
      /*  if (this.IsReceivedBy !== '')
        this.JournalObject.ReceivedBy = this.IsReceivedBy */
      if( this.ReceivedByOptions.length > 1)
      {
        this.IsReceivedByShow = true
        if(this.VoucherNo === null)
          this.JournalObject.ReceivedBy = this.IsReceivedBy
      }
      else{
        this.IsReceivedByShow = false
      }

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       console.log(this.JournalObject.BranchCode)
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.JournalObject.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.JournalObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.JournalObject.BranchCode = ''
       }  
        this.GetBranchDetails(this.JournalObject.BranchCode?this.JournalObject.BranchCode:"MB")
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      this.BranchCode = this.BranchCode ? this.BranchCode : 'All'
      this.Call_ledger(this.BranchCode)

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.JournalObject.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true

        if(this.NewReferences.length === 0)
        {
          this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "Ledger" : '',
                  "OpeningBalanceId" : -1,
                }
                this.NewReferences.push(this.obj)
        }
    this.DayStartTime = localStorage.getItem('DayStartTime')
        this.ActiveRouteId = localStorage.getItem('ActiveRouteId')
         this.IsSalesPerson = localStorage.getItem("salePerson");
        if(this.DayStartTime !== null && this.ActiveRouteId !== null)
        {
          this.VoucherDayEndWarning = localStorage.getItem('VoucherDayEndWarning')
          if(this.JournalDate !== this.DayStartTime && this.VoucherDayEndWarning ===  null)
          {
            this.DayEndModal = true
          }
          this.JournalDate = this.DayStartTime
          this.IsDisableDate = true
        }
         else if (this.IsSalesPerson !== '' || this.VoucherNo !== null)
        {
           this.IsDisableDate = true
        }

    },
     SetPermission()
    {
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmJournal')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

          if (this.VoucherNo === null )
          {
            this.IsHoldingJournal = localStorage.getItem('IsHoldingJournal')
            this.HoldingJournalObject = localStorage.getItem('JournalObject')
            if (this.IsHoldingJournal !== null)
            {
              this.HoldingJournalObject =  JSON.parse(this.HoldingJournalObject)
            }
            if (this.IsHoldingJournal === 'true')
            {
              this.AssignObject(this.HoldingJournalObject)
            }
            this.isPrint = false

          }
          else
          {
            localStorage.setItem('JournalNoForPrint',this.VoucherNo)
            if (this.isReadPermission === false)
            {
              this.$router.push('/dashboard/Journal_reg')
            }
            else if (this.isUpdatePermission === false)
            {
              this.isCreatePermission = false
            }
            this.isPrint = true
            //this.IsReceivedByShow = false
            this.GetJournal()
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetJournal()
    {
      axios.get ( this.bURL + 'Journal/' + this.VoucherNo
       ,{
        headers: this.headers
       })
        .then((response)  =>  {
          this.AssignObject(response.data)
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    AssignObject(obj)
    {
      this.JournalNo = obj.VoucherNo
      this.ReferNo = obj.ReferNo
      this.JournalObject.BranchCode = obj.BranchCode
      this.Call_ledger(obj.BranchCode)
      this.JournalDate = this.FormatDate( obj.VoucherDate)
      this.Description = obj.Description
      this.JournalObject.Currency = obj.Currency
       this.JournalObject.ReceiptNo = obj.ReceiptNo
       this.JournalObject.ProjectName = obj.ProjectName

      this.JournalDetails = obj.JournalDetails
      localStorage.setItem('JournalDetails',JSON.stringify(this.JournalDetails))

      this.FindJournalTotal()
    },
    OpenJournalDetails()
    {
      this. ClearItemModal()
      this.IsItemUpdate = false
      this.ItemModal = true
    },
    ClearItemModal()
    {
      this.LedgerBalance = ''
       this.LedgerName = ""
       this.DrCr = ""
      this.Amount = 'd'
      this.Amount = ''
      this.Remarks = ""
      this.ShowNewReferencesIcon = false
      this.NewReferences = [];
      this.obj ={
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "Ledger" : '',
                  "OpeningBalanceId" : -1,
                }
                this.NewReferences.push(this.obj)
    },
    AddItem()
    {
      this.Amount = parseFloat(this.Amount)
      this.flag = isNaN(this.Amount)
      if(this.flag)
      {
        this.Amount = 0
      }

      if (this.LedgerName === undefined || this.DrCr === undefined
          || this.LedgerName === ""  || this.DrCr === "" || this.Amount === 0)
      {
        this.snackbar = true
        this.SnackbarMessege = this.$t(`menu.Pleaseselectsufficientdetails`)
        return
      }
      else
      {
        this.Journaldetail.LedgerName = this.LedgerName?this.LedgerName: ''
        this.Journaldetail.DrCr = this.DrCr ? this.DrCr : ''
        this.Journaldetail.Amount = parseFloat(this.Amount)
        this.Journaldetail.Remarks = this.Remarks ? this.Remarks : ''

      if(this.DrCr==="By")
      {
        this.Journaldetail.DrCr="D"
      }
      else
      {
        this.Journaldetail.DrCr="C"
      }
    this.obj = {

        LedgerName :this.Journaldetail.LedgerName,
   Amount  :parseFloat(this.Journaldetail.Amount),
   Remarks :this.Remarks,
   DrCr:this.Journaldetail.DrCr,
   LedgerType:this.Journaldetail.LedgerType,
   NewReferences:this.NewReferences,
   Collections:[],
 }
 this.Journaldetail.LedgerType="";


  this.JournalDetails.push(this.obj)
  localStorage.setItem('JournalDetails',JSON.stringify(this.JournalDetails))
        this.ClearItemModal()
        this.FindJournalTotal()
      }

    },
    EditItem(pos,IsCkeckLedger)
    {
      this.IsItemUpdate = true
      this.EditId = pos
      this.ItemModal = true
      this.LedgerName= this.JournalDetails[pos].LedgerName
      this.Journaldetail.DrCr= this.JournalDetails[pos].DrCr
       if(this.Journaldetail.DrCr==="D")
      {
        this.DrCr="By"
      }
      else
      {
        this.DrCr="To"
      }
      this.Amount = this.JournalDetails[pos].Amount
      this.Remarks = this.JournalDetails[pos].Remarks
      this.NewReferences = this.JournalDetails[pos].NewReferences
      if(IsCkeckLedger !== true)
        this.FindLedgerGroupForDetails(this.JournalDetails[pos].LedgerName)

        this.GetLedger(this.JournalDetails[pos].LedgerName)

    },
    DisableItemEditBySettings()
    {
      this.EditId = -1
                  this.IsItemUpdate = false
                  this.Amount =  ''
                  this.Remarks = ''
                  this.NewReferences = []
    },
    UpdateItem()
    {
       this.Amount = parseFloat(this.Amount)
      this.flag = isNaN(this.Amount)
      if(this.flag)
      {
        this.Amount = 0
      }

      if (this.LedgerName === undefined || this.DrCr === undefined
          || this.LedgerName === ""  || this.DrCr === "" || this.Amount === 0)
      {
           this.snackbar = true
           this.SnackbarMessege = this.$t(`menu.Pleaseselectsufficientdetails`)
           return
      }
      if(this.DrCr==="By")
      {
        this.Journaldetail.DrCr="D";
      }
      else if(this.DrCr==="To")
      {
        this.Journaldetail.DrCr="C";
      }
    this.JournalDetails[this.EditId].LedgerName = this.LedgerName;
    this.JournalDetails[this.EditId].Amount = parseFloat(this.Amount);
    this.JournalDetails[this.EditId].Remarks = this.Remarks
    this.JournalDetails[this.EditId].DrCr = this.Journaldetail.DrCr;
    this.JournalDetails[this.EditId].NewReferences=this.NewReferences;
    this.JournalDetails[this.EditId].Collections=this.JournalDetails[this.EditId].Collections;
    this.JournalDetails[this.EditId].LedgerType=this.Journaldetail.LedgerType;
  localStorage.setItem('JournalDetails', JSON.stringify(this.JournalDetails));

      this.ClearItemModal()
      this.FindJournalTotal()
    },
    CreateObject(IsHold)
    {
      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson === '' || this.VoucherNo !== null)
      {

       this.today = new Date();
       this.hours = this.today.getHours().toString()
        if(this.hours.length === 1)
        {
          this.hours = '0'+this.today.getHours()
        }
        else
        {
          this.hours = this.today.getHours()
        }
        this.Minutes = this.today.getMinutes().toString()
        if(this.Minutes.length === 1)
        {
          this.Minutes = '0'+this.today.getMinutes()
        }
        else
        {
          this.Minutes = this.today.getMinutes()
        }

         this.Seconds = this.today.getSeconds().toString()
        if(this.Seconds.length === 1)
        {
          this.Seconds = '0'+this.today.getSeconds()
        }
        else
        {
          this.Seconds = this.today.getSeconds()
        }
       this.time =this.hours + ":" + this.Minutes +":"+ this.Seconds
       this.d1 = this.JournalDate + 'T' + this.time
      }
      else{
        this.DayStartTime = localStorage.getItem('DayStartTime')
        this.ActiveRouteId = localStorage.getItem('ActiveRouteId')
        if(this.DayStartTime !== null && this.ActiveRouteId !== null)
        {
          this.d1 = this.DayStartTime + 'T' + "00:00:00"
        }
        else
        {
          this.d1 = '1899-01-01'
        }
      }
      this.JournalObject =   {
	      'VoucherNo': -1,
        'ReferNo': this.ReferNo?this.ReferNo:'',
	      'VoucherDate': this.JournalDate?this.d1:'',
	      'BranchCode': this.JournalObject.BranchCode?this.JournalObject.BranchCode:'',
	      'Currency': this.JournalObject.Currency?this.JournalObject.Currency:'',
        'ProjectName': this.JournalObject.ProjectName?this.JournalObject.ProjectName:'None',
	      'Description': this.Description ? this.Description : ' ' ,
        'Locked': this.IsLocked?'Y':'N',
	      'PostDated': false,
        'ReceiptNo':this.JournalObject.ReceiptNo?this.JournalObject.ReceiptNo:0,
        'JournalDetails' :this.JournalDetails,
      }
      for(this.j=0;this.j<this.JournalDetails.length;this.j++)
      {
        this.NewReferences = this.JournalDetails[this.j].NewReferences
        this.ref = []
        for(this.i=0;this.i<this.NewReferences.length-1;this.i++)
        {
          if(this.NewReferences[this.i].Amount != "")
          {
            this.NewReferences[this.i].Amount = parseFloat(this.NewReferences[this.i].Amount)
            this.ref.push(this.NewReferences[this.i])
          }
        }
        this.JournalDetails[this.j].NewReferences = this.ref
      }

      if (this.JournalObject.JournalDetails.length > 0)
      {
         this.JournalObject.JournalDetails[0].Collections =  this.JournalDetails[0].Collections ?  this.JournalDetails[0].Collections : []
      }

      this.JournalObject.VoucherNo = this.VoucherNo ? this.VoucherNo : -1
      if (IsHold === true )
      {
        localStorage.setItem('IsHoldingJournal', true)
        localStorage.setItem('JournalObject',this.JournalObject)

        return null
      }
      else {
        return this.JournalObject
      }
    },
    Save()
    {
       if (this.VoucherNo === null)
       {
          if (this.isCreatePermission === false)
          {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
          else
          {
             this.SaveJournal()
          }
       }
       if (this.VoucherNo !== null)
       {
          if (this.isUpdatePermission === false)
          {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
          else
          {
             this.SaveJournal()
          }
       }
    },
    SaveJournal()
    {
      this.JournalObject = this.CreateObject(false)
      console.log(this.JournalObject.BranchCode === '')
      if (this.JournalObject.VoucherDate === '' || this.JournalObject.BranchCode === '' || this.JournalObject.Currency === '')
      {
        this.SnackbarMessege = this.$t(`menu.PleaseEnteralldetails`),
        this.snackbar = true

      }
      else if (this.JournalDetails.length === 0)
      {
       this.SnackbarMessege = this.$t(`menu.PleaseEnterJournalDetails`)
        this.snackbar = true
      }
      else if(this.DebitTotal !== this.CreditTotal)
      {
        this.SnackbarMessege = this.$t('menu.Totalofdebitandcreditamountmustbeequal')
        this.snackbar = true
      }
      else {
       this.WithCollection=false
        for(this.i=0;this.i<this.JournalDetails.length;this.i++)
        {
            if((this.JournalDetails[this.i].LedgerType==="Customer" && this.JournalDetails[this.i].DrCr==="C") || (this.JournalDetails[this.i].LedgerType==="Supplier" && this.JournalDetails[this.i].DrCr==="D"))
            {
                this.WithCollection=true;
                localStorage.setItem('JournalObject',JSON.stringify(this.JournalObject));
                localStorage.setItem('IsBillWase',true);

                this.$router.push('/dashboard/journal_ReceiptAdjustments')

            }
        }
        if(this.WithCollection === false)
        {
           if (this.VoucherNo === null )
           {
             localStorage.setItem('Journal',JSON.stringify(this.JournalObject))
              axios.post(this.bURL + 'Journal',this.JournalObject ,{
        headers: this.headers
       })
                .then((response)  =>  {
                    localStorage.setItem('JournalNoForPrint',response.data)
                    this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                    this.ClearJournal()
                    this.snackbar = true
                    this.PrintModal = true
               },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
           }
           else
           {
              axios.put(this.bURL + 'Journal/'+this.VoucherNo,this.JournalObject ,{
        headers: this.headers
       })
                .then((response)  =>  {
                    localStorage.removeItem('JournalNo')
                    localStorage.setItem('JournalNoForPrint',this.VoucherNo)
                    this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                    setTimeout(  this.$router.push('/dashboard/Journal_reg') , 5000)
                    this.ClearJournal()
                    this.snackbar = true
                    this.PrintModal = true
               },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
           }
        }
      }

    },
    DeleteItem(pos)
    {
      this.DeleteId = pos
      this.DeleteConfirmation_JournalDetails = true
    },
    ExecuteDeleteItem()
    {
      this.JournalDetails.splice(this.DeleteId,1)
       localStorage.setItem('JournalDetails',JSON.stringify(this.JournalDetails))
      this.FindJournalTotal()
      this.DeleteConfirmation_JournalDetails = false
    },
    DeleteJournal()
    {
      if (this.VoucherNo !== null)
      {
        if (this.isDeletePermission === true)
        {
          if(this.JournalObject.ReceiptNo > 0)
          {
              this.DeleteConfirmation_JournalWithReceipt = true
          }
          else{
            this.DeleteConfirmation_Journal = true
          }

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
         this.SnackbarMessege = this.$t(`menu.NoJournaltodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteJournal()
    {
      axios.delete( this.bURL + 'Journal/' + this.VoucherNo
       ,{
        headers: this.headers
       })
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          localStorage.removeItem('JournalNo')
          setTimeout(  this.$router.push('/dashboard/Journal_reg') , 5000)
        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    GetJournalByReferenceNo(event)
    {
      axios.get(this.bURL + 'Journal/GetJournalByReferenceNo?ReferenceNo=' + event
       ,{
        headers: this.headers
       })
        .then((response)  =>  {
          if (response.data === '')
          {
            this.error = false
          }
          else {
            this.error = true
            this.ErrorMessege = this.$t(`menu.ReferenceNoalreadyexist`)
          }

        },
         (error)  =>  {
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
          else if(error.response.status === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
    },
    FindJournalTotal()
    {
      this.DebitTotal = 0
      this.CreditTotal = 0
      for (this.i = 0; this.i < this.JournalDetails.length; this.i ++)
      {
        if(this.JournalDetails[this.i].DrCr === "D" )
          this.DebitTotal += this.JournalDetails[this.i].Amount
        if(this.JournalDetails[this.i].DrCr === "C" )
          this.CreditTotal += this.JournalDetails[this.i].Amount

      }
      this.TotalItems = this.JournalDetails.length
    },
    ClearJournal()
    {
      this.JournalDetails = [];
      this.NewReferences = [];
       this.obj = {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "Ledger" : '',
                  "OpeningBalanceId" : -1,
                }
                this.NewReferences.push(this.obj)
      localStorage.removeItem('JournalNo');
      localStorage.removeItem('IsHoldingJournal')
      localStorage.removeItem('JournalObject')
      localStorage.removeItem('JournalDetails')
      location.reload()
    },
    Call_ledger(brach)
    {
      this.UserType = localStorage.getItem('UserType')
      axios.get(this.bURL + "ledger/GetJournalLedgers?BranchCode="+brach+"&UserRole="+this.UserType)
        .then((response)  =>  {
          for(this.i=0;this.i<response.data.length;this.i++)
          {
            this.LedgerNameOptions.push(response.data[this.i].LedgerName)
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },
    findLedgerGroup(ledger)
    {
      axios.get(this.bURL + 'Ledger/GetSystemLedgerGroup?Ledger=' + ledger)
        .then((response)  =>  {
          if (response.data === 'Cash-in-hand')
          {
            this.IsBankLedger = false
          }
          else {
            this.IsBankLedger = true
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },
    SetReferencesByDrCr()
    {
      if(this.LedgerName !== "" && this.LedgerName !== undefined)
      {
        this.FindLedgerGroupForDetails(this.LedgerName)
      }
      //this.CheckSumQty()
    },
    FindLedgerGroupForDetails(Ledger)
    {
      this.IsNewReference = false
      axios.get(this.bURL + 'Ledger/GetSystemLedgerGroup?LedgerName=' + Ledger)
        .then((response)  =>  {
          console.log("DrCr is" + this.DrCr)
          if ( response.data === 'Sundry Debtors')
          {
            this.Journaldetail.LedgerType = 'Customer'
            if(this.DrCr === "By")
            {
              this.ShowNewReferencesIcon = true
            }
            else{
              this.ShowNewReferencesIcon = false
              this.NewReferences = [];
            }

          }
          else if(response.data === 'Sundry Creditors')
          {
            this.Journaldetail.LedgerType = 'Supplier'
            if(this.DrCr === "To")
            {
              this.ShowNewReferencesIcon = true
            }
            else{
              this.ShowNewReferencesIcon = false
              this.NewReferences = [];
            }
          }
          else
          {
             this.ShowNewReferencesIcon = false
              this.NewReferences = [];
          }
         // this.CheckSumQty()
          this.GetLedger(Ledger)
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })





    },
     GetLedger(Ledger)
    {
      this.Loaderdialog = true
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Ledger/GetLedgerByName?LedgerName=' + Ledger)
        .then((response)  =>  {
           this.LedgerBalance = response.data.curBal
        }, (error)  =>  {
          console.log(error)
        })
    },
    CheckSumQty()
    {
       this.SalesActionIfItemRepeats = this.Settings.SalesActionIfItemRepeats
                for (this.i = 0; this.i < this.JournalDetails.length; this.i ++)
                {
                  if(this.DrCr==="By")
                  {
                    this.TempDrCr="D"
                  }
                  else
                  {
                    this.TempDrCr="C"
                  }
                if((this.JournalDetails[this.i].LedgerName === this.LedgerName) && (this.JournalDetails[this.i].DrCr === this.TempDrCr))
                {
                  this.EditItem(this.i,true)
                  break
                }
                else{
                  if(this.LedgerName != "" && this.DrCr != "")
                  this.DisableItemEditBySettings()
                }
                }
    },
    SetCurrency(currency)
    {
      axios.get(this.bURL + 'Currency/' + currency)
        .then((response)  =>  {
          this.DecimalPlaces = response.data.DecimalPlaces
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    SetDecimalPaces(Amount)
    {
      Amount = parseFloat(Amount)
      this.Amount =  Amount.toFixed(this.DecimalPlaces)
    },
    Print()
    {
      this.PrintModal = true
    },
    PrintCancel()
    {
       this.VoucherNo = localStorage.getItem('JournalNo')
       if (this.VoucherNo == null)
       {
          localStorage.removeItem('JournalNoForPrint')
          location.reload()
       }
       else
       {
         this.PrintModal = true
         localStorage.removeItem('JournalNoForPrint')
         this.$router.push('/dashboard/Journal_reg')
       }
    },
    PrintJournal()
    {
      if (this.VoucherNo !== null)
      {
        axios.get(this.bURL + 'print/Journal?JournalNo=' + this.VoucherNo + '&Papersize=' + this.Papersize)
          .then((response)  =>  {
            this.apiurl = localStorage.getItem("CompanyURL")
            this.url = this.apiurl + response.data
            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
            //window.location.href = this.url
          }, (error)  =>  {
            console.log(error)
          })

      }
      else
      {
        this.SnackbarMessege = this.$t(`menu.NoJournaltoPrint`)
        this.snackbar = true
      }

    },
    SetBillTo()
    {
      localStorage.setItem('VoucherUpdated','True')
      this.BillToModal = false
    },
    SetIvoiceDetails()
    {
      localStorage.setItem('VoucherUpdated','True')
      this.InvoiceDetailsModal = false
    },
    GetBranchDetails(Branch)
    {
        this.brachCode = ""
         if (Branch == "All")
                this.brachCode = "MB";
            else
               this. brachCode = Branch;
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Branch/GetBranchByBranchCode?BranchCode=' +this.brachCode)
              .then((response)  =>  {
                  this.BranchObject = response.data

              }, (error)  =>  {
                  console.log(error)
              })

      },
     FormatDate(Value)
    {
      return  Value.split('T')[0]
    },
    FormatewithDecimalPlaces(value)
    {
      value = parseFloat(value)
      return value.toFixed(this.DecimalPlaces)
    },
GetProjectNames()
  {
    this.ProjectOptions = []
    axios.get(this.bURL + 'Project/get')
          .then((response)  =>  {
            this.ProjectDetailedObject = response.data
            for(this.i=0;this.i<this.ProjectDetailedObject.length;this.i++)
            {
              this.ProjectOptions.push(this.ProjectDetailedObject[this.i].ProjectName)
            }
          }, (error)  =>  {
            console.log(error)
          })
  },



      /// Bill waise functionalities start here....................
    AddRow(id)
    {
      if(id === this.NewReferences.length-1)
      {
        this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                   "Ledger" : '',
                  "OpeningBalanceId" : -1,
                }
       this.NewReferences.push(this.obj)
      }
      this.NewReferenceModal = false
      this.GetReferenceTotal()
      this.NewReferenceModal = true
    },
    DeleteBill(id)
    {
       this.NewReferenceDeleteId = parseFloat(id)
    if((this.NewReferences.length-1) !== (parseFloat(id)))
    {
        this.DeleteConfirmation_NewReference = true
    }
    },
    ExecuteDeleteBill()
    {
       this.NewReferences.splice(this.NewReferenceDeleteId, 1)
       this.GetReferenceTotal()
       this.DeleteConfirmation_NewReference = false
    },
    GetReferenceTotal()
   {
     this.Total = 0;
     for(this.i=0;this.i<this.NewReferences.length;this.i++)
     {
       this.amt = parseFloat(this.NewReferences[this.i].Amount)
       this.flag = isNaN( this.amt)
       if(this.flag)
       {
         this.amt = 0
       }
         this.Total += this.amt
     }
     this.ReferenceTotal = this.Total.toFixed(this.DecimalPlaces)
     return this.Total
   },
    SetLedgerAmount()
    {
      this.Amount = this.ReferenceTotal
      this.NewReferenceModal = false
    },
/// Bill waise functionalities End here....................

             haversine_distance(lat1, lon1, lat2, lon2) {
      var R = 3958.8; // Radius of the Earth in miles
      var rlat1 = lat1 * (Math.PI/180); // Convert degrees to radians
      var rlat2 = lat2 * (Math.PI/180); // Convert degrees to radians
      var difflat = rlat2-rlat1; // Radian difference (latitudes)
      var difflon = (lon1-lon2) * (Math.PI/180); // Radian difference (longitudes)

      var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
      return d;
},


      getDistanceFromLatLonInKm(lat1, lon1, lat2, lon2) {
  var R = 6371; // Radius of the earth in km
  var dLat = this.deg2rad(lat2-lat1);  // deg2rad below
  var dLon = this.deg2rad(lon2-lon1);
  var a =
    Math.sin(dLat/2) * Math.sin(dLat/2) +
    Math.cos(this.deg2rad(lat1)) * Math.cos(this.deg2rad(lat2)) *
    Math.sin(dLon/2) * Math.sin(dLon/2)
    ;
  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
  var d = R * c; // Distance in km
  return d;
},

deg2rad(deg) {
  return deg * (Math.PI/180)
},
   SetDayEnd()
   {
     this.$router.push('/dashboard/masters/dayend')
   },
   SetDayEndWarning()
   {
      localStorage.setItem('VoucherDayEndWarning','false')
      this.DayEndModal = false
   }

  }
}
</script>

<style scoped>

.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

.v-application--is-ltr .v-expansion-panel-header {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}

.errMsg{
    color: red;
    font-weight: 500;
}
.v-expansion-panel-content__wrap {
    padding: 0px !important;
    flex: 1 1 auto;
    max-width: 100%;
}
.mdi-barcode::before {
        content: "\F0071";
    font-size: 27px;
    padding-right: 0px;
    padding-bottom: 16px;
}
.mdi-magnify::before {
    content: "\F0349";
    font-size: 30px;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 2px;
}

/* .mdi-plus::before {
    font-size: 25px;
    content: "\F0415";
    padding-top: 5px;
    padding-left: 9px;
} */
.mdi-refresh::before {
    content: "\F0450";
    padding-top: 27px;
    font-size: 22px;
    padding-right: 37px;
    padding-left: 0px;
}
/* .mdi-arrow-left::before {
    content: "\F004D";
    font-size: 24px;
    padding-left: 9px;
} */
.col-11 {
    flex: 0 0 86%;
    max-width: 86%;
    padding-top:0px;
    padding-bottom:0px;
}
.col-12{
   padding-top:0px;
    padding-bottom:0px;
}
.col-sm-12{
  padding-bottom:0px;
}
.col-1{
  padding-top:0px;
    padding-bottom:0px;
}
.v-text-field {
    padding-top: 2px;
    margin-top: 2;
}
 ::v-deep .v-snack__wrapper {
        min-width: 0px;
    }
    .v-application--is-rtl .mdi-arrow-left::before {
    direction: rtl;
    content: "\F004D";
    font-size: 24px;
    padding-right: 0px;
}
</style>
<style>
#innerExPan > .v-expansion-panel-content__wrap {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
}
</style>
