<template>
  <div class="d-flex  flex-column">
     <v-dialog


  content-class="innerExPan"
        v-model="Loaderdialog"


      >
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
              <img
                src="/images/dash/loading.svg"

              />


        </v-col>

      </v-row>

      </v-dialog>




     <draggable-button :isClick.sync="btnIsClick">
       <div @click.stop="clickHandler">
  <v-btn small  center id="mybutton" class="feedback" color="rgb(0 150 199)" style="color:#FFF"> Hold Allocation
    </v-btn>
  </div>
     </draggable-button>
        <v-btn
      ref="button"
      class="drawer-buttonnew"
      color="#ee44aa"
      dark
      @click="itemwise = true"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;">mdi-filter</v-icon>

    </v-btn>

      <v-navigation-drawer
      v-model="itemwise"
      fixed
      right
      hide-overlay
      temporary
      width="350"
    >
      <div class="d-flex align-center pa-2">
           <div class="title" style="color:rgb(0 99 145)">{{ $t(`dashboard.filter`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="itemwise = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
     <v-divider></v-divider>
      <div class="container-fluid">
        <div class="row cardhead">
          <!-- Itemwise filter start -->
            <v-row   v-if="$route.fullPath  == '/dashboard/Vouchers/ManageAllocation#tabs-ItemWise'">
 <v-col cols="12" sm="12" md="12"  style="padding-top:10px;padding-bottom:0px;margin-bottom:0px;padding-left:25px;padding-right:25px">
    <v-combobox

              v-model="ItemCode"
            :items="ItemCodeOptions"

            :label="$t(`menu.ItemCode`)"
            ref = "ItemCode"
             :type="ItemCodeinputType"
             @change="GetItemByItemCode($event)"
          ></v-combobox>
  </v-col>
  <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-left:25px;padding-right:25px">
                 <v-combobox

              v-model="Barcode"
            :items="BarcodeOptions"
              :label="$t(`menu.Barcode`)"
            ref = "Barcode"
             @change="GetItemByBarcode($event)"

          >
              <template v-slot:append-outer>
    <v-icon   style="font-size: 36px !important;
    padding-top:3px !important;"  >mdi-barcode</v-icon>
  </template>
          </v-combobox>
   </v-col>
    <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-left:25px !important;padding-right:25px !important" >
        <v-autocomplete

             v-model="ItemName"
            :items="ItemsOptions"
            :label="$t(`menu.Items`)"
            ref = "ItemName"
             @change="LoadUnits($event)"

          >
            <template v-slot:append-outer>
    <v-icon  color="teal" style="font-size: 28px !important;
    padding-top: 0px !important;" >mdi-magnify</v-icon>
  </template>
          </v-autocomplete>
                   </v-col>

            </v-row>
              <!-- Itemwise filter ends -->
               <!-- routewise filter start -->
              <v-row   v-if="$route.fullPath  == '/dashboard/Vouchers/ManageAllocation#tabs-RouteWise'">
 <v-col cols="12" sm="12" md="12"  style="padding-top:10px;padding-bottom:0px;margin-bottom:0px;padding-left:25px;padding-right:25px">
    <v-autocomplete
            v-model="RouteName"
            :items="RouteOptions"
            @change="SetRouteWiselist($event)"
            dense
             :label="$t(`menu.SelectRoute`)"
          ></v-autocomplete>
  </v-col>

            </v-row>
            <!-- routewise filter ends -->

          <div class="card  text-white" style="background-color:#FFF;font-size: 14.3px;width:100%">
            <div class="card-body" style="padding:0rem;">
              <div class=" col-sm-12 checkgreen"  style="padding-bottom: 14px;
    padding-top: 14px;
    margin-bottom: -14px;
    margin-top: -8px;margin-left:-23px">
                <div class="custom-control custom-radio custom-control-inline newc" @click="HideFromDate(IsWithPeriod)">
                <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
           v-model="IsWithPeriod"
            :value="IsWithPeriod"
             color="#388E3C"
             label="Get orders within a period orders based on"
            hide-details></v-checkbox>
                </div>
              </div>
            </div>
          </div>
    <div class="card  text-white" style="background-color:rgb(0 99 145);font-size: 14.3px;">
            <div class="card-body" style="padding: 1.37rem;padding-right: 5.9rem; padding-top: 10px;
    padding-bottom: 10px;">
              <div class=" col-sm-12" style="padding-bottom:1px;padding-top: 1px; !importent;padding-left:0px !important;padding-right:0px !important">
                <div class="custom-control custom-radio custom-control-inline"  >
                  <input
                  id="customRadioInline1"
                  type="radio"
                  name="customRadioInline1"
                  class="custom-control-input "
                  checked="checked"
                  @click="SetIsDeliveyDate"
                  >
                  <label class="custom-control-label" for="customRadioInline1" >Delivery Date</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" >
                  <input id="customRadioInline2" type="radio" name="customRadioInline1" @click="SetIsOrderDate" class="custom-control-input"  :checked="!IsByDeliveryDate">
                  <label class="custom-control-label" for="customRadioInline2" >Order Date</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-content clearfix" style="padding-top:10px;">
          <div id="datefilter" class="tab-pane active">
            <div id="allorder_date">
              <div class="row">
                <div class="col-12" style="padding-bottom:6px;padding-top: 6px; !importent" >
  <v-combobox
          v-model="FromGodown"
          :items="GodownsOptions"
          label="From Godown"
          outlined
          dense
          :disabled="IsDisableFromGodown"
          style="margin-bottom:-26px"
        ></v-combobox>
       <v-row>
                   <v-col col="12" md="12" sm="12 " class="slno" v-if="IsShowFromDate"  style="padding-bottom:0px !important ;padding-top: 10px; !important;color:rgb(0 150 199);">
                      <label for="frmdate">{{ $t(`dashboard.From`) }} :</label>
                      <br>
                    <input  type="date" class="form-control" v-model="FromDate">
                   </v-col>
                  </v-row>
                  <v-row>
                   <v-col col="12" md="12" sm="12 " class="slno" style="padding-bottom:0px !important;padding-top: 10px!important;color:rgb(0 150 199)">
                      <label for="frmdate">{{ $t(`dashboard.To`) }} :</label>
                      <br>
                    <input  type="date" class="form-control" v-model="ToDate">
                   </v-col>
                  </v-row>

                  <div style="text-align:right;padding-top:15px" >

                         <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="checkAllocation"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
         {{ $t(`menu.View`) }}
                         </v-btn>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>

    </v-navigation-drawer>


   <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  >
           <v-row style="padding-top:0px">
            <v-col cols="12" style="padding-top: 0px !important;
    padding-bottom: 8px;">

              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px ;font-size:20px" > Stock Item Allocation</h4>
            </v-col>
          </v-row>
      </div>
       <v-card class="my-2">

          <v-card-text style="padding-left:2px;padding-right:2px;padding-bottom: 2px;">
 <v-tabs v-model="tab2" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
        prev-icon="mdi-arrow-left-bold-box-outline"
        show-arrows  style="flex-grow: 0 !important;" class="arrows">
        <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
        <v-tab to="#tabs-Allocation" id="innerExPannew" style="padding-right:8px;padding-left:8px">Allocation</v-tab>
        <v-tab to="#tabs-ItemWise" id="innerExPannew" style="padding-right:8px;padding-left:8px">Item Wise</v-tab>
        <v-tab to="#tabs-RouteWise" id="innerExPannew" style="padding-right:8px;padding-left:8px">Route Wise</v-tab>
      </v-tabs>


       <v-tabs-items v-model="tab2" touchless>

         <!-- tabs allocation start -->
         <v-tab-item value="tabs-Allocation">
               <v-row>
        <v-col cols="12" style="padding-top:11px;padding-bottom:0px;margin-bottom:8px !important">
      <v-divider></v-divider>
        </v-col>
      </v-row>
        <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="1" sm="1"  class="slno">
      {{ $t(`menu.No`) }}
      </v-col>
      <v-col cols="2" sm="2" class="slno">
      {{ $t(`menu.ItemCode`) }}
      </v-col>
      <v-col cols="3" sm="3" class="slno">
    {{ $t(`menu.ItemName`) }}
      </v-col>
      <v-col cols="2" sm="2" class="text-center">
   Stock
      </v-col>
      <v-col cols="2" sm="2" class="text-center">
   Order
      </v-col>
      <v-col cols="2" sm="2" class="text-center">
    Variance
      </v-col>
    </v-row>

    <v-row  class="setmaxrow" no-gutters   style="font-size: 10px !important;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
    <v-expansion-panel v-for="(item,i) in OrderAllocationsGeneral"  :key="i" class="ma-0" v-touch:tap="touchHandler" :id="'color'+i">
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height: 35px !important;font-size:10px!important;padding-right:3px !important;padding-left:3px !important">
         <v-col cols="1" sm="1"  class="slno1" style="">
     <b> {{i + 1}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="slno" style="padding: 0px !important; ">

   <b>{{item.ItemCode}}</b>
      </v-col>
      <v-col cols="3" sm="3" class="slno"  style="padding: 0px !important;">
       <b>{{item.ItemName}}</b>
      </v-col>
      <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; !important;">
     <b>{{item.TotAvailStock}}</b>
      </v-col>
      <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">
     <b>{{item.Quantity}}</b>
      </v-col>
        <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">
     <b> {{item.TotAvailStock - item.Quantity}}</b>
      </v-col>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">
       {{item.ItemNameArabic}}</b>
      </v-col>
       <hr style="margin-top: 0rem; margin-bottom: 5px;">
       <v-row no-gutters class="barcode" style="font-size: 10px;padding: 0px;">
      <v-col cols="6" sm="6">
    {{ $t(`menu.Barcode`) }}<br>
      <b>47891555</b>
      </v-col>
      <v-col cols="4" sm="4" >
    Unit<br>
      <b>{{item.Unit}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding-top:10px !important">
        <!-- <v-icon style="color:#009900;padding:5px;" @click="EditItem(i)"> mdi-pencil</v-icon> -->
            <v-btn
      outlined
       x-small
      fab
    style="color:rgb(0 150 199);height:20px !important;width:20px !important"
 @click="OpenItemWiseTab(item)"
    >
      <v-icon style="font-size: 14px !important;">mdi-eye</v-icon>
    </v-btn>

      </v-col>


       </v-row>

       <!-- // -->
       </v-expansion-panel-content>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>

         </v-tab-item>
          <!-- tabs allocation ends -->

          <!-- tabs Itemwise start -->
          <v-tab-item value="tabs-ItemWise" class="newpanal">

                <v-row>
        <v-col cols="12" style="padding-top:11px;padding-bottom:0px;margin-bottom:0px !important">
      <v-divider></v-divider>
        </v-col>
      </v-row>
 <v-row class="d-flex flex-grow-1 flex-column manage" dense style="border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    padding-right: 12px;
    padding-left: 12px;
"  v-if="ItemForItemWise.length>0">
      <v-col cols="12" md="12" xl="12" >
        <v-card class="d-flex flex-grow-1 flex-column rounded-card" >
           <v-expansion-panels focusable class="manage">
    <v-expansion-panel
      v-for="(item,i) in ItemForItemWise"
      :key="i"
    >
      <v-expansion-panel-header no-gutters style="padding-right: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 10px;">
        <v-row no-gutters>
            <v-col
        cols="12"
        sm="12"
        class="text-center"
        style="font-size: 14px !important;padding-bottom:6px"
      >
      <b>{{item.ItemCode}}-{{item.ItemName}}</b>
            </v-col>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 14px;">Available Quantity </label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 14px;"><b>{{item.TotAvailStock}}</b></label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 14px;">Assigned Quantity</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 14px;"><b>{{item.Quantity}}</b></label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
        class="location"
      >
        <label style="font-size: 14px;">Stock Variance</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
       <label style="font-size: 14px;"><b>{{item.TotAvailStock - item.Quantity}}</b></label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content

      >
      <v-row no-gutters>
       <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;padding-left:10px !important"
       class="location"
      >
      <label >Barcode</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;padding-right:10px"
       class="locationnew"
      >
        <label><b>{{item.Barcode}}</b></label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 0px;padding-left:10px"
        class="location"
      >
      <label >Arabic Name</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;padding-right:10px"
       class="locationnew"
      >
       <label><b>{{item.ItemName}}</b></label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 0px;padding-left:10px"
        class="location"
      >
      <label >Unit</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       style="padding-top: 0px;padding-right:10px"
       class="locationnew"
      >
      <label><b>{{item.Unit}}</b></label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        style="padding-top: 4px; text-align:right;"
      @click="itemwise = true"
      >

     <v-btn small color="#FFF" style="color:#00355E;  box-shadow: 1px 1px 18px #00355E;" @click="OpenItemFromItemWise(item)"><v-icon center>fas fa-eye</v-icon></v-btn>
      </v-col>

    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>

        </v-card>
      </v-col>
 </v-row>




        <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="1" sm="1"  class="slno">
      {{ $t(`menu.No`) }}
      </v-col>
      <v-col cols="5" sm="5" class="slno">
       Route Name
      </v-col>

      <v-col cols="3" sm="3" class="text-center">
    Quantity
      </v-col>
        <v-col cols="3" sm="3" class="text-right plusbutton123" >
            <span  style="" class="plusbutton" @click="AddRouteModal=true"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
      </v-col>

    </v-row>

    <v-row  class="setmaxrow" no-gutters   style="font-size: 10px !important;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
    <v-expansion-panel v-for="(item,i) in OrderAllocationsItemWise"  :key="i" class="ma-0" v-touch:tap="touchHandler" :id="'color'+i">
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height: 35px !important;font-size:10px!important;padding-right:3px !important;padding-left:3px !important">
         <v-col cols="1" sm="1"  class="slno1" style="">
     <b> {{i + 1}}</b>
      </v-col>
       <v-col cols="5" sm="5" class="slno" style="padding: 0px !important; ">
    <b>{{item.RouteName}}</b>
      </v-col>
        <v-col cols="3" sm="3" class="text-center" style="padding: 0px !important; ">
     <b> {{item.Quantity}}</b>
      </v-col>
         <v-col cols="3" sm="3" class="text-center" style="padding: 0px !important; ">

      <v-icon small
        class="updateb"
        color="rgb(0 150 199">mdi-eye</v-icon>

     <v-icon
        small
        class="updateb"
        @click="EditQuantity(item)"
        color="#2E7D32"

      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
       @click="DelteOrderAllocation(item,true)"
        color="#E53935"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-expansion-panel-header>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>

          </v-tab-item>
          <!-- tabs Itemwise ends -->
          <!-- tabs routewise start -->

           <v-tab-item value="tabs-RouteWise" class="newpanal">
      <v-row>
        <v-col cols="12" style="padding-top:11px;padding-bottom:0px;margin-bottom:0px !important">
      <v-divider></v-divider>
        </v-col>
      </v-row>
       <v-row class="d-flex flex-grow-1 flex-column manage" dense style="border-bottom-left-radius: 34px;
    border-bottom-right-radius: 34px;
    border-top-right-radius: 34px;
    border-top-left-radius: 34px;
    padding-right: 12px;
    padding-left: 12px;
" >
      <v-col cols="12" md="12" xl="12" >
        <v-card class="d-flex flex-grow-1 flex-column rounded-card" >
      <v-expansion-panel-header no-gutters  hide-actions>
         <div @click="itemwise = true">
        <v-row no-gutters >
            <v-col
        cols="12"
        sm="12"
        class="text-center"
        style="font-size: 14px !important;padding-bottom:0px"

      >
      <b style="color:rgb(0, 53, 94)">{{RouteName}}</b>
            </v-col>
    </v-row>
         </div>
      </v-expansion-panel-header>
        </v-card>
      </v-col>
 </v-row>
        <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="3"  class="slno">
      {{ $t(`menu.ItemCode`) }}
      </v-col>
      <v-col cols="5"  class="slno">
    {{ $t(`menu.ItemName`) }}
      </v-col>
      <v-col cols="2"  class="slno">
   Units
      </v-col>
      <v-col cols="2"  class="text-center">
   Order
      </v-col>



    </v-row>

    <v-row  class="setmaxrow" no-gutters   style="font-size: 10px !important;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >
    <v-expansion-panel v-for="(item,i) in OrderAllocationsRouteWise"  :key="i" class="ma-0" v-touch:tap="touchHandler" :id="'color'+i">
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height: 35px !important;font-size:10px!important;padding-right:3px !important;padding-left:3px !important">

       <v-col cols="3" sm="3" class="slno" style="padding: 0px !important; ">

   <b>{{item.ItemCode}}</b>
      </v-col>
      <v-col cols="5" sm="5" class="slno"  style="padding: 0px !important;">
       <b>{{item.ItemName}}</b>
      </v-col>
      <v-col cols="2" sm="2" class="slno"  style="padding: 0px !important;">
     <b>{{item.Unit}}</b>
      </v-col>
      <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">
     <b>{{item.Quantity}}</b>
      </v-col>


      </v-expansion-panel-header>
      <v-expansion-panel-content>
         <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">
       {{item.ItemNameArabic}}</b>
      </v-col>
       <hr style="margin-top: 0rem; margin-bottom: 5px;">
       <v-row no-gutters class="barcode" style="font-size: 10px;padding: 0px;">
      <v-col cols="6" sm="6">
    {{ $t(`menu.Barcode`) }}<br>
      <b>{{item.Barcode}}</b>
      </v-col>

       <v-col cols="6" sm="6" class="text-left" style="padding-top:10px !important">
        <!-- <v-icon style="color:#009900;padding:5px;" @click="OpenItemWiseTab(item)"> mdi-pencil</v-icon>
          <v-btn
      outlined
       x-small
      fab
    style="color:red;height:20px !important;width:20px !important"
    >
      <v-icon style="font-size: 14px !important;" @click="DelteOrderAllocation(item,false)">mdi-delete</v-icon>
    </v-btn> -->
          <v-icon small
        class="updateb"
        color="rgb(0 150 199" @click="OpenItemWiseTab(item)">mdi-eye</v-icon>

      <v-icon
        small
       @click="DelteOrderAllocation(item,false)"
        color="#E53935"

      >
        mdi-delete
      </v-icon>

      </v-col>


       </v-row>

       <!-- // -->
       </v-expansion-panel-content>
      <!-- ----- -->
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
       <v-list-item three-line style="padding-right: 5px;">
      <v-list-item-content style="padding-top: 0px;">

        <v-list-item-title class="headline mb-1 comp1" style="font-size: 15px !important;padding-left:0px;padding-right:0px;">
           <div>
       <v-row no-gutters style="font-size: 10px;padding: 0px; "   >


      <v-col cols="12" sm="12" xl="12" class="plusbutton123 text-center">
    <span   style="" @click="AddItemModal=true" class="plusbutton"><i class="fa fa-plus-square" aria-hidden="true"></i></span>
      </v-col>

           </v-row>
           </div>

        </v-list-item-title>
        <v-list-item-subtitle >

        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>

          </v-tab-item>
          <!-- tabs Routewise ends -->

       </v-tabs-items>

          </v-card-text>
        </v-card>
         <v-dialog v-model="AddRouteModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">AddRoute</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">Add Route</h5>
    <v-card-text >
       <v-form >
          <div style="max-height:70vh;overflow-x: hidden;;width:100% ">

                 <v-row>
 <v-col cols="12" sm="12" md="12"  style="padding-top:15px;padding-bottom:0px;margin-bottom:0px">
    <v-combobox
       v-model="RouteNameItemWise"
            :items="RouteOptions"
            dense
            :label="$t(`menu.Route`)"
   @change="SearchItemByRoute($event)"
          ></v-combobox>
  </v-col>


            </v-row>
        <v-row >
            <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
                <v-text-field
                v-model="ItemWiseQuantity"
           label="Quantity"
          ></v-text-field>
            </v-col>

            </v-row>
 </div >
        <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="AddRouteModal= false">
            <v-icon center style="font-size: 21px;padding-bottom: 5px;">mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>

          <v-btn v-if="!IsItemWiseUpdate" depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" ><v-icon center style=" Font-size:25px !important;" @click="AddOrderAllocation()" > mdi-plus</v-icon></v-btn>
           <v-btn v-if="IsItemWiseUpdate" depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" ><v-icon center style=" Font-size:25px !important;"  @click="UpdateOrderAllocation()"> mdi-update</v-icon></v-btn>

        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>
     <v-dialog v-model="AddItemModal" persistent max-width="400px" style="z-index: 100000!important;">

       <v-card >
    <v-card-title style="text-align:center;display:none ">ItemDetails</v-card-title>
    <h5 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">{{ $t(`menu.ItemDetails`) }}</h5>
    <v-card-text >
       <v-form >
          <div style="max-height:70vh;overflow-x: hidden;;width:100% ">
        <v-row style="padding-top:5px">
               <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"  >
                 <v-row>
 <v-col cols="5" sm="5" md="5"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">
    <v-combobox
            v-model="ItemCodeRouteWise"
            :items="ItemCodeOptions"

            :label="$t(`menu.ItemCode`)"
            ref = "ItemCode"
             :type="ItemCodeinputType"
             @change="GetItemByItemCode($event , true)"
          ></v-combobox>
  </v-col>
  <v-col cols="7" sm="7" md="7"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">
                 <v-combobox
            v-model="BarcodeRouteWise"
            :items="BarcodeOptions"
              :label="$t(`menu.Barcode`)"
            ref = "Barcode"
             @change="GetItemByBarcode($event , true)"
          >
              <template v-slot:append-outer>
    <v-icon   style="font-size: 36px !important;
    padding-top: 0px !important;" @click="BarcodeModal=true" >mdi-barcode</v-icon>
  </template>
          </v-combobox>
   </v-col>

            </v-row>
            </v-col>
            </v-row>
            <v-row>
               <v-col cols="12" sm="12" md="12" class="no-p" v-if="IsShowItemCodeError">
                 <label style="color:red" v-if="IsShowItemCodeError"> {{ $t(`menu.Itemcodedoesnotexist`) }}</label>

               </v-col>
               <v-col cols="12" sm="12" md="12" class="no-p" v-if="IsShowBarcodeError">
                <label style="color:red" v-if="IsShowBarcodeError"> {{ $t(`menu.Barcodedoesnotexist`) }}</label>
               </v-col>
               </v-row>

                 <v-row>
                   <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
        <v-autocomplete
            v-model="ItemNameRouteWise"
            :items="ItemsOptions"
            :label="$t(`menu.Items`)"
            ref = "ItemName"
             @change="LoadUnits($event , true)"
          >
            <template v-slot:append-outer>
    <v-icon  color="teal" style="font-size: 28px !important;
    padding-top: 7px !important;" @click="OpenItemSearchModal" >mdi-magnify</v-icon>
  </template>
          </v-autocomplete>
                   </v-col>

                              </v-row>
                                <v-row>
               <v-col cols="12" sm="12" md="12" class="no-p" v-if="IsShowItemNameError">
                 <label style="color:red" v-if="IsShowItemNameError"> Item does not exist </label>

               </v-col>
               </v-row>

    <v-dialog v-model="ItemSearchModal" persistent max-width="400">
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>

            <v-row>
                   <v-col cols="12" sm="12" md="12">
        <v-text-field

          :label="$t('dashboard.Searchhere')"
           v-model="Itemsearch"
           >
           <template v-slot:append-outer>
    <v-icon  color="teal" style="font-size: 28px !important;
    padding-top: 7px !important;" @click="RefreshItemObject" >mdi-refresh</v-icon>
  </template>
           </v-text-field>
                   </v-col>

                              </v-row>



<div style="max-height:50vh;overflow-x: hidden; ">
                              <v-expansion-panels
                              focusable
                              style="padding-right: 7px;"
                              >
    <v-expansion-panel
      v-for="(item,i) in ItemResultQuery"
      :key="i"
    >
      <v-expansion-panel-header>
        <v-row no-gutters  style="font-size:10px;color:gray">

      <v-col
        cols="6"
        sm="6"
           class="location"

      >
        <label style="padding-left:7px;font-size: 12px;">{{item.itemName}}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
         class="locationnew"

      >
       <label style="font-size: 12px;">{{ item.itemCode }}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content
      >
      <v-row >
      <v-col
        cols="6"
        sm="6"
    class="location"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
      <label>{{ $t(`menu.Barcode`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
       class="locationnew"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
           <label>{{item.barcode}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
         class="location"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
      <label >{{ $t(`menu.ItemNameArabic`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
        <label>{{item.itemNameArabic}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="location"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
       <label > {{$t(`menu.Address`)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
          class="locationnew"
        style="padding-top: 4px;padding-right: 0px;padding-bottom:0px"
      >
        <label>{{item.Address}}</label>
      </v-col>





      <v-col
        cols="12"
        sm="12"
        style="text-align: right; padding-right:5px"
        @click="SetSearchResultToItem(item.itemName)"
      >

     <v-btn small color="rgb(0 150 199)" style="color:#FFF">{{$t(`dashboard.ok`)}}</v-btn>
      </v-col>
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
     </v-expansion-panels>
</div>
<v-row>
  <v-col cols="12">
    <v-divider></v-divider>
    </v-col>

  </v-row>
  <v-row>
  <v-col cols="12" style="text-align:right;padding-top:20px !important">
         <v-btn depressed small style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
         @click="ItemSearchModal = false">
          <i class="fas fa-times-circle" style="font-size:20px"></i></v-btn>
    </v-col>

  </v-row>
          </v-card-text>

        </v-card>
    </v-dialog>



        <v-row >

            <v-col cols="12" sm="12" md="12"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;" >
                <v-text-field
            type="number"
           id ="Quantity"
           label="Quantity"
           v-model="RouteWiseQuantity"
           ref = "BillQty"
           ></v-text-field>
            </v-col>

            </v-row>


 </div >
        <div class="d-flex" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">

          <v-btn depressed small style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);padding-top: 4px;"    @click="AddItemModal = false">
            <v-icon center style="font-size: 21px;padding-bottom: 5px;" >mdi-arrow-left</v-icon></v-btn>
          <v-spacer></v-spacer>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" v-if="!IsRouteWiseUpdate" @click="AddOrderAllocationRouteWise"><v-icon center style=" Font-size:25px !important;"  > mdi-plus</v-icon></v-btn>
          <v-btn depressed small style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);" v-if="IsRouteWiseUpdate" @click="UpdateOrderAllocationRouteWise"><v-icon center style=" Font-size:25px !important;"  > mdi-update</v-icon></v-btn>

        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>


<!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
<!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->



<!-- ------------------------------------------------- DeleteConfirmation_SoldItems Start Here------------------------------------------------------- -->
   <v-dialog v-model="AllocationCheckingModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">All allocation data will be reset. Do you want to reallocate?</v-card-title>

        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="AllocationCheckingModal = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="GetAllocationQuantityWithAvailableStock(false)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- DeleteConfirmation_SoldItems Ends Here------------------------------------------------------- -->



<!-- ------------------------------------------------- DeleteConfirmation_SoldItems Start Here------------------------------------------------------- -->
   <v-dialog v-model="HeldAllocationCheckingModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to continue with held allocation?</v-card-title>

        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="GetAllocationQuantityWithAvailableStock(false)" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="GetAllocationQuantityWithAvailableStock(true)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- DeleteConfirmation_SoldItems Ends Here------------------------------------------------------- -->


<!-- ------------------------------------------------- DeleteConfirmation Start Here------------------------------------------------------- -->
   <v-dialog v-model="DeleteConfirmation" persistent max-width="300">
      <template>

      </template>
      <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete?</v-card-title>

        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation =  false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteOrderAllocation()">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- ------------------------------------------------- DeleteConfirmation Ends Here------------------------------------------------------- -->

<!--
      barcodemodal start here -->
<v-dialog v-model="BarcodeModal" persistent max-width="600" hide-footer cancel-disabled>

      <v-card>
        <v-card-title style="color:rgb(0 99 145);font-size:17px;text-align:center" >{{$t('dashboard.Scanbarcode')}}<v-spacer></v-spacer>
        <v-btn icon  @click="BarcodeModal=false" >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        </v-card-title>
        <v-card-text>
          <StreamBarcodeReader
    @decode="onDecode"
    @loaded="onLoaded"
></StreamBarcodeReader>
        </v-card-text>

      </v-card>
    </v-dialog>


<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->


      <!-- barcodemodal ends here -->

  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import PendingDeliveryCustomers from '../../pages/ApiServices/PendingDeliveryCustomers'
import de from '../../translations/de'
import draggableButton from 'vue-draggable-button'
import { StreamBarcodeReader } from 'vue-barcode-reader'
import DayEndCheck from "../../mixins/DayEndCheck";
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
    PendingDeliveryCustomers,draggableButton,StreamBarcodeReader,globalpassword
  },
  data() {
    return {
      GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
        modal: false,
        date: new Date().toISOString().substr(0, 10),
        todate:new Date().toISOString().substr(0, 10),
        modalnew: false,
        AddRouteModal:false,
        AddItemModal:false,
        BarcodeModal:false,
        menu1:false,
        menu:false,
       select: ['Vuetify'],
      items: [
        'Programming',
        'Design',
        'Vue',
        'Vuetify'
      ],
        IsBySalesPerson:true,
       checkbox1: false,
      row: 'radio-1',
      scroll: null,
       btnIsClick: false,
      tab2:null,
      ItemSearchModal:false,
      PendingDateTab:false,
      PendingCustomerTab:false,
      PendingSalespersonTab:false,
       snackbar: false,
       SnackbarMessege: '',
       timeout: 2000,
      AllDateTab:false,
      AllCustomerTab:false,
      AllSalespersonTab:false,
      AllCustomerOptions : JSON.parse(localStorage.getItem('Customers')),
      PendingCustomerOptions : localStorage.getItem('DeliveryPendingCustomers') ? JSON.parse(localStorage.getItem('DeliveryPendingCustomers')) : [],
      AllSalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
      PendingSalespersonOptions : JSON.parse(localStorage.getItem('LinkedSalesPersnons')),
     allocation : true,
      itemwise:false,
      routewise:false,
      ItemObject : JSON.parse( localStorage.getItem('Items') ),
      ItemSummaries : [],
      OrderAllocations:[],
      OrderAllocationsGeneral:[],
      OrderAllocationsRouteWise:[],
      OrderAllocationsItemWise:[],
      Branch:'',
      LinkedSalesMan:'',
      vm:{},
      TotalOrderAllocations:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      selectedAllCustomer:[],
      selectedPendingCustomer:[],
      selectedAllSalesperson:[],
      selectedPendingSalesperson: [],
      NoContent:true,
      IsSalesmanShow:false,
         Loaderdialog:false,
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      showhide:true,
      GodownsOptions : JSON.parse( localStorage.getItem('LinkedGodowns') ),
      IsDisableFromGodown:true,
      FromGodown :'',
      IsByDeliveryDate :true,
      IsWithPeriod:false,
      IsShowFromDate:false,
      AllocationCheckingModal:false,
      HeldAllocationCheckingModal:false,
      HeldAllocations:[],
      LinkedRoutes:[],
      ItemsOptions : [],
      BarcodeOptions : [],
      ItemCodeOptions : [],
      ItemName:'',
      ItemCode:'',
      Barcode:'',
      ItemNameRouteWise:'',
      ItemCodeRouteWise:'',
      BarcodeRouteWise:'',
      ItemId: '',
      TotAvailStock:'',
      Unit:'',
      IsShowItemCodeError : false,
      IsShowBarcodeError : false,
      IsShowItemNameError : false,
      RouteOptions: [],
      RouteName:'',
      ItemForItemWise : [],
      ItemWiseQuantity:'',
      IsItemWiseUpdate:false,
      AllocationItemEditId : -1,
      IsRouteWiseUpdate:false,
      RouteWiseQuantity:'',
      DeleteConfirmation :false,
      OrderAllocationDeleteId : -1,
      IsItemWise : '',
      DeleteRoute:''

    }
  },
  mixins: [DayEndCheck],
  computed: {

  },
  mounted() {


    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.BasicSettings()
    this.FromGodown = 'Main Store'
    this.GetAvailableStockForAllocation()
    localStorage.setItem('PreviousPage','ManageAllocation')
    localStorage.setItem('ActivePage','ManageAllocation')
    localStorage.setItem('ActiveRoute','/dashboard/Vouchers/ManageAllocation')
   localStorage.removeItem('VoucherUpdated')

    this.value = new Date()
    this.FromDate = this.GetTodaysDate(this.value)
    this.ToDate = this.GetTodaysDate(this.value)
    if (this.OrderAllocations.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }

    
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
}

  this.SearchDropdowsBinding()
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     OpenItemSearchModal()
      {
        this.ItemSearchModal = true
        //this.RefreshItemObject()
      },
      RefreshItemObject()
      {
        this.ItemObject = []
           this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Item')
              .then((response)  =>  {
                  this.ItemObject = response.data

              }, (error)  =>  {
                  console.log(error)
              })
      },
     clickHandler() {
      if (this.btnIsClick) {
        /* alert("Hi!"); */
        this.InsertAllocation()
      }
    },
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
       this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
      if(this.LinkedRoutes.length  > 0)
      {
          for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
          {
            this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName)
          }

      }
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  },
  SetIsDeliveyDate()
  {
    this.IsByDeliveryDate = true
  },
  SetIsOrderDate()
  {
    this.IsByDeliveryDate = false
  },
  HideFromDate(value)
  {
    if(value===true)
     this.IsShowFromDate = true
    else
     this.IsShowFromDate = false
  },
     SearchDropdowsBinding(object)
    {
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        this.ItemsOptions.push(this.ItemObject[this.i].itemName)
        this.BarcodeOptions.push(this.ItemObject[this.i].barcode)

        if(this.IsItemCodeString === false)
        {
          if (!/[^a-zA-Z]/.test(this.ItemObject[this.i].itemCode))
            this.IsItemCodeString = true
        }
        this.ItemCodeOptions.push(this.ItemObject[this.i].itemCode)
      }

      if(this.IsItemCodeString === true)
        this.ItemCodeinputType = 'text'
      else
        this.ItemCodeinputType = 'number'

    },
    GetAvailableStockForAllocation()
    {
         axios.post ( this.bURL + "StockTransfer/GetAvailableStockForAllocation?Godown="+ this.FromGodown + '&ZeroStock=true'+'&AsOnDate=' + new Date().toISOString().substr(0, 10) )
            .then((response)  =>  {

               this.ItemSummaries = response.data
              }, (error)  =>  {
                  console.log(error)
              })
    },
    checkAllocation()
    {
      if(this.OrderAllocations.length > 0)
      {
        this.itemwise = false
        this.AllocationCheckingModal = true
      }
      else{
        this.checkAllocationHeldDetails()
      }
    },
    checkAllocationHeldDetails()
    {

       axios.post ( this.bURL + "StockTransfer/GetStockAllocationHoldDetails?AllocationDate="+ new Date().toISOString().substr(0, 10) + '&FromGodown='+this.FromGodown)
            .then((response)  =>  {

               if(response.data.length>0)
               {
                 this.HeldAllocations = response.data
                 this.itemwise = false
                 this.HeldAllocationCheckingModal = true
               }
               else{
                 this.GetAllocationQuantityWithAvailableStock(false)
               }
              }, (error)  =>  {
                  console.log(error)
              })
    },
  GetAllocationQuantityWithAvailableStock(WithHeld)
  {
      this.Loaderdialog = true
       axios.get(this.bURL + 'StockTransfer/GetAllocationQuantityWithAvailableStock?FromGodown='+this.FromGodown +'&ConsiderHeldAllocation='+WithHeld+'&ConsiderLPO=true'+ '&AllocationDate=' + this.ToDate + '&OrderFromDate=' + this.FromDate + '&IsByDeliveryDate=' + this.IsByDeliveryDate)
        .then((response)  =>  {
               this.OrderAllocations = []
               this.OrderAllocationsGeneral = []
               this.OrderAllocationsRouteWise = []
               this.OrderAllocationsItemWise = []
               this.ItemForItemWise = []

          this.OrderAllocations = response.data
          this.AllocationCheckingModal = false
          this.HeldAllocationCheckingModal = false
          //this.TempOrderAllocations = []
         /* if(WithHeld === true)
         {
           this.OrderAllocations = this.HeldAllocations
           //this.AddHeldAndHold();
         }
         else{
           this.OrderAllocations = response.data
         } */
         this.SetOrderAllocationGeneral()
        this.Loaderdialog = false
        })


        this.itemwise = false
  },
 /*  AddHeldAndHold()
  {
      for(this.i=0;this.i<this.HeldAllocations.length;this.i++)
      {
        for(this.j=0;this.j<this.OrderAllocations.length;this.j++)
        {
          if(this.HeldAllocations[this.i].ItemId === this.OrderAllocations[this.j].ItemId && this.HeldAllocations[this.i].RouteID === this.OrderAllocations[this.j].RouteID)
          {
            this.OrderAllocations[this.j].Quantity = this.HeldAllocations[this.i].Quantity
          }
        }
      }
  }, */
  SetOrderAllocationGeneral()
  {
    this.OrderAllocationsGeneral = []
      //GroupBySumm
      let sumsArray = {}
      this.i = 0
      this.OrderAllocations.forEach(item => {
      this.sums = sumsArray[item.ItemId]
      if (this.sums) {
        this.sums.Quantity += item.Quantity
      } else {
        sumsArray[item.ItemId] = {
        RouteID: item.RouteID,
        Quantity: item.Quantity,
        Barcode : item.Barcode,
        ItemCode : item.ItemCode,
        ItemId : item.ItemId,
        ItemName : item.ItemName,
         Unit : item.Unit,
        RouteName : item.RouteName,
        TotAvailStock : item.TotAvailStock


      }
    }
    this.i = this.i++
    })
      for (var key in sumsArray)
      {
         this.OrderAllocationsGeneral.push(sumsArray[key])
      }
       if(this.ItemName!== '')
        {
          this.GetItemByItemName(this.ItemName)
        }
        if(this.RouteName !='')
        {
          this.SetRouteWiselist(this.RouteName)
        }
  },
  GetItemByItemName(ItemName,RouteWise)
    {
      this.IsExist = false
      this.SerchItemId = -1
      for(this.i =0; this.i<this.ItemSummaries.length;this.i++)
      {
        if(this.ItemSummaries[this.i].ItemName === ItemName)
        {
          this.IsExist = true
          this.SerchItemId = this.ItemSummaries[this.i].ItemId
          break
        }
      }
      if(this.IsExist === true)
      {
        this.IsShowItemNameError = false
        this.IsShowBarcodeError = false
        this.IsShowItemCodeError = false

          this.Unit = this.ItemSummaries[this.i].Unit
           this.TotAvailStock= this.ItemSummaries[this.i].CurrentStock
           //this.RouteName = this.ItemSummaries[this.i].RouteName
           if(RouteWise)
           {
             this.ItemIdRouteWise = this.ItemSummaries[this.i].ItemId
             this.ItemNameRouteWise = this.ItemSummaries[this.i].ItemName
             this.ItemCodeRouteWise = this.ItemSummaries[this.i].ItemCode
             this.BarcodeRouteWise = this.ItemSummaries[this.i].Barcode
             this.SearchItemByItem()
           }
           else{
           this.ItemId = this.ItemSummaries[this.i].ItemId
             this.ItemName = this.ItemSummaries[this.i].ItemName
          this.ItemCode = this.ItemSummaries[this.i].ItemCode
          this.Barcode = this.ItemSummaries[this.i].Barcode
             this.SetItemWiselist(this.SerchItemId)
           }

      }
      else{

        this.IsShowItemNameError = true
        this.IsShowBarcodeError = false
        this.IsShowItemCodeError = false
         this.ItemName = ''
          this.Unit = ''
      }
    },

    GetItemByBarcode(Barcode,RouteWise)
    {
        this.IsExist = false
      this.SerchItemId = -1
      for(this.i =0; this.i<this.ItemSummaries.length;this.i++)
      {
        if(this.ItemSummaries[this.i].Barcode === Barcode)
        {
          this.IsExist = true
          this.SerchItemId = this.ItemSummaries[this.i].ItemId
          break
        }
      }
      if(this.IsExist === true)
      {
        this.IsShowBarcodeError = false
        this.IsShowItemCodeError = false
        this.IsShowItemNameError = false


          this.Unit = this.ItemSummaries[this.i].Unit
           this.TotAvailStock= this.ItemSummaries[this.i].CurrentStock
           //this.RouteName = this.ItemSummaries[this.i].RouteName
          //this.ItemForItemWise = this.ItemObject[this.i]
           if(RouteWise)
           {
             this.ItemIdRouteWise = this.ItemSummaries[this.i].ItemId
             this.ItemNameRouteWise = this.ItemSummaries[this.i].ItemName
             this.ItemCodeRouteWise = this.ItemSummaries[this.i].ItemCode
             this.BarcodeRouteWise = this.ItemSummaries[this.i].Barcode
             this.SearchItemByItem()
           }
           else{
             this.ItemId = this.ItemSummaries[this.i].ItemId
              this.ItemName = this.ItemSummaries[this.i].ItemName
          this.ItemCode = this.ItemSummaries[this.i].ItemCode
          this.Barcode = this.ItemSummaries[this.i].Barcode
             this.SetItemWiselist(this.SerchItemId)
           }
      }
      else{
        this.IsShowBarcodeError = true
        this.IsShowItemCodeError = false
        this.IsShowItemNameError = false
         this.ItemName = ''
          this.Unit = ''
      }
    },
    GetItemByItemCode(ItemCode,RouteWise)
    {


      this.IsExist = false
      this.SerchItemId = -1
      for(this.i =0; this.i<this.ItemSummaries.length;this.i++)
      {

        if(this.ItemSummaries[this.i].ItemCode === ItemCode)
        {
          this.IsExist = true
          this.SerchItemId = this.ItemSummaries[this.i].ItemId
          break
        }
      }

      if(this.IsExist === true)
      {
        this.IsShowBarcodeError = false
        this.IsShowItemCodeError = false
        this.IsShowItemNameError = false

          this.ItemId = this.ItemSummaries[this.i].ItemId
           this.Unit = this.ItemSummaries[this.i].Unit
           this.TotAvailStock= this.ItemSummaries[this.i].CurrentStock
           //this.RouteName = this.ItemSummaries[this.i].RouteName

           if(RouteWise)
           {
              this.ItemIdRouteWise = this.ItemSummaries[this.i].ItemId
             this.ItemNameRouteWise = this.ItemSummaries[this.i].ItemName
             this.ItemCodeRouteWise = this.ItemSummaries[this.i].ItemCode
             this.BarcodeRouteWise = this.ItemSummaries[this.i].Barcode
             this.SearchItemByItem()
           }
           else{
              this.ItemId = this.ItemSummaries[this.i].ItemId
             this.ItemName = this.ItemSummaries[this.i].ItemName
          this.ItemCode = this.ItemSummaries[this.i].ItemCode
          this.Barcode = this.ItemSummaries[this.i].Barcode
             this.SetItemWiselist(this.SerchItemId)
           }
      }
      else{
        this.IsShowBarcodeError = false
        this.IsShowItemCodeError = true
        this.IsShowItemNameError = false
         this.ItemName = ''
          this.Unit = ''
      }
    },
    SetItemWiselist(ItemId)
    {

      this.ItemForItemWise = []
      this.OrderAllocationsItemWise = []
      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
        if(ItemId === this.OrderAllocations[this.i].ItemId)
        {
          this.OrderAllocationsItemWise.push(this.OrderAllocations[this.i])
        }
      }


         //GroupBySumm
      let sumsArray = {}
      this.i = 0
      this.OrderAllocationsItemWise.forEach(item => {
      this.sums = sumsArray[item.ItemId]
      if (this.sums) {
        this.sums.Quantity += item.Quantity
      } else {
        sumsArray[item.ItemId] = {
        RouteID: item.RouteID,
        Quantity: item.Quantity,
        Barcode : item.Barcode,
        ItemCode : item.ItemCode,
        ItemId : item.ItemId,
        ItemName : item.ItemName,
         Unit : item.Unit,
        RouteName : item.RouteName,
        TotAvailStock : item.TotAvailStock


      }
    }
    this.i = this.i++
    })
      for (var key in sumsArray)
      {
         this.ItemForItemWise.push(sumsArray[key])
      }
      this.itemwise = false


    },
    SearchItemByRoute(RouteName)
    {

      if(this.ItemName=== '')
      {
        this.SnackbarMessege = "please select item"
        this.snackbar= true
        return
      }
      this.RouteIdForSearch= -1
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
        if(this.LinkedRoutes[this.i].RouteName === RouteName)
        {
          this.RouteIdForSearch = this.LinkedRoutes[this.i].RouteID
          break
        }
      }
       this.AllocationItemEditId = -1
              this.IsItemWiseUpdate = false
      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
          if(this.OrderAllocations[this.i].RouteID===this.RouteIdForSearch && this.OrderAllocations[this.i].ItemId === parseInt(this.ItemId))
          {
              this.ItemWiseQuantity = this.OrderAllocations[this.i].Quantity
              this.AllocationItemEditId = this.i
              this.IsItemWiseUpdate = true
              break
          }
      }

    },
    SetRouteWiselist(RouteName)
    {

      this.RouteIdForSearch= -1
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
        if(this.LinkedRoutes[this.i].RouteName === RouteName)
        {
          this.RouteIdForSearch = this.LinkedRoutes[this.i].RouteID
          break
        }
      }
      this.OrderAllocationsRouteWise = []

      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
        if(this.RouteIdForSearch === this.OrderAllocations[this.i].RouteID)
        {
          this.OrderAllocationsRouteWise.push(this.OrderAllocations[this.i])
        }
      }

      this.itemwise = false
      this.ItemNameRouteWise = ''
      this.ItemCodeRouteWise = ''
      this.BarcodeRouteWise = ''


    },
    AddOrderAllocation()
    {

      if(this.ItemId === '' || this.ItemId === undefined || this.ItemId === null)
      {
        this.SnackbarMessege = "Please select route item"
        this.snackbar = true
        return
      }
      if(this.RouteNameItemWise === '' )
      {
        this.SnackbarMessege = "Please select route name "
        this.snackbar = true
        return
      }
      this.ItemWiseQuantity = parseFloat(this.ItemWiseQuantity)
      this.flag = isNaN(this.ItemWiseQuantity)
      if(this.flag)
      {
        this.ItemWiseQuantity = 0
      }

      if(this.ItemWiseQuantity === 0)
      {
        this.SnackbarMessege = "Please enter valid quantity"
        this.snackbar = true
        return
      }
      else{

      this.RouteIdForSearch= -1
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
        if(this.LinkedRoutes[this.i].RouteName === this.RouteNameItemWise)
        {
          this.RouteIdForSearch = this.LinkedRoutes[this.i].RouteID
          break
        }
      }

        this.obj ={
        'RouteID': this.RouteIdForSearch,
        'Quantity': this.ItemWiseQuantity,
        'Barcode' : this.Barcode,
        'ItemCode' : this.ItemCode,
        'ItemId' : this.ItemId,
        'ItemName' : this.ItemName,
         'Unit' : this.Unit,
        'RouteName' : this.RouteNameItemWise,
        'TotAvailStock' : this.TotAvailStock
        }

        this.OrderAllocations.push(this.obj)
        this.SetItemWiselist(this.ItemId)
        this.SetRouteWiselist(this.RouteNameItemWise)
        this.SetOrderAllocationGeneral()
          this.IsItemWiseUpdate = false
          this.AddRouteModal = false
          this.RouteNameItemWise = ''
          this.ItemWiseQuantity = ''
      }
    },
    UpdateOrderAllocation()
    {
      if(this.RouteNameItemWise === '' )
      {
        this.SnackbarMessege = "Please select route name"
        this.snackbar = true
        return
      }
      this.ItemWiseQuantity = parseFloat(this.ItemWiseQuantity)
      this.flag = isNaN(this.ItemWiseQuantity)
      if(this.flag)
      {
        this.ItemWiseQuantity = 0
      }
      if(this.ItemWiseQuantity === 0)
      {
        this.SnackbarMessege = "Please enter valid quantity"
        this.snackbar = true
        return
      }
      else{
          this.OrderAllocations[this.AllocationItemEditId].Quantity = this.ItemWiseQuantity
          this.SetItemWiselist(this.ItemId)
          this.SetOrderAllocationGeneral()
           this.SetRouteWiselist(this.RouteNameItemWise)
          this.IsItemWiseUpdate = false
          this.AddRouteModal = false
          this.RouteNameItemWise = ''
          this.ItemWiseQuantity = ''

      }

    },
    SearchItemByItem()
    {
      this.IsRouteWiseUpdate = false

      if(this.RouteName === '')
      {
        this.SnackbarMessege = "Please select route"
        this.snackbar = true
        return
      }
      if(this.ItemNameRouteWise === '')
      {
        this.SnackbarMessege = "Please select item"
        this.snackbar = true
        return
      }
       this.RouteIdForSearch= -1
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
        if(this.LinkedRoutes[this.i].RouteName === this.RouteName)
        {
          this.RouteIdForSearch = this.LinkedRoutes[this.i].RouteID
          break
        }
      }

      this.AllocationItemEditId = -1
      this.IsRouteWiseUpdate = false
      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
          if(this.OrderAllocations[this.i].RouteID===this.RouteIdForSearch && this.OrderAllocations[this.i].ItemId === parseInt(this.ItemId))
          {
              this.RouteWiseQuantity = this.OrderAllocations[this.i].Quantity
              this.AllocationItemEditId = this.i
              this.IsRouteWiseUpdate = true
              break
          }
      }
    },
    AddOrderAllocationRouteWise()
    {

      if(this.ItemIdRouteWise === '' || this.ItemIdRouteWise === undefined || this.ItemIdRouteWise === null)
      {
        this.SnackbarMessege = "Please select route item"
        this.snackbar = true
        return
      }
      if(this.RouteName === '' )
      {
        this.SnackbarMessege = "Please select route name "
        this.snackbar = true
        return
      }
      this.RouteWiseQuantity = parseFloat(this.RouteWiseQuantity)
      this.flag = isNaN(this.RouteWiseQuantity)
      if(this.flag)
      {
        this.RouteWiseQuantity = 0
      }

      if(this.RouteWiseQuantity === 0)
      {
        this.SnackbarMessege = "Please enter valid quantity"
        this.snackbar = true
        return
      }
      else{

      this.RouteIdForSearch= -1
      for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
      {
        if(this.LinkedRoutes[this.i].RouteName === this.RouteName)
        {
          this.RouteIdForSearch = this.LinkedRoutes[this.i].RouteID
          break
        }
      }

        this.obj ={
        'RouteID': this.RouteIdForSearch,
        'Quantity': this.RouteWiseQuantity,
        'Barcode' : this.BarcodeRouteWise,
        'ItemCode' : this.ItemCodeRouteWise,
        'ItemId' : this.ItemIdRouteWise,
        'ItemName' : this.ItemNameRouteWise,
         'Unit' : this.Unit,
        'RouteName' : this.RouteName,
        'TotAvailStock' : this.TotAvailStock
        }


        this.OrderAllocations.push(this.obj)
        this.SetItemWiselist(this.ItemIdRouteWise)
        this.SetRouteWiselist(this.RouteName)
        this.SetOrderAllocationGeneral()
         this.IsRouteWiseUpdate = false
          this.AddItemModal = false
          this.ItemNameRouteWise = ''
          this.ItemCodeRouteWise=''
          this.BarcodeRouteWise=''
          this.RouteWiseQuantity = ''
      }
    },
    UpdateOrderAllocationRouteWise()
    {
      if(this.RouteName === '' )
      {
        this.SnackbarMessege = "Please select route name "
        this.snackbar = true
        return
      }
      this.RouteWiseQuantity = parseFloat(this.RouteWiseQuantity)
      this.flag = isNaN(this.RouteWiseQuantity)
      if(this.flag)
      {
        this.RouteWiseQuantity = 0
      }
      if(this.RouteWiseQuantity === 0)
      {
        this.SnackbarMessege = "Please enter valid quantity"
        this.snackbar = true
        return
      }
      else{

          this.OrderAllocations[this.AllocationItemEditId].Quantity = this.RouteWiseQuantity
          this.SetOrderAllocationGeneral()
          this.SetItemWiselist(this.ItemIdRouteWise)
          this.SetRouteWiselist(this.RouteName)
          this.IsRouteWiseUpdate = false
          this.AddItemModal = false
          this.ItemNameRouteWise = ''
          this.ItemCodeRouteWise=''
          this.BarcodeRouteWise=''
          this.RouteWiseQuantity = ''

      }

    },
    DelteOrderAllocation(item,IsItemWise)
    {

      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
        if(this.OrderAllocations[this.i].ItemId === item.ItemId  && this.OrderAllocations[this.i].RouteID=== item.RouteID)
        {
          this.OrderAllocationDeleteId = this.i
          this.IsItemWise = IsItemWise
          this.DeleteRoute = item.RouteName
          this.DeleteConfirmation = true
          break
        }
      }
      return
    },
    ExecuteDeleteOrderAllocation()
    {

      this.OrderAllocations.splice(this.OrderAllocationDeleteId,1)
      this.DeleteConfirmation = false
      this.SetOrderAllocationGeneral()
      this.SetItemWiselist(this.IsItemWise===true ?this.ItemId: this.ItemIdRouteWise)
      this.SetRouteWiselist(this.DeleteRoute)
    },
    InsertAllocation()
    {

        this.AllocationObject = {

          "AllocationDate" : new Date().toISOString().substr(0, 10),
          "FromGodown" : this.FromGodown,
          "AllocationHoldDetails" : []
        }
        this.AllocationHoldDetails = []
        for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
        {
          if(this.OrderAllocations[this.i].Quantity > 0 )
          {
            this.AllocationHoldDetails.push(this.OrderAllocations[this.i])
          }
        }
        if(this.AllocationHoldDetails.length > 0)
        {
          this.AllocationObject.AllocationHoldDetails = this.AllocationHoldDetails

           axios.post ( this.bURL + "StockTransfer/InsertStockAllocationHold",this.AllocationObject)
            .then((response)  =>  {
               this.SnackbarMessege = "Success"
               this.snackbar= true
               this.OrderAllocations = []
               this.OrderAllocationsGeneral = []
               this.OrderAllocationsRouteWise = []
               this.OrderAllocationsItemWise = []
               this.ItemForItemWise = []
              }, (error)  =>  {
                  console.log(error)
              })
        }
        else{
          this.SnackbarMessege = "Please Allocate Items"
          this.snackbar= true
        }
    },
    OpenItemWiseTab(item)
    {
      this.ItemForItemWise = []
      this.ItemForItemWise.push(item)
      this.GetItemByItemCode(item.ItemCode)
      this.ItemCode = item.ItemCode
      this.Barcode = item.Barcode
      this.ItemName = item.ItemName
      this.$router.push('/dashboard/Vouchers/ManageAllocation#tabs-ItemWise')
    },
    OpenItemFromItemWise(item)
    {

        this.ItemCode = item.ItemCode
        this.Barcode = item.Barcode
        this.ItemName = item.ItemName
        this.itemwise = true
    },
    EditQuantity(item)
    {

      this.RouteNameItemWise = item.RouteName
      this.ItemWiseQuantity = item.Quantity

       this.AllocationItemEditId = -1
              this.IsItemWiseUpdate = false
      for(this.i=0;this.i<this.OrderAllocations.length;this.i++)
      {
          if(this.OrderAllocations[this.i].RouteID === item.RouteID && this.OrderAllocations[this.i].ItemId === parseInt(item.ItemId))
          {
              this.ItemWiseQuantity = this.OrderAllocations[this.i].Quantity
              this.AllocationItemEditId = this.i
              this.IsItemWiseUpdate = true
              break
          }
      }
      //this.IsItemWiseUpdate = true
      this.AddRouteModal = true
    }
  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonnew {
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-buttonroutewise{
  position: fixed;
  top: 74px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
<style>
.newc .v-input--selection-controls .v-input__slot > .v-label
{
    padding-top: 5px !important;
    margin-left: -9px !important;
   padding-top: 5px !important;
    margin-right: -19px !important;
}
.feedback {
  background-color : rgb(0, 53, 94) !important;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: rgb(0, 53, 94) !important;
}

#mybutton {
    /* position: fixed;
    bottom: 62px;
    right: 17px;
    z-index: 100; */
    bottom: -33px !important;
    right: 50px !important;
    z-index: 100 !important;
}
.rounded-card{
    border-radius:50px;
}
.manage.v-expansion-panel-header {
padding-right:7px !important;
padding-left:7px !important;
}
.v-application--is-ltr .v-expansion-panel-header .manage {
    text-align: left;
    padding-left: 8px ;
}
</style>
