<template>
   <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
  <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 53 94);"
      fixed
      left
      hide-overlay
      temporary
      width="310"
      
    >
    <!-- Amount: {{OrderTotal}} -->
   
      Amount: {{OrderTotal}}
    <br>
    <v-spacer></v-spacer>
     Total Items : {{TotalItems}}
    
      <!-- <v-icon >mdi-plus</v-icon>
      Save -->
    </v-btn>
<div >
  <v-card style="width:100%">
    <v-card-title style="text-align:center;display:none ">Order Form</v-card-title>
    <h2 style="text-align:center; padding-top:5px;color:rgb(0 99 145);">Order Form</h2>
    <v-card-text >
      <v-form>
        <v-row >
          <v-col cols="12" md="12" style="padding-bottom: 2px;padding-top: 1px;">
            <v-text-field v-if="OrderNo && IsOrderNOShow" value="First and two on el street" label="Order No" v-model="OrderNo"></v-text-field>
            <v-text-field value="" label="Reference No" v-model="OrderObject.ReferNo" @change="GetOrderByReferenceNo"></v-text-field>
            <span v-if="error" class="errMsg">{{ ErrorMessege }}</span>
            <v-select
            v-model="OrderObject.BranchCode"
          :items="BranchCodeOptions"
          label="Branch Code"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
        ></v-select>
        <v-autocomplete
            v-model="OrderObject.Salesperson"
            :items="SalesPersonOptions"
            dense
            label="Sales Person"
            v-if="IsSalesPersonShow"
          ></v-autocomplete>
        <div class="input-group ">
         <!-- <v-combobox
          v-model="OrderObject.Customer"
          :items="CustomerOptions"
          label="Customer"
          outlined
          dense
        ></v-combobox> -->
           <v-autocomplete
            v-model="OrderObject.Customer"
            :items="CustomerOptions"
            dense
            label="Customer"
          ></v-autocomplete>
          <v-btn 
                  icon
                  v-bind="attrs"
                  style=" margin-right: 3px !important; margin-left: 3px !important;" 
                  v-on="on"
                >
                  <v-icon style="font-size: 40px;color:#006400">mdi-plus</v-icon>
                </v-btn>
</div>
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="OrderDate"
                  label="Order Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="OrderDate"
                :max="new Date().toISOString().substr(0, 10)"
                min="1950-01-01"
                @change="save"
              ></v-date-picker>
            </v-menu>
             <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="DeliveryDate"
                  label="Delivery Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="DeliveryDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker>
            </v-menu>
           <v-textarea
           v-model="OrderObject.Remarks"
          label="Remarks (Optional)"
          auto-grow
          outlined
          rows="3"
          row-height="31"
          shaped
        ></v-textarea>
          <div class="input-group ">
           <v-text-field
            value="Item Details"
            label="Solo"
            solo
            readonly
          ></v-text-field>
           <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn 
                      icon
                      v-bind="attrs"
                      style=" margin-right: 3px !important; margin-left: 3px !important;" 
                      v-on="on"
                      @click="OpenItemDetails"
                    >
                      <v-icon style="font-size: 40px;color:#006400">mdi-plus</v-icon>
                    </v-btn>
      </template>
       <v-card >
    <v-card-title style="text-align:center;display:none ">ItemDetails</v-card-title>
    <h2 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">Item Details</h2>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="12" md="6" style="padding-bottom: 1px;">
          <div class="input-group">
    <v-text-field 
    value="" 
    placeholder="Type here" 
    v-model="Orderdetail.Barcode" 
    label="Barcode" 
    @change="GetItemByBarcode($event)"></v-text-field>
    
     <v-dialog v-model="BarcodeModal" persistent max-width="290">
      <template v-slot:activator="{ on, attrs }">
        <!-- <v-btn
          color="primary"
          dark
          v-bind="attrs"
          v-on="on"
        >
          Open Dialog
        </v-btn> -->
         <v-btn 
                                    color="dark gray"
                                    icon
                                    v-bind="attrs"
                                    style="padding-top: 34px; font-size:30px" 
                                    v-on="on"
                                  >
                                    <v-icon style="font-size: 28px;">mdi-barcode</v-icon>
                                  </v-btn>
      </template>
      <v-card>
        <v-card-title class="headline">Scan barcode</v-card-title>
        <v-card-text>
           <StreamBarcodeReader
    @decode="onDecode"
    @loaded="onLoaded"
></StreamBarcodeReader>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="BarcodeModal = false">close</v-btn>
          <v-btn color="green darken-1" text @click="BarcodeModal = false">Agree</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <span v-if="error" class="errMsg">{{ ErrorMessege }}</span>
            </div>
             <div class="input-group">
        <v-autocomplete
            v-model="Orderdetail.ItemName"
            :items="ItemsOptions"
            label="Items"
             @change="LoadUnits($event , true)"
          ></v-autocomplete>
      <v-btn
                                tile
                                color="teal"
                                icon
                                @click="ItemSearchModal = true"
                              >
                                <v-icon style="font-size: 28px;padding-top: 32px;">mdi-magnify</v-icon>
                              </v-btn>
      <v-dialog
        v-model="ItemSearchModal"
        max-width="500px"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)"> 
            Search 
          </v-card-title>
          <v-card-text>
            <v-select
             v-model="SerachKey"
              :items="SearchKey"
              label="Search Key"
              item-value="text"
              @change="BindSearchBox($event)"
            ></v-select>
             <v-combobox
          :items="SearchBoxObject"
          v-model="ItemSearchBox"
         
          label="Select a favorite activity or create a new one"
        ></v-combobox>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="ItemSearchModal = false"
            >
              Close
            </v-btn>
            
            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="SetSearchkey()"
            >
              Ok
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
          </div>
            <v-select
            v-model="Orderdetail.Unit"
          :items="ItemUnitsOptions"
          label="Unit"
          @change="SetPricebyUnit($event)"
        ></v-select>

     <v-combobox
          v-model="Orderdetail.ItemDescription"
          :items="ItemDescriptionOptions"
          label="Description"
        ></v-combobox>
         <v-text-field 
        type="number"
        id ="ActualQty"
        label="Actual Quantity"  
        v-model="Orderdetail.ActualQty" 
          @change="Set_Quantity($event)"></v-text-field>
           </v-col>

        <v-col cols="12" md="6"   style="padding-top: 1px;">
       
           <v-text-field 
            type="number"
           id ="Quantity"
           label="Bill Quantity" 
           v-model="Orderdetail.Quantity" 
           @change="Find_Total($event)"></v-text-field>
           <label style="color:green;">{{ItemRateLabel}}</label>
           <v-text-field
           type="number" 
           label="Rate" 
           id="Rate"
           v-model="Orderdetail.Rate" 
           @change="Find_TotalByRate($event)"></v-text-field>
           <v-text-field 
            id="Amount" 
            type="number"
           label="Amount" 
           v-model="Orderdetail.Amount" 
           @change="Find_Price($event)"></v-text-field>
             <v-textarea
             v-model="Orderdetail.Remark"
          label="Remarks (Optional)"
          auto-grow
          outlined
          rows="3"
          row-height="28"
          shaped
        ></v-textarea>
        <v-layout align-right>
         <v-switch

              v-model="Priority"
              label="Priority"
              color="error"
              value = 'true'
              hide-details
            ></v-switch>
           </v-layout>
              </v-col>
       </v-row>
        <div class="d-flex">
          <v-btn color="warning"  @click="dialog = false">
            <v-icon left>mdi-arrow-left</v-icon>Back</v-btn>
          <v-spacer></v-spacer> 
          <v-btn color="success" v-if="!IsItemUpdate" @click="AddItem"><v-icon left>mdi-plus</v-icon>Add</v-btn>
           <v-btn color="success" v-if="IsItemUpdate" @click="UpdateItem"><v-icon left>mdi-update</v-icon>Update</v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>
          </div>
          </v-col>
          <v-col cols="12" md="12" style="padding-top: 2px;">
  <v-expansion-panels focusable>
    <v-expansion-panel
       v-for="(item,i) in OrderDetails"
      :key="i"
    >
      <v-expansion-panel-header>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="color:rgb(0 53 94);font-weight: bold;"
       >   
    <label>{{item.ItemName}}</label>
     </v-col>
      <v-col
        cols="6"
        sm="6"
      > 
    <label>{{item.Quantity}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right; "
      >
         <label style="margin-right:2px;">{{item.Quantity * item.Rate}}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
      >
     <label> Unit</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-top: 4px;"
      >
        <label >{{item.Unit}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
      <label > Actual Quantity </label >
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
          <label >{{item.ActualQty}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
      <label > Bill Quantity </label >
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
         <label >{{item.Quantity}}</label>
      </v-col>
       <v-col
        cols="6"
        sm="6"
      >
      <label >Rate </label >
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;"
      >
        <label >{{item.Rate}}</label>
      </v-col>
       <v-col
        cols="12"
        sm="12"
      >
        <!-- <label >{{item.Remarks}}</label> -->
        <label>Remarks:{{item.Remarks}}</label>
      </v-col>
       <v-col
        cols="12"
        sm="12"
        style="text-align: right;"
      > 
        <v-btn
          color="primary" 
          fab 
          small 
          dark  
          @click="EditItem(i)"
          style='margin-right:5px'>
          <v-icon>mdi-pencil</v-icon>
          </v-btn>
             <v-btn 
            color="error" 
            fab 
            small 
            dark
            @click="DeleteItem(i)">
              <v-icon>mdi-close</v-icon>
            </v-btn>  
            <v-dialog v-model="DeleteConfirmation_OrderDetails" persistent max-width="300">
      <template>
       
      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_OrderDetails = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteItem">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
      </v-col>
   
    </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  
          </v-col>
        </v-row>

        <!-- <div class="d-flex">
          <v-btn color="warning"  @click="snackbar = true">
            <v-icon left>mdi-close</v-icon>close</v-btn> -->
            <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar> 
      </v-form>
    </v-card-text>

    <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   :z-index="fab.zindex"
   @ClearOrder="ClearOrder"
   @SaveOrder="SaveOrder"
   @DeleteOrder="DeleteOrder"
   @PrintOrder="PrintOrder"
></fab>
  </v-card>
  </div>
</div>
</template>

<script>
import axios from 'axios'
import de from '../../translations/de'
import { StreamBarcodeReader } from 'vue-barcode-reader'
import { mapMutations, mapState } from 'vuex'
import fab from 'vue-fab'
export default {
  components: {
    StreamBarcodeReader,fab
  },
  data: () => ({
    right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
    OrderObject : [],
    dialog: false,
    BarcodeModal: false,
    ItemSearchModal: false,
    DeleteConfirmation_OrderDetails: false,
    DeleteConfirmation_Order: false,
    menu: false,
    menu1: false,
    gender: 'male',
    items: [
      { title: 'Print',icon: 'mdi-printer' },
      { title: 'Delete',icon:'mdi-delete' },
      { title: 'Close',icon: 'mdi-close' }
    ],
    fab:{
           
      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearOrder',
          icon: 'cached',
          tooltip:'Clear'
        },
      
        {
          name: 'DeleteOrder',
          icon: 'delete',
          tooltip:'Delete'
        },
        {
          name: 'PrintOrder',
          icon: 'print',
          tooltip:'Print'
        },
          {
          name: 'SaveOrder',
          icon: 'save',
          tooltip:'Save'
        },
      ]
    },
    Priority: 'false',
    apiurl : '',
    Editid : 0,
    IsUpdate : false,
    itemUnits : [],
    Order_for_Edit : {},
    obj_for_item : {},
    executed : false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    isPrint : false,
    IsSave : true,
    isItemUpadate : false,
    IsOrderSaved : false,
    IsLastCustomerRate : false,
    VoucherNo : window.localStorage.getItem('OrderId'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    OrderDate : new Date().toISOString().substr(0, 10),
    DeliveryDate : new Date().toISOString().substr(0, 10),
    SalesPersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    CustomerOptions : JSON.parse( localStorage.getItem('Customers') ),
    ItemObject : JSON.parse( localStorage.getItem('Items') ),
    ItemsOptions : [],
    ItemUnitsObject : [],
    ItemUnitsOptions : [],
    Orderdetail : {},
    OrderDetails : [],
    Executed  : false,
    OrderNo: '',
    IsOrderNOShow : false,
    EditId : -1,
    DeleteId : -1,
    IsItemUpdate :false,
    ItemRateLabel : '',
    ItemBarcodes : [],
    ItemArabicnames : [],
    ItemItemCode : [],
    SearchBoxObject : [],
    SerachKey : '',
    ItemSearchBox : '',
    SearchKey: ['Name', 'Barcode', 'ItemCode', 'Arabic Name'],
    ItemDescriptionOptions : [],
    OrderTotal : 0,
    TotalItems : 0,
    IsMultiBarnch : false,
    IsSalesPersonShow : false

  }),
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    menu1 (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  mounted()
  {
    for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
    {
      this.ItemsOptions.push(this.ItemObject[this.i].itemName)
    }
    this.SearchDropdowsBinding(this.ItemObject)
    this.ItemDescriptionBinding()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
      localStorage.clear()
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.Executed = false
    this.BasicSettings()
    this.SetPermission()
    /*  while ( this.Executed === false)
    {
      console.log('excecuting')
    } */
    
  },
  methods: {
    BasicSettings()
    {
      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson !== '')
        this.OrderObject.Salesperson = this.IsSalesPerson
      

      this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.OrderObject.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.OrderObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.OrderObject.BranchCode = ''
       }  

      this.SalespersonLength = this.SalesPersonOptions.length
      if (this.SalespersonLength > 1)
      {
        this.IsSalesPersonShow = true
      }
        
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    SetPermission()
    {
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmOrderForm')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

          if (this.VoucherNo === null )
          {
            this.IsHoldingOrder = localStorage.getItem('IsHoldingOrder')
            this.HoldingOrderObject = localStorage.getItem('OrderObject')
            if (this.IsHoldingOrder !== null)
            {
              this.OrderObject =  JSON.parse(this.OrderObject)
            }
            if (this.IsHoldingOrder === 'true')
            {
              AssignObject(this.OrderObject)
            }
            this.isPrint = false
          }
          else
          {
            localStorage.setItem('OrderIdForPrint',this.VoucherNo)
            if (this.isReadPermission === false)
            {
              this.$router.push('/dashboard/order_reg')
            }
            else if (this.isUpdatePermission === false)
            {
              this.isCreatePermission = false
            }
            this.isPrint = true
            this.GetOrder()
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetOrder()
    {
      axios.get ( this.bURL + 'Order/' + this.VoucherNo)
        .then((response)  =>  {
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(obj)
    {
      this.OrderNo = obj.VoucherNo
      this.OrderObject.ReferNo = obj.ReferNo
      this.OrderObject.BranchCode = obj.BranchCode
      this.OrderDate = obj.VoucherDate
      this.DeliveryDate = obj.VoucherDate
      this.OrderObject.Remarks = obj.Remarks
      this.OrderObject.Customer = obj.CustomerName
      this.OrderObject.Salesperson = obj.SalesMan
      this.OrderDetails = obj.OrderDetails
      this.FindOrderTotal()
    },
    LoadUnits(event , IsFirst)
    {
      this.ItemId = -1
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].itemName === event)
        {
          this.ItemId = this.ItemObject[this.i].itemId
          this.GetUnits(this.ItemId , IsFirst)
        }
      }
    },
    GetUnits(ItemId,IsFirst)
    {
      this.ItemUnitsOptions = []
      axios.get ( this.bURL + 'Item/GetAlternateUnitDetails?ItemId=' + ItemId)
        .then((response)  =>  {
          this.ItemUnitsObject = response.data
          for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
          {
            this.ItemUnitsOptions.push(this.ItemUnitsObject[this.i].Unit)
          }
          this.Orderdetail.ItemName = this.ItemUnitsObject[0].ItemName
          if (IsFirst === true)
          {
            this.Orderdetail.Unit = this.ItemUnitsOptions[0]
          }
          this.error = true
          this.Orderdetail.Barcode = this.ItemUnitsObject[0].Barcode
          axios.get ( this.bURL + 'item/GetCustomerLastSellRate/' + ItemId + ',' + this.ItemUnitsOptions[0] + ',' + this.OrderObject.Customer)
            .then((response)  =>  {

              this.SetPriceDetailsWithLastCustomer(response.data)

            }, (error)  =>  {
              console.log(error)
            })
          
        }, (error)  =>  {
          console.log(error)
        })
    },
    SetPriceDetailsWithLastCustomer(lastRate)
    {
      this.index = -1
      for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
      {
        if(this.ItemUnitsObject[this.i].Unit === this.Orderdetail.Unit)
        {
          this.index = this.i
        }
      }
      if (lastRate === '-1' || lastRate === -1)
      {
        this.Price = 0
        this.IsLastCustomerRate = false

        this.ActualQty = this.Orderdetail.ActualQty
        this.flag = isNaN(this.ActualQty)
        if (this.flag)
        {
          this.ActualQty = 0 
        }
        if (this.ActualQty >= parseFloat(this.ItemUnitsObject[this.index].MinWholeSaleQty))
        {
          this.Price = this.ItemUnitsObject[this.index].WholeSaleRate
          this.ItemRateLabel = 'a'
          this.ItemRateLabel = 'WholeSale Rate'
        }
        else {
          this.Price = this.ItemUnitsObject[this.index].RetailRate
          this.ItemRateLabel = 'b'
          this.ItemRateLabel  = 'Retail Rate'
        }
        this.Orderdetail.Rate = this.Price.toFixed(this.DecimalPlaces)
        document.getElementById('Rate').style.backgroundColor = 'red'
        this.Find_TotalByRate(parseFloat(this.Price)) 
      }
      else {
        this.ItemRateLabel = 'Last Customer Rate'
        this.IsLastCustomerRate = true
        document.getElementById('Rate').style.backgroundColor = '#26293b'
        this.Price = parseFloat(lastRate)
        this.Orderdetail.Rate = this.Price.toFixed(this.DecimalPlaces)
        this.Find_TotalByRate(parseFloat(this.Price))
      }

    },
    SetPricebyUnit(Unit)
    {
      for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i++) {
        if (this.ItemUnitsObject[this.i].Unit === Unit) 
        {
          this.Orderdetail.Barcode = this.ItemUnitsObject[this.i].Barcode
          this.GetUnits(this.ItemUnitsObject[this.i].ItemId,false)
        }
      }
    },
    Set_Quantity(Qty)
    {
      this.Qty = parseFloat(Qty)
      this.flag = isNaN(Qty)
      if (this.flag)
      {
        this.Qty = 0
      }
      this.Quantity =  parseFloat(this.Orderdetail.Quantity)
      this.flag = isNaN(this.Quantity)
      if (this.flag)
      {
        this.Quantity = 0
      }
      if (this.Quantity === 0 || this.Qty < this.Quantity)
      {
        this.Orderdetail.Quantity = this.Qty
        document.getElementById('Quantity').value = this.Qty
      }
      this.Rate = parseFloat(this.Orderdetail.Rate)
      this.flag = isNaN(this.Rate)
      if (this.flag)
      {
        this.Rate = 0
      }
      if (this.IsLastCustomerRate === false)
      {
        this.Pos = 0 
        for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
        {
          if (this.ItemUnitsObject[this.i].Unit === this.Orderdetail.Unit)
          {
            this.Pos = this.i
          }
        }
        this.Rate = 0
        if (this.Qty >= parseFloat(this.ItemUnitsObject[this.Pos].MinWholeSaleQty))
        {
          this.Rate = this.ItemUnitsObject[this.Pos].WholeSaleRate
          this.ItemRateLabel = 'a'
          this.ItemRateLabel = 'WholeSale Rate'
        }
        else {
          this.Rate = this.ItemUnitsObject[this.Pos].RetailRate
          this.ItemRateLabel = 'b'
          this.ItemRateLabel = 'Retail Rate'
        }
      }
      else
      {
        this.ItemRateLabel = ''
        this.ItemRateLabel = 'Last Customer Rate'
      }
      this.Orderdetail.Rate = this.Rate.toFixed(this.DecimalPlaces)
      this.total_amount = parseFloat( this.Orderdetail.Quantity) * parseFloat(this.Rate)
      this.Orderdetail.Amount =  this.total_amount.toFixed(this.DecimalPlaces)
      document.getElementById('Amount').value = this.total_amount.toFixed(this.DecimalPlaces)
      
    },
    Find_Total(Quantity)
    {
      this.flag = isNaN(Quantity)
      if (this.flag)
      {
        this.Quantity = 0
      }
      this.Price = parseFloat(this.Orderdetail.Rate)  
      this.flag = isNaN(this.Price)
      if (this.flag)
      {
        this.Price = 0
      }
      this.ActQty =  parseFloat(this.Orderdetail.ActualQty)
      this.flag = isNaN(this.ActQty)
      if (this.flag)
      {
        this.ActQty = 0
      }
      if (Quantity > this.ActQty  && this.ActQty !== 0)
      {
        Quantity = this.ActQty
        this.Orderdetail.Quantity = Quantity
      }
      if (this.IsLastCustomerRate === false)
      {
        this.Price = 0
        this.Pos = 0 
        for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
        {
          if (this.ItemUnitsObject[this.i].Unit === this.Orderdetail.Unit)
          {
            this.Pos = this.i
          }
        }
        if (this.ActQty >= parseFloat(this.ItemUnitsObject[this.Pos].MinWholeSaleQty))
        {
          this.Price = this.ItemUnitsObject[this.Pos].WholeSaleRate
          this.ItemRateLabel = 'a'
          this.ItemRateLabel = 'WholeSale Rate'
        }
        else {
          this.Price = this.ItemUnitsObject[this.Pos].RetailRate
          this.ItemRateLabel = 'b'
          this.ItemRateLabel = 'Retail Rate'
        }
      }
      else
      {
        this.ItemRateLabel = ''
        this.ItemRateLabel = 'Last Customer Rate'
      }
      this.Orderdetail.Rate = this.Price.toFixed(this.DecimalPlaces)
      this.total_amount = parseFloat(Quantity) * parseFloat(this.Price)
      this.Orderdetail.Amount =  this.total_amount.toFixed(this.DecimalPlaces)

    },
    Find_TotalByRate(rate)
    {
      this.Qty =  parseFloat(this.Orderdetail.Quantity)
      this.flag = isNaN(this.Qty )
      if (this.flag)
      {
        this.Qty = 0
      }
      this.flag = isNaN( parseFloat(rate))
      if (this.flag)
      {
        rate = 0
      }
      this.total_amount = parseFloat(this.Qty ) * parseFloat(rate)
      this.Orderdetail.Rate = parseFloat(rate).toFixed(this.DecimalPlaces)
      this.Orderdetail.Amount = parseFloat(this.total_amount).toFixed(this.DecimalPlaces)

    },
    Find_Price(Amount)
    {
      this.Qty = parseFloat(this.Orderdetail.Quantity)
      this.flag = isNaN(this.Qty)
      if (this.flag)
      {
        this.Qty = 0
      }
      Amount = parseFloat(Amount)
      this.flag = isNaN(this.Amount)
      if (this.flag)
      {
        this.Amount = 0
      }
      this.Price = parseFloat(Amount) / parseFloat(this.Qty)
      this.Orderdetail.Rate = this.Price.toFixed(this.DecimalPlaces)
      this.temp_total = parseFloat(Amount).toFixed(this.DecimalPlaces)
      this.Orderdetail.Amount = this.temp_total
    },
    OpenItemDetails()
    {
      this.IsItemUpdate = false
      this.Orderdetail = {}
      this.Priority = false
      this.dialog = true
      document.getElementById('Rate').style.backgroundColor = '#FFFFFF'
    },
    AddItem()
    {
      if (this.Orderdetail.ItemName === undefined || this.Orderdetail.Unit === undefined  || this.Orderdetail.Quantity === undefined )
      {
        this.snackbar = true
        this.SnackbarMessege = 'Please select sufficient details' 
      }
      else
      {
        for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
        {
          if (this.ItemUnitsObject[this.i].ItemName === this.Orderdetail.ItemName)
          {
            this.Orderdetail.ItemId = this.ItemUnitsObject[this.i].ItemId
            this.Orderdetail.Barcode = this.ItemUnitsObject[this.i].Barcode
          }
        }
        this.Orderdetail.ActualQty = parseFloat( this.Orderdetail.ActualQty ) 
        this.Orderdetail.Quantity = parseFloat( this.Orderdetail.Quantity )
        this.Orderdetail.Rate = parseFloat( this.Orderdetail.Rate)
        this.Orderdetail.Amount = parseFloat( this.Orderdetail.Amount ) 
        if ( (this.Priority === 'true'))
        {
          this.Orderdetail.Priority =  true
        }
        else
        {
          this.Orderdetail.Priority =  false
        }
        for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
        {
          if (this.ItemUnitsObject[this.i].Unit === this.Orderdetail.Unit)
          {
            this.Orderdetail.AltUnitId = this.ItemUnitsObject[this.i].AltUnitId
          }
        }
        this.Orderdetail.Remarks =  this.Orderdetail.Remarks ? this.Orderdetail.Remarks : ''
        this.Orderdetail.ItemDescription =  this.Orderdetail.ItemDescription ? this.Orderdetail.ItemDescription : ''
        this.OrderDetails.push(this.Orderdetail)
        this.Orderdetail = {}
        this.Priority = false
        document.getElementById('Rate').style.backgroundColor = '#FFFFFF'
        this.dialog = false  
        this.FindOrderTotal()
      }
      
    },
    EditItem(pos)
    {
      this.IsItemUpdate = true
      this.EditId = pos
      this.dialog = true
      this.GetUnits(this.OrderDetails[pos].ItemId ,false)
      this.Orderdetail = this.OrderDetails[pos]
      if (this.OrderDetails[pos].Priority === true)
      {
        this.Priority = 'true'
      }
      else
      {
        this.Priority = false
      }
    },
    UpdateItem()
    {
      for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
      {
        if (this.ItemUnitsObject[this.i].ItemName === this.Orderdetail.Barcode)
        {
          this.OrderDetails[this.EditId].ItemId = this.ItemUnitsObject[this.i].ItemId
          this.OrderDetails[this.EditId].Barcode = this.ItemUnitsObject[this.i].Barcode
        }
      }
      this.OrderDetails[this.EditId].Unit = this.Orderdetail.Unit
      this.OrderDetails[this.EditId].ActualQty = parseFloat( this.Orderdetail.ActualQty ) 
      this.OrderDetails[this.EditId].Quantity = parseFloat( this.Orderdetail.Quantity )
      this.OrderDetails[this.EditId].Rate = parseFloat( this.Orderdetail.Rate)
      this.OrderDetails[this.EditId].Amount = parseFloat( this.Orderdetail.Amount )
      this.OrderDetails[this.EditId].Priority = this.Priority
      this.OrderDetails[this.EditId].Remark = this.Orderdetail.Remark ? Orderdetail.Remark : '' 
      this.OrderDetails[this.EditId].ItemDescription = this.Orderdetail.ItemDescription
      if ( (this.Priority === 'true'))
      {
        this.OrderDetails[this.EditId].Priority =  true
      }
      else
      {
        this.OrderDetails[this.EditId].Priority =  false
      }
      for (this.i = 0; this.i < this.ItemUnitsObject.length; this.i ++)
      {
        if (this.ItemUnitsObject[this.i].Unit === this.Orderdetail.Unit)
        {
          this.OrderDetails[this.EditId].AltUnitId = this.ItemUnitsObject[this.i].AltUnitId
        }
      }
      this.Orderdetail = {}
      this.Priority = false
      document.getElementById('Rate').style.backgroundColor = '#FFFFFF'
      this.dialog = false
      this.FindOrderTotal()

    },
    CreateObject(IsHold)
    {
      this.obj_for_item =   {
	      'VoucherNo': -1,
        'SalesMan': this.OrderObject.Salesperson,
        'ReferNo': this.OrderObject.ReferNo,
	      'CustomerName': this.OrderObject.Customer,
	      'VoucherDate': this.OrderDate,
	      'DeliveryDate': this.DeliveryDate,
	      'BranchCode': this.OrderObject.BranchCode,
        'ReceiptNo': -1,
	      'Remarks': this.OrderObject.Remarks ? this.OrderObject.Remarks : '' ,
        'OrderDetails' :this.OrderDetails
      }
      
      this.obj_for_item.VoucherNo = this.VoucherNo ? this.VoucherNo : -1

      if (IsHold === true )
      {
        localStorage.setItem('IsHoldingOrder', true)
        localStorage.setItem('OrderObject',this.obj_for_item)
      }
      else {
        return this.obj_for_item
      }
    },
    SaveOrder()
    {
      
      this.obj_for_item = this.CreateObject(false)
      if ( this.obj_for_item.SalesMan ===  undefined || this.obj_for_item.CustomerName === undefined || this.obj_for_item.VoucherDate === undefined || this.DeliveryDate === '' || this.obj_for_item.BranchCode === '' ) 
      {
        this.SnackbarMessege = 'Please Enter all details'
        this.snackbar = true
        
      }
      else if (this.OrderDetails.length === 0  )
      {
        this.SnackbarMessege = 'Please Enter Item details'
        this.snackbar = true
      }
      else {
        localStorage.setItem('OrderObject' , JSON.stringify(this.obj_for_item))

        if (this.VoucherNo === null)
        {
          if (this.isCreatePermission === true)
          {
            axios.post ( this.bURL + 'Order',this.obj_for_item)
              .then((response)  =>  {
                this.SnackbarMessege = 'Saved Successfully'
                this.snackbar = true
                localStorage.setItem('OrderIdForPrint',response.data)
                setTimeout( location.reload() , 2000)
         
              }, (error)  =>  {
                console.log(error)
              })

          }
          else
          {
            this.SnackbarMessege = 'You have no permission'
            this.snackbar = true
          }
            
        }
        else 
        {
          if (this.isUpdatePermission === true)
          {
            axios.put ( this.bURL + 'order/' + this.VoucherNo, this.obj_for_item)
              .then((response)  =>  {
                this.SnackbarMessege = 'Saved Successfully'
                this.snackbar = true
                localStorage.setItem('OrderIdForPrint',this.VoucherNo)
                localStorage.removeItem('OrderId')
                setTimeout(  this.$router.push('/dashboard/order_reg') , 3000) 

              }, (error)  =>  {
                console.log(error)
              })
          }
          else
          {
            this.SnackbarMessege = 'You have no permission'
            this.snackbar = true
          }
        }
      }
      
    },
    onDecode (result) 
    {
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].barcode === result)
        {
          this.GetUnits(this.ItemObject[this.i].itemId , true)
        }
      }
      /*  this.altitems.Barcode = result
      this.$root.$emit('bv::hide::modal', 'modal-2', '#btnShow') */
    },
    onLoaded (result) {
      return
    },
    SearchDropdowsBinding(object)
    {
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        this.ItemBarcodes.push(this.ItemObject[this.i].barcode)
      }
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        this.ItemItemCode.push(this.ItemObject[this.i].itemCode)
      }
      for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
      {
        if (this.ItemObject[this.i].itemNameArabic !== '')
        {
          this.ItemArabicnames.push(this.ItemObject[this.i].itemNameArabic)
        }
        
      }
    },
    BindSearchBox(key)
    {
      this.ItemSearchBox = ''
      if (key === 'Name')
      {
        this.SearchBoxObject = this.ItemsOptions
      }
      if (key === 'Barcode')
      {
        this.SearchBoxObject = this.ItemBarcodes
      }
      if (key === 'ItemCode')
      {
        this.SearchBoxObject = this.ItemItemCode
      }
      if (key === 'Arabic Name')
      {
        this.SearchBoxObject = this.ItemArabicnames
      }
    },
    SetSearchkey()
    {
      if (this.SerachKey === 'Name')
      {
        for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
        {
          if (this.ItemObject[this.i].itemName === this.ItemSearchBox)
          {
            this.Orderdetail.ItemName =  this.ItemObject[this.i].itemName
            this.GetUnits(this.ItemObject[this.i].itemId, true)
          }
        }
      }

      if (this.SerachKey === 'Barcode')
      {
        for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
        {
          if (this.ItemObject[this.i].barcode === this.ItemSearchBox)
          {
            this.Orderdetail.ItemName =  this.ItemObject[this.i].itemName
            this.GetUnits(this.ItemObject[this.i].itemId, true)
          }
        }
      }
      if (this.SerachKey === 'ItemCode')
      {
        for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
        {
          if (this.ItemObject[this.i].itemCode === this.ItemSearchBox)
          {
            this.Orderdetail.ItemName =  this.ItemObject[this.i].itemName
            this.GetUnits(this.ItemObject[this.i].itemId, true)
          }
        }
      }
      if (this.SerachKey === 'Arabic Name')
      {
        for (this.i = 0; this.i < this.ItemObject.length; this.i ++)
        {
          if (this.ItemObject[this.i].itemNameArabic === this.ItemSearchBox)
          {
            this.Orderdetail.ItemName =  this.ItemObject[this.i].itemName
            this.GetUnits(this.ItemObject[this.i].itemId, true)
          }
        }
      }
      this.ItemSearchModal = false
    },
    GetItemByBarcode(barcode)
    {
      axios.get ( this.bURL + 'item/GetItemByBarcode?Barcode=' + barcode)
        .then((response)  =>  {
          this.GetUnits(response.data.ItemId, true)
          this.error = false
          this.ErrorMessege = ''
        }, (error)  =>  {
          this.Orderdetail.ItemName = ''
          this.Orderdetail.Unit = ''
          this.error = true
          this.ErrorMessege = 'barcode does not Exist !'
          this.Orderdetail.Itemname = ''
          this.Orderdetail.unit = ''
        })
    },
    ItemDescriptionBinding()
    {
      axios.get ( this.bURL + 'Sales/GetSoldItemDescriptions')
        .then((response)  =>  {
          this.ItemDescriptionOptions = response.data
        }, (error)  =>  {
          return
        })
    },
    DeleteItem(pos)
    {
      this.DeleteId = pos
      this.DeleteConfirmation_OrderDetails = true
    },
    ExecuteDeleteItem()
    {
      this.OrderDetails.splice(this.DeleteId,1)
      this.FindOrderTotal()
      this.DeleteConfirmation_OrderDetails = false
    },
    DeleteOrder()
    {
      if (this.VoucherNo !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_Order = true

        }
        else
        {
          this.SnackbarMessege = 'You have no permission'
          this.snackbar = true
        }
        
      }
      else
      {
        this.SnackbarMessege = 'No order to delete'
        this.snackbar = true

      }

    },
    ExecuteDeleteOrder()
    {
      axios.delete( this.bURL + 'Order/' + this.VoucherNo)
        .then((response)  =>  {
          this.SnackbarMessege = 'Delete Successfully'
          this.snackbar = true
          localStorage.removeItem('OrderId')
          setTimeout(  this.$router.push('/dashboard/order_reg') , 5000) 
        }, (error)  =>  {
          console.log(error)
        })
    },
    PrintOrder()
    {  
      if (this.VoucherNo !== null)
      {
        axios.get(this.bURL + 'print/Order?OrderId=' + this.VoucherNo)
          .then((response)  =>  {
            this.apiurl = localStorage.getItem("CompanyURL")
            this.url = this.apiurl + response.data

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
              window.location.href=this.url
            }
          }, (error)  =>  {
            console.log(error)
          })

      }
      else
      {
        this.SnackbarMessege = 'No order to Print'
        this.snackbar = true
      }
      
    },
    GetOrderByReferenceNo(event)
    {
      axios.get(this.bURL + '/Order/GetOrderByReferenceNo?ReferenceNo=' + event)
        .then((response)  =>  {
          if (response.data === '')
          {
            this.error = false
          }
          else {
            this.error = true
            this.ErrorMessege = 'Reference No already exist'
          }
         
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    FindOrderTotal()
    {
      this.OrderTotal = 0
      for (this.i = 0; this.i < this.OrderDetails.length; this.i ++)
      {
        this.OrderTotal += this.OrderDetails[this.i].Amount
      }
      this.OrderTotal = this.OrderTotal.toFixed(this.DecimalPlaces)
      this.TotalItems = this.OrderDetails.length
    },
    ClearOrder()
    {
      return
    }
    
  }
}
</script>
<style scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.ml-3, .mx-3 {
    margin-left: .2rem;
}
.v-application .mx-3 {
    margin-right: 3px !important;
    margin-left: 3px !important;
}
.errMsg{
    color: red;
    font-weight: 500;
}
  /* .v-icon {
    margin-right:10px;
    font-size: 1.3rem;
  } */
   .drawer-button {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
 
@media only screen and (max-device-width: 480px) {
         .drawer-button {
  position: fixed;
  top: 590px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
 margin-left: -25px; 
}
    }

    /* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          .drawer-button {
  position: fixed;
  top: 590px;
  right: 30px;
  z-index: 6;
      margin-right: 587px;
  box-shadow: 1px 1px 18px #ee44aa;

}
    }
 @media (min-width:801px)  { 
   .drawer-button {
  position: fixed;
  top: 630px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
 @media (min-width:1025px) { 
     .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
 @media (min-width:1281px) { 
   .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
@media only screen  and (min-width : 1224px) {
  .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
}  */
.v-expansion-panel-content{
   /* padding: 0 24px 2px; */
  background-color:rgb(0 53 94);
  color: #FFF;
}
</style>
