<template>
<div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
  <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 53 94);"
      fixed
      left
      hide-overlay
      temporary
      width="310"

    >
       <!-- Amount: {{OrderTotal}} -->

   Amount: {{ReceiptTotal}},
    <br>
    <v-spacer></v-spacer>
     Total order: {{TotalItems}}
      <!-- <v-icon >mdi-plus</v-icon>
      Save -->
    </v-btn>
<div >
  <v-card style="width:100%">
    <v-card-title style="text-align:center;display:none ">Receipt </v-card-title>
    <h2 style="text-align:center; padding-top:5px;color:rgb(0 99 145);">Receipt </h2>
    <v-card-text >
      <v-form>
        <v-row >
            <v-col cols="12" md="12" style="padding-bottom: 2px;padding-top: 1px;">
            <v-text-field v-if="ReceiptNo && IsReceiptNOShow" value="First and two on el street" label="Receipt No" v-model="ReceiptNo"></v-text-field>
            <v-text-field
            v-if="ReceiptNo"
            value=""
            label="Reference No"
            v-model="ReceiptObject.ReferNo"
            ></v-text-field>
            <!-- <span v-if="error" class="errMsg">{{ ErrorMessege }}</span> -->
            <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="ReceiptDate"
                  label="Receipt Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="ReceiptDate"
                :max="new Date().toISOString().substr(0, 10)"
                min="1950-01-01"
                @change="save"
              ></v-date-picker>
            </v-menu>
            <v-select
            v-model="ReceiptObject.BranchCode"
          :items="BranchCodeOptions"
          label="Branch Code"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
           @change="Call_ledger($event)"
        ></v-select>
        <v-autocomplete
            v-model="ReceiptObject.ReceivedBy"
            :items="ReceivedByOptions"
            dense
            label="Sales Person"
            v-if="IsReceivedByShow"
          ></v-autocomplete>
        <div class="input-group ">
              <v-autocomplete
            v-model="ReceiptObject.DrLedger"
            :items="DrLedgerOptions"
            dense
            label="DrLedger"
            @change="findLedgerGroup($event)"
          ></v-autocomplete>
          <v-btn
                  icon
                  v-bind="attrs"
                  style=" margin-right: 3px !important; margin-left: 3px !important;"
                  v-on="on"
                >
                  <v-icon style="font-size: 40px;color:#006400">mdi-plus</v-icon>
                </v-btn>
</div>
 <v-select
            v-model="ReceiptObject.Currency"
          :items="CurrencyOptions"
          label="Currency"
          @change="SetCurrency($event)"
           v-if="IsMultiCurrency"
        ></v-select>
         <v-select
            v-model="ReceiptObject.Project"
          :items="ProjectOptions"
          label="Project"
        ></v-select>
           <v-textarea
           v-model="ReceiptObject.Description"
          label="Description (Optional)"
          auto-grow
          outlined
          rows="3"
          row-height="31"
          shaped
        ></v-textarea>
          <div class="input-group ">
           <v-text-field
            value="Receipt Details"
            label="Solo"
            solo
            readonly
          ></v-text-field>
           <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
                      icon
                      v-bind="attrs"
                      style=" margin-right: 3px !important; margin-left: 3px !important;"
                      v-on="on"
                      @click="OpenReceiptDetails"
                    >
                      <v-icon style="font-size: 40px;color:#006400">mdi-plus</v-icon>
                    </v-btn>
      </template>
       <v-card >
    <v-card-title style="text-align:center;display:none ">ReceiptDetails</v-card-title>
    <h2 style="text-align:center; padding-top:15px;color:rgb(0 99 145);">Receipt Details</h2>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="12" md="6" style="padding-bottom: 1px;">

        <v-autocomplete
            v-model="Receiptdetail.CrLedger"
            :items="CrLedgerOptions"
            label="From Account"
            @change="FindLedgerGroupForDetails($event)"
          ></v-autocomplete>
          <v-text-field
        type="number"
        label="Amount"
        v-model="Receiptdetail.Amount"
          ></v-text-field>
         <v-text-field
        type="text"
        label="Remarks"
        v-model="Receiptdetail.Remarks"
          ></v-text-field>
           </v-col>

        <v-col cols="12" md="6"   style="padding-top: 1px;" v-if="IsBankLedger">
       <v-text-field
        type="text"
        label="Cheque No"
        v-model="Receiptdetail.ChequeNo"
          ></v-text-field>
          <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="EffectiveDate"
                  label="Date"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="EffectiveDate"
                :min="new Date().toISOString().substr(0, 10)"
                @change="save"
              ></v-date-picker>
            </v-menu>
             <v-text-field
                  v-model="BankName"
                  label="BankName"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </v-col>
       </v-row>
        <div class="d-flex">
          <v-btn color="warning"  @click="dialog = false">
            <v-icon left>mdi-arrow-left</v-icon>Back</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="success" v-if="!IsItemUpdate" @click="AddItem"><v-icon left>mdi-plus</v-icon>Add</v-btn>
           <v-btn color="success" v-if="IsItemUpdate" @click="UpdateItem"><v-icon left>mdi-update</v-icon>Update</v-btn>
        </div>
      </v-form>
    </v-card-text>
  </v-card>
    </v-dialog>
          </div>
          </v-col>
<v-col cols="12" md="12" style="padding-top: 2px;">
    <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in ReceiptDetails"
      :key="i"
    >
      <v-expansion-panel-header>
              <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="color:rgb(0 53 94);font-weight: bold;"
       >
    <label>{{item.CrLedger}}</label>
     </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-top: 4px;"
      >
    <label>{{item.Amount}}</label>
      </v-col>
    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
              <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
      >
     <label> Remrks</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="text-align: right;padding-top: 4px;"
      >
        <label >{{item.Remarks}}</label>
      </v-col>

       <v-col
        cols="12"
        sm="12"
        style="text-align: right;"
      >
        <v-btn
          color="primary"
          fab
          small
          dark
         @click="EditItem(i)"
          style='margin-right:5px'>
          <v-icon>mdi-pencil</v-icon>
          </v-btn>
             <v-btn
            color="error"
            fab
            small
            dark
            @click="DeleteItem(i)">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-dialog v-model="DeleteConfirmation_ReceiptDetails" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; bReceipt-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_ReceiptDetails = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteItem">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
          </v-col>
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
          </v-col>
        </v-row>

        <!-- <div class="d-flex">
          <v-btn color="warning"  @click="snackbar = true">
            <v-icon left>mdi-close</v-icon>close</v-btn> -->
            <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

    <v-dialog v-model="PrintModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
            <v-select
             v-model="Papersize"
              :items="PapersizeOptions"
              label="Select print format"
              item-value="text"
            ></v-select>

          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="PrintCancel"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="PrintReceipt()"
            >
              Print
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_Receipt" persistent max-width="300">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="error"
        v-bind="attrs"
          v-on="on"
          v-if="isDeletePermission"
        >
        <v-icon left>mdi-delete</v-icon>Delete</v-btn>
      </template>
      <v-card>
        <v-card-title style="font-size: 15px; bReceipt-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete Receipt?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Receipt = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteReceipt">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
          <!-- <v-spacer></v-spacer>
           <v-dialog v-model="DeleteConfirmation_Receipt" persistent max-width="300">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
        color="error"
        v-bind="attrs"
          v-on="on"
          v-if="isDeletePermission"
        >
        <v-icon left>mdi-delete</v-icon>Delete</v-btn>
      </template>
      <v-card>
        <v-card-title style="font-size: 15px; bReceipt-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to delete Receipt?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Receipt = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteReceipt">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
           <v-spacer></v-spacer>
            <v-btn color="primary" @click="PrintReceipt" v-if="isPrint"><v-icon left >fa fa-print</v-icon>Print</v-btn>
           <v-spacer></v-spacer>
           <v-btn color="success" @click="SaveReceipt" v-if="isReadPermission"><v-icon left>fas fa-save</v-icon>Save</v-btn>
        </div> -->

      </v-form>
    </v-card-text>

    <fab
   :padding="fab.padding"
   :icon-size="fab.iconsize"
    :z-index="fab.zindex"
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   @ClearReceipt="ClearReceipt"
   @SaveReceipt="SaveReceipt"
   @DeleteReceipt="DeleteReceipt"
   @Print="Print"
></fab>
  </v-card>
  <ReceivedBy/>
   <CashBankLedgerName/>
  </div>

</div>
</template>

<script>
import axios from 'axios'
import de from '../../translations/de'
import ReceivedBy from '../../pages/ApiServices/ReceivedBy'
import CashBankLedgerName from '../../pages/ApiServices/CashBankLedgerName'
import { mapMutations, mapState } from 'vuex'
import fab from 'vue-fab'
import dateBirthdayVue from '../ui/components/_examples/date-pickers/intermediate/date-birthday.vue'
export default {
  components: {
    fab,ReceivedBy,CashBankLedgerName
  },
  data: () => ({
    right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
    ReceiptObject : [],
    dialog: false,
    BarcodeModal: false,
    DeleteConfirmation_ReceiptDetails: false,
    DeleteConfirmation_Receipt: false,
    PrintModal : false,
    menu: false,
    menu1: false,
    gender: 'male',
    items: [
      { title: 'Print',icon: 'mdi-printer' },
      { title: 'Delete',icon:'mdi-delete' },
      { title: 'Close',icon: 'mdi-close' }
    ],
    fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearReceipt',
          icon: 'cached',
          tooltip:'Clear'
        },

        {
          name: 'DeleteReceipt',
          icon: 'delete',
          tooltip:'Delete'
        },
        {
          name: 'Print',
          icon: 'print',
          tooltip:'Print'
        },
        {
          name: 'SaveReceipt',
          icon: 'save',
          tooltip:'Save'
        }
      ]
    },
    Priority: 'false',
    apiurl : '',
    Editid : 0,
    IsUpdate : false,
    itemUnits : [],
    Receipt_for_Edit : {},
    obj_for_item : {},
    executed : false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    isPrint : false,
    IsSave : true,
    isItemUpadate : false,
    IsReceiptSaved : false,
    IsLastDrLedgerRate : false,
    VoucherNo : window.localStorage.getItem('ReceiptNo'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    ReceiptDate : new Date().toISOString().substr(0, 10),
    EffectiveDate : new Date().toISOString().substr(0, 10),
    ReceivedByOptions : JSON.parse( localStorage.getItem('ReceivedBy') ),
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    CurrencyOptions : JSON.parse( localStorage.getItem('Currency') ),
    ProjectOptions : [],
    DrLedgerOptions : [],
    CrLedgerOptions : [],
    Receiptdetail : {},
    ReceiptDetails : [],
    Executed  : false,
    ReceiptNo: '',
    IsReceiptNOShow : false,
    EditId : -1,
    DeleteId : -1,
    IsItemUpdate :false,
    Papersize : '',
    PapersizeOptions: ['A4', 'A5', '80MM Roll'],
    ItemDescriptionOptions : [],
    ReceiptTotal : 0,
    TotalItems : 0,
    IsMultiBarnch : false,
    IsReceivedByShow : false,
    IsMultiCurrency : false,
    IsBankLedger : false,
    IsBillWase : false,
    AmountToPay : 0

  }),
  watch: {
    menu (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    menu1 (val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = 'YEAR'))
    }
  },
  mounted()
  {

    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
      localStorage.clear()
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.Executed = false
    this.BasicSettings()
    this.SetPermission()
    /*  while ( this.Executed === false)
    {
      console.log('excecuting')
    } */

  },
  methods: {
    BasicSettings()
    {
      this.Papersize = 'A4'

      this.IsReceivedBy = localStorage.getItem('salePerson')
      if (this.IsReceivedBy !== '')
        this.ReceiptObject.ReceivedBy = this.IsReceivedBy

      this.BranchCode = localStorage.getItem('BranchCode')
      if (this.BranchCode !== '#' || this.BranchCode !== '')
        this.ReceiptObject.BranchCode = this.BranchCode
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
      this.BranchCode = this.BranchCode ? this.BranchCode : 'All'
      this.Call_ledger(this.BranchCode)

      this.PrimaryCurrency = localStorage.getItem('PrimaryCurrency')
      if (this.PrimaryCurrency !== '#' || this.PrimaryCurrency !== '')
        this.ReceiptObject.Currency = this.PrimaryCurrency
      this.CurrencyLength = this.CurrencyOptions.length
      if (this.CurrencyLength > 1)
        this.IsMultiCurrency = true

      this.ToAccounObject =  JSON.parse( localStorage.getItem('CashBankLedgerNames'))
      for (this.i = 0; this.i < this.ToAccounObject.length; this.i ++)
      {
        this.DrLedgerOptions.push(this.ToAccounObject[this.i].LedgerName)
      }

      /* (function (global) {
        if (typeof (global) === 'undefined')
        {
          throw new Error('window is undefined')
        }

        this._hash = '!'
        this.noBackPlease = function () {
          global.location.href += '#  '
          // making sure we have the fruit available for juice....
          // 50 milliseconds for just once do not cost much (^__^)
          global.setTimeout(function () {
            global.location.href += '!'
          }, 50)
        }
        global.location.hash = _hash
        // Earlier we had setInerval here....
        global.onhashchange = function () {
          if (global.location.hash !== _hash) {
            global.location.hash = _hash
          }
        }

        global.onload = function () {
          this.noBackPlease()

          // disables backspace on page except on input fields and textarea..
          document.body.onload = function (e) {
            this.elm = e.target.nodeName.toLowerCase()
            if (e.which === 8 && (elm !== 'body' && elm  !== 'textarea')) {
              e.preventDefault()
            }
            // stopping event bubbling up the DOM tree..
            e.stopPropagation()
          }

        }

      })(window) */
    },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    SetPermission()
    {
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmReceipt')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

          if (this.VoucherNo === null )
          {
            this.IsHoldingReceipt = localStorage.getItem('IsHoldingReceipt')
            this.HoldingReceiptObject = localStorage.getItem('ReceiptObject')
            if (this.IsHoldingReceipt !== null)
            {
              this.ReceiptObject =  JSON.parse(this.ReceiptObject)
            }
            if (this.IsHoldingReceipt === 'true')
            {
              AssignObject(this.ReceiptObject)
            }
            this.isPrint = false
            this.IsReceivedByShow = false
          }
          else
          {
            localStorage.setItem('ReceiptNoForPrint',this.VoucherNo)
            if (this.isReadPermission === false)
            {
              this.$router.push('/dashboard/receipt_reg')
            }
            else if (this.isUpdatePermission === false)
            {
              this.isCreatePermission = false
            }
            this.isPrint = true
            this.IsReceivedByShow = false
            this.GetReceipt()
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetReceipt()
    {
      axios.get ( this.bURL + 'Receipt/' + this.VoucherNo)
        .then((response)  =>  {
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(obj)
    {
      this.ReceiptNo = obj.VoucherNo
      this.ReceiptObject.ReferNo = obj.ReferNo
      this.ReceiptObject.BranchCode = obj.BranchCode
      this.Call_ledger(obj.BranchCode)
      this.ReceiptDate = obj.VoucherDate
      this.ReceiptObject.DrLedger = obj.DrLedger
      this.ReceiptObject.Description = obj.Description
      this.ReceiptObject.Currency = obj.Currency
      this.ReceiptObject.ProjectName = obj.ProjectName
      this.ReceiptObject.ReceivedBy = obj.ReceivedBy
      this.ReceiptDetails = obj.ReceiptDetails

      this.CustomerCount = 0
      this.firstCus = ''
      for (this.i = 0;this.i < this.ReceiptDetails.length;this.i ++ )
      {
        if (this.ReceiptDetails[this.i].IsCustomer === true)
        {
          this.firstCus = this.ReceiptDetails[this.i].CrLedger
          break
        }
      }
      for (this.i = 0;this.i < this.ReceiptDetails.length;this.i ++ )
      {
        if (this.ReceiptDetails[this.i].IsCustomer === true)
        {
          if (this.ReceiptDetails[this.i].CrLedger !== this.firstCus)
          {
            this.CustomerCount += 1
          }

        }
      }
      if (this.CustomerCount > 1)
      {
        this.isUpdatePermission = false
      }
      else {
        this.isUpdatePermission = true
      }
      this.FindLedgerGroupForDetails(this.ReceiptDetails[0].CrLedger)
      this.Receiptdetail.CrLedger = this.ReceiptDetails[0].CrLedger
      this.FindReceiptTotal()
    },
    OpenReceiptDetails()
    {
      this.IsItemUpdate = false
      this.Receiptdetail = {}
      this.Priority = false
      this.dialog = true
    },
    AddItem()
    {
      if (this.Receiptdetail.CrLedger === undefined || this.Receiptdetail.Amount === undefined )
      {
        this.snackbar = true
        this.SnackbarMessege = 'Please select sufficient details'
      }
      else
      {
        this.Receiptdetail.Amount = parseFloat(this.Receiptdetail.Amount)
        this.Receiptdetail.Remarks = this.Receiptdetail.Remarks ? this.Receiptdetail.Remarks : ''
        this.Receiptdetail.ChequeNo = this.Receiptdetail.ChequeNo ? this.Receiptdetail.ChequeNo : ''
        this.Receiptdetail.EffectiveDate = this.EffectiveDate ? this.EffectiveDate : ''
        this.Receiptdetail.BankName = this.Receiptdetail.BankName ? this.Receiptdetail.BankName : ''
        this.IsAdd = false
        if (this.IsBillWase === true)
        {
          this.Receiptdetail.IsCustomer = true
          if (this.ReceiptDetails.length === 0)
          {
            this.isUpdatePermission = true
            this.ReceiptDetails.push(this.Receiptdetail)
          }
          else {
            for (this.i = 0;this.i < this.ReceiptDetails.length;this.i ++)
            {
              if (this.ReceiptDetails[this.i].IsCustomer === true)
              {
                if (this.ReceiptDetails[this.i].CrLedger === this.Receiptdetail.CrLedger)
                {
                  this.IsAdd = true
                }
                else {
                  this.IsAdd = false
                }

              }
              else {
                this.IsAdd = true
              }
            }
            if (this.IsAdd === true)
            {
              this.isUpdatePermission = true
              this.ReceiptDetails.push(this.Receiptdetail)
            }
            else {
              this.SnackbarMessege = 'You cant add more customers'
              this.snackbar = true

            }
          }
        }
        else
        {
          this.isUpdatePermission = true
          this.Receiptdetail.IsCustomer = false
          this.ReceiptDetails.push(this.Receiptdetail)
        }
        this.Receiptdetail = {}
        this.dialog = false
        this.FindReceiptTotal()
      }

    },
    EditItem(pos)
    {
      this.IsItemUpdate = true
      this.EditId = pos
      this.dialog = true
      this.Receiptdetail = this.ReceiptDetails[pos]
      this.FindLedgerGroupForDetails(this.ReceiptDetails[pos].CrLedger)

    },
    UpdateItem()
    {
      this.CusCount = 0
      if (this.IsBillWase === true)
      {
        for (this.i = 0;this.i < this.ReceiptDetails.length;this.i ++)
        {
          if (this.ReceiptDetails[this.i].IsCustomer === true)
          {
            this.CusCount += 1
          }
        }
        this.newCus = this.Receiptdetail.CrLedger
        if (this.ReceiptDetails[0].CrLedger === this.newCus)
        {
          this.ReceiptDetails[this.Editid].IsCustomer = true
          this.UpdateExicution(this.ReceiptDetails[this.Editid].IsCustomer)
        }
        else {
          if (this.CusCount === 1)
          {
            this.ReceiptDetails[Editid].IsCustomer = false
            this.UpdateExicution(this.ReceiptDetails[this.Editid].IsCustomer)
          }
          else {
            this.SnackbarMessege = 'You cant add more customers'
            this.snackbar = true
          }
        }
      }
      else {
        this.ReceiptDetails[Editid].IsCustomer = false
        this.UpdateExicution(this.ReceiptDetails[this.Editid].IsCustomer)

      }

    },
    UpdateExicution(IsCustomer)
    {
      this.ReceiptDetails[this.EditId].CrLedger = this.Receiptdetail.CrLedger
      this.ReceiptDetails[this.EditId].Amount = parseFloat( this.Receiptdetail.Amount )
      this.ReceiptDetails[this.EditId].Remarks = this.Receiptdetail.Remarks ? this.Receiptdetail.Remarks : ''
      this.ReceiptDetails[this.EditId].EffectiveDate = this.EffectiveDate ? this.EffectiveDate : ''
      this.ReceiptDetails[this.EditId].ChequeNo = this.Receiptdetail.ChequeNo ? this.Receiptdetail.ChequeNo : ''
      this.ReceiptDetails[this.EditId].BankName = this.Receiptdetail.BankName ? this.Receiptdetail.BankName : ''
      this.ReceiptDetails[this.EditId].IsCustomer = IsCustomer

      this.Receiptdetail = {}
      this.dialog = false
      this.FindReceiptTotal()
    },
    CreateObject(IsHold)
    {
      this.obj_for_item =   {
	      'VoucherNo': -1,
        'ReceivedBy': this.ReceiptObject.ReceivedBy,
        'ReferNo': this.ReceiptObject.ReferNo?this.ReceiptObject.ReferNo:'',
	      'DrLedger': this.ReceiptObject.DrLedger,
	      'VoucherDate': this.ReceiptDate,
	      'BranchCode': this.ReceiptObject.BranchCode,
	      'Currency': this.ReceiptObject.Currency,
        'ProjectName': this.ReceiptObject.ProjectName,
	      'Description': this.ReceiptObject.Description ? this.ReceiptObject.Description : ' ' ,
        'Locked': 'N',
	      'PostDated': false,
        'ReceiptDetails' :this.ReceiptDetails,
      }
      if (this.obj_for_item.ReceiptDetails.length > 0)
      {
         this.obj_for_item.ReceiptDetails[0].Collections =  this.ReceiptDetails[0].Collections ?  this.ReceiptDetails[0].Collections : []
      }

      this.obj_for_item.VoucherNo = this.VoucherNo ? this.VoucherNo : -1
      this.IsBillWase = false
      for(this.i = 0; this.i<this.ReceiptDetails.length; this.i++)
      {
         if (this.ReceiptDetails[this.i].IsCustomer===true)
         {
           this.IsBillWase=true
           break
        }
        else
        {
          this.IsBillWase=false
        }

      }
      if (IsHold === true )
      {
        localStorage.setItem('IsHoldingReceipt', true)
        localStorage.setItem('ReceiptObject',this.obj_for_item)

        return null
      }
      else {
        return this.obj_for_item
      }
    },
    Save()
    {
       if (this.VoucherNo === null)
       {
          if (this.isCreatePermission === false)
          {
             this.SnackbarMessege = 'You have no permission'
             this.snackbar = true
          }
          else
          {
             this.SaveReceipt()
          }
       }
       if (this.VoucherNo !== null)
       {
          if (this.isUpdatePermission === false)
          {
             this.SnackbarMessege = 'You have no permission'
             this.snackbar = true
          }
          else
          {
             this.SaveReceipt()
          }
       }
    },
    SaveReceipt()
    {

      this.obj_for_item = this.CreateObject(false)
      if (this.obj_for_item.DrLedger === undefined || this.obj_for_item.VoucherDate === undefined || this.obj_for_item.BranchCode === '' || this.obj_for_item.Currency === '' )
      {
        this.SnackbarMessege = 'Please Enter all details'
        this.snackbar = true

      }
      else if (this.ReceiptDetails.length === 0  )
      {
        this.SnackbarMessege = 'Please Enter Receipt Details'
        this.snackbar = true
      }
      else {
        if (this.IsBillWase === true)
        {
           this.AmountToPay = 0
           for(this.i = 0; this.i<this.ReceiptDetails.length; this.i++)
           {
             this.AmountToPay += this.ReceiptDetails[this.i].Amount
           }
           localStorage.setItem('IsBillWase', this.IsBillWase)
           localStorage.setItem('AmountToPay', this.AmountToPay)
           localStorage.setItem('ReceiptObject' , JSON.stringify(this.obj_for_item))
           this.$router.push('/dashboard/receiptBillwaseAdjustment')
        }
        else
        {
           if (this.VoucherNo === null )
           {
              axios.post(this.bURL + 'Receipt')
                .then((response)  =>  {
                    localStorage.setItem('ReceiptNoForPrint',response.data)
                    this.SnackbarMessege = 'Saved Successfully'
                    this.snackbar = true
                    this.PrintModal = true
               }, (error)  =>  {
                 console.log(error)
              })
           }
           else
           {
              axios.put(this.bURL + 'Receipt/'+this.VoucherNo,this.obj_for_item)
                .then((response)  =>  {
                    localStorage.removeItem('ReceiptNo')
                    localStorage.setItem('ReceiptNoForPrint',this.VoucherNo)
                    this.SnackbarMessege = 'Saved Successfully'
                    this.snackbar = true
                    this.PrintModal = true
               }, (error)  =>  {
                 console.log(error)
              })
           }
        }
      }

    },
    DeleteItem(pos)
    {
      this.DeleteId = pos
      this.DeleteConfirmation_ReceiptDetails = true
    },
    ExecuteDeleteItem()
    {
      this.ReceiptDetails.splice(this.DeleteId,1)
      this.FindReceiptTotal()
      this.DeleteConfirmation_ReceiptDetails = false
    },
    DeleteReceipt()
    {
      if (this.VoucherNo !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_Receipt = true

        }
        else
        {
          this.SnackbarMessege = 'You have no permission'
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = 'No Receipt to delete'
        this.snackbar = true

      }

    },
    ExecuteDeleteReceipt()
    {
      axios.delete( this.bURL + 'Receipt/' + this.VoucherNo)
        .then((response)  =>  {
          this.SnackbarMessege = 'Delete Successfully'
          this.snackbar = true
          localStorage.removeItem('ReceiptNo')
          setTimeout(  this.$router.push('/dashboard/receipt_reg') , 5000)
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetReceiptByReferenceNo(event)
    {
      axios.get(this.bURL + '/Receipt/GetReceiptByReferenceNo?ReferenceNo=' + event)
        .then((response)  =>  {
          if (response.data === '')
          {
            this.error = false
          }
          else {
            this.error = true
            this.ErrorMessege = 'Reference No already exist'
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    FindReceiptTotal()
    {
      this.Total = 0
      for (this.i = 0; this.i < this.ReceiptDetails.length; this.i ++)
      {
        this.Total += this.ReceiptDetails[this.i].Amount

      }
      this.ReceiptTotal = this.Total.toFixed(this.DecimalPlaces)
      this.TotalItems = this.ReceiptDetails.length
    },
    ClearReceipt()
    {
      return
    },
    Call_ledger(brach)
    {
      axios.get(this.bURL + 'ledger/GetReceiptLedgerNames?BranchCode=' + brach)
        .then((response)  =>  {
          this.CrLedgerOptions = response.data

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },
    findLedgerGroup(ledger)
    {
      axios.get(this.bURL + 'Ledger/GetSystemLedgerGroup?LedgerName=' + ledger)
        .then((response)  =>  {
          if (response.data === 'Cash-in-hand')
          {
            this.IsBankLedger = false
          }
          else {
            this.IsBankLedger = true
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },
    FindLedgerGroupForDetails(crLedger)
    {
      this.IsBillWase = false
      axios.get(this.bURL + 'Ledger/GetSystemLedgerGroup?LedgerName=' + crLedger)
        .then((response)  =>  {
          if ( response.data === 'Sundry Debtors')
          {
            this.IsBillWase = true
          }
          else {
            this.IsBillWase = false
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

      return this.IsBillWase

    },
    SetCurrency(currency)
    {
      axios.get(this.bURL + 'Currency/' + currency)
        .then((response)  =>  {
          this.DecimalPlaces = response.data
        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },
    SetDecimalPaces(Amount)
    {
      Amount = parseFloat(Amount)
      this.Receiptdetail.Amount =  Amount.toFixed(this.DecimalPlaces)
    },
    Print()
    {
      this.PrintModal = true
    },
    PrintCancel()
    {
       this.VoucherNo = localStorage.getItem('ReceiptNo')
       if (this.VoucherNo == null)
       {
          localStorage.removeItem('ReceiptNoForPrint')
          location.reload()
       }
       else
       {
         this.PrintModal = true
         localStorage.removeItem('ReceiptNoForPrint')
         this.$router.push('/dashboard/receipt_reg')
       }
    },
    PrintReceipt()
    {
      if (this.VoucherNo !== null)
      {
        axios.get(this.bURL + 'print/Receipt?ReceiptNo=' + this.VoucherNo + '&Papersize=' + this.Papersize)
          .then((response)  =>  {
            this.url = localStorage.getItem("CompanyURL") + response.data
            window.open(this.url, '_blank')
            //window.location.href = this.url
          }, (error)  =>  {
            console.log(error)
          })

      }
      else
      {
        this.SnackbarMessege = 'No Receipt to Print'
        this.snackbar = true
      }

    }
  }
}
</script>

<style lang="scss" scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.ml-3, .mx-3 {
    margin-left: .2rem;
}
.v-application .mx-3 {
    margin-right: 3px !important;
    margin-left: 3px !important;
}
.errMsg{
    color: red;
    font-weight: 500;
}
  /* .v-icon {
    margin-right:10px;
    font-size: 1.3rem;
  } */
   .drawer-button {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }

@media only screen and (max-device-width: 480px) {
         .drawer-button {
  position: fixed;
  top: 590px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
 margin-left: -25px;
}
    }

    /* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
          .drawer-button {
  position: fixed;
  top: 590px;
  right: 30px;
  z-index: 6;
      margin-right: 587px;
  box-shadow: 1px 1px 18px #ee44aa;

}
    }
 @media (min-width:801px)  {
   .drawer-button {
  position: fixed;
  top: 630px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
 @media (min-width:1025px) {
     .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
 @media (min-width:1281px) {
   .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
 }
@media only screen  and (min-width : 1224px) {
  .drawer-button {
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
}  */
.v-expansion-panel-content{
   /* padding: 0 24px 2px; */
  background-color:rgb(0 53 94);
  color: #FFF;
}
</style>
