<template>
    <div style="width: 100%;">
        <div>
       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0 99 145)"
      dark
      @click="right = true"
    >
      <v-icon style="  margin-left: -18px !important;
    font-size: 1.3rem !important;" >mdi-clock</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="320"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-2" >
        <div class="title" style="color:rgb(0 99 145)">{{$t(`menu.RefreshInterval`)}}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider ></v-divider>
      <v-row>
<v-col style="padding-right:22px !important;padding-left:22px !important;padding-top:20px;padding-bottom: 0px">
    <v-text-field
      :label="$t(`menu.TimeIntervalinSeconds`)"
      v-model="refreshtime"
      hide-details="auto"

    ></v-text-field>
    </v-col>
    </v-row>

    <!-- <v-select hidden
       style="margin-top:2em;"

          :items="timer"
          label="Choose Refresh Interval"
          dense
          v-model="refreshtime"
          @change="setintervel()"
        ></v-select> -->
            <v-row>
<v-col style="padding-right:22px !important;padding-left:22px !important;padding-top: 5px;padding-bottom: 15px">
        <label v-if="success" >{{$t(`menu.UpdatedSuccessfully`)}}</label>
</v-col>
            </v-row>

           <v-row>
<v-col style="text-align:right;padding-right:22px !important;padding-top: 15px;padding-bottom: 15px">
              <v-btn
             class="btn btn-primary btn-sm pull-right"
              text
      @click="setintervel()"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
            {{ $t(`common.save`) }}
            </v-btn>
</v-col>
           </v-row>
    </v-navigation-drawer>
     </div>
        <div class="container-fluid" style="overflow:scroll;overflow-x: hidden;max-height:350px; padding-top: 0em;padding-left: 0px;padding-right: 0px;margin-top: -30px;">
      <b-row>

     <v-select
       style="margin-top:2em;"

          :items="users"
          :label="$t(`menu.SelectUser`)"
          dense
          v-model="selecteduser"
        ></v-select>
      </b-row>

    </div>
<div class="slno" >
     <label style="padding-right:35px" :style="color" v-show="time">{{$t(`menu.UpdatedTime`)}} : {{time}}</label>
</div>
        <div id="map" style="width:100%;height:420px;"></div>
    </div>
</template>
<script>
export default {
    data()
    {
        return{
             right: false,
            selecteduser:'',
            users:[],
            bURL: localStorage.getItem("CompanyURL") + '/api/',
            zoomLevel:localStorage.getItem("zoomLevel"),

             center:{
              Lati:10.831439329726912,
              long:76.68330422180638,
              lat:'',
              lng:''
            },
             userinfo:[],
             timer:6000,
             time:'',
              refreshtime:'',
             success:false

        }
    },
     created() {

        const success = (position) => {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;

            // this.POS1.lat = latitude,
            // this.POS1.lng = longitude,

            this.center.lat = latitude,
            this.center.lng = longitude

            this.initMap(this.center.lat,this.center.lng);

            // this.GeoLOC.sort((a, b) => (a.Distance > b.Distance ? 1 : -1));
            // this.list.sort((a, b) => (a.Distance > b.Distance ? 1 : -1));
            // Do something with the position
            // Do something with the position
        };

        const error = (err) => {
            console.log(error)
        };

        // This will open permission popup
        navigator.geolocation.getCurrentPosition(success, error);

    },
     watch:{
      selecteduser(val)
      {
        this.getcurrentlocation(val);

      // sss  // alert(val)

      },

   },
    mounted()
    {

     if(localStorage.getItem("zoomLevel") === null)
     {
       this.zoomLevel = 15
     }else{
        this.zoomLevel = parseInt(localStorage.getItem("zoomLevel"))
     }
        this.getsalesman()
      this.initMap()
    },
    methods:{
         setintervel()
      {
        this.a = this.refreshtime+'000'
         localStorage.setItem("timer",this.a)
        //  this.success = true
         this.right = false
         this.timer = this.a


      },
         getsalesman(){

          this.$server.get(this.bURL +"User/LoadSalespersonUsernames").then(
        (response) => {
          // console.log("userlist"+response.data.geolocation);
          this.users = response.data
        },
        (error) => {
          console.log(error);
        }
      );
    },
  initMap(lat,long) {

      console.log(lat+" "+long)

  const originalMapCenter = new google.maps.LatLng(lat, long);
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom:this.zoomLevel,
    center: originalMapCenter,
  });
  const infowindow = new google.maps.InfoWindow({
    content: "0",
    position: originalMapCenter,
  });
  infowindow.open(map);
  map.addListener("zoom_changed", () => {

      localStorage.setItem("zoomLevel",map.getZoom())
      this.zoomLevel = map.getZoom()
    //    infowindow.setContent("User :" + map.getZoom());
    infowindow.setContent("0");
  });
},

 initMap2(a) {

      console.log(a)
        var str = a;
var arr = str.split(",");
var fst = arr.splice(0,1).join("");
var rest = arr.join(",");
// alert(fst+" "+rest)//
  const originalMapCenter = new google.maps.LatLng(fst, rest);
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom:this.zoomLevel,
    center: originalMapCenter,
  });
  const infowindow = new google.maps.InfoWindow({
    content: "0",
    position: originalMapCenter,
  });
  infowindow.open(map);
  map.addListener("zoom_changed", () => {
      this.zoomLevel = map.getZoom()
    //    infowindow.setContent("User :" + map.getZoom());
    infowindow.setContent("0");
  });
},

 getcurrentlocation(val)
    {

      // this.user = val;
      // alert("user"+val)

        this.$server.get(this.bURL+"user/SelectUserGeoLocation/"+val).then(
        (response) => {

          this.userinfo= []
           this.userinfo.push(response.data.geoLocation)


          if(response.data.geoLocation.lat == 0)
          {

             this.time = "Location not updated yet"
             this.color = 'color:red;'
          }else{
             this.time = response.data.locationUpdateTime.replace('T',' ')
             this.color = 'color:#008000'
             this.interval = setInterval(() =>
             this.checkposition(),
              this.timer);
          }
            //   this.timer);
        //       // this.refreshtime+'000'







        },
        (error) => {
          console.log(error);
        }
      );

    },

    checkposition(){
         this.$server.get(this.bURL +"user/SelectUserGeoLocation/"+this.selecteduser).then(
        (response) => {
          // this.users = response.data
          // console.log(response.data.geoLocation)
          this.userinfo= []
          this.userinfo.push(response.data)



          if(response.data.geoLocation.lat == 0)
          {

             this.time = "Location not updated yet"
             this.color = 'color:red;'
             this.initMap2('12.510482590686339', '70.10781088883084');
          }else{
             this.time = response.data.locationUpdateTime.replace('T',' ')
             this.color = 'color:#008000'
              console.log(response.data.geoLocation.lat+','+response.data.geoLocation.lng);
              this.initMap2(response.data.geoLocation.lat+','+response.data.geoLocation.lng);
            //  this.interval = setInterval(() => this.checkposition(), 1000);


          }




        },
        (error) => {
          console.log(error);
        }
      );

    },
    //method end here
    }
}
</script>
<style lang="css" >
.gm-ui-hover-effect
{
    display: none !important;
}

.gm-style-iw-d
{
    overflow: auto !important;
    color:#d50c0c;
}
.gm-style .gm-style-iw-c {
    /* position: absolute; */
    box-sizing: border-box;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate(-50%,-100%);
    background-color: #d50c0c;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 7px 1px rgb(0 0 0 / 30%);
}

.gm-style .gm-style-iw-t::after {
    background: linear-gradient(
45deg,rgb(213 17 17) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
    box-shadow: -2px 2px 2px 0 rgb(178 178 178 / 40%);
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%) rotate(
-45deg
);
    width: 15px;
}
</style>
<style lang="scss" scoped>
.drawer-button {
  position: fixed;
  top: 120px;
  right: -20px;
  z-index: 6;


  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}



</style>
