<template>
<div class="d-flex  flex-column">
<v-row style="height:250px !important">
  <v-col cols="12" id = "map">

  </v-col>

</v-row>
</div>


</template>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsPFFFpaGSyFYNES0H0TI_svnEqclbczc"></script>
<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import vueSignature from "vue-signature"
 import VueConfetti from 'vue-confetti'
  Vue.use(VueConfetti)
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
       counter: 0,
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       LocationModal:false,
       barcodescannarmodal :false,
achivedmodal:true,
         signature1 : false,
        BarcodeModal:false,
        ReceiptModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      GodownObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteGodown',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearGodown',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveGodown',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 10.7403577,
        lng: 76.0275746
      },
       markers: [
      {
        position: {
          lat: 10.7403577,
          lng: 76.0275746
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat','1','153','541',],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),

    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    ShowInSales:true,
    GodownName:'',
    GodownType :'',
    Description:'',
    BranchCode:'',
     IsNew : true,
    IsUpdate : false,

   AsOnDate: new Date().toISOString().substr(0, 10),
   RouteName : "",
   RouteOptions : [],
   VisitTimeLine:[],
   IsRouteShow: false,


    }
  },
  computed: {
  },
  mounted()
  {
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Godown')
   localStorage.removeItem('VoucherUpdated')

var map = new google.maps.Map(document.getElementById('map'), {
  zoom: 10,
  center: {lat: 10.783060, lng: 76.007988} // London
});

// Create an array of markers
var markers = [
  {lat: 10.783060, lng: 76.007988 ,name: "Edappal", MarkerPosition : "Start"}, // London
  {lat: 10.736288, lng: 76.029037, name: "Changaramkulam", MarkerPosition : "Middle"},
  {lat: 10.695482, lng: 76.091798, name: "Perumbilav", MarkerPosition : "Middle"}, // Paris
  {lat: 10.6515875, lng: 76.07109949999995,name: "Kunnamkulam", MarkerPosition : "End"} // Rome
];

for (var i = 0; i < markers.length; i++) {
       var marker = new google.maps.Marker({
         position: markers[i],
         map: map,
         title: markers[i].name,
         icon: markers[i].MarkerPosition=== "Start" ? "http://maps.google.com/mapfiles/dd-start.png" : (markers[i].MarkerPosition === "End"?  "http://maps.google.com/mapfiles/dd-end.png": "http://maps.google.com/mapfiles/pink-circle.png")
       });
     }

// Set the start and end locations for the route
var start = markers[0];
var end = markers[markers.length - 1];

// Set any waypoints
var waypoints = [];
for (var i = 1; i < markers.length - 1; i++) {
  waypoints.push({
    location: markers[i],
    stopover: true
  });
}

// Use the Directions API to get the route
var directionsService = new google.maps.DirectionsService();
directionsService.route({
  origin: start,
  destination: end,
  waypoints: waypoints,
  travelMode: 'DRIVING'
}, function(response, status) {
  if (status === 'OK') {
    // Get the polyline points
    var points = response.routes[0].overview_polyline;

    // Create a polyline object
    var polyline = new google.maps.Polyline({
      path: google.maps.geometry.encoding.decodePath(points),
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2
    });

    // Add the polyline to the map
    polyline.setMap(map);
  } else {
    window.alert('Directions request failed due to ' + status);
  }
});

// Add the markers to the map
for (var i = 0; i < markers.length; i++) {
  new google.maps.Marker({
    position: markers[i],
    map: map
  });
}


for (var i = 0; i < markers.length; i++) {
       var marker = new google.maps.Marker({
         position: markers[i],
         map: map,
         title: markers[i].name,
         icon: markers[i].MarkerPosition=== "Start" ? "http://maps.google.com/mapfiles/dd-start.png" : (markers[i].MarkerPosition === "End"?  "http://maps.google.com/mapfiles/dd-end.png": "http://maps.google.com/mapfiles/pink-circle.png")
       });
     }













  },
  methods:
  {
      nearby() {
      this.$router.push("/dashboard/map");
    },
    tovisited() {
      this.$router.push("/ui/maps/google-maps");
    },
    visited() {
      this.$router.push("/ui/maps/google-visited");
    },
    skipped() {
      this.$router.push("/ui/maps/google-skipped");
    },
   RouteTimeLine() {
      this.$router.push("/dashboard/RouteTimeLine");
    },
    start() {
        this.$confetti.start({
  particles: [
    {
      type: 'heart',
      colors: [
        'rgb(255,215,0)',
        'rgb(0 150 199)',
        'rgb(0, 53, 94)'
      ],
    },


  ],
  defaultDropRate: 10,
  defaultSize: 10,
});
      },

      stop() {
        this.$confetti.stop();
      },

      love() {
        this.$confetti.update({
          particles: [
            {
              type: 'heart',
            },
            {
              type: 'circle',
            },
          ],
          defaultColors: [
            'red',
            'pink',
            '#ba0000'
          ],
        });
      },
funcao(){
      alert("Sou uma funcao");
    },
    SetAsOnDate(date)
    {
      this.$refs.menu.save(date)
      this.GetVisitTimeLine()
    },
  GetVisitTimeLine()
  {

    this.RouteId = -1
    if(this.RouteName !== "")
    {
        for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
        {
            if(this.RouteName === this.LinkedRoutes[this.i].RouteName)
            {
                this.RouteId = this.LinkedRoutes[this.i].RouteID
                break
            }
        }
    }
     this.VisitTimeLine = []
     this.bURL = localStorage.getItem("CompanyURL")+"/api/";

      axios.get(this.bURL + "Route/SelectVisitTimeline?DateFrom="+this.AsOnDate + "&DateTo=" + this.AsOnDate +"&RouteId=" + this.RouteId).then(
        response => {

          this.res = response.data
          for(this.i=0;this.i<this.res.length;this.i++)
          {
             this.res[this.i].LocName = "No Location"
             this.res[this.i].VoucherTime = this.SetVoucherTime(this.res[this.i].Date)
          }

          this.GetStartPlaceName()

        },
         (error)  =>  {

          this.error = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = "Check your internet connection,then try again!"
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = "Failed"
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = "Check your internet connection,then try again!"
           }
          this.snackbar = true
        })
  },
   SetVoucherTime(Value)
    {
      this.Date =  new Date(Value)
      this.Hr =  this.Date.getHours()
      this.Min =  this.Date.getMinutes();
      this.ampm =  this.Hr >= 12 ? 'PM' : 'AM';
      this.Hr = this.Hr % 12;
      this.Hr = this.Hr ? this.Hr : 12; // the hour '0' should be '12'
      this.Min = this.Min < 10 ? '0'+this.Min : this.Min;
      this.VoucherTime  = this.Hr +  ":"  + this.Min + "   " + this.ampm
      return this.VoucherTime
    },
    GetStartPlaceName()
    {
        for(this.i=0;this.i<this.res.length;this.i++)
        {
            this.SetStartPlaceName(this.res[this.i].Lat,this.res[this.i].Lng,this.i)
            break

        }
    },
    SetStartPlaceName(lat,lng,index)
    {
      console.log(lat+"  "+lng+"  "+index)

      axios.get('https://maps.googleapis.com/maps/api/geocode/json?latlng='+lat+',' + lng + '&key=AIzaSyCsPFFFpaGSyFYNES0H0TI_svnEqclbczc')
        .then((response)  =>  {

          if(response.data.results.length > 0)
          {
            this.locName = []
            this.result = response.data.results[1].address_components
            console.log(this.result)

             for(this.i=0;this.i<this.result.length;this.i++)
             {
              console.log(this.i)

              console.log(this.result[this.i])
                for(this.j=0;this.j<this.result[this.i].types.length;this.j++)
                {
                  console.log(this.result[this.i].types)

                  console.log(this.result[this.i].types[this.j] )

                   if(this.result[this.i].types[this.j] === "route" ||
                   this.result[this.i].types[this.j] === "locality" ||
                   this.result[this.i].types[this.j] === "political" ||
                   this.result[this.i].types[this.j] === "sublocality" )
                   {
                    if(this.locName.includes(this.result[this.i].long_name) === false)
                    {
                        this.locName.push(this.result[this.i].long_name)
                    }

                   }
                }

             }

              this.res[index].LocName = this.locName.join(",")

          }
          this.VisitTimeLine.push(this.res[index])
          this.res.splice(index,1)
          console.log(this.res)

           this.GetStartPlaceName()
        }, (error)  =>  {
          console.log(error)
        })
    },
    OpenLocationModal(item)
    {
       this.markers.position ={
          lat: item.Lat,
          lng: item.Lng
        }
        this.center= {
           lat: item.Lat,
          lng: item.Lng
        }
        this.LocationModal = true
    }


  }
}
</script>

<style lang="scss" scoped>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.v-timeline-item__divider {
    position: relative;
    min-width: 96px;
    display: flex;
    align-items: top;
    justify-content: center;
}
.v-application--is-ltr .v-timeline--dense:not(.v-timeline--reverse):before {
    background-color: rgb(0 0 0 / 4%);
}
.theme--light.v-timeline::before {
     background-color: rgb(0 0 0 / 4% ) !important;
}
.v-timeline-item {
    display: flex;
    padding-bottom: 17px;
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.mdi-bus::before {
    content: "\F00E7";
    font-size: 19px !important;
}
.v-timeline-item__dot {
  height: 26px;
    width: 26px;
}
.v-timeline-item__dot--small {
    height: 15px;
    left: calc(50% - 12px);
    width: 15px;
}

.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Godowns {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Godowns {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}
.v-text-field.v-text-field--solo .v-input__control{
    min-height: 10px;
}
.vdialognew  {
    border-radius: 0px;
    margin: 0px;
    overflow-y: none;
    pointer-events: auto;
     transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    box-shadow: none;
}
.gm-style-iw {
  z-index: 1000;
}
</style>
