<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">   
    <v-container style="padding: 0px !important;">
      <v-row>
        <v-col cols="6" sm="6" md="6" class="no-p" color="red">
          <v-text-field v-model="form.salesnumber"  label="Sales Number"></v-text-field>
        </v-col>
        <v-col cols="6" sm="6" md="6" class="no-p">
        <v-text-field v-model="form.invoicenumber"  label="Invoice Number"></v-text-field>
          </v-col>
          </v-row>
          <v-row>
        <v-col cols="6" sm="6" md="6" class="no-p" >
        <v-autocomplete v-model="form.branch" :items="branches"  :label="$t(`menu.BranchCode`)" placeholder="Select..." ></v-autocomplete>
          </v-col>
          <v-col cols="6" sm="6" md="6" class="no-p" color="red">
              <v-text-field  :label="$t(`dashboard.Date`)"  v-model="form.dtpicker" type="date" ></v-text-field>
          

         
        </v-col>
      </v-row>
      <v-row>
          <v-col cols="12" sm="12" md="12" class="no-p" >
            <v-row>
                <v-col cols="10" sm="10" md="10" class="no-p" style="padding-right: 0px;" >
                    <label>Customer</label>
                <vu-select:label="$t(`menu.Customer`)" :options="customers" v-model="form.customer" placeholder="-- Choose --"></vu-select>
                </v-col>
                 <v-col cols="1" sm="1" md="1" class="no-p" >
                      <label style="color:#fff0;">**</label>
                     <v-icon style="background:#00000085; padding:5px;color:#fff">fas fa-user</v-icon>
                 </v-col>
                
            </v-row>
          </v-col>
       
      </v-row>
    </v-container>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);

export default {
     components: { vSelect },
  data() {
    return {
          opt:['Canada', 'United States','Afghanistan','Albania','Algeria','Andorra','Angola'],
        form:{
         salesnumber:'',
         invoicenumber:'AHP/964/20',
         branch:'',
         dtpicker: new Date().toISOString().substr(0, 10),
         customer:''
        },
        branches:['Mb','Tb'],
        customers:['Mb','Tb'],
        
     
    }
  },
  methods: {

      open(){
          alert("aa")
      }
  }
}
</script>
<style scoped>
.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

</style>