<template>
  <v-app>
    <!-- Layout component -->
    <component
      :is="currentLayout"
      v-if="isRouterLoaded"
      style="padding-bottom:2em; overflow:scroll';"
    >
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </component>

    <v-snackbar
      v-model="toast.show"
      :timeout="toast.timeout"
      :color="toast.color"
      bottom
    >
      {{ toast.message }}
      <v-btn
        v-if="toast.timeout === 0"
        color="white"
        text
        @click="toast.show = false"
        >{{ $t("common.close") }}</v-btn
      >
    </v-snackbar>

    <v-bottom-sheet v-model="sheet" v-show="currentLayout != 'authLayout'">
      <v-sheet
        class="text-center"
        style="height: 100%;max-height:350px;overflow:scroll;"
      >
        <!-- <v-btn
          class="mt-6"
          text
          color="red"
          @click="sheet = !sheet"
        >close</v-btn> -->
        <div class="" style="height:100%;">
          <v-container
            class="grey lighten-5"
            style="padding-bottom: 57px;padding-top: 0px;"
          >
            <v-row no-gutters>
              <v-col
                cols="3"
                sm="3"
                style="padding-top:5px;"
                @click="DeliveryDateModal = true"
              >
                <v-card class="text-center" outlined tile>
                  <!-- <img src="/images/sheet/order.png" class="img-reponsive" style="    width: 80px"> -->
                  <v-icon>mdi-chart-box</v-icon>
                  <h5 style="font-size: 0.75rem;">
                    {{ $t(`dashboard.TotalOrders`) }}
                  </h5>
                </v-card>
              </v-col>
              <v-col
                cols="3"
                sm="3"
                style="padding-top:5px;"
                @click="barcodescannarmodal = true"
              >
                <v-card class="text-center" outlined tile>
                  <v-icon>mdi-barcode</v-icon>
                  <h5 style="font-size: 0.75rem;">
                    {{ $t(`dashboard.Scanner`) }}
                  </h5>
                </v-card>
              </v-col>

              <!-- <v-col cols="3"  sm="3" style="padding-top:5px;" @click="GetAllocatedPrint"> -->
              <v-col
                cols="3"
                sm="3"
                style="padding-top:5px;"
                @click="ShowGodownModal('Allocation')"
              >
                <v-card class="text-center" outlined tile>
                  <v-icon>mdi-tournament</v-icon>
                  <h5 style="font-size: 0.75rem;">
                    {{ $t(`dashboard.Allocation`) }}
                  </h5>
                </v-card>
              </v-col>
              <v-col
                cols="3"
                sm="3"
                style="padding-top:5px;"
                @click="ShowGodownModal('Stock')"
              >
                <v-card class="text-center" outlined tile>
                  <v-icon>mdi-stocking</v-icon>
                  <h5 style="font-size: 0.75rem;">
                    {{ $t(`dashboard.Stock`) }}
                  </h5>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-sheet>
    </v-bottom-sheet>

    <v-bottom-navigation
      style="z-index:99999 !important;"
      color="primary"
      v-show="currentLayout != 'authLayout'"
      fixed
      grow
      v-if="scroll"
    >
      <v-btn @click="OpenDashboard()">
        <!-- @click="dash" -->
        <span>{{ $t(`dashboard.Home`) }}</span>

        <v-icon>mdi-home</v-icon>
      </v-btn>

      <v-btn @click="OpenRouteMap()">
        <!-- <v-btn @click="nav"> -->
        <span> {{ $t(`dashboard.RouteMap`) }}</span>

        <v-icon>mdi-map-marker</v-icon>
      </v-btn>
      <v-btn @click="OpenSales()">
        <!-- <v-btn  @click="GetSales"> -->
        <span> {{ $t(`dashboard.sale`) }}</span>

        <v-icon>mdi-domain</v-icon>
      </v-btn>
      <v-btn @click="OpenOrder()">
        <!-- <v-btn @click="GetOrder()"> -->
        <span>{{ $t(`dashboard.Order`) }}</span>

        <v-icon>mdi-book-edit</v-icon>
      </v-btn>
      <v-btn @click="sheet = true">
        <span>{{ $t(`dashboard.more`) }}</span>

        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-bottom-navigation>
    <v-dialog v-model="leavepage" persistent max-width="400">
      <template> </template>
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;"> </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;"
              >
                <label style="color:rgb(0 99 145);font-size:15px;"
                  ><b
                    >{{ $t(`menu.Areyousureyouwanttoleavethispage`) }}
                  </b></label
                >
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            @click="leavepage = false"
            style="background-color:#FB8C00;color:#FFF"
          >
            {{ $t(`common.cancel`) }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            @click="dash()"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`menu.Yes`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- RouteMap modal start -->
    <v-dialog v-model="RouteMap" persistent max-width="400">
      <template> </template>
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;"> </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;"
              >
                <label style="color:rgb(0 99 145);font-size:15px;"
                  ><b
                    >{{ $t(`menu.Areyousureyouwanttoleavethispage`) }}
                  </b></label
                >
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            @click="RouteMap = false"
            style="background-color:#FB8C00;color:#FFF"
          >
            {{ $t(`common.cancel`) }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            @click="nav()"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`menu.Yes`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- RouteMap modal end -->
    <!-- Salesleavepage modal start -->
    <v-dialog v-model="Salesleavepage" persistent max-width="400">
      <template> </template>
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;"> </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;"
              >
                <label style="color:rgb(0 99 145);font-size:15px;"
                  ><b
                    >{{ $t(`menu.Areyousureyouwanttoleavethispage`) }}
                  </b></label
                >
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            @click="Salesleavepage = false"
            style="background-color:#FB8C00;color:#FFF"
          >
            {{ $t(`common.cancel`) }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            @click="GetSales()"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`menu.Yes`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Salesleavepage modal end -->
    <!-- Orderleavepage modal start -->
    <v-dialog v-model="Orderleavepage" persistent max-width="400">
      <template> </template>
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;"> </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;"
              >
                <label style="color:rgb(0 99 145);font-size:15px;"
                  ><b
                    >{{ $t(`menu.Areyousureyouwanttoleavethispage`) }}
                  </b></label
                >
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            @click="Orderleavepage = false"
            style="background-color:#FB8C00;color:#FFF"
          >
            {{ $t(`common.cancel`) }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            @click="GetOrder()"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`menu.Yes`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Orderleavepage modal end -->

    <!-- Godownmodal start here -->
    <v-dialog
      v-model="Godownmodal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              style="color:rgb(0 99 145);font-size:17px;text-align:center;padding-bottom: 2px;padding-top: 12px;"
            >
              <b>Godowns</b>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              style="    padding-bottom: 0px;
    padding-top: 7px;
    margin-bottom: -9px;"
            >
              <v-divider></v-divider>
            </v-col>
          </v-row>

          <!-- <div
            class="card  text-white"
            style="background-color:#757575;font-size: 14.3px;width:100%"
          >
            <div
              class="card-body"
              style="padding-top: .65rem;padding-bottom:.65rem;padding-right:0px;padding-left:0px"
            >
              <div
                class=" col-sm-12"
                style="padding-bottom:1px;padding-top: 1px; !importent;padding-right:2px !important;padding-left:2px !important;margin-left: 7px !important;"
              >
                <div
                  class="custom-control custom-radio custom-control-inline"
                  @click="ShowGodown"
                >
                  <input
                    id="customRadioInline1"
                    type="radio"
                    name="customRadioInline1"
                    class="custom-control-input "
                    checked="checked"
                  />
                  <label class="custom-control-label" for="customRadioInline1"
                    >Godown</label
                  >
                </div>
                <div
                  class="custom-control custom-radio custom-control-inline"
                  @click="ShowDamageGodown"
                >
                  <input
                    id="customRadioInline2"
                    type="radio"
                    name="customRadioInline1"
                    class="custom-control-input"
                  />
                  <label class="custom-control-label" for="customRadioInline2"
                    >Damaged Godown</label>
                </div>
              </div>
            </div>
          </div> -->

          <v-radio-group v-model="row" row mandatory>
            <v-radio
              label="Godown"
              value="radio-1"
              @click="ShowGodown"
            ></v-radio>
            <v-radio
              label="Damaged Godown"
              value="radio-2"
              @click="ShowDamageGodown"
            ></v-radio>
          </v-radio-group>

          <div v-if="IsFreshGodown">
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;margin-top: -11px !important;"
              >
                <v-autocomplete
                  v-model="selectedGodown"
                  :items="GodownOptions"
                  :label="$t(`dashboard.all`)"
                  multiple
                  outlined
                  dense
                  clearable
                  style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
                >
                  <template v-slot:prepend-item>
                    <v-list-item ripple @click="toggleGodown">
                      <v-list-item-action>
                        <v-icon
                          :color="
                            selectedGodown.length > 0 ? 'indigo darken-4' : ''
                          "
                          >{{ iconGodown }}</v-icon
                        >
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>{{
                          $t(`dashboard.SelectAll`)
                        }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider class="mt-2"></v-divider>
                  </template>
                  <template v-slot:append-item>
                    <v-divider class="mb-2"></v-divider>
                    <v-list-item disabled>
                      <v-list-item-avatar color="grey lighten-3">
                        <v-icon>mdi-account</v-icon>
                      </v-list-item-avatar>

                      <v-list-item-content v-if="likesAllGodown">
                        <v-list-item-title>{{
                          $t(`dashboard.SelectedallGodown`)
                        }}</v-list-item-title>
                        <v-list-item-subtitle
                          >{{ $t(`dashboard.GodownCount`) }} :{{
                            selectedGodown.length
                          }}</v-list-item-subtitle
                        >
                      </v-list-item-content>

                      <v-list-item-content v-else-if="likesSomeGodown">
                        <v-list-item-title>{{
                          $t(`dashboard.GodownCount`)
                        }}</v-list-item-title>
                        <v-list-item-subtitle>{{
                          selectedGodown.length
                        }}</v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-content v-else>
                        <v-list-item-title> </v-list-item-title>
                        <v-list-item-subtitle>
                          {{ $t(`dashboard.Goaheadmakeaselectionabove`) }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-col>

              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;"
                v-if="IsAdmin"
              >
                <v-select
                  :items="CostingMethodOptions"
                  v-model="CostingMethod"
                  name="category"
                  v-validate="'required'"
                  item-text="name"
                  :label="$t(`dashboard.CostingMethod`)"
                  style="padding-top:.8em;"
                />
              </v-col>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;"
              >
                <v-autocomplete
                  v-model="Papersize"
                  :items="PapersizeOptions"
                  :label="$t(`menu.Selectprintformat`)"
                  item-value="text"
                  @change="SetDefaultPapersize($event)"
                ></v-autocomplete>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                cols="6"
                md="6"
                sm="6"
                class="buttonc"
                style="padding-top:4px !important; padding-bottom:0px !important;"
              >
                <v-btn
                  small
                  style="background-color:#FB8C00;color:#FFF"
                  @click="Godownmodal = false"
                >
                  {{ $t(`dashboard.Cancel`) }}
                </v-btn>
              </v-col>
              <v-col
                cols="6"
                md="6"
                sm="6"
                class="buttono"
                style="padding-top:4px !important; padding-bottom:0px !important;"
              >
                <v-btn
                  :loading="isLoading"
                  :disabled="isSignInDisabled"
                  small
                  text
                  @click="ExecuteGodownFunction"
                  style="background-color:#2E7D32;color:#FFF"
                >
                  {{ $t(`dashboard.ok`) }}
                </v-btn>
              </v-col>
            </v-row>
          </div>

          <div v-if="IsDamageGodown">
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;margin-top: -11px !important;"
              >
                <v-autocomplete
                  v-model="selectedDamageGodown"
                  :items="DamageGodownOptions"
                  :label="$t(`dashboard.all`)"
                  multiple
                  outlined
                  dense
                  clearable
                  style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
                >
                  <template v-slot:prepend-item>
                    <v-list-item ripple @click="toggleDamageGodown">
                      <v-list-item-action>
                        <v-icon
                          :color="
                            selectedDamageGodown.length > 0
                              ? 'indigo darken-4'
                              : ''
                          "
                          >{{ iconDamageGodown }}</v-icon
                        >
                      </v-list-item-action>
                      <v-list-item-content>
                        <v-list-item-title>{{
                          $t(`dashboard.SelectAll`)
                        }}</v-list-item-title>
                      </v-list-item-content>
                    </v-list-item>
                    <v-divider class="mt-2"></v-divider>
                  </template>
                  <template v-slot:append-item>
                    <v-divider class="mb-2"></v-divider>
                    <v-list-item disabled>
                      <v-list-item-avatar color="grey lighten-3">
                        <v-icon>mdi-account</v-icon>
                      </v-list-item-avatar>

                      <v-list-item-content v-if="likesAllDamageGodown">
                        <v-list-item-title>{{
                          $t(`dashboard.SelectedallDamageGodown`)
                        }}</v-list-item-title>
                        <v-list-item-subtitle
                          >{{ $t(`dashboard.DamageGodownCount`) }} :{{
                            selectedDamageGodown.length
                          }}</v-list-item-subtitle
                        >
                      </v-list-item-content>

                      <v-list-item-content v-else-if="likesSomeDamageGodown">
                        <v-list-item-title>{{
                          $t(`dashboard.DamageGodownCount`)
                        }}</v-list-item-title>
                        <v-list-item-subtitle>{{
                          selectedDamageGodown.length
                        }}</v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-content v-else>
                        <v-list-item-title> </v-list-item-title>
                        <v-list-item-subtitle>
                          {{ $t(`dashboard.Goaheadmakeaselectionabove`) }}
                        </v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>
                  </template>
                </v-autocomplete>
              </v-col>

              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;"
                v-if="IsAdmin"
              >
                <v-select
                  :items="CostingMethodOptions"
                  v-model="CostingMethod"
                  name="category"
                  v-validate="'required'"
                  item-text="name"
                  :label="$t(`dashboard.CostingMethod`)"
                  style="padding-top:.8em;"
                />
              </v-col>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-top:0px;padding-bottom:0px;"
              >
                <v-autocomplete
                  v-model="Papersize"
                  :items="PapersizeOptions"
                  :label="$t(`menu.Selectprintformat`)"
                  item-value="text"
                  @change="SetDefaultPapersize($event)"
                ></v-autocomplete>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                cols="6"
                md="6"
                sm="6"
                class="buttonc"
                style="padding-top:4px !important; padding-bottom:0px !important;"
              >
                <v-btn
                  small
                  style="background-color:#FB8C00;color:#FFF"
                  @click="Godownmodal = false"
                >
                  {{ $t(`dashboard.Cancel`) }}
                </v-btn>
              </v-col>
              <v-col
                cols="6"
                md="6"
                sm="6"
                class="buttono"
                style="padding-top:4px !important; padding-bottom:0px !important;"
              >
                <v-btn
                  :loading="isLoading"
                  :disabled="isSignInDisabled"
                  small
                  text
                  @click="ExecuteGodownFunction"
                  style="background-color:#2E7D32;color:#FFF"
                >
                  {{ $t(`dashboard.ok`) }}
                </v-btn>
              </v-col>
            </v-row>
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-- godown modal ends -->
    <v-dialog
      v-model="barcodescannarmodal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;"> </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;padding-top:0px !important"
              >
                <label
                  style="color:rgb(0 99 145);font-size:17px;text-align:center"
                  ><b> {{ $t(`dashboard.BarcodeScanner`) }}</b></label
                >
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="12"
                sm="12"
                md="12"
                style="padding-bottom:0px !important;padding-top:0px !important"
              >
                <v-select
                  :items="searchbarcodes"
                  v-model="searchbarcode"
                  name="category"
                  v-validate="'required'"
                  item-text="name"
                  :label="$t(`dashboard.Select`)"
                  style="padding-top:2em;"
                >
                </v-select>
              </v-col>
            </v-row>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-btn
            small
            @click="barcodescannarmodal = false"
            style="background-color:#FB8C00;color:#FFF"
          >
            {{ $t(`dashboard.Cancel`) }}
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            small
            @click="BarcodeModal = true"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`dashboard.ok`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Barcode scanner start -->

    <v-dialog v-model="BarcodeModal" persistent max-width="290">
      <v-card>
        <v-card-title
          style="color:rgb(0 99 145);font-size:17px;text-align:center"
          >{{ $t(`dashboard.Scanbarcode`) }}</v-card-title
        >

        <v-card-text>
          <StreamBarcodeReader
            @decode="onDecode"
            @loaded="onLoaded"
          ></StreamBarcodeReader>
        </v-card-text>
        <v-card-actions>
          <v-row>
            <v-col cols="" class="buttonc">
              <v-btn
                small
                @click="BarcodeModal = false"
                style="background-color:#FB8C00;color:#FFF"
              >
                {{ $t(`dashboard.Cancel`) }}
              </v-btn>
            </v-col>
            <v-col cols="" class="buttono">
              <v-btn
                small
                @click="BarcodeModal = false"
                style="background-color:#2E7D32;color:#FFF"
              >
                {{ $t(`dashboard.ok`) }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="DeliveryDateModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145);font-size:14px">
          {{ $t(`dashboard.TotalOrders`) }}
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:0px;padding-bottom:0px;"
            >
              <v-menu
                ref="menu1"
                v-model="menu1"
                :close-on-content-click="false"
                :return-value.sync="DeliveryDate"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="DeliveryDate"
                    label="DeliveryDate"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="DeliveryDate"
                  scrollable
                  :min="new Date().toISOString().substr(0, 10)"
                >
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu1 = false">{{
                    $t(`dashboard.Cancel`)
                  }}</v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu1.save(DeliveryDate)"
                  >
                    {{ $t(`dashboard.ok`) }}</v-btn
                  >
                  <!-- @click="$refs.menu1.save(DeliveryDate)" -->
                </v-date-picker>
                <!-- <v-date-picker
                ref="picker"
                v-model="DeliveryDate"
                :max="new Date().toISOString().substr(0, 10)"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
              </v-menu>
            </v-col>
          </v-row>

                 <v-row>

   <v-col cols="12" sm="12" md="12" style="padding-top:8px;padding-bottom:0px;">
            <v-autocomplete
             v-model="Papersize"
              :items="PapersizeOptions"
              :label="$t(`menu.Selectprintformat`)"
              item-value="text"
            ></v-autocomplete>
            </v-col>

                </v-row>
                

 <v-row>
                  <v-col
                    col="12"
                    md="12"
                    sm="12"
                    class="slno"
                    style="
                      padding-bottom: 0px !important;
                      padding-top: 0px !important;
                      color: rgb(0 150 199);
                    "
                  >
                    <label for="selectdatatype">{{
                      $t(`dashboard.route`)
                    }}</label>
                    <br />
                    <v-autocomplete
                      v-model="selectedRoute"
                      :items="RouteOptions"
                      :label="$t(`dashboard.all`)"
                      multiple
                      outlined
                      dense
                      clearable
                      style="
                        padding-bottom: 0px !important;
                        padding-top: 0px !important;
                        margin-bottom: -12px !important;
                      "
                    >
                      <template v-slot:prepend-item>
                        <v-list-item ripple @click="toggleRoute">
                          <v-list-item-action>
                            <v-icon
                              :color="
                                selectedRoute.length > 0
                                  ? 'indigo darken-4'
                                  : ''
                              "
                              >{{ iconAllRoute }}</v-icon
                            >
                          </v-list-item-action>
                          <v-list-item-content>
                            <v-list-item-title>{{
                              $t(`dashboard.SelectAll`)
                            }}</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-divider
                          style="padding-top: 0px !important"
                        ></v-divider>
                      </template>
                      <template v-slot:append-item>
                        <v-divider class="mb-2"></v-divider>
                        <v-list-item disabled>
                          <v-list-item-avatar color="grey lighten-3">
                            <v-icon>mdi-account</v-icon>
                          </v-list-item-avatar>

                          <v-list-item-content v-if="likesAllRoute">
                            <v-list-item-title
                              >{{ $t(`dashboard.SelectedallRoute`) }}
                            </v-list-item-title>
                            <v-list-item-subtitle
                              >{{ $t(`dashboard.RouteCount`) }} :{{
                                selectedRoute.length
                              }}</v-list-item-subtitle
                            >
                          </v-list-item-content>

                          <v-list-item-content v-else-if="likesSomeRoute">
                            <v-list-item-title>{{
                              $t(`dashboard.RouteCount`)
                            }}</v-list-item-title>
                            <v-list-item-subtitle>{{
                              selectedRoute.length
                            }}</v-list-item-subtitle>
                          </v-list-item-content>

                          <v-list-item-content v-else>
                            <v-list-item-title> </v-list-item-title>
                            <v-list-item-subtitle>
                              {{ $t(`dashboard.gohead`) }}
                            </v-list-item-subtitle>
                          </v-list-item-content>
                        </v-list-item>
                      </template>
                    </v-autocomplete>
                  </v-col>
                </v-row>



          <v-row>
            <v-col
              cols="12"
              md="12"
              sm="12"
              style="padding-top:4px !important; padding-bottom:0px !important;text-align:right"
            >
              <v-btn
                small
                @click="GeTotalOrderPrint"
                style="background-color:#2E7D32;color:#FFF"
              >
                {{ $t(`dashboard.ok`) }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <!-- <v-progress-circular
      :size="65"
       :width="7"
      color="rgb(0, 99, 145)"
      indeterminate
    >

    </v-progress-circular> -->
          <!-- <v-progress-linear
              color="rgb(0, 99, 145)"
              indeterminate
              rounded
              height="6"
            ></v-progress-linear> -->

          <img src="/images/dash/loading.svg" />

          <!-- <svg width="200" height="200"
  xmlns="http://www.w3.org/2000/svg">
  <image href="/images/dash/loading.svg" height="200" width="200"/>
</svg> -->
        </v-col>
      </v-row>
    </v-dialog>

    <!-- Barcode Ends here -->
    <!-- <v-snackbar top right :value="updateExists" :timeout="0" color="primary">
    An update is available
    <v-btn text @click="refreshApp">
      Update
    </v-btn>
  </v-snackbar> -->
    <v-snackbar
      right
      top
      :value="updateExists"
      :timeout="50000"
      color="rgb(0, 53, 94)"
    >
      {{ $t(`dashboard.Anewerversion`) }}
      <v-btn text @click="refreshApp">
        {{ $t(`dashboard.Update`) }}
      </v-btn>
    </v-snackbar>
    <Preferenceglobal />
  </v-app>
</template>

<script>
import Vue from "vue";

import axios from "axios";

import { mapState } from "vuex";

Vue.prototype.$bURL = "https://testeaapi.linkwayapps.com/api/";
Vue.prototype.$server = axios;
Vue.prototype.$bURLPrint = "https://testeaapi.linkwayapps.com";
// Demo Menu
// import CustomizationMenu from './components/demo/CustomizationMenu'
// import Filtermenu from './components/demo/Filtermenu'
import firebase from "firebase/app";
import "firebase/app";
import "firebase/messaging";
import config from "./configs";

// Layouts
// import update from '../src/mixins/update'

import update from "./mixins/update";
import defaultLayout from "./layouts/DefaultLayout";
import landingLayout from "./layouts/LandingLayout";
import simpleLayout from "./layouts/SimpleLayout";
import authLayout from "./layouts/AuthLayout";
import errorLayout from "./layouts/ErrorLayout";
import { StreamBarcodeReader } from "vue-barcode-reader";
import Preferenceglobal from "./pages/Masters/Preferenceglobal.vue";
// Vue.prototype.$bURL = 'https://testeaapi.linkwayapps.com/api/'
// Vue.prototype.$bURLPrint = 'https://testeaapi.linkwayapps.com'
/*
|---------------------------------------------------------------------
| Main Application Component
|---------------------------------------------------------------------
|
| In charge of choosing the layout according to the router metadata
|
*/
export default {
  components: {
    // CustomizationMenu,
    // Filtermenu,
    defaultLayout,
    landingLayout,
    simpleLayout,
    authLayout,
    errorLayout,
    StreamBarcodeReader,
    Preferenceglobal
  },
  data() {
    return {
       menu1: false,
      Loaderdialog: false,
      row:'customRadioInline1',
      snackbar: false,
      text: "My timeout is set to 2000.",
      scanned_barcode: "",
      showbar: "",
      sheet: false,
      scroll: true,
      on : false,
      leavepage: false,
      RouteMap: false,
      Orderleavepage: false,
      Salesleavepage: false,
      Godownmodal: false,
      IsFreshGodown: true,
      IsDamageGodown: false,
      barcodescannarmodal: false,
      BarcodeModal: false,
      searchbarcode: "",
      searchbarcodes: ["Items", "Voucher"],
      ModalName: "",
      GodownOptions: JSON.parse(localStorage.getItem("LinkedGodowns")),
      DamageGodownOptions: JSON.parse(
        localStorage.getItem("LinkedDamageGodowns")
      ),
      selectedGodown: [],
      selectedDamageGodown: [],

      lastScrollTop: window.pageYOffset || document.documentElement.scrollTop,
      DeliveryDate: new Date().toISOString().substr(0, 10),
      DeliveryDateModal: false,
      CostingMethodOptions: [
        "SellingRate",
        "WholesaleRate",
        "LastPurchaseCost",
        "LastPurchaseRate",
        "UserGiven",
        "Average"
      ],
      CostingMethod: "SellingRate",
      UserType: localStorage.getItem("UserType"),
      isLoading: false,
      isSignInDisabled: false,
      Settings: JSON.parse(localStorage.getItem("Settings")),
      Papersize: localStorage.getItem("Papersize")
        ? localStorage.getItem("Papersize")
        : "80MM",
      PapersizeOptions: [
        "Wifi A4",
        "Bluetooth 80MM",
        "Bluetooth 110MM",
        "Inner Printer"
      ],
      IsAdmin:false,
       RouteOptions: [],
      selectedRoute: [],
      IsShowHeaderLogo : 0,
      IsShowFooterLogo:0,
    };
  },
  mixins: [update],
  computed: {
    ...mapState("app", ["toast"]),
    isRouterLoaded: function() {
      if (this.$route.name !== null) return true;

      return false;
    },
    currentLayout: function() {
      const layout = this.$route.meta.layout || "default";
      if (this.$route.meta.layout == "authLayout") {
        this.showbar = false;
      } else {
        this.showbar = true;
      }
      return layout + "Layout";
    },
    likesAllGodown() {
      return this.selectedGodown.length === this.GodownOptions.length;
    },
    likesSomeGodown() {
      return this.selectedGodown.length > 0 && !this.likesAllGodown;
    },

     likesAllRoute() {
      return this.selectedRoute.length === this.RouteOptions.length;
    },
    likesSomeRoute() {
      return this.selectedRoute.length > 0 && !this.likesAllRoute;
    },

    iconGodown() {
      if (this.likesAllGodown) return "mdi-close-box";
      if (this.likesSomeGodown) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    },

    iconAllRoute() {
      if (this.likesAllRoute) return "mdi-close-box";
      if (this.likesSomeRoute) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    },

    likesAllDamageGodown() {
      return (
        this.selectedDamageGodown.length === this.DamageGodownOptions.length
      );
    },
    likesSomeDamageGodown() {
      return this.selectedDamageGodown.length > 0 && !this.likesAllDamageGodown;
    },

    iconDamageGodown() {
      if (this.likesAllDamageGodown) return "mdi-close-box";
      if (this.likesSomeDamageGodown) return "mdi-minus-box";

      return "mdi-checkbox-blank-outline";
    }
  },
  head: {
    link: [
      // adds config/icons into the html head tag
      ...config.icons.map(href => ({ rel: "stylesheet", href }))
    ]
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  mounted() {
    /*  if (this.Token === '' || this.Token === null)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    } */
    if (this.UserType === "Administrator") this.IsAdmin = true;
    localStorage.setItem("Burl", this.$bURL);
    (window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    }),
      (this.Godown = localStorage.getItem("Godown"));
    ///-------------

      this.LinkedRoutes = localStorage.getItem("LinkedRoutes");
      if (this.LinkedRoutes !== null)
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes);
      else
        this.LinkedRoutes = []  

          for (this.i = 0; this.i < this.LinkedRoutes.length; this.i++) {
                this.RouteOptions.push(this.LinkedRoutes[this.i].RouteName);
              }
      if(this.Settings !== null && this.Settings !== undefined)
      {
      if (this.Settings.ShowHeaderMobilePrint === "True") {
        this.IsShowHeaderLogo = 1;
      } else {
        this.IsShowHeaderLogo = 0;
      }
      if (this.Settings.ShowFooterMobilePrint === "True") {
        this.IsShowFooterLogo = 1;
      } else {
        this.IsShowFooterLogo = 0;
      }
      }
      else {
        this.IsShowHeaderLogo = 0;
        this.IsShowFooterLogo = 0;
      }
    const config = {
      messagingSenderId: "1036315032673",
      storageBucket: "firepro-30e2c.appspot.com",
      apiKey: "AIzaSyBG8NR1qkSDU1EL17Wjg_0jGYRjOzi_Uqc",
      authDomain: "fire-chat-93370.firebaseapp.com",
      projectId: "firepro-30e2c",
      databaseURL: "https://fire-chat-93370.firebaseio.com",
      appId: "1:1036315032673:web:6b276a229c7862a4bfbe20"
    };
    firebase.initializeApp(config);

    const messaging = firebase.messaging();

    messaging.usePublicVapidKey(
      "BKr_Wpdeq75Xav5sA1GhRQHsaPf3rTdUy62DAzp13tlJ8DUcpCo2AIJh2lhhpf5pcAxRT2k0KINyUyAhPlYAulY"
    );

    messaging
      .requestPermission()
      .then(() => {
        console.log("Notification permission granted.");
        messaging.getToken().then(token => {
          console.log("New token created: ", token);
          localStorage.setItem("token", token);
          // this.saveNotificationToken(token)
        });
      })
      .catch(err => {
        console.log("Unable to get permission to notify.", err);
      });

    messaging.onTokenRefresh(function() {
      messaging
        .getToken()
        .then(function(newToken) {
          console.log("Token refreshed: ", newToken);
          // this.saveNotificationToken(newToken)
        })
        .catch(function(err) {
          console.log("Unable to retrieve refreshed token ", err);
        });
    });
  },
  methods: {
    onDecode(result) {
      console.log(result);
      this.scanned_barcode = result;
    },
    handleScroll(event) {
      // Any code to be executed when the window is scrolled

      let st = window.scrollY;
      if (st > this.lastScrollTop) {
        // this.down = true
        this.scroll = false;
      } else {
        // this.down = false
        this.scroll = true;
      }
      this.lastScrollTop = st;
    },
    toggleGodown() {
      this.$nextTick(() => {
        if (this.likesAllGodown) {
          this.selectedGodown = [];
        } else {
          this.selectedGodown = this.GodownOptions.slice();
        }
      });
    },
    toggleDamageGodown() {
      this.$nextTick(() => {
        if (this.likesAllDamageGodown) {
          this.selectedDamageGodown = [];
        } else {
          this.selectedDamageGodown = this.DamageGodownOptions.slice();
        }
      });
    },
     toggleRoute() {
      this.$nextTick(() => {
        if (this.likesAllRoute) {
          this.selectedRoute = [];
        } else {
          this.selectedRoute = this.RouteOptions.slice();
        }
      });
    },
    GetOrder() {
      localStorage.removeItem("OrderCustomer");
      localStorage.removeItem("OrderId");
      localStorage.removeItem("IsHoldingOrder");
      localStorage.removeItem("OrderObject");
      localStorage.removeItem("IsUpdateCustomerVisit");
      localStorage.removeItem("OrderDetails");
      this.Orderleavepage = false;
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/order_form')
      this.$router.push("/dashboard/order_form");
    },
    GetSales() {
      localStorage.removeItem("SaleNo");
      localStorage.removeItem("QuotationNo");
      localStorage.removeItem("IsHoldingSale");
      localStorage.removeItem("SalesObject");
      localStorage.removeItem("SalesCustomerName");
      localStorage.removeItem("IsUpdateCustomerVisit");
      localStorage.removeItem("SalesDetailsFromPhysicalStock");
      localStorage.removeItem("SoldItems");
      localStorage.removeItem("OrderDeliveryQuantities");
      localStorage.removeItem("OldOrderDeliveryQuantities");
      localStorage.removeItem("DeliveredItems");
      localStorage.removeItem("ReturnItems");
      localStorage.removeItem("DamagedItems");
      localStorage.removeItem("SoldLedgers");
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
      this.Salesleavepage = false;

      this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
              localStorage.setItem('IsSalesOffLine','false')
              this.$router.push('/dashboard/vouchers/sales')
        }
        else{
          if( this.IsSalesOffLine === 'true')
          {
           this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
            localStorage.setItem('ActiveRoute','/dashboard/vouchers/salesOffline')
              this.$router.push('/dashboard/vouchers/salesOffline')
          }
          else
          {
            this.$router.push('/dashboard/vouchers/sales')
          }
        }
      //this.$router.push("/dashboard/vouchers/sales");
    },
    GetAllocatedPrint(godown) {
      this.isSignInDisabled = true;
      this.isLoading = true;
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.bURLPrint = localStorage.getItem("CompanyURL");
      this.user = localStorage.getItem("user");
      this.branch = localStorage.getItem("BranchCode");
      this.branch = this.branch ? this.branch : "All";

      this.ActiveRouteId = localStorage.getItem("ActiveRouteId");
      this.ActiveRoute = " ";
      this.LinkedRoutes = localStorage.getItem("LinkedRoutes");
      if (this.LinkedRoutes !== null)
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes);
      for (this.i = 0; this.i < this.LinkedRoutes.length; this.i++) {
        if (
          this.LinkedRoutes[this.i].RouteID === parseFloat(this.ActiveRouteId)
        ) {
          this.ActiveRoute = this.LinkedRoutes[this.i].RouteName;
        }
      }
      this.PrinterString = this.Papersize.split(" ");
      this.Printer = this.PrinterString[0];
      this.PapersizeNo = this.PrinterString[1];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.bURLPrint = localStorage.getItem("CompanyURL");

      //this.urel = 'Print/AllocatedStock?Godowns='+godown+'&BranchCode='+this.branch+'&Salesperson=' + this.user +'&RouteName=' + this.ActiveRoute+ '&PaperSize=80MM'
      this.Loaderdialog = true;
      //this.Printer = localStorage.getItem('Printer')
      this.Paper = "";
      if (this.PapersizeNo === "110MM") {
        this.Paper = 110;
      } else {
        this.Paper = 80;
      }
      if (this.Printer === "Bluetooth") {
        this.url =
          this.bURL +
          "Print/AllocatedNative?Godowns=" +
          godown +
          "&BranchCode=" +
          this.branch +
          "&Salesperson=" +
          this.user +
          "&RouteName=" +
          this.ActiveRoute +
          "&PaperSize=" +
          this.PapersizeNo;

        this.Loaderdialog = true;
         this.isLoading = true
                this.isSignInDisabled = true
        axios.get (this.url)
              .then((response)  =>  {
                 this.Loaderdialog = false;
                 this.isLoading = false
                this.isSignInDisabled = false
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.Paper,"0","null","Stock","null")
              },
              error => {
                this.Loaderdialog = false;
                 this.isLoading = false
                this.isSignInDisabled = false
                console.log(error);
              }
             );
      } else {
        this.isLoading = true
                this.isSignInDisabled = true
        axios
          .get(
            this.bURL +
              "Print/AllocatedStock?Godowns=" +
              godown +
              "&BranchCode=" +
              this.branch +
              "&Salesperson=" +
              this.user +
              "&RouteName=" +
              this.ActiveRoute +
              "&PaperSize=" +
              this.PapersizeNo
          )
          .then(
            response => {
              this.isSignInDisabled = false;
              this.isLoading = false;
              this.url = this.bURLPrint + response.data;
              this.Loaderdialog = this.IsNativeApp = localStorage.getItem(
                "IsNativeApp"
              );
              if (this.IsNativeApp === "true" || this.IsNativeApp === true) {
                window.interface.showPDF(this.url, "Wifi");
              } else {
                window.open(this.url, "_blank");
              }
            },
            error => {
               this.isLoading = false
                this.isSignInDisabled = false
              console.log(error);
            }
          );
      }
    },
    OpenOrder() {
      this.ActivePage = localStorage.getItem("ActivePage");
      if (this.ActivePage === "DashBoard" || this.ActivePage === "MAP") {
        this.GetOrder();
      } else if (this.ActivePage !== "Order") {
        this.VoucherUpdated = this.ActivePage = localStorage.getItem(
          "VoucherUpdated"
        );
        if (this.VoucherUpdated === "True") {
          this.Orderleavepage = true;
        } else {
          this.GetOrder();
        }
      }
    },
    OpenSales() {
      this.ActivePage = localStorage.getItem("ActivePage");
      if (this.ActivePage === "DashBoard" || this.ActivePage === "MAP") {
        this.GetSales();
      } else if (this.ActivePage !== "Sales") {
        this.VoucherUpdated = this.ActivePage = localStorage.getItem(
          "VoucherUpdated"
        );
        if (this.VoucherUpdated === "True") {
          this.Salesleavepage = true;
        } else {
          this.GetSales();
        }
      }
    },
    OpenRouteMap() {
      this.ActivePage = localStorage.getItem("ActivePage");
      if (this.ActivePage === "DashBoard") {
        this.nav();
      } else if (this.ActivePage !== "MAP") {
        this.VoucherUpdated = this.ActivePage = localStorage.getItem(
          "VoucherUpdated"
        );
        if (this.VoucherUpdated === "True") {
          this.RouteMap = true;
        } else {
          this.nav();
        }
      }
    },
    OpenDashboard() {
      this.ActivePage = localStorage.getItem("ActivePage");
      if (this.ActivePage === "MAP") {
        this.dash();
      } else if (this.ActivePage !== "DashBoard") {
        this.VoucherUpdated = this.ActivePage = localStorage.getItem(
          "VoucherUpdated"
        );
        if (this.VoucherUpdated === "True") {
          this.leavepage = true;
        } else {
          this.dash();
        }
      }
    },
    nav() {
      //  this.$router.push('/ui/maps/google-maps')
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/map')
      this.RouteMap = false;
      //  this.$router.push('/dashboard/map')
      this.$router.push("/ui/maps/google-maps");
    },

    dash() {
      this.leavepage = false;
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
      localStorage.setItem('ActiveRoute','/dashboard/analytics')
      //  this.$router.push('/ui/maps/google-maps')
      this.$router.push("/dashboard/analytics");
    },
    ShowGodownModal(ModalName) {
      this.ModalName = ModalName;
      /*if(this.GodownOptions.length !== 1)
      {
        this.Godownmodal = true
      }
      else{
        this.ExecuteGodownFunction()
      } */

      this.Godownmodal = true;
    },
    ShowGodown() {
      this.IsFreshGodown = true;
      this.IsDamageGodown = false;
    },
    ShowDamageGodown() {
      this.IsFreshGodown = false;
      this.IsDamageGodown = true;
    },
    ExecuteGodownFunction() {
      if (this.IsFreshGodown === true) {
        this.Godowns = this.GetsWithComma(this.selectedGodown);
        if (this.Godowns === "")
          this.Godowns = this.GetsWithComma(this.GodownOptions);
      } else {
        this.Godowns = this.GetsWithComma(this.selectedDamageGodown);
        if (this.Godowns === "")
          this.Godowns = this.GetsWithComma(this.DamageGodownOptions);
      }

      if (this.ModalName === "Allocation") {
        this.GetAllocatedPrint(this.Godowns);
      } else if (this.ModalName === "Stock") {
        this.user = localStorage.getItem("user");
        this.branch = localStorage.getItem("BranchCode");
        this.branch = this.branch ? this.branch : "All";

        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //this.Printer = localStorage.getItem('Printer')

        this.isLoading = true;
        this.isSignInDisabled = true;
        this.SplitStock = this.Settings.ShowSplitStockInMobile;
        if (this.SplitStock === "True") {
          this.SplitStock = true;
        } else {
          this.SplitStock = false;
        }
        this.Paper = "";

        this.PrinterString = this.Papersize.split(" ");
        this.Printer = this.PrinterString[0];
        this.PapersizeNo = this.PrinterString[1];
        if (this.PapersizeNo === "110MM") {
          this.Paper = 110;
        } else {
          this.Paper = 80;
        }
        if (this.Printer === "Inner") {
          this.url =
            this.bURL +
            "Print/GetStockReportPrintObject?godowns=" +
            this.Godowns +
            "&BranchCode=" +
            this.branch +
            "&CostingMethod=" +
            this.CostingMethod +
            "&SplitStock=" +
            this.SplitStock;

            axios.get (this.url)
              .then((response)  =>  {
                this.isLoading = false
                this.isSignInDisabled = false
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,"Inner","0","null","Stock","null")
              },
              error => {
                console.log(error);
                this.isLoading = false
                this.isSignInDisabled = false
              }
             );
        }
        if (this.Printer === "Bluetooth") {
          (this.isLoading = false), (this.isSignInDisabled = false);
          this.url =
            this.bURL +
            "Print/StockReortNative?Godowns=" +
            this.Godowns +
            "&BranchCode=" +
            this.branch +
            "&CostingMethod=" +
            this.CostingMethod +
            "&SplitStock=" +
            this.SplitStock +
            "&PaperSize=" +
            this.PapersizeNo;
          this.Loaderdialog = false;
          axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.Paper,"0","null","Stock","null")
              },
              error => {
                console.log(error);
              }
             );
        } else {
          axios
            .get(
              this.bURL +
                "/Print/StockReport?Godowns=" +
                this.Godowns +
                "&BranchCode=" +
                this.branch +
                "&PaperSize=80MM&CostingMethod=" +
                this.CostingMethod +
                "&SplitStock=" +
                this.SplitStock
            )
            .then(
              response => {
                (this.isLoading = false), (this.isSignInDisabled = false);
                this.url = this.bURLPrint + response.data;
                this.Loaderdialog = false;
                //window.open(this.url, '_blank')
                //window.location.href = this.url
                this.IsNativeApp = localStorage.getItem("IsNativeApp");
                if (this.IsNativeApp === "true" || this.IsNativeApp === true) {
                  window.interface.showPDF(this.url, "Wifi");
                } else {
                  window.open(this.url, "_blank");
                }
              },
              error => {
                console.log(error);
              }
            );
        }
      }
    },
    GeTotalOrderPrint() {
      this.LinkedRoutes = JSON.parse(localStorage.getItem("LinkedRoutes"));
      this.RouteIDs = [];
      this.RouteNamePrint = "";
      if(this.selectedRoute.length > 0)
      {
        for (this.i = 0; this.i < this.LinkedRoutes.length; this.i++) {
          if(this.selectedRoute.includes(this.LinkedRoutes[this.i].RouteName))
          {
              this.RouteIDs.push(this.LinkedRoutes[this.i].RouteID);
              if(this.RouteNamePrint !== "")
              {
                this.RouteNamePrint += ","
              } 
               else{
                 this.RouteNamePrint += this.LinkedRoutes[this.i].RouteName
               }  

          }
      }
        this.RouteIDs = this.GetsWithComma(this.RouteIDs);

      }
      else{
        for (this.i = 0; this.i < this.LinkedRoutes.length; this.i++) {
        this.RouteIDs.push(this.LinkedRoutes[this.i].RouteID);
      }
      this.RouteIDs = this.GetsWithComma(this.RouteIDs);

       if (this.LinkedRoutes.length > 1) {
        this.RouteNamePrint = "All";
      } else {
        this.RouteNamePrint = this.LinkedRoutes[0].RouteName;
      }
      }
      //this.RouteName = this.GetsWithComma(this.RouteName)
      this.BranchCode = localStorage.getItem("BranchCode");
      this.BranchCode = this.BranchCode ? this.BranchCode : "All";
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.bURLPrint = localStorage.getItem("CompanyURL");

      //this.Printer = localStorage.getItem('Printer')
      this.Paper = "";
      this.PrinterString = this.Papersize.split(" ");
      this.Printer = this.PrinterString[0];
      this.PapersizeNo = this.PrinterString[1];
      if (this.PapersizeNo === "110MM") {
        this.Paper = 110;
      } else {
        this.Paper = 80;
      }
      this.Loaderdialog = true;
      if (this.Printer === "Bluetooth") {
        this.url =
          this.bURL +
          "Print/PendingOrdersNative?RouteIDs=" +
          this.RouteIDs +
          "&RouteName=" +
          this.RouteNamePrint +
          "&BranchCode=" +
          this.BranchCode +
          "&DateFrom=" +
          this.DeliveryDate +
          "&DateTo=" +
          this.DeliveryDate;
        (this.Loaderdialog = false), (this.DeliveryDateModal = false);
        axios.get (this.url)
              .then((response)  =>  {
                this.PrintData = response.data
                 window.interface.showToast(this.PrintData,this.IsShowHeaderLogo,this.IsShowFooterLogo,this.Paper,"0","null","Stock","null")
              },
              error => {
                console.log(error);
              }
             );
      } else {
        axios
          .get(
            this.bURL +
              "Print/PendingOrders?RouteIDs=" +
              this.RouteIDs +
              "&RouteName=" +
              this.RouteNamePrint +
              "&PaperSize=80MM&BranchCode=" +
              this.BranchCode +
              "&DateFrom=" +
              this.DeliveryDate +
              "&DateTo=" +
              this.DeliveryDate
          )
          .then(
            response => {
              this.Loaderdialog = false;
              this.url = this.bURLPrint + response.data;
              this.DeliveryDateModal = false;
              //  window.open(this.url, '_blank')
              //window.location.href = this.url
              this.DefaultPrinter = localStorage.getItem("Printer");
              this.IsNativeApp = localStorage.getItem("IsNativeApp");
              if (this.IsNativeApp === "true" || this.IsNativeApp === true) {
                window.interface.showPDF(this.url, "Wifi");
              } else {
                window.open(this.url, "_blank");
              }
            },
            error => {
              console.log(error);
            }
          );
      }
    },
    GetsWithComma(values) {
      values = values.join("~");

      return values;
    },
    GetsWithComma1(values) {
      values = values.join("1");

      return values;
    },
    SetDefaultPapersize(Papersize) {
      localStorage.setItem("Papersize", Papersize);
      this.PapersizeError = false;
    },
    SetDefaultPrinter() {
      localStorage.setItem("Printer", this.Printer);
      this.PapersizeError = false;
    },
     onLoaded (result) {
      return
    },
  }
};
</script>

<style scoped>
/**
 * Transition animation between pages
 */
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

v-card:hover {
  background-color: yellow;
}
::v-deep .v-snack__wrapper {
  min-width: 0px;
}
.innerExPan {
  border-radius: 6px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: inherit;
  box-shadow: none;
}
</style>
