<template>
  <div
    v-shortkey="['ctrl', '/']"
    class="d-flex flex-grow-1"
    @shortkey="onKeyup"
  >
    <!-- Navigation -->
    <v-navigation-drawer
      v-model="drawer"
      app
      floating
      class="elevation-1"
      :right="$vuetify.rtl"
      :light="menuTheme === 'light'"
      :dark="menuTheme === 'dark'"
    >
      <!-- Navigation menu info -->
      <template v-slot:prepend>
        <div class="pa-2">
          <div class="title font-weight-bold text-uppercase primary--text newarabic"> <v-btn icon  >

          <v-avatar size="50" >
            <img src="/images/avatars/128.png" >
          </v-avatar>

      <!-- </v-btn><label class="new123" style="padding-left:5px !important;padding-right:5px">{{ product.name }}</label></div> -->
         </v-btn><label class="new123" style="padding-left:5px !important;padding-right:5px">{{ $t(`dashboard.EASYACCOUNTS`) }}</label></div>

          <!-- <div class="overline grey--text"><label style="padding-left:7px !important;padding-top: 2px;">{{ product.version }}</label></div> -->
           <div class="overline grey--text"><label style="padding-left:5px !important;" class="logos">{{CurrentVersion}}</label></div>

        </div>
      </template>

      <!-- Navigation menu -->
      <main-menu :menu="navigation.menu" />

      <!-- Navigation menu footer -->
      <template v-slot:append>
        <!-- Footer navigation links -->
        <div class="pa-1 text-center">
          <v-btn
            v-for="(item, index) in navigation.footer"
            :key="index"
            :href="item.href"
            :target="item.target"
            small
            text
          >
            {{ item.key ? $t(item.key) : item.text }}
          </v-btn>
        </div>

        <!-- REMOVE ME - Shop Demo purposes -->
      </template>
    </v-navigation-drawer>

    <!-- Toolbar -->
    <v-app-bar
      app
      :color="isToolbarDetached ? 'surface' : undefined"
      :flat="isToolbarDetached"
      :light="toolbarTheme === 'light'"
      :dark="toolbarTheme === 'dark'"
    >
      <v-card class="flex-grow-1 d-flex" :class="[isToolbarDetached ? 'pa-1 mt-3 mx-1' : 'pa-0 ma-0']" :flat="!isToolbarDetached">
        <div class="d-flex flex-grow-1 align-center">

          <!-- search input mobile -->
          <v-text-field
            v-if="showSearch"
            append-icon="mdi-close"
            placeholder="Search"
            prepend-inner-icon="mdi-magnify"
            hide-details
            solo
            flat
            autofocus
            @click:append="showSearch = false"
          ></v-text-field>

          <div v-else class="d-flex flex-grow-1 align-center">
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

            <v-spacer class="d-none d-lg-block"></v-spacer>

            <!-- search input desktop -->
            <v-text-field
              ref="search"
              class="mx-1 hidden-xs-only"
              :placeholder="$t('menu.search')"
              prepend-inner-icon="mdi-magnify"
              hide-details
              filled
              rounded
              dense
            ></v-text-field>

            <v-spacer class="d-block d-sm-none"></v-spacer>

            <v-btn class="d-block d-sm-none" icon @click="showSearch = true">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>

            <!-- <toolbar-language /> -->


            <div class="hidden-xs-only mx-1">
              <toolbar-currency />
            </div>
      <v-btn icon v-on="on" @click="RefreshAllData(true)" v-if="!IsReferesh">
       <v-icon>mdi-refresh</v-icon>
      </v-btn>

    <v-btn icon v-on="on" v-if="IsReferesh">
       <v-icon  class="fa-spin">mdi-refresh</v-icon>
      </v-btn>

            <!-- <toolbar-apps /> -->

            <div :class="[$vuetify.rtl ? 'ml-1' : 'mr-1']">
              <toolbar-notifications />
            </div>

            <toolbar-user />
          </div>
        </div>
      </v-card>
    </v-app-bar>

    <v-main>
      <v-container class="fill-height" :fluid="!isContentBoxed">
        <v-layout>
          <slot></slot>
        </v-layout>
      </v-container>

      <v-footer app inset hidden>
        <v-spacer></v-spacer>
        <div class="overline">
          Built with <v-icon small color="pink">mdi-heart</v-icon> <a class="text-decoration-none" href="https://www.linkwaysoftwares.com/" target="_blank">Linkway Softwares Solutions</a>
        </div>
      </v-footer>
    </v-main>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'

// navigation menu configurations
import config from '../configs'

import MainMenu from '../components/navigation/MainMenu'
import ToolbarUser from '../components/toolbar/ToolbarUser'

import ToolbarApps from '../components/toolbar/ToolbarApps'
import ToolbarLanguage from '../components/toolbar/ToolbarLanguage'
import ToolbarCurrency from '../components/toolbar/ToolbarCurrency'
import ToolbarNotifications from '../components/toolbar/ToolbarNotifications'
import ApiUpdate from "../mixins/ApiUpdate";

export default {
  components: {
    MainMenu,
    ToolbarUser,

    ToolbarApps,
    ToolbarLanguage,
    ToolbarCurrency,
    ToolbarNotifications,
    Username : localStorage.getItem('user'),
    
  },
  data() {
    return {
      drawer: null,
      showSearch: false,
      navigation: config.navigation,
      IsReferesh: false,
    CurrentVersion:localStorage.getItem('CurrentVersion'),
    on : false,
    IsShowHourError:false,
    }
  },
mounted(){
      if(this.CurrentVersion === null || this.CurrentVersion === 'null')
      {
        axios.get('/config/Company.json').then(response => {
                 this.CurrentVersion = response.data[0].VersionCode
               })
      }
   },
   mixins: [ApiUpdate],
  computed: {
    ...mapState('app', ['product', 'isContentBoxed', 'menuTheme', 'toolbarTheme', 'isToolbarDetached'])
  },
  methods: {
    onKeyup(e) {
      this.$refs.search.focus()
    },
   
  }
}
</script>

<style scoped>
.buy-button {
  box-shadow: 1px 1px 18px #ee44aa;
}
</style>
<style>
.theme--light .logos{
  padding-top: 0px;

}
.theme--dark .logos{
  padding-top: 2px;

}
</style>
<style >
.v-application--is-rtl .newarabic {
    direction: rtl;
    padding-left:32px;
}
.v-application--is-rtl .new123 {
    direction: rtl;
    padding-left:185px;
    font-size:29PX ;
     font-weight: 400;
}
.v-application--is-rtl .overline {
    font-size: 0.625rem !important;
    font-weight: 400;
    letter-spacing: 0.1666666667em !important;
    line-height: 1rem;
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif !important;
    padding-left: 184px;
}

</style>