<template>
  <div class="flex-grow-1">
    <v-tabs v-model="tab" :show-arrows="false" background-color="transparent">
      <v-tab to="#tabs-account">{{ $t(`menu.Basic`) }}</v-tab>
      <v-tab to="#tabs-information">{{ $t(`menu.Detail`) }}</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab">
      <v-tab-item value="tabs-account">
        <account-tab ref="tabs-account" :user="user"></account-tab>
      </v-tab-item>

      <v-tab-item value="tabs-information">
        <information-tab ref="tabs-information" :user="user"></information-tab>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import AccountTab from './EditUser/AccountTab'
import InformationTab from './EditUser/InformationTab'

export default {
  components: {
    AccountTab,
    InformationTab
  },
  data() {
    return {
      user: {
        'id':32,
        'email':'bfitchew0@ezinearticles.com',
        'name':'Bartel Fitchew',
        'verified':false,
        'created':'2019-08-09T03:14:12Z',
        'lastSignIn':'2019-08-14T20:00:53Z',
        'disabled':true,
        'role':'ADMIN',
        'avatar':'/images/avatars/avatar1.svg'
      },
      tab: null,
      breadcrumbs: [
        {
          text: 'Users',
          to: '/users/list',
          exact: true
        },
        {
          text: 'Edit User'
        }
      ]
    }
  }
}
</script>
