<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
<!-- 
    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center">
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px;padding-bottom:20px">
          <h4
            style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "
          >
            {{ $t(`menu.AccessRole`) }}
          </h4>
        </v-col>
      </v-row>
    </div> -->
    <v-card>
      <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:left;padding-left: 0px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"


                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >     {{ $t(`menu.AccessRole`) }} </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
      
      <v-row>
        <v-col
          cols="12"
          md="12"
          xl="12"
          style="padding-top:9px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -19px; "
        >
          <v-autocomplete
            :items="UserRollOptions"
            v-model="UserRollSearch"
            solo
            rounded
            dense
            :placeholder="$t('menu.SearchByName')"
            @change="LoadAllForms($event)"
            style="padding-bottom:0px"
          >
            <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
          </v-autocomplete>
        </v-col>
      </v-row>

      <v-row>
        <v-col
          cols="12"
          md="12"
          xl="12"
          style="padding-top:2px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -19px; "
        >
          <v-text-field
            solo
            rounded
            dense
            v-model="UserRollName"
            :label="$t(`menu.AccessRoleName`)"
            style="padding-bottom:0px"
          >
            <!-- <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="SaveUserAccess" v-if="IsNew">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)" @click="Update()" v-if="IsUpdate">mdi-update</v-icon>
  </template> -->
          </v-text-field>
        </v-col>
      </v-row>

      <v-divider></v-divider>
      <v-card-text
        style="padding-left:5px;padding-right:5px;padding-top:3px !important"
      >
        <v-expansion-panels>
          <v-expansion-panel
            v-for="(item, i) in 1"
            :key="i"
            style="padding-left: 10px;"
          >
            <v-expansion-panel-header
              style="text=align:center !important;min-height: 24px !important;    margin-bottom: -4px;padding-left: 10px;"
              expand-icon=""
            >
              <v-row>
                <v-col
                  cols="8"
                  md="8"
                  xl="8"
                  style="padding-top:2px;padding-bottom:0px;padding-right:0px;padding-left:0px; padding-left: 4px;    margin-bottom: -24px; "
                >
                  <v-text-field
                    solo
                    rounded
                    dense
                    v-model="FormNameSearch"
                    label="Search Menu item"
                    style="padding-bottom:0px"
                  >
                  </v-text-field>
                </v-col>
                <v-col
                  cols="1"
                  md="1"
                  xl="1"
                  class="checkgreen"
                  style="padding-top: 7px;;padding-bottom:0px;padding-right:4px; padding-left: 4px;margin-bottom: -24px; "
                >
                  <v-checkbox
                    class="pa-0 ma-0"
                    :ripple="false"
                    v-model="CREATE"
                    color="#388E3C"
                    :value="false"
                    style="border-radius: 0px !important"
                    hide-details
                    @click="SetPermissionToAll(1, 0, 0, 0)"
                  ></v-checkbox>
                </v-col>
                <v-col
                  cols="1"
                  md="1"
                  xl="1"
                  class="checkblue"
                  style="padding-top: 7px;;padding-bottom:0px;padding-right:4px; padding-left: 4px; margin-bottom: -24px; "
                >
                  <v-checkbox
                    class="pa-0 ma-0"
                    :ripple="false"
                    v-model="READ"
                    :value="true"
                    color="rgb(0, 99, 145)"
                    hide-details
                    @click="SetPermissionToAll(0, 1, 0, 0)"
                  ></v-checkbox>
                </v-col>
                <v-col
                  cols="1"
                  md="1"
                  xl="1"
                  class="checkyellow"
                  style="padding-top: 7px;;padding-bottom:0px;padding-right:4px; padding-left: 4px;margin-bottom: -9px; "
                >
                  <v-checkbox
                    class="pa-0 ma-0"
                    :ripple="false"
                    v-model="UPDATE"
                    :value="true"
                    color="#FFA000"
                    hide-details
                    @click="SetPermissionToAll(0, 0, 1, 0)"
                  ></v-checkbox>
                </v-col>
                <v-col
                  cols="1"
                  md="1"
                  xl="1"
                  class="checkred"
                  style="padding-top: 7px;;padding-bottom:0px;padding-right:4px; padding-left: 4px;margin-bottom: -9px; "
                >
                  <v-checkbox
                    class="pa-0 ma-0"
                    :ripple="false"
                    v-model="DELETE"
                    :value="true"
                    color="#E53935"
                    hide-details
                    @click="SetPermissionToAll(0, 0, 0, 1)"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
          </v-expansion-panel>
        </v-expansion-panels>

        <v-card-actions style="background:#007bff;padding: 1px;">
        </v-card-actions>

        <v-row
          no-gutters
          style="    font-size: 10px;padding: 5px; background: #343a402e;"
        >
          <v-col cols="8" sm="8" class="slno">
            {{ $t(`menu.MenuItem`) }}
          </v-col>
          <v-col cols="1" sm="1" class="text-center">
            <v-tooltip top color="#388E3C">
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  small
                  color="#388E3C"
                  @click="show = !show"
                  v-bind="attrs"
                  v-on="on"
                >
                  mdi-plus-circle
                </v-icon>
              </template>
              <span>Create/Insert</span>
            </v-tooltip>
          </v-col>
          <v-col cols="1" sm="1" class="text-center">
            <v-tooltip top color="rgb(0, 99, 145)">
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  small
                  color="rgb(0, 99, 145)"
                  @click="showb = !showb"
                  v-bind="attrs"
                  v-on="on"
                >
                  mdi-eye
                </v-icon>
              </template>
              <span>View</span>
            </v-tooltip>
          </v-col>
          <v-col cols="1" sm="1" class="text-center">
            <v-tooltip top color="#FFA000">
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  small
                  color="#FFA000"
                  @click="showy = !showy"
                  v-bind="attrs"
                  v-on="on"
                >
                  mdi-update
                </v-icon>
              </template>
              <span>Update/Edit</span>
            </v-tooltip>
          </v-col>
          <v-col cols="1" sm="1" class="text-center">
            <v-tooltip top color="#E53935">
              <template v-slot:activator="{ on, attrs }">
                <v-icon
                  small
                  color="#E53935"
                  @click="showr = !showr"
                  v-bind="attrs"
                  v-on="on"
                >
                  mdi-delete
                </v-icon>
              </template>
              <span>Delete</span>
            </v-tooltip>
          </v-col>
        </v-row>
        <v-row
          no-gutters
          style="    font-size: 10px;text-align: left;padding: 2px; max-height:230px; overflow:scroll;overflow-x: hidden;"
        >
          <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in resultQuery"
              :key="i"
              class="ma-0"
              v-touch:tap="touchHandler"
            >
              <v-expansion-panel-header
                expand-icon=""
                class="itemheader"
                style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;"
              >
                <v-row>
                  <v-col
                    cols="8"
                    sm="8"
                    class="slno1"
                    style="margin-top: 10px; "
                  >
                    <b>{{ item.FormCaption }} </b>
                  </v-col>

                  <v-col
                    cols="1"
                    sm="1"
                    class="checkgreen"
                    style="padding: 0px !important; text-align:center"
                  >
                    <v-checkbox
                      class="pa-0 ma-0"
                      :ripple="false"
                      v-model="item.CREATE"
                      :value="item.CREATE"
                      hide-details
                      color="#388E3C"
                      style=" margin-bottom: 11px;"
                    ></v-checkbox>
                  </v-col>

                  <v-col
                    cols="1"
                    sm="1"
                    class="checkblue"
                    style="padding: 0px !important; text-align:center"
                  >
                    <v-checkbox
                      class="pa-0 ma-0"
                      :ripple="false"
                      v-model="item.READ"
                      :value="item.READ"
                      hide-details
                      color="rgb(0, 99, 145)"
                      style=" margin-bottom: 11px;"
                    ></v-checkbox>
                  </v-col>

                  <v-col
                    cols="1"
                    sm="1"
                    class="checkyellow"
                    style="padding: 0px !important; text-align:center"
                  >
                    <v-checkbox
                      class="pa-0 ma-0"
                      :ripple="false"
                      v-model="item.UPDATE"
                      :value="item.UPDATE"
                      hide-details
                      color="#FFA000"
                      style=" margin-bottom: 11px;"
                    ></v-checkbox>
                  </v-col>

                  <v-col
                    cols="1"
                    sm="1"
                    class="checkred"
                    style="padding: 0px !important; text-align:center"
                  >
                    <v-checkbox
                      class="pa-0 ma-0"
                      :ripple="false"
                      v-model="item.DELETE"
                      :value="item.DELETE"
                      hide-details
                      style=" margin-bottom: 11px;"
                      color="#E53935"
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </v-expansion-panel-header>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-row>
      </v-card-text>
    </v-card>

    <fab
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @SaveUserAccess="SaveUserAccess"
      @NewUserAccess="NewUserAccess"
      @DeleteUserAccess="DeleteUserAccess"
      @RoleSettings="RoleSettings"
    ></fab>
    <v-dialog v-model="UpdateConfirmationModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to update</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="UpdateConfirmationModal = false"
              >Cancel</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="UpdateUserAccess()"
              >OK</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="CreateWarningModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to create new salesman?</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(220 53 69);" @click="UpdateUserAccess()"
              >Update</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="SaveUserAccess"
              >Create</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmationModal = false"
              >Cancel</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteUserAccess"
              >OK</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <v-dialog v-model="SubUserAccessModal" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >Do you want to Create SubUserAccess with same name</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(40 167 69)" @click="SetNoSubUserAccess"
              >No</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn outlined color="rgb(220 53 69);" @click="SetSubUserAccess"
              >Yes</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>

    <v-dialog
      v-model="signature1"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145);;">
          <label
            class="ttl"
            style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;"
            >{{ Title }}</label
          >
        </v-card-title>
        <v-card-text>
          <div
            class=" flex-column flex-grow-1 align-center"
            style="padding-top: 1px;"
          >
            <v-container style="padding: 0px !important;">
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                  style="padding-top:0px;padding-bottom:0px;"
                >
                  <!-- //here one -->

                  <vueSignature
                    ref="signature"
                    :sigOption="option"
                    :h="'300px'"
                    :disabled="disabled"
                    style="border:2px solid"
                  ></vueSignature>

                  <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
                  <!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
                  <v-text-field
                    :label="$t(`menu.Name`)"
                    v-model="nameval"
                    style="padding-top:10px"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;

    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
          <v-btn
            small
            @click="clearDigital"
            style="background-color:#AD1457;color:#FFF;font-size: 20px;"
          >
            <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
          </v-btn>
          <v-btn
            small
            @click="saveDigital"
            style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
          >
            <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
          </v-btn>
          <v-btn
            small
            @click="signature1 = false"
            style="background-color:#FFA726;color:#FFF;font-size: 20px;"
          >
            <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="RollSettingModal"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style=";border-radius: 0px !important;z-index: 999999 !important"
    >
      <v-card style="border-radius: 0px !important;z-index:100000000">
        <v-toolbar dark color="primary">
          <v-toolbar-title style="padding-left:11px !important"
            >Role Settings</v-toolbar-title
          >
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <!-- <v-btn dark text @click="dialog = false">Save</v-btn>
              <v-btn
            style=" height: 30px;width: 30px"
            icon
            dark
            @click="ExchangeRateModal = false"
          >

          </v-btn> -->
            <v-icon @click="RollSettingModal = false">mdi-close</v-icon>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text style="padding-left:10px;padding-right:10px;">
          <v-row>
            <v-col
              cols="12"
              md="12"
              xl="12"
              style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -9px; "
            >
              <v-autocomplete
                :items="UserRollOptions"
                v-model="UserRollSearch"
                solo
                rounded
                dense
                placeholder="Search By Role Name"
                @change="LoadAllForms($event)"
                style="padding-bottom:0px"
              >
                <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="12"
              md="12"
              xl="12"
              style="padding-top:2px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -9px; "
            >
              <v-autocomplete
                :items="UserRollOptions"
                v-model="UserRollSearch"
                solo
                rounded
                dense
                placeholder="Select "
                @change="LoadAllForms($event)"
                style="padding-bottom:0px"
              >
                <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-divider></v-divider>
          <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in 1"
              :key="i"
              style="padding-left: 10px;"
            >
              <v-expansion-panel-header
                style="text=align:center !important;min-height: 24px !important;    margin-bottom: -4px;padding-left: 10px;"
                expand-icon=""
              >
                <v-row>
                  <v-col
                    cols="12"
                    md="12"
                    xl="12"
                    style="padding-top:2px;padding-bottom:0px;padding-right:0px;padding-left:0px; padding-left: 4px;    margin-bottom: -24px; "
                  >
                    <v-text-field
                      solo
                      rounded
                      dense
                      v-model="FormNameSearch"
                      label="Search Settings Name"
                      style="padding-bottom:0px"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-expansion-panel-header>
            </v-expansion-panel>
          </v-expansion-panels>

          <v-card-actions style="background:#007bff;padding: 1px;">
          </v-card-actions>

          <v-row
            no-gutters
            style="    font-size: 10px;padding: 5px; background: #343a402e;"
          >
            <v-col cols="8" sm="8" class="slno">
              Settings Name
            </v-col>
            <v-col cols="4" sm="4" class="text-center">
              <!-- <v-tooltip top color="#388E3C">
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    small
                    color="#388E3C"
                    @click="show = !show"
                    v-bind="attrs"
                    v-on="on"
                  >
                    mdi-plus-circle
                  </v-icon>
                </template>
                <span>Create/Insert</span>
              </v-tooltip> -->
            </v-col>
          </v-row>
          <v-row
            no-gutters
            style="    font-size: 10px;padding: 2px; max-height:270px; overflow:scroll;overflow-x: hidden;"
          >
            <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in resultQuery"
                :key="i"
                class="ma-0"
                v-touch:tap="touchHandler"
              >
                <v-expansion-panel-header
                  expand-icon=""
                  class="itemheader"
                  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;"
                >
                  <v-row>
                    <v-col
                      cols="7"
                      sm="7"
                      class="slno1"
                      style="margin-top: 10px; "
                    >
                      <b>{{ item.FormCaption }} </b>
                    </v-col>

                    <v-col
                      cols="5"
                      sm="5"
                      class="checkgreen"
                      style="padding: 0px !important;text-align:right !important;"
                    >
                      <v-checkbox
                        v-if="!checkboxtrue"
                        class="centered-input pa-0 ma-0"
                        :ripple="false"
                        v-model="item.CREATE"
                        :value="item.CREATE"
                        hide-details
                        color="#388E3C"
                        style=" margin-bottom: 11px;text-align:right !important"
                      ></v-checkbox>

                      <v-autocomplete
                        v-if="checkboxtrue"
                        :items="UserRollOptions"
                        v-model="UserRollSearch"
                        solo
                        dense
                        placeholder="Select "
                        @change="LoadAllForms($event)"
                        style="padding-bottom:0px;margin-bottom: -25px !important;"
                      >
                      </v-autocomplete>
                    </v-col>
                  </v-row>
                </v-expansion-panel-header>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../translations/de";
import vueSignature from "vue-signature";
import TrendPercentVue from "../../components/common/TrendPercent.vue";
import DayEndCheck from "../../mixins/DayEndCheck";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab,
    vueSignature //,Assets
  },
  data() {
    return {
      checkboxtrue: false,
      RollSettingModal: false,
      show: false,
      showb: false,
      showy: false,
      showr: false,
      singleSelect: false,
      selected: [],
      headers: [
        {
          singleSelect: false,
          text: "Menu Items",
          align: "last",
          sortable: false,
          value: "name"
        },
        { text: "Create/Insert", value: "calories" },
        { text: "View", value: "fat" },
        { text: "Update", value: "carbs" },
        { text: "Delete)", value: "protein" }
      ],
      desserts: [
        {
          name: "Frozen Yogurt",
          selected: [],
          selected: [],
          selected: [],
          selected: []
        },
        {
          name: "Ice cream sandwich",
          calories: 237,
          fat: 9.0,
          carbs: 37,
          protein: 4.3
        }
      ],

      item: {
        p_img:
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU",
        barcode: ""
      },
      barcodescannarmodal: false,

      signature1: false,
      BarcodeModal: false,
      ex4: ["primary"],
      bURL: "",
      bURLPrint: "",
      dialog: false,
      AssetModal: false,
      VerifyModal: false,
      RouteDeleteModal: false,
      sheet: false,
      items: ["Foo", "Bar", "Fizz", "Buzz"],

      tab: null,
      tab1: null,
      breadcrumbs: [
        {
          text: "vms",
          to: "/vms/list",
          exact: true
        },
        {
          text: "Edit vm"
        }
      ],
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "RoleSettings",
            icon: "manage_accounts",
            tooltip: "Role Settings"
          },
          {
            name: "NewUserAccess",
            icon: "add_circle_outline",
            tooltip: this.$t(`menu.New`)
          },
          {
            name: "DeleteUserAccess",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },

          {
            name: "SaveUserAccess",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
      markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: "<strong>Marker 1</strong>"
        }
      ],
      date: "1990-10-09",
      menu: false,
      gender: "male",
      items: ["Kerala", "Assam", "Odisha", "Gujarat"],
      imageSrc: "/images/avatars/avatar1.svg",
      ImageModal: false,
      MappingModal: false,
      Username: window.localStorage.getItem("UserName"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      IsMultiBarnch: false,
      UserRollOptions: [],
      UserAccess: [],
      AllForms: [],
      FormNameSearch: "",
      CREATE: false,
      READ: false,
      UPDATE: false,
      DELETE: false,

      Settings: JSON.parse(localStorage.getItem("Settings")),
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmationModal: false,
      DeleteName: "",
      menu: false,
      UserAccesssearch: "",
      OldName: "",
      IsNew: true,
      UpdateConfirmationModal: false,
      IsUpdate: false,
      SubUserAccessModal: false,
      AutoInsertSubUserAccess: false,
      IsShowCreateWarningModal: false,
      CreateWarningModal: false,
      Loaderdialog: true
    };
  },
  mixins: [DayEndCheck],
  computed: {
    resultQuery() {
      this.AllFormsNew = [];
      if (this.FormNameSearch !== "") {
        this.AllFormsNew = this.AllForms.filter(post => {
          return post.FormCaption.toString()
            .toLowerCase()
            .includes(this.FormNameSearch.toLowerCase());
        });
        return this.AllFormsNew;
      } else {
        return this.AllForms;
      }
    }
  },
  mounted() {
    this.PreviousPage = localStorage.getItem("ActivePage");
    this.BackToPage = localStorage.getItem("BackToPage");
    localStorage.setItem('ActiveRoute','/dashboard/masters/AccessRoll')
    //      if(this.BackToPage !== null)
    //       {
    //                 this.PageUrl = "/dashboard/masters/" + this.BackToPage
    //                  history.pushState(null, null, location.href);
    //               window.onpopstate = function () {
    //               location.href = location.origin + this.PageUrl
    //               };
    //       }
    //     else if(this.BackToPage !== 'UserProfile')
    //     {
    //           history.pushState(null, null, location.href);
    // window.onpopstate = function () {

    //     history.go(1);
    // };
    //     }
    if (this.BackToPage !== "AccessRoll" && this.BackToPage !== "userProfile") {
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    } else {
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        location.href = location.origin + "/dashboard/masters/userManagement";
      };
    }
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    localStorage.setItem("BackToPage", "AccessRoll");
    localStorage.removeItem("VoucherUpdated");
    this.GetUserRolls();
    this.BasicSettings();
    this.SetPermission();
    this.checkUrl();
    this.LoadAllForms();
  },
  methods: {
    saveDigital() {
      var _this = this;

      var svg = _this.$refs.signature.save("image/svg+xml");

      // console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if (this.signtype == 1) {
        this.salessign = svg;
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */
      }

      this.signature1 = false;
    },
    clearDigital() {
      var _this = this;
      this.salessign = "";
      _this.$refs.signature.clear();
    },
    open(a) {
      if (a == 1) {
        this.Title = "Signature";
      }

      this.signtype = a;
      this.signature1 = true;
    },
    close() {
      this.signature1 = false;
    },
    openBarcode() {
      this.BarcodeModal = true;
      this.barcodescannarmodal = true;
    },
    onDecode(result) {
      console.log(result);
      this.item.barcode = result;
      this.BarcodeModal = false;
      this.barcodescannarmodal = false;
    },
    goToAssets() {
      this.$router.push("/dashboard/assets");
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },
    someAction(e) {
      e.stopPropagation();
      console.log("in some action");
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    save1(date1) {
      this.$refs.menu1.save(date1);
    },
    uploadImage: function() {
      this.ImageModal = false;
      var file = document.querySelector("input[type=file]").files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false;
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace(
          "data:image/jpeg;base64,",
          ""
        );
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1;
        localStorage.setItem("TempImage", this.Photo);
        this.ImageModal = false;
        document.getElementById("UserImage1").src = e.target.result;
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);
    },
    toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position;
      this.infoOptions.content = marker.infoText;
      console.log(marker.position.lat + " " + marker.position.lng);
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen;
      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true;
        this.currentMidx = idx;
      }
    },

    BasicSettings() {
      this.IsSalesPerson = localStorage.getItem("salePerson");
      if (this.IsSalesPerson !== "") this.Salesman = this.IsSalesPerson;
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;

      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;
      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }
    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmCreateUser"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];
          },
          error => {
            console.log(error);
          }
        );
    },
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces);
    },
    RoleSettings() {
      this.$router.push('/dashboard/masters/RoleSettings')
    },
    SaveUserAccess() {
      if (this.UserRollName === undefined || this.UserRollName === "") {
        this.SnackbarMessege = "Enter roll name";
        this.snackbar = true;
        return;
      }
      if (this.IsNew === true) {
        this.ExecuteSaveUserAccess();
      } else {
        this.Update();
      }
    },
    ExecuteSaveUserAccess() {
      this.UserAcessObj = this.FormatCRUD();
      if (this.UserAcessObj.length === 0) {
        this.SnackbarMessege =
          "No access rights provided. Please put tick marks to give permission";
        this.snackbar = true;
        return;
      }
      if (this.isCreatePermission === true) {
        localStorage.setItem("UserAcessObj", JSON.stringify(this.UserAcessObj));
        this.Loaderdialog = true;
        axios
          .post(this.bURL + "User/InsertUserAccessRole", this.UserAcessObj)
          .then(
            response => {
              if (response.data === "Success") {
                (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                  (this.snackbar = true);
                this.Loaderdialog = false;
                this.SubUserAccessModal = false;
                this.CreateWarningModal = false;
                this.NewUserAccess();
                this.GetUserRolls();
              } else if (response.data === "Roll name already exist") {
                this.SnackbarMessege = "User roll already exist";
                this.snackbar = true;
                this.Loaderdialog = false;
              } else {
                this.SnackbarMessege = "Failed";
                this.snackbar = true;
                this.Loaderdialog = false;
              }
            },
            error => {
              console.log(error);
            }
          );
      } else {
        (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
          (this.snackbar = true);
      }
    },
    Update() {
      this.UpdateConfirmationModal = true;
    },
    UpdateUserAccess() {
      if (this.isUpdatePermission === true) {
        this.UserAcessObj = this.FormatCRUD();
        axios
          .put(
            this.bURL +
              "User/UpdateUserAccessRole?PreviousRoleName=" +
              this.UserRollSearch,
            this.UserAcessObj
          )
          .then(
            response => {
              if (response.data === "Success") {
                (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                  (this.snackbar = true);
                this.NewUserAccess();
                this.GetUserRolls();
                this.UpdateConfirmationModal = false;
                this.CreateWarningModal = false;
              } else if (response.data === "Roll name already exist") {
                this.SnackbarMessege = "User roll already exist";
                this.snackbar = true;
                this.Loaderdialog = false;
              } else {
                this.SnackbarMessege = "Failed";
                this.snackbar = true;
                this.Loaderdialog = false;
              }
            },
            error => {
              this.SnackbarMessege = "Failed";
              this.snackbar = true;
              this.Loaderdialog = false;
            }
          );
      } else {
        (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
          (this.snackbar = true);
      }
    },
    DeleteUserAccess(item) {
      if (
        this.UserRollSearch !== null &&
        this.UserRollSearch !== "" &&
        this.UserRollSearch !== undefined
      ) {
        if (this.isDeletePermission === true) {
          this.DeleteConfirmationModal = true;
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      } else {
        this.SnackbarMessege = "Select user roll";
        this.snackbar = true;
      }
    },
    ExecuteDeleteUserAccess() {
      this.Loaderdialog = true;
      axios
        .delete(
          this.bURL +
            "User/DeleteUserAccessRole?RoleName=" +
            this.UserRollSearch
        )
        .then(
          response => {
            (this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`)),
              (this.snackbar = true);
            this.DeleteConfirmationModal = false;
            this.NewUserAccess();
            this.GetUserRolls();
            this.Loaderdialog = false;
          },
          error => {
            this.DeleteConfirmationModal = false;
            this.Loaderdialog = false;
            this.SnackbarMessege = "Roll in use";
            this.snackbar = true;
          }
        );
    },
    FormatDate(Value) {
      if (Value !== undefined) {
        Value = Value.split("T")[0];
      } else {
        Value = "";
      }

      return Value;
    },
    GetUserRolls() {
      this.UserRollOptions = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "User/LoadUserRoleNamesList").then(
        response => {
          this.UserRollOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    LoadAllForms(rollname) {
      this.AllForms = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      this.Loaderdialog = true;
      axios.get(this.bURL + "User/LoadAllForms").then(
        response => {
          this.AllForms = response.data;
          if (rollname !== undefined) {
            this.CREATE = false;
            this.READ = false;
            this.UPDATE = false;
            this.DELETE = false;

            this.UserAccess = [];
            this.bURL = localStorage.getItem("CompanyURL") + "/api/";
            axios
              .get(this.bURL + "User/LoadUserAccess?UserRoll=" + rollname)
              .then(
                response => {
                  this.Loaderdialog = false;
                  this.UserAccess = response.data;
                  this.UserRollName = rollname;
                  this.IsNew = false;
                  this.IsUpdate = true;
                  this.DeFormatCRUD();
                  this.FormNameSearch = "s";
                  this.FormNameSearch = "";
                },
                error => {
                  console.log(error);
                }
              );
          } else {
            this.IsNew = true;
            this.IsUpdate = false;
            this.Loaderdialog = false;
            this.FormNameSearch = "s";
            this.FormNameSearch = "";
            this.DeFormatCRUD();
          }
        },
        error => {
          console.log(error);
        }
      );
    },
    LoadUserAccess(rollname) {
      this.UserAccess = [];
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "User/LoadUserAccess?UserRoll=" + rollname).then(
        response => {
          this.UserAccess = response.data;
          this.UserRollName = rollname;
          this.IsNew = false;
          this.IsUpdate = true;
          this.DeFormatCRUD();
        },
        error => {
          console.log(error);
        }
      );
    },
    DeFormatCRUD() {
      for (this.j = 0; this.j < this.AllForms.length; this.j++) {
        if (this.UserAccess.length > 0) {
          for (this.i = 0; this.i < this.UserAccess.length; this.i++) {
            if (
              this.UserAccess[this.i].FormName ===
              this.AllForms[this.j].FormName
            ) {
              this.CRUD = this.UserAccess[this.i].CRUD.split("");
              if (this.CRUD[0] === "1") this.UserAccess[this.i].CREATE = true;
              else this.UserAccess[this.i].CREATE = false;

              if (this.CRUD[1] === "1") this.UserAccess[this.i].READ = true;
              else this.UserAccess[this.i].READ = false;

              if (this.CRUD[2] === "1") this.UserAccess[this.i].UPDATE = true;
              else this.UserAccess[this.i].UPDATE = false;

              if (this.CRUD[3] === "1") this.UserAccess[this.i].DELETE = true;
              else this.UserAccess[this.i].DELETE = false;

              this.UserAccess[this.i].IsAdded = true;
              this.AllForms[this.j] = this.UserAccess[this.i];
              break;
            } else if (this.UserAccess[this.i].IsAdded !== true) {
              this.AllForms[this.j].CREATE = false;
              this.AllForms[this.j].READ = false;
              this.AllForms[this.j].UPDATE = false;
              this.AllForms[this.j].DELETE = false;
            }
          }
        } else {
          this.AllForms[this.j].CREATE = false;
          this.AllForms[this.j].READ = false;
          this.AllForms[this.j].UPDATE = false;
          this.AllForms[this.j].DELETE = false;
        }
      }
    },
    FormatCRUD() {
      this.FormNewListForSave = [];
      for (this.i = 0; this.i < this.AllForms.length; this.i++) {
        if (
          this.AllForms[this.i].CREATE === true ||
          this.AllForms[this.i].READ === true ||
          this.AllForms[this.i].UPDATE === true ||
          this.AllForms[this.i].DELETE === true
        ) {
          this.CRUD = "";
          if (this.AllForms[this.i].CREATE === true) this.CRUD += "1";
          else this.CRUD += "0";

          if (this.AllForms[this.i].READ === true) this.CRUD += "1";
          else this.CRUD += "0";

          if (this.AllForms[this.i].UPDATE === true) this.CRUD += "1";
          else this.CRUD += "0";

          if (this.AllForms[this.i].DELETE === true) this.CRUD += "1";
          else this.CRUD += "0";
          this.AllForms[this.i].RoleName = this.UserRollName;
          this.AllForms[this.i].CRUD = this.CRUD;

          this.FormNewListForSave.push(this.AllForms[this.i]);
        }
      }
      return this.FormNewListForSave;
    },
    NewUserAccess() {
      this.IsNew = true;
      this.IsUpdate = false;
      this.UserAccess = [];
      this.FormNameSearch = "";
      this.UserRollSearch = "";
      this.UserRollName = "";
      this.CREATE = false;
      this.READ = false;
      this.UPDATE = false;
      this.DELETE = false;
      this.LoadAllForms();
    },
    SetPermissionToAll(create, read, update, delet) {
      for (this.i = 0; this.i < this.AllForms.length; this.i++) {
        if (create === 1) this.AllForms[this.i].CREATE = this.CREATE;
        else if (read === 1) this.AllForms[this.i].READ = this.READ;
        else if (update === 1) this.AllForms[this.i].UPDATE = this.UPDATE;
        else if (delet === 1) this.AllForms[this.i].DELETE = this.DELETE;

        this.FormNameSearch = "s";
        this.FormNameSearch = "";
      }
    }
  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>
.centered-input .v-input__slot {
  display: initial !important;
}
.checkred .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: #e53935;
}
.checkyellow .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;
  color: #ffa000;
}
.checkblue .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: rgb(0, 99, 145);
}

.checkgreen .v-input--selection-controls__input .v-icon {
  width: 100%;
  font-size: 18px;

  color: #388e3c;
}
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: ce;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
  text-align: left !important;
  padding-left: 8px !important;
}
.v-application--is-rtl .salesPersons {
  direction: rtl;
  text-align: right !important;
  padding-right: 8px !important;
}

.v-application--is-ltr .action {
  text-align: right !important;
  padding-right: 8px !important;
}
.v-application--is-rtl .action {
  direction: rtl;
  text-align: left !important;
  padding-left: 8px !important;
}
</style>
