<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
     <!--  <v-btn
        color="error"
        @click="overlay = !overlay"
      >
        Show Overlay
      </v-btn> -->
       <v-dialog


content-class="innerExPannew"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg"

            />

      </v-col>

    </v-row>

    </v-dialog>


  <div class="new" >
  <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >

   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header v-show="copm" class="headernew"   style="text=align:center !important;min-height: 20px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.Assets`) }}</b>
      </v-col>
        </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
        <!-- <v-row  >
                <v-col cols="6" sm="6" md="6" class="no-p" style="margin-bottom:8px !important;margin-top:12px !important;padding-left:22px !important" >
           <label>Last Verified</label>

                </v-col>
                   <v-col cols="12" sm="12" md="12" class="no-p" style="margin-bottom: 8px !important;margin-top:12px !important;text-align:right;padding-right:22px !important" >
    <label>Last Verified:<b>{{FormatDate(verifiedDate)}}</b></label>

                </v-col>


            </v-row> -->

     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
         <v-col cols="1" sm="1" class="slno">
     {{ $t(`menu.No`) }}
      </v-col>
      <v-col cols="3" sm="3" class="slno">
    {{ $t(`menu.Code`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="slno">
     {{ $t(`menu.Name`) }}
      </v-col>

      <v-col cols="3" sm="3 " class="slno">
     {{ $t(`menu.SerialNo`) }}
      </v-col>
          <v-col cols="2" sm="2 " class="text-center">
     {{ $t(`menu.Verified`) }}
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in Assets"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">
      <v-col cols="12" style="padding-top:8px !important">
       <v-row>
         <v-col cols="1" sm="1" class="slno1" style="">
     <b>{{i+1}}</b>
      </v-col>
       <v-col cols="3" sm="3" class="slno" style="padding: 0px !important; ">

      <b>{{item.AssetCode}}</b>
      </v-col>
       <v-col cols="3" sm="3"  class="slno" style="padding: 0px !important; ">

   <b>{{item.AssetName}}</b>
      </v-col>
       <v-col cols="3" sm="3"  class="slno" style="padding: 0px !important; ">

   <b>{{item.SerialNo}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="slno" style="padding: 0px !important; ">

   <b>{{FormatDate(item.LastVerifiedDate)}}</b>
      </v-col>
      </v-row>
      <v-row style="padding-top:7px !important" >

      <v-col cols="6" sm="6" style=" margin-bottom: -13px;padding-top: 5px !important;padding-bottom: 0px !important;padding-left: 0px !important;padding-right: 4px;!important; text-align: center !important;">

         <v-text-field
            dense

              v-model="item.Remarks"
          :label="$t(`menu.Remarks`)"

          outlined
          ></v-text-field>
      </v-col>
      <v-col cols="6" sm="6" class="slno" style=" margin-bottom: -13px;padding-top: 5px !important;padding-bottom: 0px !important;padding-left: 0px !important;padding-right: 4px;!important;">
  <v-autocomplete
            v-model="item.AssetStatus"
            :items="AssetStatusOptions"
            dense
         outlined
          :label="$t(`menu.Status`)"

          ></v-autocomplete>
      </v-col>
      </v-row>
      </v-col>
      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
    <v-divider></v-divider>
    <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" class="slno">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="Back()"
              v-if="IsShowBackButton"
            >
              {{ $t(`menu.Back`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
              @click="VerifyAsset()"
            >
              {{ $t(`menu.Verify`) }}
            </v-btn>
        </v-col>
        </v-row>



  </v-card>




  </v-container>
  </div>







   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
        absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import { StreamBarcodeReader } from 'vue-barcode-reader'
//import Sign from 'pages/dashboard/digitalSign';
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
import VueHtmlToPaper from 'vue-html-to-paper';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import fab from 'vue-fab'
import vueSignature from "vue-signature"
import Vue2TouchEvents from 'vue2-touch-events'
import DayEndCheck from "../../mixins/DayEndCheck";

Vue.use(Vue2TouchEvents)
// or using the defaults with no stylesheet
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css'
  ]
}

Vue.use(VueHtmlToPaper,options);

export default {
     components: { vSelect ,VueBottomSheet,fab,vueSignature,StreamBarcodeReader},
  data() {
    return {
      overlay: false,
      Title:'',
      copm:true,
      signtype:'',
       mainicon: 'menu',
         bgColor: '#778899',
         position: 'bottom-right',
          iconsize: 'small',
            signature1 : false,
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'ClearPhysicalStock',
          icon: 'cached',
          tooltip:this.$t(`common.Clear`)
        },

        {
          name: 'DeletePhysicalStock',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
        {
          name: 'SavePhysicalStock',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },
      ]
    },
         img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6qoa2_qO-46WAuod6MA2kYphFQkc1aLvGA&usqp=CAU',
         total:'412.00',
         NetTtl:'145825.00',
         Tax:'12.00',

        /*  items: [
        {
         no: '1',
         Particulars:'sunlight',
         Quantity :'10 pcs',
         Rate :'10.000',
         Amount :'12.023',
        },
        {
         no: '2',
         Particulars:'sunlight Soap Bar',
         Quantity :'2 pcs',
         Rate :'10.330',
         Amount :'20.066',
        },
         {
         no: '3',
         Particulars:'Soap',
         Quantity :'3 pcs',
         Rate :'100000.330',
         Amount :'12000000.661',
        },

         ], */
         ttl:[],
         output: null,
         salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      ItemModal:false,
      editModal:false,
      fabsh:true,
      posindex:'',
      new_index:0,
      Priority: 'false',
      right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,

    menu: false,
    menu1: false,
    apiurl : '',
     bURL : "",
    bURLPrint : "",
    logo : "",
    Assets:[],
    AssetStatusOptions:['Good Condition','Damaged','Missing'],
    IsShowBackButton:true,
    Token:window.localStorage.getItem('Token')



    }
  },
  mounted(){
      history.pushState(null, null, location.href);
        window.onpopstate = function () {
          history.go(1);
      };
    // this.print()
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    this.ActivePage  = localStorage.getItem('ActivePage')
    localStorage.setItem('ActiveRoute','/dashboard/masters/assets')
   /*  if( this.ActivePage  === "CustomerProfile")
    {
      this.IsShowBackButton = false
    } */




   this.LoadAssetsByCustomer()

    /*  while ( this.Executed === false)
    {
      console.log('excecuting')
    } */

   },
   mixins: [DayEndCheck],
  computed: {


   },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
    LoadAssetsByCustomer()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.CustName = localStorage.getItem('CustNameForAssetVerification')
       this.encodeCustName = encodeURIComponent(this.CustName)
       this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
       this.ActiveRouteID = this.ActiveRouteID ? parseInt(this.ActiveRouteID):-1
      axios.get (this.bURL + 'Asset/LoadAssetsByCustomer?CustomerName=' + this.encodeCustName + '&RouteID=' +this.ActiveRouteID)
        .then((response)  =>  {
         this.Assets = response.data
         for(this.i = 0;this.i<this.Assets.length;this.i++)
         {
           if(this.Assets[this.i].Status === 'G')
           {
             this.Assets[this.i].AssetStatus = "Good Condition"
           }
           else if(this.Assets[this.i].Status === 'D')
           {
             this.Assets[this.i].AssetStatus = "Damaged"
           }
            else if(this.Assets[this.i].Status === 'M')
           {
             this.Assets[this.i].AssetStatus = "Missing"
           }

         }
          /* setTimeout(() => {
     this.SetColor()
  }, 500)
      ; */
        }, (error)  =>  {
          console.log(error)
        })
    },
     SetColor()
  {
    for(this.i = 0;this.i<this.Assets.length;this.i++)
    {
      this.id='AssetStatus' + this.i
      if(this.Assets[this.i].AssetStatus === 'Good Condition')
      {
        document.getElementById(this.id).style.color = "#2E7D32";
      }
      else if(this.Assets[this.i].AssetStatus === 'Damaged')
      {
        document.getElementById(this.id).style.color = "orange";
      }
      else if(this.Assets[this.i].AssetStatus === 'Missing')
      {
        document.getElementById(this.id).style.color = "#C62828";
      }
    }
  },
  Back()
  {
     if(this.ActivePage === "CustomerProfile")
           {
             this.$router.push('/dashboard/masters/customerProfile#tabs-assets')
           }
           if(this.ActivePage === "Sales")
           {
             this.$router.push('/dashboard/vouchers/sales')
           }
           if(this.ActivePage === "Order")
           {
             this.$router.push('/dashboard/order_form')
           }
           if(this.ActivePage === "Receipt")
           {
             this.$router.push('/dashboard/vouchers/receipt')
           }
  },
  VerifyAsset()
  {

    for(this.i = 0;this.i<this.Assets.length;this.i++)
    {
      this.Assets[this.i].LastVerifiedDate = new Date().toISOString().substr(0, 10)
    }
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post (this.bURL + 'Asset/UpdateAssetHolders' , this.Assets)
        .then((response)  =>  {
           this.SnackbarMessege = 'Verified Successfully'
           this.snackbar = true
           if(this.ActivePage === "CustomerProfile")
           {
             this.$router.push('/dashboard/masters/customerProfile#tabs-assets')
           }
           if(this.ActivePage === "Sales")
           {
             this.$router.push('/dashboard/vouchers/sales')
           }
           if(this.ActivePage === "Order")
           {
             this.$router.push('/dashboard/order_form')
           }
           if(this.ActivePage === "Receipt")
           {
             this.$router.push('/dashboard/vouchers/receipt')
           }
        }, (error)  =>  {
          console.log(error)
        })
  },
  FormatDate(Value)
  {
    if(Value !== ""  || Value !== undefined)
    {
      return  Value.split('T')[0]
    }
    else{
      return ""
    }

  },
    calc(){
      if(this.posside == 0)
      {
        this.new_index = this.posindex++;

      }else{
        this.new_index = this.posindex--;
      }

    },
    touchHandler (direction) {
            console.log(direction)  // May be left / right / top / bottom

    },
    open_PhysicalStock(){
       this.ItemModal =true
       this.fabsh = false

    },
     print () {
      // Pass the element id here
      // this.$htmlToPaper('printMe');
     var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
    },
    open(a) {
      if(a==1){
    this.Title =this.$t(`menu.SalesManSignature`)
      }
      if(a==2){
     this.Title =this.$t(`menu.VerifySignature`)
      }
      if(a==3){
     this.Title =this.$t(`menu.CustomerSignature`)
      }

      this.signtype = a
      this.$refs.myBottomSheet.open();
    },

  ///Move

//Move ends


      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval

      }
       if(this.signtype == 2)
      {
        this.verisign = svg
        localStorage.setItem('verisign',svg)
         localStorage.setItem('veriname',this.nameval)
         this.veriname  = this.nameval

      }
       if(this.signtype == 3)
      {

        this.customsign = svg
         localStorage.setItem('customsign',svg)
          localStorage.setItem('custname',this.nameval)
          this.custname  = this.nameval

      }

       this.$refs.myBottomSheet.close();

		},
		clearDigital(){
			var _this = this;
			_this.$refs.signature.clear();
		},

    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },



  }
}
</script>
<style scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

.v-application--is-ltr .v-expansion-panel-header {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}
.v-icon {

    font-size: 14px !important;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.v-expansion-panel-content__wrap {
    padding: 0px !important;
    flex: 1 1 auto;
    max-width: 100%;
}
.mdi-barcode::before {
        content: "\F0071";
    font-size: 27px;
    padding-right: 0px;
    padding-bottom: 16px;
}
.mdi-magnify::before {
    content: "\F0349";
    font-size: 30px;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 2px;
}

.mdi-plus::before {
    font-size: 25px;
    content: "\F0415";
    padding-top: 5px;
    padding-left: 9px;
}
.mdi-refresh::before {
    content: "\F0450";
    padding-top: 27px;
    font-size: 22px;
    padding-right: 37px;
    padding-left: 0px;
}
.mdi-arrow-left::before {
    content: "\F004D";
    font-size: 24px;
    padding-left: 9px;
}
.col-11 {
    flex: 0 0 86%;
    max-width: 86%;
    padding-top:0px;
    padding-bottom:0px;
}
.col-12{
   padding-top:0px;
    padding-bottom:0px;
}
.col-sm-12{
  padding-bottom:0px;
}
.col-1{
  padding-top:0px;
    padding-bottom:0px;
}
.v-text-field {
    padding-top: 2px;
    margin-top: 2;
}
 ::v-deep .v-snack__wrapper {
        min-width: 0px;
    }
</style>
<style>

/*
  Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .setmaxrow
{
  max-height:290px;
}

}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {

  .setmaxrow
{
  max-height:600px;
}

} */

#innerExPan > .v-expansion-panel-content__wrap {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
}
#newradio > .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label{
  padding-top:8px !important;
  font-size: 16px;
      color: rgb(0, 99, 145);
}
.plusbutton
{
  font-size: 15px !important;
}

@media screen and (max-height: 700px) {

      .setmaxrow
{
  max-height:290px;
}
.setmaxrownew{
    max-height:320px;
}
}
  @media (min-height: 701px) and (max-height: 750px) {
      .setmaxrow
{
  max-height:380px;
}
.setmaxrownew{
    max-height:410px;
}
        }
          @media (min-height: 751px) and (max-height: 900px) {
      .setmaxrow
{
  max-height:450px;
}
.setmaxrownew{
    max-height:480px;
}
        }
          @media (min-height: 901px) and (max-height: 1050px) {
      .setmaxrow
{
  max-height:650px;
}
.setmaxrownew{
    max-height:690px;
}
        }
           @media (min-height:1051px) and (max-height: 1500px) {
      .setmaxrow
{
  max-height:980px;
}
.setmaxrownew{
    max-height:1020px;
}
        }



     @media (min-width: 481px) and (max-width: 767px) {

.plusbutton
{
  font-size: 25px !important;
}
        }
@media (min-width: 768px) and (max-width: 1024px){

.plusbutton
{
  font-size: 25px !important;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.plusbutton
{
  font-size: 25px !important;
}

}
 @media (min-width: 1281px) {

.plusbutton
{
  font-size: 25px !important;
}
        }


/* @media screen and (max-width: 480px),
       screen and (max-height: 800px) {

      .setmaxrow
{
  max-height:400px;
}
} */

   /* @media (max-width: 480px) {

        }
           @media (min-width: 360px) and (max-width: 640px) {
      .setmaxrow
{
  max-height:290px;
}
        }

          @media (min-width: 360px) and (max-width: 800px) {
      .setmaxrow
{
  max-height:450px;
}
        }
        @media (min-width: 411px) and (max-width: 731px) {
      .setmaxrow
{
  max-height:380px;
}
        }
          @media (min-width: 412px) and (max-width: 732px) {
      .setmaxrow
{
  max-height:300px;
}
          }
      @media (min-width: 414px) and (max-width: 736px) {
      .setmaxrow
{
  max-height:380px;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
      .setmaxrow
{
  max-height:600px;
}
.plusbutton
{
  font-size: 25px !important;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
              .setmaxrow
{
  max-height:650px;
}
.plusbutton
{
  font-size: 25px !important;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

  .setmaxrow
{
  max-height:680px;
}
.plusbutton
{
  font-size: 25px !important;
}

}
 @media (min-width: 1281px) {
      .setmaxrow
{
  max-height:680px;
}
.plusbutton
{
  font-size: 25px !important;
}
        } */




</style>
