<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" :disabled="false">
   <v-dialog persistent content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-row>
            <v-col cols="12" style="padding-top: 0px;
    padding-bottom: 2px;
    margin-top: -21px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size: 25px;" > {{$t('menu.BulkDamageTransfer')}} </h4>
            </v-col>
     </v-row>
       <v-card>
          <v-card-title style="color:rgb(0 99 145);padding-bottom:0px">
             {{$t(`menu.SelectGodown`)}}
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">


                 <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:10px !important"
               >

                                  <v-autocomplete
          v-model="selectedDamageGodown"
          :items="DamageGodownOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleDamageGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedDamageGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconDamageGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllDamageGodown">
            <v-list-item-title>{{ $t(`dashboard.SelectedallDamageGodown`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.DamageGodownCount`) }} :{{ selectedDamageGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeDamageGodown">
            <v-list-item-title>{{ $t(`dashboard.DamageGodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedDamageGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
           </v-col>
            <v-col cols="12" sm="12" md="12" class="slno"
               style="padding-bottom:0px !important;padding-top:11px !important"
               >
 <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
               :return-value.sync="DamageTransferDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="DamageTransferDate"
                  :label="$t(`menu.TransferDate`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
               v-model="DamageTransferDate"
                scrollable

               >
          <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu1 = false">{{ $t(`common.cancel`) }} </v-btn>
          <v-btn text color="primary"   @click="$refs.menu1.save(DamageTransferDate)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-date-picker>
            </v-menu>
            </v-col>
                </v-row>
                <v-divider></v-divider>
<v-row no-gutters>
  <v-col cols="12" style="text-align:right">
<v-btn
            small
            :loading="isLoading"
            :disabled="isSignInDisabled"
              @click="BulkDamageStockTransfer()"
              style="background-color:#2E7D32;color:#FFF"
            >
           {{$t(`dashboard.ok`)}}
            </v-btn>
  </v-col>
</v-row>

             </div>
          </v-card-text>
        </v-card>




<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->




  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'
import update from "../../mixins/update";
//import ApiUpdate from "../../mixins/ApiUpdate";
import config from '../../configs/index'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
    globalpassword
  },

   data() {
    return {
       GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
       snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
      DamageTransferDate : new Date().toISOString().substr(0, 10),
      BulkDamageModal:false,
      DamageGodownOptions: JSON.parse( localStorage.getItem('DamageGodowns') ),
      selectedDamageGodown:[],
      bURL : localStorage.getItem("CompanyURL")+"/api/",
      DeleteId:-1,
      TempFromGodown:'',
      TempToGodown:'',
      Loaderdialog:false

    }
   },
   computed:{
     likesAllDamageGodown () {
      return this.selectedDamageGodown.length === this.DamageGodownOptions.length
    },
    likesSomeDamageGodown () {
      return this.selectedDamageGodown.length > 0 && !this.likesAllDamageGodown
    },
     iconDamageGodown () {
      if (this.likesAllDamageGodown) return 'mdi-close-box'
      if (this.likesSomeDamageGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },


  methods: {
     toggleDamageGodown () {
      this.$nextTick(() => {
        if (this.likesAllDamageGodown) {
          this.selectedDamageGodown = []
        } else {
          this.selectedDamageGodown = this.DamageGodownOptions.slice()
        }
      })
    },

SelectGodownStockItemwiseList(Godown,AsOnDate)
{
  if(Godown !== this.Settings.SalesDefaultDamageStore)
  {
    this.isLoading = true
    this.Loaderdialog = true
  this.StockTransferDetails = []
     axios.get(this.bURL + 'Godown/SelectGodownStockItemwiseList?Godowns=' + Godown + '&AsOnDate=' + AsOnDate + '&ZeroStock=false' )
              .then((response)  =>  {
                for(this.i = 0;this.i<response.data.length;this.i++)
                {
                  if(response.data[this.i].CurrentStock != 0)
                  {
                    this.Obj = {
                      "ItemId": response.data[this.i].ItemId,
                      "ItemName": response.data[this.i].ItemName,
                      "ItemCode": response.data[this.i].ItemCode,
                      "Barcode": response.data[this.i].Barcode,
                      "ItemNameArabic": response.data[this.i].ItemNameArabic,
                      "Unit": response.data[this.i].Unit,
                      "AltUnitId": response.data[this.i].AltUnitId,
                      "Qty" : response.data[this.i].CurrentStock,
                      "Rate":response.data[this.i].Cost,
                      "Amount" : response.data[this.i].CurrentStock * response.data[this.i].Cost,
                      "ItemDescription" : " ",
                     "FromGodown": Godown,
                     "ToGodown": this.Settings.SalesDefaultDamageStore,
                      "STRD_ID": -1
                    }


                  }
                  this.StockTransferDetails.push(this.Obj)
                }
               this.ExportToStockTransfer()

              }, (error)  =>  {
                  console.log(error)
              })
        }
        else{
         this.DamageGodownsForTransfer.splice(this.i,1)
        }
},
ExportToStockTransfer()
{
   this.isLoading = true
   this.Loaderdialog = true
   this.isSignInDisabled = true
  if(this.StockTransferDetails.length>0)
  {

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.DayEndDamageStockTransfer = this.Settings.DayEndDamageStockTransfer

         this.CreateStockTransfer()
  }
  else
  {
      this.DamageGodownsForTransfer.splice(this.i,1)
      this.ExecuteBulkDamageStockTransfer()

  }
},
 CreateStockTransfer()
    {

       this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }

       this.today = new Date();

        this.hours = this.today.getHours().toString()
        if(this.hours.length === 1)
        {
          this.hours = '0'+this.today.getHours()
        }
        else
        {
          this.hours = this.today.getHours()
        }

        this.Minutes = this.today.getMinutes().toString()
        if(this.Minutes.length === 1)
        {
          this.Minutes = '0'+this.today.getMinutes()
        }
        else
        {
          this.Minutes = this.today.getMinutes()
        }

         this.Seconds = this.today.getSeconds().toString()
        if(this.Seconds.length === 1)
        {
          this.Seconds = '0'+this.today.getSeconds()
        }
        else
        {
          this.Seconds = this.today.getSeconds()
        }
       this.time =this.hours + ":" + this.Minutes +":"+ this.Seconds

       this.d1 = this.DamageTransferDate + 'T' + this.time


      this.TransferObject =   {
	      'VoucherNo': -1,
        'ReferNo': '',
	      'VoucherDate': this.d1,
	      'BranchCode': this.BranchCode?this.BranchCode:'MB',
        'Description': '',
        'StockTransferDetails' :[],
        'Locked':'Y',
        'IsVerified':'C',
        'Username': localStorage.getItem('user')
      }
      this.TransferObject.StockTransferDetails = this.StockTransferDetails
      this.TransferObject.VoucherNo =  -1
       localStorage.setItem('TransferObject',JSON.stringify(this.TransferObject))
       this.isLoading = true
       this.isSignInDisabled = true
       this.Loaderdialog = true
        if(this.TempFromGodown === this.TransferObject.StockTransferDetails[0].FromGodown &&  this.TempToGodown === this.TransferObject.StockTransferDetails[0].ToGodown)
       {
         this.DamageGodownsForTransfer.splice(this.DeleteId,1)
         this.ExecuteBulkDamageStockTransfer()
       }
       else{
       axios.post ( this.bURL + 'StockTransfer',this.TransferObject,
            {
                headers: this.headers
            })
              .then((response)  =>  {
                this.TempFromGodown = this.TransferObject.StockTransferDetails[0].FromGodown
                  this.TempToGodown = this.TransferObject.StockTransferDetails[0].ToGodown
                  this.DamageGodownsForTransfer.splice(this.DeleteId,1)
                  this.ExecuteBulkDamageStockTransfer()

              }, (error)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
                 this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
       }


    },
    BulkDamageStockTransfer()
    {
      this.isLoading = true
      this.isSignInDisabled = true
      this.Loaderdialog = true
      this.Settings = JSON.parse(localStorage.getItem('Settings'));
      this.DamageGodownsForTransfer =  this.selectedDamageGodown
      if(this.DamageGodownsForTransfer.length === 0)
      {
       this.DamageGodownsForTransfer = this.DamageGodownOptions
      }
      this.ExecuteBulkDamageStockTransfer()
    },
    ExecuteBulkDamageStockTransfer()
    {

      //this.DamageTransferDate = '2021-01-08'//new Date().toISOString().substr(0, 10)
     for(this.i = 0;this.i<this.DamageGodownsForTransfer.length;this.i++)
      {
        if(this.DamageGodownsForTransfer[this.i] !== this.Settings.SalesDefaultDamageStore)
        {
          this.DeleteId = this.i
           this.SelectGodownStockItemwiseList(this.DamageGodownsForTransfer[this.i],this.DamageTransferDate,false)
           break
           //this.i = this.i -1
        }
        else{
          this.DamageGodownsForTransfer.splice(this.i,1)
           this.i = this.i -1
        }
      if(this.DamageGodownsForTransfer.length === 0)
      {
        this.SnackbarMessege = this.$t(`menu.TransferdSuccessfully`)
        this.snackbar = true
      }
    }
     if(this.DamageGodownsForTransfer.length === 0)
      {
        this.isLoading = false
        this.Loaderdialog = false
        this.isSignInDisabled = false
        this.BulkDamageModal = false
      }
    }

  }
}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
