<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" :disabled="false">
   <v-dialog persistent content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <!-- <v-row>
            <v-col cols="12" style="padding-top: 0px;
    padding-bottom: 2px;
    margin-top: -21px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size: 23px;" > {{$t('menu.BulkStockTransfer')}} </h4>
            </v-col>
     </v-row> -->
       <v-card>
          <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >{{$t('menu.BulkStockTransfer')}}</b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
                 <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>
           <div style="    padding-top: 18px;

    margin-bottom: -17px;text-align:center">
          <div class="form-check form-check-inline"    id="newradio">
    <input class="form-check-input" type="radio" name="exampleRadios"  value="customRadioInline1"
         @click="SetFreshGodown()"
        :checked="IsFreshGodown"  style="height:17px;width:17px">
    <label class="form-check-label" for="exampleRadios1" style="font-size:16px !important;padding-right:3px">
            {{ $t(`menu.Fresh`) }}
        </label>
  </div>

  <div class="form-check form-check-inline"    id="newradio">
    <input class="form-check-input" type="radio" name="exampleRadios"  value="customRadioInline2"
        @click="SetDamageGodown()"
       :checked="!IsFreshGodown" style="height:17px;width:17px">
    <label class="form-check-label" for="exampleRadios2" style="font-size:16px !important;padding-right:3px">
           {{ $t(`dashboard.damageh`) }}
        </label>
  </div>
  </div>

          <v-card-text>




             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" v-if="IsFreshGodown">


                 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:10px !important"
               v-if="IsFreshGodown">

                                  <v-autocomplete
          v-model="selectedGodown"
          :items="GodownOptions"
           label="From Godown"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllGodown">
            <v-list-item-title>{{ $t(`dashboard.SelectedallGodown`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.GodownCount`) }} :{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeGodown">
            <v-list-item-title>{{ $t(`dashboard.GodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
           </v-col>
           <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:5px !important"
               >
          <!-- <label style="color:rgb(0 99 145);padding-bottom:0px"> To Godown</label> -->

                                  <v-autocomplete
          v-model="ToGodown"
          :items="GodownOptions1"
           label="To Godown"
          outlined
          dense
          clearable
          :disabled="true"
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >

</v-autocomplete>
           </v-col>
            <v-col cols="12" sm="12" md="12" class="slno"
               style="padding-bottom:0px !important;padding-top:11px !important"
               >
 <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
               :return-value.sync="TransferDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
              style="z-index: 100000 !important;"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="TransferDate"
                  :label="$t(`menu.TransferDate`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
               v-model="TransferDate"
                scrollable

               >
          <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu1 = false">{{ $t(`common.cancel`) }} </v-btn>
          <v-btn text color="primary"   @click="$refs.menu1.save(TransferDate)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-date-picker>
            </v-menu>
            </v-col>
                </v-row>
                <v-divider></v-divider>
<v-row no-gutters>
  <v-col cols="12" style="text-align:right;padding-top: 15px;">
<v-btn
            small
            :loading="isLoading"
            :disabled="isSignInDisabled"
              @click="BulkStockTransfer()"
              style="background-color:#2E7D32;color:#FFF"
            >
           {{$t(`dashboard.ok`)}}
            </v-btn>
  </v-col>
</v-row>

             </div>




              <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" v-if="!IsFreshGodown">


                 <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:10px !important"
               >

                                  <v-autocomplete
          v-model="selectedDamageGodown"
          :items="DamageGodownOptions"
           label="From Godown"
          multiple
          outlined
          dense
          clearable
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleDamageGodown"
        >
          <v-list-item-action>
            <v-icon :color="selectedDamageGodown.length > 0 ? 'indigo darken-4' : ''">{{ iconDamageGodown }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllDamageGodown">
            <v-list-item-title>{{ $t(`dashboard.SelectedallDamageGodown`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.DamageGodownCount`) }} :{{ selectedDamageGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeDamageGodown">
            <v-list-item-title>{{ $t(`dashboard.DamageGodownCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedDamageGodown.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
           </v-col>
            <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:5px !important"
               v-if="!IsFreshGodown" >
                              <v-autocomplete
          v-model="ToGodown"
          :items="DamageGodownOptions1"
           label="To Godown"
          outlined
          dense
          clearable
          :disabled="true"
           style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -12px !important;"
        >

</v-autocomplete>
            </v-col>
            <v-col cols="12" sm="12" md="12" class="slno"
               style="padding-bottom:0px !important;padding-top:11px !important"
               >
 <v-menu
              ref="menu1"
              v-model="menu1"
              :close-on-content-click="false"
               :return-value.sync="TransferDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
              style="z-index: 100000 !important;"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="TransferDate"
                  :label="$t(`menu.TransferDate`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
               v-model="TransferDate"
                scrollable

               >
          <v-spacer></v-spacer>
         <v-btn text color="primary" @click="menu1 = false">{{ $t(`common.cancel`) }} </v-btn>
          <v-btn text color="primary"   @click="$refs.menu1.save(TransferDate)">{{$t(`dashboard.ok`)}}</v-btn>
        </v-date-picker>
            </v-menu>
            </v-col>
                </v-row>
                <v-divider></v-divider>
<v-row no-gutters>
  <v-col cols="12" style="text-align:right;padding-top:15px">
<v-btn
            small
            :loading="isLoading"
            :disabled="isSignInDisabled"
              @click="BulkDamageStockTransfer()"
              style="background-color:#2E7D32;color:#FFF"
            >
           {{$t(`dashboard.ok`)}}
            </v-btn>
  </v-col>
</v-row>

             </div>
          </v-card-text>
        </v-card>




<!-- ------------------------------------------------- GlobalPasswordModal Strrts Here------------------------------------------------------- -->

  <v-menu v-model="GlobalPasswordModal">
     <globalpassword/>
        </v-menu>


<!-- ------------------------------------------------- GlobalPasswordModal Ends Here------------------------------------------------------- -->

 <!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
 <v-dialog
      v-model="CommonModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(238,68,170)"> </v-card-title>
        <v-card-text style="padding-bottom: 0px">
          <label>{{ CommonModalLabel }}</label>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="CommonModal = false"
            style="background-color:#2E7D32;color:#FFF"
            small
          >
            {{ $t(`dashboard.ok`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- ------------------------------------------------- CommonModal Ends Here------------------------------------------------------- -->
 



  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'
import update from "../../mixins/update";
//import ApiUpdate from "../../mixins/ApiUpdate";
import config from '../../configs/index'
import globalpassword from '@/pages/Masters/GlobalPassword.vue'
export default {
  components: {
    globalpassword
  },

   data() {
    return {
       GlobalPasswordModal :false,
      headers : {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer ' + localStorage.getItem('Token')
              },
       snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,
      TransferDate : new Date().toISOString().substr(0, 10),
      BulkModal:false,
      GodownOptions: JSON.parse( localStorage.getItem('LinkedGodowns')),
      GodownOptions1: JSON.parse( localStorage.getItem('LinkedGodowns')),
      selectedGodown:[],
      bURL : localStorage.getItem("CompanyURL")+"/api/",
      DeleteId:-1,
      TempFromGodown:'',
      TempToGodown:'',
      Loaderdialog:false,
      IsFreshGodown : true,
      ToGodown : "Main Store",
      BulkDamageModal:false,
      DamageGodownOptions: JSON.parse( localStorage.getItem('LinkedDamageGodowns') ),
      DamageGodownOptions1: JSON.parse( localStorage.getItem('LinkedDamageGodowns') ),
      selectedDamageGodown:[],
      RoleSettings: JSON.parse( localStorage.getItem("RoleSettings")),
      Settings : JSON.parse(localStorage.getItem('Settings')),
      CommonModal:false,
      CommonModalLabel:""

    }
   },
   computed:{
     likesAllGodown () {
      return this.selectedGodown.length === this.GodownOptions.length
    },
    likesSomeGodown () {
      return this.selectedGodown.length > 0 && !this.likesAllGodown
    },
     iconGodown () {
      if (this.likesAllGodown) return 'mdi-close-box'
      if (this.likesSomeGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

      likesAllDamageGodown () {
      return this.selectedDamageGodown.length === this.DamageGodownOptions.length
    },
    likesSomeDamageGodown () {
      return this.selectedDamageGodown.length > 0 && !this.likesAllDamageGodown
    },
     iconDamageGodown () {
      if (this.likesAllDamageGodown) return 'mdi-close-box'
      if (this.likesSomeDamageGodown) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },

  mounted(){
    this.DamageGodownOptions1.push(this.Settings.SalesDefaultDamageStore)

    for(this.i=0;this.i<this.GodownOptions.length;this.i++)
    {
      if(this.GodownOptions[this.i] === "Main Store")
      {
        this.GodownOptions.splice(this.i,1)
      }
    }
    for(this.i=0;this.i<this.GodownOptions.length;this.i++)
    {
      if(this.GodownOptions[this.i] === "TransitGodown")
      {
        this.GodownOptions.splice(this.i,1)
      }
    }
    for(this.i=0;this.i<this.DamageGodownOptions.length;this.i++)
    {
      if(this.DamageGodownOptions[this.i] === this.Settings.SalesDefaultDamageStore)
      {
        this.DamageGodownOptions.splice(this.i,1)
        break
      }
    }

    
  },
  methods: {
     toggleGodown () {
      this.$nextTick(() => {
        if (this.likesAllGodown) {
          this.selectedGodown = []
        } else {
          this.selectedGodown = this.GodownOptions.slice()
        }
      })
    },

     toggleDamageGodown () {
      this.$nextTick(() => {
        if (this.likesAllDamageGodown) {
          this.selectedDamageGodown = []
        } else {
          this.selectedDamageGodown = this.DamageGodownOptions.slice()
        }
      })
    },

SelectGodownStockItemwiseList(Godown,AsOnDate)
{
  if(Godown !== this.Settings.SalesDefaultStore)
  {
    this.isLoading = true
    this.Loaderdialog = true
  this.StockTransferDetails = []
     axios.get(this.bURL + 'Godown/SelectGodownStockItemwiseList?Godowns=' + Godown + '&AsOnDate=' + AsOnDate + '&ZeroStock=false' )
              .then((response)  =>  {
                for(this.i = 0;this.i<response.data.length;this.i++)
                {
                  if(response.data[this.i].CurrentStock != 0)
                  {
                    this.Obj = {
                      "ItemId": response.data[this.i].ItemId,
                      "ItemName": response.data[this.i].ItemName,
                      "ItemCode": response.data[this.i].ItemCode,
                      "Barcode": response.data[this.i].Barcode,
                      "ItemNameArabic": response.data[this.i].ItemNameArabic,
                      "Unit": response.data[this.i].Unit,
                      "AltUnitId": response.data[this.i].AltUnitId,
                      "Qty" : response.data[this.i].CurrentStock,
                      "Rate":response.data[this.i].Cost,
                      "Amount" : response.data[this.i].CurrentStock * response.data[this.i].Cost,
                      "ItemDescription" : " ",
                     "FromGodown": Godown,
                     "ToGodown": this.ToGodown,
                      "STRD_ID": -1
                    }


                  }
                  this.StockTransferDetails.push(this.Obj)
                }
               this.ExportToStockTransfer()

              }, (error)  =>  {
                  console.log(error)
              })
        }
        else{
         this.GodownsForTransfer.splice(this.i,1)
        }
},
ExportToStockTransfer()
{
   this.isLoading = true
   this.Loaderdialog = true
   this.isSignInDisabled = true
  if(this.StockTransferDetails.length>0)
  {

    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    this.DayEndStockTransfer = this.Settings.DayEndStockTransfer

         this.CreateStockTransfer()
  }
  else
  {
      this.GodownsForTransfer.splice(this.i,1)
      this.ExecuteBulkStockTransfer()

  }
},
 CreateStockTransfer()
    {

       this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }

       this.today = new Date();

        this.hours = this.today.getHours().toString()
        if(this.hours.length === 1)
        {
          this.hours = '0'+this.today.getHours()
        }
        else
        {
          this.hours = this.today.getHours()
        }

        this.Minutes = this.today.getMinutes().toString()
        if(this.Minutes.length === 1)
        {
          this.Minutes = '0'+this.today.getMinutes()
        }
        else
        {
          this.Minutes = this.today.getMinutes()
        }

         this.Seconds = this.today.getSeconds().toString()
        if(this.Seconds.length === 1)
        {
          this.Seconds = '0'+this.today.getSeconds()
        }
        else
        {
          this.Seconds = this.today.getSeconds()
        }
       this.time =this.hours + ":" + this.Minutes +":"+ this.Seconds

       this.d1 = this.TransferDate + 'T' + this.time


      this.TransferObject =   {
	      'VoucherNo': -1,
        'ReferNo': '',
	      'VoucherDate': this.d1,
	      'BranchCode': this.BranchCode?this.BranchCode:'MB',
        'Description': '',
        'StockTransferDetails' :[],
        'Locked':'Y',
        'IsVerified':'C',
        'Username': localStorage.getItem('user')
      }
      this.TransferObject.StockTransferDetails = this.StockTransferDetails
      this.TransferObject.VoucherNo =  -1
       localStorage.setItem('TransferObject',JSON.stringify(this.TransferObject))
       this.isLoading = true
       this.isSignInDisabled = true
       this.Loaderdialog = true
        if(this.TempFromGodown === this.TransferObject.StockTransferDetails[0].FromGodown &&  this.TempToGodown === this.TransferObject.StockTransferDetails[0].ToGodown)
       {
         this.GodownsForTransfer.splice(this.DeleteId,1)
         this.ExecuteBulkStockTransfer()
       }
       else{
        localStorage.setItem('StockTransferDetails',JSON.stringify(this.TransferObject))
       axios.post ( this.bURL + 'StockTransfer',this.TransferObject,
            {
                headers: this.headers
            })
              .then((response)  =>  {
                this.TempFromGodown = this.TransferObject.StockTransferDetails[0].FromGodown
                  this.TempToGodown = this.TransferObject.StockTransferDetails[0].ToGodown
                  this.GodownsForTransfer.splice(this.DeleteId,1)
                  this.ExecuteBulkStockTransfer()

              }, (error)  =>  {
          this.isLoading = false
          this.Loaderdialog = false
                 this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })
       }


    },
    BulkStockTransfer()
    {
      this.isLoading = true
      this.isSignInDisabled = true
      this.Loaderdialog = true
      this.Settings = JSON.parse(localStorage.getItem('Settings'));
      this.GodownsForTransfer =  this.selectedGodown
      if(this.GodownsForTransfer.length === 0)
      {
        this.CommonModalLabel = "Please Select From Godown"
        this.CommonModal = true
            /* this.SnackbarMessege = "Please Select From Godown"
            this.snackbar = true */
          this.isLoading = false
          this.isSignInDisabled = false
          this.Loaderdialog = false
          return
      }
      this.ToGodown = "Main Store",
      this.ExecuteBulkStockTransfer()
    },

    BulkDamageStockTransfer()
    {
      this.userType = window.localStorage.getItem('UserType')
      if(this.RoleSettings.AllowBulkDamageTransfer === "True" || this.userType === 'Administrator')
      {
          this.isLoading = true
          this.isSignInDisabled = true
          this.Loaderdialog = true
          this.Settings = JSON.parse(localStorage.getItem('Settings'));
          this.GodownsForTransfer =  this.selectedDamageGodown
          if(this.GodownsForTransfer.length === 0)
          {
            this.CommonModalLabel = "Please Select From Godown"
            this.CommonModal = true
            this.isLoading = false
            this.isSignInDisabled = false
            this.Loaderdialog = false
            /* this.SnackbarMessege = "Please Select From Godown"
            this.snackbar = true */
            return
          }
          this.ToGodown = this.Settings.SalesDefaultDamageStore
          this.ExecuteBulkStockTransfer()
      }
      else{
        this.CommonModalLabel = "You have no permission"
        this.CommonModal = true
        this.isLoading = false
          this.isSignInDisabled = false
          this.Loaderdialog = false
        /* this.SnackbarMessege = "You have no permission"
        this.snackbar = false */
      }

    },
    ExecuteBulkStockTransfer()
    {
      //this.TransferDate = '2021-01-08'//new Date().toISOString().substr(0, 10)
     for(this.i = 0;this.i<this.GodownsForTransfer.length;this.i++)
      {
        if(this.GodownsForTransfer[this.i] !== this.Settings.SalesDefaultStore)
        {
          this.DeleteId = this.i
           this.SelectGodownStockItemwiseList(this.GodownsForTransfer[this.i],this.TransferDate,false)
           break
           //this.i = this.i -1
        }
        else{
          this.GodownsForTransfer.splice(this.i,1)
           this.i = this.i -1
        }
      if(this.GodownsForTransfer.length === 0)
      {
        this.CommonModalLabel = this.$t(`menu.TransferdSuccessfully`)
        this.CommonModal = true
        this.isLoading = false
        this.Loaderdialog = false
        this.isSignInDisabled = false
        this.BulkModal = false
        /* this.SnackbarMessege = this.$t(`menu.TransferdSuccessfully`)
        this.snackbar = true */
      }
    }
     if(this.GodownsForTransfer.length === 0)
      {
        this.CommonModalLabel = this.$t(`menu.TransferdSuccessfully`)
        this.CommonModal = true
        this.isLoading = false
        this.Loaderdialog = false
        this.isSignInDisabled = false
        this.BulkModal = false
      }
    },
     SetFreshGodown()
    {

        this.IsFreshGodown=true
        this.ToGodown = "Main Store"

    },
    SetDamageGodown()
    {
       this.IsFreshGodown=false
       this.ToGodown = this.Settings.SalesDefaultDamageStore

    },

  }
}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
