<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.Category`)}} </h4>
            </v-col>
          </v-row>
      </div>
      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -9px; " >

          <v-text-field
          solo
        rounded

        ref="FocusField"
        v-model="Categorysearch" :label="$t(`menu.AddCategory`)"  style="padding-bottom:0px">
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="SaveCategory" v-if="IsNew">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)" @click="Update()" v-if="IsUpdate">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text>


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header    style="text=align:center !important;min-height: 24px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;font-size:12px">{{ $t(`menu.Categories`) }}</b>
      </v-col>
        </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
     {{ $t(`menu.Name`) }}
      </v-col>
          <v-col cols="3" sm="3" class="text-center">
      </v-col>

    </v-row>

       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in resultQuery"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slno1" style=" " >

   <b >{{item}} </b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="mr-2"
        @click="EditCategory(item)"
        color="#2E7D32"

      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="DeleteCategory(item)"
        color="#E53935"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>


        </v-card-text>
      </v-card>

     <!-- <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"

   @SaveCategory="SaveCategory"


></fab> -->
  <v-dialog v-model="UpdateConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to update</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModal = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="UpdateCategory()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  <v-dialog v-model="CreateWarningModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new Category?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateCategory()" >Update</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveCategory">Create</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
       <v-dialog v-model="DeleteConfirmationModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCategory">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
 <v-dialog v-model="SubCategoryModal" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to Create Subcategory with same name</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SetNoSubCategory">No</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="SetSubCategory">Yes</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  <v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
import DayEndCheck from "../../mixins/DayEndCheck";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,

         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],

      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'save',
      zindex: '100',
      iconsize: 'small',
      // fabActions: [
      //     {
      //     name: 'ClearItem',
      //     icon: 'add_circle_outline',
      //     tooltip:this.$t(`menu.New`)
      //   },
      //   {
      //     name: 'DeleteCategory',
      //     icon: 'delete',
      //      tooltip:this.$t(`common.delete`)
      //   },
      //     {
      //     name: 'ClearCategory',
      //     icon: 'clear',
      //     tooltip:this.$t(`common.Clear`)
      //   },

      //     {
      //     name: 'SaveCategory',
      //     icon: 'save',
      //    tooltip:this.$t(`common.save`)
      //   },

      // ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    UserTypeOptions : [],
    IsMultiBarnch : false,
    CategoryOptions : [],

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmationModal : false,
    DeleteName:'',
    menu: false,
    Categorysearch:'',
    OldName:'',
    IsNew : true,
    UpdateConfirmationModal:false,
    IsUpdate : false,
    SubCategoryModal:false,
    AutoInsertSubCategory:false,
     IsShowCreateWarningModal:false,
    CreateWarningModal:false
    }
  },
  mixins: [DayEndCheck],
  computed: {
     resultQuery() {
      this.CategoryNew = []
    if(this.Categorysearch !== '')
    {
       this.CategoryNew = this.CategoryOptions.filter(post => {
        return post.toString().toLowerCase().includes(this.Categorysearch.toLowerCase());
      })
      if(this.CategoryNew.length > 100)
      {
         this.CategoryNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CategoryNewReturn.push(this.CategoryNew[this.i])

        }
        return this.CategoryNewReturn
      }
      else{
         return this.CategoryNew
      }
    }
    else{
      if(this.IsUpdate === true)
      {
        this.IsShowCreateWarningModal = true
      }
      if(this.CategoryOptions.length > 100)
      {
         this.CategoryNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CategoryNewReturn.push(this.Customers[this.i])

        }
        return this.CategoryNewReturn
      }
      else{
         return this.CategoryOptions
      }
    }

    },

  },
  mounted()
  {
     this.PreviousPage = localStorage.getItem('PreviousRoute')
      localStorage.setItem('ActivePage','Category')
      this.BackToPage = localStorage.getItem('BackToPage')
      localStorage.setItem('ActiveRoute','/dashboard/masters/category')

    if( this.BackToPage !== 'ItemMaster' && this.PreviousPage !== 'ItemMaster')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }
    else
    {
      if(this.BackToPage === 'ItemMaster')
      {
         history.pushState(null, null, location.href);
window.onpopstate = function () {
    location.href = location.origin + '/dashboard/masters/itemMaster'
};
      }
    }
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','UserProfile')
   localStorage.removeItem('VoucherUpdated')
   this.GetCategory()
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();



  },
  methods:
  {

        saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    BasicSettings()
    {
      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson !== '')
        this.Salesman = this.IsSalesPerson
        
       this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }

      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmItemCategory')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
    },
    FormatewithDecimalPlaces(value)
    {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },
    SaveCategory()
    {
       if(this.Categorysearch === "" )
      {
        this.SnackbarMessege = "Please enter Category name"
        this.snackbar = true
        return
      }
      else{
        this.SubCategoryModal = true
      }
    },
    SetNoSubCategory()
    {
      this.AutoInsertSubCategory = false
      this.ExecuteSaveCategory()
    },
    SetSubCategory()
    {
      this.AutoInsertSubCategory = true
      this.ExecuteSaveCategory()
    },
    ExecuteSaveCategory()
    {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Category/InsertCategory?Category='+this.Categorysearch +'&AutoInsertSubCategory='+this.AutoInsertSubCategory)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.SubCategoryModal = false
              this.CreateWarningModal = false
              this.ClearCategory()
              this.GetCategory()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditCategory(name)
    {
        this.Categorysearch = name
        this.OldName = name
        this.IsUpdate = true
        this.IsNew = false

        setTimeout(() => {
    this.$refs.FocusField.focus()
  }, 200)
      ;

    },
    Update()
    {
      if(this.IsShowCreateWarningModal === true)
      {
        this.CreateWarningModal = true
      }
      else
      {
        this.UpdateConfirmationModal = true
      }
    },
    UpdateCategory()
    {
      if(this.Categorysearch === "" )
      {
        this.SnackbarMessege = "Please Select Category name"
        this.snackbar = true
        return
      }
        if (this.isUpdatePermission === true)
        {
            axios.put ( this.bURL + 'Category/UpdateCategory?OldCategory='+ this.OldName +'&Category='+this.Categorysearch)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearCategory()
                  this.GetCategory()
                  this.UpdateConfirmationModal = false
                  this.CreateWarningModal = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteCategory(item)
    {
      if (this.Categorysearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteName = item
          this.DeleteConfirmationModal = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteCategory()
    {
      axios.delete( this.bURL + 'Category/DeleteCategory?Category=' + this.DeleteName)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModal = false
          this.ClearCategory()
          this.GetCategory()
        },(error)  =>  {
          this.DeleteConfirmationModal = false
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearCategory()
    {
      this.Categorysearch = ""
       this.IsNew = true
       this.IsUpdate = false
       this.OldName = ""
       this.AutoInsertSubCategory = false
       this.IsShowCreateWarningModal = false
    },
    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },
    GetCategory() {
      this.CategoryOptions = []
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get( this.bURL + 'item/GetItemCategories' )
        .then((response)  =>  {
          this.CategoryOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },


  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .salesPersons {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
