<template>
  <div class="d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <!-- <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog> -->
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
<v-row no-gutters>
  <v-col cols="12" style="text-align:center;padding-top:3px; margin-bottom: -9px;">
  <label  style="font-size: 15px;
  padding-left:10px;text-align:center;color:rgb(238,68,170);font-weight: 450">Closing Cash Statement</label>
  </v-col>
</v-row>

        <v-card-text style="padding-top:4px !important">
   <v-tabs v-model="tab"  centered background-color="cyan" dark next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows style="font-size:12px">
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew" style=" font-size: 11px;">OMR</v-tab>
      <v-tab to="#tabs-informationnew" id="innerExPannew2" style="font-size: 11px;">AED</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab" touchless>

        <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">

  <v-row no-gutters>
      <v-col cols="6" style="text-align:left;padding-top: 5px;
    margin-bottom: -4px;padding-left:5px">

    </v-col>
    <v-col cols="6" style="text-align:right;padding-top: 5px;
    margin-bottom: -4px;">
      <label> Total OMR : <b>200.000</b></label>
    </v-col>

  </v-row>

      <v-row no-gutters style="    font-size: 10px;padding: 0px; background: #343a402e;"  >
          <v-col cols="4" sm="4"  class="slno1" style="color:rgb(0, 150, 199)">
           Currency Value
        </v-col>
        <v-col cols="4" sm="4"  class="text-center" style="color:rgb(0, 150, 199)">
        Count
        </v-col>

          <v-col cols="4" sm="4" class="text-right" style="color:rgb(0, 150, 199)">
          Amount
        </v-col>
      </v-row>
  <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px;"  >
        <v-expansion-panels >
      <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >

        <div style=" max-height:350px; overflow:scroll;overflow-x: hidden;">
      <v-expansion-panel-header expand-icon="" v-for="(item,i) in 10"  :key="i"  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;">
        <v-row>
            <v-col cols="4" sm="4" class="slno1"  style="padding: 0px !important;" >

    <b >50</b>
        </v-col>
        <v-col cols="4" sm="4"  class="text-center" style="padding: 0px !important;" >
  <input type="number" value="2" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" >
        </v-col>

        <v-col cols="4" sm="4" class="text-right" style="padding: 0px !important;">

  <b >100.000</b>
        </v-col>



        </v-row>
 </v-expansion-panel-header>
 </div>
 <v-divider></v-divider>
    <v-row no-gutters>
        <v-col cols="6" md="6" lg="6" class="slno" style="    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                 @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
        </v-col>
        </v-row>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>

      </v-tab-item>

    <!-- BasicTab Ensd heare -->



        <!-- Detail start heare -->
        <v-tab-item value="tabs-informationnew">
  <v-row no-gutters>
      <v-col cols="6" style="text-align:left;padding-top: 5px;
    margin-bottom: -4px;padding-left:5px">

    </v-col>
    <v-col cols="6" style="text-align:right;padding-top: 5px;
    margin-bottom: -4px;">
      <label> Total AED : <b>200.000</b></label>
    </v-col>

  </v-row>
      <v-row no-gutters style="    font-size: 10px;padding: 0px; background: #343a402e;"  >
          <v-col cols="4" sm="4"  class="slno1" style="color:rgb(0, 150, 199)">
           Currency Value
        </v-col>
        <v-col cols="4" sm="4"  class="text-center" style="color:rgb(0, 150, 199)">
        Count
        </v-col>

          <v-col cols="4" sm="4" class="text-right" style="color:rgb(0, 150, 199)">
          Amount
        </v-col>
      </v-row>
  <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px;"  >
        <v-expansion-panels >
      <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >

        <div style=" max-height:350px; overflow:scroll;overflow-x: hidden;">
      <v-expansion-panel-header expand-icon="" v-for="(item,i) in 10"  :key="i"  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;">
        <v-row>
            <v-col cols="4" sm="4" class="slno1"  style="padding: 0px !important;" >

    <b >50</b>
        </v-col>
        <v-col cols="4" sm="4"  class="text-center" style="padding: 0px !important;" >
  <input type="number" value="2" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" >
        </v-col>

        <v-col cols="4" sm="4" class="text-right" style="padding: 0px !important;">

  <b >100.000</b>
        </v-col>



        </v-row>
 </v-expansion-panel-header>
 </div>
   <v-divider></v-divider>
    <v-row no-gutters>
        <v-col cols="6" md="6" lg="6" class="slno" style="    padding-left: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                 @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
        </v-col>
        </v-row>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-row>
        </v-tab-item>

      <!-- <v-tab-item value="tabs-informationnew">
     <v-row no-gutters>
            <v-col cols="12" style="color:rgb(238,68,170);text-align:center;font-size: 15px;padding-top:10px;font-weight: 450;margin-bottom:-15px">
<label>Closing Cash Statement(AED)</label>
            </v-col>
          </v-row>
             <v-list-item class="mx-auto" style="margin-bottom: -20px;
}  ">
            <v-row no-gutters style="padding-top:0px;background: #343a402e;">
      <v-col cols="4" class="text-center"   style=";color:#263238">
        <span style="font-size:12px;color:rgb(0 150 199);">Currency Value</span>
      </v-col>
         <v-col class="text-center"  cols="4" style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Count</span>
      </v-col>
      <v-col cols="4" class="text-right"   style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Amount</span>
      </v-col>
    </v-row>
             </v-list-item>
  <v-list-item class="mx-auto" v-for="(item,i) in 10" :key="i" style="margin-top: -10px;">



    <v-row no-gutters style="padding-top:0px;" >

      <v-col cols="4" class="text-left"   style="color:#263238;padding-right: 0px;
    padding-left: 2px;padding-top: 5px;padding-bottom:5px">
            <span>
         100


            </span>

      </v-col>
         <v-col class="text-center"  cols="4" style="padding-right: 1px;
    padding-left: 4px;padding-top: 5px;padding-bottom:5px">




         <input type="number" value="2" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" >

      </v-col>
      <v-col cols="4" class="text-right"   style="padding-right: 0px;
    padding-left: 0px;padding-top: 5px;padding-bottom:5px">


    <label>2000.000</label>



      </v-col>

    </v-row>

   </v-list-item>
     <v-divider></v-divider>
    <v-row no-gutters>
      <v-col cols="4" style="padding-top: 7px;">

      </v-col>
       <v-col cols="4" class="text-right" style=" padding-top: 7px;">
       <label>Total AED :</label>
      </v-col>
       <v-col cols="4" class="text-right" style="padding-right: 15px;padding-top: 7px;">

<label><b>400000.000</b></label>
      </v-col>
    </v-row>
     <v-divider></v-divider>
    <v-row no-gutters>
        <v-col cols="6" md="6" lg="6" class="slno" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                 @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
        </v-col>
        </v-row>
      </v-tab-item> -->

       <!-- Detail ends heare -->


    </v-tabs-items>


        </v-card-text>
      </v-card>
       <v-dialog
        v-model="ClosingCashStatementModal"
        max-width="500px"
        style="    padding: 0 4px 4px !important;z-index: 100000!important;"
        id="innerExPan"

      >
        <v-card  id="innerExPan">

          <v-card-text  id="innerExPan">
            <v-row no-gutters>
            <v-col cols="12" style="color:rgb(238,68,170);text-align:center;font-size: 15px;padding-top:10px;font-weight: 450;margin-bottom:-15px">
<label>Closing Cash Statement(OMR)</label>
            </v-col>
          </v-row>
             <v-list-item class="mx-auto" style="margin-bottom: -20px;
}  ">
            <v-row no-gutters style="padding-top:0px;background: #343a402e;">
      <v-col cols="4" class="text-center"   style=";color:#263238">
        <span style="font-size:12px;color:rgb(0 150 199);">Currency Value</span>
      </v-col>
         <v-col class="text-center"  cols="4" style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Count</span>
      </v-col>
      <v-col cols="4" class="text-right"   style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Amount</span>
      </v-col>
    </v-row>
             </v-list-item>
  <v-list-item class="mx-auto" v-for="(item,i) in 10" :key="i" style="margin-top: -10px;">



    <v-row no-gutters style="padding-top:0px;" >

      <v-col cols="4" class="text-left"   style="color:#263238;padding-right: 0px;
    padding-left: 2px;padding-top: 5px;padding-bottom:5px">
            <span>
         100


            </span>

      </v-col>
         <v-col class="text-center"  cols="4" style="padding-right: 1px;
    padding-left: 4px;padding-top: 5px;padding-bottom:5px">



       <!-- <input type="text" class="form-control " style="font-size:11px;height: 30px;padding:4px;font-weight: bold;"  > -->
         <input type="number" value="2" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" >

      </v-col>
      <v-col cols="4" class="text-right"   style="padding-right: 0px;
    padding-left: 0px;padding-top: 5px;padding-bottom:5px">


    <label>2000.000</label>



      </v-col>

    </v-row>

   </v-list-item>
     <v-divider></v-divider>
    <v-row no-gutters>
      <v-col cols="4" style="padding-top: 7px;">

      </v-col>
       <v-col cols="4" class="text-right" style=" padding-top: 7px;">
       <label>Total OMR :</label>
      </v-col>
       <v-col cols="4" class="text-right" style="padding-right: 15px;padding-top: 7px;">

<label><b>400000.000</b></label>
      </v-col>
    </v-row>
     <v-divider></v-divider>
    <v-row no-gutters>
        <v-col cols="6" md="6" lg="6" class="slno" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="ClosingCashStatementModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                 @click="ClosingCashStatementModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
        </v-col>
        </v-row>
          </v-card-text>
        </v-card>

      </v-dialog>
          <v-dialog
        v-model="ClosingCashSecondaryStatementModal"
        max-width="500px"
        style="    padding: 0 4px 4px !important;z-index: 100000!important;"
        id="innerExPan"

      >
        <v-card  id="innerExPan">

          <v-card-text  id="innerExPan">
            <v-row no-gutters>
            <v-col cols="12" style="color:rgb(238,68,170);text-align:center;font-size: 15px;padding-top:10px;font-weight: 450;margin-bottom:-15px">
<label>Closing Cash Statement(AED)</label>
            </v-col>
          </v-row>
             <v-list-item class="mx-auto" style="margin-bottom: -20px;
}  ">
            <v-row no-gutters style="padding-top:0px;background: #343a402e;">
      <v-col cols="4" class="text-center"   style=";color:#263238">
        <span style="font-size:12px;color:rgb(0 150 199);">Currency Value</span>
      </v-col>
         <v-col class="text-center"  cols="4" style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Count</span>
      </v-col>
      <v-col cols="4" class="text-right"   style="">
    <span style="font-size:12px;color:rgb(0 150 199);">Amount</span>
      </v-col>
    </v-row>
             </v-list-item>
  <v-list-item class="mx-auto" v-for="(item,i) in 10" :key="i" style="margin-top: -10px;">



    <v-row no-gutters style="padding-top:0px;" >

      <v-col cols="4" class="text-left"   style="color:#263238;padding-right: 0px;
    padding-left: 2px;padding-top: 5px;padding-bottom:5px">
            <span>
         100


            </span>

      </v-col>
         <v-col class="text-center"  cols="4" style="padding-right: 1px;
    padding-left: 4px;padding-top: 5px;padding-bottom:5px">



       <!-- <input type="text" class="form-control " style="font-size:11px;height: 30px;padding:4px;font-weight: bold;"  > -->
         <input type="number" value="2" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" >

      </v-col>
      <v-col cols="4" class="text-right"   style="padding-right: 0px;
    padding-left: 0px;padding-top: 5px;padding-bottom:5px">


    <label>2000.000</label>



      </v-col>

    </v-row>

   </v-list-item>
     <v-divider></v-divider>
    <v-row no-gutters>
      <v-col cols="4" style="padding-top: 7px;">

      </v-col>
       <v-col cols="4" class="text-right" style=" padding-top: 7px;">
       <label>Total AED :</label>
      </v-col>
       <v-col cols="4" class="text-right" style="padding-right: 15px;padding-top: 7px;">

<label><b>400000.000</b></label>
      </v-col>
    </v-row>
     <v-divider></v-divider>
    <v-row no-gutters>
        <v-col cols="6" md="6" lg="6" class="slno" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6"  class="foc" style="    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 13px;">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                 @click="ClosingCashSecondaryStatementModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
        </v-col>
        </v-row>
          </v-card-text>
        </v-card>

      </v-dialog>


                <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        absolute
        rounded="pill"
        color="rgb(0, 53, 94)"
        font-size="20px"
        style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>
  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { StreamBarcodeReader } from "vue-barcode-reader";
import DayEndCheck from "../../mixins/DayEndCheck";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect,StreamBarcodeReader },
  data() {
    return {
      SnackbarMessege : '',
      snackbar : false,
      timeout : 2000,
      FOCDetailsModal:false,
      ItemSearchModal: false,
       BarcodeModal: false,
       tab: null,
      ClosingCashSecondaryStatementModal:false,
      ClosingCashStatementModal:false,
       fruits: [
      'Apples',
      'Apricots',
      'Avocado',
      'Bananas',
      'Blueberries',
      'Blackberries',
      'Boysenberries',
      'Bread fruit',
      'Cantaloupes (cantalope)',
      'Cherries',
      'Cranberries'
    ],
    selectedFruits: [],
      switch2: true,
    VoucherValidity: new Date().toISOString().substr(0, 10),
    StartDate: new Date().toISOString().substr(0, 10),
    EndDate:new Date().toISOString().substr(0, 10),
    IsActivePromotion : false,
    menu: false,
    menu1: false,
    menu2: false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true
    };
  },
  mixins: [DayEndCheck],
  computed: {
     likesAllFruit () {
      return this.selectedFruits.length === this.fruits.length
    },
    likesSomeFruit () {
      return this.selectedFruits.length > 0 && !this.likesAllFruit
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
    this.BasicSettings()
    this.GetSettings()
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
     OpenItemSearchModal() {
      this.ItemSearchModal = true;
      //this.RefreshItemObject()
    },
     toggle () {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFruits = []
        } else {
          this.selectedFruits = this.fruits.slice()
        }
      })
    },
    voucherssettings()
    {
this.$router.push('/dashboard/settings/SalesPromotion')
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    GetSettings()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserRoll = window.localStorage.getItem("UserType")
      if(this.BranchCode == "All" || this.BranchCode == "" )
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
      this.Loaderdialog = true
      axios.get(this.bURL + 'common/GetSettingsDictionary?BranchCode=' + this.BranchCode1)
        .then((response)  =>  {
          this.Loaderdialog = false
            this.Settings = response.data
            this.str = this.Settings.DiscountVoucherOffer
            this.DiscountVoucherOffer = this.str.split("#");
            this.IsActivePromotion = this.DiscountVoucherOffer[0]
            if(this.IsActivePromotion === "1")
              this.IsActivePromotion = true
            else
              this.IsActivePromotion = false

            this.StartDate = this.DiscountVoucherOffer[1]
            this.StartDate =  this.StartDate.split(" ")
            this.StartDate =  this.StartDate[0]
            const date = this.StartDate
            const [day, month, year] = date.split('/');
            this.StartDate = [year, month, day].join('-');

            this.EndDate = this.DiscountVoucherOffer[2]
            this.EndDate =  this.EndDate.split(" ")
            this.EndDate =  this.EndDate[0]
            const date1 = this.EndDate
            const [day1, month1, year1] = date1.split('/');
            this.EndDate = [year1, month1, day1].join('-');

            this.TargetAmount = this.DiscountVoucherOffer[3]
            this.TargetAmount = parseFloat(this.TargetAmount)
            this.TargetAmount = this.TargetAmount.toFixed(this.DecimalPlaces)

            this.VoucherAmount = this.DiscountVoucherOffer[4]
            this.VoucherAmount = parseFloat(this.VoucherAmount)
            this.VoucherAmount = this.VoucherAmount.toFixed(this.DecimalPlaces)

            this.VoucherValidity = this.DiscountVoucherOffer[5]
             this.VoucherValidity =  this.VoucherValidity.split(" ")
            this.VoucherValidity =  this.VoucherValidity[0]
            const date2 = this.VoucherValidity
            const [day2, month2, year2] = date2.split('/');
            this.VoucherValidity = [year2, month2, day2].join('-');

            this.Description = this.DiscountVoucherOffer[6]

        }, (error)  =>  {
          console.log(error)
        })
    },
     SetStartDate(StartDate)
    {
        this.$refs.menu.save(StartDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
     SetEndDate(EndDate)
    {
        this.$refs.menu1.save(EndDate)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
    SetVoucherValidity(VoucherValidity)
    {
        this.$refs.menu2.save(VoucherValidity)
        this.UpdateSettingsValueDiscountVoucherOffer('DiscountVoucherOffer')
    },
      UpdateSettingsValue(SettingName,SettingValue)
     {
        /* if (this.isUpdatePermission === true)
        { */
            this.Loaderdialog = true;
            if(SettingValue === true)
            {
              this.SettingValue = "True"
            }
            else if(SettingValue === false)
            {
              this.SettingValue = "False"
            }
            else
            {
              this.SettingValue =  encodeURIComponent(SettingValue)
            }
            this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)
       /*  }
        else
        {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)
          this.snackbar = true
        } */
      },
      UpdateSettingsValueDiscountVoucherOffer(SettingName)
      {
          this.SettingValue = ""
          if(this.IsActivePromotion === true)
            this.SettingValue += "1"
          else
            this.SettingValue += "0"

            const date = this.StartDate
            const  [year, month, day]= date.split('-');
            this.StartDate1 =[day, month, year] .join('/');
            this.StartDate1 += " " + "12:01:00 AM"
            this.SettingValue += "#" + this.StartDate1

             const date1 = this.EndDate
            const  [year1, month1, day1]= date.split('-');
            this.EndDate1 = [day1, month1, year1] .join('/');
            this.EndDate1 += " " + "11:59:00 PM"
            this.SettingValue += "#" + this.EndDate1


              this.TargetAmount = parseFloat(this.TargetAmount);
              this.flag = isNaN(this.TargetAmount);
              if (this.flag) {
                  this.TargetAmount = 0;
              }
              this.SettingValue += "#" + this.TargetAmount


              this.VoucherAmount = parseFloat(this.VoucherAmount);
              this.flag = isNaN(this.VoucherAmount);
              if (this.flag) {
                  this.VoucherAmount = 0;
              }
              this.SettingValue += "#" + this.VoucherAmount

            const date2 = this.VoucherValidity
            const  [year2, month2, day2]= date.split('-');
            this.VoucherValidity1 = [day2, month2, year2] .join('/');
            this.VoucherValidity1 += " " + "12:00:00 AM"
            this.SettingValue += "#" + this.VoucherValidity1

             this.SettingValue += "#" + this.Description

              this.SettingValue =  encodeURIComponent(this.SettingValue)

           this.ExcecuteUpdateSettingsValue(SettingName, this.SettingValue)

      },
      ExcecuteUpdateSettingsValue(SettingName,SettingValue) {
        this.Loaderdialog = true;
      if(this.BranchCode == "All" || this.BranchCode == "")
      {
        this.BranchCode1 = "MB"
      }
      else{
        this.BranchCode1 = this.BranchCode
      }
        axios
          .put(this.bURL + "Common/UpdateSettingsValue?BranchCode="+this.BranchCode1 +"&SettingName=" + SettingName + "&SettingValue=" + SettingValue)
          .then(
            response => {

              this.SnackbarMessege = "Updated Successfully"
              this.snackbar = true
              this.GetSettings()
            },
            error => {
              console.log(error);
            }
          );

    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.BranchCode = this.BranchCode;
      else this.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },

  }
};
</script>
<style>
a:hover {

text-decoration-line: none;
}
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.innerExPan {
  border-radius: 6px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: inherit;
  box-shadow: none;
}
.v-expansion-panel-content__wrap {
  padding: 0px !important;
  flex: 1 1 auto;
  max-width: 100%;
}
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
