<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">

    <v-dialog
content-class="innerExPan"
      v-model="Loaderdialog"
    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg" />
      </v-col>

    </v-row>

    </v-dialog>
     <div>
       <v-btn
      ref="button"
      class="drawer-button"
      color="rgb(0, 99, 145)"
      dark
      @click="right = true"
      style="  box-shadow: 1px 1px 18px rgb(0, 99, 145) !important;"
    >
      <v-icon >mdi-filter</v-icon>
    </v-btn>
      <v-navigation-drawer
      v-model="right"
      fixed
      right
      hide-overlay
      temporary
      width="310"
      style="z-index: 100000!important;"
    >
      <div class="d-flex align-center pa-1 " style="padding-left:25px">
        <div class="title" style="color:rgb(0 99 145)">{{$t(`dashboard.filter`)}}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="right = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider style="margin-bottom: 0px;"></v-divider>

           <v-card >
           <v-card-text>
                  <v-row>
                   <v-col class="slno" col="12" md="12" sm="12 " style="padding-bottom:0px !important ;padding-top: 0px; !important;  margin-bottom: -15px;">
                      <label for="frmdate">Category :</label>
                      <br>

                     <v-autocomplete
            v-model="CostCenterCategoryFilter"
            :items="CostCenterCategoryOptionsFilter"
            outlined
            dense
          ></v-autocomplete>
                   </v-col>
                  </v-row>
                 <v-row>
                   <v-col class="slno" col="12" md="12" sm="12" style="padding-bottom:0px !important;padding-top: 0px !important;margin-bottom: -15px;" >
 <label >Status:</label>
                      <br>
                     <v-autocomplete
            v-model="CostCenterstatus"
            :items="StatusOptions"
            outlined
            dense

          ></v-autocomplete>
                   </v-col>

                 </v-row>
          <v-row >
           <v-col cols="12" md="12"  style="padding-top: 0px;
    padding-bottom: 0px;">
               <v-divider></v-divider>
             </v-col>


          </v-row>

                   <v-row>
                   <v-col col="12" md="12" sm="12 " style="text-align:right;padding-bottom:0px !important;padding-top:0px!important;">
                      <v-btn
                        class="btn btn-primary btn-sm pull-right"
             :loading="isLoading"

              text
          @click="LoadCostCenters()"
              style=" height:30px;width:60px;background-color:rgb(0 53 94);color:#FFF"
            >
           {{$t(`dashboard.search`)}}
            </v-btn>

                   </v-col>
                   </v-row>

          </v-card-text>

        </v-card>


    </v-navigation-drawer>
     </div>

<!--
      <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"  v-show="showhide" >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >Cost Centers </h4>
            </v-col>
          </v-row>
      </div> -->

<v-card>
            <v-card-text style="padding:0px">
                <v-expansion-panels>
              <v-expansion-panel
                v-for="(item, i) in 1"
                :key="i"
                style="padding-left: 0px;"
              >
                <v-expansion-panel-header

                  class="headernew"
                  style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                  expand-icon=""
                >


                   <span
                    style="text-align:right;padding-left: 10px !important;margin-left:0px;"
                    ><v-icon
                      style="    font-size: 13px !important;"

                      >fa-arrow-left</v-icon
                    ></span
                  >
                  <v-col
                    cols="12"
                    sm="12"
                    style="padding: 0px !important; text-align: center !important;font-size:12px"
                  >
                    <b
                      style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                      >Cost Centers </b
                    >
                  </v-col>
                </v-expansion-panel-header>

              </v-expansion-panel>
            </v-expansion-panels>
                 <v-card-actions style="background:#007bff;padding: 1px;">
            </v-card-actions>

 <div>
                  <v-row no-gutters >
                <!-- <v-col cols="10" sm="11" md="11" class="no-p" style=" margin-bottom: -23px;
    padding-top: 22px;
    margin-top: 5px;
    padding-left: 4px;" >
      <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
          v-model="CostCenterSearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           ></v-text-field>
                </v-col>
                 <v-col cols="2" sm="1" md="1" class="no-p"  style="text-align:center;padding-top:22px !important;padding-bottom:0px !important;margin-bottom: -7px;">
                    <v-btn style="height:33px !important;width:33px !important" color="#006400" fab small dark    @click="OpenCostCenter()">
            <v-icon style="margin-left:-1px !important; height: 20px !important;font-size: 20px !important;width: 20px !important;">add</v-icon>
            </v-btn>
                 </v-col> -->
  <v-col cols="12" sm="12" md="12"  style="     margin-bottom: -19px;
    padding-top: 2px;
    margin-top: 5px;
    padding-left: 4px;" >
        <v-text-field
              type="text"
            :placeholder="$t('dashboard.Searchhere')"
            v-model="CostCenterSearch"
             solo
          rounded
          dense
          append-icon="mdi-magnify"
             >

              <template v-slot:append-outer>

                            <v-icon
                              color="#006400"
                              style="font-size: 35px !important;padding-left:5px !important;    margin-left: -7px;
    padding-right: -4px;
    margin-right: 6px;margin-top:-3px"
                              @click="OpenCostCenter()"
                              >mdi-plus-circle</v-icon
                            >
                          </template>
            </v-text-field>
             </v-col>
            </v-row>
            </div>

         <v-expansion-panels>
                <v-expansion-panel
                  v-for="(item, i) in 1"
                  :key="i"
                  style="padding-left: 0px;"
                >
                  <v-expansion-panel-header

                    class="headernew"
                    style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                    expand-icon=""
                  >
<!--
             <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
         <b style="text=align:center !important; text-transform:uppercase;font-size:12px">Cost Centers</b>
        </v-col> -->
          <v-col cols="6" sm="6"  class="slnop" style="padding: 0px !important; " >

       <label style="font-size:12px;color:rgb(0, 53, 94);    font-weight: 500;
    padding-top: 9px;">Cost Center Name</label>

          </v-col>
           <v-col cols="5" sm="5"  class="slnop" style="padding: 0px !important; " >
         <label style="font-size:12px;color:rgb(0, 53, 94);    font-weight: 500;
    padding-top: 9px;">Category</label>
            </v-col>

           <v-col cols="1" sm="1" style="padding: 0px !important; text-align:center">
            </v-col>
          </v-expansion-panel-header>
      </v-expansion-panel>
    </v-expansion-panels >

       <v-card-actions style="background:gray;padding: 1px;">  </v-card-actions>


      <!--  <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
        <v-col cols="6" sm="6"  class="slno">
      Cost Center Name
        </v-col>
          <v-col cols="5" sm="5"  class="slno">
           <v-autocomplete
            v-model="GroupName"
            :items="GroupNameOptions"
            outlined
            dense
          ></v-autocomplete>
          </v-col>
            <v-col cols="1" sm="1" class="text-center">

        </v-col>

      </v-row> -->

         <v-expansion-panels >

      <v-expansion-panel v-for="(item, i) in resultQuery"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
         <!-- ----- -->
       <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

         <v-row>
         <v-col cols="6" sm="6"  class="slnop" style=" " >

     <b >{{item.costCenterName}}</b>
        </v-col>
         <v-col cols="5" sm="5"  class="slnop" style=" " >

       <b >{{item.category}}</b>
          </v-col>

         <v-col cols="1" sm="1" style="padding: 0px !important; text-align:center">
   <v-icon
          small
          class="updateb"
          color="#2E7D32"
       @click="EditCostCenter(item)"
        >
          mdi-pencil
        </v-icon>
        </v-col>
        </v-row>
        </v-expansion-panel-header>
      </v-expansion-panel>
    </v-expansion-panels>


          </v-card-text>
        </v-card>
        <!-- ------------------------------------------------- CostCenterModal Start Here------------------------------------------------------- -->
     <v-dialog v-model="CostCenterModal" fullscreen hide-overlay transition="dialog-bottom-transition" style="border-radius: 0px !important;z-index: 1000000;">
        <v-card style="border-radius: 0px !important;">
           <v-toolbar dark color="primary">
            <v-toolbar-title>Cost Center</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items >
              <v-icon @click="CostCenterModal=false" style="padding-right:20px;font-size:20px !important"  >mdi-close</v-icon>
            </v-toolbar-items>

          </v-toolbar>
          <v-card-text style="padding:0px">

               <v-row no-gutters>
                     <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;padding-top:30px">
                         <v-text-field label="Cost Center Name"
                         v-model="CostCenterName"

                         > </v-text-field>
                       </v-col>
                        </v-row>
                         <v-row>
          <v-col cols="12" md="12" sm="12" style="    padding-top: 7px !important;
    padding-bottom: 0px !important;
    padding-right: 24px;
    padding-left: 24px;" >
             <v-autocomplete
            v-model="CostCenterCategory"
            :items="CostCenterCategoryOptions"
            label="Cost Center Category"
          >

   <template v-slot:append-outer>
      <v-icon color="rgb(40 167 69)" style="font-size: 25px;
    padding-top: 5px;margin-left: -9px;!important;" @click="OpenCostCenterCategoryModal" >mdi-plus-circle</v-icon>
    </template>
          </v-autocomplete>
            </v-col>

                       </v-row>
               <v-row no-gutters >
                     <v-col cols="12" sm="12" md="12" style="padding-right:10px;padding-left:10px;">
                       <v-switch
        style="float:right;margin-top: 15px;"
        v-model="IsActive"
        inset
        :label="$t(`menu.ActiveLive`)"
      ></v-switch>

                       </v-col>
                       </v-row>
                    <v-row>
                      <v-col cols="4" v-if="IsUpdateCostCenter === false">
   <v-btn
          class="ma-2"
          :loading="loading"
          :disabled="loading"
          color="primary"
          @click="SaveCostCenter()"
        >
          Save
        </v-btn>
                      </v-col>
                        <v-col cols="4" v-if="IsUpdateCostCenter === true">
   <v-btn
          class="ma-2"
          :loading="loading"
          :disabled="loading"
          color="primary"
          @click="SaveCostCenter()"
        >
          Update
        </v-btn>
                      </v-col>
                       <v-col cols="4">
     <v-btn
            class="ma-2"
            :loading="loading"
            :disabled="loading"
            color="warning"
            @click="ClearCostCenter()"
          >
            Clear
          </v-btn>
                        </v-col>
                         <v-col cols="4">
     <v-btn
            class="ma-2"
            :loading="loading"
            :disabled="loading"
            color="error"
            @click="DeleteCostCenter()"
          >
            Delete
          </v-btn>
                        </v-col>
                    </v-row>
          </v-card-text>
        </v-card>
     </v-dialog>
      <!-----------------Attachement Ends------------------------>



    <!-- CostCenterCategory modal start here  -->
      <v-dialog v-model="CostCenterCategoryModal" persistent max-width="400" style="z-index: index 100000px;">

      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -24px; " >

          <v-text-field
          solo
        rounded
        v-model="CostCenterCategorySearch"
        ref="FocusFieldCostCenterCategory"
     label="Add Cost Center Category Name"  style="padding-bottom:0px">
          <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"    style="margin-top: -6px !important;font-size:25px !important;margin-left:0px" @click="SaveCostCenterCategory" v-if="IsNewCostCenterCategory">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)"  style="margin-top: -6px;font-size:25px !important;margin-left:0px" @click="UpdateCostCenterCategory" v-if="IsUpdateCostCenterCategory">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding-right: 0px;
    padding-left: 0px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >

    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
    Cost Center Category Name
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
       <v-expansion-panels  >

    <v-expansion-panel v-for="(item,i) in resultQueryCostCenterCategory"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
       <!-- ----- -->
      <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="10" sm="12"  class="slno1" style="padding-left:0px !important;padding-right:1px !important; " >

   <b >{{item.category}}</b>
      </v-col>

       <v-col cols="1" sm="1" style="padding: 0px !important; text-align:right">
 <v-icon
        small

        color="#2E7D32"
        @click="EditCostCenterCategory(item.id,item.category)"
        style=""
      >
        mdi-pencil
      </v-icon>

      </v-col>
        <v-col cols="1" sm="1" style="padding: 0px !important; text-align:right">
        <v-icon
          small

          color="#E53935"
          @click="DeleteCostCenterCategory(item.id)"

        >
          mdi-delete
        </v-icon>
        </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

     <v-row no-gutters   >
      <v-col cols="12" sm="12" >
<v-divider></v-divider>
      </v-col>
     </v-row>
 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px;text-align:right"
               >
                <v-btn
              small
             @click="CostCenterCategoryModal=false"
              style="background-color:#2E7D32;color:#FFF"

            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>
        </v-card-text>
      </v-card>

    </v-dialog>


  <v-dialog v-model="UpdateConfirmationModalCostCenterCategory" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to update</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModalCostCenterCategory = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteUpdateCostCenterCategory()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
  <v-dialog v-model="CreateWarningModalCostCenterCategory" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new CostCenterCategory?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="ExecuteUpdateCostCenterCategory()" >Update</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveCostCenterCategory">Create</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
       <v-dialog v-model="DeleteConfirmationModalCostCenterCategory" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModalCostCenterCategory = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCostCenterCategory">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <!-- CostCenterCategory modal Ends here -->

 <v-dialog v-model="DeleteConfirmationModalCostCenter" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmationModalCostCenter = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCostCenter">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


  <!-- ------------------------------------------------- Snackbaer Start Here------------------------------------------------------- -->

     <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
           absolute
        rounded="pill"
         color="rgb(0, 53, 94)"
         font-size="20px"
        style="padding-bottom:100px;text-align:center;z-index: 20000000 !important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>
  <!-- ------------------------------------------------- Snackbaer Ens Here------------------------------------------------------- -->


    </div>

    <!-- pc view starts here -->

    <!-- ****************************************************************************************** -->


</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import vSelect from "vue-select";
import 'vue-select/dist/vue-select.css';
import DayEndCheck from "../../mixins/DayEndCheck";
Vue.component("vu-select", vSelect);
export default {
    components: { vSelect },
  data() {
    return {
      snackbar: false,
      SnackbarMessege: '',
      timeout: 2000,
      CostCenterModal:false,
      isLoading : false,
       Loaderdialog: true,
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      CostCenterCategoryFilter:"",
      CostCenterstatus:"",
      CostCentersObject:[],
      CostCenterSearch:'',
      IsActive : true,
      CostCenterName:"",
      CostCenterEditId:-1,
      IsUpdateCostCenter:false,
      right: false,
      GroupNameOptions:[],
      StatusOptions:['Inactive Cost Centers','Active Cost Centers','All Cost Centers'],
      vm : [],
      Branch:'',
      TotalLedger:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      error : false,
      ErrorMessege : '',

      Token : window.localStorage.getItem('Token'),
      bURL : "",
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
     showhide:true,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,

    isCreatePermissionCostCenterCategory : false,
    isReadPermissionCostCenterCategory : false,
    isUpdatePermissionCostCenterCategory : false,
    isDeletePermissionCostCenterCategory :false,
    IsShowSubgroup:true,
    CostCenterCategory : "",
    CostCenterCategoryOptions : [],
    CostCenterCategoryOptionsFilter:[],
    CostCenterCategoryObject : [],
    CostCenterCategoryModal : false,
    CostCenterCategorySearch : '',
    EditIdCostCenterCategory :"",
    IsUpdateCostCenterCategory : false,
    IsNewCostCenterCategory : true,
    UpdateConfirmationModalCostCenterCategory:false,
    CreateWarningModalCostCenterCategory:false,
    IsShowCreateWarningModalCostCenterCategory:false,
    DeleteConfirmationModalCostCenterCategory:false,
    DeleteIdCostCenterCategory:-1,


    DeleteConfirmationModalCostCenter:false
    }
  },
  mixins: [DayEndCheck],
  computed: {

     resultQuery() {
      this.CostCentersNew = []
    if(this.CostCenterSearch !== undefined)
    {

       this.CostCentersNew = this.CostCentersObject.filter(post => {
        return post.costCenterName.toString().toLowerCase().includes(this.CostCenterSearch.toLowerCase()) ||
        post.category.toString().toLowerCase().includes(this.CostCenterSearch.toLowerCase() );
      })
      if(this.CostCentersNew.length > 100)
      {
         this.CostCentersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CostCentersNewReturn.push(this.CostCentersNew[this.i])

        }
        return this.CostCentersNewReturn
      }
      else{
         return this.CostCentersNew
      }
    }
    else{
      if(this.CostCentersObject.length > 100)
      {
         this.CostCentersNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CostCentersNewReturn.push(this.CostCenters[this.i])

        }
        return this.CostCentersNewReturn
      }
      else{
         return this.CostCentersObject
      }
    }
    },
      resultQueryCostCenterCategory() {
      this.CostCenterCategoryNew = []
    if(this.CostCenterCategorySearch !== '')
    {
       this.CostCenterCategoryNew = this.CostCenterCategoryObject.filter(post => {
        return post.category.toString().toLowerCase().includes(this.CostCenterCategorySearch.toString().toLowerCase());
      })
      if(this.CostCenterCategoryNew.length > 100)
      {
         this.CostCenterCategoryNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CostCenterCategoryNewReturn.push(this.CostCenterCategoryNew[this.i])

        }
        return this.CostCenterCategoryNewReturn
      }
      else{
         return this.CostCenterCategoryNew
      }
    }
    else{
      if(this.IsUpdateCostCenterCategory === true)
      {
        this.IsShowCreateWarningModalCostCenterCategory = true
      }
      if(this.CostCenterCategoryObject.length > 100)
      {
         this.CostCenterCategoryNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.CostCenterCategoryNewReturn.push(this.CostCenterCategoryObject[this.i])

        }
        return this.CostCenterCategoryNewReturn
      }
      else{
         return this.CostCenterCategoryObject
      }
    }

    },
  },
  mounted() {

      history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
     if(this.AppName === "EAI")
            this.IsEAIApp = true
       else if(this.AppName === "EAG")
            this.IsEAGApp = true
   localStorage.setItem('PreviousPage','CostCenter')
   localStorage.setItem('ActivePage','CostCenter')
   localStorage.setItem('ActiveRoute','/dashboard/masters/CostCenters')

   localStorage.removeItem('VoucherUpdated')

      this.CostCenterstatus ='Active Cost Centers'
    this.BasicSettings()
    this.SetPermission()
    this.LoadCostCenterCategory()
    this.LoadCostCenters()

    if (this.CostCentersObject.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }

  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
        handleScroll (e) {
      if ((e.target.scrollHeight-300) <= 0) {
    }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
       if(window.scrollY)
       {
         this.scroll = false
//  document.getElementById('N_fixedBottom').style.display='none';
       }else{
          this.scroll = true
//  document.getElementById('N_fixedBottom').style.display='block';
       }

    },
    BasicSettings()
    {
           this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.vm.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.vm.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.vm.BranchCode = 'All'
       }
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true

    },
  SetPermission()
    {
      axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmCostCenter')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

        }, (error)  =>  {
          console.log(error)
        })

        axios.get ( this.bURL + 'common/GetFormPermission/' + this.userType + ',frmCostCenterCategory')
        .then((response)  =>  {
          this.isCreatePermissionCostCenterCategory = response.data[0]
          this.isReadPermissionCostCenterCategory = response.data[1]
          this.isUpdatePermissionCostCenterCategory = response.data[2]
          this.isDeletePermissionCostCenterCategory = response.data[3]

        }, (error)  =>  {
          console.log(error)
        })
    },
    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },

   scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true
            }
    },
    GetsWithComma(values)
    {
      values =  values.join('~')

      return values
    },
    EditLedger(LedgerName)
    {
        localStorage.setItem('LedgerName',LedgerName);
         this.$router.push('/dashboard/masters/ledger')
    },
    OpenLedgerProfile()
    {
        localStorage.removeItem('LedgerName')
        this.$router.push('/dashboard/masters/ledger')

    },


/********************************************** CostCenter Master start here *************************************8 */
  OpenCostCenter()
  {
    this.ClearCostCenter()
    this.CostCenterModal=true
  },
  LoadCostCenters()
    {
        this.IsActiveStatus =  1
      if(this.CostCenterstatus ==="InActive Cost Centers")
      {
          this.IsActiveStatus =  0
      }
      else if(this.CostCenterstatus ==="All Cost Centers")
      {
        this.IsActiveStatus =  2
      }
      this.CostCenterCategoryId = -1
      if(this.CostCenterCategoryFilter === "All")
      {
        this.CostCenterCategoryId -1
      }
      else{
        for(this.i=0;this.i<this.CostCenterCategoryObject.length;this.i++)
        {
          if(this.CostCenterCategoryObject[this.i].category === this.CostCenterCategoryFilter)
          {
            this.CostCenterCategoryId = this.CostCenterCategoryObject[this.i].id
            break
          }
        }
      }
      axios.get ( this.bURL + "CostCenter/GetCostCenters?CategoryId="+this.CostCenterCategoryId+"&IsActive=" + this.IsActiveStatus)
        .then((response)  =>  {
             this.CostCentersObject = response.data.result
             this.right = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditCostCenter(item)
    {
      this.IsUpdateCostCenter = true
      this.CostCenterEditId = item.id
      this.CostCenterCategory = item.category
      this.CostCenterName = item.costCenterName
      this.IsActive = item.isActive

      this.CostCenterModal=true
    },

    SaveCostCenter()
    {
          if(this.CostCenterName === "")
          {
            this.SnackbarMessege = "Ente cost center name"
            this.snackbar = true
            return
          }
          if(this.CostCenterCategory === "")
          {
            this.SnackbarMessege = "Select cost center Category"
            this.snackbar = true
            return
          }
        this.CostCenterCategoryId = -1
        for(this.i=0;this.i<this.CostCenterCategoryObject.length;this.i++)
        {
          if(this.CostCenterCategoryObject[this.i].category === this.CostCenterCategory)
          {
            this.CostCenterCategoryId = this.CostCenterCategoryObject[this.i].id
            break
          }
        }
        if(this.IsUpdateCostCenter === false)
        {
          this.InsertCostCenter()
        }
        else{
          this.UpdateCostCenter()
        }

    },
    InsertCostCenter()
    {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          this.Obj = {
            "Id" : -1,
            "CategoryId" : this.CostCenterCategoryId,
            "CostCenterName" : this.CostCenterName,
            "IsActive" : this.IsActive
          }
          this.Loaderdialog = true
          axios.post ( this.bURL + 'CostCenter/InsertCostCenter',this.Obj)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalCostCenterCategory = false
              this.ClearCostCenter()
              this.LoadCostCenters()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
    },
     UpdateCostCenter()
    {
        if(this.isUpdatePermission === true)
        {
          this.Loaderdialog = true
          this.Obj = {
            "Id" : this.CostCenterEditId,
            "CategoryId" : this.CostCenterCategoryId,
            "CostCenterName" : this.CostCenterName,
            "IsActive" : this.IsActive
          }
          this.Loaderdialog = true
          axios.put ( this.bURL + 'CostCenter/UpdateCostCenter',this.Obj)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalCostCenterCategory = false
              this.ClearCostCenter()
              this.LoadCostCenters()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
    },
    DeleteCostCenter()
    {
        if(this.IsUpdateCostCenter === true )
        {
           if(this.isDeletePermission === true)
           {
             this.DeleteConfirmationModalCostCenter = true
           }
          else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
        }
    },
    ExecuteDeleteCostCenter()
    {
        this.Loaderdialog = true
          axios.delete ( this.bURL + 'CostCenter/DeleteCostCenter?CostCenterId='+this.CostCenterEditId)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.DeleteConfirmationModalCostCenter = false
              this.ClearCostCenter()
              this.LoadCostCenters()
            }, (error)  =>  {
              console.log(error)
          })
    },


    ClearCostCenter()
    {
      this.IsUpdateCostCenter = false
      this.CostCenterEditId = -1
      this.CostCenterCategory = ""
      if(this.CostCenterCategoryOptions.length === 1)
           this.CostCenterCategory = this.CostCenterCategoryOptions[0]
      this.CostCenterName = ""
      this.IsActive = true
    },




/********************************************** CostCenter Master start here *************************************8 */

/********************************************** CostCenterCategory Master start here *************************************8 */

    LoadCostCenterCategory()
    {
      this.CostCenterCategoryOptions = []

      axios.get ( this.bURL + "CostCenter/GetCostCenterCategories")
        .then((response)  =>  {
          this.Loaderdialog = false
          this.CostCenterCategoryObject = response.data.result
       for (this.i = 0; this.i < this.CostCenterCategoryObject.length; this.i++) {
           this.CostCenterCategoryOptions.push(this.CostCenterCategoryObject[this.i].category)
           this.CostCenterCategoryOptionsFilter.push(this.CostCenterCategoryObject[this.i].category)

           }

        if(this.CostCenterCategoryOptions.length === 1)
        {
            this.CostCenterCategory = this.CostCenterCategoryOptions[0]
        }
        else{
          this.CostCenterCategoryOptionsFilter.push("All")
          this.CostCenterCategory = ""
          this.CostCenterCategoryFilter = "All"
        }


           console.log(this.CostCenterCategoryOptions)
        }, (error)  =>  {
          console.log(error)
        })
    },
    OpenCostCenterCategoryModal()
    {
      this.CostCenterCategoryModal = true
    },

     SaveCostCenterCategory()
    {

       if(this.CostCenterCategorySearch === "" )
      {
        this.SnackbarMessege = "Please enter  Category name"
        this.snackbar = true
        return
      }
         this.flag = false
      for(this.i=0;this.i<this.CostCenterCategoryOptions.length;this.i++)
      {
        if(this.CostCenterCategoryOptions[this.i].toString().toLowerCase() === this.CostCenterCategorySearch.toString().toLowerCase())
        {
          this.flag = true
          break
        }
      }
      if(this.flag === true)
      {

        this.SnackbarMessege = "Already added this CostCenterCategory name"
        this.snackbar = true
        return
      }
      else{
         this.ExecuteSaveCostCenterCategory()
      }
    },

    ExecuteSaveCostCenterCategory()
    {

        if(this.isCreatePermissionCostCenterCategory === true)
        {
          this.Loaderdialog = true
          this.Obj = {
            "Id" : -1,
            "Category" : this.CostCenterCategorySearch
          }
          axios.post ( this.bURL + 'CostCenter/InsertCostCenterCategory',this.Obj)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalCostCenterCategory = false
              this.ClearCostCenterCategory()
              this.LoadCostCenterCategory()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditCostCenterCategory(id,name)
    {

        this.CostCenterCategorySearch = name
        this.EditIdCostCenterCategory = id
        this.IsUpdateCostCenterCategory = true
        this.IsNewCostCenterCategory = false

        setTimeout(() => {
    this.$refs.FocusFieldCostCenterCategory.focus()
  }, 200)
      ;

    },
    UpdateCostCenterCategory()
    {

      if(this.IsShowCreateWarningModalCostCenterCategory === true)
      {
        this.CreateWarningModalCostCenterCategory = true
      }
      else
      {
        this.UpdateConfirmationModalCostCenterCategory = true
      }
    },
    ExecuteUpdateCostCenterCategory()
    {

      if(this.CostCenterCategorySearch === "" )
      {
        this.SnackbarMessege = "Please Select CostCenterCategory name"
        this.snackbar = true
        return
      }
        if (this. isUpdatePermissionCostCenterCategory === true)
        {

          this.Obj = {
            "Id" : this.EditIdCostCenterCategory,
            "Category" : this.CostCenterCategorySearch
          }
            axios.put ( this.bURL + 'CostCenter/UpdateCostCenterCategory',this.Obj)
              .then((response)  =>  {

                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearCostCenterCategory()
                  this.LoadCostCenterCategory()
                  this.UpdateConfirmationModalCostCenterCategory = false
                  this.CreateWarningModalCostCenterCategory = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteCostCenterCategory(id)
    {
      if (this.CostCenterCategorySearch !== null)
      {
        if (this.isDeletePermissionCostCenterCategory === true)
        {
          this.DeleteIdCostCenterCategory = id
          this.DeleteConfirmationModalCostCenterCategory = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteCostCenterCategory()
    {
      axios.delete( this.bURL + 'CostCenter/DeleteCostCenterCategory?CostCenterCategoryId=' + this.DeleteIdCostCenterCategory)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModalCostCenterCategory = false
          this.ClearCostCenterCategory()
          this.LoadCostCenterCategory()
        },(error)  =>  {
          this.DeleteConfirmationModalCostCenterCategory = false
          this.Loaderdialog = false
           this.SnackbarMessege =" CostCenterCategory in use"
            this.snackbar = true
        })
    },
    ClearCostCenterCategory()
    {
      this.CostCenterCategorySearch = ""
       this.IsNewCostCenterCategory = true
       this.IsUpdateCostCenterCategory = false
       this.EditIdCostCenterCategory = ""
       this.AutoInsertSubCostCenterCategory = false
       this.IsShowCreateWarningModalCostCenterCategory = false
    },

    /********************************************** CostCenterCategory Master ends here *************************************8 */


  }
}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}


.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 166px !important;
  right: -20px;
  z-index: 6;
 box-shadow: 1px 1px 18px rgb(0, 99, 145);

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 300px;
  }
  .drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 100px;
  }
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.drawer-button2 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-left: 196px;
  }
  .drawer-button1 {
  position: fixed;
  top: 125px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355E;
  margin-right: 249px;
  }
  }
  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.no-p{
    padding-bottom: 7px !important;
    padding-top: 0px  !important;
    padding-right: 1px;
}

</style>
