  <template>
    <div class="d-flex  flex-column">
    <v-dialog


  content-class="innerExPan"
        v-model="Loaderdialog"


      >
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
              <img
                src="/images/dash/loading.svg"

              />


        </v-col>

      </v-row>

      </v-dialog>
        <v-card >
            <v-expansion-panels>
                  <v-expansion-panel
                    v-for="(item, i) in 1"
                    :key="i"
                    style="padding-left: 0px;"
                  >
                    <v-expansion-panel-header

                      class="headernew"
                      style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                      expand-icon=""
                    >


                       <span
                        style="text-align:left;padding-left:0px !important;margin-left: 0px;"
                        ><v-icon
                          style="    font-size: 13px !important;"
                          @click="GoBackPrevious"

                          >fa-arrow-left</v-icon
                        ></span
                      >
                      <v-col
                        cols="12"
                        sm="12"
                        style="padding: 0px !important; text-align: center !important;font-size:12px"
                      >
                        <b
                          style="text-align:center !important; text-transform:uppercase;color:rgb(238, 68, 170);"
                          >{{ $t(`menu.CustomerRouteMapping`) }} </b
                        >
                      </v-col>
                    </v-expansion-panel-header>

                  </v-expansion-panel>
                </v-expansion-panels>
                     <v-card-actions style="background:#007bff;padding: 1px;">
                </v-card-actions>
        <v-tabs v-model="tab1" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
        prev-icon="mdi-arrow-left-bold-box-outline"
        show-arrows  style="flex-grow: 0 !important;">
        <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
        <v-tab to="#tabs-RouteWise" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.RouteWise`) }}</v-tab>
        <v-tab to="#tabs-CustomerWise" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.CustomerWise`) }}</v-tab>

      </v-tabs>





      <v-tabs-items v-model="tab1" touchless>

          <!-- Customers start heare -->

        <v-tab-item value="tabs-RouteWise">

        <v-card class="my-2">



          <v-card-text style="padding-left:2px;padding-right:2px;padding-bottom: 2px;">



                    <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;">
                                        <v-combobox
                v-model="RouteSearch"
                :items="RouteSearchOptions"
                :label="$t(`menu.RouteSector`)"
                dense
                clearable
                outlined
                @change="GetLinkedCustomers"
              >
              <!-- <template v-slot:append-outer>
          <v-btn style="margin-top: -9px;" color="rgb(40 167 69" fab  small dark   >
      <v-icon  style="font-size:20px" @click="OpenCustomertoRouteSector">fas fa-plus</v-icon>
          </v-btn>
    </template> -->
     <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"  @click="OpenCustomertoRouteSector" >mdi-plus-circle</v-icon>

  </template>
              </v-combobox>

                    </v-col>
                    </v-row>
                    <v-row>
                     <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px; margin-bottom: -10px;">
                                        <v-combobox
                v-model="ScheduleSearch"
                :items="ScheduleSearchOptions"
                :label="$t(`menu.Schedule`)"
                dense
                clearable
                outlined
              >
              <!-- <template v-slot:append-outer>
          <v-btn style="margin-top: -9px;" color="rgb(40 167 69" fab  small dark   >
      <v-icon  style="font-size:20px" @click="ScheduleModal=true" >fas fa-plus</v-icon>
          </v-btn>
    </template> -->
       <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"  @click="ScheduleModal=true" >mdi-plus-circle</v-icon>

  </template>
              </v-combobox>

                    </v-col>
                    </v-row>
                                      <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:10px !important;padding-top: 0px !important;    margin-right: 32px;">
      <v-divider></v-divider>
                    </v-col>
                                      </v-row>

             <div style=" max-height:380px; overflow:scroll;overflow-x: hidden;">
                  <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px">

                        <v-autocomplete
            v-model="selectedCustomer"
            :items="CustomerOptions"
            :label="$t(`menu.Customer`)"
            multiple
            outlined
            dense
            clearable
              style="margin-bottom: -12px !important"
          >
  <template v-slot:prepend-item>
          <v-list-item
            ripple
            @click="toggleCustomer"
          >
            <v-list-item-action>
              <v-icon :color="selectedCustomer.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCustomer }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
            <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider style="padding-top:0px !important"></v-divider>
        </template>
        <template v-slot:append-item>
          <v-divider class="mb-2"></v-divider>
          <v-list-item disabled>
            <v-list-item-avatar color="grey lighten-3">
              <v-icon>mdi-account</v-icon>
            </v-list-item-avatar>

            <v-list-item-content v-if="likesAllCustomer">
            <v-list-item-title>{{ $t(`dashboard.SelectedallCustomer`) }} </v-list-item-title>
              <v-list-item-subtitle>{{ $t(`dashboard.CustomerCount`) }} :{{ selectedCustomer.length }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-content v-else-if="likesSomeCustomer">
              <v-list-item-title>{{ $t(`dashboard.CustomerCount`) }}</v-list-item-title>
              <v-list-item-subtitle>{{ selectedCustomer.length }}</v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-content v-else>
              <v-list-item-title>
              </v-list-item-title>
            <v-list-item-subtitle>
              {{ $t(`dashboard.gohead`) }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
       <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)" >mdi-plus-circle</v-icon>

  </template>
  </v-autocomplete>
                    </v-col>
                    </v-row>
      <v-row>
                            <v-col col="12" md="12" sm="12 " style="padding-top: 0px !important;padding-bottom: 0px;margin-bottom: -16px;">

                              <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
           v-model="RouteWiseSearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           >
               <template v-slot:append-outer>
        <v-btn
                small
              @click="InsertCustomerLink()"
                style="background-color:rgb(40 167 69;color:#FFF"
              >
              Link
              </v-btn>

  </template>
           </v-text-field>

                            </v-col>

                    </v-row>

          <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>



      <v-row no-gutters style="    font-size: 10px;padding: 0px; background: #343a402e;"  >
          <v-col cols="1" sm="1"  class="slno1">
      {{ $t(`menu.No`) }}
        </v-col>
        <v-col cols="5" sm="5"  class="slno">
      {{ $t(`menu.Customer`) }}
        </v-col>
            <v-col cols="3" sm="3" class="text-center">
              {{ $t(`menu.Schedule`) }}


        </v-col>
          <v-col cols="3" sm="3" class="text-center">


        </v-col>


      </v-row>
  <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px;"  >
        <v-expansion-panels >

      <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >
              <draggable
     v-modal="resultQueryRouteWise"
      :disabled="!enabled"
        @start="dragging = true"
        @end="dragging = false">

      <v-expansion-panel-header expand-icon="" v-for="(item,i) in resultQueryRouteWise"  :key="i"  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;">

        <v-row>
            <v-col cols="1" sm="1" class="slno1"  style="padding: 0px !important;" >

    <b >{{i+1}}</b>
        </v-col>
        <v-col cols="5" sm="5"  class="slno" style="padding: 0px !important;" >

    <b >{{item.CustomerName}}</b>
        </v-col>

        <v-col cols="3" sm="3"  style="padding: 0px !important;text-align:center">

  <b >{{item.ScheduleName}}</b>
        </v-col>


        <v-col cols="3" sm="3"  style="padding: 0px !important; text-align:center">

        <v-icon
          small
          @click="DeleteRouteLink(item.LinkID)"
          color="#E53935"

        >
          mdi-delete
        </v-icon>

        </v-col>

        </v-row>


        </v-expansion-panel-header>
              </draggable>

      </v-expansion-panel>

    </v-expansion-panels>
  </v-row>
             </div>

          </v-card-text>
        </v-card>


        </v-tab-item>

      <!-- Customers Ensd heare -->



          <!-- Purchasepersons start heare -->

        <v-tab-item value="tabs-CustomerWise">

        <v-card class="my-2">



          <v-card-text style="padding-left:2px;padding-right:2px;padding-bottom: 2px;">



                  <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px;    margin-bottom: -10px;">
                                          <v-combobox
                v-model="CustomerSearch"
                :items="CustomerOptions"
                :label="$t(`menu.Customer`)"
                dense
                clearable
                outlined
                @change="GetLinkedRoutes"
              >
              <!-- <template v-slot:append-outer>
          <v-btn style="margin-top: -9px;" color="rgb(40 167 69" fab  small dark   >
      <v-icon  style="font-size:20px" >fas fa-plus</v-icon>
          </v-btn>
    </template> -->
     <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"  @click="OpenCustomertoRouteSector" >mdi-plus-circle</v-icon>

  </template>
              </v-combobox>
                    </v-col>
                    </v-row>
                          <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:10px !important;padding-top: 0px !important;    margin-right: 32px;">
      <v-divider></v-divider>
                    </v-col>
                          </v-row>
                          <div style="max-height:380px; overflow:scroll;overflow-x: hidden;">
                    <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px;    margin-bottom: -10px;">
                                        <v-combobox
                v-model="Route"
                :items="RouteOptions"
                :label="$t(`menu.RouteName`)"
                dense
                clearable
                outlined
              >
              <!-- <template v-slot:append-outer>
          <v-btn style="margin-top: -9px;" color="rgb(40 167 69" fab  small dark   >
      <v-icon  style="font-size:20px" @click="OpenCustomertoRouteSector">fas fa-plus</v-icon>
          </v-btn>
    </template> -->
     <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"  @click="OpenCustomertoRouteSector" >mdi-plus-circle</v-icon>

  </template>
              </v-combobox>

                    </v-col>
                    </v-row>
                    <v-row>
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:15px;padding-left:15px;    margin-bottom: -10px;">
                                        <v-combobox
                v-model="Schedule"
                :items="ScheduleSearchOptions"
                :label="$t(`menu.ScheduleName`)"
                dense
                clearable
                outlined
              >
              <!-- <template v-slot:append-outer>
          <v-btn style="margin-top: -9px;" color="rgb(40 167 69" fab  small dark   >
      <v-icon  style="font-size:20px"  @click="ScheduleModal=true">fas fa-plus</v-icon>
          </v-btn>
    </template> -->
     <template v-slot:append-outer>
     <v-icon color="rgb(40 167 69)"  @click="ScheduleModal=true">mdi-plus-circle</v-icon>

  </template>
              </v-combobox>

                    </v-col>
                    </v-row>

                    <v-row>
                            <v-col col="12" md="12" sm="12 " style="padding-top: 0px !important;padding-bottom: 0px;margin-bottom: -16px;">

                              <v-text-field
            type="text"
          :placeholder="$t('dashboard.Searchhere')"
           v-model="CustomerWiseSearch"
           solo
        rounded
        dense
        append-icon="mdi-magnify"
           >
               <template v-slot:append-outer>
        <v-btn
                small
              @click="InsertRouteLink()"
                style="background-color:rgb(40 167 69;color:#FFF"
              >
                {{ $t(`common.add`) }}
              </v-btn>

  </template>
           </v-text-field>

                            </v-col>

                    </v-row>
                    <!-- <v-row>
                      <v-col cols="12" md="12" lg="12"  style="padding-right:0px;padding-left:0px;padding-top:5px;padding-bottom:15px;text-align:right" >
        <v-btn
                small

                style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                @click="LinkCustomer"

              >
              {{ $t(`menu.Link`) }}
              </v-btn>
          </v-col>
          </v-row> -->



          <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>



      <v-row no-gutters style="    font-size: 10px;padding: 0px; background: #343a402e;"  >

        <v-col cols="5" sm="5"  class="slno1">
      {{ $t(`menu.RouteName`) }}
        </v-col>
            <v-col cols="5" sm="5" class="slno1">
              {{ $t(`menu.ScheduleName`) }}


        </v-col>
          <v-col cols="2" sm="2" class="text-center">


        </v-col>


      </v-row>
  <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px;"  >
        <v-expansion-panels >

      <v-expansion-panel v-for="(item,i) in resultQueryCustomerWise"  :key="i" class="ma-0" v-touch:tap="touchHandler" >

      <v-expansion-panel-header expand-icon=""  style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
      padding-bottom: 6px;padding-left: 17px;
      padding-right: 17px;">

        <v-row>

        <v-col cols="5" sm="5"  class="slno" style="padding: 0px !important;" >

    <b >{{item.RouteName}}</b>
        </v-col>

        <v-col cols="5" sm="5"  class="slno" style="padding: 0px !important;">

  <b >{{item.ScheduleName}}</b>
        </v-col>


        <v-col cols="2" sm="2"  style="padding: 0px !important; text-align:center">

        <v-icon
          small
          @click="DeleteRouteLink(item.LinkID,true)"
          color="#E53935"

        >
          mdi-delete
        </v-icon>

        </v-col>

        </v-row>


        </v-expansion-panel-header>

      </v-expansion-panel>

    </v-expansion-panels>
  </v-row>
                          </div>

          </v-card-text>
        </v-card>
        </v-tab-item>

        <!-- Purchasepersons ends heare -->





      </v-tabs-items>
    
      </v-card>
      <fab
    :fixed-tooltip="fab.tooltip"
    :position="fab.position"
    :bg-color="fab.bgColor"
    :padding="fab.padding"
    :z-index="fab.zindex"
    :actions="fab.fabActions"
    :main-icon="fab.mainicon"
    :icon-size="fab.iconsize"
    @CallUser ="CallUser"
    @ClearUser="ClearUser"
    @SaveUser="SaveUser"
    @DeleteUser="DeleteUser"
    @PrintRoute="PrintRouteSchedule"

  ></fab>




        <v-snackbar
        v-model="snackbar"
        :timeout="timeout"
        absolute
        rounded="pill"
        color="rgb(0, 53, 94)"
        font-size="20px"
        style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
      >
        {{ SnackbarMessege }}

        <template v-slot:action="{ attrs }">
          <v-btn
            color="blue"
            text
            v-bind="attrs"
            @click="snackbar = false"
          >
          </v-btn>
        </template>
      </v-snackbar>
      <!-- Schedulemodal start  -->
         <v-dialog
        v-model="ScheduleModal"
        max-width="800px"
        style="z-index: 100000!important;"
      >
        <v-card >
           <div class="d-flex align-center pa-2" style="margin-bottom: -12px;
    margin-top: -8px;">

        <div class="title" style="color:rgb(0 99 145)">{{ $t(`menu.Schedule`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="ScheduleModal = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>

      </div>
         <v-divider></v-divider>
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:13px;padding-bottom:0px;padding-right: 29px; padding-left: 29px;margin-bottom: -15px; " >
                       <v-autocomplete
             :items="ScheduleSearchOptions"
             v-model="ScheduleSearchMaster"
                 outlined
            dense

       :placeholder="$t('menu.SearchScheduleName')"
            @change="GetScheduleObject($event)"
            style="padding-bottom:0px"
          >


          </v-autocomplete>
                  </v-col>
        </v-row>
<v-divider></v-divider>
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:12px;padding-bottom:0px;padding-right: 29px; padding-left: 29px;margin-bottom: -25px; " >

          <!-- <v-text-field
                outlined



        v-model="Categorysearch" :label="$t(`menu.ScheduleName`)"  style="padding-bottom:0px">

        </v-text-field> -->
         <v-text-field
           :label="$t(`menu.ScheduleName`)"
            :placeholder="$t(`menu.ScheduleName`)"
            outlined
            dense
            v-model="ScheduleNameNew"
          ></v-text-field>
          </v-col>
            </v-row>
                    <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:12px;padding-bottom:0px;padding-right: 29px; padding-left: 29px;margin-bottom: -18px; " >
      <v-textarea
           v-model="Remarks"

          :label="$t(`menu.Remarks`)"
           outlined


          rows="1"

        ></v-textarea>
                  </v-col>
                    </v-row>
                       <v-row>
            <v-col cols="12" md="12"  style="padding-top:5px;padding-bottom:0px;padding-right: 30px; padding-left:30px;text-align:left;margin-bottom:-10px;">
               <v-switch
               v-model="ScheduleIsActive"
      style="float:left;margin-top: -1px;"
     :label="$t(`menu.ActiveLive`)"
    ></v-switch>
      <!-- <v-switch
    v-model="ScheduleIsActive"
      :label="$t(`menu.ActiveLive`)"
    ></v-switch> -->
            </v-col>
          </v-row>

            <v-divider></v-divider>
        <v-card-text style="padding-left:5px;padding-right:5px;padding-top:3px !important">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header    style="text=align:center !important;min-height: 24px !important;margin-bottom: -4px;padding-left: 14px;padding-right:0px" expand-icon="" >

    <v-row>
      <v-col cols="4"  style="padding-top:0px;padding-bottom:0px;padding-left:0px">
<v-btn small style=" background-color: #2E7D32;color: rgb(255 255 255);" @click="SaveSchedule()">{{ $t(`common.save`) }}</v-btn>

      </v-col>
       <v-col cols="4" style="padding-top:0px;padding-bottom:0px">
         <v-btn small color="primary" @click="ClearSchedule()">{{$t(`menu.New`)}}</v-btn>
       </v-col>
         <v-col cols="4" style="padding-top:0px;padding-bottom:0px;padding-right:0px">

                  <v-btn small style=" background-color: rgb(255 23 68);color: rgb(255 255 255);" @click="DeleteSchedule()">{{$t(`common.delete`)}}</v-btn>
         </v-col>

    </v-row>
        </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="5" sm="5"  class="slno">
     {{ $t(`menu.Week`) }}

      </v-col>

          <v-col cols="1" sm="1" class="text-center">
               <v-tooltip  top color="#388E3C">
          <template v-slot:activator="{ on, attrs }">

              <v-icon
        small
        color="#388E3C"
        @click="show = !show"
v-bind="attrs" v-on="on"
      >
        M
      </v-icon>
          </template>
          <span>Monday</span>
        </v-tooltip>



      </v-col>
         <v-col cols="1" sm="1" class="text-center">

      <v-tooltip  top color="rgb(0, 99, 145)">
          <template v-slot:activator="{ on, attrs }">

              <v-icon
        small

        color="rgb(0, 99, 145)"
       @click="showb = !showb"
       v-bind="attrs" v-on="on"

      >
        T
      </v-icon>
          </template>
          <span>Tuesday</span>
        </v-tooltip>

      </v-col>
         <v-col cols="1" sm="1" class="text-center">

<v-tooltip top color="#FFA000">
          <template v-slot:activator="{ on, attrs }">

            <v-icon
        small

        color="#FFA000"
          @click="showy = !showy"
       v-bind="attrs" v-on="on"


      >
        W
      </v-icon>
          </template>
          <span>Wednesday</span>
        </v-tooltip>
      </v-col>
         <v-col cols="1" sm="1" class="text-center">


<v-tooltip top color="#00ACC1">
          <template v-slot:activator="{ on, attrs }">

            <v-icon
        small

        color="#00ACC1"
          @click="showr = !showr"
       v-bind="attrs" v-on="on"

      >
        T
      </v-icon>
          </template>
          <span>Thursday</span>
        </v-tooltip>

      </v-col>
         <v-col cols="1" sm="1" class="text-center">


<v-tooltip top color="#AD1457">
          <template v-slot:activator="{ on, attrs }">

            <v-icon
        small

        color="#AD1457"
          @click="showr = !showr"
       v-bind="attrs" v-on="on"

      >
        F
      </v-icon>
          </template>
          <span>Friday</span>
        </v-tooltip>

      </v-col>
         <v-col cols="1" sm="1" class="text-center">


<v-tooltip top color="#546E7A">
          <template v-slot:activator="{ on, attrs }">

            <v-icon
        small

        color="#546E7A"
          @click="showr = !showr"
       v-bind="attrs" v-on="on"

      >
        S
      </v-icon>
          </template>
          <span>Saturday</span>
        </v-tooltip>

      </v-col>
        <v-col cols="1" sm="1" class="text-center">


<v-tooltip top color="#E53935">
          <template v-slot:activator="{ on, attrs }">

            <v-icon
        small

        color="#E53935"
          @click="showr = !showr"
       v-bind="attrs" v-on="on"

      >
        S
      </v-icon>
          </template>
          <span>Sunday</span>
        </v-tooltip>

      </v-col>
    </v-row>
  <!-- ----------------------------------- ScheduleDays Starts Here  ----------------------------------------------------- -->

 <v-row no-gutters style="    font-size: 10px;text-align: left;padding: 2px; max-height:230px; overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel   class="ma-0" v-touch:tap="touchHandler" >

     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;">

       <v-row>
       <v-col cols="5" sm="5"  class="slno1" style="margin-top: 10px; " >

   <b>Week 1 </b>
      </v-col>

       <v-col cols="1" sm="1" class="checkgreen" id="myColourClass1" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[0]"
            :value="false"
            hide-details
             color="#388E3C"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkblue " id="myColourClass2" style="padding: 0px !important; text-align:center;" >
            <v-checkbox
            class="pa-0 ma-0 "
            :ripple="false"
            v-model="ScheduleDays[1]"
            :value="false"
            hide-details
            color="rgb(0, 99, 145)"
            style=" margin-bottom: 11px;"
            ></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1"  id="myColourClass3" class="checkyellow" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[2]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#FFA000"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkt" id="myColourClass4" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[3]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#00ACC1"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkf" id="myColourClass5" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[4]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#AD1457"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checks" id="myColourClass6" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[5]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#546E7A"
            ></v-checkbox>

      </v-col>
          <v-col cols="1" sm="1" class="checkred" id="myColourClass7" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[6]"
            :value="false"
            hide-details
            color="#E53935"
            style=" margin-bottom: 11px;"
            ></v-checkbox>

      </v-col>
      </v-row>

      </v-expansion-panel-header>

    </v-expansion-panel>
     <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >

     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;">

       <v-row>
       <v-col cols="5" sm="5"  class="slno1" style="margin-top: 10px; " >

   <b >Week 2</b>
      </v-col>



       <v-col cols="1" sm="1" class="checkgreen" id="myColourClass8" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[7]"
            :value="false"
            hide-details
             color="#388E3C"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkblue" id="myColourClass9" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[8]"
            :value="false"
            hide-details
            color="rgb(0, 99, 145)"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkyellow" id="myColourClass10" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[9]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#FFA000"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkt" id="myColourClass11" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[10]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#00ACC1"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkf" id="myColourClass12" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[11]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#AD1457"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checks" id="myColourClass13" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[12]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#546E7A"
            ></v-checkbox>

      </v-col>
           <v-col cols="1" sm="1" class="checkred" id="myColourClass14" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[13]"
            :value="false"
            hide-details
            color="#E53935"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>
      </v-row>


      </v-expansion-panel-header>

    </v-expansion-panel>
     <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >

     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;">

       <v-row>
       <v-col cols="5" sm="5"  class="slno1" style="margin-top: 10px; " >

   <b >Week 3</b>
      </v-col>



       <v-col cols="1" sm="1" class="checkgreen" id="myColourClass15" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[14]"
            :value="false"
            hide-details
             color="#388E3C"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkblue" id="myColourClass16" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[15]"
            :value="false"
            hide-details
            color="rgb(0, 99, 145)"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkyellow" id="myColourClass17" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[16]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#FFA000"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkt" id="myColourClass18" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[17]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#00ACC1"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkf" id="myColourClass19" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[18]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#AD1457"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checks" id="myColourClass20" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[19]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#546E7A"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkred" id="myColourClass21" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[20]"
            :value="false"
            hide-details
            color="#E53935"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>
      </v-row>


      </v-expansion-panel-header>

    </v-expansion-panel>
     <v-expansion-panel  class="ma-0" v-touch:tap="touchHandler" >

     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important;padding-top: 6px;
    padding-bottom: 6px;padding-left: 17px;
    padding-right: 17px;">

       <v-row>
       <v-col cols="5" sm="5"  class="slno1" style="margin-top: 10px; " >

   <b >Week 4 </b>
      </v-col>



       <v-col cols="1" sm="1" class="checkgreen" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[21]"
            :value="false"
            hide-details
             color="#388E3C"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkblue" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[22]"
            :value="false"
            hide-details
            color="rgb(0, 99, 145)"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>

       <v-col cols="1" sm="1" class="checkyellow" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[23]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#FFA000"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkt" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[24]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#00ACC1"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checkf" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[25]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#AD1457"
            ></v-checkbox>

      </v-col>
       <v-col cols="1" sm="1" class="checks" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[26]"
            :value="false"
            hide-details
            style=" margin-bottom: 11px;"
             color="#546E7A"
            ></v-checkbox>

      </v-col>
           <v-col cols="1" sm="1" class="checkred" style="padding: 0px !important; text-align:center">
            <v-checkbox
            class="pa-0 ma-0"
            :ripple="false"
            v-model="ScheduleDays[27]"
            :value="false"
            hide-details
            color="#E53935"
            style=" margin-bottom: 11px;"></v-checkbox>

      </v-col>
      </v-row>


      </v-expansion-panel-header>

    </v-expansion-panel>

<!-- ----------------------------------- ScheduleDays Ends Here  ----------------------------------------------------- -->
  </v-expansion-panels>
 </v-row>
<v-row>
  <v-col cols="12" style="text-align:center;padding-top: 7px;padding-bottom: 0px;margin-bottom: -9px;">
                    <!-- <v-btn style=" background-color: #FFB300;color: rgb(255 255 255);" @click="DeSelectAll">{{ $t(`menu.ChangeWeekNumber`) }}</v-btn> -->
                     <v-btn block color="secondary" dark @click="Changeweeknumbermodal=true">{{ $t(`menu.ChangeWeekNumber`) }}</v-btn>
  </v-col>
</v-row>

        </v-card-text>
      </v-card>
      </v-dialog>
            <!-- Schedulemodal Ends  -->
            <!-- changeweeknumber modal start -->
            <v-dialog
        v-model="Changeweeknumbermodal"
        max-width="600px"
        style="z-index: 200000!important;"
      >
        <v-card >
           <div class="d-flex align-center pa-2" style="margin-bottom: -5px;
    margin-top: 0px;">

        <div class="title" style="color:rgb(0 99 145);font-size:16px !important">{{ $t(`menu.Changeweeknumberinthecycle`) }}</div>


      </div>
         <v-divider></v-divider>
           <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:10px;padding-bottom:0px;padding-right: 29px; padding-left: 29px;margin-bottom: -5px; " >
                    <label style="text-align:center;color:rgb(238, 68, 170);font-size:13px"><b>Today's ({{new Date().toISOString().substr(0, 10)}}) Week in the circle</b></label>
                  </v-col>
           </v-row>
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:5px;padding-bottom:0px;padding-right: 29px; padding-left: 29px;margin-bottom: -15px; " >
                       <v-autocomplete
             :items="WeekOptions"
             v-model="WeekName"
                 outlined
            dense

            @change="GetCustomer($event)"
            style="padding-bottom:0px"
          >


          </v-autocomplete>
                  </v-col>
        </v-row>
<v-divider></v-divider>
<v-card-text>
   <v-row >

      <v-col cols="6" class="location" style="padding-top:15px !important;padding-bottom:0px;padding-left:3px !important">


                  <v-btn small style=" background-color:#FB8C00;color: rgb(255 255 255);" @click="Changeweeknumbermodal = false">{{$t(`common.cancel`)}}</v-btn>

      </v-col>

         <v-col cols="6" style="padding-top:15px !important;padding-bottom:0px;" class="locationnew">
           <v-btn small style=" background-color: #2E7D32;color: rgb(255 255 255);" @click="UpdateVariant">{{ $t(`common.save`) }}</v-btn>

         </v-col>

    </v-row>
</v-card-text>

      </v-card>
      </v-dialog>
         <!-- changeweeknumber Ends start -->

          <!-- editschedule modal start -->
            <v-dialog
        v-model="editschedulemodal"
        max-width="600px"
        style="z-index: 200000!important;"
      >
        <v-card >


        <div class="title" style="color:rgb(0 99 145);font-size:18px !important;text-align:center !important;padding-top:10px;padding-bottom:10px">{{ $t(`menu.Schedule`) }}</div>


         <v-divider></v-divider>

        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:15px;padding-bottom:3px;padding-right: 29px; padding-left: 29px;margin-bottom: -15px; " >
                       <v-autocomplete
             :items="CustomerOptions"
             v-model="CustomerSearch"
             :label="$t('menu.Schedule')"
                 outlined
            dense

            @change="GetCustomer($event)"
            style="padding-bottom:0px"
          >


          </v-autocomplete>
                  </v-col>
        </v-row>
<v-divider></v-divider>
<v-card-text>
   <v-row >

      <v-col cols="6" class="location" style="padding-top:15px !important;padding-bottom:0px;padding-left:3px !important">


                  <v-btn small style=" background-color:#FB8C00;color: rgb(255 255 255);" @click="editschedulemodal = false">{{$t(`common.cancel`)}}</v-btn>

      </v-col>

         <v-col cols="6" style="padding-top:15px !important;padding-bottom:0px;" class="locationnew">
           <v-btn small style=" background-color: #2E7D32;color: rgb(255 255 255);" @click="SelectAll">{{ $t(`common.save`) }}</v-btn>

         </v-col>

    </v-row>
</v-card-text>

      </v-card>
      </v-dialog>
         <!-- changeweeknumber Ends start -->

          <v-dialog v-model="DeleteConfirmationRouteLink" persistent max-width="250">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmationRouteLink = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  small outlined color="rgb(40 167 69)" @click="ExecuteDeleteRouteLink">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-dialog v-model="DeleteConfirmationSchedule" persistent max-width="250">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmationSchedule = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  small outlined color="rgb(40 167 69)" @click="ExecuteDeleteSchedule">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>



<!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
    <!-- <v-dialog
        v-model="PrintModal"
        max-width="400px"
        style="z-index: 100000!important;"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">
          </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12" style="font-size:13px;padding-right:0px !important;padding-left:0px !important" class="slno">
          <b><label >Do you want to print?</label></b>
            </v-col>
            </v-row>
             <v-row>
              <v-col cols="12" style="padding-top:5px;padding-right:0px !important;padding-left:0px !important">
                <v-divider></v-divider>
                </v-col>
             </v-row>
             <v-row>
              <v-col cols="6" class="location" style="padding-top:15px !important;padding-bottom:0px !important">
                 <v-btn
             small
              text
              @click="PrintModal = false"
             style="background-color:#FB8C00;color:#FFF"
            >
          {{$t(`common.cancel`)}}
            </v-btn>
              </v-col>
              <v-col cols="6" class="locationnew" style="padding-top:15px !important;padding-bottom:0px !important">
                 <v-btn
            small
              text
              @click="ExecutePrintRouteSchedule()"
              style="background-color:#2E7D32;color:#FFF"
            >
          {{$t(`dashboard.ok`)}}
            </v-btn>
              </v-col>
             </v-row>
          </v-card-text>
        </v-card>





      </v-dialog> -->

      <v-dialog  v-model="PrintModal" persistent max-width="300">
      <template>

      </template>
      <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text style="padding-bottom: 0px;">
           <p style="color:rgb(0, 53, 94);font-size:17px"><b>{{ $t(`menu.Doyouwanttoprint`) }}</b></p>

          </v-card-text>
          <v-card-actions>
            <v-btn
            small
              text
             @click="PrintModal = false"
               style="background-color:#FB8C00;color:#FFF"
            >
         {{ $t(`$vuetify.close`) }}
            </v-btn>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-btn
             :loading="isLoading"
             small

              text
            @click="ExecutePrintRouteSchedule()"
               style="background-color:#2E7D32;color:#FFF"
            >

              {{ $t(`menu.Print`) }}
            </v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
<!-- ------------------------------------------------- PrintModal Ends Here------------------------------------------------------- -->


    </div>
  </template>

  <script>

  import Vue from 'vue'
  import 'vue-select/dist/vue-select.css';
  import fab from 'vue-fab'
  import axios from 'axios';
  import de from '../../translations/de';
  import vueSignature from "vue-signature"
  import TrendPercentVue from '../../components/common/TrendPercent.vue';
  import DayEndCheck from "../../mixins/DayEndCheck";
  //import Assets from '../Vouchers/Assets.vue'
   import draggable from 'vuedraggable'
  export default {
    components: {
    draggable,fab,vueSignature//,Assets
    },
    data() {
      return {
         dragging: false,
        enabled: true,
        showhide:true,
        show: false,
showb:false,
showy:false,
showr:false,
       singleSelect: false,
        selected: [],
        headers: [
          {
             singleSelect: false,
            text: 'Menu Items',
            align: 'last',
            sortable: false,
            value: 'name',
          },
          { text: 'Create/Insert', value: 'calories' },
          { text: 'View', value: 'fat' },
          { text: 'Update', value: 'carbs' },
          { text: 'Delete', value: 'protein' },

        ],
        desserts: [
          {
            name: 'Frozen Yogurt',
         selected: [],
         selected: [],
         selected: [],
        selected: [],

          },
          {
            name: 'Ice cream sandwich',
            calories: 237,
            fat: 9.0,
            carbs: 37,
            protein: 4.3
          },

        ],
        fruits: [
        'Apples',
        'Apricots',
        'Avocado',
        'Bananas',
        'Blueberries',

      ],
      selectedFruits: [],
      fruits1: [
        'Apples',
        'Apricots',
        'Avocado',
        'Bananas',
        'Blueberries',

      ],
      selectedFruits1: [],
          item:
              {
                  p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                  barcode:''

              },
        barcodescannarmodal :false,
        ScheduleModal:false,
        Changeweeknumbermodal:false,
        WeekOptions:["First","Second","Third","Fourth"],
        CurrentDayNo: '',
        WeekName:"",
        editschedulemodal:false,
          signature1 : false,
          BarcodeModal:false,
        ex4: [ 'primary'],
        bURL:'',
        bURLPrint:'',
        dialog: false,
          AssetModal: false,
          VerifyModal: false,
        RouteDeleteModal:false,
          singleSelect: false,
            menu1: false,
          ChequeDate :new Date().toISOString().substr(0, 7),
          selected: [],
        sheet: false,
          items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
        UserObject: {
        },
        tab: null,
        tab1:null,
        breadcrumbs: [
          {
            text: 'vms',
            to: '/vms/list',
            exact: true
          },
          {
            text: 'Edit vm'
          },
        ],
          fab:{

        tooltip:true,
        bgColor: 'rgb(0 53 94)',
        position: 'bottom-right',
        mainicon: 'list',
        zindex: '100',
        iconsize: 'small',
        fabActions: [


            {
            name: 'PrintRoute',
            icon: 'print',
          tooltip:this.$t(`menu.Print`)
          },


        ]
      },
        panel: [1],
        deleteDialog: false,
        disableDialog: false,
        dialog: false,
        infoWindowPos: null,
        infoWinOpen: false,
        currentMidx: null,

        infoOptions: {
            content: '',
            zoom:25,
          //optional: offset infowindow so it visually sits nicely on top of our marker
          pixelOffset: {
            width: 0,
            height: 15
          }
        },
        center: {
          lat: 0,
          lng: 0
        },
        markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: '<strong>Marker 1</strong>'
        }
        ],
        date: '1990-10-09',
      menu: false,
      gender: 'male',
      items: ['Kerala','Assam','Odisha','Gujarat'],
      imageSrc: '/images/avatars/avatar1.svg',
      ImageModal : false,
      MappingModal:false,
      Username : window.localStorage.getItem('UserName'),
      DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
      userType :  window.localStorage.getItem('UserType'),
      Token : window.localStorage.getItem('Token'),
      SnackbarMessege : '',
      snackbar : false,
      timeout : 2000,
      showPassword: false,
      isCreatePermission : false,
      isReadPermission : false,
      isDeletePermission : false,
      isUpdatePermission :false,
      BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
      IsDisableBranch:false,
      UserTypeOptions : [],
      IsMultiBarnch : false,
      CustomerOptions : JSON.parse( localStorage.getItem('Customers') ),
      CustomerSearchOptions : JSON.parse( localStorage.getItem('Customers') ),
      RouteObject : JSON.parse( localStorage.getItem('LinkedRoutes')),
      RouteOptions : [],
      RouteSearchOptions : [],
      ScheduleOptions:[],
      ScheduleSearchOptions:[],
      ScheduleSearchOptions:[],
      ScheduleSearchMaster :'',
      ScheduleDays: [
      false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false
      ],
      ScheduleIsActive : true,
      LinkedCustomers : [],
      LinkedRoutes :[],
      LinkedCustomers :[],
      CustomerWiseSearch:"",
      RouteWiseSearch:"",
      Settings : JSON.parse( localStorage.getItem('Settings') ),
      AppName : localStorage.getItem('GetAppName'),
      IsEAGApp : false,
      IsEAIApp :false,
      DeleteConfirmationRouteLink : false,
      DeleteConfirmationSchedule : false,
      DeleteRouteLinkId:false,
      IsCustomerWiseDeleteion: false,
      BillwiseDeleteId : -1,
      menu: false,
      selectedCustomer:[],
      Loaderdialog:false,
      Photo:"",
      PrintModal : false,
      PrintURL:""

      }
    },
    mixins: [DayEndCheck],
    computed: {
         resultQueryCustomerWise() {
      this.LinkedRoutesNew = []
    if(this.CustomerWiseSearch !== undefined)
    {
       this.LinkedRoutesNew = this.LinkedRoutes.filter(post => {
        return post.RouteName.toString().toLowerCase().includes(this.CustomerWiseSearch.toLowerCase()) ||
        post.ScheduleName.toString().toLowerCase().includes(this.CustomerWiseSearch.toLowerCase());
      })
      if(this.LinkedRoutesNew.length > 100)
      {
         this.LinkedRoutesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LinkedRoutesNewReturn.push(this.LinkedRoutesNew[this.i])

        }
        return this.LinkedRoutesNewReturn
      }
      else{
         return this.LinkedRoutesNew
      }
    }
    else{
      if(this.CustomerObject.length > 100)
      {
         this.LinkedRoutesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LinkedRoutesNewReturn.push(this.LinkedRoutes[this.i])

        }
        return this.LinkedRoutesNewReturn
      }
      else{
         return this.LinkedRoutes
      }
    }
    },
     resultQueryRouteWise() {
      this.LinkedRoutesNew = []
    if(this.RouteWiseSearch !== undefined)
    {
       this.LinkedRoutesNew = this.LinkedCustomers.filter(post => {
        return post.CustomerName.toString().toLowerCase().includes(this.RouteWiseSearch.toLowerCase()) ||
        post.ScheduleName.toString().toLowerCase().includes(this.RouteWiseSearch.toLowerCase());
      })
      if(this.LinkedRoutesNew.length > 100)
      {
         this.LinkedRoutesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LinkedRoutesNewReturn.push(this.LinkedRoutesNew[this.i])

        }
        return this.LinkedRoutesNewReturn
      }
      else{
         return this.LinkedRoutesNew
      }
    }
    else{
      if(this.CustomerObject.length > 100)
      {
         this.LinkedRoutesNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.LinkedRoutesNewReturn.push(this.LinkedRoutes[this.i])

        }
        return this.LinkedRoutesNewReturn
      }
      else{
         return this.LinkedCustomers
      }
    }
    },

      likesAllCustomer () {
        return this.selectedCustomer.length === this.CustomerOptions.length
      },
      likesSomeCustomer() {
        return this.selectedCustomer.length > 0 && !this.likesAllCustomer
      },

      iconAllCustomer () {
        if (this.likesAllCustomer) return 'mdi-close-box'
        if (this.likesSomeCustomer) return 'mdi-minus-box'

        return 'mdi-checkbox-blank-outline'
      },
    },
    mounted()
    {
      this.PreviousPage = localStorage.getItem('PreviousRoute')
      if(this.PreviousPage !== 'UserProfile' && this.PreviousPage !== 'UserRegister')
      {
            history.pushState(null, null, location.href);
  window.onpopstate = function () {
      history.go(1);
  };
      }
      else
      {
        history.pushState(null, null, location.href);
  window.onpopstate = function () {
      location.href = location.origin + '/dashboard/registers/UserRegister'
  };
      }
      if(this.Token === "" || this.Token === null || this.Token === undefined)
      {
        localStorage.setItem('IsReload',true)
        this.$router.push('/auth/signin')
      }
      localStorage.setItem('ActivePage','CustomerRoute')
      localStorage.setItem('ActiveRoute','/dashboard/masters/CustomerRouteSector')
    localStorage.removeItem('VoucherUpdated')
      this.BasicSettings()
      this.SetPermission()
      this.checkUrl();
      this.BindRouteOptions()
      this.GetSchedule()
      this.GetDayNumber()
      this.GetWeekNumber()


    },
    methods:
    {
  scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >5)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     OpenCustomertoRouteSector(){
this.$router.push('/dashboard/masters/CustomerRouteSector')
    },
      toggleCustomer () {
        this.$nextTick(() => {
          if (this.likesAllCustomer) {
            this.selectedCustomer = []
          } else {
            this.selectedCustomer = this.CustomerOptions.slice()
          }
        })
      },

          saveDigital(){

        var _this = this;

        var svg = _this.$refs.signature.save('image/svg+xml');

        // console.log(svg)
        //  localStorage.setItem('salessign',svg)
        if(this.signtype == 1)
        {
          this.salessign = svg
          /* localStorage.setItem('salessign',svg)
          localStorage.setItem('salename',this.nameval)
          this.salename = this.nameval */

        }

        this.signature1=false;

      },
      clearDigital(){
        var _this = this;
        this.salessign = ""
        _this.$refs.signature.clear();
      },
      open(a) {
        if(a==1){
        this.Title = 'Signature'
        }

        this.signtype = a
      this.signature1=true;
      },
      close() {
      this.signature1=false;
      },
      openBarcode()
        {

          this.BarcodeModal = true
          this.barcodescannarmodal = true
        },
        onDecode (result) {
      console.log(result)
      this.item.barcode = result
      this.BarcodeModal = false
          this.barcodescannarmodal = false
    },
      goToAssets(){
    this.$router.push('/dashboard/assets');
        },
      checkUrl()
      {
        if(localStorage.getItem("CompanyURL")!== null)
      {

            this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            this.bURLPrint = localStorage.getItem("CompanyURL");
            //  this.logo = localStorage.getItem("Companylogo");

      }else
      {
        // this.openSettings()
      }
      },
      someAction (e) {
    e.stopPropagation()
    console.log('in some action')
  },
      save (date) {
        this.$refs.menu.save(date)
      },
      save1 (date1) {
        this.$refs.menu1.save(date1)
      },
      uploadImage: function() {
        this.ImageModal=false
        var file = document
          .querySelector('input[type=file]')
          .files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
          this.ImageModal = false
          this.UserImage1 = e.target.result;
          this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
          this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
          this.Photo = this.UserImage1
          localStorage.setItem('TempImage',this.Photo);
          this.ImageModal = false
          document.getElementById("UserImage1").src = e.target.result;

        };
        reader.onerror = function(error) {
          alert(error);
        };
        reader.readAsDataURL(file);

      },
      toggleInfoWindow: function(marker, idx) {
        this.infoWindowPos = marker.position
        this.infoOptions.content = marker.infoText
  console.log(marker.position.lat+" "+marker.position.lng)
        //check if its the same marker that was selected if yes toggle
        if (this.currentMidx === idx) {
          this.infoWinOpen = !this.infoWinOpen

        }
        //if different marker set infowindow to open and reset current marker index
        else {
          this.infoWinOpen = true
          this.currentMidx = idx

        }
      },

      BasicSettings()
      {
        this.IsCustomer = localStorage.getItem('salePerson')
        if (this.IsCustomer !== '')
          this.UserObject.Salesman = this.IsCustomer


        this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.UserObject.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.UserObject.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.UserObject.BranchCode = ''
        }

          

        this.CustomerLength = this.CustomerOptions.length
        if (this.CustomerLength > 1)
        {
          this.IsCustomerShow = true
        }

        this.BarnchLength = this.BranchCodeOptions.length
        if (this.BarnchLength > 1)
          this.IsMultiBarnch = TrendPercentVue
        if(this.AppName === "EAI")
          {
          this.IsEAIApp = true
          }
        else if(this.AppName === "EAG")
        {
          this.IsEAGApp = true
        }

        this.UserObject.IsActive = false

      },
      SetPermission()
      {
        this.userType = window.localStorage.getItem('UserType');
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmRoute')
          .then((response)  =>  {
            this.isCreatePermission = response.data[0]
            this.isReadPermission = response.data[1]
            this.isUpdatePermission = response.data[2]
            this.isDeletePermission = response.data[3]



          }, (error)  =>  {
            console.log(error)
          })
      },
      GetUser(user)
      {
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        axios.get (this.bURL + 'User/' + user)
          .then((response)  =>  {
            this.AssignObject(response.data)
          }, (error)  =>  {
            console.log(error)
          })
      },
      AssignObject(obj)
      {
        this.Username = obj.Username
        this.Username = obj.username
        document.getElementById("UserImage1").src = 'data:image/jpeg;base64,' + obj.photo
        this.UserObject.FullName = obj.fullName
        this.UserObject.Password = obj.password
        this.UserObject.UserType = obj.userType
        this.UserObject.IsActive = obj.isActive
        this.UserObject.Mobile = obj.mobile
        this.UserObject.Email = obj.Email
        this.UserObject.Address = obj.address
        this.UserObject.Notes = obj.notes
        this.UserObject.Manager = obj.Manager
        this.UserObject.DeviceIds = this.GetsWithComma(obj.deviceIds)
        this.UserObject.BranchCode = obj.branchCode
        this.UserObject.SalePerson = obj.salePerson
        this.UserObject.PurchasePerson = obj.purchasePerson
        this.UserObject.CashLedger = obj.cashLedger
        this.UserObject.VehicleNo = obj.vehicleNo
        this.Photo = obj.photo
        localStorage.setItem('TempImage',this.Photo);

      },
      FormatewithDecimalPlaces(value)
      {
        return parseFloat(value).toFixed(this.DecimalPlaces)
      },

      CreateObject()
      {
        this.UserObject.Username = this.Username
        this.UserObject.Photo = localStorage.getItem('TempImage')?localStorage.getItem('TempImage'):null
        this.UserObject.FullName = this.UserObject.FullName?this.UserObject.FullName:''
        this.UserObject.Password = this.UserObject.Password?this.UserObject.Password:''
        this.UserObject.UserType = this.UserObject.UserType?this.UserObject.UserType:''
        this.UserObject.Manager = this.UserObject.Manager?this.UserObject.Manager:''
        this.UserObject.IsActive =  this.UserObject.IsActive? this.UserObject.IsActive:false
        this.UserObject.Mobile = this.UserObject.Mobile?this.UserObject.Mobile:''
        this.UserObject.Email = this.UserObject.Email?this.UserObject.Email:''
        this.UserObject.Address = this.UserObject.Address?this.UserObject.Address:''
        this.UserObject.Notes = this.UserObject.Notes?this.UserObject.Notes:''
        this.UserObject.DeviceIds = this.UserObject.DeviceIds?this.UserObject.DeviceIds:''
        this.UserObject.BranchCode = this.UserObject.BranchCode?this.UserObject.BranchCode:''
        this.UserObject.SalePerson = this.UserObject.SalePerson?this.UserObject.SalePerson:''
        this.UserObject.PurchasePerson = this.UserObject.PurchasePerson?this.UserObject.PurchasePerson:''
        this.UserObject.CashLedger = this.UserObject.CashLedger?this.UserObject.CashLedger:''
        this.UserObject.VehicleNo = this.UserObject.VehicleNo?this.UserObject.VehicleNo:''
        if(this.UserObject.DeviceIds !== "" && this.UserObject.DeviceIds !== null)
        {
          this.UserObject.DeviceIds = this.UserObject.DeviceIds.split(',');
        }
        else{
          this.UserObject.DeviceIds = []
        }
        if(this.UserObject.Photo === "")
        {
          this.UserObject.Photo = null
        }
      },
      SaveUser()
      {
        this.CreateObject()
        if(this.UserObject.UserName === "" || this.UserObject.FullName === "" || this.UserObject.UserType === "" || this.UserObject.Password === "")
        {
          this.SnackbarMessege = this.$t(`menu.Pleasefillsufficientdetails`)
          this.snackbar = true
          return
        }
        else if(this.UsernameSearch === undefined || this.UsernameSearch === '')
        {
          if(this.isCreatePermission === true)
          {
            this.Loaderdialog = true
            axios.post ( this.bURL + 'User',this.UserObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                localStorage.setItem('UsernameForRoute',this.Username)
                this.UsernameOptions.push(this.UserObject.Username)
                localStorage.setItem('ReceivedBy',JSON.stringify(this.UsernameOptions))
                this.Loaderdialog = false
                this.ClearUser()
                /* localStorage.removeItem('Username')

                setTimeout( location.reload() , 2000) */
              }, (error)  =>  {
                console.log(error)
            })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
        else{
          if (this.isUpdatePermission === true)
          {
            localStorage.setItem('UserPut',JSON.stringify(this.UserObject))
              axios.put ( this.bURL + 'User/UpdateUser?OldUsername='+this.Username ,this.UserObject)
                .then((response)  =>  {
                  this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                  this.snackbar = true

                }, (error)  =>  {
                  console.log(error)
              })
          }
          else
            {
              this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
              this.snackbar = true
            }
        }
      },
      DeleteUser()
      {
        if (this.Username !== null)
        {
          if (this.isDeletePermission === true)
          {
            this.DeleteConfirmation_User = true

          }
          else
          {
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

        }
        else
        {
          this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
          this.snackbar = true

        }

      },
      ExecuteDeleteCstomer()
      {
        this.encodeUsername = encodeURIComponent(this.Username)
        axios.delete( this.bURL + 'User/' + this.encodeUsername)
          .then((response)  =>  {
            this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
            this.snackbar = true
            for(this.i = 0;this.i<this.UsernameOptions.length;this.i++)
            {
              if(this,UsernameOptions[this.i] === this.Username)
              {
                this.UsernameOptions.splice(this.i,1);
                break
              }
            }
            this.ClearUser()
          },(error)  =>  {
            this.Loaderdialog = false
            if(error.response === undefined)
            {
              this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
            }
            else if(error.response.data !=="")
            {
              this.SnackbarMessege = error.response.data
            }
            else{
              this.SnackbarMessege =this.$t(`menu.failed`)
            }
            this.snackbar = true
          })
      },
      ClearUser()
      {
        this.UsernameSearch = ""
        this.Username = ""
        this.UserObject.Username = ""
        this.Photo =""
        this.UserObject.FullName = ""
        this.UserObject.Password = ""
        this.UserObject.UserType = ""
        this.UserObject.Mobile = ""
        this.UserObject.Email = ""
        this.UserObject.Address = ""
        this.UserObject.Notes = ""
        this.UserObject.DeviceIds = ""
        this.UserObject.BranchCode = ""
        this.UserObject.SalePerson = ""
        this.UserObject.PurchasePerson = ""
        this.UserObject.CashLedger = ""
        this.UserObject.VehicleNo = ""
        this.UserImage1 = ""
        document.getElementById("UserImage1").src = "/images/avatars/avatar1.svg"
        this.imageSrc = '/images/avatars/avatar1.svg'
        this.UserObject.IsActive = false
      },

      FormatDate(Value)
      {
        if(Value !== undefined)
        {
            Value =  Value.split('T')[0]
        }
        else{
          Value = ""
        }


        return Value

      },
      BindRouteOptions()
      {
        for(this.i=0;this.i<this.RouteObject.length;this.i++)
        {
          this.RouteOptions.push(this.RouteObject[this.i].RouteName)
          this.RouteSearchOptions.push(this.RouteObject[this.i].RouteName)
        }
      },
      GetSchedule()
      {
        this.ScheduleOptions = []
        this.ScheduleSearchOptions = []
      axios.get( this.bURL + 'Schedule/LoadSchedules?ActiveStatus=Active')
        .then((response)  =>  {
          this.ScheduleObject = response.data
        for(this.j = 0;this.j<response.data.length;this.j++)
        {
          this.ScheduleOptions.push(response.data[this.j].ScheduleName)
           this.ScheduleSearchOptions.push(response.data[this.j].ScheduleName)
        }
        this.ScheduleName = this.ScheduleOptions[0]
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedRoutes()
    {
       axios.get( this.bURL + 'Route/LoadRoutesByCustomer?CustomerName='+this.CustomerSearch)
        .then((response)  =>  {

          this.PrintURL = 'Print/RouteSchedule?BranchCode=' + this.BranchCode + '&RouteID=' + 0 + '&CustomerNames=' + this.CustomerSearch + '&ScheduleIDs=' + ""
            this.LinkedRoutes = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    InsertRouteLink()
    {
      if(this.Route === undefined || this.Route === "" || this.Schedule === undefined || this.Schedule === "")
      {
        this.SnackbarMessege = this.$t(`menu.PleaseselectRouteandSchedule`)
        this.snackbar = true
        return
      }
       this.LinkedRoutesNew = this.LinkedRoutes.filter(post => {
        return post.RouteName.toString().toLowerCase().includes(this.Route.toLowerCase()) &&
        post.ScheduleName.toString().toLowerCase().includes(this.Schedule.toLowerCase());
         })
      if(this.LinkedRoutesNew.length > 0)
      {
        this.SnackbarMessege = this.$t(`menu.Alreadyadded`)
        this.snackbar = true
        return
      }
      this.RouteID  = -1
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.Route === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          break
        }
      }
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.Schedule === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
      axios.get( this.bURL + 'Route/InsertRouteLink?CustomerName='+this.CustomerSearch + "&RouteID=" + this.RouteID + "&ScheduleID=" + this.ScheduleID)
        .then((response)  =>  {
           this.GetLinkedRoutes()
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedCustomers()
    {
      this.RouteID  = -1
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.RouteSearch === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          break
        }
      }
       axios.get( this.bURL + 'Route/LoadCustomersByRoute?RouteID='+this.RouteID)
        .then((response)  =>  {
         this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }
             this.PrintURL = 'Print/RouteSchedule?BranchCode=' + this.BranchCode + '&RouteID=' + this.RouteID + '&CustomerNames=' + "" + '&ScheduleIDs=' + ""

            this.LinkedCustomers = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
     InsertCustomerLink()
    {
      if(this.RouteSearch === undefined || this.RouteSearch === "" )
      {
        this.SnackbarMessege = this.$t(`menu.PleaseselectRoute`)
        this.snackbar = true
        return
      }
      if(this.ScheduleSearch === undefined || this.ScheduleSearch === "")
      {
        this.SnackbarMessege = this.$t(`menu.Pleaseselectschedule`)
        this.snackbar = true
        return
      }

      if(this.selectedCustomer.length === 0)
      {
         this.SnackbarMessege =this.$t(`menu.PleaseselectCustomer`)
        this.snackbar = true
        return
      }
      else{
            this.RoutesByCustomer = []
             this.RouteID  = -1
             this.RouteName  = ""
      for(this.i=0;this.i<this.RouteObject.length;this.i++)
      {
        if(this.RouteSearch === this.RouteObject[this.i].RouteName)
        {
          this.RouteID = this.RouteObject[this.i].RouteID
          this.RouteName = this.RouteObject[this.i].RouteName
          break
        }
      }
      this.ScheduleID  = -1
      this.ScheduleName = ""
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearch === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          this.ScheduleName = this.ScheduleObject[this.i].ScheduleName
          break
        }
      }
          for(this.i = 0;this.i<this.selectedCustomer.length;this.i++)
          {
              this.LinkedRoutesNew = this.LinkedCustomers.filter(post => {
                 return post.CustomerName.toString().toLowerCase().includes(this.selectedCustomer[this.i].toLowerCase()) &&
                 post.ScheduleName.toString().toLowerCase().includes(this.ScheduleSearch.toLowerCase());
              })
              if(this.LinkedRoutesNew > 0)
              {
                 this.SnackbarMessege = this.$t(`menu.Alreadyadded`)
                 this.snackbar = true
                  return
              }
              else
              {
                this.RouteObj = {
              "LinkID" : -1,
              "CustomerName" : this.selectedCustomer[this.i],
              "RouteID" : this.RouteID,
              "RouteName" : this.RouteName,
              "ScheduleID" : this.ScheduleID,
              "ScheduleName" : this.ScheduleName,
             }
              this.LinkedCustomers.push(this.RouteObj)
              }
          }



      }

      axios.post( this.bURL + 'Route/InsertRouteLinksByRoute?RouteID='+this.RouteID, this.LinkedCustomers)
        .then((response)  =>  {
           this.GetLinkedCustomers()
        }, (error)  =>  {
          console.log(error)
        })
    },
    DeleteRouteLink(linkid ,isCustomerWise)
    {
      if(this.isDeletePermission === true)
      {
          this.DeleteRouteLinkId = linkid
          this.DeleteConfirmationRouteLink = true
          this.IsCustomerWiseDeleteion = isCustomerWise

      }
      else{
        this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
      }

    },
    ExecuteDeleteRouteLink()
    {
      axios.get( this.bURL + 'Route/DeleteRouteLink?LinkID=' + this.DeleteRouteLinkId)
        .then((response)  =>  {
           this.DeleteConfirmationRouteLink = false
           if(this.IsCustomerWiseDeleteion === true)
               this.GetLinkedRoutes()
           else
               this.GetLinkedCustomers()
        }, (error)  =>  {
          console.log(error)
        })
    },

/*********************************** Schedule Master Start here ******************************************* */

  GetScheduleObject()
  {
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
       axios.delete( this.bURL + 'Schedule/GetSchedule?ScheduleID=' + this.ScheduleID)
                .then((response)  =>  {
                  this.ScheduleIsActive = "test"
                  this.ScheduleIsActive = response.data.IsActive
                  this.ScheduleNameNew = response.data.ScheduleName
                  this.Remarks = response.data.Remarks
                  this.NewList =  response.data.ScheduleDays
                   this.ScheduleDays = [
                      false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false
                  ]
                  for(this.i = 0;this.i<this.NewList.length;this.i++)
                  {
                    this.ScheduleDays[this.NewList[this.i].DayNo - 1] = true
                  }
                }, (error)  =>  {

              })
  },
  SaveSchedule()
  {
      if(this.ScheduleNameNew === "" ||  this.ScheduleNameNew === undefined)
      {
        this.SnackbarMessege = this.$t(`menu.Pleaseenterschedulename`)
        this.snackbar = true
        return
      }
      this.NewList = []
      for(this.i = 0;this.i<28;this.i++)
      {
        if(this.ScheduleDays[this.i] === true)
        {
          this.obj = {
            "DayNo" : this.i+1,
            "ScheduleID" :-1,
            "ScheduleDayId" : -1
          }
          this.NewList.push(this.obj)
        }
      }
      if(this.NewList.length === 0)
      {
         this.SnackbarMessege = this.$t('menu.Selectatleastonedayfortheschedule')
        this.snackbar = true
        return
      }
      this.ScheduleID  = -1
      this.ScheduleName = ""
      if(this.ScheduleSearchMaster !== "" && this.ScheduleSearchMaster !== undefined)
      {
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          this.ScheduleName = this.ScheduleObject[this.i].ScheduleName
          break
        }
      }
      }
      this.ScheduleObj = {
        "ScheduleID" : this.ScheduleID,
        "ScheduleName" : this.ScheduleNameNew,
        "IsActive" : this.ScheduleIsActive,
        "Remarks" : this.Remarks?this.Remarks:"",
        "ScheduleDays" : this.NewList
      }

      if(this.ScheduleSearchMaster === "" || this.ScheduleSearchMaster === undefined)
      {
          if(this.isCreatePermission === true)
          {
             this.Loaderdialog = true
              axios.post( this.bURL + 'Schedule/InsertSchedule', this.ScheduleObj)
                .then((response)  =>  {
                  this.Loaderdialog = false
                   this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                   this.snackbar = true
                   this.ClearSchedule()
                   this.GetSchedule()
                }, (error)  =>  {
                   this.SnackbarMessege = this.$t('menu.failed')
                   this.snackbar = true
                   this.Loaderdialog = false
                    console.log(error)
              })
          }
          else{
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
            return
          }
      }
      else{
        if(this.isUpdatePermission === true)
        {
            this.Loaderdialog = true
              axios.put( this.bURL + 'Schedule/UpdateSchedule', this.ScheduleObj)
                .then((response)  =>  {
                  this.Loaderdialog = false
                   this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                   this.snackbar = true
                   this.GetSchedule()
                }, (error)  =>  {
                   this.SnackbarMessege =this.$t('menu.failed')
                   this.snackbar = true
                   this.Loaderdialog = false
                    console.log(error)
              })
        }
        else{
            this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
            return
        }

      }

  },
  ClearSchedule()
  {
    this.ScheduleSearchMaster = ""
    this.ScheduleNameNew = ""
    this.Remarks = ""
     this.ScheduleDays = [
                      false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false,false
                  ]

  },
   DeleteSchedule()
    {
      if(this.isDeletePermission === true)
      {
          this.DeleteConfirmationSchedule = true

      }
      else{
        this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
      }

    },
    ExecuteDeleteSchedule()
    {
      this.ScheduleID  = -1
      for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
      {
        if(this.ScheduleSearchMaster === this.ScheduleObject[this.i].ScheduleName)
        {
          this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
          break
        }
      }
      axios.delete( this.bURL + 'Schedule/DeleteSchedule?ScheduleID=' + this.ScheduleID)
        .then((response)  =>  {
           this.DeleteConfirmationSchedule = false
           this.SnackbarMessege =this.$t(`menu.Success`)
           this.snackbar = true
           this.ClearSchedule()
           this.GetSchedule()
        }, (error)  =>  {
          console.log(error)
        })
    },


    GetDayNumber()
    {
       axios.get( this.bURL + 'Schedule/GetDayNumber')
        .then((response)  =>  {
           this.CurrentDayNo = response.data
           setTimeout(() => {
              this.id = "myColourClass" + response.data
              document.getElementById(this.id).style.backgroundColor = '#CFD8DC'
            }, 6000);

        }, (error)  =>  {
          console.log(error)
        })
    },
    GetWeekNumber()
    {
       axios.get( this.bURL + 'Schedule/GetWeekNumber')
        .then((response)  =>  {
          this.WeekName = this.WeekOptions[response.data -1]
          return
        }, (error)  =>  {
          console.log(error)
        })
    },
    UpdateVariant()
    {
      if(this.WeekName === "First")
          this.WeekNo = 1
      else if(this.WeekName === "Second")
          this.WeekNo = 2
      else if(this.WeekName === "Third")
          this.WeekNo = 3
      else if(this.WeekName ==="Fourth")
          this.WeekNo = 4
       axios.get( this.bURL + 'Schedule/UpdateVariant?WeekNo=' + this.WeekNo )
        .then((response)  =>  {
          this.id = "myColourClass" + this.CurrentDayNo
          document.getElementById(this.id).style.backgroundColor = '#ffffff'
          this.id = "myColourClass" + response.data
          document.getElementById(this.id).style.backgroundColor = '#CFD8DC'
          this.Changeweeknumbermodal = false
            this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
            this.snackbar = true
        }, (error)  =>  {
          console.log(error)
        })
    },

/*********************************** Schedule Master Ends here ******************************************* */

PrintRouteSchedule()
{
   if(this.LinkedCustomers.length === 0)
    {
        this.SnackbarMessege = "Please select details"
        this.snackbar = true
        return
    }
    else
    {
      this.PrintModal = true
    }
},
 ExecutePrintRouteSchedule()
   {
       this.Loaderdialog = true
       axios.get(this.bURL + this.PrintURL)
          .then((response)  =>  {
            this.Loaderdialog = false
             this.url = this.bURLPrint + response.data
            //window.open(this.url, '_blank')
            //window.location.href = this.url

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
                window.interface.showPDF(this.url,"Wifi")
            }
            else
            {
               window.open(this.url, '_blank')
            }
          }, (error)  =>  {
            console.log(error)
          })
   }
    }
  }
  </script>
  <style lang="scss" scoped>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #dddddd;
  }
  .col-6{
    padding:0px ;
  }
  .col-md-6{
    padding:0px ;
  }
  .theme--light.v-input {
      padding-top:0px;
  }
  </style>
  <style>

  .fab-main {
      margin-bottom: 50px  !important;
      padding: 21px  !important;
  }
  .theme--light.v-input {

      padding-top: 0px;
  }
  #innerExPan > .v-dialog > .v-card > .v-card__text {
      padding: 0 0px 0px;
  }
  #innerExPan >  .v-card  {
      padding: 0 0px 0px;
  }
  #innerExPan > .v-card__text  {
      padding: 0 0px 0px;
  }

  input[type=date].form-control{
    padding: 0 0px 0px;
    /* padding-left: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px; */

  }
  /* .v-expansion-panel-header{
    background-color:#FFF;
    color: #000 !important;

  } */
  @media only screen and (max-device-width: 380px) {

  .v-tab{
    min-width: 85px;
      max-width: 360px;
      outline: none;
      padding: 0 0px;
  }
  }
  @media only screen and (max-device-width: 320px) {

  .v-tab{
    min-width: 75px;
      max-width: 360px;
      outline: none;
      padding: 0 0px;
  }
  }

  </style>
  <style>
    .checkt .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#00ACC1

}
.checkf .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#AD1457

}
.checks .v-input--selection-controls__input .v-icon {
    width: 100%;
    font-size:18px;

    color:#546E7A

}

  element.style {
      max-height: 304px;
      min-width: 274px;
      top: 313px;
      left: 43px;
      /* transform-origin: left top; */
      z-index: 8;
  }
  .godowna.v-menu__content.theme--light.menuable__content__active.v-autocomplete__content {
    top: 313px !important;
  }
  .usersa.v-menu__content.theme--light.menuable__content__active.v-autocomplete__content {
    top: 369px !important;
  }
  .check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
      align-items: center;
      display: inline-flex;
      flex: 1 1 auto;
      height: auto;
      font-size: 15px;
      padding-top: 8px;
  }

  .v-application--is-ltr .Customers {
  text-align: left !important;
  padding-left:8px !important;
  }
  .v-application--is-rtl .Customers {
      direction: rtl;
  text-align: right !important;
  padding-right:8px !important;
  }

  .v-application--is-ltr .action {
  text-align: right !important;
  padding-right:8px !important;
  }
  .v-application--is-rtl .action {
      direction: rtl;
  text-align:left !important;
  padding-left:8px !important;
  }

  </style>
