<template>
<v-card>
  <v-card-text style="padding:0px !important">
     <v-toolbar color="FFF" style="padding-right: 0px;
    padding-left: 0px;    margin-top: -15px;
">


        <v-row>
          <v-col cols="12" style="text-align:center;font-size:22px;color: rgb(238, 68, 170);font-weight: 350;"  >
            <label ><b>SPEED UP</b></label>
          </v-col>
        </v-row>
        </v-toolbar>
         <v-row no-gutters v-if="IsLoading ===true">
      <v-col cols="12" sm="12" style="text-align:center;padding-top:90px">
             <img
              src="/images/dash/loading.svg"

            />
      </v-col>

    </v-row>
        <v-row  v-if="Success === true && IsLoading ===false">
      <v-col cols="12" sm="12" style="text-align:center;">
             <img
              src="/images/dash/success.gif"  style="max-width: 100% !important"

            />

      </v-col>
    </v-row>
    <v-row  v-if="Success === true && IsLoading ===false">
      <v-col cols="12" style="text-align:center;    padding-top: 0px;" >
           <label style="font-size: 35px;
    font-weight: 500;
    margin-top: -9px;color:green:" id="success"> Successfully</label>
      </v-col>
    </v-row>
    <v-row  v-if="Success=== false && IsLoading ===false">
      <v-col cols="12" sm="12" style="text-align:center;padding-top:58px">
             <img
              src="/images/dash/faileddatabasenew.gif"  style="max-width: 100% !important"

            />

      </v-col>
    </v-row>
    <v-row  v-if="Success === false && IsLoading ===false">
      <v-col cols="12" style="text-align:center;" >

  <v-btn  color="#43A047" dark style="min-width:162px;max-width:162px" @click="Defragment"><v-icon style="padding-right:5px">mdi-emoticon-happy-outline
</v-icon> Try Again !</v-btn>

      </v-col>
    </v-row>

  </v-card-text>
</v-card>

</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
 import VueConfetti from 'vue-confetti'
 import DayEndCheck from "../../mixins/DayEndCheck";
  Vue.use(VueConfetti)
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
      Success:false,
      IsLoading : false,
       counter: 0,
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
achivedmodal:true,
         signature1 : false,
        BarcodeModal:false,
        ReceiptModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      GodownObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteGodown',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearGodown',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveGodown',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat','1','153','541',],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    GodownOptions : JSON.parse( localStorage.getItem('LinkedFullGodowns') ),
    GodownTypeOptions : ['Store','Vehicle for delivery','Expiry or Damage'],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    ShowInSales:true,
    GodownName:'',
    GodownType :'',
    Description:'',
    BranchCode:'',
     IsNew : true,
    IsUpdate : false,

    DeleteName : false,


    }
  },
  mixins: [DayEndCheck],
  computed: {
  },
  mounted()
  {
      this.PreviousPage = localStorage.getItem('PreviousRoute')
     this.BackToPage = localStorage.getItem('BackToPage')


    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Godown')
   localStorage.removeItem('VoucherUpdated')

    this.checkUrl();
    this.Defragment()
  },
  methods:
  {
    start() {
        this.$confetti.start({
  particles: [
    {
      type: 'heart',
      colors: [
        'rgb(255,215,0)',
        'rgb(0 150 199)',
        'rgb(0, 53, 94)'
      ],
    },


  ],
  defaultDropRate: 10,
  defaultSize: 10,
});
      },

      stop() {
        this.$confetti.stop();
      },

      love() {
        this.$confetti.update({
          particles: [
            {
              type: 'heart',
            },
            {
              type: 'circle',
            },
          ],
          defaultColors: [
            'red',
            'pink',
            '#ba0000'
          ],
        });
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
  Defragment()
  {
    this.IsLoading = false
    this.Success = false
     axios
          .get(
            this.bURL +
              "Common/DefragmentDatabase"
          )
          .then(
            response => {

              this.Success = true
              this.IsLoading = false

            },
            error => {
              this.Success = false
              this.IsLoading = false
              this.SnackbarMessege = "Failed"
              this.snackbar = true
            }
          );
  }

  }
}
</script>

<style lang="scss" scoped>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
@media only screen and (max-width: 700px) {
  .responsive {
  margin-top: -50px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
  margin-top: -50px;
  }
}
#success {
   font-family: "Times New Roman", Times, serif !important;
   color:#43A047;
}
.v-timeline-item {
    display: flex;
    padding-bottom: 39px;
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.v-timeline-item__dot--small {
    height: 15px;
    left: calc(50% - 12px);
    width: 15px;
}
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Godowns {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Godowns {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}
.v-text-field.v-text-field--solo .v-input__control{
    min-height: 10px;
}
.vdialognew  {
    border-radius: 0px;
    margin: 0px;
    overflow-y: none;
    pointer-events: auto;
     transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    box-shadow: none;
}
</style>
