<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" :disabled="false">
     <v-row>
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size: 25px;"  >{{ $t(`menu.DeviceRegister`) }} </h4>
            </v-col>
     </v-row>
       <v-card >
          <!-- <v-card-title style="color:rgb(0 99 145);padding-bottom:0px">
           Message :
          </v-card-title> -->
          <v-card-text>
              <div class=" flex-column flex-grow-1 align-center" style="padding-top:0px;padding-bottom:0px;margin-bottom: -10px;" v-if="IsRejectd">
                <v-row>
               <v-col cols="12" sm="12" md="12" style="padding-top:0px;padding-bottom:0px;">
                 <h6 style="color:red;font-size:16px"><b>{{RequestMessege}}</b></h6>
               </v-col>
                </v-row>
                </div>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 10px;" v-if="!IsRegisterd">
                <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:5px !important;padding-top:10px !important;font-size:16px"
               >
 {{ $t(`menu.DeviceId`) }} :<label style="padding-left:10px"><b>&nbsp;&nbsp;&nbsp; {{DeviceId}}</b></label>
               </v-col>
                </v-row>


                 <v-row>
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:10px !important"
               >
       
           <v-textarea
     v-model="Remarks"
        :label="$t(`chat.message`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>
           </v-col>
          
                 </v-row>
                    <v-row v-if="!IsRejectd && !IsRegisterd">
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:1px !important;text-align:right"
               >
  <v-btn-toggle   class="mb-2" >
            <v-btn
            :loading="isLoading"
            :disabled="isSignInDisabled"
             large
              @click="RegisterDevice()"
              style="background-color:#2E7D32;color:#FFF"
              
            >
           {{ $t(`menu.Register`) }}
            </v-btn>


             </v-btn-toggle>
           </v-col>
          
                 </v-row>


                     <v-row  v-if="IsRejectd ">
               <v-col cols="12" sm="12" md="12"
               style="padding-bottom:0px !important;padding-top:1px !important;text-align:right"
               >
  <v-btn-toggle   class="mb-2" >
            <v-btn
            :loading="isLoading"
            :disabled="isSignInDisabled"
             large
              @click="UpdateNotificationVerifyStatus(item)"
              style="background-color:#2E7D32;color:#FFF"
             
            >
           {{ $t(`menu.ReRegister`) }}
            </v-btn>


             </v-btn-toggle>
           </v-col>
          
                 </v-row>
             </div>
              <div class=" flex-column flex-grow-1 align-center" style="padding-top: 0px;padding-bottom:0px;margin-bottom: -10px;" v-if="IsRegisterd">
                <v-row>
               <v-col cols="12" sm="12" md="12" style="padding-top: 0px;padding-bottom:0px">
                 <h5 style="color : green;font-size:16px"><b>{{RequestMessege}}</b></h5>
               </v-col>
                </v-row>
                </div>

              

          </v-card-text>
  
        </v-card>

  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import axios from 'axios'
import DayEndCheck from "../../mixins/DayEndCheck";
import { mapMutations, mapState } from 'vuex'

//import ApiUpdate from "../../mixins/ApiUpdate";
import config from '../../configs/index'
export default {
  components: {

  },

   data() {
    return {
     snackbar: false,
     SnackbarMessege: '',
     timeout: 2000,
      DeviceId : sessionStorage.getItem('Uid'),
      loading:false,
      isSignInDisabled:false,
      Notification : {},
      bURL : localStorage.getItem("CompanyURL")+"/api/",
      IsRegisterd : false,
      IsRejectd : false,
      RequestMessege:"",
      RejectedData : ""
    }
   },
   mixins: [DayEndCheck],
   computed:{
    
  },
  mounted()
  {
    this.GetUserNotification()
  },


  methods: {
    RegisterDevice()
    {
      this.Notification.NotificationType = "Device Registration"
      this.Notification.NotificationText = "New Device Registration"
      this.Notification.NotificationNo = this.DeviceId
      this.Notification.Remarks = this.Remarks?this.Remarks:''
      this.Notification.ReadStatus = false
      this.Notification.Date = new Date()
      this.Notification.NotificationFrom = localStorage.getItem('user')

      localStorage.setItem('RegObject',JSON.stringify(this.Notification))
       axios.post ( this.bURL + 'Notification/InsertNotification',this.Notification)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.SuccefullyRequested`)
          this.snackbar = true
          this.Remarks = ""
          this.GetUserNotification()
         return
        }, (error)  =>  {
          this.SnackbarMessege = this.$t(`menu.failed`)
          this.snackbar = true
        })
    },

    GetUserNotification()
    {
      axios.get ( this.bURL + 'Notification/GetUserNotifications?NotificationNo='+this.DeviceId)
        .then((response)  =>  {
          this.Notifications = response.data
          for(this.i = 0;this.i<this.Notifications.length;this.i++)
          {
            if(this.Notifications[this.i].NotificationNo === this.DeviceId)
            {
              if(this.Notifications[this.i].VerifyStatus === 'P')
              {
                this.IsRegisterd = true
                 this.RequestMessege = this.$t(`menu.Yourrequesthasbeensent`)
              }
              else if(this.Notifications[this.i].VerifyStatus === 'R')
              {
                this.RejectedData = this.Notifications[this.i]
                this.IsRejectd = true
                
                 this.RequestMessege = this.$t(`menu.YourrequesthasbeenRejected`)
              }
              else if(this.Notifications[this.i].VerifyStatus === 'A')
              {
                localStorage.setItem('IsDeviceRegisterd',false)
                this.Excecute();
              }
               
            }
            else{
              this.IsRegisterd = false
            }
          }
        }, (error)  =>  {
          return
        })
    },
      UpdateNotificationVerifyStatus()
    {
      this.RejectedData.VerifyStatus = "P"
      axios.put ( this.bURL + 'Notification/UpdateNotificationVerifyStatus',this.RejectedData )
        .then((response)  =>  {
            this.snackbar = true
             this.SnackbarMessege = this.$t(`menu.Requested`)
            this.IsRegisterd = true
            this.IsRejectd = false
         return
        }, (error)  =>  {
          item.VerifyStatus = "P"
           this.snackbar = true,
           this.SnackbarMessege = this.$t(`menu.failed`)
        })
    },
    Excecute()
    {
            this.AvailableForms = localStorage.getItem('AvailableForms')
            this.IsDayStartPermission = false
            if(this.AvailableForms.includes('frmRouteDayStart'))
            {
              this.IsDayStartPermission = true
            }
            if(this.IsDayStartPermission === false)
            {
                  localStorage.setItem('IsDeviceRegisterd',true)
                  localStorage.setItem('Reload',"True")
                  localStorage.setItem('DayStatus',"Started")
                  this.$router.push('/dashboard/dashboard')

            }
            else{
            this.today = new Date();
            this.date = this.today.getFullYear()+'-'+(this.today.getMonth()+1)+'-'+this.today.getDate();
            this.time = this.today.getHours() + ":" + this.today.getMinutes() +":"+ this.today.getSeconds()
            this.DateAndTime = this.date +" "+this.time
            this.Saleperson = localStorage.getItem('salePerson')
               axios.get(this.bURL+'user/GetActiveRouteID?SalePerson='+this.Saleperson)
              .then((response)  =>  {
                 if(parseFloat(response.data) > 0)
                 {
                     localStorage.setItem('IsDeviceRegisterd',true)
                     localStorage.setItem('Reload',"True")
                     localStorage.setItem('DayStatus',"Started")
                     localStorage.setItem('ActiveRouteId',response.data)
                     this.$router.push('/dashboard/dashboard')

                 }
                 else if(localStorage.getItem('IsRegisterDevice') === 'true')
                 {
                    this.DeviceIds = localStorage.getItem('DeviceIds')
                    if(this.DeviceIds != null)
                    {
                        this.DeviceIds = JSON.parse(localStorage.getItem('DeviceIds'))
                    }
                   // this.DeviceId = localStorage.getItem('Uid');
                    if(this.DeviceIds.includes(this.DeviceId))
                    {
                      localStorage.setItem('IsDeviceRegisterd',true)
                      this.$router.push("/dashboard/enroll");
                      
                    }
                    else{
                      localStorage.setItem('IsDeviceRegisterd',false)
                      this.$router.push("/dashboard/deviceRegister");
                    }
                    
                 }
                 else{
                   localStorage.setItem('IsDeviceRegisterd',true)
                   this.$router.push("/dashboard/enroll");
                 }

              }, (error)  =>  {
                  console.log(error)
              })

            }
    }

  }
}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
