<template>
  <div class=" d-flex flex-grow-1 flex-column dialogfull" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
     <v-card style="border-radius: 0px !important;    margin-top: -19px;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Discount Voucher</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text>
            <v-row >
              <v-col cols="6" style="margin-top: -22px;">
                 <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
  style="z-index: 100;"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Start Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>
              <v-col cols="6" style="margin-top: -22px;">
                 <v-dialog
        ref="dialog"
        v-model="modal"
        :return-value.sync="date"
        persistent
        width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="End Date"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.dialog.save(date)">OK</v-btn>
        </v-date-picker>
      </v-dialog>
              </v-col>

            </v-row>
            <v-row>
              <v-col cols="6" style="margin-top: -57px;">
                <v-text-field dense label="Target Amount"></v-text-field>

              </v-col>
              <v-col cols="6" style="margin-top: -57px;text-align:right">
<v-text-field dense label="Voucher Amount"></v-text-field>
              </v-col>
            </v-row>
              <v-row>
              <v-col cols="6" style="margin-top: -52px;    margin-bottom: -24px;">

                  <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        :return-value.sync="date"
        transition="scale-transition"
        offset-y
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="date"
            label="Voucher Validity"
            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="date" no-title scrollable>
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
          <v-btn text color="primary" @click="$refs.menu.save(date)">OK</v-btn>
        </v-date-picker>
      </v-menu>

              </v-col>
              <v-col cols="6" style="margin-top: -57px;text-align:right;margin-bottom: -24px;">
<v-switch label="Activate Promotion"></v-switch>
              </v-col>
            </v-row>
              <v-expansion-panels
            style="padding-bottom:10px !important;padding-top:0px !important"
          >
            <v-expansion-panel>
              <v-expansion-panel-header
                expand-icon=""

                style="max-height: 20px !important;min-height:20px"
              >
                <v-col
                  cols="12"
                  sm="12"
                  style="text-align: Center;font-size:13px;"
                >
                  <h6 style="font-size:13px;text-align:center;padding-top:5px">
                 Categorys Under Promotion
                  </h6>
                </v-col>
                <span
                  @click="OpenDamagedDetails"
                  style="padding-left:12px;padding-right:0px"
                  class="plusbutton"
                  ><i class="fa fa-plus-square" aria-hidden="true"></i
                ></span>
              </v-expansion-panel-header>
              <v-expansion-panel-content id="innerExPan">
                <v-row
                  no-gutters
                  style="    font-size: 10px;padding: 2px; background: #343a402e;"
                >

                  <v-col cols="4" sm="4" class="slno">
                   Category
                  </v-col>
                  <v-col cols="7" sm="7" class="slno">
                    {{ $t(`menu.ItemName`) }}
                  </v-col>
                  <v-col cols="1" sm="1" class="text-center">
                  </v-col>
                </v-row>

                <v-row
                  no-gutters
                  style="font-size: 10px;text-align: left;padding: 2px; max-height:300px; overflow:scroll;overflow-x: hidden;"
                >
                  <v-expansion-panels>
                    <v-expansion-panel
                      v-for="(item, i) in 4"
                      :key="i"
                      class="ma-0"
                      v-touch:tap="touchHandler"
                    >
                      <!-- ----- -->
                      <v-expansion-panel-header
                        expand-icon=""
                        class="itemheader"
                        style="min-height: 35px !important;font-size:10px!important;padding-left: 1px;
    padding-right: 1px;
    max-height: 35px;"
                      >
                        <v-col
                          cols="4"
                          sm="4"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>Bakery</b>
                        </v-col>
                        <v-col
                          cols="7"
                          sm="7"
                          class="slno"
                          style="padding: 0px !important; "
                        >
                          <b>7 DAYS CROISSANTS,BARS & ROLLS12</b>
                        </v-col>
                        <v-col
                          cols="1"
                          sm="1"
                          class="text-center"

                        >

                              <v-icon style="font-size: 14px !important;color:red;"
                                >mdi-delete</v-icon
                              >

                        </v-col>

                      </v-expansion-panel-header>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-row>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-card-text>
      </v-card>
<v-dialog
      v-model="FOCItemModal"
      persistent
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="text-align:center;display:none "
          >FOCItemDetails</v-card-title
        >
        <h4
          style="text-align:center; padding-top:13px;color:rgb(0 99 145);padding-bottom:5px"
          v-if="IsItemModal"
        >
          FOC Item
        </h4>
        <v-card-text>
          <v-form>
            <div style="max-height:50vh;overflow-x: hidden;width:100% ">
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                  style="padding-top:0px;padding-bottom:0px;text-align:center"
                >
                  <label style="color:green">
                    You have to add <b> {{ FOCItemLength }}</b> item</label
                  >
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;"
                >
                  <v-text-field
                    type="text"
                    label="Category"
                    v-model="FOCCategory"
                    readonly
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                >
                  <v-combobox
                    v-model="FOCItemCode"
                    :items="FOCItemCodeOptions"
                    :label="$t(`menu.ItemCode`)"
                    @change="GetFOCItemByItemCode($event, true)"
                    ref="ItemCode"
                  ></v-combobox>
                </v-col>
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
                >
                  <v-combobox
                    v-model="FOCBarcode"
                    :items="FOCBarcodeOptions"
                    :label="$t(`menu.Barcode`)"
                    ref="Barcode"
                    @change="GetFOCItemByBarcode($event, true)"
                  ></v-combobox>
                </v-col>
              </v-row>
              <!--  <v-row>
               <v-col cols="12" sm="12" md="12" class="no-p" >
             <label style="color:red" v-if="IsShowItemCodeError"> {{ $t(`menu.Itemcodedoesnotexist`) }}</label>

               </v-col>
               <v-col cols="12" sm="12" md="12" class="no-p" >
             <label style="color:red" v-if="IsShowBarcodeError"> {{ $t(`menu.Barcodedoesnotexist`) }}</label>
               </v-col>
               </v-row> -->
              <v-row>
                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;"
                >
                  <v-autocomplete
                    v-model="FOCItemName"
                    :items="FOCItemsOptions"
                    :label="$t(`menu.Items`)"
                    @change="LoadFOCUnits($event)"
                    ref="ItemName"
                  ></v-autocomplete>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;"
                >
                  <v-text-field
                    type="text"
                    :label="$t(`menu.Unit`)"
                    v-model="FOCUnit"
                    readonly
                  ></v-text-field>
                </v-col>
                <v-col
                  cols="6"
                  sm="6"
                  md="6"
                  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;"
                >
                  <v-text-field
                    type="text"
                    :label="$t(`ecommerce.quantity`)"
                    v-model="FOCQuantity"
                    :rules="rules"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col
                  cols="4"
                  sm="4"
                  md="4"
                  style="padding-top:1px;padding-bottom:0px;margin-bottom:0px;"
                >
                  <label for="" style="color:green" v-if="!IsStopStock">
                    Stock : {{ GodownStock }}
                  </label>
                  <label
                    for=""
                    style="color:red"
                    v-if="
                      !IsStopStock &&
                        IsItemModal &&
                        !IsReturnModal &&
                        !IsDamagedModal
                    "
                  >
                    Out Of Stock
                  </label>
                  <!--  <v-text-field
        type="text"
         :label="$t(`ecommerce.quantity`)"
        v-model="MaxFOCQuantity"
        color="red"
        readonly
          ></v-text-field> -->
                </v-col>
                <v-col
                  cols="8"
                  sm="8"
                  md="8"
                  style="padding-top:1px;padding-bottom:0px;margin-bottom:0px;text-align:right"
                >
                  <label for="" style="color:green">
                    Maximum Quantity : {{ MaxFOCQuantity }}
                  </label>
                  <!--  <v-text-field
        type="text"
         :label="$t(`ecommerce.quantity`)"
        v-model="MaxFOCQuantity"
        color="red"
        readonly
          ></v-text-field> -->
                </v-col>
              </v-row>
            </div>
            <div
              class="d-flex"
              style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
            >
              <v-spacer></v-spacer>
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255); margin-top: 5px !important;   padding-bottom: 6px;
    padding-left: 14px;"
                v-if="!IsFOCUpdate"
                @click="AddFOCItem()"
                ><v-icon left>mdi-plus</v-icon></v-btn
              >

            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="Categoriesundermodal"
      persistent
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <h4
          style="text-align:center; padding-top:15px;color:rgb(0 99 145);"

        >
        Add Category
        </h4>

        <v-card-text>
         <v-row no-gutters>
      <v-col cols="12">
        <v-autocomplete
          v-model="selectedFruits"
          :items="fruits"
          label="Category"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedFruits.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllFruit">
            <v-list-item-title>Selected all Category </v-list-item-title>
            <v-list-item-subtitle>Category Count :{{ selectedFruits.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeFruit">
            <v-list-item-title>Category Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedFruits.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
      </v-col>
    </v-row>
        <v-row no-gutters>
      <v-col cols="12">
        <v-autocomplete
          v-model="selectedFruits"
          :items="fruits"
          label="Sub Category"
          multiple
          outlined
          dense
          clearable
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggle"
        >
          <v-list-item-action>
            <v-icon :color="selectedFruits.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Select All</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllFruit">
            <v-list-item-title>Selected all Sub Category </v-list-item-title>
            <v-list-item-subtitle>Sub Category Count :{{ selectedFruits.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeFruit">
            <v-list-item-title>Sub Category Count</v-list-item-title>
            <v-list-item-subtitle>{{ selectedFruits.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
            <v-list-item-subtitle>
              Go ahead, make a selection above!
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
</v-autocomplete>
      </v-col>
    </v-row>
   <div
              class="d-flex"
              style="padding-top:0px;padding-bottom:0px;margin-bottom:0px"
            >
              <v-btn
                depressed
                small
                style="background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);"
                @click="Categoriesundermodal=false"
              >
                <v-icon center style="font-size: 25px;"
                  >mdi-arrow-left</v-icon
                ></v-btn
              >
              <v-spacer></v-spacer>
              <v-btn
                depressed
                small
                style="background-color: #1B5E20;border-color: #1B5E20;color: rgb(255 255 255);"

                ><v-icon left style="Font-size:25px !important;" class="mdiplus"
                  >mdi-plus</v-icon
                ></v-btn
              >

            </div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect },
  data() {
    return {
      Categoriesundermodal:true,
       fruits: [
      'Apples',
      'Apricots',
      'Avocado',
      'Bananas',
      'Blueberries',
      'Blackberries',
      'Boysenberries',
      'Bread fruit',
      'Cantaloupes (cantalope)',
      'Cherries',
      'Cranberries'
    ],
    selectedFruits: [],
      switch2: true,
    date: new Date().toISOString().substr(0, 10),
    menu: false,
    menu1:false,
    modal: false,
      dialogPos: true,
      item: 1,
      isLoading: false,
      Loaderdialog: false,
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      Branch: "",
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",
      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
       right: false,
        switch1: true
    };
  },
  computed: {
      likesAllFruit () {
      return this.selectedFruits.length === this.fruits.length
    },
    likesSomeFruit () {
      return this.selectedFruits.length > 0 && !this.likesAllFruit
    },
    icon () {
      if (this.likesAllFruit) return 'mdi-close-box'
      if (this.likesSomeFruit) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    }

  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.removeItem("VoucherUpdated");
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
     toggle () {
      this.$nextTick(() => {
        if (this.likesAllFruit) {
          this.selectedFruits = []
        } else {
          this.selectedFruits = this.fruits.slice()
        }
      })
    },
    voucherssettings()
    {
this.$router.push('/dashboard/masters/SalesPromotion')
    },

    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.vm.BranchCode = this.BranchCode;
      else this.vm.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },

    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },

  }
};
</script>
<style>
.itemwidth::-webkit-scrollbar
{
  width: 0px !important;
}
/* .v-dialog__content {
  z-index: 1000000 !important;
} */
</style>
<style lang="scss" scoped>
.innerExPan {
  border-radius: 6px;
  margin: 24px;
  overflow-y: auto;
  pointer-events: auto;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 100%;
  z-index: inherit;
  box-shadow: none;
}
.v-expansion-panel-content__wrap {
  padding: 0px !important;
  flex: 1 1 auto;
  max-width: 100%;
}
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 181px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
