<template>
  <div class="d-flex flex-grow-1 flex-column">

 <v-dialog
  v-model="Passwordmodal"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
      class="subtitlefont password"
      id="password"

    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF" style="text-align:center" >
            <v-row>
              <v-col cols="12" style="text-align:center;padding-top: 31px;">
            <label style="color:rgb(238, 68, 170);font-size:18px">Please Enter Password</label>
            </v-col>
            </v-row>

        </v-toolbar>
        <v-card-text
          style="font-size: 12px !important;"
        >
       <v-row >
        <v-col cols="12" style="padding-right: 11px;
    padding-left: 11px;padding-bottom:0px
">
        <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required]"
            :type="showPassword ? 'text' : 'password'"
            :error="error"
            :error-messages="errorMessages"
            :label="$t('login.password')"
            name="Password"
            outlined
            @change="resetErrors"
            @keyup.enter="signIn"
            @click:append="showPassword = !showPassword"
          ></v-text-field>
        </v-col>
       </v-row>
       <v-row no-gutters>
        <v-col cols="12" style="margin-top: -15px;">
          <v-divider></v-divider>
        </v-col>
       </v-row>
          <v-row no-gutters>
            <v-col
              cols="12"
              md="12"
              sm="12"

              style="
                padding-top: 4px !important;
                padding-bottom: 0px !important;
              "
            >
          <v-btn
            :loading="isLoading"
            :disabled="isSignInDisabled"
            block
            x-large
            color="primary"
            @click="signIn"
          >{{ $t('login.button') }}</v-btn>
            </v-col>

          </v-row>
            <v-row no-gutters>
        <v-col cols="12" style="margin-top: 5px;">
          <v-divider></v-divider>
        </v-col>
       </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>


      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>


  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
export default {
  components: {
  },
  data() {
    return {
      Passwordmodal:true,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    attrs : false,

    isSignInDisabled : false,
    isLoading : false,
     password:'',
    showPassword: false,
     // form error
      error: false,
      errorMessages: '',

      errorProvider: false,
      errorProviderMessages: '',
    // input rules
    rules: {
        required: (value) => (value && Boolean(value)) || 'Required'
      },
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch : false,
    IsMultiBarnch : false,
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
     UserData: {
        Username: '',
        Password: '',
        VersionCode: 2,
        LoginDeviceId:sessionStorage.getItem('Uid'),
      },
    }
  },
  computed: {
  },
  mounted()
  {
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
   localStorage.removeItem('VoucherUpdated')
  },
  methods:
  {
      resetErrors() {
      this.error = false
      this.errorMessages = ''

      this.errorProvider = false
      this.errorProviderMessages = ''
    },
       signIn() {
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.UserData.Username = localStorage.getItem('user')
      this.UserData.Password = this.password
      this.isLoading = true
      this.isSignInDisabled = true
      axios.post(this.bURL + 'user/authenticate?IsBlockMultipleLogin=false&IsCreateToken=true',this.UserData)
        .then((response)  =>  {
          if (response.status === 200)
          {
            this.isLoading = false
            this.isSignInDisabled = false
            localStorage.setItem('Token',response.data.token)
            location.reload()

          }

        },
        (error)  =>  {
          console.log(error)
          this.isLoading = false
          this.isSignInDisabled = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
           }
          this.snackbar = true
        })

    },
  }
}
</script>


