<template>
  <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">

      <iframe id="iframe1" :src="pdfURL" onload="javascript:this.contentWindow.location.hash=':0.page.20';" style="width: 100%; height: 90vh;">
      </iframe>


  </div>

</template>
<script>
import Vue from 'vue'
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'
import de from '../../translations/de'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {
  },
  data() {
    return {
       pdfLink :'/images/dash/stockreport.pdf',
      row: 'radio-1',
      scroll: null,
      BranchCodeOptions : JSON.parse(localStorage.getItem('Branches')),
      IsDisableBranch : false,
      right: true,
      Journal:[],
      vm : [],
      Branch:'',
      TotalJournal:0,
      TotalAmount:0,
      DecimalPlaces:localStorage.getItem('DecimalPlaces'),
      NoContent:true,
      IsMultiBarnch : false,
      VoucherNo :'',
      error : false,
      ErrorMessege : '',
      Token : window.localStorage.getItem('Token'),
      bURL : "",
      isLoading : false,
      showhide:true,
      //pdfURL:'https://docs.google.com/viewer?url=http://pdaf.awi.de/files/pdaf_tutorial_onlineparallel.pdf &embedded=true'
       pdfURL: localStorage.getItem('IFramePrintUrl')
    }
  },
  mixins: [DayEndCheck],
  computed: {


  },
  mounted() {
    //this.checkUrl()
   /*  if (this.Token === '' || this.Token === null)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    } */
    this.IframeLoader = localStorage.getItem('IframeLoader')
    if(this.IframeLoader === 'true')
    {
      localStorage.setItem('IframeLoader','false')
      location.reload();
    }
    this.BasicSettings()
    localStorage.setItem('PreviousPage','JournalRegister')
    localStorage.setItem('ActivePage','JournalRegister')
   localStorage.removeItem('VoucherUpdated')
    this.Branch = localStorage.getItem('BranchCode')
    if (this.Branch === '')
    {
      this.Branch = 'All'
    }
    this.value = new Date()
    this.vm.FromDate= this.GetTodaysDate(this.value)
    this.vm.ToDate = this.GetTodaysDate(this.value)
    if (this.Journal.length === 0)
    {
      this.NoContent = true
    }
    else {
      this.NoContent = false
    }
    window.onscroll = function() {
    if (window.innerHeight + window.scrollY > document.body.clientHeight) {

    }
    }
    this.isHold = localStorage.getItem('JournalRegHolding')
    if(this.isHold === 'true')
    {
        this.GetJournal()
    }
  },
   created () {
    window.addEventListener('scroll', this.handleScroll);
  },
  destroyed () {
    window.removeEventListener('scroll', this.handleScroll);
  },
  methods: {
     scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },

    BasicSettings()
    {
      this.BranchCode = localStorage.getItem('BranchCode')
      if (this.BranchCode !== '#' || this.BranchCode !== '')
        this.vm.BranchCode = this.BranchCode
      else
        this.vm.BranchCode = 'All'
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
    },

    FormatewithDecimalPlaces(value)
    {
      return value.toFixed(this.DecimalPlaces)
    },
    GetTodaysDate(value)
    {
      this.month = '' + (this.value.getMonth() + 1)
      this.day = '' + this.value.getDate()
      this.year = this.value.getFullYear()

      if (this.month.length < 2)
        this.month = '0' + this.month
      if (this.day.length < 2)
        this.day = '0' + this.day
      this.FormatedDate = [this.year, this.month, this.day].join('-')

      return this.FormatedDate
    },
    GetsWithComma(values)
    {
      values =  values.join(' , ')

      return values
    },
    GetTotalJournal(Journal)
    {
      this.TotalAmount = 0
      this.TotalJournal = Journal.length
      for (this.i = 0; this.i < Journal.length; this.i++)
      {
        this.TotalAmount += Journal[this.i].PaidAmount
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount)
    },
    SearchJournal()
    {
      this.Branch = this.vm.BranchCode
      if(this.Branch === undefined || this.Branch === '')
      {
        this.Branch ='All'
      }
        this.isLoading = true,
      axios.get ( this.bURL + 'Journal/GetJournalSummary?DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch)
        .then((response)  =>  {
          this.Journal = response.data
          if (this.Journal.length === 0)
          {
            this.NoContent = true
              this.isLoading = false
          }
          else {
            this.NoContent = false
             this.isLoading = false
          }
          this.GetTotalJournal(this.Journal)
          this.SetValuesToLS(this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
           this.isLoading = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    EditJournal(JournalNo)
    {
      localStorage.removeItem('IsHoldingJournal')
      localStorage.removeItem('JournalObject')
      localStorage.setItem('JournalNo',JournalNo)
      this.$router.push('/dashboard/Journal')
    },
    SetValuesToLS(paidby,bCode,fromDate,toDate)
    {
        localStorage.setItem('JournalRegHolding',true)
        localStorage.setItem('Journalpaidby',paidby);
        localStorage.setItem('JournalbCode',bCode);
        localStorage.setItem('JournalfromDate',fromDate);
        localStorage.setItem('JournaltoDate',toDate);
    },
    GetJournal()
  {
      this.vm.FromDate = localStorage.getItem('JournalbCode')
      this.vm.ToDate = localStorage.getItem('JournalfromDate')
      this.Branch = localStorage.getItem('JournaltoDate')
      axios.get ( this.bURL +'Journal/GetJournalSummary?DateFrom='+this.vm.FromDate +'&DateTo='+this.vm.ToDate+'&BranchCode='+this.Branch)
        .then((response)  =>  {
          this.Journal = response.data
          if (this.Journal.length === 0)
          {
            this.NoContent = true
          }
          else {
            this.NoContent = false
          }
          this.GetTotalJournal(this.Journal)
          this.SetValuesToLS(this.vm.FromDate,this.vm.ToDate,this.Branch)
          this.right = false
        }, (error)  =>  {
          console.log(error)
        })

  },
  SearchVoucherNo()
  {
    this.isLoading = true,
    axios.get ( this.bURL +'common/GetVoucherNoBy?VoucherType=Journal&ReferNo=' + this.VoucherNo)
        .then((response)  =>  {
          if (response.data === undefined  || response.data === '' || response.data === 0)
          {
            this.Error = true
            this.ErrorMessege = 'Voucher No Does not exist'
            this.isLoading = false
          }
          else {
            this.Error = false
            localStorage.setItem('JournalNo',response.data)
            this.$router.push('/dashboard/journal')
             this.isLoading = false

          }
        }, (error)  =>  {
          this.Error = true
          this.ErrorMessege = 'Voucher No Does not exist'
           this.isLoading = false
        })
  },
  FormatDate(Value)
  {
   return  Value.split('T')[0]
  }
  }

}
</script>
<style lang="scss" scoped>
.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
// .v-expansion-panel-content{
//   background-color:rgb(0 53 94);
//   color: #FFF;
// }

.container.fill-height {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 175px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
}
.drawer-button1 {
  /* position: bottom;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;
  margin-left: 300px; */
  position: fixed;
  top: 690px;
  right: 30px;
  z-index: 6;
  box-shadow: 1px 1px 18px rgb(0 53 94);
  margin-left: 300px;
  }
   @media (max-width: 480px) {
               .drawer-button1 {
display: none;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
                         .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
                                .drawer-button1 {
display: none;
}
.total{
  display: none;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.footer{
  display: none;
}
.total{
  display: none;
}

}
 @media (min-width: 1281px) {
          .footer{
  display: none;
}
.total{
  display: none;
}
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;
 box-shadow: 1px 1px 18px rgb(0 53 94);

}
// .drawer-button2 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 300px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 115px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 100px;
//   }
//   @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
// .drawer-button2 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-left: 196px;
//   }
//   .drawer-button1 {
//   position: fixed;
//   top: 125px;
//   right: -20px;
//   z-index: 6;
//   box-shadow: 1px 1px 18px #00355E;
//   margin-right: 249px;
//   }
//   }
  // .v-icon {
  //   margin-left: -18px;
  //   font-size: 1.3rem;
  // }
   .nav-tabs .nav-link.active {
   color:rgb(0 150 199);
}
 .nav-tabs .nav-link {
   color:#FFFFFF;
}
.container fill-height container--fluid{
      padding-top: 1px;
}
.errMsg{
    color: red;
    font-weight: 500;
}
</style>
