<template>
    <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
     <!--  <v-btn
        color="error"
        @click="overlay = !overlay"
      >
        Show Overlay
      </v-btn> -->
       <v-dialog


content-class="innerExPannew"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">

             <img
              src="/images/dash/loading.svg"

            />

      </v-col>

    </v-row>

    </v-dialog>


  <div class="new" >
  <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>
         <v-card
    class="mx-auto"

    outlined
  >

   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <v-expansion-panel-header v-show="copm" class="headernew"   style="text=align:center !important;min-height: 20px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{$t(`menu.Suppliers`)}}</b>
      </v-col>
        </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>
     <div v-if="!IsShowPurchaseDetails">
       <h4 style="text-align:center;padding-top:6px !important;color:rgb(0, 53, 94);font-size:15px">{{$t(`menu.Nopurchaseforthisitem`)}}</h4>
     </div>
      <div v-if="IsShowPurchaseDetails">
     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="2" sm="2" class="slno">
      {{$t(`dashboard.Date`)}}
      </v-col>
      <v-col cols="2" sm="2" class="slno">
    {{$t(`menu.InvoiceNo`)}}
      </v-col>
      <v-col cols="4" sm="4" class="text-center">
     {{$t(`menu.Supplier`)}}
      </v-col>
      <v-col cols="2" sm="2" class="text-center">
     {{$t(`ecommerce.Rate`)}}
      </v-col>
      <v-col cols="2" sm="2" class="text-center">
    {{$t(`menu.ActualQty`)}}
      </v-col>




    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in PurchaseDetails"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px !important">
      <v-col cols="12" style="padding-top:8px !important">
       <v-row>
         <v-col cols="3" sm="3" style=" padding-left:0px !important ;padding-right:0px !important;padding-bottom:0px !important;padding-top:0px !important">
     <b>{{FormatDate(item.PurchDate)}}</b>

      </v-col>
       <v-col cols="2" sm="2" class="slno" style="padding: 0px !important; ">

      <b>{{item.PurchaseNo}}</b>
      </v-col>
       <v-col cols="3" sm="3" class="slno" style="padding: 0px !important; ">

   <b>{{item.SuppName}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-center" style=" padding-left:3px !important ;padding-right:0px !important;padding-bottom:0px !important;padding-top:0px !important">
     <b>{{FormatewithDecimalPlaces(item.Rate)}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">

      <b>{{item.ActQty}}</b>
      </v-col>



      </v-row>

      </v-col>
      </v-expansion-panel-header>
       <v-expansion-panel-content>
       <v-row no-gutters class="barcode" style="font-size: 10px;padding: 0px;">
      <v-col cols="4" sm="4" style="">
      {{$t(`menu.Unit`)}}<br>
      <b>{{item.Unit}}<!-- (1*1) --></b>
      </v-col>
      <v-col cols="4" sm="4" class="foc">
      {{ $t(`menu.FOC`) }}<br>
      <b>{{item.ActQty - item.Qty}}</b>
      </v-col>
      <v-col cols="4" sm="4" class="Remarks">

      </v-col>

       </v-row>



       </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
      </div>
    <v-divider></v-divider>
    <v-row style="margin:0px">
        <!-- <v-col cols="6" md="6" lg="6" style="text-align:left">
           <v-btn
              small

             style="background-color:#FB8C00;color:#FFF"
              @click="Back()"

            >
              Back
            </v-btn>

        </v-col> -->
        <v-col cols="12" md="12" lg="12" style="text-align:right;padding-top:5px !important;padding-bottom:5px !important">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
                @click="Back()"
            >
          {{$t(`dashboard.ok`)}}
            </v-btn>
        </v-col>
        </v-row>



  </v-card>




  </v-container>
  </div>







   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
        absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center;z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
          style="text-align:center"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios';
import vSelect from "vue-select";
import { StreamBarcodeReader } from 'vue-barcode-reader'
//import Sign from 'pages/dashboard/digitalSign';
import 'vue-select/dist/vue-select.css';
Vue.component("vu-select", vSelect);
import VueHtmlToPaper from 'vue-html-to-paper';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import fab from 'vue-fab'
import vueSignature from "vue-signature"
import Vue2TouchEvents from 'vue2-touch-events'
import DayEndCheck from "../../mixins/DayEndCheck";

Vue.use(Vue2TouchEvents)
// or using the defaults with no stylesheet
const options = {
  name: '_blank',
  specs: [
    'fullscreen=yes',
    'titlebar=yes',
    'scrollbars=yes'
  ],
  styles: [
    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
    'https://unpkg.com/kidlat-css/css/kidlat.css'
  ]
}

Vue.use(VueHtmlToPaper,options);

export default {
     components: { vSelect ,VueBottomSheet,fab,vueSignature,StreamBarcodeReader},
  data() {
    return {
      overlay: false,
      Title:'',
      copm:true,
      signtype:'',
       mainicon: 'menu',
         bgColor: '#778899',
         position: 'bottom-right',
          iconsize: 'small',
            signature1 : false,
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'ClearPhysicalStock',
          icon: 'cached',
          tooltip:this.$t(`common.Clear`)
        },

        {
          name: 'DeletePhysicalStock',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
        {
          name: 'SavePhysicalStock',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },
      ]
    },
         img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG6qoa2_qO-46WAuod6MA2kYphFQkc1aLvGA&usqp=CAU',
         total:'412.00',
         NetTtl:'145825.00',
         Tax:'12.00',

        /*  items: [
        {
         no: '1',
         Particulars:'sunlight',
         Quantity :'10 pcs',
         Rate :'10.000',
         Amount :'12.023',
        },
        {
         no: '2',
         Particulars:'sunlight Soap Bar',
         Quantity :'2 pcs',
         Rate :'10.330',
         Amount :'20.066',
        },
         {
         no: '3',
         Particulars:'Soap',
         Quantity :'3 pcs',
         Rate :'100000.330',
         Amount :'12000000.661',
        },

         ], */
         ttl:[],
         output: null,
         salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      ItemModal:false,
      editModal:false,
      fabsh:true,
      posindex:'',
      new_index:0,
      Priority: 'false',
      right: false,
    theme: 0,
    attrs : false,
    on : false,
    error : false,
    ErrorMessege : '',
    snackbar: false,
    SnackbarMessege: '',
    timeout: 2000,

    menu: false,
    menu1: false,
    apiurl : '',
     bURL : "",
    bURLPrint : "",
    logo : "",
    Assets:[],
    AssetStatusOptions:['Good Condition','Damaged','Missing'],
    IsShowBackButton:true,
    Token:window.localStorage.getItem('Token'),
    ItemId:localStorage.getItem('ItemId'),
    DecimalPlaces :localStorage.getItem('DecimalPlaces'),
    PurchaseDetails:[],
    IsShowPurchaseDetails:false,
    Loaderdialog:false



    }
  },
  mounted(){

    this.checkUrl()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
       history.pushState(null, null, location.href);
            window.onpopstate = function () {
              location.href = location.origin + '/dashboard/masters/itemMaster'
            };
   this.GetSupplierDetails()

   },
   mixins: [DayEndCheck],
  computed: {


   },
  methods: {
     checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {
          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
           this.logo = localStorage.getItem("Companylogo");

     }
    },
     GetSupplierDetails()
    {
      this.Loaderdialog = true
       axios.get(this.bURL + 'Item/GetPurchaseSupplierSuummary?ItemId='+this.ItemId )
        .then((response)  =>  {
                this.Loaderdialog =false
                if(response.data.length >0 )
                {
                   this.PurchaseDetails = response.data
                   this.IsShowPurchaseDetails = true
                }
                else
                {
                  this.IsShowPurchaseDetails = false
                }
                this.Godownstock = true
        }, (error)  =>  {
          console.log(error)
        })

    },
     Back()
     {
        this.$router.push('/dashboard/masters/itemMaster')
     },
  FormatDate(Value)
  {
    if(Value !== ""  || Value !== undefined)
    {
      return  Value.split('T')[0]
    }
    else{
      return ""
    }

  },
   FormatewithDecimalPlaces(value)
    {
      value = parseFloat(value)
      return value.toFixed(this.DecimalPlaces)
    },
    calc(){
      if(this.posside == 0)
      {
        this.new_index = this.posindex++;

      }else{
        this.new_index = this.posindex--;
      }

    },
    touchHandler (direction) {
            console.log(direction)  // May be left / right / top / bottom

    },
    open_PhysicalStock(){
       this.ItemModal =true
       this.fabsh = false

    },
     print () {
      // Pass the element id here
      // this.$htmlToPaper('printMe');
     var printContents = document.getElementById('printMe').innerHTML;
     var originalContents = document.body.innerHTML;

     document.body.innerHTML = printContents;

     window.print();

     document.body.innerHTML = originalContents;
     location.reload()
    },
    open(a) {
      if(a==1){
    this.Title =this.$t(`menu.SalesManSignature`)
      }
      if(a==2){
     this.Title =this.$t(`menu.VerifySignature`)
      }
      if(a==3){
     this.Title =this.$t(`menu.CustomerSignature`)
      }

      this.signtype = a
      this.$refs.myBottomSheet.open();
    },

  ///Move

//Move ends


      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval

      }
       if(this.signtype == 2)
      {
        this.verisign = svg
        localStorage.setItem('verisign',svg)
         localStorage.setItem('veriname',this.nameval)
         this.veriname  = this.nameval

      }
       if(this.signtype == 3)
      {

        this.customsign = svg
         localStorage.setItem('customsign',svg)
          localStorage.setItem('custname',this.nameval)
          this.custname  = this.nameval

      }

       this.$refs.myBottomSheet.close();

		},
		clearDigital(){
			var _this = this;
			_this.$refs.signature.clear();
		},

    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },



  }
}
</script>
<style scoped>
.v-btn--fab.v-size--default {
    height: 43px;
    width: 56px;
}
.no-p{
    padding-bottom: 0px !important;
    padding-top: 0px  !important;
}

.v-application--is-ltr .v-expansion-panel-header {
    padding: 0px !important;
    font-size: 10px !important;
    text-align: left !important;
}
.v-icon {

    font-size: 14px !important;
}
.errMsg{
    color: red;
    font-weight: 500;
}
.v-expansion-panel-content__wrap {
    padding: 0px !important;
    flex: 1 1 auto;
    max-width: 100%;
}
.mdi-barcode::before {
        content: "\F0071";
    font-size: 27px;
    padding-right: 0px;
    padding-bottom: 16px;
}
.mdi-magnify::before {
    content: "\F0349";
    font-size: 30px;
    padding-right: 0px;
    padding-top: 9px;
    padding-left: 2px;
}

.mdi-plus::before {
    font-size: 25px;
    content: "\F0415";
    padding-top: 5px;
    padding-left: 9px;
}
.mdi-refresh::before {
    content: "\F0450";
    padding-top: 27px;
    font-size: 22px;
    padding-right: 37px;
    padding-left: 0px;
}
.mdi-arrow-left::before {
    content: "\F004D";
    font-size: 24px;
    padding-left: 9px;
}
.col-11 {
    flex: 0 0 86%;
    max-width: 86%;
    padding-top:0px;
    padding-bottom:0px;
}
.col-12{
   padding-top:0px;
    padding-bottom:0px;
}
.col-sm-12{
  padding-bottom:0px;
}
.col-1{
  padding-top:0px;
    padding-bottom:0px;
}
.v-text-field {
    padding-top: 2px;
    margin-top: 2;
}
 ::v-deep .v-snack__wrapper {
        min-width: 0px;
    }
</style>
<style>

/*
  Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .setmaxrow
{
  max-height:290px;
}

}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {

  .setmaxrow
{
  max-height:600px;
}

} */

#innerExPan > .v-expansion-panel-content__wrap {
        padding-top: 0px !important;
        padding-right: 0px !important;
        padding-bottom: 0px !important;
        padding-left: 0px !important;
}
#newradio > .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label{
  padding-top:8px !important;
  font-size: 16px;
      color: rgb(0, 99, 145);
}
.plusbutton
{
  font-size: 15px !important;
}

@media screen and (max-height: 700px) {

      .setmaxrow
{
  max-height:290px;
}
.setmaxrownew{
    max-height:320px;
}
}
  @media (min-height: 701px) and (max-height: 750px) {
      .setmaxrow
{
  max-height:380px;
}
.setmaxrownew{
    max-height:410px;
}
        }
          @media (min-height: 751px) and (max-height: 900px) {
      .setmaxrow
{
  max-height:450px;
}
.setmaxrownew{
    max-height:480px;
}
        }
          @media (min-height: 901px) and (max-height: 1050px) {
      .setmaxrow
{
  max-height:650px;
}
.setmaxrownew{
    max-height:690px;
}
        }
           @media (min-height:1051px) and (max-height: 1500px) {
      .setmaxrow
{
  max-height:980px;
}
.setmaxrownew{
    max-height:1020px;
}
        }



     @media (min-width: 481px) and (max-width: 767px) {

.plusbutton
{
  font-size: 25px !important;
}
        }
@media (min-width: 768px) and (max-width: 1024px){

.plusbutton
{
  font-size: 25px !important;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

.plusbutton
{
  font-size: 25px !important;
}

}
 @media (min-width: 1281px) {

.plusbutton
{
  font-size: 25px !important;
}
        }


/* @media screen and (max-width: 480px),
       screen and (max-height: 800px) {

      .setmaxrow
{
  max-height:400px;
}
} */

   /* @media (max-width: 480px) {

        }
           @media (min-width: 360px) and (max-width: 640px) {
      .setmaxrow
{
  max-height:290px;
}
        }

          @media (min-width: 360px) and (max-width: 800px) {
      .setmaxrow
{
  max-height:450px;
}
        }
        @media (min-width: 411px) and (max-width: 731px) {
      .setmaxrow
{
  max-height:380px;
}
        }
          @media (min-width: 412px) and (max-width: 732px) {
      .setmaxrow
{
  max-height:300px;
}
          }
      @media (min-width: 414px) and (max-width: 736px) {
      .setmaxrow
{
  max-height:380px;
}
        }
@media (min-width: 481px) and (max-width: 767px) {
      .setmaxrow
{
  max-height:600px;
}
.plusbutton
{
  font-size: 25px !important;
}
        }
@media (min-width: 768px) and (max-width: 1024px){
              .setmaxrow
{
  max-height:650px;
}
.plusbutton
{
  font-size: 25px !important;
}
        }
   @media (min-width: 1025px) and (max-width: 1280px) {

  .setmaxrow
{
  max-height:680px;
}
.plusbutton
{
  font-size: 25px !important;
}

}
 @media (min-width: 1281px) {
      .setmaxrow
{
  max-height:680px;
}
.plusbutton
{
  font-size: 25px !important;
}
        } */




</style>
