<template>
  <div class="d-flex  flex-column">

   <v-tabs v-model="tab"  background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows  style="flex-grow: 0 !important;margin-top: -20px;">
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew">{{ $t(`menu.Basic`) }}</v-tab>
       <v-tab to="#tabs-location" id="innerExPan">{{ $t(`menu.Location`) }}</v-tab>

    </v-tabs>
  <!-- <v-btn
              small

              style="background-color:#FB8C00;color:#FFF"
            @click="DeleteConfirmation_Sale = false"
            >
              Assets
            </v-btn> -->




    <v-tabs-items v-model="tab" touchless>

        <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">
         <div>
      <v-card class="my-2">
       <v-card-title>{{ $t(`menu.BasicInformation`) }}</v-card-title>
        <v-card-text>
          <div class="d-flex flex-column flex-sm-row">
            <div style="text-align:center">
              <img :src="imageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1" @click="ImageModal = true" style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px " id="CustomerImage">

            </div>
            <div class="flex-grow-1 pt-2 pa-sm-2">
              <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
                <v-text-field v-model="CustName" :label="$t(`menu.Name`)"  placeholder="Name" style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                 <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;  margin-top: -6px">

              <v-text-field value=""  :label="$t(`menu.Code`)"  v-model="CustomerObject.Description"></v-text-field>
                </v-col>
                 <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
                        <v-text-field v-model="CustomerObject.Email" :label="$t(`forgot.email`)" hide-details></v-text-field>
                </v-col>
              </v-row>

   <v-row>
                 <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
                        <v-text-field value="" :label="$t(`menu.PhoneNumber`)" v-model="CustomerObject.Phone"></v-text-field>
                </v-col>
                 <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
                       <v-text-field value="" :label="$t(`menu.MobileNumber`)" v-model="CustomerObject.Mobile"></v-text-field>
                </v-col>
              </v-row>


            </div>
          </div>

           <v-row>
          <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px; margin-top: -4px;">
           <v-text-field value="" :label="$t(`menu.Fax`)"  v-model="CustomerObject.Fax"></v-text-field>
          </v-col>
             <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
         <v-text-field value="" :label="$t(`menu.Address`)" v-model="CustomerObject.Address"></v-text-field>
            </v-col>

        </v-row>
          <v-row>

                <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;    margin-top: -9px;">
             <v-text-field value="" :label="$t(`menu.PinCode`)" v-model="CustomerObject.Pincode"></v-text-field>
          </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
          <v-combobox
              v-model="CustomerObject.StateName"
              :items="StateOptions"
              :label="$t(`menu.State`)"
              dense
              v-if="IsEAIApp"
            ></v-combobox>

            </v-col>
          </v-row>
           <v-row>
          <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px; margin-top: -4px;">
           <v-text-field value="" label="ContactPerson"  v-model="CustomerObject.Fax"></v-text-field>
          </v-col>
             <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
         <v-text-field value="" label="ContactPerson MobNo" v-model="CustomerObject.Address"></v-text-field>
            </v-col>

        </v-row>
<v-row>
            <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;margin-top: -6px">
              <v-text-field value="" :label="$t(`menu.Remarks`)" v-model="CustomerObject.Remarks"></v-text-field>

            </v-col>
          </v-row>


<!--
                     <v-row>
                       <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;">
                         <v-text-field value="" :label="$t(`menu.Remarks`)" v-model="CustomerObject.Remarks"></v-text-field>

                       </v-col>



                     </v-row> -->



          <!-- <div class="d-flex">

            <v-btn color="primary">Save</v-btn>
          </div> -->
        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

    <!-- BasicTab Ensd heare -->



        <!-- Detail start heare -->



       <!-- Detail ends heare -->

       <!-- locationtab start here -->
        <v-tab-item value="tabs-location">



      <v-card class="my-2">
        <v-card-title class="headline" style=" color:rgb(0, 53, 94),border:solid Red"> {{ $t(`menu.SetLocation`) }}
        <v-spacer></v-spacer>
       <v-btn depressed color="#455A64" style="color:#fff;" @click="GetDirection">{{ $t(`menu.GetDirection`) }}</v-btn>
        </v-card-title>
        <v-card-text>
          <div>
<!-- <template>
     <GmapMap :center="{lat:Latitude, lng:Longitude}" :zoom="16" map-type-id="terrain" style="width: 100%; height: 300px">
      <GmapMarker  :position="{lat:Latitude, lng:Longitude}" :draggable="true" @drag="updateCoordinates"  />
    </GmapMap>
</template> -->

     <gmap-map :center="center" :zoom="13" style="width: 100%; height: 200px;">
      <gmap-info-window :options="infoOptions" :position="infoWindowPos" @closeclick="infoWinOpen=false">
      </gmap-info-window>

      <gmap-marker
        v-for="(m,i) in markers"
        :key="i"
        :position="m.position"
        :clickable="true"
        @click="toggleInfoWindow(m,i)"
        :draggable="true"
         @drag="updateCoordinates"
      ></gmap-marker>
    </gmap-map>

  </div>
  <div>
   <v-form>
           <v-row >
         <v-col cols="5" sm="5" md="5">
             <v-text-field
               v-model="Latitude"
            :label="$t(`menu.Latitude`)"
            style="padding-bottom:1px"
          ></v-text-field>
          </v-col>
          <v-col cols="5"   sm="5" md="5">
            <v-text-field
             v-model="Longitude"
            :label="$t(`menu.Longitude`)"
            style="padding-bottom:1px"
          ></v-text-field>
          </v-col>
         <v-col cols="2" sm="2" md="2" class="setnew" style="padding-top:32px" >

          <!-- <div  color="primary" dark class="btn" >Save</div> -->

        <v-btn small color="#009688" style="color:#fff; " @click ="SetLocation"> {{ $t(`menu.Set`) }}</v-btn>


          </v-col>
          </v-row>
          <v-row >

         <v-col cols="5" sm="5"  class="locate"  style="padding-top:1px;">
            <v-btn small depressed  color="#E65100" style="color:#fff;" @click="ClearLocation">  {{$t(`common.cancel`)}}</v-btn>
          </v-col>
          <v-col cols="5"   sm="5"  style="padding-top:1px;">
            <v-btn small  depressed color="#0277BD" style="color:#fff;" @click="LocateMe">{{ $t(`menu.LocateMe`) }}</v-btn>
          </v-col>


         <!--  <v-col cols="4"   sm="4" style="padding-top:1px;text-align:right">
            <v-btn depressed color="#2E7D32" style="color:#fff;" @click="dialog = false" >Ok</v-btn>
          </v-col> -->
          </v-row>

          </v-form>
  </div>
        </v-card-text>
        <v-card-actions>
          <!-- <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false">Disagree</v-btn>
          <v-btn color="green darken-1" text @click="dialog = false">Agree</v-btn> -->

        </v-card-actions>
      </v-card>




        </v-tab-item>

        <!-- locationtab ensd heare -->
 <!-- routetab start here -->
         <v-tab-item value="tabs-route">

       <v-card  outlined class="my-2">
         <v-row >
           <v-col cols="10" style="text-align:center;padding-top:10px;color">
  <h6 style="font-size:18px;color:rgb(0, 53, 94)" ><b>{{ $t(`menu.Routes`) }}</b></h6>
           </v-col>
            <v-col cols="2" class="editn" style="">

<v-icon style="color:rgb(0, 53, 94"  @click="RouteModal = true">bx bx-edit</v-icon>

           </v-col>
         </v-row>

              <v-expansion-panel-header
      hide-actions
       v-for="(item,i) in RoutesByCustomer"
      :key="i"

      style="height: 38px !important;border-bottom: 1px grey  solid;"
      >
        <div v-on:click="$event.stopPropagation()">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
    color="#FFF"
    class="location"
    style="padding-top:0px !important;padding-bottom:0px !important"
      >
<label>{{item.RouteName}}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
    color="#FFF"
     class="locationnew"
    style="padding-top:0px !important;padding-bottom:0px !important;"
      >
<label >{{item.ScheduleName}}</label>
<!-- <v-icon style="padding-left:10px !important;color:#E57373"  @click="RouteDeleteModal = true"> mdi-delete</v-icon>
<v-icon style="padding-left:10px !important;color:#66BB6A"  @click="dialog = true"> mdi-update</v-icon> -->
      </v-col>
    </v-row>
    </div>
      </v-expansion-panel-header>


       </v-card>

         </v-tab-item>

            <v-tab-item value="tabs-assets">

       <v-card  class="my-2" outlined>
         <v-row no-gutters>
           <v-col cols="1" sm="1" md="1"
           style="padding-top:10px; text-align:left"

           >
              <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  color="#006400"

                  @click="OpenVerifyModal"

                >
                  <v-icon   style="color:#00BCD4;font-size:25px !important;">mdi-shield-check</v-icon>
                </v-btn>

           </v-col>
           <v-col cols="10" style="text-align:center;padding-top:10px;color">
  <h6 style="font-size:18px;color:rgb(0, 53, 94)" ><b> {{ $t(`menu.Assets`) }}</b></h6>
           </v-col>
             <v-col cols="1" sm="1" md="1"
           style="padding-top:10px; "
class="assetsnew"
           >
              <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
                  color="#006400"
                  @click="OpenAssetModal()"
                  style=""

                >
                  <v-icon  @click="OpenAssetModal()" style="color:#006400;font-size:25px !important;">mdi-plus-circle</v-icon>
                </v-btn>

           </v-col>
         </v-row>

           <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in Assets"
       :key="i"
    >
      <v-expansion-panel-header>
      <v-row no-gutters>
      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{item.AssetName}} ({{item.AssetCode}})</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="location"
      >

      <label>{{FormatDate(item.LastVerifiedDate)}}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
        <label :id="'AssetStatus'+i">{{item.AssetStatus}}</label>
      </v-col>

    </v-row>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
      <v-row no-gutters >
        <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="location"
      >
          <label>{{ $t(`menu.Startyourdaybeforesale`) }}</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        style="padding-top: 4px;"
         class="locationnew"
      >
            <label>{{FormatDate(item.AssignedDate)}}</label>
      </v-col>
        <v-col
        cols="6"
        sm="6"
        class="location"
      >
          <label>SerialNo</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
      class="locationnew"
      >
            <label>{{item.SerialNo}}</label>
      </v-col>
     <v-col
        cols="6"
        sm="6"
     class="location"
      >
          <label>Route</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
            <label>{{item.RouteName}}</label>
      </v-col>

      <v-col
        cols="6"
        sm="6"
        class="location"
      >
          <label>Remarks</label>
      </v-col>
      <v-col
        cols="6"
        sm="6"
        class="locationnew"
      >
            <label>{{item.Remarks }}</label>
      </v-col>
      </v-row>

      <v-row no-gutters style="padding-top:5px !important">
         <v-col
        cols="6"
        sm="6"
      class="location"

      >
     <!-- <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
      <i class="fas fa-edit"></i> -->
      <v-btn small color="#FFF" style="color:#C62828;   box-shadow: 1px 1px 18px #C62828;" @click="DeleteAsset(i)"><v-icon center style="font-size:25px">mdi-delete</v-icon></v-btn>
      </v-col>
      <v-col
        cols="6"
        sm="6"
           class="locationnew"

      >
     <!-- <v-icon style="color:#FFF">fa fa-pencil-square-o</v-icon>
      <i class="fas fa-edit"></i> -->
      <v-btn small color="#FFF" style="color:rgb(0, 53, 94);  box-shadow: 1px 1px 18px rgb(0, 53, 94);" @click="EditAsset(i)"><v-icon center style="font-size:25px">bx bx-edit</v-icon></v-btn>
      </v-col>
    </v-row>

      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>


       </v-card>

         </v-tab-item>

               <!-- Assetstab ends here -->

    </v-tabs-items>
     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallCustomer ="CallCustomer"
   @ClearCustomer="ClearCustomer"
   @SaveCustomer="SaveCustomer"
   @DeleteCustomer="DeleteCustomer"

></fab>
 <v-dialog v-model="ImageModal" persistent max-width="300"  style="z-index: 100000!important;">
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.ChooseCustomerPhoto`)}}</v-card-title>
        <v-row style="margin:0px">

          <v-col cols="12" md="12" lg="12" style="text-align:center">
         <input @change="uploadImage" type="file" name="photo" >
        </v-col>
        </v-row>
        <v-row style="padding-bottom:15px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="green"  >{{$t(`common.save`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="#FFA726"  @click="ImageModal=false">  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
    <!-- <v-dialog
        v-model="BillWiseModal"
        max-width="400px"
      >
        <v-card>
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text>
        <div style="padding-left:-1px">
          <table>
            <tr>
              <th>Date</th>
              <th>InvoiceNo</th>
              <th>Amount</th>
              <th></th>
          </tr>
          <tr v-for="(item,i) in CustomerObject.OpeningBalances"
              :key="i">
            <td>
               <input type="date" class="form-control" style="width:118px;padding:4px;font-size:11px;height: 30px;" v-model="item.InvoiceDate" >
            </td>
            <td>
               <input type="text" class="form-control" style="font-size:11px;height: 30px;padding:4px" v-model="item.InvoiceNo" >
            </td>
            <td>
               <input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right" class="form-control" v-model="item.Amount" @change="AddRow(i)">

            </td>
            <td>
              <i class="fa fa-trash" aria-hidden="true" style="font-size:20px;color:red"  @click="DeleteBill(i)"></i>

            </td>
          </tr>

        </table>
             </div>
          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="BillWiseModal = false"
            >
              Close
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="BillWiseModal = false"
            >
              Set
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog> -->
      <!-- route modal start  -->
        <v-dialog v-model="RouteModal" persistent max-width="500"  style="z-index: 100000!important;">
      <!-- <v-card>
        <v-card-title style="color=rgb(0, 53, 94)">Route</v-card-title>
        <v-card-text>
          <v-row >
        <v-col cols="12" sm="12" style="padding-top:0px !important;padding-bottom:0px !important;" >
           <v-autocomplete

            :items="items"
            dense
                outlined
            :label="$t(`dashboard.route`)"

          ></v-autocomplete>
        </v-col>
          <v-col cols="12" sm="12" style="padding-top:0px !important;padding-bottom:0px !important;"  >
           <v-autocomplete

            :items="items"
            dense
                outlined
            label="Schedule"

          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" style="padding-top:0px !important;padding-bottom:0px !important;text-align:left;">

           <v-btn
              small
              @click="dialog = false"
              style="background-color:#EF6C00;color:#FFF;margin-left:15px"
            >
            Cancel
            </v-btn>
        </v-col>
         <v-col cols="6" style="padding-top:0px !important;padding-bottom:0px !important;text-align:right">

           <v-btn
              small
              @click="dialog = false"
              style="background-color:#2E7D32;color:#FFF;;margin-right:15px"
            >
              Ok
            </v-btn>
        </v-col>
      </v-row>
        </v-card-text>
      </v-card> -->
      <v-card  class="mx-auto" outlined >
        <!-- <v-card-title></v-card-title> -->
      <v-row >
        <v-col cols="6" sm="6" class="routef" style="padding-top:35px !important;padding-bottom:0px !important" >
           <v-autocomplete
             v-model="RouteName"
            :items="RouteOptions"
            dense
            outlined
            :label="$t(`dashboard.route`)"

          ></v-autocomplete>
        </v-col>
          <v-col cols="6" sm="6" class="scheduleName" style="padding-top:35px !important;padding-bottom:0px !important"  >
           <v-autocomplete
            v-model="ScheduleName"
            :items="ScheduleOptions"
            dense
            outlined
            :label="$t(`menu.Schedule`)"

          ></v-autocomplete>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" style="text-align:right;padding-top:0px !important;padding-right: 5px;padding-bottom:10px !important">
           <v-btn
              small
             @click="AddRoute()"
              style="background-color:#2E7D32;color:#FFF"
            >
              {{ $t(`common.add`) }}
            </v-btn>
        </v-col>
      </v-row>

       </v-card>

   <v-card  class="mx-auto" outlined>
         <v-row no-gutters>
           <v-col cols="12" style="text-align:center;padding-top:10px;color">
  <h6 style="font-size:18px;color:rgb(0, 53, 94)" ><b> {{ $t(`menu.Routes`) }}</b></h6>
           </v-col>
            <!-- <v-col cols="6" style="text-align:right;padding-top:10px;color">

<v-icon style="padding-right:15px !important;color:rgb(0, 53, 94"  @click="dialog = true"> fas fa-eye</v-icon>

                  <v-icon style="color:#006400;padding-right:15px !important">mdi-plus</v-icon>

           </v-col> -->
         </v-row>

              <v-expansion-panel-header
      hide-actions
       v-for="(item,i) in RoutesByCustomer"
      :key="i"

      style="height: 38px !important;padding-left: 11px !important;
    padding-right: 11px !important;  !important;border-bottom: 1px grey  solid;"
      >
        <div v-on:click="$event.stopPropagation()">
      <v-row no-gutters>
      <v-col
        cols="6"
        sm="6"
    color="#FFF"
    class="locations"
    style="padding-top:7px !important;padding-bottom:0px !important"
      >
<label style="color: #000 !important;">{{item.RouteName}}</label>

      </v-col>
      <v-col
        cols="6"
        sm="6"
    color="#FFF"
    class="locationsnew"
    style="padding-top:0px !important;padding-bottom:0px !important;"
      >
<label style="color: #000 !important;">{{item.ScheduleName}}</label>
<v-icon class="removeroute" style="color:#E57373"  @click="RemoveRoute(i)" v-if="item.IsDelete"> mdi-delete</v-icon>
<!-- <v-icon style="padding-left:10px !important;color:#66BB6A"  @click="dialog = true"> mdi-update</v-icon> -->
      </v-col>
    </v-row>
    </div>
      </v-expansion-panel-header>
       <v-row >

                <v-col
        cols="6"
        sm="6"
    color="#FFF"
    style="padding-bottom:12px !important;padding-top:22px !important"
    class="newc"
      >

     <v-btn
              small
             @click="CancelRouteModal()"
              style="background-color:#FB8C00;color:#FFF"
            >
               {{$t(`common.cancel`)}}
            </v-btn>
      </v-col>
      <v-col
        cols="6"
        sm="6"
    color="#FFF"
    class="news"
    style="padding-bottom:12px !important;padding-top:22px !important"
      >
       <v-btn
              small
             @click="SaveRouteLinks()"
              style="background-color:#2E7D32;color:#FFF"
            >

               {{$t(`common.save`)}}
            </v-btn>
      </v-col>
        </v-row>



       </v-card>


    </v-dialog>
    <!-- route modal ends -->
     <!-- AssetsComponents modal start  -->
        <v-dialog v-model="VerifyModal" persistent max-width="500"  style="z-index: 100000!important;">


      <v-card  class="mx-auto" outlined >
        <v-row>
             <v-col cols="10" style="text-align:center;padding-top:14px !important;padding-bottom:2px !important;padding-left: 62px;">
              <b style="text=align:center !important; text-transform:uppercase;">Assets</b>
             </v-col>
          <v-col cols="2" style="padding-top:5px !important;padding-bottom:2px !important;">
             <v-btn icon  @click="VerifyModal = false">
            <v-icon style="padding-right:22px">mdi-close</v-icon>
          </v-btn>

          </v-col>

        </v-row>



<Assets/>

       </v-card>




    </v-dialog>
    <!--AssetsComponents modal ends -->

     <!-- Assets modal start  -->
        <v-dialog v-model="AssetModal" persistent max-width="500"  style="z-index: 100000!important;">

      <v-card  class="mx-auto" outlined >
        <!-- <v-card-title></v-card-title> -->
            <v-row no-gutters>
           <v-col cols="12" style="text-align:center;padding-top:10px;color">
  <h6 style="font-size:23px;color:rgb(0, 53, 94)" ><b> {{ $t(`menu.Assets`) }}</b></h6>
           </v-col>

         </v-row>
         <v-row  no-gutters>
         <!-- <v-col cols="10" sm="12" style="padding-top:0px !important;padding-right:22px !important;padding-left:22px;padding-bottom:0px !important"  >
       <v-autocomplete
             v-model="AssetDetail.AssetCode"
            :items="AssetCodeOptions"
            dense
            @change="GetAssetByAssetCode($event)"
            label="Code"

          ></v-autocomplete>
        </v-col>
         <v-col cols="2" sm="2" style="padding-top:0px !important;padding-right:22px !important;;padding-bottom:0px !important" >
                 <v-btn
                                    color="dark gray"
                                    icon
                                    v-bind="attrs"
                                    v-on="on"
                                    @click:append="openBarcode"
                                  >
                                    <v-icon style="font-size: 36px;padding-top: 38px;padding-right: 24px;">mdi-barcode</v-icon>
                                  </v-btn>

        </v-col> -->
        <!-- <v-col cols="12" sm="12" style="padding-top:0px !important;padding-right:22px !important;padding-left:22px;padding-bottom:0px !important"  >
  <div class="form-group" style="    margin-bottom: -1rem !important;">
    <label for="email">Code :</label>
    <v-text-field
            solo
            dense
            v-model="item.barcode"

            append-icon="mdi-barcode"
             @click:append="openBarcode"
          ></v-text-field>


  </div>
        </v-col> -->
         <v-col cols="10" sm="10" md="10"  class="assetcode" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;">
               <v-autocomplete
             v-model="AssetDetail.AssetCode"
            :items="AssetCodeOptions"
            dense
            @change="GetAssetByAssetCode($event)"
            :label="$t(`menu.AssetCode`)"

          ></v-autocomplete>
   </v-col>
<v-col cols="2" sm="2" md="2" class="itembar"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;">


         <v-btn
                                    color="dark gray"
                                    icon
                                    v-bind="attrs"
                                    v-on="on"
                                    @click="BarcodeModal=true"
                                  >
                                    <v-icon style="font-size: 36px;">mdi-barcode</v-icon>
                                  </v-btn>




            </v-col>

      </v-row>
      <v-row  no-gutters>
        <v-col cols="12" sm="12" style="padding-top:7px !important;padding-left:22px !important;padding-bottom:0px !important;padding-right:22px !important;" >
           <!-- <v-autocomplete
             v-model="AssetDetail.AssetName"
            :items="AssetNameOptions"
            dense
            @change="GetAssetByAssetName($event)"
            label="Asset"

          ></v-autocomplete> -->

    <v-text-field

            dense
          v-model="AssetDetail.AssetName"
          :label="$t(`menu.AssetName`)"
           @change="GetAssetByAssetName($event)"
       readonly
          ></v-text-field>



        </v-col>
      </v-row>
        <v-row  no-gutters>
         <v-col cols="6" sm="6" class="assetcode" style="padding-top:7px !important;padding-bottom:0px !important"  >
       <!-- <v-autocomplete
             v-model="AssetDetail.AssetCode"
            :items="AssetCodeOptions"
            dense
            @change="GetAssetByAssetCode($event)"
            label="Modal No"

          ></v-autocomplete> -->
             <v-text-field

            dense
          v-model="AssetDetail.SerialNo"
         :label="$t(`menu.SerialNo`)"
       readonly
          ></v-text-field>
        </v-col>
         <v-col cols="6" sm="6" class="assetcodenew" style="padding-top:0px !important;;padding-bottom:0px !important" >
          <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="AssignedDate"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="AssignedDate"
                  :label="$t(`dashboard.Date`)"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
               <v-date-picker  v-model="AssignedDate" scrollable
               >
          <v-spacer></v-spacer>
          <v-btn text color="primary" @click="menu = false">  {{$t(`common.cancel`)}}</v-btn>
          <v-btn text color="primary"   @click="$refs.menu.save(AssignedDate)">{{$t(`dashboard.ok`)}}</v-btn>

        </v-date-picker>
              <!-- <v-date-picker
                ref="picker"
                v-model="VoucherDate"
                min="1950-01-01"
                @change="save"
              ></v-date-picker> -->
            </v-menu>
        </v-col>


      </v-row>
       <v-row  no-gutters v-if="IsShowRoute">
         <v-col cols="6" sm="6"  class="assetcode" style="padding-top:0px !important;padding-bottom:0px !important"  >
       <v-autocomplete
             v-model="AssetDetail.AssetStatus"
            :items="AssetStatusOptions"
            dense

            :label="$t(`menu.Status`)"

          ></v-autocomplete>
        </v-col>
         <v-col cols="6" sm="6" class="assetcodenew" style="padding-top:0px !important;;padding-bottom:0px !important" >
           <v-autocomplete
             v-model="AssetDetail.RouteName"
            :items="AssetRouteOptions"
            dense
            :label="$t(`dashboard.route`)"

          ></v-autocomplete>
        </v-col>


      </v-row>
            <v-row  no-gutters v-if="!IsShowRoute">

         <v-col cols="12" sm="12" style="padding-top:0px !important;padding-right:22px !important;padding-left:22px !important;padding-bottom:0px !important" >
           <v-autocomplete
             v-model="AssetDetail.AssetStatus"
            :items="AssetStatusOptions"
            dense
            :label="$t(`menu.Status`)"

          ></v-autocomplete>
        </v-col>


      </v-row>
         <!--  <v-row  no-gutters>
         <v-col cols="6" sm="6" style="padding-top:0px !important;padding-right:22px !important;padding-left:22px;padding-bottom:5px !important;margin-top: -24px;"   class="check" >
       <v-checkbox
              v-model="ex4"
              label="IsActive"
              color="primary"
              value="primary"
              hide-details

            ></v-checkbox>
        </v-col>
         <v-col cols="6" sm="6" style="padding-top:0px !important;padding-right:22px !important;;padding-bottom:5px !important;margin-top: -24px;" class="check">
             <v-checkbox
              v-model="ex4"
              label="Verify"
              color="primary"
              value="primary"
              hide-details
            ></v-checkbox>

        </v-col>


      </v-row> -->

  <v-row  no-gutters >

         <v-col cols="12" sm="12" style="padding-top:0px !important;padding-right:22px !important;padding-left:22px !important;padding-bottom:0px !important" >
          <v-textarea
           v-model="AssetRemarks"
          :label="$t(`menu.RemarksOptional`)"
          auto-grow
          outlined
          rows="1"
          row-height="15"
        ></v-textarea>
        </v-col>


      </v-row>


      <v-row no-gutters>
         <v-col cols="6" class="assetc" style="padding-top:10px !important;padding-bottom:10px !important;">
           <v-btn
              small
             @click="CancelAssetModal()"
              style="background-color:#FB8C00;color:#FFF"
            >
               {{$t(`common.cancel`)}}
            </v-btn>
        </v-col>
        <v-col cols="6" class="asseta" style="padding-top:10px !important;padding-bottom:10px !important;">
           <v-btn
              small
             @click="AddAsset()"
              style="background-color:#2E7D32;color:#FFF"
              v-if="!IsUpdateAsset"
            >
             {{ $t(`common.add`) }}
            </v-btn>
             <v-btn
              small
             @click="UpdateAsset()"
              style="background-color:#2E7D32;color:#FFF"
              v-if="IsUpdateAsset"
            >

              {{ $t(`dashboard.Update`) }}
            </v-btn>
        </v-col>
      </v-row>

       </v-card>




    </v-dialog>
    <!-- Assets modal ends -->
    <!-- route delete modal start -->
     <v-dialog v-model="RouteDeleteModal" persistent max-width="290"  style="z-index: 100000!important;">

     <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top:15px !important;padding-bottom:10px !important;">
        <v-btn  outlined color="rgb(220 53 69);" @click="RouteDeleteModal = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top:15px !important;padding-bottom:15px !important;">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteRemove">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
      <!-- route delete modal ends -->
         <v-dialog
        v-model="BillWiseModal"
        max-width="500px"
        style="    padding: 0 4px 4px !important;z-index: 100000!important;"
        id="innerExPan"

      >
        <v-card  id="innerExPan">
          <v-card-title style="color:rgb(238,68,170)">

          </v-card-title>
          <v-card-text  id="innerExPan">
  <v-list-item class="mx-auto" v-for="(item,i) in CustomerObject.OpeningBalances" :key="i" >

    <v-row no-gutters style="    font-size: 13px;">
       <v-col cols="12" >



    <v-row no-gutters style="padding-top:6px;">

      <v-col cols="5" class="text-center"   style="border: thin solid rgba(0,0,0,.12);color:#263238;padding-right: 1px;
    padding-left: 4px;">
        <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`dashboard.Date`) }}</span> <br>
            <span>
              <input type="date" class="form-control read1" style="font-size:11px;height: 30px;font-weight: bold;" v-model="item.InvoiceDate" >


            </span>

      </v-col>
         <v-col class="text-center"  cols="3" style="border: thin solid rgba(0,0,0,.12);padding-right: 1px;
    padding-left: 4px;">
    <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`menu.InvoiceNo`) }}</span> <br>


       <input type="text" class="form-control " style="font-size:11px;height: 30px;padding:4px;font-weight: bold;" v-model="item.InvoiceNo" >

      </v-col>
      <v-col cols="3" class="text-center"   style="border: thin solid rgba(0,0,0,.12);padding-right: 1px;
    padding-left: 4px;">
    <span style="font-size:12px;color:rgb(0 150 199);"> {{ $t(`ecommerce.Amount`) }}</span>
          <br>

     <input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right;font-weight: bold;" class="form-control" v-model="item.Amount" @change="AddRow(i)">



      </v-col>
      <v-col cols="1"   class="text-center" style="border: thin solid rgba(0,0,0,.12);">
          <br>

         <!-- {{formatPrice(item.count * item.RetailRateFinal)}} -->
         <!-- <button @click="del(i)"><v-icon>mdi-delete</v-icon></button> -->
         <v-icon size="15" style="background: #fff; color:#EF5350" id="del" @click="DeleteBill(i)" >mdi-delete</v-icon>



      </v-col>

    </v-row>

          </v-col>


            <!-- <b-form-input v-model="item.count" type="number" placeholder="Enter your name"></b-form-input> -->

    </v-row>

   </v-list-item>


            <!-- <div class="container table-responsive py-5">
<table class="table table-bordered table-hover">
  <thead class="thead">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">InvoiceNo</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(item,i) in CustomerObject.OpeningBalances" :key="i">
      <td> <input type="date" class="form-control" style="width:118px;padding:4px;font-size:11px;height: 30px;" v-model="item.InvoiceDate" ></td>
      <td><input type="text" class="form-control" style="font-size:11px;height: 30px;padding:4px" v-model="item.InvoiceNo" ></td>
      <td><input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right" class="form-control" v-model="item.Amount" @change="AddRow(i)"></td>
      <td><i class="fa fa-trash" aria-hidden="true" style="font-size:15px;color:red"  @click="DeleteBill(i)"></i></td>
    </tr>
  </tbody>
</table>
</div> -->
        <!-- <div style="padding-left:-1px"> -->
          <!-- <div class=" table-responsive py-5">

      			<table class="table " style="width:100%">
              <tr>
              <th scope="col" style="width:25%">Date</th>
              <th scope="col" style="width:45%" >InvoiceNo</th>
              <th scope="col" style="width:20%">Amount</th>
              <th scope="col" style="width:10%"></th>
          </tr>
           <tr v-for="(item,i) in CustomerObject.OpeningBalances"
              :key="i" style="width:100%">
            <td >
               <input type="date" class="form-control" style="width:118px;padding:4px;font-size:11px;height: 30px;" v-model="item.InvoiceDate" >
            </td>
            <td >
               <input type="text" class="form-control" style="font-size:11px;height: 30px;padding:4px" v-model="item.InvoiceNo" >
            </td>
            <td >
               <input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right" class="form-control" v-model="item.Amount" @change="AddRow(i)">

            </td>
            <td >
              <i class="fa fa-trash" aria-hidden="true" style="font-size:20px;color:red"  @click="DeleteBill(i)"></i>

            </td>
          </tr>

            </table>


          </div> -->
          <!-- <table style="width:100%">
            <tr>
              <th style="width:15%">Date</th>
              <th style="width:50%">InvoiceNo</th>
              <th style="width:25%">Amount</th>
              <th style="width:10%"></th>
          </tr>
          <tr v-for="(item,i) in CustomerObject.OpeningBalances"
              :key="i" style="width:100%">
            <td style="width:15%">
               <input type="date" class="form-control" style="width:118px;padding:4px;font-size:11px;height: 30px;" v-model="item.InvoiceDate" >
            </td>
            <td style="width:50%">
               <input type="text" class="form-control" style="font-size:11px;height: 30px;padding:4px" v-model="item.InvoiceNo" >
            </td>
            <td style="width:25%">
               <input type="number" step="any" style="font-size:11px;height: 30px;padding:5px;text-align:right" class="form-control" v-model="item.Amount" @change="AddRow(i)">

            </td>
            <td style="width:10%">
              <i class="fa fa-trash" aria-hidden="true" style="font-size:20px;color:red"  @click="DeleteBill(i)"></i>

            </td>
          </tr>

        </table> -->

          </v-card-text>
          <v-card-actions>
            <v-btn
              color="primary"
              text
              @click="BillWiseModal = false"
            >
              {{ $t(`$vuetify.close`) }}
            </v-btn>

            <v-spacer></v-spacer>
            <v-btn
              color="primary"
              text
              @click="BillWiseModal = false"
            >
              {{ $t(`menu.Set`) }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

       <v-dialog v-model="DeleteConfirmation_Customer" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Customer = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteCstomer">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
     <v-dialog v-model="DeleteConfirmation_Billwise" persistent max-width="300">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t(`menu.Doyouwanttodelete`)}}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Billwise = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteBill">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
      <v-dialog v-model="Asset_DeleteConfirmationModal" persistent max-width="290"  style="z-index: 100000!important;">

     <v-card>
                <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top:15px !important;padding-bottom:10px !important;">
        <v-btn  outlined color="rgb(220 53 69);" @click="Asset_DeleteConfirmationModal = false" >  {{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-top:15px !important;padding-bottom:15px !important;">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteAsset(i)">Yes</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    <v-dialog v-model="BarcodeModal" persistent max-width="290">

      <v-card>
        <v-card-title style="color:rgb(0 99 145);font-size:17px;text-align:center" >Scan barcode</v-card-title>


        <v-card-text>
          <StreamBarcodeReader
    @decode="onDecode"
    @loaded="onLoaded"
></StreamBarcodeReader>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
            <v-btn
              small
             @click="BarcodeModal=false" style="background-color:#FB8C00;color:#FFF">


          {{$t(`common.cancel`)}}
            </v-btn>

            <v-btn
              small
           @click="BarcodeModal=false"  style="background-color:#2E7D32;color:#FFF">

        {{$t(`dashboard.ok`)}}
            </v-btn>

        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import DayEndCheck from "../../mixins/DayEndCheck";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      CustomerObject: {
      },
      tab: null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

      {
          name: 'CallCustomer',
          icon: 'call',
          tooltip:this.$t(`menu.Call`)

        },

        {
          name: 'DeleteCustomer',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearCustomer',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveCustomer',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      RouteModal:false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    CustName : window.localStorage.getItem('CustomerName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BillWiseModal : false,
    BillWise :{},
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    IsMultiBarnch : false,
    SalesPersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    IsSalesPersonShow : false,
    GroupNameOptions : JSON.parse( localStorage.getItem('CustomerGroups') ),
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    StateOptions : JSON.parse( localStorage.getItem('States') ),
    StateObject : [],
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation_Customer : false,
    BillwiseDeleteId : -1,
    DeleteConfirmation_Billwise : false,
    Longitude: '',
    Latitude : '',
    BookBeginningDate : '',
    RoutesByCustomer : [],
    RouteDeleteId : -1,
    ScheduleObject : [],
    ScheduleOptions : [],
    LinkedRoutes : [],
    RouteOptions : [],
    ScheduleName:  '',
    RouteName : '',
    IsShowRouteTab : false,
    IsShowRoute : true,
    SalesPersonReadonly:false,
    menu: false,
    AssignedDate : new Date().toISOString().substr(0, 10),
    AssetObject : [],
    AssetNameOptions:[],
    AssetCodeOptions:[],
    SerialNoOptions :[],
    AssetStatusOptions:['Good Condition','Damaged','Missing'],
    AssetRouteOptions:[],
    AssetDetail:{},
    Assets:[],
    AssetEditId:-1,
    IsUpdateAsset:false,
    Asset_DeleteConfirmationModal : false,
    PaymentModeOptions:['System Default','Cash','Credit','Bank']
    }
  },
  mixins: [DayEndCheck],
  mounted()
  {
    
     
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','LeadContact')
    localStorage.setItem('ActiveRoute','/dashboard/masters/Contact')
   localStorage.removeItem('VoucherUpdated')
     this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }
    this.GetBranchDetails(this.BranchCode?this.BranchCode:"MB")
    this.BasicSettings()

    this.SetPermission()
    this.AppName = localStorage.getItem('GetAppName')
    if(this.AppName === "EAI")
        this.GetStates()
    this.checkUrl();
    this.GetRoutes();
    this.GetSchedule();
    this.GetAsset()

  },
  methods:
  {
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.CustomerImage = e.target.result;
        this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");
        this.CustomerImage = this.CustomerImage.replace("data:image/jpeg;base64,", "");

       localStorage.setItem('CustomerImage',this.CustomerImage);
        document.getElementById("CustomerImage").src = e.target.result;
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },
    GetStates()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + 'common/GetIndianStatesWithCode?IsStateCodeAsKey=false')
        .then((response)  =>  {
          this.StateOptions =[]
           for(var index in response.data) {
              this.StateOptions.push(index)

          }
         this.StateObject = response.data
         localStorage.setItem('States',JSON.stringify(this.StateOptions))
         if(this.AppName === "EAI")
        {
         this.HomeStateCode = this.Settings.HomeStateCode
         var HomeStateName = Object.keys(this.StateObject).find(key => this.StateObject[key] === this.HomeStateCode);
         this.CustomerObject.StateName = HomeStateName
         this.IsEAIApp = true

        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }
        }, (error)  =>  {
          console.log(error)
        })
    },
    BasicSettings()
    {

      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson !== '')
        this.CustomerObject.Salesman = this.IsSalesPerson
        
         this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.CustomerObject.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.CustomerObject.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.CustomerObject.BranchCode = ''
        }
      this.SalespersonLength = this.SalesPersonOptions.length
      if (this.SalespersonLength > 1)
      {
        this.IsSalesPersonShow = true

      }


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true


       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true

        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }
       this.CustomerObject.PaymentMode = "System Default"

       /* this.BookBeginningDate =localStorage.getItem('BookBeginningDate');

if(this.BookBeginningDate !=='' && this.BookBeginningDate !== undefined && this.BookBeginningDate !== null  ){


      this.BookBeginningDate = this.FormatDate(this.BookBeginningDate)

}
else{
  this.BookBeginningDate ="2019-12-31"
} */
    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmCustomer')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
          if (this.CustName === null )
          {
             this.IsShowRouteTab = false
            this.IsHoldingCustomer = localStorage.getItem('IsHoldingCustomer')
            this.HoldingCustomerObject = localStorage.getItem('CustomerObject')
            if (this.IsHoldingCustomer !== 'False')
            {
              this.HoldingCustomerObject =  JSON.parse(this.HoldingCustomerObject)
            }
            if (this.IsHoldingCustomer === 'true')
            {
              this.AssignObject(this.HoldingCustomerObject)
            }
            this.CustomerObject.OpeningBalances = []
            this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "LedgerName" : '',
                  "OpeningBalanceId" : -1,
                }
            this.CustomerObject.OpeningBalances.push(this.obj)
            this.isPrint = false

             this.IsSalesPerson = localStorage.getItem('salePerson')

            this.CustomerObject.GroupName = this.GroupNameOptions[0]
          }
          else
          {
            this.IsShowRouteTab = true
            localStorage.setItem('CustNameForRoute',this.CustName)
            if (this.isReadPermission === false)
            {
              this.$router.push('/dashboard/registers/ContactRegister')
            }
            else if (this.isUpdatePermission === false)
            {
              this.isCreatePermission = false
            }
           /*  if(this.isUpdatePermission === true)
            {

            } */
            this.isPrint = true
              if (this.IsSalesPerson !== '')
               this.SalesPersonReadonly = true
             else
                this.SalesPersonReadonly = false
            this.GetCustomer()
          }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetCustomer()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.encodeCustName = encodeURIComponent(this.CustName)
      axios.get (this.bURL +'Customer/GetCustomerByName?CustName=' + this.encodeCustName+ '&RouteID=-1' )
        .then((response)  =>  {
          this.AssignObject(response.data)
          localStorage.setItem('CustNameForRoute',this.CustName)
          this.LoadRoutesByCustomer()
          this.LoadAssetsByCustomer()
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(obj)
    {
      this.CustName = obj.custName
      this.CustomerObject.Fax = obj.fax
      this.CustomerObject.Email = obj.email
      this.CustomerObject.Phone = obj.phone
      this.CustomerObject.Mobile = obj.mobile
      this.CustomerObject.Location = obj.location
      this.CustomerObject.Address = obj.address
      this.CustomerObject.ContactPerson = obj.contactPerson
      this.CustomerObject.Remarks = obj.remarks
      this.CustomerObject.Description = obj.description
      this.CustomerObject.CurBal = this.FormatewithDecimalPlaces(obj.curBal)
      this.CustomerObject.CrPeriod = obj.crPeriod
      this.CustomerObject.CrAmount = this.FormatewithDecimalPlaces(obj.crAmount)
      this.CustomerObject.CrRateAddPerc = obj.crRateAddPerc
      this.CustomerObject.Salesman = obj.salesman
      this.CustomerObject.TaxRegNo = obj.taxRegNo
      this.Latitude=obj.geoLocation.lat;
      this.Longitude=obj.geoLocation.lng;
       this.SetLocation();
      this.CustomerObject.PiNcode = obj.piNcode,
      this.CustomerObject.StateCode = obj.stateCode
      this.CustomerObject.StateName = obj.stateName,
      this.CustomerObject.GroupName = obj.groupName
      this.CustomerObject.Nature = "A"
      this.CustomerObject.OpenBal = this.FormatewithDecimalPlaces(obj.openBal)
      this.CustomerObject.OpenDate = obj.openDate,
      this.CustomerObject.BranchCode = obj.branchCode
      this.CustomerObject.PaymentMode = obj.paymentMode
      this.CustomerObject.OpeningBalances= []
      for(this.i = 0 ;this.i < obj.openingBalances.length;this.i++)
      {
         this.obj =
                {
                  "InvoiceDate" :obj.openingBalances[this.i].invoiceDate ,
                  "InvoiceNo" : obj.openingBalances[this.i].invoiceNo,
                  "Amount" : obj.openingBalances[this.i].amount,
                  "LedgerName" : obj.openingBalances[this.i].ledgerName,
                  "OpeningBalanceId" : obj.openingBalances[this.i].openingBalanceId,
                }
      this.CustomerObject.OpeningBalances.push(this.obj)

      }
       for(this.i = 0 ;this.i < this.CustomerObject.OpeningBalances.length;this.i++)
      {

         this.CustomerObject.OpeningBalances[this.i].InvoiceDate = this.FormatDate(this.CustomerObject.OpeningBalances[this.i].InvoiceDate)

      }
      this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "LedgerName" : '',
                  "OpeningBalanceId" : -1,

                }
      this.CustomerObject.OpeningBalances.push(this.obj)
    },
    FormatewithDecimalPlaces(value)
    {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },

    CreateObject()
    {
      this.CustomerObject.CustName = this.CustName
      this.CustomerObject.Fax = this.CustomerObject.Fax ? this.CustomerObject.Fax : ""
      this.CustomerObject.Email = this.CustomerObject.Email ? this.CustomerObject.Email : ""
      this.CustomerObject.Phone = this.CustomerObject.Phone ? this.CustomerObject.Phone : ""
      this.CustomerObject.Mobile = this.CustomerObject.Mobile ? this.CustomerObject.Mobile : ""
      this.CustomerObject.Location = this.CustomerObject.Location ? this.CustomerObject.Location : ""
      this.CustomerObject.Address = this.CustomerObject.Address ? this.CustomerObject.Address : ""
      this.CustomerObject.ContactPerson = this.CustomerObject.ContactPerson ? this.CustomerObject.ContactPerson : ""
      this.CustomerObject.CrPeriod = this.CustomerObject.CrPeriod ? parseFloat(this.CustomerObject.CrPeriod) : 0
      this.CustomerObject.CrAmount = this.CustomerObject.CrAmount ? parseFloat(this.CustomerObject.CrAmount) : 0
      this.CustomerObject.CrRateAddPerc = this.CustomerObject.CrRateAddPerc ? parseFloat(this.CustomerObject.CrRateAddPerc) : 0
      this.CustomerObject.Salesman = this.CustomerObject.Salesman ? this.CustomerObject.Salesman : ""
      this.CustomerObject.Remarks = this.CustomerObject.Remarks ? this.CustomerObject.Remarks : ""
      this.CustomerObject.TaxRegNo = this.CustomerObject.TaxRegNo ? this.CustomerObject.TaxRegNo : ""
      this.CustomerObject.GeoLocation = {
        "lat" : 0,
        "lng" : 0,
      }
      this.CustomerObject.GeoLocation.lat = this.Latitude?this.Latitude:0
      this.CustomerObject.GeoLocation.lng = this.Longitude?this.Longitude:0
      this.CustomerObject.PiNcode = this.CustomerObject.PiNcode ? this.CustomerObject.PiNcode : ""
      this.CustomerObject.StateName = this.CustomerObject.StateName ? this.CustomerObject.StateName : ""
      if (this.CustomerObject.StateName ==="Kerala")
      this.CustomerObject.StateCode="32";
      this.CustomerObject.GroupName = this.CustomerObject.GroupName
      this.CustomerObject.Nature = "A"
      this.CustomerObject.OpenBal = this.CustomerObject.OpenBal ? parseFloat(this.CustomerObject.OpenBal) : 0
      this.CustomerObject.OpenDate = this.BookBeginningDate
      this.CustomerObject.Description = this.CustomerObject.Description ? this.CustomerObject.Description : ""
      this.CustomerObject.BranchCode = this.CustomerObject.BranchCode ? this.CustomerObject.BranchCode : ""
      this.CustomerObject.CurBal = this.CustomerObject.CurBal ? parseFloat(this.CustomerObject.CurBal) : 0
      this.CustomerObject.PaymentMode = this.CustomerObject.PaymentMode ? this.CustomerObject.PaymentMode : "System Default"

 if(this.CustomerObject.OpeningBalances !==undefined){

      this.BillwiseDeleteId=this.CustomerObject.OpeningBalances.length-1;
      this.CustomerObject.OpeningBalances.splice(this.BillwiseDeleteId, 1);


      for(this.i = 0; this.i<this.CustomerObject.OpeningBalances.length;this.i++)
      {

        this.CustomerObject.OpeningBalances[this.i].Amount = parseFloat(this.CustomerObject.OpeningBalances[this.i].Amount)
      }
 }

    },
    SaveCustomer()
    {

      this.CreateObject()

       if(this.CustName === "" || this.CustName === undefined  || this.CustName === null)
      {
        this.SnackbarMessege =this.$t(`menu.PleaseenterCustomername`)
        this.snackbar = true
        return
      }
      //localStorage.setItem('CustomerObjectpost', JSON.stringify(this.CustomerObject))
      this.Name = localStorage.getItem('CustomerName')
      if(this.Name === null)
      {
        if(this.isCreatePermission === true)
        {

          axios.post ( this.bURL + 'Customer',this.CustomerObject)

            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
              this.snackbar = true


              localStorage.setItem('CustNameForRoute',this.CustName)
              this.LoadRoutesByCustomer1()
               this.ClearCustomer()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
      else{
        if (this.isUpdatePermission === true)
        {
          localStorage.setItem('CustomerPut',JSON.stringify(this.CustomerObject))
          this.encodeCustName = localStorage.getItem('CustomerName')
            axios.put ( this.bURL + 'Customer/CustomerPut?OldCustomerName='+ this.encodeCustName ,this.CustomerObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                localStorage.removeItem('CustomerName')
                setTimeout(  this.$router.push('/dashboard/registers/ContactRegister') , 3000)

              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
    },
    DeleteCustomer()
    {
      if (this.CustName !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_Customer = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = this.$t(`menu.NoCustomertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteCstomer()
    {
      this.encodeCustName = encodeURIComponent(this.CustName)
      axios.delete( this.bURL + 'Customer/' + this.encodeCustName)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          localStorage.removeItem('CustomerName')
          setTimeout(  this.$router.push('/dashboard/registers/ContactRegister') , 5000)
        }, (error)  =>  {
          console.log(error)
        })
    },
    ClearCustomer()
    {
      localStorage.removeItem('CustomerName')
       this.CustName = ""
      this.CustomerObject = {}
      this.CustomerObject.OpeningBalances = []
       this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                  "LedgerName" : '',
                  "OpeningBalanceId" : -1,
                }
            this.CustomerObject.OpeningBalances.push(this.obj)
    },
     /// Bill waise functionalities start here....................
    AddRow(id)
    {
      if(id === this.CustomerObject.OpeningBalances.length-1)
      {
        this.obj =
                {
                  "InvoiceDate" : "",
                  "InvoiceNo" : "",
                  "Amount" : "",
                   "LedgerName" : '',
                  "OpeningBalanceId" : -1,
                }
       this.CustomerObject.OpeningBalances.push(this.obj)
      }
      this.BillWiseModal = false
      this.BillWiseModal = true
    },
    DeleteBill(id)
    {
       this.BillwiseDeleteId = parseFloat(id)
    if((this.CustomerObject.OpeningBalances.length-1) !== (parseFloat(id)))
    {
        this.DeleteConfirmation_Billwise = true
    }
    },
    ExecuteDeleteBill()
    {
       this.CustomerObject.OpeningBalances.splice(this.BillwiseDeleteId, 1)
       this.DeleteConfirmation_Billwise = false
    },
    updateCoordinates(position)
    {
      this.Longitude = position.latLng.lat()
      this.Latitude = position.latLng.lng()
    },
    LocateMe()
    {
      navigator.geolocation.getCurrentPosition(
      position => {
         this.Longitude = position.coords.longitude
         this.Latitude = position.coords.latitude
         this.center.lat =parseFloat(this.Latitude)
         this.center.lng =parseFloat(this.Longitude)
         this.markers[0].position.lat = this.Latitude
         this.markers[0].position.lng = this.Longitude
     },
     error => {
       console.log(error.message);
     },
  )
    },
    OpenLoactionMadal()
    {
      this.dialog = true
      this.SetLocation()
    },
    SetLocation()
    {
       this.center.lat =parseFloat(this.Latitude)
       this.center.lng =parseFloat(this.Longitude)
       this.markers[0].position.lat =parseFloat(this.Latitude)
       this.markers[0].position.lng =parseFloat(this.Longitude)

    },
    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },
    GetDirection()
    {
      if(this.Longitude!==0)
      {

            this.IsNativeApp = localStorage.getItem('IsNativeApp')
            if(this.IsNativeApp === "true" || this.IsNativeApp === true)
            {
               this.newLat = parseFloat(this.Latitude)
               this.newLong = parseFloat(this.Longitude)
               window.interface.showDirection(this.newLat,this.newLong)
            }
            else
            {
              this.LatLong = this.Latitude +','+ this.Longitude
              this.url="http://maps.google.com?q="+this.LatLong;
              window.open(this.url, '_blank')
            }


      }

    },
    ClearLocation()
    {
      this.Longitude = 0
         this.Latitude = 0
         this.center.lat = 0
         this.center.lng = 0
         this.markers[0].position.lat = 0
         this.markers[0].position.lng = 0

    },
    CallCustomer()
    {
      return
    },
    GetRoutes()
    {
      this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
      if(this.LinkedRoutes !== null)
      {
        this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
      }
      for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
      {
        this.RouteOptions.push(this.LinkedRoutes[this.j].RouteName)
      }
      this.RouteName = this.RouteOptions[0]
    },
    GetSchedule()
    {
      axios.get( this.bURL + 'Schedule/LoadSchedules?ActiveStatus=Active')
        .then((response)  =>  {
          this.ScheduleObject = response.data
        for(this.j = 0;this.j<response.data.length;this.j++)
        {
          this.ScheduleOptions.push(response.data[this.j].ScheduleName)
        }
        this.ScheduleName = this.ScheduleOptions[0]
        }, (error)  =>  {
          console.log(error)
        })
    },
    LoadRoutesByCustomer()
    {
       this.CustNameForRoute = localStorage.getItem('CustNameForRoute');
        this.encodeCustName = encodeURIComponent(this.CustNameForRoute)
       axios.get( this.bURL + 'Route/LoadRoutesByCustomer?CustomerName=' + this.encodeCustName)
        .then((response)  =>  {
        if(response.data === "")
            this.RoutesByCustomer = [];
          else
            this.RoutesByCustomer = response.data
         this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
         if(this.LinkedRoutes !== null)
         {
           this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
         }
         this.AssetRouteOptions = []
         for(this.i = 0;this.i<this.RoutesByCustomer.length;this.i++)
         {
            for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
            {
                if( this.RoutesByCustomer[this.i].RouteID === this.LinkedRoutes[this.j].RouteID)
                {
                    this.RoutesByCustomer[this.i].IsDelete = true
                    this.AssetRouteOptions.push(this.LinkedRoutes[this.j].RouteName)
                    break
                }
                else{
                  this.RoutesByCustomer[this.i].IsDelete = false
                }
            }
         }
         if(this.AssetRouteOptions.length === 1)
         {
            this.IsShowRoute = false
            this.AssetDetail.RouteName = this.AssetRouteOptions[0]
        }
        else
        {
           this.IsShowRoute = true
        }

        }, (error)  =>  {
          console.log(error)
        })
    },
     LoadRoutesByCustomer1()
    {
       this.CustNameForRoute = localStorage.getItem('CustNameForRoute');
        this.encodeCustName = encodeURIComponent(this.CustNameForRoute)
       axios.get( this.bURL + 'Route/LoadRoutesByCustomer?CustomerName=' + this.encodeCustName)
        .then((response)  =>  {

          if(response.data === "")
            this.RoutesByCustomer = [];
          else
            this.RoutesByCustomer = response.data


         this.LinkedRoutes = localStorage.getItem('LinkedRoutes')
         if(this.LinkedRoutes !== null)
         {
           this.LinkedRoutes = JSON.parse(this.LinkedRoutes)
         }
         this.AssetRouteOptions =[]
         for(this.i = 0;this.i<this.RoutesByCustomer.length;this.i++)
         {
            for(this.j = 0;this.j<this.LinkedRoutes.length;this.j++)
            {
                if( this.RoutesByCustomer[this.i].RouteID === this.LinkedRoutes[this.j].RouteID)
                {
                    this.RoutesByCustomer[this.i].IsDelete = true
                    this.AssetRouteOptions.push(this.LinkedRoutes[this.j].RouteName)
                    break
                }
                else{
                  this.RoutesByCustomer[this.i].IsDelete = false
                }
            }
         }
         if(this.AssetRouteOptions.length === 1)
         {
            this.IsShowRoute = false
            this.AssetDetail.RouteName = this.AssetRouteOptions[0]
        }
        else
        {
           this.IsShowRoute = true
        }
         this.RouteModal = true

        }, (error)  =>  {
          console.log(error)
        })
    },
    RemoveRoute(RouteDeleteId)
    {
      if(this.isUpdatePermission === false)
      {
         this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
        return
      }
      else{
        this.RouteDeleteId = RouteDeleteId
        this.RouteDeleteModal = true
      }

    },
    ExecuteRemove()
    {
      this.RoutesByCustomer.splice(this.RouteDeleteId,1)
      this.RouteDeleteModal = false
    },
    AddRoute()
    {
      this.IsAdd = true
      this.ScheduleID = -1
      this.RouteID =-1
      if(this.RouteName !== '' && this.ScheduleName !=='')
      {
      for(this.i=0;this.i<this.RoutesByCustomer.length;this.i++)
      {
        if(this.RoutesByCustomer[this.i].RouteName === this.RouteName  && this.RoutesByCustomer[this.i].ScheduleName === this.ScheduleName)
        {
          this.IsAdd = false
          break
        }
      }
      if(this.IsAdd === true)
      {
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
           if(this.LinkedRoutes[this.i].RouteName === this.RouteName)
           {
             this.RouteID = this.LinkedRoutes[this.i].RouteID
           }
         }

        for(this.i=0;this.i<this.ScheduleObject.length;this.i++)
        {
          if(this.ScheduleObject[this.i].ScheduleName === this.ScheduleName)
           {
              this.ScheduleID = this.ScheduleObject[this.i].ScheduleID
           }
         }

         this.RouteObj = {
              "LinkID" : -1,
              "CustomerName" : this.CustName?this.CustName:localStorage.getItem('CustNameForRoute'),
              "RouteID" : this.RouteID,
              "RouteName" : this.RouteName,
              "ScheduleID" : this.ScheduleID,
              "ScheduleName" : this.ScheduleName,
              "IsDelete" : true
             }
         this.RoutesByCustomer.push(this.RouteObj)
      }
      else{
      this.SnackbarMessege = this.$t(`menu.Alreadyadded`)
        this.snackbar = true
      }
      }
      else{
        this.SnackbarMessege = this.$t(`menu.SelectRouteandSchedule`)
        this.snackbar = true
      }

    },
    SaveRouteLinks()
    {
      if(this.RoutesByCustomer.length === 0)
      {
        this.SnackbarMessege = this.$t(`menu.pleaseAddRoutes`)
        this.snackbar = true
        return
      }
      localStorage.setItem('RoutesByCustomer',JSON.stringify(this.RoutesByCustomer))
       // this.encodeCustName = encodeURIComponent(this.CustName)
       this.CustNameForRoute = localStorage.getItem('CustNameForRoute');
      axios.post( this.bURL + 'Route/InsertRouteLinksByCustomer?CustomerName=' + this.CustNameForRoute,this.RoutesByCustomer)
        .then((response)  =>  {
          this.GetCustomers()
          if(localStorage.getItem('CustomerName') === null)
          {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.RouteModal = false
              this.ClearCustomer()
          }
          else{
            this.RouteModal = false
              localStorage.setItem('CustNameForRoute',this.CustName)
             this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
          }

        }, (error)  =>  {
          console.log(error)
        })
    },

    GetAsset()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Asset/LoadAssets')
        .then((response)  =>  {
         this.AssetObject = response.data
         this.BindAssetOptions()
        }, (error)  =>  {
          console.log(error)
        })

    },
    BindAssetOptions()
    {
      this.AssetNameOptions = []
      this.AssetCodeOptions = []
      for(this.i=0;this.i<this.AssetObject.length;this.i++)
      {
        this.AssetNameOptions.push(this.AssetObject[this.i].AssetName)
        this.AssetCodeOptions.push(this.AssetObject[this.i].AssetCode)
        this.SerialNoOptions.push(this.AssetObject[this.i].SerialNo)

      }
    },
    GetAssetByAssetName(AssetName)
    {
      for(this.i=0;this.i<this.AssetObject.length;this.i++)
      {
        if(this.AssetObject[this.i].AssetName === AssetName)
        {
          this.AssetDetail.AssetId = this.AssetObject[this.i].AssetId
          this.AssetDetail.AssetCode = this.AssetObject[this.i].AssetCode
          this.AssetDetail.AssetName = this.AssetObject[this.i].AssetName
          this.AssetDetail.SerialNo = this.AssetObject[this.i].SerialNo
        }
      }
    },
    GetAssetByAssetCode(AssetCode)
    {
      for(this.i=0;this.i<this.AssetObject.length;this.i++)
      {
        if(this.AssetObject[this.i].AssetCode === AssetCode)
        {
          this.AssetDetail.AssetId = this.AssetObject[this.i].AssetId
          this.AssetDetail.AssetCode = this.AssetObject[this.i].AssetCode
          this.AssetDetail.AssetName = this.AssetObject[this.i].AssetName
          this.AssetDetail.SerialNo = this.AssetObject[this.i].SerialNo
        }
      }
    },
     GetAssetBySerialNo(SerialNo)
    {
      for(this.i=0;this.i<this.AssetObject.length;this.i++)
      {
        if(this.AssetObject[this.i].SerialNo === SerialNo)
        {
          this.AssetDetail.AssetId = this.AssetObject[this.i].AssetId
          this.AssetDetail.AssetCode = this.AssetObject[this.i].AssetCode
          this.AssetDetail.AssetName = this.AssetObject[this.i].AssetName
          this.AssetDetail.SerialNo = this.AssetObject[this.i].SerialNo
          this.AssetDetail.SerialNo = this.AssetObject[this.i].SerialNo
        }
      }
    },
    ClearAssetModal()
    {
      this.R =  this.AssetDetail.RouteName
      this.AssetDetail={
        'AssetName' : '',
        'AssetCode' :  '',
        'RouteName' :   this.R,
        'AssetStatus' :  'GoodCondition'
      }
      this.AssetRemarks = ''

    },
    OpenAssetModal()
    {
      this.ClearAssetModal()
      this.AssetDetail.AssetStatus = 'Good Condition'
      this.AssetModal=true
      this.IsUpdateAsset = false
    },
    CancelAssetModal()
    {

      this.ClearAssetModal()
      this.AssetDetail.AssetStatus = 'Good Condition'
      this.GetAsset()
      this.AssetModal=false
    },
    OpenVerifyModal()
    {
      localStorage.setItem('CustNameForAssetVerification',this.CustName);
      //this.VerifyModal=true
      this.$router.push('/dashboard/masters/assets')
    },
    AddAsset()
    {
      if(this.AssetDetail.AssetName === '' || this.AssetDetail.AssetName === undefined
          || this.AssetDetail.AssetCode === '' || this.AssetDetail.AssetCode === undefined
          || this.AssetDetail.AssetStatus === '' || this.AssetDetail.AssetStatus === undefined
          || this.AssetDetail.RouteName === '' || this.AssetDetail.RouteName === undefined
          || this.AssignedDate === '' || this.AssignedDate === undefined)
      {
           this.SnackbarMessege = this.$t(`menu.Addsufficientdetails`)
        this.snackbar = true
      }
      else
      {

        this.AssetDetail.AssignedDate = this.AssignedDate
        for(this.i=0;this.i<this.Assets.length;this.i++)
        {
          if(this.AssetDetail.AssetCode === this.Assets[this.i].AssetCode)
          {
            this.AssetDetail.AssetId = this.Assets[this.i].AssetId
          }
        }
        for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
        {
          if(this.LinkedRoutes[this.i].RouteName == this.AssetDetail.RouteName)
          {
            this.AssetDetail.RouteID = this.LinkedRoutes[this.i].RouteID
          }
        }

          if(this.AssetDetail.AssetStatus === 'Good Condition')
          {
           this.AssetDetail.Status = 'G'
          }
          else if(this.AssetDetail.AssetStatus === 'Damaged')
          {
           this.AssetDetail.Status = 'D'
          }
          else if(this.AssetDetail.AssetStatus === 'Missing')
          {
            this.AssetDetail.Status = 'M'
          }
          this.AssetDetail.LastVerifiedDate = this.AssignedDate
          this.AssetDetail.CustomerName = this.CustName
          this.AssetDetail.IsActive = true
          this.AssetDetail.Remarks = this.AssetRemarks
          axios.post( this.bURL + 'Asset/InsertAssetHolder',this.AssetDetail)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.AddedSuccessfully`)
           this.snackbar = true
           this.AssetModal = false
           this.AssetDetail.AssetHolderId = parseInt(response.data)
           this.Assets.push(this.AssetDetail)
           this.ClearAssetModal()
        }, (error)  =>  {
          console.log(error)
        })

      }
    },

    EditAsset(id)
    {
      this.AssetEditId = parseInt(id)
      this.AssetNameOptions.push(this.Assets[this.AssetEditId].AssetName)
      this.AssetCodeOptions.push(this.Assets[this.AssetEditId].AssetCode)

      this.AssetDetail.AssetHolderId = this.Assets[this.AssetEditId].AssetHolderId
      this.AssetDetail.AssetName = this.Assets[this.AssetEditId].AssetName
      this.AssetDetail.AssetCode = this.Assets[this.AssetEditId].AssetCode
       this.AssetDetail.SerialNo = this.Assets[this.AssetEditId].SerialNo
      this.AssignedDate = this.FormatDate(this.Assets[this.AssetEditId].AssignedDate)
      this.AssetDetail.AssetStatus = this.Assets[this.AssetEditId].AssetStatus
      this.AssetDetail.RouteName = this.Assets[this.AssetEditId].RouteName
      this.AssetDetail.IsActive = this.Assets[this.AssetEditId].IsActive
      this.LastVerifiedDate = this.Assets[this.AssetEditId].LastVerifiedDate
      this.AssetRemarks= this.Assets[this.AssetEditId].Remarks
      this.IsUpdateAsset = true
      this.AssetModal = true

    },
    UpdateAsset()
    {
      if(this.isUpdatePermission === false)
      {
        this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
        return
      }
       if(this.AssetDetail.AssetName === '' || this.AssetDetail.AssetName === undefined
          || this.AssetDetail.AssetCode === '' || this.AssetDetail.AssetCode === undefined
          || this.AssetDetail.AssetStatus === '' || this.AssetDetail.AssetStatus === undefined
          || this.AssetDetail.RouteName === '' || this.AssetDetail.RouteName === undefined
          || this.AssignedDate === '' || this.AssignedDate === undefined)
      {
           this.SnackbarMessege = this.$t(`menu.Addsufficientdetails`)
        this.snackbar = true
      }
      else
      {

        this.AssetDetail.AssignedDate = this.AssignedDate
        for(this.i=0;this.i<this.Assets.length;this.i++)
        {
          if(this.AssetDetail.AssetCode === this.Assets[this.i].AssetCode)
          {
            this.AssetDetail.AssetId = this.Assets[this.i].AssetId
          }
        }
        for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
        {
          if(this.LinkedRoutes[this.i].RouteName == this.AssetDetail.RouteName)
          {
            this.AssetDetail.RouteID = this.LinkedRoutes[this.i].RouteID
          }
        }

          if(this.AssetDetail.AssetStatus === 'Good Condition')
          {
           this.AssetDetail.Status = 'G'
          }
          else if(this.AssetDetail.AssetStatus === 'Damaged')
          {
           this.AssetDetail.Status = 'D'
          }
          else if(this.AssetDetail.AssetStatus === 'Missing')
          {
            this.AssetDetail.Status = 'M'
          }
          this.AssetDetail.LastVerifiedDate = this.AssignedDate
          this.AssetDetail.CustomerName = this.CustName
          this.AssetDetail.IsActive = true
          this.AssetDetail.Remarks = this.AssetRemarks
          this.AssetDetail.AssetHolderId = this.Assets[this.AssetEditId].AssetHolderId

          axios.post( this.bURL + 'Asset/UpdateAssetHolder',this.AssetDetail)
        .then((response)  =>  {
           this.SnackbarMessege = this.$t(`menu.UpdatedSuccessfully`)
           this.snackbar = true
           this.AssetModal = false
           this.Assets.splice(this.AssetEditId,1)
           this.Assets.push(this.AssetDetail)
           this.GetAsset()
           this.ClearAssetModal()
           this.IsUpdateAsset = false
        }, (error)  =>  {
          console.log(error)
        })

      }
    },
    DeleteAsset(id)
    {
      if(this.isUpdatePermission === false)
      {
         this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
        return
      }
      else{
         this.AssetDeleteId = parseInt(id);
         this.Asset_DeleteConfirmationModal = true
      }

    },
    ExecuteDeleteAsset()
    {
         axios.get( this.bURL + 'Asset/UpdateAssetHolderIsActive?AssetHolderId='+this.Assets[this.AssetDeleteId].AssetHolderId+'&IsActive=false')
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeletedSuccessfully`)
           this.snackbar = true
           this.Asset_DeleteConfirmationModal = false
           this.Assets.splice(this.AssetDeleteId,1)
           this.GetAsset()
           this.ClearAssetModal()
           this.IsUpdateAsset = false
        }, (error)  =>  {
          console.log(error)
        })
    },
    LoadAssetsByCustomer()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.encodeCustName = encodeURIComponent(this.CustName)
       this.ActiveRouteID = localStorage.getItem('ActiveRouteId')
       this.ActiveRouteID = this.ActiveRouteID ? parseInt(this.ActiveRouteID):-1
      axios.get (this.bURL + 'Asset/LoadAssetsByCustomer?CustomerName=' + this.encodeCustName + '&RouteID=' +this.ActiveRouteID)
        .then((response)  =>  {
         this.Assets = response.data
         for(this.i = 0;this.i<this.Assets.length;this.i++)
         {
           if(this.Assets[this.i].Status === 'G')
           {
             this.Assets[this.i].AssetStatus = "Good Condition"
           }
           else if(this.Assets[this.i].Status === 'D')
           {
             this.Assets[this.i].AssetStatus = "Damaged"
           }
            else if(this.Assets[this.i].Status === 'M')
           {
             this.Assets[this.i].AssetStatus = "Missing"
           }

         }
          setTimeout(() => {
     this.SetColor()
  }, 500)
      ;
        }, (error)  =>  {
          console.log(error)
        })
    },
  SetColor()
  {
    for(this.i = 0;this.i<this.Assets.length;this.i++)
    {
      this.id='AssetStatus' + this.i
      if(this.Assets[this.i].AssetStatus === 'Good Condition')
      {
        document.getElementById(this.id).style.color = "#2E7D32";
      }
      else if(this.Assets[this.i].AssetStatus === 'Damaged')
      {
        document.getElementById(this.id).style.color = "orange";
      }
      else if(this.Assets[this.i].AssetStatus === 'Missing')
      {
        document.getElementById(this.id).style.color = "#C62828";
      }
    }
  },

    GetCustomers()
    {
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      axios.get(this.bURL + 'Customer/LoadLinkedCustomers?RouteId='+this.RouteID)
        .then((response)  =>  {
          localStorage.setItem('Customers', JSON.stringify(response.data))
          this.BackToPage = localStorage.getItem('BackToPage')
              if(this.BackToPage !== null)
              {
                this.ClearCustomer()
                this.PageUrl = "/dashboard/vouchers/" + this.BackToPage
                this.$router.push(this.PageUrl)
              }
        }, (error)  =>  {
          console.log(error)
        })
    },
    CancelRouteModal()
    {
      this.RouteModal = false
      this.BackToPage = localStorage.getItem('BackToPage')
       if(this.BackToPage !== null)
              {
                this.ClearCustomer()
                this.PageUrl = "/dashboard/vouchers/" + this.BackToPage
                this.$router.push(this.PageUrl)
              }
    },
     GetBranchDetails(Branch)
      {
        this.brachCode = ""
         if (Branch == "All")
                this.brachCode = "MB";
            else
               this. brachCode = Branch;
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Branch/GetBranchByBranchCode?BranchCode=' +this.brachCode)
              .then((response)  =>  {
                  this.BookBeginningDate = response.data.BookBeginningDate
                  this.BookBeginningDate = this.FormatDate(this.BookBeginningDate)
              }, (error)  =>  {
                  console.log(error)
              })

      },

  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}
.v-application--is-rtl .locationsnew1 {
    direction: rtl;

  text-align: left;

padding-left: 0px;
padding-bottom:0px;
font-size:12px !important;


}
.v-application--is-ltr .locationsnew1 {
text-align: right;

padding-right: 0px;
padding-bottom:0px;
font-size:12px !important;
}

  .v-application--is-rtl .locations1 {
    direction: rtl;

    text-align:right;
    padding-bottom:0px;
font-size:12px !important;


}
.v-application--is-ltr .locations1 {


 padding-bottom:0px;
  text-align:left;
font-size:12px !important;
}
  .v-application--is-rtl .setnew {
    direction: rtl;

padding-right:0px !important;
padding-left: 12px;


}
.v-application--is-ltr .setnew {


padding-right: 12px !important;
padding-left: 0px;
}
 .v-application--is-rtl .locate {
    direction: rtl;
text-align: left;


}

.v-application--is-ltr .editn {
text-align:left;
padding-top:10px !important;
padding-right:22px !important;
}
 .v-application--is-rtl .editn {
    direction: rtl;
text-align: left;
padding-top:10px !important;
padding-left:22px !important;


}

.v-application--is-ltr .assetsnew {

margin-left: -8px;
text-align:left !important;
}
 .v-application--is-rtl .assetsnew {
    direction: rtl;
margin-right: -8px;
text-align:right !important;
}

.v-application--is-ltr .assetcode {
padding-left:22px !important;
padding-right: 22px !important;
}
 .v-application--is-rtl .assetcode {
    direction: rtl;
padding-right: 22px !important;
padding-left: 22px !important;
}

.v-application--is-ltr .assetcodenew {

padding-right: 22px !important;
}
 .v-application--is-rtl .assetcodenew {
    direction: rtl;
padding-left:22px !important;
}

.v-application--is-ltr .assetc {
padding-right: 5px !important;
padding-left:22px !important;
text-align: left;
}
 .v-application--is-rtl .assetc {
    direction: rtl;
padding-left: 5px !important;
padding-right:22px !important;
text-align:right;
}
.v-application--is-ltr .asseta {
padding-right: 5px !important;
padding-left: 22px !important;
text-align:right !important;
}
 .v-application--is-rtl .asseta {
    direction: rtl;
padding-left: 22px !important;

text-align:left !important;
}

.v-application--is-ltr .routef {
padding-left:18px !important;
text-align:right !important;
}
 .v-application--is-rtl .routef {
    direction: rtl;
padding-right: 18px !important;
text-align:left !important;
}
.v-application--is-ltr .scheduleName {
padding-right:18px !important;
padding-left: 5px !important;
text-align:right !important;
}
 .v-application--is-rtl .scheduleName {
direction: rtl;
padding-left:18px !important;
padding-right: 5px !important;
text-align:left !important;
}
.v-application--is-ltr .removeroute {
padding-left:10px !important;
}
 .v-application--is-rtl .removeroute {
direction: rtl;
padding-right:10px !important;
}

.v-application--is-ltr .newc {
text-align:left;
padding-left:22px !important;
}
 .v-application--is-rtl .newc {
direction: rtl;
text-align:right;
padding-right:22px !important;
}

.v-application--is-ltr .news {
text-align:right;
padding-right:30px !important;
}
 .v-application--is-rtl .news {
direction: rtl;
text-align:left;
padding-left:30px !important;
}
</style>
