<template>
  <div class="d-flex  flex-column">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center">
      <v-row style="padding-top:0px">
        <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
          <h4
            style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "
          >
            Leader Group
          </h4>
        </v-col>
      </v-row>
    </div>
    <v-card class="my-2">
      <v-row>
        <v-col
          cols="12"
          md="12"
          xl="12"
          style="padding-top:20px;padding-bottom:0px;margin-bottom: -7px;padding-right:0px;padding-right:22px;padding-left:22px "
        >
          <v-autocomplete
            :items="GroupNameOptions"
            v-model="GroupNameSearch"
            solo
            rounded
            dense
            placeholder="Search By GroupName"
            @change="GetGroupName($event)"
          >
            <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearSalesperson">mdi-plus-circle</v-icon>
  </template> -->
          </v-autocomplete>
        </v-col>
      </v-row>
      <v-divider></v-divider>
      <v-card-text>
        <!-- <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x">
                 <v-autocomplete
            dense
             v-model="SalespersonObject.BranchCode"
          :items="BranchCodeOptions"
           :label="$t(`menu.BranchCode`)"
           v-if="IsMultiBarnch"
           :disabled="IsDisableBranch"
          ></v-autocomplete>
                </v-col>
              </v-row> -->
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x"
          >
            <v-text-field
              v-model="GroupName"
              label="Group Name"
              style="padding-bottom:0px"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x"
          >
            <v-autocomplete
              dense
              label=" Under Group"
              v-model="AccountHead"
              :items="UnderGroupNameOptions"
            ></v-autocomplete>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            cols="12"
            md="12"
            style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px; "
          >
            <v-textarea
              label="Description"
              v-model="Description"
              auto-grow
              outlined
              rows="1"
              row-height="15"
            ></v-textarea>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <fab
      :fixed-tooltip="fab.tooltip"
      :position="fab.position"
      :bg-color="fab.bgColor"
      :padding="fab.padding"
      :z-index="fab.zindex"
      :actions="fab.fabActions"
      :main-icon="fab.mainicon"
      :icon-size="fab.iconsize"
      @CallUser="CallUser"
      @ClearLeadgerGroup="ClearLeadgerGroup"
      @SaveLeadgerGroup="SaveLeadgerGroup"
      @DeleteLeadgerGroup="DeleteLeadgerGroup"
    ></fab>

    <v-dialog v-model="DeleteConfirmation_User" persistent max-width="300">
      <v-card>
        <v-card-title
          style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;"
          >{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title
        >
        <v-row style="margin:0px">
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(220 53 69);"
              @click="DeleteConfirmation_User = false"
              >{{ $t(`common.cancel`) }}</v-btn
            >
          </v-col>
          <v-col
            cols="6"
            md="6"
            lg="6"
            style="text-align:center;padding-bottom:20px;padding-top:20px"
          >
            <v-btn
              outlined
              color="rgb(40 167 69)"
              @click="ExecuteDeleteLeadgerGroup"
              >{{ $t(`dashboard.ok`) }}</v-btn
            >
          </v-col>
        </v-row>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
      absolute
      rounded="pill"
      color="rgb(0, 53, 94)"
      font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn color="blue" text v-bind="attrs" @click="snackbar = false">
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import Vue from "vue";
import "vue-select/dist/vue-select.css";
import fab from "vue-fab";
import axios from "axios";
import de from "../../translations/de";
import vueSignature from "vue-signature";
import TrendPercentVue from "../../components/common/TrendPercent.vue";
import DayEndCheck from "../../mixins/DayEndCheck";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
    fab,
    vueSignature //,Assets
  },
  data() {
    return {


      ex4: ["primary"],
      bURL: "",
      bURLPrint: "",
      dialog: false,
      AssetModal: false,
      VerifyModal: false,
      RouteDeleteModal: false,

      GroupNameObject: {},
      tab: null,
      tab1: null,
      breadcrumbs: [
        {
          text: "vms",
          to: "/vms/list",
          exact: true
        },
        {
          text: "Edit vm"
        }
      ],
      fab: {
        tooltip: true,
        bgColor: "rgb(0 53 94)",
        position: "bottom-right",
        mainicon: "list",
        zindex: "100",
        iconsize: "small",
        fabActions: [
          {
            name: "DeleteLeadgerGroup",
            icon: "delete",
            tooltip: this.$t(`common.delete`)
          },
          {
            name: "ClearLeadgerGroup",
            icon: "clear",
            tooltip: this.$t(`common.Clear`)
          },

          {
            name: "SaveLeadgerGroup",
            icon: "save",
            tooltip: this.$t(`common.save`)
          }
        ]
      },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
      infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        content: "",
        zoom: 25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
      markers: [
        {
          position: {
            lat: 0,
            lng: 0
          },
          infoText: "<strong>Marker 1</strong>"
        }
      ],
      date: "1990-10-09",
      menu: false,
      gender: "male",
      items: ["Kerala", "Assam", "Odisha", "Gujarat"],
      imageSrc: "/images/avatars/avatar1.svg",
      ImageModal: false,
      MappingModal: false,
      Username: window.localStorage.getItem("UserName"),
      DecimalPlaces: window.localStorage.getItem("DecimalPlaces"),
      userType: window.localStorage.getItem("UserType"),
      Token: window.localStorage.getItem("Token"),
      SnackbarMessege: "",
      snackbar: false,
      timeout: 2000,
      showPassword: false,
      isCreatePermission: false,
      isReadPermission: false,
      isDeletePermission: false,
      isUpdatePermission: false,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      GroupNameOptions: [],
      UnderGroupNameOptions: [],
      UserTypeOptions: [],
      IsMultiBarnch: false,

      Settings: JSON.parse(localStorage.getItem("Settings")),
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      DeleteConfirmation_User: false,
      menu: false,
      IsActive: true,
      IsNew: true,
      IsUpdate: false,
      IsActive : true,
      AccountHead : "",
    };
  },
  mixins: [DayEndCheck],
  computed: {},
  mounted() {
    this.PreviousPage = localStorage.getItem("ActivePage");
    this.BackToPage = localStorage.getItem("BackToPage");
    localStorage.setItem('ActiveRoute','/dashboard/masters/LedgerGroup')

    if (this.BackToPage !== null) {
      this.PageUrl = "/dashboard/masters/" + this.BackToPage;
      // alert(this.PageUrl)
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        location.href = bURL + this.PageUrl;
      };
    } else if (this.PreviousPage !== "userManagement") {
      history.pushState(null, null, location.href);
      window.onpopstate = function() {
        history.go(1);
      };
    }

    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    localStorage.setItem("ActivePage", "Salesperson");
    localStorage.removeItem("VoucherUpdated");
    this.GetGroupNames();
    this.GetUnderGroupNames();
    this.BasicSettings();
    this.SetPermission();
    this.checkUrl();
  },
  methods: {
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        //  this.logo = localStorage.getItem("Companylogo");
      } else {
        // this.openSettings()
      }
    },
    someAction(e) {
      e.stopPropagation();
      console.log("in some action");
    },

    BasicSettings() {
         this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
    if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.GroupNameObject.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.GroupNameObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.GroupNameObject.BranchCode = ''
       }
      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;
      if (this.AppName === "EAI") {
        this.IsEAIApp = true;
      } else if (this.AppName === "EAG") {
        this.IsEAGApp = true;
      }
    },
    SetPermission() {
      this.userType = window.localStorage.getItem("UserType");
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios
        .get(
          this.bURL +
            "common/GetFormPermission/" +
            this.userType +
            ",frmSalesperson"
        )
        .then(
          response => {
            this.isCreatePermission = response.data[0];
            this.isReadPermission = response.data[1];
            this.isUpdatePermission = response.data[2];
            this.isDeletePermission = response.data[3];
          },
          error => {
            console.log(error);
          }
        );
    },
    GetGroupName(user) {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "Ledger/GetLedgerGroup?GroupName=" + user).then(
        response => {
          this.AssignObject(response.data);
        },
        error => {
          console.log(error);
        }
      );
    },
    AssignObject(obj) {
       this.Description = obj.Description;
       this.AccountHead = obj.AccountHead;
       this.GroupName = obj.GroupName;
    },
    FormatewithDecimalPlaces(value) {
      return parseFloat(value).toFixed(this.DecimalPlaces);
    },

    CreateObject() {
      this.GroupNameObject.GroupName = this.GroupName ? this.GroupName : "";
      this.GroupNameObject.AccountHead = this.AccountHead
        ? this.AccountHead
        : "";
      this.GroupNameObject.Description = this.Description
        ? this.Description
        : "";
    },
    SaveLeadgerGroup() {
      this.CreateObject();
      if (
        this.GroupNameObject.GroupName === "" ||
        this.GroupNameObject.AccountHead === ""
      ) {
        this.SnackbarMessege = this.$t(`menu.Pleasefillsufficientdetails`);
        this.snackbar = true;
        return;
      } else if (
        this.GroupNameSearch === undefined ||
        this.GroupNameSearch === ""
      ) {
        if (this.isCreatePermission === true) {
          this.Loaderdialog = true;
          axios.post(this.bURL + "Ledger/InsertLedgerGroup", this.GroupNameObject).then(
            response => {
              this.Loaderdialog = false;
              (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                (this.snackbar = true);
              this.ClearLeadgerGroup();
              this.GetGroupNames();
            },
            error => {
              console.log(error);
            }
          );
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      } else {
        if (this.isUpdatePermission === true) {
          this.encodeGroupName = encodeURIComponent(this.GroupNameSearch);
          axios
           .put(
              this.bURL + "Ledger/UpdateLedgerGroup?OldGroupName=" + this.encodeGroupName,
              this.GroupNameObject
            )
            .then(
              response => {
                (this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)),
                  (this.snackbar = true);
                
                this.ClearLeadgerGroup();
                this.GetGroupNames();
              },
              error => {
                console.log(error);
              }
            );
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      }
    },
    DeleteLeadgerGroup() {
      if (
        this.GroupNameSearch !== null &&
        this.GroupNameSearch !== undefined &&
        this.GroupNameSearch !== ""
      ) {
        if (this.isDeletePermission === true) {
          this.DeleteConfirmation_User = true;
        } else {
          (this.SnackbarMessege = this.$t(`menu.Youhavenopermission`)),
            (this.snackbar = true);
        }
      } else {
        this.SnackbarMessege = "No salesperson to delete";
        this.snackbar = true;
      }
    },
    ExecuteDeleteLeadgerGroup() {
      axios
        .delete(
          this.bURL +
            "Ledger/DeleteLedgerGroup?GroupName=" +
            this.GroupNameSearch
        )
        .then(
          response => {
            (this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`)),
              (this.snackbar = true);
            for (this.i = 0; this.i < this.GroupNameOptions.length; this.i++) {
              if (this.GroupNameOptions[this.i] === this.GroupNameSearch) {
                this.GroupNameOptions.splice(this.i, 1);
                break;
              }
            }
            this.GroupNameSearch = false;
            this.DeleteConfirmation_User = false;
            this.ClearLeadgerGroup();
          },
          error => {
            this.Loaderdialog = false;
            if (error.response === undefined) {
              this.SnackbarMessege = this.$t(
                `menu.CheckyourInternetConnection`
              );
            } else if (error.response.data !== "") {
              this.SnackbarMessege = error.response.data;
            } else {
              this.SnackbarMessege = this.$t(`menu.failed`);
            }
            this.snackbar = true;
          }
        );
    },
    ClearLeadgerGroup() {
      this.GroupNameSearch = "";
      this.GroupName = "";
      this.AccountHead = "";
      this.Description = "";
      this.IsNew = true;
      this.IsUpdate = false;
      return;
    },
    GetGroupNames() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "/Ledger/LoadLedgerGroupNames").then(
        response => {
          this.GroupNameOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    },
    GetUnderGroupNames() {
      this.bURL = localStorage.getItem("CompanyURL") + "/api/";
      axios.get(this.bURL + "/Ledger/LoadDefaultLedgerGroupNames").then(
        response => {
          this.UnderGroupNameOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    },

    FormatDate(Value) {
      if (Value !== undefined) {
        Value = Value.split("T")[0];
      } else {
        Value = "";
      }

      return Value;
    }
  }
};
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6 {
  padding: 0px;
}
.col-md-6 {
  padding: 0px;
}
.theme--light.v-input {
  padding-top: 0px;
}
</style>
<style>
.fab-main {
  margin-bottom: 50px !important;
  padding: 21px !important;
}
.theme--light.v-input {
  padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
  padding: 0 0px 0px;
}
#innerExPan > .v-card {
  padding: 0 0px 0px;
}
#innerExPan > .v-card__text {
  padding: 0 0px 0px;
}

input[type="date"].form-control {
  padding: 0 0px 0px;
  /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */
}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {
  .v-tab {
    min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
@media only screen and (max-device-width: 320px) {
  .v-tab {
    min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
  }
}
</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label,
.v-input--selection-controls .v-radio > .v-label {
  align-items: center;
  display: inline-flex;
  flex: 1 1 auto;
  height: auto;
  font-size: 15px;
  padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
  text-align: left !important;
  padding-left: 8px !important;
}
.v-application--is-rtl .salesPersons {
  direction: rtl;
  text-align: right !important;
  padding-right: 8px !important;
}

.v-application--is-ltr .action {
  text-align: right !important;
  padding-right: 8px !important;
}
.v-application--is-rtl .action {
  direction: rtl;
  text-align: left !important;
  padding-left: 8px !important;
}
</style>
