<template>
  <div class="flex-grow-1">
     <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>


      <v-card  >
        <v-card-text style="padding: 0px;">
       <v-expansion-panels>
                <v-expansion-panel
                  v-for="(item, i) in 1"
                  :key="i"
                  style="padding-left: 0px;"
                >
                  <v-expansion-panel-header

                    class="headernew"
                    style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                    expand-icon=""
                  >


                     <span
                      style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                      ><v-icon
                        style="    font-size: 13px !important;"
                        @click="GoBackPrevious"

                        >fa-arrow-left</v-icon
                      ></span
                    >
                    <v-col
                      cols="12"
                      sm="12"
                      style="padding: 0px !important; text-align: center !important;font-size:12px"
                    >
                      <b
                        style="text-align:center !important; text-transform:uppercase;"
                        >{{ $t('menu.Ledger') }}</b
                      >
                    </v-col>
                  </v-expansion-panel-header>

                </v-expansion-panel>
              </v-expansion-panels>
                   <v-card-actions style="background:#007bff;padding: 1px;">
              </v-card-actions>

              <v-row>
                <v-col cols="12" sm="12" md="12"  style="padding-top:24px;padding-bottom:0px;margin-bottom:0px;padding-right:24px;padding-left: 24px;" >
                 <v-text-field v-model="LedgerName"
        :label="$t(`menu.LedgerName`)"
        ></v-text-field>
            </v-col>
              </v-row>
                   <v-row  v-if="IsMultiBarnch">

               <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 24px;padding-right: 15px;" >
                 <v-autocomplete
              v-model="BranchCode"
              :items="BranchCodeOptions"
              dense
               :label="$t(`menu.BranchCode`)"
              v-if="IsMultiBarnch"
              :disabled="IsDisableBranch"
            ></v-autocomplete>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right: 24px;padding-left: 15px;" >
                  <v-text-field v-model="Description"

          :label="$t('menu.AliasCode')"
        ></v-text-field>
                 </v-col>
        </v-row>
            <v-row  v-if="!IsMultiBarnch">

                 <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 24px;padding-right: 15px;" >
                    <v-text-field v-model="Description"

              :label="$t('menu.AliasCode')"
            ></v-text-field>
              </v-col>
               <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right: 24px;padding-left: 15px;" >
                    <v-autocomplete
                v-model="GroupName"
                :items="GroupNameOptions"
                dense
                :label="$t(`menu.AccountGroup`)"
                @change="findLedgerGroup($event)"
              >
                       <template v-slot:append-outer>
        <v-icon color="rgb(40 167 69)" @click="OpenLedgergroup">mdi-plus-circle</v-icon>
      </template>
            </v-autocomplete>
                   </v-col>
          </v-row>
              <v-row  v-if="IsMultiBarnch">
                <v-col cols="12" sm="12" md="12"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 24px;padding-right: 24px;" >
                <v-autocomplete
              v-model="GroupName"
              :items="GroupNameOptions"
              dense
              :label="$t(`menu.AccountGroup`)"
              @change="findLedgerGroup($event)"
            >
                     <template v-slot:append-outer>
      <v-icon color="rgb(40 167 69)" @click="OpenLedgergroup">mdi-plus-circle</v-icon>
    </template>
          </v-autocomplete>
            </v-col>
              </v-row>

          <v-row v-if="AccountHead!==''">

               <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-left: 24px;padding-right: 15px;margin-top: -16px;" >

            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;padding-right: 15px;padding-left: 24px;margin-top: -16px;" >
               <label style="color:green">{{AccountHead}}</label>
             </v-col>
        </v-row>
   <v-row>

               <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-left: 24px;padding-right: 15px;" >
                 <v-text-field v-model="OpenBal"
                 @change="SetColor()"
        :label="$t(`menu.OpeningBalance`)"
        id = "OpenBal"
      ></v-text-field>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;padding-right: 24px;padding-left: 15px;" >
                 <v-text-field v-model="CurBal" readonly id = "CurBal" @change="SetColor()"

            :label="$t(`menu.CurrentBalance`)"


          ></v-text-field>
                 </v-col>
        </v-row>
      <!-- <v-row  >

               <v-col cols="4" sm="4" md="4"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;" >
                 <v-text-field v-model="OpenBal"
                 @change="SetColor()"
        label="Opening Balance"
        id = "OpenBal"
      ></v-text-field>
            </v-col>
             <v-col cols="4" sm="4" md="4"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;" >
              <v-combobox
          v-model="DrCr"
          :items="items1"
          label="Dr/Cr"

        ></v-combobox>
                 </v-col>
        </v-row> -->

          <v-row  >
 <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;;padding-left: 24px;padding-right:15px" >

                 <v-text-field
            v-model="OpenDate"
            :label="$t(`menu.OpeningDate`)"

            readonly
            v-bind="attrs"
            v-on="on"
          ></v-text-field>

  </v-col>
    <v-col cols="6" sm="6" md="6"  style="padding-top:6px;padding-bottom:0px;margin-bottom:0px;;padding-left: 15px;padding-right:24px" >
                 <v-text-field v-model="TaxPerc"

            :label="$t(`menu.Taxp`)"

            :readonly="IsNoTaxPerc"
            type ="number"
          ></v-text-field>
            </v-col>
          </v-row>
    <v-row  >

                <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;;padding-left: 24px;padding-right: 15px;" >
                <v-switch
      style="float:left;margin-top: 15px;"
      v-model="IsActive"
      inset
      :label="$t(`menu.ActiveLive`)"
    ></v-switch>
            </v-col>
             <v-col cols="6" sm="6" md="6"  style="padding-top:0px;padding-bottom:0px;margin-bottom:0px;;padding-left: 15px;padding-right: 24px;" >
                <v-switch
      style="float:right;margin-top: 15px;"
      v-model="EnableCostCenter"
      inset
      label="Cost Center"
    ></v-switch>

                 </v-col>

        </v-row>


        </v-card-text>
      </v-card>






     <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
      <vue-bottom-sheet ref="myBottomSheet" id="bottomsheetnew" style="z-index: 100000!important;">
    <div style="padding:10px; border:1px solid #000;">
<!-- //here one -->
<label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
	  <vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'300px'" :disabled="disabled" ></vueSignature>
		<vueSignature ref="signature1" :sigOption="option"></vueSignature><br>
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>
		<button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    </div>
  </vue-bottom-sheet>
  <!-- Signature modal start here -->
<v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>

       <v-dialog v-model="DeleteConfirmation_Ledger" persistent max-width="270">
      <template>

      </template>
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.DoyouwanttodeleteLedger`) }}</v-card-title>
        <v-row >
        <v-col cols="6" md="6" lg="6" style="text-align:center; padding-top: 17px;
    padding-bottom: 17px;">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Ledger = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;    padding-top: 17px;
    padding-bottom: 17px;">
        <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteLedger">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


<!-- signature modal ends here -->

     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @ClearLedger="ClearLedger"
   @SaveLedger="SaveLedger"
   @DeleteLedger="DeleteLedger"

></fab>
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios';
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab';

import de from '../../translations/de';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import vueSignature from "vue-signature"
import DayEndCheck from "../../mixins/DayEndCheck";

export default {
  components: {
   fab,VueBottomSheet,vueSignature
  },
  data() {
    return {
      ex4: ['success' ],
        date: new Date().toISOString().substr(0, 10),
      signtype:'',
       Title:'',
       bURL:'',
       bURLPrint:'',
       signtype:'',
       dialog: false,
        signature1 : false,
       RouteDeleteModal:false,
      sheet: false,
          DrCr: 'Dr',
      items1: [
        'Dr',
        'Cr',
      ],
      UserObject: {
      },
      tab: null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
            fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [
        {
          name: 'ClearLedger',
          icon: 'add_circle_outline',
          tooltip:this.$t(`menu.New`)
        },

           {
          name: 'DeleteLedger',
          icon: 'delete',
          tooltip:this.$t(`common.delete`)
        },
          {
          name: 'SaveLedger',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',

    LegerOptions :[],
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    GroupName:'',
    GroupNameOptions : [],
    IsMultiBarnch : true,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    LedgerNameSearch : localStorage.getItem('LedgerName'),


    IsEAGApp : false,
    IsEAIApp :false,
    LedgerObject : {},
    UserImage1 : "",
    isCreatePermission : false,
    isReadPermission : false,
    isUpdatePermission : false,
    isDeletePermission : false,
    Loaderdialog : false,
    IsAdmin:false,
   salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      IsActive:true,
      EnableCostCenter:false,
      DeleteConfirmation_Ledger:false,
      Nature:'L',
      OpeningBalances:[],
      CurBal:"",
      AccountHead : '',
      AccountNature:'',
      IsNoTaxPerc:true


    }
  },
  mixins: [DayEndCheck],
  mounted()
  {
 /* if(localStorage.getItem("salessign")!== null)
     {
          this.salessign = localStorage.getItem("salessign")
          this.salename = localStorage.getItem("salename")

     } */
     this.PreviousPage = localStorage.getItem('PreviousRoute')
      this.BackToPage = localStorage.getItem('BackToPage')

     if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = bURL + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'userManagement')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }

    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Ledger')
    localStorage.setItem('ActiveRoute','/dashboard/masters/ledger')
   localStorage.removeItem('VoucherUpdated')
   if(this.userType === "Administrator")
      this.IsAdmin =  true
   this.checkUrl();

   this.GetLedgerGroups()
   this.GetPermission()
   this.BasicSettings()
   if(this.LedgerNameSearch !== null)
   {
      this.LedgerName = this.LedgerNameSearch
      this.GetLedger()
   }
  },
  methods:
  {
     OpenLedgergroup()
    {

        this.$router.push('/dashboard/masters/LedgerGroup')

    },
      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");

        localStorage.setItem('UserImage1',this.UserImage1);

        document.getElementById("UserImage1").src = e.target.result;
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
    BasicSettings()
    {
       this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength === 1)
        this.IsMultiBarnch = false


       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = 'MB'
       }

        this.OpenDate =  window.localStorage.getItem('BookBeginningDate');
        if(this.OpenDate !== null)
        {
          this.OpenDate = this.FormatDate(this.OpenDate)
        }
        else{
          this.OpenDate = ""
        }

      this.GetBranchDetails(this.BranchCode?this.BranchCode:"MB")
      if(this.PreviousPage === "userManagement")
      {
          this.GroupName = "Cash-in-hand"
          this.findLedgerGroup("Cash-in-hand")
      }

    },
     GetBranchDetails(Branch)
      {
        this.brachCode = ""
         if (Branch == "All")
                this.brachCode = "MB";
            else
               this. brachCode = Branch;
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
            axios.get(this.bURL + 'Branch/GetBranchByBranchCode?BranchCode=' +this.brachCode)
              .then((response)  =>  {
                  this.BookBeginningDate = response.data.BookBeginningDate
                  this.BookBeginningDate = this.FormatDate(this.BookBeginningDate)
              }, (error)  =>  {
                  console.log(error)
              })

      },
    GetPermission()
    {
      this.UserType = localStorage.getItem('UserType')
      axios.get(this.bURL + 'common/GetFormPermission/'+this.UserType + ',frmLedger')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]

        }, (error)  =>  {
          console.log(error)
        })

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },
     GetLedgerGroups()
    {
       axios.get ( this.bURL + "Ledger/GetLedgerGroupNames")
        .then((response)  =>  {
         this.GroupNameOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
   },
    GetLedger()
    {
      this.Loaderdialog = true
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Ledger/GetLedgerByName?LedgerName=' + this.LedgerNameSearch)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(Obj)
    {
      this.LedgerName = Obj.ledgerName
      this.Description = Obj.description
      this.GroupName = Obj.groupName
      this.GroupNameSearch = Obj.groupName
      this.OpenBal = Obj.openBal
      this.CurBal = Obj.curBal
      this.OpenDate = this.FormatDate(Obj.openDate)
      this.IsActive = Obj.isActive
      this.EnableCostCenter = Obj.enableCostCenter
      this.BranchCode = Obj.branchCode
      this.TaxPerc = Obj.taxPerc
      this.Nature = Obj.nature
      this.OpeningBalances = Obj.openingBalances
      this.SetColor()
    },
    SaveLedger()
    {
      if(this.LedgerName === undefined || this.GroupName === undefined
      || this.OpenBal === undefined || this.OpenDate === undefined
      || this.LedgerName === ""  || this.GroupName === ""
      || this.OpenBal === "" || this.OpenDate === "")
      {
        this.SnackbarMessege = "Enter All details"
        this.snackbar = true
      }
      else
      {
        this.LedgerObject = this.CreateObject()
        if(this.LedgerNameSearch === null)
        {
          if(this.isCreatePermission === true)
          {
             axios.post ( this.bURL + 'Ledger',this.LedgerObject)
              .then((response)  =>  {
                this.Loaderdialog = false
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                this.ClearLedger()
              }, (error)  =>  {
                   this.SnackbarMessege = this.$t(`menu.failed`)
                this.snackbar = true
                this.Loaderdialog = false
                console.log(error)
              })
          }
          else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
        }
        else{
          if(this.isUpdatePermission === true)
          {
            localStorage.setItem('LedgerObject',JSON.stringify(this.LedgerObject))
            this.encodeLedgerName = encodeURIComponent(this.LedgerNameSearch)
            this.encodeGroupName = encodeURIComponent(this.GroupNameSearch)
            axios.put ( this.bURL + 'Ledger/Put?OldLedgerName='+this.encodeLedgerName+ '&OldGroupName=' + this.encodeGroupName , this.LedgerObject)
              .then((response)  =>  {
                this.Loaderdialog = false
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
               setTimeout(  this.$router.push('/dashboard/registers/ledger_reg'),5000)
              }, (error)  =>  {
                   this.SnackbarMessege = this.$t(`menu.failed`)
                this.snackbar = true
                this.Loaderdialog = false
                console.log(error)
              })
          }
          else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
             this.snackbar = true
          }
        }
      }
    },
    CreateObject()
    {
      this.LedgerObject.LedgerName = this.LedgerName
      this.LedgerObject.Description = this.Description?this.Description:""
      this.LedgerObject.GroupName = this.GroupName
      this.LedgerObject.OpenBal = this.OpenBal?parseFloat(this.OpenBal):0
      this.LedgerObject.CurBal = this.CurBal?parseFloat(this.CurBal):0
      this.LedgerObject.OpenDate = this.OpenDate
      this.LedgerObject.IsActive = this.IsActive
      this.LedgerObject.EnableCostCenter =  this.EnableCostCenter
      this.LedgerObject.BranchCode = this.BranchCode?this.BranchCode:""
      this.LedgerObject.TaxPerc = this.TaxPerc?parseFloat(this.TaxPerc):0
      this.LedgerObject.Nature = this.Nature ? this.Nature : 'L'
      this.LedgerObject.OpeningBalances = this.OpeningBalances

      return this.LedgerObject
    },
    DeleteLedger()
    {
      if(this.LedgerNameSearch !== null)
      {
          this.DeleteConfirmation_Ledger = true
      }
    },
    ExecuteDeleteLedger()
    {

      if (this.isDeletePermission === true)
      {
       axios.delete( this.bURL + 'Ledger/' + this.LedgerNameSearch)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          setTimeout(  this.$router.push('/dashboard/registers/ledger_reg') , 5000)
        }, (error)  =>  {
          this.SnackbarMessege = 'Ledger in use'
              this.snackbar = true
              this.DeleteConfirmation_Ledger = false
        })
      }
      else
      {
         this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
        this.snackbar = true
      }

    },
     ClearLedger(Obj)
    {
      this.LedgerName = ""
      this.Description = ""
      this.GroupName = ""
      this.OpenBal = ""
      this.CurBal = ""
      //this.OpenDate = ""
      this.IsActive = true
      this.EnableCostCenter = false
       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = ''
       }
      this.TaxPerc = ""
      this.AccountHead = ""
      this.AccountNature = ""
      //this.Nature = ""
    },
     FormatDate(Value)
    {
      return  Value.split('T')[0]
    },
    SetColor()
    {
       if((this.OpenBal=== undefined || this.OpenBal === ""))
       {
         this.CurBal = this.OpenBal
       }
      if(parseFloat(this.CurBal) > 0)
      {
        document.getElementById('CurBal').style.color = "#2E7D32";
      }
      else if(parseFloat(this.CurBal) < 0){
        document.getElementById('CurBal').style.color = "#C62828";
      }
       if(parseFloat(this.OpenBal)  > 0)
      {
        document.getElementById('OpenBal').style.color = "#2E7D32";
      }
      else if(parseFloat(this.OpenBal)  < 0){
        document.getElementById('OpenBal').style.color = "#C62828";
      }


  },
  findLedgerGroup(GroupName)
    {
      axios.get(this.bURL + 'Ledger/GetLedgerGroup?GroupName=' + GroupName)
        .then((response)  =>  {
          this.AccountHead = response.data.AccountHead
          this.AccountNature = response.data.AccountNature
          if(this.AccountNature === "E" || this.AccountNature === "I")
          {
            this.IsNoTaxPerc = false
          }
          else{
             this.IsNoTaxPerc = true
          }

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })

    },

  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
.v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}
input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
#bottomsheetnew   > .bottom-sheet__card.fx-default {
      max-width: 300px !important;
    max-height: 95% !important;
    bottom: 80px !important;
    Top:80px !important;
}
 #circlenew > .v-badge--dot .v-badge__badge {
    border-radius: 6.5px;
    height: 12px;
    min-width: 0;
    padding: 0;
    width: 12px;
}

</style>
