<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.MeasureUnit`)}} </h4>
            </v-col>
          </v-row>
      </div>
      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:20px;padding-bottom:0px;margin-bottom: -7px;padding-right:0px;padding-right:22px;padding-left:22px " >
        <v-autocomplete
             :items="SymbolOptions"
             v-model="SymbolSearch"
                 solo
        rounded
        dense
       :placeholder="$t('menu.SearchBySymbol')"
            @change="Search($event)"
          >
         <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="AddNew">mdi-plus-circle</v-icon>
  </template> -->

          </v-autocomplete>
          </v-col>

            </v-row>
            <v-divider></v-divider>
        <v-card-text>

              <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x">
                <v-text-field v-model="UnitSymbol" :label="$t(`menu.Symbol`)" ref="FocusField" style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
             <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x">
                <v-text-field v-model="UnitName" :label="$t(`menu.FormalName`)"  style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>

        </v-card-text>
      </v-card>

     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallUser ="CallUser"
   @AddNew="AddNew"
   @SaveUnit="SaveUnit"
   @DeleteUnit="DeleteUnit"

></fab>


       <v-dialog v-model="DeleteConfirmation_User" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_User = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteUnit">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  <v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
import DayEndCheck from "../../mixins/DayEndCheck";
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,

         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      UnitObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteUnit',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'AddNew',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveUnit',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    bURL : localStorage.getItem("CompanyURL")+"/api/",
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    SymbolOptions : [],
    UnitDetails:[],
    UserTypeOptions : [],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation_User : false,
    menu: false,
    IsActive:true,
     IsNew : true,
    IsUpdate : false,
    UnitSymbol :'',
    UnitName : ''
    }
  },
  mixins: [DayEndCheck],
  computed: {

  },
  mounted()
  {
     this.PreviousPage = localStorage.getItem('PreviousRoute')
     this.BackToPage = localStorage.getItem('BackToPage')
    if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = location.origin + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'ItemMaster' )
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }
   
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','MeasureUnit')
    localStorage.setItem('ActiveRoute','/dashboard/masters/measureUnit')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.GetUnits()
    this.GetPermission()
    this.GetItemUnitsWithName()
    this.checkUrl();
  },
  methods:
  {
        saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    BasicSettings()
    {
     
      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmUnit')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
    },
     GetPermission()
    {
      this.UserType = localStorage.getItem('UserType')
      axios.get(this.bURL + 'common/GetFormPermission/'+this.UserType + ',frmUnit')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })

    },

     GetUnits()
    {
      axios.get(this.bURL + 'item/GetItemUnits')
        .then((response)  =>  {
          this.SymbolOptions = response.data

        }, (error)  =>  {
          console.log(error)
        })
    },
    GetItemUnitsWithName()
    {
       axios.get(this.bURL + 'Unit/GetItemUnitsWithName')
        .then((response)  =>  {
          this.UnitDetails = response.data

        }, (error)  =>  {
          console.log(error)
        })

    },
    SaveUnit()
    {
       if (this.UnitSymbol === undefined || this.UnitName === undefined
       ||this.UnitSymbol === "" || this.UnitName === "") {
          this.SnackbarMessege = this.$t(`menu.PleaseEnteralldetails`),
          this.snackbar = true
       }
       else
       {
         this.ExecuteSave()
       }

    },
    ExecuteSave()
    {
      if (this.IsNewUnit === true) {
          axios.post(this.bURL + 'Unit?Symbol=' + this.UnitSymbol + '&Name=' + this.UnitName)
              .then((response)  =>  {
                 this.SnackbarMessege = 'Saved Suceessfully'
                 this.snackbar = true
                 this.IsSave= true
                 this.IsNewUnit = true
                 this.IsDelete = false
                 this.SymbolSearch = ''
                 this.UnitSymbol = ''
                 this.UnitName = ''
                 this.GetUnits()
                 this.GetItemUnitsWithName()

              }, (error)  =>  {
               this.SnackbarMessege = 'Unit Already Exist'
                this.snackbar = true
            })
      }
      else
      {
        axios.put(this.bURL + 'Unit?OldSymbol=' +this.SymbolSearch+'&Symbol=' + this.UnitSymbol + '&Name=' + this.UnitName)
              .then((response)  =>  {
                this.SnackbarMessege = 'Saved Suceessfully'
                this.snackbar = true
                 this.IsSave= true
                 this.IsNewUnit = true
                 this.IsDelete = false
                 this.SymbolSearch = ''
                 this.UnitSymbol = ''
                 this.UnitName = ''
                 this.GetUnits()
                 this.GetItemUnitsWithName()
              }, (error)  =>  {
                this.SnackbarMessege = 'Unit Already Exist'
                this.snackbar = true
            })

      }
    },
    Search(ItemSymbol)
    {
        this.IsNewUnit = false
        if (this.isDeletePermission === true && ItemSymbol!== undefined) {
          this.IsDelete = true
        }
        else{
            this.IsDelete = true
        }
        if (this.isUpdatePermission === true) {
            this.IsSave = true
        }
        else{
            this.IsSave = false
        }
        for(this.i=0;this.i<this.UnitDetails.length;this.i++)
        {
            if(this.UnitDetails[this.i].Symbol === ItemSymbol)
            {
                this.IsActive = "test"
                this.UnitSymbol = this.UnitDetails[this.i].Symbol
                this.UnitName = this.UnitDetails[this.i].Name
                break;
            }
        }
    },
    AddNew()
    {
      this.IsNewUnit = true
      this.IsDelete = false
      this.IsSave = true
      this.SymbolSearch = ''
      this.UnitSymbol = ''
      this.UnitName = ''
        setTimeout(() => {
    this.$refs.FocusField.focus()
  }, 200)
      ;
    },
    DeleteUnit()
    {

          if (this.SymbolSearch === undefined) {
              return
          }
          else {
             axios.delete(this.bURL + 'Unit/' + this.SymbolSearch)
              .then((response)  =>  {
                 this.SnackbarMessege = 'Deleted Suceessfully'
                 this.IsSave= true
                 this.IsNewUnit = true
                 this.IsDelete = false
                 this.SymbolSearch = ''
                 this.UnitSymbol = ''
                 this.UnitName = ''
                 this.DeleteModal = false
                 this.GetUnits()

              }, (error)  =>  {
                this.SnackbarMessege = 'Unit In use'
                this.snackbar = true
            })
          }

    },
    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },

  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Units {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Units {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
