<template>
<div class=" flex-column flex-grow-1 align-center ">

     <div style="margin-bottom: -21px;margin-top: -19px;text-align:center" >
           <v-row style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;"  >{{$t('menu.Notifications')}} </h4>
            </v-col>
          </v-row>
      </div>
   <v-expansion-panels focusable>
    <v-expansion-panel
      v-for="(item,i) in Notifications"
       :key="i"


    style="border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 3px; border-top-right-radius: 6px;
    border-top-left-radius: 6px;
   "
    >
      <v-expansion-panel-header expand-icon="" style="padding-left:0px;
    padding-right: 0px;    padding-top: 4px;
    padding-bottom: 4px;">
      <!-- <v-row no-gutters>

      <v-col
        cols="12"
        sm="12"
        style="text-align: Center;color:rgb(0 53 94);font-weight: bold;"
      >

       <label>{{item.NotificationType}}</label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        v-if="item.IsShowVerify"
      >

      <label>{{$t(`login.Username`)}} : <b>{{item.NotificationFrom}}</b></label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        v-if="item.IsShowVerify"
      >

      <label>{{$t(`menu.DeviceId`)}} : <b>{{item.NotificationNo}}</b></label>
      </v-col>
      <v-col
        cols="12"
        sm="12"
        class="location"
        v-if="item.IsShowVerify"
      >
        <label>{{$t(`chat.message`)}} : <b>{{item.Remarks}}</b></label>
      </v-col>
       <v-col
        cols="12"
        sm="12"
        style="text-align:center;"
        v-if="!item.IsShowVerify"
      >
        <label style="font-size:14px;">{{item.Remarks}}</label>
      </v-col>

       <v-divider></v-divider>
       <v-col cols="6" md="6" lg="6" class="location" style="padding-top:15px !important;" v-if="item.IsShowVerify">
           <v-btn
              small

             style="background-color:#D50000;color:#FFF;font-size:15px"

              @click="UpdateNotificationVerifyStatus(item)"
            >
             {{$t('menu.Reject')}}
             <v-icon class="accept" style="font-size:17px !important">thumb_down_alt</v-icon>
            </v-btn>

        </v-col>
        <v-col cols="6" md="6" lg="6" class="locationnew" style="padding-top:15px !important"  v-if="item.IsShowVerify">
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;font-size:15px;"
              @click="UpdateDeviceId(item)"

            >


             {{$t(`menu.Accept`)}} <v-icon class="accept" style="font-size:17px !important"> fa-check-circle</v-icon>
            </v-btn>
        </v-col>
    <m/v-row> -->
      <v-list style="padding-top: 0px;
    padding-bottom: 0px;">
      <v-list-item-group>
        <v-list-item
     color="primary"  v-if="item.NotificationType == 'Stock Transfer'">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="rgb(0, 200, 83)">
              <v-icon color="#FFF">
                mdi-bank-transfer</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content >
            <v-list-item-title style="color:rgb(0, 53, 94)">{{item.NotificationType}}</v-list-item-title>
            <br>
            <v-list-item-title style="font-size:10px;font-weight:400px;color:gray">{{item.DateTime}} </v-list-item-title>
            <br>
            <v-list-item-title  v-if="!item.IsShowVerify" style="max-width:100% !important;
 white-space: normal;font-size: 11px;">{{item.Remarks}}</v-list-item-title>
          </v-list-item-content>
            <v-list-item-action>
            <v-btn icon  @click="viewVoucher(item)">
              <v-icon color="grey lighten-1">mdi-launch</v-icon>
            </v-btn>
            </v-list-item-action>
        </v-list-item>
            <v-list-item
     color="primary"  v-if="item.NotificationType =='Stock Transfer Rejection'">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#FF1744">
              <v-icon color="#FFF">
                mdi-bank-transfer</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content >
            <v-list-item-title style="color:#D50000">{{item.NotificationType}}</v-list-item-title>
            <br>
            <v-list-item-title style="font-size:10px;font-weight:400px;color:gray">12-12-2022 10.10 AM</v-list-item-title>
            <br>
            <v-list-item-title  v-if="!item.IsShowVerify" style="max-width:100% !important;
 white-space: normal;font-size: 11px;">{{item.Remarks}}</v-list-item-title>
          </v-list-item-content>
            <v-list-item-action>
            <v-btn icon  @click="viewVoucher(item)">
              <v-icon color="grey lighten-1">mdi-launch</v-icon>
            </v-btn>
            </v-list-item-action>
        </v-list-item>
         <v-list-item
     color="primary"  v-if="item.IsShowVerify">
          <v-list-item-icon style="text-align:center">
            <v-btn fab x-small color="#0277BD">
              <v-icon color="#FFF">
                mdi-devices</v-icon
              ></v-btn
            >
          </v-list-item-icon>
          <v-list-item-content >
            <v-list-item-title style="color:#6A1B9A">{{item.NotificationType}}</v-list-item-title>
            <br>
            <v-list-item-title style="font-size:10px;font-weight:400px;color:gray">12-12-2022 10.10 AM</v-list-item-title>
            <br>
            <v-list-item-title  v-if="item.IsShowVerify" style="max-width:100% !important;
 white-space: normal;font-size: 11px;">{{$t(`login.Username`)}} : <b>{{item.NotificationFrom}}</b></v-list-item-title>
 <br>
     <v-list-item-title  v-if="item.IsShowVerify" style="max-width:100% !important;
 white-space: normal;font-size: 11px;">{{$t(`menu.DeviceId`)}} : <b>{{item.NotificationNo}}</b></v-list-item-title>
 <br>
  <v-list-item-title  v-if="item.IsShowVerify" style="max-width:100% !important;
 white-space: normal;font-size: 11px;">{{$t(`chat.message`)}} : <b>{{item.Remarks}}</b></v-list-item-title>
 <br>
          </v-list-item-content>
            <v-list-item-action>

             <v-btn fab x-small color="#D50000"  @click="UpdateNotificationVerifyStatus(item)">
              <v-icon color="#FFF">
                thumb_down_alt</v-icon
              ></v-btn
            >
            <br>
             <v-btn fab x-small color="#2E7D32" @click="UpdateDeviceId(item)">
              <v-icon color="#FFF">
                fa-check-circle</v-icon
              ></v-btn
            >
            </v-list-item-action>
        </v-list-item>
      </v-list-item-group>
      </v-list>
      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
   <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
 </div>
</template>
<script>

import axios from 'axios';
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  data: () => ({
     snackbar: false,
     SnackbarMessege: '',
     timeout: 2000,
    sheet: false,
    userType :  window.localStorage.getItem('UserType'),
      Token : window.localStorage.getItem('Token'),
      bURL : localStorage.getItem("CompanyURL")+"/api/",
      Username : localStorage.getItem('user'),
      Notifications:[],
      IsShowVerify:false
  }),
  mixins: [DayEndCheck],
  mounted()
  {
    this.GetUserNotification()
  },
  methods: {
 someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
  GetUserNotification()
    {
      axios.get ( this.bURL + 'Notification/GetUserNotifications?Username=' + this.Username)
        .then((response)  =>  {
          this.Notifications = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            if(response.data[this.i].VerifyStatus !== "R" && response.data[this.i].VerifyStatus !== "A")
            {
                this.Notifications.push(response.data[this.i])
            }
          }
          for(this.i = 0;this.i<this.Notifications.length;this.i++)
          {
            if(this.Notifications[this.i].NotificationType === "Device Registration")
            {
              this.Notifications[this.i].IsShowVerify = true
            }
            else{
              this.Notifications[this.i].IsShowVerify = false
            }
            this.Notifications[this.i].DateTime = this.SetVoucherTime(this.Notifications[this.i].Date)
          }
          this.UpdateNotificationReadStatus()
        }, (error)  =>  {
          return
        })
    },
     SetVoucherTime(Value)
    {
      this.Date =  new Date(Value)
      this.Hr =  this.Date.getHours()
      this.Min =  this.Date.getMinutes();
      this.ampm =  this.Hr >= 12 ? 'PM' : 'AM';
      this.Hr = this.Hr % 12;
      this.Hr = this.Hr ? this.Hr : 12; // the hour '0' should be '12'
      this.Min = this.Min < 10 ? '0'+this.Min : this.Min;
      this.VoucherTime  = this.Hr +  ":"  + this.Min + "   " + this.ampm
      this.VoucherDate = Value.split("T")[0];

      return this.VoucherDate + " " + this.VoucherTime ;
    },
    UpdateNotificationReadStatus()
    {
      axios.put ( this.bURL + 'Notification/UpdateNotificationReadStatus',this.Notifications)
        .then((response)  =>  {
          if(localStorage.getItem('IsReload') === "true")
          {
            localStorage.setItem('IsReload','false')
            location.reload()
          }
         return
        }, (error)  =>  {
          return
        })
    },
     UpdateNotificationVerifyStatus(item,i)
    {
      item.VerifyStatus = "R"
      axios.put ( this.bURL + 'Notification/UpdateNotificationVerifyStatus',item)
        .then((response)  =>  {
            this.snackbar = true
            this.SnackbarMessege = this.$t(`menu.Rejected`)
            location.reload()
         return
        }, (error)  =>  {
          item.VerifyStatus = "P"
           this.snackbar = true,
           this.SnackbarMessege = this.$t(`menu.failed`)
        })
    },
     UpdateDeviceId(item)
    {
      axios.put ( this.bURL + 'user/UpdateDeviceId?Username='+item.NotificationFrom + '&DeviceId='+  item.NotificationNo + '&NotificationUserLinkId='+ item.NotificationUserLinkId)
        .then((response)  =>  {
            this.snackbar = true
            this.SnackbarMessege = this.$t(`menu.Accepted`)
            this.IsRegisterd = true
            this.IsRejectd = false
            location.reload()
        }, (error)  =>  {
          item.VerifyStatus = "P"
           this.snackbar = true
            this.SnackbarMessege = this.$t(`menu.failed`)
        })
    },
    viewVoucher(item)
    {
        if(item.NotificationType === "Stock Transfer")
        {
          localStorage.setItem('IsInwardTransfer',true)
          localStorage.removeItem('IsHoldingStockTransfer')
          localStorage.removeItem('StockTransferObject')
          localStorage.removeItem('StockTransferDetails')
          localStorage.setItem('StockTransferNo',item.NotificationNo)
          this.$router.push('/dashboard/vouchers/stockTransfer')
        }
    }
}
}
</script>
<style lang="scss" scoped>

.footer {
   position: fixed;
   z-index:1;
   width: 100%;
   height:100px;
   background-color: red;
   color: white;
   text-align: center;
   padding-right:50px;
   margin-right:50px;
}
.v-input__slot {
  border-color: #00000061;
}

.theme--light.v-label {
    color: #FFF
}
.theme--light.v-label:hover {
    color: #FFF
}
.v-input input {
    color: #FFF
}
.theme--light.v-input input, .theme--light.v-input textarea {

    color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
    border-color: #FFF;
}
.theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:after {
    border-color: #FFF;
}
.v-text-field > .v-input__control > .v-input__slot:before {
    border-style: none;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
  text-align: center;
}
.fixed-bottom{
  background-color: rgb(0 53 94);
  color: rgb(230, 36, 36);
}
.theme--light.v-input {
    color: rgb(0 0 0 / 87%);
    height: 42px;
}
.mdi-chevron-down::before {
    display: none;
}
@media only screen and (max-device-width: 480px) {

.read{
  font-size: 12px;
  margin-bottom: 0px;
}

    }
</style>
<style>

.v-application--is-ltr .accept {
font-size:17px !important;
padding-left:5px !important
}
.v-application--is-rtl .accept {
    direction: rtl;
font-size:17px !important;
padding-right:5px !important

}
</style>
