<template>
  <div class=" d-flex flex-grow-1 flex-column" style="padding-top: 1px;">
    <v-dialog content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <!----Pos modal start here---------->
    <v-dialog
      v-model="dialogPos"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Pos</v-toolbar-title
          >
          <v-spacer></v-spacer>

        </v-toolbar>
        <v-card-text>
          <v-list>
            <v-list-item-group v-model="item" color="primary">

               <v-list-item @click="dialogPossettingsthisdevice = true">
                <v-list-item-icon>
                  <v-icon>mdi-cellphone-link</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >These Settings are only for this device
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-list-item @click="dialogPosAllow = true">
                <v-list-item-icon>
                  <v-icon>mdi-access-point-check</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Allow</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
               <v-list-item @click="dialogPosWeighing = true">
                <v-list-item-icon>
                  <v-icon>mdi-weight</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Weighing</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-list-item @click="dialogPosOthers = true">
                <v-list-item-icon>
                  <v-icon>mdi-cancel</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>Others</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>


            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-----------------------------------------Blockpos modal start here--------------------------------------------->
    <v-dialog
      v-model="dialogPosBlock"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="dialogPosBlock = false" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Block (POS - <v-icon style="padding-left:18px">mdi-cellphone-link</v-icon> )</v-toolbar-title
          >
          <v-spacer></v-spacer>
            <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text
          style="font-size: 12px !important;padding-left:6px;padding-right:0px;padding-bottom:30px;max-height:500px; overflow:scroll;overflow-x: hidden;"
        >
          <v-list style="adding-bottom: 50px !important;">
            <v-list-item-group v-model="item" color="primary" >
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Sales Return</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Item Price Change</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Credit Sale</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Sales Discount</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                 <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Sales Discount</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Item Wise Sales Discount</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                 <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Duplicate Bill</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Hold Bill</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Recall Hold Bill</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Clear Items</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Open Cash Drawer</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Item Quantity Change</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Item Search</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>

            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!-------------------------------------Block pos Modal ends here------------------------>



    <!--------------------------------------------POSAllow modal start here--------------------------------------------->
    <v-dialog
      v-model="dialogPosAllow"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="dialogPosAllow = false" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Allow(POS)</v-toolbar-title
          >
          <v-spacer></v-spacer>
            <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text
          style="font-size: 12px !important;padding-left:6px;padding-right:0px"
        >
          <v-list>
            <v-list-item-group v-model="item" color="primary">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Allow Remove Item</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Allow item measure unit changing</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Allow customer name in cash sales</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!---------------------------------------------PosAllow modal Ends here----------------------------------------->

       <!--------------------------------------------dialogPosWeighing modal start here--------------------------------------------->
    <v-dialog
      v-model="dialogPosWeighing"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="dialogPosWeighing = false" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Weighing(POS)</v-toolbar-title
          >
          <v-spacer></v-spacer>
            <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
        <v-card-text
          style="font-size: 12px !important;padding-left:6px;padding-right:0px"
        >
          <v-list>
            <v-list-item-group v-model="item" color="primary">
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Weighing scale item quantity always one</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Weighing scale amount includes tax</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
             <v-row>
            <v-col
              cols="12"
              style="padding-top: 20px;
    padding-bottom: 0px;padding-left: 28px;
    padding-right: 34px;"
            >
              <v-text-field
                label="Weighing scale barcode department code "
                dense
                outlined
                value="99"
              ></v-text-field>
            </v-col>
          </v-row>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!---------------------------------------------PosAllow modal Ends here----------------------------------------->
    <!-------------------------------------------PosOthers Modal Start here----------------------------------------------------->
    <v-dialog
      v-model="dialogPosOthers"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="dialogPosOthers = false" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Others(POS)</v-toolbar-title
          >
          <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text
          style="font-size: 12px !important;padding-left:6px;padding-right:0px;max-height:500px; overflow:scroll;overflow-x: hidden;"
        >
          <v-list>
            <v-list-item-group v-model="item" color="primary">
              <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Repeat item if same barcode</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Activate Whosale Sale
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch2" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
              <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Auto day open (if counter opening is after 4:00 am)
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Block Zero Quantity Sale
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >increase item quantity only if it is the last one the list
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Group Sold Items
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Print Counter Close Statement
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Activate Customer's Last Sale Rate
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Ask print language when saving invoice
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Swap Supervisor Password
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch3" inset color="#64DD17"></v-switch>
                </v-list-item-action>
               </v-list-item>
            </v-list-item-group>
          </v-list>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 6px;
    padding-bottom: 0px;padding-left: 23px;
    padding-right: 35px;"
            >
              <v-text-field
                label="Next hold number automatic series"
                dense
                outlined
                value="9165"
              ></v-text-field>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
          style="padding-top: 0px;
    padding-bottom: 0px;padding-left: 23px;
    padding-right: 35px;    margin-top: -12px;"
            >
              <v-text-field
                label="Hold Bill Count limit  "
                dense
                outlined
                value="-1"
              ></v-text-field>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
          style="padding-top: 0px;
    padding-bottom: 0px;padding-left: 23px;
    padding-right: 35px;    margin-top: -12px;"
            >
              <v-text-field
                label="Minimum Profit percent(-1 for no limit)  "
                dense
                outlined
                value="-1"
              ></v-text-field>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
          style="padding-top: 0px;
    padding-bottom: 0px;padding-left: 23px;
    padding-right: 35px;    margin-top: -12px;"
            >
              <v-text-field
                label="Maximum Discount limit %(-1 for no limit)  "
                dense
                outlined
                value="-1"
              ></v-text-field>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
          style="padding-top: 0px;
    padding-bottom: 0px;padding-left: 23px;
    padding-right: 35px;    margin-top: -12px;"
            >
              <v-text-field
                label="Round off decision starting value "
                dense
                outlined
                value="-1"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!----------------------------------------------posOthers Modal Ends Here----------------------------------------------------->


    <!-----------------------------------------------------------------dialogSaleAutomaticroudoff start here-------------------------->
    <v-dialog
      v-model="dialogPossettingsthisdevice"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon
            @click="dialogPossettingsthisdevice = false"
            style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >These Settings are only for this device</v-toolbar-title
          >
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-list>
            <v-list-item-group v-model="item" color="primary">
                <v-list-item @click="dialogPosBlock = true">
                <!-- <v-list-item-icon>
                  <v-icon>mdi-select-group</v-icon>
                </v-list-item-icon> -->
                <v-list-item-content>
                  <v-list-item-title>Block</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-list-item @click="dialogPosPrinter = true">
                <!-- <v-list-item-icon>
                  <v-icon>mdi-select-group</v-icon>
                </v-list-item-icon> -->
                <v-list-item-content>
                  <v-list-item-title>Printer Selection</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
              <v-list-item @click="dialogPossettingsthisdeviceother = true">
                <!-- <v-list-item-icon>
                  <v-icon>mdi-select-group</v-icon>
                </v-list-item-icon> -->
                <v-list-item-content>
                  <v-list-item-title>Others</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>

    <!-----------------------------------------------------------------dialogPossettingsthisdevice Ends here-------------------------->

    <!-----------------------------------------PossettingsthisPrinter------------------------------------------------------------------->

    <v-dialog
      v-model="dialogPosPrinter"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon
            @click="dialogPosPrinter = false"
            style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Printer(POS - <v-icon style="padding-left:18px">mdi-cellphone-link</v-icon> )</v-toolbar-title
          >
          <v-spacer></v-spacer>
             <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text style="padding-bottom:50px !important;max-height:500px; overflow:scroll;overflow-x: hidden;">
          <v-row>
            <v-col
              cols="12"
              style="padding-top: 22px;
    padding-bottom: 0px;"
            >
              <v-combobox
                label="Customer display port"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="MSR Port"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="Invoice Printer1"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="Printer1 Invoice Format"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="invoice Printer2"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="Printer2 Invoice Format"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-combobox
                label="MSR Port"
                outlined
                dense
              ></v-combobox>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-text-field
                label="Number of copies for hold bill"
                outlined
                dense
                value="1"
              ></v-text-field>
            </v-col>
          </v-row>
           <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 0px;margin-top: -11px;"
            >
              <v-text-field
                label="Number of copies for Counter Close"
                outlined
                dense
                value="1"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-list style="margin-top:-29px">
            <v-list-item-group v-model="item" color="primary">
              <v-list-item>
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Select Counter Close Printer
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>

          </v-list>

        </v-card-text>
      </v-card>
    </v-dialog>

    <!------------------------------------------------dialogposettingsthisdeviceprinter ends here-------------------------------------------------->
    <!-----------------------------------------possettingsthisdeviceother starts here------------------------------------------------------------------->
    <v-dialog
      v-model="dialogPossettingsthisdeviceother"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon
            @click="dialogPossettingsthisdeviceother = false"
            style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Others(POS - <v-icon style="padding-left:18px">mdi-cellphone-link</v-icon> )</v-toolbar-title
          >
          <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text @click="dialog = false"  color="primary"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>
           <v-list style="adding-bottom: 50px !important;">
            <v-list-item-group v-model="item" color="primary" >
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Print Item Name in Arabic also</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Prompt for printing hold bill</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
                <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Enter Sell Rate Including Tax</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
               <v-list-item>
                <v-list-item-content>
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Show Customer Display Screen</v-list-item-title
                  >
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="switch1" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>

            </v-list-item-group>
           </v-list>
          <v-row>
            <v-col
              cols="12"
              style="padding-top: 11px;
    padding-bottom: 0px;
    padding-right: 22px;
    padding-left: 22px;"
            >
              <v-text-field
                label="Customer Display Screen No"
                value="1"
                outlined
                dense
              ></v-text-field>
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
  <!-- pc view starts here -->

  <!-- ****************************************************************************************** -->
</template>
<script>
import Vue from "vue";
// import Filtermenu from '../../components/demo/Filter'
import { mapMutations, mapState } from "vuex";
import axios from "axios";
import de from "../../translations/de";
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import DayEndCheck from "../../mixins/DayEndCheck";
Vue.component("vu-select", vSelect);
export default {
  components: { vSelect },
  data() {
    return {
      switch1: true,
      dialogPosBlock: false,
      dialogPosOthers: false,
      dialogPosPrinter: false,
      dialogPossettingsthisdeviceother: false,
      dialogPos: true,
      dialogPosAllow:false,
      dialogPosWeighing:false,
      dialogPossettingsthisdevice:false,
      item: 1,
      isLoading: false,
      Loaderdialog: true,
      row: "radio-1",
      scroll: null,
      BranchCodeOptions: JSON.parse(localStorage.getItem("Branches")),
      IsDisableBranch : false,
      LedgerObject: localStorage.getItem("LedgerObject")
        ? JSON.parse(localStorage.getItem("LedgerObject"))
        : [],
      Ledgersearch: "",
      right: false,
      GroupNameOptions: [],
      StatusOptions: ["Inactive Ledgers", "Active Ledgers", "All Ledgers"],
      vm: [],
      Branch: "",
      TotalLedger: 0,
      TotalAmount: 0,
      DecimalPlaces: localStorage.getItem("DecimalPlaces"),
      NoContent: true,
      IsMultiBarnch: false,
      error: false,
      ErrorMessege: "",

      Token: window.localStorage.getItem("Token"),
      bURL: "",
      AppName: localStorage.getItem("GetAppName"),
      IsEAGApp: false,
      IsEAIApp: false,
      showhide: true,
      IsShowSubgroup: true
    };
  },
  mixins: [DayEndCheck],
  computed: {
    resultQuery() {
      this.LedgersNew = [];
      if (this.Ledgersearch !== undefined) {
        this.LedgersNew = this.LedgerObject.filter(post => {
          return post.LedgerName.toString()
            .toLowerCase()
            .includes(
              this.Ledgersearch.toLowerCase()
            ); /* ||
        post.LedgerName.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.CustCode.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.ContactPerson.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.Location.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
         post.Address.toString().toLowerCase().includes(this.Ledgersearch.toLowerCase()) ||
        post.Mobile.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase()) ||
        post.Phone.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase())||
        post.TaxRegNo.toString().toLowerCase().includes(this.Ledgersearch.toString().toLowerCase()); */
        });
        if (this.LedgersNew.length > 100) {
          this.LedgersNewReturn = [];
          for (this.i = 0; this.i < 100; this.i++) {
            this.LedgersNewReturn.push(this.LedgersNew[this.i]);
          }
          return this.LedgersNewReturn;
        } else {
          return this.LedgersNew;
        }
      } else {
        if (this.LedgerObject.length > 100) {
          this.LedgersNewReturn = [];
          for (this.i = 0; this.i < 100; this.i++) {
            this.LedgersNewReturn.push(this.Ledgers[this.i]);
          }
          return this.LedgersNewReturn;
        } else {
          return this.LedgerObject;
        }
      }
    }
  },
  mounted() {
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
      history.go(1);
    };
    this.checkUrl();
    if (this.Token === "" || this.Token === null || this.Token === undefined) {
      localStorage.setItem("IsReload", true);
      this.$router.push("/auth/signin");
    }
    if (this.AppName === "EAI") this.IsEAIApp = true;
    else if (this.AppName === "EAG") this.IsEAGApp = true;
    localStorage.setItem("PreviousPage", "POSVoucherSettings");
    localStorage.setItem("ActivePage", "POSVoucherSettings");
    localStorage.setItem('ActiveRoute','/dashboard/masters/POSVoucherSettings')
    localStorage.removeItem("VoucherUpdated");

    this.GetLedgers();
    this.GetLedgerGroups();
    this.vm.LedgerStatus = "Active Ledgers";
    this.vm.Recursive = false;
    this.BasicSettings();

    if (this.LedgerObject.length === 0) {
      this.NoContent = true;
    } else {
      this.NoContent = false;
    }
    window.onscroll = function() {
      if (window.innerHeight + window.scrollY > document.body.clientHeight) {
      }
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    voucherssettings()
    {
this.$router.push('/dashboard/masters/VoucherSettings')
    },
    GetSalesModal(user) {
      if (user == "Sales") {
        this.dialogsales = true;
      } else {
        return;
      }
    },
    checkUrl() {
      if (localStorage.getItem("CompanyURL") !== null) {
        this.bURL = localStorage.getItem("CompanyURL") + "/api/";
        this.bURLPrint = localStorage.getItem("CompanyURL");
        this.logo = localStorage.getItem("Companylogo");
      }
    },
    handleScroll(e) {
      if (e.target.scrollHeight - 300 <= 0) {
      }
      // alert("aa")
      // Any code to be executed when the window is scrolled
      //  this.scroll =  || window.scrollTop
      if (window.scrollY) {
        this.scroll = false;
        //  document.getElementById('N_fixedBottom').style.display='none';
      } else {
        this.scroll = true;
        //  document.getElementById('N_fixedBottom').style.display='block';
      }
    },
    BasicSettings() {
      this.BranchCode = localStorage.getItem("BranchCode");
      if (this.BranchCode !== "#" || this.BranchCode !== "")
        this.vm.BranchCode = this.BranchCode;
      else this.vm.BranchCode = "All";
      this.BarnchLength = this.BranchCodeOptions.length;
      if (this.BarnchLength > 1) this.IsMultiBarnch = true;

      this.LedgerStatus = "Active Ledgers";
    },

    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },
    GetLedgers() {
      this.LedgerObject = [];
      this.UserType = localStorage.getItem("UserType");
      this.Loaderdialog = true;
      axios
        .get(
          this.bURL +
            "Ledger/GetLedgersBy?GroupName=All&Recursive=true&IsWithGlobal=true&BranchCode=All&UserRole=" +
            this.UserType +
            "&IsActive=1"
        )
        .then(
          response => {
            this.LedgerObject = response.data;
            this.Loaderdialog = false;
          },
          error => {
            console.log(error);
          }
        );
    },
    SearchLedgers() {
      this.LedgerObject = [];
      this.UserType = localStorage.getItem("UserType");
      if (this.LedgerStatus === "Inactive Ledgers") {
        this.Status = 0;
      } else if (this.LedgerStatus === "Active Ledgers") {
        this.Status = 1;
      } else if (this.LedgerStatus === "All Ledgers") {
        this.Status = 2;
      }
      this.GroupName = this.GroupName ? this.GroupName : "All";

      this.Loaderdialog = true;
      axios
        .get(
          this.bURL +
            "Ledger/GetLedgersBy?GroupName=" +
            this.GroupName +
            "&Recursive=true&IsWithGlobal=true&BranchCode=All&UserRole=" +
            this.UserType +
            "&IsActive=" +
            this.Status
        )
        .then(
          response => {
            this.LedgerObject = response.data;
            this.Loaderdialog = false;
            this.right = false;
          },
          error => {
            console.log(error);
          }
        );
    },
    FormatewithDecimalPlaces(value) {
      return value.toFixed(this.DecimalPlaces);
    },
    GetTotalLedger(LedgerObject) {
      this.TotalAmount = 0;
      this.TotalLedger = LedgerObject.length;
      for (this.i = 0; this.i < LedgerObject.length; this.i++) {
        this.TotalAmount += LedgerObject[this.i].Amount;
      }
      this.TotalAmount = this.FormatewithDecimalPlaces(this.TotalAmount);
    },
    scrollFunction() {
      let top =
        document.documentElement.scrollTop ||
        document.body.scrollTop ||
        window.pageYOffset;
      if (top > 10) {
        this.showhide = false;
      } else {
        this.showhide = true;
      }
    },
    GetsWithComma(values) {
      values = values.join("~");

      return values;
    },
    EditLedger(LedgerName) {
      localStorage.setItem("LedgerName", LedgerName);
      this.$router.push("/dashboard/masters/ledger");
    },
    OpenLedgerProfile() {
      localStorage.removeItem("LedgerName");
      this.$router.push("/dashboard/masters/ledger");
    },
    GetLedgerStmnt(LedgerName) {
      localStorage.removeItem("LedgerRegHolding");
      localStorage.removeItem("LedgerVoucherType");
      localStorage.removeItem("LedgerbCode");
      localStorage.removeItem("LedgerDateFrom");
      localStorage.removeItem("LedgerDateTo");
      localStorage.setItem("LedgerStmntName", LedgerName);
      this.$router.push("/dashboard/registers/LedgerStatement");
    },
    GetLedgerGroups() {
      axios.get(this.bURL + "Ledger/GetLedgerGroupNames").then(
        response => {
          this.GroupNameOptions = response.data;
        },
        error => {
          console.log(error);
        }
      );
    }
  }
};
</script>
<style lang="scss" scoped>
.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px;
}

.container.fill-height {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 7px i !important;
}
.drawer-button {
  position: fixed;
  top: 145px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #ee44aa;

  .v-icon {
    margin-left: -18px;
    font-size: 1.3rem;
  }
}

.drawer-button2 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-left: 300px;
}
.drawer-button1 {
  position: fixed;
  top: 115px;
  right: -20px;
  z-index: 6;
  box-shadow: 1px 1px 18px #00355e;
  margin-right: 100px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .drawer-button2 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-left: 196px;
  }
  .drawer-button1 {
    position: fixed;
    top: 125px;
    right: -20px;
    z-index: 6;
    box-shadow: 1px 1px 18px #00355e;
    margin-right: 249px;
  }
}
.v-icon {
  margin-left: -18px;
  font-size: 1.3rem;
}
.nav-tabs .nav-link.active {
  color: rgb(0 150 199);
}
.nav-tabs .nav-link {
  color: #ffffff;
}
.container fill-height container--fluid {
  padding-top: 1px;
}
.errMsg {
  color: red;
  font-weight: 500;
}
.no-p {
  padding-bottom: 7px !important;
  padding-top: 0px !important;
  padding-right: 1px;
}
</style>
