<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" :disabled="false">
    <v-dialog persistent content-class="innerExPan" v-model="Loaderdialog">
      <v-row no-gutters>
        <v-col cols="12" sm="12" style="text-align:center">
          <img src="/images/dash/loading.svg" />
        </v-col>
      </v-row>
    </v-dialog>
    <!-- <div v-show="showhide"  class="total" >
          <v-row>
            <v-col cols="6"  class="prefe" style="padding-top:0px">
              <h4 style="color:rgb(238, 68, 170);font-size: 25px;"  >  {{ $t(`menu.Preferences`) }}</h4>
            </v-col>
     <v-col
        cols="6"
        sm="6"
        class="print"
        style="padding-top: 0px;"

      >
      <div>
      <v-btn small color="#FFF" style="box-shadow: 1px 1px 18px #00355E; " @click="SavePrinter">
        <span style="color:rgb(0, 53, 94);font-size: 18px;" >
        <v-icon style="font-size: 18px;">fas fa-save</v-icon></span>&nbsp;&nbsp;&nbsp;<span style="color:rgb(0, 53, 94);font-size: 18px;padding-left:5px;padding-top: 4px;">
       {{ $t(`common.save`) }}</span>
      </v-btn>
          <span>
                <v-btn
                @click="SavePrinter"
                  color="rgb(0, 53, 94)"
                  fab
                  small
                  dark

                >
                  <v-icon>save</v-icon>
                </v-btn>
              </span>
      </div>
     </v-col>
    </v-row>
      </div> -->
   <v-card style="margin-bottom:20px;margin-top: -12px;">
    <v-toolbar color="FFF">
          <!-- <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          > -->
          <v-toolbar-title
            style="
    font-weight: 600;padding-left:10px;color:rgb(238, 68, 170);font-size: 18px;"
            >{{ $t(`menu.Preferences`) }}</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary" @click="SavePreference()"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items>

        </v-toolbar>
     <div 
            no-gutters
            style=" font-size: 10px;padding: 2px;  overflow:scroll;overflow-x: hidden;min-height: 470px;">
        <v-sheet  style="padding-top:1px !important;padding-bottom:8px !important;padding-left:20px !important;padding-right:20px !important">

        <div class="font-weight-bold my-1">{{ $t(`menu.Language`) }}</div>

                  <toolbar-language />



    </v-sheet>

      <v-divider></v-divider>
        <v-sheet  style="padding-top:1px !important;padding-bottom:1px !important;padding-left:20px !important;padding-right:20px !important">
    <h3 class="text-left" style="font-size: 16px; !important;">{{ $t(`menu.PrintFormat`) }}</h3>
 <v-row>
      <v-col cols="12" style="padding-top:0px !important;padding-bottom:0px!important;margin-bottom: -14px;">

 <v-select
      :items="printformats"
      v-model="printformat"
      name="category"
      v-validate="'required'"
      item-text="name"
      :label="$t(`menu.SelectPrintFormat`)"
      style="padding-top:.8em;"
      @change="SetPrintformatLocal($event)"
      />

        </v-col>
    </v-row>
    </v-sheet>

  <v-divider></v-divider>
        <v-sheet  style="padding-top:0px !important;padding-bottom:0px !important;padding-left:20px !important;padding-right:20px !important;    margin-bottom: -6px;">

        <div class="font-weight-bold my-1">{{ $t(`menu.Theme`) }}</div>
        <v-btn-toggle v-model="theme" color="primary" mandatory class="mb-2">
          <v-btn x-large>{{ $t(`menu.Light`) }}</v-btn>
          <v-btn x-large>{{ $t(`menu.Dark`) }}</v-btn>
        </v-btn-toggle>


    </v-sheet>



    <!-- <v-row>
      <v-col cols="12" style="text-align:right;padding-top:21px !important;padding-right:39px!important">
<button  class="btn btn-success btn-sm pull-right" style=" width:80px; height:30px;width:60px;color:#FFF" @click="Save">Save</button>
      </v-col>
    </v-row> -->

  <v-divider></v-divider>
        <v-sheet  style="padding-top:1px !important;padding-bottom:1px !important;padding-left:20px !important;padding-right:20px !important">
  <div class="font-weight-bold my-1">Online / Offline</div>
     <v-list >
            <v-list-item-group v-model="item" color="primary" mandatory style="border-top-right-radius: 19px !important">

                <v-list-item @click="dialogSalesOnlineOffline = true">
                <v-list-item-content color="primary" >
                  <v-list-item-title color="primary" style="font-weight:700">Sales</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-sheet>
        <v-divider></v-divider>
        <v-sheet  style="padding-top:5px !important;padding-bottom:1px !important;padding-left:20px !important;padding-right:20px !important">
    <!-- <h3 class="text-left" style="font-size: 16px; !important;">Price level</h3> -->
 <v-row>
      <v-col cols="12" style="padding-top:0px !important;padding-bottom:0px!important;margin-bottom: -14px;">

        <v-list >
            <v-list-item-group v-model="item" color="primary" mandatory style="border-top-right-radius: 19px !important">

                <v-list-item @click="OpenPriceLevel()">
                <v-list-item-content color="primary" >
                  <v-list-item-title color="primary" style="font-weight:700">Price Level</v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-btn icon>
                    <v-icon color="grey lighten-1">mdi-chevron-right</v-icon>
                  </v-btn>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
       
        </v-col>
    </v-row>
    </v-sheet>
  </div>
    </v-card>
     <!-- <v-card
class="footer"
  >

    <v-row>
     <v-col
        cols="12"
        <span style="color:rgb(0, 53, 94);font-size: 18px;padding-left:5px" >
        <v-icon style="font-size: 18px;">fas fa-save</v-icon></span>&nbsp;&nbsp;&nbsp;<span style="color:rgb(0, 53, 94);font-size: 18px;padding-left:5px;padding-top: 4px;">{{ $t(`common.save`) }}</span>
      </v-btn>

     </v-col>
    </v-row>

  </v-card> -->
<!-- <v-card>
  <div class="pa-2">
        <div class="font-weight-bold my-1">Theme</div>
        <v-btn-toggle v-model="theme" color="primary" mandatory class="mb-2">
          <v-btn x-large>Light</v-btn>
          <v-btn x-large>Dark</v-btn>
        </v-btn-toggle>
  </div>
  </v-card> -->
   <!--------------------------------------------------dialogSalesOnlineOffline settings Starts----------------------------------------------->
    <v-dialog
      v-model="dialogSalesOnlineOffline"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
      style="border-radius: 0px !important;z-index: 1000000;"
    >
      <v-card style="border-radius: 0px !important;">
        <v-toolbar color="FFF">
          <v-icon @click="dialogSalesOnlineOffline = false" style="padding-left:0px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title

    style="font-size: 17px;
    font-weight: 500;padding-left:10px;font-family: Times New Roman, Times, serif;"
            >Online/Offline(Sales)</v-toolbar-title
          >
          <v-spacer></v-spacer>

    <v-toolbar-items>
          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>


          <v-list
            style="margin-top:0px;margin-right: -20px;
    margin-left: -8px;"
          >
            <v-list-item-group v-model="item"  class="titlefont">
              <v-list-item color="primary">
                <v-list-item-content style="margin-left: -7px;">
                  <v-list-item-title
                    style="min-width:100px !important;
    white-space: normal"
                    >Offline
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-action>
                  <v-switch v-model="IsSalesOffLine" @change="SetSalesOffLine()" inset color="#64DD17"></v-switch>
                </v-list-item-action>
              </v-list-item>
            </v-list-item-group>
          </v-list>
          <v-row v-if="IsSalesOffLine" style="padding-top:10px">
            <v-col cols="3" style="padding-top:0px;padding-bottom:0px">
              <v-text-field dense label="Prefix" v-model="SalesOfflinePrefix" @change="SetSalesReferNo()"></v-text-field>
            </v-col>
            <v-col cols="6" style="padding-top:0px;padding-bottom:0px">
              <v-text-field dense type="number" label="Invoice No" v-model="SalesOfflineNextNo" @change="SetSalesReferNo()"></v-text-field>
            </v-col>
            <v-col cols="3" style="padding-top:0px;padding-bottom:0px">
              <v-text-field dense label="Suffix" v-model="SalesOfflineSuffix" @change="SetSalesReferNo()"></v-text-field>
            </v-col>
          </v-row>
          <v-row>
           <v-col
              cols="12"
              md="12"
              lg="12"
              style="text-align:center;padding-bottom: 12px;padding-top:12px"
              v-if="IsSalesOffLine"
            >
              <v-btn
              block
                style="background-color:#546E7A;color:#FFF;"
                @click="UpdateStock()"
                dark
              >
                Update Stock <v-icon style="padding-left:8px">mdi-update</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              style="padding-top: 0px;
    padding-bottom: 14px;margin-top: -10px;"
            >
              <v-divider></v-divider>
            </v-col>
          </v-row>

        </v-card-text>
      </v-card>
    </v-dialog>

    <!-------------------------------------------------- dialogSalesOnlineOffline Ends----------------------------------------------->
 <!-- ------------------------------------------------- CommonModal Start Here------------------------------------------------------- -->
    <v-dialog
      v-model="CommonModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(238,68,170)"> </v-card-title>
        <v-card-text>
          <label>upload your offline sales first, then update stock</label>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            text
            @click="CommonModal = false"
            style="background-color:#2E7D32;color:#FFF"
          >
            {{ $t(`dashboard.ok`) }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- ------------------------------------------------- CommonModal Ends Here------------------------------------------------------- -->
    <v-dialog
      v-model="PasswordModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145)"> </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-text-field
               
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="rules"
                :type="showPassword ? 'text' : 'password'"
                :error="errorPassword"
                :error-messages="errorPasswordMessage"
                :label="$t('register.password')"
                name="password"
                outlined
                ref="password"
                @click:append="showPassword = !showPassword"
               
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="slno"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                text
                @click="PasswordModal = false"
                style="background-color:#FB8C00;color:#FFF"
                small
              >
                {{ $t(`common.cancel`) }}
              </v-btn>
            </v-col>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="plusbutton123"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                :loading="isLoading"
                small
                @click="CheckPassword()"
                style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
              >
                {{ $t(`dashboard.ok`) }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
       
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="PricelevelModal"
      max-width="400px"
      style="z-index: 100000!important;"
    >
      <v-card>
        <v-card-title style="color:rgb(0 99 145)"> </v-card-title>
        <v-card-text>
          <v-row>
            <v-col
              cols="12"
              sm="12"
              md="12"
              style="padding-top:10px;padding-bottom:0px;"
            >

 <v-select
      :items="PriceLevelOptions"
      v-model="localItemPriceLevel"
      
      label="Price level"
      style="padding-top:.8em;"
    
      />

        </v-col>
    </v-row>
       
          <v-row>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="slno"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                text
                @click="PricelevelModal = false"
                style="background-color:#FB8C00;color:#FFF"
                small
              >
                {{ $t(`common.cancel`) }}
              </v-btn>
            </v-col>
            <v-col
              cols="6"
              sm="6"
              md="6"
              class="plusbutton123"
              style="padding-top:10px;padding-bottom:0px;"
            >
              <v-btn
                :loading="isLoading"
                small
                @click="SetPriceLevel"
                style="background-color:#2E7D32;color:#FFF;min-width: 60px !important;"
              >
                {{ $t(`dashboard.ok`) }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
       
      </v-card>
    </v-dialog>

  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import axios from 'axios'
import DayEndCheck from "../../mixins/DayEndCheck";
import { mapMutations, mapState } from 'vuex'
import ToolbarLanguage from '../../components/toolbar/ToolbarLanguage'
export default {
    components: {
    ToolbarLanguage,
  },

   data: () => ({

    localItemPriceLevel:window.localStorage.getItem('localItemPriceLevel')?window.localStorage.getItem('localItemPriceLevel'):"",
      PriceLevelOptions: [
        "Always ask",
        "Retail rate",
        "Whole sale rate",
        "Last sale rate",
        "Customers last sale rate",
        "Retail and Wholesale"
      ],
       showhide:true,
           snackbar: false,
           rules: {
        required: (value) => (value && Boolean(value)) || 'Required'
      },
      errorPassword:'',
      errorPasswordMessage:"",
           PasswordModal:false,
           PricelevelModal:false,
    SnackbarMessege: '',
    timeout: 1000000,
     theme: localStorage.getItem('GlobalTheme')?parseInt(localStorage.getItem('GlobalTheme')):0,
      toolbarTheme: 0,
      toolbarStyle: 0,
      contentBoxed: 0,
      menuTheme: 0,
      Token : window.localStorage.getItem('Token'),

      color: '#0096c7',
      swatches: [
        ['#0096c7', '#31944f'],
        ['#EE4f12', '#46BBB1'],
        ['#ee44aa', '#55BB46']
      ],



      // timezones
      availableTimezones: ['America/Los_Angeles', 'America/New_York', 'Europe/London', 'Asia/Tokyo', 'Australia/Sydney'],

      // time formats
      availableFormats: [{
        label: '07/31/2020',
        format: 'L'
      }, {
        label: 'Jul 31, 2020',
        format: 'll'
      }, {
        label: '20200731',
        format: 'YYYYMMDD'
      }],
        //Sales Offline
      dialogSalesOnlineOffline:false,
      IsSalesOffLine :false,
      SalesOfflinePrefix : '',
      SalesOfflineNextNo : '',
      SalesOfflineSuffix : '',
      SalesReferNoContent:{
        Prefix : '',
        NextNo : '',
        Suffix : ''
      },
      CommonModal : false,
      Latitude : '',
      Longitude : '',
      Loaderdialog:false,



   }),
   mixins: [DayEndCheck],
    computed: {
    ...mapState('app', ['time', 'currency', 'availableCurrencies'])


  },
   mounted()
   {
    //this.GettCurrentLocation()
    if (this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
      this.animate()
      localStorage.setItem('ActivePage','Preferences')
      localStorage.setItem('ActiveRoute','/dashboard/preference')
      localStorage.removeItem('VoucherUpdated')
      this.setGlobalTheme((this.theme === 0 ? 'light' : 'dark'))

       this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
      if(this.IsSalesOffLine === null || this.IsSalesOffLin === 'null')
      {
        localStorage.setItem('IsSalesOffLine','false')
        this.IsSalesOffLine = false
      }
      if(this.IsSalesOffLine === 'true')
      {
         this.IsSalesOffLine = true
      }
      else{
        this.IsSalesOffLine = false
      }

       this.SalesReferNoContent = localStorage.getItem('SalesReferNoContent')
      if(this.SalesReferNoContent !== null )
      {
        this.SalesReferNoContent = JSON.parse(this.SalesReferNoContent)
        this.SalesOfflinePrefix = this.SalesReferNoContent.Prefix
        this.SalesOfflineNextNo = this.SalesReferNoContent.NextNo
        this.SalesOfflineSuffix  = this.SalesReferNoContent.Suffix
      }
      else{
        this.SalesReferNoContent=
        {
        Prefix : '',
        NextNo : '',
        Suffix : '',
        }
      }


   },

  watch: {
    color(val) {
      const { isDark } = this.$vuetify.theme

      this.$vuetify.theme.themes.dark.primary = val
      this.$vuetify.theme.themes.light.primary = val
    },
    theme(val) {
      localStorage.setItem('GlobalTheme',val)
      this.setGlobalTheme((val === 0 ? 'light' : 'dark'))
    },
    toolbarTheme(val) {
      const theme = val === 0 ? 'global' : (val === 1 ? 'light' : 'dark')

      this.setToolbarTheme(theme)
    },
    toolbarStyle(val) {
      this.setToolbarDetached(val === 1)
    },
    menuTheme(val) {
      const theme = val === 0 ? 'global' : (val === 1 ? 'light' : 'dark')

      this.setMenuTheme(theme)
    },
    contentBoxed(val) {
      this.setContentBoxed(val === 1)
    },
    rtl(val) {
      this.setRTL(val)
    }
  },

  beforeDestroy() {
    if (this.timeout) clearTimeout(this.timeout)
  },
    methods: {

   ...mapMutations('app', ['setMenuTheme', 'setGlobalTheme', 'setToolbarTheme', 'setContentBoxed', 'setTimeZone', 'setTimeFormat', 'setCurrency', 'setRTL', 'setToolbarDetached']),
    setTheme() {
      this.$vuetify.theme.dark = this.theme === 'dark'
    },
    animate() {
      if (this.timeout) clearTimeout(this.timeout)

      const time = (Math.floor(Math.random() * 10 + 1) + 10) * 1000

      this.timeout = setTimeout(() => {
        this.$animate(this.$refs.button.$el, 'bounce')
        this.animate()
      }, time)
    },

       scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
       SavePrinter(){
             localStorage.setItem("Printer",this.printer);
             localStorage.setItem("Papersize",this.printformat);
             this.SnackbarMessege = "Saved"
             this.snackbar = true

         },
    SetSalesOffLine()
    {
       localStorage.setItem('IsSalesOffLine',this.IsSalesOffLine)
       if(this.IsSalesOffLine === true)
          this.SelectAllAlternateUnits()
    },
    SetSalesReferNo()
    {
      this.SalesReferNoContent =
      {
        Prefix : this.SalesOfflinePrefix,
        NextNo : this.SalesOfflineNextNo,
        Suffix : this.SalesOfflineSuffix
      }
      localStorage.setItem('SalesReferNoContent',JSON.stringify(this.SalesReferNoContent))
    },

 SelectAllAlternateUnits(isValidate) {
          this.Loaderdialog = true
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
      this.IsSalesOffLine =  localStorage.getItem('IsSalesOffLine')
      if(this.IsSalesOffLine === 'true' || this.IsSalesOffLine === true)
      {
      this.userType = window.localStorage.getItem("UserType");
   this.bURL = localStorage.getItem("CompanyURL") + "/api/";
    axios
      .get(
        this.bURL + "item/SelectAllAlternateUnits/"
      )
      .then(
        response => {
             localStorage.setItem('AllAlternateUnits',JSON.stringify(response.data))
             this.LinkedGodowns = JSON.parse(localStorage.getItem("LinkedGodowns"))
             this.GodownStockList = JSON.parse(localStorage.getItem("GodownStockList"))
             this.res = this.GetsWithComma(this.LinkedGodowns)

              this.SalesOffLineList = localStorage.getItem('SalesOffLineList')
            if(this.SalesOffLineList !== null)
            {
                this.SalesOffLineList = JSON.parse(this.SalesOffLineList)
            }
            else{
              this.SalesOffLineList = []
            }
            this.IsUploaded = true
            for(this.i = 0;this.i<this.SalesOffLineList.length;this.i++)
            {
              if(this.SalesOffLineList[this.i].IsUploaded === false)
              {
                  this.IsUploaded = false
                  break
              }
            }
            if(this.IsUploaded === true)
            {
               this.GetGodownStockList(this.res)
            }
            else{
              if(isValidate === true)
              {
                 this.CommonModal = true
              }
              this.Loaderdialog = false
            }

      },
       (error)  =>  {
        this.Loaderdialog = false
        this.error = false
        if(error.response === undefined)
        {
          this.SnackbarMessege = "Check your internet connection,then try again!"
        }
        else if(error.response.data !=="")
        {
          this.SnackbarMessege = "Failed"
        }
         else if(error.response.status  === 401)
        {
           this.GlobalPasswordModal = true
        }
         else{
           this.SnackbarMessege = "Check your internet connection,then try again!"
         }
        this.snackbar = true
      })
    }
    else{
      this.Loaderdialog = true
    }

  },

  GetGodownStockList(Godown) {
    this.bURL = localStorage.getItem("CompanyURL")+"/api/";
    this.Loaderdialog = true;
    this.AsOnDate = new Date().toISOString().substr(0, 10);
    axios
      .get(
        this.bURL +
          "Godown/SelectGodownStockItemwiseListMinimal?Godowns=" +
          Godown +
          "&AsOnDate=1899-01-01T00:00:00"
      )
      .then(
        response => {
          
          if (response.data.length > 0) {

            this.list = []
            if (response.data.length > 0) {
              localStorage.setItem('GodownStockList',JSON.stringify(response.data))
            }
            else
            {
              localStorage.setItem('GodownStockList',JSON.stringify(this.list))
            }
            this.GetCustomersDetailed()
          }

          this.SnackbarMessege = "Updated"
          this.snackbar = true

        },
        (error)  =>  {
         this.Loaderdialog = false
        this.error = false
        if(error.response === undefined)
        {
          this.SnackbarMessege = "Check your internet connection,then try again!"
        }
        else if(error.response.data !=="")
        {
          this.SnackbarMessege = "Failed"
        }
         else if(error.response.status  === 401)
        {
           this.GlobalPasswordModal = true
        }
         else{
           this.SnackbarMessege = "Check your internet connection,then try again!"
         }
        this.snackbar = true
      })

  },

   GetCustomersDetailed()
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/"
      this.Salesperson = window.localStorage.getItem('user');
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
     this.salePerson = localStorage.getItem('salePerson')
       if(this.Settings.IsRouteMandatory === 'True' )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
      this.DateFrom =  '1899-01-01T00:00:00'
      this.DateTo = new Date().toISOString().substr(0, 10)
      axios.get(this.bURL + 'Customer/LoadLinkedCustomersDetailed?&RouteID='+this.RouteID +"&DateFrom=" + this.DateFrom + "&DateTo=" +this.DateTo)
        .then((response)  =>  {
          this.Loaderdialog = false
          localStorage.setItem('CustomerObject', JSON.stringify(response.data))
          
        }, (error)  =>  {
          console.log(error)
        })
    },
     GettCurrentLocation()
      {
         this.IsGPSOn = window.interface.getGpsDetails();
                 if(this.IsGPSOn === true || this.IsGPSOn === "true")
                 {
                    alert("Location is on")
                 }
                 else
                 {
                  alert("Location is off")
                 }
       /*  this.IsNativeApp = localStorage.getItem(
                "IsNativeApp"
              );
              if (this.IsNativeApp === "true" || this.IsNativeApp === true) {
                 var IsGPSOn = window.interface.getGpsDetails();
                 if(IsGPSOn === true || IsGPSOn === "true")
                 {
                    alert("Location is on")
                 }
              }
              else{

          navigator.geolocation.getCurrentPosition(
          position => {
            this.Latitude = position.coords.latitude;
            this.Longitude = position.coords.longitude;
            this.CommonModal = true
          },
          error => {
            this.Latitude = "No Lacation"
            this.Longitude = "No Lacation"
            this.CommonModal = true
            console.log(error.message);
          }
        );
              }*/
      },
      UpdateStock()
      {
        this.SelectAllAlternateUnits(true)
      },
       GetsWithComma(values) {
      values = values.join("~");

      return values;
    },
    SetPrintformatLocal(printformat)
    {
      localStorage.setItem('Papersize',printformat)
    },
    SavePreference()
    {
      this.SnackbarMessege = "Saved"
      this.snackbar = true
    },
    OpenPriceLevel()
    {
      this.Settings = JSON.parse(localStorage.getItem('Settings'))
      this.RouteDayEndAuthenticator = this.Settings.RouteDayEndAuthenticator;
      if (
        this.RouteDayEndAuthenticator !== "Nothing" && this.RouteDayEndAuthenticator !== "" &&
        this.IsVerifyDayEndPassword != "true"
      ) {
        this.PasswordModal = true;
      }
      else
      { 
        this.PricelevelModal=true
      }

    },

    CheckPassword() {
      this.PasswordData = {
        Username: localStorage.getItem("user"),
        Password: this.password,
        VersionCode: 2
      };
      this.urlDayEnd = ""
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      if(this.userType === 'Administrator')
      {
        this.urlDayEnd = "user/authenticate?IsBlockMultipleLogin=false&IsCreateToken=false"
      }
      else{
        this.urlDayEnd = "user/AuthenticateDayEndUser"
      }
      this.isLoadingPasswod = true;
      axios
        .post(this.bURL + this.urlDayEnd, this.PasswordData)
        .then(
          response => {
            this.PasswordModal  = false
            this.PricelevelModal = true
          },
          error => {
            this.isLoadingPasswod = false;
            this.SnackbarMessege = this.$t(`menu.Invalidusernameorpassword`);
            this.snackbar = true;
            
          }
        );
    },
    SetPriceLevel()
    {   
        this.PricelevelModal = false
        localStorage.setItem('localItemPriceLevel',this.localItemPriceLevel)
        this.SnackbarMessege = "Success"
        this.snackbar = true
    },
    }
}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
<style>
.v-application--is-rtl .print {
    direction: rtl;
    text-align: left;
}
.v-application--is-ltr .print {

text-align:right;
}
.v-application--is-rtl .prefe {
    direction: rtl;
    text-align: right;

}
.v-application--is-ltr .prefe {

text-align:left;

}

</style>
