<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" >
   <div v-show="false">
        <v-sheet  style="padding-top:16px !important;padding-bottom:10px !important;padding-left:20px !important;padding-right:20px !important">

        <div class="font-weight-bold my-1">Theme</div>
        <v-btn-toggle v-model="theme" color="primary" mandatory class="mb-2">
          <v-btn x-large>Light</v-btn>
          <v-btn x-large>Dark</v-btn>
        </v-btn-toggle>


    </v-sheet>
   </div>

    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {

   data: () => ({
      printformat:window.localStorage.getItem('Papersize'),
      printformats: ['Wifi A4','Bluetooth 80MM', 'Bluetooth 110MM','Inner Printer'],
       showhide:true,
           snackbar: false,
    SnackbarMessege: 'Saved',
    timeout: 2000,
     theme: localStorage.getItem('GlobalTheme')?parseInt(localStorage.getItem('GlobalTheme')):0,
      toolbarTheme: 0,
      toolbarStyle: 0,
      contentBoxed: 0,
      menuTheme: 0,

      color: '#0096c7',
      swatches: [
        ['#0096c7', '#31944f'],
        ['#EE4f12', '#46BBB1'],
        ['#ee44aa', '#55BB46']
      ],



      // timezones
      availableTimezones: ['America/Los_Angeles', 'America/New_York', 'Europe/London', 'Asia/Tokyo', 'Australia/Sydney'],

      // time formats
      availableFormats: [{
        label: '07/31/2020',
        format: 'L'
      }, {
        label: 'Jul 31, 2020',
        format: 'll'
      }, {
        label: '20200731',
        format: 'YYYYMMDD'
      }]

   }),
   mixins: [DayEndCheck],
    computed: {
    ...mapState('app', ['time', 'currency', 'availableCurrencies'])
  },
   mounted()
   {
      this.animate()
      localStorage.setItem('ActivePage','PreferencesGlobal')
       localStorage.setItem('ActiveRoute','/dashboard/preference')
      localStorage.removeItem('VoucherUpdated')
      this.setGlobalTheme((this.theme === 0 ? 'light' : 'dark'))
   },

  watch: {
    color(val) {
      const { isDark } = this.$vuetify.theme

      this.$vuetify.theme.themes.dark.primary = val
      this.$vuetify.theme.themes.light.primary = val
    },
    theme(val) {
      localStorage.setItem('GlobalTheme',val)
      this.setGlobalTheme((val === 0 ? 'light' : 'dark'))
    },
    toolbarTheme(val) {
      const theme = val === 0 ? 'global' : (val === 1 ? 'light' : 'dark')

      this.setToolbarTheme(theme)
    },
    toolbarStyle(val) {
      this.setToolbarDetached(val === 1)
    },
    menuTheme(val) {
      const theme = val === 0 ? 'global' : (val === 1 ? 'light' : 'dark')

      this.setMenuTheme(theme)
    },
    contentBoxed(val) {
      this.setContentBoxed(val === 1)
    },
    rtl(val) {
      this.setRTL(val)
    }
  },

  beforeDestroy() {
    if (this.timeout) clearTimeout(this.timeout)
  },
    methods: {

   ...mapMutations('app', ['setMenuTheme', 'setGlobalTheme', 'setToolbarTheme', 'setContentBoxed', 'setTimeZone', 'setTimeFormat', 'setCurrency', 'setRTL', 'setToolbarDetached']),
    setTheme() {
      this.$vuetify.theme.dark = this.theme === 'dark'
    },
    animate() {
      if (this.timeout) clearTimeout(this.timeout)

      const time = (Math.floor(Math.random() * 10 + 1) + 10) * 1000

      this.timeout = setTimeout(() => {
        this.$animate(this.$refs.button.$el, 'bounce')
        this.animate()
      }, time)
    },

       scrollFunction()
    {
          let top = document.documentElement.scrollTop || document.body.scrollTop || window.pageYOffset;
      if(top >10)
            {
                this.showhide = false

            }
            else{
               this.showhide = true


            }

    },
       SavePrinter(){
             localStorage.setItem("Printer",this.printer);
             localStorage.setItem("Papersize",this.printformat);
             this.SnackbarMessege = "Saved"
             this.snackbar = true

         },
    }
}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
