<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>

    <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >SERVICE NAMES </h4>
            </v-col>
          </v-row>
      </div>
      <v-card class="my-2">
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:20px;padding-bottom:0px;margin-bottom: -7px;padding-right:0px;padding-right:22px;padding-left:22px " >
        <v-autocomplete
             :items="GodownOptions"
             v-model="GodownSearch"
                 solo
        rounded
        dense
       placeholder="Service Name Search"
        @change="GetGodown($event)"
          >
         <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearGodown">mdi-plus-circle</v-icon>
  </template> -->

          </v-autocomplete>
          </v-col>

            </v-row>
            <v-divider></v-divider>
        <v-card-text>
           <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-text-field v-model="GodownName" label="Service Names"  style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
                <v-row>
                  <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <v-text-field v-model="GodownName" label="Service Code"  style="padding-bottom:0px"></v-text-field>
          </v-col>
<v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <v-autocomplete
             :items="BranchCodeOptions"
             v-model="BranchCode"
label="Branch Code"
       placeholder="Branch Code"
       v-if="IsMultiBarnch"
       :disabled="IsDisableBranch"
          >

          </v-autocomplete>
          </v-col>

            </v-row>

              <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
              <v-autocomplete

label="Service Group"
       placeholder="Service Group"

          >

          </v-autocomplete>
                </v-col>
              </v-row>
                <v-row>
                  <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <v-text-field v-model="GodownName" label="Open Balance"  style="padding-bottom:0px"></v-text-field>
          </v-col>
<v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
          <v-text-field v-model="GodownName" label="Service Charge"  style="padding-bottom:0px"></v-text-field>
          </v-col>

            </v-row>
         <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-textarea
                    label="Remarks"
                    auto-grow
                    outlined
                    rows="1"
                    id="Remark"
                    ref="Remark"
                  ></v-textarea>
                </v-col>
              </v-row>

        </v-card-text>
      </v-card>

     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallUser ="CallUser"
   @ClearGodown="ClearGodown"
   @SaveGodown="SaveGodown"
   @DeleteGodown="DeleteGodown"

></fab>


       <v-dialog v-model="DeleteConfirmation" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmation = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteGodown">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  <v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,

         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      GodownObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteGodown',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearGodown',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveGodown',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    GodownOptions : JSON.parse( localStorage.getItem('LinkedFullGodowns') ),
    GodownTypeOptions : ['Store','Vehicle for delivery','Expiry or Damage'],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    ShowInSales:true,
    GodownName:'',
    GodownType :'',
    Description:'',
    BranchCode:'',
     IsNew : true,
    IsUpdate : false,

    DeleteName : false,
    UpdateConfirmationModal_Type : false,
    CreateWarningModalType:false,
    IsShowCreateWarningModalType :false,

    UpdateConfirmationModal_Group : false,
    CreateWarningModalGroup:false,
    IsShowCreateWarningModalGroup:false,
    GodownsFullObject:[],
    Loaderdialog : false


    }
  },
  computed: {
  },
  mounted()
  {
     this.PreviousPage = localStorage.getItem('ActivePage')
     this.BackToPage = localStorage.getItem('BackToPage')
     if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = bURL + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'userManagement')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }

    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Godown')
   localStorage.removeItem('VoucherUpdated')
   this.GetLinkedGodowns()
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
  },
  methods:
  {
        saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    BasicSettings()
    {
      this.IsSalesperson = localStorage.getItem('salePerson')
      this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmGodown')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
    },
   GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
        this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
        if (this.BranchCode !== '#' && this.BranchCode !== '')
        {
            this.BranchCode = this.BranchCode
             this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
        }
        else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
          this.BranchCode = this.DeviceDefaultBCode
        }
        else
        {
          this.BranchCode = ''
        }
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },

    GetGodown(GodownName)
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Godown/GetGodown?GodownName=' + GodownName)
        .then((response)  =>  {
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        })

       /*  for(this.i=0;this.i<this.GodownsFullObject.length;this.i++)
        {
           if(this.GodownsFullObject[this.i].GodownName === this.GodownSearch)
           {
             this.AssignObject(this.GodownsFullObject[this.i])
           }
        } */
    },
    AssignObject(obj)
    {
      this.IsActive = 'test'
      this.GodownName = obj.godownName
      this.GodownType = obj.godownType
      if(obj.godownType === 'S')
      {
        this.GodownType = 'Store'
      }
      if(obj.godownType === 'V')
      {
        this.GodownType = 'Vehicle for delivery'
      }
       if(obj.godownType === 'E')
      {
        this.GodownType = 'Expiry or Damage'
      }
      this.Description = obj.description
       this.BranchCode = obj.branchCode
      this.IsActive = obj.isActive
      this.ShowInSales = obj.showInSales
      this.IsNew = false
      this.IsUpdate = true

    },
    FormatewithDecimalPlaces(value)
    {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },

    CreateObject()
    {
      this.GodownObject.GodownName = this.GodownName?this.GodownName:""
      this.GodownObject.GodownType = this.GodownType?this.GodownType.charAt(0):""
      this.GodownObject.Description = this.Description?this.Description:""
      this.GodownObject.BranchCode =  this.BranchCode?this.BranchCode:""
      this.GodownObject.IsActive =  this.IsActive
      this.GodownObject.ShowInSales =  this.ShowInSales
      this.GodownObject.Remarks =  this.Remarks?this.Remarks:""
    },
    SaveGodown()
    {
      this.CreateObject()
       if(this.GodownObject.BranchCode === "" )
      {
        this.SnackbarMessege = 'Please select branch code'
        this.snackbar = true
        return
      }
      if(this.GodownObject.GodownName === "" )
      {
        this.SnackbarMessege = 'Please enter godown name'
        this.snackbar = true
        return
      }
      if(this.GodownObject.GodownType === "" )
      {
        this.SnackbarMessege = 'Please enter godown type'
        this.snackbar = true
        return
      }
      else if((this.GodownSearch === undefined || this.GodownSearch === '' ) && this.IsNew === true)
      {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Godown/InsertGodown',this.GodownObject)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.ClearGodown()
              this.GetLinkedGodowns()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
      else{
        if (this.isUpdatePermission === true)
        {
          this.Loaderdialog = true
            axios.put ( this.bURL + 'Godown/UpdateGodown?OldGodown='+this.GodownSearch,this.GodownObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                this.Loaderdialog = false
                this.ClearGodown()
                this.GetLinkedGodowns()


              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
    },
    DeleteGodown()
    {
      if (this.GodownSearch !== null && this.GodownSearch !== undefined && this.GodownSearch !== '' && this.IsNew !== true)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = 'No godown to delete'
        this.snackbar = true

      }

    },
    ExecuteDeleteGodown()
    {
      axios.delete( this.bURL + 'Godown/' + this.GodownSearch)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          for(this.i = 0;this.i<this.GodownOptions.length;this.i++)
          {
            if(this.GodownOptions[this.i] === this.GodownSearch)
            {
              this.GodownOptions.splice(this.i,1);
              break
            }
          }
          this.DeleteConfirmation = false
          this.GodownSearch = false
          this.ClearGodown()
        },(error)  =>  {
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearGodown()
    {
      this.IsActive = "test"
      this.IsActive = true
      this.ShowInSales = true
      this.GodownSearch = ""
       this.GodownName = ""
      this.GodownType = ""
      this.IsActive = true
      this.Description = ""
      this.IsNew = true
      this.IsUpdate = false
    },
    GetGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + "Godown/LoadGodownNumbers?ActiveStatus=All")
        .then((response)  =>  {
         this.GodownOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },

    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },


  }
}
</script>

<style lang="scss" scoped>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Godowns {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Godowns {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
