<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>
<!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center" >
           <v-row style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size: 20px;"  >Set Tendering Ledgers</h4>
            </v-col>
          </v-row>
      </div>
  -->





    
 <v-card >
  <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in 1"
              :key="i"
              style="padding-left: 0px;"
            >
              <v-expansion-panel-header

                class="headernew"
                style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                expand-icon=""
              >


                 <span
                  style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                  ><v-icon
                    style="    font-size: 13px !important;"
                   @click="GoBackPrevious"
                    >fa-arrow-left</v-icon
                  ></span
                >
                <v-col
                  cols="12"
                  sm="12"
                  style="padding: 0px !important; text-align: center !important;font-size:12px"
                >
                  <b
                    style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                    >Set Tendering Ledgers</b
                  >
                </v-col>
              </v-expansion-panel-header>

            </v-expansion-panel>
          </v-expansion-panels>
               <v-card-actions style="background:#007bff;padding: 1px;">
          </v-card-actions>
  
  
  <v-card-text style="padding-left: 0px !important;
    padding-right: 0px !important;">
    <v-row v-if="IsMultiBarnch">
                    <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right: 12px;
    padding-left: 12px;">
                    <v-autocomplete
                    :items="BranchCodeOptions"
                    v-model="BranchCode"
                       solo
                rounded
                dense
                placeholder="BranchCode"
                      :label="$t(`menu.BranchCode`)"
                          style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
                      @change="LoadTenderingLedgers()"
                    ></v-autocomplete>
                </v-col>
                </v-row>
    <v-tabs v-model="tab1" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows  style="flex-grow: 0 !important; ">
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-Cash" id="innerExPannew" style="padding-right:8px;padding-left:8px">Cash</v-tab>
      <v-tab to="#tabs-Bank" id="innerExPannew" style="padding-right:8px;padding-left:8px">Bank</v-tab>
       <v-tab to="#tabs-Others" id="innerExPan" style="padding-right:8px;padding-left:8px">Others</v-tab>
    </v-tabs>

    <v-tabs-items v-model="tab1" touchless>
        <!-- CashAccount start heare -->

      <v-tab-item value="tabs-Cash">
                 
  <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right: 12px;
    padding-left: 12px;">
 <labal style="    padding-left: 12px;
    font-weight: bold;">Select Ledgers</labal>
                       <v-autocomplete
          v-model="selectedCashAccount"
          :items="CashAccountOptions"
           label="Cash"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleCashAccount"
        >
          <v-list-item-action>
            <v-icon :color="selectedCashAccount.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCashAccount }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCashAccount">
           <v-list-item-title>{{ $t(`dashboard.SelectedallCashAccount`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.CashAccountCount`) }} :{{ selectedCashAccount.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCashAccount">
            <v-list-item-title>{{ $t(`dashboard.CashAccountCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCashAccount.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
       <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;"
              @click="InsertTenderingLedger('Cash')"

            >
            {{ $t(`menu.Link`) }}
            </v-btn>

  </template>
</v-autocomplete>
                   </v-col>
                  </v-row>

                             <v-divider style="    margin-top: 3px;
    margin-bottom: 0px;"></v-divider>


<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">Tendering Ledgers List</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="8" sm="8"  class="CashAccounts" style="font-size:13px;">
    Ledger Name
      </v-col>
    <!--   <v-col cols="2" sm="2"  class="text-center" style="font-size:13px;">
Mode
      </v-col> -->
       <v-col cols="3" sm="3"  class="text-center" style="font-size:13px;">
Branch
      </v-col>
        <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  >mdi-delete</v-icon>
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;    margin-left: -4px;
    margin-right: -4px;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in TenderingCashLedgers"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="8" sm="8" class="text-left" style="padding: 0px !important; ">

      <b>{{item.LedgerName}}</b>
      </v-col>
     <!--  <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">

   <b>{{item.Mode}}</b>
      </v-col> -->
       <v-col cols="3" sm="3" class="text-center" style="padding: 0px !important; ">

   <b>{{item.BranchCode}}</b>
      </v-col>
       <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  @click="DeleteTenderingLedger(item)" >mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
      </v-tab-item>

    <!-- Cash Ensd heare -->



        <!-- Bank start heare -->

      <v-tab-item value="tabs-Bank">
                      <!-- <v-row v-if="IsMultiBarnch">
                      <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right: 2px;
    padding-left: 2px;">
                      <v-autocomplete
                      :items="BranchCodeOptions"
                      v-model="BranchCode"
                       outlined
                        dense
                        :label="$t(`menu.BranchCode`)"
                            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"

                      ></v-autocomplete>
                  </v-col>
                  </v-row> -->
    <v-row>

                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:12px;padding-left:12px">
                      <labal style="    padding-left: 12px;
    font-weight: bold;">Select Ledgers</labal>
                       <v-autocomplete
          v-model="selectedBankAccount"
          :items="BankAccountOptions"
           label="Bank"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleBankAccount"
        >
          <v-list-item-action>
            <v-icon :color="selectedBankAccount.length > 0 ? 'indigo darken-4' : ''">{{ iconAllBankAccount }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllBankAccount">
            <v-list-item-title> {{ $t(`menu.SelectedallBankAccount`) }}</v-list-item-title>
            <v-list-item-subtitle> {{ $t(`menu.BankAccountCount`) }}:{{ selectedBankAccount.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeBankAccount">
            <v-list-item-title>{{ $t(`menu.BankAccountCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedBankAccount.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
           <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;"
              @click="InsertTenderingLedger('Bank')"
            >
             {{ $t(`menu.Link`) }}
            </v-btn>
       </template>
</v-autocomplete>
                   </v-col>
                  </v-row>

                             <v-divider style="    margin-top: 3px;
    margin-bottom: 0px;"></v-divider>


<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">Tendering Ledgers List</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="8" sm="8"  class="CashAccounts" style="font-size:13px;">
    Ledger Name
      </v-col>
    <!--   <v-col cols="2" sm="2"  class="text-center" style="font-size:13px;">
Mode
      </v-col> -->
       <v-col cols="3" sm="3"  class="text-center" style="font-size:13px;">
Branch
      </v-col>
        <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  >mdi-delete</v-icon>
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;    margin-left: -4px;
    margin-right: -4px;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in TenderingBankLedgers"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="8" sm="8" class="text-left" style="padding: 0px !important; ">

      <b>{{item.LedgerName}}</b>
      </v-col>
     <!--  <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">

   <b>{{item.Mode}}</b>
      </v-col> -->
       <v-col cols="3" sm="3" class="text-center" style="padding: 0px !important; ">

   <b>{{item.BranchCode}}</b>
      </v-col>
       <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  @click="DeleteTenderingLedger(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
      </v-tab-item>

       <!-- BankAccounts ends heare -->

       <!-- Cash & Bank Ledger start here -->
      <v-tab-item value="tabs-Others">
                     <!-- <v-row v-if="IsMultiBarnch">
                      <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right: 2px;
    padding-left: 2px;">
                      <v-autocomplete
                      :items="BranchCodeOptions"
                      v-model="BranchCode"
                       outlined
                        dense
                        :label="$t(`menu.BranchCode`)"
                            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"

                      ></v-autocomplete>
                  </v-col>
                  </v-row> -->
    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:12px;padding-left:12px">
  <labal style="    padding-left: 12px;
    font-weight: bold;">Select Ledgers</labal>
                       <v-autocomplete
          v-model="selectedOtherDrLedgers"
          :items="OtherDrLedgers"
           label="Others"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleLedger"
        >
          <v-list-item-action>
            <v-icon :color="selectedOtherDrLedgers.length > 0 ? 'indigo darken-4' : ''">{{ iconAllLedger }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllOtherDrLedgers">
            <v-list-item-title>{{ $t(`menu.SelectedallLedger`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.LedgerCount`) }}  :{{ selectedOtherDrLedgers.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeOtherDrLedgers">
            <v-list-item-title>{{ $t(`menu.LedgerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedOtherDrLedgers.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-slot:append-outer>
           <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important"
              @click="InsertTenderingLedger('Other')"
            >
            {{ $t(`menu.Link`) }}
            </v-btn>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>

                             <v-divider style="    margin-top: 3px;
    margin-bottom: 0px;"></v-divider>


<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">Tendering Ledgers List</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="8" sm="8"  class="CashAccounts" style="font-size:13px;">
    Ledger Name
      </v-col>
   <!--    <v-col cols="2" sm="2"  class="text-center" style="font-size:13px;">
Mode
      </v-col> -->
       <v-col cols="3" sm="3"  class="text-center" style="font-size:13px;">
Branch
      </v-col>
        <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  >mdi-delete</v-icon>
      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 0px;  overflow:scroll;overflow-x: hidden;    margin-left: -4px;
    margin-right: -4px;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in TenderingOtherLedgers"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="8" sm="8" class="text-left" style="padding: 0px !important; ">

      <b>{{item.LedgerName}}</b>
      </v-col>
     <!--  <v-col cols="2" sm="2" class="text-center" style="padding: 0px !important; ">

   <b>{{item.Mode}}</b>
      </v-col> -->
       <v-col cols="3" sm="3" class="text-center" style="padding: 0px !important; ">

   <b>{{item.BranchCode}}</b>
      </v-col>
       <v-col cols="1" sm="1" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;"  @click="DeleteTenderingLedger(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
      </v-tab-item>

        <!-- Others ensd heare -->

    </v-tabs-items>

  </v-card-text>
 </v-card>




    <!--  <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallUser ="CallUser"
   @ClearUser="ClearUser"
   @SaveUser="SaveUser"
   @DeleteUser="DeleteUser"

></fab> -->



       <v-dialog v-model="DeleteConfirmation_Ledger" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_Ledger = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteTenderingLedger()">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
//import Assets from '../Vouchers/Assets.vue'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
       IsUpdate : false,
         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      UserObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
      
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    //Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    UserTypeOptions : [],
    IsMultiBarnch : false,
    UsernameOptions : JSON.parse( localStorage.getItem('Usernames') ),
    UsernameSearch : '',
    CashAccountOptions : [],
    BankAccountOptions : [],
    OtherDrLedgers: [],
     RouteObject : JSON.parse( localStorage.getItem('LinkedRoutes')),
    RouteOptions : [],
    VehicleOptions:[],
    CashLedgerOptions:[],
    CustomerGroupOptions:JSON.parse( localStorage.getItem('CustomerGroups')),
    GroupNameOptions : JSON.parse( localStorage.getItem('CustomerGroup') ),
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation_User : false,
    BillwiseDeleteId : -1,
    DeleteConfirmation_Ledger : false,

    menu: false,
    selectedCashAccount:[],
    selectedBankAccount:[],
    selectedOtherDrLedgers:[],
    selectedCustomerGroup:[],
    selectedRoute:[],
    Loaderdialog:false,
    Photo:"",
    UserSignature:'',
    UserSignatureUrl:'',
    IsGlobalUser : false,
    TenderingLedgers:[],
    TenderingCashLedgers:[],
    TenderingBankLedgers:[],
    TenderingOtherLedgers:[],
    }
  },
  mixins: [DayEndCheck],
  computed: {
     likesAllCashAccount () {
      return this.selectedCashAccount.length === this.CashAccountOptions.length
    },
    likesSomeCashAccount() {
      return this.selectedCashAccount.length > 0 && !this.likesAllCashAccount
    },

     likesAllBankAccount () {
      return this.selectedBankAccount.length === this.BankAccountOptions.length
    },
    likesSomeBankAccount () {
      return this.selectedBankAccount.length > 0 && !this.likesAllBankAccount
    },

     likesAllOtherDrLedgers () {
      return this.selectedOtherDrLedgers.length === this.OtherDrLedgers.length
    },
    likesSomeOtherDrLedgers () {
      return this.selectedOtherDrLedgers.length > 0 && !this.likesAllOtherDrLedgers
    },

     likesAllCustomerGroup () {
      return this.selectedCustomerGroup.length === this.CustomerGroupOptions.length
    },
    likesSomeCustomerGroup () {
      return this.selectedCustomerGroup.length > 0 && !this.likesAllCustomerGroup
    },

    likesAllRoute () {
      return this.selectedRoute.length === this.RouteOptions.length
    },
    likesSomeRoute () {
      return this.selectedRoute.length > 0 && !this.likesAllRoute
    },
     iconAllCashAccount () {
      if (this.likesAllCashAccount) return 'mdi-close-box'
      if (this.likesSomeCashAccount) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllBankAccount () {
      if (this.likesAllBankAccount) return 'mdi-close-box'
      if (this.likesSomeBankAccount) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllLedger () {
      if (this.likesAllOtherDrLedgers) return 'mdi-close-box'
      if (this.likesSomeOtherDrLedgers) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconAllCustomerGroup () {
      if (this.likesAllCustomerGroup) return 'mdi-close-box'
      if (this.likesSomeCustomerGroup) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllRoute () {
      if (this.likesAllRoute) return 'mdi-close-box'
      if (this.likesSomeRoute) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },
  mounted()
  {

     this.PreviousPage = localStorage.getItem('PreviousRoute')
    if(this.PreviousPage !== 'UserProfile')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','TenderingLedger')
    localStorage.setItem('ActiveRoute','/dashboard/masters/SetTenderingLedgers')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
    this.BindRouteOptions()
    this.LoadTenderingLedgers()
  
    this.GetUsernames()


  },
  methods:
  {
      toggleRoute () {
      this.$nextTick(() => {
        if (this.likesAllRoute) {
          this.selectedRoute = []
        } else {
          this.selectedRoute = this.RouteOptions.slice()
        }
      })
    },

    toggleCashAccount () {
      this.$nextTick(() => {
        if (this.likesAllCashAccount) {
          this.selectedCashAccount = []
        } else {
          this.selectedCashAccount = this.CashAccountOptions.slice()
        }
      })
    },

    toggleBankAccount () {
      this.$nextTick(() => {
        if (this.likesAllBankAccount) {
          this.selectedBankAccount = []
        } else {
          this.selectedBankAccount = this.BankAccountOptions.slice()
        }
      })
    },

    toggleLedger () {
      this.$nextTick(() => {
        if (this.likesAllOtherDrLedgers) {
          this.selectedOtherDrLedgers = []
        } else {
          this.selectedOtherDrLedgers = this.OtherDrLedgers.slice()
        }
      })
    },

   toggleCustomerGroup () {
      this.$nextTick(() => {
        if (this.likesAllCustomerGroup) {
          this.selectedCustomerGroup = []
        } else {
          this.selectedCustomerGroup = this.CustomerGroupOptions.slice()
        }
      })
    },
        saveDigital(){

			var _this = this;
      //this.temp = "data:image/svg+xml;base64,"

			var svg = _this.$refs.signature.save('image/jpeg');
      this.UserSignature = svg.replace("data:image/jpeg;base64,", "")

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.UserSignatureUrl = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.UserSignatureUrl = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }
      this.dataUrl = this.UserSignatureUrl
      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

  BasicSettings()
  {

       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.BranchCode = ''
       }



      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

      this.UserObject.IsActive = true

  },
  SetPermission()
  {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmCreateUser')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
  },

  FormatDate(Value)
  {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

  },
  LoadTenderingLedgers()
  {
        this.TenderingLedgers =[]
        this.TenderingCashLedgers =[]
        this.TenderingBankLedgers =[]
        this.TenderingOtherLedgers =[]
          this.Loaderdialog = true
         axios.post(this.bURL + "TenderingLedger/LoadTenderingLedgers?BranchCode="+this.BranchCode)
        .then((response)  =>  {
           this.TenderingLedgers = response.data
            for(this.i=0;this.i<this.TenderingLedgers.length;this.i++)
            {
              if(this.TenderingLedgers[this.i].Mode === "C")
              {
                this.TenderingCashLedgers.push(this.TenderingLedgers[this.i])
              }
              else if(this.TenderingLedgers[this.i].Mode === "B")
              {
                this.TenderingBankLedgers.push(this.TenderingLedgers[this.i])
              }
              else if(this.TenderingLedgers[this.i].Mode === "O")
              {
                this.TenderingOtherLedgers.push(this.TenderingLedgers[this.i])  
              }
                
            }
              this.LoadCashLedgers()
              this.LoadBankLedgers()
              this.LoadOtherDrLedgers()
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
  },
  LoadCashLedgers()
  {
        this.CashAccountOptions =[]
          this.Loaderdialog = true
         axios.post(this.bURL + "Ledger/GetLedgerNamesByGroups?GroupName=Cash-in-hand&IsRecursive=true&WithGlobal=true&BranchCode="+this.BranchCode +'&UserRole='+this.userType)
        .then((response)  =>  {
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.flag = false
               for(this.j=0;this.j<this.TenderingCashLedgers.length;this.j++)
               {
                  if(this.TenderingCashLedgers[this.j].LedgerName === response.data[this.i].LedgerName)
                  {
                    this.flag = true
                    break
                  }
               }
               if(this.flag === false)
               {
                  this.CashAccountOptions.push(response.data[this.i].LedgerName)
               }
                
            }
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
  },
  BindRouteOptions()
  {
       for(this.i=0;this.i<this.RouteObject.length;this.i++)
       {
            this.RouteOptions.push(this.RouteObject[this.i].RouteName)
       }
  },

  LoadBankLedgers() {
     
this.BankAccountOptions =[]
          this.Loaderdialog = true
         axios.post(this.bURL + "Ledger/GetLedgerNamesByGroups?GroupName=Bank Accounts,Bank OD A / c&IsRecursive=true&WithGlobal=true&BranchCode="+this.BranchCode +'&UserRole='+this.userType)
        .then((response)  =>  {
            for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.flag = false
               for(this.j=0;this.j<this.TenderingBankLedgers.length;this.j++)
               {
                  if(this.TenderingBankLedgers[this.j].LedgerName === response.data[this.i].LedgerName)
                  {
                    this.flag = true
                    break
                  }
               }
               if(this.flag === false)
               {
                  this.BankAccountOptions.push(response.data[this.i].LedgerName)
               }
                
            }
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
   },
  LoadOtherDrLedgers() {
     

        
this.OtherDrLedgers =[]
          this.Loaderdialog = true
         axios.post(this.bURL + "Ledger/GetLedgerNamesByGroups?GroupName=Current Assets, Direct Expenses, Indirect Expenses, Current Liabilities&IsRecursive=true&WithGlobal=true&BranchCode="+this.BranchCode +'&UserRole='+this.userType)
        .then((response)  =>  {
             for(this.i=0;this.i<response.data.length;this.i++)
            {
              this.flag = false
               for(this.j=0;this.j<this.TenderingOtherLedgers.length;this.j++)
               {
                  if(this.TenderingOtherLedgers[this.j].LedgerName === response.data[this.i].LedgerName)
                  {
                    this.flag = true
                    break
                  }
               }
               if(this.flag === false)
               {
                  this.OtherDrLedgers.push(response.data[this.i].LedgerName)
               }
                
            }
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
  },


  InsertTenderingLedger(Mode)
  {
    if(this.BranchCode === "")
    {
          this.SnackbarMessege = "Please select branch"
            this.snackbar = true
            return
    }
    this.List = []
        if(Mode === "Cash")
        {
          if(this.selectedCashAccount.length === 0)
          {
            this.SnackbarMessege = "Please select Ledger"
            this.snackbar = true
            return
          }
          else
          {
                for(this.i=0;this.i<this.selectedCashAccount.length;this.i++)
                {
                    this.obj = {}
                    this.obj.Id = -1
                    this.obj.LedgerName = this.selectedCashAccount[this.i]
                    this.obj.Mode = "C"
                    this.obj.BranchCode = this.BranchCode

                    this.List.push(this.obj)
                     this.obj = {}
                }
          }
        }
        else if(Mode === "Bank")
        {
          if(this.selectedBankAccount.length === 0)
          {
            this.SnackbarMessege = "Please select Ledger"
            this.snackbar = true
            return
          }
          else
          {
                for(this.i=0;this.i<this.selectedBankAccount.length;this.i++)
                {
                    this.obj = {}
                    this.obj.Id = -1
                    this.obj.LedgerName = this.selectedBankAccount[this.i]
                    this.obj.Mode = "B"
                    this.obj.BranchCode = this.BranchCode

                    this.List.push(this.obj)
                     this.obj = {}
                }
          }
        }
        else if(Mode === "Other")
        {
          if(this.selectedOtherDrLedgers.length === 0)
          {
            this.SnackbarMessege = "Please select Ledger"
            this.snackbar = true
            return
          }
          else
          {
                for(this.i=0;this.i<this.selectedOtherDrLedgers.length;this.i++)
                {
                    this.obj = {}
                    this.obj.Id = -1
                    this.obj.LedgerName = this.selectedOtherDrLedgers[this.i]
                    this.obj.Mode = "O"
                    this.obj.BranchCode = this.BranchCode

                    this.List.push(this.obj)
                     this.obj = {}
                }
          }
        }
       if(this.List.length > 0)
       {
       
          this.Loaderdialog = true
         axios.post(this.bURL + "TenderingLedger/InsertTenderingLedgers",this.List)
        .then((response)  =>  {
            this.SnackbarMessege = "Success"
            this.LoadTenderingLedgers()
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
    }
  },
  DeleteTenderingLedger(item)
  {
     this.DeleteId = item.Id
     this.DeleteConfirmation_Ledger = true
  },
  ExecuteDeleteTenderingLedger()
  {
     this.Loaderdialog = true
         axios.post(this.bURL + "TenderingLedger/DeleteTenderingLedger?Id="+ this.DeleteId)
        .then((response)  =>  {
            this.SnackbarMessege = "Success"
            this.LoadTenderingLedgers()
            this.DeleteConfirmation_Ledger = false
              this.Loaderdialog = false
        }, (error)  =>  {
           this.Loaderdialog = false
          console.log(error)
        })
  },

 
  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
@media (min-width: 600px){
.v-application .pa-sm-2 {
    padding: 16px !important;
    padding-top: 0px !important;
}
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
@media only screen and (max-device-width: 600px) {
  .usernameheight{
    padding-top: 10px !important;
  }
}

.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .salesPersons {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
