<template>
<v-card>
  <v-card-text style="padding:0px !important">
     <v-toolbar color="FFF" style="padding-right: 0px;
    padding-left: 0px;    margin-top: -15px;
">
          <!-- <v-icon @click="voucherssettings()" style="padding-left:12px"
            >mdi-arrow-left</v-icon
          >
          <v-toolbar-title
            style="font-size: 16px;
    font-weight: 600;padding-left:10px"
            >Item Discount</v-toolbar-title
          >
         <v-spacer></v-spacer>

    <v-toolbar-items>
            <v-btn dark text  color="primary" @click="Save()"> <v-icon style="padding-left: 23px;">mdi-content-save-all</v-icon> </v-btn>
          </v-toolbar-items> -->

        </v-toolbar>
  <v-timeline  dense>
      <v-timeline-item
         small
            fill-dot
       v-for="(item,i) in 20"  :key="i"
      >
        <div class="d-flex">
          <strong class="mr-4">5pm</strong>
          <div>
            <strong>Customer Name</strong>
            <!-- <div class="text-caption">
              Mobile App
            </div> -->
          </div>
        </div>
      </v-timeline-item>
    </v-timeline>
  </v-card-text>
</v-card>

</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
 import VueConfetti from 'vue-confetti'
  Vue.use(VueConfetti)
//import Assets from '../Vouchers/Assets.vue'
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
       counter: 0,
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
achivedmodal:true,
         signature1 : false,
        BarcodeModal:false,
        ReceiptModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      GodownObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteGodown',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearGodown',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveGodown',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat','1','153','541',],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    GodownOptions : JSON.parse( localStorage.getItem('LinkedFullGodowns') ),
    GodownTypeOptions : ['Store','Vehicle for delivery','Expiry or Damage'],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    ShowInSales:true,
    GodownName:'',
    GodownType :'',
    Description:'',
    BranchCode:'',
     IsNew : true,
    IsUpdate : false,

    DeleteName : false,
    UpdateConfirmationModal_Type : false,
    CreateWarningModalType:false,
    IsShowCreateWarningModalType :false,

    UpdateConfirmationModal_Group : false,
    CreateWarningModalGroup:false,
    IsShowCreateWarningModalGroup:false,
    GodownsFullObject:[]


    }
  },
  computed: {
  },
  mounted()
  {
//      this.$confetti.start({
//   particles: [
//     {
//       type: 'heart',
//       colors: [
//         'rgb(255,215,0)',
//         'rgb(0 150 199)',
//         'rgb(0, 53, 94)'
//       ],
//     },


//   ],
//   defaultDropRate: 10,
//   defaultSize: 10,
// });
//     start()
     this.PreviousPage = localStorage.getItem('ActivePage')
     this.BackToPage = localStorage.getItem('BackToPage')
     if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = bURL + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'userManagement')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }

    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Godown')
   localStorage.removeItem('VoucherUpdated')
   this.GetLinkedGodowns()
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
  },
  methods:
  {
    start() {
        this.$confetti.start({
  particles: [
    {
      type: 'heart',
      colors: [
        'rgb(255,215,0)',
        'rgb(0 150 199)',
        'rgb(0, 53, 94)'
      ],
    },


  ],
  defaultDropRate: 10,
  defaultSize: 10,
});
      },

      stop() {
        this.$confetti.stop();
      },

      love() {
        this.$confetti.update({
          particles: [
            {
              type: 'heart',
            },
            {
              type: 'circle',
            },
          ],
          defaultColors: [
            'red',
            'pink',
            '#ba0000'
          ],
        });
      },
funcao(){
      alert("Sou uma funcao");
    },
   GetEcryptedPassword()
    {
      this.PasswordData=localStorage.getItem('Password')
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
        alert(this.bURL);
        this.PasswordData=localStorage.getItem('Password');
        alert(this.PasswordData);
        axios.post( this.bURL + 'common/encrypt',"gj")
        .then((response)  =>  {
          alert("password="+this.PasswordData)
        }, (error)  =>  {
          console.log(error)
        })
    },
        saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    BasicSettings()
    {
      this.IsSalesperson = localStorage.getItem('salePerson')
      this.BranchCode = localStorage.getItem('BranchCode')
      if (this.BranchCode !== '#' || this.BranchCode !== '')
        this.BranchCode = this.BranchCode


      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmUser')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
    },
    GetLinkedGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       this.salePerson = localStorage.getItem('salePerson')
       this.BranchCode = localStorage.getItem('BranchCode')
       this.BranchCode = this.BranchCode?this.BranchCode:''
       this.Settings = JSON.parse(localStorage.getItem('Settings'))
       this.ActiveRouteID = localStorage.getItem("ActiveRouteId")
       this.RouteID = -1
      if(this.Settings.IsRouteMandatory === 'True'  )
      {
        this.UserType = localStorage.getItem('UserType')
        if(this.UserType  === "Administrator")
        {
          this.RouteID = -1
        }
        else if(this.ActiveRouteID !== null && this.ActiveRouteID !== undefined)
        {
          this.RouteID = this.ActiveRouteID
        }
        else{
        this.LinkedRoutes = JSON.parse(localStorage.getItem('LinkedRoutes'))
        this.RouteIds = []
         for(this.i=0;this.i<this.LinkedRoutes.length;this.i++)
         {
            this.RouteIds.push( this.LinkedRoutes[this.i].RouteID)
         }
         this.RouteID = this.RouteIds.join('~')
         this.RouteID = this.RouteID?this.RouteID:0
        }
      }
         /* axios.get(this.bURL + 'godown/GetGodownsBy?BranchCode=' + BranchCode + "&ActiveStatus=Active&GodownType=Sales") */
        axios.get(this.bURL + 'Godown/GetLinkedGodowns?ActiveRouteID=' + this.RouteID + '&BranchCode=' + this.BranchCode)
        .then((response)  =>  {
         this.SalesGodowns = []
         this.DamageGodowns = []
         this.LinkedFullGodowns = []
          for(this.i = 0;this.i<response.data.length;this.i++)
          {
            this.LinkedFullGodowns.push(response.data[this.i].GodownName)

            if(response.data[this.i].GodownType !== "E" && response.data[this.i].IsSales === true){
              this.SalesGodowns.push(response.data[this.i].GodownName)
            }
            else if(response.data[this.i].GodownType === "E")
            {
                this.DamageGodowns.push(response.data[this.i].GodownName)
            }
          }
          localStorage.setItem('LinkedGodowns',JSON.stringify(this.SalesGodowns))
          localStorage.setItem('LinkedDamageGodowns',JSON.stringify(this.DamageGodowns))
          localStorage.setItem('LinkedFullGodowns',JSON.stringify(this.LinkedFullGodowns))

        }, (error)  =>  {
          this.error = false
          console.log(error)
        })
    },

    GetGodown(GodownNo)
    {
      /* this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Godown/GetGodown?GodownNo=' + GodownNo)
        .then((response)  =>  {
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        }) */

        for(this.i=0;this.i<this.GodownsFullObject.length;this.i++)
        {
           if(this.GodownsFullObject[this.i].GodownName === this.GodownSearch)
           {
             this.AssignObject(this.GodownsFullObject[this.i])
           }
        }
    },
    AssignObject(obj)
    {
      this.IsActive = 'test'
      this.GodownName = obj.GodownName
      this.GodownType = obj.GodownType
      if(obj.GodownType === 'S')
      {
        this.GodownType = 'Store'
      }
      if(obj.GodownType === 'V')
      {
        this.GodownType = 'Vehicle for delivery'
      }
       if(obj.GodownType === 'E')
      {
        this.GodownType = 'Expiry or Damage'
      }
      this.Description = obj.Description
      this.IsActive = obj.IsActive
      this.ShowInSales = obj.ShowInSales
      this.IsNew = false
      this.IsUpdate = true

    },
    FormatewithDecimalPlaces(value)
    {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },

    CreateObject()
    {
      this.GodownObject.GodownName = this.GodownName?this.GodownName:""
      this.GodownObject.GodownType = this.GodownType?this.GodownType.charAt(0):""
      this.GodownObject.Description = this.Description?this.Description:""
      this.GodownObject.BranchCode =  this.BranchCode?this.BranchCode:""
      this.GodownObject.IsActive =  this.IsActive
      this.GodownObject.ShowInSales =  this.ShowInSales
      this.GodownObject.Remarks =  this.Remarks?this.Remarks:""
    },
    SaveGodown()
    {
      this.CreateObject()
       if(this.GodownObject.BranchCode === "" )
      {
        this.SnackbarMessege = 'Please select branch code'
        this.snackbar = true
        return
      }
      if(this.GodownObject.GodownName === "" )
      {
        this.SnackbarMessege = 'Please enter godown name'
        this.snackbar = true
        return
      }
      if(this.GodownObject.GodownType === "" )
      {
        this.SnackbarMessege = 'Please enter godown type'
        this.snackbar = true
        return
      }
      else if((this.GodownSearch === undefined || this.GodownSearch === '' ) && this.IsNew === true)
      {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Godown/InsertGodown',this.GodownObject)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              this.ClearGodown()
              this.GetLinkedGodowns()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
      else{
        if (this.isUpdatePermission === true)
        {
          this.Loaderdialog = true
            axios.put ( this.bURL + 'Godown/UpdateGodown?OldGodown='+this.GodownSearch,this.GodownObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                this.Loaderdialog = false
                this.ClearGodown()
                this.GetLinkedGodowns()


              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
    },
    DeleteGodown()
    {
      if (this.GodownSearch !== null && this.GodownSearch !== undefined && this.GodownSearch !== '' && this.IsNew !== true)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege = 'No godown to delete'
        this.snackbar = true

      }

    },
    ExecuteDeleteGodown()
    {
      axios.delete( this.bURL + 'Godown/' + this.GodownSearch)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          for(this.i = 0;this.i<this.GodownOptions.length;this.i++)
          {
            if(this.GodownOptions[this.i] === this.GodownSearch)
            {
              this.GodownOptions.splice(this.i,1);
              break
            }
          }
          this.DeleteConfirmation = false
          this.GodownSearch = false
          this.ClearGodown()
        },(error)  =>  {
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearGodown()
    {
      this.IsActive = "test"
      this.IsActive = true
      this.ShowInSales = true
      this.GodownSearch = ""
       this.GodownName = ""
      this.GodownType = ""
      this.IsActive = true
      this.Description = ""
      this.IsNew = true
      this.IsUpdate = false
    },
    GetGodowns()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + "Godown/LoadGodownNumbers?ActiveStatus=All")
        .then((response)  =>  {
         this.GodownOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },

    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },


  }
}
</script>

<style lang="scss" scoped>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.v-timeline-item {
    display: flex;
    padding-bottom: 39px;
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.v-timeline-item__dot--small {
    height: 15px;
    left: calc(50% - 12px);
    width: 15px;
}
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Godowns {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Godowns {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}
.v-text-field.v-text-field--solo .v-input__control{
    min-height: 10px;
}
.vdialognew  {
    border-radius: 0px;
    margin: 0px;
    overflow-y: none;
    pointer-events: auto;
     transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    box-shadow: none;
}
</style>
