<template>
 <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;" :disabled="false">
 <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>
   <v-card>
  <v-sheet style="padding-top:16px !important;padding-bottom:10px !important;padding-left:20px !important;padding-right:20px !important">
    <h2 class="text-left" style="font-size: 18px; !important;">Current Version:<b>&nbsp;&nbsp;&nbsp;{{CurrentVersion}}</b></h2>
    <!-- <h2 class="text-left" style="font-size: 18px; !important;">Current Version:<b>&nbsp;&nbsp;&nbsp;{{ product.version }}</b></h2> -->


     <v-row>
      <v-col cols="12" style="padding-top:0px !important;padding-bottom:0px!important;text-align:right">
    <!-- <v-btn-toggle  color="primary" mandatory class="mb-2">
          <v-btn x-large @click="GetVersionCode(true)"
           :loading="isLoading"
          >Update</v-btn>
{{ product.version }}
        </v-btn-toggle> -->
         <v-btn-toggle  color="primary" mandatory class="mb-2" >
          <v-btn x-large
           :loading="isLoading"
           :value="updateExists" @click="refreshAppnew()"
          >Update</v-btn>

        </v-btn-toggle>
      </v-col>
     </v-row>

    </v-sheet>
       <v-divider></v-divider>
       <v-sheet  style="padding-top:16px !important;padding-bottom:10px !important;padding-left:20px !important;padding-right:20px !important">

 <v-row>
      <v-col cols="12" style="padding-top:0px !important;padding-bottom:0px!important;text-align:center">

<!-- <h6 class="text-center" style="font-size: 16px; !important;">Linkway Software Solutions</h6> -->
  <label class=" label text-center " style="color: #a67f7f;">Powered by <br><a href="https://linkwaysoftwares.com/" target="_blank"> <img
              src="/images/dash/new.png"
              class="img-responsive"

            /><br>www.linkwaysoftwares.com</a><br>Email:info@linkwaysoftwares.com</label>

        </v-col>
    </v-row>

 <v-row>
        <!-- <v-col cols="4" style="padding-top:0px !important;padding-bottom:0px!important">
  <h6 class="text-left" style="font-size: 16px; !important;">Email :</h6>

        </v-col> -->

    </v-row>
    </v-sheet>

     <hr>

    </v-card>

  <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
         absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:100px;text-align:center"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
    </div>
</template>

<script>
import axios from 'axios'
import { mapMutations, mapState } from 'vuex'
import update from "../../mixins/update";
import ApiUpdate from "../../mixins/ApiUpdate";
import config from '../../configs/index'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {

  },

   data: () => ({


           snackbar: false,
    SnackbarMessege: 'Saved',
    Loaderdialog : false,
    timeout: 100000,
    CurrentVersion:localStorage.getItem('CurrentVersion'),
    refreshing: false,
      registration: null,
      updateExists: false,
      isLoading:false


   }),
 mixins: [update],
  mixins: [ApiUpdate],
 computed: {
    ...mapState('app', ['product'])
  },
   mounted()
  {
      // axios.get('/config/Company.json').then(response => {
      //           this.CurrentVersion = response.data[0].VersionCode
      //         })
       //this.RefreshAllData(true)
  },
//    created() {

//     document.addEventListener('swUpdated', this.updateAvailable, { once: true })

//     navigator.serviceWorker.addEventListener('controllerchange', () => {
//       if (this.refreshing) return
//       this.refreshing = true

//       this.GetVersionCode(false)
//       window.location.reload()
//     })
//   },
//    mounted()
//    {

//       this.GetVersionCode(false)
//    },

//   watch: {

//   },


//     methods: {
//  updateAvailable(event) {
//       this.registration = event.detail
//       this.updateExists = true
//     },
//      refreshApp() {
//       this.updateExists = false

//       if (!this.registration || !this.registration.waiting) return

//       this.registration.waiting.postMessage({ type: 'SKIP_WAITING' })
//       this.GetVersionCode(false)
//     },
// GetVersionCode(IsUpdate)
//   {
//     this.CurrentVersion = localStorage.getItem('CurrentVersion')
//     this.bURL  = localStorage.getItem("CompanyURL")+"/api/"



//      axios.get('/config/Company.json').then(response => {
//          if(this.CurrentVersion===response.data[0].VersionCode && IsUpdate === true)
//           {
//             this.SnackbarMessege = 'Already updated'
//             this.snackbar = true
//           }
//           else if(IsUpdate === true)
//           {
//               this.SnackbarMessege = 'Updated'
//               this.snackbar = true
//           }

//           this.CurrentVersion = response.data[0].VersionCode
//           localStorage.setItem('CurrentVersion',response.data[0].VersionCode)


//           this.updateExists = false

//       if (!this.registration || !this.registration.waiting) return

//       this.registration.waiting.postMessage({ type: 'SKIP_WAITING' })

//      })

//   },
//     }

 methods: {
     refreshAppnew() {
          this.RefreshAllData(true)
         this.CurrentVersion = localStorage.getItem('CurrentVersion')
      this.bURL  = localStorage.getItem("CompanyURL")+"/api/"

            axios.get('/config/Company.json').then(response => {
             /*  if(this.CurrentVersion===response.data[0].VersionCode )
              {
                this.SnackbarMessege = 'Already updated'
                 this.snackbar = true
              } */
                this.CurrentVersion = response.data[0].VersionCode
                localStorage.setItem('CurrentVersion',response.data[0].VersionCode)
              })

     },
      GetVersionCode()
    {
      alert("hi");
      this.CurrentVersion = localStorage.getItem('CurrentVersion')
      this.bURL  = localStorage.getItem("CompanyURL")+"/api/"
       axios.get ( this.bURL + 'common/GetAPIversion' )
          .then((response)  =>  {
            localStorage.setItem('CurrentVersion',response.data)
          }, (error)  =>  {
            console.log(error)
          })
    },
 }

}
</script>
<style  scoped>
.layout > div {
    widows: 100% !important;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   z-index: 100;


}
</style>
