<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>
<v-card style="    padding-right: 0px;
    padding-left: 0px;
">
     <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in 1"
              :key="i"
              style="padding-left: 0px;"
            >
              <v-expansion-panel-header

                class="headernew"
                style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                expand-icon=""
              >


                 <span
                  style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                  ><v-icon
                    style="    font-size: 13px !important;"
                   @click="GoBackPrevious"
                    >fa-arrow-left</v-icon
                  ></span
                >
                <v-col
                  cols="12"
                  sm="12"
                  style="padding: 0px !important; text-align: center !important;font-size:12px"
                >
                  <b
                    style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                    >User Management</b
                  >
                </v-col>
              </v-expansion-panel-header>

            </v-expansion-panel>
          </v-expansion-panels>
               <v-card-actions style="background:#007bff;padding: 1px;">
          </v-card-actions>
  <v-card-text style="padding-left: 0px !important;
    padding-right: 0px !important;">
   <v-tabs v-model="tab"  background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows  style="flex-grow: 0 !important;margin-top: -20px;">

      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-account" id="innerExPannew">{{ $t(`menu.Basic`) }}</v-tab>
      <v-tab to="#tabs-information" id="innerExPannew">{{ $t(`menu.Detail`) }}</v-tab>
       <v-tab to="#tabs-userLink" id="innerExPan">{{ $t(`menu.UserLinks`) }}</v-tab>

    </v-tabs>
    <v-tabs-items v-model="tab" touchless>

        <!-- BasicTab start heare -->

      <v-tab-item value="tabs-account">
         <div>
      <v-card >
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:20px;    padding-bottom: 0px;
    margin-bottom: -17px;
    margin-top: -5px;padding-right: 24px; padding-left: 24px; " >
        <v-autocomplete
             :items="UsernameOptions"
             v-model="UsernameSearch"
            dense
             :label="$t('dashboard.Searchhere')"
            @change="GetUser($event)"
              solo
              rounded
              append-icon="mdi-magnify"
          ></v-autocomplete>

          </v-col>
            </v-row>
            <v-divider style="padding-bottom:7px"></v-divider>
        <v-card-title style="margin-top: -22px !important">{{ $t(`menu.BasicInformation`) }}</v-card-title>
        <v-card-text style="padding-right:0px;padding-left:0px">
          <div class="d-flex flex-column flex-sm-row" style="padding-right:0px;padding-left:0px !important">
            <div style="text-align:center">
              <img :src="imageSrc" @error="$event.target.src='/images/avatars/avatar1.svg'" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1" @click="ImageModal = true" style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px " id="UserImage1">

            </div>
            <div class="flex-grow-1 usernameheight" style="padding-right:16px !important;padding-left:16px !important" >
              <v-row>
                <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;x">
                <v-text-field v-model="UserObject.FullName" :label="$t(`register.name`)" placeholder="Full Name" style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                 <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px; ">

              <v-text-field value="" :label="$t(`menu.UserName`)" v-model="Username"></v-text-field>
                </v-col>
                 <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                                   <v-text-field value="" :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'" @click:append="showPassword = !showPassword" :label="$t(`login.password`)"  v-model="UserObject.Password" ></v-text-field>
                </v-col>
              </v-row>

   <v-row>
                 <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                    <v-combobox
               v-model="UserObject.UserType"
              :items="UserTypeOptions"
              :label="$t(`menu.AccessRole`)"
              dense
              clearable
            >
              <template v-slot:append-outer>
    <v-icon color="#006391"
    @click="CreateAccessRoll" >mdi-plus-box</v-icon>
  </template>
            </v-combobox>
                </v-col>

              </v-row>


            </div>
          </div>
            <v-row>
  <v-col cols="6" md="6" style="padding-top:5px;padding-bottom:0px;padding-right: 11px; padding-left: 24px;">
        <v-switch
      label="Global User"
      v-model="IsGlobalUser"
      @change="DisableBranch()"
    ></v-switch>

          </v-col>
 <v-col cols="6" md="6" style="padding-top:9px;padding-bottom:0px;padding-right: 24px; padding-left: 2px;">
                 <v-combobox
              v-model="UserObject.BranchCode"
              :items="BranchCodeOptions"
              :label="$t(`menu.BranchCode`)"
              dense
              clearable
               v-if="IsMultiBarnch"
             :disabled="IsDisableBranch"

            >


            </v-combobox>
 </v-col>
        </v-row>
          <v-row>
            <v-col cols="7" md="7" style="padding-top:12px;padding-bottom:0px;padding-left:24px;padding-right:1px;">
               <v-switch
      style="float:left;margin-top: -1px;"
      v-model="UserObject.IsActive"
      inset
       :label="$t(`menu.UserisActiveLive`)"

    ></v-switch>
            </v-col>
             <v-col cols="5" md="5" style="padding-top:12px;padding-bottom:0px;padding-right: 14px; padding-left: 3px;text-align:right">
       <v-btn v-if="IsUpdate" depressed small @click=" MappingModal= true" style="background-color:#006391;border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;margin-top: -5px;"
             > {{ $t(`menu.UserMapping`) }}
            </v-btn>
            </v-col>
          </v-row>
          <v-row>
      <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 60px; padding-left: 11px;text-align:right"  @click="open(1)">

        <img :src="UserSignatureUrl"   style="width:50%;border: 0px solid #dee2e6;margin-top:-10px !important;margin-bottom:-2px !important;padding-left:65px">
        <br>
           {{ $t(`menu.Signature`) }}
          </v-col>

          </v-row>


        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

    <!-- BasicTab Ensd heare -->



        <!-- Detail start heare -->

      <v-tab-item value="tabs-information">
         <v-card >
    <v-card-title>{{ $t(`menu.OtherDetails`) }}</v-card-title>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
           <v-text-field value="" :label="$t(`menu.Mobile`)" v-model="UserObject.Mobile" ></v-text-field>
          </v-col>
           <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
             <v-text-field value="" :label="$t(`forgot.email`)" v-model="UserObject.Email" ></v-text-field>
          </v-col>
        </v-row>
        <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field value="" :label="$t(`menu.Address`)" v-model="UserObject.Address"></v-text-field>
          </v-col>
        </v-row>
         <v-row>
  <v-col cols="6" md="6" style="padding-top:7px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-combobox
              v-model="UserObject.Manager"
              :items="UsernameOptions"
              :label="$t(`menu.Manager`)"
              dense
              clearable
            >
              <!-- <template v-slot:append-outer>
    <v-icon color="#006391"  >mdi-plus-box</v-icon>
  </template> -->
            </v-combobox>

          </v-col>
 <v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-text-field value="" :label="$t(`menu.DeviceIds`)" v-model="UserObject.DeviceIds"></v-text-field>
 </v-col>
        </v-row>

           <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field value=""  :label="$t(`menu.Notes`)" v-model="UserObject.Notes"></v-text-field>
          </v-col>

        </v-row>


      </v-form>
    </v-card-text>
  </v-card>
      </v-tab-item>

       <!-- Detail ends heare -->

       <!-- locationtab start here -->
        <v-tab-item value="tabs-userLink">


    <v-card >
    <v-card-title> {{ $t(`menu.UserLinks`) }}</v-card-title>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
              <!-- <v-combobox
              v-model="UserObject.SalePerson"
              :items="SalespersonOptions"
              :label="$t(`menu.SalesPerson`)"
              dense
              clearable
            >
              <template v-slot:append-outer>
    <v-icon color="#006391"  @click="CreateSalesperson()">mdi-plus-box</v-icon>
  </template>

            </v-combobox> -->
            <v-autocomplete
               v-model="UserObject.SalePerson"
              :items="BaseSalespersonOptions"
              :label="$t(`menu.SalesPerson`)"
              dense
              clearable
          >
          <template v-slot:append-outer>
   <v-icon color="#006391"  @click="CreateSalesperson()">mdi-plus-box</v-icon>
  </template>

          </v-autocomplete>
          </v-col>
           <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
              <!-- <v-combobox
              v-model="UserObject.PurchasePerson"
              :items="PurchasepersonOptions"
               :label="$t(`menu.PurchasePerson`)"
              dense
              clearable
            >
              <template v-slot:append-outer>
    <v-icon color="#006391"  @click="CreatePurchaseperson()">mdi-plus-box</v-icon>
  </template>
     </v-combobox> -->
      <v-autocomplete
              v-model="UserObject.PurchasePerson"
              :items="PurchasepersonOptions"
               :label="$t(`menu.PurchasePerson`)"
              dense
              clearable
          >
          <template v-slot:append-outer>
   <v-icon color="#006391"  @click="CreatePurchaseperson()">mdi-plus-box</v-icon>
  </template>

          </v-autocomplete>
          </v-col>
        </v-row>
        <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
           <!-- <v-combobox
              v-model="UserObject.CashLedger"
              :items="CashLedgerOptions"
              :label="$t(`menu.CashLedger`)"
              dense
              clearable
            >
              <template v-slot:append-outer>
    <v-icon color="#006391" @click="CreateLedger()">mdi-plus-box</v-icon>
  </template>

            </v-combobox> -->
             <v-autocomplete
              v-model="UserObject.CashLedger"
              :items="CashLedgerOptions"
              :label="$t(`menu.CashLedger`)"
              dense
              clearable
          >
          <template v-slot:append-outer>
   <v-icon color="#006391"  @click="CreateLedger()">mdi-plus-box</v-icon>
  </template>

          </v-autocomplete>
          </v-col>
        </v-row>
           <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
       <!-- <v-combobox
              v-model="UserObject.VehicleNo"
              :items="VehicleOptions"
              :label="$t(`menu.Vehicle`)"
              dense
              clearable
            >
              <template v-slot:append-outer>
    <v-icon color="#006391" @click="CreateVehicle()">mdi-plus-box</v-icon>
  </template>

            </v-combobox> -->
              <v-autocomplete
            v-model="UserObject.VehicleNo"
              :items="VehicleOptions"
              :label="$t(`menu.Vehicle`)"
              dense
              clearable
          >
          <template v-slot:append-outer>
   <v-icon color="#006391"  @click="CreateVehicle()">mdi-plus-box</v-icon>
  </template>

          </v-autocomplete>
          </v-col>

        </v-row>


      </v-form>
    </v-card-text>
  </v-card>




        </v-tab-item>

        <!-- locationtab ensd heare -->



    </v-tabs-items>
    </v-card-text>
    </v-card>
     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallUser ="CallUser"
   @ClearUser="ClearUser"
   @SaveUser="SaveUser"
   @DeleteUser="DeleteUser"

></fab>
<!-- Mapping modal start here -->
 <!-- <v-dialog v-model="MappingModal" persistent max-width="400"  style="z-index: 100000!important;"> -->
  <v-dialog v-model="MappingModal" fullscreen hide-overlay transition="dialog-bottom-transition" style="border-radius: 0px !important;z-index: 1000000;">
      <v-card>
         <div class="d-flex align-center pa-2" style="padding-top:7px !important;padding-bottom:0px !important" >
        <div  style="color:rgb(0 99 145); ">{{ $t(`menu.UserMapping`) }}</div>
        <v-spacer></v-spacer>
        <v-btn icon @click="MappingModal = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>
      <v-divider style="margin-top: 5px !important;"></v-divider>
            <!-- <v-row>
           <v-col cols="12" style="color: rgb(0, 99, 145);font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-top:10px;padding-bottom:5px">
             <label><b>User Mapping</b></label>
              <v-spacer></v-spacer>
        <v-btn icon @click="MappingModal= false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
           </v-col>
            </v-row> -->
            <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:10px;padding-bottom:0px;padding-right: 24px; padding-left: 24px; " >
        <v-autocomplete
        :items="UsernameOptions"
        v-model="UsernameSearch"
            dense
            :label="$t(`menu.UserName`)"
          @change="GetUser($event)"
          ></v-autocomplete>
          </v-col>
            </v-row>
            <v-divider style="margin-top: 4px !important;"></v-divider>
 <v-tabs v-model="tab1" background-color="transparent"  next-icon="mdi-arrow-right-bold-box-outline"
      prev-icon="mdi-arrow-left-bold-box-outline"
      show-arrows  style="flex-grow: 0 !important;">
      <v-tabs-slider color="teal lighten-3"></v-tabs-slider>
      <v-tab to="#tabs-salespersons" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.SalesPersons`) }}</v-tab>
      <v-tab to="#tabs-Purchasepersons" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.PurchasePersons`) }}</v-tab>
       <v-tab to="#tabs-cashbankLedger" id="innerExPan" style="padding-right:8px;padding-left:8px">{{ $t(`menu.CashBankLedger`) }}</v-tab>
          <v-tab to="#tabs-CustomerGroup" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.CustomerGroup`) }}</v-tab>
      <v-tab to="#tabs-routes" id="innerExPannew" style="padding-right:8px;padding-left:8px">{{ $t(`menu.Routes`) }}</v-tab>
    </v-tabs>





    <v-tabs-items v-model="tab1" touchless>

        <!-- salespersons start heare -->

      <v-tab-item value="tabs-salespersons">
         <div>
      <v-card class="my-2">



        <v-card-text>



                 <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right: 2px;
    padding-left: 2px;">

                       <v-autocomplete
          v-model="selectedSalesperson"
          :items="SalespersonOptions"
           :label="$t(`menu.AvailableSalesPersons`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleSalesperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedSalesperson.length > 0 ? 'indigo darken-4' : ''">{{ iconAllSalesperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllSalesperson">
           <v-list-item-title>{{ $t(`dashboard.SelectedallSalesPerson`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.SalesPersonCount`) }} :{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeSalesperson">
            <v-list-item-title>{{ $t(`dashboard.SalesPersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedSalesperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
       <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;"
              @click="LinkSalesperson"

            >
            {{ $t(`menu.Link`) }}
            </v-btn>

  </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                  <!-- <v-row>
                    <v-col cols="12" md="12" lg="12"  style="padding-right:24px;padding-top:10px;padding-bottom:15px;text-align:right" >
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
              @click="LinkSalesperson"

            >
            {{ $t(`menu.Link`) }}
            </v-btn>
        </v-col>
        </v-row> -->
        <v-divider></v-divider>


<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.LinkedSalesPersons`) }}</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="9" sm="9"  class="salesPersons" style="font-size:13px;">
    {{ $t(`menu.SalesPersons`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="action" style="font-size:13px;">

      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in LinkedSalesperson"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="10" sm="10" class="text-left" style="padding: 0px !important; ">

      <b>{{item}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteLinkedSalesperson(item)" >mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>



        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

    <!-- salespersons Ensd heare -->



        <!-- Purchasepersons start heare -->

      <v-tab-item value="tabs-Purchasepersons">
        <div>
      <v-card class="my-2">
        <v-card-text>
                 <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:2px;padding-left:2px">

                       <v-autocomplete
          v-model="selectedPurchaseperson"
          :items="PurchasepersonOptions"
           :label="$t(`menu.AvailablePurchasePersons`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="togglePurchaseperson"
        >
          <v-list-item-action>
            <v-icon :color="selectedPurchaseperson.length > 0 ? 'indigo darken-4' : ''">{{ iconAllPurchaseperson }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllPurchaseperson">
            <v-list-item-title> {{ $t(`menu.SelectedallPurchaseperson`) }}</v-list-item-title>
            <v-list-item-subtitle> {{ $t(`menu.PurchasepersonCount`) }}:{{ selectedPurchaseperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomePurchaseperson">
            <v-list-item-title>{{ $t(`menu.PurchasepersonCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedPurchaseperson.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
           <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;"
              @click="LinkPurchaseperson()"
            >
             {{ $t(`menu.Link`) }}
            </v-btn>
       </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                  <!-- <v-row>
                    <v-col cols="12" md="12" lg="12"  style="padding-top:10px;padding-bottom:15px;text-align:right" >
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
              @click="LinkPurchaseperson()"
            >
             {{ $t(`menu.Link`) }}
            </v-btn>
        </v-col>
        </v-row> -->
        <v-divider></v-divider>




<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.LinkedPurchasePersons`) }}</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="9" sm="9" class="salesPersons" style="font-size:13px;">
  {{ $t(`menu.PurchasePersons`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="action" style="font-size:13px;">

      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in LinkedPurchaseperson"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="10" sm="10" class="text-left" style="padding: 0px !important; ">

      <b>{{item}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteLinkedPurchaseperson(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>



        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

       <!-- Purchasepersons ends heare -->

       <!-- Cash & Bank Ledger start here -->
      <v-tab-item value="tabs-cashbankLedger">
        <div>
      <v-card class="my-2">
        <v-card-text>
                 <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:2px;padding-left:2px">

                       <v-autocomplete
          v-model="selectedCashBankLedger"
          :items="CashBankLedgerOptions"
           :label="$t(`menu.AvailableCashBankLedger`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleLedger"
        >
          <v-list-item-action>
            <v-icon :color="selectedCashBankLedger.length > 0 ? 'indigo darken-4' : ''">{{ iconAllLedger }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCashBankLedger">
            <v-list-item-title>{{ $t(`menu.SelectedallLedger`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.LedgerCount`) }}  :{{ selectedCashBankLedger.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCashBankLedger">
            <v-list-item-title>{{ $t(`menu.LedgerCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCashBankLedger.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <template v-slot:append-outer>
           <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important"
              @click="LinkCashBankLedger()"
            >
            {{ $t(`menu.Link`) }}
            </v-btn>
      </template>
</v-autocomplete>
                   </v-col>
                  </v-row>

        <v-divider></v-divider>

<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.LinkedCashBankLedger`) }}</b>
      </v-col>
</v-row>

     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="9" sm="9" class="salesPersons" style="font-size:13px;">
 {{ $t(`menu.CashBankLedger`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="action" style="font-size:13px;">

      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in LinkedCashBankLedger"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="10" sm="10" class="text-left" style="padding: 0px !important; ">

      <b>{{item}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteLinkedCashBankLedger(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

        <!-- Cash & Bank Ledger ensd heare -->
           <!-- Customer Groups start heare -->

      <v-tab-item value="tabs-CustomerGroup">
        <div>
      <v-card class="my-2">
        <v-card-text>
                    <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:2px;padding-left:2px">
    <v-autocomplete
          v-model="selectedCustomerGroup"
          :items="CustomerGroupOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
          style="margin-bottom: -26px !important;"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleCustomerGroup"
        >
          <v-list-item-action>
            <v-icon :color="selectedCustomerGroup.length > 0 ? 'indigo darken-4' : ''">{{ iconAllCustomerGroup }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider class="mt-2"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllCustomerGroup">
            <v-list-item-title>{{ $t(`menu.SelectedallCustomerGroup`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ $t(`menu.CustomerGroupCount`) }} :{{ selectedCustomerGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeCustomerGroup">
            <v-list-item-title>{{ $t(`menu.CustomerGroupCount`) }}</v-list-item-title>
            <v-list-item-subtitle>{{ selectedCustomerGroup.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
       <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important;"
              @click="LinkCustomerGroup"

            >
            {{ $t(`menu.Link`) }}
            </v-btn>

  </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                  <!-- <v-row>
                    <v-col cols="12" md="12" lg="12"  style="padding-right:24px;padding-top:10px;padding-bottom:15px;text-align:right" >
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
            @click="LinkCustomerGroup()"
            >
            {{ $t(`menu.Link`) }}
            </v-btn>
        </v-col>
        </v-row> -->
        <v-divider></v-divider>




<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.LinkedCustomerGroups`) }}</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="9" sm="9" class="salesPersons" style="font-size:13px;">
{{ $t(`menu.CustomerGroups`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="action" style="font-size:13px;">

      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in LinkedCustomerGroup"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="10" sm="10" class="text-left" style="padding: 0px !important; ">

      <b>{{item}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteLinkedCustomerGroup(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>



        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

       <!-- Customer Groups ends heare -->
         <!-- routes start here -->
      <v-tab-item value="tabs-routes">
        <div>
      <v-card class="my-2">
        <v-card-text>
                 <v-row>
                   <v-col col="12" md="12" sm="12 " style="padding-bottom:0px !important;padding-top: 0px !important;padding-right:2px;padding-left:2px">

                       <v-autocomplete
          v-model="selectedRoute"
          :items="RouteOptions"
           :label="$t(`dashboard.all`)"
          multiple
          outlined
          dense
          clearable
            style="padding-left:10px !important;padding-right:10px !important;margin-bottom: -12px !important"
        >
 <template v-slot:prepend-item>
        <v-list-item
          ripple
          @click="toggleRoute"
        >
          <v-list-item-action>
            <v-icon :color="selectedRoute.length > 0 ? 'indigo darken-4' : ''">{{ iconAllRoute }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
           <v-list-item-title>{{ $t(`dashboard.SelectAll`) }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider style="padding-top:0px !important"></v-divider>
      </template>
      <template v-slot:append-item>
        <v-divider class="mb-2"></v-divider>
        <v-list-item disabled>
          <v-list-item-avatar color="grey lighten-3">
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content v-if="likesAllRoute">
            <v-list-item-title>{{ $t(`dashboard.SelectedallRoute`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ $t(`dashboard.RouteCount`) }} :{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else-if="likesSomeRoute">
             <v-list-item-title>{{ $t(`dashboard.RouteCount`) }} </v-list-item-title>
            <v-list-item-subtitle>{{ selectedRoute.length }}</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-content v-else>
            <v-list-item-title>
            </v-list-item-title>
           <v-list-item-subtitle>
             {{ $t(`dashboard.gohead`) }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
       <template v-slot:append-outer>
           <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 48px !important"
              @click="LinkRoute()"
            >
            {{ $t(`menu.Link`) }}
            </v-btn>
       </template>
</v-autocomplete>
                   </v-col>
                  </v-row>
                  <!-- <v-row>
                    <v-col cols="12" md="12" lg="12"  style="padding-right:24px;padding-top:10px;padding-bottom:15px;text-align:right" >
      <v-btn
              small

              style="background-color:#2E7D32;color:#FFF;min-width: 60px !important"
              @click="LinkRoute()"
            >
            {{ $t(`menu.Link`) }}
            </v-btn>
        </v-col>
        </v-row> -->
        <v-divider></v-divider>

  <v-container class="grey lighten-5" style="padding: 0px;" id="printMe" options>


<v-row>
     <v-col cols="12" sm="12" style="padding-top: 10px !important;padding-bottom: 10px !important;  text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;">{{ $t(`menu.LinkedRoutes`) }}</b>
      </v-col>
</v-row>



     <v-row no-gutters style="    font-size: 10px;padding: 5px; background: #343a402e;"  >

      <v-col cols="9" sm="9" class="salesPersons" style="font-size:13px;">
 {{ $t(`menu.Routes`) }}
      </v-col>
      <v-col cols="3" sm="3"  class="action" style="font-size:13px;">

      </v-col>

    </v-row>
     <v-row class="setmaxrownew" no-gutters style=" font-size: 10px;text-align: left;padding: 5px;  overflow:scroll;overflow-x: hidden;"  >
       <v-expansion-panels >

    <v-expansion-panel v-for="(item,i) in LinkedRoute"  :key="i" class="ma-0" v-touch:tap="touchHandler" >
       <!-- ----- -->
     <v-expansion-panel-header expand-icon="" style="min-height:40px !important;">

       <v-row>

       <v-col cols="10" sm="10" class="text-left" style="padding: 0px !important; ">

      <b>{{item}}</b>
      </v-col>
       <v-col cols="2" sm="2" class="text-right" style="padding: 0px !important; ">

    <v-icon left style="font-size:15px;color:#C62828;" @click="DeleteLinkedRoute(item)">mdi-delete</v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
    </v-row>
  </v-container>


        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

        <!-- Routes ensd heare -->



    </v-tabs-items>

      </v-card>
    </v-dialog>
<!-- Mapping modal endshere -->
 <v-dialog v-model="ImageModal" persistent max-width="300"  style="z-index: 100000!important;">
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.ChooseUserPhoto`) }}</v-card-title>
        <v-row style="margin:0px">

          <v-col cols="12" md="12" lg="12" style="text-align:center">
         <input @change="uploadImage" type="file" name="photo" >
        </v-col>
        </v-row>
        <v-row style="padding-bottom:15px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="green"  @click="ImageModal=false">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="#FFA726"  @click="ImageModal=false">{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>







       <v-dialog v-model="DeleteConfirmation_User" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="DeleteConfirmation_User = false" >Cancel</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="ExecuteDeleteUser">OK</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>


      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  <v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" :defaultUrl="dataUrl"  style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
//import Assets from '../Vouchers/Assets.vue'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
       IsUpdate : false,
         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      UserObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

      // {
      //     name: 'CallUser',
      //     icon: 'logout',
      //     tooltip:this.$t(`menu.logout`)
      //   },

        {
          name: 'DeleteUser',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearUser',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveUser',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    //Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    UserTypeOptions : [],
    IsMultiBarnch : false,
    UsernameOptions : JSON.parse( localStorage.getItem('ReceivedBy') ),
    UsernameSearch : '',
    BaseSalespersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    SalespersonOptions : JSON.parse( localStorage.getItem('LinkedSalesPersnons') ),
    PurchasepersonOptions : JSON.parse(localStorage.getItem('LinkedPurchasePersons')),
    CashBankLedgerOptions: JSON.parse( localStorage.getItem('CashBankLedgerNames')),
     RouteObject : JSON.parse( localStorage.getItem('LinkedRoutes')),
    RouteOptions : [],
    VehicleOptions:[],
    CashLedgerOptions:[],
    CustomerGroupOptions:JSON.parse( localStorage.getItem('CustomerGroups')),
     LinkedSalesperson : [],
    LinkedPurchaseperson : [],
    LinkedCashBankLedger:[],
    LinkedCustomerGroup:[],
    LinkedSalespersonObject : [],
    LinkedPurchasepersonObject : [],
    LinkedCashBankLedgerObject:[],
    LinkedCustomerGroupObject:[],
    LinkedVehicle:[],
    LinkedRoute : [],
    IsSalesPersonShow : false,
    GroupNameOptions : JSON.parse( localStorage.getItem('CustomerGroup') ),
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation_User : false,
    BillwiseDeleteId : -1,
    DeleteConfirmation_Billwise : false,

    menu: false,
    selectedSalesperson:[],
    selectedPurchaseperson:[],
    selectedCashBankLedger:[],
    selectedCustomerGroup:[],
    selectedRoute:[],
    Loaderdialog:false,
    Photo:"",
    UserSignature:'',
    UserSignatureUrl:'',
    IsGlobalUser : false

    }
  },
  mixins: [DayEndCheck],
  computed: {
     likesAllSalesperson () {
      return this.selectedSalesperson.length === this.SalespersonOptions.length
    },
    likesSomeSalesperson() {
      return this.selectedSalesperson.length > 0 && !this.likesAllSalesperson
    },

     likesAllPurchaseperson () {
      return this.selectedPurchaseperson.length === this.PurchasepersonOptions.length
    },
    likesSomePurchaseperson () {
      return this.selectedPurchaseperson.length > 0 && !this.likesAllPurchaseperson
    },

     likesAllCashBankLedger () {
      return this.selectedCashBankLedger.length === this.CashBankLedgerOptions.length
    },
    likesSomeCashBankLedger () {
      return this.selectedCashBankLedger.length > 0 && !this.likesAllCashBankLedger
    },

     likesAllCustomerGroup () {
      return this.selectedCustomerGroup.length === this.CustomerGroupOptions.length
    },
    likesSomeCustomerGroup () {
      return this.selectedCustomerGroup.length > 0 && !this.likesAllCustomerGroup
    },

    likesAllRoute () {
      return this.selectedRoute.length === this.RouteOptions.length
    },
    likesSomeRoute () {
      return this.selectedRoute.length > 0 && !this.likesAllRoute
    },
     iconAllSalesperson () {
      if (this.likesAllSalesperson) return 'mdi-close-box'
      if (this.likesSomeSalesperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllPurchaseperson () {
      if (this.likesAllPurchaseperson) return 'mdi-close-box'
      if (this.likesSomePurchaseperson) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllLedger () {
      if (this.likesAllCashBankLedger) return 'mdi-close-box'
      if (this.likesSomeCashBankLedger) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
     iconAllCustomerGroup () {
      if (this.likesAllCustomerGroup) return 'mdi-close-box'
      if (this.likesSomeCustomerGroup) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },

     iconAllRoute () {
      if (this.likesAllRoute) return 'mdi-close-box'
      if (this.likesSomeRoute) return 'mdi-minus-box'

      return 'mdi-checkbox-blank-outline'
    },
  },
  mounted()
  {

     this.PreviousPage = localStorage.getItem('PreviousRoute')
    if(this.PreviousPage !== 'UserProfile')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }
    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','UserManagement')
    localStorage.setItem('ActiveRoute','/dashboard/masters/userManagement')
   localStorage.removeItem('VoucherUpdated')
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
    this.BindRouteOptions()
    this.LoadCashLedgers()
    this.LoadVehicles()
    this.LoadUserRole()
    this.GetUsernames()


  },
  methods:
  {
      toggleRoute () {
      this.$nextTick(() => {
        if (this.likesAllRoute) {
          this.selectedRoute = []
        } else {
          this.selectedRoute = this.RouteOptions.slice()
        }
      })
    },

    toggleSalesperson () {
      this.$nextTick(() => {
        if (this.likesAllSalesperson) {
          this.selectedSalesperson = []
        } else {
          this.selectedSalesperson = this.SalespersonOptions.slice()
        }
      })
    },

    togglePurchaseperson () {
      this.$nextTick(() => {
        if (this.likesAllPurchaseperson) {
          this.selectedPurchaseperson = []
        } else {
          this.selectedPurchaseperson = this.PurchasepersonOptions.slice()
        }
      })
    },

    toggleLedger () {
      this.$nextTick(() => {
        if (this.likesAllCashBankLedger) {
          this.selectedCashBankLedger = []
        } else {
          this.selectedCashBankLedger = this.CashBankLedgerOptions.slice()
        }
      })
    },

   toggleCustomerGroup () {
      this.$nextTick(() => {
        if (this.likesAllCustomerGroup) {
          this.selectedCustomerGroup = []
        } else {
          this.selectedCustomerGroup = this.CustomerGroupOptions.slice()
        }
      })
    },
        saveDigital(){

			var _this = this;
      //this.temp = "data:image/svg+xml;base64,"

			var svg = _this.$refs.signature.save('image/jpeg');
      this.UserSignature = svg.replace("data:image/jpeg;base64,", "")

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.UserSignatureUrl = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.UserSignatureUrl = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }
      this.dataUrl = this.UserSignatureUrl
      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

  BasicSettings()
  {
      this.IsSalesPerson = localStorage.getItem('salePerson')
      if (this.IsSalesPerson !== '')
        this.UserObject.Salesman = this.IsSalesPerson

      /*  this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.UserObject.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.UserObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.UserObject.BranchCode = ''
       } */

      this.SalespersonLength = this.SalespersonOptions.length
      if (this.SalespersonLength > 1)
      {
        this.IsSalesPersonShow = true
      }

      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
      {
          this.IsMultiBarnch = true
      }
      else{
        this.UserObject.BranchCode = this.BranchCodeOptions[0]
      }

       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

      this.UserObject.IsActive = true
      this.RemoveAdminFromUsers()

  },
  SetPermission()
  {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmCreateUser')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
  },
  GetUser(user)
  {
    this.Loaderdialog = true
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'User/' + user)
        .then((response)  =>  {
          this.SalespersonOptions = this.SalespersonOptions
          this.AssignObject(response.data,this.SalespersonOptions)

this.IsUpdate=true
        }, (error)  =>  {
          console.log(error)
        })
  },
  AssignObject(obj,qwe)
  {
      this.SalespersonOptions = this.SalespersonOptions
      this.Username = obj.Username
      this.Username = obj.username
      document.getElementById("UserImage1").src = 'data:image/jpeg;base64,' + obj.photo
      this.UserObject.FullName = obj.fullName
      //this.UserObject.Password = obj.password

      this.UserObject.UserType = obj.userType
      this.UserObject.IsActive = obj.isActive
      this.UserObject.Mobile = obj.mobile
      this.UserObject.Email = obj.email
      this.UserObject.Address = obj.address
      this.UserObject.Notes = obj.notes
      this.UserObject.Manager = obj.manager
      this.UserObject.DeviceIds = this.GetsWithComma(obj.deviceIds)
      this.UserObject.BranchCode = obj.branchCode
      if(obj.userType !== "Administrator" && obj.branchCode === null || obj.branchCode === "" || obj.branchCode === "#")
      {
         this.IsGlobalUser = true
         this.IsDisableBranch = true
      }
      else{
        this.IsGlobalUser = false
         this.IsDisableBranch = false
      }
      this.UserObject.SalePerson = obj.salePerson
      this.UserObject.PurchasePerson = obj.purchasePerson
      this.UserObject.CashLedger = obj.cashLedger
      this.UserObject.VehicleNo = obj.vehicleNo
       this.Photo = obj.photo
       this.UserSignature = obj.signature
       this.UserSignatureUrl = "data:image/png;base64," + obj.signature
       localStorage.setItem('TempImage',this.Photo);


           for(this.i=0;this.i<this.LinkedSalesperson.length;this.i++)
           {
             this.SalespersonOptions.push(this.LinkedSalesperson[this.i])
           }
           this.LinkedSalesperson = []
           for(this.i=0;this.i<this.LinkedPurchaseperson.length;this.i++)
           {
             this.PurchasepersonOptions.push(this.LinkedPurchaseperson[this.i])
           }
           this.LinkedPurchaseperson = []
          for(this.i=0;this.i<this.LinkedCustomerGroup.length;this.i++)
           {
             this.CustomerGroupOptions.push(this.LinkedCustomerGroup[this.i])
           }
           this.LinkedCustomerGroup = []
           for(this.i=0;this.i<this.LinkedCashBankLedger.length;this.i++)
           {
              this.CashBankLedgerOptions.push(this.LinkedCashBankLedger[this.i])
           }
           this.LinkedCashBankLedger = []
           for(this.i=0;this.i<this.LinkedRoute.length;this.i++)
           {
              this.RouteOptions.push(this.LinkedRoute[this.i])
           }
           this.LinkedRoute = []


			/* this.$refs.signature.clear(); */
      this.dataUrl = ""
        this.GetEncryptedPassword(obj.username)
       this.GetLinkedCustomerGroups(obj.username)
       this.GetSalesPersons(obj.username)
       this.GetPurchasePersons(obj.username)
        this.GetCashBankLedgerNames(obj.username)
        this.GetRoutes(obj.username)

  },
  FormatewithDecimalPlaces(value)
  {
      return parseFloat(value).toFixed(this.DecimalPlaces)
  },

  CreateObject()
  {

      this.UserObject.Username = this.Username
      this.UserObject.Photo = localStorage.getItem('TempImage')?localStorage.getItem('TempImage'):null
      this.UserObject.FullName = this.UserObject.FullName?this.UserObject.FullName:''
      this.UserObject.Password = this.UserObject.Password?this.UserObject.Password:''
      this.UserObject.UserType = this.UserObject.UserType?this.UserObject.UserType:''
      this.UserObject.Manager = this.UserObject.Manager?this.UserObject.Manager:''
      this.UserObject.IsActive =  this.UserObject.IsActive? this.UserObject.IsActive:false
      this.UserObject.Mobile = this.UserObject.Mobile?this.UserObject.Mobile:''
      this.UserObject.Email = this.UserObject.Email?this.UserObject.Email:''
      this.UserObject.Address = this.UserObject.Address?this.UserObject.Address:''
      this.UserObject.Notes = this.UserObject.Notes?this.UserObject.Notes:''
      this.UserObject.DeviceIds = this.UserObject.DeviceIds?this.UserObject.DeviceIds:''
      this.UserObject.BranchCode = this.UserObject.BranchCode?this.UserObject.BranchCode:''
      this.UserObject.SalePerson = this.UserObject.SalePerson?this.UserObject.SalePerson:''
      this.UserObject.PurchasePerson = this.UserObject.PurchasePerson?this.UserObject.PurchasePerson:''
      this.UserObject.CashLedger = this.UserObject.CashLedger?this.UserObject.CashLedger:''
      this.UserObject.VehicleNo = this.UserObject.VehicleNo?this.UserObject.VehicleNo:''
      if(this.UserObject.DeviceIds !== "" && this.UserObject.DeviceIds !== null)
      {
        if(this.UserObject.DeviceIds.length > 0)
            this.UserObject.DeviceIds = this.UserObject.DeviceIds.split(',');
      }
      else{
        this.UserObject.DeviceIds = []
      }
       if(this.UserObject.Photo === "")
      {
        this.UserObject.Photo = null
      }
      this.UserObject.Signature = this.UserSignature?this.UserSignature:''

  },
  SaveUser()
  {
      this.CreateObject()
      if(this.UserObject.Username === ""   )
      {
        this.SnackbarMessege = "Enter username"
        this.snackbar = true
        return
      }
       if( this.UserObject.UserType === "" )
      {
        this.SnackbarMessege = "Select access role"
        this.snackbar = true
        return
      }
      if(this.UserObject.UserType !== "Administrator" && this.UserObject.Password === "")
      {
          this.SnackbarMessege = "Enter password"
          this.snackbar = true
          return
      }
      else if(this.UsernameSearch === undefined || this.UsernameSearch === '')
      {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'User',this.UserObject)
            .then((response)  =>  {
              if(response.data === -999)
              {
                      this.SnackbarMessege = "User limit Exceeded"
                      this.snackbar = true
              }
              else{
                   this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              localStorage.setItem('UsernameForRoute',this.Username)
              this.GetUsernames()
              this.Loaderdialog = false
              this.ClearUser()
              }
              /* localStorage.removeItem('Username')

              setTimeout( location.reload() , 2000) */
            },              (error)  =>  {
          this.ItemName = "";
          this.Unit = "";
          this.IsShowItemCodeError = false;
          this.IsShowBarcodeError = true;
          this.unit = "";
          if(error.response === undefined)
          {
            this.SnackbarMessege = "Check your internet connection,then try again!"
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else if(error.response.status  === 401)
          {
             this.GlobalPasswordModal = true
          }
           else{
             this.SnackbarMessege = "Check your internet connection,then try again!"
           }
          this.snackbar = true
          this.Loaderdialog = false
        })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
      else{
        if (this.isUpdatePermission === true)
        {

        this.Loaderdialog = true
            axios.put ( this.bURL + 'User/UpdateUser?OldUsername='+this.Username ,this.UserObject)
              .then((response)  =>  {
                  this.Loaderdialog = false
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
              this.ClearUser()



              }, (error)  =>  {
                 this.Loaderdialog = false
              this.SnackbarMessege = "Failed"
            this.snackbar = true
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
  },
  DeleteUser()
  {
      if (this.Username !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation_User = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

  },
  ExecuteDeleteUser()
  {
      this.encodeUsername = encodeURIComponent(this.Username)
      axios.delete( this.bURL + 'User/' + this.encodeUsername)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
           this.DeleteConfirmation_User = false
          this.snackbar = true
         this.GetUsernames()
          this.ClearUser()
        },(error)  =>  {
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
  },
  ClearUser()
  {
    // alert("WWWWWWWWWWWw")
    this.IsUpdate = false
      this.UserSignatureUrl = ""
      this.dataUrl = ""
      this.UsernameSearch = ""
      this.Username = ""
      this.UserObject.Username = ""
      this.Photo =""
      this.UserObject.FullName = ""
      this.UserObject.Password = ""
      this.UserObject.UserType = ""
      this.UserObject.Mobile = ""
      this.UserObject.Email = ""
      this.UserObject.Address = ""
      this.UserObject.Notes = ""
      this.UserObject.DeviceIds = ""
      this.UserObject.SalePerson = ""
      this.UserObject.PurchasePerson = ""
      this.UserObject.CashLedger = ""
      this.UserObject.VehicleNo = ""
      this.UserImage1 = ""
      document.getElementById("UserImage1").src = "/images/avatars/avatar1.svg"
      this.imageSrc = '/images/avatars/avatar1.svg'
      this.UserObject.IsActive = true
      this.IsGlobalUser = false
      localStorage.removeItem('TempImage')

      this.clearDigital()



  },

  FormatDate(Value)
  {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

  },
  LoadCashLedgers()
  {
      axios.get ( this.bURL + "User/GetLinkedCashLedgers/"+ window.localStorage.getItem("user"))
        .then((response)  =>  {
           for (this.i = 0; this.i < response.data.length; this.i++) {
           this.CashLedgerOptions.push(response.data[this.i])
        }
        }, (error)  =>  {
          console.log(error)
        })
  },
  BindRouteOptions()
  {
       for(this.i=0;this.i<this.RouteObject.length;this.i++)
       {
            this.RouteOptions.push(this.RouteObject[this.i].RouteName)
       }
  },

  LoadVehicles()
  {
      axios.get ( this.bURL + "Vehicle/LoadVehilceNumbers?ActiveStatus=Active")
        .then((response)  =>  {
           if(response.data.length>0)
           {
             this.VehicleOptions = response.data
           }
        }, (error)  =>  {
          console.log(error)
        })
  },
  LoadUserRole()
  {
      axios.get ( this.bURL + "User/LoadUserRoleNames")
        .then((response)  =>  {
           if(response.data.length>0)
           {
             this.UserTypeOptions = response.data
           }
        }, (error)  =>  {
          console.log(error)
        })
  },
  BindRouteOptions()
  {
       for(this.i=0;this.i<this.RouteObject.length;this.i++)
       {
            this.RouteOptions.push(this.RouteObject[this.i].RouteName)
       }
  },
  LinkSalesperson(localLink)
  {
      if(this.Username === undefined || this.Username === undefined || this.Username === null)
      {
        this.SnackbarMessege =this.$t(`menu.pleaseselectuser`)
        this.snackbar = true
        return
      }
     if(this.selectedSalesperson.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select Salesperson"
        this.snackbar = true
        return
      }

      this.DeletedList = []
      this.LinkedSalesperson = []
        for(this.i=0;this.i<this.selectedSalesperson.length;this.i++)
        {
          this.LinkedSalesperson.push(this.selectedSalesperson[this.i])
          for(this.j=0;this.j<this.SalespersonOptions.length;this.j++)
          {
            if(this.selectedSalesperson[this.i] === this.SalespersonOptions[this.j])
            {
              this.DeletedList.push(this.SalespersonOptions[this.j])
              this.SalespersonOptions.splice(this.j,1)
              break
            }
          }
        }
        this.selectedSalesperson = []
        if(localLink !== true)
        {

           this.Loaderdialog = true
         axios.post(this.bURL + "user/InsertSalePersonLink?Username="+this.Username,this.DeletedList)
        .then((response)  =>  {
             this.SnackbarMessege = this.$t(`menu.Success`)
             this.GetSalesPersons(this.Username,false)
          this.snackbar = true
              this.Loaderdialog = false
        }, (error)  =>  {
                   this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
           this.Loaderdialog = false
            for(this.i=0;this.i<this.DeletedList.length;this.i++)
           {
             this.ExecuteDeleteLinkedSalesperson(this.DeletedList[this.i])
           }
          console.log(error)
        })
        }

  },
  LinkPurchaseperson(localLink)
  {
      if(this.Username === undefined || this.Username === undefined || this.Username === null)
      {
         this.SnackbarMessege =this.$t(`menu.pleaseselectuser`)
        this.snackbar = true
        return
      }
      if(this.selectedPurchaseperson.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select Purchaseperson"
        this.snackbar = true
        return
      }

      this.DeletedList = []
      this.LinkedPurchaseperson = []
        for(this.i=0;this.i<this.selectedPurchaseperson.length;this.i++)
        {
          this.LinkedPurchaseperson.push(this.selectedPurchaseperson[this.i])
          for(this.j=0;this.j<this.PurchasepersonOptions.length;this.j++)
          {
            if(this.selectedPurchaseperson[this.i] === this.PurchasepersonOptions[this.j])
            {
              this.DeletedList.push(this.PurchasepersonOptions[this.j])
              this.PurchasepersonOptions.splice(this.j,1)
              break
            }
          }
        }
        this.selectedPurchaseperson = []
         if(localLink !== true)
        {

       this.Loaderdialog = true
       localStorage.setItem('purchToLink',JSON.stringify(this.DeletedList))
           axios.post ( this.bURL + "User/InsertPurchasePersonLink?Username=" + this.Username,this.DeletedList)
        .then((response)  =>  {
          this.Loaderdialog = false
             this.SnackbarMessege = this.$t(`menu.Success`)
          this.snackbar = true
           this.GetPurchasePersons(this.Username,false)
        }, (error)  =>  {
         this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
           this.Loaderdialog = false
           for(this.i=0;this.i<this.DeletedList.length;this.i++)
           {
             this.ExecuteDeleteLinkedPurchaseperson(this.DeletedList[this.i])
           }
        })
        }

  },
  LinkCashBankLedger(localLink)
  {
      this.DeletedList = []
      this.LinkedCashBankLedger = []
      if(this.Username === undefined || this.Username === undefined || this.Username === null)
      {
         this.SnackbarMessege =this.$t(`menu.pleaseselectuser`)
        this.snackbar = true
        return
      }
       if(this.selectedCashBankLedger.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select Ledger"
        this.snackbar = true
        return
      }

        for(this.i=0;this.i<this.selectedCashBankLedger.length;this.i++)
        {
          this.LinkedCashBankLedger.push(this.selectedCashBankLedger[this.i])
          for(this.j=0;this.j<this.CashBankLedgerOptions.length;this.j++)
          {
            if(this.selectedCashBankLedger[this.i] === this.CashBankLedgerOptions[this.j])
            {
              this.DeletedList.push(this.CashBankLedgerOptions[this.j])
              this.CashBankLedgerOptions.splice(this.j,1)

              break
            }
          }
        }
        this.selectedCashBankLedger = []
        if(localLink !== true)
        {

        this.Loaderdialog = true
         axios.post( this.bURL + "User/InsertCashAndBankLedgerLink?Username=" + this.Username,this.DeletedList)
        .then((response)  =>  {
          this.Loaderdialog = false
             this.SnackbarMessege = this.$t(`menu.Success`)
          this.snackbar = true
        }, (error)  =>  {
          this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
           this.Loaderdialog = false
           for(this.i=0;this.i<this.DeletedList.length;this.i++)
           {
             this.ExecuteDeleteLinkedCashBankLedger(this.DeletedList[this.i])
           }
        })
        }

  },
  LinkCustomerGroup(localLink)
  {
      if(this.Username === undefined || this.Username === undefined || this.Username === null)
      {
         this.SnackbarMessege =this.$t(`menu.pleaseselectuser`)
        this.snackbar = true
        return
      }
       if(this.selectedCustomerGroup.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select customer group"
        this.snackbar = true
        return
      }

      this.DeletedList = []
      this.LinkedCustomerGroup = []
        for(this.i=0;this.i<this.selectedCustomerGroup.length;this.i++)
        {
          this.LinkedCustomerGroup.push(this.selectedCustomerGroup[this.i])
          for(this.j=0;this.j<this.CustomerGroupOptions.length;this.j++)
          {
            if(this.selectedCustomerGroup[this.i] === this.CustomerGroupOptions[this.j])
            {
              this.DeletedList.push(this.CustomerGroupOptions[this.j])
              this.CustomerGroupOptions.splice(this.j,1)
              break
            }
          }
        }
        this.selectedCustomerGroup = []
        if(localLink !== true)
        {

        this.Loaderdialog = true
         axios.post ( this.bURL + "User/InsertCustomerGroupLink?Username=" + this.Username,this.DeletedList)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.Success`)
          this.snackbar = true
             this.Loaderdialog = false
        }, (error)  =>  {
          this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
           this.Loaderdialog = false
            for(this.i=0;this.i<this.DeletedList.length;this.i++)
           {
             this.ExecuteDeleteLinkedCustomerGroup(this.DeletedList[this.i])
           }
          console.log(error)
        })
        }

  },
  LinkRoute(localLink,isDelete)
  {
      if(this.Username === undefined || this.Username === undefined || this.Username === null)
      {
         this.SnackbarMessege =this.$t(`menu.pleaseselectuser`)
        this.snackbar = true
        return
      }
      if(this.selectedRoute.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select route"
        this.snackbar = true
        return
      }
      this.DeletedList = []
      //this.LinkedRoute = []
        for(this.i=0;this.i<this.selectedRoute.length;this.i++)
        {
          this.LinkedRoute.push(this.selectedRoute[this.i])
          for(this.j=0;this.j<this.RouteOptions.length;this.j++)
          {
            if(this.selectedRoute[this.i] === this.RouteOptions[this.j])
            {
               this.DeletedList.push(this.RouteOptions[this.j])
              this.RouteOptions.splice(this.j,1)
              break
            }
          }
        }
        this.selectedRoute = []

         if(localLink !== true || isDelete === true)
        {
      /* if(this.selectedRoute.length === 0 && localLink !== true)
      {
        this.SnackbarMessege = "Please Select route"
        this.snackbar = true
        return
      } */
          this.LinkRouteIds = ""
          for(this.i=0;this.i<this.LinkedRoute.length;this.i++)
          {
            for(this.j=0;this.j<this.RouteObject.length;this.j++)
            {
              if(this.LinkedRoute[this.i] === this.RouteObject[this.j].RouteName)
              {
                if(this.LinkRouteIds !== "")
                {
                  this.LinkRouteIds = this.LinkRouteIds + "~"
                }
                  this.LinkRouteIds =  this.LinkRouteIds + this.RouteObject[this.j].RouteID
                  break
              }
            }
          }

        this.Loaderdialog = true
         axios.put ( this.bURL + "User/UpdateUserRouteLinks?Username=" + this.Username + '&RouteIds=' + this.LinkRouteIds)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.Success`)
          this.snackbar = true
             this.Loaderdialog = false
        }, (error)  =>  {
          this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
           this.Loaderdialog = false
            for(this.i=0;this.i<this.DeletedList.length;this.i++)
           {
             this.DeleteLinkedRoute(this.DeletedList[this.i],true)
           }
          console.log(error)
        })
        }


  },
  DeleteLinkedSalesperson(Salesperson)
  {
    this.LinkID = -1
       for(this.j=0;this.j<this.LinkedSalespersonObject.length;this.j++)
       {
        if(this.LinkedSalespersonObject[this.j].SalePerson === Salesperson)
        {
              this.LinkID = this.LinkedSalespersonObject[this.j].LinkID
              break
        }
       }
       this.Loaderdialog = true
       axios.get ( this.bURL + "user/DeleteSalePersonLink?LinkId=" + this.LinkID)
        .then((response)  =>  {
          this.ExecuteDeleteLinkedSalesperson(Salesperson)
      this.Loaderdialog = false
        }, (error)  =>  {
         this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
          this.Loaderdialog = false
        })

  },
  ExecuteDeleteLinkedSalesperson(Salesperson)
  {
        for(this.j=0;this.j<this.LinkedSalesperson.length;this.j++)
       {
        if(this.LinkedSalesperson[this.j] === Salesperson)
        {
              this.LinkedSalesperson.splice(this.j,1)
              break
        }
       }
      this.SalespersonOptions.push(Salesperson)
  },

  DeleteLinkedPurchaseperson(Purchaseperson)
  {
       for(this.j=0;this.j<this.LinkedPurchasepersonObject.length;this.j++)
       {
        if(this.LinkedPurchasepersonObject[this.j].PurchasePerson === Purchaseperson)
        {
              this.LinkID = this.LinkedPurchasepersonObject[this.j].LinkID
              break
        }
       }
       this.Loaderdialog = true
       axios.get ( this.bURL + "user/DeletePurchasePersonLink?LinkId=" + this.LinkID)
        .then((response)  =>  {
          this.ExecuteDeleteLinkedPurchaseperson(Purchaseperson)
      this.Loaderdialog = false
        }, (error)  =>  {
         this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
          this.Loaderdialog = false
        })

  },
  ExecuteDeleteLinkedPurchaseperson(Purchaseperson)
  {
       for(this.j=0;this.j<this.LinkedPurchaseperson.length;this.j++)
       {
        if(this.LinkedPurchaseperson[this.j] === Purchaseperson)
        {
              this.LinkedPurchaseperson.splice(this.j,1)
              break
        }
      }
      this.PurchasepersonOptions.push(Purchaseperson)
  },

  DeleteLinkedCashBankLedger(CashBankLedger)
  {
       for(this.j=0;this.j<this.LinkedCashBankLedgerObject.length;this.j++)
       {
        if(this.LinkedCashBankLedgerObject[this.j].CashLedger === CashBankLedger)
        {
              this.LinkID = this.LinkedCashBankLedgerObject[this.j].LinkID
              break
        }
       }
       this.Loaderdialog = true
       axios.get ( this.bURL + "user/DeleteCashLedgerLink?LinkId=" + this.LinkID)
        .then((response)  =>  {
          this.ExecuteDeleteLinkedCashBankLedger(CashBankLedger)
      this.Loaderdialog = false
        }, (error)  =>  {
         this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
          this.Loaderdialog = false
        })

  },
  ExecuteDeleteLinkedCashBankLedger(CashBankLedger)
  {
       for(this.j=0;this.j<this.LinkedCashBankLedger.length;this.j++)
       {
        if(this.LinkedCashBankLedger[this.j] === CashBankLedger)
        {
              this.LinkedCashBankLedger.splice(this.j,1)
              break
        }
      }
      this.CashBankLedgerOptions.push(CashBankLedger)
  },
  DeleteLinkedCustomerGroup(CustomerGroup)
  {
       for(this.j=0;this.j<this.LinkedCustomerGroupObject.length;this.j++)
       {
        if(this.LinkedCustomerGroupObject[this.j].CustomerGroup === CustomerGroup)
        {
              this.LinkID = this.LinkedCustomerGroupObject[this.j].LinkID
              break
        }
       }
       this.Loaderdialog = true
       axios.get ( this.bURL + "user/DeleteCustomerGroupLink?LinkId=" + this.LinkID)
        .then((response)  =>  {
          this.ExecuteDeleteLinkedCustomerGroup(CustomerGroup)
      this.Loaderdialog = false
        }, (error)  =>  {
         this.SnackbarMessege =this.$t(`menu.failed`)
          this.snackbar = true
          this.Loaderdialog = false
        })

  },
  ExecuteDeleteLinkedCustomerGroup(CustomerGroup)
  {
      for(this.j=0;this.j<this.LinkedCustomerGroup.length;this.j++)
       {
        if(this.LinkedCustomerGroup[this.j] === CustomerGroup)
        {
              this.LinkedCustomerGroup.splice(this.j,1)
              break
        }
      }
      this.CustomerGroupOptions.push(CustomerGroup)
  },
  DeleteLinkedRoute(Route,IsLocal)
  {
       for(this.j=0;this.j<this.LinkedRoute.length;this.j++)
       {
        if(this.LinkedRoute[this.j] === Route)
        {
              this.LinkedRoute.splice(this.j,1)
              break
        }
      }
      this.RouteOptions.push(Route)
      if(IsLocal!== true)
      {
        this.LinkRoute(true,true)
      }
  },
  GetsWithComma(values)
  {
      values =  values.join(',')

      return values
  },

  GetSalesPersons(user,ischangeList)
  {
    this.selectedSalesperson = []
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'user/LoadSalePersonLink?Username='+user)
        .then((response)  =>  {
          this.LinkedSalespersonObject = response.data

          for(this.i=0;this.i<this.LinkedSalespersonObject.length;this.i++)
          {
            this.selectedSalesperson.push(this.LinkedSalespersonObject[this.i].SalePerson)
          }
          this.LinkSalesperson(true)

        }, (error)  =>  {
          console.log(error)
        })
  },

  GetRoutes(user)
  {
    this.Settings = JSON.parse(localStorage.getItem('Settings'))
    if(this.Settings.IsRouteMandatory === 'True')
    {
    this.selectedRoute = []
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get(this.bURL + 'Route/LoadLinkedRoutes?Username='+user)
              .then((response)  =>  {
                this.RouteObjectNew = response.data
          for(this.i=0;this.i<this.RouteObjectNew.length;this.i++)
          {
            this.selectedRoute.push(this.RouteObjectNew[this.i].RouteName)
          }
          this.LinkRoute(true)

              }, (error)  =>  {

              })
     }
    else{
        this.RouteObject = []
        localStorage.setItem('LinkedRoutes',JSON.stringify(this.RouteObject))
    }
  },

  GetLinkedCustomerGroups(user)
  {
    this.selectedCustomerGroup = []
      axios.get(this.bURL + 'user/LoadCustomerGroupLink?Username=' + user)
        .then((response)  =>  {
           this.LinkedCustomerGroupObject = response.data
          for(this.i=0;this.i<this.LinkedCustomerGroupObject.length;this.i++)
          {
            this.selectedCustomerGroup.push(this.LinkedCustomerGroupObject[this.i].CustomerGroup)
          }
          this.LinkCustomerGroup(true)

        }, (error)  =>  {
          console.log(error)
        })
  },
  GetCashBankLedgerNames(user)
  {
    this.selectedCashBankLedger = []
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'User/LoadCashAndBankLedgerLink?Username=' +user)
        .then((response)  =>  {
            this.LinkedCashBankLedgerObject = response.data
          for(this.i=0;this.i<this.LinkedCashBankLedgerObject.length;this.i++)
          {
            this.selectedCashBankLedger.push(this.LinkedCashBankLedgerObject[this.i].CashLedger)
          }
          this.LinkCashBankLedger(true)


        }, (error)  =>  {
          console.log(error)
        })
  },

  GetPurchasePersons(user,)
  {
    this.selectedPurchaseperson = []
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'user/LoadPurchasePersonLink?Username=' +user)
        .then((response)  =>  {
             this.LinkedPurchasepersonObject = response.data
          for(this.i=0;this.i<this.LinkedPurchasepersonObject.length;this.i++)
          {
            this.selectedPurchaseperson.push(this.LinkedPurchasepersonObject[this.i].PurchasePerson)
          }
          this.LinkPurchaseperson(true)
        }, (error)  =>  {
          console.log(error)
        })
  },
  CreateAccessRoll()
  {
       localStorage.setItem('IsHoldingItem','true')
      this.CreateObject(true)
      localStorage.setItem('BackToPage','userProfile')
       this.$router.push('/dashboard/masters/accessRoll')
  },
  CreatePurchaseperson()
  {
       localStorage.setItem('IsHoldingItem','true')
      this.CreateObject(true)
      localStorage.setItem('BackToPage','userProfile')
       this.$router.push('/dashboard/masters/purchaseperson')
  },
  CreateSalesperson()
  {
       localStorage.setItem('IsHoldingItem','true')
      this.CreateObject(true)
      localStorage.setItem('BackToPage','userManagement')
       this.$router.push('/dashboard/masters/salesperson')
  },
  CreateLedger()
  {
       localStorage.setItem('IsHoldingItem','true')
      this.CreateObject(true)
      localStorage.setItem('BackToPage','userProfile')
       this.$router.push('/dashboard/masters/ledger')
  },
  CreateVehicle()
  {
       localStorage.setItem('IsHoldingItem','true')
      this.CreateObject(true)
      localStorage.setItem('BackToPage','userProfile')
       this.$router.push('/dashboard/masters/vehicle')
  },
  GetUsernames()
  {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get(this.bURL + 'User/GetLinkedUsernames/' + localStorage.getItem('user') + ',True,False,True')

        .then((response)  =>  {
          localStorage.setItem('Usernames', JSON.stringify(response.data))
          this.UsernameOptions = response.data
          this.RemoveAdminFromUsers()


        }, (error)  =>  {
          console.log(error)
        })
  },
  RemoveAdminFromUsers()
  {
     for(this.i=0;this.i<this.UsernameOptions.length;this.i++)
     {
      if(this.UsernameOptions[this.i] === "admin")
      {
          this.UsernameOptions.splice(this.i,1)
          break
      }
     }
  },
  GetEncryptedPassword(user)
  {
      this.List = []
      this.List[0] = user
      this.List[1] = "1234567890"
      this.List[2] = "false"
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post(this.bURL + 'common/GetUserPassword', this.List)
        .then((response)  =>  {
           this.UserObject.Password = response.data
           this.Loaderdialog = false
        }, (error)  =>  {
          this.UserObject.Password = ""
            this.Loaderdialog = false
           this.SnackbarMessege = "No Permission for Password"
           this.snackbar = true
        })
  },
  DisableBranch()
  {
     if(this.IsGlobalUser === true)
     {
        this.IsDisableBranch = true
        this.UserObject.BranchCode = ""
     }
     else{
        this.IsDisableBranch = false
     }
  }

  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
@media (min-width: 600px){
.v-application .pa-sm-2 {
    padding: 16px !important;
    padding-top: 0px !important;
}
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
@media only screen and (max-device-width: 600px) {
  .usernameheight{
    padding-top: 10px !important;
  }
}

.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .salesPersons {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .salesPersons {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
