<template>


  <div class="flex-grow-1">
     <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>
    <v-tabs v-model="tab" :show-arrows="false" background-color="transparent" style="flex-grow: 0 !important;margin-top: -20px;">
      <v-tab to="#tabs-userdetail" style="min-width: 95px !important;padding: 0 16px !important;">User {{ $t(`menu.Detail`) }}</v-tab>
      <v-tab to="#tabs-changepassword" style="min-width: 95px !important;padding: 0 16px !important;">Change Password</v-tab>

    </v-tabs>

    <v-tabs-items v-model="tab" touchless>

        <!-- BasicTab start heare -->

      <v-tab-item value="tabs-userdetail">
         <div>
      <v-card class="my-2">
        <v-card-title></v-card-title>
        <v-card-text>

             <v-row v-if="IsAdmin" >
             <v-col cols="8" md="10" xl="11" style="padding-top:0px !important;padding-bottom:0px !important" >
        <v-autocomplete
            v-model="Username"
            :items="UsernameOptions"
            dense
            label="User"
            @change="GetUser()"
          ></v-autocomplete>
          </v-col>
                <v-col cols="4" md="2" xl="1" style="padding-top:7px !important;padding-bottom:0px !important;padding-left:5px !important" >

            <v-btn depressed small style=" background-color: rgb(173 20 87);border-color: rgb(136 14 79);color: rgb(255 255 255);margin-right: 10px;
    margin-top: -5px;"
            @click="LogoutUser" >      <v-icon small v-bind="attrs"
          v-on="on" style="padding-right:5px">mdi-logout-variant</v-icon>Logout
            </v-btn>

                </v-col>

           </v-row>
            <v-row v-if="IsAdmin" >
             <v-col cols="12" md="12" sm="12" style="padding-top:0px !important;padding-bottom:10px !important;text-align:center;padding-right:0px;padding-left:0px" >
               <v-divider></v-divider>
             </v-col>
            </v-row>

            <v-row  >
             <v-col cols="12" md="12" sm="12" style="padding-top:0px !important;padding-bottom:0px !important;text-align:center" id="circlenew" v-if="IsOnline">
               <v-badge
          color="success"
          dot
          bordered
          offset-x="4"
          offset-y="4"

        >



              <img :src="imageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1" @click="OpenImageModal()" style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px " id="UserImage1">
      </v-badge>
             </v-col>
              <v-col cols="12" md="12" sm="12" style="padding-top:0px !important;padding-bottom:0px !important;text-align:center" id="circlenew" v-if="!IsOnline">

              <img :src="imageSrc" class="blue-grey lighten-4 rounded elevation-3" aspect-ratio="1" @click="OpenImageModal()" style="width:150px; height:150px;   border: 1px solid #0003;padding-left:1px " id="UserImage1">

             </v-col>
            </v-row>

              <v-row>
                <v-col cols="6" md="6" xl="6" style="padding-top:7px;padding-bottom:0px;padding-right: 2px; padding-left: 11px;">
                <!-- <v-text-field  :label="$t(`menu.UserName`)" placeholder="User Name" readonly v-model="Username" style="padding-bottom:0px"></v-text-field> -->
                <label style="margin-bottom: .0rem;">Username</label><br>
                <label><b>{{UserProfile.username}}</b></label>
                </v-col>
                 <v-col cols="6" md="6" xl="6" style="padding-top:7px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                        <!-- <v-text-field  label="UserRoll" v-model="userType" readonly placeholder="UserRoll" style="padding-bottom:0px"></v-text-field> -->
                        <label style="margin-bottom: .0rem;">User Role</label><br>
                <label><b>{{UserProfile.userType}}</b></label>
                </v-col>
              </v-row>




          <v-row>
             <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:5px;padding-right: 11px; padding-left: 11px;">
         <label style="margin-bottom: .0rem;">Full Name</label>
         <br>
                <label><b>{{UserProfile.fullName}}</b></label>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                   <!-- <v-autocomplete
            v-model="BranchCode"
            :items="BranchCodeOptions"
             v-if="IsMultiBarnch"
            :disabled="IsDisableBranch"
            dense
             :label="$t(`menu.BranchCode`)"

          ></v-autocomplete> -->
           <label style="margin-bottom: .0rem;">BranchCode</label><br>
                <label><b>{{UserProfile.branchCode}}</b></label>
            </v-col>
             <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:5px;padding-right: 11px; padding-left: 11px;">
         <label style="margin-bottom: .0rem;">Route</label>
         <br>
                <label><b>{{UserProfile.routeName}}</b></label>
            </v-col>
          </v-row>

          <!-- <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
      <v-text-field value="" :label="$t(`dashboard.Date`)" v-model="LastLogginDate" readonly></v-text-field>
            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
         <v-text-field value="" :label="$t(`dashboard.Date`)" v-model="LastLoggoutDate"  readonly></v-text-field>
            </v-col>
          </v-row> -->
            <!-- <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
      <v-text-field value="" label="Time" v-model="LastLogginTime" readonly></v-text-field>
            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
         <v-text-field value="" label="Time" v-model="LastLoggoutTime"  readonly></v-text-field>
            </v-col>
          </v-row> -->
              <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
      <label style="margin-bottom: .0rem;">Mobile</label>
         <br>
                <label><b>{{UserProfile.mobile}}</b></label>

            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <label style="margin-bottom: .0rem;">Email</label>
         <br>
                <label><b>{{UserProfile.email}}</b></label>
            </v-col>
          </v-row>
              <v-row>
            <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
       <label style="margin-bottom: .0rem;">Address</label>
         <br>
                <label><b>{{UserProfile.address}}</b></label>
            </v-col>
          </v-row>
              <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
      <label style="margin-bottom: .0rem;">Sales Person</label>
         <br>
                <label><b>{{UserProfile.salePerson}}</b></label>
            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <label style="margin-bottom: .0rem;">Purchase Person</label>
         <br>
                <label><b>{{UserProfile.purchasePerson}}</b></label>
            </v-col>
          </v-row>
           <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
      <label style="margin-bottom: .0rem;">Cash Ledger</label>
         <br>
                <label><b>{{UserProfile.cashLedger}}</b></label>
            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <label style="margin-bottom: .0rem;">Vehicle</label>
         <br>
                <label><b>{{UserProfile.vehicleNo}}</b></label>
            </v-col>
          </v-row>
            <v-row>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:5px;padding-right: 11px; padding-left: 11px;">
              <label style="margin-bottom: .0rem;">Last Login</label>
              <br>
                <label><b>{{UserProfile.lastLogin}}</b></label>
            </v-col>
            <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:5px;padding-right: 11px; padding-left: 11px;">
         <label style="margin-bottom: .0rem;">Last Logout</label>
              <br>
                <label><b>{{UserProfile.lastLogout}}</b></label>
            </v-col>
          </v-row>
           <v-row >
          <v-col cols="6" md="6" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align:left"  @click="open(1)">

        <!-- Signature
        <br>
        <img :src="salessign"   style="width:50%;border: 0px solid #dee2e6;">
        <br>
        <label>{{salename}}</label> -->
          </v-col>

<v-col cols="6" md="6" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align:left" >

        <img :src="salessign"   style="width:50%;border: 0px solid #dee2e6;margin-top:-10px !important;margin-bottom:-2px !important">
        <br>
           Signature
          </v-col>
        </v-row>
        </v-card-text>
      </v-card>

    </div>
      </v-tab-item>

    <!-- BasicTab Ensd heare -->



        <!-- Detail start heare -->

      <v-tab-item value="tabs-changepassword">
         <v-card class="my-2">
    <v-card-title></v-card-title>
    <v-card-text>
      <v-form>
        <v-row>
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
           <v-text-field value="" :append-icon="showPasswordOld ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPasswordOld ? 'text' : 'password'" @click:append="showPasswordOld = !showPasswordOld" label="Old Password" v-model="OldPassword" ></v-text-field>
          </v-col>
        </v-row>
          <v-row>
           <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
             <v-text-field value="" :append-icon="showPasswordNew ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPasswordNew ? 'text' : 'password'" @click:append="showPasswordNew = !showPasswordNew" label="New Password" v-model="NewPassword" ></v-text-field>
          </v-col>
        </v-row>
        <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
            <v-text-field value="" :append-icon="showPasswordCon ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPasswordCon ? 'text' : 'password'" @click:append="showPasswordCon = !showPasswordCon" label="Confirm" v-model="ConfirmPassword"></v-text-field>
          </v-col>
        </v-row>
        <v-row >
          <v-col cols="12" md="12" style="padding-top:2px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;text-align:right">

 <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="ChangePassword"
            >
              Save
            </v-btn>
          </v-col>
        </v-row>







      </v-form>
    </v-card-text>
  </v-card>
      </v-tab-item>

       <!-- Detail ends heare -->

    </v-tabs-items>

 <v-dialog v-model="ImageModal" persistent max-width="300">
      <v-card>
           <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.ChooseUserPhoto`) }}</v-card-title>
        <v-row style="margin:0px">

          <v-col cols="12" md="12" lg="12" style="text-align:center">
         <input @change="uploadImage" type="file" name="photo" >
        </v-col>
        </v-row>
        <v-row style="padding-bottom:15px">
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="green"  @click="SaveImage()">Save</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center">
        <v-btn  outlined color ="#FFA726"  @click="ImageModal=false">Cancel</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

     <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>
      <vue-bottom-sheet ref="myBottomSheet" id="bottomsheetnew" style="z-index: 100000!important;">
    <div style="padding:10px; border:1px solid #000;">
<!-- //here one -->
<label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
	  <vueSignature ref="signature" :sigOption="option" :w="'800px'" :h="'300px'" :disabled="disabled" ></vueSignature>
		<vueSignature ref="signature1" :sigOption="option"></vueSignature><br>
     <v-text-field :label="$t(`menu.Name`)" v-model="nameval"></v-text-field>
		<button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button>

    </div>
  </vue-bottom-sheet>
  <!-- Signature modal start here -->
<v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>


<!-- signature modal ends here -->
  </div>
</template>

<script>

import Vue from 'vue'
import axios from 'axios';
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab';

import de from '../../translations/de';
import  VueBottomSheet from "@webzlodimir/vue-bottom-sheet";
import vueSignature from "vue-signature"
import DayEndCheck from "../../mixins/DayEndCheck";

export default {
  components: {
   fab,VueBottomSheet,vueSignature
  },
  data() {
    return {
      signtype:'',
       Title:'',
       bURL:'',
       bURLPrint:'',
       signtype:'',
       dialog: false,
        signature1 : false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      UserObject: {
      },
      tab: null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

      {
          name: 'CallUser',
          icon: 'call',
          tooltip:'Call'
        },

        {
          name: 'DeleteUser',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearUser',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveUser',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    Username : window.localStorage.getItem('user'),
    UsernameOptions :JSON.parse(localStorage.getItem('ReceivedBy')),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    IsMultiBarnch : false,
    Settings : JSON.parse( localStorage.getItem('Settings') ),
    LastLogginDate:'',
    LastLogginTime:'',
    LastLoggoutDate:'',
    LastLoggoutTime:'',

    IsEAGApp : false,
    IsEAIApp :false,
    UserProfile : {},
    UserImage1 : "",
    showPasswordOld: false,
    showPasswordNew: false,
    showPasswordCon: false,
    isCreatePermission : false,
    isReadPermission : false,
    isUpdatePermission : false,
    isDeletePermission : false,
    IsAdmin:false,
   salessign :'',
         verisign:'',
         customsign:'',
         image:'',
         option:{
				penColor:"rgb(0, 0, 0)",
				backgroundColor:"rgb(255,255,255)"
			},
      posside:null,
			disabled:false,
			dataUrl:"",
      salename:'',
      veriname:'',
      custname:'',
      nameval:'',
      IsOnline:true,
      Loaderdialog:false


    }
  },
  mixins: [DayEndCheck],
  mounted()
  {
 /* if(localStorage.getItem("salessign")!== null)
     {
          this.salessign = localStorage.getItem("salessign")
          this.salename = localStorage.getItem("salename")

     } */

    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','UserProfile')
    localStorage.setItem('ActiveRoute','/dashboard/masters/userProfile')
   localStorage.removeItem('VoucherUpdated')
   if(this.userType === "Administrator")
      this.IsAdmin =  true
   this.checkUrl();
    this.GetUser()
    this.GetPermission()

  },
  methods:
  {
      saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");

        localStorage.setItem('UserImage1',this.UserImage1);

        document.getElementById("UserImage1").src = e.target.result;
      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
    GetPermission()
    {
      this.UserType = localStorage.getItem('UserType')
      axios.get(this.bURL + 'common/GetFormPermission/'+this.UserType + ',frmChangePassword')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]
        }, (error)  =>  {
          console.log(error)
        })

    },
    OpenImageModal()
    {
      if(this.isCreatePermission === true || this.isUpdatePermission === true)
      {
        this.ImageModal = true
      }
      else
      {
         this.SnackbarMessege = 'You have no permission to update photo'
           this.snackbar = true
      }
    },
    SaveImage()
    {
      this.Loaderdialog = true
      if(this.isCreatePermission === true || this.isUpdatePermission === true)
      {
           this.UserImage1 = localStorage.getItem('UserImage1')
      this.obj = {
        "Username" : this.UserProfile.username,
        "Photo" : this.UserImage1
      }
         axios.put (this.bURL + 'User/UpdateUserPhoto',this.obj)
        .then((response)  =>  {
          this.ImageModal = false
          this.Loaderdialog = false
          if( localStorage.getItem('user') ===  this.UserProfile.username)
          {
            localStorage.removeItem('UserImage1');
            localStorage.setItem('UserImage',this.UserImage1)
            document.getElementById("UserImage").src = 'data:image/jpeg;base64,' + this.UserImage1;
            this.ImageModal = false
          }
           this.SnackbarMessege = 'Updated'
           this.snackbar = true

        }, (error)  =>  {
          this.Loaderdialog = false
          this.SnackbarMessege = "Failed"
          this.snackbar = true
          console.log(error)
        })
      }
      else
      {
          this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
           this.snackbar = true
      }

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    GetUser()
    {
      this.Loaderdialog = true
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'User/' + this.Username)
        .then((response)  =>  {
          this.Loaderdialog = false
          this.UserProfile = response.data

          this.LastLoggin = response.data.lastLogin
          this.LastLoggout = response.data.lastLogout
          this.UserProfile.lastLogin = this.LastLoggin.replace('T', ' ')
          this.UserProfile.lastLogout = this.LastLoggout.replace('T', ' ')
           document.getElementById("UserImage1").src = 'data:image/jpeg;base64,' + this.UserProfile.photo

           this.UserProfile.routeName =""
           this.RouteList = this.UserProfile.routeList
           for(this.i = 0 ;this.i<this.RouteList.length;this.i++)
           {
             if(this.UserProfile.routeName !=="")
             {
               this.UserProfile.routeName += " , "
             }
                this.UserProfile.routeName += this.RouteList[this.i].routeName
           }
            this.salessign = "data:image/png;base64," + response.data.signature
         /*  this.LastLoggin = response.data.lastLogin
          this.LastLoggout = response.data.lastLogout
          this.LastLoggin = this.LastLoggin.split('T');
          this.LastLogginDate =this.LastLoggin[0]
          this.LastLogginTime =this.LastLoggin[1]

          this.LastLoggout = this.LastLoggout.split('T');
          this.LastLoggoutDate =this.LastLoggout[0]
          this.LastLoggoutTime =this.LastLoggout[1] */

        }, (error)  =>  {
          this.Loaderdialog = false
          this.SnackbarMessege = "Failed"
          this.snackbar = true
          console.log(error)
        })
    },
    ChangePassword()
    {
      if(this.isUpdatePermission === true)
      {
      if(this.OldPassword === undefined || this.OldPassword === "")
      {
        this.SnackbarMessege = 'Enter Old Password'
        this.snackbar = true
      }
      else if(this.NewPassword === undefined || this.NewPassword === "")
      {
        this.SnackbarMessege = 'Enter New Password'
        this.snackbar = true
      }
      else if(this.ConfirmPassword === undefined || this.ConfirmPassword === "")
      {
        this.SnackbarMessege = 'Confirm your Password'
        this.snackbar = true
      }
      else if(this.NewPassword  !== this.ConfirmPassword)
      {
        this.SnackbarMessege = 'Password not matching'
        this.snackbar = true
      }
      else{
         this.Password = {"Username":this.Username,
                    "Password":this.OldPassword,
                    "ExtraField":this.NewPassword
                }
        this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.post (this.bURL + 'user/ChangePassword',this.Password)
        .then((response)  =>  {
         this.OldPassword = ''
         this.NewPassword = ''
         this.ConfirmPassword = ''
         this.SnackbarMessege = 'Changed successfully'
        this.snackbar = true
        }, (error)  =>  {
           this.SnackbarMessege = 'Incorrect old password'
           this.snackbar = true
        })
      }

    }
    else
      {
         this.SnackbarMessege = 'You have no permission to change password'
           this.snackbar = true
      }
    },
     LogoutUser()
    {
      this.bURL = this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get(this.bURL + 'user/UpdateLogOutTime?Username='+ this.Username )
        .then((response)  =>  {
          if(this.Username === localStorage.getItem('user'))
          {
             this.CompanyURL = localStorage.getItem('CompanyURL')
             this.CompanyName = localStorage.getItem('Companyname')
             this.CompanyLogo = localStorage.getItem('Companylogo')
             this.GlobalTheme = localStorage.getItem('GlobalTheme')
             this.CurrentVersion = localStorage.getItem('CurrentVersion')
             this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        this.SalesReferNoContent = localStorage.getItem('SalesReferNoContent')
        if(this.SalesReferNoContent !== null)
        {
            this.SalesReferNoContent = JSON.parse(this.SalesReferNoContent)
        }
        else{
          this.SalesReferNoContent = {}
        }
         this.SalesOffLineList = localStorage.getItem('SalesOffLineList')
            if(this.SalesOffLineList !== null)
            {
                this.SalesOffLineList = JSON.parse(this.SalesOffLineList)
            }
            else{
              this.SalesOffLineList = []
            }

        this.GodownStockList = localStorage.getItem('GodownStockList')
        if(this.GodownStockList !== null)
        {
            this.GodownStockList = JSON.parse(this.GodownStockList)
        }
        else{
          this.GodownStockList = []
        }
             this.Printer = localStorage.getItem('Printer')
             this.Printer =this.Printer?this.Printer:""
             this.Papersize = localStorage.getItem('Papersize')
             this.Papersize = this.Papersize?this.Papersize:""
             
             this.DeviceDefaultBCode  =localStorage.getItem('DeviceDefaultBCode')
             localStorage.clear()

             localStorage.setItem('CompanyURL',this.CompanyURL)
             localStorage.setItem('Companyname',this.CompanyName)
             localStorage.setItem('Companylogo',this.CompanyLogo)
             localStorage.setItem('Printer',this.Printer)
             localStorage.setItem('Papersize',this.Papersize)
             localStorage.setItem('GlobalTheme',this.GlobalTheme)
             localStorage.setItem('CurrentVersion',this.CurrentVersion)
            if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
            {
              localStorage.setItem('IsSalesOffLine','false')
            }
            else{
              localStorage.setItem('IsSalesOffLine',this.IsSalesOffLine)
            }
            localStorage.setItem('SalesReferNoContent',JSON.stringify(this.SalesReferNoContent))
            localStorage.setItem('SalesOffLineList',JSON.stringify(this.SalesOffLineList))
            localStorage.setItem('GodownStockList',JSON.stringify(this.GodownStockList))
             

             localStorage.setItem('IsReload',true)
             this.$router.push('/auth/signin')
          }
          else{
            this.SnackbarMessege = "Logged out successfully"
            this.snackbar = true
          }

        }, (error)  =>  {
          console.log(error)
        })

    },
  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
.v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}
input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
#bottomsheetnew   > .bottom-sheet__card.fx-default {
      max-width: 300px !important;
    max-height: 95% !important;
    bottom: 80px !important;
    Top:80px !important;
}
 #circlenew > .v-badge--dot .v-badge__badge {
    border-radius: 6.5px;
    height: 12px;
    min-width: 0;
    padding: 0;
    width: 12px;
}

</style>
