<template>
  <div class="d-flex  flex-column">
   <v-dialog


content-class="innerExPan"
      v-model="Loaderdialog"


    >
    <v-row no-gutters>
      <v-col cols="12" sm="12" style="text-align:center">
             <img
              src="/images/dash/loading.svg"

            />


      </v-col>

    </v-row>

    </v-dialog>

    <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.Vehicle`)}} </h4>
            </v-col>
          </v-row>
      </div> -->
      <v-card >
         <v-expansion-panels>
            <v-expansion-panel
              v-for="(item, i) in 1"
              :key="i"
              style="padding-left: 0px;"
            >
              <v-expansion-panel-header

                class="headernew"
                style="text-align:center !important;min-height: 20px !important;max-height: 20px;
    padding-left: 6px;"
                expand-icon=""
              >


                 <span
                  style="text-align:right;padding-left: 10px !important;margin-left: -11px;"
                  ><v-icon
                    style="    font-size: 13px !important;"
                   @click="GoBackPrevious"
                    >fa-arrow-left</v-icon
                  ></span
                >
                <v-col
                  cols="12"
                  sm="12"
                  style="padding: 0px !important; text-align: center !important;font-size:12px"
                >
                  <b
                    style="text-align:center !important; text-transform:uppercase;color: rgb(238, 68, 170)"
                    >{{$t(`menu.Vehicle`)}}</b
                  >
                </v-col>
              </v-expansion-panel-header>

            </v-expansion-panel>
          </v-expansion-panels>
               <v-card-actions style="background:#007bff;padding: 1px;">
          </v-card-actions>
     
        <v-card-text>
   <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:0px;padding-bottom:0px;margin-bottom: -10px;padding-right:0px;padding-right:22px;padding-left:22px " >
        <v-autocomplete
             :items="VehicleOptions"
             v-model="VehicleSearch"
                 solo
        rounded
        dense
       :placeholder="$t('menu.SearchVehicle')"
        @change="GetVehicle($event)"
          >
         <!--  <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="ClearVehicle">mdi-plus-circle</v-icon>
  </template> -->

          </v-autocomplete>
          </v-col>

            </v-row>
            <v-divider></v-divider>
              <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-text-field v-model="VehicleNo" :label="$t(`menu.FleetNumberVehicleNo`)"  style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
             <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-text-field v-model="RegistrationNo" :label="$t(`menu.VehicleRegistrationplateNumber`)"  style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
                <v-row>
                <v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
                <v-text-field v-model="VehicleName" :label="$t(`menu.VehicleName`)"  style="padding-bottom:0px"></v-text-field>
                </v-col>
              </v-row>
               <v-row>
<v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <v-autocomplete
             :items="VehicleTypeOptions"
             v-model="VehicleType"

       :placeholder="$t('menu.VehicleType')"
          >
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="OpenVehicleTypeModal">mdi-plus-circle</v-icon>
  </template>

          </v-autocomplete>
          </v-col>

            </v-row>
                 <v-row>
<v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
        <v-autocomplete
             :items="VehicleGroupOptions"
             v-model="VehicleGroup"

       :placeholder="$t('menu.VehicleGroup')"
          >
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)" @click="VehicleGroupModal=true" >mdi-plus-circle</v-icon>
  </template>

          </v-autocomplete>
          </v-col>

            </v-row>
            <v-row>
<v-col cols="12" md="12" style="padding-top:0px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
<v-textarea

          :label="$t(`menu.Remarks`)"
          auto-grow
          outlined
          rows="1"
          row-height="10"
          v-model="Remarks"
        ></v-textarea>
</v-col>
            </v-row>
              <v-row>

            <v-col cols="12" md="12" style="margin-bottom:-16px;padding-top:7px;padding-bottom:0px;padding-right: 11px; padding-left: 11px;">
               <v-switch
      style="float:left;margin-top: -1px;"
      v-model="IsActive"
      inset
       :label="$t(`menu.ActiveLive`)"

    ></v-switch>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

     <fab
   :fixed-tooltip="fab.tooltip"
   :position="fab.position"
   :bg-color="fab.bgColor"
   :padding="fab.padding"
   :z-index="fab.zindex"
   :actions="fab.fabActions"
   :main-icon="fab.mainicon"
   :icon-size="fab.iconsize"
   @CallUser ="CallUser"
   @ClearVehicle="ClearVehicle"
   @SaveVehicle="SaveVehicle"
   @DeleteVehicle="DeleteVehicle"

></fab>


       <v-dialog v-model="DeleteConfirmation" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmation = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteVehicle">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

 <!-- Vehiclemodaltypestart here -->
     <v-dialog v-model="VehicleTypeModal" persistent max-width="600" style="z-index: index 100000px;">

         <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.VehicleType`)}} </h4>
            </v-col>
          </v-row>
      </div> -->
      <v-card class="my-2">
            <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:5px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -16px; " >

 <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size:18px"  > {{ $t(`menu.VehicleType`) }} </h4>
          </v-col>
            </v-row>
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -11px; " >

          <v-text-field
          solo
        rounded
        ref="FocusFieldType"
        v-model="VehicleTypesearch" :label="$t(`menu.AddVehicleType`)"  style="padding-bottom:0px">
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="SaveVehicleType" v-if="IsNewVehicleType">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)" @click="UpdateType" v-if="IsUpdateVehicleType">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding-right: 0px;
    padding-left: 0px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <!-- <v-expansion-panel-header    style="text=align:center !important;min-height: 24px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;font-size:12px">{{ $t(`menu.VehicleType`) }}</b>
      </v-col>
        </v-expansion-panel-header> -->
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
     {{ $t(`menu.VehicleType`) }}
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
       <v-expansion-panels  >

    <v-expansion-panel v-for="(item,i) in TypeResultQuery"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
       <!-- ----- -->

       <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slnop" style=" " >

   <b >{{item}} </b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small
        class="updateb"
         @click="EditVehicleType(item)"
        color="#2E7D32"

      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
       @click="DeleteVehicleType(item)"
        color="#E53935"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

     <v-row no-gutters   >
      <v-col cols="12" sm="12" >
<v-divider></v-divider>
      </v-col>
     </v-row>
 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px;margin-bottom: -6px;"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="CloseVehicleTypeModal()"
            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>
        </v-card-text>
      </v-card>




    </v-dialog>

     <v-dialog v-model="CreateWarningModalType" persistent max-width="300">

      <!-- <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new vehicle Type?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateVehicleType()" >Update</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveVehicleType">Create</v-btn>
        </v-col>
        </v-row>
      </v-card> -->

      <v-card>

              <div class="d-flex align-center">

        <div  style="font-size: 15px;color:rgb(0 99 145);padding-left:18px !important;padding-top:12px"><b>{{$t('menu.DoyouwanttocreatenewvehicleType')}}</b></div>
        <v-spacer></v-spacer>
        <v-btn icon @click="CreateWarningModalType = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

           <v-row no-gutters>
               <v-col cols="12" sm="12" style="padding-top: 12px;
    padding-bottom: 7px;">
                 <v-divider></v-divider>
               </v-col>
           </v-row>
         <v-row no-gutters>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:left;padding-left:18px !important"
               >
                <v-btn
              small

              style="background-color:#0091EA;color:#FFF"
           @click="UpdateVehicleType()"
            >
           {{$t('dashboard.Update')}}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:right;padding-right:18px !important"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
             @click="SaveVehicleType"
            >
            {{$t(`menu.Create`)}}
            </v-btn>
               </v-col>
               </v-row>
      </v-card>
    </v-dialog>

     <v-dialog v-model="UpdateConfirmationModal_Type" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{$t('menu.Doyouwanttoupdate')}}</v-card-title>
        <v-row style="margin:0px">
        <v-col  cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="UpdateConfirmationModal_Type = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(40 167 69)" @click="UpdateVehicleType">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

       <v-dialog v-model="DeleteConfirmationModal_VehicleType" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  small outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal_VehicleType = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteVehicleType">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- Vehiclemodalendshere -->

 <!-- VehicleGroupmodaltart here -->
     <v-dialog v-model="VehicleGroupModal" persistent max-width="400" style="z-index: index 100000px;">

         <!-- <div style="margin-bottom: -21px;margin-top: -19px;text-align:center"   >
           <v-row  style="padding-top:0px" >
            <v-col cols="12" style="padding-top: 0px;padding-bottom:7px;">
              <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top:5px "  >{{$t(`menu.VehicleType`)}} </h4>
            </v-col>
          </v-row>
      </div> -->
      <v-card class="my-2">
         <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:5px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -16px; " >

 <h4 style="text-align:center;color:rgb(238, 68, 170);padding-top: 5px;font-size:18px"  > {{ $t(`menu.VehicleGroup`) }} </h4>
          </v-col>
            </v-row>
        <v-row>
                  <v-col cols="12" md="12" xl="12" style="padding-top:22px;padding-bottom:0px;padding-right: 24px; padding-left: 24px;margin-bottom: -11px; " >

          <v-text-field
          solo
        rounded
      ref="FocusFieldGroup"
        v-model="VehicleGroupsearch" :label="$t(`menu.AddVehicleGroup`)"  style="padding-bottom:0px">
          <template v-slot:append-outer>
    <v-icon color="rgb(40 167 69)"  @click="SaveVehicleGroup" v-if="IsNewVehicleGroup">mdi-plus-circle</v-icon>
    <v-icon color="rgb(40 167 69)" @click="UpdateGroup" v-if="IsUpdateVehicleGroup">mdi-update</v-icon>
  </template>
        </v-text-field>
          </v-col>
            </v-row>
            <v-divider></v-divider>
        <v-card-text style="padding-right: 0px;
    padding-left: 0px;">


   <v-expansion-panels>

    <v-expansion-panel
      v-for="(item,i) in 1"
      :key="i"
      style="padding-left: 10px;"
    >
      <!-- <v-expansion-panel-header    style="text=align:center !important;min-height: 24px !important;" expand-icon="" >

           <v-col cols="12" sm="12" style="padding: 0px !important; text-align: center !important;">
       <b style="text=align:center !important; text-transform:uppercase;font-size:12px">{{ $t(`menu.VehicleType`) }}</b>
      </v-col>
        </v-expansion-panel-header> -->
    </v-expansion-panel>
  </v-expansion-panels >

     <v-card-actions style="background:#007bff;padding: 1px;">  </v-card-actions>


     <v-row no-gutters style=" font-size: 10px;padding: 5px; background: #343a402e;"  >
      <v-col cols="9" sm="9"  class="slno">
     {{ $t(`menu.GroupName`) }}
      </v-col>
          <v-col cols="3" sm="3" class="text-center">

      </v-col>

    </v-row>
<div style="max-height:280px; overflow:scroll;overflow-x: hidden;">
       <v-expansion-panels  >

    <v-expansion-panel v-for="(item,i) in GroupResultQuery"  :key="i" class="ma-0" v-touch:tap="touchHandler"  >
       <!-- ----- -->

       <v-expansion-panel-header expand-icon="" class="itemheader" style="min-height:35px !important;font-size:10px!important">

       <v-row>
       <v-col cols="9" sm="9"  class="slnop" style=" " >

   <b >{{item}} </b>
      </v-col>

       <v-col cols="3" sm="3" style="padding: 0px !important; text-align:center">
 <v-icon
        small

          @click="EditVehicleGroup(item)"
        color="#2E7D32"
        class="updateb"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="DeleteVehicleGroup(item)"
        color="#E53935"

      >
        mdi-delete
      </v-icon>
      </v-col>
      </v-row>


      </v-expansion-panel-header>
    </v-expansion-panel>
  </v-expansion-panels>
</div>

     <v-row no-gutters   >
      <v-col cols="12" sm="12" >
<v-divider></v-divider>
      </v-col>
     </v-row>
 <v-row>

               <v-col cols="12" sm="12" md="12"
               style="padding-top:15px;padding-bottom:0px;text-align:right;padding-right:22px;padding-left:22px"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
              @click="VehicleGroupModal = false"
            >
              {{$t(`dashboard.ok`)}}
            </v-btn>
               </v-col>
               </v-row>
        </v-card-text>
      </v-card>




    </v-dialog>

      <v-dialog v-model="CreateWarningModalGroup" persistent max-width="300">
<!--
      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to create new Vehicle group?</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateVehicleGroup()" >Update</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="SaveVehicleGroup">Create</v-btn>
        </v-col>
        </v-row>
      </v-card> -->
       <v-card>

              <div class="d-flex align-center">

        <div  style="font-size: 15px;color:rgb(0 99 145);padding-left:18px !important;padding-top:12px"><b>{{$t('menu.DoyouwanttocreatenewVehiclegroup')}}</b></div>
        <v-spacer></v-spacer>
        <v-btn icon @click="CreateWarningModalGroup= false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

           <v-row no-gutters>
               <v-col cols="12" sm="12" style="padding-top: 12px;
    padding-bottom: 7px;">
                 <v-divider></v-divider>
               </v-col>
           </v-row>
         <v-row no-gutters>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:left;padding-left:18px !important"
               >
                <v-btn
              small

              style="background-color:#0091EA;color:#FFF"
           @click="UpdateVehicleGroup()"
            >
           {{$t('dashboard.Update')}}
            </v-btn>
               </v-col>
               <v-col cols="6" sm="6" md="6"
               style="padding-top:15px;padding-bottom:20px;text-align:right;padding-right:18px !important"
               >
                <v-btn
              small

              style="background-color:#2E7D32;color:#FFF"
            @click="SaveVehicleGroup"
            >
            {{$t(`menu.Create`)}}
            </v-btn>
               </v-col>
               </v-row>
      </v-card>
    </v-dialog>

      <v-dialog v-model="UpdateConfirmationModal_Group" persistent max-width="300">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">Do you want to update</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(220 53 69);" @click="UpdateConfirmationModal_Group = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn  outlined color="rgb(40 167 69)" @click="UpdateVehicleGroup">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>

       <v-dialog v-model="DeleteConfirmationModal_VehicleGroup" persistent max-width="250">

      <v-card>
        <v-card-title style="font-size: 15px; border-bottom: solid 1px rgb(255 69 0);padding-left: 12px;">{{ $t(`menu.Doyouwanttodelete`) }}</v-card-title>
        <v-row style="margin:0px">
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(220 53 69);" @click="DeleteConfirmationModal_VehicleGroup = false" >{{$t(`common.cancel`)}}</v-btn>
        </v-col>
        <v-col cols="6" md="6" lg="6" style="text-align:center;padding-bottom:20px;padding-top:20px">
        <v-btn small outlined color="rgb(40 167 69)" @click="ExecuteDeleteVehicleGroup">{{$t(`dashboard.ok`)}}</v-btn>
        </v-col>
        </v-row>
      </v-card>
    </v-dialog>
<!-- Vehiclegroupmodalendshere -->

      <v-snackbar
      v-model="snackbar"
      :timeout="timeout"
       absolute
      rounded="pill"
       color="rgb(0, 53, 94)"
       font-size="20px"
      style="padding-bottom:300px;text-align:center; z-index: 200000!important;"
    >
      {{ SnackbarMessege }}

      <template v-slot:action="{ attrs }">
        <v-btn
          color="blue"
          text
          v-bind="attrs"
          @click="snackbar = false"
        >
        </v-btn>
      </template>
    </v-snackbar>

  <v-dialog
        v-model="signature1"
        max-width="400px"
        style="z-index: 100000!important;"

      >
        <v-card >
          <v-card-title style="color:rgb(0 99 145);;">
           <label class="ttl" style=" width: 100%;text-align: center; color: var(--orange);font-weight: bolder;">{{Title}}</label>
          </v-card-title>
          <v-card-text>
             <div class=" flex-column flex-grow-1 align-center" style="padding-top: 1px;">
    <v-container style="padding: 0px !important;">

 <v-row>
  <v-col cols="12" sm="12" md="12"
  style="padding-top:0px;padding-bottom:0px;"
  >

<!-- //here one -->

	  <vueSignature ref="signature" :sigOption="option"  :h="'300px'" :disabled="disabled" style="border:2px solid" ></vueSignature>

     <!-- <vueSignature ref="signature" :sigOption="option"   :disabled="disabled" ></vueSignature> -->
		<!-- <vueSignature ref="signature1" :sigOption="option"></vueSignature> -->
    <v-text-field :label="$t(`menu.Name`)" v-model="nameval" style="padding-top:10px"></v-text-field>




</v-col>
</v-row>

             </v-container >
             </div>

          </v-card-text>
          <v-card-actions>
<v-spacer></v-spacer>
	<!-- <button @click="clearDigital" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>&nbsp;&nbsp;
    <button @click="saveDigital" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></button> -->
      <v-btn
              small
              @click="clearDigital"
              style="background-color:#AD1457;color:#FFF;font-size: 20px;"
            >
     <v-icon style="font-size: 20px !important;">mdi-delete</v-icon>
            </v-btn>
              <v-btn
              small
             @click="saveDigital"
              style="background-color:#2E7D32;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-check</v-icon>
            </v-btn>
            <v-btn
              small
              @click="signature1 = false"
              style="background-color:#FFA726;color:#FFF;font-size: 20px;"
            >
      <v-icon style="font-size: 20px !important;">mdi-close</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>





      </v-dialog>
  </div>
</template>

<script>

import Vue from 'vue'
import 'vue-select/dist/vue-select.css';
import fab from 'vue-fab'
import axios from 'axios';
import de from '../../translations/de';
import vueSignature from "vue-signature"
import TrendPercentVue from '../../components/common/TrendPercent.vue';
//import Assets from '../Vouchers/Assets.vue'
import DayEndCheck from "../../mixins/DayEndCheck";
export default {
  components: {
   fab,vueSignature//,Assets
  },
  data() {
    return {
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,

         signature1 : false,
        BarcodeModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
       VehicleTypeModal:false,
        VehicleGroupModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      VehicleObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteVehicle',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearVehicle',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveVehicle',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat'],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    VehicleOptions : [],
    VehicleTypeOptions : [],
    VehicleGroupOptions : [],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    VehicleGroup : '',
    VehicleType :'',
     IsNew : true,
    IsUpdate : false,

    DeleteName : false,
    DeleteConfirmationModal_VehicleType:false,
    UpdateConfirmationModal_Type : false,
    CreateWarningModalType:false,
    IsShowCreateWarningModalType :false,
     IsNewVehicleType : true,
    IsUpdateVehicleType : false,
    VehicleTypesearch:'',

    DeleteConfirmationModal_VehicleGroup:false,
    UpdateConfirmationModal_Group : false,
    CreateWarningModalGroup:false,
    IsShowCreateWarningModalGroup:false,
    IsNewVehicleGroup : true,
    IsUpdateVehicleGroup : false,
    VehicleGroupsearch:''


    }
  },
  mixins: [DayEndCheck],
  computed: {
 TypeResultQuery() {
      this.VehicleTypeNew = []
    if(this.VehicleTypesearch !== '')
    {
       this.VehicleTypeNew = this.VehicleTypeOptions.filter(post => {
        return post.toString().toLowerCase().includes(this.VehicleTypesearch.toLowerCase());
      })
      if(this.VehicleTypeNew.length > 100)
      {
         this.VehicleTypeNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.VehicleTypeNewReturn.push(this.VehicleTypeNew[this.i])

        }
        return this.VehicleTypeNewReturn
      }
      else{
         return this.VehicleTypeNew
      }
    }
    else{
      if(this.IsUpdateVehicleType === true)
      {
        this.IsShowCreateWarningModalType = true
      }
      if(this.VehicleTypeOptions.length > 100)
      {
         this.VehicleTypeNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.VehicleTypeNewReturn.push(this.Customers[this.i])

        }
        return this.VehicleTypeNewReturn
      }
      else{
         return this.VehicleTypeOptions
      }
    }

    },
     GroupResultQuery() {
      this.VehicleGroupNew = []
    if(this.VehicleGroupsearch !== '')
    {
       this.VehicleGroupNew = this.VehicleGroupOptions.filter(post => {
        return post.toString().toLowerCase().includes(this.VehicleGroupsearch.toLowerCase());
      })
      if(this.VehicleGroupNew.length > 100)
      {
         this.VehicleGroupNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.VehicleGroupNewReturn.push(this.VehicleGroupNew[this.i])

        }
        return this.VehicleGroupNewReturn
      }
      else{
         return this.VehicleGroupNew
      }
    }
    else{
       if(this.IsUpdateVehicleGroup === true)
      {
        this.IsShowCreateWarningModalGroup = true
      }
      if(this.VehicleGroupOptions.length > 100)
      {
         this.VehicleGroupNewReturn = []
        for(this.i = 0; this.i < 100 ; this.i++ )
        {
           this.VehicleGroupNewReturn.push(this.Customers[this.i])

        }
        return this.VehicleGroupNewReturn
      }
      else{
         return this.VehicleGroupOptions
      }
    }

    },
  },
  mounted()
  {
     this.PreviousPage = localStorage.getItem('PreviousRoute')
     this.BackToPage = localStorage.getItem('BackToPage')
     if(this.BackToPage !== null)
      {
                this.PageUrl = "/dashboard/masters/" + this.BackToPage
                 history.pushState(null, null, location.href);
              window.onpopstate = function () {
              location.href = bURL + this.PageUrl
              };
      }
    else if(this.PreviousPage !== 'userManagement')
    {
          history.pushState(null, null, location.href);
window.onpopstate = function () {
    history.go(1);
};
    }

    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Vehicle')
    localStorage.setItem('ActiveRoute','/dashboard/masters/vehicle')
   localStorage.removeItem('VoucherUpdated')
   this.GetVehicles()
   this.GetVehicleTypes()
   this.GetVehicleGroups()
    this.BasicSettings()
    this.SetPermission()
    this.checkUrl();
  },
  methods:
  {
        saveDigital(){

			var _this = this;

			var svg = _this.$refs.signature.save('image/svg+xml');

			// console.log(svg)
      //  localStorage.setItem('salessign',svg)
      if(this.signtype == 1)
      {
        this.salessign = svg
        /* localStorage.setItem('salessign',svg)
        localStorage.setItem('salename',this.nameval)
        this.salename = this.nameval */

      }

       this.signature1=false;

		},
		clearDigital(){
			var _this = this;
      this.salessign = ""
			_this.$refs.signature.clear();
		},
     open(a) {
      if(a==1){
      this.Title = 'Signature'
      }

      this.signtype = a
    this.signature1=true;
    },
    close() {
     this.signature1=false;
    },
    VehicleTypeModalnew(){
      this.VehicleTypeModal=false;
    },
     openBarcode()
      {

        this.BarcodeModal = true
        this.barcodescannarmodal = true
      },
       onDecode (result) {
    console.log(result)
    this.item.barcode = result
     this.BarcodeModal = false
        this.barcodescannarmodal = false
  },
     goToAssets(){
   this.$router.push('/dashboard/assets');
      },
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }else
     {
      // this.openSettings()
     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
    save (date) {
      this.$refs.menu.save(date)
    },
    save1 (date1) {
      this.$refs.menu1.save(date1)
    },
    uploadImage: function() {
      this.ImageModal=false
      var file = document
        .querySelector('input[type=file]')
        .files[0];
      var reader = new FileReader();
      reader.onload = function(e) {
        this.ImageModal = false
        this.UserImage1 = e.target.result;
        this.UserImage1 = this.UserImage1.replace("data:image/jpeg;base64,", "");
        this.UserImage1 = this.UserImage1.replace("data:image/png;base64,", "");
        this.Photo = this.UserImage1
        localStorage.setItem('TempImage',this.Photo);
        this.ImageModal = false
        document.getElementById("UserImage1").src = e.target.result;

      };
      reader.onerror = function(error) {
        alert(error);
      };
      reader.readAsDataURL(file);

    },
     toggleInfoWindow: function(marker, idx) {
      this.infoWindowPos = marker.position
      this.infoOptions.content = marker.infoText
console.log(marker.position.lat+" "+marker.position.lng)
      //check if its the same marker that was selected if yes toggle
      if (this.currentMidx === idx) {
        this.infoWinOpen = !this.infoWinOpen

      }
      //if different marker set infowindow to open and reset current marker index
      else {
        this.infoWinOpen = true
        this.currentMidx = idx

      }
    },

    BasicSettings()
    {
      this.IsSalesperson = localStorage.getItem('salePerson')
      if (this.IsVehicle !== '')
        this.VehicleObject.Salesman = this.IsSalesperson
      
       this.BranchCode = localStorage.getItem('BranchCode')
       this.DeviceDefaultBCode = localStorage.getItem('DeviceDefaultBCode')
       if (this.BranchCode !== '#' && this.BranchCode !== '')
       {
           this.VehicleObject.BranchCode = this.BranchCode
            this.userType = window.localStorage.getItem('UserType');
            if(this.userType !== 'Administrator')
           {
              this.IsDisableBranch = true
           }
       }
       else  if (this.DeviceDefaultBCode !== null && this.DeviceDefaultBCode !== ''){
         this.VehicleObject.BranchCode = this.DeviceDefaultBCode
       }
       else
       {
         this.VehicleObject.BranchCode = ''
       }  

      this.VehicleLength = this.VehicleOptions.length
      if (this.VehicleLength > 1)
      {
        this.IsVehicleShow = true
      }

      this.BarnchLength = this.BranchCodeOptions.length
      if (this.BarnchLength > 1)
        this.IsMultiBarnch = true
       if(this.AppName === "EAI")
        {
         this.IsEAIApp = true
        }
      else if(this.AppName === "EAG")
      {
         this.IsEAGApp = true
      }

    },
    SetPermission()
    {
      this.userType = window.localStorage.getItem('UserType');
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'common/GetFormPermission/' + this.userType + ',frmUser')
        .then((response)  =>  {
          this.isCreatePermission = response.data[0]
          this.isReadPermission = response.data[1]
          this.isUpdatePermission = response.data[2]
          this.isDeletePermission = response.data[3]



        }, (error)  =>  {
          console.log(error)
        })
    },
    GetVehicle(vehicleNo)
    {
      this.bURL = localStorage.getItem("CompanyURL")+"/api/";
      axios.get (this.bURL + 'Vehicle/GetVehicle?VehicleNo=' + vehicleNo)
        .then((response)  =>  {
          this.AssignObject(response.data)
        }, (error)  =>  {
          console.log(error)
        })
    },
    AssignObject(obj)
    {
      this.IsActive = 'test'
      this.VehicleName = obj.vehicleName
      this.VehicleNo = obj.vehicleNo
      this.RegistrationNo = obj.registrationNo
      this.VehicleType = obj.vehicleType
      this.VehicleGroup = obj.vehicleGroup
      this.IsActive = obj.isActive
      this.Remarks = obj.remarks

    },
    FormatewithDecimalPlaces(value)
    {
      return parseFloat(value).toFixed(this.DecimalPlaces)
    },

    CreateObject()
    {
      this.VehicleObject.VehicleName = this.VehicleName?this.VehicleName:""
      this.VehicleObject.VehicleNo = this.VehicleNo?this.VehicleNo:""
      this.VehicleObject.RegistrationNo = this.RegistrationNo?this.RegistrationNo:""
      this.VehicleObject.VehicleType = this.VehicleType?this.VehicleType:""
      this.VehicleObject.VehicleGroup =  this.VehicleGroup?this.VehicleGroup:""
      this.VehicleObject.IsActive =  this.IsActive
      this.VehicleObject.Remarks =  this.Remarks?this.Remarks:""
    },
    SaveVehicle()
    {
      this.CreateObject()
      if(this.VehicleObject.VehicleName === "" ||  this.VehicleObject.VehicleNo === "" ||  this.VehicleObject.RegistrationNo === ""
      ||this.VehicleObject.VehicleType === "" ||  this.VehicleObject.VehicleGroup === "")
      {
        this.SnackbarMessege = this.$t(`menu.Pleasefillsufficientdetails`)
        this.snackbar = true
        return
      }
      else if(this.VehicleSearch === undefined || this.VehicleSearch === '')
      {
        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Vehicle',this.VehicleObject)
            .then((response)  =>  {
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
              this.snackbar = true
              this.Loaderdialog = false
              localStorage.setItem('LinkedSalesPersnons',JSON.stringify(this.VehicleOptions))
              this.ClearVehicle()
              this.GetVehicles()
              this.ClearVehicle()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
      else{
        if (this.isUpdatePermission === true)
        {
          this.Loaderdialog = true
            axios.put ( this.bURL + 'Vehicle/'+this.VehicleSearch ,this.VehicleObject)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                this.Loaderdialog = false
               /*  for(this.i=0;this.i<this.VehicleOptions.length;this.i++)
                {
                  this.VehicleOptions[this.i] === this.VehicleName
                  this.VehicleOptions.splice(this.i,1)
                   this.VehicleOptions.push(this.VehicleObject.Name)
                   this.ClearVehicle()

                } */
                this.ClearVehicle()
                this.GetVehicles()


              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }
      }
    },
    DeleteVehicle()
    {
      if (this.VehicleSearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteConfirmation = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteVehicle()
    {
      axios.delete( this.bURL + 'Vehicle/' + this.VehicleSearch)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          for(this.i = 0;this.i<this.VehicleOptions.length;this.i++)
          {
            if(this.VehicleOptions[this.i] === this.VehicleSearch)
            {
              this.VehicleOptions.splice(this.i,1);
              break
            }
          }
          this.DeleteConfirmation = false
          this.VehicleSearch = false
          this.ClearVehicle()
        },(error)  =>  {
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearVehicle()
    {
      this.IsActive = "test"
      this.IsActive = true
      this.VehicleSearch = ""
       this.VehicleName = ""
      this.VehicleNo = ""
      this.RegistrationNo = ""
      this.VehicleType = ""
      this.VehicleGroup = ""
      this.IsActive = true
      this.Remarks = ""
      this.IsNew = true
      this.IsUpdate = false
    },
    GetVehicles()
    {
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + "Vehicle/LoadVehicleNumbers?ActiveStatus=All")
        .then((response)  =>  {
         this.VehicleOptions = response.data
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetVehicleTypes()
    {
      this.VehicleTypeOptions =[]
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + "Vehicle/LoadVehicleTypes")
        .then((response)  =>  {
         for(this.i=0;this.i<response.data.length;this.i++)
         {
            this.VehicleTypeOptions.push(response.data[this.i].TypeName)
         }
        }, (error)  =>  {
          console.log(error)
        })
    },
    GetVehicleGroups()
    {
      this.VehicleGroupOptions = []
       this.bURL = localStorage.getItem("CompanyURL")+"/api/";
       axios.get ( this.bURL + "Vehicle/LoadVehicleGroups")
        .then((response)  =>  {
         for(this.i=0;this.i<response.data.length;this.i++)
         {
            this.VehicleGroupOptions.push(response.data[this.i].GroupName)
         }
        }, (error)  =>  {
          console.log(error)
        })
    },

    FormatDate(Value)
    {
      if(Value !== undefined)
      {
          Value =  Value.split('T')[0]
      }
      else{
        Value = ""
      }


      return Value

    },

    /********************************************** VehicleType Starts here *******************************************8 */
     OpenVehicleTypeModal()
     {
       this.VehicleTypeModal=true
     },
     CloseVehicleTypeModal()
     {
       this.VehicleTypeModal = false
     },
       SaveVehicleType()
    {
      if(this.VehicleTypesearch === "" || this.VehicleTypesearch.indexOf('')>=0)
      {
        this.SnackbarMessege = this.$t('menu.PleaseenterVehicleTypename')
        this.snackbar = true
        return
      }

        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Vehicle/InsertVehicleType?VehicleType='+this.VehicleTypesearch)
            .then((response)  =>  {
              this.CreateWarningModal = false
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalType = false
              this.ClearVehicleType()
              this.GetVehicleTypes()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditVehicleType(name)
    {
        this.VehicleTypesearch = name
        this.OldName = name
        this.IsUpdateVehicleType = true
        this.IsNewVehicleType = false
         setTimeout(() => {
    this.$refs.FocusFieldType.focus()
  }, 200)
      ;

    },
     UpdateType()
    {
      if(this.IsShowCreateWarningModalType === true)
      {
        this.CreateWarningModalType = true
      }
      else
      {
        this.UpdateConfirmationModal_Type = true
      }
    },
    UpdateVehicleType()
    {

        if (this.isUpdatePermission === true)
        {
          localStorage.setItem('UserPut',JSON.stringify(this.UserObject))
            axios.put ( this.bURL + 'Vehicle/UpdateVehicleType?OldVehicleType='+ this.OldName +'&VehicleType='+this.VehicleTypesearch)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearVehicleType()
                  this.GetVehicleTypes()
                  this.UpdateConfirmationModal_Type = false
                  this.CreateWarningModalType = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteVehicleType(item)
    {
      if (this.VehicleTypesearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteName = item
          this.DeleteConfirmationModal_VehicleType = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteVehicleType()
    {
      axios.delete( this.bURL + 'Vehicle/DeleteVehicleType?VehicleType=' + this.DeleteName)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModal_VehicleType = false
          this.ClearVehicleType()
          this.GetVehicleTypes()
        },(error)  =>  {
          this.DeleteConfirmationModal_VehicleType = false
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearVehicleType()
    {
      this.IsShowCreateWarningModalType = false
      this.VehicleTypesearch = ""
       this.IsNewVehicleType = true
       this.IsUpdateVehicleType = false
       this.OldName = ""
    },

     /********************************************** VehicleType End  here *******************************************8 */


    /********************************************** VehicleGroup Starts here *******************************************8 */
     OpenVehicleGroupModal()
     {
       this.VehicleGroupModal=true
     },
     CloseVehicleGroupModal()
     {
       this.VehicleGroupModal = false
     },
       SaveVehicleGroup()
    {
      if(this.VehicleGroupsearch === "" || this.VehicleGroupsearch.indexOf('')>=0 )
      {
        this.SnackbarMessege = this.$t('menu.PleaseenterVehicleGroupname')
        this.snackbar = true
        return
      }

        if(this.isCreatePermission === true)
        {
          this.Loaderdialog = true
          axios.post ( this.bURL + 'Vehicle/InsertVehicleGroup?VehicleGroup='+this.VehicleGroupsearch)
            .then((response)  =>  {
              this.CreateWarningModal = false
              this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`)
              this.snackbar = true
              this.Loaderdialog = false
              this.CreateWarningModalGroup = false
              this.ClearVehicleGroup()
              this.GetVehicleGroups()
            }, (error)  =>  {
              console.log(error)
          })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    EditVehicleGroup(name)
    {
        this.VehicleGroupsearch = name
        this.OldName = name
        this.IsUpdateVehicleGroup = true
        this.IsNewVehicleGroup = false
         setTimeout(() => {
    this.$refs.FocusFieldGroup.focus()
  }, 200)
      ;

    },
     UpdateGroup()
    {
      if(this.IsShowCreateWarningModalGroup === true)
      {
        this.CreateWarningModalGroup = true
      }
      else
      {
        this.UpdateConfirmationModal_Group = true
      }
    },
    UpdateVehicleGroup()
    {
      if(this.VehicleGroupsearch === "" )
      {
        this.SnackbarMessege = this.$t('menu.PleaseselectVehicleGroupname')
        this.snackbar = true
        return
      }
        if (this.isUpdatePermission === true)
        {
          localStorage.setItem('UserPut',JSON.stringify(this.UserObject))
            axios.put ( this.bURL + 'Vehicle/UpdateVehicleGroup?OldVehicleGroup='+ this.OldName +'&VehicleGroup='+this.VehicleGroupsearch)
              .then((response)  =>  {
                this.SnackbarMessege = this.$t(`menu.SavedSuccessfully`),
                this.snackbar = true
                  this.ClearVehicleGroup()
                  this.GetVehicleGroups()
                  this.UpdateConfirmationModal_Group = false
                  this.CreateWarningModalGroup = false
              }, (error)  =>  {
                console.log(error)
            })
        }
        else
          {
             this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
            this.snackbar = true
          }

    },
    DeleteVehicleGroup(item)
    {
      if (this.VehicleGroupsearch !== null)
      {
        if (this.isDeletePermission === true)
        {
          this.DeleteName = item
          this.DeleteConfirmationModal_VehicleGroup = true

        }
        else
        {
           this.SnackbarMessege = this.$t(`menu.Youhavenopermission`),
          this.snackbar = true
        }

      }
      else
      {
        this.SnackbarMessege =this.$t(`menu.NoUsertodelete`)
        this.snackbar = true

      }

    },
    ExecuteDeleteVehicleGroup()
    {
      axios.delete( this.bURL + 'Vehicle/DeleteVehicleGroup?VehicleGroup=' + this.DeleteName)
        .then((response)  =>  {
          this.SnackbarMessege = this.$t(`menu.DeleteSuccessfully`),
          this.snackbar = true
          this.DeleteConfirmationModal_VehicleGroup = false
          this.ClearVehicleGroup()
           this.GetVehicleGroups()
        },(error)  =>  {
          this.DeleteConfirmationModal_VehicleGroup = false
          this.Loaderdialog = false
          if(error.response === undefined)
          {
            this.SnackbarMessege = this.$t(`menu.CheckyourInternetConnection`)
          }
          else if(error.response.data !=="")
          {
            this.SnackbarMessege = error.response.data
          }
           else{
             this.SnackbarMessege =this.$t(`menu.failed`)
           }
          this.snackbar = true
        })
    },
    ClearVehicleGroup()
    {
      this.IsShowCreateWarningModalGroup = false
      this.VehicleGroupsearch = ""
       this.IsNewVehicleGroup = true
       this.IsVehicleGroup = false
       this.OldName = ""
    },

     /********************************************** End Starts here *******************************************8 */
  }
}
</script>
<style lang="scss" scoped>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Vehicles {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Vehicles {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}

</style>
