<template>
<v-card>
  <v-card-text style="padding:0px !important">
     <v-toolbar color="FFF" style="padding-right: 0px;
    padding-left: 0px;    margin-top: -15px;
">


        <v-row>
          <v-col cols="12" style="text-align:center;font-size:22px;color: rgb(238, 68, 170);font-weight: 350;"  >
            <label ><b>Say Somthing</b></label>
          </v-col>
        </v-row>
        </v-toolbar>
         <v-row no-gutters >
     

    </v-row>
      
   
   <!-- <div> -->
    <!-- <vueSpeechToText /> -->
   <!--  <vueAudioRecorderAndPlayer @recordingstop="recordingStopped" /> -->

   <!-- <audio-recorder
    upload-url="YOUR_API_URL"
    :attempts="3"
    :time="2"
    :headers="headers"
    :before-recording="callback"
    :pause-recording="callback"
    :after-recording="callback"
    :select-record="callback"
    :before-upload="callback"
    :successful-upload="callback"
    :failed-upload="callback"/>
  </div> -->
    
<div class="app">
		<!-- <button :class="`mic`" @click="ToggleMic">Record</button>
		<div class="transcript" v-text="transcript"></div> -->

      <v-row >
      <v-col cols="12" style="text-align:center;" >

  <v-btn  color="#43A047" dark style="min-width:162px;max-width:162px" @click="ToggleMic"><v-icon style="padding-right:5px">mdi-microphone
</v-icon> Record</v-btn>

      </v-col>
    </v-row>

     <v-row >
      <v-col cols="12" style="text-align:center;" >
        <label style="color:blue">{{transcriptresult}}</label>

      </v-col>
    </v-row>
	</div>
  </v-card-text>
</v-card>

</template>

<script setup>

import Vue from "vue"

  import { ref, onMounted } from 'vue'
import LabelPage from '../../apps/todo/pages/LabelPage.vue'
var transcript = ''
var isRecording = false

const Recognition = window.SpeechRecognition || window.webkitSpeechRecognition
const sr = new Recognition()
//import Assets from '../Vouchers/Assets.vue'
export default {
  
  components: {
    LabelPage
   
  },
  data() {
    return {
      Success:false,
      IsLoading : false,
       counter: 0,
        item:
            {
                p_img:'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdEKhscoYhOipiz40Pdm_Q-cXmAR6pyNlvv6TF3TmwcI98d0k-I00kqxbp8Oc-V06pzUg&usqp=CAU',
                barcode:''

            },
       barcodescannarmodal :false,
achivedmodal:true,
         signature1 : false,
        BarcodeModal:false,
        ReceiptModal:false,
      ex4: [ 'primary'],
       bURL:'',
       bURLPrint:'',
       dialog: false,
        AssetModal: false,
        VerifyModal: false,
       RouteDeleteModal:false,
      sheet: false,
        items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      GodownObject: {
      },
      tab: null,
      tab1:null,
      breadcrumbs: [
        {
          text: 'vms',
          to: '/vms/list',
          exact: true
        },
        {
          text: 'Edit vm'
        },
      ],
        fab:{

      tooltip:true,
      bgColor: 'rgb(0 53 94)',
      position: 'bottom-right',
      mainicon: 'list',
      zindex: '100',
      iconsize: 'small',
      fabActions: [

        {
          name: 'DeleteGodown',
          icon: 'delete',
           tooltip:this.$t(`common.delete`)
        },
          {
          name: 'ClearGodown',
          icon: 'clear',
          tooltip:this.$t(`common.Clear`)
        },

          {
          name: 'SaveGodown',
          icon: 'save',
         tooltip:this.$t(`common.save`)
        },

      ]
    },
      panel: [1],
      deleteDialog: false,
      disableDialog: false,
      dialog: false,
       infoWindowPos: null,
      infoWinOpen: false,
      currentMidx: null,

      infoOptions: {
        	content: '',
          zoom:25,
        //optional: offset infowindow so it visually sits nicely on top of our marker
        pixelOffset: {
          width: 0,
          height: 15
        }
      },
      center: {
        lat: 0,
        lng: 0
      },
       markers: [
      {
        position: {
          lat: 0,
          lng: 0
        },
        infoText: '<strong>Marker 1</strong>'
      }
      ],
       date: '1990-10-09',
    menu: false,
    gender: 'male',
    items: ['Kerala','Assam','Odisha','Gujarat','1','153','541',],
    imageSrc: '/images/avatars/avatar1.svg',
    ImageModal : false,
    MappingModal:false,
    Username : window.localStorage.getItem('UserName'),
    DecimalPlaces : window.localStorage.getItem('DecimalPlaces'),
    userType :  window.localStorage.getItem('UserType'),
    Token : window.localStorage.getItem('Token'),
    SnackbarMessege : '',
    snackbar : false,
    timeout : 2000,
     showPassword: false,
    isCreatePermission : false,
    isReadPermission : false,
    isDeletePermission : false,
    isUpdatePermission :false,
    BranchCodeOptions : JSON.parse( localStorage.getItem('Branches') ),
    IsDisableBranch:false,
    GodownOptions : JSON.parse( localStorage.getItem('LinkedFullGodowns') ),
    GodownTypeOptions : ['Store','Vehicle for delivery','Expiry or Damage'],
    IsMultiBarnch : false,

    Settings : JSON.parse( localStorage.getItem('Settings') ),
    AppName : localStorage.getItem('GetAppName'),
    IsEAGApp : false,
    IsEAIApp :false,
    DeleteConfirmation : false,
    menu: false,
    IsActive:true,
    ShowInSales:true,
    GodownName:'',
    GodownType :'',
    Description:'',
    BranchCode:'',
     IsNew : true,
    IsUpdate : false,

    DeleteName : false,
    result:[],
    transcriptresult : ""


    }
  },
  mixins: [DayEndCheck],
  computed: {
  },
  mounted()
  {
      this.PreviousPage = localStorage.getItem('PreviousRoute')
     this.BackToPage = localStorage.getItem('BackToPage')


    if(this.Token === "" || this.Token === null || this.Token === undefined)
    {
       localStorage.setItem('IsReload',true)
      this.$router.push('/auth/signin')
    }
    localStorage.setItem('ActivePage','Godown')
   localStorage.removeItem('VoucherUpdated')

    this.checkUrl();
    sr.continuous = true
	sr.interimResults = true

	sr.onstart = () => {
		console.log('SR Started')
		isRecording = true
	}

	sr.onend = () => {
		console.log('SR Stopped')
		isRecording = false
	}

	sr.onresult = (evt) => {
		for (let i = 0; i < evt.results.length; i++) {
			const result = evt.results[i]
			if (result.isFinal) 
        this.CheckForCommand(result)
		}

		const t = Array.from(evt.results)
			.map(result => result[0])
			.map(result => result.transcript)
			.join('')
		console.log(t)
    //transcript = t
    this.transcriptresult = t
	}
  },
  methods:
  {
   
    checkUrl()
    {
      if(localStorage.getItem("CompanyURL")!== null)
     {

          this.bURL = localStorage.getItem("CompanyURL")+"/api/";
           this.bURLPrint = localStorage.getItem("CompanyURL");
          //  this.logo = localStorage.getItem("Companylogo");

     }
    },
     someAction (e) {
   e.stopPropagation()
   console.log('in some action')
 },
 ToggleMic () {
	if (isRecording) {
		sr.stop()
	} else {
		sr.start()
	}
},
 CheckForCommand(result){
	const t = result[0].transcript;
	if (t.includes('stop recording')) {
		sr.stop()
	} else if (
		t.includes('what is the time') ||
		t.includes('what\'s the time')
	) {
		sr.stop()
		alert(new Date().toLocaleTimeString())
		//setTimeout(() => sr.start(), 100)
	}
  
   else if (
		t.includes('open sales form') ||
		t.includes('open sales')
	)
  {
       this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/vouchers/sales')
        localStorage.removeItem('SaleNo')
        localStorage.removeItem('QuotationNo')
        localStorage.removeItem('IsHoldingSale')
        //localStorage.removeItem('SalesObject')
        localStorage.removeItem('SalesCustomerName') 
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('SalesDetailsFromPhysicalStock')
        localStorage.removeItem('SoldItems')
        localStorage.removeItem('OrderDeliveryQuantities')
        localStorage.removeItem('OldOrderDeliveryQuantities')
        localStorage.removeItem('DeliveredItems')
        localStorage.removeItem('ReturnItems')
        localStorage.removeItem('DamagedItems')
        localStorage.removeItem('SoldLedgers')
        this.IsSalesOffLine = localStorage.getItem('IsSalesOffLine')
        if(this.IsSalesOffLine === null || this.IsSalesOffLine === 'null')
        {
              localStorage.setItem('IsSalesOffLine','false')
              this.$router.push('/dashboard/vouchers/sales')
        }
        else{
          if( this.IsSalesOffLine === 'true')
          {
              this.$router.push('/dashboard/vouchers/salesOffline')
          }
          else
          {
            this.$router.push('/dashboard/vouchers/sales')
          }
        }

  }
   else if (
		t.includes('open order') ||
		t.includes('open order form')
	)
  {
      this.ActiveRoute = localStorage.getItem('ActiveRoute')
        localStorage.setItem('PreviousRoute',this.ActiveRoute)
        localStorage.setItem('ActiveRoute','/dashboard/order_form')
        localStorage.removeItem('OrderId')
        localStorage.removeItem('IsHoldingOrder')
        localStorage.removeItem('OrderObject')
        localStorage.removeItem('IsUpdateCustomerVisit')
        localStorage.removeItem('OrderCustomer')
        localStorage.removeItem('OrderDetails')
        this.$router.push('/dashboard/order_form')

  }
}

 /* async recordingStopped(blob) {

      const readBlobAsBase64 = (blob) => {
          var reader = new FileReader();
          return new Promise((resolve) => {
            reader.addEventListener("load", function() {
              resolve(reader.result);
            }); 
            reader.readAsDataURL( blob );
              });
        };

      try {
          this.audioURL = await readBlobAsBase64(blob)  
        } catch (e) {
          console.warn(e.message)
        }

      console.log("here", this.audioURL) // Audio blob as base 64 string
    } */
 
  }
}/* 
onMounted(() => {
	sr.continuous = true
	sr.interimResults = true

	sr.onstart = () => {
		console.log('SR Started')
		isRecording.value = true
	}

	sr.onend = () => {
		console.log('SR Stopped')
		isRecording.value = false
	}

	sr.onresult = (evt) => {
		for (let i = 0; i < evt.results.length; i++) {
			const result = evt.results[i]

			if (result.isFinal) CheckForCommand(result)
		}

		const t = Array.from(evt.results)
			.map(result => result[0])
			.map(result => result.transcript)
			.join('')
		
		transcript.value = t
	}
})
 */
/* const CheckForCommand = (result) => {
	const t = result[0].transcript;
	if (t.includes('stop recording')) {
		sr.stop()
	} else if (
		t.includes('what is the time') ||
		t.includes('what\'s the time')
	) {
		sr.stop()
		alert(new Date().toLocaleTimeString())
		setTimeout(() => sr.start(), 100)
	}
}
 */
/* const ToggleMic = () => {
	if (isRecording) {
		sr.stop()
	} else {
		sr.start()
	}
} */
</script>

<style lang="scss" scoped>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #dddddd;
}
.col-6{
  padding:0px ;
}
.col-md-6{
   padding:0px ;
}
.theme--light.v-input {
    padding-top:0px;
}
</style>
<style>
@media only screen and (max-width: 700px) {
  .responsive {
  margin-top: -50px;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
  margin-top: -50px;
  }
}
#success {
   font-family: "Times New Roman", Times, serif !important;
   color:#43A047;
}
.v-timeline-item {
    display: flex;
    padding-bottom: 39px;
}
.fab-main {
    margin-bottom: 50px  !important;
    padding: 21px  !important;
}
.theme--light.v-input {

    padding-top: 0px;
}
#innerExPan > .v-dialog > .v-card > .v-card__text {
    padding: 0 0px 0px;
}
#innerExPan >  .v-card  {
    padding: 0 0px 0px;
}
#innerExPan > .v-card__text  {
    padding: 0 0px 0px;
}

input[type=date].form-control{
   padding: 0 0px 0px;
   /* padding-left: 2px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-top: 0px; */

}
/* .v-expansion-panel-header{
   background-color:#FFF;
   color: #000 !important;

} */
@media only screen and (max-device-width: 380px) {

 .v-tab{
  min-width: 85px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}
@media only screen and (max-device-width: 320px) {

 .v-tab{
  min-width: 75px;
    max-width: 360px;
    outline: none;
    padding: 0 0px;
}
}

</style>
<style>
.v-timeline-item__dot--small {
    height: 15px;
    left: calc(50% - 12px);
    width: 15px;
}
.check .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto;
    font-size: 15px;
    padding-top: 8px;
}

.v-application--is-ltr .Godowns {
text-align: left !important;
padding-left:8px !important;
}
 .v-application--is-rtl .Godowns {
    direction: rtl;
text-align: right !important;
padding-right:8px !important;
}

.v-application--is-ltr .action {
text-align: right !important;
padding-right:8px !important;
}
 .v-application--is-rtl .action {
    direction: rtl;
text-align:left !important;
padding-left:8px !important;
}
.v-text-field.v-text-field--solo .v-input__control{
    min-height: 10px;
}
.vdialognew  {
    border-radius: 0px;
    margin: 0px;
    overflow-y: none;
    pointer-events: auto;
     transition: 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 100%;
    z-index: inherit;
    box-shadow: none;
}
</style>
